<%- include(templates+"header", {
  title: "Change of address",
  heading: "About the move"
})%>

<%- include(partials+"components/form-partials/date", {
  label: "Date of move"
}); %>

<%- include(partials+"components/form-partials/checkbox", {
  label: "Who else will be moving to the new address?",
  id: "who-else",
  boxes: [
    {
        text: "Jane Citizen"
    },
    {
        text: "Tim Citizen"
    },
    {
        text: "Amy Citizen"
    },
    {
        text: "All of the above",
        toggle: "#all-above"
    }
  ]
}); %>
 
<div id="save-and-next" style="display:none;">
  <p>Choose <b>save and next</b> to continue.</p>
</div>

  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/profile/living-arrangements/la-02"
    },
    {
      text: "Delete transaction",
      link: "#open-coc-ai-delete-modal"
    },
      {
        text: "Next",
        link: "/auth/profile/living-arrangements/la-04",
        modifiers: ["floated", "primary"],
        id: "submit"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>

<script>
  function stateSwitcher() {
  }

  $("#who-else-4").click(function(){
    $('input:checkbox').not(this).prop('checked', this.checked);
});

$("#who-else-container").click(function(){
   $("#save-and-next").show();
});

</script>

<%- include(partials+"components/layout/footer") %>
<%#- include("category-page-ss") %>