<%- include(templates+"header", {
  title: "Change of address",
  heading: "Your new address"
})%>

<h2>Enter your new residential address</h2>

<%- include(forms+"prepop/address", {
  id: "residential-address",
  label: ""
}) %>

<!-- <h2>Postal address</h2> -->

<%#- include(partials+"components/form-partials/checkbox", {
  boxes: [
    {
      text: "Update "
    }
  ]
}); %>

<h2>Postal address</h2>
<%- include(partials+"components/form-partials/yes_no", {
  label: "Would you like to update your postal address to the new residential address?",
  yes_toggle: "#save-and-next"
}); %>

<div id="save-and-next" style="display:none;">
  <p>Choose <b>next</b> to continue.</p>
</div>

  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/profile"
    },
    {
      text: "Delete",
      id: "delete",
      link: "#open-delete-modal"
    },
      {
        text: "Submit",
        id: "next",
        link: "#submitNav",
        modifiers: ["floated", "primary"],
        id: "next"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>



<script>
  function stateSwitcher() {
  }
  $('#residential-address-country').on('change', function() {
    if( this.value != "australia") {
      $("#overseas").show();
    } else {
      $("#overseas").hide()
    }
  });
</script>

<%- include(partials+"components/layout/footer") %>
<%- include(partials+"content/modals/delete-modal") %>
<%- include("residential-address-01-ss") %>