<%- include(templates+"header", {
  title: "Change of address",
  heading: "About your previous home"
})%>


<%- include(partials+"components/form-partials/radio", {
  label: "Did you own your previous home?",
  id: "ownership-questions",
  boxes: [
    {
        text: "Did not own",
        toggle: "#save-and-next"
    },
    {
        text: "Owned and now sold",
        toggle: "#sold-questions"
    },
    {
        text: "Owned and now gifted to another person",
        toggle: "#gifted-questions"
    },
    {
        text: "Still own",
        toggle: "#still-own-questions"
    }
  ]
}); %>

<form id="myForm">

  <input type="reset" style="display: none;">

<div id="sold-questions" hidden>

    <%- include(partials+"components/form-partials/text", {
      label: "Sale price",
      modifiers: ["dollarSign"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Net profit",
      tooltip: {
        content: "Amount received after deductions for mortgage, legal and agent fees.",
      },
      modifiers: ["dollarSign"]
    }); %>
    <%- include(partials+"components/form-partials/date", {
      label: "Settlement date"
    }); %>
    <%- include(partials+"components/form-partials/radio", {
      label: "Do you intend to purchase a new home within the next 12 months?",
      boxes: [
        {
            text: "No - I do not intend to purchase a new home within the next 12 months",
            toggle: "#no-12-months"
        },
        {
            text: "Yes - purchase a new home",
            toggle: "#buy-estimate-container"
        },
        {
            text: "Yes - planning to purchase land and build a new home",
            toggle: "#build-estimate-container"
        },
        ,
        {
            text: "Yes - have already purchased land to build a new home",
            toggle: "#purchased-land-questions"
        },
        {
            text: "Yes - unsure whether I will buy or build",
            toggle: "#unsure-estimate-container"
        }
      ]
    }); %>
  </div>

  <div id="purchased-land-questions" hidden>
    <%- include(partials+"components/form-partials/text", {
      label: "Purchase price of land",
      modifiers: ["dollarSign"]
    }); %>
    <%- include(partials+"components/form-partials/date", {
      label: "Settlement date for land purchase"
    }); %>
    <%- include(forms+"prepop/address", {
      label: "Address of the land"
    }) %>
  </div>

  <%- include(partials+"components/form-partials/text", {
    label: "Amount you expect to spend on land and construction:",
    id: "build-estimate",
    modifiers: ["dollarSign","hidden"]
  }); %>

  <%- include(partials+"components/form-partials/text", {
    label: "Amount you expect to spend on new home:",
    id: "unsure-estimate",
    modifiers: ["dollarSign","hidden"]
  }); %>

  <%- include(partials+"components/form-partials/text", {
    label: "Amount you expect to spend on the new home:",
    id: "buy-estimate",
    modifiers: ["dollarSign","hidden"]
  }); %>

  <div id="no-12-months" hidden>
    <%- include(partials+"components/form-partials/textarea", {
      label: "How have any remaining funds from the settlement been invested or disposed?"
    }); %>
    <%- include(partials+"components/form-partials/notice", {
      message: "You will need to report all related changes to your income and assets."
    }); %>
  </div>

  <div id="still-own-questions" hidden>

    <%- include(partials+"components/form-partials/dropdown", {
      label: "Why has the previous home not been sold?",
      options: [
        {
          text: "-- Select one --"
        },
        {
          text: "Home kept as holiday home"
        },
        {
          text: "Home kept as investment property"
        },
        {
          text: "Home kept as residence for partner or child"
        },
        {
          text: "Left vacant"
        },
        {
          text: "Temporarily awaiting developments"
        },
        {
          text: "Other",
          toggle: "#reason-not-sold-container"
        }
      ]
    }); %>
    <%- include(partials+"components/form-partials/textarea", {
      label: "Specify reason",
      id: "reason-not-sold",
      modifiers: ["hidden"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Current market value estimate",
      modifiers: ["dollarSign"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Outstanding mortage amount",
      hint: "(if none enter $0.00)",
      modifiers: ["dollarSign"]
    }); %>
    <%- include(partials+"components/form-partials/yes_no", {
      label: "Is the home rented?",
      yes_toggle: "#rent-questions"
    }); %>
    <div id="rent-questions" hidden>
      <%- include(partials+"components/form-partials/text", {
        label: "Rent received:",
        modifiers: ["dollarSign"]
      }); %>
      <%- include(partials+"components/form-partials/dropdown", {
        label: "Payment frequency",
        options: [
          "-- Select one --",
          "Weekly",
          "Fortnightly"
        ]
      }); %>
      <%- include(partials+"components/form-partials/yes_no", {
        label: "Is the home rented to an immediate family member?",
        tooltip: {
          content: "Immediate family refers to your parents, grand parents, children or your brothers or sisters."
        }
      }); %>
    </div>
  </div>

  <div id="gifted-questions" hidden>
    <%- include(partials+"components/form-partials/text", {
      label: "Estimated value at date of transfer",
      modifiers: ["dollarSign"]
    }); %>
    <%- include(partials+"components/form-partials/date", {
      label: "Date of transfer"
    }); %>
  </div>
 
<div id="save-and-next" style="display:none;">
  <p>Choose <b>save and next</b> to continue.</p>
</div>

</form>

  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/profile/residential-address/residential-address-03"
    },
    {
      text: "Delete",
      link: "#open-delete-modal"
    },
      {
        text: "Next",
        link: "/auth/profile/residential-address/review",
        modifiers: ["floated", "primary"],
        id: "submit"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>

<script>
  function stateSwitcher() {
  }

  $("#ownership-questions-container").click(function(){
    $("#myForm").trigger("reset");
    hideAll();
  });

  function hideAll() {
    $("#sold-questions").hide();
    $("#purchased-land-questions").hide();
    $("#build-estimate-container").hide();
    $("#unsure-estimate-container").hide();
    $("#buy-estimate-container").hide();
    $("#no-12-months").hide();
    $("#still-own-questions").hide();
    $("#reason-not-sold-container").hide();
    $("#rent-questions").hide();
    $("#gifted-questions").hide();
  }
</script>

<%- include(partials+"components/layout/footer") %>
<%- include(partials+"content/modals/delete-modal") %>
<%#- include("category-page-ss") %>