<%- include(templates+"header", {
  title: "Change of address",
  heading: "Your living arrangements"
})%>

      <!-- <div class="accordion-group"> -->
<%- include(partials+"components/form-partials/radio-icon", {
    label: "Which of the following best describes your new living arrangements?",
    id: "testID",
    boxes: [
      {
        id: "sp-la-a",
        text: "A home I own",
        icon: {
          icon: "fa-home-lg-alt",
        },
        toggle: "#living-arrangements-a"
      },
      {
        text: "Rental accommodation",
        id: "sp-la-b",
        icon: {
          icon: "fa-door-open",
        },
        toggle: "#living-arrangements-b"
      },
      {
        id: "sp-la-c",
        text: "Retirement or care",
        icon: {
          icon: "fa-tree-alt",
        },
        toggle: "#living-arrangements-c"
      },
      {
        id: "sp-la-d",
        text: "Other arrangements",
        icon: {
          icon: "fa-ellipsis-h-alt",
        },
        toggle: "#living-arrangements-d"
      }
    ]
  }); %>

  <fieldset id="living-arrangements-a" class="margin-above" hidden>
    <div class="uikit-page-alerts" role="alert" id="home-own-explainer">
      <p>Includes a home: </p>
      <ul>
        <li>you are paying off (mortgage)</li>
        <li>you own jointly with another person or organisation</li>
        <li>that is owned by a private trust or company</li>
      </ul>

    </div>
  </fieldset>

  <fieldset id="living-arrangements-b" class="margin-above" hidden>
    <%- include(partials+"components/form-partials/radio", {
      label: "Select one of the following:",
      boxes: [
        {
          text: "In rental accommodation",
          toggle: "#op7-la-content"
        },
        {
          text: "In public housing",
          hint: "Such as government subsidised, Housing Trust etc",
          toggle: "#op8-la-content",
          modifiers: ["hintNewLine"]
        },
        {
          text: "In a place where you pay private board and lodging",
          toggle: "#op10-la-content"
        },
        {
          text: "In a place where you pay site fees",
          hint: " Such as a caravan park, village, or mooring",
          modifiers: ["hintNewLine"],
          toggle: "#op9-la-content"
        }
      ]
    }); %>
  </fieldset>

  <fieldset id="living-arrangements-c" class="margin-above" hidden>
    <%- include(partials+"components/form-partials/radio", {
      label: "Select one of the following:",
      boxes: [
        {
          text: "In a retirement village or independent living unit",
          toggle: "#op3-la-content"
        },
        {
          text: "In residential aged care home (nursing home) which provides nursing care",
          toggle: "#op4-la-content"
        },
        {
          text: "In a hospital or home for people with disabilities",
          toggle: "#op5-la-content"
        }
      ]
    }); %>
  </fieldset>

  <fieldset id="living-arrangements-d" class="margin-above" hidden>
    <%- include(partials+"components/form-partials/radio", {
      label: "Select one of the following:",
      boxes: [
        {
          text: "In free accommodation",
          hint: "Such as living with relatives",
          toggle: "#op11-la-content",
          modifiers: ["hintNewLine"]
        },
        {
          text: "In accommodation which you have the right to use free for life",
          hint: "Such as a granny flat",
          toggle: "#op6-la-content",
          modifiers: ["hintNewLine"]
        },
        {
          text: "Other",
          hint: "Please describe",
          toggle: "#op14-la-content",
          modifiers: ["hintNewLine"]
        }
      ]
    }); %>
  </fieldset>

  <div id="op3-la-content" hidden>
    <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
    <fieldset>
      <div class="form-group" id="date-separation">
        <label class="uikit-text-input__label">On what date did you move in to this accommodation?
          <span class="hint">(DD / MM / YYYY)</span>
        </label>
        <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required
          aria-required="true" aria-label="2 digit day"> /
        <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required
          aria-required="true" aria-label="2 digit month"> /
        <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required
          aria-required="true" aria-label="4 digit year">
      </div>
    </fieldset>
    <div class="form-group" id="sp-la-op3-howMuchOngoing">
      <label class="uikit-text-input__label" for="tags">How much do you pay ongoing for your
        accommodation?</label>
      <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field"
        id="Input field" type="text" value="0.00" required aria-required="true">per&nbsp;&nbsp;
      <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
        <option selected="selected">-- Select frequency --</option>
        <option id="sp-la-op789-type-01">Weekly</option>
        <option id="sp-la-op789-type-02">Fortnightly</option>
        <option id="sp-la-op789-type-03">Monthly</option>
        <option id="sp-la-op789-type-03">Annually</option>
      </select>
    </div>
    <div class="form-group margin-above--large" id="sp-la-op3-dateStartedPaying">
      <label class="uikit-text-input__label">Date you started paying?
        <span class="hint">(DD / MM / YYYY)</span>
      </label>
      <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required
        aria-required="true" aria-label="2 digit day"> /
      <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required
        aria-required="true" aria-label="2 digit month"> /
      <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required
        aria-required="true" aria-label="4 digit year">
    </div>
    <fieldset id="sp-la-op3-includeMeals" class="margin-above--large">
      <legend class="legend-label">Does this include meals?</legend>
      <div class="radio-toggle">
        <label class="on label-left" for="include-meals-yes">
          <input id="include-meals-yes" type="radio" name="include-meals">
          <span>Yes</span>
        </label>
        <label class="off label-right" for="include-meals-no">
          <input id="include-meals-no" type="radio" name="include-meals">
          <span>No</span>
        </label>
      </div>
    </fieldset>

    <%- include(partials+"components/form-partials/yes_no", {
      label: "Did you pay an entry contribution?",
      yes_toggle: "#sp-la-op3-howMuch",
      customClass: ["margin-above--large"]
    }); %>

    <div class="form-group margin-above--large" id="sp-la-op3-howMuch" hidden>
      <label class="uikit-text-input__label" for="tags">How much was the entry contribution?</label>
      <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field"
        id="Input field" type="text" value="0.00" required aria-required="true">
    </div>
    <div class="uikit-page-alerts margin-above--large" role="alert">
      <p>You will need to attach a copy of the <span>entry agreement</span> in the documents section</p>
    </div>
  </div>
  <div id="op4-la-content" hidden>
    <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
    <div class="form-group margin-above--large" id="sp-la-op4-name">
      <label class="uikit-text-input__label" for="tags">What is the name of the nursing home or
        hostel?</label>
      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
    </div>

    <%- include(partials+"components/form-partials/yes_no", {
      label: "Did you pay an accommodation bond or charge?",
      yes_toggle: "#sp-la-op4-howMuch",
      customClass: ["margin-above--large"]
    }); %>

    <div class="form-group margin-above--large" id="sp-la-op4-howMuch" hidden>
      <label class="uikit-text-input__label" for="tags">How much did you pay?</label>
      <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field"
        id="Input field" type="text" value="0.00" required aria-required="true">
    </div>
    <div class="form-group margin-above--large" id="sp-la-op4-howMuchOngoing">
      <label class="uikit-text-input__label" for="tags">How much do you pay ongoing for your
        accommodation?</label>
      <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field"
        id="Input field" type="text" value="0.00" required aria-required="true">per&nbsp;&nbsp;
      <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
        <option selected="selected">-- Select frequency --</option>
        <option id="sp-la-op78-type-01">Weekly</option>
        <option id="sp-la-op78-type-02">Fortnightly</option>
        <option id="sp-la-op78-type-03">Monthly</option>
        <option id="sp-la-op78-type-03">Annually</option>
      </select>
    </div>
    <div class="form-group margin-above--large" id="sp-la-op4-dateStartedPaying">
      <label class="uikit-text-input__label">Date you started paying?
        <span class="hint">(DD / MM / YYYY)</span>
      </label>
      <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required
        aria-required="true" aria-label="2 digit day"> /
      <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required
        aria-required="true" aria-label="2 digit month"> /
      <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required
        aria-required="true" aria-label="4 digit year">
    </div>
    <div class="uikit-page-alerts" role="alert" id="sp-la-op4-alert">
      <p>You will need to attach a copy of the Accommodation Bond or the Accommodation Charge Agreement in
        the documents section.</p>
    </div>
  </div>
  <div id="op5-la-content" hidden>
    <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
    <div class="form-group margin-above" id="sp-la-op5-alert-dateStartedPaying">
      <label class="uikit-text-input__label">On what date did you move into this accommodation?
        <span class="hint">(DD / MM / YYYY)</span>
      </label>
      <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required
        aria-required="true" aria-label="2 digit day"> /
      <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required
        aria-required="true" aria-label="2 digit month"> /
      <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required
        aria-required="true" aria-label="4 digit year">
    </div>
    <div class="uikit-page-alerts" role="alert" id="sp-la-op5-alert">
      <p>You will need to attach a copy of the accommodation agreement or other relevant documentation in
        the documents section.</p>
    </div>
  </div>
  <div id="op6-la-content" hidden>
    <h2><span class="font-weight-heavy">Give details about your selection</span></h2>

    <%- include(partials+"components/form-partials/yes_no", {
      label: "Did you pay a sum of money or transfer any assets to another person or organisation in return for this accommodation for life?",
      yes_toggle: "#sp-la-op6-additional",
      customClass: ["margin-above--large"]
    }); %>
    <div id="sp-la-op6-additional" hidden>
      <div class="form-group margin-above--large" id="sp-la-op6-howMuch">
        <label class="uikit-text-input__label" for="tags">Name of person of organization</label>
        <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
      </div>
      <div class=" form-group margin-above--large" id="sp-la-op6-dateStartedPaying">
        <label class="uikit-text-input__label">Date paid or transferred
          <span class="hint">(DD / MM / YYYY)</span>
        </label>
        <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required
          aria-required="true" aria-label="2 digitvday"> /
        <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required
          aria-required="true" aria-label="2 digit month"> /
        <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required
          aria-required="true" aria-label="4 digit year">
      </div>
      <div class="form-group margin-above--large" id="sp-la-op6-amount">
        <label class="uikit-text-input__label" for="tags">Amount paid or market value of assets
          transferred</label>
        <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small"
          name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
      </div>
      <div class="form-group margin-above--large">
        <label class="uikit-text-input__label" for="tags">Assets transferred<span class="hint"> (If
            any)</span></label>
        <textarea name="test"></textarea>
      </div>
    </div>
  </div>
  <div id="op7-la-content" hidden>
    <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
    <div class="form-group">
      <div class="form-group margin-above" id="sp-la-op78-howMuch">
        <label class="uikit-text-input__label" for="tags">How much do you pay?</label>
        <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small"
          name="Input field" id="Input field" type="text" value="0.00" required
          aria-required="true">per&nbsp;&nbsp;
        <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
          <option selected="selected">-- Select frequency --</option>
          <option id="sp-la-op78-type-01">Weekly</option>
          <option id="sp-la-op78-type-02">Fortnightly</option>
          <option id="sp-la-op78-type-03">Monthly</option>
          <option id="sp-la-op78-type-03">Annually</option>
        </select>
      </div>
      <div class="uikit-page-alerts" role="alert">
        <p>You will need to attach a copy of your latest lease or tenancy agreement in the documents
          section.</p>
        <p>If you don’t have one, you may attach a copy of the latest rent receipt. Make sure the name and
          address of the person to whom you pay is written on the
          receipt.
        </p>
      </div>
    </div>
  </div>
  <div id="op8-la-content" hidden>
    <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
    <div class="form-group">
      <div class="form-group margin-above" id="sp-la-op78-howMuch">
        <label class="uikit-text-input__label" for="tags">How much do you pay?</label>
        <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small"
          name="Input field" id="Input field" type="text" value="0.00" required
          aria-required="true">per&nbsp;&nbsp;
        <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
          <option selected="selected">-- Select frequency --</option>
          <option id="sp-la-op78-type-01">Weekly</option>
          <option id="sp-la-op78-type-02">Fortnightly</option>
          <option id="sp-la-op78-type-03">Monthly</option>
          <option id="sp-la-op78-type-03">Annually</option>
        </select>
      </div>
      <div class="uikit-page-alerts" role="alert">
        <p>You will need to attach a copy of your latest lease or tenancy agreement in the documents
          section.</p>
        <p>If you don’t have one, you may attach a copy of the latest rent receipt. Make sure the name and
          address of the person to whom you pay is written on the
          receipt.
        </p>
      </div>
    </div>
  </div>
  <div id="op9-la-content" hidden>
    <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
    <div class="form-group">
      <label class="uikit-text-input__label" for="radio-buttons">Type of payment</label>
      <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
        <option selected="selected">-- Select payment type --</option>
        <option id="sp-la-op9-type-03">Caravan park site fees</option>
        <option id="sp-la-op9-type-04">Relocatable home site fees</option>
        <option id="sp-la-op9-type-05">Mooring fees</option>
      </select>
      <div class="form-group margin-above" id="sp-la-op9-howMuch">
        <label class="uikit-text-input__label" for="tags">How much do you pay?</label>
        <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small"
          name="Input field" id="Input field" type="text" value="0.00" required
          aria-required="true">per&nbsp;&nbsp;
        <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
          <option selected="selected">-- Select frequency --</option>
          <option id="sp-la-op9-type-01">Weekly</option>
          <option id="sp-la-op9-type-02">Fortnightly</option>
          <option id="sp-la-op9-type-03">Monthly</option>
          <option id="sp-la-op9-type-03">Annually</option>
        </select>
      </div>
      <div class="uikit-page-alerts" role="alert">
        <p>You will need to attach a copy of your latest lease or tenancy agreement in the documents
          section.</p>
        <p>If you don’t have one, you may attach a copy of the latest rent receipt. Make sure the name and
          address of the person to whom you pay is written on the
          receipt.
        </p>
      </div>
    </div>
  </div>
  <div id="op10-la-content" hidden>
    <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
    <div class="form-group margin-above" id="sp-la-op10-meals">
      <label class="uikit-text-input__label" for="tags">Amount paid for meals:</label>
      <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field"
        id="Input field" type="text" value="0.00" required aria-required="true">per&nbsp;&nbsp;
      <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
        <option selected="selected">-- Select frequency --</option>
        <option id="sp-la-op78-type-01">Weekly</option>
        <option id="sp-la-op78-type-02">Fortnightly</option>
        <option id="sp-la-op78-type-03">Monthly</option>
        <option id="sp-la-op78-type-03">Annually</option>
      </select>
    </div>
    <div class="form-group margin-above" id="sp-la-op10-lodging">
      <label class="uikit-text-input__label" for="tags">Amount paid for lodging</label>
      <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field"
        id="Input field" type="text" value="0.00" required aria-required="true">per&nbsp;&nbsp;
      <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
        <option selected="selected">-- Select frequency --</option>
        <option id="sp-la-op78-type-01">Weekly</option>
        <option id="sp-la-op78-type-02">Fortnightly</option>
        <option id="sp-la-op78-type-03">Monthly</option>
        <option id="sp-la-op78-type-03">Annually</option>
      </select>
    </div>
    <div class="uikit-page-alerts" role="alert">
      <p>You will need to attach a copy of your latest lease or tenancy agreement in the documents section.
      </p>
      <p>If you don’t have one, you may attach a copy of the latest rent receipt. Make sure the name and
        address of the person to whom you pay is written on the
        receipt.</p>
    </div>
   
  </div>
  <div id="op11-la-content" hidden>
    <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
  
    <fieldset>
      <div class="form-group" id="date-separation">
        <label class="uikit-text-input__label">On what date did you move in to this accommodation?
          <span class="hint">(DD / MM / YYYY)</span>
        </label>
        <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required
          aria-required="true" aria-label="2 digit
              day"> /
        <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required
          aria-required="true" aria-label="2 digit
              month"> /
        <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required
          aria-required="true" aria-label="4
              digit year">
      </div>
    </fieldset>
    <h3>Address</h3>
    <%- include(partials+"content/address-residential") %>
  </div>
  <div id="op14-la-content" hidden>
    <div class="form-group">
      <label for="op14-la-content" class="uikit-text-input__label">Give details</label>
      <textarea class="uikit-text-input" name="op14-la-content" id="op14-la-content" rows="2"></textarea>
    </div>
  </div>


  <div id="save-and-next" class="margin-above" hidden>
    <p>Choose <b>save and next</b> to continue.</p>
  </div>
      
  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/profile/residential-address/residential-address-01"
    },
    {
      text: "Delete",
      link: "#open-delete-modal"
    },
      {
        text: "Next",
        link: "/auth/profile/residential-address/residential-address-03",
        modifiers: ["floated", "primary"],
        id: "submit"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>

<script>
  function stateSwitcher() {
  }
</script>

<%- include(partials+"components/layout/footer") %>
<%- include(partials+"content/modals/delete-modal") %>
<%#- include("category-page-ss") %>