<%- include(templates+"header", {
  title: "Change of address",
  heading: "Financial impact of move"
})%>

<h2>Changes in financial circumstances</h2>

<p>If your financial circumstances have changed you are required to provide details. For example the sale or disposal of real estate and other assets, changes to savings, investments and income streams.</p>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Have your financial circumstances changed as a result of this move?",
  id: "impacted"
}); %>

<p class="continue" hidden>Click <b>submit</b> to finalise your change of address</p>
<p class="i-a" hidden>Click <b>next</b> to update your income and assets</p>


<div id="save-and-next" style="display:none;">
  <p>Choose <b>save and next</b> to continue.</p>
</div>

</form>

  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/profile/residential-address/residential-address-03"
    },
    {
      text: "Delete",
      link: "#open-delete-modal"
    },
      {
        text: "Next",
        link: "#",
        modifiers: ["floated", "primary", "disabled"],
        id: "submit"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>

<script>
  function stateSwitcher() {
  }


  $('input[name=impacted]').change(function () {
    mySelection = $('input[name=impacted]:checked').val();
    $("#submit").removeAttr("disabled")
    if (mySelection == "no") {
      // $("#submit").attr("disabled", "true");
      $(".continue").show();
      $(".i-a").hide();
      $("#submit").text("Submit");
      // submitNav("submit");
    } else {
      $(".continue").hide();
      $(".i-a").show();
      $("#submit").text("Next");
      // submitNav("i-a");
    }
    
  });

  $('#submit').click(function () {
    submitNav();
  });

  function submitNav(){
    if ( $("#submit").text() == "Next" ) {
      window.location.href = '/auth/profile/income-assets/start';
    } else {
      window.location.href = '/auth/profile/residential-address/submitted';
    }
  }

</script>

<%- include(partials+"components/layout/footer") %>
<%- include(partials+"content/modals/delete-modal") %>
<%#- include("category-page-ss") %>