<%- include(templates+"header", {
  claim: "Change of address | Submitting...",
  modifiers: ["noHeading"]
}) %>

<%- include(forms+"submitting", {
    type: "submitted",
    submitting_text: "We're submitting your change of address",
    submitted_text: `Your change of address has been successfully submitted`,
    supporting_text: `<p><b>Transaction ID: 33654432.</b></p><BR/>
    <!-- <div class="uikit-page-alerts uikit-page-alerts--info " id="notice725-container" role="alert">
      <p style="text-align: left;">You will need to report on the financial impact of this change of address within the <a href="/auth/profile/income-assets/">income and assets</a> section of your MyService profile.</p>
    </div> -->
    `
  }) %>



<%- include(forms+"pagination", {
    pagination: [
    {
      text: "Back to home",
      link: "/auth"
    }
    ]
  }) %>

<!-- 
<%- include(forms+"pagination", {
  pagination: [
  {
    text: "Back to home",
    link: "/auth"
  },
  {
      text: "Update my income and assets",
      link: "/auth/profile/income-assets"
    }
  ]
}) %> -->

<%- include(templates+"footer") %>