<%- include(templates+"header", {
  claim: "Change of address | Submitting...",
  modifiers: ["noHeading"]
}) %>

<%- include(forms+"submitting", {
    type: "submitted",
    submitting_text: "We're submitting your change of address",
    submitted_text: `Your change of address has been successfully submitted`,
    supporting_text: `<p><b>Transaction ID: 33654432.</b></p><BR/>
    <!-- <h3>Next steps</h3> -->
    <div class="callout--veteran-payment margin-below--large financial-nudge">
      <h4>You are now required to update your income and assets</h4>
      <a href="/auth/profile/income-assets" class="uikit-btn uikit-btn--tertiary">Update now</a>
    </div>
    `
  }) %>




<%- include(forms+"pagination", {
    pagination: [
    {
      text: "Back to home",
      link: "/auth"
    }
    ]
  }) %>

<!-- 
<%- include(forms+"pagination", {
  pagination: [
  {
    text: "Back to home",
    link: "/auth"
  },
  {
      text: "Update my income and assets",
      link: "/auth/profile/income-assets"
    }
  ]
}) %> -->

<%- include(templates+"footer") %>
<%- include("submitted-ss") %>