<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar ") %>

  <%- include(partials+"header-authenticated") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <div class="authenticated-home section-feature section-feature--bg">
      <section>
        <div class="container" id="main-content">
          <h1>
            <span class="heading" style="font-size:20px; border-bottom:2px solid orange;">Welcome

              <span class="pt-current-user-name-full"></span>

            </span>
          </h1>
          <br>
        </div>
      </section>

      <% if (locals.liveFeature.includes('feature1')) { %>

      FEATURE 1

      <% } %>



      <div class="container">
        <span>Last payment: <span class="pt-current-user-last-payment"></span> </span> <br>
        <span>Number of claims: <span class="pt-current-user-number-of-claims"></span></span>
      </div>

      <div class="container">
        <section class="widget">
          <div class="widget-header">
            <h2>
              <span class="widget-header__title">
                <img src="../../../docs/images/ico-claims.svg" alt="Claim activity - icon">Claim activity
              </span>
              <span class="widget-actions floated">

                <button class="uikit-btn uikit-btn--tertiary small widget-btn " onclick="window.location.href = '/auth/claim'">Manage your claims</button>
                <button class="uikit-btn small widget-btn " onclick="window.location.href = '/auth/claim'">Make a claim</button>
              </span>
            </h2>

          </div>
          <div class="row widget-content widget--justclaims">
            <div class="col-md-12">
              <table class="table-claims table-responsive">
                <thead>
                  <tr>
                    <th class="widget-activity">Most recent claims</th>
                    <th class="widget-actions">Actions</th>
                  </tr>
                </thead>
                <tr>
                  <td>
                    <p class="status-icon status-submitted">
                      Incapacity Payments
                      <br />
                      <span>Submitted
                        <em>&ndash; 15 October 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/incap-summary'">View</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-approved">
                      Veteran Card
                      <br />
                      <span>Approved
                        <em>&ndash; 27 November 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/veteran-card-summary'">View</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-approved">
                      Mental Health Treatment (NLHC)
                      <br />
                      <span>Approved
                        <em>&ndash; 27 November 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/mental-health-summary'">View</button>
                  </td>
                </tr>

                <!-- <tr>
                  <td>
                    <p class="status-icon status-incomplete">
                      Increase to Disability Pension
                      <br />
                      <span>Incomplete
                        <em>&ndash; 27 April 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'afi-claim1'">Resume</button>
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Delete</button>
                  </td>
                </tr> -->
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="container margin-below--extra">
      <h2 class="margin-above margin-below--none ss-align--center">
        <span class="font-weight-heavy">What would you like to&nbsp;do?</span>
      </h2>

      <div class="flex-container flex-container--wrap hover-container">
        <% if (locals.liveFeature.includes('featureNomrep')) { %>
        <div class="flex-item flex-item--centred card card--medium hover-element">
          <a href="/auth/profile/nomrep">
            <figure>
              <img class="card__image" src="../../../docs/images/ico-db-rep.svg" alt="">
            </figure>
            <h2 class="card__title">
              <span>Representation</span>
            </h2>
          </a>
          <p class="card__supporting-text">Allows someone to represent you or you can help someone in dealing with DVA matters.</p>
        </div>
        <% } %>
        <div class="flex-item flex-item--centred card card--medium hover-element">
          <a href="/auth/needs1">
            <figure>
              <img class="card__image" src="../../../docs/images/ico-db-needs.svg" alt="">
            </figure>
            <h2 class="card__title">
              <span>Get treatment and&nbsp;support</span>
            </h2>
          </a>
          <p class="card__supporting-text">Has your condition changed? Tell us more about your needs at any&nbsp;time.
          </p>
        </div>

        <!-- <div class="flex-item flex-item--centred card card--medium hover-element">
          <a href="/auth/healthcard"">
            <figure>
              <img class="card__image" src="../../../docs/images/ico-db-card.svg" alt="">
            </figure>
            <h2 class="card__title">
              <span>View your Veteran&nbsp;Card</span>
            </h2>
          </a>
          <p class="card__supporting-text">See accepted conditions covered by your Veteran&nbsp;Card.
          </p>
        </div> -->

        <div class="flex-item flex-item--centred card card--medium hover-element">
          <a href="/auth/claim/veterancard/veteran-card-start">
            <figure>
              <img class="card__image" src="../../../docs/images/ico-db-card.svg" alt="">
            </figure>
            <h2 class="card__title">
              <span>Apply for the Australian Defence Veterans' Covenant</span>
            </h2>
          </a>
          <!-- <p class="card__supporting-text">See accepted conditions covered by your Veteran&nbsp;Card.
          </p> -->
        </div>

        <div class="flex-item flex-item--centred card card--medium hover-element">
          <a href="/auth/profile">
            <figure>
              <img class="card__image" src="../../../docs/images/ico-db-profile.svg" alt="">
            </figure>
            <h2 class="card__title">
              <span>Review your profile</span>
            </h2>
          </a>
          <p class="card__supporting-text">Keep your profile up to date so we can help&nbsp;you.</p>
        </div>
      </div>
    </div>

  </main>
  <%- include(partials+"auth-modal-deleteclaim") %>
  <%- include(partials+"auth-modal-withdrawclaim") %>
  <%- include(partials+"footer") %>
  <script>
    function makeToast(pType, pMessage) {
      var $element = $('<button class="uikit-btn toast" role="alert" type="button">');
      $element.append('<div class="toast__type toast__type--' + pType + '">').children().last().append(
        '<span class="sr">' +
        pType + '</span>');
      $element.append('<div class="toast__message">').children().last().append('<p>' + pMessage + '</p>');
      return $('<div class="toast-container"></div>').append($element);
    }

    if (localStorage.getItem('updateClaimInProgress')) {
      var settings = JSON.parse(localStorage.getItem('updateClaimInProgress'));

      var submitted = settings.actions.some(pAction => {
        return pAction.status === 'submitted'
      })

      if (submitted) {
        $('#main-content').append(makeToast('success', 'Documents successfully submitted'))

      }

      settings.actions.forEach(pAction => {
        if (pAction.status === 'submitted') {
          pAction.status = 'complete'
        }
      })

      localStorage.setItem('updateClaimInProgress', JSON.stringify(settings))
    }

    $(document).ready(function () {
      var claimWithdrawn = localStorage.getItem('claim-withdrawn');
      if (claimWithdrawn) {
        $(".show-instance-action-required").hide();
        $(".show-instance-withdrawn").show();
      } else {
        $(".show-instance-action-required").show();
        $(".show-instance-withdrawn").hide();
      }
      $("#button-withdrawclaimmodal").click(function () {
        localStorage.setItem('claim-withdrawn', true);
        $(".show-instance-action-required").hide();
        $(".show-instance-withdrawn").show();
        window.location.href = '#open-withdrawclaimmodal';
      });
    });

    $(document).ready(function () {
      const hoverContainer = document.getElementsByClassName('hover-container')[0]
      const hoverElements = document.getElementsByClassName('hover-element')

      Array.prototype.forEach.call(hoverElements, hoverElement => {
        hoverElement.addEventListener('mouseover', (event) => {
          hoverElement.classList.add('hover-element--active')
        })

        hoverElement.addEventListener('mouseout', (event) => {
          hoverElement.classList.remove('hover-element--active')
        })
      })

      hoverContainer.addEventListener('mouseover', (event) => {
        if (event.target !== hoverContainer) {
          hoverContainer.classList.add('hover-container--faded')
        }
      })

      hoverContainer.addEventListener('mouseout', (event) => {
        hoverContainer.classList.remove('hover-container--faded')
      })
    });

  </script>
</body>

</html>
