<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-authenticated") %>

  <main>
    <section>
      <div class="container" id="main-content">
        <%- include(partials+"breadcrumb-profile-email") %>
        <h1>New email address</h1>
        <p>We will send a code to your new email address.</p>
        <div class="row">
          <div class="col-sm-12">
            <div class="has-error has-error-server breakout" id="error-empty-fields" style="display: none">
              <h2>
                <a name="heading-error" class="heading-error">The following fields need fixing:</a>
              </h2>
              <ul>
                <li>
                  <a href="#email">Email</a>
                </li>
              </ul>
            </div>
            <div id="form-group-password" class="form-group">
              <label class="uikit-text-input__label" for="newEmail">Enter your new email address
                <span id="email-error" class="input-error-message" aria-live="polite"> Enter a valid email address</span>
              </label>
              <input class="uikit-text-input password" name="newEmail" id="newEmail" type="email" value="" required>
            </div>
            <div class="pagination">
              <button class="uikit-btn btnSavePassword btnNext">Send code</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'profile'">Cancel</button>
            </div>
          </div>
    </section>
  </main>


  <%- include(partials+"footer") %>
  <script>
    $('.btnNext').click(function () {
      localStorage.myNewEmail = $('#newEmail').val();
      location.href = '/change-email-enter-code';
    });
  </script>
</body>

</html>