<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-authenticated") %>

  <main>
    <section>
      <div class="container" id="main-content">
        <%- include(partials+"breadcrumb-profile-email") %>
        <h1>
          <img src="../../../docs/images/ico-email-waiting.svg" alt="Email waiting icon"> Please check your email</h1>
        <p>We have emailed a code to
          <strong>
            <span class="prefillEmail"></span>
          </strong>.</p>
        <div class="form-group">
          <label class="uikit-text-input__label" for="password">Enter the code emailed to you</label>
          <input class="uikit-text-input" name="password" id="password" type="password" value="">
          <button class="uikit-btn uikit-btn--tertiary show-password">Show</button>
        </div>
        <div class="pagination">
          <button class="uikit-btn btnSavePassword" onclick="window.location.href = 'change-email-login'">Next</button>
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'profile'">Cancel</button>
        </div>
    </section>
  </main>
  </div>
  </div>

  <%- include(partials+"footer") %>
  <script>
    // Prefil
    $(".prefillEmail").html(localStorage.myNewEmail);
  </script>
</body>

</html>