<%
  var cards1 = [
    {title: "Veteran Covenant", text: "Request the Covenant Oath, Lapel Pin and Veteran Card as recognition of your service.", link: "/auth/claim/veterancard/vrp1"},
    {title: "Qualifying service", text: "Submit a claim to determine if you have qualifying service.", link: "/auth/claim/qualifying-service/qs1"},
    {title: "Initial Liability", text: "Your first step towards treatment and support for a service-related injury or condition.", link: "/auth/claim/il/claim1"},
    {title: "Mental health treatment", text: "Access free mental health treatment.", link: "/auth/claim/mental-health-eligibility"}
  ]
  var cards2 = [
    {title: "Incapacity payments", text: "Get compensated for your inability or reduced ability to work because of a service injury or condition.", link: "/auth/claim/incap/before-start"},
    {title: "Disability pension - application for increase", text: "Apply for a payment increase to your disability pension.", link: "/auth/claim/afi/afi1"},
    {title: "Permanent impairment", text: "Apply for compensation for ongoing impairments that are impacting your lifestyle.", link: "/auth/claim/permanent-impairment/permanent-impairment-01"},
    {title: "Service pension", text: "Apply for age or invalidity service pension.", link: "/auth/claim/service_pension/sp-start"},
    {title: "Partner pension", text: "Apply for partner service pension.", link: "/auth/claim/service_pension/sp-start"},
    {title: "Lump sum advance", text: "Request a lump sum advance payment.", link: "/auth/claim/lsa/request"},
    {title: "Veteran payment", text: "Interim financial support while you wait for your initial liability determination.", link: "/auth/claim/veteran-payment/veteran-payment-01"}
  ] 
  var cards3 = [
    {title: "Civilian qualifying service", text: "Submit a claim to determine if you have qualifying service.", link: "/auth/claim/civilian-qualifying-service/cqs1" },
    {title: "Defence Service Home Insurance Scheme", text: "Apply for home, contents and other insurance policies.", link: "http://www.dsh.gov.au/insurance/"},
    {title: "Defence Home Ownership Assistance Scheme", text: "Apply for subsidy certificate to assist with the interest of your home loan.", link: "/auth/claim/dhoas/landing-page"},
    {title: "Support for employment", text: "Apply for employment support transitioning into the civilian workforce.", link: "/auth/claim/support-for-employment/sfe-01"},
    {title: "Education assistance", text: "Apply for assistance with the cost of education for children of eligible veterans.", link: "/auth/claim/education-assistance/edu1"}
  ]
%>

<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <div class="container margin-above margin-below--extra">
      <div class="back-button">
        <a href="/auth"><i class="fal fa-arrow-left fa-fw"></i>Back to home</a>
      </div>
      <h1 class="mys h1 margin-above--none margin-below--mid">Claims and applications</h1>
      <section class="dashboard-cards">
        <h2 class="mys h2 margin-below--mid margin-above">Getting started</h2>
        <div class="cards__wrapper" id="claims-tiles">
          <% cards1.forEach(function(card) { %>
          <%- include(partials+"components/card-v2", {
            id: card.id,
            title: card.title,
            text: card.text,
            link: card.link
          }) %>
          <% }); %>
        </div>
        <h2 class="mys h2 margin-below--mid margin-above">Benefits and compensation</h2>
        <div class="cards__wrapper" id="claims-tiles">
          <% cards2.forEach(function(card) { %>
          <%- include(partials+"components/card-v2", {
            id: card.id,
            title: card.title,
            text: card.text,
            link: card.link
          }) %>
          <% }); %>
        </div>
        <h2 class="mys h2 margin-below--mid margin-above">Other</h2>
        <div class="cards__wrapper" id="claims-tiles">
          <% cards3.forEach(function(card) { %>
          <%- include(partials+"components/card-v2", {
              id: card.id,
              title: card.title,
              text: card.text,
              link: card.link
            }) %>
          <% }); %>
        </div>
      </section>
    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>
</html>