<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
<%- include(partials+"head.ejs") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar.ejs") %>
  <%- include(partials+"header-authenticated.ejs") %>
  <%- include(partials+"header-nom-rep.ejs") %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row margin-above">
<%- include(partials+"partial_test.ejs", 
{
  "forms": [
    {
      "type": "select",
      "config": {
        "label": "",
        "hint": "",
        "id": "",
        "required": false,
        "disabled": false,
        "hidden": false,
        "options": [
          {
            "text": "-- Select title --",
            "value": "",
            "toggle": "",
            "selected": false,
            "disabled": false,
            "hidden": false
          },
          {
            "text": "Mr",
            "value": "",
            "toggle": "#hey",
            "selected": false,
            "disabled": false,
            "hidden": false
          },
          {
            "text": "Mrs",
            "value": "",
            "toggle": "#there",
            "selected": false,
            "disabled": false,
            "hidden": false
          },
          {
            "text": "Dr",
            "value": "",
            "toggle": "",
            "selected": false,
            "disabled": false,
            "hidden": false
          }
        ]
      }
    },
    {
      "type": "select",
      "config": {
        "label": "",
        "hint": "",
        "id": "",
        "required": false,
        "disabled": false,
        "hidden": false,
        "options": [
          "Select Title",
          "Mr",
          "Mrs",
          "Sir"
        ]
      }
    },
    {
      "type": "text",
      "config": {
        "label": "",
        "hint": "",
        "id": "",
        "required": false,
        "disabled": false,
        "hidden": false
      }
    },
    {
      "type": "date",
      "config": {
        "label": "",
        "hint": "",
        "id": "",
        "required": false,
        "disabled": false,
        "hidden": false
      }
    },
    {
      "type": "y_n_toggle",
      "config": {
        "label": "hey",
        "hint": "hey",
        "id": "",
        "yes_toggle": "#yes",
        "no_toggle": "#no"
      }
    },
    {
      "type": "checkbox",
      "config": {
        "label": "LAYBEL",
        "hint": "hinty hint",
        "id": "",
        "boxes": [
          "Box1",
          "Box2",
          "Box3",
          "Box4"
        ]
      }
    },
    {
      "type": "checkbox",
      "config": {
        "label": "LAYBEL",
        "hint": "hinty hint",
        "id": "",
        "boxes": [
          {
            "text": "Checkbox 1 text",
            "id": "",
            "hint": "",
            "disabled": false,
            "hidden": false,
            "toggle": ""
          },
          {
            "text": "Checkbox 2 text",
            "id": "",
            "hint": "",
            "disabled": false,
            "hidden": false,
            "toggle": ""
          },
          {
            "text": "Checkbox 3 text",
            "id": "",
            "hint": "",
            "disabled": false,
            "hidden": false,
            "toggle": ""
          },
          {
            "text": "Checkbox 4 text",
            "id": "",
            "hint": "",
            "disabled": false,
            "hidden": false,
            "toggle": ""
          }
        ]
      }
    },
    {
      "type": "radio",
      "config": {
        "label": "LAYBEL",
        "hint": "hinty hint",
        "id": "",
        "boxes": [
          {
            "text": "radio 1 text",
            "id": "",
            "hint": "",
            "disabled": false,
            "hidden": false,
            "toggle": ""
          },
          {
            "text": "radio 2 text",
            "id": "",
            "hint": "",
            "disabled": false,
            "hidden": false,
            "toggle": ""
          },
          {
            "text": "radio 3 text",
            "id": "",
            "hint": "",
            "disabled": false,
            "hidden": false,
            "toggle": ""
          },
          {
            "text": "radio 4 text",
            "id": "",
            "hint": "",
            "disabled": false,
            "hidden": false,
            "toggle": ""
          }
        ]
      }
    },
    {
      "type": "radio",
      "config": {
        "label": "LAYBEL",
        "hint": "hinty hint",
        "id": "",
        "boxes": [
          "Box1",
          "Box2",
          "Box3",
          "Box4"
        ]
      }
    }
  ]
}
); %>


        </div>
    </section>

  </main>
  <%- include(partials+"footer.ejs") %>
</body>

</html>