<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"head") %>

  <script src="https://unpkg.com/web-animations-js@2.3.1/web-animations.min.js"></script>
  <script src="https://unpkg.com/hammerjs@2.0.8/hammer.min.js"></script>
  <script src="https://unpkg.com/muuri@0.7.1/dist/muuri.min.js"></script>

</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-authenticated") %>
  <%- include(partials+"header-nom-rep") %>
  <main>

    <div class="authenticated-home section-feature section-feature--bg drag-and-drop">

      <section>
        <div class="container" id="main-content">
          <div class="heading-one-wrapper">
            <h1>Hi James, welcome to MyService.<span class="notifications"> <img src="/docs/images/notification-leaf-orange.png" alt="YOu have two notifications"></span></h1>
          </div>
        </div>
      </section>

      <div class="container margin-below--extra" style="margin-bottom:0; max-width:885px!important;">

        <div class="dragbox-grid">
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">1</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">2</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">3</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">4</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">5</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">6</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">7</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">8</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">9</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">10</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">11</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">12</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">13</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">14</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">15</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">16</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">17</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">18</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">19</div>
          </div>
          <div class="dragbox-grid__item h1 h1">
            <div class="dragbox-grid__item-content">20</div>
          </div>
        </div>

      </div>
    </div>
  </main>

  <%- include(partials+"footer") %>
</body>

<script>
  $(document).ready(function () {

    var grid = new Muuri('.dragbox-grid', {
      dragEnabled: true
    });

    console.log('dragbox-grid initialised');

  });
</script>

</html>