<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <div class="mys-page-preloader">
    <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
  </div>

  <main class="page-loading">

    <div class="authenticated-home authenticated-home--clear">
      <section>
        <div class="margin-above--large">
          <div class="container intro">
            <h1 class="heading--greeting"><span id="lblGreetings"></span> <span class="pt-current-user-name-first"></span></h1>
            <div class="flex-container widgets-container">
              <%- include(partials+"content/widget-tile-message-veteran-payment") %>
            </div>
            <div class="flex-container widgets-container">
              <%- include(partials+"content/widget-tile-message-welcome") %>
              <%- include(partials+"content/widget-tile-message-profile") %>

              <%- include(partials+"content/widget-tile-task") %>
              <%- include(partials+"content/widget-tile-claim") %>
              <%- include(partials+"content/widget-tile-payment") %>
              <%- include(partials+"content/widget-tile-profile") %>
            </div>
            <hr class="home__seperator">
          </div>
      </section>
    </div>

    <section id="claim-options">
      <div class="container" id="claims-tiles">
        <h2 class="ss-align--center margin-above--none">Claims &amp; applications</h2>
        <div class="flex-container flex-container--wrap hover-container">
          <% 
            locals.el = {};
            locals.el.title = "Initial Liability";
            locals.el.optionalID = "il";
            locals.el.body_text = "Your first step towards treatment and support for a service-related injury or condition.";
            locals.el.button_text = "Get started";
            locals.el.link = "/auth/claim/il/claim1";
          %>
          <%- include(partials+"components/claim-tile") %>
          <% 
            locals.el = {};
            locals.el.title = "Veteran Payment";
            locals.el.optionalID = "vp";
            locals.el.body_text = "Interim financial support while you wait for your Initial Liability determination.";
            locals.el.button_text = "Get started";
            locals.el.link = "/auth/claim/veteran-payment/veteran-payment-01";
          %>
          <%- include(partials+"components/claim-tile") %>

          <% if (locals.liveFeature.includes("PITile")) { %>
            <% 
              locals.el = {};
              locals.el.title = "Permanent Impairment";
              locals.el.optionalID = "pi";
              locals.el.body_text = "Apply for compensation for ongoing impairments that are impacting your lifestyle.";
              locals.el.button_text = "Get started";
              locals.el.link = "/auth/claim/permanent-impairment/permanent-impairment-01";
            %>
            <%- include(partials+"components/claim-tile") %>
          <% } %>

          <% 
            locals.el = {};
            locals.el.title = "Mental health treatment";
            locals.el.optionalID = "mental-health";
            locals.el.body_text = "Access free mental health treatment.";
            locals.el.button_text = "Get started";
            locals.el.link = "/auth/claim/mental-health-eligibility";
          %>
          <%- include(partials+"components/claim-tile") %>

          <% 
            locals.el = {};
            locals.el.title = "Veteran Covenant";
            locals.el.optionalID = "covenant";
            locals.el.body_text = "Request the Covenant Oath, Lapel Pin and Veteran Card as recognition of your service.";
            locals.el.button_text = "Get started";
            locals.el.link = "/auth/claim/veterancard/vrp1";
          %>
          <%- include(partials+"components/claim-tile") %>

          <% 
            locals.el = {};
            locals.el.title = "Incapacity Payments";
            locals.el.optionalID = "incap";
            locals.el.body_text = "Get compensated for your inability or reduced ability to work because of a service injury or condition.";
            locals.el.button_text = "Get started";
            locals.el.link = "/auth/claim/incap/before-start";
          %>
          <%- include(partials+"components/claim-tile") %>

          <% 
            locals.el = {};
            locals.el.title = "Increase your disability pension (AFI)";
            locals.el.optionalID = "increase-disability";
            locals.el.body_text = "Apply for a payment increase to your disability pension.";
            locals.el.button_text = "Get started";
            locals.el.link = "/auth/claim/afi/afi1";
          %>
          <%- include(partials+"components/claim-tile") %>

          <% 
            locals.el = {};
            locals.el.title = "Education assistance";
            locals.el.optionalID = "education";
            locals.el.body_text = "Apply for assitance with the cost of education for children of eligible veterans.";
            locals.el.button_text = "Get started";
            locals.el.link = "/auth/claim/education-assistance/edu1";
          %>
          <%- include(partials+"components/claim-tile") %>

          <% 

            locals.el = {};
            locals.el.title = "Qualifying service";
            locals.el.optionalID = "qs";
            locals.el.body_text = "Submit a claim to determine if you have qualifying service.";
            locals.el.button_text = "Get started";
            locals.el.link = "/auth/claim/qualifying-service/qs1";
          %>
          <%- include(partials+"components/claim-tile") %>

          <% if (locals.liveFeature.includes("SPTile")) { %>

          <% 
            locals.el = {};
            locals.el.title = "Service Pension";
            locals.el.optionalID = "service-pension";
            locals.el.body_text = "Apply for age or invalidity service pension.";
            locals.el.button_text = "Get started";
            locals.el.link = "/auth/claim/service_pension/sp-progress-a";
          %>
          <%- include(partials+"components/claim-tile") %>
          <% } %>

          <% if (locals.liveFeature.includes("PPTile")) { %>
          <% 
            locals.el = {};
            locals.el.title = "Partner pension";
            locals.el.optionalID = "partner-pension";
            locals.el.body_text = "Apply for partner service pension.";
            locals.el.button_text = "Get started";
            locals.el.link = "/auth/claim/service_pension/sp-progress-a";
          %>
          <%- include(partials+"components/claim-tile") %>
          <% } %>

          <%
            locals.el = {};
            locals.el.title = "Civilian qualifying service";
            locals.el.optionalID = "civilian-qs";
            locals.el.body_text = "Submit a claim to determine if you have qualifying service.";
            locals.el.button_text = "Get started";
            locals.el.link = "/auth/claim/civilian-qualifying-service/cqs1";
          %>
          <%- include(partials+"components/claim-tile") %>

          <% 
          locals.el = {};
          locals.el.title = "Commonwealth Seniors Health Card";
          locals.el.optionalID = "cshc";
          locals.el.body_text = "Apply for the Commonwealth Seniors Health Card";
          locals.el.button_text = "Get started";
          locals.el.link = "/auth/claim/cshc/prog-01";
        %>
        <%- include(partials+"components/claim-tile") %>

        <% 
          locals.el = {};
          locals.el.title = "Commonwealth Seniors Health Card Partner Flow";
          locals.el.optionalID = "cshc";
          locals.el.body_text = "Apply for the Commonwealth Seniors Health Card";
          locals.el.button_text = "Get started";
          locals.el.link = "/auth/claim/cshc-partner/prog-01";
        %>

        <%- include(partials+"components/claim-tile") %>

                  <% 
          locals.el = {};
          locals.el.title = "Commonwealth Seniors Health Card";
          locals.el.optionalID = "cshc";
          locals.el.body_text = "Apply for the Commonwealth Seniors Health Card";
          locals.el.button_text = "Get started";
          locals.el.link = "/auth/claim/cshc/prog-01";
        %>
        <%- include(partials+"components/claim-tile") %>


          <% if (locals.liveFeature.includes("LSATile")) { %>
            <% 
              locals.el = {};
              locals.el.title = "Lump sum advance";
              locals.el.optionalID = "lump-sum";
              locals.el.body_text = "Request a lump sum advance payment.";
              locals.el.button_text = "Get started";
              locals.el.link = "/auth/claim/lsa/request";
            %>
            <%- include(partials+"components/claim-tile") %>
          <% } %>
          
          <% if (locals.liveFeature.includes('featureNomrep')) { %>
            <% 
              locals.el = {};
              locals.el.title = "Representation";
              locals.el.optionalID = "representation";
              locals.el.body_text = "Allows someone to represent you or you can help someone in dealing with DVA matters.";
              locals.el.button_text = "Get started";
              locals.el.link = "/auth/profile/nomrep";
            %>
            <%- include(partials+"components/claim-tile") %>
          <% } %>
          <% if (locals.liveFeature.includes('featureDhoas')) { %>
            <% 
              locals.el = {};
              locals.el.title = "Defence Home Ownership Assistance Scheme";
              locals.el.optionalID = "dhoas";
              locals.el.body_text = " Apply for subsidy certificate to assist with the interest of your home loan.";
              locals.el.button_text = "Get started";
              locals.el.link = "/auth/claim/dhoas/landing-page";
            %>
            <%- include(partials+"components/claim-tile") %>
          <% } %>
          <% 
            locals.el = {};
            locals.el.title = "Defence Service Home Insurance Scheme";
            locals.el.optionalID = "insurance";
            locals.el.body_text = "Apply for home, contents and other insurance policies.";
            locals.el.button_text = "<span class='external-link hover-none'>Defence Service Homes website</span>";
            locals.el.link = "http://www.dsh.gov.au/insurance";
          %>
          <%- include(partials+"components/claim-tile") %>
        </div>
      </div>
    </section>

  </main>
  <%- include(partials+"components/layout/footer") %>
</body>
<%- include("index-state-switcher") %>

</html>
