<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <% include ../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include  ../../partials/header-topbar %>
    <% include ../../partials/header-authenticated.ejs %>
      <% include ../../partials/header-nom-rep.ejs %>
        <main>
          <div class="authenticated-home" style="background: #fff;">
            <section>
              <div class="container margin-above--large margin-below" style="margin-top: 38px;">
                <h2 class="ss-align--center"> <span style="font-size: 24px;">
                    <span id="lblGreetings"></span> <span class="pt-current-user-name-full"></span></span></h2>
                <div id="first-login-message" class="widget-welcome">
                  <!-- <h3>Welcome to MyService</h3> -->
                  <p><b>Welcome to MyService.</b>
                    <BR/>DVA's mission is to support the wellbeing of veterans and their families. MyService has been developed to streamline the process of claiming for entitlements.
                    We aim to make claiming more intuitive and accessible for all members of the veteran community. We welcome your feedback.
                  </p>
                  <!-- <p><b>Welcome to MyService.</b><BR/>We are delivering on our mission to better support the wellbeing of veterans and their families. This means making it easily accessible and more convenient for you to claim. MyService provides streamline claiming, single sign on to all government services and is better for everyone. Get started by …….</p> -->
                  <!-- <p>Omnis voluptatem ad voluptatibus ratione aut doloremque quod dolores. Reprehenderit sed eius sit corrupti architecto enim voluptatem. Inventore voluptatem porro aut ab rerum sapiente. Rerum beatae ad id ratione id aut.</p> -->
                </div>
                <!-- Task -->
                <% 
                  locals = {};
                  locals.body_text_task = " tasks";
                  locals.button_text = "View tasks";
                  locals.link = "/auth";
                %>
                  <%- include ../../partials/widget-tile-task.ejs %>
                    <!-- Claims -->
                    <% 
                  locals = {};     
                  locals.body_text_incomplete = " incomplete claims";
                  locals.body_text_submitted = " submitted claims";
                  locals.button_text = "View claims";
                  locals.link = "/auth/claim";
                %>
                      <%- include ../../partials/widget-tile-claim.ejs %>

                        <!-- Payments received -->
                        <% 
                  locals = {};
                  locals.body_text_payment_date = "Paid on the 24/08/2019";
                  locals.body_text_payment_amount = "$256.76";
                  locals.button_text = "View payments";
                  locals.link = "/auth/payments";
                %>
                          <%- include ../../partials/widget-tile-payment.ejs %>

                            <!-- Profile update -->
                            <% 
                  locals = {};
                  locals.body_text_profile = "Hello";
                  locals.button_text = "View profile";
                  locals.link = "/auth/profile";
                %>
                              <%- include ../../partials/widget-tile-profile.ejs %>

            </section>
            </div>

            <section id="claim-options">
              <div class="container" style="margin-top: 28px;" id="claims-tiles">
                <h2 class="ss-align--center"><span style="font-size: 24px;">Claims &amp; applications</span></h2>
                <div class="flex-container flex-container--wrap hover-container" style="margin: 0;">

                  <% 
                  locals = {};
                  locals.title = "Initial Liability";
                  locals.optionalID = "il";
                  locals.body_text = "Your first step towards treatment and support for a service-related injury or condition.";
                  locals.button_text = "Get started";
                  locals.link = "/auth/claim/claim1";
                %>
                    <%- include ../../partials/claim-tile.ejs %>

                      <% 
                  locals = {};
                  locals.title = "Mental health treatment";
                  locals.optionalID = "mental-health";
                  locals.body_text = "Access free mental health treatment.";
                  locals.button_text = "Get started";
                  locals.link = "/auth/claim/health-card0";
                %>
                        <%- include ../../partials/claim-tile.ejs %>

                          <% 
                  locals = {};
                  locals.title = "Australian Defence Veterans' Covenant";
                  locals.optionalID = "covenant";
                  locals.body_text = "Apply for the Australian Defence Veterans' Covenant.";
                  locals.button_text = "Get started";
                  locals.link = "/auth/claim/veterancard/veteran-card-start";
                %>
                            <%- include ../../partials/claim-tile.ejs %>

                              <% 
                  locals = {};
                  locals.title = "Incapacity Payments";
                  locals.optionalID = "incap";
                  locals.body_text = "Get compensated for your inability or reduced ability to work because of a service injury or condition.";
                  locals.button_text = "Get started";
                  locals.link = "/auth/claim/incap-progress";
                %>
                                <%- include ../../partials/claim-tile.ejs %>

                                  <% 
                  locals = {};
                  locals.title = "Increase your disability pension (AFI)";
                  locals.optionalID = "increase-disability";
                  locals.body_text = "Apply for a payment increase to your disability pension.";
                  locals.button_text = "Get started";
                  locals.link = "/auth/claim/afi-start";
                %>
                                    <%- include ../../partials/claim-tile.ejs %>

                                      <% 
                  locals = {};
                  locals.title = "Education assistance";
                  locals.optionalID = "education";
                  locals.body_text = "Apply for assitance with the cost of education for children of eligible veterans.";
                  locals.button_text = "Get started";
                  locals.link = "/auth/claim/studentpreeligibility?flow=veteranFlow";
                %>
                                        <%- include ../../partials/claim-tile.ejs %>

                                          <% 

                  locals = {};
                  locals.title = "Qualifying service";
                  locals.optionalID = "qs";
                  locals.body_text = "Submit a claim to determine if you have qualifying service.";
                  locals.button_text = "Get started";
                  locals.link = "/auth/claim/qualifying_service/qs-1";
                %>
                                            <%- include ../../partials/claim-tile.ejs %>

                                              <% 
                  locals = {};
                  locals.title = "Service Pension";
                  locals.optionalID = "service-pension";
                  locals.body_text = "Apply for age or invalidity service pension.";
                  locals.button_text = "Get started";
                  locals.link = "/auth/claim/service_pension/sp-progress-a";
                %>
                                                <%- include ../../partials/claim-tile.ejs %>

                                                  <% 
                  locals = {};
                  locals.title = "Partner pension";
                  locals.optionalID = "partner-pension";
                  locals.body_text = "Apply for partner service pension.";
                  locals.button_text = "Get started";
                  locals.link = "/auth/claim/service_pension/sp-progress-a";
                %>
                                                    <%- include ../../partials/claim-tile.ejs %>

                                                      <%
                  locals = {};
                  locals.title = "Civilian qualifying service";
                  locals.optionalID = "civilian-qs";
                  locals.body_text = "Submit a claim to determine if you have qualifying service.";
                  locals.button_text = "Get started";
                  locals.link = "/auth/claim/qualifying_service/civilian-qs-1";
                %>
                                                        <%- include ../../partials/claim-tile.ejs %>

                                                          <% 
                  locals = {};
                  locals.title = "Lump sum advance";
                  locals.optionalID = "lump-sum";
                  locals.body_text = "Request a lump sum advance payment.";
                  locals.button_text = "Get started";
                  locals.link = "/auth/claim/lump-sum-advance-request";
                %>
                                                            <%- include ../../partials/claim-tile.ejs %>

                                                              <% 
                  locals = {};
                  locals.title = "Representation";
                  locals.optionalID = "representation";
                  locals.body_text = "Allows someone to represent you or you can help someone in dealing with DVA matters.";
                  locals.button_text = "Get started";
                  locals.link = "/auth/profile/nomrep";
                %>
                                                                <%- include ../../partials/claim-tile.ejs %>

                                                                  <% 
                  locals = {};
                  locals.title = "DHOAS subsidy certificate";
                  locals.optionalID = "dhoas";
                  locals.body_text = "Apply for a subsidy on the interest of your home loan.";
                  locals.button_text = "Get started";
                  locals.link = "/auth/claim/dhoas-start";
                %>
                                                                    <%- include ../../partials/claim-tile.ejs %>

                                                                      <% 
                  locals = {};
                  locals.title = "Defence Service Home Insurance Scheme";
                  locals.optionalID = "insurance";
                  locals.body_text = "Apply for home, contents and other insurance policies.";
                  locals.button_text = "<span class='external-link hover-none'>Defence Service Homes website</span>";
                  locals.link = "http://www.dsh.gov.au/insurance";
                %>
                                                                        <%- include ../../partials/claim-tile.ejs %>

                </div>
              </div>
            </section>

        </main>
        <div id="state-switcher">
          <h3>State switcher</h3>

          <%
                locals = {};
                locals.optionalID = "user-scenario";
                locals.question = "User scenario:";
                locals.items = ["First time user","User with claims","Never served","User with service pension and claims"];
              %>
            <%- include ../../partials/forms/select.ejs %>

              <div class="form-group review__table">
                <h4>Build your own</h4>
                <div class="tr">
                  <div class="ss-box"><input id="text-input-incomplete" class="uikit-text-input ss" type="text" maxlength="2" name="numWidgets"></div>
                  <div class="ss-text">Incomplete claims</div>
                </div>
                <div class="tr">
                  <div class="ss-box"><input id="text-input-submitted" class="uikit-text-input ss" type="text" maxlength="2" name="numWidgets"></div>
                  <div class="ss-text">Submitted claims</div>
                </div>
                <div class="tr">
                  <div class="ss-box"><input id="text-input-tasks" class="uikit-text-input ss" type="text" maxlength="2" name="numWidgets"></div>
                  <div class="ss-text">Tasks</div>
                </div>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input" for="payment-received">
                    <input class="uikit-control-input__input" type="checkbox" id="payment-received" name="numWidgets">
                    <span class="uikit-control-input__text">Payment received</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input" for="service-history">
                    <input class="uikit-control-input__input" type="checkbox" id="service-history" name="numWidgets">
                    <span class="uikit-control-input__text">Service history provided</span>
                  </label>
                </p>
                <div class="form-group review__table">
                  <h4>Overrides</h4>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input" for="first-login">
                      <input class="uikit-control-input__input" id="first-login" type="checkbox" name="numWidgets">
                      <span class="uikit-control-input__text">First login</span>
                    </label>
                  </p>
                </div>
              </div>
        </div>
        <% include ../../partials/footer.ejs %>
          <script>

            $(document).ready(function () {

              /* --- State switcher --- */

              /* Toggle switcher */

              $(document).keypress(function (e) {
                switch (e.which) {
                  case 96: //tilda
                    $('#state-switcher').toggle();
                    break;
                  default:
                }
              });

              /* Tasks widget */

              var tasks = sessionStorage.getItem('tasks');
              if (tasks == null) tasks = 0;
              $("#text-input-tasks").val(tasks);
              $("#text-input-tasks").keyup(function () {
                updateScenario();
              });

              /* Claims widget */

              var claims_incomplete = sessionStorage.getItem('claims-incomplete');
              if (claims_incomplete == null) claims_incomplete = 0;
              $("#text-input-incomplete").val(claims_incomplete);
              $("#text-input-incomplete").keyup(function () {
                updateScenario();
              });

              var claims_submitted = sessionStorage.getItem('claims-submitted');
              if (claims_submitted == null) claims_submitted = 0;
              $("#text-input-submitted").val(claims_submitted);
              $("#text-input-submitted").keyup(function () {
                updateScenario();
              });

              /* Payments widget */

              var payments_received = sessionStorage.getItem('payments_received');
              if (payments_received == null) payments_received = false;
              $('#payment-received').prop("checked", payments_received);
              $("#payment-received").click(function (e) {
                updateScenario();
              });

              /* Profile widget */

              var service_history = sessionStorage.getItem('service_history');
              if (service_history == null) service_history = false;
              $('#service_history').prop("checked", service_history);
              $("#service-history").click(function (e) {
                updateScenario();
              });

              /* First login */

              var first_login = sessionStorage.getItem('first_login');
              if (first_login == null) first_login = false;
              $('#first_login').prop("checked", first_login);
              $("#first-login").click(function (e) {
                updateScenario();
              });

              /* Scenarios */

              // Claims we haven’t considered; CSHC, gold card, stand-alone needs 

              $("#user-scenario-list").change(function () {
                var mySelection = $(this).val();
                switch (mySelection) {
                  case "First time user":
                    $("#text-input-tasks").val(0);
                    $("#text-input-incomplete").val(0);
                    $("#text-input-submitted").val(0);
                    $('#payment-received').prop("checked", false);
                    $('#service-history').prop("checked", false);
                    $('#first-login').prop("checked", true);
                    hideAllClaims();
                    $("#il").show();
                    $("#mental-health").show();
                    $("#covenant").show();
                    $("#education").show();
                    $("#qs").show();
                    $("#service-pension").show();
                    $("#partner-pension").show();
                    $("#representation").show();
                    $("#dhoas").show();
                    $("#insurance").show();
                    updateScenario();
                    break;
                  case "User with claims":
                    $("#text-input-tasks").val(0);
                    $("#text-input-incomplete").val(1);
                    $("#text-input-submitted").val(2);
                    $('#payment-received').prop("checked", false);
                    $('#service-history').prop("checked", false);
                    $('#first-login').prop("checked", false);
                    hideAllClaims();
                    $("#il").show();
                    // afi (if VEA condition) ask chloe
                    $("#incap").show();
                    $("#education").show();
                    $("#service-pension").show();
                    $("#partner-pension").show();
                    $("#representation").show();
                    $("#dhoas").show();
                    $("#insurance").show();
                    updateScenario();
                    break;
                  case "Never served":
                    $("#text-input-tasks").val(0);
                    $("#text-input-incomplete").val(0);
                    $("#text-input-submitted").val(0);
                    $('#payment-received').prop("checked", false);
                    $('#service-history').prop("checked", true);
                    $('#first-login').prop("checked", false);
                    hideAllClaims();
                    $("#education").show();
                    $("#civilian-qs").show();
                    $("#partner-pension").show();
                    updateScenario();
                    break;
                  case "User with service pension and claims":
                    $("#text-input-tasks").val(1);
                    $("#text-input-incomplete").val(0);
                    $("#text-input-submitted").val(2);
                    $('#payment-received').prop("checked", true);
                    $('#service-history').prop("checked", true);
                    $('#first-login').prop("checked", false);
                    hideAllClaims();
                    $("#il").show();
                    // afi (if VEA condition) ask chloe
                    $("#incap").show();
                    $("#education").show();
                    $("#partner-pension").show();
                    $("#lump-sum").show();
                    $("#representation").show();
                    $("#dhoas").show();
                    $("#insurance").show();
                    updateScenario();
                    break;
                  default:
                    break;
                }
              });

              /* --- End State switcher --- */

              /* --- Start widgets --- */

              /* Greeting */

              function updateGreeting() {
                var myDate = new Date();
                var hrs = myDate.getHours();
                var greet;
                if (hrs < 12)
                  greet = 'Good morning';
                else if (hrs >= 12 && hrs <= 17)
                  greet = 'Good afternoon';
                else if (hrs >= 17 && hrs <= 24)
                  greet = 'Good evening';
                document.getElementById('lblGreetings').innerHTML = greet;
              }

              /* Tasks */

              function updateTasksWidget() {
                var tasks = $("#text-input-tasks").val();
                sessionStorage.setItem('tasks', tasks);
                $("#text-reflect-tasks").val(tasks);
                if (tasks > 0) {
                  $("#widget-tasks").show("fast");
                  $("#tasks").show();
                  totalWidgets++;
                } else {
                  $("#widget-tasks").hide("fast");
                  $("#tasks").hide();
                }
              }

              /* Claims */

              function updateClaimsWidget() {
                var incomplete = $("#text-input-incomplete").val();
                $("#text-reflect-incomplete").html(incomplete);
                sessionStorage.setItem('claims-incomplete', incomplete);
                var submitted = $("#text-input-submitted").val();
                $("#text-reflect-submitted").html(submitted);
                sessionStorage.setItem('claims-submitted', submitted);
                if (incomplete > 0) {
                  $("#claims-incomplete").show();
                } else {
                  $("#claims-incomplete").hide();
                }
                if (submitted > 0) {
                  $("#claims-submitted").show();
                } else {
                  $("#claims-submitted").hide();
                }
                if (incomplete > 0 || submitted > 0) {
                  $("#widget-claims").show("fast");
                  totalWidgets++;
                } else {
                  $("#widget-claims").hide("fast");
                }
                if (incomplete == 0 && submitted == 0) {
                  $("#claims").hide();
                } else {
                  $("#claims").show();
                }
              }

              /* Payments */

              function updatePaymentsWidget() {
                if ($('#payment-received').prop("checked") == true) {
                  $("#widget-payment").show("fast");
                  $("#payments").show();
                  sessionStorage.setItem('payments_received', true);
                  totalWidgets++;
                } else {
                  $("#widget-payment").hide("fast");
                  $("#payments").hide();
                  sessionStorage.setItem('payments_received', false);
                }
              }

              /* Profile */

              function updateProfileWidget() {
                if ($("#service-history").prop("checked") == true) {
                  updateProfileWidgetCopy("general");
                  sessionStorage.setItem('service_history', true);
                } else {
                  updateProfileWidgetCopy("sh");
                  sessionStorage.setItem('service_history', false);
                }
              }

              /* First login */

              function updateFirstLogin() {
                if ($("#first-login").prop("checked") == true) {
                  hideAll();
                  $("#first-login-message").show("fast");
                  sessionStorage.setItem('first_login', true);
                } else {
                  $("#first-login-message").hide("fast");
                  sessionStorage.setItem('first_login', false);
                }
              }

              /* --- End widgets --- */

              /* Update everything */

              var totalWidgets;
              function updateScenario() {
                hideAll();
                totalWidgets = 0;
                updateGreeting();
                updateTasksWidget();
                updateClaimsWidget();
                updatePaymentsWidget();
                updateProfileWidget();
                /* add backup widget */
                if (totalWidgets <= 2) {
                  $("#widget-profile").show("fast");
                  totalWidgets++;
                }
                /* Over ride for first login */
                updateFirstLogin();
                updateLayout();
              }

              /* Init */

              updateScenario();
              function hideAll() {
                $("#widget-tasks").hide();
                $("#widget-claims").hide();
                $("#widget-payment").hide();
                $("#widget-profile").hide();
                $("#first-login-message").hide();
                $("#update-message").hide();
              }

              function hideAllClaims() {
                $("#il").hide();
                $("#mental-health").hide();
                $("#covenant").hide();
                $("#incap").hide();
                $("#increase-disability").hide();
                $("#education").hide();
                $("#qs").hide();
                $("#civilian-qs").hide();
                $("#service-pension").hide();
                $("#partner-pension").hide();
                $("#lump-sum").hide();
                $("#representation").hide();
                $("#dhoas").hide();
                $("#insurance").hide();
              }

              /* Layout */

              $(window).resize(function () {
                updateLayout();
              });

              function updateLayout() {

                if (totalWidgets == 1) {
                  $('.widget-tile').addClass('col-sm-12').css({ clear: "none" });
                  $('.widget-tile').removeClass('col-xs-6');
                  $('.widget-tile').removeClass('col-xs-4');
                  $('.widget-tile').removeClass('col-xs-3');
                  $('.widget-tile').removeClass('col-sm-3');
                }
                if (totalWidgets == 2) {
                  $('.widget-tile').addClass('col-xs-6').removeClass('col-xs-12').css({ clear: "none" });;
                  $('.widget-tile').removeClass('col-sm-12')
                  $('.widget-tile').removeClass('col-xs-4');
                  $('.widget-tile').removeClass('col-xs-3');
                  $('.widget-tile').removeClass('col-sm-3');
                }
                if (totalWidgets == 3) {

                  $('.widget-tile').addClass('col-xs-4').removeClass('col-xs-6').css({ clear: "none" });
                  $('.widget-tile').removeClass('col-sm-12');
                  $('.widget-tile').removeClass('col-xs-3');
                  $('.widget-tile').removeClass('col-sm-3');


                  if ($(window).width() < 800) {
                    if ($("#payment-received").prop('checked') == true) {
                      $('.widget-tile-claim').addClass('col-xs-6 widget-tile').removeClass('col-xs-4');
                      $('.widget-tile-task').addClass('col-xs-6 widget-tile').removeClass('col-xs-4');
                      $('.widget-tile-payment').addClass('col-sm-12 widget-tile').removeClass('col-xs-4').css({ clear: "both" });
                    } else {
                      $('.widget-tile-task').addClass('col-xs-6 widget-tile').removeClass('col-xs-4');
                    }


                    if ($("#profile").prop('checked') == true) {
                      $('.widget-tile-claim').addClass('col-xs-6 widget-tile');
                      $('.widget-tile-payment').addClass('col-xs-6 widget-tile').removeClass('col-sm-12').css({ clear: "none" });
                      $('.widget-tile-profile').addClass('col-xs-12 widget-tile');
                    }
                    if ($("#task").prop('checked') == false) {
                      $('.widget-tile-claim').addClass('col-xs-6 widget-tile');
                      $('.widget-tile-profile').addClass('col-xs-6 widget-tile');
                      $('.widget-tile-payment').addClass('col-xs-6 widget-tile').removeClass('col-sm-12').css({ clear: "none" });
                    }
                  }
                }
                if (totalWidgets == 4) {
                  $('.widget-tile').removeClass('col-sm-12').css({ clear: "none" });;
                  $('.widget-tile').removeClass('col-xs-6');
                  $('.widget-tile').removeClass('col-sm-4');
                  $('.widget-tile').removeClass('col-xs-4');
                  $('.widget-tile').addClass('col-xs-3').removeClass('col-xs-12').css({ clear: "none" });
                  if ($(window).width() < 800) {
                    $('.widget-tile').addClass('col-xs-6').removeClass('col-xs-3').css({ clear: "none" });
                  }
                }
              }

            });

          </script>
</body>

</html>
