<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <div class="mys-page-preloader">
    <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
  </div>

  <main class="page-loading">
    <div class="authenticated-home authenticated-home--clear container">
      <section>
        <div class="margin-above--large">
          <div class="container intro">
            <h1 class="heading--greeting"><span id="lblGreetings"></span> <span
                class="pt-current-user-name-first"></span></h1>
            <div class="flex-container widgets-container">
              <%- include(partials+"content/widget-tile-message-veteran-payment") %>
            </div>
            <div class="flex-container widgets-container">
              <%- include(partials+"content/widget-tile-message-welcome") %>
              <%- include(partials+"content/widget-tile-message-profile") %>

              <%- include(partials+"content/widget-tile-task") %>
              <%- include(partials+"content/widget-tile-claim") %>
              <%- include(partials+"content/widget-tile-payment") %>
              <%- include(partials+"content/widget-tile-profile") %>
            </div>
          </div>
      </section>

      <section id="claim-options">
        <h2 class="cards__title">How can we help you?</h2>
        <div class="cards-wrapper" id="claims-tiles">
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
        </div>
    </div>
    </section>

    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>
<%- include("index-state-switcher") %>

</html>