<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <!-- <div class="mys-page-preloader">
    <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
  </div> -->

  <main class="page-loading-off">
    <div class="container">
      <h1 class="mys h1 margin-below--mid margin-above"><span id="lblGreetings">Good morning</span> Xaviar</h1>
      <div class="home-page-message" hidden>
        <div class="home-page-message__title">
          <h2 class="mys h3">You may now apply for veteran payment</h2>
          <div class="home-page-message__close" id="close-message"><i class="fal fa-times-circle fa-lg"></i></div>
        </div>
        <div class="home-page-message__message">
          <p>Your recent claim for initial liability indicated you may be eligible for veteran payment. If you would
            like
            DVA to check your eligibilty for this interim payment, <a
              href="/auth/claim/veteran-payment/veteran-payment-01">apply now</a>.</p>
        </div>
      </div>

      <section class="dashboard-widgets">
        <div class="widgets__wrapper widgets__wrapper--4">
          <%- include(partials+"components/dashboard-widget", {
            id: "widget-tasks",
            title: "Tasks",
            text: "tasks to complete",
            link: "/auth/tasks/",
            number: 2,
            highlight: true
          }) %>
          <%- include(partials+"components/dashboard-widget", {
            id: "widget-claims",
            title: "Claims",
            link: "navigateClaims()",
            text: "claims submitted",
            number: 3
          }) %>
          <%- include(partials+"components/dashboard-widget", {
            id: "widget-payments",
            title: "Payments",
            link: "/auth/payments/",
            text: "12 Mar 2019",
            number: "$256.79"
          }) %>
          <%- include(partials+"components/dashboard-widget", {
              id: "widget-transport",
              title: "Transport",
              link: "/auth/transport/",
              text: "upcoming trips",
              number: 2
          }) %>
        </div>
      </section>
      <section>
        <div class="homepage__content margin-below--extra">
          <div class="homepage__row">
            <div class="homepage__column">
              <div class="homepage__column-item">
                <h2 class="mys h3 margin-below--mid">Services and benefits</h2>
                <button class="homepage-apply uikit-btn" onclick="window.location = '/auth/claims'">Apply now</button>
                <ul>
                  <li><a href="/auth/claims"><i class="fal fa-file-edit fa-fw homepage__icon"></i>What can I apply
                      for?</a>
                  </li>
                  <div class="homepage__divider"></div>
                  <li><a class="request-review"><i class="fal fa-sync fa-fw homepage__icon"></i>Request review</a></li>
                  <li><a href="/auth/expenses"><i class="fal fa-receipt fa-fw homepage__icon"></i>Claim
                      travel expenses</a></li>
                  <li><a href="/auth/transport/"><i class="fal fa-car fa-fw homepage__icon"></i>Book transport</a></li>
                 
                </ul>
              </div>
            </div>
            <div class="homepage__column">
              <div class="homepage__column-item">
                <h2 class="mys h3 margin-below--mid">Your information</h2>
                <ul>
                  <li><a href="/auth/profile/"><i class="fal fa-user fa-fw homepage__icon"></i>My details</a></li>
                  <li><a href="/auth/profile/history"><i class="fal fa-stream fa-fw homepage__icon"></i>Service
                      history</a>
                  </li>
                  <li><a href="/auth/profile/payment"><i class="fal fa-university fa-fw homepage__icon"></i>Payment
                      destination</a></li>
                  <li><a href="/auth/profile/nomrep">
                      <i class="fal fa-signature fa-fw homepage__icon"></i>Representation
                    </a></li>


                  <li><a href="/auth/profile/cards?state=show-conditions" class="card-link"><i
                        class="fal fa-credit-card-blank homepage__icon"></i>Accepted conditions</a></li>

                  <li><a href="/auth/profile/correspondence">
                      <i class="fal fa-envelope-open-text fa-fw homepage__icon"></i>Correspondence
                    </a></li>
                  <li><a href="/auth/profile/">
                      <i class="fal fa-ellipsis-h fa-fw homepage__icon"></i>View all
                    </a></li>
                </ul>
              </div>
            </div>
            <div class="homepage__column homepage__column--income-support">
              <div class="homepage__column-item">
                <h2 class="mys h3 margin-below--mid">Report changes</h2>
                <ul>
                  <li><a href="/auth/overseas-travel"><i class="fal fa-plane fa-fw homepage__icon"></i>Notify of
                      overseas travel</a></li>
                  <li><a href="/auth/income-assets"><i class="fal fa-piggy-bank fa-fw homepage__icon"></i>Update
                      income and assets</a></li>
                  <li><a href="/auth/profile/index?state=show-conditions"><i
                        class="fal fa-building fa-fw homepage__icon"></i>Update accommodation
                      costs</a></li>
                </ul>
                <div id="small-card">
                  <h2 class="mys h3 margin-below--mid margin-above--mid">Your card</h2>
                  <div class="small-card__container" onclick="window.location = '/auth/profile/cards'">
                    <table class="small-card-table">
                      <tr>
                        <td>Card type</td>
                        <td>Gold card</td>
                      </tr>
                      <tr>
                        <td>File number</td>
                        <td>QA015865</td>
                      </tr>
                      <tr>
                        <td>Expiry</td>
                        <td>09/24</td>
                      </tr>
                    </table>
                    <a href="/auth/profile/cards" class="card-link">View card details&nbsp;<i
                        class="fal fa-angle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="homepage__column homepage__column--card">
              <div class="homepage__column-item homepage__column-item--card">
                <h2 class="mys h3 margin-below--mid">Your card</h2>
                <a href="/auth/profile/cards" style="padding: 0px;">
                  <div class="my-card__container">
                    <img class="my-card__image" src="/docs/images/health-card-white--edited.png"
                      alt="White veterans card">
                    <p class="card-holder-name card-text">Lucas Verylongname</p>
                    <p class="card-number-label card-text">File No.</p>
                    <p class="card-number card-text">QA015860</p>
                    <p class="card-expiry-label card-text">Card expires<br>or on recall</p>
                    <p class="card-expiry card-text">09/24</p>
                    <p class="card-overlay card-text">WAR WIDOW EDA</p>
                  </div>
                </a>
                <a href="/auth/cards" class="card-link">View card details<i class="fal fa-angle-right"></i></a>
              </div>
            </div>
          </div>
          <div class="homepage__row homepage__row--footer">
            <a href="#open-myaccount-modal"><i class="fal fa-exchange fa-fw homepage__icon"></i>Switch to MyAccount</a>
          </div>
        </div>
      </section>
    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>
<%- include("index-ss") %>

</html>

<script>
  $('#close-message').on("click", function () {
    $(".home-page-message").hide();
  });

  function navigateWidget(type) {

    switch (type) {
      case "Claims":
        if ($("#widget-claims .dashboard-widget__text").text().trim() == "No claims") {
          window.location = "/auth/claim/index?state=noclaims"
        } else {
          window.location = "/auth/claim/"
        }
        break;
        case "Tasks":
        if ($("#widget-tasks .dashboard-widget__text").text().trim() == "No new tasks") {
          window.location = "/auth/tasks/index?state=notasks"
        } else {
          window.location = "/auth/tasks/"
        }
        break;
        case "Payments":
        if ($("#widget-payments .dashboard-widget__text").text().trim() == "No new tasks") {
          window.location = "/auth/payments/index?state=notasks"
        } else {
          window.location = "/auth/payments/"
        }
        break;
        case "Transport":
        if ($("#widget-transport .dashboard-widget__text").text().trim() == "No new tasks") {
          window.location = "/auth/tasks/index?state=notasks"
        } else {
          window.location = "/auth/transport/"
        }
        break;
      default:
        break;
    }

  }

  $.urlParam = function (name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results == null) {
      return 0;
    }
    return results[1] || 0;
  }
  state = $.urlParam('state');
  scenario = $.urlParam('scenario');

  $(".request-review").click( function( event ) {
      if ( scenario === undefined ) {
        window.location.href = "/auth/reviews/";
      } else {
        window.location.href = "/auth/reviews/index?scenario=" + scenario;
      } 
    });


</script>