
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <div class="mys-page-preloader">
    <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
  </div>

  <main class="page-loading">
    <div class="authenticated-home authenticated-home--clear container">
      <section class="dashboard-widgets">
        <h2 class="dashboard-title"><span id="lblGreetings">Good morning</span> Alex</h2>
        <%- include(partials+"components/dashboard-callout", {
          id: "message-box-veteran-payment",
          title: "You may now apply for veteran payment",
        message: 'Your recent claim for initial liability indicated you may be eligible for veteran payment. If you would like DVA to check your eligibilty for this interim payment, <a href="http://www.dva.gov.au/factsheet-is190-how-access-veteran-payment">apply now.</a>'
        }) %>
        <%#- include(partials+"components/dashboard-callout", {
          id: "welcome-message",
          title: "Welcome to MyService",
          message: " We are working to streamline and modernise the process of claiming. Wherever possible, we have reduced the amount of time it will take to complete your claims. This means you can access services faster. Get started by making a claim from the options shown below."
        }) %>
        <div class="widgets__wrapper">
          <%- include(partials+"components/dashboard-widget", {
            id: "widget-tasks",
            title: "Tasks",
            text: "tasks to complete",
            link: "/auth/tasks/",
            number: 2,
            highlight: true
          }) %>
          <%- include(partials+"components/dashboard-widget", {
            id: "widget-inbox",
            title: "Inbox",
            link: "/auth/claim/",
            text: "new messages",
            number: 3,
          }) %>
          <%- include(partials+"components/dashboard-widget-claims", {
            id: "widget-claims",
            title: "Claims",
            link: "/auth/claim/",
            inprogress: 3,
            notsubmitted: 3,
            finalised: 12
          }) %>
          <%- include(partials+"components/dashboard-widget", {
              id: "widget-transport",
              title: "Transport",
              link: "/auth/transport/",
              text: "upcoming booking",
              number: 2
          }) %>
        </div>
      </section>
      <section>
        <div class="globalnav__content margin-below--extra">
          <div class="globalnav__row">
            <ul class="globalnav__column">
              <h2>Services and benefits<i class="fa fa-angle-up fa-fw globalnav__icon"></i></h2>
              <a href="/auth/claims"><button class="uikit-btn" style="width:max-content; margin: 10px;">Apply
                  now</button></a>
              <li><a href="/auth/claims"><i class="fal fa-file-edit fa-fw globalnav__icon"></i>What can I apply for?</a>
              </li>
              <div style="height: 1px; background-color: #ddd; margin: 10px 10px 20px 10px;"></div>
              <li><a href="/auth/claim/support-assessment"><i
                    class="fal fa-file-edit fa-fw globalnav__icon"></i>Complete a support assessment</a></li>
              <li><a href="/auth/transport/reimbursements"><i class="fal fa-receipt fa-fw globalnav__icon"></i>Claim
                  reimbursements</a></li>
              <li><a href="/auth/transport/"><i class="fal fa-car fa-fw globalnav__icon"></i>Book transport</a></li>
            </ul>
            <ul class="globalnav__column">
              <h2>Your information<i class="fa fa-angle-up fa-fw globalnav__icon"></i></h2>
              <li><a href="/auth/profile/"><i class="fal fa-user fa-fw globalnav__icon"></i>My details</a></li>
              <li><a href="/auth/cards"><i class="fal fa-credit-card-blank fa-fw globalnav__icon"></i>Cards</a></li>
              <li><a href="/auth/profile/history"><i class="fal fa-stream fa-fw globalnav__icon"></i>Service history</a>
              </li>
              <li><a href="/auth/profile/nomrep"><i
                    class="fal fa-signature fa-fw globalnav__icon"></i>Representation</a></li>
              <li><a href="/auth/payments"><i class="fal fa-calendar-check fa-fw globalnav__icon"></i>Recent
                  payments</a></li>
              <li><a href="/auth/profile/payment"><i class="fal fa-university fa-fw globalnav__icon"></i>Payment
                  destination</a></li>
            </ul>
            <ul class="globalnav__column">
              <h2>Report changes<i class="fa fa-angle-up fa-fw globalnav__icon"></i></h2>
              <li><a href="/auth/profile/overseas-travel"><i class="fal fa-plane fa-fw globalnav__icon"></i>Notify of
                  overseas travel</a></li>
              <li><a href="/auth/profile/income-assets"><i class="fal fa-piggy-bank fa-fw globalnav__icon"></i>Update
                  income and assets</a></li>
              <li><a href="/auth/profile/"><i class="fal fa-building fa-fw globalnav__icon"></i>Update accommodation
                  costs</a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>
<%- include("index-state-switcher") %>

</html>