<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <div class="mys-page-preloader">
    <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
  </div>

  <main class="page-loading">
    <div class="authenticated-home authenticated-home--clear container">

      <section class="dashboard-widgets">
        <h2 class="dashboard-title">Good morning Alex...</h2>
        <div class="widgets__wrapper">

          <%- include(partials+"components/dashboard-widget", {
            id: "widget-tasks",
            title: "Tasks",
            text: "tasks to complete",
            number: 2,
            highlight: true
          }) %>

          <%- include(partials+"components/dashboard-widget", {
            id: "widget-claims",
            title: "Claims",
            text: "Incomplete",
            number: 3,
          }) %>

          <%- include(partials+"components/dashboard-widget", {
            id: "widget-payments",
            title: "Payments",
            text: "Paid on the 12/03/2019",
            number: "$256.79"
          }) %>

          <%- include(partials+"components/dashboard-widget", {
              id: "widget-transport",
              title: "Transport",
              text: "tasks to complete",
              number: 2
          }) %>

        </div>
      </section>

      <section class="dashboard-cards">
        <h2 class="dashboard-title">How can we help you?</h2>
        <div class="cards__wrapper" id="claims-tiles">
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
          <%- include(partials+"components/card-v2") %>
        </div>
      </section>
    </div>

    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>
<%- include("index-state-switcher") %>

</html>