<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-onboarding-page") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <section>
      <div class="section-feature margin-above--none margin-below--none">
        <div class="container">

          <div class="row">
            <h1 class="ss-align--center margin-below--none">Hi Robert, we are improving the way you access&nbsp;DVA&nbsp;services.
            </h1>
            <h2 class="margin-below margin-below--medium ss-align--center text-fullwidth font-weight-normal">MyService is going to replace MyAccount.
              <br>While things are changing, you can move between the two.</h2>
          </div>

          <div class="row hover-container">
            <div class="col-sm-offset-1 col-sm-5 hover-element">
              <div class="card card--white card--reduced-image">
                <a href="/auth/">
                  <img src="/docs/images/logo-myservice-onboarding.svg " alt="" title="MyService " class="margin-above--large" height="50">
                  <span class="uikit-btn uikit-btn--tertiary margin-below margin-above--mid margin-below--large">Go to MyService</span>
                </a>
              </div>
            </div>

            <div class="col-sm-5 hover-element">
              <div class="card card--white card--reduced-image">
                <a href="/auth">
                  <img src="/docs/images/myaccount-logo.svg" alt="" title="MyAccount " class="margin-above margin-above--large" height="50">
                  <span class="uikit-btn uikit-btn--tertiary margin-below margin-above--mid margin-below--large">Go to MyAccount</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="container ss-align--center">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-10 ">
              <div id="comparison-table" class="margin-above">
                <table class="table-responsive feature-set">
                  <thead>
                    <tr>
                      <th>Things you can do
                      </th>
                      <th class="ss-align--center">MyService</th>
                      <th class="ss-align--center">MyAccount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="feature-set__sub-heading">
                      <td colspan=3>
                        <b>New Features</b>
                      </td>
                    </tr>
                    <tr>
                      <td>Transfer Centrelink age pension to DVA</td>
                      <td class="feature-set__yes--green feature-set__yes"></td>
                      <td class="feature-set__no">
                        <span class="sr">MyService</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Apply for income support supplement</td>
                      <td class="feature-set__yes--green feature-set__yes"></td>
                      <td class="feature-set__no">
                        <span class="sr">MyService</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Request review of decision</td>
                      <td class="feature-set__yes--green feature-set__yes"></td>
                      <td class="feature-set__no">
                        <span class="sr">MyService</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Claim travel expenses</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Book transport</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr><tr>
                      <td>Apply for a service pension</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Update your income and assets</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Request a lump sum advance payment</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Apply for veteran payment</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Access Support for Employment</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr class="feature-set__sub-heading">
                      <td colspan=3>
                        <b>Claims</b>
                      </td>
                    </tr>
                    <tr>
                      <td>Apply for the Australian Defence Veterans' Covenant</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Access free mental health treatment</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Access support for a service-related condition or injury</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Claim for incapacity payments</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    
                    <tr>
                      <td>Claim for education assistance</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Transfer Centrelink age pension to DVA</td>
                      <td class="feature-set__yes--green feature-set__yes"></td>
                      <td class="feature-set__no">
                        <span class="sr">MyService</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Apply for recognition of eligible service </td>
                      <td class="feature-set__yes--green feature-set__yes"></td>
                      <td class="feature-set__no">
                        <span class="sr">MyService</span>
                      </td>
                    </tr>
                   
                    <tr>
                      <td>Claim for compensation after the death of a veteran</td>
                      <td class="feature-set__no"></td>
                      <td class="feature-set__yes ">
                        <span class="sr">MyAccount</span>
                      </td>
                    </tr>
                   
                    <tr>
                      <td>Apply for a partner service pension</td>
                      <td class="feature-set__no"></td>
                      <td class="feature-set__yes ">
                        <span class="sr">MyAccount</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Apply for income support supplement</td>
                      <td class="feature-set__yes--green feature-set__yes"></td>
                      <td class="feature-set__no">
                        <span class="sr">MyService</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Request review of decision</td>
                      <td class="feature-set__yes--green feature-set__yes"></td>
                      <td class="feature-set__no">
                        <span class="sr">MyService</span>
                      </td>
                    </tr>
                    <tr class="feature-set__sub-heading">
                      <td colspan=3>
                        <b>Payments</b>
                      </td>
                    </tr>
                    <tr>
                      <td>View your payment history</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                   
                    <tr class="feature-set__sub-heading ">
                      <td colspan=3>
                        <b>Cards</b>
                      </td>
                    </tr>
                    <tr>
                      <td>View your cards</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>View your DVA approved medical conditions</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Request a replacement card</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Apply for a Gold Card</td>
                      <td class="feature-set__no"></td>
                      <td class="feature-set__yes ">
                        <span class="sr">MyAccount</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Apply for a Commonwealth Seniors Healthcare Card</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr class="feature-set__sub-heading ">
                      <td colspan=3>
                        <b>Profile</b>
                      </td>
                    </tr>
                    <tr>
                      <td>Manage your profile</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Nominate someone to help you deal with DVA</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Manage your correspondence preferences</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Request an official letter</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Notify DVA of any overseas travel you are planning</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                   

                    <tr class="feature-set__sub-heading ">
                      <td colspan=3>
                        <b>Transport</b>
                      </td>
                    </tr>
                    <tr>
                      <td>Claim travel expensess</td>
                      <td class="feature-set__yes feature-set__yes--green"><span class="sr">MyService</span></td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Book transport</td>
                      <td class="feature-set__yes feature-set__yes--green"><span class="sr">MyService</span></td>
                      <td class="feature-set__no"></td>
                    </tr>

                 

                    <tr class="feature-set__sub-heading ">
                      <td colspan=3>
                        <b>Other</b>
                      </td>
                    </tr>
                    <tr>
                      <td>Manage claims as an advocate or claim representative</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>

                    <!-- large screen view of the buttons -->
                    <tr class="feature-set__ss-hide">
                      <td></td>
                      <td>
                        <a href="/auth/index-loading" class="uikit-btn uikit-btn--tertiary margin-below ">Go to MyService</a>
                      </td>
                      <td>
                        <a href="/myaccount" class="uikit-btn uikit-btn--tertiary margin-below ">Go to MyAccount</a>
                      </td>
                    </tr>
                    <!-- small screen view of the buttons -->
                    <tr class="feature-set__ss-show">
                      <td colspan="3">
                        <a href="/auth/index-loading" class="uikit-btn uikit-btn--tertiary">Go to MyService</a>
                        <a href="/myaccount" class="uikit-btn uikit-btn--tertiary">Go to MyAccount</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include(partials+"components/layout/footer-limbo") %>
  <script>
    // $('#comparison-table').hide();
    // $("#comparison-button").click(function () {
    //  $("#comparison-table").toggleClass("transition-content--open");
    //  $(this).find('.accordion__trigger').toggleClass('accordion__trigger--closed');
    // });

    // $(".toggle-arrow ").click(function () {
    //  $(".simple-accordion ").toggleClass('simple-accordion--open simple-accordion--closed');
    // });

    $(document).ready(function () {
      const hoverContainer = document.getElementsByClassName('hover-container')[0]
      const hoverElements = document.getElementsByClassName('hover-element')

      Array.prototype.forEach.call(hoverElements, hoverElement => {
        hoverElement.addEventListener('mouseover', (event) => {
          hoverElement.classList.add('hover-element--active')
        })

        hoverElement.addEventListener('mouseout', (event) => {
          hoverElement.classList.remove('hover-element--active')
        })
      })

      hoverContainer.addEventListener('mouseover', (event) => {
        if (event.target !== hoverContainer) {
          hoverContainer.classList.add('hover-container--faded')
        }
      })

      hoverContainer.addEventListener('mouseout', (event) => {
        hoverContainer.classList.remove('hover-container--faded')
      })
    });

  </script>
</body>

</html>
