<%- include(templates+"header", {
    claim: "Commonwealth Seniors Health Card",
    heading: "Dependent children",
    progress: {
      activeItem: 2,
        points: [
          {
            text: "Relationship status",
            link: "/auth/claim/cshc/b-01"
          },
          {
            text: "Dependent children",
            link: "/auth/claim/cshc/b-02"
          },
          {
            text: "Residency",
            link: "/auth/claim/cshc/b-03"
          },
          {
            text: "Claim representative",
            link: "/auth/claim/cshc/b-04"
          },
          {
            text: "Payment details",
            link: "/auth/claim/cshc/b-05"
          },
        ]
      }
  }) %>

<%- include(forms+"text", {
      label: "fhaislfhdsa iflh es lkgfeh sklgewshg kles."
    }) %>

<%- include(forms+"text", {
      label: "fhaislfhdsa iflh es lkgfeh sklgewshg kles."
    }) %>

<%- include(forms+"text", {
      label: "fhaislfhdsa iflh es lkgfeh sklgewshg kles."
    }) %>

<%- include(forms+"editable-box", {
      modifiers: ["initialTertiary", "addAnotherPrimary"],
      customClass: "margin-below--large",
      id: "children",
      icon: "fa-child",
      heading: "Dependent Child Details",
      description: `<h4>Add any dependent children who are:</h4>
        <ul>
          <li>Under 16 years of age, or</li>
          <li>16-22 years of age and in full time education</li>
        </ul>
        <p>Dependent means that you are legally responsible for the day-to-day care, welfare and development of a child who is in your care or wholly or substantially in your care.</p>`,
      buttonText: "Add child",
      addAnotherText: "Add another child",
      addedHeading: [2, 4],
      form: [
        {
          type: "date",
          label: "Date of birth",
          displayName: "Date of birth",
          id: "child-age"
        },
        {
          type: "notice",
          message: "<p>You will be required to provide birth certificate(s) to support your claim.</p><p>You will be asked to upload this evidence when finalising your claim in PART D.</p>"
        },
        {
          type: "text",
          label: "First name"
        },
        {
          type: "text",
          label: "Middle name",
          hint: "(optional)"
        },
        {
          type: "text",
          label: "Last name"
        },
        {
          type: "prepop/gender",
          label: "Gender",
          displayName: "Gender"
        }
      ]
    }) %>


<%- include(forms+"text", {
      label: "fhaislfhdsa iflh es lkgfeh sklgewshg kles."
    }) %>


<%- include(forms+"text", {
      label: "fhaislfhdsa iflh es lkgfeh sklgewshg kles."
    }) %>

<%- include(forms+"text", {
      label: "fhaislfhdsa iflh es lkgfeh sklgewshg kles."
    }) %>

<%- include(forms+"text", {
      label: "fhaislfhdsa iflh es lkgfeh sklgewshg kles."
    }) %>

<%- include(forms+"text", {
      label: "fhaislfhdsa iflh es lkgfeh sklgewshg kles."
    }) %>

<%- include(forms+"text", {
      label: "fhaislfhdsa iflh es lkgfeh sklgewshg kles."
    }) %>

<%- include(forms+"text", {
      label: "fhaislfhdsa iflh es lkgfeh sklgewshg kles."
    }) %>


<%- include(forms+"pagination", {
      customClass: "margin-above--large",
      pagination: [
        {
          link: "/auth/claim/cshc/b-01",
          text: "Previous"
        },
        {
          link: "#claim-cancel-modal",
          text: "Cancel claim"
        },
        {
          link: "/auth/claim",
          text: "Save and exit",
          modifiers: ["floated"]
        },
        {
          link: "/auth/claim/cshc/b-03",
          text: "Save and next",
          modifiers: ["floated", "primary"]
        }
      ]
    }) %>

<%- include(forms+"modals/claim-cancel") %>

<script>
    $("#study-full-time-container").on("change", "input", function () {
        $(".gov-payments").hide();
        if ($("#study-full-time-1").prop("checked")) {
            $("#gov-payments-container").show();
        } else {
            $("#gov-payments-container").show();
        }
    })
    $("body #child-age-dd, body #child-age-mm, body #child-age-yyyy").on("keyup", function () {
        var date = moment(`${$("#child-age-dd").val()}/${$("#child-age-mm").val()}/${$("#child-age-yyyy").val()} 00:00 +11`);
        if (moment().diff(date, "years") >= 18) {
            $("#government-payments-container").show();
            $(".gov-payments").hide();
        } else {
            $("#government-payments-container").hide();
            $(".gov-payments").hide();
        }
    })
</script>

<%- include(templates+"footer") %>