<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
<%- include(partials+"head.ejs") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar.ejs") %>
  <%- include(partials+"header-authenticated.ejs") %>
  <%- include(partials+"header-nom-rep.ejs") %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row margin-above">

          <div class="form-group">
            <label class="uikit-text-input__label" for="sop">Checkbox
              <span class="hint display-block">Select all that apply.</span>
            </label>

            <div id="checkbox-wrapper">
              
              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input type="checkbox" class="uikit-control-input__input" id="checkbox1" name="checkbox1" data-toggle="#checkbox1-toggle" data-inject="#checkbox1-inject">
                  <span class="uikit-control-input__text">Checkbox 1</span>
                </label>
              </div>

              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input type="checkbox" class="uikit-control-input__input" id="checkbox2" name="checkbox2" data-toggle="#checkbox2-toggle" data-inject="#checkbox2-inject">
                  <span class="uikit-control-input__text">Checkbox 2</span>
                </label>
              </div>

              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input type="checkbox" class="uikit-control-input__input" id="checkbox3" name="checkbox3" data-toggle="#checkbox3-toggle" data-inject="#checkbox3-inject">
                  <span class="uikit-control-input__text">Checkbox 3</span>
                </label>
              </div>

              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input type="checkbox" class="uikit-control-input__input" id="checkbox4" name="checkbox4" data-toggle="#checkbox4-toggle" data-inject="#checkbox4-inject">
                  <span class="uikit-control-input__text">Checkbox 4</span>
                </label>
              </div>

              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input type="checkbox" class="uikit-control-input__input" id="checkbox5" name="checkbox5" data-toggle="#checkbox5-toggle" data-inject="#checkbox5-inject">
                  <span class="uikit-control-input__text">Checkbox 5</span>
                </label>
              </div>

              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input type="checkbox" class="uikit-control-input__input" id="checkbox6" name="checkbox6" data-toggle="#checkbox6-toggle" data-inject="#checkbox6-inject">
                  <span class="uikit-control-input__text">Checkbox 6</span>
                </label>
              </div>

              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input type="checkbox" class="uikit-control-input__input" id="checkbox7" name="checkbox7" data-toggle="#checkbox7-toggle" data-inject="#checkbox7-inject">
                  <span class="uikit-control-input__text">Checkbox 7</span>
                </label>
              </div>

              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input type="checkbox" class="uikit-control-input__input" id="checkbox8" name="checkbox8" data-toggle="#checkbox8-toggle" data-inject="#checkbox8-inject">
                  <span class="uikit-control-input__text">Checkbox 8</span>
                </label>
              </div>

              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input type="checkbox" class="uikit-control-input__input" id="checkbox9" name="checkbox9" data-toggle="#checkbox9-toggle" data-inject="#checkbox9-inject">
                  <span class="uikit-control-input__text">Checkbox 9</span>
                </label>
              </div>
            </div>
          </div>
          <div style="display: none;" id="checkbox1-inject">Inject 1 Is 1 Open 1</div>
          <div style="display: none;" id="checkbox2-inject">Inject 2 Is 2 Open 2</div>
          <div style="display: none;" id="checkbox3-inject">Inject 3 Is 3 Open 3</div>
          <div style="display: none;" id="checkbox4-inject">Inject 4 Is 4 Open 4</div>
          <div style="display: none;" id="checkbox5-inject">Inject 5 Is 5 Open 5</div>
          <div style="display: none;" id="checkbox6-inject">Inject 6 Is 6 Open 6</div>
          <div style="display: none;" id="checkbox7-inject">Inject 7 Is 7 Open 7</div>
          <div style="display: none;" id="checkbox8-inject">Inject 8 Is 8 Open 8</div>
          <div style="display: none;" id="checkbox9-inject">Inject 9 Is 9 Open 9</div>
          <div style="display: none;" id="checkbox1-toggle">Toggle 1 Is 1 Open 1</div>
          <div style="display: none;" id="checkbox2-toggle">Toggle 2 Is 2 Open 2</div>
          <div style="display: none;" id="checkbox3-toggle">Toggle 3 Is 3 Open 3</div>
          <div style="display: none;" id="checkbox4-toggle">Toggle 4 Is 4 Open 4</div>
          <div style="display: none;" id="checkbox5-toggle">Toggle 5 Is 5 Open 5</div>
          <div style="display: none;" id="checkbox6-toggle">Toggle 6 Is 6 Open 6</div>
          <div style="display: none;" id="checkbox7-toggle">Toggle 7 Is 7 Open 7</div>
          <div style="display: none;" id="checkbox8-toggle">Toggle 8 Is 8 Open 8</div>
          <div style="display: none;" id="checkbox9-toggle">Toggle 9 Is 9 Open 9</div>
        </div>
      </div>
    </section>

  </main>
  <%- include(partials+"footer.ejs") %>
</body>

<script type="text/javascript">
  $("#checkbox-wrapper").on("change", "input[type=checkbox]", function() {
    if(this.checked) {
        if($(this).data("inject") != undefined && $(this).data("inject") != "") {
          $($(this).data("inject")).clone().insertAfter($(this).parent().parent());
          $(this).parent().parent().next().show();
        }
        if($(this).data("toggle") != undefined && $(this).data("toggle") != "") {
          $($(this).data("toggle")).show();
        }
    } else {
        if($(this).data("inject") != undefined && $(this).data("inject") != "") {
          $(this).parent().parent().next().remove();
        }
        if($(this).data("toggle") != undefined && $(this).data("toggle") != "") {
          $($(this).data("toggle")).hide();
        }
    }

  });


</script>

</html>