<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <div class="container">

<%- include(partials+"components/form-partials/yes_no", {
  "legend": "The label",
  "yes_toggle": "#box1t",
  "yes_rToggle": "#box1rt",
  "no_toggle": "#box2t",
  "no_rToggle": "#box2rt"
}) %>


    </div>

<div id="box1rt">Box RT 1</div>
<div id="box2rt">Box RT 2</div>
<div id="box1t" hidden>Box T 1</div>
<div id="box2t" hidden>Box T 2</div>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>
</html>
