<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <div style="" class="margin-above--large">
<%#- include(partials+"components/form-partials/gender") %>
<div class="container">
  <div class="col-sm-9">
<%- include(partials+"components/form-partials/radio", {
  label: "Which of the following do you like?",
  hint: "(select all that apply)",
  boxes: [
    "Defence Service Home Loan Scheme (DSH)",
    "Defence Home Owner Scheme (DHOS)",
    "Defence Home Ownership Assistance Scheme (DHOAS)",
    {
      text: "Other",
      inject: "#Other-Box-container",
      tooltip: {
        content: "hello",
        screenreaderText: "abcd",
      }
    }
  ]
}); %>

<%- include(partials+"components/form-partials/text", {
  label: "Please enter:",
  id: "Other-Box",
  modifiers: ["hidden"],
}); %>

</div>
  </div>
  <%- include(partials+"components/layout/footer") %>
</body>
</html>
