<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Lifestyle Questionnaire, Domestic activities | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main id="main-content">

    <div class="section-feature border-bottom--mild">
      <div class="container">
        <div class="row">

          <!-- Progress bar -->
          <div class="topnav" id="myTopnav">
            <a href="javascript:void(0);" class="icon first" onclick="myFunction()">Menu <i class="fa fa-bars"></i></a>
            <a href="/auth/claim/pi-lsq/pi-lsq-start">Start</a>
            <a href="/auth/claim/pi-lsq/pi-lsq-claim1c">Mobility</a>
            <a href="/auth/claim/pi-lsq/pi-lsq-claim2c">Recreational activities</a>
            <a href="/auth/claim/pi-lsq/pi-lsq-claim3c">Personal relationships</a>
            <a href="/auth/claim/pi-lsq/pi-lsq-claim4c" class="active">Domestic activities</a>
            <a href="/auth/claim/pi-lsq/pi-lsq-claim5c">Employment</a>
            <a href="/auth/claim/pi-lsq/pi-lsq-claim6c" class="last">Review and Submit</a>
          </div>
          <div class="col-xs-12">
            <nav>
              <ul class="progress-container">
                <li class="progress-step progress-step--done">
                  <a href="/auth/claim/pi-lsq/pi-lsq-start">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Start</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="/auth/claim/pi-lsq/pi-lsq-claim1c">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Mobility</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="/auth/claim/pi-lsq/pi-lsq-claim2c">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Recreational activities</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="/auth/claim/pi-lsq/pi-lsq-claim3c">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Personal relationships</p>
                  </a>
                </li>
                <li class="progress-step progress-step--active">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Domestic activities</p>
                </li>
                <li class="progress-step">
                  <a href="/auth/claim/pi-lsq/pi-lsq-claim5c">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Employment</p>
                  </a>
                </li>
                <li class="progress-step">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Review&nbsp;and submit</p>
                </li>
                <li class="progress-step progress-step--last">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Done</p>
                </li>
              </ul>
            </nav>
          </div>

          <!-- Heading -->
          <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
            <h1 class="margin-below--none ss-align--center margin-above--none">
              <span class="heading">Domestic activities</span>
            </h1>
            <p class="margin-above--mid ss-align--center text-fullwidth">This section is about the psychological and physical impact your conditions have on your ability to perform
              domestic activities.
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="container margin-above--extra">
        <div class="row">

          <div class="col-sm-12">
            <h3>Complete the statement below based on your worst day</h3>
          </div>
          <div class="col-sm-12 margin-above margin-below--extra action-group">
            <div class="natural-language-statement">
              <label for="mobility" class="mys-label-nl">The effect my conditions have on my ability to perform domestic activities is &nbsp;
              </label>
              <span class="mys-dropdown mys-dropdown-nl">
                <select class="uikit-text-input mys-dropdown__select" id="mobility" name="mobility">
                  <option value="">Choose an option</option>
                  <option value="minimal">minimal</option>
                  <option value="low">low</option>
                  <option value="mild">mild</option>
                  <option value="moderate">moderate</option>
                  <option value="high">high</option>
                  <option value="veryhigh">very high</option>
                  <option value="extreme">extreme</option>
                </select>
              </span>

              <div class="action-group__reveal--closed" id="mobility-minimal">
                <div class="uikit-page-alerts uikit-page-alerts--info">
                  <p>A
                    <b>minimal</b> effect is a minor impact on your ability to perform domestic activities.
                    <br>
                    <i>For example, there are occasional times when you have trouble with harder tasks around the home but you are otherwise unaffected.</i>
                  </p>
                </div>
              </div>

              <div class="action-group__reveal--closed" id="mobility-low">
                <div class="uikit-page-alerts uikit-page-alerts--info">
                  <p>A
                    <b>low</b> effect is a slight impact on your ability to perform domestic activities.
                    <br>
                    <i>For example, you sometimes have trouble with difficult or heavy tasks around the home such as heavy gardening.
                    </i>
                  </p>
                </div>
              </div>

              <div class="action-group__reveal--closed" id="mobility-mild">
                <div class="uikit-page-alerts uikit-page-alerts--info">
                  <p>A
                    <b>mild</b> effect is a small impact on your ability to perform domestic activities.
                    <br>
                    <i>For example, you are unable to perform harder tasks such as mowing the lawn, cleaning the gutters or moving furniture.
                    </i>
                  </p>
                </div>
              </div>

              <div class="action-group__reveal--closed" id="mobility-moderate">
                <div class="uikit-page-alerts uikit-page-alerts--info">
                  <p>A
                    <b>moderate</b> effect is a considerable reduction in your ability to perform everyday domestic tasks. You are unable to perform heavy tasks but can perform
                    lighter household tasks, as long as you take breaks when needed.
                    <br>
                    <i>For example, washing the car or cleaning the floors.</i>
                  </p>
                </div>
              </div>

              <div class="action-group__reveal--closed" id="mobility-high">
                <div class="uikit-page-alerts uikit-page-alerts--info">
                  <p>A
                    <b>high</b> effect means your ability to perform domestic activities is greatly reduced.
                    <br>
                    <i>For example, you can only perform light household tasks and sometimes need household assistance. You may have difficulty making a bed, or taking out the
                      rubbish bin.
                    </i>
                  </p>
                </div>
              </div>

              <div class="action-group__reveal--closed" id="mobility-veryhigh">
                <div class="uikit-page-alerts uikit-page-alerts--info">
                  <p>A
                    <b>very high</b> effect means you can only do a limited range of light household tasks and may need help to complete these.
                    <br>
                    <i>For example, difficulty standing to wash the dishes or unable to cook meals.</i>
                  </p>
                </div>
              </div>

              <div class="action-group__reveal--closed" id="mobility-extreme">
                <div class="uikit-page-alerts uikit-page-alerts--info">
                  <p>An
                    <b>extreme</b> effect means you can't perform domestic activities. You are completely reliant on others.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <fieldset>
              <div class="form-group">
                <h3 class="uikit-text-input__label" for="textArea">Tell us in your own words how your ability to perform domestic activities has been affected
                  <span class="hint display-block">The more detail you provide the more accurate our Lifestyle Rating will be.</span>
                </h3>
                <textarea id="textArea" name="statementText" rows="6"></textarea>
              </div>
            </fieldset>
          </div>
        </div>
      </div>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/pi-lsq/pi-lsq-claim3c'">Previous</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim?user=LSQuser'">Save and exit</button>&nbsp;
          <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/pi-lsq/pi-lsq-claim5c'">Save and next</button>
        </div>
      </div>
      <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "64%";
    document.getElementById("percentage_value").textContent = "64%";

    // Dynamic content for mobility rating drop-down
    $("#mobility").change(function () {
      // minimal
      if ($('#mobility :selected').val() == "minimal") {
        $("#mobility-minimal").removeClass('action-group__reveal--closed');
        $("#mobility-minimal").addClass('action-group__reveal--open');
      } else {
        $("#mobility-minimal").removeClass('action-group__reveal--open');
        $("#mobility-minimal").addClass('action-group__reveal--closed');
      }
      // low
      if ($('#mobility :selected').val() == "low") {
        $("#mobility-low").removeClass('action-group__reveal--closed');
        $("#mobility-low").addClass('action-group__reveal--open');
      } else {
        $("#mobility-low").removeClass('action-group__reveal--open');
        $("#mobility-low").addClass('action-group__reveal--closed');
      }
      // mild
      if ($('#mobility :selected').val() == "mild") {
        $("#mobility-mild").removeClass('action-group__reveal--closed');
        $("#mobility-mild").addClass('action-group__reveal--open');
      } else {
        $("#mobility-mild").removeClass('action-group__reveal--open');
        $("#mobility-mild").addClass('action-group__reveal--closed');
      }
      // moderate
      if ($('#mobility :selected').val() == "moderate") {
        $("#mobility-moderate").removeClass('action-group__reveal--closed');
        $("#mobility-moderate").addClass('action-group__reveal--open');
      } else {
        $("#mobility-moderate").removeClass('action-group__reveal--open');
        $("#mobility-moderate").addClass('action-group__reveal--closed');
      }
      // high
      if ($('#mobility :selected').val() == "high") {
        $("#mobility-high").removeClass('action-group__reveal--closed');
        $("#mobility-high").addClass('action-group__reveal--open');
      } else {
        $("#mobility-high").removeClass('action-group__reveal--open');
        $("#mobility-high").addClass('action-group__reveal--closed');
      }
      // very high
      if ($('#mobility :selected').val() == "veryhigh") {
        $("#mobility-veryhigh").removeClass('action-group__reveal--closed');
        $("#mobility-veryhigh").addClass('action-group__reveal--open');
      } else {
        $("#mobility-veryhigh").removeClass('action-group__reveal--open');
        $("#mobility-veryhigh").addClass('action-group__reveal--closed');
      }
      // extreme
      if ($('#mobility :selected').val() == "extreme") {
        $("#mobility-extreme").removeClass('action-group__reveal--closed');
        $("#mobility-extreme").addClass('action-group__reveal--open');
      } else {
        $("#mobility-extreme").removeClass('action-group__reveal--open');
        $("#mobility-extreme").addClass('action-group__reveal--closed');
      }
    });
  </script>

  <!--responsive progress bar-->

  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>

</body>

</html>