<% /* START FOREACH */ forms.forEach(function(elem, index) {

	if(elem.type== "name") { /* START NAME */ %>

	<div class="form-group">
		<label 	class="uikit-text-input__label" 
				for="<%- elem.fields && elem.fields.title && elem.fields.title.id ? elem.fields.title.id : "title"; %>">
			<%- elem.fields && elem.fields.title && elem.fields.title.label ? elem.fields.title.label : "Title"; %>
		</label>
		<select class="uikit-text-input input-half" 
				name="<%- elem.fields && elem.fields.title && elem.fields.title.id ? elem.fields.title.id : "title"; %>" 
				id="<%- elem.fields && elem.fields.title && elem.fields.title.id ? elem.fields.title.id : "title"; %>" 
				type="text">
			
			<% if (elem.fields && elem.fields.title && elem.fields.title.options.length > 0 && typeof elem.fields.title.options[0] == "string") { /* BEGIN OPTIONS FOREACH */ 
				elem.fields.title.options.forEach(function(option, o_index) { %>
				<option <%- o_index == 0 ? " selected='' " : ""; %>
						value="<%- (option.toLowerCase()).replace(/ /g, "_"); %>">
					<%= option %></option>
				<% }); %>
			<% /* END OPTIONS BASIC FOREACH */ } else if (elem.fields && elem.fields.title && elem.fields.title.options.length > 0 && typeof elem.fields.title.options[0] == "object") { /* BEGIN OPTIONS ADVANCED FOREACH */

				/* check if there is a default select  */ 
				var selected = 0;
				var toggle = []; 
				elem.fields.options.forEach(function(option, o_index) {
					if(option.selected != undefined && option.selected == true) {
						selected++;
					}
					if (option.toggle != undefined && option.toggle != "") {
						toggle.append({"toggle-elem": option.toggle, "source-elem": option.value != undefined && option.value != "" ? (option.text.toLowerCase()).replace(/ /g, "_") : option.value});
					}
				});

				elem.fields.title.options.forEach(function(option, o_index) { 
					var select = false;
					if(selected === 1 && option.selected!= undefined && option.selected) {
						select = true;
					} else if (selected != 1 && o_index == 0) {
						select = true;
					}
					%>

				<option <%- option.hidden != undefined && option.hidden ? "hidden " : ""; %>
						<%- option.disabled != undefined && option.disabled ? "disabled " : ""; %>
						<%- option.toggle != undefined && option.toggle != "" ? "data-toggle='"+option.toggle+"' " %>
						<%- option.toggle != undefined && option.toggle != "" ? "data-toggle='"+option.toggle+"' " %>
						<%- select ? "selected " : ""; %>
						<%- option.id != undefined && option.id != "" ? "id='"+option.id+"' " : ""; %>
						value="<%- option.value != undefined && option.value != "" ? (option.text.toLowerCase()).replace(/ /g, "_") : option.value; %>"><%= option.text %></option>
				<% }); 

				if(toggle.length > 0) { %> 
					<script type="text/javascript">
						
					</script>
				<% } %>

			 <% } else { /* BEGIN OPTIONS ELSE */ %>
					  <option value="--_select_title_--" selected>-- Select title --</option>
					  <option value="not_specified">Not specified</option>
					  <option value="commissioner">Commissioner</option>
					  <option value="dame">Dame</option>
					  <option value="emeritus_professor">Emeritus Professor</option>
					  <option value="honourable_mr_justice">Honourable Mr Justice</option>
					  <option value="matron">Matron</option>
					  <option value="miss">Miss</option>
					  <option value="monsignor">Monsignor</option>
					  <option value="mr">Mr</option>
					  <option value="mr_justice">Mr Justice</option>
					  <option value="mrs">Mrs</option>
					  <option value="ms">Ms</option>
					  <option value="reverend_mr">Reverend Mr</option>
					  <option value="right_reverend_monsignor">Right Reverend Monsignor</option>
				<% /* END OPTIONS ELSE */ } %>
			</select>
		</div>

		<div class="form-group">
			<label class="uikit-text-input__label" for="<%- elem.fields && elem.fields.given_name && elem.fields.given_name.id ? elem.fields.given_name.id : "given_name"; %>"><%- elem.fields && elem.fields.given_name && elem.fields.given_name.id ? elem.fields.given_name.label : "Given name"; %>
				<%- elem.fields && elem.fields.given_name && elem.fields.given_name.hint ? "<span class='hint'>"+elem.fields.given_name.hint+"</span>" : "(first name)"  %>

			</label>
			<input class="uikit-text-input" name="<%- elem.fields && elem.fields.given_name && elem.fields.given_name.id ? elem.fields.given_name.id : "given_name"; %>" id="<%- elem.fields && elem.fields.given_name && elem.fields.given_name.id ? elem.fields.given_name.id : "given_name"; %>" type="text" style="max-width: 22em;">
		</div>

		<div class="form-group">
			<label class="uikit-text-input__label" for="<%- elem.fields && elem.fields && elem.fields.surname.id ? elem.fields.surname.id : "surname"; %>"><%- elem.fields && elem.fields.surname && elem.fields.surname.id ? elem.fields.surname.label : "Surname"; %>
				<%- elem.fields && elem.fields.surname && elem.fields.surname.hint ? "<span class='hint'>"+elem.fields.surname.hint+"</span>" : "(last name)"  %>

			</label>
			<input class="uikit-text-input" name="<%- elem.fields && elem.fields.surname && elem.fields.surname.id ? elem.fields.surname.id : "surname"; %>" id="<%- elem.fields && elem.fields.surname && elem.fields.surname.id ? elem.fields.surname.id : "surname"; %>" type="text" style="max-width: 22em;">
		</div>
		<% /* END NAME */ } else if (elem.type== "former_name") /* START FORMER NAME */ { %>




		<% /* END FORMER NAME */ } else if (elem.type== "gender") { /* START GENDER */ %>


		<% /* END GENDER */ } %>
<% /* END FOREACH */ }); %>
