<% /* START FOREACH */ forms.forEach(function(elem, index) {

	if(elem.type== "name") { /* START NAME */ %>

	<div class="form-group">
		<label class="uikit-text-input__label" for="<%- elem.fields && elem.fields.title && elem.fields.title.id ? elem.fields.title.id : "title" %>"><%- elem.fields && elem.fields.title && elem.fields.title.label ? elem.fields.title.label : "title" %></label>
		<select class="uikit-text-input input-half" name="<%- elem.fields && elem.fields.title && elem.fields.title.id ? elem.fields.title.id : "title" %>" id="<%- elem.fields && elem.fields.title && elem.fields.title.id ? elem.fields.title.id : "title" %>" type="text">

			<% if (elem.fields && elem.fields.title && elem.fields.title.options && elem.fields.title.options.length > 0) { /* BEGIN OPTIONS FOREACH */ 
				elem.fields.title.options.forEach(function(option, o_index) { %>
				<option <%- o_index == 0 ? " selected='' " : "" %>value="<%- (option.toLowerCase()).replace(/ /g, "_"); %>"><%= option %></option>
				<% }); %>
			<% /* END OPTIONS FOREACH */ } else { /* BEGIN OPTIONS ELSE */ %>
					  <option>-- Select title --</option>
					  <option>Not specified</option>
					  <option>Commissioner</option>
					  <option>Dame</option>
					  <option>Emeritus Professor</option>
					  <option>Honourable Mr Justice</option>
					  <option>Matron</option>
					  <option>Miss</option>
					  <option>Monsignor</option>
					  <option>Mr</option>
					  <option>Mr Justice</option>
					  <option>Mrs</option>
					  <option>Ms</option>
					  <option>Reverend Mr</option>
					  <option>Right Reverend Monsignor</option>
				<% /* END OPTIONS ELSE */ } %>
			</select>
		</div>

		<div class="form-group">
			<label class="uikit-text-input__label" for="<%- elem.fields && elem.fields.given_name && elem.fields.given_name.id ? elem.fields.given_name.id : "given_name" %>"><%- elem.fields && elem.fields.given_name && elem.fields.given_name.id ? elem.fields.given_name.label : "Given name" %>
				<%- elem.fields && elem.fields.given_name && elem.fields.given_name.hint ? "<span class='hint'>"+elem.fields.given_name.hint+"</span>" : "(first name)"  %>

			</label>
			<input class="uikit-text-input" name="<%- elem.fields && elem.fields.given_name && elem.fields.given_name.id ? elem.fields.given_name.id : "given_name" %>" id="<%- elem.fields && elem.fields.given_name && elem.fields.given_name.id ? elem.fields.given_name.id : "given_name" %>" type="text" style="max-width: 22em;">
		</div>

		<div class="form-group">
			<label class="uikit-text-input__label" for="<%- elem.fields && elem.fields && elem.fields.surname.id ? elem.fields.surname.id : "surname" %>"><%- elem.fields && elem.fields.surname && elem.fields.surname.id ? elem.fields.surname.label : "Surname" %>
				<%- elem.fields && elem.fields.surname && elem.fields.surname.hint ? "<span class='hint'>"+elem.fields.surname.hint+"</span>" : "(last name)"  %>

			</label>
			<input class="uikit-text-input" name="<%- elem.fields && elem.fields.surname && elem.fields.surname.id ? elem.fields.surname.id : "surname" %>" id="<%- elem.fields && elem.fields.surname && elem.fields.surname.id ? elem.fields.surname.id : "surname" %>" type="text" style="max-width: 22em;">
		</div>
		<% /* END NAME */ } else if (elem.type== "former_name") /* START FORMER NAME */ { %>

		<% /* END FORMER NAME */ } else if (elem.type== "gender") { /* START GENDER */ %>


		<% /* END GENDER */ } %>
		<% /* END FOREACH */ }); %>