<%
// v = locals.main_nav_active;
locals.el = {};
locals.el.items = ["Home","Claims","Payments","Cards","Transport","Profile","My Account"];
locals.el.itemID = ["home","claim","payments","healthcard","travel","profile","myaccount"];
locals.el.itemLink = ["/auth","/auth/claim","/auth/payments","/auth/healthcard","/auth/travel","/auth/profile","#open-myaccount-modal"];
locals.el.icons = ["fa-home","fa-list-alt","fa-calendar-check","fa-credit-card-blank","fa-car-alt","fa-user-circle","fa-exchange"];
// locals.iconTweaks = ["","","","","vertical-align:-0%;","line-height: -10px;","",""];
// locals.main_nav_active = v;
%>

<header class="uikit-header">
  <div class="container">
    <a class="nounderline" href="/auth">
      <img class="logo-myservice" src="../../../docs/images/logo-myservice.svg" alt="Auth link - MyService beta - logo" />
    </a>
    <button class="toggle" aria-expanded="false">Menu</button>
    <ul class="menu">
      <% locals.el.items.forEach(function(element, index) {
          var itemID = locals.el.itemID[index];
          var itemLink = locals.el.itemLink[index];
          var link = '<a href="' + itemLink + '" class="';
          var external = '';

          if (!!locals.main_nav_active && locals.main_nav_active === itemID) { 
            link += 'menu__item-link nav-active'; 
          } else {
            link += 'menu__item-link'; 
          }
          // if (!!locals.main_nav_active && locals.main_nav_active === itemID) { 
          //   link += ' class="nav-active"'; 
          // } 
           if (itemID === 'myaccount') { 
            external = 'menu__item--external'; 
          }
        
          link += '">';
          %>

      <li class="menu__item <%- external %>" id=<%- itemID %>><%- link %><div class="fal <%= locals.el.icons[index] %> fa-2x"></div>
        <div class="menu__item-name"><%= element %></div></a>
      </li>
      <%});%>
    </ul>
  </div>
</header>

<script>
  // $("#travel").mouseenter(function () {
  //   $(this).find('.icon').removeClass("fa-car-alt");
  //   $(this).find('.icon').addClass("fa-car-bump");
  // });
  // $("#travel").mouseleave(function () {
  //   $(this).find('.icon').addClass("fa-car-alt");
  //   $(this).find('.icon').removeClass("fa-car-bump");
  // });

</script>



<style>


</style>
