<%- include(templates+"header", {
  title: "Veteran Payment", 
  heading: "Income & assets"
}) %>
          
  <h2>Details of the total value of your<span class="partnered" hidden>'s and your partners</span> financial income and assets</h2> 

  <h3 class="margin-below--none">Financial assets</h3>
  <p class="hint margin-above--none">Financial assets include money in the bank, building society and credit union accounts, cash holdings, shares and other securities, bonds
    and debentures, money you have loaned and managed investments.</p>

  <%- include(forms+"text", {
    label: "Estimated total value",
    modifiers: ["dollarSign", "hintNewline", "inputShort"],
    placeholder: "0.00",
  }) %>

  <hr>
  <h3 class="margin-below--none">Other assets</h3>
  <p class="hint margin-above--none"> Other assets include real estate property (not including your home), a company, trust or business, vehicles, life insurance
    policies and valuables or collectible items.
  </p>

  <%- include(forms+"text", {
    label: "Estimated total value",
    modifiers: ["dollarSign", "hintNewline", "inputShort"],
    placeholder: "0.00",
  }) %>

  <hr>

  <h3 class="margin-below--none">Other Income received</h3>
  <p class="hint margin-above--none"> Other income received Includes <strong>GROSS income </strong>from
    employment, superannuation pensions, foreign income, rental income, boarders and
    lodgers (Net income after expenses), business income (Net income after expenses), annuities and other income streams and any other income you have not included
    elsewhere on this form.
  </p>

  <%- include(forms+"notice", {
    type: "warning",
    message: "<p>If you currently receive payments from Centrelink or the Department of Veterans’ Affairs, do not include these in your estimated income amount.</p>"
  }) %>
  
  <div class="hint-after-box">
    <%- include(forms+"text", {
      label: "Estimated total value",
      modifiers: ["dollarSign", "hintNewline", "inputShort"],
      placeholder: "0.00",
    }) %>
    
    <span class="hint">per fortnight</span>
  </div>



  <p id="save-next" hidden>Choose <b>save and next</b> to continue</p>

  <%- include("veteran-payment-state-switcher") %>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/veteran-payment/veteran-payment-04"
      },
      {
        text: "Cancel",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        link: "/auth/claim/veteran-payment/veteran-payment-06",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>



  <%- include("veteran-payment-state-switcher") %>

  <script>
    function stateSwitcher() {
      if (relationshipStatus === "single") {
        $(".partnered").hide();
      } else {
        $(".partnered").show();
      }
    }
  </script>
<%- include(templates+"footer") %>