<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Subsidy authoriation request | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main id="main-content">

    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Living arrangements</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="margin-above--extra margin-below--extra">

            <%- include(partials+"components/form-partials/radio", {
                label: "Which of the following best describes your current living arrangements?",
                boxes: [
                  "Home",
                  {
                    text: "Private rental",
                    inject: "#rent"
                  },
                  {
                  text: "Other",
                  inject: "other-text"
                  }
                ]
              }); %>

            <div id="rent">
              dsdfsdfsdfds
            </div>

            <%- include(partials+"components/form-partials/text", {
              label: "Please enter your name"
            }); %>

          </div>

          <div id="save-next" hidden>
            <p>Choose <b>save and next</b> to continue</p>
          </div>

          <div class="pagination margin-above--extra">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/veteran-payment/veteran-payment-03'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/veteran-payment/veteran-payment-05'">Save and next</button>
            </div>
          </div>

          <%- include(partials+"content/modals/claims-cancel-modal") %>
        </div>

  </main>

  <%- include(partials+"components/layout/footer") %>

  <script>
    $(document).ready(function () {

      $('input[name=postal]').change(function () {
        var postal = $('input[name=postal]:checked').val();
        if (postal == "yes") {
          $("#postal-reason").show("fast");
          $("#save-next").hide();
        } else {
          $("#postal-reason").hide();
          $("#save-next").hide();
        }
      });

      $('input[name=update_address]').change(function () {
        var updateAddress = $('input[name=update_address]:checked').val();
        if (updateAddress == "yes") {
          $("#save-next").show("fast");
        } else {
          $("#save-next").show("fast");
        }
      });

      // Progress percentage
      document.getElementById("percentage").style.width = "20%";
      document.getElementById("percentage_value").textContent = "20%";

    });
  </script>

</body>

</html>
