<%

if (typeof id === "undefined") var id = formPartialsID("address");

%>


<fieldset <%- typeof modifiers !== "undefined" && modifiers && modifiers.includes("hidden") ? "hidden" : "" %> id="<%- id %>">
    <legend
      for="<%- id %>"
      class="uikit-text-input__label">
        <%- typeof legend !== "undefined" ? legend : "" %>

        <% if (typeof tooltip !== "undefined" && typeof tooltip.screenreaderText !== "undefined" && typeof tooltip.content !== "undefined") { %>
          <%- 
            generateTooltip({
              screenreaderText: tooltip.screenreaderText,
              content: tooltip.content,
              id,
              modifiers
            })
          %>
        <% } %>

        <% if (typeof hint !== "undefined") { %>
          <span class="hint"><%- typeof modifiers !== "undefined" && modifiers && modifiers.includes("hintNewLine") ? "<br>" : "" %><%- hint %></span>
        <% } %>
    </legend>
    <div class="form-group">
      <label for="<%- id %>-country" class="uikit-text-input__label">Country</label>
      <select name="<%- id %>-country" id="<%- id %>-country" class="uikit-text-input input-half">
        <option value="australia" selected>Australia</option>
        <option value="nz">New Zealand</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="<%- id %>-building" class="uikit-text-input__label">Building name or address prefix <span class="hint">optional</span></label>
      <input type="text" name="<%- id %>-building" id="<%- id %>-building" class="uikit-text-input">
    </div>
    
    <div class="form-group">
      <label for="<%- id %>-address-1" class="uikit-text-input__label">Address line 1</label>
      <input type="text" name="<%- id %>-address-1" id="<%- id %>-address-1" class="uikit-text-input">
    </div>
    
    <div class="form-group">
      <label for="<%- id %>-address-2" class="uikit-text-input__label">Address line 2 <span class="hint">optional</span></label>
      <input type="text" name="<%- id %>-address-2" id="<%- id %>-address-2" class="uikit-text-input">
    </div>
    
    <div class="form-group">
      <label for="<%- id %>-suburb" class="uikit-text-input__label">Suburb or town</label>
      <input type="text" name="<%- id %>-suburb" id="<%- id %>-suburb" class="uikit-text-input">
    </div>
    
    <div class="form-group" id="<%- id %>-postcode-wrapper">
      <label for="<%- id %>-postcode" class="uikit-text-input__label">Postcode</label>
      <input type="text" name="<%- id %>-postcode" id="<%- id %>-postcode" class="uikit-text-input">
    </div>


</fieldset>

<script>
  $("<%- id %>-country").on("change", function() {
    if ($(":selected", this).val() === "nz") {
      $("<%- id %>-postcode-wrapper").hide();
    } else {
      $("<%- id %>-postcode-wrapper").show();
    }
  })
</script>