<%

if (typeof id === "undefined") var id = formPartialsID("address");
if (typeof modifiers === "undefined") var modifiers = []; 
if (typeof modifiers === "string") modifiers = [modifiers]; 

%>


<fieldset
  <%- modifiers.includes("hidden") ? "hidden" : "" %>
  class="<%- typeof customClass !== "undefined" ? (typeof customClass === "object" ? customClass.join(" ") : customClass) : "" %>"
  id="<%- id %>-container">

    <%- generateLabel({
        id,
        modifiers: modifiers.concat(["legend"]),
        label: typeof label !== "undefined" ? label : "Address",
        hint: typeof hint !== "undefined" ? hint : null,
        tooltip: typeof tooltip !== "undefined" ? tooltip : null
      }) %>

    <% if (!modifiers.includes("australiaOnly")) { %>
      <%- include(forms+"dropdown", {
        label: "Country",
        id: `${id}-country`,
        options: [
          {
            text: "Australia",
            toggle: `#${id}-postcode-wrapper, #${id}-state-container`
          },
          "New Zealand"
        ]

      }) %>
    <% } %>
    
    <div class="form-group">
      <label for="<%- id %>-address-1" class="uikit-text-input__label">Address <span class="<%- id %>-single-field hint">(start typing your address)</span><span class="<%- id %>-full-address" hidden>line 1</span></label>
      <input type="search" class="uikit-text-input" id="<%- id %>-address-1">

      <div id="<%- id %>-typeahead" class="s-typeahead-wrapper" hidden>
        <div class="s-typeahead-list--wrapper">
          <ul class="s-typeahead-list">

            <li class="s-typeahead-list-item" id="<%- id %>-cant-find">I can't find my address</li>
          </ul>
        </div>
      </div>
    </div>
    
    <%- include(forms+"text", {
      label: "Address line 2",
      customClass: `${id}-full-address`,
      id: `${id}-address-2`,
      hint: " (optional)",
      modifiers: ["inputFullLength", "hidden"]
    }) %>
    
    <%- include(forms+"text", {
      label: "Suburb or town",
      customClass: `${id}-full-address`,
      modifiers: ["inputFullLength", "hidden"],
      id: `${id}-suburb`
    }) %>
    
    <%- include(forms+"text", {
      label: "Postcode",
      modifiers: ["hidden"],
      customClass: `${id}-full-address`,
      modifiers: ["inputShort", "hidden"],
      id: `${id}-postcode`
    }) %>

    <%- include(forms+"dropdown", {
      label: "State or territory",
      modifiers: ["hidden"],
      customClass: `${id}-full-address`,
      id: `${id}-state`,
      options: [
        "-- Select state or territory --",
        {
          text: "Australian Capital Territory",
          value: "act"
        },
        {
          text: "New South Wales",
          value: "nsw"
        },
        {
          text: "Northern Territory",
          value: "nt"
        },
        {
          text: "Queensland",
          value: "qld"
        },
        {
          text: "South Australia",
          value: "sa"
        },
        {
          text: "Tasmania",
          value: "tas"
        },
        {
          text: "Victoria",
          value: "vic"
        },
        {
          text: "Western Australia",
          value: "wa"
        }
      ]
    }) %>
    
</fieldset>
<script>
  $("#<%- id %>-address-1").on("keyup", function() {
    if ($(this).val().length > 0) {
      $("#<%- id %>-typeahead").show()
      $(".s-typeahead-list-item:not(#<%- id %>-cant-find)").remove();
      $(addresses.filter(addr => addr.toLowerCase().includes($("#<%- id %>-address-1").val().toLowerCase())).map(i => `<li class="s-typeahead-list-item">${i.replace($("#<%- id %>-address-1").val().toUpperCase(), `<b>${$("#<%- id %>-address-1").val().toUpperCase()}</b>`)}</li>`).join("")).insertBefore("#<%- id %>-cant-find")
    } else {
      $("#<%- id %>-typeahead").hide()
    }
  })

  $("#<%- id %>-cant-find").on("click", function() {
    $(".<%- id %>-full-address").show()
    $(".<%- id %>-single-field").hide()
    $("#<%- id %>-typeahead").hide()
    $("#<%- id %>-address-1").focus()
  })

  $("#<%- id %>-typeahead").on("click", ".s-typeahead-list-item:not(#<%- id %>-cant-find)", function() {
    $(".<%- id %>-full-address").hide()
    $(".<%- id %>-single-field").show()
    $("#<%- id %>-typeahead").hide()
    $("#<%- id %>-address-1").val($(this).text())
    $("#<%- id %>-typeahead").hide();
  })

  var addresses = [
    "1 APPLE BERRY PL NORTH BATEMANS BAY NSW 2536",
    "1 APPLE BLOSSOM PL EIGHT MILE PLAINS QLD 4113",
    "1 APPLE BLOSSOM WAY HAMLYN TERRACE NSW 2259",
    "1 APPLE CRES CALOUNDRA WEST QLD 4551",
    "1 APPLE GATE CL MITTAGONG NSW 2575",
    "1 APPLE GUM PL FITZGIBBON QLD 4018",
    "1 APPLE GUM PL PALMVIEW QLD 4553",
    "1 APPLE GUM WAY MURRAYS BEACH NSW 2281",
    "1 APPLE PL MACQUARIE FIELDS NSW 2564",
    "1 APPLE ST BERRIMA NSW 2577",
    "1 APPLE ST CONSTITUTION HILL NSW 2145",
    "1 APPLE TREE CRES WYOMING NSW 2250",
    "1 APPLE TREE HILL DR ARMIDALE NSW 2350",
    "1 APPLEBERRY LANE TEWANTIN QLD 4565",
    "1 APPLEBLOSSOM GR ABERCROMBIE NSW 2795",
    "1 APPLEBLOSSOM PL NERANG QLD 4211",
    "1 APPLEBOX AVE GLENWOOD NSW 2768",
    "1 APPLEBOX PL JERRABOMBERRA NSW 2619",
    "1 APPLEBY CL KENSINGTON GROVE QLD 4341",
    "1 APPLEBY CL NORTH LAKES QLD 4509",
    "1 APPLEBY ST GRAFTON NSW 2460",
    "1 APPLECROSS AVE CASTLE HILL NSW 2154",
    "1 APPLECROSS WAY ELANORA QLD 4221",
    "1 APPLEFORD AVE JACKA ACT 2914",
    "1 APPLEGIN CT MOOLOOLABA QLD 4557",
    "1 APPLEGUM CRES NORTH KELLYVILLE NSW 2155",
    "1 APPLEGUM DR LITTLE MOUNTAIN QLD 4551",
    "1 APPLEGUM PL MOLENDINAR QLD 4214",
    "1 APPLEGUM PL MOUNT RIVERVIEW NSW 2774",
    "1 APPLEGUM PL PRESTONS NSW 2170",
    "1 APPLEGUM PL WOONGARRAH NSW 2259",
    "1 APPLEMINT CT KALLANGUR QLD 4503",
    "1 APPLETON AVE LURNEA NSW 2170",
    "1 APPLETON AVE WESTON NSW 2326",
    "1 APPLETREE AVE ABERGLASSLYN NSW 2320",
    "1 APPLETREE CL GLENNING VALLEY NSW 2261",
    "1 APPLETREE CT MERINGANDAN WEST QLD 4352",
    "1 APPLETREE DR CHERRYBROOK NSW 2126",
    "1 APPLETREE GR OAKHURST NSW 2761",
    "1 APPLETREE PL MENAI NSW 2234",
    "1 APPLETREE RD WEST WALLSEND NSW 2286",
    "1 APPLETREE ST UPPER COOMERA QLD 4209",
    "1 APPLETREE ST WINGHAM NSW 2429",
    "1 APPLEWOOD CT KALLANGUR QLD 4503",
    "1A APPLE GATE CL MITTAGONG NSW 2575",
    "1A APPLECROSS AVE CASTLE HILL NSW 2154",
    "1A APPLEGUM PL MOUNT RIVERVIEW NSW 2774",
    "1B APPLEGUM PL MOUNT RIVERVIEW NSW 2774",
    "1B APPLEWOOD CT KALLANGUR QLD 4503",
    "1C APPLEGUM PL MOUNT RIVERVIEW NSW 2774",
    "U 2 1 APPLE CRES CALOUNDRA WEST QLD 4551"
  ]
</script>