<%

if (typeof id === "undefined") var id = formPartialsID("address");
if (typeof modifiers === "undefined") var modifiers = []; 
if (typeof modifiers === "string") modifiers = [modifiers]; 

%>


<fieldset
  <%- modifiers.includes("hidden") ? "hidden" : "" %>
  class="<%- typeof customClass !== "undefined" ? (typeof customClass === "object" ? customClass.join(" ") : customClass) : "" %>"
  id="<%- id %>-container">

    <%- generateLabel({
        id,
        modifiers: modifiers.concat(["legend"]),
        label: typeof label !== "undefined" ? label : "Address",
        hint: typeof hint !== "undefined" ? hint : null,
        tooltip: typeof tooltip !== "undefined" ? tooltip : null
      }) %>

    <% if (!modifiers.includes("australiaOnly")) { %>
      <%- include(forms+"dropdown", {
        label: "Country",
        id: `${id}-country`,
        options: [
          {
            text: "Australia",
            toggle: `#${id}-postcode-wrapper, #${id}-state-container`
          },
          "New Zealand"
        ]

      }) %>
    <% } %>
    
    <div class="form-group">
      <label for="<%- id %>-address-1" class="uikit-text-input__label">Address <span class="<%- id %>-single-field hint">(start typing your address)</span><span class="<%- id %>-full-address" hidden>line 1</span></label>
      <input type="search" class="uikit-text-input" id="<%- id %>-address-1">

      <div id="<%- id %>-typeahead" class="s-typeahead-wrapper" hidden>
        <div class="s-typeahead-list--wrapper">
          <ul class="s-typeahead-list">
            
            <li class="s-typeahead-list-item" id="<%- id %>-cant-find">I can't find my address</li>
          </ul>
        </div>
      </div>
    </div>
    
    <%- include(forms+"text", {
      label: "Address line 2",
      customClass: `${id}-full-address`,
      id: `${id}-address-2`,
      hint: " (optional)",
      modifiers: ["inputFullLength", "hidden"]
    }) %>
    
    <%- include(forms+"text", {
      label: "Suburb or town",
      customClass: `${id}-full-address`,
      modifiers: ["inputFullLength", "hidden"],
      id: `${id}-suburb`
    }) %>
    
    <%- include(forms+"text", {
      label: "Postcode",
      modifiers: ["hidden"],
      customClass: `${id}-full-address`,
      modifiers: ["inputShort", "hidden"],
      id: `${id}-postcode`
    }) %>

    <%- include(forms+"dropdown", {
      label: "State or territory",
      modifiers: ["hidden"],
      customClass: `${id}-full-address`,
      id: `${id}-state`,
      options: [
        "-- Select state or territory --",
        {
          text: "Australian Capital Territory",
          value: "act"
        },
        {
          text: "New South Wales",
          value: "nsw"
        },
        {
          text: "Northern Territory",
          value: "nt"
        },
        {
          text: "Queensland",
          value: "qld"
        },
        {
          text: "South Australia",
          value: "sa"
        },
        {
          text: "Tasmania",
          value: "tas"
        },
        {
          text: "Victoria",
          value: "vic"
        },
        {
          text: "Western Australia",
          value: "wa"
        }
      ]
    }) %>
    
</fieldset>
<script>
  $("#<%- id %>-address-1").on("keyup", function() {
    console.log("change")
    if ($(this).val().length > 0) {
      $("#<%- id %>-typeahead").show()
    } else {
      $("#<%- id %>-typeahead").hide()
    }
  })

  $("#<%- id %>-cant-find").on("click", function() {
    $(".<%- id %>-full-address").show()
    $(".<%- id %>-single-field").hide()
    $("#<%- id %>-typeahead").hide()
  })
</script>