<%

if (typeof id === "undefined") var id = formPartialsID("date");
if (typeof modifiers === "undefined") var modifiers = []; 
if (typeof modifiers === "string") modifiers = [modifiers]; 

%>

<div class="form-group <%- typeof customClass !== "undefined" ? (typeof customClass === "array" ? customClass.join(" ") : customClass) : "" %>" <%- modifiers.includes("hidden") ? "hidden" : "" %> id="<%- id %>-container">
  <fieldset>
    <%- generateLabel({
        id,
        modifiers: modifiers.concat(["legendLabel"]),
        label: typeof label !== "undefined" ? label : null,
        hint: typeof hint !== "undefined" ? hint : (modifiers.includes("noDay") ? "(mm / yyyy)" : "(dd / mm / yyyy)"),
        tooltip: typeof tooltip !== "undefined" ? tooltip : null
      }) %>

    <% if (!(modifiers.includes("noDay"))) { %>
    <input type="number" class="uikit-text-input dd" name="<%- id %>-dd" id="<%- id %>-dd" maxlength="2" aria-label="2 digit day">
    <%- modifiers.includes("noSlashes") ? "" : `<span aria-hidden="true">/</span>` %>
    <% } %>

    <input type="number" class="uikit-text-input mm" name="<%- id %>-mm" id="<%- id %>-mm" maxlength="2" aria-label="2 digit month">

    <%- modifiers.includes("noSlashes") ? "" : `<span aria-hidden="true">/</span>` %>
    <input type="number" class="uikit-text-input yyyy" name="<%- id %>-yyyy" id="<%- id %>-yyyy" maxlength="4" aria-label="4 digit year">
  </fieldset>
  
  <% if (!(modifiers.includes("noScript"))) { %>


  <script>
    <% if (!(modifiers.includes("noDay"))) { %>
      $("#<%- id %>-dd").on("keyup", function (e) {
        if ((e.which >= 49 && e.which <= 57) || (e.which >= 96 && e.which <= 105) || e.which === 46 || e.which === 8) {
          if ($(this).val().length === 2) {
            $("#<%- id %>-mm").focus();
          }
        }
      })
      <% } %>

        $("#<%- id %>-mm").on("keyup", function (e) {
          if ((e.which >= 49 && e.which <= 57) || (e.which >= 96 && e.which <= 105) || e.which === 46 || e.which === 8) {
        <% if (!(modifiers.includes("noDay"))) { %>
          if ($(this).val().length === 0) {
                $("#<%- id %>-dd").focus();
              }
        <% } %>
        if ($(this).val().length === 2) {
              $("#<%- id %>-yyyy").focus();
            }
          }
        })

    $("#<%- id %>-yyyy").on("keyup", function (e) {
      if ((e.which >= 49 && e.which <= 57) || (e.which >= 96 && e.which <= 105) || e.which === 46 || e.which === 8) {
        if ($(this).val().length === 0) {
          $("#<%- id %>-mm").focus();
        }
      }
    })


  </script>
  <% } %>
</div>
