<%

if (typeof id === "undefined") var id = formPartialsID("dropdown");

%>

<div class="form-group" >
  <label 
    for="<%- id %>"
    class="uikit-text-input__label"
  >
      <%- label %>

      <% if (typeof tooltip !== "undefined" && typeof tooltip.screenreaderText !== "undefined" && typeof tooltip.content !== "undefined") { %>
        <%- 
          generateTooltip({
            screenreaderText: tooltip.screenreaderText,
            content: tooltip.content,
            id,
            modifiers
          })
        %>
      <% } %>

      <% if (typeof hint !== "undefined") { %>
        <span class="hint"><%- typeof modifiers !== "undefined" && modifiers && modifiers.includes("hintNewLine") ? "<br>" : "" %><%- hint %></span>
      <% } %>
  </label>

  <select
    class="uikit-text-input <%- typeof modifiers !== "undefined" && modifiers.includes("inputFullLength") ? "" : "input-half" %>"
    id="<%- id %>"
    <%- typeof modifiers !== "undefined" && modifiers.includes("disabled") ? "disabled" : "" %>
  >

  <% const opts = options.map(opt => {
    if (typeof opt === "string") {
      opt = {
        text: opt
      }
    }
    %>
    <%- generateOption(opt).html; %>

    <% 


      let { toggle, rToggle } = generateOption(opt);
      return {
        toggle: toggle,
        rToggle: rToggle
      }

    });
    %>

  </select>
 
  <% if (opts.filter(opt => opt.toggle !== undefined || opt.rToggle !== undefined).length > 0) { %>
    <script type="text/javascript">
        $("#<%- id %>").change(function() {

          $("option:selected", this).each(function() {
            $($(this).data("toggle")).show();
            $($(this).data("r-toggle")).hide();
          });

          $("option:not(:selected)", this).each(function() {
            $($(this).data("toggle")).hide();
            $($(this).data("r-toggle")).show();
          });
        })
    </script>
  <% } %>

</div>