<%

if (typeof id === "undefined") var id = formPartialsID("radio");
let boxCounter = 0;

%>

<div class="form-group" >
  <fieldset
    <%- typeof modifiers !== "undefined" && modifiers && modifiers.includes("disabled") ? "disabled" : "" %>
    id="<%- id %>"
  >

    <legend class="uikit-text-input__label legend-override">
        <%- typeof label !== "undefined" ? label : "" %>

        <% if (typeof tooltip !== "undefined" && typeof tooltip.screenreaderText !== "undefined" && typeof tooltip.content !== "undefined") { %>
          <%- 
            generateTooltip({
              screenreaderText: tooltip.screenreaderText,
              content: tooltip.content,
              id,
              modifiers
            })
          %>
        <% } %>

        <% if (typeof hint !== "undefined") { %>
          <span class="hint"><%- typeof modifiers !== "undefined" && modifiers && modifiers.includes("hintNewLine") ? "<br>" : "" %><%- hint %></span>
        <% } %>
    </legend>

    <% const boxs = boxes.map(box => {
      boxCounter++;
      
      if (typeof box === "string") {
        box = {
          text: box,
          baseID: id,
          type: "radio",
          boxID: boxCounter 
        }
      } else if (typeof box === "object") {
        box.baseID = id;
        box.type = "radio";
        box.boxID = boxCounter;
      }

      %>

      <%- generateCheckRadio(box).html; %>

      <% 


        let { toggle, rToggle, inject } = generateCheckRadio(box);
        return {
          toggle,
          rToggle,
          inject
        }

      });
      %>

  </fieldset>

  <% if (boxes.filter(box => box.toggle !== undefined || box.rToggle !== undefined || box.inject !== undefined).length > 0) { %>
    <script type="text/javascript">
      $("#<%- id %>").change("input[type=radio]", function() {
        $("input[type=radio]:checked", this).each(function() {
          $($(this).data("toggle")).show();
          $($(this).data("r-toggle")).hide();
          $(this).closest("fieldset").find($(this).data("inject")).remove();
          $($(this).data("inject")).clone().insertAfter($(this).closest(".uiToolKitCheckBox"));
          $(this).closest("fieldset").find($($(this).data("inject"))).show();
        });

        $("input[type=radio]:not(:checked)", this).each(function() {
          $($(this).data("toggle")).hide();
          $($(this).data("r-toggle")).show();
          $(this).closest("fieldset").find($(this).data("inject")).remove();
        });
      })
    </script>
  <% } %>

</div>