<div class="claim-end margin-below--extra">
  <div class="ie-success-animation">
    <% if (typeof type === "undefined" || type === "submitted") { %>
      <img src="/docs/images/ico-submitted-large.svg" alt="Claim submitted icon">
    <% } else if (type === "success") { %>
      <img src="/docs/images/ico-tick-green-outline.svg" alt="Claim success icon">
    <% } else if (typeof type === "in-progress") { %>
      <img src="/docs/images/ico-in-progress.svg" alt="Claim in progress icon">
    <% } %>
  </div>
  <div class="submitted-animation">
    <% if (typeof type === "undefined" || type === "submitted") { %>
      <%- include(partials+"components/animations/submitted") %>
    <% } else if (type === "success") { %>
      <%- include(partials+"components/animations/success") %>
    <% } else if (typeof type === "in-progress") { %>
      <%- include(partials+"components/animations/in-progress") %>
    <% } %>
  </div>
  <div class="centered-item">
    <h1 class="margin-above--small margin-below--none transition-content transition-content--open"><%- submitting_text %></h1>
    <h1 class="margin-above--small margin-below--none transition-content"><%- submitted_text %></h1>
  </div>
  <div class="margin-below--extra transition-content mys-centred-item submitted-content">
    <hr class="orange-divider">
    <%- supporting_text %>
  </div>
</div>

<script>
  setTimeout(function() {
    $(".transition-content").toggleClass("transition-content--open");
  }, 3000)
</script>