<%

if (typeof id === "undefined") var id = formPartialsID("text");
if (typeof modifiers === "undefined") var modifiers = []; 
if (typeof modifiers === "string") modifiers = [modifiers]; 

%>

<div class="form-group <%- locals.class %>" <%- modifiers.includes("hidden") ? "hidden" : "" %> id="<%- id %>-container">
  <%- generateLabel({
      id,
      modifiers,
      label: typeof label !== "undefined" ? label : null,
      hint: typeof hint !== "undefined" ? hint : null,
      tooltip: typeof tooltip !== "undefined" ? tooltip : null
    }) %>
  <input type="text" class="uikit-text-input <%- modifiers.includes("inputFullLength") ? "" : "input-half" %> <%- modifiers.includes("inputShort") ? "input-small yyyy" : "" %>" name="<%- id %>" id="<%- id %>"
    <%- modifiers.includes("disabled") ? "disabled" : "" %> <%- typeof placholder !== "undefined" ? `placeholder="${placeholder}"` : "" %>
    <%- typeof value !== "undefined" ? `value="${value}"` : "" %>>
</div>
