<%

if (typeof id === "undefined") var id = formPartialsID("text");
if (typeof modifiers === "undefined") var modifiers = []; 
if (typeof modifiers === "string") modifiers = [modifiers]; 

%>

<div class="form-group <%- typeof customClass !== "undefined" ? (typeof customClass === "object" ? customClass.join("") : customClass) : "" %>" <%- modifiers.includes("hidden") ? "hidden" : "" %> id="<%- id %>-container">
  <%- generateLabel({
      id,
      modifiers,
      label: typeof label !== "undefined" ? label : null,
      hint: typeof hint !== "undefined" ? hint : null,
      tooltip: typeof tooltip !== "undefined" ? tooltip : null
    }) %>
  <% if (modifiers.includes("dollarSign")) { %>
    <span class="input-support-text">$</span>
  <% } %>
  <input type="text" class="uikit-text-input <%- modifiers.includes("inputFullLength") ? "" : "input-half" %> <%- modifiers.includes("inputShort") ? "input-small" : "" %> <%- modifiers.includes("inputXShort") ? "yyyy" : "" %>" name="<%- id %>" id="<%- id %>"
    <%- modifiers.includes("disabled") ? "disabled" : "" %> 
    <%- typeof placeholder !== "undefined" ? `placeholder="${placeholder}"` : "" %>
    <%- typeof value !== "undefined" ? `value="${value}"` : "" %>>
  <% if (modifiers.includes("percentSign")) { %>
    <span class="input-support-text">%</span>
  <% } %>
</div>
