<%- include(templates+"header", {
  claim: "Qualifying Service",
  heading: "About your claim"
}) %>

<%- include(forms+"radio-icon", {
      label: "What are you applying as?",
      id: "applying-as",
      all_toggle: "#other-names-container",
      boxes: [
        {
          text: "Australian Defence Force Veteran",
          toggle: "#serve-ww2-container",
          rToggle: "#country-of-enlistment-container",
          icon: {
            icon: "fa-user",
            weight: "fal"
          }
        },
        {
          text: "Commonwealth Veteran",
          icon: {
            icon: "fa-user",
            weight: "fal"
          }
        },
        {
          text: "Allied Veteran",
          toggle: "#assist-enemy-container",
          icon: {
            icon: "fa-user",
            weight: "fal"
          }
        }
      ]
    }) %>

<form id="formBody">

  <%- include(forms+"yes_no", {
      label: "Did you serve under any other names?",
      id: "other-names",
      yes_toggle: "#old-names-container",
      modifiers: ["hidden"]
    }) %>

  <%- include(forms+"previous-names", {
      id: "old-names",
      modifiers: ["hidden"]
    }) %>

  <%- include(forms+"yes_no", {
      id: "serve-ww2",
      label: "Did you serve during World War 2?",
      yes_toggle: "#serve-ww2-info-container",
      no_toggle: "#save-next",
      modifiers: ["hidden"]
    }) %>

  <%- include(forms+"notice", {
      type: "warning",
      modifiers: ["hidden"],
      id: "serve-ww2-info",
      message: `<p>You will need to complete the following forms and send to DVA:</p>
                <p><a href="https://www.dva.gov.au/dvaforms/Documents/D0506A.pdf">Qualifying Service Details - Service during World War 2 form (D0506A)</a></p>
                <p><a href="https://www.dva.gov.au/dvaforms/Documents/D0506.pdf">Claim to Determine Qualifying Service by a Current or ex-Member of the ADF (D0506)</a></p>`
    }) %>


  <%- include(forms+"prepop/country-dropdown", {
      label: "Country of enlistment",
      id: "country-of-enlistment",
      modifiers: ["hidden"]
    }) %>

  <%- include(forms+"yes_no", {
      label: "Did you serve with or assist forces of the enemy or a country at war with Australia?",
      id: "assist-enemy",
      yes_toggle: "#assist-enemy-info-container",
      no_toggle: "#serve-yugoslavia-container",
      modifiers: ["hidden"]
    }) %>


  <%- include(forms+"notice", {
      type: "warning",
      modifiers: ["hidden"],
      id: "assist-enemy-info",
      message: "You do meet the basic eligibility to apply for this claim."
    }) %>

  <%- include(forms+"yes_no", {
      label: "Did you serve with forces in Yugoslavia during World War 2?",
      id: "serve-yugoslavia",
      yes_toggle: "#serve-yugoslavia-info-container",
      no_toggle: "#serve-vietnam-container",
      modifiers: ["hidden"]
    }) %>

  <%- include(forms+"notice", {
      type: "warning",
      modifiers: ["hidden"],
      id: "serve-yugoslavia-info",
      message: `
        <p>You will need to complete the following forms and send to DVA:</p>
        <p><a href="https://www.dva.gov.au/dvaforms/Documents/D0507B.pdf">Qualifying Service details - Service with Forces in Yugoslavia during the Second World War
            (D0507A)</a></p>
        <p><a href="https://www.dva.gov.au/dvaforms/Documents/D0507.pdf">Claim to Determine Qualifying Service by a Commonwealth or Allied Veteran (D0507)</a></p>`
    }) %>

  <%- include(forms+"yes_no", {
      label: "Did you serve with the armed forces of the Republic of Vietnam?",
      id: "serve-vietnam",
      yes_toggle: "#education-camp-container",
      no_toggle: "#save-next",
      modifiers: ["hidden"]
    }) %>

  <%- include(forms+"yes_no", {
    label: 'After the war, were you sent to an internment camp, "re-education" camp or any other sort of camp?',
    id: "education-camp",
    yes_toggle: "#serve-vietnam-info-container",
    no_toggle: "#save-next",
    modifiers: ["hidden"]
  }) %>

  <%- include(forms+"notice", {
      modifiers: ["hidden"],
      id: "serve-vietnam-info",
      message: `
        <p>If you have a re-education certificate you should provide it to support your claim.</p>
        <p>You can attach the certificate at the end of your claim.</p>
        `
    }) %>
</form>

<p id="save-next" hidden>Choose <b>Save and next</b> to continue</p>

<%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel claim",
        link: "#claim-cancel-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"],
        id: "pag-save-exit"
      },
      {
        text: "Save and next",
        link: "/auth/claim/qualifying-service/qs2",
        modifiers: ["floated", "primary"],
        id: "pag-save-next"
      }
    ]
  }) %>

<%- include(forms+"modals/claim-cancel") %>

<script>
  $("#applying-as-container").on("change", "input", function () {
    if ($("#applying-as-container :checked").val() === "australiandefenceforceveteran") {
      sessionStorage.setItem("commonwealth-allied", "no");
    } else {
      sessionStorage.setItem("commonwealth-allied", "yes");
    }

    $("#pag-save-exit").removeAttr("disabled");
    $("#pag-save-next").removeAttr("disabled");
    $("#formBody").trigger("reset");
    $("#other-names-container").hide();
    $("#old-names-container").hide();
    $("#assist-enemy-container").hide();
    $("#assist-enemy-info-container").hide();
    $("#serve-ww2-container").hide();
    $("#serve-ww2-info-container").hide();
    $("#serve-yugoslavia-info-container").hide();
    $("#serve-yugoslavia-container").hide();
    $("#serve-vietnam-info-container").hide();
    $("#serve-vietnam-container").hide();
    $("#country-of-enlistment-container").hide();
    $("#save-next").hide();
    $("#assist-enemy-container").on("change", "input[type='radio']", function () {
      if ($(this).val() === "yes") {
        $("#serve-vietnam-container").hide();
        $("#save-next").hide();
        $("#serve-yugoslavia-info-container").hide();
      }
    })
    $("#serve-yugoslavia-container").on("change", "input[type='radio']", function () {
      if ($(this).val() === "yes") {
        $("#save-next").hide();
        $("#serve-vietnam-info-container").hide();
      }
    })

    $("#serve-vietnam-container").on("change", "input[type='radio']", function () {
      if ($(this).val() === "no") {
        $("#save-next").hide();
        $("#serve-vietnam-info-container").hide();
      }
    })

    $("#serve-ww2-container").on("change", "input", function () {
      if ($("#serve-ww2-1").prop("checked")) {
        $("#pag-save-exit").attr("disabled", "true");
        $("#pag-save-next").attr("disabled", "true");
      } else {
        $("#pag-save-exit").removeAttr("disabled");
        $("#pag-save-next").removeAttr("disabled");
      }
    })
  })

  $("#formBody").on("click submit", "button", function (e) {
    e.preventDefault();
  })
</script>

<%- include(templates+"footer") %>
