<%- include(templates+"header", {
  claim: "Qualifying Service",
  heading: "Service history"
}) %>

  <h2 class="margin-below--none">Tell us about your service history</h2>
  <p>This is required to help us assess whether you have the required qualifying service.</p>
  <%- include(content+"service-history") %>


  <%- include(forms+"pagination", {
    customClass: "margin-above--extra",
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/qualifying-service/qs1"
      },
      {
        text: "Cancel claim",
        link: "#claim-cancel-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        id: "pag-save-next",
        link: "/auth/claim/qualifying-service/qs3",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(forms+"modals/claim-cancel") %>

  <%- include("qs-state-switcher") %>

  <script>
    function stateSwitcher() {
      if (commonwealthAllied === "yes") {
        $("#pag-save-next").attr("href", "/auth/claim/qualifying-service/qs2a");
      } else {
        $("#pag-save-next").attr("href", "/auth/claim/qualifying-service/qs3");
      }
    }
  </script>

<%- include(templates+"footer") %>