<%- include(templates+"header", {
  claim: "Qualifying Service",
  heading: "Review and submit"
}) %>

  <%- include(components+"review-submit", {
    claim_title: "Qualifying service",
    modifiers: ["claimDetails"],
    categories: [
      {
        title: "Service",
        edit_url: "/auth/claim/qualifying-service/qs-1",
        data: [
          {
            q: "Type of claim",
            a: "Australian Defence Force"
          },
          {
            q: "Former names",
            a: `<ul>
                  <li>Joseph Smith</li>
                  <li>Jo Smith</li>
                </ul>`
          },
          {
            q: "Partner name",
            a: "Mrs Joe Bloggs"
          }
        ]
      },
      {
        title: "Service history",
        edit_url: "/auth/claim/qualifying-service/qs-2",
        data: [
          "Service",
          {
            q: "Service number",
            a: "123 456 789 K"
          },
          {
            q: "Type of service",
            a: "Permanent"
          },
          {
            q: "Date of enlistment",
            a: "21 / 09 / 1945"
          },
          {
            q: "Date of discharge",
            a: "21 / 06 / 1949"
          },
          {
            q: "Branch of service",
            a: "Navy"
          },
          "Operation",
          {
            q: "Conflict name",
            a: "Afghanistan"
          },
          {
            q: "Operation name",
            a: "Op Slipper"
          },
          {
            q: "Start date",
            a: "21 / 09 / 1945"
          },
          {
            q: "End date",
            a: "21 / 06 / 1949"
          }
        ]
      },
      {
        title: "Incurred danger",
        edit_url: "/auth/claim/qualifying-service/qs2a",
        modifiers: ["hidden"],
        categoryClass: "incurred-danger",
        data: [
          {
            q: "Start date",
            a: "09 / 2015"
          },
          {
            q: "End date",
            a: "12 / 2015"
          },
          {
            q: "Location",
            a: "Afghanistan"
          },
          {
            q: "Incident details",
            a: "The enemy..."
          }
        ]
      },
      {
        title: "Required documents",
        edit_url: "/auth/claim/qualifying-service/qs-3",
        data: [
          {
            q: "Proof of service",
            a: "service-history.pdf"
          }
        ]
      }
    ]
  }) %>

  <%- include(forms+"pagination", {
    customClass: "margin-above--extra",
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/qualifying-service/qs3"
      },
      {
        text: "Cancel claim",
        link: "#claim-cancel-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Submit claim",
        link: "/auth/claim/qualifying-service/qs5",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(forms+"modals/claim-cancel") %>

  <%- include("qs-state-switcher") %>

  <script>
    $(document).ready(function() {
      if (sessionStorage.getItem("commonwealth-allied") === "yes") {
        $(".incurred-danger").show();
      } else {
        $(".incurred-danger").hide();
      }
    })
  </script>

<%- include(templates+"footer") %>