<%- include(templates+"header", {
  title: "Profile | Partner consent",
  heading: "Provide partner consent"
})%>

<%- include(partials+"components/form-partials/date", {
  label: "Date of move"
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Is the move permanent?",
  no_toggle: "#end-date-container"
}); %>

<%- include(partials+"components/form-partials/date", {
  label: "When will you return?",
  id: "end-date",
  modifiers: ["hidden"]
}); %>

<%- include(partials+"components/form-partials/checkbox", {
  label: "Who else will be moving to the new address?",
  id: "who-else",
  boxes: [
    {
        text: "Jane Citizen"
    },
    {
        text: "Tim Citizen"
    },
    {
        text: "Amy Citizen"
    }
  ]
}); %>
 
<%#- include(partials+"components/form-partials/notice", {
  message: "If your partner or dependant is moving to a different address they will need to advise DVA.",
  id: "someone-not-moving",
  modifiers: ["hidden"]
}); %>


  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/profile/residential-address/residential-address-02"
    },
    {
      text: "Delete",
      link: "#open-delete-modal"
    },
      {
        text: "Next",
        link: "/auth/profile/residential-address/residential-address-04",
        modifiers: ["floated", "primary"],
        id: "submit"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>

<script>

  $('#who-else-container input:checkbox').prop('checked', 'true');

  // $("#who-else-container").click(function(){
  //   var totalBoxes = $("#who-else-container input:checkbox").length;
  //   if ($("#who-else-container input:checkbox:checked").length < totalBoxes) {
  //     $("#someone-not-moving-container").show();
  //   } else {
  //     $("#someone-not-moving-container").hide();
  //   }
  // });

</script>

<%- include(partials+"components/layout/footer") %>
<%- include(partials+"content/modals/delete-modal") %>
<%#- include("category-page-ss") %>