<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Register: Getting started | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar-register") %>
  <%- include(partials+"components/layout/header-register") %>
  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>
      </div>
      <h1>Register
        <span>(Step 1: Getting started)</span>
      </h1>




      <div class="has-error has-error-server breakout" id="error-empty-fields" style="display: none">
        <h2>The following fields need fixing:</h2>
        <ul>
          <li>
            <a href="#pmkeys">Your PMKeyS number</a>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <fieldset>
            <legend class="legend-label">Select an option that best relates to you</legend>
            <div class="radio-tile--group">
              <label class="radio-tile" for="gs-serving">
                <input id="gs-serving" class="sr" type="radio" name="getting-started">
                <span>
                  <img src="/docs/images/ico-user-serving.svg" alt="I am still serving image">I am still serving</span>
              </label>

              <label class="radio-tile" for="gs-served">
                <input id="gs-served" class="sr" type="radio" name="getting-started">
                <span>
                  <img src="/docs/images/ico-user-formerserving.svg" alt="I am no longer serving image">I am no longer serving</span>
              </label>

              <label class="radio-tile" for="gs-neverserved">
                <input id="gs-neverserved" class="sr" type="radio" name="getting-started">
                <span>
                  <img src="/docs/images/ico-user-nonserving.svg" alt="I have never served image">I have never served</span>
              </label>
            </div>
          </fieldset>

          <div id="info-box" class="tip--wrapper" style="display:none;">
            <h3>Things you will need:</h3>
            <p class="info-box--defence" style="display:none;">As proof of identity, you will need your exact
              <b>date of enlistment</b>. If unsure, you can get it by calling the Defence Service Centre on
              <a href="tel:1800 333 362">1800 333 362</a>.</p>
            <p class="info-box--serving" style="display:none;">You will also need one proof of identity document. Choices include:</p>
            <p class="info-box--notserving" style="display:none;">You will need two proof of identity documents. Choices include:</p>
            <p class="info-box--neverserved" style="display:none;">You will need two proof of identity documents. Choices include:</p>
            <ul>
              <li class="info-box--notserving" style="display:none;">Your PMKeyS number</li>
              <li>Australian driver licence</li>
              <li>Medicare card</li>
              <li>Australian marriage certificate</li>
              <li>Australian change of name certificate</li>
            </ul>
            </p>
          </div>

          <fieldset>
            <!-- PMKeys -->
            <div class="form-group pmkeys-questionv2" style="display: none">
              <label class="uikit-text-input__label" for="pmkeys-question">Do you have a PMKeyS number?</label>
              <div class="radio-toggle">
                <label class="on label-left" for="pmkeys-yes">
                  <input id="pmkeys-yes" name="pmkeys" type="radio">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="pmkeys-no">
                  <input id="pmkeys-no" name="pmkeys" type="radio">
                  <span>No</span>
                </label>
              </div>
            </div>

            <!-- PMKeys Yes -->
            <div class="form-group enter-pmkeys-number" style="display: none">
              <label class="uikit-text-input__label" for="pmkeys">Your PMKeys number:</label>
              <input class="uikit-text-input input-half" id="pmkeys" name="pmkeys" type="text" value="">
            </div>

            <!-- PMKeys No -->
            <div class="form-group service-number" style="display: none">
              <label class="uikit-text-input__label" for="servicenumber">Service number
                <span class="hint">(if known)</span>
                <br />
                <span class="hint">You can access your service number through Defence Service and Personnel Records on the
                  <a href="http://www.defence.gov.au/Records/ExService.asp" rel="external" target="_blank">Department of Defence website</a>.</span>
              </label>
              <input class="uikit-text-input input-half" id="servicenumber" name="servicenumber" type="text" value="">
            </div>
          </fieldset>

          <fieldset>
            <div id="pmkeys-group" class="form-group" style="display:none;">
              <label class="uikit-text-input__label" for="pmkeys">PMKeyS number
                <span id="pmkeys-optional" class="hint" style="display:none;">(optional)</span>
              </label>
              <input class="uikit-text-input input-half" id="pmkeys" name="pmkeys" type="text" value="">
            </div>
            <div id="service-group" class="form-group" style="display:none;">
              <label class="uikit-text-input__label" for="service-number">Service number
                <span class="hint">(if known)</span>
              </label>
              <input class="uikit-text-input input-half" id="service-number" name="service-number" type="text" value="">
            </div>
            <div id="dva-group" class="form-group" style="display:none;">
              <label class="uikit-text-input__label" for="dva-number">DVA client number
                <span class="hint">(if known)
                  <span class="display-block">If you have one, we recommend you provide it here.</span>
                </span>
              </label>
              <input class="uikit-text-input input-half" id="dva-number" name="dva-number" type="text" value="">
            </div>
          </fieldset>



        </div>

      </div>
      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-cancelrego-modal'">Cancel registration</button>
        <button class="uikit-btn floated" onclick="window.location.href = '/unauth/registration/register-2'">Next</button>
      </div>
    </div>
  </main>

  <%- include(partials+"content/modals/cancelrego-modal") %>
  <%- include(partials+"components/layout/footer") %>
  <script>
    // Progress bar
    document.getElementById("percentage").style.width = "10%";
    document.getElementById("percentage_value").textContent = "10%";

    // Still serving logic

    $("#gs-serving").click(function () {
      $("#info-box").show();
      $(".info-box--defence").show();
      $(".info-box--serving").show();
      $(".info-box--notserving").hide();
      $(".info-box--neverserved").hide();
      $("#service-group").hide();
      $("#pmkeys-group").show();
      $("#pmkeys-optional").hide();
      $(".pmkeys-questionv2").hide();
      $("#dva-group").show();
      sessionStorage.clear();
      sessionStorage.setItem('stillserving', true);
    });
    $("#gs-served").click(function () {
      $("#info-box").show();
      $(".info-box--defence").hide();
      $(".info-box--serving").hide();
      $(".info-box--notserving").show();
      $(".info-box--neverserved").hide();
      $("#pmkeys-group").hide();
      $("#service-group").hide();
      $(".pmkeys-questionv2").show();
      $("#dva-group").hide();
      sessionStorage.clear();
      sessionStorage.setItem('formerserving', true);
    });
    $("#pmkeys-yes").click(function () {
      $(".enter-pmkeys-number").show();
      $(".service-number").hide();
      $("#dva-group").show();
      sessionStorage.setItem('pmkeysyes', true);
    });
    $("#pmkeys-no").click(function () {
      $(".enter-pmkeys-number").hide();
      $(".service-number").show();
      $("#dva-group").show();
      sessionStorage.setItem('2poi', true);
    });

    $("#gs-neverserved").click(function () {
      $("#info-box").show();
      $(".info-box--defence").hide();
      $(".info-box--serving").hide();
      $(".info-box--notserving").hide();
      $(".info-box--neverserved").show();
      $("#pmkeys-group").hide();
      $(".pmkeys-questionv2").hide();
      $("#service-group").hide();
      $("#dva-group").show();
      sessionStorage.clear();
      sessionStorage.setItem('neverserved', true);
    });
  </script>
</body>

</html>