<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Register: Proof of identity | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <script>
    window.reallyopen = window.open;
  </script>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar-register") %>
  <%- include(partials+"components/layout/header-register") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>

    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>
      <h1>Register
        <span>(Step 3: Proof of identity)</span>
      </h1>

      <div class="row">
        <div class="col-sm-12">

          <div class="has-error has-error-server breakout" id="error-empty-fields" style="display: none">
            <h2>
              <a name="heading-error" class="heading-error">The following fields need fixing:</a>
            </h2>
            <ul>
              <li>
                <a href="#marriageDate">Date of marriage</a>
              </li>
            </ul>
          </div>

          <div class="change-name-question clearboth" style="clear: both;">
            <fieldset>
              <div class="form-group">
                <label class="uikit-text-input__label">Have you legally changed your name since leaving the ADF?</label>
                <div class="radio-toggle">
                  <label class="on label-left" for="namechange-yes">
                    <input id="namechange-yes" name="namechange-yes" type="radio">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="namechange-no">
                    <input id="namechange-no" name="namechange-no" type="radio">
                    <span>No</span>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <!-- No name change flow -->

          <div class="poiOptions clearboth" style="display: none; clear: both;">
            <fieldset style="margin-bottom:0;">
              <legend>Proof of identity
                <span class="poi-1-2" style="display:none;">1 of 2</span>
              </legend>
              <label class="uikit-text-input__label" for="idtype">Register using</label>
              <select class="uikit-text-input" name="idtype" id="idtype" type="text" value="">
                <option value=0 selected>-- Select a form of identification --</option>
                <option value="id06">Australian birth certificate</option>
                <option value="id01">Australian driver licence</option>
                <option value="id07">Australian marriage certificate</option>
                <option value="id03">Australian passport</option>
                <option value="id08">Centrelink concession card</option>
                <option value="id05">Certificate of Australian citizenship</option>
                <option value="id02">Medicare card</option>
                <option value="id09">Immigration card</option>
                <option value="id10">Visa card</option>
              </select>
            </fieldset>
            <br>
            <br>

            <!-- Driver Licence -->
            <fieldset class="id-types id-licence" style="display: none;">
              <legend>Australian driver licence</legend>
              <!-- <img src="/docs/images/medicare-card.jpg" alt="Sample driver's licence"/> -->
              <div class="form-group">
                <label class="uikit-text-input__label" for="state">State or Territory driver licence issued</label>
                <select class="uikit-text-input input-half" name="state" id="state" type="text" value="">
                  <option selected>-- Select state or territory --</option>
                  <option name="act">Australian Capital Territory</option>
                  <option name="nsw">New South Wales</option>
                  <option name="nt">Northern Territory</option>
                  <option name="qld">Queensland</option>
                  <option name="sa">South Australia</option>
                  <option name="tas">Tasmania</option>
                  <option name="vic">Victoria</option>
                  <option name="wa">Western Australia</option>
                </select>
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="licence-number">Driver licence number</span>
                </label>
                <input class="uikit-text-input input-half" name="licence-number" id="licence-number" type="text" value="">
              </div>
            </fieldset>

            <!-- Australian passport -->
            <fieldset class="id-types id-passport" style="display: none">
              <legend>Australian passport</legend>
              <div class="form-group">
                <label class="uikit-text-input__label" for="passport-number">Passport number</label>
                <input class="uikit-text-input input-half" name="passport-number" id="passport-number" type="text" value="">
              </div>
            </fieldset>

            <!-- Concession Card -->
            <fieldset class="id-concession-card" style="display: none;">
              <legend>Centrelink concession card</legend>
              <div class="form-group">
                <label class="uikit-text-input__label" for="concession-type">What type of concession card do you have?</label>
                <select class="uikit-text-input input-half" name="concession-type" id="concession-type" type="text" value="">
                  <option selected value="none">-- Select concession card --</option>
                  <option value="pensioner-card">Pensioner concession card</option>
                  <option value="health-card">Health care card</option>
                  <option value="seniors-health-card">Commonwealth seniors health card</option>
                </select>
              </div>

              <div class="concession-card-images" style="margin-top:42px;">
                <!--</div> style="margin-top:8.6px;"> -->
                <div id="concession-card-pensioner" class="concession-card-sample">
                  <img src="/docs/images/concession-card-pensioner-front.jpg" alt="Sample pensioner concession card front" class="float-image-left" />
                  <img src="/docs/images/concession-card-pensioner-back.jpg" alt="Sample pensioner concession card back" class="float-image-left" />
                </div>
                <div id="concession-card-health" class="concession-card-sample">
                  <img src="/docs/images/concession-card-health-front.jpg" alt="Sample health care card front" class="float-image-left" />
                  <img src="/docs/images/concession-card-health-back.jpg" alt="Sample health care card back" class="float-image-left" />
                </div>
                <div id="concession-card-seniors" class="concession-card-sample">
                  <img src="/docs/images/concession-card-seniors-front.jpg" alt="Sample Commonwealth seniors health card front" class="float-image-left" />
                  <img src="/docs/images/concession-card-seniors-back.jpg" alt="Sample Commonwealth seniors health card back" class="float-image-left" />
                </div>
              </div>

              <div class="form-group">
                <div id="crn-input">
                  <label class="uikit-text-input__label margin-above" for="crn">Customer Reference Number (CRN)</label>
                  <input class="uikit-text-input" name="crn" id="crn" type="text" value="" maxlength="12" style="max-width: 22em;">
                </div>
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="expiry-dd">Expiry date
                  <span class="hint">(DD / MM / YYYY)</span>
                </label>
                <input class="uikit-text-input dd" type="number" name="concession-expiry-mm" id="concession-expiry-dd" maxlength="2"> /
                <input class="uikit-text-input mm" type="number" name="concession-expiry-mm" id="concession-expiry-mm" maxlength="2"> /
                <input class="uikit-text-input yyyy" type="number" name="concession-expiry-yyyy" id="concession-expiry-yyyy" maxlength="4">
              </div>
            </fieldset>


            <!-- Birth certificate -->
            <%- include(partials+"content/poi-birth-certificate") %>

            <!-- Medicare -->
            <fieldset class="id-types id-medicare" style="display: none">
              <legend>Medicare card</legend>
              <img src="/docs/images/medicare-card.jpg"
                alt="Medicare card showing the card number, IRN number located to the left of the name on the card, and an expiry date in the format MM/YYYY"
                style="height: auto; max-width: 345px; margin-right: 0;" />
              <div class="form-group">
                <label class="uikit-text-input__label" for="medicare-number">Medicare card number</span>
                </label>
                <input class="uikit-text-input input-half" name="medicare-number" id="medicare-number" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="irn">Individual Reference Number (IRN)</span>
                </label>
                <input class="uikit-text-input dd" name="irn" id="irn" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="expiry-dd">Expiry date
                  <span class="hint">(MM / YYYY)</span>
                </label>
                <input class="uikit-text-input mm" type="number" name="medicare-expiry-mm" id="medicare-expiry-mm" maxlength="2"> /
                <input class="uikit-text-input yyyy" type="number" name="medicare-expiry-yyyy" id="medicare-expiry-yyyy" maxlength="4">
              </div>
            </fieldset>

            <!-- Certificate of citizenship -->
            <fieldset class="id-types id-citizenship" style="display: none">
              <legend>Certificate of Australian citizenship</legend>
              <div class="form-group">
                <label class="uikit-text-input__label" for="acquisition-dd">Acquisition date
                  <span class="hint">(DD / MM / YYYY)</span>
                </label>
                <input class="uikit-text-input dd acquisition-dd" type="text" name="acquisition-dd" id="acquisition-dd" maxlength="2" required aria-required="true"
                  aria-label="2 digit day">
                /
                <input class="uikit-text-input mm acquisition-mm" type="text" name="acquisition-mm" id="acquisition-mm" maxlength="2" required aria-required="true"
                  aria-label="2 digit month">
                /
                <input class="uikit-text-input yyyy acquisition-yyyy" type="text" name="acquisition-yyyy" id="acquisition-yyyy" maxlength="4" required aria-required="true"
                  aria-label="4 digit year">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="citizenship-number">Stock number
                  <span class="hint display-block">This may be found on the back of the certificate</span>
                </label>
                <input class="uikit-text-input input-half" name="citizenship-number" id="citizenship-number" type="text" value="">
              </div>
            </fieldset>

            <!-- Immigration card -->
            <fieldset class="id-types id-immigration" style="display: none">
              <legend>Immigration card</legend>

              <div id="immigration-card-sample" class="immigration-card-sample">
                <img src="/docs/images/card-sample-immi.jpg" alt="Sample immigration card" class="float-image-left"
                  style="margin-right: 0; padding-bottom: 51px;  height: auto; max-width: 345px;" />
              </div>

              <div class="form-group">
                <div id="given-name-input">
                  <label class="uikit-text-input__label margin-above" for="given-name">Given Name(s)</label>
                  <input class="uikit-text-input" name="given-name" id="given-name" type="text" value="" maxlength="49" style="max-width: 22em;">
                </div>
              </div>

              <div class="form-group">
                <div id="family-name-input">
                  <label class="uikit-text-input__label margin-above" for="family-name">Family Name</label>
                  <input class="uikit-text-input" name="family-name" id="family-name" type="text" value="" maxlength="49" style="max-width: 22em;">
                </div>
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label" for="dob-dd-immi">Date of Birth
                  <span class="hint">(DD / MM / YYYY)</span>
                </label>
                <input class="uikit-text-input dd dob-dd-immi" type="text" name="dob-dd-immi" id="dob-dd" maxlength="2" required aria-required="true" aria-label="2 digit day">
                /
                <input class="uikit-text-input mm dob-mm-immi" type="text" name="dob-mm-immi" id="dob-mm" maxlength="2" required aria-required="true" aria-label="2 digit month">
                /
                <input class="uikit-text-input yyyy dob-yyyy" type="text" name="dob-yyyy-immi" id="dob-yyyy-immi" maxlength="4" required aria-required="true"
                  aria-label="4 digit year">
              </div>

              <div class="form-group">
                <div id="immiCard-number-input">
                  <label class="uikit-text-input__label margin-above" for="immiCard-number">ImmiCard Number</label>
                  <input class="uikit-text-input" name="immiCard-number" id="immiCard-number" type="text" value="" maxlength="9" style="max-width: 22em;">
                </div>
              </div>

            </fieldset>

            <!-- Visa card -->
            <fieldset class="id-types id-visa" style="display: none">
              <legend>Visa card</legend>

              <div id="visa-card-sample" class="visa-card-sample">
                <img src="/docs/images/card-sample-visa.jpg" alt="Sample visa card" class="float-image-left"
                  style="margin-right: 0; padding-bottom: 51px; height: auto; max-width: 345px;" />
              </div>

              <!-- <div class="form-group">
                <div id="document-type-code-input">
                  <label class="uikit-text-input__label margin-above" for="crn">Document Type Card</label>
                  <input class="uikit-text-input" name="document-type-code" id="document-type-code" type="text" value="" maxlength="2" style="max-width: 10em;">
                </div>
              </div> -->

              <div class="form-group">
                <div id="given-name-input">
                  <label class="uikit-text-input__label margin-above" for="crn">Given Name(s)</label>
                  <input class="uikit-text-input" name="given-name" id="given-name" type="text" value="" maxlength="49" style="max-width: 22em;">
                </div>
              </div>

              <div class="form-group">
                <div id="family-name-input">
                  <label class="uikit-text-input__label margin-above" for="crn">Family Name</label>
                  <input class="uikit-text-input" name="given-name" id="given-name" type="text" value="" maxlength="49" style="max-width: 22em;">
                </div>
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label" for="dob-dd">Birth Date
                  <span class="hint">(DD / MM / YYYY)</span>
                </label>
                <input class="uikit-text-input dd dob-dd" type="text" name="dob-dd" id="dob-dd" maxlength="2" required aria-required="true" aria-label="2 digit day">
                /
                <input class="uikit-text-input mm dob-mm" type="text" name="dob-mm" id="dob-mm" maxlength="2" required aria-required="true" aria-label="2 digit month">
                /
                <input class="uikit-text-input yyyy dob-yyyy" type="text" name="dob-yyyy" id="dob-yyyy" maxlength="4" required aria-required="true" aria-label="4 digit year">
              </div>

              <div class="form-group">
                <div id="passport-number-input">
                  <label class="uikit-text-input__label margin-above" for="crn">Passport Number</label>
                  <input class="uikit-text-input" name="passport-number" id="passport-number" type="number" value="" maxlength="14" style="max-width: 22em;">
                </div>
              </div>

              <!-- <div class="form-group">
                <div id="country-of-issue-input">
                  <label class="uikit-text-input__label margin-above" for="country-of-issue">Country of issue</label>
                  <input class="uikit-text-input" name="immiCard-number" id="country-of-issue" type="text" value="" style="max-width: 22em;">
                </div>
              </div> -->



            </fieldset>

          </div>

          <!-- Yes name change flow -->

          <!-- POI Options -->
          <div class="namechange-poiOptions clearboth" style="display: none; clear: both">
            <legend>Proof of identity
              <span class="poi-1-2" style="display:none;">1 of 2</span>
            </legend>
            <label class="uikit-text-input__label" for="name-idtype">Register using</label>
            <select class="uikit-text-input" name="name-idtype" id="name-idtype" type="text" value="">
              <option value=0 selected>-- Select a form of identification --</option>
              <option value="id08">Australian marriage certificate</option>
              <option value="id09">Change of name certificate</option>
            </select>
          </div>

          <!-- Marriage Certificate-->
          <%- include(partials+"content/poi-marriage-certificate") %>

          <!-- Change of Name Certificate -->
          <%- include(partials+"content/poi-change-of-name") %>

          <!-- END FORM -->

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/unauth/registration/register-2'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-cancelrego-modal'">Cancel registration</button>
            <button class="uikit-btn floated btnNext">Next</button>
          </div>
        </div>
      </div>
    </div>
  </main>


  <%- include(partials+"content/modals/cancelrego-modal") %>
  <%- include(partials+"components/layout/footer") %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "80%";
    document.getElementById("percentage_value").textContent = "80%";

    if ("stillserving" in sessionStorage) {
      $(".change-name-question").hide();
      $(".poiOptions").show();
      $(".poi-1-2").hide();
    };

    if ("formerserving" in sessionStorage) {
      $(".change-name-question").show();
      $(".poi-1-2").hide();
    };

    if ("neverserved" in sessionStorage) {
      $(".change-name-question").hide();
      $(".poiOptions").show();
      $(".poi-1-2").show();
    };
    if ("2poi" in sessionStorage) {
      $(".poi-1-2").show();
    };

    if ("pmkeysyes" in sessionStorage) {
      $("#enlistment-date").show();

    };

    // Name change question logic
    $("#namechange-yes").click(function () {
      $(".namechange-poiOptions").show("fast");
      $(".poiOptions").hide("fast");
      $(".id-marriage").hide("fast");
      $(".id-changename").hide("fast");
      $('#name-idtype').val(0);
      $('#namechange-no').val(0);
    });
    $("#namechange-no").click(function () {
      $(".namechange-poiOptions").hide("fast");
      $(".poiOptions").show("fast");
      $(".id-marriage").hide("fast");
      $('#idtype').val(0);
      $('#namechange-yes').val(0);
    });

    // Choose POI fieldset for those who haven't changed their name
    var IdType = jQuery('#idtype');
    var select = this.value;
    IdType.change(function () {

      $('.id-licence').hide();
      $('.id-medicare').hide();
      $('.id-passport').hide();
      $('.id-descent').hide();
      $('.id-citizenship').hide();
      $('.id-birth').hide();
      $('.id-marriage').hide();
      $('.id-concession-card').hide();

      if ($(this).val() == 'id01') {
        $('.id-types').hide();
        $('.id-licence').show();
      }
      if ($(this).val() == 'id02') {
        $('.id-types').hide();
        $('.id-medicare').show();
      }
      if ($(this).val() == 'id03') {
        $('.id-types').hide();
        $('.id-passport').show();
      }
      if ($(this).val() == 'id04') {
        $('.id-types').hide();
        $('.id-descent').show();
      }
      if ($(this).val() == 'id05') {
        $('.id-types').hide();
        $('.id-citizenship').show();
      }
      if ($(this).val() == 'id06') {
        $('.id-types').hide();
        $('.id-birth').show();
      }
      if ($(this).val() == 'id07') {
        $('.id-types').hide();
        $('.id-marriage').show();
      }
      if ($(this).val() == 'id08') {
        $('.id-types').hide();
        $('.id-concession-card').show();
        $('.concession-card-images img').hide();
      }
      if ($(this).val() == 'id09') {
        $('.id-types').hide();
        $('.id-immigration').show();
        $('.immigration-card-sample').show();
      }
      if ($(this).val() == 'id10') {
        $('.id-types').hide();
        $('.id-visa').show();
        $('.visa-card-sample').show();
      }
    });

    // Choose POI fieldset for those who HAVE changed their name
    var NameIdType = jQuery('#name-idtype');
    var select = this.value;
    NameIdType.change(function () {

      if ($(this).val() == 'id08') {
        $('.name-id-types').hide();
        $('.id-changename').hide();
        $('.id-marriage').show();
        $('.changenameFields').hide();
        $('#marriednameState').val(0);
      }
      if ($(this).val() == 'id09') {
        $('.name-id-types').hide();
        $('.id-marriage').hide();
        $('.id-changename').show();
        $('.marriageFields').hide();
        $('#changenameState').val(0);
      }
    });

    // Choose concession card type image to display
    $('#concession-type').change(function () {

      var card_choice = $(this).children("option:selected").val();

      $('.concession-card-images').show();
      console.log('a');
      $('.concession-card-images img').hide();
      console.log('b');

      if (card_choice == 'pensioner-card') {
        $('.concession-card-images img').hide();
        $('#concession-card-pensioner img').show();
      }
      if (card_choice == 'health-card') {
        $('.concession-card-images img').hide();
        $('#concession-card-health img').show();
      }
      if (card_choice == 'seniors-health-card') {
        $('.concession-card-images img').hide();
        $('#concession-card-seniors img').show();
      }
      if (card_choice == 'none') {
        $('.concession-card-images, .concession-card-images img').hide();
      }

    });

    // Prefill
    $(".first-name").val(localStorage.firstName);
    $(".middle-name").val(localStorage.middleName);
    $(".last-name").val(localStorage.lastName);
    $(".dob-dd").val(localStorage.myDd);
    $(".dob-mm").val(localStorage.myMm);
    $(".dob-yyyy").val(localStorage.myYyyy);

    // Determine which path
    $('.btnNext').click(function () {

      if ("neverserved" in sessionStorage) {
        location.href = '/unauth/registration/register-5';
      } else if ("2poi" in sessionStorage) {
        location.href = '/unauth/registration/register-5';
      } else {
        window.reallyopen('/unauth/registration/register-4', '_blank');
        location.href = '/email/email-rego-success';
        $(".poi-1-2").hide();
      };
    });
  </script>

</body>

</html>