<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Register: Personal details | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar-register") %>
  <%- include(partials+"components/layout/header-register") %>
  <main>

    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>
      <h1>Register
        <span>(Step 2: Your details)</span>
      </h1>
      <div class="row">
        <div class="col-sm-12">
          <fieldset>
            <legend>Postal address</legend>
            <%- include(partials+"content_groups/address-postal") %>
            <br>
            <legend>Residential address</legend>
            <div class="form-group">
              <label class="uikit-control-input">
                <input class="uikit-control-input__input sameAsPostal" type="checkbox" name="sameAsPostal" value="" checked>
                <span class="uikit-control-input__text">Same as postal address</span>
              </label>
            </div>
            <div class="pt-showIfAdditionalAddress">
              <%- include(partials+"content_groups/address-residential") %>
            </div>
            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/unauth/registration/register-2'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-cancelrego-modal'">Cancel registration</button>
              <button class="uikit-btn floated btnNext">Next</button>
            </div>

        </div>

      </div>

    </div>
  </main>
  <%- include(partials+"content/modals/cancelrego-modal") %>
  <%- include(partials+"components/layout/footer") %>
  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "50%";
    document.getElementById("percentage_value").textContent = "50%";

    // Next button
    $('.btnNext').click(function () {
      location.href = '/unauth/registration/register-3';
    });
  </script>
</body>

</html>