<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Manage your Claims | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <section>


      <div class="section-feature">
        <div id="main-content" class="container">
          <h1 class="margin-below--small margin-above--small">
            <span class="heading">Lump sum advance request</span>
          </h1>
        </div>
      </div>

      <div class="section-feature--separator">
        <div class="container">
        </div>
      </div>


      <div class="container margin-above margin-below--extra" id="claim-activity">

        <!-- <div class="ss-align--center">
              <h2>
                <span class="font-weight-heavy">Manage and track your claims</span>
              </h2>
              <p class="text-fullwidth">If you can't see your claim below it may be in
                <a href="#open-myaccount-modal">MyAccount</a>
              </p>
            </div> -->

        <section class="widget margin-above">
          <div class="row widget-content widget--justclaims">
            <div class="col-md-12">
              <table class="table-claims table-responsive">
                <thead>
                  <tr>
                    <th class="widget-activity">History of lump sum advance history</th>
                    <th class="widget-actions">Actions</th>
                  </tr>
                </thead>
                <tr>
                  <td>
                    <p class="status-icon status-approved">
                      <legend class="legend-label" for="radio-buttons">$500 request</legend>
                      <legend class="legend-label" for="radio-buttons">Approved <span class="hint"> - 10 January 2018</span></legend>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <!-- so i have the href location later <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button> -->
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'view'">View</button>
                  </td>
                </tr>

                <tr>
                  <td>
                    <p class="status-icon status-approved">
                      <legend class="legend-label" for="radio-buttons">$500 request</legend>
                      <legend class="legend-label" for="radio-buttons">Approved <span class="hint"> - 13 May 2018</span></legend>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'view'">View</button>
                  </td>
                </tr>

              </table>


            </div>
          </div>
        </section>
        <hr>
        <div class="form-group">
          <!-- <a href="/auth/claim/panel-feedbacksubmitting"><button id="submit" class="uikit-btn btnNext">Submit feedback</button></a> -->
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/lsa/request'">Back to lump sum advance request</button>
        </div>

        <%- include(partials+"content/modals/claims-dhoas-start-modal") %>

      </div>

    </section>
  </main>
  <%- include(partials+"components/layout/footer") %>

  <script>
    $(".toggle-arrow").click(function () {
      $(".simple-accordion").toggleClass('simple-accordion--open simple-accordion--closed');
    });

    function goToByScroll(id) {
      id = id.replace("-link", "");
      $('html,body').animate({
          scrollTop: $("#" + id).offset().top
        },
        'slow');
    }
    $("#claim-activity-link").click(function (e) {
      e.preventDefault();
      goToByScroll($(this).attr("id"));
    });


    $("#entitlements").change(function () {
      if ($('#entitlements :selected').val() == "mentalhealth") {
        $("#entitlement-mh").removeClass('action-group__reveal--closed');
        $("#entitlement-mh").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-mh").removeClass('action-group__reveal--open');
        $("#entitlement-mh").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "education") {
        $("#entitlement-student").removeClass('action-group__reveal--closed');
        $("#entitlement-student").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-student").removeClass('action-group__reveal--open');
        $("#entitlement-student").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "afi") {
        $("#entitlement-afi").removeClass('action-group__reveal--closed');
        $("#entitlement-afi").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-afi").removeClass('action-group__reveal--open');
        $("#entitlement-afi").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "dhoas") {
        $("#entitlement-dhoas-subsidy").removeClass('action-group__reveal--closed');
        $("#entitlement-dhoas-subsidy").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-dhoas-subsidy").removeClass('action-group__reveal--open');
        $("#entitlement-dhoas-subsidy").addClass('action-group__reveal--closed');
      }
    });
  </script>

</body>


</html>