<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Manage your Claims | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <section>
      <div class="section-feature">
        <div class="container" id="main-content">

          <h1 class="margin-below--small ss-align--center margin-above--small">
            <span class="heading">Lump sum advance</span>
          </h1>
        </div>
      </div>

      <div class="container container--8-column margin-above margin-below--extra" id="claim-activity">
        <h3 class="margin-below">
          <span class="font-weight-heavy">
            Receive part of your payment paid in advance through a <a target="_blank" href="https://www.dva.gov.au/factsheet-is115-lump-sum-advance">lump sum advance</a>
            payment.</span>
        </h3>

        <!-- All classes that start with pt-*** can be ignored/removed. These styles are only for the prototype.   -->
        <div class="pt-max-amount-reached">
          <p>Error code 723</p>

          <!-- Only show this message if the maximum limit has been reached.  -->
          <div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
            <h3>You have reached the maximum lump sum amount.</h3>
            <p>You will be able to request another lump sum in advance when a larger amount becomes available.</p>
          </div>
          <!-- End, Only show this message if the maximum limit has been reached.  -->

        </div>

        <div class="pt-max-amount-reached">
          <p>Error code 706 & 733</p>

          <!-- Only show this message if the maximum limit has been reached.  -->
          <div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
            <h3>You have not had any pension payments made to you for at least 3 months. You will not be able to request a lump sum advance.</h3>
            <p>If this is incorrect, please call us on 1800 555 254 or email a DVA representative <a href="mailto:GeneralEnquiries@dva.gov.au"
                target="_top">GeneralEnquiries@dva.gov.au.</a></p>
          </div>
          <!-- End, Only show this message if the maximum limit has been reached.  -->

        </div>

        <div class="pt-max-amount-reached">
          <p>Error code 709 & 730</p>

          <!-- Only show this message if the maximum limit has been reached.  -->
          <div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
            <h3>You may be owing money on a previous financial loan. You will not be able to request a lump sum advance. </h3>
            <p>If this is incorrect, please call us on 1800 555 254 or email a DVA representative <a href="mailto:GeneralEnquiries@dva.gov.au"
                target="_top">GeneralEnquiries@dva.gov.au.</a>
            </p>
          </div>
          <!-- End, Only show this message if
                the maximum limit has been reached. -->

        </div>

        <div class="pt-max-amount-reached">
          <p>Error code 732</p>

          <!-- Only show this message if the maximum limit has been reached.  -->
          <div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
            <h3>You are currently living outside of Australia. You will not be able to request a lump sum advance.</h3>
            <p>If this is incorrect, please call us on 1800 555 254 or email a DVA representative <a href="mailto:GeneralEnquiries@dva.gov.au"
                target="_top">GeneralEnquiries@dva.gov.au</a></p>
          </div>
          <!-- End, Only show this message if the maximum limit has been reached.  -->

        </div>



        <div class="pt-max-amount-not-reached">
          <!-- Only show this section if the maximum limit has NOT been reached.  -->
          <div class="col-md-8">
            <div class="currency-box currency-box--top margin-below--extra">
              <p>Minimum amount : <strong>$432.50 </strong> <br>
                Maximum amount : <strong>$1250.50</strong></p>
            </div>

            <div class="form-group">
              <div id="validation" class="field">
                <label class="uikit-text-input__label">
                  How much do you want to request as a lump sum?
                  <span class="input-error-message">The lump sum amount needs to be within the minimum and maximum range.</span>
                </label>
                <span class="input-support-text">$</span>
                <input id="lumpAmount" name="lumpAmount" class="pt-amount uikit-text-input input-small" type="text">
                <button class="uikit-btn uikit-btn--tertiary" id="enter-max">Enter maximum</button>
              </div>


            </div>
            <div class=" margin-above margin-below--extra" id="claim-activity">

              <!-- Show this section on keyup of lumpSum amount -->

              <div style="display:none;" class="currency-box currency-box--bottom" id="newpaymentAmount">
                <div class="row">
                  <div class="col-sm-9">
                    <span class="hint">Current payment per fortnight</span> </div>
                  <div class="col-sm-1">
                    <legend class="legend-label">
                      <input class="current" type="hidden" value="640.45" readonly>
                      <strong>$640.45</strong>
                    </legend>
                  </div>
                </div>

                <div class="row ">
                  <div class="col-sm-9">
                    <span class="hint">Payment based on requested lump sum amount per fortnight</span> </div>
                  <div class="col-sm-1">
                    <legend class="legend-label" id="newAmount" name="new-amount"></legend>
                  </div>
                </div>

                <div class="row ">
                  <div class="col-sm-9">
                    <span class="hint">Payment difference per fortnight</span> </div>
                  <div class="col-sm-1">
                    <legend class="legend-label" id="differenceAmount" name="difference-amount"></legend>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End, Only show this section if the maximum limit has NOT been reached.  -->
        </div>


        <div class="pagination pagination--ss-reverse-order">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Previous</button>

          <!-- Only show this message if the maximum limit has been reached.  -->
          <div class="pt-max-amount-not-reached floated">
            <button class="uikit-btn" id="btnQueryString" value="">Save and review</button>
          </div>
          <!-- End, Only show this message if the maximum limit has been reached.  -->

        </div>
    </section>
  </main>
  <%- include(partials+"components/layout/footer") %>


  <!-- prototype functions -->
  <script>
    $(".pt-amount").each(function () {
      $(this).keyup(function () {
        calculateMax();
      });
    });

    var maxTotal = 1250;
    var minTotal = 432;

    function calculateMax() {
      var total = 0;

      var validation = ("#validation");
      $(".pt-amount").each(function () {

        // validate
        if (!isNaN(this.value) && this.value.length != 0) {
          total += parseFloat(this.value);
          newAmount += parseFloat(this.value);

          // if (total > maxTotal || total < minTotal) {
          if (total > maxTotal) {
            $(this)
              .closest(".field")
              .addClass("has-error");
          } else {
            $(this)
              .closest(".field")
              .removeClass("has-error");
          }

        }

        if (total < minTotal || total > maxTotal || total == "") {
          $("#newpaymentAmount").hide();
        } else {
          $("#newpaymentAmount").show();
        }
      });



      var cost = total / 13;
      $("#total").html(cost.toFixed(2));

      var newcost = $(".current").val() - cost.toFixed(0);
      $("#newAmount").html('<strong>$' + newcost + '</strong>');


      var difference = +(640 - newcost).toFixed(2);

      $("#differenceAmount").html(' <strong>$' + difference + '</strong> ');
    }

    function calculateMin() {
      var total = 0;
      var validation = ("#validation");
      var valid;
      $(".pt-amount").each(function () {

        // validate
        if (!isNaN(this.value) && this.value.length != 0) {
          total += parseFloat(this.value);
          newAmount += parseFloat(this.value);

          if (total < minTotal) {
            $(this)
              .closest(".field")
              .addClass("has-error");
            valid = false;
          } else {
            $(this)
              .closest(".field")
              .removeClass("has-error");
            valid = true;
          }

        }
      });

      return valid;

    }

    $(function () {
      $("#btnQueryString").bind("click", function () {

        var url = "review?name=" + encodeURIComponent($("#newAmount").html()) + "&technology=" + encodeURIComponent($("#lumpAmount").val());
        sessionStorage.setItem('lsaAmount', $("#lumpAmount").val());

        // var minValid = calculateMin();
        if (calculateMin() === true) {
          window.location.href = url;
        }

      });

      $("#enter-max").click(function () {
        $("#lumpAmount").val(maxTotal);
        calculateMax();
      });

      function initLumpSum() {
        localStorage.removeItem('lumpFlow');

        var lsaAmount = sessionStorage.getItem('lsaAmount');

        if (lsaAmount) {
          $("#lumpAmount").val(lsaAmount);
          calculateMax();
        }

        var lumpFlow = getUrlParameter('lumpFlow');

        if (lumpFlow) {

          localStorage.setItem('lumpFlow', lumpFlow);

        } else {
          localStorage.setItem('lumpFlow', 'normal');
        }

        if ((localStorage.getItem('lumpFlow') == 'maxed')) {
          $(".pt-max-amount-reached").show();
          $(".pt-max-amount-not-reached").hide();

        } else {
          $(".pt-max-amount-reached").hide();
          $(".pt-max-amount-not-reached").show();
        }
      }

      initLumpSum();
    });

  </script>
</body>


</html>
