<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My Details | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row margin-above">
          <div class="col-sm-3">
            <%- include(partials+"components/layout/profile-side-nav") %>
          </div>
          <div class="col-sm-9 margin-below--extra">
            <h1 class="margin-above--none margin-below--mid">Commemoration</h1>
            <%- include(partials+"components/form-partials/notice", {
              message: "You may be eligible to receive an official commemoration from the Department of Veterans' Affairs. Should the Department determine at the time of your death that you are eligible, an offer of official commemoration will be made to your next of kin / executor. The preferred official commemoration that you select will be included at such time as any offer is made. In the event you are not eligible your service badge may be used on a private commemoration with the permission of the Department. To find out more about this option select the Permission to use a Service badge link from your My Account Home page."
            }); %>
            <%- include("commemoration-box") %>
          </div>
        </div>
      </div>
    </section>

  </main>
  <%- include(partials+"components/layout/footer") %>
  <%- include("index-ss") %>
  <script>

    
  </script>
</body>

</html>