<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My Details | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row margin-above">
          <div class="col-sm-3">
            <%- include(partials+"components/layout/profile-side-nav") %>
          </div>
          <div class="col-sm-9 margin-below--extra">
            <h1 class="mys h1 margin-above--none margin-below--mid">Official commemoration</h1>
            <p>The nature of your war service may mean you are entitled to have your service commemorated at the site of internment or on a plaque in a Garden of Remembrance. This entitlement is official commemoration. It is provided by the office of Australian War Graves (OAWG) within the Department of Veterans' Affairs (DVA).</p><p>OAWG appreciates that planning for end of life is not an easy process. But the more thought we can give to necessary arrangements, the easier we will make it for our loved ones.</p><p class="manage"><a onClick="openNewCard('commemoration')">Manage your preferences</a> for official commemoration.</p>
            <p><%#- include(partials+"components/form-partials/checkbox", {
              boxes: [
                "Show commemoration preferences"
              ]
            }); %></p>
            <div class="margin-above--extra">
              <%- include("commemoration-box") %>  
              </div>

          </div>
            
          </div>
          
        </div>
        
      </div>
     
    </section>

  </main>
  <%- include(partials+"components/layout/footer") %>
  <%#- include("index-ss") %>
  <script>

    
  </script>
</body>

</html>