<%

if (typeof id === "undefined") var id = formPartialsID("gender");

if (typeof modifiers === "undefined") var modifiers = []; 
if (typeof modifiers === "string") modifiers = [modifiers];

%>

<fieldset
  <%- modifiers.includes("hidden") ? "hidden" : "" %>
  id="<%- id %>-container"
  <%- modifiers.includes("disabled") ? "disabled" : "" %>
  >

    <%

      if (typeof tooltip === "undefined") {
        var tooltip = {
          screenreaderText: "Gender help",
          content: "Currently, our system only allows us to record gender as male or female. If neither option is correct inform DVA after your claim is processed.",
        }
        modifiers.push("tooltipIconOnly")
      }

    %>

    <%- generateLabel({
        id,
        modifiers: modifiers.concat(["legendLabel"]),
        label: typeof label !== "undefined" ? label : "Gender",
        hint: typeof hint !== "undefined" ? hint : null,
        tooltip: typeof tooltip !== "undefined" ? tooltip : null
      }) %>

    <div class="radio-toggle">
      <label class="label-left"
        for="<%- id %>-male">
        <input 
          type="radio" 
          name="<%- id %>" 
          id="<%- id %>-male">
          <span>Male</span>
      </label>
      <label class="label-right"
        for="<%- id %>-female">
        <input 
          type="radio" 
          name="<%- id %>" 
          id="<%- id %>-female">
          <span>Female</span>
      </label>
    </div>
  </fieldset>