<div class="has-residential">
  <h3>Residential address</h3>
  <%- include(forms+"yes_no", {
    label: "Does your partner live at the same address as you?",
    no_toggle: [ "#residential-address-container", "#illness-container"]
  }) %>

  <%- include(forms+"prepop/address", {
    id: "residential-address",
    modifiers: ["hidden"],
    label: "Partner's residential address"
  }) %>

  <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      {
        text: "Use my postal address for my partner",
        rToggle: "#postal-address-container",
        modifiers: ["checked"]
      }
    ]
  }); %>

  <%- include(forms+"prepop/address", {
    id: "postal-address",
    modifiers: ["hidden"],
    label: "Partner's postal address"
  }) %>

  <%- include(forms+"yes_no", {
    label: "Does your partner live at the a different address due to age or ill health",
    id: "illness",
    modifiers: ["hidden"]
  }) %>
</div>