<h3>Partner details</h3>
<%- include("a-02--partial-partner-questions") %>
<%- include("a-02--partial--residential") %>
<%- include("a-02--partial-contact-details") %>
<h3>Benefits</h3>
<div class="has-partner-centrelink">
  <%- include(forms+"yes_no", {
    label: "Has this person applied for or do they receive any benefits from Centrelink?",
    customClass: "partner-centrelink-paymments"
  }) %>

  <%- include(forms+"yes_no", {
    label: "Has this person applied for or do they currently hold a Commonwealth Seniors Health Card (CSHC) from Centrelink?",
    customClass: "partner-centrelink-has-cshc"
  }) %>

  <%- include(forms+"text", {
    label: "What is your partner's Centrelink Customer Reference Number (CRN)?",
    modifiers: ["hidden"],
    customClass: "partner-centrelink-cshc"
  }) %>
</div>