<%

var progress = JSON.parse(include("b-progressbar")) 
progress.activeItem = 5;

%>

<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card Partner",
  heading: "Claim representative",
  progress
}) %>

  <%- include(forms+"yes_no", {
    label: "Do you wish to nominate a claim representative to receive updates and query about this claim on your behalf?",
    hint: "They will not be able to access your account, view other claim statues or access other personal information.",
    modifiers: ["hintNewLine"],
    yes_toggle: "#claim-rep"
  }) %>

  <form id="claim-rep" hidden>
    <h3>Representative details</h3>

    <%- include(forms+"text", {
      label: "Given name",
      hint: "(first name)"
    }) %>

    <%- include(forms+"text", {
      label: "Surname",
      hint: "(last name)"
    }) %>

    <%- include(forms+"prepop/phone-number") %>

    <%- include(forms+"text", {
      label: "Email address",
      hint: "(optional)"
    }) %>

    <h3>Representative postal address</h3>

    <%- include(forms+"prepop/address", {
      modifiers: ["allCountries"],
      label: ""
    }) %>
  </form>

  <%- include(forms+"pagination", {
    pagination: [
      {
        link: "/auth/claim/cshc-partner/b-04",
        text: "Previous"
      },
      {
        link: "#claim-cancel-modal",
        text: "Cancel claim"
      },
      {
        link: "/auth/claim",
        text: "Save and exit",
        modifiers: ["floated"]
      },
      {
        link: "/auth/claim/cshc-partner/b-06",
        text: "Save and next",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(forms+"modals/claim-cancel") %>

  <%- include("b-scripts") %>


<%- include(templates+"footer") %>