<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
    <%- include(partials+"header-authenticated") %>
      <%- include(partials+"header-nom-rep") %>
        <main>
          <section>
            <div class="container" id="main-content">
              <div class="row margin-above">
                <div class="col-sm-3">
                  <%- include(partials+"profile-side-nav") %>
                </div>
                <div class="col-sm-9">
                  <h1 class="margin-above--none">Contact details</h1>
                  <div class="profile-table margin-below--extra">
                    <div class="row profile-row">
                      <div class="col-sm-9 col-xs-7 description-fields">
                        <div class="row">
                          <div class="col-sm-4 title-field">Email address</div>
                          <div class="col-sm-8 uneditable email-uneditable-div">
                            <span id="email-span">robjohnson@email.com</span>
                          </div>
                          <div class="col-sm-8 editable email-editable-div" style="display:none;">
                            <button class="uikit-btn uikit-btn--tertiary small cancel-email-button">Cancel</button>
                            <button class="uikit-btn small save-email-button">Save</button>
                            <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3 col-xs-5 change-button">
                        <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small edit-email-button">Change</button>
                      </div>
                    </div>
                    <div class="row profile-row">
                      <div class="col-sm-9 col-xs-7 description-fields">
                        <div id="error-example" class="row">
                          <div class="col-sm-4 title-field">Home phone number</div>
                          <div class="col-sm-8 uneditable home-uneditable-div">
                            <span id="home-span" class="no-value">Not provided</span>
                          </div>
                          <div class="col-sm-6 editable home-editable-div" style="display:none;">
                            <!-- country codes (ISO 3166) and Dial codes. -->
                            <select name="countryCode-phone" class="uikit-text-input input-half" id="countryCode-phone">
                              <option data-countryCode="AU" value="61">Australia (+61)</option>
                              <optgroup label="Other countries">
                                <option data-countryCode="DZ" value="213">Algeria (+213)</option>
                                <option data-countryCode="AD" value="376">Andorra (+376)</option>
                                <option data-countryCode="AO" value="244">Angola (+244)</option>
                                <option data-countryCode="AI" value="1264">Anguilla (+1264)</option>
                                <option data-countryCode="AG" value="1268">Antigua &amp; Barbuda (+1268)</option>
                                <option data-countryCode="AR" value="54">Argentina (+54)</option>
                                <option data-countryCode="AM" value="374">Armenia (+374)</option>
                                <option data-countryCode="AW" value="297">Aruba (+297)</option>
                                <option data-countryCode="AT" value="43">Austria (+43)</option>
                                <option data-countryCode="AZ" value="994">Azerbaijan (+994)</option>
                                <option data-countryCode="BS" value="1242">Bahamas (+1242)</option>
                                <option data-countryCode="BH" value="973">Bahrain (+973)</option>
                                <option data-countryCode="BD" value="880">Bangladesh (+880)</option>
                                <option data-countryCode="BB" value="1246">Barbados (+1246)</option>
                                <option data-countryCode="BY" value="375">Belarus (+375)</option>
                                <option data-countryCode="BE" value="32">Belgium (+32)</option>
                                <option data-countryCode="BZ" value="501">Belize (+501)</option>
                                <option data-countryCode="BJ" value="229">Benin (+229)</option>
                                <option data-countryCode="BM" value="1441">Bermuda (+1441)</option>
                                <option data-countryCode="BT" value="975">Bhutan (+975)</option>
                                <option data-countryCode="BO" value="591">Bolivia (+591)</option>
                                <option data-countryCode="BA" value="387">Bosnia Herzegovina (+387)</option>
                                <option data-countryCode="BW" value="267">Botswana (+267)</option>
                                <option data-countryCode="BR" value="55">Brazil (+55)</option>
                                <option data-countryCode="BN" value="673">Brunei (+673)</option>
                                <option data-countryCode="BG" value="359">Bulgaria (+359)</option>
                                <option data-countryCode="BF" value="226">Burkina Faso (+226)</option>
                                <option data-countryCode="BI" value="257">Burundi (+257)</option>
                                <option data-countryCode="KH" value="855">Cambodia (+855)</option>
                                <option data-countryCode="CM" value="237">Cameroon (+237)</option>
                                <option data-countryCode="CA" value="1">Canada (+1)</option>
                                <option data-countryCode="CV" value="238">Cape Verde Islands (+238)</option>
                                <option data-countryCode="KY" value="1345">Cayman Islands (+1345)</option>
                                <option data-countryCode="CF" value="236">Central African Republic (+236)</option>
                                <option data-countryCode="CL" value="56">Chile (+56)</option>
                                <option data-countryCode="CN" value="86">China (+86)</option>
                                <option data-countryCode="CO" value="57">Colombia (+57)</option>
                                <option data-countryCode="KM" value="269">Comoros (+269)</option>
                                <option data-countryCode="CG" value="242">Congo (+242)</option>
                                <option data-countryCode="CK" value="682">Cook Islands (+682)</option>
                                <option data-countryCode="CR" value="506">Costa Rica (+506)</option>
                                <option data-countryCode="HR" value="385">Croatia (+385)</option>
                                <option data-countryCode="CU" value="53">Cuba (+53)</option>
                                <option data-countryCode="CY" value="90392">Cyprus North (+90392)</option>
                                <option data-countryCode="CY" value="357">Cyprus South (+357)</option>
                                <option data-countryCode="CZ" value="42">Czech Republic (+42)</option>
                                <option data-countryCode="DK" value="45">Denmark (+45)</option>
                                <option data-countryCode="DJ" value="253">Djibouti (+253)</option>
                                <option data-countryCode="DM" value="1809">Dominica (+1809)</option>
                                <option data-countryCode="DO" value="1809">Dominican Republic (+1809)</option>
                                <option data-countryCode="EC" value="593">Ecuador (+593)</option>
                                <option data-countryCode="EG" value="20">Egypt (+20)</option>
                                <option data-countryCode="SV" value="503">El Salvador (+503)</option>
                                <option data-countryCode="GQ" value="240">Equatorial Guinea (+240)</option>
                                <option data-countryCode="ER" value="291">Eritrea (+291)</option>
                                <option data-countryCode="EE" value="372">Estonia (+372)</option>
                                <option data-countryCode="ET" value="251">Ethiopia (+251)</option>
                                <option data-countryCode="FK" value="500">Falkland Islands (+500)</option>
                                <option data-countryCode="FO" value="298">Faroe Islands (+298)</option>
                                <option data-countryCode="FJ" value="679">Fiji (+679)</option>
                                <option data-countryCode="FI" value="358">Finland (+358)</option>
                                <option data-countryCode="FR" value="33">France (+33)</option>
                                <option data-countryCode="GF" value="594">French Guiana (+594)</option>
                                <option data-countryCode="PF" value="689">French Polynesia (+689)</option>
                                <option data-countryCode="GA" value="241">Gabon (+241)</option>
                                <option data-countryCode="GM" value="220">Gambia (+220)</option>
                                <option data-countryCode="GE" value="7880">Georgia (+7880)</option>
                                <option data-countryCode="DE" value="49">Germany (+49)</option>
                                <option data-countryCode="GH" value="233">Ghana (+233)</option>
                                <option data-countryCode="GI" value="350">Gibraltar (+350)</option>
                                <option data-countryCode="GR" value="30">Greece (+30)</option>
                                <option data-countryCode="GL" value="299">Greenland (+299)</option>
                                <option data-countryCode="GD" value="1473">Grenada (+1473)</option>
                                <option data-countryCode="GP" value="590">Guadeloupe (+590)</option>
                                <option data-countryCode="GU" value="671">Guam (+671)</option>
                                <option data-countryCode="GT" value="502">Guatemala (+502)</option>
                                <option data-countryCode="GN" value="224">Guinea (+224)</option>
                                <option data-countryCode="GW" value="245">Guinea - Bissau (+245)</option>
                                <option data-countryCode="GY" value="592">Guyana (+592)</option>
                                <option data-countryCode="HT" value="509">Haiti (+509)</option>
                                <option data-countryCode="HN" value="504">Honduras (+504)</option>
                                <option data-countryCode="HK" value="852">Hong Kong (+852)</option>
                                <option data-countryCode="HU" value="36">Hungary (+36)</option>
                                <option data-countryCode="IS" value="354">Iceland (+354)</option>
                                <option data-countryCode="IN" value="91">India (+91)</option>
                                <option data-countryCode="ID" value="62">Indonesia (+62)</option>
                                <option data-countryCode="IR" value="98">Iran (+98)</option>
                                <option data-countryCode="IQ" value="964">Iraq (+964)</option>
                                <option data-countryCode="IE" value="353">Ireland (+353)</option>
                                <option data-countryCode="IL" value="972">Israel (+972)</option>
                                <option data-countryCode="IT" value="39">Italy (+39)</option>
                                <option data-countryCode="JM" value="1876">Jamaica (+1876)</option>
                                <option data-countryCode="JP" value="81">Japan (+81)</option>
                                <option data-countryCode="JO" value="962">Jordan (+962)</option>
                                <option data-countryCode="KZ" value="7">Kazakhstan (+7)</option>
                                <option data-countryCode="KE" value="254">Kenya (+254)</option>
                                <option data-countryCode="KI" value="686">Kiribati (+686)</option>
                                <option data-countryCode="KP" value="850">Korea North (+850)</option>
                                <option data-countryCode="KR" value="82">Korea South (+82)</option>
                                <option data-countryCode="KW" value="965">Kuwait (+965)</option>
                                <option data-countryCode="KG" value="996">Kyrgyzstan (+996)</option>
                                <option data-countryCode="LA" value="856">Laos (+856)</option>
                                <option data-countryCode="LV" value="371">Latvia (+371)</option>
                                <option data-countryCode="LB" value="961">Lebanon (+961)</option>
                                <option data-countryCode="LS" value="266">Lesotho (+266)</option>
                                <option data-countryCode="LR" value="231">Liberia (+231)</option>
                                <option data-countryCode="LY" value="218">Libya (+218)</option>
                                <option data-countryCode="LI" value="417">Liechtenstein (+417)</option>
                                <option data-countryCode="LT" value="370">Lithuania (+370)</option>
                                <option data-countryCode="LU" value="352">Luxembourg (+352)</option>
                                <option data-countryCode="MO" value="853">Macao (+853)</option>
                                <option data-countryCode="MK" value="389">Macedonia (+389)</option>
                                <option data-countryCode="MG" value="261">Madagascar (+261)</option>
                                <option data-countryCode="MW" value="265">Malawi (+265)</option>
                                <option data-countryCode="MY" value="60">Malaysia (+60)</option>
                                <option data-countryCode="MV" value="960">Maldives (+960)</option>
                                <option data-countryCode="ML" value="223">Mali (+223)</option>
                                <option data-countryCode="MT" value="356">Malta (+356)</option>
                                <option data-countryCode="MH" value="692">Marshall Islands (+692)</option>
                                <option data-countryCode="MQ" value="596">Martinique (+596)</option>
                                <option data-countryCode="MR" value="222">Mauritania (+222)</option>
                                <option data-countryCode="YT" value="269">Mayotte (+269)</option>
                                <option data-countryCode="MX" value="52">Mexico (+52)</option>
                                <option data-countryCode="FM" value="691">Micronesia (+691)</option>
                                <option data-countryCode="MD" value="373">Moldova (+373)</option>
                                <option data-countryCode="MC" value="377">Monaco (+377)</option>
                                <option data-countryCode="MN" value="976">Mongolia (+976)</option>
                                <option data-countryCode="MS" value="1664">Montserrat (+1664)</option>
                                <option data-countryCode="MA" value="212">Morocco (+212)</option>
                                <option data-countryCode="MZ" value="258">Mozambique (+258)</option>
                                <option data-countryCode="MN" value="95">Myanmar (+95)</option>
                                <option data-countryCode="NA" value="264">Namibia (+264)</option>
                                <option data-countryCode="NR" value="674">Nauru (+674)</option>
                                <option data-countryCode="NP" value="977">Nepal (+977)</option>
                                <option data-countryCode="NL" value="31">Netherlands (+31)</option>
                                <option data-countryCode="NC" value="687">New Caledonia (+687)</option>
                                <option data-countryCode="NZ" value="64">New Zealand (+64)</option>
                                <option data-countryCode="NI" value="505">Nicaragua (+505)</option>
                                <option data-countryCode="NE" value="227">Niger (+227)</option>
                                <option data-countryCode="NG" value="234">Nigeria (+234)</option>
                                <option data-countryCode="NU" value="683">Niue (+683)</option>
                                <option data-countryCode="NF" value="672">Norfolk Islands (+672)</option>
                                <option data-countryCode="NP" value="670">Northern Marianas (+670)</option>
                                <option data-countryCode="NO" value="47">Norway (+47)</option>
                                <option data-countryCode="OM" value="968">Oman (+968)</option>
                                <option data-countryCode="PW" value="680">Palau (+680)</option>
                                <option data-countryCode="PA" value="507">Panama (+507)</option>
                                <option data-countryCode="PG" value="675">Papua New Guinea (+675)</option>
                                <option data-countryCode="PY" value="595">Paraguay (+595)</option>
                                <option data-countryCode="PE" value="51">Peru (+51)</option>
                                <option data-countryCode="PH" value="63">Philippines (+63)</option>
                                <option data-countryCode="PL" value="48">Poland (+48)</option>
                                <option data-countryCode="PT" value="351">Portugal (+351)</option>
                                <option data-countryCode="PR" value="1787">Puerto Rico (+1787)</option>
                                <option data-countryCode="QA" value="974">Qatar (+974)</option>
                                <option data-countryCode="RE" value="262">Reunion (+262)</option>
                                <option data-countryCode="RO" value="40">Romania (+40)</option>
                                <option data-countryCode="RU" value="7">Russia (+7)</option>
                                <option data-countryCode="RW" value="250">Rwanda (+250)</option>
                                <option data-countryCode="SM" value="378">San Marino (+378)</option>
                                <option data-countryCode="ST" value="239">Sao Tome &amp; Principe (+239)</option>
                                <option data-countryCode="SA" value="966">Saudi Arabia (+966)</option>
                                <option data-countryCode="SN" value="221">Senegal (+221)</option>
                                <option data-countryCode="CS" value="381">Serbia (+381)</option>
                                <option data-countryCode="SC" value="248">Seychelles (+248)</option>
                                <option data-countryCode="SL" value="232">Sierra Leone (+232)</option>
                                <option data-countryCode="SG" value="65">Singapore (+65)</option>
                                <option data-countryCode="SK" value="421">Slovak Republic (+421)</option>
                                <option data-countryCode="SI" value="386">Slovenia (+386)</option>
                                <option data-countryCode="SB" value="677">Solomon Islands (+677)</option>
                                <option data-countryCode="SO" value="252">Somalia (+252)</option>
                                <option data-countryCode="ZA" value="27">South Africa (+27)</option>
                                <option data-countryCode="ES" value="34">Spain (+34)</option>
                                <option data-countryCode="LK" value="94">Sri Lanka (+94)</option>
                                <option data-countryCode="SH" value="290">St. Helena (+290)</option>
                                <option data-countryCode="KN" value="1869">St. Kitts (+1869)</option>
                                <option data-countryCode="SC" value="1758">St. Lucia (+1758)</option>
                                <option data-countryCode="SD" value="249">Sudan (+249)</option>
                                <option data-countryCode="SR" value="597">Suriname (+597)</option>
                                <option data-countryCode="SZ" value="268">Swaziland (+268)</option>
                                <option data-countryCode="SE" value="46">Sweden (+46)</option>
                                <option data-countryCode="CH" value="41">Switzerland (+41)</option>
                                <option data-countryCode="SI" value="963">Syria (+963)</option>
                                <option data-countryCode="TW" value="886">Taiwan (+886)</option>
                                <option data-countryCode="TJ" value="7">Tajikstan (+7)</option>
                                <option data-countryCode="TH" value="66">Thailand (+66)</option>
                                <option data-countryCode="TG" value="228">Togo (+228)</option>
                                <option data-countryCode="TO" value="676">Tonga (+676)</option>
                                <option data-countryCode="TT" value="1868">Trinidad &amp; Tobago (+1868)</option>
                                <option data-countryCode="TN" value="216">Tunisia (+216)</option>
                                <option data-countryCode="TR" value="90">Turkey (+90)</option>
                                <option data-countryCode="TM" value="7">Turkmenistan (+7)</option>
                                <option data-countryCode="TM" value="993">Turkmenistan (+993)</option>
                                <option data-countryCode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option>
                                <option data-countryCode="TV" value="688">Tuvalu (+688)</option>
                                <option data-countryCode="UG" value="256">Uganda (+256)</option>
                                <option data-countryCode="GB" value="44">UK (+44)</option>
                                <option data-countryCode="UA" value="380">Ukraine (+380)</option>
                                <option data-countryCode="AE" value="971">United Arab Emirates (+971)</option>
                                <option data-countryCode="UY" value="598">Uruguay (+598)</option>
                                <option data-countryCode="US" value="1">USA (+1)</option>
                                <option data-countryCode="UZ" value="7">Uzbekistan (+7)</option>
                                <option data-countryCode="VU" value="678">Vanuatu (+678)</option>
                                <option data-countryCode="VA" value="379">Vatican City (+379)</option>
                                <option data-countryCode="VE" value="58">Venezuela (+58)</option>
                                <option data-countryCode="VN" value="84">Vietnam (+84)</option>
                                <option data-countryCode="VG" value="84">Virgin Islands - British (+1284)</option>
                                <option data-countryCode="VI" value="84">Virgin Islands - US (+1340)</option>
                                <option data-countryCode="WF" value="681">Wallis &amp; Futuna (+681)</option>
                                <option data-countryCode="YE" value="969">Yemen (North)(+969)</option>
                                <option data-countryCode="YE" value="967">Yemen (South)(+967)</option>
                                <option data-countryCode="ZM" value="260">Zambia (+260)</option>
                                <option data-countryCode="ZW" value="263">Zimbabwe (+263)</option>
                              </optgroup>
                            </select>
                            <span class="hint display-block">Please include your area code (for example, "03" for Victoria)</span>
                            <span id="phone-error" class="input-error-profile" aria-live="polite">Enter a valid home phone number</span>
                            <input class="uikit-text-input" name="home-phone" id="home-phone" type="text" value="">
                            <button class="uikit-btn uikit-btn--tertiary small cancel-home-button">Cancel</button>
                            <button class="uikit-btn small save-home-button">Save</button>
                            <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3 col-xs-5 change-button">
                        <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small edit-home-button">Change</button>
                      </div>
                    </div>
                    <div class="row profile-row">
                      <div class="col-sm-9 col-xs-7 description-fields">
                        <div class="row">
                          <div class="col-sm-4 title-field">Mobile phone number</div>
                          <div class="col-sm-8 uneditable mobile-uneditable-div">
                            <span id="mobile-span">0402111222</span>
                          </div>
                          <div class="col-sm-8 editable mobile-editable-div" style="display:none;">
                            <!-- country codes (ISO 3166) and Dial codes. -->
                            <select name="countryCode-mobile" class="uikit-text-input input-half" id="countryCode-mobile">
                              <option data-countryCode="AU" value="61">Australia (+61)</option>
                              <optgroup label="Other countries">
                                <option data-countryCode="DZ" value="213">Algeria (+213)</option>
                                <option data-countryCode="AD" value="376">Andorra (+376)</option>
                                <option data-countryCode="AO" value="244">Angola (+244)</option>
                                <option data-countryCode="AI" value="1264">Anguilla (+1264)</option>
                                <option data-countryCode="AG" value="1268">Antigua &amp; Barbuda (+1268)</option>
                                <option data-countryCode="AR" value="54">Argentina (+54)</option>
                                <option data-countryCode="AM" value="374">Armenia (+374)</option>
                                <option data-countryCode="AW" value="297">Aruba (+297)</option>
                                <option data-countryCode="AT" value="43">Austria (+43)</option>
                                <option data-countryCode="AZ" value="994">Azerbaijan (+994)</option>
                                <option data-countryCode="BS" value="1242">Bahamas (+1242)</option>
                                <option data-countryCode="BH" value="973">Bahrain (+973)</option>
                                <option data-countryCode="BD" value="880">Bangladesh (+880)</option>
                                <option data-countryCode="BB" value="1246">Barbados (+1246)</option>
                                <option data-countryCode="BY" value="375">Belarus (+375)</option>
                                <option data-countryCode="BE" value="32">Belgium (+32)</option>
                                <option data-countryCode="BZ" value="501">Belize (+501)</option>
                                <option data-countryCode="BJ" value="229">Benin (+229)</option>
                                <option data-countryCode="BM" value="1441">Bermuda (+1441)</option>
                                <option data-countryCode="BT" value="975">Bhutan (+975)</option>
                                <option data-countryCode="BO" value="591">Bolivia (+591)</option>
                                <option data-countryCode="BA" value="387">Bosnia Herzegovina (+387)</option>
                                <option data-countryCode="BW" value="267">Botswana (+267)</option>
                                <option data-countryCode="BR" value="55">Brazil (+55)</option>
                                <option data-countryCode="BN" value="673">Brunei (+673)</option>
                                <option data-countryCode="BG" value="359">Bulgaria (+359)</option>
                                <option data-countryCode="BF" value="226">Burkina Faso (+226)</option>
                                <option data-countryCode="BI" value="257">Burundi (+257)</option>
                                <option data-countryCode="KH" value="855">Cambodia (+855)</option>
                                <option data-countryCode="CM" value="237">Cameroon (+237)</option>
                                <option data-countryCode="CA" value="1">Canada (+1)</option>
                                <option data-countryCode="CV" value="238">Cape Verde Islands (+238)</option>
                                <option data-countryCode="KY" value="1345">Cayman Islands (+1345)</option>
                                <option data-countryCode="CF" value="236">Central African Republic (+236)</option>
                                <option data-countryCode="CL" value="56">Chile (+56)</option>
                                <option data-countryCode="CN" value="86">China (+86)</option>
                                <option data-countryCode="CO" value="57">Colombia (+57)</option>
                                <option data-countryCode="KM" value="269">Comoros (+269)</option>
                                <option data-countryCode="CG" value="242">Congo (+242)</option>
                                <option data-countryCode="CK" value="682">Cook Islands (+682)</option>
                                <option data-countryCode="CR" value="506">Costa Rica (+506)</option>
                                <option data-countryCode="HR" value="385">Croatia (+385)</option>
                                <option data-countryCode="CU" value="53">Cuba (+53)</option>
                                <option data-countryCode="CY" value="90392">Cyprus North (+90392)</option>
                                <option data-countryCode="CY" value="357">Cyprus South (+357)</option>
                                <option data-countryCode="CZ" value="42">Czech Republic (+42)</option>
                                <option data-countryCode="DK" value="45">Denmark (+45)</option>
                                <option data-countryCode="DJ" value="253">Djibouti (+253)</option>
                                <option data-countryCode="DM" value="1809">Dominica (+1809)</option>
                                <option data-countryCode="DO" value="1809">Dominican Republic (+1809)</option>
                                <option data-countryCode="EC" value="593">Ecuador (+593)</option>
                                <option data-countryCode="EG" value="20">Egypt (+20)</option>
                                <option data-countryCode="SV" value="503">El Salvador (+503)</option>
                                <option data-countryCode="GQ" value="240">Equatorial Guinea (+240)</option>
                                <option data-countryCode="ER" value="291">Eritrea (+291)</option>
                                <option data-countryCode="EE" value="372">Estonia (+372)</option>
                                <option data-countryCode="ET" value="251">Ethiopia (+251)</option>
                                <option data-countryCode="FK" value="500">Falkland Islands (+500)</option>
                                <option data-countryCode="FO" value="298">Faroe Islands (+298)</option>
                                <option data-countryCode="FJ" value="679">Fiji (+679)</option>
                                <option data-countryCode="FI" value="358">Finland (+358)</option>
                                <option data-countryCode="FR" value="33">France (+33)</option>
                                <option data-countryCode="GF" value="594">French Guiana (+594)</option>
                                <option data-countryCode="PF" value="689">French Polynesia (+689)</option>
                                <option data-countryCode="GA" value="241">Gabon (+241)</option>
                                <option data-countryCode="GM" value="220">Gambia (+220)</option>
                                <option data-countryCode="GE" value="7880">Georgia (+7880)</option>
                                <option data-countryCode="DE" value="49">Germany (+49)</option>
                                <option data-countryCode="GH" value="233">Ghana (+233)</option>
                                <option data-countryCode="GI" value="350">Gibraltar (+350)</option>
                                <option data-countryCode="GR" value="30">Greece (+30)</option>
                                <option data-countryCode="GL" value="299">Greenland (+299)</option>
                                <option data-countryCode="GD" value="1473">Grenada (+1473)</option>
                                <option data-countryCode="GP" value="590">Guadeloupe (+590)</option>
                                <option data-countryCode="GU" value="671">Guam (+671)</option>
                                <option data-countryCode="GT" value="502">Guatemala (+502)</option>
                                <option data-countryCode="GN" value="224">Guinea (+224)</option>
                                <option data-countryCode="GW" value="245">Guinea - Bissau (+245)</option>
                                <option data-countryCode="GY" value="592">Guyana (+592)</option>
                                <option data-countryCode="HT" value="509">Haiti (+509)</option>
                                <option data-countryCode="HN" value="504">Honduras (+504)</option>
                                <option data-countryCode="HK" value="852">Hong Kong (+852)</option>
                                <option data-countryCode="HU" value="36">Hungary (+36)</option>
                                <option data-countryCode="IS" value="354">Iceland (+354)</option>
                                <option data-countryCode="IN" value="91">India (+91)</option>
                                <option data-countryCode="ID" value="62">Indonesia (+62)</option>
                                <option data-countryCode="IR" value="98">Iran (+98)</option>
                                <option data-countryCode="IQ" value="964">Iraq (+964)</option>
                                <option data-countryCode="IE" value="353">Ireland (+353)</option>
                                <option data-countryCode="IL" value="972">Israel (+972)</option>
                                <option data-countryCode="IT" value="39">Italy (+39)</option>
                                <option data-countryCode="JM" value="1876">Jamaica (+1876)</option>
                                <option data-countryCode="JP" value="81">Japan (+81)</option>
                                <option data-countryCode="JO" value="962">Jordan (+962)</option>
                                <option data-countryCode="KZ" value="7">Kazakhstan (+7)</option>
                                <option data-countryCode="KE" value="254">Kenya (+254)</option>
                                <option data-countryCode="KI" value="686">Kiribati (+686)</option>
                                <option data-countryCode="KP" value="850">Korea North (+850)</option>
                                <option data-countryCode="KR" value="82">Korea South (+82)</option>
                                <option data-countryCode="KW" value="965">Kuwait (+965)</option>
                                <option data-countryCode="KG" value="996">Kyrgyzstan (+996)</option>
                                <option data-countryCode="LA" value="856">Laos (+856)</option>
                                <option data-countryCode="LV" value="371">Latvia (+371)</option>
                                <option data-countryCode="LB" value="961">Lebanon (+961)</option>
                                <option data-countryCode="LS" value="266">Lesotho (+266)</option>
                                <option data-countryCode="LR" value="231">Liberia (+231)</option>
                                <option data-countryCode="LY" value="218">Libya (+218)</option>
                                <option data-countryCode="LI" value="417">Liechtenstein (+417)</option>
                                <option data-countryCode="LT" value="370">Lithuania (+370)</option>
                                <option data-countryCode="LU" value="352">Luxembourg (+352)</option>
                                <option data-countryCode="MO" value="853">Macao (+853)</option>
                                <option data-countryCode="MK" value="389">Macedonia (+389)</option>
                                <option data-countryCode="MG" value="261">Madagascar (+261)</option>
                                <option data-countryCode="MW" value="265">Malawi (+265)</option>
                                <option data-countryCode="MY" value="60">Malaysia (+60)</option>
                                <option data-countryCode="MV" value="960">Maldives (+960)</option>
                                <option data-countryCode="ML" value="223">Mali (+223)</option>
                                <option data-countryCode="MT" value="356">Malta (+356)</option>
                                <option data-countryCode="MH" value="692">Marshall Islands (+692)</option>
                                <option data-countryCode="MQ" value="596">Martinique (+596)</option>
                                <option data-countryCode="MR" value="222">Mauritania (+222)</option>
                                <option data-countryCode="YT" value="269">Mayotte (+269)</option>
                                <option data-countryCode="MX" value="52">Mexico (+52)</option>
                                <option data-countryCode="FM" value="691">Micronesia (+691)</option>
                                <option data-countryCode="MD" value="373">Moldova (+373)</option>
                                <option data-countryCode="MC" value="377">Monaco (+377)</option>
                                <option data-countryCode="MN" value="976">Mongolia (+976)</option>
                                <option data-countryCode="MS" value="1664">Montserrat (+1664)</option>
                                <option data-countryCode="MA" value="212">Morocco (+212)</option>
                                <option data-countryCode="MZ" value="258">Mozambique (+258)</option>
                                <option data-countryCode="MN" value="95">Myanmar (+95)</option>
                                <option data-countryCode="NA" value="264">Namibia (+264)</option>
                                <option data-countryCode="NR" value="674">Nauru (+674)</option>
                                <option data-countryCode="NP" value="977">Nepal (+977)</option>
                                <option data-countryCode="NL" value="31">Netherlands (+31)</option>
                                <option data-countryCode="NC" value="687">New Caledonia (+687)</option>
                                <option data-countryCode="NZ" value="64">New Zealand (+64)</option>
                                <option data-countryCode="NI" value="505">Nicaragua (+505)</option>
                                <option data-countryCode="NE" value="227">Niger (+227)</option>
                                <option data-countryCode="NG" value="234">Nigeria (+234)</option>
                                <option data-countryCode="NU" value="683">Niue (+683)</option>
                                <option data-countryCode="NF" value="672">Norfolk Islands (+672)</option>
                                <option data-countryCode="NP" value="670">Northern Marianas (+670)</option>
                                <option data-countryCode="NO" value="47">Norway (+47)</option>
                                <option data-countryCode="OM" value="968">Oman (+968)</option>
                                <option data-countryCode="PW" value="680">Palau (+680)</option>
                                <option data-countryCode="PA" value="507">Panama (+507)</option>
                                <option data-countryCode="PG" value="675">Papua New Guinea (+675)</option>
                                <option data-countryCode="PY" value="595">Paraguay (+595)</option>
                                <option data-countryCode="PE" value="51">Peru (+51)</option>
                                <option data-countryCode="PH" value="63">Philippines (+63)</option>
                                <option data-countryCode="PL" value="48">Poland (+48)</option>
                                <option data-countryCode="PT" value="351">Portugal (+351)</option>
                                <option data-countryCode="PR" value="1787">Puerto Rico (+1787)</option>
                                <option data-countryCode="QA" value="974">Qatar (+974)</option>
                                <option data-countryCode="RE" value="262">Reunion (+262)</option>
                                <option data-countryCode="RO" value="40">Romania (+40)</option>
                                <option data-countryCode="RU" value="7">Russia (+7)</option>
                                <option data-countryCode="RW" value="250">Rwanda (+250)</option>
                                <option data-countryCode="SM" value="378">San Marino (+378)</option>
                                <option data-countryCode="ST" value="239">Sao Tome &amp; Principe (+239)</option>
                                <option data-countryCode="SA" value="966">Saudi Arabia (+966)</option>
                                <option data-countryCode="SN" value="221">Senegal (+221)</option>
                                <option data-countryCode="CS" value="381">Serbia (+381)</option>
                                <option data-countryCode="SC" value="248">Seychelles (+248)</option>
                                <option data-countryCode="SL" value="232">Sierra Leone (+232)</option>
                                <option data-countryCode="SG" value="65">Singapore (+65)</option>
                                <option data-countryCode="SK" value="421">Slovak Republic (+421)</option>
                                <option data-countryCode="SI" value="386">Slovenia (+386)</option>
                                <option data-countryCode="SB" value="677">Solomon Islands (+677)</option>
                                <option data-countryCode="SO" value="252">Somalia (+252)</option>
                                <option data-countryCode="ZA" value="27">South Africa (+27)</option>
                                <option data-countryCode="ES" value="34">Spain (+34)</option>
                                <option data-countryCode="LK" value="94">Sri Lanka (+94)</option>
                                <option data-countryCode="SH" value="290">St. Helena (+290)</option>
                                <option data-countryCode="KN" value="1869">St. Kitts (+1869)</option>
                                <option data-countryCode="SC" value="1758">St. Lucia (+1758)</option>
                                <option data-countryCode="SD" value="249">Sudan (+249)</option>
                                <option data-countryCode="SR" value="597">Suriname (+597)</option>
                                <option data-countryCode="SZ" value="268">Swaziland (+268)</option>
                                <option data-countryCode="SE" value="46">Sweden (+46)</option>
                                <option data-countryCode="CH" value="41">Switzerland (+41)</option>
                                <option data-countryCode="SI" value="963">Syria (+963)</option>
                                <option data-countryCode="TW" value="886">Taiwan (+886)</option>
                                <option data-countryCode="TJ" value="7">Tajikstan (+7)</option>
                                <option data-countryCode="TH" value="66">Thailand (+66)</option>
                                <option data-countryCode="TG" value="228">Togo (+228)</option>
                                <option data-countryCode="TO" value="676">Tonga (+676)</option>
                                <option data-countryCode="TT" value="1868">Trinidad &amp; Tobago (+1868)</option>
                                <option data-countryCode="TN" value="216">Tunisia (+216)</option>
                                <option data-countryCode="TR" value="90">Turkey (+90)</option>
                                <option data-countryCode="TM" value="7">Turkmenistan (+7)</option>
                                <option data-countryCode="TM" value="993">Turkmenistan (+993)</option>
                                <option data-countryCode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option>
                                <option data-countryCode="TV" value="688">Tuvalu (+688)</option>
                                <option data-countryCode="UG" value="256">Uganda (+256)</option>
                                <option data-countryCode="GB" value="44">UK (+44)</option>
                                <option data-countryCode="UA" value="380">Ukraine (+380)</option>
                                <option data-countryCode="AE" value="971">United Arab Emirates (+971)</option>
                                <option data-countryCode="UY" value="598">Uruguay (+598)</option>
                                <option data-countryCode="US" value="1">USA (+1)</option>
                                <option data-countryCode="UZ" value="7">Uzbekistan (+7)</option>
                                <option data-countryCode="VU" value="678">Vanuatu (+678)</option>
                                <option data-countryCode="VA" value="379">Vatican City (+379)</option>
                                <option data-countryCode="VE" value="58">Venezuela (+58)</option>
                                <option data-countryCode="VN" value="84">Vietnam (+84)</option>
                                <option data-countryCode="VG" value="84">Virgin Islands - British (+1284)</option>
                                <option data-countryCode="VI" value="84">Virgin Islands - US (+1340)</option>
                                <option data-countryCode="WF" value="681">Wallis &amp; Futuna (+681)</option>
                                <option data-countryCode="YE" value="969">Yemen (North)(+969)</option>
                                <option data-countryCode="YE" value="967">Yemen (South)(+967)</option>
                                <option data-countryCode="ZM" value="260">Zambia (+260)</option>
                                <option data-countryCode="ZW" value="263">Zimbabwe (+263)</option>
                              </optgroup>
                            </select>
                            <input class="uikit-text-input phone-input" name="mobile-phone" id="mobile-phone" value="0402111222" type="text">
                            <button class="uikit-btn uikit-btn--tertiary small cancel-mobile-button">Cancel</button>
                            <button class="uikit-btn small save-mobile-button">Save</button>
                            <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3 col-xs-5 change-button">
                        <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small edit-mobile-button">Change</button>
                      </div>
                    </div>
                    <div class="row profile-row">
                      <div class="col-sm-9 col-xs-7 description-fields">
                        <div class="row">
                          <div class="col-sm-4 title-field">Postal address</div>
                          <div class="col-sm-8 uneditable postal-uneditable-div">
                            <span id="address0-span" style="display:none;"></span>
                            <span id="address1-span">86 High Street</span>
                            <span id="address2-span" style="display:none;"></span>
                            <br />
                            <span id="town-span">Warooka</span>
                            <span id="town-span">SA</span>
                            <span id="postcode-span">5577</span>
                            <br />
                            <span id="country-span">Australia</span>
                          </div>
                          <div class="col-sm-8 editable postal-editable-div" style="display:none;">
                            <%- include(partials+"content_groups/address-postal") %>
                              <button class="uikit-btn uikit-btn--tertiary small cancel-postal-button">Cancel</button>
                              <button class="uikit-btn small save-postal-button">Save</button>
                              <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3 col-xs-5 change-button">
                        <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">Change in MyAccount</button>
                      </div>
                    </div>
                    <div class="row profile-row">
                      <div class="col-sm-9 col-xs-7 description-fields">
                        <div class="row">
                          <div class="col-sm-4 title-field">Residential address</div>
                          <div class="col-sm-8 uneditable residential-uneditable-div">
                            <span id="residential-span">Same as postal address</span>
                          </div>
                          <div class="col-sm-8 editable residential-editable-div" style="display:none;">
                            <div class="form-group">
                              <label class="uikit-control-input">
                                <input class="uikit-control-input__input sameAsPostal" type="checkbox" name="sameAsPostal" value="" checked>
                                <span class="uikit-control-input__text">Same as postal address</span>
                              </label>
                            </div>
                            <div class="pt-showIfAdditionalAddress">
                              <%- include(partials+"content_groups/address-residential") %>
                            </div>
                            <button class="uikit-btn uikit-btn--tertiary small cancel-residential-button">Cancel</button>
                            <button class="uikit-btn small save-residential-button">Save</button>
                            <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3 col-xs-5 change-button">
                        <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">Change in MyAccount</button>
                      </div>
                    </div>
                    <!-- <div class="row profile-row-address">
                    <div class="col-sm-10 col-xs-8 description-fields">
                      <div class="row">
                        <div class="col-sm-6 address-line">
                          <span class="title-field">Postal Address</span>
                          <div class="uneditable address-uneditable-div">
                            <span id="address1-span">86 High Street</span>
                            <br/>
                            <span id="town-span">Warooka</span>
                            <span id="town-span">SA</span>
                            <span id="postcode-span">5577</span>
                            <br/>
                            <span id="country-span">Australia</span>
                          </div>
                          <div class="editable address-editable-div" style="display:none;">
                            <div class="form-group">
                              <label class="uikit-text-input__label" for="postalAddr.country">Country</label>
                              <select id="postalAddr.country" name="postalAddr.country">
                                <option value="Australia" selected>Australia</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <div class="field">
                                <label class="uikit-text-input__label" for="residentialAddr.addressPrefix">
                                  Building name or address prefix
                                  <span class="hint">(optional)</span>
                                </label>
                                <input type="text" id="residentialAddr.addressPrefix" name="residentialAddr.addressPrefix" class="uikit-text-input" aria-required="false"
                                  maxlength="38" value="">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="field">
                                <label class="uikit-text-input__label" for="residentialAddr.addressLine1">
                                  Address line 1
                                </label>
                                <input type="text" id="residentialAddr.addressLine1" name="residentialAddr.addressLine1" class="uikit-text-input" aria-required="true"
                                  maxlength="38" value="86 High Street">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="field">
                                <label class="uikit-text-input__label" for="residentialAddr.addressLine2">
                                  Address line 2
                                  <span class="hint">(optional)</span>
                                </label>
                                <input type="text" id="residentialAddr.addressLine2" name="residentialAddr.addressLine2" class="uikit-text-input" aria-required="false"
                                  maxlength="38" value="">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="field">
                                <label class="uikit-text-input__label" for="residentialAddr.town">
                                  Town
                                </label>
                                <input type="text" id="residentialAddr.town" name="residentialAddr.town" class="uikit-text-input" aria-required="true" maxlength="17"
                                  value="WAROOKA">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="uikit-text-input__label" for="residentialAddr.postcode">
                                Postcode
                              </label>
                              <input type="text" id="residentialAddr.postcode" name="residentialAddr.postcode" class="uikit-text-input input-small yyyy"
                                aria-required="true" maxlength="4" value="5577">
                            </div>
                            <div class="form-group">
                              <label class="uikit-text-input__label" for="residentialAddr.state">
                                State or territory
                              </label>
                              <select id="residentialAddr.state" name="residentialAddr.state">
                                <option value="">-- Select state or territory --</option>
                                <option value="ACT">Australian Capital Territory</option>
                                <option value="NSW">New South Wales</option>
                                <option value="NT">Northern Territory</option>
                                <option value="QLD">Queensland</option>
                                <option value="SA">South Australia</option>
                                <option value="TAS">Tasmania</option>
                                <option value="VIC">Victoria</option>
                                <option value="WA">Western Australia</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 address-line">
                          <span class="title-field">Residential Address</span>
                          <div class="uneditable address-uneditable-div">
                            <span id="address-span">Same as postal address</span>
                          </div>
                          <div class="editable address-editable-div" style="display:none;">
                            <label class="uikit-control-input">
                              <input type="checkbox" class="uikit-control-input__input" name="sameAsPostal" value="on" checked="">
                              <span class="uikit-control-input__text">Same as postal address</span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row editable address-editable-div" style="display:none;">
                        <button class="uikit-btn uikit-btn--tertiary small cancel-address-button">Cancel</button>
                        <button class="uikit-btn small save-address-button">Save</button>
                        <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                      </div>
                    </div>
                    <div class="col-sm-2 col-xs-4 change-button">
                      <button class="uikit-btn uikit-btn--tertiary small edit-address-button">Change</button>
                    </div>
                  </div> -->
                  </div>
                </div>
          </section>
        </main>
        <%- include(partials+"footer") %>
          <script>
            $('.call-toast').click(function () {
              $('body,html').animate({
                scrollTop: 0
              }, 100);
              // hack to reset focus to top of page
              document.body.setAttribute('tabindex', '0');
              document.body.focus();
              document.body.removeAttribute('tabindex');
              $("#toast__message").show("slow");
            });

            $("#toast__message").click(function () {
              $("#toast__message").hide("slow");
            });
          </script>
          <script>
            $(".countryPostal").change(function () {
              if ($('.countryPostal :selected').val() == "Australia") {
                $(".addressInAusPostal").show();
              } else {
                $(".addressInAusPostal").hide();

              }
            });

            $(".countryResidential").change(function () {
              if ($('.countryResidential :selected').val() == "Australia") {
                $(".addressInAusRes").show();
              } else {
                $(".addressInAusRes").hide();

              }
            });

            $(".pt-showIfAdditionalAddress").hide();

            $('input[name=sameAsPostal]').change(function () {
              if ($(this).is(':checked')) {
                $(".pt-showIfAdditionalAddress").hide();
              } else {
                $(".pt-showIfAdditionalAddress").show();
              }
            });

            // mimic functionality need after a save button is pressed
            // to disable all edit buttons to allow for saving time
            var fewSeconds = 2;

            // When the edit field is clicked for home phone number
            $(".edit-home-button").click(function () {
              $(".home-editable-div").show();
              $(".save-home-button").show();
              $(".edit-home-button").hide();
              $(".home-uneditable-div").hide();
              $("#error-example").addClass('has-error');
              // disable other edit fields
              $('.edit-email-button, .edit-mobile-button, .edit-postal-button, .edit-residential-button, .edit-address-button').prop('disabled', true);
            });

            // When the save field is clicked for home phone number
            $(".save-home-button").click(function () {
              $("#error-example").removeClass('has-error');

              var btn = $(".save-home-button, .cancel-home-button");
              btn.prop('disabled', true);
              $('.waiting-animation').show();
              setTimeout(function () {
                btn.prop('disabled', false);

                $(".home-editable-div").hide();
                $(".save-home-button").hide();
                $(".edit-home-button").show();
                $(".home-uneditable-div").show();
                var home_new = $("#home-phone").val();
                $("#home-span").html(home_new)
                // re-enable other edit fields
                $('.edit-email-button, .edit-mobile-button, .edit-postal-button, .edit-residential-button, .edit-address-button').prop('disabled', false);
                $('.waiting-animation').hide();
              }, fewSeconds * 1000);
            });

            // When the cancel field is clicked for home phone number
            $(".cancel-home-button").click(function () {
              $("#error-example").removeClass('has-error');
              $(".home-editable-div").hide();
              $(".save-home-button").hide();
              $(".edit-home-button").show();
              $(".home-uneditable-div").show();
              // re-enable other edit fields
              $('.edit-email-button, .edit-mobile-button, .edit-postal-button, .edit-residential-button, .edit-address-button').prop('disabled', false);
            });

            // When the edit field is clicked for mobile phone number
            $(".edit-mobile-button").click(function () {
              $(".mobile-editable-div").show();
              $(".save-mobile-button").show();
              $(".edit-mobile-button").hide();
              $(".mobile-uneditable-div").hide();
              // disable other edit fields
              $('.edit-home-button, .edit-email-button, .edit-postal-button, .edit-residential-button, .edit-address-button').prop('disabled', true);
            });

            // When the save field is clicked for mobile phone number
            $(".save-mobile-button").click(function () {

              var btn = $(".save-mobile-button, .cancel-mobile-button");
              btn.prop('disabled', true);
              $('.waiting-animation').show();
              setTimeout(function () {
                btn.prop('disabled', false);
                $(".mobile-editable-div").hide();
                $(".save-mobile-button").hide();
                $(".edit-mobile-button").show();
                $(".mobile-uneditable-div").show();
                var mobile_new = $("#mobile-phone").val();
                $("#mobile-span").html(mobile_new)
                // re-enable other edit fields
                $('.edit-home-button, .edit-email-button, .edit-postal-button, .edit-residential-button, .edit-address-button').prop('disabled', false);
                $('.waiting-animation').hide();
              }, fewSeconds * 1000);
            });

            // When the cancel field is clicked for mobile phone number
            $(".cancel-mobile-button").click(function () {
              $(".mobile-editable-div").hide();
              $(".save-mobile-button").hide();
              $(".edit-mobile-button").show();
              $(".mobile-uneditable-div").show();
              // re-enable other edit fields
              $('.edit-home-button, .edit-email-button, .edit-postal-button, .edit-residential-button, .edit-address-button').prop('disabled', false);
            });


            // When the edit field is clicked for postal address
            $(".edit-postal-button").click(function () {
              $(".postal-editable-div").show();
              $(".save-postal-button").show();
              $(".edit-postal-button").hide();
              $(".postal-uneditable-div").hide();
              // disable other edit fields
              $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-residential-button, .edit-address-button').prop('disabled', true);
            });

            // When the save field is clicked for postal address
            $(".save-postal-button").click(function () {
              var btn = $(".save-postal-button, .cancel-postal-button");
              btn.prop('disabled', true);
              $('.waiting-animation').show();
              setTimeout(function () {
                btn.prop('disabled', false);
                $(".postal-editable-div").hide();
                $(".save-postal-button").hide();
                $(".edit-postal-button").show();
                $(".postal-uneditable-div").show();
                // re-enable other edit fields
                $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-residential-button, .edit-address-button').prop('disabled', false);
                $('.waiting-animation').hide();
              }, fewSeconds * 1000);
            });

            // When the cancel field is clicked for postal address
            $(".cancel-postal-button").click(function () {
              $(".postal-editable-div").hide();
              $(".save-postal-button").hide();
              $(".edit-postal-button").show();
              $(".postal-uneditable-div").show();
              // re-enable other edit fields
              $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-residential-button, .edit-address-button').prop('disabled', false);
            });


            // When the edit field is clicked for residential address
            $(".edit-residential-button").click(function () {
              $(".residential-editable-div").show();
              $(".save-residential-button").show();
              $(".edit-residential-button").hide();
              $(".residential-uneditable-div").hide();
              // disable other edit fields
              $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-postal-button, .edit-address-button').prop('disabled', true);
            });

            // When the save field is clicked for residential address
            $(".save-residential-button").click(function () {
              var btn = $(".save-residential-button, .cancel-residential-button");
              btn.prop('disabled', true);
              $('.waiting-animation').show();
              setTimeout(function () {
                btn.prop('disabled', false);
                $(".residential-editable-div").hide();
                $(".save-residential-button").hide();
                $(".edit-residential-button").show();
                $(".residential-uneditable-div").show();

                // re-enable other edit fields
                $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-postal-button, .edit-address-button').prop('disabled', false);
                $('.waiting-animation').hide();
              }, fewSeconds * 1000);
            });

            // When the cancel field is clicked for residential address
            $(".cancel-residential-button").click(function () {
              $(".residential-editable-div").hide();
              $(".save-residential-button").hide();
              $(".edit-residential-button").show();
              $(".residential-uneditable-div").show();
              // re-enable other edit fields
              $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-postal-button, .edit-address-button').prop('disabled', false);
            });


            // When the edit field is clicked for address
            $(".edit-address-button").click(function () {
              $(".address-editable-div").show();
              $(".save-address-button").show();
              $(".edit-address-button").hide();
              $(".address-uneditable-div").hide();
              // disable other edit fields
              $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-postal-button').prop('disabled', true);
            });

            // When the save field is clicked for address
            $(".save-address-button").click(function () {
              var btn = $(".save-address-button, .cancel-address-button");
              btn.prop('disabled', true);
              $('.waiting-animation').show();
              setTimeout(function () {
                btn.prop('disabled', false);
                $(".address-editable-div").hide();
                $(".save-address-button").hide();
                $(".edit-address-button").show();
                $(".address-uneditable-div").show();
                // re-enable other edit fields
                $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-postal-button').prop('disabled', false);
                $('.waiting-animation').hide();
              }, fewSeconds * 1000);
            });

            // When the cancel field is clicked for address
            $(".cancel-address-button").click(function () {
              $(".address-editable-div").hide();
              $(".save-address-button").hide();
              $(".edit-address-button").show();
              $(".address-uneditable-div").show();
              // re-enable other edit fields
              $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-postal-button').prop('disabled', false);
            });
          </script>
</body>

</html>
