<%#- include(templates+"header", {
  claim: "Profile"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row margin-above margin-below--extra">
          <div class="col-sm-3">
            <%- include(partials+"components/layout/profile-side-nav") %>
          </div>

          <div class="col-sm-9">
            <h1 class="margin-above--none">Service history</h1>
            <!-- <p>This is required to help us assess whether you have the required qualifying service.</p> -->
            <!-- <p>Keep your service history up-to-date in order to make the claiming process easier.</p> -->

            <% if (!locals.liveFeature.includes('featureServiceHistoryUpdate')) { %>

            <p>DVA is improving how we manage your service history. Ensure your service history is up-to-date to make claiming easier.</p>

            <%- include(partials+"content/service-history") %>

            <% } else { %>
            <div class="profile-table" role="list">
              <div class="row profile-row" role="listitem">
                <div class="col-sm-9 col-xs-7 description-fields">
                  <div class="row">
                    <div class="col-sm-4 title-field">PMKeyS number</div>
                    <div class="col-sm-8 uneditable">
                      <span>20122550</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-5 change-button">
                  <!-- <div class="description-locked"></div> -->
                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled>Locked</button>
                </div>
              </div>
              <div class="row profile-row" role="listitem">
                <div class="col-sm-9 col-xs-7 description-fields">
                  <div class="row">
                    <div class="col-sm-4 title-field">Original hire date</div>
                    <div class="col-sm-8 uneditable">
                      <span>13 / 10 / 2006</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-5 change-button">
                  <!-- <div class="description-locked"></div> -->
                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled>Locked</button>
                </div>
              </div>
              <div class="row profile-row" role="listitem">
                <div class="col-sm-9 col-xs-7 description-fields">
                  <div class="row">
                    <div class="col-sm-4 title-field">Current rank</div>
                    <div class="col-sm-8 uneditable rank-uneditable-div">
                      <span id="rank-span">Wing Commander</span>
                    </div>
                    <div class="col-sm-8 editable rank-editable-div" style="display:none;">
                      <select class="uikit-text-input" name="highest-rank" id="highest-rank" type="text" value="">
                        <option>-- Select rank --</option>
                        <option value="Able Seaman" selected>Able Seaman</option>
                        <option value="Acting Sub Lieutenant">Acting Sub Lieutenant</option>
                        <option value="Admiral">Admiral</option>
                        <option value="Air Chief Marshal">Air Chief Marshal</option>
                        <option value="Air Commodore">Air Commodore</option>
                        <option value="Air Marshal">Air Marshal</option>
                        <option value="Air Vice Marshal">Air Vice Marshal</option>
                        <option value="Aircraftman">Aircraftman</option>
                        <option value="Aircraftwoman">Aircraftwoman</option>
                        <option value="Bombardier">Bombardier</option>
                        <option value="Brigadier">Brigadier</option>
                        <option value="Captain">Captain</option>
                        <option value="Chief Petty Officer">Chief Petty Officer</option>
                        <option value="Colonel">Colonel</option>
                        <option value="Commander">Commander</option>
                        <option value="Commodore">Commodore</option>
                        <option value="Corporal">Corporal</option>
                        <option value="Flight Lieutenant">Flight Lieutenant</option>
                        <option value="Flight Sergeant">Flight Sergeant</option>
                        <option value="Flying Officer">Flying Officer</option>
                        <option value="General">General</option>
                        <option value="General Sir">General Sir</option>
                        <option value="Group Captain">Group Captain</option>
                        <option value="Lance Bombardier">Lance Bombardier</option>
                        <option value="Lance Corporal">Lance Corporal</option>
                        <option value="Leading Aircraftman">Leading Aircraftman</option>
                        <option value="Leading Aircraftwoman">Leading Aircraftwoman</option>
                        <option value="Leading Seaman">Leading Seaman</option>
                        <option value="Lieutenant">Lieutenant</option>
                        <option value="Lieutenant Colonel">Lieutenant Colonel</option>
                        <option value="Lieutenant Commander">Lieutenant Commander</option>
                        <option value="Lieutenant General">Lieutenant General</option>
                        <option value="Lieutenant General Sir">Lieutenant General Sir</option>
                        <option value="Major">Major</option>
                        <option value="Major General">Major General</option>
                        <option value="Major General Sir">Major General Sir</option>
                        <option value="Midshipman">Midshipman</option>
                        <option value="Non-Commissioned Officer Cadet">Non-Commissioned Officer Cadet</option>
                        <option value="Officer Cadet">Officer Cadet</option>
                        <option value="Petty Officer">Petty Officer</option>
                        <option value="Pilot Officer">Pilot Officer</option>
                        <option value="Private">Private</option>
                        <option value="Rear Admiral">Rear Admiral</option>
                        <option value="Regimental Sergeant Major">Regimental Sergeant Major</option>
                        <option value="Seaman">Seaman</option>
                        <option value="Second Lieutenant">Second Lieutenant</option>
                        <option value="Sergeant">Sergeant</option>
                        <option value="Squadron Leader">Squadron Leader</option>
                        <option value="Staff Sergeant">Staff Sergeant</option>
                        <option value="Sub Lieutenant">Sub Lieutenant</option>
                        <option value="Vice Admiral">Vice Admiral</option>
                        <option value="Vice Admiral Sir">Vice Admiral Sir</option>
                        <option value="Warrant Officer">Warrant Officer</option>
                        <option value="Warrant Officer Class 1">Warrant Officer Class 1</option>
                        <option value="Warrant Officer Class 2">Warrant Officer Class 2</option>
                        <option value="Warrant Officer of the Air Force">Warrant Officer of the Air Force</option>
                        <option value="Warrant Officer of the Navy">Warrant Officer of the Navy</option>
                        <option value="Wing Commander">Wing Commander</option>
                      </select>
                      <button class="uikit-btn uikit-btn--tertiary small cancel-rank-button">Cancel</button>
                      <button class="uikit-btn small save-rank-button">Save</button>
                      <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-5 change-button">
                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small edit-rank-button">Change</button>
                </div>
              </div>

            </div>

            <table class="margin-above--extra" id="prepop">
              <thead>
                <tr>
                  <th>Branch of service</th>
                  <th>Start date</th>
                  <th>End date</th>
                  <th>Operations</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Royal Australian Navy</td>
                  <td>13 / 10 / 2006</td>
                  <td>14 / 01 / 2007</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Royal Australian Navy</td>
                  <td>15 / 01 / 2007</td>
                  <td>29 / 02 / 2008</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Royal Australian Navy</td>
                  <td>01 / 03 / 2008</td>
                  <td>
                    <em>(Currently in service)</em>
                  </td>
                  <td>
                    <p>
                      11 / 08 / 2008
                      to
                      27 / 09 / 2008
                      <br>
                      Operation RESOLUTE
                    </p>
                    <p>
                      20 / 06 / 2009
                      to
                      15 / 11 / 2009
                      <br>
                      Operation SLIPPER
                    </p>
                    <p>
                      12 / 11 / 2012
                      to
                      13 / 12 / 2012
                      <br>
                      Operation RESOLUTE
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>

            <% } %></h1>




          </div>

        </div>
      </div>
    </section>
    <div class="toast-container"></div>
    <div id="state-switcher">
      <h3>State Switcher</h3>
      <div class="form-group">
        <label class="uikit-text-input__label" for="toggle-buttons">User status:</label>
        <div class="radio-toggle">
          <label class="on label-left" for="user-status--cleanskin">
            <input id="user-status--cleanskin" type="radio" name="user-status">
            <span>Cleanskin</span>
          </label>
          <label class="off label-right" for="user-status--prepopulated">
            <input id="user-status--prepopulated" type="radio" name="user-status">
            <span>Pre-populated</span>
          </label>
        </div>
      </div>
    </div>
  </main>
  </div>
  <%- include(partials+"components/layout/footer") %>

  <script>
    $(document).ready(function () {
      /* state-switcher */
      var userStatus = "cleanskin";
      if (userStatus == "cleanskin") {
        $("#user-status--cleanskin").click();
      }
      $(document).keypress(function (e) {
        // alert(e.which);
        switch (e.which) {
          case 96: //tilda
            $('#state-switcher').toggle();
            break;
          default:
        }
      });

      <% if (!locals.liveFeature.includes('featureServiceHistoryUpdate')) { %>        
        $("#user-status--cleanskin").on("click", function (e) {
          location.reload();
        });
        $("#user-status--prepopulated").on("click", function (e) {
          $("#service-period-add").click();
          $('#operation-add').click();
          $('#operation-add').click();
          $('#add-another-service-period').click();
          $("#service-period-add").click();

        });
      <% } else { %>
        $("#user-status--prepopulated").prop("checked", true)
        $("#user-status--cleanskin").on("click", function (e) {
          $("#prepop").hide();
        });

        $("#user-status--prepopulated").on("click", function (e) {
          $("#prepop").show();
        });
      <% } %>

    });

  </script>
</body>

</html>
