<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Profile | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row margin-above">
          <div class="col-sm-3">
            <%- include(partials+"components/layout/profile-side-nav") %>
          </div>
          <div class="col-sm-9">
            <h1 class="margin-above--none">Personal details</h1>
            <div class="profile-table" role="list">
              <div class="row profile-row" role="listitem">
                <div class="col-sm-9 col-xs-7 description-fields">
                  <div class="row">
                    <div class="col-sm-4 title-field">Title</div>
                    <div class="col-sm-8 uneditable title-uneditable-div">
                      <span id="title-span">Not specified</span>
                    </div>
                    <div class="col-sm-8 editable title-editable-div" style="display:none;">
                      <%- include(partials+"content/global-select-list-title") %>
                      <button class="uikit-btn uikit-btn--tertiary small cancel-title-button">Cancel</button>
                      <button class="uikit-btn small save-title-button">Save</button>
                      <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                    </div>
                  </div>
                  <!-- </div> -->
                  <div class="col-sm-8 editable title-editable-div" style="display:none;">
                    <%- include(partials+"content/global-select-list-title") %>
                    <button class="uikit-btn uikit-btn--tertiary small cancel-title-button">Cancel</button>
                    <button class="uikit-btn small save-title-button">Save</button>
                    <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                  </div>
                </div>
                <!-- </div> -->
                <div class="col-sm-3 col-xs-5 change-button">
                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small edit-title-button">Change</button>
                </div>
              </div>
              <div class="row profile-row" role="listitem">
                <div class="col-sm-9 col-xs-7 description-fields">
                  <div class="row">
                    <div class="col-sm-4 title-field">Name</div>
                    <div class="col-sm-8 uneditable">
                      <span><span class="pt-current-user-name-full"></span></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-5 change-button">

                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled>Locked</button>
                </div>
              </div>

              <div class="row profile-row" role="listitem">
                <div class="col-sm-9 col-xs-7 description-fields">
                  <div class="row">
                    <div class="col-sm-4 title-field">File number</div>
                    <div class="col-sm-8 uneditable">
                      <span><span class="pt-current-user-file-number">Not provided</span></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-5 change-button">

                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled>Locked</button>
                </div>
              </div>
              <%#               
              <div class="row profile-row" role="listitem">
                <div class="col-sm-9 col-xs-7 description-fields">
                  <div class="row">
                    <div class="col-sm-4 title-field">Highest rank achieved</div>
                    <div class="col-sm-8 uneditable">
                      <span>Leading seaman</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-5 change-button">
                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled>Locked</button>
                </div>
              </div> %>

              <%# <div class="row profile-row" role="listitem">
                <div class="col-sm-9 col-xs-7 description-fields">
                  <div class="row">
                    <div class="col-sm-4 title-field">Relationship status</div>
                    <div class="col-sm-4 uneditable relationship-uneditable-div">
                      <span id="relationship-span">Married</span>
                    </div>
                    <div class="col-sm-8 editable relationship-editable-div" style="display:none;">
                      <select class="uikit-text-input" name="relationship" id="relationship" type="text" value="">
                        <option>-- Select status --</option>
                        <option selected="">Not specified</option>
                        <option value="De facto">De facto</option>
                        <option value="Divorced">Divorced</option>
                        <option value="Married" selected>Married</option>
                        <option value="Partner Deceased">Partner Deceased</option>
                        <option value="Separated">Separated</option>
                        <option value="Single">Single</option>
                        <option value="Unable to Live Together (medical reason)">Unable to Live Together (medical reason)</option>
                        <option value="Widowed">Widowed</option>
                      </select>
                      <p>
                        <font color="red">* Clicking the 'Save' button below will activate the modal a user will see if they click on the 'MyAccount' link in the navbar whilst a
                          profile field is
                          still in edit mode.</font>
                      </p>
                      <button class="uikit-btn uikit-btn--tertiary small cancel-relationship-button">Cancel</button>
                      <button class="uikit-btn small save-relationship-button" onclick="window.location.href = '#open-modal-myaccount-unsaved-changes'">Save</button>
                      <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-5 change-button">
                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small edit-relationship-button">Change</button>
                </div>
              </div> %>

            </div>


            <div class="margin-above--extra margin-below--extra">
              <i>To change locked information, call
                <a href="tel:1800555254">1800 555 254</a> or email
                <a href="mailto:generalenquiries@dva.gov.au">generalenquiries@dva.gov.au</a>
              </i>
            </div>
          </div>
          <br>
          <br>
          <!-- <button class="uikit-btn" onclick="window.location.href = '#open-modal-unsaved-changes'">Test modal</button> -->
          <%- include(partials+"content/modals/auth-modal-unsaved-changes") %>
          <%- include(partials+"content/modals/auth-modal-myaccount-unsaved-changes") %>
        </div>
    </section>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <script>
    // mimic functionality need after a save button is pressed
    // to disable all edit buttons to allow for saving time
    var fewSeconds = 2;

    // When the edit field is clicked for title
    $(".edit-title-button").click(function () {
      $(".title-editable-div").show();
      $(".save-title-button").show();
      $(".edit-title-button").hide();
      $(".title-uneditable-div").hide();
      // disable other edit fields
      $('.edit-rank-button, .edit-relationship-button').prop('disabled', true);
    });

    // When the save field is clicked for title
    $(".save-title-button").click(function () {

      var btn = $(".save-title-button, .cancel-title-button");
      btn.prop('disabled', true);
      $('.waiting-animation').show();
      setTimeout(function () {
        btn.prop('disabled', false);
        var title_new = $("#title").val();
        $("#title-span").html(title_new)
        // re-enable other edit fields
        $('.edit-rank-button, .edit-relationship-button').prop('disabled', false);
        $(".title-editable-div").hide();
        $(".save-title-button").hide();
        $(".edit-title-button").show();
        $(".title-uneditable-div").show();
        $('.waiting-animation').hide();
      }, fewSeconds * 1000);
    });

    // When the cancel field is clicked for title
    $(".cancel-title-button").click(function () {
      $(".title-editable-div").hide();
      $(".save-title-button").hide();
      $(".edit-title-button").show();
      $(".title-uneditable-div").show();
      // re-enable other edit fields
      $('.edit-rank-button, .edit-relationship-button').prop('disabled', false);
    });

    // When the edit field is clicked for rank
    $(".edit-rank-button").click(function () {
      $(".rank-editable-div").show();
      $(".save-rank-button").show();
      $(".edit-rank-button").hide();
      $(".rank-uneditable-div").hide();
      // disable other edit fields
      $('.edit-title-button, .edit-relationship-button').prop('disabled', true);
    });

    // When the save field is clicked for rank
    $(".save-rank-button").click(function () {

      var btn = $(".save-rank-button, .cancel-rank-button");
      btn.prop('disabled', true);
      $('.waiting-animation').show();
      setTimeout(function () {
        btn.prop('disabled', false);

        $(".rank-editable-div").hide();
        $(".save-rank-button").hide();
        $(".edit-rank-button").show();
        $(".rank-uneditable-div").show();
        var rank_new = $("#highest-rank").val();
        $("#rank-span").html(rank_new)
        // re-enable other edit fields
        $('.edit-title-button, .edit-relationship-button').prop('disabled', false);
        $('.waiting-animation').hide();
      }, fewSeconds * 1000);
    });

    // When the cancel field is clicked for rank
    $(".cancel-rank-button").click(function () {
      $(".rank-editable-div").hide();
      $(".save-rank-button").hide();
      $(".edit-rank-button").show();
      $(".rank-uneditable-div").show();
      // re-enable other edit fields
      $('.edit-title-button, .edit-relationship-button').prop('disabled', false);
    });

    // When the edit field is clicked for relationship status
    $(".edit-relationship-button").click(function () {
      $(".relationship-editable-div").show();
      $(".save-relationship-button").show();
      $(".edit-relationship-button").hide();
      $(".relationship-uneditable-div").hide();
      // disable other edit fields
      $('.edit-title-button, .edit-rank-button').prop('disabled', true);
    });

    // When the save field is clicked for relationship status
    $(".save-relationship-button").click(function () {

      var btn = $(".save-relationship-button, .cancel-relationship-button");
      btn.prop('disabled', true);
      $('.waiting-animation').show();
      setTimeout(function () {
        btn.prop('disabled', false);
        $(".relationship-editable-div").hide();
        $(".save-relationship-button").hide();
        $(".edit-relationship-button").show();
        $(".relationship-uneditable-div").show();
        var relationship_new = $("#relationship").val();
        $("#relationship-span").html(relationship_new)
        // re-enable other edit fields
        $('.edit-title-button, .edit-rank-button').prop('disabled', false);
        $('.waiting-animation').hide();
      }, fewSeconds * 1000);
    });

    // When the cancel field is clicked for relationship status
    $(".cancel-relationship-button").click(function () {
      $(".relationship-editable-div").hide();
      $(".save-relationship-button").hide();
      $(".edit-relationship-button").show();
      $(".relationship-uneditable-div").show();
      // re-enable other edit fields
      $('.edit-title-button, .edit-rank-button').prop('disabled', false);
    });

  </script>
</body>

</html>
