<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile: bank account | MyService</title>
  <%- include(partials+"components/layout/head") %>
  <style>
    #templates {
      display: none;
    }

    #state-switcher {
      min-height: 350px;
    }

  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row margin-above">
          <div class="col-sm-3">
            <%- include(partials+"components/layout/profile-side-nav") %>
          </div>
          <div class="col-sm-9 margin-below--extra">



            <h1 class="margin-above--none margin-below--mid">
              <% if (locals.liveFeature.includes('featureBankNameUpdate')) { %>
              Bank details
              <% } else { %>
              Bank account
              <% } %></h1>
            <h3 class="margin-above--none margin-below--small" id="primaryAccountheading">Primary account</h3>
            <div id="bank-accounts-summary">
              <div class="review__wrapper margin-above--mid">
                <div class="review__content--item boxed profile-card">
                  <button class="profile-card__edit uikit-btn uikit-btn--tertiary small floated" id="editCard">&nbsp;Edit&nbsp;</button>
                  <div class="review__table">
                    <div class="tr">
                      <div class="td"><b>Account name</b></div>
                      <div class="td">Rebecca Orange</div>
                    </div>
                    <div class="tr">
                      <div class="td"><b>Account number</b></div>
                      <div class="td">1289 12345</div>
                    </div>
                    <div class="tr">
                      <div class="td"><b>BSB number</b></div>
                      <div class="td">939 000</div>
                    </div>
                    <div class="tr">
                      <div class="td"><b>Institution name</b></div>
                      <div class="td">AMP</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--cheque account summary-->
            <div id="cheque-account-summary">
              <div class="review__wrapper margin-above--mid">
                <div class="review__content--item boxed">
                  <p><b>You are currently receiving payments by cheque.</b></p>
                  <hr style="margin-top: 10px; margin-bottom: 5px;">
                  <div class="review__table">
                    <div class="tr">
                      <div class="td"><b>Payee name</b></div>
                      <div class="td">Rebecca Orange</div>
                    </div>
                    <div class="tr">
                      <div class="td"><b>Cheque address</b></div>
                      <div class="td">
                        9/69 alley 117, Thai Ha Street
                        <BR /> Dong Da district
                        <BR /> Hanoi, Vietnam
                      </div>
                    </div>
                  </div>
                  <p style="margin: 30px 0 0 0">To make changes call 1800 555 254 or email <a mailto:"generalenquiries@dva.gov.au">generalenquiries@dva.gov.au</a>.</p>
                </div>
              </div>
            </div>
            <div class="uikit-page-alerts uikit-page-alerts--warning" id="alert-payment-1" role="alert">
              <p>Changes to your bank account will not take effect immediately. Do not close any accounts until you have received a payment to the new account.</p>
            </div>
            <div id="overseas-multiple" style="margin: 60px 0 30px 0; display: none;">
              <div class="margin-above--none">
                <p class="uikit-text-input__label-wrapper--inline-block">To redirect payments to an overseas account please <a
                    href="https://www.dva.gov.au/about-dva/forms/dva-forms-keyword">complete the appropriate form</a>.</p>
                <div class="tooltip">
                  <div id="tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="message" aria-expanded="false">
                    <div class="tooltip__label tooltip__label--icon-only">
                      <a>Overseas payments redirection help</a>
                    </div>
                    <div class="tooltip__tab"></div>
                  </div>
                  <div id="tt-message" class="tooltip__content" aria-labelledby="tt-label" role="region" tabindex="-1" aria-hidden="true">
                    <div class="tooltip__message">
                      This link will take you to the DVA website forms page. Click on "B" from the alphabetical listing at the top of the page. Look under the heading "Bank
                      accounts" to find the appropriate form based on country.
                    </div>
                    <div class="tooltip__close" role="button" tabindex="0">Close</div>
                  </div>
                </div>
              </div>
              <hr class="review-content__hr review-content__hr--margin-none ">
              </hr>
            </div>
            <div id="overseas" class="margin-above--none">
              <hr class="review-content__hr">
              </hr>
              <p class="uikit-text-input__label-wrapper--inline-block">To redirect payments to an overseas account please <a
                  href="https://www.dva.gov.au/about-dva/forms/dva-forms-keyword">complete the appropriate form</a>.</p>
              <div class="tooltip">
                <div id="tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="message" aria-expanded="false">
                  <div class="tooltip__label tooltip__label--icon-only">
                    <a>Overseas payments redirection help</a>
                  </div>
                  <div class="tooltip__tab"></div>
                </div>
                <div id="tt-message" class="tooltip__content" aria-labelledby="tt-label" role="region" tabindex="-1" aria-hidden="true">
                  <div class="tooltip__message">
                    This link will take you to the DVA website forms page. Click on "B" from the alphabetical listing at the top of the page. Look under the heading "Bank accounts"
                    to find the appropriate form based on country.
                  </div>
                  <div class="tooltip__close" role="button" tabindex="0">Close</div>
                </div>
              </div>
            </div>
            <div id="bank-accounts-summary-incap" class="plain-text-info margin-above--mid margin-below--mid">
              <h3 class="margin-above--none margin-below--small" id="incapPaymentsheading">Incapacity payments</h3>
              <div class="review__wrapper margin-above--mid">
                <div class="review__content--item boxed">
                  <div class="review__table">
                    <div class="tr">
                      <div class="td"><b>Account name</b></div>
                      <div class="td">Rebecca Orange</div>
                    </div>
                    <div class="tr">
                      <div class="td"><b>Account number</b></div>
                      <div class="td">1289 12345</div>
                    </div>
                    <div class="tr">
                      <div class="td"><b>BSB number</b></div>
                      <div class="td">939 000</div>
                    </div>
                    <div class="tr">
                      <div class="td"><b>Institution name</b></div>
                      <div class="td">AMP</div>
                    </div>
                  </div>
                  <div class="change-to-primary">
                    <p style="margin: 25px 0 25px 0">You are only able to change this to your primary account.</p>
                    <button class="uikit-btn uikit-btn--tertiary small" id="change-button-incap" onclick="window.location.href = '#open-example-modal'">Change to primary</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="bank-accounts-summary-reimbursements" class="plain-text-info margin-above--large margin-below--mid">
              <h3 class="margin-above--none margin-below--small" id="incapPaymentsheading">Reimbursements</h3>
              <div class="review__wrapper margin-above--mid">
                <div class="review__content--item boxed">
                  <div class="review__table">
                    <div class="tr">
                      <div class="td"><b>Account name</b></div>
                      <div class="td">Rebecca Orange</div>
                    </div>
                    <div class="tr">
                      <div class="td"><b>Account number</b></div>
                      <div class="td">1289 12345</div>
                    </div>
                    <div class="tr">
                      <div class="td"><b>BSB number</b></div>
                      <div class="td">939 000</div>
                    </div>
                    <div class="tr">
                      <div class="td"><b>Institution name</b></div>
                      <div class="td">AMP</div>
                    </div>
                  </div>
                  <div class="change-to-primary">
                    <p style="margin: 25px 0 25px 0">You are only able to change this to your primary account.</p>
                    <button class="uikit-btn uikit-btn--tertiary small" id="change-button-reimbursements" onclick="window.location.href = '#open-example-modal1'">Change to
                      primary</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="bank-accounts-summary-reimbursements-cheque" class="plain-text-info margin-above--large margin-below--mid">
              <h3 class="margin-above--none margin-below--small" id="incapPaymentsheading">Reimbursements</h3>
              <div class="review__wrapper margin-above--mid">
                <div class="review__content--item boxed">
                  <p><b>You are currently receiving these payments by cheque.</b></p>
                  <hr style="margin-top: 10px; margin-bottom: 5px;">
                  <div class="review__table">
                    <div class="tr">
                      <div class="td"><b>Payee name</b></div>
                      <div class="td">Rebecca Orange</div>
                    </div>
                    <div class="tr">
                      <div class="td"><b>Cheque address</b></div>
                      <div class="td">
                        9/69 alley 117, Thai Ha Street
                        <BR /> Dong Da district
                        <BR /> Hanoi, Vietnam
                      </div>
                    </div>
                  </div>
                  <p style="margin: 30px 0 0 0">To make changes call 1800 555 254 or email <a href="mailto:generalenquiries@dva.gov.au">generalenquiries@dva.gov.au</a>.</p>
                </div>
              </div>
            </div>
            <div id="instructions" class="plain-text-info margin-above--large margin-below--mid">
              <h3 class="margin-above--none margin-below--small" id="incapPaymentsheading">Instructions</h3>
              <div class=" review__wrapper margin-above--mid">
                <div class="review__content--item boxed">
                  <p><b>Pay $50.00 to the following account:</b></p>
                  <hr style="margin-top: 10px; margin-bottom: 5px;">
                  <div class="review__table">
                    <div class="tr">
                      <div class="td"><b>Account name</b></div>
                      <div class="td">Rebecca Orange</div>
                    </div>
                    <div class="tr">
                      <div class="td"><b>Account number</b></div>
                      <div class="td">1289 12345</div>
                    </div>
                    <div class="tr">
                      <div class="td"><b>BSB number</b></div>
                      <div class="td">939 000</div>
                    </div>
                    <div class="tr">
                      <div class="td"><b>Institution name</b></div>
                      <div class="td">AMP</div>
                    </div>
                  </div>
                  <p style="margin: 30px 0 0 0">To make changes call 1800 555 254 or email <a href="mailto:generalenquiries@dva.gov.au">generalenquiries@dva.gov.au</a>.</p>
                </div>
              </div>
            </div>
            <!-- Open card -->
            <div id="bank-accounts-card" class="boxed margin-above--large margin-below--large" style="display: none;">
              <div class="form-group">
                <label class="uikit-text-input__label" for="Input field">Account name</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="bsb">BSB
                  <span class="hint">(XXX - XXX)</span>
                </label>
                <input class="uikit-text-input bsb" type="text" name="bsb" id="bsb-1" maxlength="3" required aria-required="true" aria-label="3 digit BSB" maxlength="3" value=""
                  size="3"> -
                <input class="uikit-text-input bsb" type="text" name="bsb" id="bsb-1" maxlength="3" required aria-required="true" aria-label="3 digit BSB" maxlength="3" value=""
                  size="3">
              </div>
              <div>
                <label class="uikit-text-input__label" for="Input field">Financial institution</label>
                <div class="fa-2x" id="spinner"><i class="fas fa-spinner fa-pulse" style="color:#1057a7;"></i><span class="hint"> Looking up BSB...</span>
                </div>
                <!-- <p id="financial-institution-provide">BSB not provided</p> -->
                <p id="financial-institution-amp">AMP</p>
                <p id="financial-institution-none">BSB not found. If you are sure you have entered a valid BSB please call VAN to proceed.</p>
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="Input field">Account number</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
              </div>
              <div class="uikit-page-alerts uikit-page-alerts--warning" id="alert-payment" role="alert">
                <p>Changes to your bank account will not take effect immediately. Do not close any accounts until you have received a payment to the new account.</p>
              </div>
              <hr>
              <div id="buttonset2" class="form-group margin-above--none">
                <button class="uikit-btn call-toast-1" id="saveCard">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button><button class="uikit-btn uikit-btn--tertiary"
                  id="cancelCard">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
              </div>
            </div>
            <!-- Open card --end -->
          </div>
        </div>
      </div>
      <!-- // Modal code - incap -->
      <div id="open-example-modal" class="modal-window">
        <div>
          <a href="#modal-close" title="Close" class="modal-close">Close</a>
          <h2>Your incapacity payments will be redirected to your primary account</h2>
          <p>This change will be permanent. Do you wish to proceed?
          </p>
          <div class="modal-buttons">
            <button class="uikit-btn call-toast-1" id="makePrimary-incap" onclick="window.location.href = '#modal-close' ">Change to primary account</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#modal-close'">Cancel</button>
          </div>
        </div>
      </div>
      <!-- // Modal code - Reimbursements -->
      <div id="open-example-modal1" class="modal-window">
        <div>
          <a href="#modal-close" title="Close" class="modal-close">Close</a>
          <h2>Your Reimbursements payments will be redirected to your primary account</h2>
          <p>This change will be permanent. Do you wish to proceed? </p>
          <div class="modal-buttons">
            <button class="uikit-btn call-toast-1" id="makePrimary-reim" onclick="window.location.href = '#modal-close'">Change to primary account</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#modal-close'">Cancel</button>
          </div>
        </div>
      </div>
      <!-- // Modal code - instructions -->
      <div id="open-example-modal2" class="modal-window">
        <div>
          <a href="#modal-close" title="Close" class="modal-close">Close</a>
          <h2>You are only able to cease this instruction.</h2>
          <p>This change will be permanent. Do you wish to proceed? </p>
          <div class="modal-buttons">
            <button class="uikit-btn call-toast-instruction" id="makePrimary-instructions" onclick="window.location.href = '#modal-close'">Cease instruction</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#modal-close'">Cancel</button>
          </div>
        </div>
      </div>
      <!-- Toast message -->
      <div id="help-submitted-1" class="toast-container" style="display:none;">
        <button class="uikit-btn toast" role="alert" type="button">
          <div class="toast__type toast__type--success">
            <span class="sr">Success</span>
          </div>
          <div class="toast__message">
            <p>Your bank account has been updated </p>
          </div>
        </button>
      </div>
      <!-- // Modal code - incap -->
      <div id="open-example-modal" class="modal-window">
        <div>
          <a href="#modal-close" title="Close" class="modal-close">Close</a>
          <h2>Your incapacity payments will be redirected to your primary account</h2>
          <p>This change will be permanent. Do you wish to proceed?</p>
          <div class="modal-buttons">
            <button class="uikit-btn" id="makePrimary-incap" onclick="window.location.href = '#modal-close'">Change to primary account</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#modal-close'">Cancel</button>
          </div>
        </div>
      </div>
      <!-- // Modal code - Reimbursements -->
      <div id="open-example-modal1" class="modal-window">
        <div>
          <a href="#modal-close" title="Close" class="modal-close">Close</a>
          <h2>Your Reimbursements payments will be redirected to your primary account</h2>
          <p>This change will be permanent. Do you wish to proceed? </p>
          <div class="modal-buttons">
            <button class="uikit-btn" id="makePrimary-reim" onclick="window.location.href = '#modal-close'">Change to primary account</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#modal-close'">Cancel</button>
          </div>
        </div>
      </div>
    </section>
    <div id="state-switcher">
      <h3>State Switcher</h3>
      <div class="form-group">
        <label class="uikit-text-input__label" for="radio-buttons">User status:</label>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input" for="user-status--single-account">
            <input class="uikit-control-input__input" id="user-status--single-account" type="radio" name="user-status">
            <span class="uikit-control-input__text">Single account</span>
          </label>
        </p>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input" for="user-status--multiple-accounts">
            <input class="uikit-control-input__input" type="radio" id="user-status--multiple-accounts" name="user-status">
            <span class="uikit-control-input__text">Multiple accounts</span>
          </label>
        </p>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input" for="user-status--single-cheque">
            <input class="uikit-control-input__input" type="radio" id="user-status--single-cheque" name="user-status">
            <span class="uikit-control-input__text">Single cheque account</span>
          </label>
        </p>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input" for="user-status--reimbursement-cheque">
            <input class="uikit-control-input__input" type="radio" id="user-status--reimbursement-cheque" name="user-status">
            <span class="uikit-control-input__text">Multiple accounts / Reimbursements as cheque</span>
          </label>
        </p>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input" for="user-status--primary-cheque">
            <input class="uikit-control-input__input" type="radio" id="user-status--primary-cheque" name="user-status">
            <span class="uikit-control-input__text">Primary as cheque</span>
          </label>
        </p>
      </div>
    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <script>
    $(Document).ready(function () {

      hideAll() /
        showSingle();

      /* State switcher */

      var userStatus = "single-account";
      if (userStatus == "single-account") {
        $("#user-status--single-account").click();
      }

      $(document).keypress(function (e) {
        switch (e.which) {
          case 96: //tilda
            $('#state-switcher').toggle();
            break;
          default:
        }
      });

      $("#user-status--single-account").click(function (e) {
        showSingle();
      });
      $("#user-status--multiple-accounts").click(function (e) {
        showMultiple();
      });
      $("#user-status--single-cheque").click(function (e) {
        showSingleCheque();
      });
      $("#user-status--reimbursement-cheque").click(function (e) {
        showReimbursementCheque();
      });
      $("#user-status--primary-cheque").click(function (e) {
        showPrimaryCheque();
      });

      /* End state switcher */

      var myMode = "single";

      function showSingle() {
        myMode = "single";
        hideAll();
        $("#bank-accounts-summary").show();
        $("#overseas").show();
      }

      function showMultiple() {
        myMode = "multiple";
        hideAll();
        $("#primaryAccountheading").show();
        $("#bank-accounts-summary").show();
        $("#bank-accounts-summary-incap").show();
        $("#bank-accounts-summary-reimbursements").show();
        $("#instructions").show();
        $("#overseas-multiple").show();
        $(".change-to-primary").show();
      }

      function showSingleCheque() {
        myMode = "singleCheque";
        hideAll();
        $("#cheque-account-summary").show();
        $("#overseas").show();
      }

      function showReimbursementCheque() {
        myMode = "reimbursementCheque";
        hideAll();
        $("#bank-accounts-summary").show();
        $("#primaryAccountheading").show();
        $("#bank-accounts-summary-incap").show();
        $("#bank-accounts-summary-reimbursements-cheque").show();
        $("#instructions").show();
        $("#overseas-multiple").show();
        $(".change-to-primary").show();
      }

      function showPrimaryCheque() {
        myMode = "primaryCheque";
        hideAll();
        $("#cheque-account-summary").show();
        $("#primaryAccountheading").show();
        $("#bank-accounts-summary-incap").show();
        $("#bank-accounts-summary-reimbursements").show();
        $("#instructions").show();
        $("#overseas-multiple").show();
        $(".change-to-primary").hide();
      }

      // card functionality
      $("#editCard").click(function () {
        $("#bank-accounts-card").show("fast");
        $("#bank-accounts-summary").hide();
        $("#overseas").hide();
        $("#alert-payment-1").hide();
        $("#primaryAccountheading").hide();
        $("#overseas-multiple").hide();
        $("#bank-accounts-summary-incap").hide();
        $("#bank-accounts-summary-reimbursements").hide();
        $("#instructions").hide();
        $("#bank-accounts-summary-reimbursements-cheque").hide();
      });

      $("#saveCard").click(function () {
        hideAll();
        switch (myMode) {
          case "single":
            showSingle();
            $("#alert-payment-1").show("fast");
            break;
          case "multiple":
            showMultiple();
            $("#alert-payment-1").show("fast");
            break
          case "reimbursementCheque":
            showReimbursementCheque();
            break;
          case "primaryCheque":
            showPrimaryCheque();
            break;
          default:
            break;
        }
      });

      $("#cancelCard").click(function () {
        hideAll();
        switch (myMode) {
          case "single":
            showSingle();
            break;
          case "multiple":
            break
          case "reimbursementCheque":
            showReimbursementCheque();
            break;
          case "primaryCheque":
            showPrimaryCheque();
            break;
          default:
            break;
        }
      });

      function hideAll() {
        $("#primaryAccountheading").hide();
        $("#bank-accounts-summary").hide();
        $("#cheque-account-summary").hide();
        $("#alert-payment-1").hide();
        $("#overseas").hide();
        $("#overseas-multiple").hide();
        $("#bank-accounts-summary-incap").hide();
        $("#bank-accounts-summary-reimbursements").hide();
        $("#bank-accounts-summary-reimbursements-cheque").hide();
        $("#instructions").hide();
        $("#bank-accounts-card").hide();
      }

      //change to primary
      $("#makePrimary-reim").click(function () {
        $("#bank-accounts-summary-reimbursements").hide("slow");
        $("#alert-payment-1").show("fast");
      });

      $("#makePrimary-incap").click(function () {
        $("#bank-accounts-summary-incap").hide("slow");
        $("#alert-payment-1").show("fast");
      });

      $("#makePrimary-instructions").click(function () {
        $("#instructions").hide("slow");
        $("#alert-payment-1").show("fast");
      });

      $("#spinner").hide();
      $("#financial-institution-none").hide();
      $("#alert-payment-1").hide();

      //Automatic tab feature for BSB 
      $(".bsb").keyup(function () {
        if (this.value.length == this.maxLength) {
          $(this).next('.bsb').focus();
        }
      });

      //Loading icon feature
      $(".bsb").keyup(function () {
        if (this.value == 333) {

          $("#spinner").show();
          setTimeout(function () {
            $("#financial-institution-none").hide();
            $('#spinner').fadeOut(180);
          }, 1800);

          setTimeout(function () {
            $("#financial-institution-none").hide();
            $("#financial-institution-amp").fadeIn(205);
          }, 2005);

        } else {
          $("#financial-institution-amp").hide();
          $("#spinner").show();
          setTimeout(function () {
            $('#spinner').fadeOut(180);
            $("#financial-institution-amp").hide();
          }, 1800);

          setTimeout(function () {
            $("#financial-institution-amp").hide();
            $("#financial-institution-none").fadeIn(205);
          }, 2005);
        }
      });

      $(".change-to-primary").click(function () {
        $(this).parent().prepend($(this));
      });
    });

    $('.call-toast-1').click(function () {

      $("#toast__message").show("slow");
      jQuery(".toast-container").show();
    });

    $("#toast__message").click(function () {
      $("#toast__message").hide("slow");
    });

  </script>
</body>

</html>
