<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Other assets | MyService</title>
  <%- include(partials+"head") %>
    <script src="../../../src/js/income-assets.js"></script>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="/auth/claim/service_pension/user-list">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
    <%- include(partials+"header-nom-rep") %>
      <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
          <div class="container margin-above--none">
            <!-- Progress bar -->
            <div class="col-md-12">
              <nav>
                <ul class="progress-container">
                  <li class="progress-step progress-step--done">
                    <a href="/auth/claim/service_pension/sp-c1">
                      <span class="progress-step__icon"></span>
                      <p class="progress-step-label">Savings</p>
                    </a>
                  </li>
                  <li class="progress-step progress-step--done">
                    <a href="/auth/claim/service_pension/sp-c2">
                      <span class="progress-step__icon"></span>
                      <p class="progress-step-label">Investments</p>
                    </a>
                  </li>
                  <li class="progress-step progress-step--done">
                    <a href="/auth/claim/service_pension/sp-c3">
                      <span class="progress-step__icon"></span>
                      <p class="progress-step-label">Income</p>
                    </a>
                  </li>
                  <li class="progress-step progress-step--done">
                    <a href="/auth/claim/service_pension/sp-c4">
                      <span class="progress-step__icon"></span>
                      <p class="progress-step-label">Property &amp; businesses</p>
                    </a>
                  </li>
                  <li class="progress-step progress-step--done">
                    <a href="/auth/claim/service_pension/sp-c5">
                      <span class="progress-step__icon"></span>
                      <p class="progress-step-label">Other assets</p>
                    </a>
                  </li>
                  <li class="progress-step progress-step--active progress-step--last">
                    <a href="/auth/claim/service_pension/sp-c6">
                      <span class="progress-step__icon"></span>
                      <p class="progress-step-label">Additional circumstances</p>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- Page heading -->
          <h1 class="margin-above--none ss-align--center"><span class="heading">Additional circumstances</span></h1>
        </div>
        <section>
          <div class="container margin-above margin-below--extra">
            <div class="row">
              <div class="col-md-offset-2 col-md-8 margin-below--large">

                <div id="user-list">
                  <hr class="margin-below--none">
                  <span class="fal fa-list-alt fa-icons"></span>
                  <h2 class="margin-above--none heading-width"><span class="partner-label">My</span> additional circumstances
                  </h2>
                  <div id="add-anchor-link-return" class="cursor-pointer-right" onClick="scrollToAdd();">
                    <p style="margin-top: 10px;">
                      <span class="fal fa-plus-circle fa-icons"></span>Add additional circumstances
                    </p>
                  </div>
                </div>
                <div id="add-anchor-link-start" class="cursor-pointer" onClick="scrollToAdd();">
                  <p class="margin-above--extra ss-align--center">
                    <span class="fal fa-plus-circle fa-icons"></span>Add additional circumstances
                  </p>
                </div>

                <!-- Cards -->
                <%- include(partials+"income-assets--gifts") %>
                  <%- include(partials+"income-assets--maintenance-paid-to-former-partner") %>
                    <%- include(partials+"income-assets--past-employment") %>
                      <!-- Tiles -->
                      <div id="add-options">
                        <hr>
                        <h2 class="margin-above--none margin-below--none ss-align--center"><span class="font-weight-heavy">Additional circumstances</span></h2>
                        <span class="hint display-block ss-align--center">Add all of your <span class="partner">(and/or your partner's)</span> additional circumstances so we can calculate
                          your payments.</span>
                        <div class="flex-container flex-container--wrap hover-container">
                          <%- include(partials+"income-assets--tile--gifts") %>
                            <%- include(partials+"income-assets--tile--maintenance-paid-to-former-partner") %>
                              <%- include(partials+"income-assets--tile--past-employment") %>
                        </div>
                      </div>
              </div>
              <!-- bottom page navigation -->
              <BR />
              <BR />
              <BR />
              <BR />
              <div class="pagination" style="position: relative;">
                <div id="footer-buttons-mask" style="background-color: #ffffff; opacity: .5; position: absolute; width: 100%; height: 100%; z-index: 10; display: none;"></div>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/service_pension/sp-c5'">Previous</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
                <div class="floated">
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
                  <button class="uikit-btn btnNext" onclick="window.location.href = 'sp-progress-d'">Next</button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <%- include(partials+"footer") %>
        <script>
          $(Document).ready(function () {

            $(document).keypress(function (e) {
              switch (e.which) {
                case 49:
                  hidePartner();
                  break;
                case 50:
                  showPartner();
                  break;
                default:
              }
            });

            function showPartner() {
              $(".partner").show();
              $(".partner-label").html("Our");
            }

            function hidePartner() {
              $(".partner").hide();
              $(".partner-label").html("My");
            }

          });
        </script>
</body>

</html>
