<%#- include(templates+"header", {
  claim: "Service pension"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Claim representative | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <!-- Progress bar -->
        <div class="col-md-12">
          <nav>
            <ul class="progress-container">
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-partner">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Relationship status</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-dependant">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Dependent children</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-residency">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Residency</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-la">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Living arrangements</p>
                </a>
              </li>
              <li class="progress-step progress-step--active">
                <a href="/auth/claim/service_pension/sp-claim-contact">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Claim representative</p>
                </a>
              </li>
              <li class="progress-step progress-step--last">
                <a href="/auth/claim/service_pension/sp-payment-details">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Claim representative</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <!-- NOTES -->
          <!--  <div id="notes" style="display: block; background-color: #eeeeee; border: 1px dashed #000000; padding: 10px; margin: 20px 0 20px 0;">
                        <h3>Notes</h3>
                        <h4>Changed</h4>
                        <ul>
                            <li>Split name into two fields as per spec</li>
                            <li>Removed representative type as per spec</li>
                        </ul>
                        <h4>For discussion</h4>
                        <ul>
                            <li>Where else in MyService might we done phone in 3 fields: country code / area code / number? Could use a reference.</li>
                            <li>Looking for a universal address component to capture the following. The one we are generally using is a bit different (has building name). Also will this have a lookup function? (possibly not if international)</li>
                            <ul>
                                <li>Address country</li>
                                <li>Address line 1</li>
                                <li>Address line 2</li>
                                <li>Suburb</li>
                                <li>State/Territory</li>
                                <li>Postcode</li>
                            </ul>
                        </ul>
                        Hit 'tilda' to show/hide these notes
                    </div> -->
          <!-- Page content -->
          <div class="margin-above--extra margin-below--extra">
            <div class="form-group">
              <legend class="legend-label margin-below--none">Do you wish to nominate a claim representative for this claim?</legend>
              <span class="uikit-text-input__hint">Your representative can receive updates and make queries about this claim on your behalf.</span>
              <div class="radio-toggle margin-above">
                <label class="on label-left" for="rep-nominate-yes">
                  <input id="rep-nominate-yes" type="radio" name="rep-nominate">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="rep-nominate-no">
                  <input id="rep-nominate-no" type="radio" name="rep-nominate">
                  <span>No</span>
                </label>
              </div>
            </div>
            <div class="form-group" id="claim-contact-details" class="margin-above--extra">
              <h3 class="margin-above--large">Representative details</h3>
              <!-- <div class="title-field margin-above--large">Representative type</div>
                            <select class="uikit-text-input" name="title" id="title" type="text" value="">
                                <option>-- Select title --</option>
                                <option selected="">Not specified</option>
                                <option>Ex-Service organization</option>
                                <option>Legal</option>
                                <option>Family</option>
                                <option>Other</option>
                            </select> -->
              <div class="form-group margin-above">
                <label class="uikit-text-input__label" for="tags">First name</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>
              <div class="form-group margin-above">
                <label class="uikit-text-input__label" for="tags">Last name</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>
              <div class="form-group margin-above">
                <label class="uikit-text-input__label" for="tags">Organisation / business name (if applicable)</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>
              <div class="form-group margin-above">
                <label class="uikit-text-input__label" for="tags">Contact phone number</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>
              <div class="form-group margin-above">
                <label class="uikit-text-input__label" for="tags">Email address</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>
              <h3 class="margin-above--large margin-below">Representative postal address</h3>
              <%- include(partials+"content/address-postal") %>
            </div>
            <div id="save-and-next" class="margin-above--extra" style="display: none">
              <p>Choose <b>save and next</b> to continue.</p>
            </div>
          </div>
          <!-- bottom page navigation -->
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim/service_pension/sp-la'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim'">Save and exit</button>
              <button class="uikit-btn btnNext" onclick="window.location.href='/auth/claim/service_pension/sp-payment-details'">Save and next</button>
            </div>
          </div><!-- bottom page navigation end -->
          <%- include(partials+"content/modals/claims-cancel-modal") %>
        </div> <!-- col-md-12 end -->
      </div> <!-- row end -->
    </div> <!-- container end -->
  </main>
  <%- include(partials+"components/layout/footer") %>
  <script>
    $(Document).ready(function () {

      hideAll();

      $("#rep-nominate-yes").click(function () {
        $("#claim-contact-details").show("fast");
        $("#save-and-next").hide("fast");
      });


      $("#rep-nominate-no").click(function () {
        $("#claim-contact-details").hide("fast");
        $("#save-and-next").show("fast");
      });

      function hideAll() {
        $("#claim-contact-details").hide();
      }

      $(document).keypress(function (e) {
        console.log(e.which)
        switch (e.which) {
          case 96: // tilda
            $("#notes").toggle();
            break;
          default:
        }
      });


    });
  </script>
</body>

</html>