<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Personal assets | MyService</title>
<%- include(partials+"components/layout/head") %>
  <style>
    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: absolute;
      /* Stay in place */
      z-index: 2;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: none;
      /* Enable scroll if needed */
    }

    .modalbg {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: none;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.6);
      /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      border-radius: .3em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: #ffffff;
      margin: 10% auto;
      /* 15% from the top and centered */
      padding: 30px;
      border: 1px solid #888;
      width: 50%;
      /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    /* key value grid */
    .key-value {
      clear: both;
    }

    .key {
      float: left;
      width: 150px;
    }

    .key h4 {
      margin: 0;
    }

    .value {
      float: left;
      width: 300px;
    }
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <!-- Progress bar -->
        <div class="col-md-12">
          <nav>
            <ul class="progress-container">
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/sp-c1-financial-assets">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Financial assets</p>
                </a>
              </li>
              <li class="progress-step progress-step--active">
                <a href="/auth/claim/sp-c2-personal-assets">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Personal assets</p>
                </a>
              </li>
              <li class="progress-step progress-step">
                <a href="/auth/claim/sp-c3-real-estate">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Real estate</p>
                </a>
              </li>
              <li class="progress-step progress-step">
                <a href="/auth/claim/sp-c4-income">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Income</p>
                </a>
              </li>
              <li class="progress-step progress-step">
                <a href="/auth/claim/sp-c5-payments">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payments</p>
                </a>
              </li>
              <li class="progress-step progress-step">
                <a href="/auth/claim/sp-c6-superannuation">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Superannuation</p>
                </a>
              </li>
              <li class="progress-step progress-step--last">
                <a href="/auth/claim/sp-c7-other-items">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Other items</p>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Personal assets</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 margin-below--large">
          <div class="margin-below--large">
            <!-- Page content -->
            <h2 class="margin-above--large margin-below--none ss-align--center">Tell us about your personal assets.</h2>
            <p class="ss-align--center margin-above--none">This information helps us to calculate your payments.</p>
            <div id="asset-options-toggle" style="cursor: pointer; display: none;">
              <hr class="margin-below--small">
              <h2 class="margin-below margin-above--small"><span class="font-weight-heavy">Add a personal asset &nbsp;<icon id="plus" class="far fa-plus-circle fa-rotate-270"
                    style="font-size: 1.1em; vertical-align: -8%;"></icon>
                  <icon id="plus-close" class="far fa-times-circle" style="font-size: 1.1em; vertical-align: -8%; display: none"></icon>
                </span></h2>
            </div>
            <div id=asset-options>
              <div class="margin-above--large ss-align--center">
                <h2 class="margin-below--small">
                  <icon class="fal fa-umbrella" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Life insurance</span>
                </h2>
                <h4 class="uikit-text-input__label ss-align--center margin-above--none">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?&nbsp;<span
                    class="hint display-block">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</span></h4>
                <button class="uikit-btn uikit-btn--tertiary" style="margin-left:0;">Add life insurance</button>
              </div>
              <div class="margin-above--large margin-below--none ss-align--center">
                <h2 class="margin-below--none">
                  <icon class="fal fa-car" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Vehicles</span>
                </h2>
                <h4 class="uikit-text-input__label ss-align--center margin-above--small">Do you (and/or your partner) own any motor vehicles, boats, caravans or
                  trailers?&nbsp;<span class="hint display-block">Add all vehicles here. Do NOT include a boat or caravan you live in, or any farming vehicles.</span></h4>
                <button class="uikit-btn uikit-btn--tertiary" id="add-vehicle-1">Add vehicle</button>
              </div>
              <div class="margin-above--large margin-below--none ss-align--center">
                <h2 class="margin-below--none">
                  <icon class="fal fa-couch" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Home contents</span>
                </h2>
                <h4 class="uikit-text-input__label ss-align--center margin-above--small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?&nbsp;<span
                    class="hint display-block">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</span></h4>
                <button class="uikit-btn uikit-btn--tertiary" id="add-homeContents-1">Add home contents</button>
              </div>
              <div class="margin-above--large margin-below--none ss-align--center">
                <h2 class="margin-below--none">
                  <icon class="fal fa-ellipsis-h" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Other personal assets</span>
                </h2>
                <h4 class="uikit-text-input__label ss-align--center margin-above--small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?&nbsp;<span
                    class="hint display-block">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</span></h4>
                <button class="uikit-btn uikit-btn--tertiary">Add other personal asset</button>
              </div>
            </div>
            <div id="user-asset-list" style="display: none">
              <hr>
              <h2 class="margin-below margin-above--small"><span class="font-weight-heavy">My personal assets</span></h2>
              <!-- start gift 1 summary -->
              <div id="vehicle-1-summary" class="plain-text-info" style="display:block;">
                <div class="review__wrapper">
                  <div class="review__content--item boxed row">
                    <div class="review__content--label col-sm-10">
                      <h2 class="margin-below--none margin-above--none">
                        <icon class="fal fa-car" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Vehicle</span>
                      </h2>
                      <div class="key-value-group margin-above">
                        <div class="key">
                          <h4>Vehicle type</h4>
                        </div>
                        <div class="value">Car
                        </div>
                      </div>
                      <div class="key-value-group">
                        <div class="key">
                          <h4>Description</h4>
                        </div>
                        <div class="value">Toyota Corolla 2010
                        </div>
                      </div>
                      <div class="key-value-group">
                        <div class="key">
                          <h4>Market value</h4>
                        </div>
                        <div class="value">$10,000
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="vehicle-1-summary-edit">&nbsp;Edit &nbsp;</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <BR />
          <BR />
          <BR />
          <BR />
          <!-- end gift 1 summary -->
          <!-- bottom page navigation -->
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/sp-c1-financial-assets'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
              <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/sp-c3-real-estate'">Save and next</button>
            </div>
          </div>
          <%- include(partials+"content/modals/claims-cancel-modal") %>
        </div> <!-- col-md-12 end -->
      </div> <!-- row end -->
    </div> <!-- container end -->
    <!-- Modals -->
    <div id="vehicle-1-start" class="modal slide-in-top" style="display: none;">
      <!-- Modal content -->
      <div class="modal-content">
        <!-- <span id="vehicle-1-start-close" class="close">&times;</span> -->
        <a href="#modal-close" id="vehicle-1-start-close" title="Close" class="modal-close">Close</a>
        <h2 class="margin-above--none margin-below--none">
          <icon class="fal fa-car" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">New vehicle</span>
        </h2>
        <div id="card-details">
          <div class="form-group margin-above--large">
            <fieldset>
              <div class="form-group">
                <label class="uikit-text-input__label" for="radio-buttons">Who owns the vehicle?</label>
                <p class="uiToolKitCheckBox margin-above">
                  <label class="uikit-control-input">
                    <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">You</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="married" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">Partner</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="defacto" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">Jointly</span>
                  </label>
                </p>
              </div>
            </fieldset>
            <label class="uikit-text-input__label" for="rank">Vehicle type</label>
            <select class="uikit-text-input input-half" id="employment" name="employment">
              <option selected="selected">-- Select type of vehicle --</option>
              <option>Boat</option>
              <option>Car</option>
              <option>Caravan</option>
              <option>Motorbike</option>
              <option>Trailer</option>
              <option>Truck</option>
              <option>Other vehicle</option>
            </select>
          </div>
          <div class="form-group margin-above--large">
            <fieldset>
              <label class="uikit-text-input__label">Please provide a description of vehicle
                <BR />
                <span class="hint">Make, model and year of vehicle</span>
              </label>
              <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" required aria-required="true">
            </fieldset>
          </div>
          <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="tags">What is the market value of the vehicle?</label>
            <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required
              aria-required="true">
          </div>
          <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="tags">If there are no outstanding monies owed on vehicle, please enter</label>
            <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required
              aria-required="true">
          </div>
        </div>
        <hr>
        <div id="buttonset2" class="form-group margin-above--none">
          <button class="uikit-btn uikit-btn--primary" id="vehicle-1-start-add">&nbsp;&nbsp;&nbsp; Add vehicle &nbsp;&nbsp;&nbsp;</button> &nbsp;<button
            class="uikit-btn uikit-btn--tertiary" id="vehicle-1-start-cancel">&nbsp;&nbsp;&nbsp; Cancel &nbsp;&nbsp;&nbsp;</button>
        </div>
      </div>
    </div> <!-- end vehicle 1 start -->
    <div id="modal-bg" class="modalbg" style="display: none;">
  </main>
  <%- include(partials+"components/layout/footer") %>
  <script>
    $(Document).ready(function () {

      var returnFromCard = getParameterByName('returnFromCard');
      if (returnFromCard) {
        $("#vehicle-1-summary").show();
        $("#user-asset-list").show();
        $('#user-asset-list').goTo();
      }

      // vehicle
      $('#add-vehicle-1').click(function () {
        $("#vehicle-1-start").show();
        $("#modal-bg").show();
        $(window).scrollTop(0);
      });
      $('#vehicle-1-start-close').click(function () {
        $("#vehicle-1-start").hide();
        $("#modal-bg").hide();
      });
      $('#vehicle-1-start-cancel').click(function () {
        $("#vehicle-1-start").hide();
        $("#modal-bg").hide();
      });
      $('#vehicle-1-start-add').click(function () {
        $("#vehicle-1-start").hide();
        $("#modal-bg").hide();
        $("#vehicle-1-summary").show();
        $("#user-asset-list").show();
        $('#user-asset-list').goTo();
      });

      $('#asset-options-toggle').click(function () {
        $("#asset-options").toggle();
        $("#plus").toggle();
        $("#plus-close").toggle();
      });

      // home contents
      $('#add-homeContents-1').click(function () {
        window.location.href = '/auth/claim/sp-c2-vehicle-1'
      });

      var returnMode = false;
      $(document).keypress(function (e) {
        switch (e.which) {
          case 96:
            $("#asset-options-toggle").toggle();
            if ($("#asset-options-toggle").is(":visible")) {
              $("#asset-options").hide();
            }
            if ($("#asset-options-toggle").is(":hidden")) {
              $("#asset-options").show();
            }
            break
          default:
        }
      });

    });

    function getParameterByName(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, '\\$&');
      var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    (function ($) {
      $.fn.goTo = function () {
        $('html, body').animate({
          scrollTop: $(this).offset().top + 'px'
        }, 0);
        // $('html, body').animate({
        //     scrollTop: $(this).offset().top + 'px'
        // }, 'slow');
        return this; // for chaining...
      }
    })(jQuery);
  </script>
</body>

</html>