<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Service pension | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-nom-rep") %>

  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Required documents</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="margin-above--extra margin-below--extra">

            <h3>We need some documents from you to process your claim <span class="hint display-block">Accepted file types include pdf, jpeg and png. Maximum file size is
                50MB.</span></h3>

            <h2 class="margin-above">What we need</h2>

            <div class="mys-file-uploads__items">

              <!-- proof of identity documents -->
              <!-- <div id="doc-tax" class="mys-file-uploads__item-border">
                  <div class="mys-file-uploads__item mys-file-uploads__item--required">

                    <div class="mys-file-uploads__l-status">
                      <div class="mys-file-uploads__status mys-file-uploads__status--success">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Success</div>
                      </div>
                    </div>

                    <div class="mys-file-uploads__info">
                      <div class="mys-file-uploads__info-item">
                        <div class="mys-file-uploads__value">
                          <div><strong>Proof of identity documents</strong></div>
                          <div>You can get this form from the <a href="https://www.ato.gov.au/forms/tfn-declaration/" rel="external" target="_blank">ATO website</a>&nbsp;-->

              <!--tooltip -->
              <!-- <div class="tooltip">
                              <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                                <div class="tooltip__label tooltip__label--icon-only">
                                  <a>Why do I need to provide this?</a>
                                </div>
                                <div class="tooltip__tab"></div>
                              </div>
                              <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                                <div class="tooltip__message">The tax file number declaration form allows us to work out how much tax to withhold from your&nbsp;Incapacity&nbsp;Payments.
                                </div>
                                <div class="tooltip__close" role="button" tabindex="0">Close</div>
                              </div>
                            </div>
                          </div>
                          <div>If this is not provided, you will be taxed 47% after 28 days of receiving payments</div>

                          <div>
                            <ul>
                              <li class="icon-pdf docupload-first">name-of-document-very-long-document-title-with-some-numbers43253.pdf <a href="#" class="float-right">Delete</a></li>
                              <li class="icon-png docupload">name-of-document-1.png <a href="#" class="float-right">Delete</a></li>
                              </li>
                              <li class="icon-doc docupload-last">name-of-document-2.doc <a href="#" class="float-right">Delete</a></li>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__item-actions">
                      <button class="mys-file-uploads__item-button uikit-btn small">Add</button>
                    </div>
                  </div>
                </div> -->

              <!-- Marriage certificate -->
              <div id="doc-medical" class="mys-file-uploads__item-border">
                <div class="mys-file-uploads__item mys-file-uploads__item--required">
                  <div class="mys-file-uploads__l-status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Success</div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__info">
                    <div class="mys-file-uploads__info-item">
                      <div class="mys-file-uploads__value">
                        <div><Strong>Proof of name change for Partner </strong></div>
                        <div>For example, deed poll, or marriage certificate
                          <div class="tooltip">
                            <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                              <div class="tooltip__label tooltip__label--icon-only">
                                <a>Why do I need to provide this?</a>
                              </div>
                              <div class="tooltip__tab"></div>
                            </div>
                            <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                              <div class="tooltip__message">this will help process…
                              </div>
                              <div class="tooltip__close" role="button" tabindex="0">Close</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__item-actions">
                    <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                  </div>
                </div>
              </div>

              <!-- invalidity details form -->
              <div id="doc-discharge" class="mys-file-uploads__item-border">
                <div class="mys-file-uploads__item mys-file-uploads__item--required">
                  <div class="mys-file-uploads__l-status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Success</div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__info">
                    <div class="mys-file-uploads__info-item">
                      <div class="mys-file-uploads__value">
                        <div><strong>Dependent Children</strong></div>
                        <div>Proof of birth for Jane Bloggs <br> For example, a full birth certificate
                          <div class="tooltip">
                            <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                              <div class="tooltip__label tooltip__label--icon-only">
                                <a>Why do I need to provide this?</a>
                              </div>
                              <div class="tooltip__tab"></div>
                            </div>
                            <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                              <div class="tooltip__message">this will help process…
                              </div>
                              <div class="tooltip__close" role="button" tabindex="0">Close</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__item-actions">
                    <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                  </div>
                </div>
              </div>

              <!-- Uploaded already
              <div id="doc-civilian-earnings-uploaded" class="mys-file-uploads__item-border mys-file-uploads__item-uploaded employed">
                <div class="mys-file-uploads__item">
                  <div class="mys-file-uploads__l-status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--success">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Success</div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__info">
                    <div class="mys-file-uploads__info-item">
                      <label class="mys-file-uploads__label">File name</label>
                      <div class="mys-file-uploads__value">
                        <a href="#" class="">My document 222 AAA .png</a>
                      </div>
                    </div>
                    <div class="mys-file-uploads__info-item">
                      <div class="mys-file-uploads__label">Document type</div>
                      <div class="mys-file-uploads__value">
                        <div><b>Proof of civilian earnings</b></div>
                        <div>For example payslips, financial statments or current/last work contract.</div>
                      </div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__item-actions">
                    <button class="mys-file-uploads__item-button uikit-btn uikit-btn--tertiary small">Remove</button>
                  </div>
                </div>
              </div> -->

              <!-- Residence -->
              <div id="doc-military-earnings" class="mys-file-uploads__item-border">
                <div class="mys-file-uploads__item mys-file-uploads__item--required">
                  <div class="mys-file-uploads__l-status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Success</div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__info">
                    <div class="mys-file-uploads__info-item">
                      <div class="mys-file-uploads__value">
                        <div><strong>Proof of residency</strong></div>
                        <div>For example, please provide your visa that shows the ability to remain in Australia
                          <div class="tooltip">
                            <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                              <div class="tooltip__label tooltip__label--icon-only">
                                <a>Why do I need to provide this?</a>
                              </div>
                              <div class="tooltip__tab"></div>
                            </div>
                            <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                              <div class="tooltip__message">this will help process….
                              </div>
                              <div class="tooltip__close" role="button" tabindex="0">Close</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__item-actions">
                    <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                  </div>
                </div>
              </div>
              <!-- Accommodation Bond or Accommodation Charge Agreement -->

              <div id="doc-civilian-earnings" class="mys-file-uploads__item-border">
                <div class="mys-file-uploads__item mys-file-uploads__item--required">
                  <div class="mys-file-uploads__l-status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Success</div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__info">
                    <div class="mys-file-uploads__info-item">
                      <div class="mys-file-uploads__value">
                        <div><strong>Living Arrangements</strong></div>
                        <div>Provide your latest boarding or lodging lease or tenancy agreement
                          <div class="tooltip">
                            <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                              <div class="tooltip__label tooltip__label--icon-only">
                                <a>Why do I need to provide this?</a>
                              </div>
                              <div class="tooltip__tab"></div>
                            </div>
                            <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                              <div class="tooltip__message">this will help process….</div>
                              <div class="tooltip__close" role="button" tabindex="0">Close</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__item-actions">
                    <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="uikit-page-alerts uikit-page-alerts--warning margin-above--large margin-below--extra">
              <p class="ss-align">You can provide the required documents after submitting your claim but they will be required before your claim can be determined.
              </p>
            </div>
            <!-- <div class="ss-align--center margin-above--extra">
              <button class="uikit-btn uikit-btn--tertiary">Print a list of required documents</button>
            </div> -->

            <!--   <div id="document-information" class="margin-above--extra">
                <fieldset class="form-group">
                  <h4 class="uikit-text-input__label margin-above--none" for="textArea">Is there anything you wanted to tell us about the documents we need? <span class="hint">(optional)</span></h4>
                  <textarea id="textArea" name="statementText" rows="4"></textarea>
                </fieldset>
              </div> -->


          </div>
          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/service_pension/sp-progress-finish'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
            </div>
          </div>
        </div> <!-- col-md-12 end -->
      </div> <!-- row end -->
    </div> <!-- container end -->
    <%- include(partials+"claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"footer") %>


  <script>
    $(Document).ready(function () {

      $("#btnNext").click(function () {
        window.location.href = "/auth/claim/service_pension/sp-progress-finish "
      });
      $("#btnPrev").click(function () {
        window.location.href = "/auth/claim/service_pension/sp-progress-d"
      });

      if ("flow1" in localStorage) {
        $("#doc-medical").hide();
        $("#doc-discharge").hide();
        $("#doc-civilian-earnings").hide();
      };

      if ("flow2" in localStorage) {
        $(".employed").hide();
      };

    });
  </script>

</body>

</html>