<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Living arrangements | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <!-- Progress bar -->
        <div class="col-md-12">
          <nav>
            <ul class="progress-container">
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-partner">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Relationship status</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-partner">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Dependent children</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-residency">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Residency</p>
                </a>
              </li>
              <li class="progress-step progress-step--active">
                <a href="/auth/claim/service_pension/sp-la">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Living arrangements</p>
                </a>
              </li>
              <li class="progress-step ongoing-only">
                <a href="/auth/claim/service_pension/sp-claim-contact">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Claim representative</p>
                </a>
              </li>
              <li class="progress-step progress-step--last">
                <a href="/auth/claim/service_pension/sp-payment-details">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Living arrangements</span>
      </h1>
    </div>
    <div class="container container--8-column padding-above--extra">
      <div class="la-single">
        <button class="style-less-button style-less-button--accordion la-section-toggle">
          <h2>
            <i class="fal fa-plus-circle"></i> <b>Your living arrangements</b>
          </h2>
        </button>
        <div class="la-section">
          <%- include(forms+"radio-icon", {
            label: "Which of the following best describes where you live?",
            customClass: "living-arragements",
            boxes: [
              {
                text: "A home I own",
                value: "ownhome",
                icon: "fa-home"
              },
              {
                text: "Rental accomodation",
                icon: "fa-door-open",
                value: "rental"
              },
              {
                text: "Retirement or care",
                icon: "fa-tree-alt",
                value: "retirement"
              },
              {
                value: "other",
                text: "Other arrangements",
                icon: "fa-ellipsis-h-alt"
              }
            ]
          }) %>

          <%- include(forms+"radio", {
            customClass: "rental-options",
            label: "Select one of the following:",
            modifiers: ["hidden"],
            boxes: [
              {
                text: "In rental accomodation",
                modifiers: ["hidden"],
                customOuterClass: "rental-accom",
                value: "rental"
              },
              {
                text: "In public housing",
                modifiers: ["hidden"],
                customOuterClass: "rental-accom",
                value: "public",
                hint: "<br>Such as government subsidised, Housing Trust etc."
              },
              {
                text: "In a place where you pay private board and lodging",
                modifiers: ["hidden"],
                customOuterClass: "rental-accom",
                value: "privateboard"
              },
              {
                text: "In a place where you pay site fees",
                modifiers: ["hidden"],
                customOuterClass: "rental-accom",
                hint: "<br>Such as a caravan park, village, or mooring",
                value: "site-fees"
              },
              {
                text: "In a retirement village or independent living unit",
                modifiers: ["hidden"],
                customOuterClass: "retirement-care",
                value: "retirementvillage"
              },
              {
                text: "In residential aged care home (nursing home) which provides nursing care",
                modifiers: ["hidden"],
                customOuterClass: "retirement-care",
                value: "agedcare"
              },
              {
                text: "In a hospital or home for people with disabilities",
                modifiers: ["hidden"],
                customOuterClass: "retirement-care",
                value: "hospital"
              },
              {
                text: "In free accommodation",
                modifiers: ["hidden"],
                customOuterClass: "other-arrangements",
                hint: "<br>Such as living with relatives",
                value: "free"
              },
              {
                text: "In accommodation which you have the right to use free for life",
                modifiers: ["hidden"],
                customOuterClass: "other-arrangements",
                hint: "<br>Such as granny flat",
                value: "freelife"
              },
              {
                text: "Other",
                modifiers: ["hidden"],
                customOuterClass: "other-arrangements",
                hint: "<br>Please describe",
                value: "other"
              }
            ]
          }) %>

          <%- include(forms+"notice", {
            customClass: "ownhome-info",
            modifiers: ["hidden"],
            message: `<p>Includes a home: </p>
                      <ul>
                        <li>you are paying off (mortgage)</li>
                        <li>you own jointly with another person or organisation</li>
                        <li>that is owned by a private trust or company</li>
                      </ul>`
          }) %>

          <form class="la-form" hidden>
            <h2 class="give-details" hidden><b>Give details about your selection</b></h2>
          </form>
        </div>
      </div>

      <p id="save-next" hidden>Choose <b>save and next</b> to continue.</p>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim/service_pension/sp-residency'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href='/auth/claim/service_pension/sp-claim-contact'">Save and next</button>
        </div>
      </div>

      <form class="la-form-original" style="display: none;">
        <h2 class="give-details" style="display: none;"><b>Give details about your selection</b></h2>

        <%- include(forms+"date", {
          label: "On what date did you move in to this accomodation?",
          modifiers: ["hidden"],
          customClass: "free--when-move-in"
        }) %>

        <%- include(forms+"prepop/address", {
          label: "Address",
          customClass: "address",
          modifiers: ["hidden"]
        }) %>

        <div class="freelife" hidden>
          <%- include(forms+"yes_no", {
            label: "Did you pay a sum of money or transfer any assets to another person or organisation in return for this accommodation for life?",
            yes_toggle: ".freelife--paid-sum"
          }) %>

          <div class="freelife--paid-sum" hidden>
            <%- include(forms+"text", {
              label: "Name of person of organization",
              modifiers: ["inputFullLength"]
            }) %>

            <%- include(forms+"date", {
              label: "Date paid or transferred"
            }) %>

            <%- include(forms+"text", {
              label: "Amount paid or market value of assets transferred",
              modifiers: ["inputShort", "dollarSign"],
              placeholder: "0.00"
            }) %>

            <%- include(forms+"textarea", {
              label: "Assets transferred",
              hint: " (If any)",
              rows: 2
            }) %>
          </div>
        </div>

        <%- include(forms+"textarea", {
          rows: 2,
          label: "Give details",
          customClass: "other--arrangements",
          modifiers: ["hidden"]
        }) %>
      </form>
    </div>

  </main>
  <%- include(partials+"components/layout/footer") %>
  <script>
    $(document).ready(function() {
      $(".la-section").find(".la-form").replaceWith($(".la-form-original").clone(true).attr("class", "la-form"));
    })

    $("body").on("click", ".la-section-toggle", function() {
      $(this).find(".fal").toggleClass("fa-plus-circle");
      $(this).find(".fal").toggleClass("fa-minus-circle");
      $(this).parent().find(".la-section").toggle("fast");
    })

    $("body").on("submit", ".la-form", function(e) {
      e.preventDefault();
    })

    $("body").on("change", ".living-arragements input", function() {
      $(this).closest(".la-section").find(".ownhome-info").hide();
      $(this).closest(".la-section").find(".rental-options").hide();
      $(this).closest(".la-section").find(".rental-options .uiToolKitCheckBox").hide();
      $("#save-next").hide();

      switch ($(this).closest(".living-arragements").find(":checked").val()) {
        case "ownhome":
          $(this).closest(".la-section").find(".ownhome-info").show();
          if (localStorage.getItem("partnerApply") !== "true") $("#save-next").show();
          break;
        case "rental":
          $(this).closest(".la-section").find(".rental-options .rental-accom").show();
          $(this).closest(".la-section").find(".rental-options").show();
          break;
        case "retirement":
          $(this).closest(".la-section").find(".rental-options .retirement-care").show();
          $(this).closest(".la-section").find(".rental-options").show();
          break;
        case "other":
          $(this).closest(".la-section").find(".rental-options .other-arrangements").show();
          $(this).closest(".la-section").find(".rental-options").show();
          break;
      }
    })

    $("body").on("change", ".rental-options input", function() {
      $(this).closest(".la-section").find(".la-form").replaceWith($(".la-form-original").clone(true).attr("class", "la-form"));
      console.log($(this).closest(".la-section").find(".rental-options :checked").val())

      switch ($(this).closest(".la-section").find(".rental-options :checked").val()) {
        case "free":
          $(this).closest(".la-section").find(".free--when-move-in").show();
          $(this).closest(".la-section").find(".address").show();
        case "freelife":
          $(this).closest(".la-section").find(".freelife").show();
        case "other":
          $(this).closest(".la-section").find(".other--arrangements").show();
      }
      
      $(this).closest(".la-section").find(".la-form").show();

      if ($(this).closest(".la-section").find(".rental-options :checked").val() !== "other") {  
        $(this).closest(".la-section").find(".give-details").show();
      }

    })

  </script>
</body>

</html>
