<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Living arrangements | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <!-- Progress bar -->
        <div class="col-md-12">
          <nav>
            <ul class="progress-container">
              <!-- <li class="progress-step progress-step--done">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">My details</p>
                            </li> -->
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-partner">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Relationship status</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-partner">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Dependent children</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-residency">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Residency</p>
                </a>
              </li>
              <li class="progress-step progress-step--active">
                <a href="/auth/claim/service_pension/sp-la">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Living arrangements</p>
                </a>
              </li>
              <li class="progress-step ongoing-only">
                <a href="/auth/claim/service_pension/sp-claim-contact">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Claim representative</p>
                </a>
              </li>
              <li class="progress-step progress-step--last">
                <a href="/auth/claim/service_pension/sp-payment-details">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Living arrangements</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <!-- Page content -->
        <div class="col-lrg-12">
          <div class="margin-above--extra margin-below--extra">
            <!-- <h2>Your living arrangements are a factor used in determining your Service Pension</h2> -->
            <h2 id="sp-res-veteranTitle" class="margin-above--none" style="width: 400px; display: inline-block; display: none; cursor: pointer;">
              <icon class="fal fa-minus-circle" style="font-size: 1.3em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Your living arrangements</span>
            </h2>
            <div class="accordion-group">


              <%- include(partials+"components/form-partials/radio-icon", {
                  label: "Which of the following best describes where you live?",
                  boxes: [
                    {
                      text: "A home I own",
                      icon: {
                        icon: "fa-home-lg-alt",
                        weight: "fal"
                      }
                    },
                    {
                      text: "Rental accommodation",
                      icon: {
                        icon: "fa-door-open",
                        weight: "fal"
                      }
                    },
                    {
                      text: "Retirement or care",
                      icon: {
                        icon: "fa-tree-alt",
                        weight: "fal"
                      }
                    },
                    {
                      text: "Other arrangements",
                      icon: {
                        icon: "fa-ellipsis-h-alt",
                        weight: "fal"
                      } 
                    }
                  ]
                }); %>


              <!-- <div class="form-group margin-above--large">
                <legend class="legend-label">Which of the following best describes where you live?</legend>
                <div class="row"></div>
                <div class="radio-tile--group col-md-12">



                  <div class="col-md-3">
                    <label class="radio-tile">
                      <input id="sp-la-a" class="sr" type="radio" name="la-top" value="sp-la-a">
                      <span>
                        <icon class="radio_tile__icon fas fa-home fa-3x" style="padding: 15px 0 15px 0;"></icon>&nbsp;&nbsp;
                        <icon class="radio_tile__icon fal fa-city fa-3x"></icon>
                        <BR />A home I own
                      </span>
                    </label>
                  </div>

                  <div class="col-md-3">
                    <label class="radio-tile">
                      <input id="sp-la-b" class="sr" type="radio" name="la-top" value="sp-la-b">
                      <span>
                        <icon class="fas fa-hotel fa-3x" style="padding: 15px 0 15px 0;"></icon>&nbsp;&nbsp;
                        <icon class="fal fa-rv fa-3x"></icon>
                        <BR />Rental accommodation
                      </span>
                    </label>
                  </div>

                  <div class="col-md-3">
                    <label class="radio-tile">
                      <input id="sp-la-c" class="sr" type="radio" name="la-top" value="sp-la-c">
                      <span>
                        <icon class="radio_tile__icon fas fa-home fa-3x" style="padding: 15px 0 15px 0;"></icon>&nbsp;&nbsp;
                        <icon class="radio_tile__icon fal fa-hospital-alt fa-3x"></icon>
                        <BR />Retirement or care
                      </span>
                    </label>
                  </div>

                  <div class="col-md-3">
                    <label class="radio-tile">
                      <input id="sp-la-d" class="sr" type="radio" name="la-top" value="sp-la-d">
                      <span>
                        <icon class="radio_tile__icon fal fa-ellipsis-h-alt fa-3x" style="padding: 15px 0 15px 0;"></icon>
                        <BR />Other arrangements
                      </span>
                    </label>
                  </div>
                </div>

              </div> -->

              <fieldset id="living-arrangements-a" class="margin-above">
                <div class="uikit-page-alerts" role="alert" id="home-own-explainer">
                  <p>Includes a home: </p>
                  <ul>
                    <li>you are paying off (mortgage)</li>
                    <li>you own jointly with another person or organisation</li>
                    <li>that is owned by a private trust or company</li>
                  </ul>

                </div>
                <!-- <div class="form-group">
                                                <label class="uikit-text-input__label" for="radio-buttons">Select one of the following:</label> -->
                <!-- <p class="uiToolKitCheckBox margin-above">
                                                    <label class="uikit-control-input">
                                                        <input id="op1-la" class="uikit-control-input__input" type="radio" value="tenant" name="radio-la">
                                                        <span class="uikit-control-input__text">In a home I <span id="sp-la-partnerRef-01">(and/or my partner)</span> own </span><span class="help-field">This includes paying it off (mortgage)</span>
                                                    </label>
                                                </p>
                                                <p class="uiToolKitCheckBox">
                                                    <label class="uikit-control-input">
                                                        <input id="op2-la" class="uikit-control-input__input" value="in-care" type="radio" name="radio-la">
                                                        <span class="uikit-control-input__text">In a home I <span id="sp-la-partnerRef-02">(and/or my partner)</span> own jointly with another person or organisation</span>
                                                    </label>
                                                </p>
                                                <p class="uiToolKitCheckBox">
                                                    <label class="uikit-control-input">
                                                        <input id="op12-la" class="uikit-control-input__input" type="radio" name="radio-la">
                                                        <span class="uikit-control-input__text">In a home owned by a private trust</span>
                                                    </label>
                                                </p>
                                                <p class="uiToolKitCheckBox">
                                                    <label class="uikit-control-input">
                                                        <input id="op13-la" class="uikit-control-input__input" type="radio" name="radio-la">
                                                        <span class="uikit-control-input__text">In a home owned by a private company</span>
                                                    </label>
                                                </p> -->
              </fieldset>
              <fieldset id="living-arrangements-b" class="margin-above">
                <label class="uikit-text-input__label" for="radio-buttons">Select one of the following:</label>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="op7-la" class="uikit-control-input__input" type="radio" name="radio-la">
                    <span class="uikit-control-input__text">In rental accommodation</span>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="op8-la" class="uikit-control-input__input" type="radio" name="radio-la">
                    <span class="uikit-control-input__text uikit-control-input__text--test">In public housing<span class="help-field">Such as government subsidised, Housing Trust
                        etc.</span></span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="op10-la" class="uikit-control-input__input" type="radio" name="radio-la">
                    <span class="uikit-control-input__text">In a place where you pay private board and lodging</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="op9-la" class="uikit-control-input__input" type="radio" name="radio-la">
                    <span class="uikit-control-input__text">In a place where you pay site fees <span class="help-field">Such as a caravan park, village, or mooring</span></span>
                  </label>
                </p>
              </fieldset>
              <fieldset id="living-arrangements-c" class="margin-above">
                <label class="uikit-text-input__label" for="radio-buttons">Select one of the following:</label>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="op3-la" class="uikit-control-input__input" type="radio" value="retirement-village" name="radio-la"
                      onclick="document.location.href='#op3-la-content'">
                    <span class="uikit-control-input__text">In a retirement village or independent living unit</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="op4-la" class="uikit-control-input__input" value="granny-flat" type="radio" name="radio-la">
                    <span class="uikit-control-input__text">In residential aged care home (nursing home) which provides nursing care </span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="op5-la" class="uikit-control-input__input" value="providing-care" type="radio" name="radio-la">
                    <span class="uikit-control-input__text">In a hospital or home for people with disabilities</span>
                  </label>
                </p>
              </fieldset>
              <fieldset id="living-arrangements-d" class="margin-above">
                <label class="uikit-text-input__label" for="radio-buttons">Select one of the following:</label>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="op11-la" class="uikit-control-input__input" type="radio" name="radio-la">
                    <span class="uikit-control-input__text">In free accommodation<span class="help-field">Such as living with relatives</span></span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="op6-la" class="uikit-control-input__input" type="radio" name="radio-la">
                    <span class="uikit-control-input__text">In accommodation which you have the right to use free for life<span class="help-field">Such as a granny
                        flat</span></span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="op14-la" class="uikit-control-input__input" type="radio" name="radio-la">
                    <span class="uikit-control-input__text">Other<span class="help-field">Please describe</span></span>
                  </label>
                </p>
              </fieldset>
              <!-- Option 3 -->
              <div id="op3-la-content">
                <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
                <fieldset>
                  <div class="form-group" id="date-separation">
                    <label class="uikit-text-input__label">On what date did you move in to this accommodation?
                      <span class="hint">(DD / MM / YYYY)</span>
                    </label>
                    <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div>
                </fieldset>
                <div class="form-group" id="sp-la-op3-howMuchOngoing">
                  <label class="uikit-text-input__label" for="tags">How much do you pay ongoing for your accommodation?</label>
                  <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required
                    aria-required="true">per&nbsp;&nbsp;
                  <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
                    <option selected="selected">-- Select frequency --</option>
                    <option id="sp-la-op789-type-01">Weekly</option>
                    <option id="sp-la-op789-type-02">Fortnightly</option>
                    <option id="sp-la-op789-type-03">Monthly</option>
                    <option id="sp-la-op789-type-03">Annually</option>
                  </select>
                </div>
                <div class="form-group margin-above--large" id="sp-la-op3-dateStartedPaying">
                  <label class="uikit-text-input__label">Date you started paying?
                    <span class="hint">(DD / MM / YYYY)</span>
                  </label>
                  <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                </div>
                <fieldset id="sp-la-op3-includeMeals" class="margin-above--large">
                  <legend class="legend-label">Does this include meals?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="include-meals-yes">
                      <input id="include-meals-yes" type="radio" name="include-meals">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="include-meals-no">
                      <input id="include-meals-no" type="radio" name="include-meals">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
                <fieldset>
                  <legend class="legend-label margin-above">Did you pay an entry contribution?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="pay-contribution-yes">
                      <input id="pay-contribution-yes" type="radio" name="pay-contribution">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="pay-contribution-no">
                      <input id="pay-contribution-no" type="radio" name="pay-contribution">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
                <div class="form-group margin-above--large" id="sp-la-op3-howMuch">
                  <label class="uikit-text-input__label" for="tags">How much was the entry contribution?</label>
                  <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required
                    aria-required="true">
                </div>
                <div class="uikit-page-alerts margin-above--large" role="alert">
                  <p>You will need to attach a copy of the <span>entry agreement</span> in the documents section</p>
                </div>
              </div>
              <!-- Option 4-->
              <div id="op4-la-content">
                <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
                <div class="form-group margin-above--large" id="sp-la-op4-name">
                  <label class="uikit-text-input__label" for="tags">What is the name of the nursing home or hostel?</label>
                  <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                </div>
                <fieldset id="sp-la-op4-bond" class="margin-above--large">
                  <legend class="legend-label">Did you pay an accommodation bond or charge?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="sp-la-op4-bond-yes">
                      <input id="sp-la-op4-bond-yes" type="radio" name="sp-la-op4-bond">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="sp-la-op4-bond-no">
                      <input id="sp-la-op4-bond-no" type="radio" name="sp-la-op4-bond">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
                <div class="form-group margin-above--large" id="sp-la-op4-howMuch">
                  <label class="uikit-text-input__label" for="tags">How much did you pay?</label>
                  <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required
                    aria-required="true">
                </div>
                <div class="form-group margin-above--large" id="sp-la-op4-howMuchOngoing">
                  <label class="uikit-text-input__label" for="tags">How much do you pay ongoing for your accommodation?</label>
                  <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required
                    aria-required="true">per&nbsp;&nbsp;
                  <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
                    <option selected="selected">-- Select frequency --</option>
                    <option id="sp-la-op78-type-01">Weekly</option>
                    <option id="sp-la-op78-type-02">Fortnightly</option>
                    <option id="sp-la-op78-type-03">Monthly</option>
                    <option id="sp-la-op78-type-03">Annually</option>
                  </select>
                </div>
                <div class="form-group margin-above--large" id="sp-la-op4-dateStartedPaying">
                  <label class="uikit-text-input__label">Date you started paying?
                    <span class="hint">(DD / MM / YYYY)</span>
                  </label>
                  <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                </div>
                <div class="uikit-page-alerts" role="alert" id="sp-la-op4-alert">
                  <p>You will need to attach a copy of the Accommodation Bond or the Accommodation Charge Agreement in the documents section.</p>
                </div>
              </div>
              <!-- Option 5 -->
              <div id="op5-la-content">
                <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
                <div class="form-group margin-above" id="sp-la-op5-alert-dateStartedPaying">
                  <label class="uikit-text-input__label">On what date did you move into this accommodation?
                    <span class="hint">(DD / MM / YYYY)</span>
                  </label>
                  <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                </div>
                <div class="uikit-page-alerts" role="alert" id="sp-la-op5-alert">
                  <p>You will need to attach a copy of the accommodation agreement or other relevant documentation in the documents section.</p>
                </div>
              </div>
              <!-- Option 6 -->
              <div id="op6-la-content">
                <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
                <fieldset id="sp-la-op6-paySum" class="margin-above">
                  <legend class="legend-label">Did you pay a sum of money or transfer any assets to another person or organisation in return for this accommodation for life?
                  </legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="sp-la-op6-paySum-yes">
                      <input id="sp-la-op6-paySum-yes" type="radio" name="sp-la-op6-paySum">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="sp-la-op6-paySum-no">
                      <input id="sp-la-op6-paySum-no" type="radio" name="sp-la-op6-paySum">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
                <div id="sp-la-op6-additional">
                  <div class="form-group margin-above--large" id="sp-la-op6-howMuch">
                    <label class="uikit-text-input__label" for="tags">Name of person of organization</label>
                    <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                  </div>
                  <!-- <div class=" form-group margin-above" id="sp-la-op6-organisation">
                                                    <label class="uikit-text-input__label" for="tags">Address of person or organization</label>
                                                    <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                                    <input class=" uikit-text-input" name="tags" id="tags" type="text" value="">
                                                </div> -->
                  <div class=" form-group margin-above--large" id="sp-la-op6-dateStartedPaying">
                    <label class="uikit-text-input__label">Date paid or transferred
                      <span class="hint">(DD / MM / YYYY)</span>
                    </label>
                    <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digitvday"> /
                    <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div>
                  <div class="form-group margin-above--large" id="sp-la-op6-amount">
                    <label class="uikit-text-input__label" for="tags">Amount paid or market value of assets transferred</label>
                    <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required
                      aria-required="true">
                  </div>
                  <!--  <div class="form-group margin-above" id="sp-la-op6-or">
                                                    <label class="uikit-text-input__label" for="tags">OR</label>
                                                </div> -->
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="tags">Assets transferred<span class="hint"> (If any)</span></label>
                    <textarea name="test"></textarea>
                  </div>
                </div>
              </div>
              <!-- Option 7 8 -->
              <div id="op78-la-content">
                <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
                <div class="form-group">
                  <!-- <label class="uikit-text-input__label" for="radio-buttons">Type of payment</label>
                                                <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
                                                    <option selected="selected">-- Select payment type --</option>
                                                    <option id="sp-la-op78-type-01">Public housing</option>
                                                    <option id="sp-la-op78-type-02">Private rent</option>
                                                    <option id="sp-la-op78-type-03">Caravan park site fees</option>
                                                    <option id="sp-la-op78-type-04">Relocatable home site fees</option>
                                                    <option id="sp-la-op78-type-05">Mooring fees</option>
                                                </select> -->
                  <div class="form-group margin-above" id="sp-la-op78-howMuch">
                    <label class="uikit-text-input__label" for="tags">How much do you pay?</label>
                    <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required
                      aria-required="true">per&nbsp;&nbsp;
                    <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
                      <option selected="selected">-- Select frequency --</option>
                      <option id="sp-la-op78-type-01">Weekly</option>
                      <option id="sp-la-op78-type-02">Fortnightly</option>
                      <option id="sp-la-op78-type-03">Monthly</option>
                      <option id="sp-la-op78-type-03">Annually</option>
                    </select>
                  </div>
                  <div class="form-group margin-above" id="sp-la-op78-whoTo">
                    <label class="uikit-text-input__label" for="tags">Who do you pay it to?</label>
                    <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                    <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                    <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                  </div>
                  <div class="uikit-page-alerts" role="alert">
                    <p>You will need to attach a copy of your latest lease or tenancy agreement in the documents section.</p>
                    <p>If you don’t have one, you may attach a copy of the latest rent receipt. Make sure the name and address of the person to whom you pay is written on the
                      receipt.
                    </p>
                  </div>
                </div>
              </div>
              <!-- Option 9 -->
              <div id="op9-la-content">
                <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="radio-buttons">Type of payment</label>
                  <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
                    <option selected="selected">-- Select payment type --</option>
                    <option id="sp-la-op9-type-03">Caravan park site fees</option>
                    <option id="sp-la-op9-type-04">Relocatable home site fees</option>
                    <option id="sp-la-op9-type-05">Mooring fees</option>
                  </select>
                  <div class="form-group margin-above" id="sp-la-op9-howMuch">
                    <label class="uikit-text-input__label" for="tags">How much do you pay?</label>
                    <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required
                      aria-required="true">per&nbsp;&nbsp;
                    <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
                      <option selected="selected">-- Select frequency --</option>
                      <option id="sp-la-op9-type-01">Weekly</option>
                      <option id="sp-la-op9-type-02">Fortnightly</option>
                      <option id="sp-la-op9-type-03">Monthly</option>
                      <option id="sp-la-op9-type-03">Annually</option>
                    </select>
                  </div>
                  <!-- <div class="form-group margin-above" id="sp-la-op9-whoTo">
                                                    <label class="uikit-text-input__label" for="tags">Who do you pay it to?</label>
                                                    <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                                    <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                                    <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                                </div> -->
                  <div class="uikit-page-alerts" role="alert">
                    <p>You will need to attach a copy of your latest lease or tenancy agreement in the documents section.</p>
                    <p>If you don’t have one, you may attach a copy of the latest rent receipt. Make sure the name and address of the person to whom you pay is written on the
                      receipt.
                    </p>
                  </div>
                </div>
              </div>
              <!-- Option 10 -->
              <div id="op10-la-content">
                <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
                <div class="form-group margin-above" id="sp-la-op10-meals">
                  <label class="uikit-text-input__label" for="tags">Amount paid for meals:</label>
                  <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required
                    aria-required="true">per&nbsp;&nbsp;
                  <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
                    <option selected="selected">-- Select frequency --</option>
                    <option id="sp-la-op78-type-01">Weekly</option>
                    <option id="sp-la-op78-type-02">Fortnightly</option>
                    <option id="sp-la-op78-type-03">Monthly</option>
                    <option id="sp-la-op78-type-03">Annually</option>
                  </select>
                </div>
                <div class="form-group margin-above" id="sp-la-op10-lodging">
                  <label class="uikit-text-input__label" for="tags">Amount paid for lodging</label>
                  <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required
                    aria-required="true">per&nbsp;&nbsp;
                  <select class="uikit-text-input input-half" id="payment-type" name="payment-type">
                    <option selected="selected">-- Select frequency --</option>
                    <option id="sp-la-op78-type-01">Weekly</option>
                    <option id="sp-la-op78-type-02">Fortnightly</option>
                    <option id="sp-la-op78-type-03">Monthly</option>
                    <option id="sp-la-op78-type-03">Annually</option>
                  </select>
                </div>
                <div class="uikit-page-alerts" role="alert">
                  <p>You will need to attach a copy of your latest lease or tenancy agreement in the documents section.</p>
                  <p>If you don’t have one, you may attach a copy of the latest rent receipt. Make sure the name and address of the person to whom you pay is written on the
                    receipt.</p>
                </div>
                <!-- <div class="form-group margin-above" id="sp-la-op10-payment">
                                                <h3>Who do you pay it to?</h3>
                                                <div class=" form-group margin-above" id="sp-la-op6-marketValue">
                                                    <label class="uikit-text-input__label" for="tags">First name</label>
                                                    <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                                </div>
                                                <div class=" form-group margin-above" id="sp-la-op6-marketValue">
                                                    <label class="uikit-text-input__label" for="tags">Last name</label>
                                                    <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                                </div>
                                                <div class=" form-group margin-above" id="sp-la-op6-marketValue">
                                                    <label class="uikit-text-input__label" for="tags">Contact details</label>
                                                    <span style="color:red;font-weight:bold;font-variant: italic">Currently undefined: requirement "must be able to select contact method and details"</span>
                                                </div>
                                            </div> -->
              </div>
              <!-- Option 11 -->
              <div id="op11-la-content">
                <h2><span class="font-weight-heavy">Give details about your selection</span></h2>
                <!-- <div class="form-group margin-above" id="sp-la-op78-howMuch">
                                                <label class="uikit-text-input__label" for="tags">Name of provider of free accommodation</label>
                                                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                            </div>
                                            <div class="form-group margin-above" id="sp-la-op78-whoTo">
                                                <label class="uikit-text-input__label" for="tags">Relationship to you</label>
                                                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                            </div> -->
                <fieldset>
                  <div class="form-group" id="date-separation">
                    <label class="uikit-text-input__label">On what date did you move in to this accommodation?
                      <span class="hint">(DD / MM / YYYY)</span>
                    </label>
                    <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit
                          day"> /
                    <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit
                          month"> /
                    <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4
                          digit year">
                  </div>
                </fieldset>
                <h3>Address</h3>
                <%- include(partials+"content/address-residential") %>
              </div>
              <!-- Option 11 -->
              <!-- Option 12 -->
              <!-- Option 13 -->
              <!-- Option 14 -->
              <div id="op14-la-content">
                <h2><span class="font-weight-heavy">Give details</span></h2>
                <textarea name="test"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group margin-above" id="sp-la-partner-la" style="display: none;">
            <h2 id="sp-res-partnerTitle" class="margin-above--none" style="width: 400px; display: inline-block; cursor: pointer;">
              <icon class="fal fa-minus-circle" style="font-size: 1.3em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Partner living arrangements</span>
            </h2>
            <div class="accordion-group1">
              <fieldset class="margin-above">
                <legend class="legend-label">Does your partner live at a different address because of age or ill health?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="sp-la-op6-paySum-yes1">
                    <input id="sp-la-op6-paySum-yes1" type="radio" name="sp-la-op6-paySum1">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="sp-la-op6-paySum-no1">
                    <input id="sp-la-op6-paySum-no1" type="radio" name="sp-la-op6-paySum1">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
              <div id="show-partner-questions" class="form-group margin-above" style="display:none;">
                <p>Show living arrangement questions for partner</p>
              </div>
            </div>
          </div>
          <div id="save-and-next" class="margin-above">
            <p>Choose <b>save and next</b> to continue.</p>
          </div>
        </div>

        <!-- bottom page navigation -->
        <div class="pagination">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim/service_pension/sp-residency'">Previous</button>
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
          <div class="floated">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim'">Save and exit</button>
            <button class="uikit-btn btnNext" onclick="window.location.href='/auth/claim/service_pension/sp-claim-contact'">Save and next</button>
          </div>
        </div><!-- bottom page navigation end -->
        <%- include(partials+"content/modals/claims-cancel-modal") %>
      </div>
    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <script>
    $(Document).ready(function () {

      hideAll();

      if (sessionStorage.getItem('partnerStatus') == 'partnered') {
        showPartner();
      } else {
        hidePartner();
      };

      function showPartner() {
        sessionStorage.setItem('partnerApply', 'true')
        $("#sp-res-veteranTitle").show();
        $("#sp-la-partner-la").show();
        $("#intro-copy-no-partner").hide();
      }

      function hidePartner() {
        sessionStorage.setItem('partnerApply', 'false')
        $("#sp-res-veteranTitle").hide();
        $("#sp-la-partner-la").hide();
        $("#intro-copy-no-partner").show();
      }

      /* top level selection */
      $("#sp-la-a").click(function (e) {
        hideAll();
        $("#living-arrangements-a").show("fast");
        $("#save-and-next").show("fast");
      });
      $("#sp-la-b").click(function (e) {
        hideAll();
        $("#living-arrangements-b").show("fast");
      });
      $("#sp-la-c").click(function (e) {
        hideAll();
        $("#living-arrangements-c").show("fast");
      });
      $("#sp-la-d").click(function (e) {
        hideAll();
        $("#living-arrangements-d").show("fast");
      });

      /* op1 */
      $("#op1-la").click(function (e) {
        hideAll();
        $("#living-arrangements-a").show();
        $("#save-and-next").show();
      });
      /* op2 */
      $("#op2-la").click(function () {
        hideAll();
        $("#living-arrangements-a").show();
      });
      /* op3 */
      $("#op3-la").click(function () {
        hideAll();
        $("#living-arrangements-c").show();
        $("#op3-la-content").show("fast");
      });
      $("#pay-contribution-yes").click(function () {
        $("#sp-la-op3-howMuch").show("fast");
      });
      $("#pay-contribution-no").click(function () {
        $("#sp-la-op3-howMuch").hide("fast");
      });
      /* op4 */
      $("#op4-la").click(function () {
        hideAll();
        $("#living-arrangements-c").show();
        $("#op4-la-content").show("fast");
      });
      $("#sp-la-op4-bond-yes").click(function () {
        $("#sp-la-op4-howMuch").show("fast");
        $("#sp-la-op4-alert").show("fast");
      });
      $("#sp-la-op4-bond-no").click(function () {
        $("#sp-la-op4-howMuch").hide("fast");
        $("#sp-la-op4-alert").hide("fast");
      });
      /* op5 */
      $("#op5-la").click(function () {
        hideAll();
        $("#living-arrangements-c").show();
        $("#op5-la-content").show("fast");
      });
      /* op6 */
      $("#op6-la").click(function () {
        hideAll();
        $("#living-arrangements-d").show();
        $("#op6-la-content").show("fast");
      });
      $("#sp-la-op6-paySum-yes").click(function () {
        $("#sp-la-op6-additional").show("fast");
      });
      $("#sp-la-op6-paySum-no").click(function () {
        $("#sp-la-op6-additional").hide("fast");
      });
      /* op78 */
      $("#op7-la").click(function () {
        hideAll();
        $("#living-arrangements-b").show();
        $("#op78-la-content").show("fast");
      });
      $("#op8-la").click(function () {
        hideAll();
        $("#living-arrangements-b").show();
        $("#op78-la-content").show("fast");
      });
      $("#op9-la").click(function () {
        hideAll();
        $("#living-arrangements-b").show();
        $("#op9-la-content").show("fast");
      });
      $("#sp-la-op78-type-01").click(function () {
        $("#sp-la-op78-whoTo").hide("fast");
      });
      $("#sp-la-op78-type-02").click(function () {
        $("#sp-la-op78-whoTo").show("fast");
      });
      $("#sp-la-op78-type-03").click(function () {
        $("#sp-la-op78-whoTo").show("fast");
      });
      $("#sp-la-op78-type-03").click(function () {
        $("#sp-la-op78-whoTo").show("fast");
      });
      $("#sp-la-op78-type-04").click(function () {
        $("#sp-la-op78-whoTo").show("fast");
      });
      /* op10 */
      $("#op10-la").click(function () {
        hideAll();
        $("#living-arrangements-b").show();
        $("#op10-la-content").show("fast");
      });
      /* op11 */
      $("#op11-la").click(function () {
        hideAll();
        $("#op11-la-content").show("fast");
        $("#living-arrangements-d").show();
      });
      /* op12 */
      $("#op12-la").click(function () {
        hideAll();
        $("#living-arrangements-a").show();
      });
      /* op13 */
      $("#op13-la").click(function () {
        hideAll();
        $("#living-arrangements-a").show();
      });
      /* op14 */
      $("#op14-la").click(function () {
        hideAll();
        $("#op14-la-content").show("fast");
        $("#living-arrangements-d").show();
      });

      // accordions

      $("#sp-res-veteranTitle").click(function () {
        $(".accordion-group").toggle("fast");
        $("#sp-res-veteranTitle icon").toggleClass("fa-minus-circle").toggleClass("fa-plus-circle");
      });

      $("#sp-res-partnerTitle").click(function () {
        $(".accordion-group1").toggle("fast");
        $("#sp-res-partnerTitle icon").toggleClass("fa-minus-circle").toggleClass("fa-plus-circle");
      });

      //

      $("#sp-la-op6-paySum-yes1").click(function () {
        if ($(".accordion-group").is(":visible")) {
          $(".accordion-group").hide("fast");
          $("#sp-res-veteranTitle icon").toggleClass("fa-minus-circle").toggleClass("fa-plus-circle");
          $("#show-partner-questions").show("fast");
        }
      })

      // $("#sp-la-op6-paySum-no1").click(function() {
      //     $(".accordion-group").show("fast");
      //     $("#sp-res-veteranTitle icon").toggleClass("fa-minus-circle").toggleClass("fa-plus-circle");
      //     $("#show-partner-questions").hide("fast");
      // })

      var partner = false;
      $(document).keypress(function (e) {
        switch (e.which) {
          case 49:
            partner = false;
            $("#sp-la-partner-la").hide();
            $("#toggle-accordion-sp").hide();
            break;
          case 50:
            partner = true;
            $("#sp-la-partner-la").show();
            $("#toggle-accordion-sp").show();
            break;
          default:
        }
      });

      $(document).keypress(function (e) {
        switch (e.which) {
          case 49:
            hidePartner();
            break;
          case 50:
            showPartner();
            break;
          default:
        }
      });

      function hideAll() {
        $("#living-arrangements-a").hide();
        $("#living-arrangements-b").hide();
        $("#living-arrangements-c").hide();
        $("#living-arrangements-d").hide();
        if (!partner) {
          $("#sp-la-partnerRef-01").hide();
          $("#sp-la-partnerRef-02").hide();
          $("#sp-la-partner").hide();
        };
        /* op3 */
        $("#op3-la-content").hide();
        $("#sp-la-op3-howMuch").hide();
        /* op4 */
        $("#op4-la-content").hide();
        $("#sp-la-op4-howMuch").hide();
        $("#sp-la-op4-alert").hide();
        /* op5 */
        $("#op5-la-content").hide();
        /* op6 */
        $("#op6-la-content").hide();
        $("#sp-la-op6-additional").hide();
        /* op78 */
        $("#op78-la-content").hide();
        $("#sp-la-op78-whoTo").hide();
        /* op9 */
        $("#op9-la-content").hide();
        /* op10 */
        $("#op10-la-content").hide();
        /* op11 */
        $("#op11-la-content").hide();
        /* op12 */
        /* op13 */
        $("#op13-la-content").hide();
        $("#op14-la-content").hide();
        //
        $("#save-and-next").hide();
      }
    });
  </script>
</body>

</html>
