<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Living arrangements | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <!-- Progress bar -->
        <div class="col-md-12">
          <nav>
            <ul class="progress-container">
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-partner">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Relationship status</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-partner">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Dependent children</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-residency">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Residency</p>
                </a>
              </li>
              <li class="progress-step progress-step--active">
                <a href="/auth/claim/service_pension/sp-la">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Living arrangements</p>
                </a>
              </li>
              <li class="progress-step ongoing-only">
                <a href="/auth/claim/service_pension/sp-claim-contact">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Claim representative</p>
                </a>
              </li>
              <li class="progress-step progress-step--last">
                <a href="/auth/claim/service_pension/sp-payment-details">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Living arrangements</span>
      </h1>
    </div>
    <div class="container container--8-column padding-above--extra">
      <div class="la-single">
        <button class="style-less-button style-less-button--accordion la-section-toggle">
          <h2>
            <i class="fal fa-minus-circle"></i> <b>Your living arrangements</b>
          </h2>
        </button>
        <div class="la-section">
          <%- include(forms+"radio-icon", {
            label: "Which of the following best describes where you live?",
            customClass: "living-arragements",
            boxes: [
              {
                text: "A home I own",
                value: "ownhome",
                icon: "fa-home"
              },
              {
                text: "Rental accomodation",
                icon: "fa-door-open",
                value: "rental"
              },
              {
                text: "Retirement or care",
                icon: "fa-tree-alt",
                value: "retirement"
              },
              {
                value: "other",
                text: "Other arrangements",
                icon: "fa-ellipsis-h-alt"
              }
            ]
          }) %>

          <%- include(forms+"radio", {
            customClass: "rental-options",
            label: "Select one of the following:",
            modifiers: ["hidden"],
            boxes: [
              {
                text: "In rental accomodation",
                modifiers: ["hidden"],
                customOuterClass: "rental-accom",
                value: "rental"
              },
              {
                text: "In public housing",
                modifiers: ["hidden"],
                customOuterClass: "rental-accom",
                value: "public",
                hint: "<br>Such as government subsidised, Housing Trust etc."
              },
              {
                text: "In a place where you pay private board and lodging",
                modifiers: ["hidden"],
                customOuterClass: "rental-accom",
                value: "privateboard"
              },
              {
                text: "In a place where you pay site fees",
                modifiers: ["hidden"],
                customOuterClass: "rental-accom",
                hint: "<br>Such as a caravan park, village, or mooring",
                value: "site-fees"
              },
              {
                text: "In a retirement village or independent living unit",
                modifiers: ["hidden"],
                customOuterClass: "retirement-care",
                value: "retirementvillage"
              },
              {
                text: "In residential aged care home (nursing home) which provides nursing care",
                modifiers: ["hidden"],
                customOuterClass: "retirement-care",
                value: "agedcare"
              },
              {
                text: "In a hospital or home for people with disabilities",
                modifiers: ["hidden"],
                customOuterClass: "retirement-care",
                value: "hospital"
              },
              {
                text: "In free accommodation",
                modifiers: ["hidden"],
                customOuterClass: "other-arrangements",
                hint: "<br>Such as living with relatives",
                value: "free"
              },
              {
                text: "In accommodation which you have the right to use free for life",
                modifiers: ["hidden"],
                customOuterClass: "other-arrangements",
                hint: "<br>Such as granny flat",
                value: "freelife"
              },
              {
                text: "Other",
                modifiers: ["hidden"],
                customOuterClass: "other-arrangements",
                hint: "<br>Please describe",
                value: "other"
              }
            ]
          }) %>

          <%- include(forms+"notice", {
            customClass: "ownhome-info",
            modifiers: ["hidden"],
            message: `<p>Includes a home: </p>
                      <ul>
                        <li>you are paying off (mortgage)</li>
                        <li>you own jointly with another person or organisation</li>
                        <li>that is owned by a private trust or company</li>
                      </ul>`
          }) %>

          <form class="la-form" hidden>
            <h2 class="give-details" hidden><b>Give details about your selection</b></h2>
          </form>
        </div>
      </div>

      <div class="la-partner" hidden>
        <button class="style-less-button style-less-button--accordion la-section-toggle">
          <h2>
            <i class="fal fa-minus-circle"></i> <b>Partner living arrangements</b>
          </h2>
        </button>
        <div class="la-section">
          <%- include(forms+"yes_no", {
            customClass: "partner-different-address",
            label: "Does your partner live at a different address?"
          }) %>

          <%- include(forms+"yes_no", {
            modifiers: ["hidden"],
            label: "Does you partner live separately due to age or ill health?",
            customClass: "age-ill-health"
          }) %>

          <%- include(forms+"date", {
            label: "From what date?",
            modifiers: ["hidden"],
            customClass: "from-what-date"
          }) %>

          <%- include(forms+"yes_no", {
            modifiers: ["hidden"],
            label: "Will this arrangement continue permanently?",
            customClass: "temp-or-perm"
          }) %>

          <%- include(forms+"date", {
            label: "When do you expect your partner to return?",
            modifiers: ["hidden"],
            customClass: "when-expect-return"
          }) %>

        </div>
      </div>

      <p id="save-next" hidden>Choose <b>save and next</b> to continue.</p>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim/service_pension/sp-residency'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href='/auth/claim/service_pension/sp-claim-contact'">Save and next</button>
        </div>
      </div>

      <form class="la-form-original" style="display: none;">
        <h2 class="give-details" style="display: none;"><b>Give details about your selection</b></h2>

        <%- include(forms+"date", {
          label: "On what date did you move in to this accomodation?",
          modifiers: ["hidden"],
          customClass: "when-move-in"
        }) %>

        <%- include(forms+"prepop/address", {
          label: "Address",
          customClass: "address",
          modifiers: ["hidden"]
        }) %>

        <div class="freelife--fields" hidden>
          <%- include(forms+"yes_no", {
            label: "Did you pay a sum of money or transfer any assets to another person or organisation in return for this accommodation for life?",
            customClass: "freelife--pay-sum-q",
          }) %>

          <div class="freelife--paid-sum" hidden>
            <%- include(forms+"text", {
              label: "Name of person of organization",
              modifiers: ["inputFullLength"]
            }) %>

            <%- include(forms+"date", {
              label: "Date paid or transferred"
            }) %>

            <%- include(forms+"text", {
              label: "Amount paid or market value of assets transferred",
              modifiers: ["inputShort", "dollarSign"],
              placeholder: "0.00"
            }) %>

            <%- include(forms+"textarea", {
              label: "Assets transferred",
              hint: " (If any)",
              rows: 2
            }) %>
          </div>
        </div>

        <div class="retirementvillage--fields" hidden>
          <div class="text-and-select form-group">
            <%- include(forms+"text", {
              customClass: "text-and-select__text",
              modifiers: ["dollarSign"],
              label: "How much do you pay ongoing for your accommodation?",
              placeholder: "0.00"
            }) %>

            <%- include(forms+"dropdown", {
              customClass: "text-and-select__select",
              modifiers: ["inputShort"],
              label: "Per",
              options: [
                "-- Select frequency --",
                "Weekly",
                "Fortnightly",
                "Monthly",
                "Annually"
              ]
            }) %>
          </div>

          <%- include(forms+"date", {
            label: "Date you started paying?"
          }) %>

          <%- include(forms+"yes_no", {
            label: "Does this include meals?"
          }) %>

          <%- include(forms+"yes_no", {
            label: "Did you pay an entry contribution?",
            customClass: "retirementvillage--entry-contribution-q"
          }) %>

          <%- include(forms+"text", {
            customClass: "retirementvillage--entry-contribution",
            label: "How much was the entry contribution?",
            modifiers: ["dollarSign", "inputShort", "hidden"],
            placeholder: "0.00"
          }) %>

          <%- include(forms+"notice", {
            message: "You will need to attach a copy of the entry agreement in the documents section"
          }) %>
        </div>

        <div class="agedcare--fields" hidden>
          <%- include(forms+"text", {
            label: "What is the name of the nursing home or hostel?",
            modifiers: ["inputFullLength"]
          }) %>

          <%- include(forms+"yes_no", {
            label: "Did you pay an accommodation bond or charge?",
            customClass: "agedcare--accommodation-bond-charge-q"
          }) %>

          <%- include(forms+"text", {
            label: "How much did you pay?",
            modifiers: ["hidden", "dollarSign", "inputShort"],
            placeholder: "0.00",
            customClass: "agedcare--accommodation-bond-charge"
          }) %>

          <div class="text-and-select form-group">
            <%- include(forms+"text", {
              customClass: "text-and-select__text",
              modifiers: ["dollarSign"],
              label: "How much do you pay ongoing for your accommodation?",
              placeholder: "0.00"
            }) %>

            <%- include(forms+"dropdown", {
              customClass: "text-and-select__select",
              modifiers: ["inputShort"],
              label: "Per",
              options: [
                "-- Select frequency --",
                "Weekly",
                "Fortnightly",
                "Monthly",
                "Annually"
              ]
            }) %>
          </div>

          <%- include(forms+"date", {
            label: "Date you started paying?"
          }) %>
        </div>

        <%- include(forms+"textarea", {
          rows: 2,
          label: "Give details",
          customClass: "other--arrangements",
          modifiers: ["hidden"]
        }) %>

        <div class="rental--how-much text-and-select form-group" hidden>
          <%- include(forms+"text", {
            customClass: "text-and-select__text",
            modifiers: ["dollarSign"],
            label: "How much do you pay?",
            placeholder: "0.00"
          }) %>

          <%- include(forms+"dropdown", {
            customClass: "text-and-select__select",
            modifiers: ["inputShort"],
            label: "Per",
            options: [
              "-- Select frequency --",
              "Weekly",
              "Fortnightly",
              "Monthly",
              "Annually"
            ]
          }) %>
        </div>

        <div class="privateboard--how-much" hidden>
          <div class="text-and-select form-group">
            <%- include(forms+"text", {
              customClass: "text-and-select__text",
              modifiers: ["dollarSign"],
              label: "Amount paid for meals:",
              placeholder: "0.00"
            }) %>

            <%- include(forms+"dropdown", {
              customClass: "text-and-select__select",
              modifiers: ["inputShort"],
              label: "Per",
              options: [
                "-- Select frequency --",
                "Weekly",
                "Fortnightly",
                "Monthly",
                "Annually"
              ]
            }) %>
          </div>

          <div class="text-and-select form-group">
            <%- include(forms+"text", {
              customClass: "text-and-select__text",
              modifiers: ["dollarSign"],
              label: "Amount paid for lodging:",
              placeholder: "0.00"
            }) %>

            <%- include(forms+"dropdown", {
              customClass: "text-and-select__select",
              modifiers: ["inputShort"],
              label: "Per",
              options: [
                "-- Select frequency --",
                "Weekly",
                "Fortnightly",
                "Monthly",
                "Annually"
              ]
            }) %>
          </div>
        </div>

        <%- include(forms+"dropdown", {
          customClass: "sitefees--type-payment",
          label: "Type of payment",
          modifiers: ["hidden"],
          options: [
            "-- Select payment type --",
            "Caravan park site fees",
            "Relocatable home site fees",
            "Mooring fees"
          ]
        }) %>

        <%- include(forms+"notice", {
          message: `<p>You will need to attach a copy of your latest lease or tenancy agreement in the documents section.</p>
                    <p>If you don’t have one, you may attach a copy of the latest rent receipt. Make sure the name and address of the person to whom you pay is written on the receipt.</p>`,
          customClass: "rental-info-box"
        }) %>
      </form>
    </div>

  </main>
  <%- include(partials+"components/layout/footer") %>
  <script>
    
    var partnerDiv;

    $(document).ready(function() {
      $(".la-section").find(".la-form").replaceWith($(".la-form-original").clone(true).attr("class", "la-form"));

      partnerDiv = $(".la-partner .la-section").clone(true).html()

      if (sessionStorage.getItem("partnerApply") === "true") $(".la-partner").show();
    })

    $("body").on("click", ".la-section-toggle", function() {
      $(this).find(".fal").toggleClass("fa-plus-circle");
      $(this).find(".fal").toggleClass("fa-minus-circle");
      $(this).parent().find(".la-section").toggle("fast");
    })

    $("body").on("submit", ".la-form", function(e) {
      e.preventDefault();
    })

    $("body").on("change", ".living-arragements input", function() {
      $(this).closest(".la-section").find(".ownhome-info").hide();
      $(this).closest(".la-section").find(".rental-options").hide();
      $(this).closest(".la-section").find(".la-form").hide();
      $(this).closest(".la-section").find(".rental-options .uiToolKitCheckBox").hide();
      $("#save-next").hide();

      switch ($(this).closest(".living-arragements").find(":checked").val()) {
        case "ownhome":
          $(this).closest(".la-section").find(".ownhome-info").show();
          break;
        case "rental":
          $(this).closest(".la-section").find(".rental-options .rental-accom").show();
          $(this).closest(".la-section").find(".rental-options").show();
          break;
        case "retirement":
          $(this).closest(".la-section").find(".rental-options .retirement-care").show();
          $(this).closest(".la-section").find(".rental-options").show();
          break;
        case "other":
          $(this).closest(".la-section").find(".rental-options .other-arrangements").show();
          $(this).closest(".la-section").find(".rental-options").show();
          break;
      }
    })

    $("body").on("change", ".rental-options input", function() {
      $(this).closest(".la-section").find(".la-form").replaceWith($(".la-form-original").clone(true).attr("class", "la-form"));

      switch ($(this).closest(".la-section").find(".rental-options :checked").val()) {
        case "free":
          $(this).closest(".la-section").find(".when-move-in").show();
          $(this).closest(".la-section").find(".address").show();
          break;
        case "freelife":
          $(this).closest(".la-section").find(".freelife--fields").show();
          break;
        case "hospital":
          $(this).closest(".la-section").find(".when-move-in").show();
          break;
        case "retirementvillage":
          $(this).closest(".la-section").find(".when-move-in").show();
          $(this).closest(".la-section").find(".retirementvillage--fields").show();
          break;
        case "agedcare":
          $(this).closest(".la-section").find(".agedcare--fields").show();
          break;
        case "rental":
        case "public":
          $(this).closest(".la-section").find(".rental-info-box").show();
          $(this).closest(".la-section").find(".rental--how-much").show();
          break;
        case "site-fees":
          $(this).closest(".la-section").find(".rental-info-box").show();
          $(this).closest(".la-section").find(".rental--how-much").show();
          $(this).closest(".la-section").find(".sitefees--type-payment").show();
          break;
        case "privateboard":
          $(this).closest(".la-section").find(".privateboard--how-much").show();
          $(this).closest(".la-section").find(".rental-info-box").show();
          break;
        case "other":
          $(this).closest(".la-section").find(".other--arrangements").show();
          break;
      }
      
      $(this).closest(".la-section").find(".la-form").show();

      if ($(this).closest(".la-section").find(".rental-options :checked").val() !== "other") {  
        $(this).closest(".la-section").find(".give-details").show();
      }

    })

    $("body").on("change", ".freelife--pay-sum-q input", function() {
      if ($(".freelife--pay-sum-q :checked").val() === "yes") {
        $(this).closest(".freelife--fields").find(".freelife--paid-sum").show();
      } else {
        $(this).closest(".freelife--fields").find(".freelife--paid-sum").hide();
      }
    })

    $("body").on("change", ".retirementvillage--entry-contribution-q input", function() {
      if ($(".retirementvillage--entry-contribution-q :checked").val() === "yes") {
        $(this).closest(".retirementvillage--fields").find(".retirementvillage--entry-contribution").show();
      } else {
        $(this).closest(".retirementvillage--fields").find(".retirementvillage--entry-contribution").hide();
      }
    })

    $("body").on("change", ".agedcare--accommodation-bond-charge-q input", function() {
      if ($(".agedcare--accommodation-bond-charge-q :checked").val() === "yes") {
        $(this).closest(".agedcare--fields").find(".agedcare--accommodation-bond-charge").show();
      } else {
        $(this).closest(".agedcare--fields").find(".agedcare--accommodation-bond-charge").hide();
      }
    })

    function restoreVals() {

      vals = [];
      vals.push($(".la-partner").find(".partner-different-address").clone(true));
      vals.push($(".la-partner").find(".age-ill-health").clone(true));
      vals.push($(".la-partner").find(".from-what-date").clone(true));
      vals.push($(".la-partner").find(".temp-or-perm").clone(true));
      vals.push($(".la-partner").find(".when-expect-return").clone(true));

      return vals;
    }

    $(".la-partner").on("change", ".partner-different-address input", function() {
      if ($(".partner-different-address :checked").val() === "yes") {
        var preVals = restoreVals();
        $(".la-partner .la-section").replaceWith($(".la-single .la-section").clone(true));
        $(".la-partner .la-section").prepend(preVals);
        $(".partner-different-address input").first().prop("checked", true);
        $(".age-ill-health").show();

        $(".la-single").find(".style-less-button .fal").addClass("fa-plus-circle");
        $(".la-single").find(".style-less-button .fal").removeClass("fa-minus-circle");
        $(".la-single").find(".la-section").hide();
        $(`#${$(".partner-different-address").attr("id").replace("container", "")}1`).prop("checked", true);
        $(".la-partner .la-section").find("div, input").each(function() {
          if (typeof $(this).attr("id") !== "undefined") {
            $(this).attr("id", `${$(this).attr("id")}-partner`)
          }
        })
        $(".la-partner .la-section").find("label").each(function() {
          if (typeof $(this).attr("for") !== "undefined") {
            $(this).attr("for", `${$(this).attr("for")}-partner`)
          }
        })
        $(".la-partner .la-section").find(".living-arragements .uikit-text-input__label").text("Which of the following best describes where your partner lives?");
        $(".la-partner .ownhome-info").hide();
        $(".la-partner .rental-options").hide();
        $(".la-partner .la-form").replaceWith($(".la-form-original").clone(true).attr("class", "la-form"));

        $(".la-partner .la-section").show();
      } else {
        $(".la-partner .la-section").html(restoreVals());
      }
    });

    $(".la-partner").on("change", ".age-ill-health input", function() {
      if ($(".age-ill-health :checked").val() === "yes") {
        $(".from-what-date").show();
        $(".temp-or-perm").show();
      } else {
        $(".from-what-date").hide();
        $(".when-expect-return").hide();
        $(".temp-or-perm").hide();
      }
    });

    $(".la-partner").on("change", ".temp-or-perm input", function() {
      if ($(".temp-or-perm :checked").val() === "no") {
        $(".when-expect-return").show()
      } else {
        $(".when-expect-return").hide()
      }
    });

  </script>

  <%- include("sp-la-state-switcher") %>
</body>

</html>
