<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Partner | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor"></body>
<noscript>
  <p role="alert">This website needs JavaScript to work properly.</p>
</noscript>
<nav class="uikit-skip-link">
  <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
</nav>
<%- include(partials+"components/layout/header-topbar") %>
<%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <!-- Progress bar -->
        <div class="col-md-12">
          <nav>
            <ul class="progress-container">
              <!-- <li class="progress-step progress-step--active">
                <a href="/auth/claim/sp-my-details">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">My details</p>
                </a>
              </li> -->
              <li class="progress-step">
                <a href="/auth/claim/sp-partner">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Partner</p>
                </a>
              </li>
              <li class="progress-step ongoing-only employed">
                <a href="/auth/claim/sp-dependant">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Dependent children</p>
                </a>
              </li>
              <li class="progress-step ongoing-only">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Residency</p>
              </li>
              <li class="progress-step">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Living arrangements</p>
              </li>
              <li class="progress-step ongoing-only">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Claim representative</p>
              </li>
              <li class="progress-step progress-step--last">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Payment details</p>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">My details</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="margin-above--extra margin-below--extra">
            <!-- Page content -->


            <!-- <div class="form-group margin-above--large">
              <label class="uikit-text-input__label" for="radio-buttons">What is your preferred contact method?</label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op1">
                  <input class="uikit-control-input__input" type="radio" name="radio-contact">
                  <span class="uikit-control-input__text">Email</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op2">
                  <input class="uikit-control-input__input" type="radio" name="radio-contact">
                  <span class="uikit-control-input__text">Postal mail</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op3">
                  <input class="uikit-control-input__input" type="radio" name="radio-contact">
                  <span class="uikit-control-input__text">Phone</span>
                </label>
              </p>
            </div> -->

            <div class="form-group">
              <label class="uikit-text-input__label" for="sop">Do you have any of the following benefits?<span class="hint">(optional)</span>
                <span class="hint display-block">Select all that apply.</span>
              </label>
              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" id="op1-cl" name="checkbox">
                  <span class="uikit-control-input__text">Commonwealth Seniors Health Card</span>
                </label>
              </div>
              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" id="op2-cl" name="checkbox">
                  <span class="uikit-control-input__text">Receiving or applied for a Centrelink payment</span>
                </label>
              </div>
            </div>


            <!-- CRN text box -->
            <div class="form-group margin-above" id="crn">
              <label class="uikit-text-input__label" for="tags">What is the your Customer Reference Number (CRN)?</label>
              <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 22em;">
            </div>

            <div class="form-group" id="sp-partner-applying">
              <label class="uikit-text-input__label" for="sop">Does your partner currently hold a Commonwealth Seniors Health Card from Centrelink?<span class="hint">(optional)</span>
                <span class="hint display-block">Select all that apply.</span>
              </label>
              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" id="op1-cl-partner" name="checkbox">
                  <span class="uikit-control-input__text">Commonwealth Seniors Health Card</span>
                </label>
              </div>
              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" id="op2-cl-partner" name="checkbox">
                  <span class="uikit-control-input__text">Receiving or applied for a Centrelink payment</span>
                </label>
              </div>
            </div>

            <!--Partner CRN text box -->
            <div class="form-group margin-above" id="crn-partner">
              <label class="uikit-text-input__label" for="tags">What is your partners Customer Reference Number (CRN)?</label>
              <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 22em;">
            </div>
          </div>
        </div> <!-- col-md-12 end -->
        <!-- bottom page navigation -->
        <div class="pagination">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim/sp-progress-b'">Previous</button>
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
          <div class="floated">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim/sp-start'">Save and exit</button>
            <button class="uikit-btn btnNext" onclick="window.location.href='/auth/claim/sp-partner'">Save and next</button>
          </div>
        </div><!-- bottom page navigation end -->
        <%- include(partials+"content/modals/claims-cancel-modal") %>
      </div> <!-- row end -->
    </div> <!-- container end -->
  </main>
  <%- include(partials+"components/layout/footer") %>
    <script>
      $(Document).ready(function () {

        $("#crn").hide();
        $("#crn-partner").hide();
        $("#sp-partner-applying").hide();
        var partnerStatus;
        // Show and hide needs list

        $("#op1-cl").change(function () {
          if (this.checked != true) {
            $("#crn").hide();
          }
          else {
            $("#crn").show("fast");
          }
        });

        $("#op2-cl").change(function () {
          if (this.checked != true) {
            $("#crn").hide();
          }
          else {
            $("#crn").show("fast");
          }
        });

        //partner select items
        $("#op1-cl-partner").change(function () {
          if (this.checked != true) {
            $("#crn-partner").hide();
          }
          else {
            $("#crn-partner").show("fast");
          }
        });

        $("#op2-cl-partner").change(function () {
          if (this.checked != true) {
            $("#crn-partner").hide();
          }
          else {
            $("#crn-partner").show("fast");
          }
        });

        //end partner select items

        $("#op1").click(function () {
          partnerStatus = "none";
          $("#sp-partner-applying").hide();
        });

        $("#op1").click(function () {
          partnerStatus = "partnered";
          //$("#sp-partner-applying").show("fast");
        });
        $("#op2").click(function () {
          partnerStatus = "partnered";
          //$("#sp-partner-applying").show("fast");
        });
        $("#op3").click(function () {
          partnerStatus = "partnered";
          //$("#sp-partner-applying").show("fast");
        });

        var partner = false;
        $(document).keypress(function (e) {
          switch (e.which) {
            case 49:
              partner = false;
              $("#crn-partner").hide();
              $("#sp-partner-applying").hide();
              break;
            case 50:
              if (partnerStatus == "partnered") {
                partner = true;
                $("#sp-partner-applying").show("fast");
              }
              break;
            default:
          }
        });

        // Show and hide centrelink list
        $("#centrelink-payments-yes").click(function () {
          $("#partners-home-address").show("fast");
          console.log("gdfgdfg")
        });
        $("#centrelink-payments-no").click(function () {
          $("#partners-home-address").hide("fast");
          console.log("gdfgsdsdsdsdsdg")
        });

      });

    </script>
    </body>

</html>
