<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Incapacity Payments | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
<div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
    <div class="container margin-above--none">
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Claim for Service Pension</span>
      </h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
        <div class="margin-above--extra margin-below--extra">

          <div class="margin-above--large margin-below--extra">
            <div id="progressbar">
              <div id="percentage">
                <p id="percentage_value">60% complete</p>
              </div>
            </div>
            <p style="padding-top:0.4em;">60% complete</p>
            <p class="claim-progress-category__heading"><strong>Next we need to collect details about your income and assets.</strong></p>
          </div>

          <div class="claim-progress-category">

            <!-- Part A -->
            <div class="claim-progress-category__item claim-progress-category--done">
              <a class="claim-progress-category__link claim-progress-category__link--active" href="/auth/claim/service_pension/sp-start">
                <div class="claim-progress-category__wrapper">
                  <div class="claim-progress-category__status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--success">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Success</div>
                    </div>
                  </div>

                  <div class="claim-progress-category__label">
                    <h2 class="claim-progress-category__heading">Part A - About your claim</h2>
                    <p class="claim-progress-category__description">Tell us about your claim.</p>
                  </div>
                </div>
              </a>
            </div>

            <!-- Part B -->
            <div class="claim-progress-category__item claim-progress-category--done">
              <a id="part-b" class="claim-progress-category__link claim-progress-category__link--success" href="/auth/claim/service_pension/sp-my-details">
                <div class="claim-progress-category__wrapper">
                  <div class="claim-progress-category__status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--success">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Success</div>
                    </div>
                  </div>
                  <div class="claim-progress-category__label">
                    <h2 class="claim-progress-category__heading">Part B - Claim details</h2>
                    <p class="claim-progress-category__description">Tell us more about your circumstances.</p>
                  </div>
                </div>
              </a>
            </div>

            <!-- Part C -->
            <div class="claim-progress-category__item claim-progress-category--active">
              <a id="part-c" class="claim-progress-category__link claim-progress-category__link--success" href="/auth/claim/service_pension/sp-c0">
                <div class="claim-progress-category__wrapper">
                  <div class="claim-progress-category__status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--active">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">active</div>
                    </div>
                  </div>
                  <div class="claim-progress-category__label">
                    <h2 class="claim-progress-category__heading">Part C - Income &amp; assets</h2>
                    <p class="claim-progress-category__description">Tell us about your income and assets.</p>
                  </div>
                </div>
              </a>
            </div>

            <!-- Part D -->
            <div class="claim-progress-category__item claim-progress-category--disabled">
              <div class="claim-progress-category__wrapper">
                <div class="claim-progress-category__status">
                  <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                    <div class="mys-file-uploads__status-icon"></div>
                    <div class="mys-file-uploads__status-sr">Not yet available</div>
                  </div>
                </div>
                <div class="claim-progress-category__label">
                  <h2 class="claim-progress-category__heading">Part D - Required documents</h2>
                  <p class="claim-progress-category__description">Upload supporting documents for your claim.</p>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="pagination pagination--ss-reverse-order">
          <!-- <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/service_pension/incap-start'">Previous</button> -->
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim?user=INCAPuser-incomplete'">Save and exit</button>

          <div class="floated">
            <button class="uikit-btn btnNext" id="btnNext" disabled>Review and submit</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <%- include(partials+"claims-cancel-modal") %>

  </main>

  <%- include(partials+"footer") %>


  <script>
    $(Document).ready(function () {
      localStorage.clear();
      $("#btnNext").click(function () {
        window.location.href = "/auth/claim/service_pension/incap-review"
      });

      // Progress percentage
      document.getElementById("percentage").style.width = "60%";
      document.getElementById("percentage_value").textContent = "60%";
    });
  </script>

</body>

</html>