<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Payment details | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <!-- Progress bar -->
        <div class="col-md-12">
          <nav>
            <ul class="progress-container">
              <!-- <li class="progress-step progress-step--done">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">My details</p>
                </li> -->
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-partner">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Relationship status</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-dependant">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Dependent children</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-residency">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Residency</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-la">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Living arrangements</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-claim-contact">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Claim representative</p>
                </a>
              </li>
              <li class="progress-step progress-step--active progress-step--last">
                <a href="/auth/claim/service_pension/sp-payment-details">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Payment details</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="margin-above--extra margin-below--extra">
            <!-- Page content -->
            <h2 id="intro-copy-no-partner" class="margin-below">Provide payment details</h2>
            <h2 class="margin-above--large margin-below" id="sp-payment-veteranTitle"><span class="font-weight-heavy">Your payment details</span></h2>
            <!-- <p class="margin-above--large">Provide your bank details. If your claim is approved your pension will go into this account.</p> -->
            <div class="uikit-page-alerts" role="alert">
              <p>This will be your nominated bank account for all DVA payments</p>
            </div>
            <!--  <h3 class="margin-above--large">Your account</h3> -->
            <div class="bank-details-container">
              <%- include(partials+"bank-account-details") %>
            </div>
            <!-- <h3 class="margin-above">Your tax file number</h3> -->
            <fieldset>
              <legend class="legend-label">Do you have a tax file number</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="tfn-yes">
                  <input id="tfn-yes" type="radio" name="tfn">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="tfn-no">
                  <input id="tfn-no" type="radio" name="tfn">
                  <span>No</span>
                </label>
              </div>
            </fieldset>
            <div class="form-group margin-above--large" id="bank-tfn">
              <label class="uikit-text-input__label" for="Input field">Tax file number</label>
              <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </div>
            <div class="uikit-page-alerts margin-above--large" role="alert" id="tfn-tax">
              <p>You need to apply for a tax file number from the <a href="https://www.ato.gov.au/"> Australian Taxation Office</a> to avoid their payment being taxed at a higher
                rate.</p>
            </div>
            <!-- Partner -->
            <div id="sp-payment-partnerDetails">
              <div id="partner-visa">
                <h2 class="margin-above--large margin-below"><span class="font-weight-heavy">Partner payment details</span></h2>
                <fieldset>
                  <legend class="legend-label">Would your partner like to use the same account details</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="partner-account-yes">
                      <input id="partner-account-yes" type="radio" name="partner-account">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="partner-account-no">
                      <input id="partner-account-no" type="radio" name="partner-account">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
                <div class="uikit-page-alerts margin-above--large" role="alert" id="partner-payment-explainer" style="display: none;">
                  Your partner will be able to nominate their account details at a later stage in the application process.
                </div>
                <div id="partner-account-details">
                  <fieldset>
                    <legend class="legend-label">Does your partner have a tax file number?</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="partner-tfn-yes">
                        <input id="partner-tfn-yes" type="radio" name="partner-tfn">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="partner-tfn-no">
                        <input id="partner-tfn-no" type="radio" name="partner-tfn">
                        <span>No</span>
                      </label>
                    </div>
                  </fieldset>
                  <div class="form-group margin-above--large" id="partner-tfn">
                    <label class="uikit-text-input__label" for="Input field">Tax file number</label>
                    <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                  </div>
                </div>
                <div class="uikit-page-alerts margin-above--large" role="alert" id="partner-tfn-tax">
                  <p>Your partner will need to apply for a tax file number from the <a href="https://www.ato.gov.au/"> Australian Taxation Office</a> to avoid payment being taxed
                    at a higher rate</p>
                </div>
              </div>
              <div id="save-and-next" class="margin-above--large" style="display: none;">
                <p>Choose <b>save and next</b> to continue.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- bottom page navigation -->
        <div class="row">
          <div class="col-md-12">
            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/service_pension/sp-claim-contact'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
                <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/service_pension/sp-progress-c'">Save and next</button>
              </div>
            </div>
          </div>
        </div>
        <%- include(partials+"content/modals/claims-cancel-modal") %>
      </div> <!-- row end -->
    </div> <!-- container end -->
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>
<script>
  $(Document).ready(function () {

    hideAll();

    $(document).keypress(function (e) {
      switch (e.which) {
        case 49:
          hidePartner();
          break;
        case 50:
          showPartner();
          break;
        default:
      }
    });

    if (sessionStorage.getItem('partnerApply') == 'true') {
      showPartner();
    } else {
      hidePartner();
    };

    function showPartner() {
      // sessionStorage.setItem('partnerApply', 'true')
      $("#sp-payment-veteranTitle").show();
      $("#sp-payment-partnerDetails").show();
      $("#intro-copy-no-partner").hide();
    }

    function hidePartner() {
      // sessionStorage.setItem('partnerApply', 'false')
      $("#sp-payment-veteranTitle").hide();
      $("#sp-payment-partnerDetails").hide();
      $("#intro-copy-no-partner").show();
    }

    function hideAll() {
      if (sessionStorage.getItem('partnerApply') != 'true') {
        $("#sp-partner-veteranTitle").hide();
        // $("#sp-partner-partnerDetails").hide();
      };
      $("#partner-tfn-tax").hide();
      $("#tfn-tax").hide();
      $("#partner-tfn").hide();
      $("#bank-tfn").hide();
      $("#partner-account-details").hide();
    }

    $("#tfn-yes").click(function () {
      $("#tfn-tax").hide("fast");
      $("#bank-tfn").show("fast");
    });

    $("#tfn-no").click(function () {
      $("#tfn-tax").show("fast");
      $("#bank-tfn").hide("fast");
    });

    $("#partner-tfn-yes").click(function () {
      $("#partner-tfn").show("fast");
      $("#partner-tfn-tax").hide("fast");
    });

    $("#partner-tfn-no").click(function () {
      $("#partner-tfn").hide("fast");
      $("#partner-tfn-tax").show("fast");
    });

    $("#partner-account-yes").click(function () {
      $("#partner-payment-explainer").hide("fast");
      $("#save-and-next").show("fast");
    });

    $("#partner-account-no").click(function () {
      $("#partner-payment-explainer").show("fast");
      $("#save-and-next").show("fast");
    });
  });
</script>

</html>