<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Partner | MyService</title>
  <%- include(partials+"components/layout/head") %>
  <style type="text/css">
    div.table {
      border: 0;
      display: table;
    }

    div.tr {
      border: 0;
      display: table-row;
    }

    div.td {
      border: 0;
      display: table-cell;
      padding-right: 15px;
    }

    hr {
      margin: 0;
    }

    .ledger-rule {
      margin: 15px 0 15px 0;
      background-color: #ddd;
      height: 1px;
    }

  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor"></body>
<noscript>
  <p role="alert">This website needs JavaScript to work properly.</p>
</noscript>
<nav class="uikit-skip-link">
  <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
</nav>
<%- include(partials+"components/layout/header-topbar") %>
<%- include(partials+"components/layout/header-nom-rep") %>
<main>
  <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
    <div class="container margin-above--none">
      <!-- Progress bar -->
      <div class="col-md-12">
        <nav>
          <ul class="progress-container">
            <li class="progress-step progress-step--active">
              <a href="/auth/claim/service_pension/sp-partner">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Relationship status</p>
              </a>
            </li>
            <li class="progress-step">
              <a href="/auth/claim/service_pension/sp-dependant">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Dependent children</p>
              </a>
            </li>
            <li class="progress-step">
              <a href="/auth/claim/service_pension/sp-residency">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Residency</p>
              </a>
            </li>
            <li class="progress-step">
              <a href="/auth/claim/service_pension/sp-la">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Living arrangements</p>
              </a>
            </li>
            <li class="progress-step">
              <a href="/auth/claim/service_pension/sp-claim-contact">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Claim Representative</p>
              </a>
            </li>
            <li class="progress-step progress-step--last">
              <a href="/auth/claim/service_pension/sp-payment-details">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Payment details</p>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Page heading -->
    <h1 class="margin-above--none ss-align--center">
      <span class="heading">Relationship status</span>
    </h1>
  </div> <!-- container end -->
  <div class="container" id="cleanskin">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="margin-above--extra margin-below--extra">
          <form id="myForm">
            <input type="reset" style="display: none;">
            <!-- Relationship status -->
            <% 
          locals.el = {};
          locals.el.question = 'What is your CURRENT relationship status?';
          locals.el.optionalID = 'relationship-status';
          locals.el.items = ["Single","Married","De-facto","Separated (while still legally married)","Divorced","Widowed"];
          locals.el.optionalItemID = ["single","married","defacto","separated","divorced","widowed"];
        %>
            <%- include(partials+"components/form-elements/radio", locals) %>
            <!-- Married -->

        <%- include(forms+"date", {
          label: "Date of marriage",
          id: "date-marriage"
        }) %>

            <!-- Defacto -->
        
        <%- include(forms+"date", {
          label: "Date commenced living together",
          id: "date-living-together"
        }) %>

            <!-- Seperated -->

        <%- include(forms+"date", {
          label: "Date separated",
          id: "date-separation"
        }) %>

            <% 
          locals.el = {};
          locals.el.message = "<p>You will need to provide the following form:</p><p><a href='https://www.dva.gov.au/sites/default/files/dvaforms/D0513.pdf' target='blank'><span class='external-link'>Separation from partner (D0513)</a></span></p><p>You can attach the completed form at the end of your claim.</p>"
          locals.el.optionalID = 'notice-separation';
          locals.el.optionalHide = true;
        %>
            <%- include(partials+"components/form-elements/notice", locals) %>
            <!-- Date divorced -->
        
        <%- include(forms+"date", {
          label: "Date of divorce",
          id: "date-divorced"
        }) %>

            <!-- Partner details -->
            <div class="form-group" id="partner-details">
              <h2 class="margin-above margin-below"><span class="font-weight-heavy">Partner details</span></h2>

              <!-- Title -->
              <%#- include(partials+"components/form-elements/title-list") %>

              <%- include(partials+"components/form-partials/prepop/titlelist-dropdown", {
                label: "Partner title"
              }); %>
              <!-- Given name -->
              <%
locals.el = {};
locals.el.question = "Given name";
locals.el.optionalHint = '(first name)';
%>
              <%- include(partials+"components/form-elements/field", locals) %>
              <!-- Surname name -->
              <%
locals.el = {};
locals.el.question = "Surname";
locals.el.optionalHint = '(last name)';
%>
              <%- include(partials+"components/form-elements/field", locals) %>

              <!-- Former names -->
              <%- include(forms+"yes_no", {
                label: "Has your partner ever been known by any other names?",
                hint: "For example, name at birth, maiden name, previous married name.",
                yes_toggle: "#previous-names-container"
              }) %>

              <%- include(forms+"previous-names", {
                modifiers: ["hidden"],
                id: "previous-names"
              }) %>

              <!-- Partner DOB -->

              <%- include(forms+"date", {
                label: "Partner's date of birth"
              }) %>

              <%
          locals.el = {};
          locals.el.question = "Partner's phone number";
          locals.el.optionalID = 'partner_phone';
        %>
              <%- include(partials+"components/form-elements/field", locals) %>
              <!-- Partner email address -->
              <%
          locals.el = {};
          locals.el.question = "Partner's email address";
          locals.el.optionalID = 'partner_email';
        %>
              <%- include(partials+"components/form-elements/field", locals) %>
              <!-- Partner gender -->
              <%
          locals.el = {};
          locals.el.question = "Partner's gender";
        %>
              <%- include(partials+"components/form-elements/radio--gender", locals) %>
              <!-- Centrelink -->
              <% 
          locals.el = {};
          locals.el.question = 'Has your partner applied for or do they receive any of the following Centrelink payments?'; 
          locals.el.items = ["Age pension","Disability support pension","Carer payment","Newstart allowance","Other"];
          locals.el.optionalHint = 'Select all that apply.'; 
          locals.el.optionalID = "cs_centrelink";            
        %>
              <%- include(partials+"components/form-elements/checkbox", locals) %>
              <!-- CSHC -->
              <%
          locals.el = {};
          locals.el.question = 'Has your partner applied for or do they currently hold a Commonwealth seniors health card (CSHC) from Centrelink?'; 
          locals.el.optionalID = 'cs_cshc'; 
        %>
              <%- include(partials+"components/form-elements/radio--yes-no", locals) %>
              <!-- CRN -->
              <% 
          locals.el = {}
          locals.el.question = "What is your partner's Centrelink reference number (CRN)?"; 
          locals.el.optionalID = 'cs_crn';
          locals.el.optionalShort = true; 
          locals.el.optionalHide = true;
          %>
              <%- include(partials+"components/form-elements/field", locals) %>
              <!-- Visual impairment -->
              <% 
          locals.el = {};
          locals.el.question = 'Is your partner blind or visually impaired?'; 
          locals.el.optionalID = 'visual_impairment'; 
        %>
              <%- include(partials+"components/form-elements/radio--yes-no", locals) %>
            </div>
            <div id="save-and-next" class="margin-above" style="display: none">
              <p>Choose <b>save and next</b> to continue.</p>
            </div>
        </div>
      </div>
    </div><!-- bottom page navigation end -->
    <%- include(partials+"content/modals/claims-cancel-modal") %>
  </div>
  <div class="container" id="partnered-pre-pop" style="display: none;">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="margin-above--extra margin-below--extra">
          <div id="partnered-pre-pop--current-partner" class="form-group">
            <legend class="legend-label">Is this your current partner?</legend>
            <div class="table">
              <div class="tr">
                <div class="td"><b>Partner name</b></div>
                <div class="td">Jan Citizen</div>
              </div>
              <div class="tr">
                <div class="td"><b>Date of birth</b></div>
                <div class="td">12/04/1985</div>
              </div>
            </div>
            <div class="radio-toggle margin-above">
              <label class="on label-left" for="partnered-pre-pop--current-partner--yes">
                <input id="partnered-pre-pop--current-partner--yes" type="radio" name="partnered-pre-pop--current-partner--question">
                <span>Yes</span>
              </label>
              <label class="off label-right" for="partnered-pre-pop--current-partner--no">
                <input id="partnered-pre-pop--current-partner--no" type="radio" name="partnered-pre-pop--current-partner--question">
                <span>No</span>
              </label>
            </div>
          </div>
          <div id="partnered-pre-pop--options" class="margin-above--extra" style="display: none">
            <div class="ledger-rule"></div>
            <div class="">
              <h3>Please review the following details and update if necessary</h3>
            </div>
            <div id="partnered-pre-pop--relationship-status" class="form-group margin-above--large" style="display: block;">
              <label class="uikit-text-input__label" for="drop-down">Relationship status</label>
              <select id="ppp-relationship" class="uikit-text-input input-half" id="drop-down" name="drop-down">
                <option>-- Select one --</option>
                <option>Married</option>
                <option selected="selected">De facto</option>
              </select>
            </div>
            <!-- Date of marriage -->
            <%- include(forms+"date", {
              label: "Date of marriage",
              id: "ppp-married-date",
              modifiers: ["hidden"]
            }) %>

            <!-- Centrelink -->
            <% 
              locals.el = {};
              locals.el.question = 'Has your partner applied for or do they receive any of the following Centrelink payments?'; 
              locals.el.items = ["Age pension","Disability support pension","Carer payment","Newstart allowance","Other"];
              locals.el.optionalHint = 'Select all that apply.'; 
              locals.el.optionalID = "ppp_cs_centrelink";            
            %>
            <%- include(partials+"components/form-elements/checkbox", locals) %>
            <!-- CSHC -->
            <%
              locals.el = {};
              locals.el.question = 'Has your partner applied for or do they currently hold a Commonwealth seniors health card (CSHC) from Centrelink?'; 
              locals.el.optionalID = 'ppp_cs_cshc'; 
            %>
            <%- include(partials+"components/form-elements/radio--yes-no", locals) %>
            <!-- CRN -->
            <% 
              locals.el = {}
              locals.el.question = "What is your partner's Centrelink reference number (CRN)?"; 
              locals.el.optionalID = 'ppp_cs_crn';
              locals.el.optionalShort = true; 
              locals.el.optionalHide = true; 
              %>
            <%- include(partials+"components/form-elements/field", locals) %>
            <!-- Visual impairment -->
            <% 
              locals.el = {};
              locals.el.question = 'Is your partner blind or visually impaired?'; 
              locals.el.optionalID = 'ppp_visual_impairment'; 
            %>
            <%- include(partials+"components/form-elements/radio--yes-no", locals) %>
          </div>

          <div id="partnered-no-longer" class="margin-above--extra" style="display: none">
            <div class="ledger-rule"></div>
              <%- include(forms+"date", {
                label: "Date of marriage",
                id: "date-marriage"
              }) %>
          </div>
        </div>
        <div id="ppp--save-and-next" class="margin-above" style="display: none">
          <p>Choose <b>save and next</b> to continue.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="single-pre-pop" style="display: none;">
    <div class="row">
      <form id="myForm">
        <div class="col-md-offset-2 col-md-8">
          <div class="margin-above--extra margin-below--extra">
            <div id="single-pre-pop--current-status" class="form-group">
              <legend class="legend-label">Is this your CURRENT relationship status?</legend>
              <div class="table">
                <div class="tr">
                  <div class="td"><b>Relationship status</b></div>
                  <div class="td">Divorced</div>
                </div>
              </div>
              <div class="radio-toggle margin-above">
                <label class="on label-left" for="single-pre-pop--current-status--yes">
                  <input id="single-pre-pop--current-status--yes" type="radio" value="yes" name="single-pre-pop--current-status--question">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="single-pre-pop--current-status--no">
                  <input id="single-pre-pop--current-status--no" type="radio" value="no" name="single-pre-pop--current-status--question">
                  <span>No</span>
                </label>
              </div>
            </div>
            <div id="spp--save-and-next" class="margin-above" style="display: none">
              <p>Choose <b>save and next</b> to continue.</p>
            </div>
          </div>
        </div>
      </form>
    </div>
    <%- include(partials+"content/modals/claims-cancel-modal") %>
  </div> <!-- container end -->
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim/service_pension/sp-progress-b'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="checkSaveAndNext()">Save and next</button>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include(partials+"components/layout/footer") %>
<div id="state-switcher">
  <h3>Page info</h3>
  <div class="review__table">
    <div class="tr">
      <div class="td"><b>Page name</b></div>
      <div class="td">Relationship status</div>
    </div>
    <div class="tr">
      <div class="td"><b>Spec revision</b></div>
      <div class="td">---</div>
    </div>
  </div><BR />
  <h3>User info</h3>
  <% 
              locals.el = new Object();
              locals.el.question = 'Relationship status';
              locals.el.items = ["Known partner","Known single","Status unknown"];
              locals.el.optionalItemID = ["partnered-pre-pop","single-pre-pop","cleanskin"];
            %>
  <%- include(partials+"components/form-elements/radio", locals) %>
  <% 
              locals.el = new Object();
              locals.el.question = 'Selected in claim flow:';
              locals.el.optionalID = 'state-switcher--user-properties';
              locals.el.items = ["Dual application","Veteran blind","Partner blind"];
              locals.el.optionalItemID = ["dual_application","veteran_blind","partner_blind"];
            %>
  <%- include(partials+"components/form-elements/checkbox", locals) %>
</div>
<script>
  $(Document).ready(function () {

    /* State switcher */

    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $('input[name=relationship_status]').change(function () {
      mySelection = $('input[name=relationship_status]:checked').val();
      switch (mySelection) {
        case "partnered-pre-pop":
          showScenario("partnered-pre-pop");
          break;
        case "single-pre-pop":
          showScenario("single-pre-pop");
          break;
        case "cleanskin":
          showScenario("cleanskin");
          break;
        default:
      }
    });

    var myDualApplication = sessionStorage.getItem('dual-application');
    if (myDualApplication == "true") {
      $('input[name=dual_application]').prop('checked', true);
    };
    upDateDual();

    function upDateDual() {
      console.log(sessionStorage.getItem('dual-application'))
      if (sessionStorage.getItem('dual-application') == "true") {
        $("#single").parent().hide();
        $("#separated").parent().hide();
        $("#divorced").parent().hide();
        $("#widowed").parent().hide();
      } else {
        $("#single").parent().show();
        $("#separated").parent().show();
        $("#divorced").parent().show();
        $("#widowed").parent().show();
      }
    }

    $('input[name=dual_application]').change(function () {
      mySelection = $('input[name=dual_application]').is(':checked');
      if (mySelection) {
        sessionStorage.setItem('dual-application', true);
      } else {
        sessionStorage.setItem('dual-application', false);
      }
      upDateDual();
      location.reload();
    });

    var vetBlind = sessionStorage.getItem('veteran-blind');
    if (vetBlind == "true") {
      $('input[name=veteran_blind]').prop('checked', true);
    };
    $('input[name=veteran_blind]').change(function () {
      mySelection = $('input[name=veteran_blind]').is(':checked');
      if (mySelection) {
        sessionStorage.setItem('veteran-blind', true);
      } else {
        sessionStorage.setItem('veteran-blind', false);
      }
    });

    var partnerBlind = sessionStorage.getItem('partner-blind');
    if (partnerBlind == "true") {
      $('input[name=partner_blind]').prop('checked', true);
    };
    $('input[name=partner_blind]').change(function () {
      mySelection = $('input[name=partner_blind]').is(':checked');
      if (mySelection) {
        sessionStorage.setItem('partner-blind', true);
      } else {
        sessionStorage.setItem('partner-blind', false);
      }
    });

    /* End state switcher */

    $("#myForm").trigger("reset");
    hideAll();

    window.checkSaveAndNext = function () {
      myNav = "/auth/claim/service_pension/sp-dependant";
      radioTest = $("#myForm input[type='radio']:checked").val();
      if ($("#myForm input[type='radio']:checked").val() == "no") {
        myNav = "cleanskin";
      }
      if ($("#partnered-no-longer").is(":visible")) {
        myNav = "cleanskin";
      }
      if (myNav == "cleanskin") {
        showScenario("cleanskin")
      } else {
        window.location.href = '/auth/claim/service_pension/sp-dependant'
      }
    }

    function showScenario(scenario) {
      hideAll();
      hidePartner();
      $("#cleanskin").hide();
      $("#myForm").trigger("reset");
      switch (scenario) {
        case "partnered-pre-pop":
          $("#partnered-pre-pop").show();
          break;
        case "single-pre-pop":
          $("#single-pre-pop").show();
          break;
        case "cleanskin":
          $("#cleanskin").show();
          break;
        default:
      }
    }

    /* partnered pre pop */

    $("#ppp-relationship").change(function () {
      if ($('#ppp-relationship :selected').val() == "Married") {
        $("#ppp-married-date-container").show();
      } else {
        $("#ppp-married-date-container").hide();
      }
    });

    $("#partnered-pre-pop--current-partner--yes").click(function () {
      $("#partnered-pre-pop--options").show("fast");
      $("#partnered-no-longer").hide("fast");
    });
    $("#partnered-pre-pop--current-partner--no").click(function () {
      $("#partnered-pre-pop--options").hide("fast");
      $("#partnered-no-longer").show("fast");
    });

    /* partnered */

    var centrelink_selected = [];
    $("#ppp_cs_centrelink").change(function () {
      centrelink_selected = [];
      $('#ppp_cs_centrelink input:checked').each(function () {
        centrelink_selected.push($(this).attr('name'));
      });
      if (centrelink_selected.length > 0) {
        $("#ppp_cs_crn").show("fast");
      } else {
        if (cs_cshc != "yes") {
          $("#ppp_cs_crn").hide("fast");
        }
      }
    });

    /* CSHC card question */

    var cs_cshc;
    $('input[name=ppp_cs_cshc]').change(function () {
      cs_cshc = $('input[name=ppp_cs_cshc]:checked').val();
      if (cs_cshc == "yes") {
        $("#ppp_cs_crn").show("fast");
      } else {
        if (centrelink_selected.length == 0) {
          $("#ppp_cs_crn").hide("fast");
        }
      }
    });

    /* single pre pop */

    $("#single-pre-pop--current-status--yes").click(function () {
      $("#spp--save-and-next").show("fast");
    });
    $("#single-pre-pop--current-status--no").click(function () {
      $("#spp--save-and-next").show("fast");
    });

    /* cleanskin */

    $('input[name=relationship-status]').change(function () {
      mySelection = $('input[name=relationship-status]:checked').val();
      hideAll();
      switch (mySelection) {
        case "single":
          sessionStorage.setItem('partnerStatus', 'none');
          $("#save-and-next").show("fast");
          break;
        case "divorced":
          sessionStorage.setItem('partnerStatus', 'none');
          $("#date-divorced-container").show("fast");
          break;
        case "widowed":
          sessionStorage.setItem('partnerStatus', 'none');
          $("#save-and-next").show("fast");
          break;
        case "separated":
          sessionStorage.setItem('partnerStatus', 'none');
          $("#date-separation-container").show("fast");
          $("#notice-separation").show("fast");
          break;
        case "married":
          sessionStorage.setItem('partnerStatus', 'partnered');
          $("#date-marriage-container").show("fast");
          $("#partner-details").show("fast");
          break;
        case "defacto":
          sessionStorage.setItem('partnerStatus', 'partnered');
          $("#date-living-together-container").show("fast");
          $("#partner-details").show("fast");
          break;
        default:
      }
    });

    /* partnered */

    var centrelink_selected = [];
    $("#cs_centrelink").change(function () {
      centrelink_selected = [];
      $('#cs_centrelink input:checked').each(function () {
        centrelink_selected.push($(this).attr('name'));
      });
      if (centrelink_selected.length > 0) {
        $("#cs_crn").show("fast");
      } else {
        if (cs_cshc != "yes") {
          $("#cs_crn").hide();
        }
      }
    });

    /* CSHC card question */

    var cs_cshc;
    $('input[name=cs_cshc]').change(function () {
      cs_cshc = $('input[name=cs_cshc]:checked').val();
      if (cs_cshc == "yes") {
        $("#cs_crn").show("fast");
      } else {
        if (centrelink_selected.length == 0) {
          $("#cs_crn").hide();
        }
      }
    });

    /* visual impairment question */

    $('input[name=visual_impairment]').change(function () {
      mySelection = $('input[name=visual_impairment]:checked').val();
      if (mySelection == "yes") {
        sessionStorage.setItem('partner-blind', true);
        $('input[name=partner_blind]').prop('checked', true);
      } else {
        sessionStorage.setItem('partner-blind', false);
        $('input[name=partner_blind]').prop('checked', false);
      }
    });

    function hidePartner() {
      sessionStorage.setItem('partnerApply', false)
      $("#sp-res-veteranTitle").hide();
      $("#sp-res-partnerDetails").hide();
      $("#intro-copy-no-partner").show();
    }

    function hideAll() {
      $("#date-marriage-container").hide();
      $("#date-living-together-container").hide();
      $("#other-ps").hide();
      $("#date-separation-container").hide();
      $("#notice-separation").hide();
      $("#date-divorced-container").hide();
      $("#partner-details").hide();
      $("#crn").hide();
      $("#save-and-next").hide();
      $("#partnered-pre-pop").hide();
      $("#single-pre-pop").hide();
    }
  });

</script>
</body>

</html>
