<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width" name="viewport" />
  <title>Service history - Review and submit | MyService</title>
<%- include(partials+"components/layout/head") %>
  <style>
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Review and submit</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Page content -->
          <div class="col-md-offset-2 col-md-8">
            <div class="margin-above--extra margin-below--extra">
              <div class="review__header--label">
                <h2>Service type</h2>
              </div>
              <div class="review__content">
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">I am</div>
                  <div class="review__content--data col-xs-7">Australia Defence Force Veteran</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Other names</div>
                  <div class="review__content--data col-xs-7">No</div>
                </div>
                <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/claim/sp-dependant'">Edit</button>
                <hr class="hr-compact" />
                <!-- Dependent children -->
                <div class="review__wrapper ongoing-only">
                  <div class="review__header">
                    <div class="review__header--label">
                      <h2>Service period</h2>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Service Number/PmKeys</div>
                      <div class="review__content--data col-xs-7">12345678</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Date of birth</div>
                      <div class="review__content--data col-xs-7">21 / 02 / 2007</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Type of Service</div>
                      <div class="review__content--data col-xs-7">Permanent</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Date if Enlistment</div>
                      <div class="review__content--data col-xs-7">11 / 10 / 1980</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Date of Discharge</div>
                      <div class="review__content--data col-xs-7">11 / 10 / 1990</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Branch</div>
                      <div class="review__content--data col-xs-7">Navy</div>
                    </div>
                    <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/claim/sp-dependant'">Edit</button>
                  </div>
                </div>
                <hr class="hr-compact" />
                <!-- Residency -->
                <div class="review__wrapper">
                  <div class="review__header">
                    <div class="review__header--label">
                      <h2>Operational or war-like service</h2>
                    </div>
                    <div class="review__header--button"></div>
                  </div>
                  <div class="review__content">
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Operation Name</div>
                      <div class="review__content--data col-xs-7">Jural</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Date arrived in operation area</div>
                      <div class="review__content--data col-xs-7">30 / 06 / 1991</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Date left operational area</div>
                      <div class="review__content--data col-xs-7">12 / 12 / 1991 </div>
                    </div>
                    <div class="review__content--item row margin-above--large">
                      <div class="review__content--label col-xs-5">Operation name</div>
                      <div class="review__content--data col-xs-7">Operation Slipper</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Date of arrival in operation area</div>
                      <div class="review__content--data col-xs-7">30 / 06 / 2013</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Date left operational area</div>
                      <div class="review__content--data col-xs-7">12 / 12 / 2013</div>
                    </div>
                    <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/claim/sp-residency'">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/sp-progress-finish'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/sp-submitted'">Submit application</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include(partials+"content/modals/claims-cancel-modal") %>
  <%- include(partials+"components/layout/footer") %>
</body>

</html>