<%#- include(templates+"header", {
  claim: "Service pension"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Residency | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <!-- Progress bar -->
        <div class="col-md-12">
          <nav>
            <ul class="progress-container">
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/sp-partner">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Relationship status</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/sp-dependant">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Dependent children</p>
                </a>
              </li>
              <li class="progress-step progress-step--active">
                <a href="/auth/claim/sp-residency">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Residency</p>
                </a>
              </li>
              </li>
              <li class="progress-step">
                <a href="/auth/claim/sp-la">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Living arrangements</p>
                </a>
              </li>
              <li class="progress-step">
                <a href="/auth/claim/sp-claim-contact">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Claim Representative</p>
                </a>
              </li>
              <li class="progress-step progress-step--last">
                <a href="/auth/claim/sp-payment-details">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </a>
            </ul>
          </nav>
        </div>
      </div>
      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Residency</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="margin-above--extra margin-below--extra">
            <!-- Page content -->
            <h2 id="intro-copy-no-partner" class="margin-below">Tell us about your residency</h2>
            <h2 class="margin-above--large margin-below" id="sp-res-veteranTitle"><span class="font-weight-heavy">Your residency</span></h2>
            <div class="form-group margin-above" id="aus-citizen">
              <fieldset>
                <legend class="legend-label">Are you an Australian citizen?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="aus-citizen-yes">
                    <input id="aus-citizen-yes" type="radio" name="aus-citizen">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="aus-citizen-no">
                    <input id="aus-citizen-no" type="radio" name="aus-citizen">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
            </div>
            <!-- [A] Visa -->
            <!--  <div id="visa-a" class="margin-above" style="display: none;">
                            <label class="uikit-text-input__label" for="radio-buttons">Are you:</label>
                            <p class="uiToolKitCheckBox">
                                <label class="uikit-control-input" id="op1-visa">
                                    <input class="uikit-control-input__input" type="radio" name="radio-age">
                                    <span class=" uikit-control-input__text ">The holder of a permanent visa</span>
                                </label>
                            </p>
                            <p class="uiToolKitCheckBox">
                                <label class="uikit-control-input" id="op2-visa">
                                    <input class="uikit-control-input__input" type="radio" name="radio-age">
                                    <span class=" uikit-control-input__text ">The holder of a special purpose visa</span>
                                </label>
                            </p>
                            <p class="uiToolKitCheckBox">
                                <label class="uikit-control-input" id="op3-visa">
                                    <input class="uikit-control-input__input" type="radio" name="radio-age">
                                    <span class=" uikit-control-input__text ">The holder of a special category visa</span>
                                </label>
                            </p>
                            <p class="uiToolKitCheckBox">
                                <label class="uikit-control-input" id="op4-visa">
                                    <input class="uikit-control-input__input" type="radio" name="radio-age">
                                    <span class=" uikit-control-input__text ">A refugee or former refugee</span>
                                </label>
                            </p>
                            <div class="uikit-page-alerts" role="alert" id="visa-b">
                                <p>You will need to provide a copy of your visa or special category visa that shows you hold the ability to remain in Australia.</p>
                            </div>
                        </div> -->
            <!-- end of [A] Visa -->
            <!-- [default] -->
            <!--  <div class="form-group margin-above--large">
                            <fieldset>
                                <legend class="legend-label">Are you living permanently in Australia?</legend>
                                <div class="radio-toggle">
                                    <label class="on label-left" for="living-aus-yes">
                                        <input id="living-aus-yes" type="radio" name="living-aus">
                                        <span>Yes</span>
                                    </label>
                                    <label class="off label-right" for="living-aus-no">
                                        <input id="living-aus-no" type="radio" name="living-aus">
                                        <span>No</span>
                                    </label>
                                </div>
                            </fieldset>
                            <div class="uikit-page-alerts uikit-page-alerts--warning margin-above--large" id="not-living-in-australia">
                                <p>You must be living permanently in Australia at the time of lodging your claim for Service Pension.</p>
                            </div>
                        </div> -->
            <!-- <div class="form-group margin-above--large" style="display: none;">
                            <fieldset>
                                <legend class="legend-label">Were you born in Australia?</legend>
                                <div class="radio-toggle">
                                    <label class="on label-left" for="born-aus-yes">
                                        <input id="born-aus-yes" type="radio" name="born-aus">
                                        <span>Yes</span>
                                    </label>
                                    <label class="off label-right" for="born-aus-no">
                                        <input id="born-aus-no" type="radio" name="born-aus">
                                        <span>No</span>
                                    </label>
                                </div>
                            </fieldset>
                        </div> -->
            <div id="save-and-next" class="margin-above" style="display: none">
              <p>Choose <b>save and next</b> to continue.</p>
            </div>
          </div>
          <!-- bottom page navigation -->
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim/sp-dependant'">Previous</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel</button>
                <div class="floated">
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim'">Save and exit</button>
                  <button class="uikit-btn btnNext" onclick="window.location.href='/auth/claim/sp-la'">Save and next</button>
                </div>
              </div>
            </div>
          </div>
          <%- include(partials+"content/modals/claims-cancel-modal") %>
        </div> <!-- row end -->
      </div> <!-- container end -->
  </main>
  <%- include(partials+"components/layout/footer") %>
  <script>
    $(Document).ready(function () {

      hideAll();



      $(document).keypress(function (e) {
        switch (e.which) {
          case 49:
            hidePartner();
            break;
          case 50:
            showPartner();
            break;
          default:
        }
      });

      if (sessionStorage.getItem('partnerApply') == 'true') {
        showPartner();
      } else {
        hidePartner();
      };

      function showPartner() {
        sessionStorage.setItem('partnerApply', 'true')
        $("#sp-res-veteranTitle").show();
        $("#sp-res-partnerDetails").show();
        $("#intro-copy-no-partner").hide();
      }

      function hidePartner() {
        sessionStorage.setItem('partnerApply', 'false')
        $("#sp-res-veteranTitle").hide();
        $("#sp-res-partnerDetails").hide();
        $("#intro-copy-no-partner").show();
      }

      // function hideAll() {
      //     if (sessionStorage.getItem('partnerApply') != 'true') {
      //         $("#sp-res-veteranTitle").hide();
      //         $("#sp-res-partnerDetails").hide();
      //     };
      //     $("#visa-a").hide();
      //     $("#visa-b").hide();
      //     $("#country-born").hide();
      //     $("#lived-overseas").hide();
      //     $("#moved-returned-aus").hide();
      //     $("#partner-auz-citizen-document").hide();
      //     $("#partner-visa-perm").hide();
      //     $("#born-aus-no-partner").hide();
      //     $("#partner-country-birth").hide();
      //     $("#partner-lived-overseas").hide();
      //     $("#visa-b-partner").hide();
      //     $("#partner-moved-returned").hide();
      //     $("#not-living-in-australia").hide();
      //     $("#not-living-in-australia-partner").hide();
      //     $("#save-and-next").hide();
      // }
    });
  </script>
</body>

</html>