<%- include(templates+"header", {
  title: "Change of address",
  heading: "Your new address"
})%>

<h2>Enter your new residential address</h2>

<%- include(forms+"prepop/address", {
  id: "residential-address",
  label: ""
}) %>

<%- include(partials+"components/form-partials/checkbox", {
  boxes: [
    {
      text: "Update my postal address to this address"
    }
  ]
}); %>

<div id="overseas" hidden>

  Show overseas questions if needed
</div>

  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/profile/living-arrangements/index"
    },
    {
      text: "Delete transaction",
      link: "#open-coc-ai-delete-modal"
    },
      {
        text: "Next",
        link: "/auth/profile/living-arrangements/la-02",
        modifiers: ["floated", "primary"],
        id: "submit"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>

<script>
  function stateSwitcher() {
  }

  $('#residential-address-country').on('change', function() {
  if( this.value != "australia") {
    $("#overseas").show();
  } else {
    $("#overseas").hide()
  }
});
</script>

<%- include(partials+"components/layout/footer") %>
<%#- include("category-page-ss") %>