<%- include(templates+"header", {
  title: "Change of address",
  heading: "Change of address"
})%>

<style>

</style>

<!-- <p>Depending on </p> -->

<!-- <div>
  <B>Your current address</B><BR/>
  Super Retirement Village<br/>
  25 Super Street<br/>
  Virginia Beach VA 42201
</div> -->

<%- include(forms+"prepop/address", {
  id: "residential-address",
  modifiers: ["hidden1"],
  label: "New residential address"
}) %>

<%- include(partials+"components/form-partials/checkbox", {
  boxes: [
    {
      text: "Use as postal address",
      rToggle: "#postal-address-container",
      modifiers: ["checked"]
    }
  ]
}); %>

<%- include(forms+"prepop/address", {
  id: "postal-address",
  modifiers: ["hidden"],
  label: "New postal address"
}) %>
 
  <!-- <div id="main-pagination" class="pagination">
    <button id="continue" class="uikit-btn btnNext" onClick="goBack()">Cancel</button>
    <button id="continue" class="uikit-btn btnNext floated" onClick="goBack()">Next</button>
  </div> -->

  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Delete transaction",
      link: "#open-coc-ai-delete-modal"
    },
    /*{
        text: "Save and exit",
        link: "/auth/profile/income-assets/",
        modifiers: ["floated","disabled"],
        id: "save-exit"
      }, */
     /* {
        text: "Submit",
        link: "/auth/profile/income-assets/variance",
        modifiers: ["floated", "primary","disabled"],
        id: "submit"
      }*/
      {
        text: "Next",
        link: "/auth/profile/income-assets/variance",
        modifiers: ["floated", "primary"],
        id: "submit"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>

<script>
  function stateSwitcher() {
  }

  // function goBack() {
  //   localStorage.setItem("coc-state", "update1");
  //   window.location.href = 'start.ejs';
  // }
</script>

<%- include(partials+"components/layout/footer") %>
<%#- include("category-page-ss") %>