<%- include(templates+"header", {
  title: "Change of address",
  heading: "Further information"
})%>

<style>

</style>



<%- include(forms+"prepop/address", {
  id: "residential-address",
  modifiers: ["hidden1"],
  label: "New residential address"
}) %>

<%- include(partials+"components/form-partials/checkbox", {
  boxes: [
    {
      text: "Use as postal address",
      rToggle: "#postal-address-container",
      modifiers: ["checked"]
    }
  ]
}); %>

<%- include(forms+"prepop/address", {
  id: "postal-address",
  modifiers: ["hidden"],
  label: "New postal address"
}) %>
 
  <!-- <div id="main-pagination" class="pagination">
    <button id="continue" class="uikit-btn btnNext" onClick="goBack()">Cancel</button>
    <button id="continue" class="uikit-btn btnNext floated" onClick="goBack()">Next</button>
  </div> -->

  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/profile/living-arrangements/index"
    },
    {
      text: "Delete transaction",
      link: "#open-coc-ai-delete-modal"
    },
      {
        text: "Next",
        link: "/auth/profile/living-arrangements/la-02",
        modifiers: ["floated", "primary"],
        id: "submit"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>

<script>
  function stateSwitcher() {
  }

  // function goBack() {
  //   localStorage.setItem("coc-state", "update1");
  //   window.location.href = 'start.ejs';
  // }
</script>

<%- include(partials+"components/layout/footer") %>
<%#- include("category-page-ss") %>