<%- include(templates+"header", {
  title: "Change of address",
  heading: "About your new residence"
})%>

<%- include(partials+"components/form-partials/radio", {
  label: "Which of the following best describes your new living arrangements:",
  boxes: [
    {
      text: "A home I own",
      toggle: "#home-owner"
    },
    {
      text: "Rental accommodation",
      toggle: "#rental"
    },
    {
      text: "Aged care facility or nursing home"
    },
    {
      text: "Retirement village",
      toggle: "#retirement"
    },
    {
      text: "Boarding and lodging"
    },
    {
      text: "Mobile home owner",
      toggle: "#mobile"
    },
    {
      text: "Free accommodation"
    },
    {
      text: "Other"
    }
  ]
}); %>

<div id="home-owner" hidden>

  <%- include(partials+"components/form-partials/text", {
    label: "Purchase price of new residence",
    modifiers: ["dollarSign"]
  }); %>

  <%- include(partials+"components/form-partials/date", {
    label: "Settlement date"
  }); %>

  <%- include(partials+"components/form-partials/text", {
    label: "Source of funds for purchase of this home",
    hint: "For example sale of previous residence; taking out a mortgage; using money from investments."
  }); %>

</div>

<div id="rental" hidden>

  <%- include(partials+"components/form-partials/text", {
    label: "Amount of rent paid",
    modifiers: ["dollarSign"]
  }); %>

  <%- include(partials+"components/form-partials/dropdown", {
    label: "Payment frequency",
    options: [
      "-- Select one --",
      "Weekly",
      "Fortnightly"
    ]
  }); %>

  <%- include(partials+"components/form-partials/yes_no", {
    label: "Is the rent paid to a Housing Authority?",
    tooltip: {
      content: "Add housing authorities .."
    }
  }); %>

  <%- include(partials+"components/form-partials/date", {
    label: "Date rental payments commenced or will commence"
  }); %>

  <%- include(partials+"components/form-partials/yes_no", {
    label: "Does the rent paid include meals?"
  }); %>

  <%- include(partials+"components/form-partials/textarea", {
    label: "Name and address of person or organisation to whom the rent is paid"
  }); %>

</div>

<div id="retirement" hidden>

  <%- include(partials+"components/form-partials/text", {
    label: "Retirement village entry contribution amount",
    modifiers: ["dollarSign"]
  }); %>

  <%- include(partials+"components/form-partials/text", {
    label: "Amount of maintenance fees paid",
    modifiers: ["dollarSign"]
  }); %>

  <%- include(partials+"components/form-partials/dropdown", {
    label: "Payment frequency",
    options: [
      "-- Select one --",
      "Weekly",
      "Fortnightly"
    ]
  }); %>

  <%- include(partials+"components/form-partials/date", {
    label: "What date did you or will you move in?"
  }); %>

</div>

<div id="mobile" hidden>

  <%- include(partials+"components/form-partials/text", {
    label: "Amount of rent paid",
    modifiers: ["dollarSign"]
  }); %>

  <%- include(partials+"components/form-partials/dropdown", {
    label: "Payment frequency",
    options: [
      "-- Select one --",
      "Daily",
      "Weekly",
      "Fortnightly",
      "Monthly",
      "Quarterly",
      "Yearly"
    ]
  }); %>

  <%- include(partials+"components/form-partials/date", {
    label: "What date did you or will you move in?"
  }); %>

  <%- include(partials+"components/form-partials/text", {
    label: "What is the amount of entry contribution you paid?",
    modifiers: ["dollarSign"]
  }); %>

</div>

  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/profile/living-arrangements/la-02"
    },
    {
      text: "Delete transaction",
      link: "#open-coc-ai-delete-modal"
    },
      {
        text: "Next",
        link: "/auth/profile/living-arrangements/la-04",
        modifiers: ["floated", "primary"],
        id: "submit"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>

<script>
  function stateSwitcher() {
  }
</script>

<%- include(partials+"components/layout/footer") %>
<%#- include("category-page-ss") %>