<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Review and submit | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="claim-end">

            <div class="pt-claim-type--normal">
              <div class="margin-above ie-success-animation">
                <img src="/docs/images/ico-submitted.svg" alt="Submitted icon">
              </div>
              <div class="margin-above submitted-animation">
                <%- include(partials+"components/animations/success") %>
              </div>
              <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
                <h1>We're submitting your claim for Initial Liability </h1>
              </div>
            </div>

            <div class="transition-content pt-claim-animation-end margin-below--extra">
              <div class="pt-claim-type--normal">
                <h1 class="centred-item">Success! Your claim has been <strong>approved</strong>
                </h1>
              </div>

              <hr class="orange-divider">
              <h2 class="ss-align--center"><b>What's next?</b></h2>
              <div class="container">
                <div class="row">                
                  <div class="col-sm-offset-1 col-sm-8">
                    <ul class="next-steps">
                      <li>You will receive a determination letter for this claim. </li>
                      <li>If you are no longer serving and don't currently have a Veteran White Card we will send you one. New cards can take up to 3 weeks to arrive.</li>
                      <li>You can use the card to cover treatment for accepted conditions. You can view your accepted conditions on your MyService digital card page.</li>
                      <li>You may be receiving treatment before your card arrives. Keep your receipts so you can request reimbursement from DVA. </li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-1">
                    <%- include(partials+"components/five-star-rating-component") %>
                  </div>                
                </div>


                <div class="pagination">
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Back to home</button>
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/il/claim1'">Add another claim</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>
  <form class="pt-submit-form">
    <input type="hidden" name="submittedApplication" id="submittedApplication" value="true">
  </form>

  <script>
    readRep();

    var data = ($('.pt-submit-form'));

    writeRep(data);


    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".pt-claim-animation-start").toggleClass("transition-content--open");
        $(".pt-claim-animation-end").toggleClass("transition-content--open");
      }, timeDelay);

    var queryString = new Array();
    $(function () {
      if (queryString.length == 0) {
        if (window.location.search.split('?').length > 1) {
          var params = window.location.search.split('?')[1].split('&');
          for (var i = 0; i < params.length; i++) {
            var key = params[i].split('=')[0];
            var value = decodeURIComponent(params[i].split('=')[1]);
            queryString[key] = value;
          }
        }
      }
      if (queryString["name"] != null && queryString["technology"] != null) {
        var newAmount = "";
        var requestAmount = "";
        newAmount += queryString["name"];
        requestAmount += queryString["technology"];
        $("#lblData").html(newAmount);
        $("#lblData2").html(requestAmount);
        if (requestAmount.indexOf('.') != -1) {
          $("#lblData2").html(requestAmount);
        } else {
          $("#lblData2").html(requestAmount);
        }
      }
    });


    // if ((localStorage.getItem('repFlow') == 'representing')) {
    //   localStorage.setItem('repFlow', 'both');
    // } else {
    //   localStorage.setItem('repFlow', 'represented');
    // }

  </script>

</body>

</html>
