<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Diagnosis | MyService</title>
  <%- include(partials+"components/layout/head") %>

  <style>
    .pt-required-docs,
    .pt-no-required-docs,
    .pt-upload-list,
    .pt-upload-list-optional,
    .pt-upload-other-docs,
    .pt-medical-prac {
      display: none;
    }

  </style>

</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>



  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>
      <h1>Medical Provider</span>
      </h1>

      <%- include(partials+"content/medical-practitioner.ejs", {"lastSixMonths": false});%>



      <div class=" pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/'">Save and exit</button><button class="uikit-btn btnNext"
            onclick="window.location.href = '/auth/claim/il/claim1b'">Save and next</button>
        </div>
      </div>


      <%- include(partials+"content/modals/claims-cancel-modal") %>

      <%- include(partials+"content/modals/claims-removefile-modal") %>

    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>



  <script src="/docs/js/jquery-ui.min.js"></script>

  <script src="/docs/js/claims.js"></script>
  
</body>

</html>
