<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Review and submit | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="margin-above--extra margin-below--extra">

            <div id="progressbar">
              <div id="percentage">
                <p id="percentage_value"></p>
              </div>

            </div>
            <h1>Review and submit</h1>
            <table class="cover-detail">
              <caption>Diagnosis
                <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/il/claim1'">Change</button>
              </caption>
              <tbody>
                <tr>
                  <th>What is your diagnosis?</th>
                  <td>lumbar spondylosis</td>
                </tr>
                <tr>
                  <th>Did the condition occur on a specific date?</th>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th>When did it happen?</th>
                  <td>12 / 12 / 2005</td>
                </tr>
              </tbody>
            </table>

            <table class="cover-detail">
              <caption>Third party compensation
                <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/il/claim1'">Change</button>
              </caption>
              <tbody>
                <tr>
                  <th>Have you received compensation outside of DVA for this condition?</th>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th>Did you have a lawyer represent you for this compensation?</th>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th>Lawyer name</th>
                  <td>Gerard Depardieu</td>
                </tr>
                <tr>
                  <th>Firm name</th>
                  <td>Depardieu and partners</td>
                </tr>
                <tr>
                  <th>Phone number</th>
                  <td>02 4466 7788</td>
                </tr>
                <tr>
                  <th>Email address</th>
                  <td>gerard@depardieupartners.com.au</td>
                </tr>

              </tbody>
            </table>

            <table class="cover-detail">
              <caption>Medical practioner
                <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/il/claim1'">Change</button>
              </caption>
              <tbody>
                <tr>
                  <th>Do you have a General Practioner for this condition?</th>
                  <td>Yes</td>
                </tr>

                <tr>
                  <th>Doctor's name</th>
                  <td>Elisabeth Appleton</td>
                </tr>
                <tr>
                  <th>Phone number</th>
                  <td>02 4466 7788</td>
                </tr>
                <tr>
                  <th>Medical practice</th>
                  <td>Ocean road doctors</td>
                </tr>
                <tr>
                  <th>Postal address</th>
                  <td>17 Ocean Road<br> Summer Bay, NSW, 2789</td>
                </tr>


              </tbody>
            </table>

            <table class="cover-detail">
              <caption>How did it happen?
                <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/il/claim3'">Change</button>
              </caption>
              <tr>
                <th>Which statement best describes how your condition happened?</th>
                <td>
                  <ul>
                    <li>having a lumbar intervertebral disc prolapse before the clinical onset of lumbar spondylosis at the level of the intervertebral disc prolapse</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>Provide a brief description of what led to your condition</th>
                <td>test</td>
              </tr>
              <tr>
                <th>Upload supporting documents</th>
                <td>
                  <ul>
                    <li>
                      <a href="#">MRI.jpg (1,240 KB JPG)</a>
                    </li>
                  </ul>
                </td>
              </tr>
            </table>

            <table class="cover-detail">
              <caption>Service history
                <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/il/claim2a'">Change</button>
              </caption>
              <tr>
                <th>Service number</th>
                <td>314159</td>
              </tr>
              <tr>
                <th>Date of enlistment</th>
                <td>1 / 9 / 1939</td>
              </tr>
              <tr>
                <th>Date of discharge</th>
                <td>2 / 9 / 1945</td>
              </tr>
            </table>

            <table class="cover-detail">
              <caption>When your condition started
                <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/il/claim2a'">Change</button>
              </caption>
              <tr>
                <th>Branch/arm</th>
                <td>Navy</td>
              </tr>
              <tr>
                <th>Type of service</th>
                <td>Full time</td>
              </tr>
              <tr>
                <th>Start date</th>
                <td>1 / 9 / 1939</td>
              </tr>
              <tr>
                <th>End date</th>
                <td>2 / 9 / 1945</td>
              </tr>
              <tr>
                <th>Operation name</th>
                <td>Cockpit</td>
              </tr>
              <tr>
                <th>Operation start date</th>
                <td>19 / 4 / 1944</td>
              </tr>
              <tr>
                <th>Operation end date</th>
                <td>20 / 4 / 1944</td>
              </tr>
              <tr>
                <th>Upload service records</th>
                <td>
                  <ul>
                    <li>
                      <a href="#">Service records.pdf (22,140 KB PDF)</a>
                    </li>
                  </ul>
                </td>
              </tr>
            </table>

            <table class="cover-detail">
              <caption>How have you been affected?
                <button class="uikit-btn uikit-btn--tertiary floated small floated--always" onclick="window.location.href = '/auth/claim/il/claim4'">Change</button>
              </caption>
              <thead>
                <tr>
                  <th>Are you likely to leave the ADF in the next 6 months?</th>
                  <td>Yes</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>When you are leaving?</th>
                  <td>11 / 02 / 2018</td>
                </tr>
                <tr>
                  <th>As a result of my condition, I require..</th>
                  <td>
                    <ul>
                      <li>modifications to my home or vehicle</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>I am interested in...</th>
                  <td>
                    <ul>
                      <li>getting a new job.</li>
                      <li>work experience.</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>My condition has impacted my...</th>
                  <td>
                    <ul>
                      <li>ability to interact in social situations (Eg. interacting with friends and family).</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>Would you like to tell us anything else?</th>
                  <td>
                    I have trouble picking up my baby so I cannot help much around the house. My partner has to help out a lot and sometimes will miss days from work to care for
                    them
                    because I am unable
                    to.
                  </td>
                </tr>
                <!-- <tr>
            <th>Would you like to apply for permanent impairment compensation?</th>
            <td>Yes</td>
          </tr> -->
              </tbody>
            </table>

            <!-- <table class="cover-detail">
        <caption>Permanent impairment compensation
          <button class="uikit-btn uikit-btn--tertiary floated small floated--always" onclick="window.location.href = '/auth/claim/il/claim4'">Change</button>
        </caption>
        <thead>
          <tr>
            <th>Would you like to apply for permanent impairment compensation?</th>
            <td>Yes</td>
          </tr>
        </thead>
      </table> -->

            <table class="cover-detail">
              <caption>Claim representative
                <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/il/claim1'">Change</button>
              </caption>
              <tbody>
                <tr>
                  <th>Do you wish to nominate a claim representative for this claim?</th>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th>Representative type</th>
                  <td>lawyer</td>
                </tr>
                <tr>
                  <th>Full name</th>
                  <td>Gerard Depardieu</td>
                </tr>
                <tr>
                  <th>Organisation/business name</th>
                  <td>Depardieu and partners</td>
                </tr>
                <tr>
                  <th>Phone number</th>
                  <td>02 4466 7788</td>
                </tr>
                <tr>
                  <th>Email address</th>
                  <td>gerard@depardieupartners.com.au</td>
                <tr>
                  <th>Postal address</th>
                  <td>17 Sugartree Lane <br> Fluff, NSW, 2789</td>
                </tr>


              </tbody>
            </table>
            <div class="declaration">
              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" id="agreement_checked" name="agreement_checked">
                  <span class="uikit-control-input__text">I agree to the following:</span>
                </label>
              </div>
              <ol class="declaration__list">
                <li>All information provided is truthful and accurate.</li>
                <li>Information provided (including the claim determination) will be shared with the Department of Defence.</li>
              </ol>
            </div>

            <div class="pagination">
              <p>By clicking
                <strong>submit claim</strong> you confirm this information is truthful and accurate.</p>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/il/claim6'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
                <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/il/claim8'">Submit claim</button>
              </div>
            </div>
            <%- include(partials+"content/modals/claims-cancel-modal") %>
          </div>

        </div>
      </div>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "87.5%";
    document.getElementById("percentage_value").textContent = "87.5%";

    $("#btnAddNominee").click(function () {
      $(".nominee-details-container").show("fast");
      $("#btnAddNominee").hide();
      $("#btnCancelNominee").show("fast");
      $("#nominee-name").focus();
    });
    $("#btnCancelNominee").click(function () {
      $(".nominee-details-container").hide("fast");
      $("#btnCancelNominee").hide();
      $("#btnAddNominee").show();
    });
    $(".nominee-save").click(function () {
      $(".nominee-details").hide();
      $(".toast-saved").show("fast");
      $(".nominee-intro").hide("fast");
    });
    $(".message-close").click(function () {
      $(".nominee-details-container").hide("fast");
    });

  </script>

</body>

</html>
