<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: How did it happen? | MyService</title>
  <%- include(partials+"head") %>
  <style>
    #templates {
      display: none;
    }

    #upload-button {
      margin-top: 1em;
    }

  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-claims") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>

      <form id="service-history">

        <h1>Service history</h1>
        <p>Providing your service history relating to this claim, will help us assess your claim more accurately and may result in a faster processing time.</p>

        <div class="form-group">
          <label class="uikit-text-input__label" for="serviceNumber">Service number
            <span class="hint">(if known)</span>
          </label>
          <input class="uikit-text-input input-half" name="serviceNumber" type="text" value="">
        </div>


        <div class="row">
          <div class="col-md-4">
            <fieldset>
              <div class="form-group">
                <label class="uikit-text-input__label">Date of enlistment
                  <span class="hint">(dd / mm / yyyy)</span>
                </label>
                <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
              </div>
            </fieldset>
          </div>
          <div class="col-md-4">
            <fieldset>
              <div class="form-group">
                <label class="uikit-text-input__label">Date of discharge
                  <span class="hint">(dd / mm / yyyy)</span>
                </label>
                <input class="uikit-text-input dd" type="text" name="dischargeEndDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" name="dischargeEndMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" name="dischargeEndYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
              </div>
            </fieldset>
          </div>
        </div>

        <h2>When your condition started</h2>
        <div class="form-group">
          <label class="uikit-text-input__label" for="branch">What service were you in when your condition or illness started?</label>
          <select class="uikit-text-input input-half" name="branch" type="text" value="">
            <option selected>-- Select branch/arm --</option>
            <option value="navy">Navy</option>
            <option value="army">Army</option>
            <option value="airforce">Air Force</option>
          </select>
        </div>

        <div class="form-group">
          <label class="uikit-text-input__label" for="type">Type of Service</label>
          <select class="uikit-text-input input-half" name="type" type="text" value="">
            <option selected>-- Select type --</option>
            <option value="type1">Full time</option>
            <option value="type2">Reservist</option>
          </select>
        </div>

        <div class="row">
          <div class="col-md-4">
            <fieldset>
              <div class="form-group">
                <label class="uikit-text-input__label">Start date of this service
                  <span class="hint">(dd / mm / yyyy)</span>
                </label>
                <div>
                  <input class="uikit-text-input dd" type="text" name="serviceStartDay" maxlength="2" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="serviceStartMonth" maxlength="2" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="serviceStartYear" maxlength="4" aria-label="4 digit year">
                </div>
                <div>
                  <label class="uikit-control-input uikit-control-input--full">
                    <input class="uikit-control-input__input" type="checkbox" name="serviceStartSame">
                    <span class="uikit-control-input__text">Same as date of enlistment above</span>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="col-md-4">
            <fieldset>
              <div class="form-group">
                <label class="uikit-text-input__label">End date of this service
                  <span class="hint">(dd / mm / yyyy)</span>
                </label>
                <div>
                  <input class="uikit-text-input dd" type="text" name="serviceEndDay" maxlength="2" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="serviceEndMonth" maxlength="2" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="serviceEndYear" maxlength="4" aria-label="4 digit year">
                </div>
                <div>
                  <label class="uikit-control-input uikit-control-input--full">
                    <input class="uikit-control-input__input" type="checkbox" name="serviceEndSame">
                    <span class="uikit-control-input__text">Same as date of discharge above</span>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <fieldset>
          <legend class="legend-label">Do you have operational service?</legend>
          <div class="radio-toggle">
            <label class="label-left">
              <input type="radio" name="operation" value="yes">
              <span>Yes</span>
            </label>
            <label class="label-right">
              <input type="radio" name="operation" value="no">
              <span>No</span>
            </label>
          </div>
        </fieldset>

        <div id="operation-details" class="hidden">
          <div class="uikit-page-alerts uikit-page-alerts--warning">
            <p>
              <strong>Do not provide information about classified operational service</strong>
              <br>If you are unsure about the classification of your operation call
              <a href="tel:1800-555-254">1800&nbsp;555&nbsp;254</a>
            </p>
          </div>


          <fieldset class="margin-below">
            <label class="uikit-text-input__label" for="operation-radios">What operation were you in when your condition or illness started?</label>
            <div class="row row--50vh">
              <div id="operation-list-items" class="col-md-12">
                <p class="uiToolKitCheckBox" id="operation-list-item-template">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="operation-radios" value="">
                    <span class="uikit-control-input__text"></span>
                  </label>
                </p>
              </div>
            </div>
          </fieldset>

          <div id="operation-other" class="form-group hidden">
            <label class="uikit-text-input__label" for="operationName">Operation name</label>
            <input class="uikit-text-input" name="operationName" type="text" value="">
          </div>

          <div id="operation-dates" class="hidden">
            <p>Enter the dates you were in this operation from when you were first deployed to the final day you were in the operation.</p>
            <div class="row">
              <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <label class="uikit-text-input__label">Start date
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="operationStartDay" maxlength="2" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="operationStartMonth" maxlength="2" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="operationStartYear" maxlength="4" aria-label="4 digit year">
                  </div>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <label class="uikit-text-input__label">End date
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="operationEndDay" maxlength="2" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="operationEndMonth" maxlength="2" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="operationEndYear" maxlength="4" aria-label="4 digit year">
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>

        <div id="document-uploads" class="hidden">
          <h2>Upload service records</h2>
          <table class="table-responsive table-responsive--no-border">
            <tr class="accordion accordion--open">
              <td id="file-status" class="file-status">
                <span class="sr"></span>
              </td>
              <td>
                <span>
                  <b>Service documents</b>
                </span>
                <span class="accordion-title__details">For example, service record, discharge record or any other related operational documents.</span>
              </td>

              <td class="right">
                <div id="file-uploads-container">
                </div>
                <input type="file" id="upload" class="file-upload__input">
                <label class="file-upload__label" for="upload">
                  <span class="file-upload__button">
                    <span id="upload-button" class="uikit-btn small"></span>
                  </span>
                </label>
              </td>
              <td>
                <a class="accordion__trigger accordion__trigger--closed">
                  <span class="sr">Toggle accordion</span>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </form>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/il/claim1a'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/il/claim3'">Save and next</button>
        </div>
      </div>
      <%- include(partials+"claims-cancel-modal") %>
      <%- include(partials+"claims-removefile-modal") %>
    </div>

  </main>

  <div id="templates">

    <div id="file-upload-template" class="file-upload accordion-title__details">
      <span class="file-upload__input"></span>
      <label class="file-upload__label">
        <span class="file-upload__document">
          <a href="#" class="file-upload__file-name"></a>
        </span>
        <span class="file-upload__button">
          <button class="uikit-btn uikit-btn--tertiary small">Remove</button>
        </span>
      </label>
    </div>
  </div>

  <%- include(partials+"footer") %>


  <script>
    var OPERATIONS = [{
        "id": 1,
        "operation": "AFGHANISTAN (OPERATION PALATE II)",
        "startDate": "2005-06-27",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Afghanistan",
        "subtitle": "",
        "operations": [
          "Operation Palate II"
        ]
      },
      {
        "id": 2,
        "operation": "AFGHANISTAN (OPERATION PALATE) (2003-2004)",
        "startDate": "2003-04-18",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": true,
        "title": "Afghanistan",
        "subtitle": "",
        "operations": [
          "Operation Palate"
        ]
      },
      {
        "id": 201,
        "operation": "AFGHANISTAN (OPERATION PALATE) (2003-2004)",
        "startDate": "2004-07-01",
        "endDate": "2004-07-05",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Afghanistan",
        "subtitle": "",
        "operations": [
          "Operation Palate"
        ]
      },
      {
        "id": 3,
        "operation": "AFGHANISTAN (OPERATION SLIPPER) (OPERATION SLIPPER PRT)",
        "startDate": "2001-10-11",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": true,
        "title": "Afghanistan",
        "subtitle": "",
        "operations": [
          "Operation Slipper",
          "Operation Slipper Prt"
        ]
      },
      {
        "id": 301,
        "operation": "AFGHANISTAN (OPERATION SLIPPER) (OPERATION SLIPPER PRT)",
        "startDate": "2004-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Afghanistan",
        "subtitle": "",
        "operations": [
          "Operation Slipper",
          "Operation Slipper Prt"
        ]
      },
      {
        "id": 4,
        "operation": "AFGHANISTAN (UNMCTT)",
        "startDate": "1991-06-08",
        "endDate": "1993-12-31",
        "isHazardous": true,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Afghanistan",
        "subtitle": "",
        "operations": [
          "UNMCTT"
        ]
      },
      {
        "id": 5,
        "operation": "AFGHANISTAN and Superjacent Airspace (OPERATION ARIKI) (OPERATION ARIKI (NZ))",
        "startDate": "2001-12-01",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": true,
        "title": "Afghanistan and Superjacent Airspace",
        "subtitle": "",
        "operations": [
          "Operation Ariki",
          "Operation Ariki (NZ)"
        ]
      },
      {
        "id": 501,
        "operation": "AFGHANISTAN and Superjacent Airspace (OPERATION ARIKI) (OPERATION ARIKI (NZ))",
        "startDate": "2004-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Afghanistan and Superjacent Airspace",
        "subtitle": "",
        "operations": [
          "Operation Ariki",
          "Operation Ariki (NZ)"
        ]
      },
      {
        "id": 6,
        "operation": "AFGHANISTAN and Superjacent Airspace (OPERATION ATHENA) (OPERATION ATHENA (CANADA))",
        "startDate": "2003-07-17",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": true,
        "title": "Afghanistan and Superjacent Airspace",
        "subtitle": "",
        "operations": [
          "Operation Athena",
          "Operation Athena (Canada)"
        ]
      },
      {
        "id": 601,
        "operation": "AFGHANISTAN and Superjacent Airspace (OPERATION ATHENA) (OPERATION ATHENA (CANADA))",
        "startDate": "2004-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Afghanistan and Superjacent Airspace",
        "subtitle": "",
        "operations": [
          "Operation Athena",
          "Operation Athena (Canada)"
        ]
      },
      {
        "id": 7,
        "operation": "AFGHANISTAN and Superjacent Airspace (OPERATION ENDURING FREEDOM) (OPERATION ENDURING FREEDOM (US))",
        "startDate": "2001-10-07",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": true,
        "title": "Afghanistan and Superjacent Airspace",
        "subtitle": "",
        "operations": [
          "Operation Enduring Freedom",
          "Operation Enduring Freedom (US)"
        ]
      },
      {
        "id": 701,
        "operation": "AFGHANISTAN and Superjacent Airspace (OPERATION ENDURING FREEDOM) (OPERATION ENDURING FREEDOM (US))",
        "startDate": "2004-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Afghanistan and Superjacent Airspace",
        "subtitle": "",
        "operations": [
          "Operation Enduring Freedom",
          "Operation Enduring Freedom (US)"
        ]
      },
      {
        "id": 8,
        "operation": "AFGHANISTAN and Superjacent Airspace (OPERATION HERRICK) (OPERATION HERRICK (UK))",
        "startDate": "2004-09-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Afghanistan and Superjacent Airspace",
        "subtitle": "",
        "operations": [
          "Operation Herrick",
          "Operation Herrick (UK)"
        ]
      },
      {
        "id": 9,
        "operation": "AFGHANISTAN OPERATIONS Superjacent Air Space (INTERNATIONAL SECURITY ASSISTANCE FORCE)",
        "startDate": "2003-08-11",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": true,
        "title": "Afghanistan Operations Superjacent Airspace",
        "subtitle": "",
        "operations": [
          "International Security Assistance Force"
        ]
      },
      {
        "id": 10,
        "operation": "AFRICA Ethiopia and Eritrea (UNMEE) (OPERATION POMELO)",
        "startDate": "2001-01-15",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Africa",
        "subtitle": "Ethiopia and Eritrea",
        "operations": [
          "UNMEE",
          "Operation Pomelo"
        ]
      },
      {
        "id": 1001,
        "operation": "AFRICA Ethiopia and Eritrea (UNMEE) (OPERATION POMELO)",
        "startDate": "2004-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Africa",
        "subtitle": "Ethiopia and Eritrea",
        "operations": [
          "UNMEE",
          "Operation Pomelo"
        ]
      },
      {
        "id": 11,
        "operation": "AFRICA Gabon & the Congo",
        "startDate": "1997-07-25",
        "endDate": "1997-08-07",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Africa",
        "subtitle": "Gabon and the Congo",
        "operations": []
      },
      {
        "id": 12,
        "operation": "AFRICA Mozambique (OPERATION CORACLE)",
        "startDate": "1994-07-12",
        "endDate": "2002-02-27",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Africa",
        "subtitle": "Mozambique",
        "operations": [
          "Operation Coracle"
        ]
      },
      {
        "id": 13,
        "operation": "AFRICA UN Mission in the Sudan (OPERATION AZURE) (OPERATION ASLAN) (OPERATION ASLAN ZONE A) (OPERATION ASLAN ZONE B) (OPERATION HEDGEROW)",
        "startDate": "2005-04-10",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Africa UN",
        "subtitle": "Mission in the Sudan",
        "operations": [
          "Operation Azure",
          "Operation Aslan",
          "Operation Aslan Zone A",
          "Operation Aslan Zone B",
          "Operation Hedgerow"
        ]
      },
      {
        "id": 14,
        "operation": "BALKANS Kosovo (OPERATION APPLIED FORCE)",
        "startDate": "1999-04-15",
        "endDate": "1999-06-03",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Balkans",
        "subtitle": "Kosovo",
        "operations": [
          "Operation Applied Force"
        ]
      },
      {
        "id": 15,
        "operation": "BALKANS Kosovo (OPERATION JOINT GARDIAN) (OPERATION JOINT GUARDIAN)",
        "startDate": "1999-06-11",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Balkans",
        "subtitle": "Kosovo",
        "operations": [
          "Operation Joint Gardian",
          "Operation Joint Guardian"
        ]
      },
      {
        "id": 1501,
        "operation": "BALKANS Kosovo (OPERATION JOINT GARDIAN) (OPERATION JOINT GUARDIAN)",
        "startDate": "2004-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Balkans",
        "subtitle": "Kosovo",
        "operations": [
          "Operation Joint Gardian",
          "Operation Joint Guardian"
        ]
      },
      {
        "id": 16,
        "operation": "BALKANS Yugoslavia (OPERATION AGRICOLA)",
        "startDate": "1999-02-25",
        "endDate": "1999-06-10",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Balkans",
        "subtitle": "Yugoslavia",
        "operations": [
          "Operation Agricola"
        ]
      },
      {
        "id": 17,
        "operation": "BALKANS Yugoslavia (OPERATION OSIER)",
        "startDate": "1997-01-24",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Balkans",
        "subtitle": "Yugoslavia",
        "operations": [
          "Operation Osier"
        ]
      },
      {
        "id": 18,
        "operation": "BORNEO (BRUNEI, SABAH, SARAWAK) (1962-1964)",
        "startDate": "1962-12-08",
        "endDate": "1964-08-16",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Borneo",
        "subtitle": "",
        "operations": [
          "Brunei, Sabah, Sarawak"
        ]
      },
      {
        "id": 19,
        "operation": "CAMBODIA (OPERATION VISTA)",
        "startDate": "1997-07-05",
        "endDate": "1997-07-14",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Cambodia",
        "subtitle": "",
        "operations": [
          "Operation Vista"
        ]
      },
      {
        "id": 20,
        "operation": "CAMBODIA including (OPERATION BANNER)",
        "startDate": "1993-10-08",
        "endDate": "1999-10-04",
        "isHazardous": true,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Cambodia including",
        "subtitle": "",
        "operations": [
          "Operation Banner"
        ]
      },
      {
        "id": 21,
        "operation": "CAMBODIA/LAOS/THAILAND (1991-1993) (OPERATION GEMINI) (OPERATION GOODWILL)",
        "startDate": "1991-10-20",
        "endDate": "1993-10-07",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Cambodia, Laos, Thailand",
        "subtitle": "",
        "operations": [
          "Operation Gemini",
          "Operation Goodwill"
        ]
      },
      {
        "id": 22,
        "operation": "EAST TIMOR (OPERATION SPIRE) (OPERATION ASTUTE)",
        "startDate": "2004-05-20",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "East Timor",
        "subtitle": "",
        "operations": [
          "Operation Spire",
          "Operation Astute"
        ]
      },
      {
        "id": 2201,
        "operation": "EAST TIMOR (OPERATION SPIRE) (OPERATION ASTUTE)",
        "startDate": "2004-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "East Timor",
        "subtitle": "",
        "operations": [
          "Operation Spire",
          "Operation Astute"
        ]
      },
      {
        "id": 23,
        "operation": "EAST TIMOR (OPERATION SPITFIRE) (OPERATION FABER) (OPERATION STABILISE) (OPERATION WARDEN) (OPERATION TANAGER) (OPERATION CITADEL) (1999-2003) (OPERATION CITADEL, EAST TIMOR)",
        "startDate": "1999-09-06",
        "endDate": "2003-08-17",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "East Timor",
        "subtitle": "",
        "operations": [
          "Operation Spitfire",
          "Operation Faber",
          "Operation Stabilise",
          "Operation Warden",
          "Operation Tanager",
          "Operation Citadel",
          "Operation Citadel, East Timor"
        ]
      },
      {
        "id": 24,
        "operation": "EAST TIMOR (UNMISET) (OPERATION CITADEL) (OPERATION CITADEL, EAST TIMOR) (OPERATION CHIRON)",
        "startDate": "2002-05-20",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "East Timor",
        "subtitle": "",
        "operations": [
          "Unmiset",
          "Operation Citadel",
          "Operation Citadel, East Timor",
          "Operation Chiron"
        ]
      },
      {
        "id": 2401,
        "operation": "EAST TIMOR (UNMISET) (OPERATION CITADEL) (OPERATION CITADEL, EAST TIMOR) (OPERATION CHIRON)",
        "startDate": "2004-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "East Timor",
        "subtitle": "",
        "operations": [
          "Unmiset",
          "Operation Citadel",
          "Operation Citadel, East Timor",
          "Operation Chiron"
        ]
      },
      {
        "id": 25,
        "operation": "EASTERN/MIDDLE AFRICA (RWANDA OPERATION TAMAR) (1994-1996) (OPERATION TAMAR)",
        "startDate": "1994-07-25",
        "endDate": "1996-01-16",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Eastern, Middle Africa",
        "subtitle": "",
        "operations": [
          "Rwanda Operation Tamar",
          "Operation Tamar"
        ]
      },
      {
        "id": 26,
        "operation": "FIJI (OPERATION QUICKSTEP)",
        "startDate": "2006-10-31",
        "endDate": "2006-12-22",
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Fiji",
        "subtitle": "",
        "operations": [
          "Operation Quickstep"
        ]
      },
      {
        "id": 27,
        "operation": "GERMANY  Berlin Airlift",
        "startDate": "1948-09-15",
        "endDate": "1949-08-29",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Germany  ",
        "subtitle": "Berlin Airlift",
        "operations": []
      },
      {
        "id": 28,
        "operation": "GUATEMALA",
        "startDate": "1997-02-13",
        "endDate": "1997-05-21",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Guatemala",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 29,
        "operation": "GULF WAR  Gulf Sea Area",
        "startDate": "1986-11-17",
        "endDate": "1989-02-28",
        "isHazardous": true,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Gulf War",
        "subtitle": "Gulf Sea Area",
        "operations": []
      },
      {
        "id": 30,
        "operation": "GULF WAR  Gulf Sea Area including (OPERATION POLLARD) (OPERATION DAMASK) (OPERATION HABITAT) (OPERATION DAMASK X)",
        "startDate": "1991-05-07",
        "endDate": "2018-01-01",
        "isHazardous": true,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Gulf War  ",
        "subtitle": "Gulf Sea Area including",
        "operations": [
          "Operation Pollard",
          "Operation Damask",
          "Operation Habitat",
          "Operation Damask X"
        ]
      },
      {
        "id": 31,
        "operation": "GULF WAR Iraq (UNSCOM WMD) (OPERATION BLAZER)",
        "startDate": "2001-07-02",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Gulf War",
        "subtitle": "Iraq",
        "operations": [
          "Unscom Wmd",
          "Operation Blazer"
        ]
      },
      {
        "id": 32,
        "operation": "IRAQ (OPERATION JURAL) (OPERATION PROVIDE COMFORT) (OPERATION BOLTON) (OPERATION SOUTHERN WATCH) (OPERATION NORTHERN WATCH) (1991-2003)",
        "startDate": "1991-06-30",
        "endDate": "2003-01-12",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Iraq",
        "subtitle": "",
        "operations": [
          "Operation Jural",
          "Operation Provide Comfort",
          "Operation Bolton",
          "Operation Southern Watch",
          "Operation Northern Watch"
        ]
      },
      {
        "id": 33,
        "operation": "IRAQ (OPERATION RIVERBANK) (2008-)",
        "startDate": "2008-07-21",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Iraq",
        "subtitle": "",
        "operations": [
          "Operation Riverbank"
        ]
      },
      {
        "id": 3301,
        "operation": "IRAQ (OPERATION KRUGER) (2008-)",
        "startDate": "2009-01-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Iraq",
        "subtitle": "",
        "operations": [
          "Operation Kruger"
        ]
      },
      {
        "id": 34,
        "operation": "IRAQ/KUWAIT (1991) (OPERATION BASTILLE) (OPERATION DESERT STORM)",
        "startDate": "1991-02-23",
        "endDate": "1991-06-09",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Iraq, Kuwait",
        "subtitle": "",
        "operations": [
          "Operation Bastille",
          "Operation Desert Storm"
        ]
      },
      {
        "id": 35,
        "operation": "IRAQ/WESTERN ASIA (OPERATION CATALYST) (2003-2009)",
        "startDate": "2003-07-16",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": true,
        "title": "Iraq, Western Asia",
        "subtitle": "",
        "operations": [
          "Operation Catalyst"
        ]
      },
      {
        "id": 3501,
        "operation": "IRAQ/WESTERN ASIA (OPERATION CATALYST) (2003-2009)",
        "startDate": "2004-07-01",
        "endDate": "2009-07-31",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Iraq, Western Asia",
        "subtitle": "",
        "operations": [
          "Operation Catalyst"
        ]
      },
      {
        "id": 36,
        "operation": "JAPAN (1952-1956)",
        "startDate": "1952-04-28",
        "endDate": "1956-04-19",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Japan",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 37,
        "operation": "KOREA (1950-1956)",
        "startDate": "1950-06-27",
        "endDate": "1956-04-11",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Korea",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 38,
        "operation": "KOREA Demilitarised Zone between North & South Korea",
        "startDate": "1956-04-18",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Korea",
        "subtitle": "Demilitarised Zone between North and South Korea",
        "operations": []
      },
      {
        "id": 40,
        "operation": "LEBANON (OPERATION RAMP) (OP RAMP, NONWARLIKE LEBANON)",
        "startDate": "2006-07-20",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Lebanon",
        "subtitle": "",
        "operations": [
          "Operation Ramp",
          "OP Ramp, Nonwarlike Lebanon"
        ]
      },
      {
        "id": 4001,
        "operation": "LEBANON (RAMP-PEACE TURKEY/CYPRUS/LEBAN)",
        "startDate": "2006-07-20",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Lebanon",
        "subtitle": "",
        "operations": [
          "Ramp-Peace Turkey, Cyprus, Leban"
        ]
      },
      {
        "id": 41,
        "operation": "LIBYA NATO (2011) *",
        "startDate": "2011-03-31",
        "endDate": "2011-10-31",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Libya Nato",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 42,
        "operation": "LIBYA NATO (2001)*",
        "startDate": "2011-03-31",
        "endDate": "2011-10-31",
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Libya Nato",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 43,
        "operation": "MALAYA (1950-1964)",
        "startDate": "1950-06-29",
        "endDate": "1964-08-16",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Malaya",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 44,
        "operation": "MALAYSIA/BRUNEI/SINGAPORE (1964-1967)",
        "startDate": "1964-08-17",
        "endDate": "1967-09-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Malaysia, Brunei, Singapore",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 45,
        "operation": "MIDDLE EAST (OPERATION PALADIN) (Israel, Jordon, Syria, Lebanon, Egypt)",
        "startDate": "2003-04-21",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Middle East",
        "subtitle": "",
        "operations": [
          "Operation Paladin",
          "Israel, Jordon, Syria, Lebanon, Egypt"
        ]
      },
      {
        "id": 4501,
        "operation": "MIDDLE EAST (OPERATION PALADIN) (Israel, Jordon, Syria, Lebanon, Egypt)",
        "startDate": "2004-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Middle East",
        "subtitle": "",
        "operations": [
          "Operation Paladin",
          "Israel, Jordon, Syria, Lebanon, Egypt"
        ]
      },
      {
        "id": 46,
        "operation": "MIDDLE EAST (OPERATION PALADIN) Lebanon",
        "startDate": "2006-07-12",
        "endDate": "2006-08-14",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Middle East",
        "subtitle": "Lebanon",
        "operations": [
          "Operation Paladin"
        ]
      },
      {
        "id": 47,
        "operation": "NORTH EAST THAILAND (1962-1965) (1965-1968)",
        "startDate": "1962-07-28",
        "endDate": "1968-08-31",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "North East Thailand",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 48,
        "operation": "NORTH EAST THAILAND (UBON only) (1962)",
        "startDate": "1962-05-31",
        "endDate": "1962-07-27",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "North East Thailand",
        "subtitle": "",
        "operations": [
          "Ubon only"
        ]
      },
      {
        "id": 49,
        "operation": "NORTHERN/EASTERN AFRICA (OPERATION FALCONER) (2003)",
        "startDate": "2003-03-18",
        "endDate": "2003-07-22",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Northern/Eastern Africa",
        "subtitle": "",
        "operations": [
          "Operation Falconer"
        ]
      },
      {
        "id": 50,
        "operation": "PERSIAN GULF (OPERATION ACCORDION) (OP ACCORDION)",
        "startDate": "2014-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Persian Gulf",
        "subtitle": "",
        "operations": [
          "Operation Accordion",
          "OP Accordion"
        ]
      },
      {
        "id": 51,
        "operation": "PERSIAN GULF (OPERATION MANITOU) (OP MANITOU)",
        "startDate": "2014-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Persian Gulf",
        "subtitle": "",
        "operations": [
          "Operation Manitou",
          "OP Manitou"
        ]
      },
      {
        "id": 52,
        "operation": "POST WORLD WAR 2 BOMB/MINE CLEARANCE (1945-1955)",
        "startDate": "1945-10-30",
        "endDate": "1955-01-01",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Post World War 2 Bomb/Mine Clearance",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 53,
        "operation": "RED SEA (OPERATION DAMASK VI) (1993)",
        "startDate": "1993-01-13",
        "endDate": "1993-01-19",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Red Sea",
        "subtitle": "",
        "operations": [
          "Operation Damask Vi"
        ]
      },
      {
        "id": 54,
        "operation": "SIERRA LEONE (OPERATION HUSKY) (2001-2003)",
        "startDate": "2001-01-15",
        "endDate": "2003-02-28",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Sierra Leone",
        "subtitle": "",
        "operations": [
          "Operation Husky"
        ]
      },
      {
        "id": 55,
        "operation": "SINGAPORE",
        "startDate": "1950-06-29",
        "endDate": "1960-07-31",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Singapore",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 56,
        "operation": "SOLOMON ISLANDS (OPERATION ANODE)",
        "startDate": "2003-07-23",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Solomon Islands",
        "subtitle": "",
        "operations": [
          "Operation Anode"
        ]
      },
      {
        "id": 5601,
        "operation": "SOLOMON ISLANDS (OPERATION ANODE)",
        "startDate": "2004-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Solomon Islands",
        "subtitle": "",
        "operations": [
          "Operation Anode"
        ]
      },
      {
        "id": 57,
        "operation": "SOLOMON ISLANDS (OPERATION TREK)",
        "startDate": "2000-11-04",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Solomon Islands",
        "subtitle": "",
        "operations": [
          "Operation Trek"
        ]
      },
      {
        "id": 58,
        "operation": "SOLOMONS Guadalcanal (OPERATION PLUMBOB)",
        "startDate": "2000-06-08",
        "endDate": "2000-06-14",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Solomons",
        "subtitle": "Guadalcanal",
        "operations": [
          "Operation Plumbob"
        ]
      },
      {
        "id": 59,
        "operation": "TONGA (OPERATION QUICKSTEP)",
        "startDate": "2006-11-18",
        "endDate": "2006-11-30",
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Tonga",
        "subtitle": "",
        "operations": [
          "Operation Quickstep"
        ]
      },
      {
        "id": 60,
        "operation": "UKRAINE and Superjacent Airspace (OPERATION HARWICK) (OPERATION HARWICK (ZONE A)) (OPERATION HARWICK (ZONE B)) (OPERATION HAWICK) (OPERATION HAWICK (ZONE A)) (OPERATION HAWICK (ZONE B))",
        "startDate": "2014-07-21",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Ukraine and",
        "subtitle": "Superjacent Airspace",
        "operations": [
          "Operation Harwick",
          "Operation Harwick (Zone A)",
          "Operation Harwick (Zone B)",
          "Operation Hawick",
          "Operation Hawick (Zone A)",
          "Operation Hawick (Zone B)"
        ]
      },
      {
        "id": 61,
        "operation": "VIETNAM (1962-1975)",
        "startDate": "1962-01-25",
        "endDate": "1975-04-29",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Vietnam",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 62,
        "operation": "WESTERN ASIA/PERSIAN GULF (1990-1991)",
        "startDate": "1990-08-02",
        "endDate": "1991-06-09",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Western Asia, Persian Gulf",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 63,
        "operation": "WESTERN/SOUTHERN/CENTRAL ASIA (OPERATION FALCONER) (2003)",
        "startDate": "2003-03-18",
        "endDate": "2003-07-22",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Western, Southern, Central Asia",
        "subtitle": "",
        "operations": [
          "Operation Falconer"
        ]
      },
      {
        "id": 64,
        "operation": "WESTERN/SOUTHERN/CENTRAL ASIA (OPERATION SLIPPER) (2001-)",
        "startDate": "2001-10-11",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Western, Southern, Central Asia",
        "subtitle": "",
        "operations": [
          "Operation Slipper"
        ]
      },
      {
        "id": 6401,
        "operation": "WESTERN/SOUTHERN/CENTRAL ASIA (OPERATION SLIPPER) (2001-)",
        "startDate": "2004-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Western, Southern, Central Asia",
        "subtitle": "",
        "operations": [
          "Operation Slipper"
        ]
      },
      {
        "id": 6402,
        "operation": "Counter terrorism efforts (OPERATION AUGURY)",
        "startDate": "2014-07-04",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Counter terrorism efforts",
        "subtitle": "",
        "operations": [
          "Operation Augury"
        ]
      },
      {
        "id": 6404,
        "operation": "Counter terrorism efforts (OPERATION AUGURY)",
        "startDate": "2016-04-28",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Counter terrorism efforts",
        "subtitle": "",
        "operations": [
          "Operation Augury"
        ]
      },
      {
        "id": 6403,
        "operation": "International peace and security (OPERATION VIGILANCE)",
        "startDate": "2006-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "International peace and security",
        "subtitle": "",
        "operations": [
          "Operation Vigilance"
        ]
      },
      {
        "id": 65,
        "operation": "WORLD WAR 1 (1914-1921)",
        "startDate": "1914-08-04",
        "endDate": "1921-09-01",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "World War 1",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 66,
        "operation": "WORLD WAR 2 (1939-1951)",
        "startDate": "1939-09-03",
        "endDate": "1951-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "World War 2",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 67,
        "operation": "YUGOSLAVIA (1992-1994)",
        "startDate": "1992-01-12",
        "endDate": "1994-04-06",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Yugoslavia",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 68,
        "operation": "YUGOSLAVIA (1994-1997)",
        "startDate": "1994-04-07",
        "endDate": "1997-01-24",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Yugoslavia",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 69,
        "operation": "AFRICA Commonwealth Monitoring Force in Zimbabwe",
        "startDate": "1979-12-24",
        "endDate": "1980-12-31",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Africa",
        "subtitle": "Commonwealth Monitoring Force in Zimbabwe",
        "operations": []
      },
      {
        "id": 70,
        "operation": "AFRICA UN Mission for Western Sahara (MINURSO) (OPERATION CEDILLA)",
        "startDate": "1991-06-27",
        "endDate": "1994-12-31",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Africa UN",
        "subtitle": "Mission for Western Sahara",
        "operations": [
          "Minurso",
          "Operation Cedilla"
        ]
      },
      {
        "id": 71,
        "operation": "AFRICA UN Operations in the Congo (UNUC)",
        "startDate": "1960-08-01",
        "endDate": "1961-02-28",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Africa UN",
        "subtitle": "Operations in the Congo",
        "operations": [
          "UNUC"
        ]
      },
      {
        "id": 72,
        "operation": "BALKANS United Nations Special Commission on the Balkans",
        "startDate": "1947-11-26",
        "endDate": "1949-12-31",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Balkans",
        "subtitle": "United Nations Special Commission on the Balkans",
        "operations": []
      },
      {
        "id": 73,
        "operation": "BALKANS United Nations Security Council on the BALKANS",
        "startDate": "1947-01-29",
        "endDate": "1947-12-31",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Balkans",
        "subtitle": "United Nations Security Council on the Balkans",
        "operations": []
      },
      {
        "id": 74,
        "operation": "CYPRUS United Nations Force in Cyprus (UNFICYP)",
        "startDate": "1964-05-14",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Cyprus",
        "subtitle": "United Nations Force in Cyprus",
        "operations": [
          "UNFICYP"
        ]
      },
      {
        "id": 75,
        "operation": "EASTERN/MIDDLE/SOUTHERN AFRICA (NAMIBIA) (1989-1990) (UNTAG) (OPERATION UNTAG)",
        "startDate": "1989-02-18",
        "endDate": "1990-04-10",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Eastern, Middle, Southern Africa",
        "subtitle": "",
        "operations": [
          "Namibia",
          "Untag",
          "Operation Untag"
        ]
      },
      {
        "id": 76,
        "operation": "GULF WAR  United Nations Iran/Iraq Military Observer Group (UNIIMOG)",
        "startDate": "1988-08-11",
        "endDate": "1991-02-28",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Gulf War  ",
        "subtitle": "United Nations Iran, Iraq Military Observer Group",
        "operations": [
          "UNIIMOG"
        ]
      },
      {
        "id": 77,
        "operation": "INDIA & PAKISTAN India Pakistan Observer Mission (UNIPOM)",
        "startDate": "1965-09-20",
        "endDate": "1966-03-22",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "India and Pakistan",
        "subtitle": "India Pakistan Observer Mission",
        "operations": [
          "Unipom"
        ]
      },
      {
        "id": 78,
        "operation": "INDIA & PAKISTAN United Nations MOG in Indian & Pakistan (UNMOGIP)",
        "startDate": "1949-01-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "India and Pakistan",
        "subtitle": "United Nations MOG in Indian and Pakistan",
        "operations": [
          "UNMOGIP"
        ]
      },
      {
        "id": 79,
        "operation": "KOREA United Nations Commission on Korea (UNCOK) (1949 - 1950)",
        "startDate": "1949-01-01",
        "endDate": "1950-06-27",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Korea",
        "subtitle": "United Nations Commission on Korea",
        "operations": [
          "UNCOK"
        ]
      },
      {
        "id": 80,
        "operation": "LEBANON UN Force in Lebanon (UNIFIL)",
        "startDate": "1978-03-23",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Lebanon UN",
        "subtitle": "Force in Lebanon",
        "operations": [
          "UNIFIL"
        ]
      },
      {
        "id": 81,
        "operation": "LEBANON UN Truce Supervision Organisation (UNTSO) (OPERATION UNTSO)",
        "startDate": "1956-06-01",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Lebanon UN",
        "subtitle": "Truce Supervision Organisation",
        "operations": [
          "UNTSO",
          "Operation UNTSO"
        ]
      },
      {
        "id": 82,
        "operation": "MIDDLE EAST Sinai Multi National Force and Observers (SMFO) (OPERATION MAZURKA)",
        "startDate": "1982-02-18",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Middle East",
        "subtitle": "Sinai Multi National Force and Observers",
        "operations": [
          "SMFO",
          "Operation Mazurka"
        ]
      },
      {
        "id": 83,
        "operation": "MIDDLE EAST United Nations Disengagement Observer Force (UNDOF)",
        "startDate": "1974-01-01",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Middle East",
        "subtitle": "United Nations Disengagement Observer Force",
        "operations": [
          "UNDOF"
        ]
      },
      {
        "id": 84,
        "operation": "MIDDLE EAST United Nations Emergency Force Two (UNEF II)",
        "startDate": "1976-07-01",
        "endDate": "1979-07-24",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Middle East",
        "subtitle": "United Nations Emergency Force Two",
        "operations": [
          "UNEF II"
        ]
      },
      {
        "id": 85,
        "operation": "MIDDLE EAST United Nations Yemen Observation Mission (UNYOM)",
        "startDate": "1963-01-01",
        "endDate": "1964-09-04",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Middle East",
        "subtitle": "United Nations Yemen Observation Mission",
        "operations": [
          "UNYOM"
        ]
      },
      {
        "id": 86,
        "operation": "SOMALIA (OPERATION SOLACE) (1992-1994)",
        "startDate": "1992-10-20",
        "endDate": "1994-11-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Somalia",
        "subtitle": "",
        "operations": [
          "Operation Solace"
        ]
      },
      {
        "id": 99997,
        "operation": "Other overseas",
        "startDate": "0001-01-01",
        "endDate": "0001-01-01",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Other overseas",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 99999,
        "operation": "None of the above",
        "startDate": "0001-01-01",
        "endDate": "0001-01-01",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "None of the above",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 100000,
        "operation": "Service within Australia",
        "startDate": "0001-01-01",
        "endDate": "0001-01-01",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Service within Australia",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 100001,
        "operation": "Australian Police Force on a UN Peacekeeping Mission",
        "startDate": "0001-01-01",
        "endDate": "0001-01-01",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Australian Police Force on a Un Peacekeeping Mission",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 100002,
        "operation": "Merchant Mariner",
        "startDate": "0001-01-01",
        "endDate": "0001-01-01",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Merchant Mariner",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 100003,
        "operation": "British Nuclear Testing",
        "startDate": "0001-01-01",
        "endDate": "0001-01-01",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "British Nuclear Testing",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 87,
        "operation": "Unknown",
        "startDate": "2014-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Unknown",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 88,
        "operation": "SUBMARINE SPECIAL FORCE",
        "startDate": "1978-01-01",
        "endDate": "1992-12-31",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Submarine Special Force",
        "subtitle": "",
        "operations": []
      },
      {
        "id": 89,
        "operation": "Peacekeeping Zimbabwe (AUSTRALIAN CONTINGENT RHODESIA)",
        "startDate": "1979-12-24",
        "endDate": "1980-03-31",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Peacekeeping Zimbabwe",
        "subtitle": "",
        "operations": [
          "Australian Contingent Rhodesia"
        ]
      },
      {
        "id": 90,
        "operation": "Somalia (OPERATION IGUANA)",
        "startDate": "1992-10-20",
        "endDate": "1994-11-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": true,
        "isWarlike": false,
        "title": "Somalia",
        "subtitle": "",
        "operations": [
          "Operation Iguana"
        ]
      },
      {
        "id": 91,
        "operation": "Afghanistan (OPERATION HIGHROAD) (2015-)",
        "startDate": "2015-01-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": true,
        "title": "Afghanistan",
        "subtitle": "",
        "operations": [
          "Operation Highroad"
        ]
      },
      {
        "id": 92,
        "operation": "Bougainville & Buka Islands (OPERATION BEL ISI II) (1997-2003)",
        "startDate": "1997-11-20",
        "endDate": "2003-08-26",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Bougainville and Buka Islands",
        "subtitle": "",
        "operations": [
          "Operation Bel Isi II"
        ]
      },
      {
        "id": 93,
        "operation": "Iraq (OPERATION OKRA ZONE A) (OKRA) (2014-)",
        "startDate": "2014-08-09",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Iraq",
        "subtitle": "",
        "operations": [
          "Operation Okra Zone A",
          "Okra"
        ]
      },
      {
        "id": 94,
        "operation": "Middle East & Eastern Europe (OPERATION OKRA ZONE B) (OKRA) (2014-)",
        "startDate": "2014-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Middle East and Eastern Europe",
        "subtitle": "",
        "operations": [
          "Operation Okra Zone B",
          "Okra"
        ]
      },
      {
        "id": 95,
        "operation": "EAST TIMOR (OPERATION TOWER) (UNMIT)",
        "startDate": "1999-06-19",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "East Timor",
        "subtitle": "",
        "operations": [
          "Operation Tower",
          "UNMIT"
        ]
      },
      {
        "id": 9501,
        "operation": "EAST TIMOR (OPERATION TOWER) (UNMIT)",
        "startDate": "2004-07-01",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "East Timor",
        "subtitle": "",
        "operations": [
          "Operation Tower",
          "UNMIT"
        ]
      },
      {
        "id": 96,
        "operation": "EAST TIMOR DETACHMENT (UNTAET) (OPERATION CONCORD)",
        "startDate": "1999-10-25",
        "endDate": "2002-05-19",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "East Timor Detachment",
        "subtitle": "",
        "operations": [
          "UNTAET",
          "Operation Concord"
        ]
      },
      {
        "id": 97,
        "operation": "Gulf War (OPERATION TELIC (UK)) (OPERATION TELIC)",
        "startDate": "1990-08-02",
        "endDate": "2004-06-30",
        "isHazardous": false,
        "isMrcaNonWarlike": false,
        "isMrcaWarlike": false,
        "isOperational": true,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Gulf War",
        "subtitle": "",
        "operations": [
          "Operation Telic (UK)",
          "Operation Telic"
        ]
      },
      {
        "id": 98,
        "operation": "NATO no-fly zone and maritime enforcement in Libya(NNMEOAL)",
        "startDate": "2011-03-31",
        "endDate": "2011-10-30",
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": true,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Nato no-fly zone and maritime enforcement in Libya",
        "subtitle": "",
        "operations": [
          "NNMEOAL"
        ]
      },
      {
        "id": 99,
        "operation": "(OPERATION LITTEN) (LITTEN)",
        "startDate": "2016-08-31",
        "endDate": null,
        "isHazardous": false,
        "isMrcaNonWarlike": true,
        "isMrcaWarlike": false,
        "isOperational": false,
        "isPeacekeeping": false,
        "isWarlike": false,
        "title": "Operation Litten",
        "subtitle": "",
        "operations": [
          "Operation Litten",
          "Litten"
        ]
      }
    ];

    // Sorty operations by start
    OPERATIONS = OPERATIONS.sort(function (pOperationA, pOperationB) {
      var startDateA = new Date(pOperationA.startDate)
      var startDateB = new Date(pOperationB.startDate)
      if (startDateA < startDateB) {
        return -1;
      }
      if (startDateA > startDateB) {
        return 1;
      }
      return 0;
    })

    function datesOverlap(pStartA, pEndA, pStartB, pEndB) {
      if (pStartA < pStartB && pEndA > pStartB) {
        return true
      }
      if (pStartA > pStartB && pStartA < pStartB) {
        return true
      }
      return false
    }

    var operationListElement = document.getElementById('operation-list-items');
    var operationTemplate = document.getElementById('operation-list-item-template');
    operationTemplate.removeAttribute('id');
    operationListElement.removeChild(operationTemplate);

    function urlParameter(pName) {
      var name = pName.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
      var results = regex.exec(window.location.search);
      return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };

    function updateContainerState(pContainer) {
      var button = document.getElementById('upload-button');
      var fileStatus = document.getElementById('file-status');
      var className = 'file-status--uploaded';
      var srElement = fileStatus.getElementsByClassName('sr')[0];

      if (!pContainer.getElementsByClassName('file-upload').length) {
        button.innerText = 'Upload';
        fileStatus.classList.remove(className);
        srElement.innerText = '';
      } else {
        button.innerText = 'Upload another';
        fileStatus.classList.add(className);
        srElement.innerText = 'Success';
      }
    }

    function renderLayout() {
      var fileUploadTemplate = document.getElementById('file-upload-template');
      var fileUploadsContainer = document.getElementById('file-uploads-container');

      updateContainerState(fileUploadsContainer);
    }

    function renderFileUpload(pElement, pDestination, pFileName) {
      var fileUploadElement = pElement.cloneNode(true);
      fileUploadElement.removeAttribute('id');

      fileUploadElement.getElementsByClassName('file-upload__file-name')[0].innerText = pFileName;

      var button = fileUploadElement.getElementsByClassName('uikit-btn')[0];
      button.onclick = function () {
        var fileUploadsContainer = document.getElementById('file-uploads-container');
        fileUploadElement.parentElement.removeChild(fileUploadElement);
        updateContainerState(fileUploadsContainer);
      };

      pDestination.appendChild(fileUploadElement);
    }

    document.getElementById('upload').onchange = function (pEvent) {
      var fileName = pEvent.target.value.split('\\').pop()

      var fileUploadTemplate = document.getElementById('file-upload-template');
      var fileUploadsContainer = document.getElementById('file-uploads-container');

      renderFileUpload(fileUploadTemplate, fileUploadsContainer, fileName);
      updateContainerState(fileUploadsContainer);
    }

    function createYearRange(pStartDate, pEndDate) {
      var startYear = pStartDate.getFullYear();
      var endYear = pEndDate.getFullYear();

      if (startYear === endYear) {
        return startYear;
      } else {
        return startYear + '' + endYear;
      }
    }

    function renderListItemOriginal(pData) {
      var element = operationTemplate.cloneNode(true);
      element.getElementsByTagName('span')[0].innerHTML = pData.operation
      operationListElement.appendChild(element);
    }

    function renderListItemGood(pData) {
      var element = operationTemplate.cloneNode(true);
      var spanElement = element.getElementsByTagName('span')[0];

      var startDate = new Date(pData.startDate);
      var endDate = new Date(pData.endDate)

      if (isNaN(endDate)) {
        endDate = startDate
      }

      var title = document.createElement('div');
      title.innerHTML = pData.title + ' ' + createYearRange(startDate, endDate);

      var subTitle = document.createElement('div');
      subTitle.innerText = pData.subtitle;

      var operations = document.createElement('div');
      var operationsText = pData.operations.length ? pData.operations.join(', ') : '--'
      operations.innerHTML = '<strong>Operation names:</strong> ' + operationsText;

      spanElement.appendChild(title);
      spanElement.appendChild(subTitle);
      spanElement.appendChild(operations);
      operationListElement.appendChild(element);
    }

    function getDate(pYear, pMonth, pDay) {
      if (/\d+/.test(pYear) && /\d+/.test(pMonth) && /\d+/.test(pDay)) {
        var date = new Date(pYear, pMonth, pDay)
        if (!isNaN(date)) {
          return date
        }
      }
      return
    }

    function renderList() {
      var startDate = getDate(
        document.getElementsByName('serviceStartYear')[0].value,
        document.getElementsByName('serviceStartMonth')[0].value,
        document.getElementsByName('serviceStartDay')[0].value
      );

      var endDate = getDate(
        document.getElementsByName('serviceEndYear')[0].value,
        document.getElementsByName('serviceEndMonth')[0].value,
        document.getElementsByName('serviceEndDay')[0].value
      );

      var operations;
      if (startDate && endDate) {
        operations = OPERATIONS.filter(function (pOperation) {
          var operationStartDate = new Date(pOperation.startDate);
          if (isNaN(operationStartDate)) {
            return false
          }

          var operationEndDate = new Date(pOperation.endDate);
          if (isNaN(operationEndDate)) {
            operationEndDate = operationStartDate;
          }

          return datesOverlap(startDate, endDate, operationStartDate, operationEndDate);
        });
      } else {
        operations = OPERATIONS;
      }

      operationListElement.innerHTML = '';

      if (urlParameter('good')) {
        operations.forEach(renderListItemGood);
      } else {
        operations.forEach(renderListItemOriginal);
      }

      var element = operationTemplate.cloneNode(true);
      element.getElementsByTagName('input')[0].value = 'other'
      var spanElement = element.getElementsByTagName('span')[0];
      var title = document.createElement('div');
      title.innerHTML = 'Other';
      spanElement.appendChild(title);
      operationListElement.appendChild(element);
    }

    var form = document.getElementById('service-history');

    form.addEventListener('change', function (pEvent) {
      if (pEvent.target.name === 'operation') {
        document.getElementById('document-uploads').classList.remove('hidden');
        if (form.operation[0].checked) {
          document.getElementById('operation-details').classList.remove('hidden');
          return;
        } else {
          document.getElementById('operation-details').classList.add('hidden');
          return;
        }
      }

      if (/^service(Start|End)(Day|Month|Year)/.test(pEvent.target.name)) {
        renderList()
      }

      if (pEvent.target.name === 'operation-radios') {
        document.getElementById('operation-dates').classList.remove('hidden')
        if (pEvent.target.value === 'other') {
          document.getElementById('operation-other').classList.remove('hidden')
        }
      }

      if (pEvent.target.name === 'serviceStartSame') {
        if (form.serviceStartSame.checked) {
          form.serviceStartDay.value = form.enlistStartDay.value;
          form.serviceStartDay.disabled = true;
          form.serviceStartMonth.value = form.enlistStartMonth.value;
          form.serviceStartMonth.disabled = true;
          form.serviceStartYear.value = form.enlistStartYear.value;
          form.serviceStartYear.disabled = true;
        } else {
          form.serviceStartDay.disabled = false;
          form.serviceStartMonth.disabled = false;
          form.serviceStartYear.disabled = false;
        }
      }

      if (pEvent.target.name === 'serviceEndSame') {
        if (form.serviceEndSame.checked) {
          form.serviceEndDay.value = form.dischargeEndDay.value;
          form.serviceEndDay.disabled = true;
          form.serviceEndMonth.value = form.dischargeEndMonth.value;
          form.serviceEndMonth.disabled = true;
          form.serviceEndYear.value = form.dischargeEndYear.value;
          form.serviceEndYear.disabled = true;
        } else {
          form.serviceEndDay.disabled = false;
          form.serviceEndMonth.disabled = false;
          form.serviceEndYear.disabled = false;
        }
      }
    });

    // Progress percentage
    // document.getElementById("percentage").style.width = "30%";
    document.getElementById("percentage").style.width = "25%";
    document.getElementById("percentage_value").textContent = "25%";

    renderLayout();
    renderList();

  </script>

</body>

</html>
