<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Diagnosis | MyService</title>
  <%- include(partials+"components/layout/head") %>

  <style>
    .pt-required-docs,
    .pt-no-required-docs,
    .pt-upload-list,
    .pt-upload-list-optional,
    .pt-upload-other-docs,
    .pt-cbd-nodoc,
    .pt-tinnitus-response {
      display: none;
    }

  </style>

</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="margin-above--extra margin-below--extra">

            <div id="progressbar">
              <div id="percentage">
                <p id="percentage_value"></p>
              </div>
            </div>
            <h1>Document uploads</span>
            </h1>

            <%# failed to match a CBD %>
            <div class="pt-no-required-docs">
              <h2>Upload your GP's or Specialist's medical report (recommended)</h2>

              <div class="tip--wrapper">
                <h3>Documents you can provide</h3>

                <p>If you can provide your medical diagnosis (GP or specialist's medical report), it will help us process your claim faster. If this is not possible, you can
                  provide
                  supporting documents related to your claim below.</p>
                <p>Documents can be in .pdf, .jpg, or .png format. Each file has a 50MB size limit.</p>
                <h3>Other supporting documents</h3>
                <p>Supporting documents help us assess your claim quickly and accurately. You can provide any of the following:
                </p>
                <ul>
                  <li>receipts, to help us reimburse your diagnosis costs</li>
                  <li>medical imaging reports</li>
                  <li>test results</li>
                  <li>other medical reports</li>
                  <li>incident report (sentinel report)</li>
                  <li>Authority to Participate in Civilian Sport</li>
                  <li>Hazardous Material Exposure Report</li>
                  <li>training programs or itineraries</li>
                </ul>
              </div>
              <div class="form-group" id="no-cbd-upload" style="display: none;">
                <fieldset>
                  <div class="uikit-text-input__label-wrapper--inline-block">
                    <legend class="legend-label">Would you like to upload any other supporting documents?</legend>

                  </div>

                  <div class="radio-toggle">
                    <label class="on label-left" for="no-cbd-upload-yes">
                      <input id="no-cbd-upload-yes" type="radio" name="no-cbd-upload" value="yes">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="no-cbd-upload-no">
                      <input id="no-cbd-upload-no" type="radio" name="no-cbd-upload" value="no">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="pt-required-docs">
              <div class="form-group">

                <div class="uikit-text-input__label-wrapper--inline-block">

                  <%# show if more than 1 cdb docs found %>
                  <span class="pt-il-claim-required-multi-doc">
                    <legend class="legend-label">
                      Do you have any of the following documents?
                    </legend>
                    <span class="display-block">
                      <span class="pt-il-claim-required-docs-list"></span>
                    </span>
                  </span>

                  <%# show if only 1 cbd doc found %>
                  <span class="pt-il-claim-required-mono-doc">
                    Do you have a <span class="pt-il-claim-required-docs-list"></span>
                    document?
                    </legend>
                  </span>

                </div>
                <div class="radio-toggle">
                  <label class="on label-left" for="requiredDocs-yes">
                    <input id="requiredDocs-yes" type="radio" name="requiredDocs" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="requiredDocs-no">
                    <input id="requiredDocs-no" type="radio" name="requiredDocs" value="no">
                    <span>No</span>
                  </label>
                </div>
              </div>

              <% 
        locals.el = {};
        locals.el.message = "If you don't have a diagnosis from a medical practitioner you should consider obtaining one. This will help us to process your claim more efficiently. DVA can reimburse you for the cost of obtaining your diagnosis, regardless of the outcome."; 
        locals.el.message = "Providing documents to support your diagnosis may help us process your claim more efficiently. DVA can reimburse you for any costs involved in seeking a diagnosis."; 
        locals.el.optionalType = "info";
        locals.el.optionalID = "cbd-nudge";
        locals.el.optionalHide = true;
        %>
              <%- include(partials+"components/form-elements/notice", locals) %>

              <div class="pt-upload-list">
                <div class="form-group">

                  <label for="">Select document to upload
                    <span class="hint display-block">Documents can be in .pdf, .jpg, or .png format. Each file has a 50MB size limit.</span>
                  </label>

                  <table class="table-responsive file-upload-default">
                    <tr id="trData1" class="file-upload-default__row">
                      <td>
                        <select class="uikit-text-input input-half pt-doc-type">
                          <option value="">-- Select type --</option>
                          <option value="Proof of residence">Proof of residence</option>
                          <option value="asdfasdf">Part-time study reason</option>
                          <option value="bgggg">Proof of relationship</option>
                        </select>
                      </td>

                      <td>
                        <span class="file-upload-default__document">
                          <a class="file-upload-default__file-name">
                            <%# document name will go in here %>
                          </a>
                        </span>
                      </td>
                      <td class="right">
                        <div>
                          <input type="file" class="file-upload-default__input" id="file-0">
                          <label class="file-upload-default__label" for="file-0">
                            <span class="file-upload-default__button">
                              <span class="uikit-btn small">Upload</span>
                            </span>
                          </label>
                        </div>
                      </td>
                    </tr>

                    <tr class="file-upload-default__row file-upload-default__row--add-another">
                      <td colspan="3">
                        <button id="add-another-doc" class="icon-link-button">
                          <span class="icon far fa-plus-circle"></span>
                          <span class="link">Add another document</span>
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>

              </div>

              <%# Optional extra documents  %>

              <div id="has-docs-no" class="pt-upload-list-optional" style="display: none;">

                <%
            locals.el = {};
              locals.el.question = 'Would you like to upload any other supporting documents?'; 
              locals.el.optionalID = 'other_docs'; 
            %>
                <%- include(partials+"components/form-elements/radio--yes-no", locals) %>
              </div>


              <div class="pt-upload-other-docs">
                <div class="form-group">
                  <table class="table-responsive file-upload-default">
                    <tr id="trData1" class="file-upload-default__row">
                      <td>
                        <span class="file-upload-default__document">
                          Document
                          <a class="file-upload-default__file-name">

                          </a>
                        </span>
                      </td>
                      <td class="right">
                        <div>
                          <input type="file" class="file-upload-default__input" id="file-1">
                          <label class="file-upload-default__label" for="file-1">

                            <span id="document-type-button" class="file-upload-default__button">
                              <span class="uikit-btn small">Upload</span>
                            </span>
                          </label>
                        </div>
                      </td>
                    </tr>

                    <tr class="file-upload-default__row file-upload-default__row--add-another">
                      <td colspan="3">
                        <button id="add-another-doc" class="icon-link-button">
                          <span class="icon far fa-plus-circle"></span>
                          <span class="link">Add another document</span>
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>


            <div class="uikit-page-alerts pt-tinnitus-response" role="alert">
              <p>Waiting for response... </p>
            </div>

            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/il/claim1a'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/'">Save and exit</button>
                <button id="btnNext" class="uikit-btn btnNext">Save and next</button>
              </div>
            </div>


            <%- include(partials+"content/modals/claims-cancel-modal") %>

            <%- include(partials+"content/modals/claims-removefile-modal") %>

          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>



  <script src="/docs/js/jquery-ui.min.js"></script>

  <script src="/docs/js/claims.js"></script>

  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "15%";
    document.getElementById("percentage_value").textContent = "15%";

    $("#single-yes").click(function () {
      $(".single-incident").show("fast");
      $(".over-time").hide();
    });
    $("#single-no").click(function () {
      $(".single-incident").hide();
      $(".over-time").show("fast");
    });

    $("#requiredDocs-yes").click(function () {
      $(".pt-upload-list").show("fast");
      $(".pt-cbd-nodoc").hide("fast");
      $("#has-docs-no").hide("fast");
      $("#cbd-nudge").hide();
    });

    $("#requiredDocs-no").click(function () {
      $(".pt-upload-list").hide("fast");
      $(".pt-upload-list-optional").show("fast");
      $(".pt-cbd-nodoc").show("fast");
      $("#has-docs-no").show("fast");
      $("#cbd-nudge").show("fast");
    });

    $("#other_docs-yes").click(function () {
      $(".pt-upload-other-docs").show("fast");
    });
    $("#other_docs-no").click(function () {
      $(".pt-upload-other-docs").hide("fast");
    });

    getClaimCondition();

    $("#file-0").on("click", function (event) {
      if ($("#trData1 td select :selected").val() == "-- Select type --") {
        // event.preventDefault();
        $("#trData1-error").remove();
        $("#trData1 td").first().prepend(
          "<p id='trData1-error' class='input-error-message' style='margin-bottom: 0.5em; margin-left: 1em;margin-top: -0.25em;'>Please select a document type</p>");
        $("#trData1").addClass("mys-file-uploads__info-item").addClass("has-error");
        return false;
      } else {
        $("#trData1-error").remove();
        $("#trData1").removeClass("mys-file-uploads__info-item").removeClass("has-error");
      }
    });

    $("#no-cbd-upload-yes").on("click", function () {
      $(".pt-required-docs").show("fast");
      $(".pt-upload-list").show("fast");
      $(".pt-il-claim-required-mono-doc").hide();
      $("#requiredDocs-yes").parent().parent().parent().hide();

    });

    $("#no-cbd-upload-no").on("click", function () {
      $(".pt-required-docs").hide("fast");
    });

    var claimData = JSON.parse(sessionStorage.getItem('claimCondition'));


    // option with valila js
    if (claimData.label === 'api-Tinnitus') {

      $('#btnNext').click(function (event) {
        event.stopImmediatePropagation();
        event.preventDefault();
        $('.pt-tinnitus-response').show();

        var oOutput = document.querySelector(".pt-tinnitus-response")
        var oData = new FormData();
        var fileData = $('#file-0').prop('files')[0];
        oData.append("tinnitusData", "{ \"diagnosisDate\": \"2019-07-28\", \"level\": 3}");
        oData.append("audiogramDocument", fileData);

        console.log('uploading: ');
        for (var pair of oData.entries()) {
          console.log(pair[0] + ', ' + pair[1]);
        }
        console.log(fileData.name);


        var oReq = new XMLHttpRequest();
        oReq.open("POST", "https://hearinglossai.govlawtech.com.au/api/tinnitusCheck", false);
        oReq.onload = function (oEvent) {

          if (oReq.status == 202) {
            oOutput.innerHTML = JSON.stringify(oReq);
            console.log(oReq);
            console.log(oEvent);
          } else {
            console.log(oReq);
            oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
          }
        };

        oReq.send(oData);




      });
    }

    // option with jquery
    if (claimData.label === 'Tinnitus') {

      // alert('wrong');

      $('#btnNext').click(function (event) {
        event.stopImmediatePropagation();
        event.preventDefault();
        $('.pt-tinnitus-response').show();

        var formData = new FormData();
        var jsonObj = {
          "diagnosisDate": "2019-07-28", "level": "3"
        };
        // jQuery.each(jQuery('.file-upload-default__input')[0].files, function (i, file) {
        //   // data.append('file-' + i, file);
        //   formData.append('audiogramDocument', file);

        // });

        var fileData = $('#file-0').prop('files')[0];

        formData.append('tinnitusData', JSON.stringify(jsonObj));
        formData.append('audiogramDocument', fileData);


        // curl - X POST "https://hearinglossai.govlawtech.com.au/api/tinnitusCheck"
        //   - H "accept: application/json"
        //   - H "Content-Type: multipart/mixed"
        //   - F tinnitusData = "{ \"diagnosisDate\": \"2019-07-28\", \"level\": 3}"
        //   - F audiogramDocument =@knownToWork.pdf | json_pp

        $.ajax({
          url: 'https://hearinglossai.govlawtech.com.au/api/tinnitusCheck',
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          // method: 'POST',
          type: 'POST', // For jQuery < 1.9
          success: function (data, textStatus, jqXHR) {
            // console.log(jqXHR);

            console.log(data);
            // console.log(textStatus);
            // console.log(JSON.parse(xhr.responseText));

            sessionStorage.setItem('hearingLossApiUrl', data.statusQueryGetUri);
            // $('.pt-tinnitus-response p').html('URL from Heading loss API = ' + JSON.stringify(data.id));
            $('.pt-tinnitus-response p').html('Response from API = ' + JSON.stringify(data.statusQueryGetUri));
            setTimeout(function () {
              // window.location.href = '/auth/claim/il/claim2';
            }, 2000);
          },
          error: function (error) {
            // console.log(JSON.parse(xhr.responseText));
            console.log("Error:");
            console.log(error);
            $('.pt-tinnitus-response p').html(JSON.stringify(error));
          }
        });

      });


    } else {
      // window.location.href = '/auth/claim/il/claim2';
    }
    console.log('claimLabel' + claimData.label);

  </script>
</body>

</html>
