<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: How have you been affected? | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-claims") %>
  <%- include(partials+"header-nom-rep") %>

  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>
      <h1>How have you been affected?</h1>
      <div id="optional-fields-message">All fields are required unless marked (optional).</div>


      <fieldset>
        <legend class="legend-label">Are you likely to leave the ADF in the next 6 months?</legend>
        <div class="radio-toggle">
          <label class="on label-left" for="leaving-yes">
            <input id="leaving-yes" type="radio" name="leaving-adf">
            <span>Yes</span>
          </label>
          <label class="off label-right" for="leaving-no">
            <input id="leaving-no" type="radio" name="leaving-adf">
            <span>No</span>
          </label>
        </div>
      </fieldset>

      <div class="form-group leaving-date" style="display:none;">
        <fieldset>
          <div class="form-group">
            <label class="uikit-text-input__label" for="dd-single">When are you leaving?
              <span>(optional)</span>
              <span class="hint display-block">(DD / MM / YYYY)</span>
            </label>
            <input class="uikit-text-input dd" type="text" name="dd-single" id="dd-single" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
            <input class="uikit-text-input mm" type="text" name="mm-single" id="mm-single" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
            <input class="uikit-text-input yyyy" type="text" name="yyyy-single" id="yyyy-single" maxlength="4" required aria-required="true" aria-label="4 digit year">
          </div>
        </fieldset>
      </div>

      <div class="form-group needs-list" style="display:none;">

        <h4>Tick the boxes that are relevant to you. (optional)
          <span class="hint display-block">Telling us how you have been affected by your condition will help us understand which services are right for you.</span>
        </h4>

        <div class="breakout-compact">
          <fieldset>
            <legend class="legend-label">As a result of my condition, I need...</legend>
            <div class="form-group">
              <p class="noshow" style="display: none;">
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set1" value="medical treatment">
                  <span class="uikit-control-input__text">medical treatment.</span>
                </label>
              </p>
              <p class="noshow" style="display: none;">
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set1" value="transport to/from medical appointments.">
                  <span class="uikit-control-input__text">transport to/from medical appointments.</span>
                </label>
              </p>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set1"
                    value="aids or appliances (for example, hearing aids, oxygen supplies, mobility and functional support).">
                  <span class="uikit-control-input__text">aids or appliances (such as hearing aids, oxygen supplies or mobility support)</span>
                </label>
              </p>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set1" value="modifications to my home or vehicle">
                  <span class="uikit-control-input__text">modifications to my home or vehicle</span>
                </label>
              </p>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set1" value="assistance with personal care (for example, grooming, bathing, dressing).">
                  <span class="uikit-control-input__text">help with personal care (such as grooming, bathing or dressing)</span>
                </label>
              </p>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set1"
                    value="assistance with household activities (for example, cleaning, lawn mowing, gardening).">
                  <span class="uikit-control-input__text">help with household activities (such as lawn mowing or gardening)</span>
                </label>
              </p>
            </div>
          </fieldset>
        </div>

        <div class="breakout-compact">
          <fieldset>
            <legend class="legend-label">My condition meant I was impacted financially by...</legend>
            <div class="form-group">
              <p class="noshow" style="display: none;">
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="paying for medical treatment">
                  <span class="uikit-control-input__text">paying for medical treatment</span>
                </label>
              </p>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="a loss of allowances while serving">
                  <span class="uikit-control-input__text">a loss of allowances while serving</span>
                </label>
              </p>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="being medically downgraded">
                  <span class="uikit-control-input__text">being medically downgraded</span>
                </label>
              </p>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="a delay in my initial employment training">
                  <span class="uikit-control-input__text">a delay in my initial employment training</span>
                </label>
              </p>
              <p class="noshow" style="display: none;">
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="a loss of civilian employment">
                  <span class="uikit-control-input__text">a loss of civilian employment</span>
                </label>
              </p>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="a loss of income">
                  <span class="uikit-control-input__text">a loss of income</span>
                </label>
              </p>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="being unable to work more than 8 hours per week">
                  <span class="uikit-control-input__text">being unable to work more than 8 hours per week</span>
                </label>
              </p>
              <p class="noshow" style="display: none;">
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="taking sick or unpaid leave">
                  <span class="uikit-control-input__text">taking sick or unpaid leave</span>
                </label>
              </p>
            </div>
          </fieldset>
        </div>

        <div class="breakout-compact">
          <fieldset>
            <legend class="legend-label">I am interested in...</legend>
            <div class="form-group">
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set3" value="getting a new job">
                  <span class="uikit-control-input__text">getting a new job</span>
                </label>
              </p>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set3" value="assistance to help me stay in my current job">
                  <span class="uikit-control-input__text">assistance to help me stay in my current job</span>
                </label>
              </p>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set3" value="vocational training">
                  <span class="uikit-control-input__text">vocational training</span>
                </label>
              </p>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set3" value="work experience">
                  <span class="uikit-control-input__text">work experience</span>
                </label>
              </p>
            </div>
          </fieldset>
        </div>

        <div class="breakout-compact line-break-after">
          <fieldset>
            <legend class="legend-label">My condition has impacted my...</legend>
            <div class="form-group">
              <label class="uikit-text-input__label"></label>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set4" value="spouse/partner.">
                  <span class="uikit-control-input__text">partner</span>
                </label>
              </p>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set4" value="child.">
                  <span class="uikit-control-input__text">child</span>
                </label>
              </p>
              <p>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="checkbox" name="needs-set4"
                    value="ability to interact in social situations (for example, with friends and family)">
                  <span class="uikit-control-input__text">ability to interact in social situations, including with friends or family</span>
                </label>
              </p>
            </div>
          </fieldset>
        </div>

        <!-- Tell us what has changed -->
        <fieldset>
          <div class="form-group">
            <label class="uikit-text-input__label" for="textArea">Would you like to tell us anything else? (optional)</label>
            <textarea id="textArea" name="statementText" rows="8"></textarea>
          </div>
        </fieldset>
      </div>









      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/il/claim3'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/il/claim4'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/il/claim7'">Save and next</button>
        </div>
      </div>
      <%- include(partials+"claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"footer") %>


  <script>
    // Progress percentage

    document.getElementById("percentage").style.width = "50%";
    document.getElementById("percentage_value").textContent = "50%";
    // Show and hide needs list
    $("#leaving-yes").click(function () {
      $(".leaving-date").show("fast");
      $(".needs-list").show("fast");
    });
    $("#leaving-no").click(function () {
      $(".leaving-date").hide();
      $(".needs-list").show("fast");
    });

  </script>

</body>

</html>
