<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Diagnosis | MyService</title>
  <%- include(partials+"components/layout/head") %>
  <style>
    .pt-requigulred-docs,
    .pt-no-required-docs,
    .pt-upload-list,
    .pt-upload-list-optional,
    .pt-upload-other-docs,
    .pt-medical-prac {
      display: none;
    }

  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>



  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>
      <h1>Claim representative</span>
      </h1>

      <div class="margin-above--extra margin-below--extra">
        <div class="form-group">
          <legend class="legend-label margin-below--none">Do you wish to nominate a claim representative for this claim?</legend>
          <span class="uikit-text-input__hint">Your representative can receive updates and make queries about this claim on your behalf.</span>
          <div class="radio-toggle margin-above">
            <label class="on label-left" for="rep-nominate-yes">
              <input id="rep-nominate-yes" type="radio" name="rep-nominate">
              <span>Yes</span>
            </label>
            <label class="off label-right" for="rep-nominate-no">
              <input id="rep-nominate-no" type="radio" name="rep-nominate">
              <span>No</span>
            </label>
          </div>
        </div>
        <div class="form-group" id="claim-contact-details" class="margin-above--extra">
          <h3 class="margin-above--large">Representative details</h3>
          <div class="title-field margin-above--large">Representative type</div>
          <select class="uikit-text-input" name="title" id="title" type="text" value="">
            <option>-- Select title --</option>
            <option>Ex-Service organisation</option>
            <option>Legal</option>
            <option>Other</option>
          </select>
          <div class="form-group margin-above">
            <label class="uikit-text-input__label" for="tags">Full name</label>
            <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
          </div>
          <div class="form-group margin-above">
            <label class="uikit-text-input__label" for="tags">Organisation / business name (if applicable)</label>
            <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
          </div>
          <div class="form-group margin-above">
            <label class="uikit-text-input__label" for="tags">Contact phone number</label>
            <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
          </div>
          <div class="form-group margin-above">
            <label class="uikit-text-input__label" for="tags">Email Address</label>
            <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
          </div>
          <h3 class="margin-above--large margin-below">Representative postal address</h3>
          <%- include(partials+"content/address-postal") %>
        </div>
        <div id="save-and-next" class="margin-above--extra" style="display: none">
          <p>Choose <b>save and next</b> to continue.</p>
        </div>
      </div>

      <div class=" pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/il/claim1'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/'">Save and exit</button><button class="uikit-btn btnNext"
            onclick="window.location.href = '/auth/claim/il/claim7'">Save and next</button>
        </div>
      </div>


      <%- include(partials+"content/modals/claims-cancel-modal") %>

      <%- include(partials+"content/modals/claims-removefile-modal") %>

    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>



  <script src="/docs/js/jquery-ui.min.js"></script>

  <script src="/docs/js/claims.js"></script>

</body>

</html>
