<%- include(templates+"header", { claim: "MyService - Request review" , heading: "Decision information" }) %>

<%- include(partials+"components/form-partials/radio", {
  label: "What type of decision do you wish to have reviewed?",
  boxes: [ 
  "Disability pension", 
  "War widow(er) pension", 
  "MRCA liability or compensation", 
  "SRCA liability or compensation", 
  "Service pension, income support supplement or qualifying service",
  "Other (add examples here)"
  ]
}); %>

<div class="form-group formPartials_date" id="date492-container">
  <fieldset>
    <legend class="uikit-text-input__label  legend-override ">
      Enter the date of the letter advising the decision<span class="hint "> (dd / mm / yyyy)</span></legend>
    <input type="number" class="uikit-text-input dd" name="date492-dd" id="date492-dd" maxlength="2"
      aria-label="2 digit day">
    <span aria-hidden="true">/</span>
    <input type="number" class="uikit-text-input mm" name="date492-mm" id="date492-mm" maxlength="2"
      aria-label="2 digit month">
    <span aria-hidden="true">/</span>
    <input type="number" class="uikit-text-input yyyy" name="date492-yyyy" id="date492-yyyy" maxlength="4"
      aria-label="4 digit year">
    <!-- &nbsp; <button class="enter-date uikit-btn uikit-btn--primary">Submit</button> -->
  </fieldset>
</div>

<%- include(partials+"components/form-partials/text", {
  label: "Reference number if available",
  hint: "(optional)"
}); %>

<%- include(partials+"components/form-partials/textarea", { 
  label: "Enter your detailed reason/s for requesting a review",
  hint: "If necessary you may attach as a separate document.",
  id: "reason-text" , modifiers: [ "hintNewLine"]
}); %>

<strong>Supporting evidence</strong> (optional)
<p>Add any relevant documents to support your request. For example the letter advising the decision you wish to have reviewed.
  Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.</p>

<div class="mys doc-upload margin-above--small margin-below--extra">
<div class="file">
  <i class="icon fal fa-file-upload fa-2x"></i>
  <span>Document</span>
</div>
<button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
</div>

  <%- include(forms+"pagination", { pagination: [ { text: "Previous" , link: "/auth/reviews/" },  {
    text: "Cancel",
    link: "#claim-cancel-modal"
  },{
    text: "Save and exit" , link: "/auth/reviews-lights/index?state=one" , modifiers: ["floated" ] }, { text: "Save and next"
    , link: "/auth/reviews-light/reviews-03" , modifiers: ["floated", "primary" ] } ] }) %>

    <%- include(templates+"footer") %>

      <script>


      </script>