<%- include(templates+"header", {
  title: "Confirmation of enrolment - MyService", 
  heading: "Confirmation of enrolment"
}) %>

<h2 class="margin-below">Provide  <span class='user-label-c'>your</span> confirmation of enrolment for 2020</h2>

<%- include(partials+"components/form-partials/yes_no", {
  label: "<span class='user-label-g'>Are you</span> undertaking study in 2020?",
  id: "continuing",
  yes_toggle: "#full-time-container",
  no_toggle: "#explain-container"
}); %>

<%- include(forms+"button_radio", {
  label: "Will this study be full-time or part-time?",
  id: "full-time",
  boxes: [
    {
      text: "Full-time",
      toggle: "#next"
    },
    {
      text: "Part-time",
      toggle: "#explain-part-time-container"
    }
  ],
  modifiers: ["hidden"]
}) %>

<%- include(partials+"components/form-partials/textarea", {
  label: "Briefly describe why <span class='user-label-a'>you</span> won't be studying full-time",
  hint: "<BR/>For example: part-time to complete, medical condition or other.",
  id: "explain-part-time",
  modifiers: ["hidden"]
}); %>

<%- include(partials+"components/form-partials/textarea", {
  label: "Briefly describe why <span class='user-label-a'>you</span> won't be undertaking study in 2020",
  id: "explain",
  modifiers: ["hidden"]
}); %>

<!-- <p>You are required to provide a Confirmation of Enrolment (COE) document for <span class='user-label-f'>your</span> continuing study.</p>
<p>If <span class='user-label-f'>your</span> study details have changed they will be updated to match those shown on the document. </p> -->

<div id="next" class="margin-above" hidden>
  <p>Choose <b>next</b> to continue.</p>
</div>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "/auth/tasks"
    },
    {
      text: "Exit task",
      link: "#open-modal"
    },
    {
      text: "Next",
      link: "/auth/tasks/confirmation-of-enrolment/confirmation-of-enrolment-02",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(partials+"content/modals/tasks-cancel-modal") %>
<%- include(templates+"footer") %>

<script>
  $(document).ready(function () {

    $("input:radio").prop("checked", false);

    $('input[name=continuing]').change(function () {
        var mySelection = $('input[name=continuing]:checked').parent().find("span").text();
        console.log(mySelection)
        if ( mySelection == "No") {
            $("#explain-part-time-container").hide();
            console.log("DSsdfdsfdsf")
        }
      });

  });
</script>

<%- include("confirmation-of-enrolment-state-switcher.ejs") %>


</html>

