<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Service pension | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Required documents</span>
        </h1>
      </div>
    </div>

    <div class="container container--8-column">
      <div class="margin-above--extra margin-below--extra">

        <h3>We need some documents from you to process your claim <span class="hint display-block">Accepted file types include pdf, jpeg and png. Maximum file size is
            50MB.</span></h3>

        <h2 class="margin-above">What we need</h2>

        <div class="mys-file-uploads__items">
            <table class="table-responsive table-responsive--no-border">
                <tbody>
                    <div>
                    </div>
                    <tr class="accordion accordion--open">
                        <td class="file-status file-status--uploaded"><span class="sr"> Success </span></td>
                        <td><span><b >Confirmation of qsaqsa asqasq's enrolment</b></span>
                            <span class="accordion-title__details">For example a letter of acceptance or Confirmation of Enrolment (COE) document from the institution.</span>
                        </td>
                        <td class="right">
                        </td>
                        <td></td>
                        <td><a class="accordion__trigger accordion__trigger--open" href="javascript:void(0);" aria-expanded="true"><span  class="sr">Toggle accordion</span></a></td>
                        <input class="file-upload display-none" type="file" aria-label="fileUpload0">
                    </tr>
                    <tr>
                      <td></td>
                      <td colspan="2" class="td--no-padding">
                          <div class="file-upload file-upload--no-margin">
                              <label class="file-upload__label"><span class="file-upload__document"><a  class="file-upload__file-name file-upload__file-name--uploaded" href="javascript:void(0);">DVA_NODE-DVA_WEB-C526583.pdf</a></span></span></label>
                          </div>
                      </td>
                      <td class="td--no-padding">
                          <span class="file-upload__button"><button  class="uikit-btn small uikit-btn--tertiary" type="button">Remove</button>
                      </td>
                    </tr>
                    <tr class="tr--file-upload">
                        <td></td>
                        <td colspan="2" class="td--no-padding">
                            <div class="file-upload file-upload--no-margin">
                                <label class="file-upload__label"><span class="file-upload__document"><a  class="file-upload__file-name file-upload__file-name--uploaded" href="javascript:void(0);">DVA_NODE-DVA_WEB-C526583.pdf</a></span></span></label>
                            </div>
                        </td>
                        <td class="td--no-padding">
                            <span class="file-upload__button"><button  class="uikit-btn small uikit-btn--tertiary" type="button">Remove</button>
                        </td>
                      </tr>
                    <tr>
                      <td></td>
                      <td class="td--no-padding">
                          <div class="file-upload file-upload--no-margin accordion-title__details">
                              <input class="file-upload__input" type="file" id="uploadAnother0">
                              <label class="file-upload__label" for="uploadAnother0">
                                <span class="file-upload__button">
                                  <button  class="uikit-btn small uikit-btn--another-file" type="button">
                                    Add another
                                  </button>
                                </span>
                              </label>
                          </div>
                      </td>
                      <td></td>
                    </tr>
                    <div>
                        <div class="modal-window modal-window-0" visible="showModal">
                            <div>
                                <a class="modal-close" href="javascript:void(0);" title="Close">Close</a>
                                <h2>This will delete the file permanently.</h2>
                                <p>Are you sure you want to remove the selected file?</p>
                                <div class="modal-buttons">
        
                                    <button class="uikit-btn modal-window-0-delete" type="button" id="delete"> Delete file </button>
                                    <button class="uikit-btn modal-window-0-cancel uikit-btn--tertiary" type="button" id="cancel"> Cancel </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
            </table>
        </div>
      </div>
      <div class="pagination pagination--ss-reverse-order">
        <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Exit task</button>
        <div class="floated">
          <button class="uikit-btn btnNext" id="btnNext">Submit</button>
        </div>
      </div>
    </div> <!-- container end -->
    <%- include(partials+"content/modals/tasks-cancel-modal") %>
    </div>

  </main>



  <%- include(partials+"components/layout/footer") %>


  <script>
    $(Document).ready(function () {

      $("#btnNext").click(function () {
        window.location.href = "/auth/tasks/confirmation-of-enrolment/confirmation-of-enrolment-02"
      });

      $("#btnPrev").click(function () {
        window.location.href = "/auth/tasks/"
      });





    });
  </script>

</body>

</html>
