<%- include(templates+"header", {
  title: "Confirmation of enrolment - MyService", 
  heading: "Confirmation of enrolment"
}) %>

<h2 class="margin-below">Provide  <span class='user-label-c'>your</span> confirmation of enrolment</h2>

<p>You are required to provide a Confirmation of Enrolment (COE) document for <span class='user-label-f'>your</span> continuing study.</p>
<p>If <span class='user-label-f'>your</span> study details have changed they will be updated to match those shown on the document. </p>

<div id="next" class="margin-above">
  <p>Choose <b>next</b> to continue.</p>
</div>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "/auth/tasks"
    },
    {
      text: "Exit task",
      link: "#open-modal"
    },
    {
      text: "Next",
      link: "/auth/tasks/confirmation-of-enrolment/confirmation-of-enrolment-02",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(partials+"content/modals/tasks-cancel-modal") %>
<%- include(templates+"footer") %>

<script>
  $(document).ready(function () {

    $("input:radio").prop("checked", false);

  });
</script>

<%- include("confirmation-of-enrolment-state-switcher.ejs") %>

</html>

