<% if (locals.el.optionalScenario) { 
  var myScenario = locals.el.optionalScenario;
} else {
  var myScenario = 'optional'; 
} %>

<div id="bank_details_supplement" style="display: none;">
  <h2><strong>You may be eligible for the veteran supplement payment</strong></h2>
  <p>If you provide your bank account details we will check your eligibility. If eligible, payments will be made to your nominated account. You will also receive a letter from us
    to confirm your first payment.</p>
  <p>Find out more about the <a href="#">veteran supplement payment</a>.</p>
</div>
<div id="bank_details_supplement_pre_pop" style="display: none;">
  <h2><strong>You may be eligible for the veteran supplement payment</strong></h2>
  <p>If eligible, payments will be made to the bank account shown below. You can update this in your profile. You will also receive a letter from us to confirm your first payment.
  </p>
  <p>Find out more about the <a href="#">veteran supplement payment</a>.</p>
</div>
<div id="mandatory_message" style="display: none;">
  <h2><strong>Provide your bank account details</strong></h2>
  <% 
    locals.el = {};
    locals.el.message = 'This account will be used for all DVA payments.'
  %>
  <%- include(partials+"forms/notice", locals) %>
</div>
<hr id="divider" style="display: none;">
<% 
      locals.el = {};
      locals.el.question = 'Would you like to provide your bank account details?'; 
      locals.el.optionalID = 'bank_details_toggle'; 
      locals.el.optionalHide = true;
%>
<form id="myForm">
  <input type="reset" style="display: none;">
  <%- include(partials+"components/form-elements/radio--yes-no", locals) %>
</form>
<div id="bank_details_empty" style="display: none;">
  <form id="myForm2">
    <%- include(partials+"content/bank-account-details") %>
  </form>
</div>

</div>

<div class="review__wrapper" id="bank_details_read_only" style="display: none;">
  <div class="review__header"></div>
  <div class="review__content">
    <div class="margin-below">
      <div class="review__content--item row">
        <div class="review__content--data col-xs-12 col-sm-4">Account name:</div>
        <div class="review__content--label col-xs-12 col-sm-6">Rebecca Orange</div>
      </div>
      <div class="review__content--item row">
        <div class="review__content--data col-xs-12 col-sm-4">Account number:</div>
        <div class="review__content--label col-xs-12 col-sm-6">7123 8876 0023</div>
      </div>
      <div class="review__content--item row">
        <div class="review__content--data col-xs-12 col-sm-4">BSB:</div>
        <div class="review__content--label col-xs-12 col-sm-6">654 - 788</div>
      </div>
      <div class="review__content--item row">
        <div class="review__content--data col-xs-12 col-sm-4">Financial Institution:</div>
        <div class="review__content--label col-xs-12 col-sm-6">ANZ Bank</div>
      </div>
    </div>
  </div>
</div>

<div id="state-switcher">
  <h3>Page info</h3>
  <div class="review__table">
    <div class="tr">
      <div class="td"><b>Page name</b></div>
      <div class="td">Bank details</div>
    </div>
  </div>

  <h3>Scenarios</h3>
  <% 
  locals.el = new Object();
  locals.el.question = 'Scenarios:';
  locals.el.optionalID = 'ss-scenario';
  locals.el.items = ["Optional","Optional pre-pop"];
%>
  <%- include(partials+"forms/radio", locals) %>
  <!-- </div>         -->

  <script>
    $(Document).ready(function () {

      /* State switcher */

      $(document).keypress(function (e) {
        switch (e.which) {
          case 96: //tilda
            $('#state-switcher').toggle();
            break;
          default:
        }
      });

      hideAll();
      myScenario = '<%-myScenario%>';
      showScenario();

      $("#ss-scenario").change(function () {
        myScenario = $('input[name=ss-scenario]:checked').val();
        showScenario()
      });

      function showScenario() {
        hideAll();
        $("#myForm").trigger("reset");
        $("#myForm2").trigger("reset");
        switch (myScenario) {
          case "optional":
            showOptional();
            $("#optional").prop("checked", true);
            break;
          case "optional_pre-pop":
            showOptionalPrepop();
            $("#optional_pre-pop").prop("checked", true);
            break;
          default:
            break;
        }

      }

      function showOptional() {
        hideAll();
        $("#bank_details_supplement").show();
        $("#divider").show();
        $("#bank_details_toggle").show();
      }

      function showOptionalPrepop() {
        hideAll();
        $("#bank_details_supplement_pre_pop").show();
        $("#divider").show();
        $("#bank_details_read_only").show();
      }

      /* End state switcher */

      $("#myForm").trigger("reset");

      /* Yes to add bank details */

      var add_bank_details;
      $('input[name=bank_details_toggle]').change(function () {
        add_bank_details = $('input[name=bank_details_toggle]:checked').val();
        $("#myForm2").trigger("reset");
        $("#bsb").hide();
        if (add_bank_details == "yes") {
          $("#bank_details_empty").show("fast");
        } else {
          $("#bank_details_empty").hide("fast");
        }
      });

      function hideAll() {
        $("#bsb").hide();
        $("#bank_details_supplement").hide();
        $("#bank_details_supplement_pre_pop").hide();
        $("#mandatory_message").hide();
        $("#mandatory_read_only_message").hide();
        $("#divider").hide();
        $("#bank_details_toggle").hide();
        $("#bank_details_empty").hide();
        $("#bank_details_read_only").hide();
      }

    });

  </script>
</div>
