<% 

var dontInclude = [
  "state-switcher",
  "stateswitcher",
  "email",
  "card-replacement--max-exceeded",
  "card-replacement--address-provisional",
  "cards-replacement-fail",
  "cards-replacement-success",
  "card-replacement--card-on-way",
  "styleguide",
  "cards-data",
  "claims-data",
  "flows",
  "edu-switcher",
  "employment-card",
  "medical-practitioner-card",
  "qs-view-claim",
  "test.ejs",
  "sitemap"
]

%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyService Sitemap</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>

<body>
  <table class="pure-table" style="width: 100%;">
    <thead>
      <tr>
        <th scope="colgroup" colspan="3" style=" font-size: 1.5rem; background: #383838; color: white;">Sitemap</th>
      </tr>
      <tr>
        <th scope="row" style="">Title</th>
        <th scope="row" style="">Heading</th>
        <th scope="row" style="">Location/Link</th>
      </tr>
    </thead>  
    <% sortedClaims.map((claims, index) => { %>
      <% claims.map((claim, i) => { %>
        <% if (!(dontInclude.some(substr => claim.file.includes(substr)))) { %>

          <% if (i === 0) { %>
            <tbody>
              <tr>
                <th scope="col" colspan="3" style="text-align: left; background: #383838; color: white;"><%- claim.claim !== null ? claim.claim : "Other" %></th>
              </tr>
          <% } %>

          <tr>
            <% if (claim.claim !== null && claim.claim.includes("Style Guide")) { %>
              <td><%- claim.heading %> | <%- claim.claim %> | MyService</td>
            <% } else { %>
              <td><%- claim.title !== null ? claim.title : (claim.heading !== null && claim.claim !== null ? `${claim.claim} | ${claim.heading}` : "(No Title Found)") %></td>
            <% } %>
            <td><%- claim.heading !== null ? claim.heading : "(No Heading Found)" %></td>
            <td><a href="<%- claim.file %>"><%- claim.file %></a></td>
          </tr>

          <% if (i === (claims.length - 1)) { %>
            </tbody>
          <% } %>

        <% } %>
      <% }) %>
    <% }) %>
  </table>
</body>
</html>
