<%- include(templates+"header", {
  claim: "16th birthday review", 
  heading: "16th birthday review"
}) %>

<h2 class="margin-below">Provide details for John Smith</h2>

<p>Note that you cannot claim both DVA education assistance and Family Tax Benefit (FTB) payments for a student that is over 16. If you are receiving Family Tax Benefit and wish to continue receiving DVA education assistance, you will need to cancel your Family Tax Benefit with Centrelink.</p><p></p>For more information on your options, contact Education Assistance on <a>1800 555 254</a>.

<hr>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Do you wish to continue to receive Education Assistance from DVA for the student?",
  id: "continue-ask"
}); %>

<%- include(partials+"components/form-partials/notice", {
  message: "Payments will cease when the student turns 16 years.",
  id: "continue-no",
  modifiers: ["hidden"]
}); %>

<%- include(partials+"components/form-partials/text", {
  label: "What is the student's Centrelink Customer Reference Number?",
  hint: "(optional)",
  id: "crn",
  modifiers: ["hidden"]
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Does the student have a Tax File Number?",
  id: "tfn-question",
  modifiers: ["hidden"]
}); %>

<%- include(partials+"components/form-partials/notice", {
  message: "You need to apply for a tax file number from the <a href='' rel='external'>Australian Taxation Office</a> to avoid the payment being taxed at a higher amount.",
  id: "apply-tfn",
  modifiers: ["hidden"]
}); %>

<%- include(partials+"components/form-partials/text", {
  label: "Tax File Number",
  id: "tfn",
  modifiers: ["hidden"]
}); %>


<%- include(forms+"notice", {
  message: `
    <p class='margin-below--mid'>This payment is considered taxable income. If you are approved for this payment and this is your only income this financial year,
      you may not have to pay any tax.</p>
    <p class='margin-below--mid'>However, you may have to pay tax if you have other income this financial year, such as salary or wages.</p>
    <p class='margin-below--mid'>If you think you will have to pay tax, you can ask us to deduct tax instalments from your payment. You can change this amount at
      any time.</p>
    <p class='margin-below--mid'>If you're not sure how much tax to have taken out of your payment, go to the <a class='external-link'
        href='https://www.ato.gov.au/individuals/working/working-as-an-employee/claiming-the-tax-free-threshold/'>Australian Taxation Office website</a> or call the ATO
      Personal Tax Enquiries Line on <a href='tel:132861'>13 28 61</a>.</p>`,
  id: "taxable-income-alert",
  modifiers: ["hidden"]
}) %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Would you like DVA to withhold tax from this payment?",
  id: "withhold",
  modifiers: ["hidden"]
}); %>

<%- include(partials+"components/form-partials/text", {
  label: "How much would you like to withhold per fortnight for tax?",
  hint: "For more information about payments go to <a href='#' rel='external'>the DVA website</a>.",
  id: "withhold-how-much",
  modifiers: ["hidden"]
}); %>

<%- include(partials+"components/form-partials/notice", {
  message: "If you are earning other income, such as salary or wages, you may have to pay additional tax at the end of the financial year.",
  id: "other-income",
  modifiers: ["hidden"]
}); %>



<div id="next" class="margin-above" style="display: none">
  <p>Choose <b>next</b> to continue.</p>
</div>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "/auth/tasks"
    },
    {
      text: "Exit task",
      link: "#open-modal"
    },
    {
      text: "Next",
      link: "/auth/tasks/16th-birthday-review/16br-02",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(partials+"content/modals/tasks-cancel-modal") %>

<script>
  $(document).ready(function () {

    $("input:radio").prop("checked", false);

    $('input[name=continue-ask]').change(function () {
        var mySelection = $('input[name=continue-ask]:checked').parent().find("span").text();
        hideAll();
        if ( mySelection == "Yes") {
          $("#crn-container").show();
          $("#tfn-question-container").show();
        } else {
          $("#continue-no-container").show();
          $("#next").show();
        }
      });

      $('input[name=tfn-question]').change(function () {
        var mySelection = $('input[name=tfn-question]:checked').parent().find("span").text();
        $("#withhold-container input:radio ").prop("checked", false);
        $("#withhold-how-much-container").hide();
        $("#apply-tfn-container").hide();
        if ( mySelection == "Yes") {
          $("#tfn-container").show();
          $("#taxable-income-alert-container").show();
          $("#withhold-container").show();
          $("#next").hide();
        } else {
          $("#apply-tfn-container").show();
          $("#tfn-container").hide();
          $("#taxable-income-alert-container").hide();
          $("#withhold-container").hide();
          $("#next").show();
        }
      });

      $('input[name=withhold]').change(function () {
        var mySelection = $('input[name=withhold]:checked').parent().find("span").text();
        if ( mySelection == "Yes") {
          $("#withhold-how-much-container").show();
          $("#other-income-container").hide();
          $("#next").hide();
        } else {
          $("#withhold-how-much-container").hide();
          $("#other-income-container").show();
          $("#next").show();
        }
      });

    function hideAll(){
      $("#crn-container").hide();
      $("#tfn-question-container").hide();
      $("#continue-no-container").hide();
      $("#withhold-how-much-container").hide();
      $("#other-income-container").hide();
      $("#tfn-container").hide();
      $("#next").hide();
      $("#tfn-question-container input:radio ").prop("checked", false);
      $("#taxable-income-alert-container").hide();
      $("#withhold-container").hide();
    }

  });
</script>

<%- include(templates+"footer") %>
