<%- include(templates+"header", {
  title: "MyService - 16th birthday review", 
  heading: "Review and submit"
}) %>

<%- include(components+"review-submit", {
  claim_title: "Review details for John Smith's 16th birthday review",
  categories: [
    {
      title: "16th birthday review",
      edit_url: "16th-birthday-review-01",
      data: [
        {
          q: "What is the student's Tax File Number?",
          a: "145 677 890"
        },
        {
          q: "What is the student's Centrelink Customer Reference Number? (optional)",
          a: ""
        },
        {
          q: "Are you receiving Family Tax Benefit for this student?",
          a: "No"
        }
      ]
    }
  ],
  modifiers: ["noMarginAbove"]
}) %>

<div id="next" class="margin-above" style="display: none">
  <p>Choose <b>next</b> to continue.</p>
</div>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "16th-birthday-review-01",
    },
    {
      text: "Exit task",
      link: "#open-modal"
    },
    {
      text: "Next",
      link: "16th-birthday-review-03",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(partials+"content/modals/tasks-cancel-modal") %>
<%- include(templates+"footer") %>