<%- include(templates+"header", {
  heading: "AFI Summary",
  claim: "Application for Increase to Disability Pension",
  type: "default",
  modifiers: ["noClaimInTitle"]
}) %>

  <div id="sw-content"></div>

  <%- include(components+"review-submit", {
    claim_title: "Application for Increase to Disability Pension",
    modifiers: ["claimDetails"],
    categories: [
      {
        title: "Worsened conditions",
        data: [
          {
            q: "Select the conditions that have worsened since your last assessment",
            a: `<ul>
                  <li>tinnitus</li>
                  <li>lumbar spondylosis</li>
                  <li>depression</li>
                </ul>`
          }
        ]
      },
      {
        title: "Medcal conditions",
        data: [
          "DR NICK RIVIERA (GENERAL PRACTITIONER)",
          {
            q: "Practice",
            a: "Ryde Medical Centre"
          },
          {
            q: "Suburb",
            a: "North Ryde"
          },
          {
            q: "Phone",
            a: "02 9807 1230"
          },
          "Dr Jamie Lee",
          {
            q: "Practice",
            a: "Ryde Medical Centre"
          },
          {
            q: "Suburb",
            a: "North Ryde"
          },
          {
            q: "Phone",
            a: "02 9807 1230"
          },
          "Dr Marta Machalevski",
          {
            q: "Practice",
            a: "St Vincent’s Hospital"
          },
          {
            q: "Suburb",
            a: "Potts Point"
          },
          {
            q: "Phone",
            a: "02 9487 9111"
          },
          "Christian San Lucas",
          {
            q: "Practice",
            a: "Gosford Hospital"
          },
          {
            q: "Suburb",
            a: "Gosford"
          },
          {
            q: "Phone",
            a: "02 9487 9385"
          }
        ]
      },
      {
        title: "Employment",
        data: [
          {
            q: "Are you employed",
            a: "Yes"
          },
          {
            q: "Name of current employer",
            a: "Springfield Nuclear Power Plant"
          },
          {
            q: "Average hours per week",
            a: "20"
          }
        ]
      }
    ]
  }) %>

  <%- include(forms+"pagination", {
    modifiers: ["marginAbove"],
    pagination: [
      {
        text: "See all my claims",
        link: "/auth/claim"
      },
      {
        text: "Print",
        link: "",
        modifiers: ["floated"]
      }
    ]
  }) %>

  <%- include("view-state-switcher", { claim: "Application for Increase to Disability Pension" }) %>

<%- include(templates+"footer") %>