<%- include(templates+"header", {
    heading: "Education Assistance for Kim",
    claim: "Education Assistance for Kim",
    type: "default",
    modifiers: ["noClaimInTitle"]
  }) %>
  
    <div id="sw-content"></div>
  
    <%- include(components+"review-submit", {
      claim_title: "Education assistance",
      categories: [
        {
          title: "Getting started",
          data: [
                {
                  q: "Student's date of birth",
                  a: "01/01/2002"
                },
                {
                  q: "The student is my",
                  a: "child"
                },
                {
                  q: "Do you receive Family Tax Benefit for the student?",
                  a: "Yes"
                },
                {
                  q: "What is your Customer Reference Number (CRN)?",
                  a: "200089733T"
                },
                {
                  q: "Do you have a shared care arrangements in place for this student?",
                  a: "Yes"
                },
                {
                  q: "What percentage of care do you have for the student?",
                  a: "60%"
                },
                {
                  q: "Give name of the other parent/guardian",
                  a: "Jane"
                },
                {
                  q: "Surname of the other parent/guardian",
                  a: "Smith"
                },
                {
                  q: "Home phone number of the other parent/guardian",
                  a: "Australia +61 882224444"
                },
                {
                  q: "Mobile phone number of the other parent/guardian",
                  a: "Australia +61 882225566"
                },
                {
                  q: "Email of the other parent/guardian",
                  a: "janesmith@gmail.com"
                },
                {
                  q: "Is the student employed full time?",
                  a: "No"
                }
          ]
        },
        {
          title: "Veteran details",
              data: [
                {
                      q: "Veteran's given name",
                      a: "Jane"
                },
                {
                      q: "Veteran's surname",
                      a: "Smith"
                },
                {
                      q: "Veteran's date of birth",
                      a: "01/01/1980"
                }
              ]
            },
        {
          title: "Student's details",
              data: [
                {
                      q: "Student's title",
                      a: "Mr"
                },
                {
                      q: "Student's given name",
                      a: "Joe"
                },
                {
                      q: "Student's surname",
                      a: "Smith"
                },
                {
                      q: "Student's gender",
                      a: "Male"
                },
                {
                      q: "Student's level of study",
                      a: "Tertiary - University"
                },
                {
                      q: "Is the student married or in a de facto relationship?",
                      a: "No"
                },
                {
                      q: "Where is the student living?",
                      a: "Away from home"
                },
                {
                      q: "Select the statement that best describes why the student is living away from home",
                      a: "Home environment is detrimental to educational progress"
                }
          ]
        },
        {
          title: "Living arrangements",
              data: [
                {
                      q: "Residential address",
                      a: "55 CURLEW CCT <br> WULAGI NT 0812 <br> Australia"
                },
                {
                      q: "Postal address",
                      a: "Same as residential"
                },
                {
                      q: "What is Joe's living situation?",
                      a: "Renting"
                },
                {
                      q: "When did Joe start renting?",
                      a: "01/01/2019"
                },
                {
                      q: "Does Joe share the cost of rent with anyone else?",
                      a: "Yes"
                },
                {
                      q: "How much rent does Joe pay every 2 weeks?",
                      a: "$600"
                }
              ]
            },
        {
          title: "Study details",
              data: [
                {
                      q: "Is Joe enrolled?",
                      a: "No"
                },
                {
                      q: "Where will Joe be studying?",
                      a: "NSW, Australia"
                },
                {
                      q: "Insitution name",
                      a: "UNIVERSITY OF NSW - UNSW"
                },
                {
                      q: "Course name / Degree name",
                      a: "Bachelor of Engineering (Bioinformatics/Software)"
                },
                {
                      q: "Date that Joe will start studying",
                      a: "01/01/2020"
                },
                {
                      q: "Approximate date that Joe expects to complete their course/degree",
                      a: "01/01/2023"
                },
                {
                      q: "Will Joe be studying full time?",
                      a: "No"
                },
                {
                      q: "Tell us more about Joe's situation. Why will Joe be studying part time?",
                      a: "Medical reasons"
                }
              ]
        },
        {
          title: "Nominate an additional contact",
              data: [
                {
                      q: "Contact's full name",
                      a: "John Smith"
                },
                {
                      q: "Contact's phone number",
                      a: "0214525555"
                },
                {
                      q: "Contact's email address",
                      a: "ClaimNom@gmail.com"
                },
                {
                      q: "Contact's relationship to you",
                      a: "Brother"
                }
              ]
        },
        {
          title: "Claim Representative",
              data: [
                {
                      q: "Do you wish to nominate a claim representative to receive updates and query about this claim on your behalf?",
                      a: "Yes"
                },
                {
                      q: "Given name",
                      a: "Jane"
                },
                {
                      q: "Surname",
                      a: "Smith"
                },
                {
                      q: "Phone number",
                      a: "Australia +61 421555666"
                },
                {
                      q: "Email address",
                      a: "janesmith@gmail.com"
                },
                {
                      q: "Relationship to you",
                      a: "Sister"
                },
                {
                      q: "Address",
                      a: "G 55 CURRIE ST <br> ADELAIDE SA 5000 <br> AU"
                }
              ]
            },
        {
          title: "Financial details",
              data: [
                {
                      q: "Does Joe have a tax file number?",
                      a: "No"
                }
              ]
        }
      ]
    }) %>
  
    <%- include(forms+"pagination", {
      modifiers: ["marginAbove"],
      pagination: [
        {
          text: "See all my claims",
          link: "/auth/claim"
        },
        {
          text: "Print",
          link: "",
          modifiers: ["floated"]
        }
      ]
    }) %>
  
    <%- include("view-state-switcher", { claim: "Education Assistance" }) %>
  
  <%- include(templates+"footer") %>