<%- include(templates+"header", {
    heading: "Education Assistance for Kim",
    claim: "Education Assistance for Kim",
    type: "default",
    modifiers: ["noClaimInTitle"]
  }) %>

<div id="sw-content"></div>

<%- include(components+"review-submit", {
      claim_title: "Education assistance",
      categories: [
        {
          title: "Diagnosis",
          data: [
                {
                  q: "What is your diagnosis?",
                  a: "lumbar spondylosis"
                },
                {
                  q: "Did the condition occur on a specific date?",
                  a: "Yes"
                },
                {
                  q: "When did it happen?",
                  a: "12/12/2005"
                }
          ]
        },
        {
          title: "Third party compensation",
              data: [
                {
                      q: "Have you received compensation outside of DVA for this condition?",
                      a: "Yes"
                },
                {
                      q: "Did you have a lawyer represent you for this compensation?",
                      a: "Yes"
                },
                {
                      q: "Lawyer name",
                      a: "Gerard Depardieu"
                },
                {
                    q: "Firm name",
                    a: "Depardieu and partners"
                },
                {
                    q: "Phone number",
                    a: "02 4466 7788"
                },
                {
                    q: "Email address",
                    a: "gerard@depardieupartners.com.au"
                }
              ]
            },
        {
          title: "Medical practitioner",
              data: [
                {
                      q: "Do you have a General Practitioner for this condition?",
                      a: "Yes"
                },
                {
                      q: "Doctor's name",
                      a: "Elisabeth Appleton"
                },
                {
                      q: "Phone number",
                      a: "02 4466 7788"
                },
                {
                      q: "Medical practice",
                      a: "Ocean road doctors"
                },
                {
                      q: "Postal address",
                      a: "17 Ocean Road Summary Bay, NSW, 2789"
                }
          ]
        },
        {
          title: "How did it happen?",
              data: [
                {
                      q: "Which statement best describes how your condition happened?",
    a: "having a lumbar intervertebral disc prolapse before the clinical onset of lumbar spondylosis at the level of the
    intervertebral disc prolapse"
                },
                {
                      q: "Provide a brief description of what led to your condition",
                      a: "test"
                },
                {
                      q: "Upload supporting documents",
                      a: "<a href='#'>MRI.jpg (1,240 KB JPG)</a>"
                }
              ]
            },
        {
          title: "Service history",
              data: [
                {
                      q: "Service number",
                      a: "314159"
                },
                {
                      q: "Date of enlistment",
                      a: "1/9/1939"
                },
                {
                      q: "Date of discharge",
                      a: "2/9/1945"
                },
                {
                      q: "Course name / Degree name",
                      a: "Bachelor of Engineering (Bioinformatics/Software)"
                }
              ]
        },
        {
          title: "When your condition started",
              data: [
                {
                      q: "Branch/arm",
                      a: "Navy"
                },
                {
                      q: "Type of service",
                      a: "Full time"
                },
                {
                      q: "Start date",
                      a: "1/9/1939"
                },
                {
                      q: "End date",
                      a: "2/9/1945"
                },
                {
                    q: "Operation name",
                    a: "Cockpit"
                },
                {
                    q: "Operation start date",
                    a: "19/4/1944"
                },
                {
                    q: "Operation end date",
                    a: "20/4/1944"
                },
                {
                    q: "Upload service records",
                    a: "<a href='#'>Service records.pdf (22,140 KB PDF)</a>"
                }
              ]
        },
        {
          title: "How have you been affected?",
              data: [
                {
                      q: "Are you likely to leave the ADF in the next 6 months?",
                      a: "Yes"
                },
                {
                      q: "When are you leaving?",
                      a: "11/02/2018"
                },
                {
                      q: "As a result of my condition, I require...",
                      a: "modifications to my home or vehicle"
                },
                {
                      q: "I am interested in...",
                      a: "getting a new job."
                },
                {
                      q: "My condition has impacted my...",
                      a: "ability to interact in social situations (eg. interacting with friends and family)."
                },
                {
                      q: "Would you like to tell us anything else?",
    a: "I have trouble picking up my baby so I cannot help much around the house. My partner has to help out a lot and
    sometimes will miss days from work to care for them because i am unable to."
                },
                {
                      q: "Address",
                      a: "G 55 CURRIE ST <br> ADELAIDE SA 5000 <br> AU"
                }
              ]
            },
        {
          title: "Claim representative",
              data: [
                {
                      q: "Do you wish to nominate a claim representative for this claim?",
                      a: "Yes"
                },
                {
                    q: "Representative type",
                    a: "lawyer"
                },
                {
                    q: "Full name",
                    a: "Gerard Depardieu"
                },
                {
                    q: "Phone number",
                    a: "02 4466 7788"
                },
                {
                    q: "Email address",
                    a: "gerard@depardiepartners.com.au"
                },
                {
                    q: "Postal address",
                    a: "17 Sugartree Lane Fluff, NSW, 2789"
                }
              ]
        },
        {
            title: "Veteran Payment",
            data: [
                {
                    q: "Does your medical condition prevent you from working more than 8 hours a week?",
                    a: "Yes"
                },
                {
                    q: "Do you require financial support whilst your claim is being processed?",
                    a: "Yes"
                }
            ]
        },
        {
            title: "Declaration",
            data: [
                {
                    q: "I acknowledge as a current serving member, the information provided in this claim and its determination will be
                    shared with the Department of Defence",
                    a: "Yes"
                },
                {
                    q: "Do you require financial support whilst your claim is being processed?",
                    a: "Yes"
                }
            ]
        }
      ]
    }) %>

<%- include(forms+"pagination", {
      modifiers: ["marginAbove"],
      pagination: [
        {
          text: "See all my claims",
          link: "/auth/claim"
        },
        {
          text: "Print",
          link: "",
          modifiers: ["floated"]
        }
      ]
    }) %>

<%- include("view-state-switcher", { claim: "Education Assistance" }) %>

<%- include(templates+"footer") %>