<%- include(templates+"header", {
    heading: "Mental Health Treatment (NLHC)",
    claim: "Mental Health Treatment (NLHC)",
    type: "default",
    modifiers: ["noClaimInTitle"]
  }) %>
  
    <div id="sw-content"></div>
  
    <%- include(components+"review-submit", {
      claim_title: "Education assistance",
      categories: [
        {
          title: "Eligibility",
          data: [
                {
                  q: "Continuous full-time service?",
                  a: "Yes"
                },
                {
                    q: "Disaster relief service?",
                    a: "No"
                },
                {
                    q: "Border protection service?",
                    a: "Yes"
                },
                {
                    q: "Serious Training incident?",
                    a: "No"
                }
                ]
        }, {
            title: "Bank details",
            data: [
                {
                    q: "Account name",
                    a: "Alex Kirby"
                },
                {
                    q: "BSB",
                    a: "123-456"
                },
                {
                    q: "Account number",
                    a: "1234 5678"
                }
            ]
        },
        ,
        {
            title: "Declaration",
            data: [
                {
                    q: "I acknowledge as a current serving member, the information provided in this claim and its determination will be shared with the Department of Defence",
                    a: "Yes"
                }
              ]
        }
      ]
    }) %>
  
    <%- include(forms+"pagination", {
      modifiers: ["marginAbove"],
      pagination: [
        {
          text: "See all my claims",
          link: "/auth/claim"
        },
        {
          text: "Print",
          link: "",
          modifiers: ["floated"]
        }
      ]
    }) %>
  
    <%- include("view-state-switcher", { claim: "Mental Health Treatment (NLHC)" }) %>
  
  <%- include(templates+"footer") %>