<%- include(templates+"header", {
    heading: "Application for Permanent Impairment assessment",
    claim: "Application for Permanent Impairment assessment",
    type: "default",
    modifiers: ["noClaimInTitle"]
  }) %>
  
    <div id="sw-content"></div>
  
    <%- include(components+"review-submit", {
        claim_title: "Application for Permanent Impairment assessment",
        modifiers: ["marginBelow", "claimDetails"],
        categories: [
          {
            title: "Conditions",
            edit_url: "/auth/claim/permanent-impairment/permanent-impairment-03",
            data: [
              {
                q: "Select the accepted conditions that are impacting your lifestyle:",
                a: `<ul>
                      <li>Osteoarthritis</li>
                      <li>Depression</li>
                    </ul>`
              },
              {
                q: "Select any already assesed conditions you would like to have reassessed:",
                a: `<ul>
                    <li>Tinnitus</li>
                  </ul>`
              }
            ]
          },
          {
            title: "Condition details",
            edit_url: "/auth/claim/permanent-impairment/permanent-impairment-03",
            data: [
              {
                q: "Are you and your doctor expecting any further improvement in your condition?",
                a: "No"
              }
            ]
          },
          ,
          {
            title: "Medical practitioners",
            edit_url: "/auth/claim/permanent-impairment/permanent-impairment-04",
            data: [
              "Medical practitioner",
              {
                q: "Doctor name",
                a: "Dr Alana Mills"
              },
              {
                q: "Practice name",
                a: "Orthosports"
              },
              {
                q: "Which of the conditions you are having assessed are treated by this practitioner:",
                a: `<ul>
                    <li>Osteoarthritis</li>
                  </ul>`
              },
              "Medical practitioner",
              {
                q: "Doctor name",
                a: "Dr Duncan Appleton"
              },
              {
                q: "Practice name",
                a: "Appleton Pyschiatrists"
              },
              {
                q: "Which of the conditions you are having assessed are treated by this practitioner:",
                a: `<ul>
                    <li>Depression</li>
                  </ul>`
              }
            ]
          }
        ]
      }) %>
  
    <%- include(forms+"pagination", {
      modifiers: ["marginAbove"],
      pagination: [
        {
          text: "See all my claims",
          link: "/auth/claim"
        },
        {
          text: "Print",
          link: "",
          modifiers: ["floated"]
        }
      ]
    }) %>
  
    <%- include("view-state-switcher", { claim: "Permanent Impairment assessment" }) %>
  
  <%- include(templates+"footer") %>