<%- include(templates+"header", {
    heading: "Qualifying service",
    claim: "Qualifying service",
    type: "default",
    modifiers: ["noClaimInTitle"]
  }) %>
  
    <div id="sw-content"></div>
  
    <%- include(components+"review-submit", {
        claim_title: "Qualifying service",
        modifiers: ["claimDetails"],
        categories: [
          {
            title: "Service",
            edit_url: "/auth/claim/qualifying_service/qs-1",
            data: [
              {
                q: "Type of claim",
                a: "Australian Defence Force"
              },
              {
                q: "Former names",
                a: `<ul>
                      <li>Joseph Smith</li>
                      <li>Jo Smith</li>
                    </ul>`
              },
              {
                q: "Partner name",
                a: "Mrs Joe Bloggs"
              }
            ]
          },
          {
            title: "Service History",
            edit_url: "/auth/claim/qualifying_service/qs-2",
            data: [
              "Service",
              {
                q: "Service number",
                a: "123 456 789 K"
              },
              {
                q: "Type of service",
                a: "Permanent"
              },
              {
                q: "Date of enlistment",
                a: "21 / 09 / 1945"
              },
              {
                q: "Date of discharge",
                a: "21 / 06 / 1949"
              },
              {
                q: "Branch of service",
                a: "Navy"
              },
              "Operation",
              {
                q: "Conflict name",
                a: "Afghanistan"
              },
              {
                q: "Operation name",
                a: "Op Slipper"
              },
              {
                q: "Start date",
                a: "21 / 09 / 1945"
              },
              {
                q: "End date",
                a: "21 / 06 / 1949"
              }
            ]
          }
        ]
      }) %>
  
    <%- include(forms+"pagination", {
      modifiers: ["marginAbove"],
      pagination: [
        {
          text: "See all my claims",
          link: "/auth/claim"
        },
        {
          text: "Print",
          link: "",
          modifiers: ["floated"]
        }
      ]
    }) %>
  
    <%- include("view-state-switcher", { claim: "Qualifying service" }) %>
  
  <%- include(templates+"footer") %>