<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>MyService</title>
  <%- include(partials+"components/layout/head") %>

  <!-- <link rel="stylesheet" type="text/css" href="coc-proto-only.css"> -->

</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>


  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>

  <main>
    <section>
      <div class="container margin-above margin-below--extra">
        <section>
          <!-- <div class="row"> -->
            <!-- <div class="col-md-offset-2 col-md-8"> -->
              <div class="back-button">
                <a href="/auth"><i class="fal fa-arrow-left fa-fw"></i>Back to home</a>
              </div>
              <h1 class="margin-above--none margin-below--mid">Notify of overseas travel</h1>
              <p>You are required to notify DVA of overseas travel within 14 days of departure (28 days if you live
                overseas or receive remote area assistance). If you are moving overseas permanently you should inform us
                of your travel by <a href="/auth/profile/residential-address/residential-address-01">updating your
                  residential address</a>.</p>

                <p>
                  For details on how overseas travel may affect your benefits visit <a href="https://www.dva.gov.au/financial-support/income-support/what-changes-your-payments/your-property-or-accommodation-0"  rel="external">Travelling or Living
                    Overseas</a>.
                </p>

                <button class="uikit-btn uikit-btn--primary"
                  onclick="location.href='/auth/profile/overseas-travel/overseas-travel-01'">Add travel</button>

                <div id="past-transactions">
                  <hr>
                  <h2 class="font-weight--heavy margin-below--small">Reported travel</h2>
                  <div class="horizontal-card-section">

                    <div id="card-hidden" class="card card--horizontal card--single status-flag">
                      <div class="card-horizontal__status">
                        <p> <strong>Travel to Italy</strong></p>
                        <!-- <p>29 Dec 2019</p> -->
                      </div>
                      <div class="card-horizontal__title">
                        <p>Departure: 12/12/2020</p>
                        <p>Return: 13/01/2021</p>
                      </div>
                      <div class="card-horizontal__buttons">
                        <a class="card-horizontal__link" href="#open-delete-item-modal">Delete</a>
                        <a class="card-horizontal__link"
                          href="/auth/profile/overseas-travel/overseas-travel-01-prepop">Edit</a>
                      </div>
                    </div>

                    <div id="card-hidden" class="card card--horizontal card--single status-flag">
                      <div class="card-horizontal__status">
                        <p> <strong>Travel to Mauritius</strong></p>
                        <!-- <p>29 Dec 2019</p> -->
                      </div>
                      <div class="card-horizontal__title">
                        <p>Departure: 21/01/2021</p>
                        <p>Return: No return date</p>
                      </div>
                      <div class="card-horizontal__buttons">
                        <a class="card-horizontal__link" href="#open-delete-item-modal">Delete</a>
                        <a class="card-horizontal__link"
                          href="/auth/profile/overseas-travel/overseas-travel-01-prepop">Edit</a>
                      </div>
                    </div>

                    <br />
                    <p>Only current and upcoming travel will be shown here. If you wish to discuss travel arrangements
                      that are not listed please contact DVA.</p>
                  </div>
                </div>
        </section>
      </div>
    </section>
    <div id="notify-update-success" class="toast-container" style="display: none;">
      <button class="uikit-btn toast" role="alert" type="button">
        <div class="toast__type toast__type--success">
          <span class="sr">Success</span>
        </div>
        <div class="toast__message">
          <p>Your notification of overseas travel has been submitted successfully.</p>
        </div>
      </button>
    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <%- include("index-ss") %>
  <%- include("delete-item-modal") %>
</body>
<script>

  function stateSwitcher() {

    $("#past-transactions").hide();
    switch (pastTransactions) {
      case "none":
        break;
      case "some":
        $("#past-transactions").show();
        $("#card-hidden").show();
        break;
      default:
        break;
    }
  }

</script>

</html>