<%- include(templates+"header", {
  title: "Notify of overseas travel",
  heading: "Travel details"
})%>


<%- include(forms+"prepop/country-dropdown", {
  label: "What country will you be spending the most time in?",
  id: "country"
}) %>

<%#- include(partials+"components/form-partials/date", {
  label: "Departure date"
}); %>

<div class="form-group formPartials_date " id="date439-container">
  <fieldset>
    
      <legend class="uikit-text-input__label  legend-override ">
    Departure date<span class="hint "> (dd / mm / yyyy)</span></legend>

    
    <input type="number" class="uikit-text-input dd" name="date439-dd" id="date439-dd" maxlength="2" aria-label="2 digit day" value="12">
    <span aria-hidden="true">/</span>
    

    <input type="number" class="uikit-text-input mm" name="date439-mm" id="date439-mm" maxlength="2" aria-label="2 digit month" value="12">

    <span aria-hidden="true">/</span>
    <input type="number" class="uikit-text-input yyyy" name="date439-yyyy" id="date439-yyyy" maxlength="4" aria-label="4 digit year" value="2020">

    
  </fieldset>
</div>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Do you have a return date?",
  id: "return-date-question",
  yes_toggle: "#return-date-container",
  no_toggle: "#6-weeks-container"
}); %>

<%#- include(partials+"components/form-partials/date", {
  label: "Return date",
  id: "return-date"
}); %>

<div class="form-group formPartials_date " id="return-date-container">
  <fieldset>
    
      <legend class="uikit-text-input__label  legend-override ">
    Return date<span class="hint "> (dd / mm / yyyy)</span></legend>

    
    <input type="number" class="uikit-text-input dd" name="return-date-dd" id="return-date-dd" maxlength="2" aria-label="2 digit day" value="13">
    <span aria-hidden="true">/</span>
    

    <input type="number" class="uikit-text-input mm" name="return-date-mm" id="return-date-mm" maxlength="2" aria-label="2 digit month" value="01">

    <span aria-hidden="true">/</span>
    <input type="number" class="uikit-text-input yyyy" name="return-date-yyyy" id="return-date-yyyy" maxlength="4" aria-label="4 digit year" value="2021">

    
  </fieldset>
</div>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Are you likely to be overseas for more than 6 weeks?",
  id: "6-weeks",
  modifiers: ["hidden"]
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Will you be paying rent in Australia while you are overseas?",
  id: "rent",
  yes_toggle: "return-date"
}); %>

<%- include(partials+"components/form-partials/checkbox", {
  label: "Select any of the following people travelling with you:",
  id: "who-else",
  boxes: [
    {
        text: "Jane Citizen"
    },
    {
        text: "Tim Citizen"
    },
    {
        text: "Amy Citizen"
    }
  ]
}); %>

<%- include(partials+"components/form-partials/textarea", {
  label: "Add any further information about your trip that you think is important for DVA to know:"
}); %>


  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/profile/overseas-travel"
    },
      {
        text: "Submit",
        link: "/auth/profile/overseas-travel/",
        modifiers: ["floated", "primary"],
        id: "submit"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>



<script>
  function stateSwitcher() {
  }

  $('[name=country]').val( "italy" );


  $("#return-date-question-1").prop("checked", true);
   $("#rent-1").prop("checked", true);
  $("#who-else-1").prop("checked", true);
  $("#who-else-2").prop("checked", true);

  
</script>

<%- include(partials+"components/layout/footer") %>
<%- include(partials+"content/modals/delete-modal") %>
<%#- include("category-page-ss") %>

