<%- include(templates+"header", {
  claim: "MyService - Transport",
  heading: "Book transport"
}) %>

<%- include(partials+"components/form-partials/notice", {
  message: "For details of your eligibility for transport refer to the <a href='https://www.dva.gov.au/factsheet-hsv03-dva-arranged-transport-under-repatriation-transport-scheme' class='external-link'>factsheet</a>. If you have further questions call DVA transport on <a>1800 550 455</a>"
}); %>

<%- include(partials+"components/form-partials/radio", {
  label: "Describe travel:",
  id: "describe-travel",
  boxes: [
    { 
      text: "To appointment and back"
    },
    {
      text: "To appointment only"
    },
    {
      text: "Return from appointment only"
    }
  ]
}); %>

<div id="pickup-summary"  hidden>
    <h2><span class="font-weight-heavy">Pick-up address</span></h2>
    <div id="prepop-table">
      <legend class="legend-label">Is this your pick up address?</legend>
      <div class="table" >
        <div class="tr">
          <div class="td">Unit 3/41 Constitution Ave</div>
        </div>
        <div class="tr">
          <div class="td">Jamison Appartments</div>
        </div>
        <div class="tr">
          <div class="td">Canberra ACT 2612 </div>
        </div>
      </div>
      <%- include(partials+"components/form-partials/yes_no", {
        label: "",
        id: "prepop"
      }); %>
    </div>
</div>

<div id="pickup-address" hidden>
    <%- include(partials+"components/form-partials/text", {
      label: "Address line 1",
      modifiers: ["inputFullLength"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Address line 2",
      hint: "(optional)",
      modifiers: ["inputFullLength"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Suburb or town",
      modifiers: ["inputFullLength"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Postcode"
    }); %>
</div>
<div id="appointment-address" hidden>
  <h2><span class="font-weight-heavy">Appointment address</span></h2>
  <%- include(partials+"components/form-partials/radio", {
    label: "Select an option:",
    id: "destination-prepop",
    boxes: [
      { 
        text: "Dr 1"
      },
      {
        text: "Dr 2"
      },
      {
        text: "Dr 3"
      },
      {
        text: "Dr 4"
      },
      {
        text: "New address"
      }
    ]
  }); %>
</div>
<div id="appointment-address-enter" hidden>
   
  <%- include(partials+"components/form-partials/text", {
    label: "Practice/Doctor's name"
  }); %>
  <%- include(partials+"components/form-partials/text", {
    label: "Phone number",
    hint: "text"
  }); %>
  <%- include(partials+"components/form-partials/text", {
    label: "Address line 1",
    modifiers: ["inputFullLength"]
  }); %>
  <%- include(partials+"components/form-partials/text", {
    label: "Address line 2",
    hint: "(optional)",
    modifiers: ["inputFullLength"]
  }); %>
  <%- include(partials+"components/form-partials/text", {
    label: "Suburb or town",
    modifiers: ["inputFullLength"]
  }); %>
  <%- include(partials+"components/form-partials/text", {
    label: "Postcode"
  }); %>
  <%- include(forms+"dropdown", {
    label: "State or territory",
    options: [
      "-- Select state or territory --",
      {
        text: "Australian Capital Territory",
        value: "act"
      },
      {
        text: "New South Wales",
        value: "nsw"
      },
      {
        text: "Northern Territory",
        value: "nt"
      },
      {
        text: "Queensland",
        value: "qld"
      },
      {
        text: "South Australia",
        value: "sa"
      },
      {
        text: "Tasmania",
        value: "tas"
      },
      {
        text: "Victoria",
        value: "vic"
      },
      {
        text: "Western Australia",
        value: "wa"
      }
    ]
  }) %>
  <%#- include(partials+"components/form-partials/prepop/address", {
    modifiers: ["australiaOnly"]
  }); %>
</div>

<div id="return-home-summary"  hidden>
    <h2><span class="font-weight-heavy">Return address</span></h2>
    <div id="prepop-table">
      <legend class="legend-label">Is this your return address?</legend>
      <div class="table" >
        <div class="tr">
          <div class="td">Unit 3/41 Constitution Ave</div>
        </div>
        <div class="tr">
          <div class="td">Jamison Appartments</div>
        </div>
        <div class="tr">
          <div class="td">Canberra ACT 2612 </div>
        </div>
      </div>
      <%- include(partials+"components/form-partials/yes_no", {
        label: "",
        id: "prepop"
      }); %>
    </div>
</div>


<div id="date-and-time" hidden>
  <h2><span class="font-weight-heavy">Date and time</span></h2>
  <%- include(partials+"components/form-partials/date", {
    label: "Appointment date"
  }); %>
  
  
    <label for="appointment-time" class="uikit-text-input__label">Appointment time</label>

<select class="uikit-text-input input-half" id="appointment-time-hh" name="appointment-time-hh" style="display: inline; width: 90px;">
  <option value="hh">
      hh
  </option>
</select>
<select class="uikit-text-input input-half" id="appointment-time-mm" name="appointment-time-mm" style="display: inline; width: 90px;">
  <option value="mm">
      mm
  </option>
</select>
<select class="uikit-text-input input-half" id="appointment-time-timeday" name="appointment-time-timeday" style="display: inline; width: 90px;">
  <option value="am">
      am
  </option>
</select>

<div class="margin-above--large">
<%- include(partials+"components/form-partials/checkbox", {
  id: "repeat-booking",
  boxes: [
    { text: "Repeat booking",
      inject: "#frequency-container"
}
  ]
}); %>
</div>

<%- include(partials+"components/form-partials/dropdown", {
  label: "Select frequency",
  hint: "<BR/>Business actually use a calendar for this where the time is fixed but the days are vairable and don't conform to the typical values shown below.",
  id: "frequency",
  options: [
    "Select an item",
    "Daily",
    "Weekly",
    "Fortnightly",
    "Monthly"
  ],
  modifiers: ["hidden"]
}); %>

</div>

<div id="further-information" class="margin-above--extra" hidden>

  <h2><span class="font-weight-heavy">Further information</span></h2>

  <%- include(partials+"components/form-partials/checkbox", {
    label: "Select accepted conditions for which you are receving treatment at this appointment:",
    hint: "(Note this will only be shown for white card holders)",
    boxes: [
      "Lumbar spondylosis",
      "Osteoarthritis",
      "Ankle sprain",
      "Lumbar strain",
      "Travelling for diagnosis .. or something like that",
      "Should we have a none of the above and then show info?"
    ],
    modifiers: [ "hintNewLine"]
  }); %>

  <%- include(partials+"components/form-partials/dropdown", {
    label: "Type of appointment",
    options: [
      "Select an item",
      "Specialist",
      "Hospital",
      "Imaging etc .. do we add these?",
      "Other"
    ]
  }); %>

  <%- include(partials+"components/form-partials/checkbox", {
    label: "Select any of the following that are applicable",
    boxes: [
      "I require a wheelchair accessible vehicle",
      "I will be travelling with an attendant"
    ]
  }); %>

  <%- include(partials+"components/form-partials/textarea", {
    label: "Provide any further information",
    hint: "<BR/>For example instructions for the driver or special requirements"
  }); %>


</div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "#open-modal"
      },
      {
        text: "Save and next",
        link: "/auth/claim/dhoas/asc2",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>

<script>
  $(document).ready(function () {

    $("input:radio").prop("checked", false);

    var addressMode;

    $('input[name=describe-travel]').change(function () {
        var mySelection = $('input[name=describe-travel]:checked').parent().find("span").text().trim();
        switch (mySelection) {
          case "To appointment and back" :
            hideAll();
            $("#pickup-summary").show();
            addressMode = "round-trip";
            break;
          case "To appointment only" :
              hideAll();
              $("#appointment-address").show();
              $("#destination-prepop-container").show();
              addressMode = "to";
              break;
            case "Return from appointment only" :
              hideAll();
              $("#appointment-address").show();
              $("#destination-prepop-container").show();
              addressMode = "from";
              break;
            default:
              break;
        }
      });

      $('input[name=prepop]').change(function () {
        var mySelection = $('input[name=prepop]:checked').parent().find("span").text();
        if ( mySelection == "Yes") {
          $("#appointment-address").show();
          $("#pickup-address").hide();
         
        } else {
          $("#prepop-table").hide("fast");
          $("#appointment-address").show();
          $("#pickup-address").show();
        }
      });

      $('input[name=destination-prepop]').change(function () {
        var mySelection = $('input[name=destination-prepop]:checked').parent().find("span").text().trim();
        console.log( mySelection )
        switch (mySelection) {
          case "Dr 1" :
            $("#appointment-address-enter").hide();
            $("#date-and-time").show();
            if ( addressMode == "from" ) $("#return-home-summary").show();
            $("#further-information").show();
            break;
          case "Dr 2" :
            $("#appointment-address-enter").hide();
            $("#date-and-time").show();
            if ( addressMode == "from" ) $("#return-home-summary").show();
            $("#further-information").show();
            break;
          case "Dr 3" :
            $("#appointment-address-enter").hide();
            $("#date-and-time").show();
            if ( addressMode == "from" ) $("#return-home-summary").show();
            $("#further-information").show();
            break;
          case "Dr 4" :
            $("#appointment-address-enter").hide();
            $("#date-and-time").show();
            if ( addressMode == "from" ) $("#return-home-summary").show();
            $("#further-information").show();
            break;
          case "New address" :
            $("#appointment-address-enter").show();
            $("#date-and-time").show();
            $("#further-information").show();
            if ( addressMode == "from" ) $("#return-home-summary").show();
            $("#destination-prepop-container").hide("fast");
          default:
              break;
        }
      });

      // $('input[name=repeat-booking]').change(function () {
      //   var mySelection = $('input[name=repeat-booking]:checked').parent().find("span").text().trim();
      //   console.log(mySelection)
      //   switch (mySelection) {
      //     case "Repeat booking" :
      //       $("#frequency-container").show();
      //       break;
      //     default:
      //     $("#frequency-container").hide();
      //       break;
      //   }
      // });

    function hideAll(){
      $("#pickup-summary").hide();
      $("#pickup-address").hide();
      $("#appointment-address").hide();
      $("#appointment-address-enter").hide();
      $("#return-home-summary").hide();
      $("#date-and-time").hide();
      $("#further-information").hide();
      
    }

  });
</script>