<%- include(templates+"header", {
  claim: "MyService - Transport",
  heading: "Book car with driver"
}) %>
<%- include(partials+"components/form-partials/radio", {
  label: "Describe travel:",
  <!-- hint: "(select all that apply)", -->
  boxes: [
    "To appointment and back",
    "To appointment only",
    "Return from appointment only"
  ]
}); %>

<div id="address" class="form-group">
  <legend class="legend-label">Is this your pick up address?</legend>
  <div class="table">
    <div class="tr">
      <div class="td">Unit 3/41 Constitution Ave</div>
    </div>
    <div class="tr">
      <div class="td">Jamison Appartments</div>
    </div>
    <div class="tr">
      <div class="td">Canberra ACT 2612 </div>
    </div>
  </div>
  <div class="radio-toggle margin-above">
    <label class="on label-left" for="address-yes">
      <input id="address-yes" type="radio" value="yes" name="address-question">
      <span>Yes</span>
    </label>
    <label class="off label-right" for="address-no">
      <input id="address-no" type="radio" value="no" name="address-question">
      <span>No</span>
    </label>
  </div>
</div>
<%- include(partials+"components/form-partials/prepop/address", {
  label: "What is your pick up address?",
  modifiers: ["australiaOnly"],
}); %>
<h2>Where is your appointment?</h2>
<%- include(partials+"components/form-partials/text", {
  label: "Practice/Doctors name"
}); %>
<%- include(partials+"components/form-partials/text", {
  label: "Phone number",
  hint: "text"
}); %>

<!-- <%- include(partials+"components/form-partials/prepop/phone-number", {
  modifiers: ["australiaOnly"]
}); %> -->

<%- include(partials+"components/form-partials/prepop/address", {
  modifiers: ["australiaOnly"]
}); %>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel application",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        link: "/auth/claim/dhoas/asc2",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>