<%- include(templates+"header", {
  claim: "MyService - Transport",
  heading: "Book transport"
}) %>

<%- include(partials+"components/form-partials/notice", {
  message: "For details of your eligibility for transport refer to the <a href='https://www.dva.gov.au/factsheet-hsv03-dva-arranged-transport-under-repatriation-transport-scheme' class='external-link'>factsheet</a>. If you have further questions call DVA transport on <a>1800 550 455</a>"
}); %>

<div id="appointment-details" class="margin-above--large">

  <h2 class="mys h2 margin-below--mid">Appointment details</h2>

  <%- include(partials+"components/form-partials/dropdown", {
      label: "Condition being treated",
      options: [
        "-- Select condition --",
        "Lumbar spondylosis",
        "Osteoarthritis",
        "Ankle sprain",
        "Lumbar strain",
        "Other"
      ],
      modifiers: [ "hintNewLine"]
    }); %>

  <%- include(partials+"components/form-partials/dropdown", {
      label: "Appointment type",
      options: [
        "-- Select appointment type --",
        "Hospital",
        "Specialist",
        "Other"
      ]
    }); %>
</div>

<div id="pickup" class="margin-above--large">
  <h2 class="h2 mys margin-below--mid">Pick up address</h2>
  <%- include(partials+"components/form-partials/dropdown", {
    label: "Select home or enter new address",
  id: "pickup",
  options: [
  {
    text: "-- Select pick up address --"
  },
  { 
    text: "Unit 3/41 Constitution Ave, Jamison Appartments, Canberra ACT 2612"
  },
  {
    text: "<strong>Enter new address</strong>"
  }
    ]
  }); %>
  <div id="new-pickup" hidden>
    <%- include(partials+"components/form-partials/text", {
      label: "Address line 1",
      modifiers: ["inputFullLength"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Address line 2",
      hint: "(optional)",
      modifiers: ["inputFullLength"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Suburb or town",
      modifiers: ["inputFullLength"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Postcode"
    }); %>
    <%- include(forms+"dropdown", {
      label: "State or territory",
      options: [
        "-- Select state or territory --",
        {
          text: "Australian Capital Territory",
          value: "act"
        },
        {
          text: "New South Wales",
          value: "nsw"
        },
        {
          text: "Northern Territory",
          value: "nt"
        },
        {
          text: "Queensland",
          value: "qld"
        },
        {
          text: "South Australia",
          value: "sa"
        },
        {
          text: "Tasmania",
          value: "tas"
        },
        {
          text: "Victoria",
          value: "vic"
        },
        {
          text: "Western Australia",
          value: "wa"
        }
      ]
    }) %>
  </div>
</div>

<div id="going-to" class="margin-above--large">
  <h2 class="h2 mys margin-below--mid">Going to</h2>
  <%- include(partials+"components/form-partials/dropdown", {
    id: "going-to",
    label: "Select a previous destination or enter a new one",
    options: [
        {
          text: "-- Select destination address --"
        },
        { 
          text: "Doctor Karl Practice 1245 Dax Crossing Apt. Melrose place, NSW 2897"
        },
        { 
          text: "Capital Hospital / Dr Jane Smith 1245 Dax Crossing Apt. Melrose place, NSW 2897"
        },
        { 
          text: "Dr Al Appleton, 334 Heathcliff Rd, Melrose place, NSW 2045"
        },
        { 
          text: "Dr Geneview Shey, Mapletree Practice, L2 145 Trent St, Salsbury NSW 2034"
        },
        {
          text: "<strong>Enter new address</strong>"
        }
      ]
  }); %>

  <div id="going-to-enter" hidden>
    <%- include(partials+"components/form-partials/text", {
        label: "Practice/Doctor's name"
      }); %>
    <%- include(partials+"components/form-partials/text", {
        label: "Phone number",
        hint: "text"
      }); %>
    <%- include(partials+"components/form-partials/text", {
        label: "Address line 1",
        modifiers: ["inputFullLength"]
      }); %>
    <%- include(partials+"components/form-partials/text", {
        label: "Address line 2",
        hint: "(optional)",
        modifiers: ["inputFullLength"]
      }); %>
    <%- include(partials+"components/form-partials/text", {
        label: "Suburb or town",
        modifiers: ["inputFullLength"]
      }); %>
    <%- include(partials+"components/form-partials/text", {
        label: "Postcode"
      }); %>
    <%- include(forms+"dropdown", {
        label: "State or territory",
        options: [
          "-- Select state or territory --",
          {
            text: "Australian Capital Territory",
            value: "act"
          },
          {
            text: "New South Wales",
            value: "nsw"
          },
          {
            text: "Northern Territory",
            value: "nt"
          },
          {
            text: "Queensland",
            value: "qld"
          },
          {
            text: "South Australia",
            value: "sa"
          },
          {
            text: "Tasmania",
            value: "tas"
          },
          {
            text: "Victoria",
            value: "vic"
          },
          {
            text: "Western Australia",
            value: "wa"
          }
        ]
      }) %>
  </div>
</div>

<div id="when" class="margin-above--large">
  <h2 class="mys h2 margin-below--mid">Date and time</h2>
  <%- include(partials+"components/form-partials/date-picker", {
    label: "Appointment date",
    id: "date"
  }); %>
  <%- include(partials+"components/form-partials/time-picker", {
    label: "Appointment time",
    id: "time"
  }); %>
  <%- include(partials+"components/form-partials/checkbox", {
      id: "return-option",
      boxes: [
        "I would like to book a return trip."
      ],
      customClass: "margin-below--none"
    }); %>
  <%- include(partials+"components/form-partials/notice", {
      message: "When you arrive at your appointment, ask your driver for a contact number. Call to arrange your return trip when you are ready.",
      id: "return-notice",
      modifiers: ["hidden"]
    }); %>
</div>

<div id="trip-details" class="margin-above--extra">

  <h2 class="mys h2 margin-below--mid">Trip requirements</h2>

  <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "I require a wheelchair accessible vehicle",
      "I will be travelling with an attendant"
    ],
    customClass: "margin-below"
  }); %>

  <%- include(partials+"components/form-partials/textarea", {
    label: "Instructions for transport provider:"
  }); %>

</div>

<%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/transport/"
      },
      {
        text: "Submit",
        link: "/auth/transport/index?toast=trip-added",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>

<script>
  $(document).ready(function () {

    $('#pickup-container').on('change', function () {
      var mySelect = $("#pickup-container option:selected").text().trim();
      if (mySelect == "Enter new address") {
        $("#new-pickup").show();
      } else {
        $("#new-pickup").hide()
      }
    });
    $('#going-to-container').on('change', function () {
      var mySelect = $("#going-to-container option:selected").text().trim();
      if (mySelect == "Enter new address") {
        $("#going-to-enter").show();
      } else {
        $("#going-to-enter").hide()
      }
    });

    

  });
</script>