<%- include(templates+"header", {
  claim: "MyService - Transport",
  heading: "Edit booking"
}) %>

<h2 class="mys h2 margin-below--mid">Trip details</h2>

<div id="previous-details" class="pre-pop-on margin-below--large">
  <div class="kv-pair">
    <span class="kv-pair__key">Pick up address</span>
    <span class="kv-pair__value">Unit 3/41 Constitution Ave<BR/>Jamison Appartments<BR/>Canberra ACT 2612</span>
  </div>
  <div class="kv-pair margin-above">
    <span class="kv-pair__key">Going to</span>
    <span class="kv-pair__value">Dr Carl Practice<BR />1245 Dax Crossing <BR/>Melrose Place, NSW 2897</span>
  </div>
  <div class="kv-pair margin-above">
    <span class="kv-pair__key">Condtion being treated</span>
    <span class="kv-pair__value">Lumbar spondylosis</span>
  </div>
  <div class="kv-pair">
    <span class="kv-pair__key">Appointment type</span>
    <span class="kv-pair__value">Specialist</span>
  </div>
  <div class="kv-pair">
    <span class="kv-pair__key">Return trip requested</span>
    <span class="kv-pair__value">Yes</span>
  </div>
  <div class="kv-pair">
    <span class="kv-pair__key">Trip requirements</span>
    <span class="kv-pair__value">Wheelchair accessible vehicle, travelling with attendant</span>
  </div>
  <div class="kv-pair">
    <span class="kv-pair__key">Instructions to provider</span>
    <span class="kv-pair__value">Knock loudly</span>
  </div>
</div>

<div id="appointment-details" class="margin-above--large">

<div id="when" class="margin-above--large">
  <h2 class="mys h2 margin-below--mid">Date and time</h2>
  <%- include(partials+"components/form-partials/date-picker", {
    label: "Appointment date",
    id: "date"
  }); %>
  <%- include(partials+"components/form-partials/time-picker", {
    label: "Appointment time",
    id: "time"
  }); %>
 
</div>

<%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/transport/"
      },
      {
        text: "Submit",
        link: "/auth/transport/index?state=many",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>

<script>

  prePop();
  function prePop(){
     $('.date-picker').val( "2020-08-26" );
    $('.time-selector--hours').val( "2" );
    $('.time-selector--minutes').val( "45" );
    $('.time-selector--ampm').val( "pm" );
    // $("#instructions").val("Please knock loudly");
  }
</script>