<%- include(templates+"header", {
  claim: "MyService - Transport",
  heading: "Book transport"
}) %>

<%- include(partials+"components/form-partials/radio", {
  label: "Type of trip:",
  id: "trip-type",
  boxes: [
    "To appointment and back",
    "To appointment only",
    "From appointment only"
  ]
}); %>

<%- include(partials+"components/form-partials/notice", {
  message: "When you arrive at your appointment, ask your driver for a contact number. Call to arrange your return trip when you are ready. You should only book a return trip if you are travelling back on the same day",
  id: "return-notice",
  modifiers: ["hidden"]
}); %>

<div id="details" hidden>

  <h2 class="h2 mys margin-below--mid">Pick up address</h2>
  <div id="pickup-from-home" hidden><%- include("home-address") %></div>
  <div id="pickup-from-provider" hidden><%- include("provider-address") %></div>

  <h2 class="h2 mys margin-below--mid">Going to</h2>
  <div id="going-to-provider" hidden><%- include("provider-address") %></div>
  <div id="going-to-home" hidden><%- include("home-address") %></div>

  <div id="when" class="margin-above--large">
    <h2 class="mys h2 margin-below--mid">Appointment details</h2>
    <%- include(partials+"components/form-partials/date-picker", {
    label: "Appointment date",
    id: "date"
  }); %>
    <%- include(partials+"components/form-partials/time-picker", {
    label: "Appointment time",
    id: "time"
  }); %>
  <%- include(partials+"components/form-partials/dropdown", {
    label: "Primary condition being treated",
    id: "condition",
    options: [
      "-- Select condition --",
      "Lumbar spondylosis",
      "Osteoarthritis",
      "Ankle sprain",
      "Lumbar strain",
      "Other"
    ],
    tooltip: {
      content: "You are only able to book transport online for conditions covered under VEA."
    },
    modifiers: [ "hintNewLine"]
  }); %>

  <%- include(partials+"components/form-partials/text", {
    label: "What is the condition:",
    id: "condition-free",
    modifiers: ["hidden"]
  }); %>

  <%- include(partials+"components/form-partials/dropdown", {
    label: "Appointment type",
    id: "type",
    options: [
      "-- Select appointment type --",
      "Hospital",
      "Specialist",
      "Other"
    ]
  }); %>

  </div>

  <div id="trip-details" class="margin-above--extra">

    <h2 class="mys h2 margin-below--mid">Trip requirements</h2>

    <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "I require a wheelchair accessible vehicle",
      "I will be travelling with an attendant"
    ],
    customClass: "margin-below"
  }); %>

    <%- include(partials+"components/form-partials/textarea", {
    label: "Instructions for transport provider:",
    id:"instructions"
  }); %>

  </div>

  <%- include(partials+"components/form-partials/yes_no", {
  label: "Is this the closest practical provider?",
  tooltip: "Is the treating provider the closest practical provider able to administer the required treatment?",
  yes_toggle: "#click-submit",
  no_toggle: "#not-practical-container"
}); %>

  <%- include(partials+"components/form-partials/notice", {
  message: "You are required to visit the closest practical provider able to administer the required treatment. If there are reasons why this is not possible call DVA to discuss.",
  id: "not-practical",
  type: "warning",
  modifiers: ["hidden"]
}); %>

  <p id="click-submit" hidden class="margin-above">Choose <b>submit</b> to continue</p>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/transport/"
      },
      {
        text: "Submit",
        link: "/auth/transport/index?state=one",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(templates+"footer") %>
  <%- include("book-ss") %>

  <script>
    $(document).ready(function () {

      $('#condition-container').on('change', function () {
        var mySelect = $("#condition-container option:selected").text().trim();
        if (mySelect == "Other") {
          $("#condition-free-container").show();
        } else {
          $("#condition-free-container").hide()
        }
      });

      $('#pickup-container').on('change', function () {
        var mySelect = $("#pickup-container option:selected").text().trim();
        if (mySelect == "Enter new address") {
          $("#new-pickup").show();
        } else {
          $("#new-pickup").hide()
        }
      });

      $("#act-1").prop("checked", true);
      $('#provider-container').on('change', function () {
        var mySelect = $("#provider-container option:selected").text().trim();
        if (mySelect == "Enter new destination") {
          $("#going-to-enter").show();
        } else {
          $("#going-to-enter").hide()
        }
      });

      $("#dest-type-1").prop("checked", true);
      $('#dest-type-container').change(function () {
        var myStatus = $("#dest-type-1").is(":checked");
        if (myStatus) {
          $("#dest-type-med").show();
          $("#dest-type-private").hide();
        } else {
          $("#dest-type-med").hide();
          $("#dest-type-private").show();
        }
      });

    });

    $.urlParam = function (name) {
      var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
      if (results == null) {
        return 0;
      }
      return results[1] || 0;
    }

    $("#act-1").prop("checked", true);


    var state;
    $('input[name=trip-type]').change(function () {
      state = $(this).val();
      updateLayout();
    });

    function updateLayout() {

      $("#details").hide()
      $("#return-notice-container").hide();
      $("#pickup-from-home").hide();
      $("#pickup-from-provider").hide();
      $("#going-to-provider").hide();
      $("#going-to-home").hide();

      switch (state) {
        case "toappointmentandback":
          $("#return-notice-container").show();
          $("#pickup-from-home").show();
          $("#going-to-provider").show();
          $("#details").show();
          break;
        case "toappointmentonly":
          $("#pickup-from-home").show();
          $("#going-to-provider").show();
          $("#details").show();
          break;
          case "fromappointmentonly":
          $("#pickup-from-provider").show();
          $("#going-to-home").show();
          $("#details").show();
          break;
        default:
          break;
      }
    }


  </script>