<%- include(templates+"header", {
  claim: "MyService - Transport",
  heading: "Book transport"
}) %>

<%- include(partials+"components/form-partials/notice", {
  message: "For details of your eligibility for transport refer to the <a href='https://www.dva.gov.au/factsheet-hsv03-dva-arranged-transport-under-repatriation-transport-scheme' class='external-link'>factsheet</a>. If you have further questions call DVA transport on <a>1800 550 455</a>"
}); %>

<div id="appointment-details" class="margin-above--large">

    <h2><span class="font-weight-heavy">Appointment details</span></h2>
  
    <%- include(partials+"components/form-partials/dropdown", {
      label: "Condition being treated",
      options: [
        "-- Select condition --",
        "Lumbar spondylosis",
        "Osteoarthritis",
        "Ankle sprain",
        "Lumbar strain",
        "Other"
      ],
      modifiers: [ "hintNewLine"]
    }); %>
  
    <%- include(partials+"components/form-partials/dropdown", {
      label: "Appointment type",
      options: [
        "Select an item",
        "Hospital",
        "Specialist",
        "Other"
      ]
    }); %>
    
  
</div>

<div id="pickup" class="margin-above--large">
  <div>
    <h2 style="display: inline-block; margin-top: 0;"><span class="font-weight-heavy">Pick-up from</span></h2>
     <div id="edit-pickup" style="display: inline-block;">&nbsp;| <a class="floatedqq">Change</a></div>
  </div>
  <div id="pickup-prepop">
    <div class="table" >
      <div class="tr">
        <div class="td">Unit 3/41 Constitution Ave</div>
      </div>
      <div class="tr">
        <div class="td">Jamison Appartments</div>
      </div>
      <div class="tr">
        <div class="td">Canberra ACT 2612 </div>
      </div>
    </div>
  </div>
  <div id="pickup-enter" hidden>
      <%- include(partials+"components/form-partials/text", {
        label: "Address line 1",
        modifiers: ["inputFullLength"]
      }); %>
      <%- include(partials+"components/form-partials/text", {
        label: "Address line 2",
        hint: "(optional)",
        modifiers: ["inputFullLength"]
      }); %>
      <%- include(partials+"components/form-partials/text", {
        label: "Suburb or town",
        modifiers: ["inputFullLength"]
      }); %>
      <%- include(partials+"components/form-partials/text", {
        label: "Postcode"
      }); %>
  </div>
</div>

<div id="going-to" class="margin-above--large">
    <div>
        <h2 style="display: inline-block; margin-top: 0;"><span class="font-weight-heavy">Going to</span></h2>
        <div id="edit-going-to" style="display: none;">&nbsp;| <a class="floatedqq">Change</a></div>
    </div>
    <div id="going-to-prepop" hidden>
        <div class="table" >
          <div class="tr">
            <div class="td">Dr Geneview Shey</div>
          </div>
          <div class="tr">
              <div class="td">Mapletree Practice</div>
            </div>
          <div class="tr">
            <div class="td">L2 145 Trent St</div>
          </div>
          <div class="tr">
            <div class="td">Salsbury NSW 2034</div>
          </div>
        </div>
      </div>
    <%- include(partials+"components/form-partials/radio", {
      id: "going-to-prepop",
      boxes: [
        { 
          text: "Doctor Karl Practice 1245 Dax Crossing Apt. Melrose place, NSW 2897"
        },
        {
          text: "Capital Hospital / Dr Jane Smith 1245 Dax Crossing Apt. Melrose place, NSW 2897"
        },
        {
          text: "Dr Al Appleton, 334 Heathcliff Rd, Melrose place, NSW 2045"
        },
        {
          text: "Dr Geneview Shey, Mapletree Practice, L2 145 Trent St, Salsbury NSW 2034"
        },
        {
          text: "<strong>New address</strong>"
        }
      ],
      customClass: "adjust"
    }); %>

  <style>
      .adjust {
        margin-top: -6px;
      }
  </style>
  <div id="going-to-enter" hidden>
    <%- include(partials+"components/form-partials/text", {
      label: "Practice/Doctor's name"
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Phone number",
      hint: "text"
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Address line 1",
      modifiers: ["inputFullLength"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Address line 2",
      hint: "(optional)",
      modifiers: ["inputFullLength"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Suburb or town",
      modifiers: ["inputFullLength"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Postcode"
    }); %>
    <%- include(forms+"dropdown", {
      label: "State or territory",
      options: [
        "-- Select state or territory --",
        {
          text: "Australian Capital Territory",
          value: "act"
        },
        {
          text: "New South Wales",
          value: "nsw"
        },
        {
          text: "Northern Territory",
          value: "nt"
        },
        {
          text: "Queensland",
          value: "qld"
        },
        {
          text: "South Australia",
          value: "sa"
        },
        {
          text: "Tasmania",
          value: "tas"
        },
        {
          text: "Victoria",
          value: "vic"
        },
        {
          text: "Western Australia",
          value: "wa"
        }
      ]
    }) %>
  </div>
</div>

<div id="when" class="margin-above--large" hidden>
  <h2><span class="font-weight-heavy">When</span></h2>
  <p class="margin-below--small">Enter the date and time of your appointment:</p>
  <img style="margin-top: 8px;" src="/date-time.png"/>
<!-- </div>

<div id="return" class="margin-above--large"  hidden>
    <h2 style="margin-bottom: 12px;"><span class="font-weight-heavy">Return trip</span></h2> -->
    <%- include(partials+"components/form-partials/checkbox", {
      id: "return-option",
      boxes: [
        "I would like to book a return trip."
      ],
      customClass: "margin-below--none"
    }); %>
    <%- include(partials+"components/form-partials/notice", {
      message: "When you arrive at your appointment, ask your driver for a contact number. Call to arrange your return trip when you are ready.",
      id: "return-notice",
      modifiers: ["hidden"]
    }); %>
</div>

<div id="trip-details" class="margin-above--large" hidden>

  <h2><span class="font-weight-heavy">Trip requirements</span></h2>

  <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "I require a wheelchair accessible vehicle",
      "I will be travelling with an attendant"
    ],
    customClass: "margin-below"
  }); %>

  <%- include(partials+"components/form-partials/textarea", {
    label: "Instructions for transport provider:"
  }); %>


</div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/transport/"
      },
      {
        text: "Next",
        link: "/auth/transport/",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>

<script>
  $(document).ready(function () {

    $("input:radio").prop("checked", false);
    $("input:checkbox").prop("checked", false);

    $('#edit-pickup').click(function () {
      var mySelection = $('#edit-pickup').text().trim();
      if ( mySelection == "| Change") {
        $("#pickup-prepop").hide("fast");
        $("#pickup-enter").show("fast");
        $('#edit-pickup').html("&nbsp;| Use home");
      } else {
        $("#pickup-prepop").show("fast");
        $("#pickup-enter").hide("fast");
        $('#edit-pickup').html("&nbsp;| Change");
      }
    });

    $('input[name=going-to-prepop]').change(function () {
      var mySelection = $('input[name=going-to-prepop]:checked').parent().find("span").text().trim();
      $("#going-to-prepop-container").hide("fast");
      $("#edit-going-to").css("display","inline-block");
      $("#return").show();
      $("#when").show();
      $("#trip-details").show();
      if (mySelection == "New address") {
          $("#going-to-enter").show();
      } else {
          $("#going-to-enter").hide();
          $("#going-to-prepop").show("fast");
      }
    });

    $('#edit-going-to').click(function () {
      $("input:radio").prop("checked", false);
      $("#going-to-enter").hide("fast");
      $("#going-to-prepop").hide("fast");
      $("#going-to-prepop-container").show("fast");
    });

    $('input[name=return-option]').change(function () {
      var mySelection = $('input[name=return-option]:checked').parent().find("span").text().trim();
      if (mySelection == "I would like to book a return trip.") {
          $("#return-notice-container").show();
      } else {
          $("#return-notice-container").hide();
      }
    });

    function hideAll(){
      $("#pickup-summary").hide();
      $("#pickup-address").hide();
      $("#appointment-address").hide();
      $("#appointment-address-enter").hide();
      $("#return-home-summary").hide();
      $("#date-and-time").hide();
      $("#further-information").hide();
      
    }

  });
</script>