
<%- include(partials+"components/form-partials/dropdown", {
  label: "Select home or enter new",
id: "pickup",
options: [
{
  text: "-- Select pick up address --"
},
{ 
  text: "Unit 3/41 Constitution Ave, Jamison Appartments, Canberra ACT 2612"
},
{
  text: "<strong>Enter new address</strong>"
}
  ]
}); %>

<div class="new-pickup" hidden>

<%- include(partials+"components/form-partials/text", {
    label: "Address line 1",
    modifiers: ["inputFullLength"]
  }); %>
  <%- include(partials+"components/form-partials/text", {
    label: "Address line 2",
    hint: "(optional)",
    modifiers: ["inputFullLength"]
  }); %>
  <%- include(partials+"components/form-partials/text", {
    label: "Suburb or town",
    modifiers: ["inputFullLength"]
  }); %>
  <%- include(partials+"components/form-partials/text", {
    label: "Postcode"
  }); %>
  <%- include(forms+"dropdown", {
    label: "State or territory",
    options: [
      "-- Select state or territory --",
      {
        text: "Australian Capital Territory",
        value: "act"
      },
      {
        text: "New South Wales",
        value: "nsw"
      },
      {
        text: "Northern Territory",
        value: "nt"
      },
      {
        text: "Queensland",
        value: "qld"
      },
      {
        text: "South Australia",
        value: "sa"
      },
      {
        text: "Tasmania",
        value: "tas"
      },
      {
        text: "Victoria",
        value: "vic"
      },
      {
        text: "Western Australia",
        value: "wa"
      }
    ]
  }) %>

</div>