<%#- include(templates+"header", {
  claim: "transport",
  heading: "Transport"
}) %>

<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Transport | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <main id="main-content" class="health-cards__page-wrapper">
    <div class="padding-above--extra container container--8-column">
      <div>
        <h1 class="ss-align orange-underline">Transport</h1>
      </div>
  
      <div class="display-flex margin-above--large" style="flex-direction: row; align-items: center;">
        <h2 style="margin: 0; align-self: flex-start; width: 50%">Make a transport booking or claim for travel costs</h2>
        <div class="tile-container tile-container--transport" style="width: auto;">
          <%- include(components+"tile", {
            tiles: [
              {
                title: "Book Transport",
                link: "/auth/transport/book-car-with-driver/ad1",
                icon: {
                  icon: "fa-car",
                  color: "black",
                  size: "fa-2x"
                }
              },
              {
                title: "Claim transport costs",
                link: "/auth/transport/transport-reimbursement",
                icon: {
                  icon: "fa-file-invoice-dollar",
                  color: "black",
                  size: "fa-2x"
                }
              }
            ]
          }) %>
        </div>
      </div>
    </div>



  </main>
  <%- include(partials+"components/layout/footer") %>
</body>
</html>