<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>

  <main>
    <section>
      <div class="container margin-above margin-below--extra" style="min-height: 500px;">
        <section>
          <div class="back-button">
            <a href="/auth" class="mys h5"><i class="fal fa-arrow-left fa-fw"></i>Back to home</a>
          </div>
          <h1 class="mys h1 margin-above--none margin-below--mid" id="heading">Book transport</h1>

          <p>The Booked Car Scheme is available to eligible DVA clients when they attend approved medical
            treatment. Local taxi and hire car providers are contracted to DVA to arrange suitable vehicles to transport
            DVA clients to their medical appointments on time.</section>
            <p>For further information see <a href="https://www.dva.gov.au/health-and-treatment/local-or-overseas-medical-care/arrange-taxi-or-hire-car" rel="external">arrange for a taxi or hire car</a> or call 1800 VETERAN (<a href="1800 838 372">1800 838 372</a>)</p>

          <button id="book" class="uikit-btn uikit-btn--primary book-transport" onclick="location.href='/auth/transport/book'">Book
            transport</button>

            <%- include(partials+"components/form-partials/notice", {
              message: "Unable to access required records. Please contact DVA for assistance.",
              type: "error",
              id: "cant-find",
              modifiers: ["hidden"],
              customClass: ["margin-below--none"]
            }); %>

          <div id="past-trips">
            <hr>
            <%- include(partials+"components/form-partials/notice", {
              message: "Your travel booking has been submitted successfully.",
              type: "success",
              id: "success",
              modifiers: ["hidden"],
              customClass: ["margin-below--none"]
            }); %>
            <%- include(partials+"components/form-partials/notice", {
              message: "Your travel booking has been cancelled successfully.",
              type: "success",
              id: "cancel-success",
              modifiers: ["hidden"],
              customClass: ["margin-below--none"]
            }); %>

            <h2 class="mys h2 margin-below--small margin-above">Upcoming trips</h2>

            <table class="mys-table1 vea-trips">
              <thead>
                <tr>
                  <th>Date and time</th>
                  <th>Pick up address</th>
                  <th>Going to</th>
                  <th>Booking details</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr id="blank" hidden>
                  <td colspan="5" class="placeholder">You currently have no bookings.</td>
                </tr>

                <tr id="trip-1" class="view-travel-submitted return-a">
                  <td data-title="Date and time">
                    <div class="return-label"><i class="flag-icon fa fa-arrow-circle-right fa-s"></i></span><span
                        class="inline-label"> To
                        provider</span><BR /></div>
                    <div class="return-date-time">2 Sep 2020<BR />2.00pm</div>
                    <div id="trip-1-v1" class="vl"></div>
                  </td>

                  <td data-title="Pick up address">3/41 Constitution Ave<BR />Reid<BR />Canberra A.C.T 2613</td>
                  <td data-title="Going to">Canberra Hospital<BR />Yamba Drive<BR />Garran A.C.T 2605</td>
                  <td data-title="Booking details">
                    <span class="inline-label"><i class="flag-icon fa fa-hashtag fa-s"></i></span> 1425367<BR />
                    <span class="inline-label"><i class="flag-icon fa fa-check-circle fa-s"></i></span> Approved<BR />
                    <span class="inline-label"><i class="flag-icon fa fa-taxi fa-s"></i></span> GM Cabs<BR />
                    <span class="inline-label"><i class="flag-icon fa fa-phone fa-s"></i></span> <a>1800 443 232</a>
                  </td>
                  <td><button
                      class="edit-trip uikit-btn uikit-btn--borderless margin-right--none">Edit</button><BR /><button
                      class="uikit-btn uikit-btn--borderless margin-right--none cancel-return">Cancel</button>
                  </td>
                </tr>
                <tr id="trip-2" class="view-travel-submitted return-b">
                  <td data-title="Date and time">
                    <i class="flag-icon fa fa-arrow-circle-left fa-s"></i></span><span class="inline-label">
                      Returning
                      home</span> <BR />
                    <i class="flag-icon fa fa-phone fa-s"></i> Call when ready
                  </td>

                  <td data-title="Going to">Canberra Hospital<BR />Yamba Drive<BR />Garran A.C.T 2605</td>
                  <td data-title="Pick up address">3/41 Constitution Ave<BR />Reid<BR />Canberra A.C.T 2613</td>
                  <td data-title="Booking details">
                    <span class="inline-label"><i class="flag-icon fa fa-hashtag fa-s"></i></span> 1425367<BR />
                    <span class="inline-label"><i class="flag-icon fa fa-check-circle fa-s"></i></span> Approved<BR />
                    <span class="inline-label"><i class="flag-icon fa fa-taxi fa-s"></i></span> GM Cabs<BR />
                    <span class="inline-label"><i class="flag-icon fa fa-phone fa-s"></i></span> <a>1800 443 232</a>
                  </td>
                  <td>
                    <button
                      class="uikit-btn uikit-btn--borderless margin-right--none cancel-return-only">Cancel</button>
                  </td>
                </tr>
                <tr id="trip-3" class="view-travel-submitted">
                  <td data-title="Date and time">
                    9 Sep 2020<BR />2.00pm
                  </td>

                  <td data-title="Pick up address">3/41 Constitution Ave<BR />Reid<BR />Canberra A.C.T 2613</td>
                  <td data-title="Going to">Canberra Hospital<BR />Yamba Drive<BR />Garran A.C.T 2605</td>
                  <td data-title="Booking details">
                    <span class="inline-label"><i class="flag-icon fa fa-hashtag fa-s"></i></span> 1425457<BR />
                    <span class="inline-label"><i class="flag-icon fa fa-ellipsis-h fa-s"></i></span> Submitted<BR />
                  </td>
                  <td><button
                      class="view-trip-submitted uikit-btn uikit-btn--borderless margin-right--none">Edit</button><BR /><button
                      class="uikit-btn uikit-btn--borderless margin-right--none cancel">Cancel</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <table class="mys-table1 mrca-trips" hidden>
              <thead>
                <tr>
                  <th>Date and time</th>
                  <th>Pick up address</th>
                  <th>Going to</th>
                  <th>Booking details</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr id="blank" hidden>
                  <td colspan="5" class="placeholder">You currently have no bookings.</td>
                </tr>

                <tr id="trip-1" class="view-travel-submitted return-a">
                  <td data-title="Date and time">
                    <div class="return-label"><i class="flag-icon fa fa-arrow-circle-right fa-s"></i></span><span
                        class="inline-label"> To
                        provider</span><BR /></div>
                    <div class="return-date-time">2 Sep 2020<BR />2.00pm</div>
                    <div id="trip-1-v1" class="vl"></div>
                  </td>

                  <td data-title="Pick up address">3/41 Constitution Ave<BR />Reid<BR />Canberra A.C.T 2613</td>
                  <td data-title="Going to">Canberra Hospital<BR />Yamba Drive<BR />Garran A.C.T 2605</td>
                  <td data-title="Booking details">
                    <span class="inline-label"><i class="flag-icon fa fa-hashtag fa-s"></i></span> 1425367<BR />
                    <span class="inline-label"><i class="flag-icon fa fa-check-circle fa-s"></i></span> Approved<BR />
                    <span class="inline-label"><i class="flag-icon fa fa-taxi fa-s"></i></span> GM Cabs<BR />
                    <span class="inline-label"><i class="flag-icon fa fa-phone fa-s"></i></span> <a>1800 443 232</a>
                  </td>
                  <td><button
                      class="view-trip uikit-btn uikit-btn--borderless margin-right--none">View details</button>
                  </td>
                </tr>
                <tr id="trip-2" class="view-travel-submitted return-b">
                  <td data-title="Date and time">
                    <i class="flag-icon fa fa-arrow-circle-left fa-s"></i></span><span class="inline-label">
                      Returning
                      home</span> <BR />
                    <i class="flag-icon fa fa-phone fa-s"></i> Call when ready
                  </td>

                  <td data-title="Going to">Canberra Hospital<BR />Yamba Drive<BR />Garran A.C.T 2605</td>
                  <td data-title="Pick up address">3/41 Constitution Ave<BR />Reid<BR />Canberra A.C.T 2613</td>
                  <td data-title="Booking details">
                    <span class="inline-label"><i class="flag-icon fa fa-hashtag fa-s"></i></span> 1425368<BR />
                    <span class="inline-label"><i class="flag-icon fa fa-check-circle fa-s"></i></span> Approved<BR />
                    <span class="inline-label"><i class="flag-icon fa fa-taxi fa-s"></i></span> GM Cabs<BR />
                    <span class="inline-label"><i class="flag-icon fa fa-phone fa-s"></i></span> <a>1800 443 232</a>
                  </td>
                  <td><button
                    class="view-trip uikit-btn uikit-btn--borderless margin-right--none">View details</button>
                  </td>
                </tr>
                <tr id="trip-3" class="view-travel-submitted">
                  <td data-title="Date and time">
                    9 Sep 2020<BR />2.00pm
                  </td>

                  <td data-title="Pick up address">3/41 Constitution Ave<BR />Reid<BR />Canberra A.C.T 2613</td>
                  <td data-title="Going to">Canberra Hospital<BR />Yamba Drive<BR />Garran A.C.T 2605</td>
                  <td data-title="Booking details">
                    <span class="inline-label"><i class="flag-icon fa fa-hashtag fa-s"></i></span> 1425457<BR />
                    <span class="inline-label"><i class="flag-icon fa fa-ellipsis-h fa-s"></i></span> Submitted<BR />
                  </td>
                  <td><button
                      class="view-trip uikit-btn uikit-btn--borderless margin-right--none">View details</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <p>Only upcoming trips will be shown here. If you wish to discuss trips that are not listed please contact
              DVA.</p>
          </div>
      </div>
    </section>
    </div>
    </section>
  </main>

  <%- include(partials+"components/layout/footer") %>
  <%- include("index-ss") %>
  <%- include("cancel-return-modal") %>
  <%- include("cancel-return-only-modal") %>
  <%- include("cancel-modal") %>
</body>
<script>

  var state;
  var cohort;

  $.urlParam = function (name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results == null) {
      return 0;
    }
    return results[1] || 0;
  }
  state = $.urlParam('state');
  $("#cohort-1").prop("checked", true);
  $("#past-trips-2").prop("checked", true);
  stateSwitcher();

  function stateSwitcher() {
    $("#blank").hide();
    $("#trip-1").hide();
    $("#trip-2").hide();
    $("#trip-3").hide();
    switch (state) {
      case "none":
        $("#blank").show();
        break;
      case "many":
        $("#trip-1").show();
        $("#trip-2").show();
        $("#trip-3").show();
        $("#past-trips-2").prop("checked", true);
        break;
      case "one-one-way":
        $("#trip-1").show();
        $("#trip-2").show();
        $("#trip-3").hide();
        $("#cancel-success-container").show();
        break;
      case "one-return":
        $("#trip-3").show();
        $("#cancel-success-container").show();
        break;
      case "no-returns":
        $("#trip-1").show();
        $("#trip-3").show();
        $("#trip-1").removeClass("return-a");
        $("#cancel-success-container").show();
        break;
      default:
        $("#trip-1").show();
        $("#trip-2").show();
        $("#trip-3").show();
        break;
    }
    switch (cohort) {
      case "mrcadrca":
        $(".mrca-trips").show();
        $(".vea-trips").hide();
        $(".book-transport").hide();
      $("#heading").html("Transport bookings");
        break;
      case "vea":
        $(".mrca-trips").hide();
        $(".vea-trips").show();
        $(".book-transport").show();
        $("#heading").html("Book transport");
        break;
      default:
        break;
    }
    setLineHeight();
  }

  $(".edit-trip").click(function () {
    window.location = "/auth/transport/book-edit";
  });

  $(".view-trip").click(function () {
    window.location = "/auth/transport/book-view";
  });

  $(".cancel-return").on("click", function () {
    window.location.href = "#open-cancel-return-modal";
  })
  $(".cancel-return-only").on("click", function () {
    window.location.href = "#open-cancel-return-only-modal";
  })
  $(".cancel").on("click", function () {
    window.location.href = "#open-cancel-modal";
  })

  function setLineHeight() {
    var firstDiv = document.getElementById("trip-1");
    var secondDiv = document.getElementById("trip-2");
    var myHeight = secondDiv.offsetTop - firstDiv.offsetTop;
    myHeight -= 16;
    document.getElementById("trip-1-v1").style.height = myHeight + "px";
  }

</script>

</html>