<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>MyService</title>
  <%- include(partials+"components/layout/head") %>

  <!-- <link rel="stylesheet" type="text/css" href="coc-proto-only.css"> -->

</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>


  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>

  <main>
    <section>
      <div class="container margin-above margin-below--extra" style="min-height: 500px;">
        <section>
          <div class="back-button">
            <a href="/auth"><i class="fal fa-arrow-left fa-fw"></i>Back to home</a>
          </div>
          <h1 class="margin-above--none margin-below--mid">Book transport</h1>
          <p>The Booked Car Scheme is available to eligible DVA clients when they attend approved medical
            treatment. Local taxi and hire car providers are contracted to DVA to arrange suitable vehicles to transport
            DVA clients to their medical appointments on time. The scheme provides a high quality and reliable service.
          </p>

          <button class="uikit-btn uikit-btn--primary" onclick="location.href='/auth/transport/book'">Book
            transport</button>

          <div id="past-trips">
            <hr>
            <%- include(partials+"components/form-partials/notice", {
              message: "Your travel booking has been submitted successfully.",
              type: "success",
              id: "success",
              modifiers: ["hidden"],
              customClass: ["margin-below--none"]
            }); %>

            <h2 class="font-weight--heavy margin-below--small">Upcoming trips</h2>

            <table class="mys-table1">
              <thead>
                <tr>
                  <th>Date and time</th>
                  <th>Pick up address</th>
                  <th>Going to</th>
                  <th>Booking details</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr id="blank">
                  <td colspan="5" class="placeholder">You currently have no bookings.</td>
                </tr>
                <tr id="trip-1" class="view-travel-submitted" hidden>
                  <td data-title="Date and time">2 September 2020<br />2.00pm</td>
                  <td data-title="Pick up address">3/41 Constitution Ave<BR />Reid<BR />Canberra A.C.T 2613</td>
                  <td data-title="Going to">Canberra Hospital<BR />Yamba Drive<BR />Garran A.C.T 2605</td>
                  <td data-title="Booking details"><span class="inline-label">Booking number:</span> 1425367<BR /><span
                      class="inline-label">Status:</span> Submitted<BR /><span class="inline-label">Provider:</span>
                    Pending</td>
                  <td><button
                      class="view-trip-submitted uikit-btn uikit-btn--borderless margin-right--none">View</button></td>
                </tr>
              </tbody>
            </table>
            <p>Only upcoming trips will be shown here. If you wish to discuss trips that are not listed please contact
              DVA.</p>
          </div>
      </div>
    </section>
    </div>
    </section>
  </main>

  <%- include(partials+"components/layout/footer") %>
  <%- include("index-ss") %>
  <%- include("delete-item-modal") %>
</body>
<script>

  function stateSwitcher() {
    $("#blank").hide();
    $("#trip-1").hide();
    $("#trip-2").hide();
    switch (pastTrips) {
      case "none":
        $("#blank").show();
        break;
      case "one":
        $("#trip-1").show();
        $("#past-trips-3").prop("checked", true);
        console.log('dfdsfdsfsdf')
        break;
      case "two":
        $("#trip-1").show();
        $("#trip-2").show();
        break;
      default:
        break;
    }
  }

  $.urlParam = function (name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results == null) {
      return 0;
    }
    return results[1] || 0;
  }
  var toast = $.urlParam('toast');
  switch (toast) {
    case "trip-added":
      pastTrips = "one";
      stateSwitcher();
      $("#success-container").show();
      $("#notify-success-1").prop("checked", true);
      break;
    default:
      break;
  }
  // var state = $.urlParam('state');
  // switch (state) {
  //   case "no-trips":
  //     pastTrips = "none";
  //     stateSwitcher()
  //     break;
  //   default:
  //     break;
  // }

  $(".view-trip-submitted").click(function () {
    window.location = "/auth/transport/book";
  });
</script>

</html>