<%- include(partials+"components/form-partials/dropdown", {
    id: "provider",
    label: "Select medical provider or enter new",
    options: [
        {
          text: "-- Select provider --"
        },
        { 
          text: "Doctor Karl Practice 1245 Dax Crossing Apt. Melrose place, NSW 2897"
        },
        { 
          text: "Capital Hospital / Dr Jane Smith 1245 Dax Crossing Apt. Melrose place, NSW 2897"
        },
        { 
          text: "Dr Al Appleton, 334 Heathcliff Rd, Melrose place, NSW 2045"
        },
        { 
          text: "Dr Geneview Shey, Mapletree Practice, L2 145 Trent St, Salsbury NSW 2034"
        },
        {
          text: "<strong>Enter new destination</strong>"
        }
      ]
  }); %>

<div class="going-to-enter" hidden>

  <%- include(partials+"components/form-partials/dropdown", {
      label: "Type of practitioner",
      id: "practitioner-type",
      options: [
        "-- Select type --",
        "General practitioner",
        "Cardiologist",   
        "Dentist",
        "Exercise Physiologist",
        "Ophthalmologist",   
        "Optometrist",
        "Orthopaedic surgeon",
        "Physiotherapist",
        "Podiatrist",
        "Psychiatrist", 
        "Psychologist",
        "Radiologist/Xray",
        "Other"   
      ]
    }); %>

  <%- include(partials+"components/form-partials/text", {
        label: "Practice/Doctor's name",
        hint: "(optional)"
      }); %>
  <%- include(partials+"components/form-partials/text", {
        label: "Phone number"
      }); %>

  <div class="form-group margin-below--large" id="address-lookup-container">
    <label for="text470" class="uikit-text-input__label">
      Address<span class="hint margin-above--none margin-below--none"> (start typing address)</span></label>
    <input type="text" name="address" list="address-lookup" />
    <datalist id="address-lookup">
      <option value="334 Heathcliff Rd, Melrose place, NSW 2045">334 Heathcliff Rd, Melrose place, NSW 2045</option>
      <option value="L2 145 Trent St, Salsbury NSW 2034">L2 145 Trent St, Salsbury NSW 2034</option>
      <option value="1245 Dax Crossing Apt. Melrose place, NSW 2897">1245 Dax Crossing Apt. Melrose place, NSW 2897
      </option>
      <option value="Enter address">Enter new address</option>
    </datalist>
  </div>

</div>

<div class="manualinput" hidden>
  <form class="responsive-form margin-below--extra">
    <%- include(partials+"components/form-partials/text", {
      label: "Building name",
      hint: " (optional)",
      customClass: ["col-12"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Street / unit number",
      customClass: ["col-3"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Street name",
      customClass: ["col-6"]
    }); %>
    <%- include(forms+"dropdown", {
      label: "Street type",
      customClass: ["col-3"],
      options: [
        "-- Select type --",
        {
          text: "Avenue",
          value: "act"
        },
        {
          text: "Place",
          value: "nsw"
        },
        {
          text: "Street",
          value: "nt"
        }
      ]
    }) %>
    <%- include(partials+"components/form-partials/text", {
      label: "Suburb",
      customClass: ["col-6"]
    }); %>
    <%- include(forms+"dropdown", {
      label: "State",
      customClass: ["col-3"],
      options: [
        "-- Select state --",
        {
          text: "Australian Capital Territory",
          value: "act"
        },
        {
          text: "New South Wales",
          value: "nsw"
        },
        {
          text: "Northern Territory",
          value: "nt"
        },
        {
          text: "Queensland",
          value: "qld"
        },
        {
          text: "South Australia",
          value: "sa"
        },
        {
          text: "Tasmania",
          value: "tas"
        },
        {
          text: "Victoria",
          value: "vic"
        },
        {
          text: "Western Australia",
          value: "wa"
        }
      ]
    }) %>
     <%- include(partials+"components/form-partials/text", {
      label: "Postcode",
      customClass: ["col-3"]
    }); %>
  </form>
</div>