<%- include(templates+"header", {
  heading: "Claim for travel expenses",
  claim: "Travel reimbursement"
}) %>

<div id="going-to" class="margin-above--large">

    <div>
    <h2 style="display: inline-block; margin-top: 0;"><span class="font-weight-heavy">Trip details</span></h2>
    <div id="previous" class="floateddd" style="display: inline-block;">|&nbsp;<a>Use previous trip details</a></div>
    </div>

    <%- include(partials+"components/form-partials/date", {
      label: "Appointment date"
    }); %>

    <%- include(partials+"components/form-partials/text", {
      label: "Appointment time",
      id: "time"
    }); %>

  

    <%- include(partials+"components/form-partials/dropdown", {
      label: "Purpose of trip",
      options: [
        "--Select type--",
        "Treatment",
        "Hospital admission",
        "Disability claim",
        "To obtain medical evidence for the Veterans' Review board",
        "To obtain medical evidence for the Specialist Medical Review Council",
        "To attend a hearing at the Veteranss Review Board",
        "To attend Before the Administrative Appeals Tribunal"
      ]
    }); %>

    <div>
      <span id="edit-pickup" class="font-weight-heavy" style="display: inline-block; margin-bottom: 10px;">Health provider attended</span>
      <div id="edit-going-to" style="display: none;">&nbsp;| <a>Change</a></div>
    </div>
    <div id="going-to-prepop" class="margin-below--large" hidden>
        <div class="table" >
          <div class="tr">
            <div class="td">Dr Geneview Shey</div>
          </div>
          <div class="tr">
              <div class="td">Mapletree Practice</div>
            </div>
          <div class="tr">
            <div class="td">L2 145 Trent St</div>
          </div>
          <div class="tr">
            <div class="td">Salsbury NSW 2034</div>
          </div>
        </div>
      </div>
    <%- include(partials+"components/form-partials/radio", {
      id: "going-to-prepop",
      boxes: [
        { 
          text: "Doctor Karl Practice 1245 Dax Crossing Apt. Melrose place, NSW 2897"
        },
        {
          text: "Capital Hospital / Dr Jane Smith 1245 Dax Crossing Apt. Melrose place, NSW 2897"
        },
        {
          text: "Dr Al Appleton, 334 Heathcliff Rd, Melrose place, NSW 2045"
        },
        {
          text: "Dr Geneview Shey, Mapletree Practice, L2 145 Trent St, Salsbury NSW 2034"
        },
        {
          text: "<strong>New provider</strong>"
        }
      ],
      customClass: "adjust"
    }); %>

  <style>
      .adjust {
        margin-top: -6px;
      }
  </style>
  <div id="going-to-enter" hidden>
    <%- include(partials+"components/form-partials/text", {
      label: "Practice/Doctor's name"
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Phone number",
      hint: "text"
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Address line 1",
      modifiers: ["inputFullLength"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Address line 2",
      hint: "(optional)",
      modifiers: ["inputFullLength"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Suburb or town",
      modifiers: ["inputFullLength"]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Postcode"
    }); %>
    <%- include(forms+"dropdown", {
      label: "State or territory",
      options: [
        "-- Select state or territory --",
        {
          text: "Australian Capital Territory",
          value: "act"
        },
        {
          text: "New South Wales",
          value: "nsw"
        },
        {
          text: "Northern Territory",
          value: "nt"
        },
        {
          text: "Queensland",
          value: "qld"
        },
        {
          text: "South Australia",
          value: "sa"
        },
        {
          text: "Tasmania",
          value: "tas"
        },
        {
          text: "Victoria",
          value: "vic"
        },
        {
          text: "Western Australia",
          value: "wa"
        }
      ]
    }) %>
  </div>
</div>

<div>
  <h2 style="display: inline-block; margin-top: 0;"><span class="font-weight-heavy">Cost type</span></h2>

<%- include(partials+"components/form-partials/dropdown", {
  options: [
    "--Select type--",
    "Private vehicle",
    "Public transport",
    "Taxi",
    "Community",
    "Air",
    "Road tolls",
    "Parking fees",
    "Accommodation"
  ],
  id: "cost-type"
}); %>

<%- include(partials+"components/form-partials/text", {
  label: "Kilometres travelled:",
  id: "kms",
  modifiers: ["hidden"]
}); %>

<%- include(partials+"components/form-partials/text", {
  id: "dollars",
  modifiers: ["hidden","dollarSign"]
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Did DVA arrange/pay for this travel?",
  hint: "For example: booked car with driver, air travel or ambulance.",
  modifiers: ["hintNewLine", "hidden"],
  id: "bcwd"
}); %>

</div>

<div id="accommodation-questions" hidden>


<%- include(partials+"components/form-partials/dropdown", {
  label: "Type of accommodation:",
  options: [
    "--Select type--",
    "Commercial",
    "Private",
    "Subsidised"
  ],
  id: "accommodation"
}); %>

<%- include(partials+"components/form-partials/text", {
  label: "Length of stay",
  id: "accomm-nights"
}); %>

<%- include(partials+"components/form-partials/text", {
  label: "Amount paid",
  modifiers: ["dollarSign"]
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Did you travel with a medically required attendant?",
  yes_toggle: "#attendant-container"
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Did you pay for a separate room when travelling with your medically required attendant?",
  id: "attendant",
  modifiers: ["hidden"]
}); %>

</div>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      id: "reset-form",
      link: "/auth/transport/transport-claim-01"
    },
    {
      text: "Cancel",
      link: "#claim-cancel-modal"
    },
    {
      text: "Add expense",
      link: "/auth/transport/transport-claim-03",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(templates+"footer") %>

<script>

$(document).ready(function () {

$("input:radio").prop("checked", false);
$("input:checkbox").prop("checked", false);

// $('#edit-pickup').click(function () {
//   var mySelection = $('#edit-pickup').text().trim();
//   if ( mySelection == "| Change") {
//     $("#pickup-prepop").hide("fast");
//     $("#pickup-enter").show("fast");
//     $('#edit-pickup').html("&nbsp;| Use home");
//   } else {
//     $("#pickup-prepop").show("fast");
//     $("#pickup-enter").hide("fast");
//     $('#edit-pickup').html("&nbsp;| Change");
//   }
// });

$('input[name=going-to-prepop]').change(function () {
      var mySelection = $('input[name=going-to-prepop]:checked').parent().find("span").text().trim();
      $("#going-to-prepop-container").hide("fast");
      $("#edit-going-to").css("display","inline-block");
      if (mySelection == "New provider") {
          $("#going-to-enter").show();
      } else {
          $("#going-to-enter").hide();
          $("#going-to-prepop").show();
      }
    });

$('#cost-type').change(function () {
  var mySelection = $(this).find("option:selected").text().trim();
  console.log( "hhh"+mySelection )
  $("#bcwd-container").hide();
  $("#dollars-container").hide();
  $("#kms-container").hide();
  $("#accommodation-questions").hide();
  switch (mySelection) {
    case "Private vehicle":
      $("#kms-container").show();
      break;
    case "Public transport":
      $("#dollars-container").show();
      break;
    case "Taxi": 
      $("#dollars-container").show();
      $("#bcwd-container").show();
      break;
    case "Community": 
      $("#dollars-container").show();
      break;
    case "Air": 
      $("#dollars-container").show();
      $("#bcwd-container").show();
      break;
    case "Road tolls": 
      $("#dollars-container").show();
      break;
    case "Parking fees": 
      $("#dollars-container").show();
      break;
    case "Accommodation": 
      $("#accommodation-questions").show("fast");
      break;
    default:
      break;
  }
});

$('#accommodation').change(function () {
  var mySelection = $(this).find("option:selected").text().trim();
  switch (mySelection) {
    case "Commercial":
      $("#accommodation-questions").show();
      break;
    default:
      break;
  }
});

$('#edit-going-to').click(function () {
  $("input:radio").prop("checked", false);
  $("#going-to-enter").hide("fast");
  $("#going-to-prepop").hide("fast");
  $("#going-to-prepop-container").show("fast");
});

$('#previous').click(function () {
  $("#going-to-prepop-container").hide("fast");
  $("#going-to-enter").hide();
  $("#going-to-prepop").show();
  $(".dd").val("12");
  $(".mm").val("8");
  $(".yyyy").val("2019");
  $("#time-container input").val("10:45 AM");
  $('select>option:eq(3)').attr('selected', true);
});



});
</script>