<% if (locals.el.optionalID) { 
  var id = locals.el.optionalID;
} else {
  if (locals.el.question) { 
    var id = locals.el.question.replace(/ +/g, ''); 
  } else {
    var id = Math.floor((Math.random() * 1000) + 1);
  }
}
%>

<% if (locals.el.optionalHide === true) { %>
<style>
  #<%=id %> {
    display: none;
  }

</style>
<% } %>



<div class="form-group" id="<%= id %>">
  <div class="uikit-text-input__label-wrapper--inline-block">
    <label class="legend-label"><%=locals.el.question%>
      <% if (locals.el.optionalHint) { %>
      <span class="hint"><%-locals.el.optionalHint%></span>
      <% } %>
      <div class="tooltip">
        <div id="tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="message" aria-expanded="false">
          <div class="tooltip__label tooltip__label--icon-only">
            <a>Help</a>
          </div>
          <div class="tooltip__tab"></div>
        </div>
        <div id="tt-message" class="tooltip__content" aria-labelledby="tt-label" role="region" tabindex="-1" aria-hidden="true">
          <div class="tooltip__message"><%- myHelp %></div>
          <div class="tooltip__close" role="button" tabindex="0">Close</div>
        </div>
      </div>
    </label>
  </div>
  <% if (locals.el.optionalHelp ) { 
          var myHelp = locals.el.optionalHelp; %>

  <% } %>
  <div class="radio-toggle">
    <label class="on label-left" for="<%= id %>-yes">
      <input id="<%= id %>-yes" type="radio" name="<%= id %>" value="yes">
      <span>Yes</span>
    </label>
    <label class="off label-right" for="<%= id %>-no">
      <input id="<%= id %>-no" type="radio" name="<%= id %>" value="no">
      <span>No</span>
    </label>
  </div>
</div>
