<% if (locals.el.optionalID) { 
  var id = locals.el.optionalID;
} else {
    var id = locals.el.question.replace(/ +/g, '_').replace(/\?/g, "").toLowerCase(); 
}



%>
<% if (locals.el.optionalHide === true) { %>
<style>
  #<%=id %> {
    display: none;
  }
</style>
<% } %>
<div class="form-group" id="<%= id %>">
  <label class="uikit-text-input__label" for="sop">
    <%= locals.el.question %>
    <% if (locals.el.optionalHint) { %>
    <span class="hint display-block">
      <%= locals.el.optionalHint %></span>
    <% } %>
  </label>
  <%  locals.el.items.forEach(function(element, index) { 
    var itemID = element.replace(/ +/g, '_').toLowerCase(); 
    if (locals.el.optionalItemID) { 
      itemID = locals.el.optionalItemID[index];
    }
    %>
  <div class="uiToolKitCheckBox">
    <label class="uikit-control-input">
      <input class="uikit-control-input__input" type="radio" id="<%= itemID %>" name="<%= id %>" value="<%= itemID %>">
      <span class="uikit-control-input__text padding-right--none">
        <%-element%></span>
    </label>
    <% if (locals.el.optionalItemHelp ) { 
          var myHelp = locals.el.optionalItemHelp[index];
          if ( myHelp != "" ) { %>
    <div class="tooltip">
      <div id="tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="message"
        aria-expanded="false">
        <div class="tooltip__label tooltip__label--icon-only">
          <a>Operations help</a>
        </div>
        <div class="tooltip__tab"></div>
      </div>
      <div id="tt-message" class="tooltip__content" aria-labelledby="tt-label" role="region" tabindex="-1"
        aria-hidden="true">
        <div class="tooltip__message"><%-myHelp%></div>
        <div class="tooltip__close" role="button" tabindex="0">Close</div>
      </div>
    </div>
    <% }} %>
    <% 
    if ( element == "Other" ) { %>
    <script>
      $("#other<%= index %>").click(function () {
        $("#<%= id %>-other").toggleClass("pt-hide");
      });

    </script>
    <div class="form-group pt-hide" id="<%= id %>-other">
      <label class="uikit-text-input__label margin-above--mid" for="Input field">Please specify</label>
      <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required
        aria-required="true">
    </div>
    <% } %>
  </div>
  <% }); %>
</div>