<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Incapacity Payments | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">How Incapacity Payments work</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <div class="instructions">

            <div class="ongoing-only">
              <img class="instructions__image" src="/docs/images/ico-stethascope.svg" height="100" alt="image of a medical stethiscope">
              <h2 class="instructions__heading">Visit your doctor</h2>
              <p>See a doctor or specialist about your service-related condition or injury. You&nbsp;will need to provide a medical certificate to support your claim for
                Incapacity&nbsp;Benefits.</p>
              <p>During your application you will be asked to provide your doctor's details.</p>

              <p class="margin-above--large">
                <span class="heading heading--spacer ss-align--center"></span>
              </p>
            </div>

            <img class="instructions__image" src="/docs/images/ico-online-form.svg" height="100" alt="image of a digital health card">
            <h2 class="instructions__heading">Complete your claim</h2>
            <p>Depending on your circumstances you may need to provide the following evidence as part of your claim:</p>
            <ul>
              <li class="ongoing-only">medical evidence</li>
              <li>Tax File Declaration form</li>
              <li class="ongoing-only">evidence of medical discharge</li>
              <li>proof of loss of earnings – this may be your military allowance or civilian
                earnings.</li>
            </ul>
            <p>Once you've submitted your claim a DVA delegate will contact you to discuss your claim in more detail.</p>

            <p class="margin-above--large">
              <span class="heading heading--spacer ss-align--center"></span>
            </p>

            <img class="instructions__image" src="/docs/images/ico-sprout.svg" height="100" alt="image of shaking hands">
            <h2 class="instructions__heading">Rehabilitation assessment</h2>
            <p>We want to help you live a healthy and productive life. To do this we may conduct a rehabilitation assessment to see how we can help you
              manage, adapt or improve your service-related condition or injury.
              Learn more about DVA's rehabilitation support on the DVA website.</p>

            <div class="ongoing-only">
              <p class="margin-above--large">
                <span class="heading heading--spacer ss-align--center"></span>
              </p>

              <img class="instructions__image" src="/docs/images/ico-change.svg" height="100" alt="image of an umbrella">
              <h2 class="instructions__heading">Tell us about changes in your circumstances</h2>
              <p>You may need to tell us if you:</p>
              <ul>
                <li>return to work</li>
                <li>receive any additional income</li>
                <li>travel overseas for 6 weeks or longer</li>
                <li>get a job or change jobs</li>
                <li>change your address</li>
                <li>experience a change in your condition</li>
                <li>discharge from the ADF</li>
              </ul>
              <p>Your Incapacity Payments will be reviewed annually. We will send you a letter or email with an Annual Review form.</p>
            </div>
          </div>

        </div>

        <div class="col-md-offset-2 col-md-8">
          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
            <div class="floated">
              <button class="uikit-btn btnNext" id="btnNext">Okay, I've got it</button>
            </div>
          </div>
        </div>


      </div>
    </div>

    <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    $(document).ready(function () {


      $("#btnPrev").click(function () {
        window.location.href = "/auth/claim/incap/a-1"
      });

      // Determine which path
      $('.btnNext').click(function () {
        if ("datachange" in localStorage) {
          location.href = '/auth/claim/incap/progress-e';
        } else {
          location.href = '/auth/claim/incap/progress-b';
        };
      });

      if ("flow1" in localStorage) {
        $(".ongoing-only").hide();
      } else {
        $(".ongoing-only").show();
      };


    });
  </script>

</body>

</html>