<%- include(templates+"header", {
  title: "Incapacity Payments",
  heading: "Cause of incapacity"
})%>

<div class="container">

  <%- include(partials+"components/form-partials/dropdown", {
                label: "Select the primary cause of your incapacity",
                hint: "<BR/>This list shows your accepted conditions",
                tooltip: {
                  content: `<p>If you can't see your condition in this list:</p>
                  <ul>
                    <li>it may not be eligible for this payment due to the time the injury occurred, or</li>
                    <li>it may not be approved yet</li>
                  </ul>
                  For more information call <a href="tel:1800 555 254">1800 555 254</a> or contact your delegate.`,
                  screenreaderText: ""
                },
                modifiers: ["tooltipOnHint"],
                id: "primary",
                options: [
                  "Select a condition",
                  "Depression",
                  "Lumbar spondylosis",
                  "Tinnitus",
                  "Osteoarthritis (DRCA)",
                  "Osteoarthritis (MRCA)"
                ] 
              }); %>
</div>

<%- include(forms+"leave-dates", {
          id: "leave-dates",
          modifiers: ["hidden"]
        }) %>

<%- include(partials+"components/form-partials/checkbox", {
            label: "Select any other conditions that are affecting your capacity to work",
            hint: "<BR/>(select all that apply)",
            id: "other-conditions",
            boxes: [
              "Depression",
              "Lumbar spondylosis",
              "Tinnitus",
              "Osteoarthritis (DRCA)",
              "Osteoarthritis (MRCA)"
            ],
            modifiers: ["hidden"]
          }); %>

</div>
</div>
<div class="container container--8-column">
  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/incap/a-1"
      },
      {
        text: "Cancel claim",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        link: "/auth/claim/incap/progress-b",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>
</div>


<%- include(partials+"content/modals/claims-cancel-modal") %>
</div>

</main>
<script>
  $(Document).ready(function () {

    $("input:checkbox").prop("checked", false);

    $("#btnPrev").click(function () {
      window.location.href = "/auth/claim/incap/a-1"
    });
    $("#btnNext").click(function () {
      window.location.href = "/auth/claim/incap/progress-b"
    });

    $('#primary').prop('selectedIndex', 0);
    $("#primary").change(function () {
      $("input:checkbox").prop("checked", false);
      $("#other-conditions-container").hide();
      var mySelection = $('#primary :selected').val();
      $("#other-conditions-1").parent().parent().show();
      $("#other-conditions-2").parent().parent().show();
      $("#other-conditions-3").parent().parent().show();
      $("#other-conditions-4").parent().parent().show();
      $("#other-conditions-5").parent().parent().show();
      switch (mySelection) {
        case "selectacondition":
          $("#conditions").hide();
          break;
        case "depression":
          $("#other-conditions-1").parent().parent().hide();
          $("#conditions").show();
          $("#selected-label").text("Depression");
          $("#date-label").text("21/05/2014");
          $("#act-label").text("MRCA");
          break;
        case "lumbarspondylosis":
          $("#other-conditions-2").parent().parent().hide();
          $("#conditions").show();
          $("#selected-label").text("Lumbar spondylosis");
          $("#date-label").text("18/11/2008");
          $("#act-label").text("MRCA");
          break;
        case "tinnitus":
          $("#other-conditions-3").parent().parent().hide();
          $("#conditions").show();
          $("#selected-label").text("Tinnitus");
          $("#date-label").text("03/06/2003");
          $("#act-label").text("MRCA");
          break;
        case "osteoarthritisdrca":
          $("#other-conditions-4").parent().parent().hide();
          $("#conditions").show();
          $("#selected-label").text("Osteoarthritis");
          $("#date-label").text("12/03/2011");
          $("#act-label").text("DRCA");
          break;
        case "osteoarthritismrca":
          $("#other-conditions-5").parent().parent().hide();
          $("#conditions").show();
          $("#selected-label").text("Osteoarthritis");
          $("#date-label").text("12/03/2011");
          $("#act-label").text("MRCA");
          break;
        default:
          break;
      }
      $("#leave-dates-container").show("fast");
      $("#other-conditions-container").show("fast");

    });

    // check to see if user is claiming for ongoing payments but not interested in 'loss of civilian earnings'. This user should not see 'Employment' page in their progress bar.
    if ("flow2" in localStorage) {
      $(".employed").hide();
    } else {
      $(".employed").show();
    };

    $("#add-date").click(function () {
      $("#alert-prior").show("fast");
    });

  });
</script>

<%- include(templates+"footer") %>