<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Incapacity Payments | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">

        <!-- Progress bar -->
        <div class="col-xs-12">
          <nav>
            <ul class="progress-container">
              <li class="progress-step progress-step--done">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Employment</p>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/incap/b-2"><span class="progress-step__icon"></span>
                  <p class="progress-step-label">Medical<br>
                    Practitioners</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Rehabilitation</p>
              </li>
              <li class="progress-step progress-step--active">
                <a href="/auth/claim/incap/b-4"><span class="progress-step__icon"></span>
                  <p class="progress-step-label">Other Benefits</p>
                </a>
              </li>
              <li class="progress-step progress-step">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Nominated<br>
                  representative</p>
              </li>
              <li class="progress-step progress-step">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Bank details</p>
              </li>
              <li class="progress-step progress-step--last">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Compensation<br>
                  Damages&nbsp;Action</p>
              </li>
            </ul>
          </nav>
        </div>
        <h1 class="margin-above--none ss-align--center"><span class="heading">Other Benefits</span></h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="margin-above--extra margin-below--extra">
            <h3 class="margin-below--mid">Do you, or did you, receive a superannuation benefit from Commonwealth Superannuation Corporation (CSC) as a pension, lump sum or both?
            </h3><!-- start OTHER BENEFITS -->
            <div class="form-group other-benefits">
              <div class="radio-toggle">
                <label class="on label-left" for="other-benefits-yes"><input id="other-benefits-yes" name="other-benefits" type="radio"> <span>Yes</span></label> <label
                  class="off label-right" for="other-benefits-no"><input id="other-benefits-no" name="other-benefits" type="radio"> <span>No</span></label>
              </div>
            </div><!-- start #other-benefits-detail -->





            <div class="boxed margin-above margin-below" id="other-benefits-detail" style="display: none;">
              <!-- Radio/Switch -->
              <div class="form-group receive-other-benefits">

                <!-- Yes flow start -->
                <div id="receive-other-benefits-details">
                  <!-- start #receive-other-benefits-details -->
                  <!-- .soft-heading -->
                  <!-- checkboxes -->
                  <div class="form-group type-of-member" id="type-of-member">
                    <div class="form-group soft-heading">
                      <label class="uikit-text-input__label" for="sop">Full-time members</label>
                      <div class="uiToolKitCheckBox">
                        <label class="uikit-control-input"><input class="uikit-control-input__input" id="checkbox1" name="checkbox" type="checkbox"> <span
                            class="uikit-control-input__text">DFRDB</span></label>
                      </div>
                      <div class="uiToolKitCheckBox">
                        <label class="uikit-control-input"><input class="uikit-control-input__input" id="checkbox2" name="checkbox" type="checkbox"> <span
                            class="uikit-control-input__text">MSBS</span></label>
                      </div>
                      <div class="uiToolKitCheckBox">
                        <label class="uikit-control-input"><input class="uikit-control-input__input" id="checkbox2" name="checkbox" type="checkbox"> <span
                            class="uikit-control-input__text">ADF</span></label>
                      </div>
                    </div>
                    <div class="form-group type-of-member" id="type-of-member">
                      <div class="form-group soft-heading">
                        <label class="uikit-text-input__label" for="sop">Part-time members</label>
                        <div class="uiToolKitCheckBox">
                          <label class="uikit-control-input"><input class="uikit-control-input__input" id="checkbox1" name="checkbox" type="checkbox"> <span
                              class="uikit-control-input__text">CSS</span></label>
                        </div>
                        <div class="uiToolKitCheckBox">
                          <label class="uikit-control-input"><input class="uikit-control-input__input" id="checkbox2" name="checkbox" type="checkbox"> <span
                              class="uikit-control-input__text">PSS</span></label>
                        </div>
                      </div>
                      <div class="form-group soft-heading">
                        <label class=" uikit-text-input__label" for="course-name">Other</label> <input aria-required="true" class="uikit-text-input" id="course-name"
                          name="course-name" required="" type="text" value="">
                      </div>
                    </div><!-- checkboxes 1 -->


                    <div class="uiToolKitCheckBox">
                      <label class="uikit-control-input"><input class="uikit-control-input__input" id="checkbox1" name="checkbox" type="checkbox"> <span
                          class="uikit-control-input__text">Age
                          Retirement</span></label>
                    </div>
                    <div class="uiToolKitCheckBox">
                      <label class="uikit-control-input"><input class="uikit-control-input__input" id="checkbox2" name="checkbox" type="checkbox"> <span
                          class="uikit-control-input__text">20
                          year service</span></label>
                    </div>
                  </div>
                </div>

                <h3 class="margin-below--mid">Have you received a lump sum of any payment or all of your superannuation benefit from either the Commonwealth
                  Supperannuation
                  Fund (CSC), DFRDB, or MSBS?</h3>
                <legend class="legend-label"></legend>
                <div class="form-group received-lump-sum">
                  <div class="radio-toggle">
                    <label class="on label-left" for="received-lump-sum-yes"><input id="received-lump-sum-yes" name="received-lump-sum" type="radio"> <span>Yes</span></label>
                    <label class="off label-right" for="received-lump-sum-no"><input id="received-lump-sum-no" name="received-lump-sum" type="radio"> <span>No</span></label>
                  </div>
                </div>
                <div class="form-group received-lump-sum-group" style="display:none;">
                  <label class="uikit-text-input__label" for="received-lump-sum-details">Provide details</label>
                  <textarea id="received-lump-sum-details" name="received-lump-sum-details" rows="4"></textarea>
                </div>
              </div>




              <!-- Yes flow -->
              <div class="superannuation-benefit-received">
                <!-- Check boxes x 2 groups - 2 / 3 options -->
                <!-- Subheading - Other -->
                <!-- textfield -->

                <h3 class="margin-below--mid">Has your Commonwealth Superannuation Corporation (CSC) pension been reclassified in the last year?</h3><!-- Radio/Switch -->
                <!-- Hint text - You wil need to upload a copy of the most recent advice received from the Commonwealth Superannuation COrporation (CSC) -->
                <legend class="legend-label"></legend>


                <div class="form-group">
                  <div class="radio-toggle">
                    <label class="on label-left" for="zzz-yes"><input id="zzz-yes" name="zzz" type="radio"> <span>Yes</span></label> <label class="off label-right"
                      for="zzz-no"><input id="zzz-no" name="zzz" type="radio"> <span>No</span></label>
                  </div><!-- Heading -  -->
                  <h3 class="margin-below--mid">Have you received any of your benefits early due to early retirement, financial hardship or medical grounds (eg Employer
                    Productivity Benefit Payment)?</h3><!-- Radio/Switch -->
                  <legend class="legend-label"></legend>
                  <div class="form-group">
                    <div class="radio-toggle">
                      <label class="on label-left" for="qqq-yes"><input id="qqq-yes" name="qqq" type="radio"> <span>Yes</span></label> <label class="off label-right"
                        for="qqq-no"><input id="qqq-no" name="qqq" type="radio"> <span>No</span></label>
                    </div><!-- Heading -  -->
                    <h3 class="margin-below--mid">Have you rolled-over a superannuation benefit from a Commonwealth funded superannuation scheme (eg DRFDB, MSBS, CSS, PSS)
                      other than detailed above</h3><!-- Radio/Switch -->
                    <legend class="legend-label"></legend>
                    <div class="form-group">
                      <div class="radio-toggle">
                        <label class="on label-left" for="ppp-yes"><input id="ppp-yes" name="ppp" type="radio"> <span>Yes</span></label> <label class="off label-right"
                          for="ppp-no"><input id="ppp-no" name="ppp" type="radio"> <span>No</span></label>
                      </div><!-- Heading -  -->
                      <h3 class="margin-below--mid">Do you receive benefits from a Commonwealth Department or Authority (eg Centrelink, Disability Pension/Income Support
                        Supplement from DVA)?</h3><!-- Radio/Switch -->
                      <div class="radio-toggle">
                        <label class="on label-left" for="benefits-from-commonwealth-department-authority-yes"><input id="benefits-from-commonwealth-department-authority-yes"
                            name="benefits-from-commonwealth-department-authority" type="radio"> <span>Yes</span></label> <label class="off label-right"
                          for="benefits-from-commonwealth-department-authority-no"><input id="benefits-from-commonwealth-department-authority-no"
                            name="benefits-from-commonwealth-department-authority" type="radio"> <span>No</span></label>
                      </div><!-- Yes flow -->
                      <!-- Subheading - Provide details -->
                      <!-- text area -->
                      <div class="form-group benefits-from-commonwealth-department-authority" style="display:none;">
                        <label class="uikit-text-input__label" for="benefits-from-commonwealth-department-authority" style="font-weight:500">Provide details</label>
                        <textarea id="benefits-from-commonwealth-department-authority" name="benefits-from-commonwealth-department-authority" rows="4"></textarea>
                      </div><!-- end .form-group 4 -->
                    </div><!-- end .form-group 3 -->
                  </div><!-- end of other benefits section -->


                </div><!-- end .receive-benefit-group -->
                <!-- Save and next -->
                <div class="form-group save-and-next" style="display:none;"></div>
                <p>Choose <b>save and next</b> to continue</p>
              </div> <!-- end #receive-benefits-detail -->





              <%- include(partials+"claims-cancel-modal")  %>





            </div><!-- Yes flow end -->





          </div><!-- end #receive-other-benefits-details -->







        </div>
      </div>
      <div class="pagination pagination--ss-reverse-order">
        <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev" onclick="window.location.href = '/auth/claim/incap/annual-part-b-3'">Previous</button> <button
          class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary">Save and exit</button> <button class="uikit-btn btnNext" id="btnNext"
            onclick="window.location.href = '/auth/claim/incap/annual-part-b-5'">Save
            and next</button>
        </div>
      </div>
    </div>

    </div>
    <%- include(partials+"claims-cancel-modal")  %>
    </div>
    </div>
    </div>
  </main>
  <%- include(partials+"footer") %>
  <script>
    $(function () {

      // other benefits funcionality
      $(document).on('click', '#other-benefits-yes, #other-benefits-yes > span', function () {

        $("#other-benefits-detail").show("fast");
      });

      $(document).on('click', '#other-benefits-no, #other-benefits-no > span', function () {

        $("#other-benefits-detail").hide("fast");
      });



      // received lump sum funcionality
      $(document).on('click', '#received-lump-sum-yes, #received-lump-sum-yes > span', function () {
        console.log("show");
        $(".received-lump-sum-group").show("fast");
      });

      $(document).on('click', '#received-lump-sum-no, #received-lump-sum-no > span', function () {
        console.log("hide");
        $(".received-lump-sum-group").hide("fast");
      });

      // benefits-from-commonwealth-department-authority
      $(document).on('click', '#benefits-from-commonwealth-department-authority-yes, #benefits-from-commonwealth-department-authority-yes > span', function () {
        console.log("show");
        $(".benefits-from-commonwealth-department-authority").show("fast");
      });

      $(document).on('click', '#benefits-from-commonwealth-department-authority-no, #benefits-from-commonwealth-department-authority-no > span', function () {
        console.log("hide");
        $(".benefits-from-commonwealth-department-authority").hide("fast");
      });







    });
  </script>


</body>

</html>