<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Incapacity Payments | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">

        <!-- Progress bar -->
        <div class="col-xs-12">
          <nav>
            <ul class="progress-container">
              <li class="progress-step progress-step--done">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Employment</p>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/incap/b-2">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Medical<br />Practitioners</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Rehabilitation</p>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/incap/b-4">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Other Benefits</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Nominated<br />representative</p>
              </li>
              <li class="progress-step progress-step--done">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Bank details</p>
              </li>
              <li class="progress-step progress-step--last progress-step--active">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Compensation <br />Damages&nbsp;Action</p>
              </li>
            </ul>
          </nav>
        </div>

        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Compensation damages action</span>
        </h1>


        <div class="container">
          <div class="row">
            <div class="col-md-offset-2 col-md-8">

              <div class="margin-above--extra margin-below--extra">

                <h3 class="margin-below--mid">Have you or your legal representative commenced, intend to commence, or finalised a common law (Third Party) or State Workers
                  Compensation damages action?</h3>

                <!-- start compensation damges action -->
                <div class="compensation-damages">
                  <!-- radio button/switch Yes/No  -->
                  <div class="form-group">
                    <div class="radio-toggle">
                      <label class="on label-left" for="compensation-damages-yes">
                        <input id="compensation-damages-yes" type="radio" name="compensation-damages">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="compensation-damages-no">
                        <input id="compensation-damages-no" type="radio" name="compensation-damages">
                        <span>No</span>
                      </label>
                    </div>
                  </div>

                  <!-- Yes flow -->
                  <div class="form-group compensation-damages-group" style="display:none;">
                    <label class="uikit-text-input__label" for="compensation-damages-details" style="font-weight: 500;">Provide details</label>
                    <textarea id="compensation-damages-details" name="compensation-damages-details" rows="4"></textarea>
                  </div>

                </div>
                <!-- end compensation damges action -->

                <div class="pagination pagination--ss-reverse-order">
                  <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev" onclick="window.location.href = '/auth/claim/incap/annual-part-b-6'">Previous</button>
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#'">Cancel claim</button>
                  <div class="floated">
                    <button class="uikit-btn uikit-btn--tertiary">Save and exit</button>
                    <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '#'">Save and next</button>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <%- include(partials+"claims-cancel-modal") %>
        </div>

  </main>

  <%- include(partials+"footer") %>

  <script>
    $(function () {
      // compensation damages functionality
      $(document).on('click', '#compensation-damages-yes, #compensation-damages-yes > span', function () {
        $(".compensation-damages-group").show("fast");
      });

      $(document).on('click', '#compensation-damages-no, #compensation-damages-no > span', function () {
        $(".compensation-damages-group").hide("fast");
      });

    });
  </script>

</body>

</html>