<%- include(templates+"header", {
  claim: "Incapacity Payments"
})%>
</div>
<main>
    <div id="main-content"
        class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above--none">

            <!-- Progress bar -->
            <div class="col-xs-12">
                <nav>
                    <ul class="progress-container">
                        <li class="progress-step progress-step--done">
                            <span class="progress-step__icon"></span>
                            <p class="progress-step-label">Employment</p>
                        </li>
                        <li class="progress-step progress-step--done">
                            <a href="/auth/claim/incap/b-2">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">Medical<br />Practitioners</p>
                            </a>
                        </li>
                        <li class="progress-step progress-step--done">
                            <span class="progress-step__icon"></span>
                            <p class="progress-step-label">Rehabilitation</p>
                        <li class="progress-step progress-step--done">
                            <a href="/auth/claim/incap/b-4">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">Other Benefits</p>
                            </a>
                        </li>
                        <li class="progress-step progress-step--done">
                            <span class="progress-step__icon"></span>
                            <p class="progress-step-label">Nominated<br />representative</p>
                        </li>
                        <li class="progress-step progress-step--active">
                            <span class="progress-step__icon"></span>
                            <p class="progress-step-label">Bank details</p>
                        </li>
                        <li class="progress-step progress-step--last">
                            <span class="progress-step__icon"></span>
                            <p class="progress-step-label">Compensation <br />Damages&nbsp;Action</p>
                        </li>
                    </ul>
                </nav>
            </div>

            <h1 class="margin-above--none ss-align--center">
                <span class="heading">Bank details</span>
            </h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">

                <div class="margin-above--extra margin-below--extra">

                    <p class="text-fullwidth">Provide your bank details. If your claim is approved your Incapacity
                        Payments will go into this&nbsp;account.</p>

                    <div class="uikit-page-alerts uikit-page-alerts--info margin-above margin-below">
                        <p class="margin-below--mid">This will be your nominated bank account for all DVA payments</p>
                    </div>


                    <%- include(partials+"bank-account-details") %>

                </div>
                <%- include(forms+"pagination", {
            pagination: [
              {
                text: "Previous",
                link: "/auth/claim/incap/annual-review-part-b-5"
              },
              {
                text: "Cancel claim",
                link: "#open-modal"
              },
              {
                text: "Save and exit",
                link: "/auth/claim",
                modifiers: ["floated"]
              },
              {
                text: "Save and next",
                link: "/auth/claim/incap/annual-review-part-b-7",
                modifiers: ["floated", "primary"]
              }
            ]
          }) %>
            </div>
        </div>
    </div>

    <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

</main>

<%- include(templates+"footer") %>