<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Incapacity Payments | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">

        <!-- Progress bar -->
        <div class="col-xs-12">
          <nav>
            <ul class="progress-container">
              <li class="progress-step progress-step--done ongoing-only">
                <a href="/auth/claim/incap/b-1">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Your conditions</p>
                </a>
              </li>
              <li class="progress-step progress-step--active">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Service history</p>
              </li>
              <li class="progress-step ongoing-only employed">
                <a href="/auth/claim/incap/b-3">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Employment</p>
                </a>
              </li>
              <li class="progress-step ongoing-only">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Medical practitioners</p>
              </li>
              <li class="progress-step">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Nominated representative</p>
              </li>
              <li class="progress-step ongoing-only">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Compensation damages action</p>
              </li>
              <li class="progress-step progress-step--last">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Bank&nbsp;details</p>
              </li>
            </ul>
          </nav>
        </div>

        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Service History</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <div class="margin-above--extra margin-below--extra">

            <!-- <div id="service-number" class="form-group">
              <label class="uikit-text-input__label" for="nomrep-name">Service number</label>
              <input class="uikit-text-input input-half" name="nomrep-name" id="nomrep-name" type="text" value="">
            </div>

            <div id="enlistment-date" class="form-group">
              <label class="uikit-text-input__label" for="dd-discharge">Enlistment date
                <span class="hint">(dd / mm / yyyy)</span>
              </label>
              <input class="uikit-text-input dd" type="number" name="dd-enlistment" id="dd-enlistment" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="number" name="mm-enlistment" id="mm-enlistment" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="number" name="yyyy-enlistment" id="yyyy-enlistment" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div> -->

            <!-- <div class="reservist-details" class="form-group">
              <h3>Questions about reservist contract details go here</h3>
            </div> -->

            <!-- <div class="uikit-page-alerts uikit-page-alerts--warning">
              <p>You may not be eligible for Incapacity Payments.<br>If you have questions about your eligibility, use the <a href="">MyService Help panel</a>.</p>
            </div> -->

            <div id="discharge-date" class="form-group">
              <label class="uikit-text-input__label" for="dd-discharge">Date of discharge <span class="hint">(dd / mm / yyyy)</span>
              </label>
              <input class="uikit-text-input dd" type="number" name="dd-discharge" id="dd-discharge" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="number" name="mm-discharge" id="mm-discharge" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="number" name="yyyy-discharge" id="yyyy-discharge" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>

            <div id="discharge-reason" class="form-group margin-above">
              <label class="uikit-text-input__label" for="discharge-reason">Reason for discharge</label>
              <select class="uikit-text-input input-half" id="discharge-reason" name="discharge-reason">
                <option>-- Select a reason --</option>
                <option>Medical</option>
                <option>Administrative</option>
                <option>Voluntary</option>
                <option>Other</option>
              </select>
            </div>

            <div id="discharge-rank" class="form-group margin-above">
              <label class="uikit-text-input__label" for="rank">Rank at date of discharge</label>
              <select class="uikit-text-input input-half" id="rank" name="rank">
                <option>-- Select a rank --</option>
                <option>Sergeant</option>
                <option>Officer</option>
                <option>Corporal</option>
              </select>
            </div>

            <div id="discharge-paygroup" class="form-group margin-above margin-below">
              <label class="uikit-text-input__label" for="paygroup">Pay group at date of discharge <span class="hint">(optional)</span></label>
              <select class="uikit-text-input input-half" id="paygroup" name="paygroup">
                <option>-- Select a pay group --</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
              </select>
            </div>

            <!-- <div id="loss-of-allowance-story">
              <fieldset class="form-group">
                <h4 class="uikit-text-input__label margin-above--none" for="textArea">Tell us about your lost allowances <span class="hint">(optional)</span>
                  <span class="hint display-block">Include any related operation details including name, start and end dates.</span>
                </h4>
                <textarea id="textArea" name="statementText" rows="4"></textarea>
              </fieldset>
            </div>

            <div id="loss-of-career-progression-story">
              <fieldset class="form-group">
                <h4 class="uikit-text-input__label margin-above--none" for="textArea">Tell us about your loss of career progression <span class="hint">(optional)</span>
                  <span class="hint display-block">For example [get examples from Frankie]</span></h4>
                <textarea id="textArea" name="statementText" rows="4"></textarea>
              </fieldset>
            </div>

            <div id="loss-of-career-progression-story">
              <fieldset class="form-group">
                <h4 class="uikit-text-input__label margin-above--none" for="textArea">Tell us about your loss of Reserve earnings <span class="hint">(optional)</span>
                  <span class="hint display-block">[get examples from Frankie]</span></h4>
                <textarea id="textArea" name="statementText" rows="4"></textarea>
              </fieldset>
            </div>

            <div class="form-group margin-below--large">
              <legend class="legend-label">Were you on a CFTS contract?</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="cfts-yes">
                  <input id="cfts-yes" type="radio" name="cfts">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="cfts-no">
                  <input id="cfts-no" type="radio" name="cfts">
                  <span>No</span>
                </label>
              </div>
            </div>

            <div class="form-group margin-below--large">
              <legend class="legend-label">Did you earn any income as a Reservist prior to being on a CFTS contract?</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="reservistincome-yes">
                  <input id="reservistincome-yes" type="radio" name="reservistincome">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="reservistincome-no">
                  <input id="reservistincome-no" type="radio" name="reservistincome">
                  <span>No</span>
                </label>
              </div>
            </div>


            <div class="form-group margin-below--large">
              <legend class="legend-label">During the period you were earning income as a Reservist, were you also earning a civilian income?</span></legend>
              <div class="radio-toggle">
                <label class="on label-left" for="civilianincome-yes">
                  <input id="civilianincome-yes" type="radio" name="civilianincome">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="civilianincome-no">
                  <input id="civilianincome-no" type="radio" name="civilianincome">
                  <span>No</span>
                </label>
              </div>
            </div> -->


            <!-- <div class="form-group margin-above">
              <label class="uikit-text-input__label" for="reservist-hours-worked">Prior to your CFTS contract, how many hours did you work per week as a Reservist? <span class="hint"></span><span
                  class="hint display-block">Do
                  not include overtime</span>
              </label>
              <input class="uikit-text-input yyyy" type="number" name="reservist-hours-worked" maxlength="3" required aria-required="true" aria-label="2 digit hours">
              &nbsp;hours&nbsp;per&nbsp;week
            </div>

            <div class="form-group margin-above">
              <label class="uikit-text-input__label" for="reservist-hours-worked">Prior to your CFTS contract, how many hours did you work per week as a civilian?</label>
              <input class="uikit-text-input yyyy" type="number" name="reservist-hours-worked" maxlength="3" required aria-required="true" aria-label="2 digit hours">
              &nbsp;hours&nbsp;per&nbsp;week
            </div> -->

          </div>



          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim?user=INCAPuser-incomplete'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
            </div>
          </div>

        </div>


      </div>
    </div>

    <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    $(Document).ready(function () {

      // Check to see if user is only claiming for loss of allowance or loss of career progression. If they are, they should only see three steps in the progress bar and progress to the Nominated Rep page when they click the 'Next' button.
      if ("flow1" in localStorage) {
        $(".ongoing-only").hide();
        $("#btnNext").click(function () {
          window.location.href = "/auth/claim/incap/b-5"
        });
        $("#btnPrev").click(function () {
          window.location.href = "/auth/claim/incap/progress-b"
        });
      } else {
        $("#btnNext").click(function () {
          window.location.href = "/auth/claim/incap/b-3"
        });
        $("#btnPrev").click(function () {
          window.location.href = "/auth/claim/incap/b-1"
        });
      };

      // Check to see if user is claiming for ongoing payments but not interested in a 'loss of civilian earnings' because this user should not be asked about their employment or see it as a step in the progress bar.
      if ("flow2" in localStorage) {
        $(".employed").hide();
        $("#btnNext").click(function () {
          window.location.href = "/auth/claim/incap/b-4"
        });
        $("#btnPrev").click(function () {
          window.location.href = "/auth/claim/incap/b-1"
        });
      }

    });
  </script>

</body>

</html>