<%- include(templates+"header", {
  claim: "Incapacity Payments"
})%>
</div>
<main>
    <div id="main-content"
        class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above--none">

            <!-- Progress bar -->
            <div class="col-xs-12">
                <nav>
                    <ul class="progress-container">
                        <li class="progress-step progress-step--done">
                            <a href="/auth/claim/incap/b-2">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">Service history</p>
                            </a>
                        </li>
                        <li class="progress-step progress-step--active">
                            <span class="progress-step__icon"></span>
                            <p class="progress-step-label">Civilian employment</p>
                        </li>
                        <li class="progress-step ongoing-only">
                            <span class="progress-step__icon"></span>
                            <p class="progress-step-label">Medical practitioners</p>
                        </li>
                        <li class="progress-step ongoing-only">
                            <span class="progress-step__icon"></span>
                            <p class="progress-step-label">Nominated representative</p>
                        </li>
                        <li class="progress-step ongoing-only">
                            <span class="progress-step__icon"></span>
                            <p class="progress-step-label">Other details</p>
                        </li>
                        <li class="progress-step progress-step--last">
                            <span class="progress-step__icon"></span>
                            <p class="progress-step-label">Bank&nbsp;details</p>
                        </li>
                    </ul>
                </nav>
            </div>

            <h1 class="margin-above--none ss-align--center">
                <span class="heading">Civilian employment</span>
            </h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="margin-below--extra">

                    <h3 class="margin-above--extra margin-below--large hide-on-load">Tell us about any civilian jobs you
                        currently hold or have held within the last 12 months.<span class="hint display-block">You can
                            list
                            more than one
                            job.</span></h3>



                    <%- include("employment-card") %>

                    <button class="uikit-btn hide-on-load" id="add-service" onClick="showNewCard('employment')">Add
                        employment</button>

                    <div id="alert-no-service" style="display: none;"
                        class="uikit-page-alerts uikit-page-alerts--error margin-above" role="alert">
                        <span class="uikit-display-1">You need to add at least one period of employment.</span>
                    </div>
                </div>
                <%- include(forms+"pagination", {
                      pagination: [
                        {
                          text: "Previous",
                          link: "/auth/claim/incap/b-2"
                        },
                        {
                          text: "Cancel claim",
                          link: "#open-modal"
                        },
                        {
                          text: "Save and exit",
                          link: "/auth/claim",
                          modifiers: ["floated"]
                        },
                        {
                          text: "Save and next",
                          link: "/auth/claim/incap/b-4",
                          modifiers: ["floated", "primary"]
                        }
                      ]
                    }) %>

            </div>

        </div>

        <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

</main>
<script>
    $(Document).ready(function () {
        $("#btnPrev").click(function () {
            window.location.href = "/auth/claim/incap/b-2"
        });
    });

    function checkSaveAndNext() {
        console.log("dfgdfgfd" + userEntries.length)
        if (userEntries.length == 0) {
            $("#alert-no-service").show("fast");
        } else {
            myNav = "/auth/claim/incap/b-4"
            window.location.href = myNav;
        }
    }
</script>
<%- include(templates+"footer") %>