<%- include(templates+"header", {
  title: "Incapacity Payments"
})%>
    </div>
    <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <div class="container margin-above--none">
                <!-- Progress bar -->
                <div class="col-xs-12">
                    <nav>
                        <ul class="progress-container">
                            <li class="progress-step progress-step--done">
                                <a href="/auth/claim/incap/b-2">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Service history</p>
                                </a>
                            </li>
                            <li class="progress-step progress-step--done">
                                <a href="/auth/claim/incap/b-3">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Civilian employment</p>
                                </a>
                            </li>
                            <li class="progress-step progress-step--done">
                                <a href="/auth/claim/incap/b-4">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Medical practitioners</p>
                                </a>
                            </li>
                            <li class="progress-step progress-step--done">
                                <a href="/auth/claim/incap/b-5">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Nominated representative</p>
                                </a>
                            </li>
                            <li class="progress-step progress-step--active">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">Other details</p>
                            </li>
                            <li class="progress-step progress-step--last">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">Bank&nbsp;details</p>
                            </li>
                        </ul>
                    </nav>
                </div>
                <h1 class="margin-above--none ss-align--center">
                    <span class="heading">Other details</span>
                </h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">

                    <div class="margin-above--extra margin-below--extra">

                        <div class="margin-below--extra">
                            <%- include(partials+"components/form-partials/yes_no", {
        label: "Do you receive any payments from Centrelink?"
      }); %>

                                <fieldset id="compensation-damages-action">
                                    <div class="form-group">
                                        <legend class="legend-label">Have you started, intend to start, or finalised a Third Party or State Workers Compensation damages action?</legend>
                                        <div class="radio-toggle">
                                            <label class="on label-left" for="compensation-yes">
                      <input id="compensation-yes" type="radio" name="compensation">
                      <span>Yes</span>
                    </label>
                                            <label class="off label-right" for="compensation-no">
                      <input id="compensation-no" type="radio" name="compensation">
                      <span>No</span>
                    </label>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset id="compensation-damages-action-rep">
                                    <div class="form-group">
                                        <legend class="legend-label">Do you have a lawyer representing you in this action?</legend>
                                        <div class="radio-toggle">
                                            <label class="on label-left" for="solicitor-yes">
                      <input id="solicitor-yes" type="radio" name="solicitor-question">
                      <span>Yes</span>
                    </label>
                                            <label class="off label-right" for="solicitor-no">
                      <input id="solicitor-no" type="radio" name="solicitor-question">
                      <span>No</span>
                    </label>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset id="representative">
                                    <div class="form-group">
                                        <label class="uikit-text-input__label" for="radio-buttons">Who is representing you?</label>
                                        <p class="uiToolKitCheckBox margin-above">
                                            <label class="uikit-control-input">
                      <input id="same-solicitor" class="uikit-control-input__input" type="radio" name="radio-ex">
                      <span class="uikit-control-input__text">Mr Lionel Hutz</span>
                    </label>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                      <input id="new-solicitor" class="uikit-control-input__input" type="radio" name="radio-ex">
                      <span class="uikit-control-input__text">Someone else</span>
                    </label>
                                        </p>
                                    </div>
                                </fieldset>

                                <div id="solicitor-details">
                                    <hr>
                                    <h2>Lawyer details</h2>
                                    <div class="form-group">
                                        <label class="uikit-text-input__label" for="solicitor-name">Contact name</label>
                                        <input class="uikit-text-input input-half" name="solicitor-name" id="solicitor-name" type="text" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="uikit-text-input__label" for="solicitor-firm">Firm name</label>
                                        <input class="uikit-text-input input-half" name="solicitor-firm" id="solicitor-firm" type="text" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="uikit-text-input__label" for="solicitor-phone">Contact phone number</label>
                                        <input class="uikit-text-input input-half" name="solicitor-phone" id="solicitor-phone" type="text" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="uikit-text-input__label" for="solicitor-email">Email address</label>
                                        <input class="uikit-text-input input-half" name="solicitor-email" id="solicitor-email" type="text" value="">
                                    </div>

                                </div>

                                <!-- Save and next -->

                                <div class="form-group save-and-next" style="display:none;">
                                    <p>Choose <b>save and next</b> to continue</p>
                                </div>

                        </div>
                        <%- include(forms+"pagination", {
                          pagination: [
                            {
                              text: "Previous",
                              id: "btnPrev",
                              link: "/auth/claim/incap/b-5"
                            },
                            {
                              text: "Cancel claim",
                              link: "#open-modal"
                            },
                            {
                              text: "Save and exit",
                              link: "/auth/claim",
                              modifiers: ["floated"]
                            },
                            {
                              text: "Save and next",
                              id: "btnNext",
                              link: "/auth/claim/incap/b-7",
                              modifiers: ["floated", "primary"]
                            }
                          ]
                        }) %>

                    </div>


                </div>
            </div>

            <%- include(partials+"content/modals/claims-cancel-modal") %>
        </div>
    </main>
    <%- include(partials+"components/layout/footer") %>
        <script>
            $(Document).ready(function() {
                $("#btnPrev").click(function() {
                    window.location.href = "/auth/claim/incap/b-5"
                });
                $("#btnNext").click(function() {
                    window.location.href = "/auth/claim/incap/b-7"
                });

                // check to see if user is claiming for ongoing payments but not interested in 'loss of civilian earnings'. This user should not see 'Employment' page in their progress bar.
                if ("flow2" in localStorage) {
                    $(".employed").hide();
                } else {
                    $(".employed").show();
                };


                $("#compensation-damages-action-rep").hide();
                $("#representative").hide();
                $("#solicitor-details").hide();


                $("#compensation-yes").click(function() {
                    $("#compensation-damages-action-rep").show("fast");
                    $(".save-and-next").hide();
                });
                $("#compensation-no").click(function() {
                    $("#compensation-damages-action-rep").hide();
                    $(".save-and-next").show("fast");
                });


                $("#solicitor-yes").click(function() {
                    $("#representative").show("fast");
                    $(".save-and-next").hide();
                });
                $("#solicitor-no").click(function() {
                    $("#representative").hide();
                    $(".save-and-next").show("fast");
                });

                $("#new-solicitor").click(function() {
                    $("#solicitor-details").show("fast");
                });
                $("#same-solicitor").click(function() {
                    $("#solicitor-details").hide();
                });

            });
        </script>

        </body>

        </html>