<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Incapacity Payments | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">

        <!-- Progress bar -->
        <div class="col-xs-12">
          <nav>
            <ul class="progress-container">
              <!-- <li class="progress-step progress-step--done">
                <a href="/auth/claim/incap/b-1">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Cause of incapacity</p>
                </a>
              </li> -->
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/incap/b-2">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Service history</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/incap/b-3">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Civilian employment</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/incap/b-4">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Medical practitioners</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/incap/b-5">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Nominated representative</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/incap/b-6">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Other details</p>
                </a>
              </li>
              <li class="progress-step progress-step--last progress-step--active">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Bank&nbsp;details</p>
              </li>
            </ul>
          </nav>
        </div>

        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Bank details</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="margin-above--extra margin-below--extra">

            <p>Provide your bank details. If your claim is approved your Incapacity Payments will go into this account</p>

            <div class="uikit-page-alerts uikit-page-alerts--info margin-above margin-below--none-small">
              <p>This will be your nominated bank account for all DVA payments</p>
            </div>

            <div id="bank-details">
              <%- include(partials+"components/form-groups/bank-details") %>
            </div>

            <%- include(partials+"components/form-partials/checkbox", {
              boxes: [
                { 
                  text: "I would like to nominate an overseas bank account",
                  inject: "#overseas"
                }
              ],
              id: "nominate"
            }); %>


            <div id="overseas" style="margin-top: -15px; margin-left: 40px;" hidden>
              <p>To nominate an overseas account please complete the <a href="https://www.dva.gov.au/about-dva/forms/dva-forms-keyword" class="external;">appropriate form</a>.</p>
              <div class="tooltip">
                <div id="tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="message" aria-expanded="false">
                  <div class="tooltip__label tooltip__label--icon-only">
                    <a>Overseas payments redirection help</a>
                  </div>
                  <div class="tooltip__tab"></div>
                </div>
                <div id="tt-message" class="tooltip__content" aria-labelledby="tt-label" role="region" tabindex="-1" aria-hidden="true">
                  <div class="tooltip__message">
                    This link will take you to the DVA website forms page. Click on "B" from the alphabetical listing at the top of the page. Look under the heading "Bank
                    accounts" to find the appropriate form based on country.
                  </div>
                  <div class="tooltip__close" role="button" tabindex="0">Close</div>
                </div>
              </div>

            </div>

          </div>

        </div>

        <div class="pagination pagination--ss-reverse-order">
          <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
          <div class="floated">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim?user=INCAPuser-incomplete'">Save and exit</button>
            <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
          </div>
        </div>

      </div>


    </div>
    </div>

    <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    $(Document).ready(function () {

      $("input:radio").prop("checked", false);
      $("input:checkbox").prop("checked", false);

      $("#nominate").change(function () {
        var mySelection = $('#nominate :checked').val();
        if (mySelection == "on") {
          $('#bank-details').css({ opacity: 0.5 });
        } else {
          $('#bank-details').css({ opacity: 1 });
        }
      });

      // Check to see if user is only claiming for loss of allowance or loss of career progression. If they are, they should only see three steps in the progress bar and go to the 'Nominated Rep' page when they click the 'Previous' button.
      if ("flow1" in localStorage) {
        $(".ongoing-only").hide();
        $("#btnNext").click(function () {
          window.location.href = "/auth/claim/incap/progress-c"
        });
        $("#btnPrev").click(function () {
          window.location.href = "/auth/claim/incap/b-5"
        });
      } else {
        $(".ongoing-only").show();
        $(".employed").show();
        $("#btnNext").click(function () {
          window.location.href = "/auth/claim/incap/progress-c"
        });
        $("#btnPrev").click(function () {
          window.location.href = "/auth/claim/incap/b-6"
        });
      };

      // check to see if user is claiming for ongoing payments but not interested in 'loss of civilian earnings'. This user should not see 'Employment' page in their progress bar and should navigate to 'Nominated Rep' page on click of 'Previous' button.
      if ("flow2" in localStorage) {
        $(".employed").hide();
      };

      //toggle save and next
      $("#save-next-toggle-yes, #save-next-toggle-no").click(function () {
        $('#save-and-next').removeClass("hidden");
        console.log('working');
      });


      // Show and hide needs list
      $("#leaving-yes").click(function () {
        $(".leaving-date").show("fast");
        $(".save-and-next").hide();
      });
      $("#leaving-no").click(function () {
        $(".leaving-date").hide();
        $(".save-and-next").show("fast");
      });

    });

  </script>

</body>

</html>
