<%- include(templates+"header", {
  title: "Incapacity Payments",
  heading: "Before you start"
})%>

<div class="container container--8-column">
  <%- include(partials+"components/form-partials/yes_no", {
              label: "Have you ever earnt income as a reservist?",
              yes_toggle: "#leaving"
            }); %>

  <div id="leaving" hidden>
    <%- include(partials+"components/form-partials/yes_no", {
              label: "Will you be leaving the Reserves in the next 3 months?"
            }); %>
  </div>
  <%- include(forms+"pagination", {
              pagination: [
                {
                  text: "Previous",
                  link: "/auth/claim"
                },
                {
                  text: "Cancel claim",
                  link: "#open-modal"
                },
                {
                  text: "Save and exit",
                  link: "/auth/claim",
                  modifiers: ["floated"]
                },
                {
                  text: "Save and next",
                  link: "/auth/claim/incap/progress",
                  modifiers: ["floated", "primary"]
                }
              ]
            }) %>
</div>
<%- include(partials+"content/modals/claims-cancel-modal") %>
</main>
<%- include(templates+"footer") %>