<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Incapacity Payments | Before you start</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">

        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Before you start</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <div class="margin-above--extra margin-below--extra">

            <%- include(partials+"components/form-partials/yes_no", {
              label: "Have you ever earnt income as a reservist?",
              yes_toggle: "#leaving"
            }); %>

            <div id="leaving" hidden>
              <%- include(partials+"components/form-partials/yes_no", {
              label: "Will you be leaving the Reserves in the next 3 months?"
            }); %>
            </div>

          </div>
        </div>

        <div class="pagination pagination--ss-reverse-order">
          <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
          <div class="floated">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim?user=INCAPuser-incomplete'">Save and exit</button>
            <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
          </div>
        </div>

      </div>

    </div>
    </div>

    <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    $(Document).ready(function () {

      $("#btnPrev").click(function () {
        window.location.href = "/auth"
      });
      $("#btnNext").click(function () {
        window.location.href = "/auth/claim/incap/progress"
      });

    });
  </script>

</body>

</html>
