<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Incapacity Payments | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>

    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">

            <h1 class="margin-above--none ss-align--center">
              <span class="heading">Before you start</span>
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container container--8-column">

          <div class="margin-above--extra form-group current-job">
            <legend class="legend-label">Will you be leaving the ADF in the next 3 months?</legend>
            <div class="radio-toggle">
              <label class="on label-left" for="leavingADF-yes">
                <input id="leavingADF-yes" type="radio" name="leavingADF">
                <span>Yes</span>
              </label>
              <label class="off label-right" for="leavingADF-no">
                <input id="leavingADF-no" type="radio" name="leavingADF">
                <span>No</span>
              </label>
            </div>
          </div>

          <div class="form-group leavingdate margin-above--extra" style="display:none;">
            <label class="uikit-text-input__label" for="dd-leavingdate">When are you leaving? <span class="hint display-block">(dd / mm / yyyy)</span>
            </label>
            <div>
              <input class="uikit-text-input dd" type="number" name="dd-leavingdate" id="dd-leavingdate" maxlength="2" required aria-required="true" aria-label="2 digit day">
              /
              <input class="uikit-text-input mm" type="number" name="mm-leavingdate" id="mm-leavingdate" maxlength="2" required aria-required="true" aria-label="2 digit month">
              /
              <input class="uikit-text-input yyyy" type="number" name="yyyy-leavingdate" id="yyyy-leavingdate" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>
          </div>

          <!-- Save and next -->

          <div class="form-group save-and-next ss-align--center margin-above--extra" style="display:none;">
            <p class="text-fullwidth">Choose <b>save and next</b> to continue.</p>
          </div>

          <hr>

          <div class="form-group current-job margin-below--extra">
            <legend class="legend-label">Have you ever earnt income as a Reservist?</legend>
            <div class="radio-toggle">
              <label class="on label-left" for="Reservist-yes">
                <input id="Reservist-yes" type="radio" name="Reservist">
                <span>Yes</span>
              </label>
              <label class="off label-right" for="Reservist-no">
                <input id="Reservist-no" type="radio" name="Reservist">
                <span>No</span>
              </label>
            </div>
          </div>

          <div class="form-group current-job margin-below--extra">
            <legend class="legend-label">Do you have one or more conditions that DVA has accepted liability for?</legend>
            <div class="radio-toggle">
              <label class="on label-left" for="ApprovedConditions-yes">
                <input id="ApprovedConditions-yes" type="radio" name="ApprovedConditions">
                <span>Yes</span>
              </label>
              <label class="off label-right" for="ApprovedConditions-no">
                <input id="ApprovedConditions-no" type="radio" name="ApprovedConditions">
                <span>No</span>
              </label>
            </div>
          </div>




          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/claims-make'">Back to Claims</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/claims-make'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
            </div>
          </div>

    </div>

    <%- include(partials+"content/modals/claims-cancel-modal") %>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    $(Document).ready(function () {
      localStorage.clear();
      $("#btnNext").click(function () {
        window.location.href = "/auth/claim/incap/progress"
      });
    });

    // Show and hide leaving date
    $("#leavingADF-yes").click(function () {
      $(".leavingdate").show();
      $(".save-and-next").hide();
    });
    $("#leavingADF-no").click(function () {
      $(".leavingdate").hide();
      $(".save-and-next").show();
    });
  </script>

</body>

</html>