<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Incapacity Payments | What's next?</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="claim-end">

            <div class="pt-claim-type--normal">
              <div class="margin-above ie-success-animation">
                <img src="/docs/images/ico-submitted.svg" alt="Success tick icon">
              </div>
              <div class="margin-above submitted-animation">
                <%- include(partials+"components/animations/submitted") %>

              </div>
              <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
                <h1>We're submitting your claim for Incapacity Payments</h1>
              </div>
            </div>

            <div class="transition-content pt-claim-animation-end margin-below--extra">
              <div class="pt-claim-type--normal">
                <h1 class="cantered-item">Your claim for Incapacity Payments has been
                  <span class="font-weight-heavy"> submitted</span>
                </h1>
              </div>

              <hr class="orange-divider">

              <div class="margin-below--extra">
                <!-- <h3 class="ss-align--center">We will use the information you have provided to determine your claim.</h3> -->
                <h2 class="ss-align--center"><b>What's next?</b></h2>

                <div class="container">
                  <div class="col-sm-offset-1 col-sm-8">
                    <ol class="next-steps">
                      <li>You will receive a confirmation email about your claim with some important information about&nbsp;next&nbsp;steps.</li>
                      <li>A delegate will be in contact with you within the next 10&nbsp;business&nbsp;days.</li>
                    </ol>
                  </div>
                </div>

                <div class="uikit-page-alerts uikit-page-alerts--warning margin-below--extra ss-align--center">
                  <p class="ss-align margin-below--mid">You still need to provide:</p>
                  <ul class="ss-align margin-below--mid">
                    <li>Discharge certificate</li>
                    <li>Proof of military earnings</li>
                  </ul>
                  <p class="ss-align">We will contact you with instructions on how to provide additional documents.</p>
                </div>

              </div>

              <div class="pagination ss-align--center">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim?user=INCAPuser-submitted'">Back to home</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".pt-claim-animation-start").toggleClass("transition-content--open");
        $(".pt-claim-animation-end").toggleClass("transition-content--open");
      }, timeDelay);

  </script>

</body>

</html>
