<%- include(templates+"header", {
  claim: "Support for employment",
  heading: "Service history",
  modifiers: ["noHeading"]
}) %>

  <%- include(forms+"submitting", {
    type: "submitted",
    submitting_text: "We're submitting your claim for Support for Employment",
    submitted_text: `Your claim for Support for Employment has been <b>submitted</b>`,
    supporting_text: `<h2><b>What's next?</b></h2>
                      <ul class="next-steps">
                        <li>We will contact you to to provide updates and request any further information we may need.</li>
                        <li>If you have any questions about your claim, you may contact us on <span class="dva-phone"></span>.</li>
                      </ul>`
  }) %> 

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Back to home",
        link: "/auth/claim/support-for-employment/sfe-02"
      }
    ]
  }) %>

  <%- include(forms+"modals/claim-cancel") %>

<%- include(templates+"footer") %>