<%- include(templates+"header", {
  claim: "Support for employment",
  heading: "Service history"
}) %>

  <%- include(forms+"date", {
    label: "Date of discharge"
  }) %>


  <div id="vet-under4-notification" class="parent-veteran uikit-page-alerts uikit-page-alerts--error" role="alert">
    <p>You have transitioned out of defence for more than 5 years. You may not be eligible for Suport for Employment
      (SFE).</p>
      <p>If you would like to discuss your eligibility, please contact DVA on 1800 555 254.</p>
  </div>

    <%- include(forms+"checkbox", {
    label: "Tell us about your situation",
    hint: "Select all that apply:",
    modifiers: ["hintNewLine"],
    boxes: [
      {
        text: "Underemployment",
        <!-- hint: "(Someone highly skilled who is working in a low-skilled, low-wage or less than full-time job.)" -->
      },
      "Unemployed",
      "Need assistance to change careers",
      "Need help adjusting to civilian workplace"
    ]
  }) %>


  <!-- <%- include(forms+"text", {
    label: "Reason for discarge"
  }) %>

  <%- include(forms+"text", {
    label: "Rank at date of discharge"
  }) %>

  <%- include(forms+"text", {
    label: "Pay group at date of discharge",
    hint: "(optional)"
  }) %>

  <%- include(forms+"textarea", {
    label: "Tell us about your loss of career progression",
    hint: "(optional)<br>This could include initial employment training, discharging as a recruit or cadet, or still serving but graduating later."
  }) %> -->




  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/support-for-employment/sfe-01"
      },
      {
        text: "Cancel claim",
        link: "#claim-cancel-modal"
      },

      {
        text: "Submit",
        link: "/auth/claim/support-for-employment/sfe-03",
        id: "btnNext",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>

  <%- include(forms+"modals/claim-cancel") %>

  <%- include("sfe-state-switcher") %>

<%- include(templates+"footer") %>