<%- include(templates+"header", {
  claim: "Support for employment",
  heading: "Support for employment"
}) %>
<h2> What is Support for Employment (SFE)?</h2>
  <p>The SFE program provides support to veterans’ in their transition into the civilian workforce, including those who
    have not been able to secure employment since transitioning from the ADF.</p>
   
    <h2>Who is eligible?</h2>
  <b>You are eligible to receive SFE if you:</b>
  <ul>
    <li>Have transitioned from the ADF for over 12 months, and less than 5 years;</li>
    <li>Not be currently accessing vocational support under a DVA Rehabilitation Program or through the Veterans’
      Vocational Rehabilitation Scheme; and</li>
      <li>Are unemployed or underemployed (fewer hours than you would like to work); be seeking assistance to change
        careers; or require support to adjust to the civilian workplace.</li>
  </ul>
<h2>What SFE services are available?</h2>
  <b>Pre-employment Support</b>
  <ul>
    <li>Developing and Reviewing Your Civilian Career Goals</li>
     <li>Personality Profiling</li>
      <li>Job Search Skills (including skills translation)</li>
     <li>Personal Branding and Marketing</li>
      <li>Interview Skills</li>
       <li>Negotiation Skills</li>
       <li>Adjustment Coaching</li>
       <li>Competency and Capability Mapping</li>
       <li>Workplace Communication</li>
       <li>Breaking out of long-term unemployment</li>
  </ul>
  <b>Post-employment Support</b>
  <ul>
    <li>Navigating Civilian Workplace Issues </li>
    <li>Job Advancement and Career Advice</li>
    </ul>
<div class="margin-below--large">
  <p>For more information go to factsheet <a href="#" rel="external"> XXXX - Support for Employment</a></p>
  </div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "#claim-cancel-modal"
      },
      {
        text: "Next",
        id: "btnNext",
        link: "/auth/claim/support-for-employment/sfe-02",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>

  <%- include(forms+"modals/claim-cancel") %>

  <%- include("sfe-state-switcher") %>

  <script>
    $("#btnNext").on("click", function () {
      if (localStorage.getItem("sfe-service-provided") === "true") {
        $(this).attr("href", "/auth/claim/support-for-employment/sfe-02a");
      } else {
        $(this).attr("href", "/auth/claim/support-for-employment/sfe-02");
      }
    })
  </script>

<%- include(templates+"footer") %>