<%- include(templates+"header", {
  claim: "Support for employment",
  heading: "Support for employment"
}) %>

  <p>Support for Employment has a range of services to help you transition to the civilian workforce.</p>

  <b>Pre-emplyment Support</b>
  <ul>
    <li>Developing and Reviewing Your Civilian Career Goals</li>
    <li>Personality Profiling </li>
    <li>Job Search Skills </li>
    <li>Personal Branding and Marketing </li>
    <li>Interview Skills </li>
    <li>Negotiation Skills </li>
    <li>Adjustment Coaching </li>
    <li>Competency and Capability Mapping </li>
    <li>Workplace Communication </li>
    <li>Breaking out of long-term unemployment </li>
  </ul>

  <b>Post-employment Support</b>
  <ul>
    <li>Navigating Civilian Workplace Issues</li>
    <li>Job Advancement and Career Advice</li>
  </ul>

  <p>For more information go to <a href="#" rel="external">Factsheet XXXX - Support for Employment</a></p>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "#claim-cancel-modal"
      },
      {
        text: "Next",
        link: "/auth/claim/support-for-employment/sfe-02",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>

  <%- include(forms+"modals/claim-cancel") %>

  <%- include("sfe-state-switcher") %>

<%- include(templates+"footer") %>