<%- include(templates+"header", {
  claim: "Transition to secondary school", 
  heading: "Transition to secondary school"
}) %>

  <h2 class="margin-above--none margin-below">Provide details for John Smith</h2>

  <%- include(partials+"components/form-partials/yes_no", {
    label: "Will the student start secondary school in 2020?",
    id: "start-studying-question"
  }); %>

  <%- include(partials+"components/form-partials/textarea", {
    label: "Briefly tell us why the student will not be starting secondary school",
    hint: "(optional)",
    id: "reason-of-no",
    modifiers: [
      "hidden"
    ]
  }); %>

  <form id="myForm" style="display: none;">
    
    <input type="reset" style="display:none">
      
    <div id="country-container" class="form-group">
      <label class="uikit-text-input__label" for="rank">Country of study</label>
      <%- include(partials+"content/auth-select-list-country") %>
    </div>
      
    <%- include(partials+"components/form-partials/dropdown", {
      label: "State or territory of school",
      options: [
        " -- Select state or territory -- ",
        " Australian Capital Territory ",
        " New South Wales ",
        " Northern Territory ",
        " Queensland ",
        " South Australia ",
        " Tasmania ",
        " Victoria ",
        " Western Australia "
      ], id: "state"
    }); %>
        
    <%- include(partials+"components/form-partials/dropdown", {
      label: "Grade of study",
      tooltip: {
        screenreaderText: "Grade of study help",
        content: "Secondary school commencement grade varies across states."
      },
      options: [
        " -- Select grade -- ",
        { text: "7",
          modifers: ["selected"]
        },
        "8"
      ], id: "grade"
    }); %>

    <%- include(partials+"components/form-partials/text", {
      label: "Name of school",
      id: "name-of-school",
      modifiers: ["inputFullLength"]
    }); %>

  </form>

  <div id="save-and-next" class="margin-above" style="display: none">
    <p>Choose <b>next</b> to continue.</p>
  </div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/tasks"
      },
      {
        text: "Exit task",
        link: "#open-modal"
      },
      {
        text: "Next",
        id: "btnNext",
        link: "#",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(partials+"content/modals/tasks-cancel-modal") %>

  <script>
    $(document).ready(function () {

      $("input:radio").prop("checked", false);

      $("#country-select option[value=AU]").attr('selected', 'selected');

      var startingSecondary = false;
      $('input[name=start-studying-question]').change(function () {
        var mySelection = $('input[name=start-studying-question]:checked').parent().find("span").text();
        if (mySelection == "Yes") {
          $("#country-container input:radio").prop("checked", false);
          $("#myForm").show();
          $("#reason-of-no-container").hide();
          $("#save-and-next").hide();
          startingSecondary = true;
        } else {
          $("#reason-of-no-container").show();
          $("#myForm").hide();
          $("#save-and-next").show();
          startingSecondary = false;
        }
      });

      $('#country-container').change(function () {
        var mySelection = $('#country-container').find(":selected").text().trim();
        switch (mySelection) {
          case "Australia":
            $("#state-container").show();
            break;
          default:
            $("#state-container").hide();
            break;
        }
      });

      $("#btnNext").click(function () {
        if (startingSecondary) {
          $(this).attr("href", "/auth/tasks/transition-to-secondary/transition-to-secondary-02")
        } else {
          $(this).attr("href", "/auth/tasks/transition-to-secondary/transition-to-secondary-03")
        }
      });

    });

  </script>

<%- include(templates+"footer") %>
