<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Tasks | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <div class="container container--8-column" id="main-content">


      <h1>Transition to secondary school</h1>
      <h2>Provide details for John Smith</h2>

      <%- include(partials+"components/form-partials/yes_no", {
        label: "Will the student start secondary school in 2020?"
      }); %>

      <%- include(partials+"components/form-partials/dropdown", {
        label: "State of study",
        options: [
          " -- Select state or territory -- ",
          " Australian Capital Territory ",
          " New South Wales ",
          " Northern Territory ",
          " Queensland ",
          " South Australia ",
          " Tasmania ",
          " Victoria ",
          " Western Australia "
        ]
      }); %>

      <%- include(partials+"components/form-partials/text", {
        label: "Name of school"
      }); %>

      <div class="pagination pagination--tasks">
        <a href="/auth/tasks"><button class="uikit-btn uikit-btn--tertiary">Previous</button></a>
        <a href="/auth/tasks"><button class="uikit-btn uikit-btn--tertiary">Cancel</button></a>
        <div class="floated">
          <button class="uikit-btn" id="submit">Next</button>
        </div>
      </div>
  </main>

</body>
<%- include(partials+"components/layout/footer") %>

</html>
