<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Submitted: Transition to secondary school</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main class="container">
    <div class="submitted__container">
      <div id="submitting" class="submitting transition-content transition-content--open">
        <div class="submitted__animation">
          <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
        </div>
        <h1>Submitting...</h1>
      </div>
      <div id="submitted" class="submitted transition-content">
        <i class="fal fa-check-circle fa-3x green"></i>
        <h1 class="margin-above--small">Task complete</h1>
        <h3 class="margin-above--none margin-below--none">Receipt number: 123456</h3>
        <hr class="orange-divider">
        <p>If you have any questions call 1800 555 254.</p>
      </div>
      <div id="failed" class="failed transition-content">
        <i class="fal fa-exclamation-circle fa-3x blue"></i>
        <h1 class="margin-above--small">Something went wrong, try again later</h1>
        <hr class="orange-divider">
        <p>If you have any questions call 1800 555 254.</p>
      </div>
    </div>
    <div class="pagination">
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/'">Back to home</button>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>

  <script>
    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".submitting").toggleClass("transition-content--open");
        $(".submitted").toggleClass("transition-content--open");
      }, timeDelay);

  </script>


</body>
<%- include("transition-to-secondary-04-state-switcher.ejs") %>

</html>
