<%- include(templates+"header", {
  claim: "Transition to secondary school", 
  heading: "Review and submit"
}) %>

  <%- include(components+"review-submit", {
    claim_title: "Review details for John Smith's transition to secondary school",
    categories: [
      {
        title: "Transition to secondary school",
        edit_url: "#",
        data: [
          {
            q: "Will the student start secondary school in 2020?",
            a: "Yes"
          },
          {
            q: "Country of study",
            a: "Australia"
          },
          {
            q: "State or territory of school",
            a: "A.C.T"
          },
          {
            q: "Name of school",
            a: "Campbell High School"
          } 
        ]
      },
      {
        title: "Required documents",
        edit_url: "#",
        data: [
          {
            q: "Confirmation of enrolment",
            a: "letter-of-offer.jpg"
          }
        ]
      }
    ]
  }) %>

  <div class="margin-above--extra">
      <p>By clicking <b>submit</b> I agree to the following:</p>
      <ul>
          <li>I may need to provide further information if requested.</li>
          <li>I will refund to the Department any payment to which I am not entitled.</li>
          <li>I authorise the Department to obtain relevant details from educational institutions and other authorities.</li>
          <li>I will notify the Department of any changes to the information provided within fourteen (14) days of any changes occurring.</li>
      </ul>
  </div>

  <%- include(forms+"pagination", {
    customClass: "margin-above--extra",
    pagination: [
      {
        text: "Previous",
        link: "/auth/tasks/transition-to-secondary/transition-to-secondary-02"
      },
      {
        text: "Exit task",
        link: "#open-modal"
      },
      {
        text: "Submit",
        link: "/auth/tasks/transition-to-secondary/transition-to-secondary-04",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(partials+"content/modals/tasks-cancel-modal") %>

<%- include(templates+"footer") %>