<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width" name="viewport" />
  <title>Review and submit: Transition to secondary school</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Review and submit</span>
      </h1>
    </div>
    <div class="container">
      <%- include(partials+"components/review-submit", {
  "claim": {
    "title": "Review details for John Smith's transition to secondary school",
    "options": [
      "marginTop"
    ],
    "categories": [
      {
        "header": "Transition to secondary school",
        "elements": [
          {
            "type": "questions",
            "data": [
              {
                "question": "Will the student start secondary school in 2020?",
                "answer": "Yes"
              },
              {
                "question": "Country of study",
                "answer": "Australia"
              },
              {
                "question": "State or territory of school",
                "answer": "A.C.T"
              },
              {
                "question": "Name of school",
                "answer": "Campbell High School"
              }
            ]
          }
        ]
      }
   
    ]
  }
}) %>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/tasks/transition-to-secondary/transition-to-secondary-01'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
        <div class="floated">
          <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/tasks/transition-to-secondary/transition-to-secondary-03'">Submit</button>
        </div>
      </div>
    </div>
    <%- include(partials+"content/modals/claims-cancel-modal") %>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>

<script>
  $(document).ready(function () {
    if (sessionStorage.getItem('commonwealth-allied') != 'yes') {
      $("#adf").show();
    } else {
      $("#commonwealth").show();
    }
  });
</script>

</html>
