<%- include(templates+"header", {
  heading: "Claim for travel expenses",
  claim: "Travel reimbursement"
}) %>

<%- include(forms+"notice", {
  message: `<p>This form is for travel relating to Treatment, a Disability Claim, or an Income Support Claim under the Veterans' Entitlements Act 1986 or treatment under Safety Rehabilitation & Compensation Act 1988, or treatment under Military Rehabilitation and Compensation Act 2004 or treatment under the Australian Participants in British Nuclear Tests (Treatment) Act 2006. Note that relevant travel receipts must be retained for 4 months from date the claim is approved as you may be required to present them during this period.</p>
    <p>For help with your Travel Expense Claim call: Veterans' Access Network (VAN) on 1800 555 254 or view the Entitlements under the Repatriation Transport Scheme Factsheet HSV02 (PDF) (HTML) or Transport Modes available under the Repatriation Transport Scheme Factsheet HSV03 (PDF) (HTML).</p>`
}) %>

<p class="margin-below--none legend-override">Residential Address</p>
<p>
  Unit 3/41 Constitution Ave
  <br>
  Jamison Appartments
  <br>
  Canberra ACT 2612
</p>

<%- include(forms+"prepop/phone-number", {
  modifiers: ["australiaOnly"],
  label: "Contact number"
}) %>

<%- include(forms+"text", {
  label: "Email address"
}) %>

<%- include(forms+"editable-box", {
  buttonText: "Add trip",
  heading: "Travel reimbursement",
  icon: "fa-car",
  description: "Add trips for travel reimbursement",
  addAnotherText: "Add another trip",
  form: [
    {
      type: "date",
      label: "When did the trip occur?",
      displayName: "Date"
    },
    {
      type: "time",
      label: "What time did the trip occur?",
      displayName: "Time"
    },
    {
      type: "html",
      content: "<h3>Which health provider did you attent?</h3>"
    },
    {
      type: "dropdown",
      label: "Provider type",
      displayName: "Provider type",
      options: [
        "-- Select provider type --",
        "Dentist",
        "Exercise Physioligist",
        "General practitioner",
        "Opthamologist",
        "Optometrist",
        "Orthopaedic surgeon",
        "Physiotheripist",
        "Podiatrist",
        "Podiatrist",
        "Psychiatrist",
        "Psychologist",
        "Radiologist/Xray",
        {
          text: "Other",
          toggle: "#custom-provider-type-container"
        }
      ]
    },
    {
      type: "text",
      id: "custom-provider-type",
      label: "Enter provider type",
      displayName: "Provider type",
      modifiers: ["hidden"]
    },
    {
      type: "text",
      label: "Provider name",
      displayName: "Provider name"
    },
    {
      type: "prepop/phone-number",
      label: "Phone number"
    },
    {
      type: "text",
      label: "Suburb"
    },
    {
      type: "dropdown",
      label: "State",
      options: [
        "-- Select state/territory --",
        "Australian Capital Territory",
        "New South Wales",
        "Northern Territory",
        "Queensland",
        "South Australia",
        "Tasmania",
        "Victoria",
        "Western Australia"
      ]
    },
    {
      type: "dropdown",
      label: "What is this trip for?",
      displayName: "Trip purpose",
      options: [
        "-- Select trip purpose --",
        "Hospital admission",
        "Hospital discharge",
        "Disability claim",
        "Income support claim",
        {
          text: "Other",
          toggle: "#custom-trip-type-container"
        }
      ]
    },
    {
      type: "text",
      modifiers: ["hidden"],
      label: "Other reasons",
      displayName: "Trip purpose",
      id: "custom-trip-type"
    },
    {
      type: "text",
      label: "What were you treated for?"
    },
    {
      type: "html",
      content: "<h3>What are you claiming for?</h3>"
    },
    {
      type: "text",
      label: "Private vehicle (kms)"
    },
    {
      type: "text",
      label: "Public transport",
      modifiers: ["dollarSign"]
    },
    {
      type: "text",
      label: "Taxi",
      modifiers: ["dollarSign"]
    },
    {
      type: "text",
      label: "Community",
      modifiers: ["dollarSign"]
    },
    {
      type: "text",
      label: "Air",
      modifiers: ["dollarSign"]
    },
    {
      type: "text",
      label: "Parking fees",
      modifiers: ["dollarSign"]
    },
    {
      type: "text",
      label: "Road tolls",
      modifiers: ["dollarSign"]
    },
    {
      type: "yes_no",
      label: "Did DVA arrange for this travel?",
      hint: "(e.g. booked car with driver, air travel or ambulance)"
    },
    {
      type: "html",
      content: "<p>Note: To receive maximum benefits, travel should be to the closest practical provider."
    },
    {
      type: "yes_no",
      label: "Did you require accomodation?",
      yes_toggle: ".accomodation-needed"
    },
    {
      type: "dropdown",
      label: "Accomodation type",
      modifiers: ["hidden"],
      customClass: "accomodation-needed",
      options: [
        "-- Select accomodation type --",
        "Commercial",
        "Private",
        "Subsidised"
      ]
    },
    {
      type: "text",
      label: "How many nights?",
      modifiers: ["hidden"],
      customClass: "accomodation-needed"
    },
    {
      type: "text",
      label: "Amount paid",
      modifiers: ["hidden"],
      customClass: "accomodation-needed"
    },
    {
      type: "yes_no",
      label: "Did you travel with an attendant?"
    },
    {
      type: "yes_no",
      label: "Didyou pay for a separate room when travelling with your medically required attendant?",
      modifiers: ["hidden"],
      customClass: "accomodation-needed"
    },
    {
      type: "textarea",
      label: "Please enter any additional information that may assist with your claim."
    }
  ]
}) %>

<%- include(forms+"checkbox", {
  label: "",
  customClass: "margin-above--extra",
  boxes: [
    "I declare that I have read the terms and conditions and that hte details provided are correct to the best of my knowledge. I understand that giving false or misleading information is a serious offence. *"
  ]
}) %>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Reset form",
      id: "reset-form",
      link: "#"
    },
    {
      text: "Cancel",
      link: "#claim-cancel-modal"
    },
    {
      text: "Save and exit",
      link: "/auth",
      modifiers: ["floated"]
    },
    {
      text: "Submit claim",
      link: "#",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(templates+"footer") %>