<!-- Summary card -->
<div id="employment-income-summary" class="plain-text-info" style="display:none;">
  <div class="review__wrapper">
    <div class="review__content--item boxed row">
      <div class="review__content--label col-sm-10">
        <h2 class="margin-above--none">
          <span class="fal fa-briefcase fontawesome-icon"></span><span class="font-weight-heavy">Employment income</span></h2>
        <div class="box__table">
          <div class="tr">
            <div class="td"><b>Who earned the income</b></div>
            <div class="td">Myself</div>
          </div>
          <div class="tr">
            <div class="td"><b>Name of the employer</b></div>
            <div class="td">Bigcorp</div>
          </div>
          <div class="tr">
            <div class="td"><b>Job/occupation title</b></div>
            <div class="td">CTO</div>
          </div>
          <div class="tr">
            <div class="td"><b>Commencement date (dd/ mm / yyyy)</b></div>
            <div class="td">12/12/2013 </div>
          </div>
          <div class="tr">
            <div class="td"><b>Gross income</b></div>
            <div class="td">$120,000.00</div>
          </div>
        </div>
        <div class="status-label status-label--added margin-above">ADDED</div>
      </div>
      <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" onClick="editCard('employment-income');">&nbsp;Edit&nbsp;</button>
      </div>
    </div>
  </div>
</div>
<!-- Open card -->
<div id="employment-income-card" class="boxed margin-above margin-below" style="display: none;">
  <div>
    <h2 class="margin-above--none" style="display: inline-block;">
      <span class="fal fa-briefcase" style="font-size: 1.7em; vertical-align: -15%;"></span>&nbsp;<span class="font-weight-heavy">Employment income</span></h2><button id="deleteButton"
      class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('employment-income');">&nbsp;Delete item&nbsp;
    </button>
  </div>
  <div id="card-details" class="margin-below--large">
    <h4 class="marin-above--none margin-below--mid">Add all income received from work performed as an employee<span class="partner"> by you and/or your partner</span>.</h4>
    <hr>
    <form id="myForm">
      <input type="reset" style="display:none">
      <!-- form goes here -->
      <h2>Employment Details</h2>

      <%- include(forms+"text", {
        label: "Name of your employer"
      }) %>

      <%- include(forms+"text", {
        label: "Job/occupation title"
      }) %>

      <h3>Employer's contact details</h3>

      <p><b>Employer's address</b></p>
      <%- include(forms+"prepop/address", {
        label: ""
      }) %>

      <%- include(forms+"prepop/phone-number", {
        label: "Employer's phone number"
      }) %>

      <%- include(forms+"text", {
        label: "Employer's email address",
        hint: "(optional)",
        modifiers: ["inputFullLength"]
      }) %>

      <%- include(forms+"text", {
        label: "Contact name",
        modifiers: ["inputFullLength"]
      }) %>

      <%- include(forms+"date", {
        label: "Employment commencement date"
      }) %>

      <%- include(forms+"radio", {
        label: "What is your pattern of work for this employer?",
        boxes: [
          "Regular - You work the same number of hours and receive a regular wage each week/fortnight/month",
          "Variable - You work variable hours and receive a variable wage each week/fortnight/month",
          "Once off - Short term work that is unlikely to be repeated in the next 12 months"
        ]
      }) %>

      <div class="form-group margin-above--large">
        <label class="uikit-text-input__label" for="drop-down">Frequency</label>
        <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
            <option selected="selected">-- Select one --</option>
            <option>Weekly</option>
            <option>Fortnightly</option>
            <option>Monthly</option>
            <option>Quarterly</option>
            <option>Half yearly</option>
            <option>Annually</option>
            <option>Once off</option>
        </select>
    </div>


      <%- include(forms+"text", {
        label: "What was the gross income?",
        placeholder: "0.00",
        modifiers: ["dollarSign", "inputShort"]
      }) %>

      <%- include(forms+"yes_no", {
        label: "Is it likely that your work pattern will chaneg in the next 6 months?",
        yes_toggle: "#employment-change-6-details-container"
      }) %>

      <%- include(forms+"text", {
        modifiers: ["inputFullLength", "hidden"],
        label: "Please provide details",
        id: "employment-change-6-details"
      }) %>

      <%- include(forms+"yes_no", {
        label: "Do you receive any other benefits from your employer as part of your salary package?",
        yes_toggle: "#employment-benefits-details-container",
        hint: `This could include:
              <ul>
                <li>Salary sacrificed to a super fund.</li>
                <li>Provision of vehicle, accomodation etc.</li>
                <li>Health insurance payments.</li>
                <li>Other benefits</li>
              </ul>`
      }) %>

      <%- include(forms+"text", {
        modifiers: ["inputFullLength", "hidden"],
        label: "Please provide details",
        id: "employment-benefits-details"
      }) %>

      <%- include(forms+"yes_no", {
        label: "Do you receive workers compensation payments as aprt of, or in addition to, your gross wages?",
        yes_toggle: "#workers-comp-details-container"
      }) %>

      <%- include(forms+"text", {
        modifiers: ["inputFullLength", "hidden"],
        label: "Please provide details",
        id: "workers-comp-details"
      }) %>
      
    </form>
  </div>
  <hr>
  <div id="buttonset2" class="form-group margin-above--none">
    <button id="addButton" class="uikit-btn" onclick="addSummary('employment-income');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary"
      onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>