<!-- Summary card -->


<div id="compensation-and-damages-summary" class="plain-text-info" style="display:none;">
  <div class="review__wrapper">
      <div class="review__content--item boxed row">
          <div class="review__content--label margin-below">
              <h2 class="margin-above--none" style="display: inline-block;">
                  <span class="fal fa-money-bill-wave-alt fontawesome-icon"></span><span class="font-weight-heavy">Compensation and damages</span></h2>
              </h2>
              <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('compensation-and-damges');">&nbsp;Edit&nbsp;</button>
          </div>
          <div class="review__table">
            <div class="tr">
              <div class="td"><b>Compensation recieved by</b></div>
              <div class="td">Myself</div>
            </div>
            <div class="tr">
              <div class="td"><b>Amount recieved/recieving</b></div>
              <div class="td">$12,000</div>
            </div>
            <div class="tr">
              <div class="td"><b>Frequency</b></div>
              <div class="td">Annually</div>
            </div>
          </div>
          <div class="status-label status-label--added margin-above" style="display: none !important">ADDED</div>
      </div>
  </div>
</div>
<!-- Open card -->
<div id="compensation-and-damages-card" class="boxed margin-above margin-below" style="display: none;">
  <div>
    <h2 class="margin-above--none" style="display: inline-block;">
      <span class="fal fa-money-bill-wave-alt" style="font-size: 1.7em; vertical-align: -15%;"></span>&nbsp;<span class="font-weight-heavy">Compensation and damages</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated"
      onclick="removeSummary('past-employment');">&nbsp;Delete item&nbsp;
    </button>
  </div>
  <div id="card-details" class="margin-below--large">
    <h4><p class="margin-below--mid margin-above">Add all compensation and damages received or being received<span class="partner"> by you and/or your partner</span>.</p></h4>
    
  </div>
  <hr>
  <form id="myForm">
    <input type="reset" style="display:none">
    <%- include(partials+"components/form-partials/radio", {
      label: "Type of compensation",
      boxes: [
        {
          text: "Worker's compensation"
        },
        {
          text: "Motor vehicle accident"
        },
        {
          text: "Other",
          toggle:"#other-container"
        }
      ]
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Describe the type of compensation",
      id: "other",
      modifiers: ["hidden"]
    }); %>
    <%- include(partials+"components/form-partials/notice", {
      message: "You will need to complete the <a href='' rel='external'>Compensation Form (D0541)</a> and provide in the documents section."
    }); %>
    <%- include(partials+"components/form-partials/date", {
      label: "Date of illness onset or injury"
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Amount received or currently receiving",
      modifiers: ["dollarSign"]
    }); %>
    <%- include(partials+"components/form-partials/dropdown", {
      label: "Frequency of payment",
      hint: "If no longer receiving payment select the frequency at which you were receiving payments",
      options: [
        "-- Select frequency --",
        "Weekly",
        "Fortnightly",
        "Monthly",
        "Quarterly",
        "Half-yearly",
        "Annually"
      ]
    }); %>
    <%- include(partials+"components/form-partials/date", {
      label: "Date you received or started receiving payments"
    }); %>
  </form>
  <hr>
  <div id="buttonset2" class="form-group margin-above--none">
    <button id="addButton" class="uikit-btn" onclick="addSummary('compensation-and-damages');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary"
      onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>