<%- include(templates+"header", {
  claim: "Book Car With Driver",
  heading: "Pick-up address"
}) %>

  <h2 id="travelling-from">Where are you travelling from?</h2>
  <div id="home">  
    <%- include(forms+"address-autocomplete", {
      id: "travelling_from_address",
      place_changed: `function() {
  $("#travelling_from_address").val(this.gm_accessors_.place.Og.dd.gm_accessors_.place.dd.formattedPrediction);

  calcDistance()
}`
    }) %>
  </div>

  <h2 id="travelling-to">Where are you going?</h2>
  <div id="medical-prac">
    <%- include(forms+"dropdown", {
      label: "Select from your recent medical appointment addresses",
      id: "recent-locations",
      customClass: "to-medical",
      options: [
        "-- Select destination --",
        "location 1",
        "location 2"
      ]
    }) %>

    <h2 class="to-medical" hidden>Or enter a new appointment address</h2>

    <h3>Practitioner details</h3>

    <%- include(forms+"text", {
      label: "Doctor's name",
      customClass: "medicalappointment",
      id: "doctor-name"
    }) %>

    <%- include(forms+"prepop/phone-number", {
      label: "Phone number",
      customClass: "medicalappointment",
      id: "doctor-phone"
    }) %>

    <%- include(forms+"address-autocomplete", {
      label: "Practice address",
      id: "travelling_to_address",
      place_changed: `function() {
  $("#travelling_to_address").val(this.gm_accessors_.place.Og.dd.gm_accessors_.place.dd.formattedPrediction);

  calcDistance()
}`
    }) %>
  </div>
    
  <div id="distance" style="margin-top: -2rem;" class="margin-below--large" hidden></div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/transport/book-car-withiver/ad1",
      },
      {
        text: "Cancel booking",
        link: "#bcwd-modal"
      },
      {
        text: "Next",
        link: "/auth/transport/book-car-with-driver/ad3",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(forms+"modals/bcwd-modal") %>

  <%- include("bcwd-state-switcher") %>

  <script>
    function stateSwitcher() {
      if (sessionStorage.getItem("appointment-direction") === "medicalappointment") {
        $("#medical-prac").detach().insertAfter("#travelling-to");
        $("#home").detach().insertAfter("#travelling-from");
        $(".to-medical").hide();
      } else {
        $("#home").detach().insertAfter("#travelling-to");
        $("#medical-prac").detach().insertAfter("#travelling-from");
        $(".to-medical").show();
      }
    }

    $("#recent-locations").on("change", function() {
      $("#travelling_to_address").val($(this).find(":selected").val())
    })

    travelling_from_address_init();
    travelling_to_address_init();

    function calcDistance() {
      var from = $("#travelling_from_address").val();
      var to = $("#travelling_to_address").val();
      if (from && to) {  
        var distanceService = new google.maps.DistanceMatrixService();
        distanceService.getDistanceMatrix({
            origins: [from],
            destinations: [to],
            travelMode: google.maps.TravelMode.DRIVING,
            unitSystem: google.maps.UnitSystem.METRIC,
            durationInTraffic: true,
            avoidHighways: false,
            avoidTolls: false
          },
          function(response, status) {
            if (status !== google.maps.DistanceMatrixStatus.OK) {
              console.log('Error:', status);
            } else {
              console.log(response);
              $("#distance").html(`<b>Distance: </b> ${response.rows[0].elements[0].distance.text} <br><b>Estimated Travel Time: </b> ${response.rows[0].elements[0].duration.text}`).show();
            }
          }
        )
      }
    }

  </script>

<%- include(templates+"footer") %>