<%- include(templates+"header", {
  claim: "Book Car With Driver",
  heading: "Transport requirements"
}) %>

  <h2>Special requirements for your trip</h2>

  <%- include(forms+"yes_no", {
    label: "Do you require a wheelchair accessible vehicle?",
    id: "wheelchair-accessible"
  }) %>

  <%- include(forms+"yes_no", {
    label: "Will you be travelling with an attendent?",
    id: "travelling-attendant"
  }) %>

  <%- include(forms+"textarea", {
    label: "Do you have any other special requirements for the transport provider?",
    hint: "(optional)",
    id: "special-requirements"
  }) %>


  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/transport/book-car-with-driver/ad2",
      },
      {
        text: "Cancel booking",
        link: "#bcwd-modal"
      },
      {
        text: "Next",
        link: "/auth/transport/book-car-with-driver/ad4",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(forms+"modals/bcwd-modal") %>

  <%- include("bcwd-state-switcher") %>

<%- include(templates+"footer") %>