<%- include(templates+"header", {
  claim: "Book Car With Driver",
  heading: "Review and submit"
}) %>

  <h2>Special requirements for your trip</h2>

  <%- include(components+"review-submit", {
    claim_title: "Booking transport",
    categories: [
      {
        title: "Appointment details",
        edit_url: "/auth/transport/book-car-with-driver/ad1",
        data: [
          {
            q: "Travelling to",
            a: "Medical appointment"
          },
          {
            q: "Appointment date",
            a: "12 / 10 / 2019"
          },
          {
            q: "Appointment time",
            a: "12:30 pm"
          },
          {
            q: "Return trip required?",
            a: "Yes"
          }
        ]
      },
      {
        title: "Travel details",
        edit_url: "/auth/transport/book-car-with-driver/ad2",
        data: [
          {
            q: "Pick-up Address",
            a: "23 Station Street Burwood, NSW, 2013"
          },
          {
            q: "Contact number",
            a: "0412 435 521"
          },
          {
            q: "Doctor's name",
            a: "Dr Elizabeth Appleton"
          },
          {
            q: "Phone number",
            a: "02 6291 9591"
          },
          {
            q: "Medical practice",
            a: "Ocean Road Doctors"
          },
          {
            q: "Drop-off Address",
            a: "17 Ocean Road, Summer Bay, NSW, 2789"
          },
          {
            q: "Estimated distance",
            a: "45km"
          },
          {
            q: "Estimated travel time",
            a: "35 minutes"
          }
        ]
      },
      {
        title: "Transport requirements",
        edit_url: "/auth/transport/book-car-with-driver/ad3",
        data: [
          {
            q: "Wheelchair accessible vehicle required",
            a: "Yes"
          },
          {
            q: "Travelling with attendant?",
            a: "Yes"
          },
          {
            q: "Other special requirements",
            a: "Please come to the front door"
          }
        ]
      }
    ]
  }) %>


  <%- include(forms+"pagination", {
    customClass: "margin-above--extra",
    pagination: [
      {
        text: "Previous",
        link: "/auth/transport/book-car-with-driver/ad3",
      },
      {
        text: "Cancel booking",
        link: "#bcwd-modal"
      },
      {
        text: "Next",
        link: "/auth/transport/book-car-with-driver/ad5",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(forms+"modals/bcwd-modal") %>

  <%- include("bcwd-state-switcher") %>

<%- include(templates+"footer") %>