<%- include(templates+"header", {
  title: "Correspondence",
  heading: "Correspondence"
})%>

<h2>Manage your correspondence</h2>
<p class="margin-below--small">You can currently select how you would like to receive correspondence for the following:
</p>
<ul>
  <li>Service pension</li>
  <li>Commonwealth Senior Health Card</li>
  <li>Qualifying service</li>
</ul>
<p>You are currently unable to manage correspondence preferences for other types of claims.</p>
<%- include(partials+"components/form-partials/checkbox", {
  label: "How would you like to receive correspondence for the above claim types?",
  hint: "(select all that apply)",
  id: "comm-pref",
  boxes: [
    "Email",
    "Mail",
    "Phone"
  ],
  modifiers: ["hintNewLine"]
}); %>
<h2>Manage VetAffairs</h2>
<%- include(partials+"components/form-partials/radio", {
  label: "How would you like to receive VetAffairs",
  id: "vetaffairs",
  boxes: [
    "Receive digitally by email",
    "Receive by post"
  ]
}); %>

<script>
  $("#comm-pref-1").prop("checked", true);
  $("#vetaffairs-1").prop("checked", true);
</script>









<div id="save-and-next" style="display:none;">
  <p>Choose <b>save and next</b> to continue.</p>
</div>

<%- include(forms+"pagination", {
    pagination: [
    {
      text: "Cancel",
      link:  "/auth/profile/",
    },
      {
        text: "Update",
        link: '/auth/profile/index?toast=correspondence',
        modifiers: ["floated", "primary"],
        id: "submit"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>


<%- include(partials+"components/layout/footer") %>
<%#- include("category-page-ss") %>