<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My Details | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row margin-above">
          <div class="col-sm-3">
            <%- include(partials+"components/layout/profile-side-nav") %>
          </div>
          <div class="col-sm-9 margin-below--extra">
            <h1 class="mys h1 margin-above--none margin-below--mid">Correspondence</h1>
            <!-- <a href="">Correspondence preferences</a><BR />
            <a href="">Official letters</a> -->
            <h2 class="mys h2 margin-above--large margin-below--mid">Correspondence preferences</h2>
            <p class="margin-below--small">How you would like to receive correspondence for the following?
            </p>
            <ul>
              <li>Service pension</li>
              <li>Commonwealth Senior Health Card</li>
              <li>Qualifying service</li>
            </ul>
            <!-- <p>You are currently unable to manage correspondence preferences for other types of claims.</p> -->
            <%- include(partials+"components/form-partials/dropdown", {
    options: [
      "-- Select an option --",
      "Email",
      "Mail"
    ]
  }); %>
            <h2 class="mys h2 margin-above--large margin-below--mid">Official letters</h2>
            <p>Select the letters your require and then download or request to receive by post.</p>
            <table class="mys-table1 mys-table1--correspondence">
              <tr>
                <th colspan="2">
                  <h3 class="mys h3">Statements of pension</h3>
                </th>
              </tr>
              <tr>
                <td>General statement of pension</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Statement of pension for a bank</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Statement of pension for housing</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Statement of pension for taxable payments</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Statement of pension for non taxable payments</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Statement of pension for taxable and non taxable payments</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>

              <tr>
                <th colspan="3">
                  <h3 class="mys h3">Concession authority</h3>
                </th>
              </tr>

              <tr>
                <td>Gold Card confirmation</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>White Card confirmation</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Orange Card confirmation</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Commonwealth Seniors Health Card confirmation</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Pensioner Concession Card confirmation</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Disability pension rate confirmation</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>NSW state rail disability pension confirmation letter</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>MetLink travel pass</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Brisbane city council bus ferries travel pass</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Travel train for TPI blinded</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Travel train for TPI partner</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Vehicle registration stamp duty concession</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>

                <th colspan="3">
                  <h3 class="mys h3">Other</h3>
                </th>
              </tr>
              <tr>
                <td>Statement of income and assets</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Medicare levy exemption certificate</td>
                <td>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="checkbox" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"></span>
                    </label>
                  </div>
                </td>
              </tr>


            </table>

            <div class="correspondence-letters-options margin-below--large">

            </div>
            <p>To request letters not shown here call 1800 VETERAN (<a
                href="1800 838 372">1800 838 372</a>) or email <a
                href="mailto:generalenquiries@dva.gov.au">generalenquiries@dva.gov.au</a>.</p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <%#- include("index-ss") %>
  <script>


  </script>
</body>

</html>