<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My Details | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row margin-above">
          <div class="col-sm-3">
            <%- include(partials+"components/layout/profile-side-nav") %>
          </div>
          <div class="col-sm-9 margin-below--extra">
            <h1 class="mys h1 margin-above--none margin-below--mid">Correspondence</h1>
            <!-- <a href="">Correspondence preferences</a><BR />
            <a href="">Official letters</a> -->
            <h2 class="mys h2 margin-above--large margin-below--mid">Manage correspondence preferences</h2>
            <p class="margin-below--small">How you would like to receive correspondence for the following?
            </p>
            <ul>
              <li>Service pension</li>
              <li>Commonwealth Senior Health Card</li>
              <li>Qualifying service</li>
            </ul>
            <!-- <p>You are currently unable to manage correspondence preferences for other types of claims.</p> -->
            <%- include(partials+"components/form-partials/dropdown", {
    options: [
      "-- Select an option --",
      "Email",
      "Mail"
    ]
  }); %>
            <h2 class="mys h2 margin-above--large margin-below--mid" id="request-letters">Request official letters</h2>
            <p>Download official letters or request to have them sent by post to your <a href="/auth/profile/">registered postal address</a>.</p>
            <%- include(partials+"components/form-partials/notice", {
              message: "<p>Your request has been submitted successfully.</p>",
              type: "success",
              id: "post-success",
              modifiers: ["hidden"],
              customClass: ["margin-above"]
            }); %>
            <table class="mys-table1 mys-table1--correspondence">

              <tr>
                <th colspan="2">
                  <h3 class="mys h3">Statements of payment</h3>
                </th>
              </tr>

              <!-- <tr>
                <td>General statement of pension</td>
                <td>
                  <i class="action-icon fal fa-envelope"></i>
                  <i class="action-icon fal fa-cloud-download"></i>
                </td>
              </tr> -->
              <tr>
                <td>General statement of pension</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>Statement of pension for a bank</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>Statement of pension for housing</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>Statement of pension for taxable payments</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>Statement of pension for non taxable payments</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>Statement of pension for taxable and non taxable payments</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>

              <tr>
                <th colspan="2">
                  <h3 class="mys h3">Letters for concession</h3>
                </th>
              </tr>

              <tr>
                <td>Gold Card confirmation</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>White Card confirmation</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>Orange Card confirmation</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>Commonwealth Seniors Health Card confirmation</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>Pensioner Concession Card confirmation</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>Disability pension rate confirmation</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>NSW state rail disability pension confirmation letter</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>MetLink travel pass</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>Brisbane city council bus ferries travel pass</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>Travel train for TPI blinded</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>Travel train for TPI partner</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>Vehicle registration stamp duty concession</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>

                <th colspan="2">
                  <h3 class="mys h3">Other</h3>
                </th>
              </tr>
              <tr>
                <td>Statement of income and assets</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
              <tr>
                <td>Medicare levy exemption certificate</td>
                <td>
                  <button class="download uikit-btn uikit-btn--borderless">Download</button><button
                    class="post uikit-btn uikit-btn--borderless">Post</button>
                </td>
              </tr>
            </table>
            <!-- <p>To receive any of these letters by mail, or request letters not shown, call 1800 VETERAN (<a
                href="1800 838 372">1800 838 372</a>) or email <a
                href="mailto:generalenquiries@dva.gov.au">generalenquiries@dva.gov.au</a>.</p> -->
                <p>To request letters not shown here call 1800 VETERAN (<a
                  href="1800 838 372">1800 838 372</a>) or email <a
                  href="mailto:generalenquiries@dva.gov.au">generalenquiries@dva.gov.au</a>.</p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <%- include("post-confirm-modal") %>
  <%- include("download-modal") %>
  <%#- include("index-ss") %>
</body>

<script>

  // $(".fa-envelope").on("click", function () {
  //   window.location.href = "#open-post-confirm-modal";
  // });
  // $(".fa-cloud-download").on("click", function () {
  //   window.location.href = "#open-download-modal";
  // });

  $(".post").on("click", function () {
    $("#post-success-container").hide();
    window.location.href = "#open-post-confirm-modal";
  });
  $(".download").on("click", function () {
    $("#post-success-container").hide();
    window.location.href = "#open-download-modal";
  });

  // $.urlParam = function (name) {
  //   var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
  //   if (results == null) {
  //     return 0;
  //   }
  //   return results[1] || 0;
  // }
  // var state = $.urlParam('state');
  // switch ( state ) {
  //   case "post-confirmed":
  //     // requestSubmited();
  //     $("#post-success-container").show();
  //     $('body,html').animate({
  //       scrollTop: $("#request-letters").offset().top
  //     }, 500);
  //     break;
  //   default:
  //     break;
  // }

  function requestSubmited(){
    window.location.href = "#close-modal";
    $("#post-success-container").show();
    $('body,html').animate({
      scrollTop: $("#request-letters").offset().top
    }, 500);
  }
  

</script>

</html>