<div id="state--known" hidden>
  <h3>Veteran details</h3>
  <p class="margin-below--small">If the veteran details are not correct, please call DVA on <span class="dva-phone"></span>.</p>

  <p>
    <span><b>Partner name&nbsp;&nbsp;&nbsp;</b>John Smith</span>
    <br>
    <span><b>Date of birth&nbsp;&nbsp;&nbsp;</b>11/04/1955</span>
  </p>

  <%- include(forms+"radio", {
    label: "What is your current relationship with John Smith?",
    id: "known--veteran-relationship",
    boxes: [
      "Married",
      "De facto",
      {
        text: "Separated",
        hint: "(while still legally married)"
      },
      "Divorced",
      "Widowed"
    ]
  }) %>

  <%- include("a-02--partial-divorce-block") %>

  <form class="current-relationship has-previous-names" hidden>
    <h2>Your current relationship</h2>
    
    <%- include(forms+"yes_no", {
      label: "Are you currently in a new relationship and living together?",
      id: "known--new-relationship-q"
    }) %>

    <div class="current-relationship-type" hidden>
      <%- include(forms+"radio", {
        label: "What is your new relationship status?",
        id: "known--new-relationship-status",
        boxes: [
          "Married",
          "De facto"
        ]
      }) %>

      <div class="current-relationship-details" hidden>
        <%- include(forms+"date", {
          customClass: "de-facto--living-together",
          modifiers: ["hidden"],
          label: "Date commenced living together"
        }) %>

        <%- include(forms+"date", {
          customClass: "married--married-date",
          modifiers: ["hidden"],
          label: "Date of marriage"
        }) %>

        <%- include("a-02--partial-non-veteran-details") %>
      </div>
    </div>

    <%- include("a-02--partial-divorce-block") %>
  </form>


  <script>
    $("#known--veteran-relationship-container").on("change", "input", function() {
      $("#state--known .divorce-blocker").hide();
      $(".save-next").hide();
      $("#state--known .current-relationship").hide();
      $("#state--known .current-relationship").trigger("reset");
      
      switch ($("#known--veteran-relationship-container :checked").val()) {
        case "divorced":
          $("#state--known .divorce-blocker").show();
          break;
        case "married":
        case "defacto":
          $(".save-next").show();
          break;
        case "separated":
        case "widowed":
          $("#state--known .current-relationship").show();
          break;
      }
    })

    $("#known--new-relationship-q-container").on("change", "input", function() {
      $("#state--known .divorce-blocker").hide();
      $("#state--known .current-relationship-type").hide();
      $("#state--known .current-relationship-type").hide();
      $(".save-next").hide();

      if ($("#known--new-relationship-q-container :checked").val() === "yes") {
        if ($("#known--veteran-relationship-container :checked").val() === "separated") {
          $("#state--known .divorce-blocker").last().show();
        } else {
          $("#state--known .current-relationship-type").show();
        }
      } else {
        $(".save-next").show();
      }
    })

    $("#known--new-relationship-status-container").on("change", "input", function() {
      $("#state--known .de-facto--living-together").hide();
      $("#state--known .married--married-date").hide();

      switch ($("#known--new-relationship-status-container :checked").val()) {
        case "married":
          $("#state--known .current-relationship-details .married--married-date").show();
          break;
        case "defacto":
          $("#state--known .current-relationship-details .de-facto--living-together").show();
          break;
      }

      $("#state--known .current-relationship-details").show();
    })
  </script>

</div>