<%- include(templates+"header", {
  claim: "Transfer Centrelink age pension to DVA",
  heading: "Transfer Centrelink age pension to DVA"
}) %>

<%- include(partials+"components/form-partials/text", {
  label: "What is your Centrelink customer reference number (CRN)?"
}); %>

<%- include(partials+"components/form-partials/text", {
  label: "What is the total payment(s) amount you receive from Centrelink per fortnight?",
  modifiers: ["dollarSign"]
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Do you currently hold a Commonwealth Seniors Health Card (CSHC) from Centrelink or DVA?",
  yes_toggle: ["#choose-next"]
}); %>

<p id="choose-next" hidden>Choose <b>next</b> to continue</p>


<%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "#claim-cancel-modal"
      },
      {
        text: "Next",
        id: "btnNext",
        link: "/auth/claim/centrelink-age-pension-transfer/02",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>
<%- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>



