<%

var progress = JSON.parse(include("progressbar")) 
progress.activeItem = 1;

%>

<%- include(templates+"header", {
  claim: "Transfer Centrelink age pension to DVA", 
  heading: "Centrelink details",
  progress
}) %>



<%- include(partials+"components/form-partials/yes_no", {
  label: "Do you currently hold a Commonwealth Seniors Health Card (CSHC) from Centrelink?",
  id: "cshc",
  no_toggle: ["#crn-container","#current-payment-container"],
  yes_toggle: "#cshc-block-prompt-container"
}); %>

<%-include(partials+"components/form-partials/notice", { 
  message: "<p>You are not eligible to transfer age pension from Centrelink to DVA. CSHC cardholders cannot also receive age pension.</p>", 
  modifiers: ["hidden"], 
  type: "error",
  id: "cshc-block-prompt"
}); %>

<%- include(partials+"components/form-partials/text", {
  label: "What is your Centrelink customer reference number (CRN)?",
  modifiers: ["hidden"],
  id: "crn"
}); %>

<%- include(partials+"components/form-partials/text", {
  label: "What is your current fortnighly payment for your Centrelink age pension?",
  modifiers: ["dollarSign"],
  modifiers: ["hidden"],
  id: "current-payment"
}); %>





<p id="choose-next" hidden>Choose <b>save and next</b> to continue</p>


<%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/claim/centrelink-age-pension-transfer/",
    },
    {
        text: "Cancel",
        link: "#open-cancel-modal"
      },
      {
        text: "Save and exit",
        id: "save-exit-button",
        link: "/auth/claim?state=claim-saved-success",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        id: "save-next-button",
        link: "/auth/claim/centrelink-age-pension-transfer/02",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>
<%- include(templates+"footer") %>
<%- include("cancel-modal") %>

<script>
  function doBlock(){
    $("#save-next-button").attr("disabled", "disabled");
    $("#save-exit-button").attr("disabled", "disabled");
    $("#outside-timeframe-prompt-container").show();
  }
  function doUnBlock(){
    $("#save-next-button").removeAttr("disabled");
    $("#save-exit-button").removeAttr("disabled");
    $("#outside-timeframe-prompt-container").hide();
  }

  $('input[name=cshc]').change(function () {
        mySelection = $('input[name=cshc]:checked').val();
        if (mySelection == "yes") {
          doBlock();
          $("save-next").hide();
          $("#cshc-block-prompt-container").show();
        } else {
          doUnBlock();
          $("save-next").show();
          $("#cshc-block-prompt-container").hide();
        }
      });

  
</script>


