<%- include(templates+"header", {
  claim: "Transfer Centrelink age pension to DVA",
  heading: "Centrelink details"
}) %>

<%- include(partials+"components/form-partials/text", {
  label: "What is your Centrelink customer reference number (CRN)?"
}); %>

<%- include(partials+"components/form-partials/text", {
  label: "What is the total payment(s) amount you receive from Centrelink per fortnight?",
  modifiers: ["dollarSign"]
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Do you currently hold a Commonwealth Seniors Health Card (CSHC) from Centrelink or DVA?",
  all_toggle: ["#choose-next"]
}); %>

<p id="choose-next" hidden>Choose <b>save and next</b> to continue</p>


<%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/claim/centrelink-age-pension-transfer/",
    },
    {
        text: "Cancel",
        link: "#open-cancel-modal"
      },
      {
        text: "Save and exit",
        id: "btnNext",
        link: "/auth/claim?state=claim-saved-success",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        id: "btnNext",
        link: "/auth/claim/centrelink-age-pension-transfer/02",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>
<%- include(templates+"footer") %>
<%- include("cancel-modal") %>



