<%- include(templates+"header", {
  claim: "Transfer Centrelink age pension to DVA",
  heading: "Bank details"
}) %>

<!-- <p class="margin-above--mid margin-below--large">Provide your bank details. This will be the account your payment will be paid into.</p> -->

<div id="bank-input">
  <%- include(partials+"components/form-partials/notice", {
  message: "This will be your nominated account for all DVA payments."
}); %>

  <h2 class="mys h2 margin-below--mid">Bank account</h2>

  <%- include(partials+"components/form-partials/text", {
  label: "Account name"
}); %>

  <div class="form-group" id="bsb">
    <label id="bsb-label" class="uikit-text-input__label" for="bsb1">BSB
      <span class="hint">(XXX - XXX)</span>
    </label>
    <input aria-describedby="bsb-label" class="uikit-text-input bsb" type="text" name="bsb" id="bsb1" maxlength="3"
      aria-label="First 3 digits of BSB" size="3">
    <span aria-hidden="true">-</span>
    <input aria-describedby="bsb-label" class="uikit-text-input bsb" type="text" name="bsb" id="bsb2" maxlength="3"
      aria-label="Last 3 digits of BSB" size="3">
  </div>

  <div class="form-group" hidden id="institution">
    <label class="uikit-text-input__label">Financial institution</label>
    <div class="fa-2x" id="loading" hidden>
      <i class="fas fa-spinner fa-pulse" style="color: #1057a7" aria-hidden="true"></i>
      <span class="hint">Looking up BSB</span>
    </div>
    <p id="results"></p>
  </div>

  <%- include(partials+"components/form-partials/text", {
  label: "Account number"
}); %>

</div>

<div id="bank-prepop" class="margin-below--extra" hidden>
  <%- include(partials+"components/form-partials/notice", {
    message: "You can update these details in your <a href='/auth/profile/payment-destination'>payment destination</a>."
  }); %>
  <h2 class="mys h2 margin-below--mid">Bank account</h2>
  <div class="pre-pop-on">
    <div class="kv-pair">
      <span class="kv-pair__key">Account Name:</span>
      <span class="kv-pair__value">Rebecca Orange</span>
    </div>
    <div class="kv-pair">
      <span class="kv-pair__key">Account number:</span>
      <span class="kv-pair__value">7123 8876 0023</span>
    </div>
    <div class="kv-pair">
      <span class="kv-pair__key">BSB:</span>
      <span class="kv-pair__value">654 - 788</span>
    </div>
    <div class="kv-pair">
      <span class="kv-pair__key">Financial Institution:</span>
      <span class="kv-pair__value">ANZ Bank</span>
    </div>
  </div>
</div>

  <div id="tfn" class="margin-below--extra">

    <h2 class="mys h2 margin-below--mid">TFN details</h2>

    <%- include(partials+"components/form-partials/yes_no", {
  label: "Do you have a tax file number number?",
  yes_toggle: "#tfn-container"
}); %>
    <%- include(partials+"components/form-partials/text", {
  label: "Tax file number",
  id: "tfn",
  modifiers: ["hidden"]
}); %>

  </div>

  <!-- <p id="choose-next" hidden>Choose <b>next</b> to continue</p> -->

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "#claim-cancel-modal"
      },
      {
        text: "Next",
        id: "btnNext",
        link: "/auth/claim/centrelink-age-pension-transfer/02",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>
  <%- include(forms+"modals/claim-cancel") %>
  <%- include(templates+"footer") %>
  <%- include("02-ss") %>

  <script>

    var bsbs;

    $(document).ready(function () {
      $.ajax({
        url: '/docs/data/bsbs.csv',
        type: 'GET',
        dataType: 'text'
      })
        .done(data => {
          Papa.parse(data, {
            header: true,
            dynamicTyping: false,
            complete: results => {
              bsbs = results;
            }
          });
        });
    });

    $("#bsb1").on("keyup", function () {
      if ($(this).val().length === 3) {
        $("#bsb2").focus();
      }
    });

    $("#bsb2").on("keyup", function () {
      if ($(this).val().length === 0) {
        $("#bsb1").focus();
      }
    });

    $("#bsb").on("keyup", "input", function () {
      let combinedVal = $("#bsb1").val() + $("#bsb2").val();
      if (combinedVal.length === 6) {

        $("#institution").show();
        $("#loading").show();
        combinedVal = `${combinedVal.slice(0, 3)}-${combinedVal.slice(3, 6)}`;

        let filtered = bsbs.data.filter(bsb => bsb.bsb === combinedVal);
        $("#results").text(filtered[0] !== undefined ? filtered[0].bank : "BSB not found.")

        window.setTimeout(function () {
          $("#loading").hide();
          $("#results").show();
        }, 600)

      } else {
        $("#loading").hide("fast");
        $("#results").hide("fast");
      }
    });

    function stateSwitcher() {
      $("#bank-input").hide();
      $("#bank-prepop").hide();
      $("#tfn").hide();
      console.log(state)
      switch (state) {
        case "bankprovided":
          $("#bank-prepop").show();
          $("#tfn").show();
          break;
        case "banknotprovided":
          $("#bank-input").show();
          $("#tfn").show();
          break;
        default:
          break;
      }
    }
  </script>