<%

var progress = JSON.parse(include("progressbar")) 
progress.activeItem = 2;

%>

<%- include(templates+"header", {
  claim: "Veteran Payment", 
  heading: "Relationship status",
  progress
}) %>

<%#- include(partials+"faqs/relationship-status"); %>

<%- include(partials+"components/form-partials/radio", {
  label: "What is your relationship status?",
  boxes: [
    {
      text: "Single",
    },
    {
      text: "De facto"
    },
    {
      text: "Married"
    },
    {
      text: "Separated (while still legally married)",
      tooltip: 
        {
          content: "Separated means that you are married but no longer living in a marital relationship with your spouse and have not divorced. If you are unable to live with your spouse due to age or illness, please indicate your status as married."
        }
    },
    {
      text: "Widowed"
    },
  ],
  id: "relationship-status"
}); %>

<div id="partner-details" hidden>

  <h3>Partner details</h3>

  <%- include(partials+"components/form-partials/text", {
      label: "Given name",
      hint: "(first name)"
    }); %>

  <%- include(partials+"components/form-partials/text", {
      label: "Surname",
      hint: "(last name)"
    }); %>

  <%- include(partials+"components/form-partials/prepop/gender"); %>

  <br>

  <%- include(partials+"components/form-partials/date", {
      label: "Date of birth"
    }); %>

  <%- include(partials+"components/form-partials/yes_no", {
      label: "Does your partner wish to receive Veteran Payment?",
      id: "partner-wants-vp",
      yes_toggle: "#partner-payment-questions"
    }); %>

  <div id="partner-payment-questions" hidden>

    <%- include(partials+"components/form-partials/yes_no", {
          label: "Does your partner currently receive payments from Centrelink?",
          id: "partner-centrelink",
          yes_toggle: "#partner-crn-container",
          no_toggle: "#save-next"
      }); %>

    <%- include(partials+"components/form-partials/text", {
          label: "What is your partner's Customer Reference Number (CRN)?",
          id: "partner-crn",
          modifiers: ["hidden"]
      }); %>

  </div>
</div>

<p id="save-next" hidden>Choose <b>save and next</b> to continue</p>

<%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/centrelink-age-pension-transfer/01"
      },
      {
        text: "Cancel",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        link: "/auth/claim/centrelink-age-pension-transfer/03",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<script>

  $("input:radio").prop("checked", false);

  $('input[name=relationship-status]').change(function () {
    $("#save-next").hide();
    $("#partner-details").hide();
    switch ( $(this).val() ) {
      case "single":
      $("#partner-details").show();
        localStorage.setItem("relationship-status", "single");
        break;
      case "married":
        $("#partner-details").show();
        localStorage.setItem("relationship-status", "partnered");
        break;
      case "defacto":
        $("#partner-details").show();
        localStorage.setItem("relationship-status", "partnered");
        break;
      case "separatedwhilestilllegallymarried":
      $("#partner-details").show();
        localStorage.setItem("relationship-status", "partnered");
        break;
      default:
    }
  });
  $("#partner-wants-vp-container").on("change", "input", function () {
    if ($(this).val() === "yes") {
      localStorage.setItem("partner-wants-vp", "true");
    } else {
      localStorage.setItem("partner-wants-vp", "false");
    }
  })
</script>
<%- include(templates+"footer") %>