<%
taskList = [
  {
    id: "18th-birthday-review",
    description: "18th birthday review",
    date: "Complete by 8 Oct 2020",
    reference: `Complete this review to continue receiving Education Assistance Scheme (EAS) benefits<span class="user-label-d"> for John Smith</span>.`,
    link: "/auth/tasks/18th-birthday-review/18th-birthday-review-01",
    category: "education-assistance",
    overDue: false
  },
  {
    id: "16th-birthday-review",
    description: "16th birthday review",
    date: "Complete by 8 Oct 2020",
    reference: "Complete this review to continue receiving Education Assistance Scheme (EAS) benefits for John Smith.",
    link: "/auth/tasks/16th-birthday-review/16th-birthday-review-01",
    category: "education-assistance",
    overDue: false
  },
  {
    id: "transition-to-secondary",
    description: "Transition to secondary school",
    date: "Overdue",
    reference: `Provide details of John Smith's transition to secondary school to continue receiving Education Assistance Scheme (EAS) benefits.`,
    link: "/auth/tasks/transition-to-secondary/transition-to-secondary-01",
    category: "education-assistance",
    overDue: true
  },
  {
    id: "intention-to-study",
    description: "Intention to continue study",
    date: "Complete by 1 Dec 2019",
    reference: `Provide details of <span class="user-label-c">John Smith's</span> intention to continue study to continue receiving Education Assistance Scheme (EAS) benefits.`,
    link: "/auth/tasks/intention-to-continue-study/intention-to-continue-study-01",
    category: "education-assistance",
    overDue: false
  },
  {
    id: "confirmation-of-enrolment",
    description: "Confirmation of enrolment",
    date: "Complete by 1 Jan 2020",
    reference: `Upload confirmation of <span class="user-label-c">John Smith's</span> enrolment document to continue receiving Education Assistance Scheme (EAS) benefits.`,
    link: "/auth/tasks/confirmation-of-enrolment/confirmation-of-enrolment-01",
    category: "education-assistance",
    overDue: false
  }
]
%>

<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Tasks | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main class="section-feature">
    <div class="tasks-page container tasks-page__container">

      <div class="row">
        <div class="col-md-12">
          <h1 class="margin-below--mid margin-above--none container">
            <span class="heading">Tasks</span>
          </h1>
        </div>
      </div>

      <h3>Education assistance</h3>

      <section class="tasks-list">
        <% taskList.forEach(function(task, index) { %>
        <% if(task.category === "education-assistance") { %>
        <a class="task__wrapper--link" href="<%= task.link %>">
          <div class="task">
            <div class="task__description">
              <div class="task__icon"><i class="far fa-arrow-alt-circle-right"></i></div>
              <div class="task__link-wrapper">
                <span class="task__link"><%- task.description %></span>

                <div class="task__date <%= task.overDue ? "task__date--overdue" : "" %>"><%- task.date %></div>
              </div>
            </div>
            <div class="task__reference" id="<%- task.id %>"><%- task.reference %></div>
          </div>
        </a>
        <% } %>
        <% }); %>
      </section>
      <hr class="margin-above--medium">
    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <%- include("index-state-switcher.ejs") %>
  <script>

  </script>
</body>

</html>
