<%
taskList = [{
		"description": "Provide tax file number",
    "date": "11 Oct 2019",
		"reference": "Providing us with your tax file number will help us to complete your education assistance application and resume your payments.",
		"link": "/auth/tasks/task-edu-assistance-details",
    "category": "education-assistance"
	},
	{
		"description": "Upload documents",
    "date": "18 Sept 2019",
		"reference": "Uploading  documents will help us to complete your education assistance application.",
		"link": "/auth/tasks/task-edu-assistance-details",
    "category": "education-assistance"
	},
	{
		"description": "Upload GP report documents",
    "date": "12 Sept 2019",
		"reference": "Uploading your GP Report document will help us to complete Initial Liability claim.",
		"link": "/auth/tasks/task-edu-assistance-details",
    "category": "initial-liability"
	},
  {
    "description": "Questions to answer",
    "date": "11 Sept 2019",
		"reference": "Complete the following questions.",
		"link": "/auth/tasks/primary-to-secondary",
    "category": "primary-secondary"
  }
  ]
%>

<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Tasks | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main class="section-feature">
    <div class="tasks-page container tasks-page__container">
      <h2 class="margin-above--none">
        <span class="heading font-weight-heavy">Your tasks</span>
      </h2>
      <h3 class="tasks-list__header margin-below--small">Education Assistance</h3>
      <section class="tasks-list">
        <% taskList.forEach(function(task, index) { %>
        <% if(task.category === "education-assistance") { %>
        <div class="task">
          <div class="task__description">
            <div class="task__icon"><i class="far fa-arrow-alt-circle-right"></i></div>
            <div class="task__link-wrapper">
              <a href="<%= task.link %>" class="task__link"><%= task.description %></a>
              <div class="task__date">Active since <%= task.date %></div>
            </div>
          </div>
          <div class="task__reference"><%= task.reference %></div>
        </div>
        <% } %>
        <% }); %>
      </section>
      <h3 class="tasks-list__header margin-below--small">Initial Liability</h3>
      <section class="tasks-list">
        <% taskList.forEach(function(task, index) { %>
        <% if(task.category === "initial-liability") { %>
        <div class="task">
          <div class="task__description">
            <div class="task__icon"><i class="far fa-arrow-alt-circle-right"></i></div>
            <div class="task__link-wrapper">
              <a href="<%= task.link %>" class="task__link"><%= task.description %></a>
              <div class="task__date">Active since <%= task.date %></div>
            </div>
          </div>
          <div class="task__reference"><%= task.reference %></div>
        </div>
        <% } %>
        <% }); %>
      </section>
      <h3 class="tasks-list__header margin-below--small">Primary to secondary school transition</h3>
      <section class="tasks-list">
        <% taskList.forEach(function(task, index) { %>
        <% if(task.category === "primary-secondary") { %>
        <div class="task">
          <div class="task__description">
            <div class="task__icon"><i class="far fa-arrow-alt-circle-right"></i></div>
            <div class="task__link-wrapper">
              <a href="<%= task.link %>" class="task__link"><%= task.description %></a>
              <div class="task__date">Active since <%= task.date %></div>
            </div>
          </div>
          <div class="task__reference"><%= task.reference %></div>
        </div>
        <% } %>
        <% }); %>
      </section>
      <hr class="margin-above--medium">
    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>

</html>
