<%
taskList = [{
		"description": "Tax File Number Required",
    "date": "12/01/1993",
		"reference": "Education assistance for Sarah",
		"link": "/task/1"
	},
	{
		"description": "Tax File Number Required",
		"reference": "Education assistance for Sarah",
		"link": "/task/2"
	},
	{
		"description": "Tax File Number Required",
		"reference": "Education assistance for Sarah",
		"link": "/task/3"
	}]
%>
  
<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <title>Tasks | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main class="section-feature">
    <div class="tasks-page container">
    <h1 class="margin-above--none">
        <span class="heading">Your tasks</span>
    </h1>
    <section class="tasks-list">
    <% taskList.forEach(function(task, index) { %>
      <div class="task">
        <div class="task__description"><%= task.description %></div>
        <div class="task__reference"><%= task.reference %></div>
        <div class="task__link"><a href="<%= task.link %>">Complete task ></a></div>
    </div>
    <% }); %>
    </section>
    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>
</html>