<%
taskList = [
  {
    id: "transition-to-secondary",
    description: "Transition to secondary school",
    date: "Overdue",
    reference: `Provide details of John Smith's transition to secondary school to keep receiving Education Assistance Scheme (EAS) benefits.`,
    link: "/auth/tasks/transition-to-secondary/transition-to-secondary-01",
    category: "education-assistance",
    overDue: true
  },
  {
    id: "intention-to-study",
    description: "Intention to continue study",
    date: "Complete by 1 Dec 2019",
    reference: `Provide details of <span class="non-link-span user-label-c">John Smith's</span> intention to continue study to keep receiving <span class="non-link-span user-label-e">your</span> Education Assistance Scheme (EAS) benefits.`,
    link: "/auth/tasks/intention-to-continue-study/intention-to-continue-study-01",
    category: "education-assistance",
    overDue: false
  },
  {
    id: "confirmation-of-enrolment",
    description: "Confirmation of enrolment",
    date: "Complete by 1 Jan 2020",
    reference: `Provide <span class="non-link-span user-label-c">John Smith's</span> confirmation of enrolment document to keep receiving Education Assistance Scheme (EAS) benefits.`,
    link: "/auth/tasks/confirmation-of-enrolment/confirmation-of-enrolment-01",
    category: "education-assistance",
    overDue: false
  }
]
%>

<%- include(templates+"header-default", {
  heading: "Tasks",
  claim: "Tasks",
  modifiers: ["bg-gray"]
}) %>

      <h3>Education assistance</h3>

      <section class="tasks-list">
        <% taskList.forEach(function(task, index) { %>
        <% if(task.category === "education-assistance") { %>
        <a class="task__wrapper--link" href="<%= task.link %>">
          <div class="task">
            <div class="task__description">
              <div class="task__icon"><i class="far fa-arrow-alt-circle-right"></i></div>
              <div class="task__link-wrapper">
                <span class="task__link"><%- task.description %></span>

                <div class="task__date <%= task.overDue ? "task__date--overdue" : "" %>"><%- task.date %></div>
              </div>
            </div>
            <div class="task__reference" id="<%- task.id %>"><%- task.reference %></div>
          </div>
        </a>
        <% } %>
        <% }); %>
      </section>
      <hr class="margin-above--medium">
    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <%- include("index-state-switcher.ejs") %>
  <script>

  </script>
</body>

</html>
