<%
taskList = [{
		"description": "Transition to secondary school",
    "date": "Due 12 November 2019",
		"reference": "In order to continue receiving education assistance scheme benefits, please provide details of John Smith's transition to secondary school.",
		"link": "/auth/tasks/transition-to-secondary/transition-to-secondary-01",
    "category": "education-assistance"
	},
	{
		"description": "Intention to continue study",
    "date": "Due 18 November 2019",
		"reference": "Content to come.",
		"link": "/auth/tasks/intention-to-continue-study/intention-to-continue-study-01",
    "category": "education-assistance"
  },
  {
		"description": "Confirmation of Enrolment",
    "date": "Due 12 November 2019",
		"reference": "Content to come.",
		"link": "/auth/tasks/transition-to-secondary/transition-to-secondary-01",
    "category": "education-assistance"
	},
]
%>

<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Tasks | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main class="section-feature">
    <div class="tasks-page container tasks-page__container">

      <div class="row">
        <div class="col-md-12">
          <h1 class="margin-below--mid margin-above--none container">
            <span class="heading">Tasks</span>
          </h1>
        </div>
      </div>

      <section class="tasks-list">
        <% taskList.forEach(function(task, index) { %>
        <% if(task.category === "education-assistance") { %>
        <div class="task">
          <div class="task__description">
            <div class="task__icon"><i class="far fa-arrow-alt-circle-right"></i></div>
            <div class="task__link-wrapper">
              <a href="<%= task.link %>" class="task__link"><%= task.description %></a>
              <div class="task__date"><%= task.date %></div>
            </div>
          </div>
          <div class="task__reference"><%= task.reference %></div>
        </div>
        <% } %>
        <% }); %>
      </section>

      <hr class="margin-above--medium">
    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>

</html>
