<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Tasks | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main class="container tasks-page__container tasks-page__container--margin-above">
    <div class="content-wrapper">
      <h1>Primary to secondary school transition</h1>
      <%- include(partials+"components/form-partials/yes_no", {
        label: "Are you going to continue to study next year?"
      }); %>
      <%- include(partials+"components/form-partials/dropdown", {
        label: "Level of study",
        options: [
          "Secondary",
          "Tertiary",
          "Primary"
        ]
      }); %>
      <%- include(partials+"components/form-partials/dropdown", {
        label: "Where are you studying now?",
        options: [
          "NSW",
          "ACT",
          "VIC",
          "WA",
          "QLD",
          "NT",
          "Overseas"
        ]
      }); %>
      <%- include(partials+"components/form-partials/text", {
        label: "Name of school"
      }); %>
      <%- include(partials+"components/form-partials/dropdown", {
            label: "What is your year of study?",
            options: [
              "10",
              "9",
              "8"
            ]
          }); %>
      <div class="pagination pagination--tasks">
        <a href="/auth/tasks"><button class="uikit-btn uikit-btn--tertiary">Back to tasks</button></a>
        <div class="floated">
          <a href="/auth/tasks/review-and-submit">
            <button class="uikit-btn" id="submit">
              Next
            </button>
          </a>
        </div>
      </div>
  </main>

</body>
<%- include(partials+"components/layout/footer") %>

</html>
