<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <title>Tasks | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

  <body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
      <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
      <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <%- include(partials+"components/layout/header-topbar") %>
    <%- include(partials+"components/layout/header-authenticated") %>
    <%- include(partials+"components/layout/header-nom-rep") %>
    
    <main class="container tasks-page__container tasks-page__container--margin-above">
    <div class="content-wrapper">
          <h1>Education assistance details</h1>
      <div class="form-group">
        <label class="uikit-text-input__label margin-below--small" for="account-name">Provide your Tax File Number</label>
        <div class="hint">Providing us with your tax file number will help us to complete your education assistance application and resume your payments.</div>
        <input class="uikit-text-input" name="account-name" id="account-name" type="text" value="" required="" aria-required="true" style="max-width: 22em;">
      </div>
    </div>
      <div class="pagination pagination--tasks">
        <a href="/auth/tasks"><button class="uikit-btn uikit-btn--tertiary">Back to tasks</button></a>
        <div class="floated">
          <button class="uikit-btn" id="submit">Submit</button>
        </div>
      </div>
    </main>
    
  </body>
  <%- include(partials+"components/layout/footer") %>
</html>