<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Submitted Rep: Nom Rep | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-claims") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="claim-end">

            <div class="pt-claim-type--normal">
              <div class="margin-above ie-success-animation">
                <img src="../../../docs/images/ico-submitted.svg" alt="Submitted icon">
              </div>
              <div class="margin-above submitted-animation">
                <%- include(partials+"animations/submitted") %>

              </div>
              <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
                <h1>We're submitting your application </h1>
              </div>
            </div>

            <div class="transition-content pt-claim-animation-end margin-below--extra">
              <div class="pt-claim-type--normal">
                <h1 class="cantered-item">Your application to represent <span class="pt-current-client-nameFirst"></span> <span class="pt-current-client-nameLast"></span> has
                  been submitted and is now
                  <span class="font-weight-heavy"> in progress</span>
                </h1>
                <h2 class="cantered-item"> Application ID is 9218374981</h2>
              </div>

              <hr class="orange-divider">

              <div class="margin-below--extra">
                <h2 class="ss-align--center"><b>What's next?</b></h2>
                <div class="container">
                  <div class="col-sm-offset-1 col-sm-8">
                    <ul class="next-steps">
                      <li>You will be able to track the progress of this application on your representation page. </li>
                      <li> If <span class="pt-current-client-nameFirst"></span> <span class="pt-current-client-nameLast"></span> has a MyService account they will receive an
                        authorisation
                        request to approve or decline your representation.</li>
                      <li>If <span class="pt-current-client-nameFirst"></span> <span class="pt-current-client-nameLast"></span> does not have a MyService account we will contact
                        them to seek approval on your behalf.
                      </li>
                    </ul>
                  </div>

                </div>

                <div class="pagination">
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Back to home</button>

                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/profile/nomrep/#rep-list'">See representation list</button>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include(partials+"footer") %>
  <form class="pt-submit-form">
    <input type="hidden" name="submittedApplication" id="submittedApplication" value="true">
  </form>

  <script>
    readClient();
    var data = ($('.pt-submit-form'));

    writeClient(data);

    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".pt-claim-animation-start").toggleClass("transition-content--open");
        $(".pt-claim-animation-end").toggleClass("transition-content--open");


      }, timeDelay);

    var queryString = new Array();
    $(function () {
      if (queryString.length == 0) {
        if (window.location.search.split('?').length > 1) {
          var params = window.location.search.split('?')[1].split('&');
          for (var i = 0; i < params.length; i++) {
            var key = params[i].split('=')[0];
            var value = decodeURIComponent(params[i].split('=')[1]);
            queryString[key] = value;
          }
        }
      }
      if (queryString["name"] != null && queryString["technology"] != null) {
        var newAmount = "";
        var requestAmount = "";
        newAmount += queryString["name"];
        requestAmount += queryString["technology"];
        $("#lblData").html(newAmount);
        $("#lblData2").html(requestAmount);
        if (requestAmount.indexOf('.') != -1) {
          $("#lblData2").html(requestAmount);
        } else {
          $("#lblData2").html(requestAmount);
        }
      }


      if ((localStorage.getItem('repFlow') == 'represented')) {
        localStorage.setItem('repFlow', 'both');
      } else {
        localStorage.setItem('repFlow', 'representing');
      }
    });

  </script>

</body>

</html>
