<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Details Rep: Nom Rep | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Representative's details</span>
        </h1>
      </div>
    </div>


    <div class="container">
      <form class="pt-submit-form">
        <input type="hidden" name="id" id="repId" value="">
        <div class="radio-tile--group margin-above--large">
          <label class="radio-tile">
            <input id="addNewPerson" class="sr" type="radio" name="repType" value="person">
            <span>
              <i class="radio_tile__icon fal fa-user fa-3x" style="padding: 15px 0 15px 0;"></i>
              <BR />Add person
            </span>

          </label>
          <label class="radio-tile">
            <input id="addNewOrg" class="sr" type="radio" name="repType" value="organisation">
            <span>
              <i class="radio_tile__icon fal fa-users fa-3x" style="padding: 15px 0 15px 0;"></i>
              <BR />Add organisation
            </span>

          </label>


        </div>
        <div id="newPerson" style="display:none;">
          <div class="form-group margin-above--mid">
            <h2>Provide information regarding the representative</h2>
            <div id="title-group" class="form-group">
              <label class="uikit-text-input__label" for="title">Title
                <br>
                <span id="title-group--optional" class="hint" style="display:none;"> Used for correspondence (optional)</span>
              </label>
              <select class="uikit-text-input input-half" id="title" name="title">
                <%- include(partials+"forms/title-list") %>
              </select>
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="nameFirst">Given name <span class="hint">(first name)</span></label>
              <input class="uikit-text-input input-half" name="nameFirst" id="nameFirst" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="nameLast">Surname <span class="hint">(last name)</span></label>
              <input class="uikit-text-input input-half" name="nameLast" id="nameLast" type="text" value="">
            </div>
            <div id="pt-gender-fieldsx" class="form-group">

              <% 
                  locals.el = {};
                  locals.el.question = 'Gender'; 
                  locals.el.optionalID = 'genderOne';
                  locals.el.optionalHelp = "Currently, our system only allows us to record the representative's gender as male or female. If they don't identify as either, you can discuss this with a DVA staff member on <a href='tel:1800-555-254'>1800 555 254</a>."; 
              %>
              <%- include(partials+"components/form-elements/radio--gender", locals) %>

            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="date">Date of birth
                <span class="hint">(dd / mm / yyyy)</span>
              </label>
              <input class="uikit-text-input dd" type="text" name="dob-dd" id="dob-dd" maxlength="2" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="dob-mm" id="dob-mm" maxlength="2" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="dob-yyyy" id="dob-yyyy" maxlength="4" aria-label="4 digit year">
            </div>

            <div id="title-group" class="form-group">
              <label class="uikit-text-input__label" for="relationshipType">Relationship to you
                <br>
                <span id="title-group--optional" class="hint" style="display:none;"> Used for correspondence (optional)</span>
              </label>
              <select class="uikit-text-input input-half" id="relationshipType" name="relationshipType">
                <%- include(partials+"forms/relationship-list") %>

              </select>
            </div>

            <div class="form-group" id="fileNumbergroup">
              <label class="uikit-text-input__label" for="dVAClientNumber">Your representative's DVA client number <span class="hint">(if known)</span></label>
              <div class="margin-below--mid">If they have one, we recommend you provide it here.</div>
              <input class="uikit-text-input input-half" name="dVAClientNumber" id="dVAClientNumber" type="text" value="">
            </div>

          </div>
        </div>

        <div id="newOrg" style="display:none;">
          <div class="form-group pt-showIfEnrolled">
            <p>
              <span style="display:none;" id="studyingCourseSpinner">
                <img style="float: right; margin: 0px 15px 15px 0px;" src="/docs/images/BrokenCircleSpinner.gif" width="20px" />
              </span>
              <label class="uikit-text-input__label" for="orgABN" id="question_id16a">Organisation ABN</label>
              <input class="uikit-text-input" name="orgABN" id="orgABN" type="text" value="">

            </p>

          </div>

          <div class="form-group pt-showIfEnrolled">
            <label class="uikit-text-input__label" for="orgName" id="question_id16a">Organisation name</label>
            <input class="uikit-text-input" name="orgName" id="orgName" type="text" value="">
          </div>

          <div class="form-group margin-above--large">
            <h2>Contact person</h2>
            <div id="title-group" class="form-group">
              <label class="uikit-text-input__label" for="contactTitle">Title
                <br>
                <span id="title-group--optional" class="hint" style="display:none;"> Used for correspondence (optional)</span>
              </label>
              <select class="uikit-text-input input-half" id="contactTitle" name="contactTitle">
                <%- include(partials+"forms/title-list") %>
              </select>
            </div>

            <div class="form-group pt-showIfEnrolled">
              <label class="uikit-text-input__label" for="contactFirstName">Given name <span class="hint">(first name)</span></label>
              <input class="uikit-text-input" name="contactFirstName" id="contactFirstName" type="text" value="">
            </div>
            <div class="form-group pt-showIfEnrolled">
              <label class="uikit-text-input__label" for="contactLastName">Surname <span class="hint">(last name)</span></label>
              <input class="uikit-text-input" name="contactLastName" id="contactLastName" type="text" value="">
            </div>
            <div id="pt-gender-fieldscc" class="form-group">
              <% 
                  locals.el = {};
                  locals.el.question = 'Gender'; 
                  locals.el.optionalID = 'genderTwo';
                  locals.el.optionalHelp = "Currently, our system only allows us to record the representative's gender as male or female. If they don't identify as either, you can discuss this with a DVA staff member on <a href='tel:1800-555-254'>1800 555 254</a>."; 
              %>
              <%- include(partials+"components/form-elements/radio--gender", locals) %>
            </div>
            <div class="form-group pt-showIfEnrolled">
              <label class="uikit-text-input__label" for="contactPhone" id="question_id16a">Phone number</label>
              <input class="uikit-text-input" name="contactPhone" id="contactPhone" type="text" value="">
            </div>
            <div class="form-group pt-showIfEnrolled">
              <label class="uikit-text-input__label" for="contactEmail" id="question_id16a">Email <span class="hint">(optional)</span></label>
              <input class="uikit-text-input" name="contactEmail" id="contactEmail" type="text" value="">
            </div>
          </div>
        </div>

      </form>


      <div class="pagination pagination--ss-reverse-order">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/profile/nomrep/'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#warning'">Cancel</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/profile/nomrep/'">Save and exit</button>
          <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
        </div>

      </div>

    </div>

    <div id="warning" class="modal-window">
      <div>
        <a href="#modal-close" title="Close" class="modal-close">Close</a>
        <h2>Your application will be cancelled</h2>
        <p>Are you sure you want to cancel this application?</p>
        <div class="modal-buttons">
          <button class="uikit-btn" onclick="window.location.href = '#modal-close'">Stay on this page</button>
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/profile/nomrep/'">Leave page</button>
        </div>
      </div>

    </div>






  </main>

  <%- include(partials+"components/layout/footer") %>

  <script src="/docs/js/students.js"></script>


  <script src="/docs/js/jquery-ui.min.js"></script>

  <script>
    $('.pt-submit-form').submit(function (event) {
      event.stopImmediatePropagation();
    });

    $('#addNewPerson').click(function () {
      $('#newPerson').show("fast");
      $('#newOrg').hide();
    });
    $('#addNewOrg').click(function () {
      $('#newOrg').show("fast");
      $('#newPerson').hide();
    });


    // set a new session guid every time this page is called
    var sessionGuid = (guidGenerator());
    sessionStorage.setItem('sessionGuid', sessionGuid);
    $('#repId').val(sessionGuid);


    $('#btnNext').click(function (event) {
      event.stopImmediatePropagation();
      event.preventDefault();

      var data = ($('.pt-submit-form'));

      writeRep(data);

      if ($('#addNewOrg').is(':checked')) {
        window.location.href = '/auth/profile/nomrep/form-rep-3?repState=new';
      }

      if ($.trim($('#fileNumber').val()) == '') {
        window.location.href = '/auth/profile/nomrep/form-rep-2';
      } else {
        window.location.href = '/auth/profile/nomrep/form-rep-3?repState=new';
      }

    });





    $(function () {

      var availableInstitutions = [{
          label: "RSL Townsville Sub Branch",
          category: "abn",
          abn: '55467834'
        },
        {
          label: "Anglicare Southern Queensland - Help at Home and Disability Services",
          category: "test",
          abn: '8834256238'
        },
        {
          label: "ComLink Townsville",
          category: "abn",
          abn: '345673467'
        },
        {
          label: "Anlgi care services",
          category: "abn",
          abn: '3564734567'
        },
        {
          label: "Blue Care",
          category: "abn",
          abn: '234532467'
        },
        {
          label: "Glendale Care - Townsville Aged Care",
          category: "abn",
          abn: '456872345'
        },
        {
          label: "Coutts Redington Chartered Accountants",
          category: "abn",
          abn: '6973563'
        },
        {
          label: "Slater and Gordon Lawyers",
          category: "abn",
          abn: '679457'
        },
      ];

      $("#orgName").autocomplete({
        source: availableInstitutions,
        select: function (event, ui) {
          // js.cookies dependency
          Cookies.remove('institution');
          // checking if it's a condition that is a candidate for a computer based decision
          if (ui.item.category === 'cbd') {
            Cookies.set('institution', 'cbd', {
              expires: 1
            });
          }
          if (ui.item.category === 'abn') {
            $('#orgABN').val(ui.item.abn);
            $('#orgABN').attr("disabled", true);
            // console.log(ui.item.abn)
          } else {
            $('#orgABN').attr("disabled", false);
          }
        }
      });

      $('input[name=orgName]').click(function () {
        $("#studyingCourseSpinner").show();

        setTimeout(function () {
          $("#studyingCourseSpinner").hide();
        }, 2000);
      });
    });

  </script>

</body>

</html>
