<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Agreement: Nom Rep | MyService</title>
  <%- include(partials+"components/layout/head") %>

  <style>
    .pt-first-time,
    .pt-first-time-no {
      display: none;
    }
  </style>

</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>


  <%- include(partials+"components/layout/header-topbar") %>

  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <section>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <section class="">
          <div class="row margin-above">
            <div class="col-sm-3">

              <%- include(partials+"components/layout/profile-side-nav") %>

            </div>

            <div class="col-sm-9">
              <h1 class="margin-above--none margin-below--small">Representation</h1>

              <div class="pt-first-time">
                <div class="row margin-below">
                  <div class="col-xs-12 col-sm-4">
                    <div class="card card--medium card--simple">
                      <a href="/auth/profile/nomrep/form-rep-1">
                        <span class="fal fa-icon-nr fa-user-plus "></span>
                        <h3 class="card__title">
                          <span>Represent me</span>
                        </h3>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-8">
                    <div class="card-supporting-text">
                      <h4>
                        I want someone to represent me
                      </h4>
                      <p> Have someone enquire or act on your behalf when dealing with DVA.
                        You can also direct payments you receive to a family member or partner.</p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-4 ">
                    <div class="card card--medium card--simple">
                      <a href="/auth/profile/nomrep/form-client-1">
                        <span class="fal fa-icon-nr fa-user-edit"></span>
                        <h3 class="card__title">
                          <span>I represent</span>
                        </h3>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-8">
                    <div class="card-supporting-text">
                      <h4>
                        I want to represent someone else who needs assistance
                      </h4>
                      <p> Become a representative and help others with their DVA matters.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="pt-first-time-no">
                <div class="pt-rep-flow-represented">

                  <h3>People or organisations who represent you</h3>
                  <div class="row">
                    <div class="col-sm-12 margin-below--mid">
                      <%# <div class="horizontal-card-section">
                        <div class="card card--horizontal flex-container">
                          <div class="flex-item flex-item--icon-only">
                            <span class="fal fa-icon-nr fa-user-plus"></span>
                          </div>
                          <div class="flex-item flex-item--large">
                            <p> <strong> Andrew Smith</strong> (enquire on behalf)</p>
                          </div>

                          <div class="flex-item flex-item--right-align">
                            <p><a href="/auth/profile/nomrep/form-rep-3">Edit role</a></p>
                          </div>
                        </div>
                        <div class="card card--horizontal flex-container">
                          <div class="flex-item flex-item--icon-only">
                            <span class="fal fa-icon-nr fa-user-plus"></span>
                          </div>
                          <div class="flex-item flex-item--large">
                            <p> <strong> Team site</strong> (act on behalf)</p>
                          </div>

                          <div class="flex-item flex-item--right-align">
                            <p><a href="/auth/profile/nomrep/form-rep-3">Edit role</a></p>
                          </div>
                        </div>
                      </div> %>
                      <div class="pt-rep-list-full"></div>
                      <%# <div class="horizontal-card-section">
                        <div class="card card--horizontal flex-container">
                          <div class="flex-item flex-item--icon-only">
                            <span class="fal fa-icon-nr fa-user-edit"></span>
                          </div>
                          <div class="flex-item flex-item--large">
                            <p><strong>
                                <span class="pt-current-rep-nameFirst"></span> <span class="pt-current-rep-nameLast"></span>
                                <!-- {{First name Last name }}  -->
                              </strong></p>
                            <p><strong> Their current role: </strong>
                              <span class="pt-current-rep-role"></span>
                              <!-- Act on their behalf -->
                            </p>
                            <p> <strong> Representation date: </strong>
                              <span class="pt-current-rep-startActDd"></span> /
                              <span class="pt-current-rep-startActMm"></span> /
                              <span class="pt-current-rep-startAct-yyyy"></span>
                              to (no fixed end date)</p>
                            <p><strong> Online access: </strong> Yes</p>
                          </div>

                          <div class="flex-item flex-item--right-align">
                            <p><a href="/auth/profile/nomrep/form-rep-3">Edit Role</a></p>
                          </div>

                        </div>

                      </div> %>


                    </div>
                  </div>
                  <div class="row margin-below--extra">
                    <div class="col-sm-12 ss-align--right">
                      <button class="uikit-btn small "
                        onclick="window.location.href = '/auth/profile/nomrep/form-rep-1'">Add another
                        representative</button>
                    </div>
                  </div>
                </div>

                <hr class="pt-rep-flow-represented">

                <div class="pt-rep-flow-representing">
                  <h2 class="uikit-text-input__label-wrapper--inline-block margin-below--small">People or organisations
                    who represent you
                  </h2>

                  <!-- <div class="tooltip">
                    <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button"
                      aria-controls="gender-tt-message" aria-expanded="false">
                      <div class="tooltip__label tooltip__label--icon-only">
                        <a>Gender help</a>
                      </div>
                      <div class="tooltip__tab"></div>
                    </div>
                    <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region"
                      tabindex="-1" aria-hidden="true">
                      <div class="tooltip__message">
                        <p>
                          To act for your client within their account, use the 'Switch client account' button above. As
                          shown here:
                        </p>
                        <img class="margin-below--none" src="/docs/images/switch-client-account.png" height="55"
                          alt=" Switch client account">
                      </div>

                      <div class="tooltip__close" role="button" tabindex="0">Close</div>
                    </div>
                  </div> -->

                  <div class="uikit-page-alerts" role="alert">
                    <p class="margin-below--mid">If you already have a represenative arrangement in place to act
                      on behalf or to
                      receive payments, a new
                      appointment
                      will automatically cancel the existing arrangement with
                      DVA.
                    </p>
                  </div>


                  <!-- for each client start -->

                  <div class="pt-client-list-full"></div>


                  <!-- for each client end -->






                  <div class="row margin-below--extra">
                    <div class="col-sm-12 ss-align--right">
                      <button class="uikit-btn small "
                        onclick="window.location.href = '/auth/profile/nomrep/form-client-1'">Add another person to
                        represent</button>
                    </div>
                  </div>
                </div>


                <hr class="pt-rep-flow-represented-no pt-rep-flow-none-no">

                <div class="pt-rep-flow-represented-no">

                  <h2>People or organisations who represent you</h2>
                  <div class="row">
                    <div class="col-sm-12 ">
                      <p>
                        You currently have no one representing you. </p>
                      <p>Have someone enquire or act on your behalf when dealing with DVA.
                        You can also direct payments you receive to a third party.</p>
                    </div>
                  </div>
                  <div class="row margin-below--extra">
                    <div class="col-sm-12 ss-align--right">
                      <button class="uikit-btn small "
                        onclick="window.location.href = '/auth/profile/nomrep/form-rep-1'">Add a representative</button>
                    </div>
                  </div>
                </div>

                <hr class="pt-rep-flow-none">

                <div class="pt-rep-flow-representing-no">
                  <h2 class="uikit-text-input__label-wrapper--inline-block">People you represent</h2>
                  <div class="tooltip">
                    <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button"
                      aria-controls="gender-tt-message" aria-expanded="false">
                      <div class="tooltip__label tooltip__label--icon-only">
                        <a>Gender help</a>
                      </div>
                      <div class="tooltip__tab"></div>
                    </div>
                    <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region"
                      tabindex="-1" aria-hidden="true">
                      <div class="tooltip__message">
                        <p>
                          To act for your client within their account, use the 'Switch client account' button above. As
                          shown here:
                        </p>
                        <img class="margin-below--none" src="/docs/images/switch-client-account.png" height="55"
                          alt=" Switch client account">
                      </div>

                      <div class="tooltip__close" role="button" tabindex="0">Close</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <p>
                        You are not currently representing anyone. </p>
                      <p>Become a representative and help others with their DVA matters.</p>

                    </div>
                  </div>
                  <div class="row margin-below--extra">
                    <div class="col-sm-12 ss-align--right">
                      <button class="uikit-btn small "
                        onclick="window.location.href = '/auth/profile/nomrep/form-client-1'">Add someone to
                        represent</button>
                    </div>
                  </div>
                </div>

                <div class="row sub-section margin-below--mid">


                  <div class="col-xs-12">
                    <h3>Your representation requests</h3>
                    <p>You may view or withdraw your representation requests at any time.</p>
                    <p>You can also view a complete history of representation <a
                        href="/auth/profile/nomrep/transaction-log">transactions here.</a></p>

                    <div class="horizontal-card-section">


                      <div class="card card--horizontal card--action-required flex-container ">
                        <div class="flex-item">
                          <p> <strong> In Progress</strong></p>
                          <p>
                            <span class="pt-date-today"></span>
                          </p>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p><strong>
                              <span class="pt-current-client-nameFirst"></span>
                              <span class="pt-current-client-nameLast"></span>

                              <span class="pt-current-rep-nameFirst"></span>
                              <span class="pt-current-rep-nameLast"></span>
                            </strong>
                          </p>
                          <p>
                            (<span class="pt-current-client-role"></span><span class="pt-current-rep-role"></span>)
                          </p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="/auth/profile/nomrep/view-rep">View</a></p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="#"></a></p>
                        </div>
                      </div>


                      <div class="card card--horizontal card--action-required flex-container ">

                        <div class="flex-item">
                          <p> <strong> Draft</strong></p>
                          <p>21 February 2019</p>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p><strong>Luke Smith</strong></p>
                          <p>(Received Payments on behalf)</p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="/auth/profile/nomrep/view-rep">View</a></p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="/auth/profile/nomrep">Withdraw</a></p>

                        </div>
                      </div> %>
                      <div class="card card--horizontal flex-container ">

                        <div class="flex-item">
                          <p> <strong> Approved</strong></p>
                          <p>18 March 2018</p>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p><strong>Joe Smith</strong></p>
                          <p>(Act on behalf)</p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="/auth/profile/nomrep/view-rep">View</a></p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                        </div>
                      </div>

                      <div class="card card--horizontal flex-container">

                        <div class="flex-item">
                          <p> <strong> Declined</strong></p>
                          <p>18 March 2018</p>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p><strong>Joe Smith</strong></p>
                          <p>(Act on behalf)</p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="/auth/profile/nomrep/view-rep">View</a></p>
                        </div>
                        <div class="flex-item flex-item--right-align">

                        </div>
                      </div>


                      <!-- add an card--amended class to this div for future use -->
                      <div class="card card--horizontal card--amended flex-container ">

                        <div class="flex-item">
                          <p> <strong> Ceased</strong></p>
                          <p>15 November 2018</p>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p><strong>Paul Keen</strong></p>
                          <p>(Enquiring on behalf)</p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="/auth/profile/nomrep/view-rep">View</a></p>
                        </div>
                        <div class="flex-item flex-item--right-align">

                        </div>
                      </div>
                      <div class="card card--horizontal card--amended flex-container ">

                        <div class="flex-item">
                          <p> <strong> Withdrawn</strong></p>
                          <p>15 January 2018</p>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p><strong>Jennifer Kew</strong></p>
                          <p>(Enquiring on behalf)</p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="/auth/profile/nomrep/view-rep">View</a></p>
                        </div>
                        <div class="flex-item flex-item--right-align">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!-- end rep listing col -->
      </div>
      <!-- end row -->
    </section>
    </div>
    </section>
  </main>


  <%- include(partials+"components/layout/footer") %>
</body>
<script>
  if ($(window.location.hash).length > 0) {
    $('html, body').animate({
      scrollTop: $(window.location.hash).offset().top - 100
    }, 2000);
  }

  $(document).ready(function () {
    // don't think we need any of this now.
    $('#myRepsBtn').click(function () {
      $('#myReps').show();
      $('#myReps1').show();
      $('#myReps2').show();
      $('#myReps3').show();
      $('#myReps4').show();
      $('#myReps5').show();
      $('#iRep').hide();
      $('#iRep1').hide();
      $('#myRepsHead').show();
      $('#iRepHead').hide();
      $('#becomeRep').hide();
      $('#addRep').show();
      $('#myRepsBtn').removeClass('active-state');
      $('#iRepresent').addClass('active-state');
      $('#myRepsBtn').removeClass('on-load-state');
    });
    $('#iRepresent').click(function () {
      $('#iRep').show();
      $('#iRep1').show();
      $('#iRepHead').show();
      $('#myReps').hide();
      $('#myReps1').hide();
      $('#myReps2').hide();
      $('#myReps3').hide();
      $('#myReps4').hide();
      $('#myReps5').hide();
      $('#becomeRep').show();
      $('#addRep').hide();
      $('#myReps1').hide();
      $('#myRepsHead').hide();
      $('#myRepsBtn').addClass('active-state');
      $('#iRepresent').removeClass('active-state');
      $('#iRepresent').removeClass('on-load-state');
    });
  });

  readClient();
  readRep();

</script>

</html>