<%- include(templates+"header", {
  title: "Cash held",
  heading: "Cash held"
})%>
</div>

<!-- User list and category messaging -->
<div class="container container--8-column">
  <div id="user-list" class="box-list__header">
    <h2 class="box-list__heading">
      <span class="fal fa-list-alt fa-icons"></span><span class="partner-label">My</span> cash held
    </h2>
    <div id="add-anchor-link-return" class="box-list__add" onClick="showNewCard('cash-held');">
      <span class="fal fa-plus-circle fa-icons"></span>Add cash held
    </div>
  </div>
  <div id="add-anchor-link-start" class="cursor-pointer" onClick="showNewCard('cash-held');" hidden>
    <p class="margin-above--extra margin-below--extra ss-align--center">
      <span class="fal fa-plus-circle fa-icons"></span>Add cash held
    </p>
  </div>
  <!-- Cards -->
  <%- include("cash-held-update") %>
  <%- include(partials+"content/income-assets/income-assets--cash-held") %>

  <div id="main-pagination" class="pagination" style="position: relative;">
    <button id="continue" class="uikit-btn btnNext" onClick="goBack()">Back to list</button>
  </div>
</div>

<%- include(partials+"components/layout/footer") %>
<%- include("category-page-ss") %>

<script>

  function stateSwitcher() {
    switch (pageState) {
      case "emptylist":
        showEmptyState();
        break;
      case "populatedlist":
        showPopState();
        break;
      default:
        break;
    }
  }

  function goBack() {
    localStorage.setItem("coc-state", "update1");
    window.location.href = 'start.ejs';
  }

</script>

<script src="/docs/js/income-assets-profile.js"></script>