<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Service pension | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>


<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Required documents</span>
        </h1>
      </div>
    </div>

    <div class="container container--8-column">
      <div class="margin-above--extra margin-below--extra">
        <h3>We need some documents from you<span class="hint display-block">Accepted file types include pdf, jpeg and png. Maximum file size is
            50MB.</span></h3>

        <h2 class="margin-above">What we need</h2>

        <div class="mys-file-uploads__items">
          <div id="doc-medical" class="mys-file-uploads__item-border">
            <div class="mys-file-uploads__item mys-file-uploads__item--required">
              <div class="mys-file-uploads__l-status">
                <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                  <div class="mys-file-uploads__status-icon"></div>
                  <div class="mys-file-uploads__status-sr">Success</div>
                </div>
              </div>
              <div class="mys-file-uploads__info">
                <div class="mys-file-uploads__info-item">
                  <div class="mys-file-uploads__value">
                    <div><Strong>Bank statement</strong></div>
                    <div>For example a letter from you banking institution.
                    </div>
                  </div>
                </div>
              </div>
              <div class="mys-file-uploads__item-actions">
                <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
              </div>
            </div>
          </div>
        </div>

      </div>


<%- include(forms+"pagination", {
  customClass: "margin-above--extra margin-below--extra",
  pagination: [
    {
      text: "Previous",
      link: "/auth/profile/income-assets/start"
    },
    {
      text: "Delete transaction",
      link: "#open-coc-ai-delete-modal"
    },
    {
      text: "Next",
      link: "/auth/profile/income-assets/review",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

    </div> <!-- container end -->

    </div>


  </main>

</body>

</html>

<%- include(templates+"footer") %>
<%- include(partials+"content/modals/coc-ia-delete-modal") %>
<%- include("review-ss") %>



