
<%
taskList = [
  {
    id: "18th-birthday-review",
    description: "Income & assets update",
    date: "Submitted 12 Aug 2019",
    reference: `Updated bank account`,
    link: "/auth/tasks/18th-birthday-review/18th-birthday-review-01",
    category: "education-assistance",
    overDue: false
  },
  {
    id: "Application for Service Pension",
    description: "Application for Service Pension",
    date: "Submitted 8 Oct 2018",
    reference: "Inital declaration of income and assets",
    category: "education-assistance",
    overDue: false
  }
]
%>


<%- include(templates+"header-default", {
  claim: "Profile", 
  heading: "Income and assets",
  modifiers: ["bg-gray"]
}) %>



<p>You are required to advise of any changes to your income and assets within 14 days. Simple changes such as updating a bank balance can be done quickly and easily. For updates that take longer you are able to save your progress to complete later. Supporting documents will be required in some cases.</p>

<button class="uikit-btn uikit-btn--tertiary" onclick="location.href='start'">Get started</button>

<hr>



<h3 class="font-weight-bold">Past updates</h3>

<section class="tasks-list">
  <% taskList.forEach(function(task, index) { %>
  <% if(task.category === "education-assistance") { %>
  <a class="task__wrapper--link" href="<%= task.link %>">
    <div class="task">
      <div class="task__description">
        <div class="task__icon"><i class="far fa-arrow-alt-circle-right"></i></div>
        <div class="task__link-wrapper">
          <span class="task__link"><%- task.description %></span>

          <div class="task__date <%= task.overDue ? "task__date--overdue" : "" %>"><%- task.date %></div>
        </div>
      </div>
      <div class="task__reference" id="<%- task.id %>"><%- task.reference %></div>
    </div>
  </a>
  <% } %>
  <% }); %>
</section>