<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>MyService</title>
  <%- include(partials+"components/layout/head") %>

</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>


  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>

  <main>
    <section>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <section class="">
          <div class="row margin-above">
            <div class="col-sm-3">

              <%- include(partials+"components/layout/profile-side-nav") %>

            </div>

            <div class="col-sm-9">
              <h1 class="margin-above--none margin-below--mid">Income &amp; assets</h1>
          
              <p>You are required to advise of any changes to your income and assets within 14 days. Simple changes such as updating a bank balance can be done quickly and easily. For updates that take longer you are able to save your progress to complete later. Supporting documents will be required in some cases.</p>

<button class="uikit-btn uikit-btn--tertiary" onclick="location.href='income-assets/start'">Get started</button>

<hr>

<h3 class="font-weight--heavy">Past updates</h3>

<div class="horizontal-card-section margin-above--large">

  <div class="card card--horizontal flex-container ">
    <div class="flex-item1" style="width: 200px;">
      <p> <strong>Incomplete</strong></p>
      <p>Expires in <b>90 days</b></p>
    </div>
    <div style="width: 250px;">
      <p><strong>Income and assets update</strong></p>
    </div>
    <div class="flex-item flex-item--right-align">
      <p><a href="#">Delete</a></p>
    </div>
    <div class="flex-item flex-item--right-align">
      <p><a href="#">Resume</a></p>
    </div>
  </div>

  <div class="card card--horizontal flex-container ">
    <div class="flex-itemq" style="width: 200px;">
      <p> <strong>Submitted</strong></p>
      <p>29 Dec 2019</p>
    </div>
    <div style="width: 250px;">
      <p><strong>Income and assets update</strong></p>
      <p>Transaction ID: 2343456</p>
    </div>
    <div class="flex-item flex-item--right-align">
      <p><a href="#">Add documents</a></p>
    </div>
     <div class="flex-item flex-item--right-align">
      <p><a href="#">Withdraw</a></p>
    </div>
    <div class="flex-item flex-item--right-align">
      <p><a href="#">Review</a></p>
    </div>
  </div>

  <div class="card card--horizontal flex-container">
    <div class="flex-item1" style="width: 200px;">
      <p> <strong>Approved</strong></p>
      <p>23 July 2018</p>
    </div>
    <div style="width: 250px;">
      <p><strong>Income and assets update</strong></p>
      <p>Transaction ID: 2343456</p>
    </div>
    <div class="flex-item flex-item--right-align">
      <p><a href="#">View</a></p>
    </div>
  </div>

</div>

    </section>
    </div>
    </section>
  </main>


  <%- include(partials+"components/layout/footer") %>
</body>
<script>

localStorage.setItem("updates","false")
 

</script>

</html>
