<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>


  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>

  <main>
    <section>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <section class="">
          <div class="row margin-above">
            <div class="col-sm-3">
              <%- include(partials+"components/layout/profile-side-nav") %>
            </div>
            <div class="col-sm-9">
              <h1 class="margin-above--none margin-below--mid">Income and assets</h1>
              <p>You are required to advise of any changes to your income and assets within 14 days. You can track the
                progress of your submitted updates below. Processing times will vary based upon the types of changes you
                report.</p>

                <%- include(partials+"components/form-partials/notice", {
                  message: "You have income and assets items recorded that are owned by your partner. To update these items we require your <a href='/auth/profile/relationships'>partner's consent</a>.",
                  id: ["no-consent-message"],
                  type: "warning",
                  modifiers: ["hidden"]
                }); %>

              <button class="uikit-btn uikit-btn--primary"
                onclick="location.href='/auth/profile/income-assets/start'">Get started</button>
              <%- include("transactions-table"); %>
        </section>
      </div>
    </section>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <%- include("index-ss") %>
</body>
<script>

  var updates = localStorage.getItem("updates");
  if (updates == "true") {

  } else {

  }

  function stateSwitcher() {

    console.log(pastTransactions)

    $("#past-transactions").hide();
    $("#sixmonth-message").hide();
    $("#more-transactions").hide();

    switch (pastTransactions) {
      case "none":
        break;
      case "one":
        $("#past-transactions").show();
        $("#more-transactions").hide();
        $("#one-transaction").show();
        break;
      case "many":
        $("#one-transaction").hide();
        $("#past-transactions").show();
        $("#card-hidden").hide();
        $("#more-transactions").show();
        $("#sixmonth-message").show();
        break;
      default:
        break;
    }
  }

</script>

</html>