<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Income &amp; assets | Life insurance</title>
  <%- include(partials+"components/layout/head") %>
  <script src="/docs/js/income-assets-profile.js"></script>
</head>

<body class="uikit-body uikit-grid uikit-refactor" >
  
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
   
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">

      <h1 class="margin-above--none ss-align--center"><span class="heading">Life insurance</span></h1>
    </div>
    <section>
      <div class="container margin-above margin-below--extra">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 margin-below--large">
            <!-- User list and category messaging -->
            <div id="user-list">
              <hr class="margin-below--none">
              <h2 class="margin-above--none heading-width">
                <span class="fal fa-list-alt fa-icons"></span><span class="partner-label">My</span> life insurance
              </h2>
              <div id="add-anchor-link-return" class="cursor-pointer-right" onClick="showNewCard('life-insurance');">
                <p style="margin-top: 10px;">
                  <span class="fal fa-plus-circle fa-icons"></span>Add life insurance
                </p>
              </div>
            </div>
            <div id="add-anchor-link-start" class="cursor-pointer" onClick="showNewCard('life-insurance');" hidden>
                  <p class="margin-above--extra margin-below--extra ss-align--center">
                    <span class="fal fa-plus-circle fa-icons"></span>Add life insurance
                  </p>
                </div>
            <!-- Cards -->
            <%- include("life-insurance-update") %>
            <%- include(partials+"content/income-assets/income-assets--life-insurance") %>

            <div id="main-pagination" class="pagination" style="position: relative;">
                <button id="continue" class="uikit-btn btnNext" onClick="goBack()">Back to list</button>
            </div>

          </div>
        </div>
    </section>
  </main>

  <%- include(partials+"components/layout/footer") %>
  <%- include("category-page-ss") %>


</body>

</html>

<script>

  function stateSwitcher() {
    switch (pageState) {
      case "emptylist":
        showEmptyState();
        break;
      case "populatedlist":
       showPopState();
        break;
      default:
        break;
    }
  }

  // var exit = true;
  function goBack() {
    // exit = true;
    localStorage.setItem("coc-state", "update1");
    window.location.href = 'start.ejs';
  }

</script>


