<%- include(templates+"header", {
  title: "Bank accounts",
  heading: "Bank accounts"
})%>
</div>

<div class="container container--8-column">


  <div id="user-list" class="box-list__header">
    <h2 class="box-list__heading">
      <span class="fal fa-list-alt fa-icons"></span><span class="partner-label">My</span> money loaned
    </h2>
    <div id="add-anchor-link-return" class="box-list__add" onClick="showNewCard('money-loaned');">
      <span class="fal fa-plus-circle fa-icons"></span>Add money loaned
    </div>
  </div>
  <div id="add-anchor-link-start" class="cursor-pointer" onClick="showNewCard('money-loaned');" hidden>
    <p class="margin-above--extra margin-below--extra ss-align--center">
      <span class="fal fa-plus-circle fa-icons"></span>Add money loaned
    </p>
  </div>
  <!-- Cards -->
  <%- include("money-loaned-update") %>
  <%- include(partials+"content/income-assets/income-assets--money-loaned") %>

  <div id="main-pagination" class="pagination" style="position: relative;">
    <button id="continue" class="uikit-btn btnNext" onClick="goBack()">Back to list</button>
  </div>
</div>
<%- include(partials+"components/layout/footer") %>
<%- include("category-page-ss") %>

<script src="/docs/js/income-assets-profile.js"></script>
</body>

</html>

<script>

  function stateSwitcher() {
    switch (pageState) {
      case "emptylist":
        showEmptyState();
        break;
      case "populatedlist":
        showPopState();
        break;
      default:
        break;
    }
  }

  function goBack() {
    localStorage.setItem("coc-state", "update1");
    window.location.href = 'start.ejs';
  }

  function addNotReady() {
    alert("Refer to production")
  }

</script>