<%- include(templates+"header", {
  claim: "Profile - income &amp; assets",
  heading: "Review and submit"
}) %>

<style>
  .box-updated {
    background-color: #1F5993;
    border-radius: 0px;
    display: inline-block;
    vertical-align: 2px;
    margin-left: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0 3px 0 3px;
    float: right;

  }

  .box-updated1 {
    float: right;
    /* letter-spacing: 1px; */
    /* font-size: 12px; */

  }


  .rev-sub__sub-header {
    background-color: #1F5993;
    background-color: rgb(0, 0, 0, .6);
    color: #FFFFFF;
  }

  .rev-sub__sub-header:nth-last-child(1) {
    background-color: red;
    color: #FFFFFF;
  }



  .greyed {
    opacity: .6;
  }
</style>

<%- include(components+"review-submit", {
    claim_title: "Income and assets update",
    categories: [
      {
        title: "<span class='partner-label'>My</span> bank accounts",
        edit_url: "/auth/profile/income-assets/bank-accounts",
        data: [
        "Bank account<div class='box-updated1'>EDITED</div>",
        {
            q: "<span class='greyed'>Account type</span>",
            a: "<span class='greyed'>Savings account</span>"
          },
          {
            q: "<span class='greyed'>Account owner</span>",
            a: "<span class='greyed'>Myself</span>"
          },
          {
            q: "<span class='greyed'>Name of financial institution</span>",
            a: "<span class='greyed'>NAB</span>"
          },
          {
            q: "Current balance",
            a: "$478.88"
          },
          {
            q: "Account owner",
            a: "Jointly with any other party"
          },
          {
            q: "% Owned",
            a: "32.5%"
          },
          {
            q: "Date of change (dd / mm / yyyy)",
            a: "21/03/2020"
          },
          "Bank account<div class='box-updated1'>ADDED</div>",
          {
              q: "Account type",
              a: "Church/charity account"
            },
            {
              q: "Account owner",
              a: "Myself"
            },
            {
              q: "Name of church/charity account",
              a: "Friends indeed"
            },
            {
              q: "Church/charity account or reference number",
              a: "C33567"
            },
            {
              q: "Current balance",
              a: "$24.355.43"
            },
            ,
          "Bank account<div class='box-updated1'>DELETED</div>",
          {
              q: "Account type",
              a: "Overseas savings account"
            },
            {
              q: "Account owner",
              a: "Myself"
            },
            {
              q: "Name of overseas bank",
              a: "Barclays"
            },
            {
              q: "Current balance",
              a: "$65,000.88"
            }
      ]
      }
    ]
  }) %>



<%- include(forms+"pagination", {
    customClass: "margin-above--extra",
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/cshc/prog-04"
      },
      {
        text: "Cancel claim",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Submit claim",
        link: "submitted",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>
<%- include("review-ss") %>