<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Financial details | Savings</title>
  <%- include(partials+"components/layout/head") %>
  <script src="/docs/js/income-assets-profile.js"></script>
</head>

<style>
  .updated {
    border-radius: 0px;
    background-color: #2B7DCE;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 0 5px 0 5px;
    text-transform: capitalize;
    display: none;
  }
  .deleted {
    border-radius: 0px;
    background-color: red;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 0 5px 0 5px;
    text-transform: capitalize;
  }

  .tint {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .5;
  }
</style>


<body class="uikit-body uikit-grid uikit-refactor">
  
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
   
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <h1 class="margin-above--none ss-align--center"><span class="heading">Shares</span></h1>
    </div>
    <section>
      <div class="container margin-above margin-below--extra">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 margin-below--large">
            <!-- User list and category messaging -->
            <div id="user-list">
              <hr class="margin-below--none">
              <h2 class="margin-above--none heading-width">
                <span class="fal fa-list-alt fa-icons"></span><span class="partner-label">My</span> shares
              </h2>
              <div id="add-anchor-link-return" class="cursor-pointer-right" onClick="showNewCard('shares');">
                <p style="margin-top: 10px;">
                  <span class="fal fa-plus-circle fa-icons"></span>Add shares
                </p>
              </div>
            </div>
            <div id="add-anchor-link-start" class="cursor-pointer" onClick="showNewCard('shares');" hidden>
                  <p class="margin-above--extra margin-below--extra ss-align--center">
                    <span class="fal fa-plus-circle fa-icons"></span>Add shares
                  </p>
                </div>
            <!-- Cards -->

            <%- include("income-assets--shares-listed-update") %>
            <%- include("income-assets--shares-unlisted-update") %>
            <%- include(partials+"content/income-assets/income-assets--shares") %>

            <div id="main-pagination" class="pagination" style="position: relative;">
                <button id="continue" class="uikit-btn btnNext" onClick="goBack()">Back to list</button>
            </div>

          </div>
        </div>
    </section>
  </main>

  <%- include(partials+"components/layout/footer") %>
  <%- include("shares-ss") %>

</body>

</html>

<script>

  function stateSwitcher() {

    switch (pageState) {
      case "emptylist":
        $("#shares-listed-update-summary").hide();
        $("#shares-unlisted-update-summary").hide();
        $("#add-anchor-link-start").show();
        $("#add-anchor-link-return").hide();
        break;
      case "populatedlist":
      $("#shares-listed-update-summary").show();
        $("#shares-unlisted-update-summary").show();
      $("#add-anchor-link-start").hide();
        $("#add-anchor-link-return").show();
        break;
      default:
        break;
    }

  }

  function goBack() {
      if ($("#shares-summary").is(":visible")) localStorage.setItem("coc-state", "update1");
      // if ($("#shares-update-summary").is(":visible") && $("#shares-update-new-summary").is(":visible")) localStorage.setItem("coc-state", "update2");
      window.location.href = 'start.ejs';
    }

</script>


