<%- include(templates+"header", {
  claim: "Profile", 
  heading: "Income and assets"
}) %>

<h2 class="font-weight-bold">Manage your income and assets</h2>

<p>Add, edit or delete income and assets as required. When you are ready, submit your changes.</p>

<div class="box-info" hidden>
  <h3>Updates not submitted</h3>
  <p class="message">Submit your changes after completing all of your updates.</p>
  <hr>
  <p class="legend"><i class="flag-icon-header fa fa-flag "></i>Your updated items</p>
</div>

<hr class="box-list-top">

<div class="box-list clearfix">
  <h3 class="font-weight-bold">Declared income and assets</h3>
  <div>
    <div class="listbox">
      <ul>
        <li>
          <a href="/auth/profile/income-assets/bank-accounts">Bank accounts</a>&nbsp;&rsaquo;<i
            class="edited1 flag-icon fa fa-flag fa-xs" style="display: none;"></i><i
            class="designDone flag-icon fa fa-check fa-xs" style="display: none;"></i>
        </li>
        <li>
          <a href="/auth/profile/income-assets/gifts">Gifts</a>&nbsp;&rsaquo;<i class="flag-icon fa fa-flag fa-xs"
            style="display: none;"></i><i class="designDone flag-icon fa fa-check fa-xs" style="display: none;"></i>
        </li>
        <li>
          <a href="/auth/profile/income-assets/managed-investments">Managed investments</a>&nbsp;&rsaquo;<i
            class="flag-icon fa fa-flag fa-xs" style="display: none;"></i><i
            class="designDone flag-icon fa fa-check fa-xs" style="display: none;"></i>
        </li>
        <li>
          <a href="/auth/profile/income-assets/money-loaned">Money loaned</a>&nbsp;&rsaquo;<i
            class="flag-icon fa fa-flag fa-xs" style="display: none;"></i>
          <i class="designDone flag-icon fa fa-check fa-xs" style="display: none;"></i>
        </li>
      </ul>
    </div>
    <div class="listbox">
      <ul>
        <li><a>Real estate</a>&nbsp;&rsaquo;</li>
        <li><a href="/auth/profile/income-assets/shares">Shares</a>&nbsp;&rsaquo;<i class="flag-icon fa fa-flag fa-xs"
            style="display: none;"></i><i class="designDone flag-icon fa fa-check fa-xs" style="display: none;"></i>
        </li>
        <li>
          <a href="/auth/profile/income-assets/vehicles">Vehicles</a>&nbsp;&rsaquo;<i class="flag-icon fa fa-flag fa-xs"
            style="display: none;"></i><i class="designDone flag-icon fa fa-check fa-xs" style="display: none;"></i>
        </li>
      </ul>
    </div>
  </div>
</div>

<hr class="box-list-divider">

<div class="box-list clearfix">
  <h3 class="font-weight-bold">Not currently declared</h3>
  <div>
    <div class="listbox">
      <ul>
        <li><a>Boarders and lodgers</a>&nbsp;&rsaquo;</li>
        <li>
          <a href="/auth/profile/income-assets/bonds-and-debentures">Bonds &amp; debentures</a>&nbsp;&rsaquo;<i class="flag-icon fa fa-flag fa-xs"
            style="display: none;"></i><i class="designDone flag-icon fa fa-check fa-xs" style="display: none;"></i>
        </li>
        <li><a>Businesses</a>&nbsp;&rsaquo;</li>
        <li>
          <a href="/auth/profile/income-assets/cash-held">Cash held</a>&nbsp;&rsaquo;<i
            class="flag-icon fa fa-flag fa-xs" style="display: none;"></i><i
            class="designDone flag-icon fa fa-check fa-xs" style="display: none;"></i>
        </li>
        <li><a>Compensation and damages</a>&nbsp;&rsaquo;</li>
        <li><a>Employment income</a>&nbsp;&rsaquo;</li>
        <li><a>Farms</a>&nbsp;&rsaquo;</li>
        <li><a>Foreign pension</a>&nbsp;&rsaquo;</li>
        <li><a>Home contents</a>&rsaquo;</li>
        <li><a>Life insurance</a>&nbsp;&rsaquo;</li>

      </ul>
    </div>
    <div class="listbox">
      <ul>
        <li><a>Maintenance paid to a former partner</a>&nbsp;&rsaquo;</li>
        <li><a>Other financial investments</a>&nbsp;&rsaquo;</li>
        <li><a>Other payments</a>&nbsp;&rsaquo;</li>
        <li><a>Other personal assets</a>&nbsp;&rsaquo;</li>
        <li><a>Past employment</a>&nbsp;&rsaquo;</li>
        <li><a>Purchased income streams</a>&nbsp;&rsaquo;</li>
        <li><a>SMSFs & SAFs</a>&nbsp;&rsaquo;</li>
        <li><a>Superannuation</a>&rsaquo;</li>
        <li><a>Superannuation pension and payments</a>&nbsp;&rsaquo;</li>
      </ul>
    </div>
  </div>
</div>

<%- include(forms+"pagination", {
  pagination: [
  {
    text: "Delete transaction",
    link: "#open-coc-ai-delete-modal"
  },
   /* {
      text: "Save and exit",
      link: "/auth/profile/income-assets/",
      modifiers: ["floated","disabled"],
      id: "save-exit"
    }, */
    {
      text: "Submit",
      link: "/auth/profile/income-assets/documents",
      modifiers: ["floated", "primary","disabled"],
      id: "submit"
    }
  ],
  customClass: ["margin-above--extra"]
}) %>

<%- include(templates+"footer") %>
<%- include(partials+"content/modals/coc-ia-delete-modal") %>
<%- include("state-switcher-01") %>

<script>

  function stateSwitcher() {

    $(".flag").hide();
    $(".box-info").hide();
    $(".edited1").hide();
    $(".added1").hide();

    switch (pageState) {
      case "default":
        $(".tophr").show();
        $(".declared").show();
        $("#save-exit").attr('disabled', 'disabled');
        $("#submit").attr('disabled', 'disabled');
        localStorage.setItem("coc-state", "default");
        break;
      case "update1":
        $(".edited1").show();
        $(".box-info").show();
        $("#save-exit").removeAttr('disabled');
        $("#submit").removeAttr('disabled');
        localStorage.setItem("coc-state", "update1");
        break;
      case "update2":
        $(".edited1").show();
        $(".added1").show();
        $(".box-info").show();
        $("#save-exit").removeAttr('disabled');
        $("#submit").removeAttr('disabled');
        localStorage.setItem("coc-state", "update2");
        break;
      default:
        break;
    }

  }
</script>