<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>MyService</title>
  <%- include(partials+"components/layout/head") %>

  <!-- <link rel="stylesheet" type="text/css" href="coc-proto-only.css"> -->

</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>


  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>

  <main>
    <section>
      <div class="container margin-above margin-below--extra">
        <section>
          <div class="back-button">
            <a href="/auth"><i class="fal fa-arrow-left fa-fw"></i>Back to home</a>
          </div>
          <h1 class="margin-above--none margin-below--mid">Claim reimbursements</h1>

          <p>Claim for the reimbursement of medical and travel expenses. You may be required to upload receipts as
            evidence. You can track the progress of your submitted claims below. </p>

          <div class="menu__item" id="claim-type">
            <button class="uikit-btn uikit-btn--primary">New claim <i
                class="far fa-chevron-down dropdown__icon rotate"></i></button>
            <div class="dropdown"><a href="#" class="menu__item-link ">
              </a>
              <div class="dropdown-content" style="width: 250px;"><a href="#" class="menu__item-link"></a>
                <a href="/auth/reimbursements/travel-list">Claim for travel expenses</a>
                <a href="/auth/reimbursements/medical-list">Claim for medical expenses</a>
              </div>
            </div>
          </div>

          <hr>
          <%- include(partials+"components/form-partials/notice", {
            message: "Your reimbursement claim has been submitted successfully.",
            type: "success",
            id: ["success"],
            modifiers: ["hidden"],
            customClass: ["margin-below--none"]
          }); %>
          <h2 class="font-weight--heavy margin-below--small">Submitted claims</h2>
          <table class="mys-table1">
            <thead>
              <tr>
                <th>Claim status</th>
                <th>Date submitted</th>
                <th>Claim type</th>
                <th>Total claimed</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr id="blank">
                <td colspan="5" class="placeholder">You currently have no submitted claims.</td>
              </tr>
              <tr id="medical-1" hidden>
                <td data-title="Claim status">Submitted</td>
                <td data-title="Date submitted">12 Aug 2019</td>
                <td data-title="Claim type">Medical</td>
                <td data-title="Total claimed">$123.45</td>
                <td data-title="Actions"><button class="view-medical uikit-btn uikit-btn--borderless margin-right--none">View</button></td>
              </tr>
              <tr id="travel-1" hidden>
                <td data-title="Claim status">Submitted</td>
                <td data-title="Date submitted">12 Aug 2019</td>
                <td data-title="Claim type">Travel</td>
                <td data-title="Total claimed">$42.00 + 268 kms</td>
                <td data-title="Actions"><button class="view-travel uikit-btn uikit-btn--borderless margin-right--none">View</button></td>
              </tr>
            </tbody>
          </table>

        </section>
      </div>
    </section>
  </main>
  
  <%- include(partials+"components/layout/footer") %>
  <%- include("index-ss") %>

</body>
<script>

  $("#claim-type").click(function () {
    $("#claim-type").toggleClass("dropdown--open");
    $(".dropdown__icon").toggleClass("down");
  });

  function stateSwitcher() {
    $("#blank").hide();
    $("#medical-1").hide();
    $("#travel-1").hide();
    switch (pastTransactions) {
      case "none":
        $("#blank").show();
        break;
      case "medical":
        $("#medical-1").show();
        break;
      case "travel":
        $("#travel-1").show();
        break;
      case "both":
        $("#medical-1").show();
        $("#travel-1").show();
        break;
      default:
        break;
    }
  }

  $.urlParam = function (name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)')
      .exec(window.location.href);
    if (results == null) {
      return 0;
    }
    return results[1] || 0;
  }
  var toast = $.urlParam('toast');
  switch (toast) {
    case "medical-added":
      pastTransactions = "medical";
      stateSwitcher();
      $("#success-container").show()
      break;
    case "travel-added":
      pastTransactions = "travel";
      stateSwitcher();
      $("#success-container").show()
      break;
    default:
      break;
  }

  $("#travel-1, .edit-travel").click(function(){
   window.location = "/auth/reimbursements/travel-list";
 });

  $("#medical-1, .edit-medical").on("click", function () {
      window.location.href = "/auth/reimbursements/medical-list";
    })

</script>

</html>