<%- include(templates+"header", {
  heading: "Travel expense",
  claim: "Travel expense"
}) %>

<!-- <div class="uikit-page-alerts uikit-page-alerts--notice margin-above--none" id="first-expense" role="alert" style="display: block;" hidden="">

  <p class="margin-below--mid">Would you like to use the provider and appointment details from your previous expense?</p>

  <button id="use-previous" class="uikit-btn uikit-btn--tertiary small margin-below--extra">Use previous details</button>

</div> -->

<div id="first-expense" role="alert" style="background-color: #e7eef6; display: block; padding: 15px; border: 1px solid rgba(0,0,0,0.1)" hidden="">

  <p class="margin-below--mid">Would you like to use the provider and appointment details from your previous expense?</p>

  <button id="use-previous" class="uikit-btn uikit-btn--tertiary small">Use previous details</button>

</div>

<div id="going-to" class="margin-above--large">
  <h2 class="mys h2 margin-below--mid">Provider details</h2>
  <%- include(partials+"components/form-partials/dropdown", {
  label: "Select provider or hospital",
  id: "provider",
  options: [
      {
        text: "-- Select an option --"
      },
      { 
        text: "Doctor Karl Practice 1245 Dax Crossing Apt. Melrose place, NSW 2897"
      },
      {
        text: "Capital Hospital / Dr Jane Smith 1245 Dax Crossing Apt. Melrose place, NSW 2897"
      },
      {
        text: "Dr Al Appleton, 334 Heathcliff Rd, Melrose place, NSW 2045"
      },
      {
        text: "Dr Geneview Shey, Mapletree Practice, L2 145 Trent St, Salsbury NSW 2034"
      },
      {
        text: "<strong>New provider</strong>"
      }
    ]
  }); %>
</div>

<div id="provider-details" hidden>
  <%- include(partials+"components/form-partials/text", {
    label: "Practice/Doctor's name"
  }); %>
  <%- include(partials+"components/form-partials/text", {
    label: "Phone number",
    hint: "text"
  }); %>
  <%- include(partials+"components/form-partials/text", {
    label: "Address line 1",
    modifiers: ["inputFullLength"]
  }); %>
  <%- include(partials+"components/form-partials/text", {
    label: "Address line 2",
    hint: "(optional)",
    modifiers: ["inputFullLength"]
  }); %>
  <%- include(partials+"components/form-partials/text", {
    label: "Suburb or town",
    modifiers: ["inputFullLength"]
  }); %>
  <%- include(partials+"components/form-partials/text", {
    label: "Postcode"
  }); %>
  <%- include(forms+"dropdown", {
    label: "State or territory",
    options: [
      "-- Select state or territory --",
      {
        text: "Australian Capital Territory",
        value: "act"
      },
      {
        text: "New South Wales",
        value: "nsw"
      },
      {
        text: "Northern Territory",
        value: "nt"
      },
      {
        text: "Queensland",
        value: "qld"
      },
      {
        text: "South Australia",
        value: "sa"
      },
      {
        text: "Tasmania",
        value: "tas"
      },
      {
        text: "Victoria",
        value: "vic"
      },
      {
        text: "Western Australia",
        value: "wa"
      }
    ]
  }) %>
</div>

<div>
  <h2 class="mys h2 margin-below--mid">Appointment details</h2>
  <%- include(partials+"components/form-partials/date-picker", {
    label: "Appointment date",
    id: "date"
  }); %>
  <%- include(partials+"components/form-partials/time-picker", {
    label: "Appointment time",
    id: "time"
  }); %>

  <%- include(partials+"components/form-partials/dropdown", {
    label: "Primary condition",
    id: "condition",
    options: [
      "-- Select condition --",
      "Lumbar spondylosis",
      "Osteoarthritis",
      "Ankle sprain",
      "Lumbar strain",
      "Other"
    ],
    modifiers: [ "hintNewLine"]
  }); %>

  <%- include(partials+"components/form-partials/dropdown", {
    label: "Purpose of trip",
    id: "purpose",
    options: [
      "--Select type--",
      "Treatment",
      "Hospital admission",
      "Disability claim",
      "To obtain medical evidence for the Veterans' Review board",
      "To obtain medical evidence for the Specialist Medical Review Council",
      "To attend a hearing at the Veterans Review Board",
      "To attend before the Administrative Appeals Tribunal"
    ]
  }); %>

</div>

<div>
  <h2 class="mys h2 margin-below--mid">Cost details</h2>

  <%- include(partials+"components/form-partials/dropdown", {
    label: "Cost type",
options: [
  "--Select type--",
  "Private vehicle",
  "Public transport",
  "Taxi and rideshare",
  "Community transport",
  "Air",
  "Road tolls",
  "Parking fees",
  "Accommodation"
],
id: "cost-type"
}); %>

  <%- include(partials+"components/form-partials/text", {
label: "Kilometres travelled:",
id: "kms",
afterText: "kms",
modifiers: ["hidden", "inputShort" ]
}); %>

  <%- include(partials+"components/form-partials/notice", {
  message: "Road tolls are not reimbursed for MRCA/DRCA conditions.",
  type: "notice",
  id: ["tolls-message"],
  modifiers: ["hidden"],
  customClass: ["margin-above--none"]
}); %>

  <%- include(partials+"components/form-partials/text", {
    label: "Amount",
id: "dollars",
modifiers: ["hidden","dollarSign", "inputShort"]
}); %>

  <%- include(partials+"components/form-partials/yes_no", {
label: "Did DVA arrange/pay for this travel?",
hint: "For example: booked car with driver, air travel or ambulance.",
modifiers: ["hintNewLine", "hidden"],
id: "bcwd"
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Did you travel with a medically required attendant?",
  id: "attendant",
  modifiers: ["hidden"]
  }); %>

</div>

<div id="accommodation-questions" hidden>

  <%- include(partials+"components/form-partials/dropdown", {
label: "Type of accommodation:",
options: [
  "--Select type--",
  "Commercial",
  "Private",
  "Subsidised"
],
id: "accommodation"
}); %>

  <%- include(partials+"components/form-partials/text", {
label: "Length of stay",
id: "accomm-nights",
afterText: "nights",
modifiers: ["inputShort"]
}); %>

  <%- include(partials+"components/form-partials/text", {
label: "Total amount paid",
id: "total-accomm",
modifiers: ["dollarSign","inputShort"]
}); %>

  <%- include(partials+"components/form-partials/yes_no", {
label: "Did you travel with a medically required attendant?",
yes_toggle: "#attendant-container"
}); %>

  <%- include(partials+"components/form-partials/yes_no", {
label: "Did you pay for a separate room when travelling with your medically required attendant?",
id: "attendant",
modifiers: ["hidden"]
}); %>

</div>

<div id="evidence" class="margin-below--extra" hidden>
  <h2 class="mys h2">Supporting evidence</h2>
  <p>Attach a tax invoice or other evidence of the expense. You will need to retain evidence until your claim is
    approved.</p>
  <div class="pt-upload-other-docs">
    <div class="form-group">
      <table class="table-responsive file-upload-default">
        <tr id="trData1" class="file-upload-default__row">
          <td>
            <span class="file-upload-default__document">
              <span class="fal fa-file-upload fa-2x"></span>&nbsp;&nbsp;Document <a
                class="file-upload-default__file-name"></a>
            </span>
          </td>
          <td class="right">
            <div>
              <input type="file" class="file-upload-default__input" id="file-0">
              <label class="file-upload-default__label" for="file-0">

                <span id="document-type-button" class="file-upload-default__button">
                  <span class="uikit-btn small">Upload</span>
                </span>
              </label>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      id: "reset-form",
      link: "/auth/reimbursements/travel-list"
    },
    {
      text: "Add expense",
      link: "/auth/reimbursements/travel-list?expenses=one",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(templates+"footer") %>
<%- include("travel-expense-ss") %>

<script>

  function stateSwitcher() {
    updateLayout();
  }

  function updateLayout() {
    var mySelection = $("#cost-type").find("option:selected").text().trim();
    $("#dollars-container").hide();
    $("#kms-container").hide();
    $("#accommodation-questions").hide();
    $("#evidence").hide();
    $("#bcwd-container").hide();
    $("#tolls-message-container").hide();
    $("#attendant-container").hide();
    switch (mySelection) {
      case "Private vehicle":
        $("#kms-container").show();
        break;
      case "Public transport":
        $("#dollars-container").show();
        if (act != 'vea') $("#evidence").show();
        break;
      case "Taxi and rideshare":
        $("#dollars-container").show();
        $("#bcwd-container").show();
        $("#attendant-container").show();
        if (act != 'vea') $("#evidence").show();
        break;
      case "Community transport":
        $("#dollars-container").show();
        if (act != 'vea') $("#evidence").show();
        break;
      case "Air":
        $("#dollars-container").show();
        $("#bcwd-container").show();
        $("#attendant-container").show();
        if (act != 'vea') $("#evidence").show();
        break;
      case "Road tolls":
        if (act == "mrcadrca") {
          $("#tolls-message-container").show();
          $("#dollars-container").hide();
        } else {
          $("#dollars-container").show();
        }
        break;
      case "Parking fees":
        $("#dollars-container").show();
        if (act != 'vea') $("#evidence").show();
        break;
      case "Accommodation":
        $("#accommodation-questions").show("fast");
        console.log ( act );
        if (act != 'vea') {
          $("#total-accomm-container").show();
          $("#evidence").show();
        } else {
          $("#total-accomm-container").hide();
        }
        break;
      default:
        break;
    }
  }

  $("#use-previous").on("click", function () {
    usePrevious();
  })

  function usePrevious(){
    $('.date-picker').val( "2020-08-26" );
    $('.time-selector--hours').val( "2" );
    $('.time-selector--minutes').val( "45" );
    $('.time-selector--ampm').val( "pm" );
    $('#provider>option:eq(3)').prop('selected', true);
    $('#condition').val('osteoarthritis').trigger('change');
    $('#purpose').val('treatment').trigger('change');

  }

  $(document).ready(function () {
    $('#provider').on('change', function () {
      var mySelect = $("#provider option:selected").text().trim();
      if (mySelect == "New provider") {
        $("#provider-details").show();
      } else {
        $("#provider-details").hide()
      }
    });
    $('#cost-type').change(function () {
      updateLayout();
    });
    $('#accommodation').change(function () {
      var mySelection = $(this).find("option:selected").text().trim();
      console.log( mySelection )
      switch (mySelection) {
        case "Commercial":
          $("#accommodation-questions").show();
          break;
        default:
          break;
      }
    });

  });
</script>