<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <title>
    <% if (typeof title !== "undefined") { %>
      <%- title %>
    <% } else if (typeof heading !== "undefined" && typeof claim !== "undefined") { %>
      <%- claim %> | <%- heading %>
    <% } else { %>
      NO TITLE
    <% } %>
  </title>
  <%- include(partials+"components/layout/head") %>
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <% if (typeof type === "undefined" || type === "claim") { %>
      <%- include(partials+"components/layout/header-claims") %>
    <% } else if (type === "default") { %>
      <%- include(partials+"components/layout/header-authenticated") %>
    <% } %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main id="main-content" class="<%- typeof modifiers !== "undefined" && modifiers.includes("bg-gray") ? "section-feature" : "" %>">
    <% if (typeof type === "undefined" || type === "claim") { %>
      <% if (typeof heading !== "undefined") { %>
        <div class="page-heading <%- typeof modifiers !== "undefined" && modifiers.includes("margin-below--none") ? "margin-below--none" : "margin-below--extra" %>">
          <% if (typeof progress !== "undefined") { %>
            <div class="container">
              <%- include(components+"form-partials/progress-advanced", progress) %>
            </div>
          <% } %>
          <h1 class="orange-underline"><%- typeof heading !== "undefined" ? heading : "" %></h1>
        </div>
      <% } %>
    <% } %>
    <div class="container container--8-column">