<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <title>

    <% if (typeof title !== "undefined") { %>
      <%- title %> | MyService
    <% } else if (typeof claim !== "undefined" && !(typeof modifiers !== "undefined" && modifiers.includes("noClaimInTitle"))) { %>
      <%- claim %> | MyService
    <% } else if (typeof heading !== "undefined" && (typeof modifiers !== "undefined" && modifiers.includes("noClaimInTitle"))) { %>
      <%- heading %> | MyService
    <% } else { %>
      NO TITLE
    <% } %>
  </title>
  <%- include(partials+"components/layout/head") %>
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>

  <% if (typeof type === "undefined" || type === "default") { %>
      <%- include(partials+"components/layout/header-authenticated") %>
  <% } else if (type === "claim") { %>
      <%- include(partials+"components/layout/header-claims") %>
  <% } %>

  <%- include(partials+"components/layout/header-nom-rep") %>

  <main id="main-content" class="<%- typeof modifiers !== "undefined" && modifiers.includes("bg-gray") ? "section-feature" : "" %>">
    <% if (typeof heading !== "undefined" && !(typeof modifiers !== "undefined" && modifiers.includes("noHeading"))) { %>
      <div class="container container--10-column">
        <div class="col-md-12">
          <h1 class="margin-below--mid margin-above--none">
            <span class="heading"><%- heading %></span>
          </h1>
        </div>
      </div>
    <% } %>
    <div class="<%- typeof modifiers !== "undefined" && modifiers.includes("noPagination") ? "" : "padding-below--extra" %> container container--10-column ">