<%
locals.el = {};
locals.el.items = ["Home", "Tasks","Claims","Payments","Cards","Transport","Profile","My Account"];
locals.el.itemID = ["home","tasks","claim","payments","healthcard","travel","profile","myaccount"];
locals.el.itemLink = ["/auth", "/auth/tasks", "/auth/claim","/auth/payments","/auth/healthcard","/auth/travel","/auth/profile","#open-myaccount-modal"];
locals.el.icons = ["fa-home","fa-tasks","fa-list-alt","fa-calendar-check","fa-credit-card-blank","fa-car-alt","fa-user-circle","fa-exchange"];
locals.el.taskAmount = 3;

<header class="uikit-header">
  <div class="container">
    <a id="mys-logo" data-long-press-delay="2000" class="nounderline" href="/auth">
      <img class="logo-myservice" src="/docs/images/logo-myservice.svg" alt="Auth link - MyService beta - logo" />
    </a>
    <button class="toggle" aria-expanded="false">Menu</button>
    <!--  -->
    <ul class="menu">
      <% locals.el.items.forEach(function(element, index) {
          var itemID = locals.el.itemID[index];
          var itemLink = locals.el.itemLink[index];
          var link = '<a href="' + itemLink + '" class="';
          var external = '';

          if (!!locals.main_nav_active && locals.main_nav_active === itemID) { 
            link += 'menu__item-link nav-active'; 
          } else {
            link += 'menu__item-link'; 
          }
          if (itemID === 'myaccount') { 
            external = 'menu__item--external'; 
          }
          link += '">';
          %>

      <li class="menu__item <%- external %>" id=<%- itemID %>>
        <%- link %>
          <div class="fal <%= locals.el.icons[index] %> fa-2x fa-fw"></div>
          <% if(itemID == "tasks"){ %>
            <div class="tasks-badge"><%= locals.el.taskAmount%></div>
          <% } %>
          <div class="menu__item-name"><%= element %></div>
        </a>
      </li>
      <%});%>
    </ul>
  </div>
</header>
