<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-authenticated-no-card") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <section>
      <div class="section-feature section-feature--bg margin-above--none" id="main-content">
        <div class="container margin-below--extra">
          <div class="row">
            <div class="col-md-12">
              <h1 class="margin-below--mid">
                <span class="heading">Veteran card</span>
              </h1>
              <div class="tip--wrapper tip-warning tip--white">
                <p>Our records show you do not have a Veteran card.
                  <br>You can request a Veteran Card as part of Veteran Covenant here.</p>
              </div>
              <button class="uikit-btn uikit-btn--primary">Request Covenant</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include(partials+"footer") %>
</body>

</html>