<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Veteran Card | MyService</title>
  <%- include(partials+"head") %>
    <style>
      #templates {
        display: none;
      }

      #state-switcher {
        background-color: white;
        padding: 20px;
        border: 1px solid grey;
        width: 300px;
        height: 200px;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 100;
        border-radius: 5px;
        box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, .2);
        display: none;
      }
    </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
    <%- include(partials+"header-nom-rep") %>
      <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
          <div class="container margin-above--none">
            <h1 class="margin-above--none ss-align--center">
              <span class="heading">Veteran supplement payment</span>
            </h1>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
              <div class="margin-above--extra margin-below--extra">
                <div id="bank-details-text-add">
                  <h2><strong>You may be entitled to the Veteran supplement payment</strong></h2>
                  <p>If you choose to provide your bank details, we will check if you are eligible for this payment. We will pay this into the account you provide below.</p>
                  <p>If eligible, you will receive a letter from us to confirm your first payment.</p>
                </div>
                <div id="btnAddBank-box" class="margin-below margin-below--extra">
                  <button id="btnAddBank" class="uikit-btn uikit-btn--tertiary">Add bank details</button> &nbsp;&nbsp;(optional)
                </div>
                <div id="bank-details-text-pre-pop">
                  <h2><strong>You may be entitled to the Veteran supplement payment</strong></h2>
                  <p>If entitled, payments will be made into the account shown below. You can update these details in your profile.</strong></p>
                </div>
                <div class="bank-details-container" style="display:none;">
                  <div class="boxed">
                    <h3 class="margin-above--none">Add bank details <span class="hint">(all fields are required)</span></h3>
                    <%- include(partials+"bank-account-details") %>
                      <div class="uikit-page-alerts uikit-page-alerts--info">
                        <p class="margin-below--mid">This will also be your nominated bank account for all DVA payments</p>
                      </div>
                      <button id="btnCancelBank" class="uikit-btn uikit-btn--tertiary small" style="display: none">Cancel</button>
                  </div>
                </div>


                <div class="review__wrapper" id="bank-account-details">
                  <div class="review__header">
                    <div class="review__header--label">
                      <h2>Your bank account details</h2>
                    </div>
                  </div>
                  <div class="review__content">
                    <div class="margin-below">
                      <div class="review__content--item row">
                        <div class="review__content--data col-xs-12 col-sm-4">Account name:</div>
                        <div class="review__content--label col-xs-12 col-sm-6">Rebecca Orange</div>
                      </div>
                      <div class="review__content--item row">
                        <div class="review__content--data col-xs-12 col-sm-4">Account number:</div>
                        <div class="review__content--label col-xs-12 col-sm-6">7123 8876 0023</div>
                      </div>
                      <div class="review__content--item row">
                        <div class="review__content--data col-xs-12 col-sm-4">BSB:</div>
                        <div class="review__content--label col-xs-12 col-sm-6">654 - 788</div>
                      </div>
                      <div class="review__content--item row">
                        <div class="review__content--data col-xs-12 col-sm-4">Financial Institution:</div>
                        <div class="review__content--label col-xs-12 col-sm-6">ANZ Bank</div>
                      </div>
                    </div>
                  </div>
                   <p>If eligible, you will receive a letter from us to confirm your first payment.</p>
                </div>
              </div>
              
              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/veterancard/veteran-card-service-history'">Previous</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
                <div class="floated">
                  <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/veterancard/veteran-card-review-submit'">Next</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="state-switcher">
          <h3>State Switcher</h3>
          <div class="form-group">
            <label class="uikit-text-input__label" for="toggle-buttons">User status:</label>
            <div class="radio-toggle">
              <label class="on label-left" for="user-status--single-account">
                <input id="user-status--single-account" type="radio" name="user-status">
                <span>Enter account details</span>
              </label>
              <label class="off label-right" for="user-status--multiple-accounts">
                <input id="user-status--multiple-accounts" type="radio" name="user-status">
                <span>Pre-pop account details</span>
              </label>
            </div>
          </div>
        </div>
        <%- include(partials+"claims-cancel-modal") %>
      </main>

      <%- include(partials+"footer") %>

        <script>
          $(Document).ready(function () {
            $("#btnNext").click(function () {
              window.location.href = "/auth/claim/veterancard/veteran-card-review-submit"
            });
            $("#btnPrev").click(function () {
              window.location.href = "/auth/claim/veterancard/veteran-card-review-submit"
            });

            // bank details button function

            $("#btnAddBank").click(function () {
              $(".bank-details-container").show("fast");
              $("#btnAddBank-box").hide();
              $("#bankoptional").hide();
              $("#btnCancelBank").show();
              $("#bank-name").focus();
            });
            $("#btnCancelBank").click(function () {
              $(".bank-details-container").hide("fast");
              $("#btnCancelBank").hide();
              $("#bankoptional").show();
              $("#btnAddBank-box").show();
            });

            $(".message-close").click(function () {
              $(".bank-details-container").hide("fast");
            });

          });


          /* State switcher */

          $("#bank-account-details").hide();
          $("#bank-details-text-pre-pop").hide();

          var userStatus = "single-account";

          if (userStatus == "single-account") {
            $("#user-status--single-account").click();
          }

          $(document).keypress(function (e) {
            switch (e.which) {
              case 96: //tilda
                $('#state-switcher').toggle();
                break;
              default:
            }
          });

          $("#user-status--single-account").click(function (e) {
            showMin();
          });
          $("#user-status--multiple-accounts").click(function (e) {
            showMax();
          });

          /* End state switcher */

          function showMax() {
            $("#bank-account-details").show();
            $("#btnAddBank-box").hide();
            $("#bank-details-text-add").hide();
            $("#bank-details-text-pre-pop").show();
          }

          function showMin() {
            $("#bank-account-details").hide();
            $("#btnAddBank-box").show();
            $("#bank-details-text-add").show();
            $("#bank-details-text-pre-pop").hide();

          }

        </script>

</body>

</html>