<%#- include(templates+"header", {
  claim: "Veteran Recognition Package"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Veteran Recognition Package | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"content/provisional-banner") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <section>
      <div class="section-feature section-feature--bg margin-above--none" id="main-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="margin-below--mid">
                <span class="heading">Health card</span>
              </h1>
              <div class="tip--wrapper tip-warning tip--white">
                <p>
                  <b>If you have a DVA Health card, your details will be available once we have processed your registration.</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p style="color: #cc0000; padding-top:30px;">

              <strong>Veteran users (with PMKeyS or Rank) in provisional state </strong> will see this tab and this message until they are fully registered in the backend will see
              this page.
              <a href="/auth/claim/healthcard-nlhc">Previous</a> |
              <a href="/auth/claim/healthcard-none">Next</a>
            </p>

            <p style="color: #9200cc;">
              <strong>Veteran users (with PMKeyS or Rank) in provisional state </strong> will see the MyAccount tab. Upon clicking <a
                href="#open-myaccount-provisionalmodal">MyAccount</a>,
              they will see this message until they are fully registered in the backend.
            </p>

          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include(partials+"components/layout/footer") %>


</body>

</html>