<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Veteran Card | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Review and submit</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="margin-above--extra margin-below--extra">
            <h2>Veteran Covenant</h2>
            <p>You have requested the items listed below:</p>
            <ul>
              <li>Covenant Oath</li>
              <li>Covenant Lapen Pin</li>
            </ul>
            <div class="uikit-page-alerts" role="alert">
              <p><strong>You already have the Veteran card; a digital version can be seen in MyService</strong></p>
              <p>Current card holders can continue to use their existing DVA Health Card. When Your current card expires you will be issued with the new Veteran Card
                automatically.</p>
            </div>
            <!-- Bank details -->
            <div class="review__wrapper">
              <div class="review__header">
                <div class="review__header--label">
                  <h2>Bank details</h2>
                </div>
              </div>
              <div class="review__content">
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Account name:</div>
                  <div class="review__content--data col-xs-12 col-sm-5">Mr <span class="pt-current-user-name-full"></span></div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Account number:</div>
                  <div class="review__content--data col-xs-12 col-sm-5">7123 8876 0023</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">BSB:</div>
                  <div class="review__content--data col-xs-12 col-sm-5">654 - 788</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Financial Institution:</div>
                  <div class="review__content--data col-xs-12 col-sm-5">ANZ Bank</div>
                </div>
                <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/claim/veterancard/veteran-card-2'">Edit</button>
              </div>
            </div>
          </div>
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/veterancard/veteran-card-review-submit'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/veterancard/veteran-card-submitted'">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include(partials+"content/modals/claims-cancel-modal") %>
  </main>

  <%- include(partials+"components/layout/footer") %>

</body>

</html>