<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Veteran Card | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">The Covenant explained</span>
        </h1>
      </div>
    </div>
    <section class="veteran-card">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="col-md-12">

              <div class="margin-above--extra">
                <h2 class="vc-heading">The Australian Defence Veterans' Covenant</h2>
                <p>The Covenant provides;</p>
                <ul>
                  <li>recognition and support for veterans and their families to better connect and intergrate into their local community after service;</li>
                  <li>Increased community awareness of defence service and sacrifice veterans and their families make in order to serve and protect our nation.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-offset-2 col-md-8">
            <hr class="margin-above--mid margin-below--mid">
            <div class="col-md-12 margin-below--large">
              <div class="col-md-4">
                <h3>Covenant Oath</h3>
                <hr class="orange-divider-covenant">
                <p>Recognising the valuable contribution that members of the Australian Defence Force (ADF) and their families make and have made for our country</p>
              </div>

              <div class="col-md-4">
                <h3>Lapel Pin</h3>
                <hr class="orange-divider-covenant">
                <p>The Lapel Pin allows the wider community to acknowledge your service regardless of whether you served in the Navy, Army or Air Force</p>
              </div>

              <div class="col-md-4">
                <h3>Veteran Card</h3>
                <hr class="orange-divider-covenant">
                <p>Use your Veteran Card to access support for service-releated conditions or injuries.</p>
                <p>Access to mental health treatment if required</p>
                <p>Discounts from businesses and organistions</p>
              </div>
            </div>
            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
              <div class="floated">
                <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/veterancard/veteran-card-service-history'">Okay, I've got it</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include(partials+"content/modals/claims-cancel-modal") %>
  </main>

  <%- include(partials+"components/layout/footer") %>
</body>

</html>