<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Veteran Card | MyService</title>
  <%- include(partials+"components/layout/head") %>
  <style>
    #templates {
      display: none;
    }

  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Veteran supplement payment</span>
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="margin-above--extra margin-below--extra">
            <% 
              locals.el = {};
              locals.el.optionalScenario = 'optional'; %>
            <%- include(partials+"content_groups/veteran_supplement", locals) %>
            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/veterancard/veteran-card-service-history'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
              <div class="floated">
                <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/veterancard/veteran-card-review-submit'">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include(partials+"content/modals/claims-cancel-modal") %>
  </main>

  <%- include(partials+"components/layout/footer") %>



  <script>
    $(Document).ready(function () {

      $("#btnNext").click(function () {
        window.location.href = "/auth/claim/veterancard/veteran-card-review-submit"
      });
      // this doesn't exist
      // $("#btnPrev").click(function () {
      //   window.location.href = "/auth/claim/veterancard/veteran-card-review-submit"
      // });

    });

  </script>

</body>

</html>
