<%- include(templates+"header", {
  claim: "Veteran Recognition Package",
  heading: "The Covenant explained"
}) %>

  <p class="margin-below--09">
    The Australian Defence Veterans’ Covenant serves to recognise and acknowledge the unique nature of military service and the contribution of veterans and their
    families. The Covenant includes the Oath, Lapel Pin and Veteran Card.
  </p>
  <p class="margin-below--09">
    <span class="margin-below--small font-weight--800">Oath – </span>
    Receive your copy of the Australia Defence Veterans' Covenant.
  </p>
  <p class="margin-below--09">
    <span class="margin-below--small font-weight--800">Lapel Pin – </span>
    Wear the pin to allow the community to recognise your service.
  </p>

  <span class="margin-below--small font-weight--800">Veteran Card – </span>
  If eligible get access to:
  <ul>
    <li>treatment for any accepted service-related conditions or injuries;</li>
    <li>DVA funded mental health treatment, if or when you need it;</li>
    <li>offers and benefits from participating businesses and organisations;</li>
    <li>the fortnightly <a class="external">Veteran Supplement</a>.</li>
  </ul>

  <p>To find out more information, see our <a target="_blank" href="https://www.dva.gov.au/benefits-and-payments/australian-defence-veterans-covenant/australian-defence-veterans-covenant" rel="external">frequently asked questions.</a></p>

  <%- include(forms+"pagination", {
    customClass: "margin-above--extra",
    pagination: [
      {
        text: "Cancel",
        link: "#claim-cancel-modal"
      },
      {
        text: "Next",
        link: "/auth/claim/veterancard/vrp2",
        modifiers: ["floated", "primary"],
        id: "btnNext"
      }
    ]
  }) %>

  <%- include("vrp-state-switcher") %>
  <%- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>

  <script type="text/javascript">
    function stateSwitcher() {
      if (sessionStorage.getItem("vrp-known-service-history") === "true") {
        $("#btnNext").attr("href", "/auth/claim/veterancard/vrp3");
      } else {
        $("#btnNext").attr("href", "/auth/claim/veterancard/vrp2");
      }
    }
  </script>