<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Veteran Recognition - Access | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">The Covenant explained</span>
        </h1>
      </div>
    </div>
    <section class="veteran-card">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="col-md-12">

              <div class="margin-above--extra">
                <p class="margin-below--09">
                  The Australian Defence Veterans’ Covenant serves to recognise and acknowledge the unique nature of military service and the contribution of veterans and their
                  families. The Covenant includes the Oath, Lapel Pin and Veteran Card.
                </p>
                <p class="margin-below--09">
                  <span class="margin-below--small font-weight--800">Oath – </span>
                  Receive your copy of the Australia Defence Veterans' Covenant.
                </p>
                <p class="margin-below--09">
                  <span class="margin-below--small font-weight--800">Lapel Pin – </span>
                  Wear the pin to allow the community to recognise your service.
                </p>

                <span class="margin-below--small font-weight--800">Veteran Card – </span>
                If eligible get access to:
                <ul>
                  <li>treatment for any accepted service-related conditions or injuries;</li>
                  <li>DVA funded mental health treatment, if or when you need it;</li>
                  <li>offers and benefits from participating businesses and organisations;</li>
                  <li>the fortnightly <a class="external">Veteran Supplement</a>.</li>
                </ul>
                <p>To find out more information, see our <a href="https://www.dva.gov.au/benefits-and-payments/australian-defence-veterans-covenant/australian-defence-veterans-covenant-2" rel="external">frequently asked questions.</a></p>
                <BR />
              </div>
            </div>
            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
              <div class="floated">
                <button class="uikit-btn" id="btnNext">Next</button>
              </div>
            </div>
          </div>

        </div>


      </div>
    </section>
    <%- include(partials+"content/modals/claims-cancel-modal") %>
  </main>

  <script type="text/javascript">
    function stateSwitcher() {
      if (sessionStorage.getItem("vrp-known-service-history") === "true") {
        $("#btnNext").attr("onclick", `window.location.href="/auth/claim/veterancard/vrp3"`);
      } else {
        $("#btnNext").attr("onclick", `window.location.href="/auth/claim/veterancard/vrp2"`);
      }
    }
  </script>

  <%- include("vrp-state-switcher") %>


  <%- include(partials+"components/layout/footer") %>
</body>

</html>
