<%- include(templates+"header", {heading: "Request Veteran Covenant", title: "Veteran Recognition"}) %>
  <h2 class="margin-below--none margin-above">Tell us about your Australian service history</h2>

  <%- include(partials+"components/form-partials/yes_no", {
    label: "Are you still serving?",
    id: "still-serving",
    yes_toggle: "#are-permanent-forces-container",
    no_toggle: "#have-permanent-forces-container"
  }) %>

  
  <form id="flow">
    <%- include(partials+"components/form-partials/yes_no", {
      label: "Have you ever been a member of the Australian Permanent Forces?",
      id: "have-permanent-forces",
      modifiers: ["hidden"],
      yes_toggle: "#can-process,#date-discharge-container",
      no_toggle: "#have-reserves-container"
    }) %>

    <%- include(partials+"components/form-partials/yes_no", {
      label: "Have you ever been a member of the Australian Reserves?",
      id: "have-reserves",
      modifiers: ["hidden"],
      no_toggle: "#cannot-process",
      yes_toggle: "#can-process,#date-discharge-container"
    }) %>

    <%- include(partials+"components/form-partials/yes_no", {
      label: "Are you a member of the Australian Permanent Forces?",
      id: "are-permanent-forces",
      modifiers: ["hidden"],
      yes_toggle: "#can-process",
      no_toggle: "#are-reserves-container"
    }) %>

    <%- include(partials+"components/form-partials/yes_no", {
      label: "Are you a member of the Australian Reserves?",
      id: "are-reserves",
      modifiers: ["hidden"],
      no_toggle: "#cannot-process",
      yes_toggle: "#can-process"
    }) %>

  </form>
    
  <div class="uikit-page-alerts uikit-page-alerts--error margin-above--large margin-below" id="cannot-process" hidden>
    <p class="margin-below--mid">Unfortunately we cannot process your claim online. Call us on 1800 555 254 to discuss your claim.</p>
  </div>

  <div id="can-process" hidden>            
    <%- include(partials+"components/form-partials/text", {
      label: "PMKeyS or Service Number"
    }) %>

    <%- include(partials+"components/form-partials/date", {
      label: "Date of enlistment",
    }) %>

    <%- include(partials+"components/form-partials/date", {
      label: "Date of discharge",
      id: "date-discharge",
      modifiers: ["hidden"]
    }) %>

    <hr>

    <h2>Upload proof of service</h2>

    <div class="uikit-page-alerts uikit-page-alerts--info margin-above margin-below">
      <p class="margin-below--mid"><strong>You will also need ot provide us with one document as proof of your Australian defence service.</strong></p>

      <p>Documents you can provide are:</p>

      <ul>
        <li>Certificate of Service</li>
        <li>Discharge signal</li>
        <li>Military payslip</li>
        <li>Service ID card</li>
        <li>Any document that identifies your previous service</li>
      </ul>

      <p>Accepted file types are pdf, jpeg or png. Maximum file size is 50MB</p>
      <p>If there are reasons that prevent you from providing proof of your service ocntact us on 1800 555 254 and we'll try to assist you.</p>
    </div>

    <h3>Uploads</h3>
    
    <div class="upload-list">
      <table class="document-uploads">
        <tbody><tr>
          <th>Document title</th>
          <th class="centred">Actions</th>
        </tr>
        <tr>
          <td>
            <a href="#">My-Serive-History.pdf (3.5 MB PDF)</a>
          </td>
          <td class="centred">
            <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-removefile-modal'">Delete</button>
          </td>
        </tr>
      </tbody></table>
      <button class="uikit-btn uikit-btn--tertiary btnUpload">Upload a document</button>
    </div>
  </div>

  <div class="uikit-page-alerts uikit-page-alerts--error margin-above--extra margin-below" id="cannot-process" hidden>
    <p class="margin-below--mid">Unfortunately we cannot process your claim online. Call us on 1800 555 254 to discuss your claim.</p>
  </div>

  <div class="pagination">
    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/veterancard/vrp1'">Previous</button>
    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
    <div class="floated">
      <button class="uikit-btn" id="btnNext" onclick="window.location.href='/auth/claim/veterancard/vrp3'">Next</button>
    </div>
  </div>

  <script type="text/javascript">
    function stateSwitcher() {

    }

    $("#still-serving-container").on("change", "input", function() {
      $("#can-process").hide();
      $("#cannot-process").hide();
      $("#have-permanent-forces-container").hide();
      $("#have-reserves-container").hide();
      $("#are-permanent-forces-container").hide();
      $("#are-reserves-container").hide();
      $("#flow").trigger("reset");

    })
  </script>

  <%- include("vrp-state-switcher") %>

<%- include(templates+"footer") %>