<%- include(templates+"header", {
  claim: "Veteran Recognition Package",
  heading: "Business & community offers"
}) %>

  <p class="margin-below">
    DVA has partnered with <a href="./apod-info-page.ejs" rel="external">APOD</a> (Australian Partners of Defence) to give Veteran Card holders
    access to business and community offers.
  </p>
  <p class="margin-below"> APOD is an Australian owned organisation founded and run by Defence families for the Defence and Veteran community. They have over
    400 registered businesses and
    up to 10,000 existing offers which you can access after registering with APOD.</p>

  <hr>
  <h4>APOD pre-registration</h4>
  <p class="margin-below--large">If you would like us to pre-register you with APOD, tick the box below. You will then receive an email to confirm your registration. You are also able to register later should you prefer.</p>

  <%- include(forms+"checkbox", {
    boxes: [
      "I consent to DVA providing my name, card details (number, colour and type), and email address to pre-register with APOD."
    ]
  }) %>

  <%- include(forms+"notice", {
    id: "sign-up-later",
    modifiers: ["hidden"],
    message: `You can register at a later date through the <a rel="external" href="https://apod.com.au">APOD website</a> to access offers.`
  }) %>

  <%- include(forms+"notice", {
    id: "what-next",
    modifiers: ["hidden"],
    message: `You will receive an email from APOD. This will include instructions on how to complete your registration to access offers and benefits.`
  }) %>

  <p id="next" hidden>Choose <strong>Next</strong> to continue.</p>


  <%- include(forms+"pagination", {
    customClass: "margin-above--extra",
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/veterancard/vrp3",
        id: "btnPrev"
      },
      {
        text: "Cancel",
        link: "#claim-cancel-modal"
      },
      {
        text: "Next",
        link: "/auth/claim/veterancard/vrp5",
        modifiers: ["floated", "primary"],
        id: "btnNext"
      }
    ]
  }) %>

  <%- include("vrp-state-switcher") %>
  <%- include(forms+"modals/claim-cancel") %>

  <script type="text/javascript">

    function stateSwitcher() {

    }

  </script>


<%- include(templates+"footer") %>