<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Veteran Recognition | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Access offers</span>
        </h1>
      </div>
    </div>
    <section class="veteran-card">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="margin-above--extra margin-below--extra">
            <h2>Connect with the Australian community by accessing offers and benefits</h2>

            <p class="margin-below--large">To do this you will need to register with the Australian Partners of Defence (APOD). We will need to supply your name and a details to APOD.</p>

            <%- include(partials+"components/form-partials/yes_no", {
              label: "Would you like us to pre-register you with APOD",
              tooltip: {
                screenreaderText: "APOD help",
                content: "APOD is an Australian owned organisation which is run and founded by Defence families. It delivers special offers and benefits for the veteran community"
              },
              id: "apod",
              no_toggle: "#sign-up-later,#next-no",
              yes_toggle: "#next-yes"
            })  %>

            <div class="uikit-page-alerts uikit-page-alerts--info margin-above margin-below" id="sign-up-later" hidden>You can register at a later date through the <a href="https://apod.com.au">APOD website</a>  to access offers.</div>

            <p id="next-no" hidden>Choose <strong>Next</strong> to continue.</p>
            <p id="next-yes" hidden>Choose <strong>Next</strong> to continue.</p>

          </div>
  
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" id="btnPrev" onclick="window.location.href = '/auth/claim/veterancard/vrp1'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn" onclick="window.location.href = '/auth/claim/veterancard/vrp5'">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <%- include(partials+"content/modals/claims-cancel-modal") %>
  </main>

  <script type="text/javascript">

    function stateSwitcher() {
      if (sessionStorage.getItem("vrp-known-service-history") === "true" && sessionStorage.getItem("vrp-bank-details") === "true") {
        $("#btnPrev").attr("onclick", `window.location.href="/auth/claim/veterancard/vrp1"`);
      } else if (sessionStorage.getItem("vrp-bank-details") === "true") {
        $("#btnPrev").attr("onclick", `window.location.href="/auth/claim/veterancard/vrp2"`);
      } else {
        $("#btnPrev").attr("onclick", `window.location.href="/auth/claim/veterancard/vrp3"`);
      }
    }
  </script>

  <%- include("vrp-state-switcher") %>

  <%- include(partials+"components/layout/footer") %>
</body>

</html>