<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim for Veteran Card submitted | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-md-12">
          <div class="claim-end">

            <div class="pt-claim-type--normal">
              <div class="margin-above ie-success-animation">
                <img src="/docs/images/ico-submitted.svg" alt="Success tick icon">
              </div>
              <div class="margin-above success-animation">
                <%- include(partials+"components/animations/submitted") %>

              </div>
              <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
                <h1>We're submitting your application for the Veteran Covenant</h1>
              </div>
            </div>
            <div class="transition-content pt-claim-animation-end margin-below--extra">
              <div class="pt-claim-type--normal">
                <h1 class="cantered-item">Your application for a Veteran Covenant has been
                  <span class="font-weight-heavy"> submitted</span>
                </h1>
                <h3 class="cantered-item">Claim ID is 552092527</h3>
              </div>
              <hr class="orange-divider">
              <div class="margin-below--extra">
                <h2 class="ss-align--center"><b>What's next?</b></h2>
                <div class="container">
                  <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    <p class="margin-below--small sign-dollar">Once your application has been finalised you will receive an email that outlines your next steps. If you are eligible:</p>
                    <ul class="next-steps">
                      <li>You will receive Covenant Oath and Lapel Pin in the mail.</li>
                      <li>A digital version of your Veteran Card will be available in MyService shortly.</li>
                      <li>You will also receive your physical Veteran Card in the mail.</li>
                      <li id="apod-yes">You will recieve an email from APOD. This will include instructions on how to complete your registration to access offers and benefits.</li>
                      <li id="apod-no" hidden>If you want to access offers and benefits at a later time, you can still register with APOD.</li>
                    </ul>
                  </div>
                </div>
                <h2 class="ss-align--center margin-above--extra"><b>Counselling and support services</b></h2>
                <div class="container">
                  <div class="col-sm-offset-1 col-sm-5 col-lg-offset-2 col-lg-2">
                    <img src="/docs/images/logo-vvcs.png" width="130" class="margin-above--large" alt="image of Open Arms logo">
                    <p><a href="http://www.vvcs.gov.au/" target="_blank" rel="external">Open Arms - Veterans and Families Counselling</a><br><b><a
                          href="tel:1800011046">1800&nbsp;011&nbsp;046</a></b>
                      <a href="" target="_blank">Find&nbsp;us&nbsp;on&nbsp;Facebook</a></p>
                  </div>
                  <div class="col-sm-5 col-lg-2">
                    <img src="/docs/images/logo-defence.png" width="130" class="margin-above--large" alt="image of Department of Defence Government crest">
                    <p><a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp" target="_blank" rel="external">ADF Mental Health All Hours Support Line</a><br><b><a
                          href="tel:1800628036">1800&nbsp;628&nbsp;036</a></b></p>
                  </div>
                  <div class="col-sm-offset-1 col-sm-5 col-lg-offset-0 col-lg-2">
                    <img src="/docs/images/logo-lifeline.png" width="130" class="margin-above--large" alt="image of Lifeline logo">
                    <p><a href="https://www.lifeline.org.au/" target="_blank" rel="external">Lifeline</a><br><b><a href="tel:131114">13&nbsp;11&nbsp;14</a></b></p>
                  </div>
                  <div class="col-sm-5 col-lg-2">
                    <img src="/docs/images/logo-1800respect.png" width="130" class="margin-above--large" alt="image of 1800respect logo">
                    <p><a href="https://www.1800respect.org.au/" target="_blank" rel="external">National Sexual Assault, Domestic and Family Violence Counselling
                        Service</a><br><b><a href="tel:1800737732">1800&nbsp;737&nbsp;732</a></b></p>
                  </div>

                  <div class="pagination ss-align--center">
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Back to home</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".pt-claim-animation-start").toggleClass("transition-content--open");
        $(".pt-claim-animation-end").toggleClass("transition-content--open");
      }, timeDelay);

      $(document).keypress(function (e) {
        switch (e.which) {
          case 96: //tilda
            $('#state-switcher').toggle();
          break;
          default:
        }
      });

  </script>

<div id="state-switcher">
  <h3>VRP State Switcher</h3>
  <%- include(partials+"components/form-partials/checkbox", {
    id: "vrp-state-switcher",
    label: "Service history state",
    boxes: [
      {
        text: "APOD consent provided",
        modifiers: ["checked"],
        toggle: "#apod-yes",
        rToggle: "#apod-no"
      }
    ]
  }) %>
</div>

</body>

</html>
