<% var cards = JSON.parse(include("cards-data")) %>

<div id="state-switcher">
  <h3>State switcher</h3>
        <% var boxes = []; %>

        <% cards.map((state, i) => {
          boxes.push({
            "text": state.stateSwitcherDesc
          })
        }); %>

        <%- include(partials+"components/form_partials", {
          "forms": [
            {
              "type": "checkbox",
              "id": "card-states",
              "config": {
                "label": "Card States",
                boxes
              }
            }
          ]
        }) %>
    </div>
</div>


<script>

$(document).ready(function () {
/* --- State switcher --- */
  /* Toggle switcher */
  $(document).keypress(function (e) {
    switch (e.which) {
      case 96: //tilda
        $('#state-switcher').toggle();
      break;
      default:
    }
  });

  $("#checkboxcardstates-1").prop("checked", true);
  $("#checkboxcardstates-2").prop("checked", true);


  <% cards.map((state, i) => {
    if (i >= 2) { %>
      $("#<%- state.id %>").hide();
    <% } %>

    $("#checkboxcardstates-<%- i+1 %>").on("change", function() {
      if ($(this).prop("checked")) {
        $("#<%- state.id %>").show();
      } else {
        $("#<%- state.id %>").hide();
      }
    });
  <% }); %> 

  $("#checkboxcardstates__wrapper").on("change", "input[type='checkbox']", function() {
    var boxes = 0;

    $.each($(this).closest("#checkboxcardstates__wrapper").find("input[type='checkbox']"), function(i, box) {
      if($(this).prop("checked")) boxes += 1;
    });

    if (boxes === 0) {
      $("#health-cards").hide();
      $("#health-cards--none").show();
    } else {
      $("#health-cards").show();
      $("#health-cards--none").hide();
    }
  });
});
</script>