<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Your cards | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main class="health-cards__main">
  <div class="container margin-below">
    <h1><span class="heading">Cards</span></h1>
    <div id="health-cards" class="row">


    </div>
  </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <script type="text/javascript">
    $(document).ready(() => {
        person = JSON.parse(localStorage.getItem("person"));
        $.each(person.cards, (c_index, card) => {
          content = "";

content += `
<div class="health-card ${person.cards.length - 1 != c_index ? "margin-below" : ""}">
  <div class="health-card__card-summary">
    <img class="health-card__image" src="/docs/images/health-card--multiple.png">
    <button class="uikit-btn health-card__card-toggle health-card__card-toggle--outside" data-position="outside" aria-expanded="false"><i class="far fa-plus-circle"></i> Show details</button>
    <div class="health-card__card-info">
      <div class="health-card__inner-card-info">      
        <button class="uikit-btn health-card__card-toggle health-card__card-toggle--inside" data-position="inside" aria-expanded="false"><i class="far fa-times-circle"></i></button>
        <div>
          <h2 class="margin-above--none margin-below--none">${card.type}</h2>
          <hr class="non-breaking-hr">
  `;

        if (card.type == "Veteran Card") {
          content += `
          <div class="health-card__detail">
            <label class="health-card__label">File Number</label>
            <span>${card.fileNumber}</span>
          </div>
          <hr class="non-breaking-hr">`;
        } else if (card.type == "Commonwealth senior health card") {
          content += `
          <div class="health-card__detail">
            <label class="health-card__label">CRN number</label>
            <span>${card.crnNumber}</span>
          </div>
          <hr class="non-breaking-hr">`;
        }

        if (typeof card.issued != "undefined" && card.issued != "") {
        content += `
          <div class="health-card__detail">
            <label class="health-card__label">Date issued</label>
            <span>${card.issued}</span>
          </div>
          <hr class="non-breaking-hr">;
        `;
        }


        content += `
          <div class="health-card__detail">
            <label class="health-card__label">Expiry date</label>
            <span>${card.expiry}</span>
          </div>
          <hr class="non-breaking-hr">`;

        if (typeof card.class != "undefined" && card.class != "") {
          content += `
          <div class="health-card__detail">
            <label class="health-card__label">Class</label>
            <span>${card.class}</span>
          </div>
          <hr class="non-breaking-hr">`;
        }

    content += `
      </div>
    </div>`;

    if ((typeof card.conditions != "undefined" && card.conditions.length > 0) || (card.type === "Veteran Card")) {
      content += `
      <div class="health-card__extras">`;
    }

    if (typeof card.conditions != "undefined" && card.conditions.length > 0) {
      content += `
      <div class="health-card__detail">
        <div class="accordion">
          <label class="accordion-button"><input type="checkbox"><i class="fas fa-chevron-right"></i> Conditions listed</label>
          <div class="accordion-content">
            <table class="horizontal-card-section">
              <tbody>`;

        $.each(card.conditions, (cond_index, condition) => {
          content += `
                <tr class="card card--horizontal">
                  <td class="flex-item">
                    <p class="status-icon status-approved">${condition.condition}
                    <br>
                    <span><strong>Approved</strong> ${typeof condition.approvedDate != "undefined" && condition.approvedDate ? " - " + condition.approvedDate : ""}</span></p>
                  </td>
                </tr>`;
        });

      content += `
              </tbody>
            </table>
          </div>
        </div>
      </div>`;
    }


      if (card.type == "Veteran Card") {
        content += `
          <div class="health-card__detail">
            <div class="accordion">
              <label class="accordion-button"><input type="checkbox"><i class="fas fa-chevron-right"></i> How to use</label>
              <div class="accordion-content health-card--no-margins">
                <h4>Step 1: Finding a provider</h4>
                <p>You can use <a href="#" rel="external">HealthDirect</a> to find health services in yur area.</p>
                <p>Before booking your appointment, check that your selected provider accepts the DVA veteran card.</p>
                <h4>Step 2: Getting treatment</h4>
                <p>Show your card when you receive medical treatment for your condition.</p>
                <p>You can also use the letter you received from us if your card has not arrived yet.</p>
                <div class="uikit-page-alerts uikit-page-alerts--info" role="alert">
                  <h3>You don't have to pay for treatment if it relates to any of the conditions listed on your card.</h3>
                  <p>If you are billed by your health care provider, <strong>do not</strong> pay the account and tell DVA immediately on 133 254 (or 1800 555 254 in regional areas). If you've already paid for treatment, you can <a href="#">make an application for reimbursement</a>.</p>
                </div>
              </div>
            </div>
          </div>
        `;
      }

    if ((typeof card.conditions != "undefined" && card.conditions.length > 0) || (card.type === "Veteran Card")) {
      content += `
      </div>`;
    }

      content += `
      </div>`;
    

  content += `
    </div>
  </div>
</div>`;

          $("#health-cards").append(content);
        });

      $("#health-cards .accordion").each(function() {
        if($(this).find(".accordion-button").attr("data-state") != "open") {
          $(this).find(".accordion-button").attr("data-state", "closed");
        }
      });

      $("#health-cards .accordion").on("change", ".accordion-button input[type='checkbox']", function() {
        if ($(this).parent().attr("data-state") == "open") {
          $(this).parent().attr("data-state", "closed");
        } else {
          $(this).parent().attr("data-state", "open");
        }
      });

      $("#health-cards").on("click", ".health-card__card-toggle", function() {
        if ($(this).data("position") === "outside") {
          $(this).parent().find(".health-card__card-info").css("display", "flex");
          $(this).hide();
          $(this).attr("aria-expanded", "true");
          $(this).parent().find(".health-card__card-toggle[data-position='inside']").attr("aria-expanded", "true");
        } else {
          $(this).parent().parent().css("display", "none");
          $(this).attr("aria-expanded", "false");
          $(this).parent().parent().parent().find(".health-card__card-toggle[data-position='outside']").attr("aria-expanded", "false");
          $(this).parent().parent().parent().find(".health-card__card-toggle[data-position='outside']").show();
        }

      });
    });
  </script>

</body>

</html>