<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
  <div class="container margin-below">
    <h1><span class="heading">Cards</span></h1>
    <div id="health-cards">

      <div class="accordion">
        <label class="accordion-button"><input type="checkbox"><i class="fas fa-chevron-right"></i> How to use</label>
        <div class="accordion-content">
          This is the content for an accordion  
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>

    </div>
  </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <script type="text/javascript">
    $(document).ready(() => {
        person = JSON.parse(localStorage.getItem("person"));
        $.each(person.cards, (c_index, card) => {
          // content = "";

          // content += `
          // <div class="health-card">

          // </div>
          // `;
        });
    });
  </script>

</body>

</html>
