<% var cards = JSON.parse(include("cards-data")) %>

<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Your cards | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor health-cards__main">

  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <div class="health-cards__page-wrapper">
      <div class="container health-card__container">
        <h1><span class="heading">Cards</span></h1>
        <div id="health-cards" class="row">
          <% cards.forEach((card, index) => { %>
          <div class="health-card toggled-open" id="<%- card.id %>">
            <div class="health-card__card-info">
              <button class="uikit-btn health-card__card-toggle health-card__card-toggle--outside" aria-expanded="false"> <i class="far fa-plus-circle"></i> Show details</button>


              <div class="health-card__image-container <%- !card.available ? "health-card__image--on-its-way" : "" %>">
                <% if (card.available) { %>
                <% if (card.type === "Veteran Card") { %>
                  <% if (card.class === "White") { %>
                    <img class="health-card__image health-card__image--veteran" src="/docs/images/health-card-white--edited.png" alt="White veterans card">
                  <% } else if (card.class === "Gold") { %>
                    <% if (card.TPI) { %>
                      <img class="health-card__image health-card__image--veteran" src="/docs/images/health-card-gold--edited.png" alt="Gold veterans card with TPI">
                    <% } else { %>
                      <img class="health-card__image health-card__image--veteran" src="/docs/images/health-card-gold-tpi--edited.png" alt="Gold veterans card">
                    <% } %>
                  <% } %>
                <p class="health-card__card-number card-text"><%- card.fileNumber %></p>
                <p class="health-card__card-expiry card-text"><%- card.expiryShort %></p>
                <p class="health-card__card-name card-text"><%- card.name %></p>
                <p class="health-card__file-no-text card-text">File No.</p>
                <p class="health-card__expiry-text card-text">Card expires<br>or on recall</p>
                <% } else if (card.type === "Commonwealth Seniors Health Card") { %>
                <img class="health-card__image health-card__image--concession" src="/docs/images/senior-concession-card-front3.png" alt="Commonwealth Seniors Health Card">
                <p class="health-card__card-number card-text"><%- card.crnNumber %></p>
                <p class="health-card__card-expiry card-text"><%- card.expiry %></p>
                <p class="health-card__card-name card-text"><%- card.name %></p>
                <% } %>
                <% } else { %>
                <img class="health-card__image" src="/docs/images/health-card-white--edited.png" alt="lightgray background">
                <% } %>
              </div>
              <% if (card.type === "Veteran Card" && locals.liveFeature.includes('VRPbarcode') ) { %>
              <div class="health-card__barcode-wrapper health-card__barcode-wrapper--mobile">
                <img class="health-card__barcode-image" src="/docs/images/barcode.gif" alt="Barcode for card with a number">
              </div>
              <% } %>
              <div class="health-card__inner-card-info">
                <button class="uikit-btn health-card__card-toggle health-card__card-toggle--inside" aria-expanded="false"></button>

                <div class="health-card__details-wrapper">
                  <h3 class="health-card__header-text"><%- card.type %></h3>

                  <% if (card.available) { %>

                  <hr class="non-breaking-hr">
                  <div class="health-card__detail">
                    <% if (card.type === "Veteran Card") { %>
                    <label class="health-card__label">File Number</label>
                    <span><%- card.fileNumber %></span>
                    <% } else if (card.type === "Commonwealth Seniors Health Card") { %>
                    <label class="health-card__label">File Number</label>
                    <span><%- card.fileNumber %></span>
                    <% } %>
                  </div>
                  <hr class="non-breaking-hr">

                  <div class="health-card__detail">
                    <label class="health-card__label">Expiry date</label>
                    <span><%- card.expiry %></span>
                  </div>
                  <hr class="non-breaking-hr">

                  <% if (card.type === "Veteran Card") { %>
                  <div class="health-card__detail">
                    <label class="health-card__label">Card type</label>
                    <span><%- card.class %></span>
                  </div>
                  <hr class="non-breaking-hr">
                  <% } %>

                  <% if (card.type === "Commonwealth Seniors Health Card") { %>
                  <div class="health-card__detail">
                    <label class="health-card__label">Card UIN</label>
                    <span><%- card.uin %></span>
                  </div>
                  <hr class="non-breaking-hr">
                  <% } %>

                  <div class="health-card__order-replacement">
                    <a href="/">Order replacement</a>
                  </div>

                  <% } else { %>
                  <div class="health-card__on-its-way">

                    <hr class="non-breaking-hr margin-below--mid">
                    <div class="health-card__detail">
                      <p>Your card is on its way. Your card details will be available here when it has been issued.</p>
                    </div>
                    <hr class="non-breaking-hr margin-above--mid">

                  </div>
                  <% } %>
                </div>
              </div>
            </div>
            <% if (card.type === "Veteran Card" && locals.liveFeature.includes('VRPbarcode')) { %>
            <div class="health-card__barcode-wrapper">
              <img class="health-card__barcode-image" src="/docs/images/barcode.gif" alt="Barcode for card with a number">
            </div>
            <% } %>
            <% if (card.type === "Veteran Card" || (card.conditions && card.conditions.length > 0) || card.type === "Commonwealth Seniors Health Card") { %>
            <div class="health-card__extras">

              <% if (card.conditions && card.conditions.length > 0 ) { %>
              <div class="health-card__detail">
                <div class="accordion">
                  <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Conditions listed</button>
                  <div class="accordion-content" hidden>
                    <p class="accordion-content__sub-heading">The following conditions are listed on this card:</p>
                    <div class="health-card__conditions-list margin-below--mid">
                      <% card.conditions.forEach((condition, c_index) => { %>
                      <div class="health-card__condition">
                        <i class="far fa-check-circle health-card__condition-icon"></i>
                        <div class="health-card__condition-info">
                          <span class="health-card__condition-name"><%- condition.condition %></span><br>
                          <span class="health-card__condition-status">Approved - </span>
                          <% if (condition.approvedDate) { %>
                          <span class="health-card__condition-date"><%- condition.approvedDate %></span>
                          <% } %>
                        </div>
                      </div>
                      <% }); %>
                    </div>
                    <span>Last updated on <%- card.lastUpdated %>. If incorrect try logging in again later or contact us.</span>
                  </div>
                </div>

              </div>
            
              <% } %>
              <% if (card.type === "Commonwealth Seniors Health Card") { %>
              <div class="health-card__detail margin-above--small">
                <!-- <div class="accordion">
                  <button class="style-less-button accordion-button health-card__label--big"><i
                      class="transition fas fa-chevron-right"></i> More information</button>
                  <div class="accordion-content health-card--no-margins" hidden> -->
                    
                    <p>Find out about payment and concession <a
                        target="_blank"
                        href="https://www.dva.gov.au/factsheet-is126-commonwealth-seniors-health-card"
                        rel="external">entitlements</a>.
                  </p>
                  </div>
                </div>
              </div>
              <% } %>
              <% if (card.type === "Veteran Card" ) { %>
              <div class="health-card__detail margin-above--small">
                <div class="accordion">
                  <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> How to use</button>
                  <div class="accordion-content health-card--no-margins" hidden>
                    <h4 class="margin-below--small accordion-content__how-to-use">Step 1: Finding a provider</h4>
                    <p class="margin-below--small">You can use <a href="#" rel="external">HealthDirect</a> to find health services in your area.</p>
                    <p class="margin-below">Before booking your appointment, check that your selected provider accepts the DVA veteran card.</p>
                    <h4 class="margin-below--small">Step 2: Getting treatment</h4>
                    <p class="margin-below--small">Show your card when you receive medical treatment for your condition.</p>
                    <p class="margin-below--large">You can also use the letter you received from us if your card has not arrived yet.</p>
                    <div class="uikit-page-alerts uikit-page-alerts--info" role="alert">
                      <h3>You don't have to pay for treatment if it relates to any of the conditions listed on your card.</h3>
                      <p>If you are billed by your health care provider, <strong>do not</strong> pay the account and tell DVA immediately on 133 254 (or 1800 555 254 in regional
                        areas). If you've already paid for treatment, you can <a href="#">make an application for reimbursement</a>.</p>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
              <% if (card.type === "Veteran Card") {%>
              <div class="accordion">
                <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> How to access offers</button>
                <div class="accordion-content health-card--no-margins" hidden>
                  <h4 class="margin-below--small accordion-content__how-to-use">You can also use your card to access offers and services from APOD <br> (Australian Partners of
                    Defence).
                  </h4>
                  <p class="margin-below--small">Complete the steps below to access offers.</p>
                  <h4 class="margin-below--small">Step 1: Register with APOD</h4>
                  <p class="margin-below--small">Register an account with APOD. You will need to provide your details and your veteran card number. <a href="https://apod.com.au/" rel="external" target="_blank">Click here to register with APOD</a>.</p>
                  <h4 class="margin-below--small">Step 2: Access Offers</h4>
                  <p class="margin-below--small">
                    Browse the APOD website to view offers available. Offers can be accessed either instore or online using your Veteran Card.
                  </p>
                </div>
              </div>
              <% } %>
            </div>
            <% } %>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <script type="text/javascript">
    function openModal() {
      $('#help-panel').toggleClass("is-visible");
    }
    $(document).ready(() => {
        $("#health-cards").on("click", ".health-card__image-container, .health-card__card-toggle", function() {
          if ($(this).closest(".health-card").hasClass("toggled-open")) {
            $(this).closest(".health-card").removeClass("toggled-open");
          } else {
            $(this).closest(".health-card").addClass("toggled-open");
          }
        });
    });

  </script>
  <%- include("cards-state-switcher.ejs") %>
</body>

</html>
