<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <section>
      <div class="section-feature section-feature--bg margin-above--none" id="main-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 class="margin-below--small">
                <span class="heading">Veteran card</span>
              </h1>
              <h2 class="margin-above margin-below ss-align">You can access your digital card here shortly.</h2>
              <div class="uikit-page-alerts uikit-page-alerts--warning uikit-page-alerts--white">
                <p>If you need <b>immediate treatment</b>, call us on <a href="tel:1800123456">1800 123 456</a> or keep your receipts and <a
                    href="https://www.dva.gov.au/dvaforms/Documents/D1181.pdf" rel="external" target="_blank">request reimbursement from DVA</a></b></p>
              </div>
            </div>
            <div class="col-md-6 margin-above">
              <div id="whitecard" class="healthcard-container margin-above margin-above--extra">
                <img class="white-card-image" src="/docs/images/health-card-pending.png">
                <div id="card-number">
                  <span class="card-text">&nbsp;</span>
                </div>
                <div id="card-name">
                  <span class="card-text">&nbsp;</span>
                </div>
                <div id="card-date">
                  <span class="card-text">12 / 22</span>
                </div>
                <div id="card-pending">
                  <span class="card-text--red">Your card is on its way</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container margin-above--extra margin-below--extra">
      <h2>
        <span class="font-weight-heavy">What's on your card</span>
      </h2>
      <p>You can access free treatment for any conditions listed on your DVA Veteran Card.<br>The following accepted conditions are listed on your card:</p>

      <section class="widget margin-below--extra">
        <div class="row widget-content widget--justclaims">
          <div class="col-md-12">
            <table class="table-claims">
              <!-- <tr>
                  <td>
                    <p class="status-icon status-approved">
                      Lumbar Spondylosis
                      <br />
                      <span>Approved
                        <em>&ndash; 06 Feb 2018</em>
                      </span>
                    </p>
                  </td>
                </tr> -->
              <tr>
                <td>
                  <p class="status-icon status-approved">
                    Mental Health Treatment (NLHC)
                    <br />
                    <span>Approved

                    </span>
                  </p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>

      <%- include(partials+"content/auth-healthcard-howtouse") %>

    </div>



  </main>
  <%- include(partials+"content/modals/auth-modal-deleteclaim") %>
  <%- include(partials+"components/layout/footer") %>


</body>

</html>