<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>

  <main>
    <section>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <section>

          <div class="back-button">
            <a href="/auth" class="mys h5"><i class="fal fa-arrow-left fa-fw"></i>Back to home</a>
          </div>
          <h1 class="mys h1 margin-above--none margin-below--mid" id="heading">Income and assets</h1>

          <p>You are required to advise of any changes to your income and assets within 14 days. Processing times will vary based upon the types of changes you
            report.</p>

          <%- include(partials+"components/form-partials/notice", {
                message: "<p><b>Partner consent required</b></p><p></p>You have income and assets recorded that are jointly owned, or owned by your partner. To manage these items you will need to <a href='/auth/profile/partner-consent'>provide your partner's consent</a>.</p>",
                id: ["no-consent-message"],
                type: "warning",
                modifiers: ["hidden"]
              }); %>

              <%- include(partials+"components/form-partials/notice", {
                message: "<p><b>Your partner consent submission is being processed.</b></p><p>You will receive email confirmation when this is complete (allow approximately one week from date of submission). You will then be able to provide information on your partner's behalf.</p>",
                id: ["pending-consent-message"],
                type: "warning",
                modifiers: ["hidden"]
              }); %>

          <button class="uikit-btn uikit-btn--primary" onclick="location.href='/auth/income-assets/start'">Get
            started</button>

          <div id="statement" class="margin-above--large">
            <hr><p><b>Current income and assets statement:</b><BR /><a class="download-income">Download statement</a></p></div>
          <%- include("transactions-table"); %>

        </section>
        <div id="statement-success" class="toast-container" style="display: none;">
          <button class="uikit-btn toast" role="alert" type="button">
            <div class="toast__type toast__type--success">
              <span class="sr">Success</span>
            </div>
            <div class="toast__message">
              <p>Your request has been submitted successfully.</p>
            </div>
          </button>
        </div>
      </div>
    </section>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <%- include("index-ss") %>
  <%- include("request-confirm-modal") %>
  <%- include("income-assets-modal") %>
</body>
<script>

  function stateSwitcher() {

    $("#past-transactions").hide();
    $("#sixmonth-message").hide();
    $("#more-transactions").hide();
    $("#statement").hide();

    switch (pastTransactions) {
      case "none":
        $("#statement").show();
        break;
      case "one":
        $("#past-transactions").show();
        $("#more-transactions").hide();
        $("#one-transaction").show();
        $("#statement").hide();
        break;
      case "many":
        $("#one-transaction").hide();
        $("#past-transactions").show();
        $("#card-hidden").hide();
        $("#more-transactions").show();
        $("#sixmonth-message").show();
        $("#statement").hide();
        break;
      default:
        break;
    }
  }

  $.urlParam = function (name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)')
      .exec(window.location.href);
    if (results == null) {
      return 0;
    }
    return results[1] || 0;
  }
  var state = $.urlParam('state');
  switch (state) {
    case "past-transaction-show-one":
    pastTransactions = "one";
    stateSwitcher();
    // $("#statement-success").show();
      break;
    default:
      break;
  }

  $(".download-income").on("click", function () {
    $("#post-success-container").hide();
    window.location.href = "#open-download-income-modal";
  });


</script>

</html>