<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Income &amp; assets | Managed investments</title>
  <%- include(partials+"components/layout/head") %>
  <script src="/docs/js/income-assets-profile.js"></script>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
   
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">

      <h1 class="margin-above--none ss-align--center"><span class="heading">Managed investments, funeral bonds and pre-paid funerals</span></h1>
    </div>
    <section>
      <div class="container margin-above margin-below--extra">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 margin-below--large">
            <!-- User list and category messaging -->
            <div id="user-list">
              <hr class="margin-below--none">
              <h2 class="margin-above--none heading-width">
                <span class="fal fa-list-alt fa-icons"></span><span class="partner-label">My</span> managed investments
              </h2>
              <div id="add-anchor-link-return" class="cursor-pointer-right" onClick="showNewCard('managed-investments');">
                <p style="margin-top: 10px;">
                  <span class="fal fa-plus-circle fa-icons"></span>Add managed investments
                </p>
              </div>
            </div>
            <div id="add-anchor-link-start" class="cursor-pointer" onClick="showNewCard('managed-investments');" hidden>
                  <p class="margin-above--extra margin-below--extra ss-align--center">
                    <span class="fal fa-plus-circle fa-icons"></span>Add managed investments
                  </p>
                </div>
            <!-- Cards -->
            <%- include("managed-investments-account-based-update") %>
            <%- include("managed-investments-unit-based-update") %>
            <%- include("managed-investments-bonds-update") %>
            <%- include("managed-investments-prepaid-update") %>
            <%- include(partials+"content/income-assets/income-assets--managed-investments") %>

            <div id="main-pagination" class="pagination">
              <button id="continue" class="uikit-btn btnNext floated" onClick="goBack()">Next</button>
            </div>

          </div>
        </div>
    </section>
  </main>

  <%- include(partials+"components/layout/footer") %>
  <%- include("category-page-ss") %>

</body>

</html>

<script>

  function stateSwitcher() {
    switch (pageState) {
      case "emptylist":
        showEmptyState();
        break;
      case "populatedlist":
       showPopState();
        break;
      default:
        break;
    }
  }

  function goBack() {
    localStorage.setItem("coc-state", "update1");
    window.location.href = 'start.ejs';
  }

</script>


