<%- include(templates+"header", {
  claim: "Profile - income &amp; assets",
  heading: "Review and submit"
}) %>


<%- include(components+"review-submit", {
    claim_title: "Income and assets update",
    categories: [
      {
        title: "<span class='partner-label'>My</span> bank accounts",
        edit_url: "/auth/income-assets/bank-accounts",
        data: [
        "Bank account<span class='floated'>ADDED</span>",
        {
          q: "Account owner",
          a: "Jointly with any other party"
        },
        {
          q: "% Owned",
          a: "32.5%"
        },
        {
            q: "Account type",
            a: "Savings account"
          },
          {
            q: "BSB number",
            a: "355 675"
          },
          {
            q: "Name of financial institution",
            a: "NAB"
          },
          {
            q: "Account number",
            a: "3321 5567"
          },
          {
            q: "Current balance",
            a: "$478.88"
          },
          "Bank account<span class='floated'>EDITED</span>",
          {
              q: "Account type",
              a: "Church/charity account"
            },
            {
              q: "Account owner",
              a: "Myself"
            },
            {
              q: "Name of church/charity account",
              a: "Friends indeed"
            },
            {
              q: "Church/charity account or reference number",
              a: "C33567"
            },
            {
              q: "Current balance",
              a: "$24.355.43"
            },
          "Bank account<span class='floated'>DELETED</span>",
          {
              q: "Account type",
              a: "Overseas savings account"
            },
            {
              q: "Account owner",
              a: "Myself"
            },
            {
              q: "Name of overseas bank",
              a: "Barclays"
            },
            {
              q: "Current balance",
              a: "$65,000.88"
            }
      ]
      },
      {
        title: "Further information required",
        edit_url: "/auth/income-assets/variance",
        data: [
        {
          q: "What is the reason for the increase?",
          a: "Won the lottery"
        }
      ]
      },
      {
        title: "Required documents",
        edit_url: "/auth/income-assets/documents",
        data: [
        {
          q: "Recent bank statement",
          a: "bank-statement.pdf"
        }
      ]
      }
    ]
  }) %>

  <div class="pagination pagination--ss-reverse-order margin-above--extra" id="pagination440">

    <p class="margin-below--large">By clicking <b>submit</b> you confirm this information is truthful and accurate.</p>
    
    <a href="/auth/income-assets/documents" class="uikit-btn uikit-btn--tertiary">Previous</a>
  
    <a href="#open-coc-ai-delete-modal" class="uikit-btn uikit-btn--tertiary">Delete transaction</a>
  

<div class="floated">
  
    <a href="submitted" class="uikit-btn ">Submit</a>
  
</div>
</div>


<%- include(templates+"footer") %>
<%- include(partials+"content/modals/coc-ia-delete-modal") %>
<%- include("review-ss") %>
