<%- include(templates+"header", {
  claim: "Profile - income &amp; assets",
  heading: "Income &amp; assets update"
}) %>

<div class="rev-sub    " id="rev-sub183-container">
  <div class="rev-sub__title">
    <div class="rev-sub__claim-title"><b>Submitted 10 Jan 2021</div>
    <div class="rev-sub__claim-title1 floated"><b>Transaction ID: 1244678</b></div>
  </div>
  

  <div class="rev-sub__category">
      <div class="rev-sub__header">
        <h2 class="rev-sub__header--category"><span class="partner-label">My</span> bank accounts</h2>
      </div>

      
      
      <div class="rev-sub__sub-header">
        <h3 class="rev-sub__header--subcategory">Bank account<span class="floated">ADDED</span></h3>
      </div>
      
      
      
      
      <div class="rev-sub__questions">
        

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">Account owner</div>
          <div class="rev-sub__item-answer">Jointly with any other party</div>
        </div>

        
      
      
      
      

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">% Owned</div>
          <div class="rev-sub__item-answer">32.5%</div>
        </div>

        
      
      
      
      

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">Account type</div>
          <div class="rev-sub__item-answer">Savings account</div>
        </div>

        
      
      
      
      

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">BSB number</div>
          <div class="rev-sub__item-answer">355 675</div>
        </div>

        
      
      
      
      

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">Name of financial institution</div>
          <div class="rev-sub__item-answer">NAB</div>
        </div>

        
      
      
      
      

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">Account number</div>
          <div class="rev-sub__item-answer">3321 5567</div>
        </div>

        
      
      
      
      

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">Current balance</div>
          <div class="rev-sub__item-answer">$478.88</div>
        </div>

        
      </div>
      
      
      
      
      <div class="rev-sub__sub-header">
        <h3 class="rev-sub__header--subcategory">Bank account<span class="floated">EDITED</span></h3>
      </div>
      
      
      
      
      <div class="rev-sub__questions">
        

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">Account type</div>
          <div class="rev-sub__item-answer">Church/charity account</div>
        </div>

        
      
      
      
      

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">Account owner</div>
          <div class="rev-sub__item-answer">Myself</div>
        </div>

        
      
      
      
      

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">Name of church/charity account</div>
          <div class="rev-sub__item-answer">Friends indeed</div>
        </div>

        
      
      
      
      

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">Church/charity account or reference number</div>
          <div class="rev-sub__item-answer">C33567</div>
        </div>

        
      
      
      
      

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">Current balance</div>
          <div class="rev-sub__item-answer">$24.355.43</div>
        </div>

        
      </div>
      
      
      
      
      <div class="rev-sub__sub-header">
        <h3 class="rev-sub__header--subcategory">Bank account<span class="floated">DELETED</span></h3>
      </div>
      
      
      
      
      <div class="rev-sub__questions">
        

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">Account type</div>
          <div class="rev-sub__item-answer">Overseas savings account</div>
        </div>

        
      
      
      
      

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">Account owner</div>
          <div class="rev-sub__item-answer">Myself</div>
        </div>

        
      
      
      
      

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">Name of overseas bank</div>
          <div class="rev-sub__item-answer">Barclays</div>
        </div>

        
      
      
      
      

        <div class="rev-sub__item ">
          <div class="rev-sub__item-question">Current balance</div>
          <div class="rev-sub__item-answer">$65,000.88</div>
        </div>

        
      </div>
      
      
      

      

    

  </div>

</div>




<%- include(forms+"pagination", {
    customClass: "margin-above--extra",
    pagination: [
      {
        text: "Back to updates list",
        link: "/auth/income-assets/index"
      },
      {
        text: "Print",
        link: "#",
        modifiers: ["floated"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>
<%- include(partials+"content/modals/coc-ia-delete-modal") %>
<%- include("review-ss") %>
