<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Financial support | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid landing-page unauth-page uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <%- include(partials+"header-landing-page") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <section>
      <div class="container" id="main-content">
        <% include breadcrumb-financial-support%>
        <h1>Financial support</h1>

        <nav class="uikit-inpage-nav-links">
          <h2 class="uikit-inpage-nav-links__heading uikit-display-2">Contents</h2>
          <ul class="uikit-link-list">
            <li><a href="#section1">How we can help</a></li>
            <li><a href="#section2">Types available</a></li>
            <li><a href="#section3">How to apply</a></li>
          </ul>
        </nav>
        <h2 id="section1">How we can help</h2>

        <p>We provide financial support for current and former ADF members for conditions accepted as related to your service.</p>
        <p>This may include payment for:</p>

        <ul>
          <li>loss of function or lifestyle (permanent impairment)</li>
          <li>loss of income (incapacity payments)</li>
          <li>Special Rate Disability Payment (SRDP)</li>
          <li>educational assistance for eligible dependants</li>
        </ul>

        <h2 id="section2">Types available</h2>

        <h3>Permanent impairment</h3>

        <p>If you have an accepted condition, you may be entitled to receive permanent impairment (PI) compensation from us if:</p>

        <ol>
          <li>after treatment you still have an impairment</li>
          <li>the impairment is likely to continue indefinitely</li>
          <li>your condition has stabilised</li>
        </ol>

        <p>PI compensation is paid for both:</p>

        <ul>
          <li>permanent physical and mental impairments</li>
          <li>lifestyle restrictions resulting from your accepted conditions</li>
        </ul>

        <p>If you are entitled to receive PI compensation, you can choose to be paid:</p>

        <ul>
          <li>a fortnightly periodic payment</li>
          <li>a lump sum</li>
          <li>a combination of part fortnightly periodic payment and part lump sum</li>
        </ul>

        <p><a href="https://www.dva.gov.au/factsheet-mrc07-permanent-impairment-compensation-payments">Discover more about permanent impairment.</a></p>

        <h3>Incapacity benefits</h3>

        <p>We may be able to pay you incapacity benefits if your condition caused an inability, or reduced ability, to work.</p>

        <p>This can include:</p>

        <ul>
          <li>loss of income</li>
          <li>loss of allowance while serving (for example, deployment allowance, seagoing allowance and district allowance)</li>
          <li>delay in graduation</li>
          <li>employment downgrade</li>
          <li>loss of civilian employment</li>
          <li>taking sick or unpaid leave in civilian employment</li>
        </ul>

        <p><a href="https://www.dva.gov.au/factsheet-mrc08-incapacity-work">Discover more about incapacity benefits.</a></p>

        <h3>Special Rate Disability Payment (SRDP)</h3>

        <p>If your capacity for work has been severely restricted because of conditions due to ADF service on or after 1 July 2004, you may be eligible for SRDP.</p>

        <p>SRDP is not automatically granted. If you are eligible, you can choose to start receiving SRDP or continue receiving incapacity benefits.</p>

        <p><a href="https://www.dva.gov.au/factsheet-mrc09-special-rate-disability-pension-srdp">Discover more about Special Rate Disability Payments.</a></p>

        <h3>Education schemes</h3>

        <p>Education schemes help students achieve their potential in full-time education or career training.</p>

        <p>We can assist certain dependants of eligible ADF members, and former members, with accepted conditions.</p>

        <p>Students may be eligible for the following benefits under the education schemes:</p>

        <ul>
          <li>education allowance</li>
          <li>special assistance</li>
          <li>fares allowance</li>
          <li>rent assistance</li>
          <li>additional tuition</li>
          <li>guidance and counselling</li>
          <li>tertiary Student Start-up and Relocation Scholarships</li>
          <li>Energy Supplement payments</li>
          <li>Income Support Bonus payments</li>
        </ul>

        <p><a href="https://www.dva.gov.au/factsheet-mrc47-education-schemes">Discover more about education schemes.</a></p>

        <hr>

        <h2 id="section3">How to apply</h2>

        <% include how-to-apply%>

      </div>
      </div>
      </div>
    </section>
  </main>

  <%- include(partials+"footer") %>
  <%- include(partials+"panel-login") %>

</body>

</html>