<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Medical services | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid landing-page unauth-page uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <%- include(partials+"header-landing-page") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <section>
      <div class="container" id="main-content">

        <% include breadcrumb-medical-services%>
        <h1>Medical services</h1>

        <nav class="uikit-inpage-nav-links">
          <h2 class="uikit-inpage-nav-links__heading uikit-display-2">Contents</h2>
          <ul class="uikit-link-list">
            <li><a href="#section1">How we can help</a></li>
            <li><a href="#section2">Types available</a></li>
            <li><a href="#section3">How to apply</a></li>
          </ul>
        </nav>

        <h2 id="section1">How we can help</h2>

        <p>We can provide you with access to treatment and support for conditions accepted as related to your ADF service.</p>

        <p>We also provide treatment and support for all mental health conditions, tuberculosis and in some circumstances any cancers – no matter the cause of these conditions.</p>

        <h2 id="section2">Types available</h2>

        <h3>DVA health card (e.g. White Card, Gold Card or Orange Card)</h3>

        <p>A DVA health card allows you to access treatment and support for your injury or condition.</p>

        <p>This includes visits to:</p>

        <ul>
          <li>general practitioners</li>
          <li>medical specialists</li>
          <li>dentists</li>
          <li>pharmacists</li>
          <li>dental prosthetists</li>
          <li>optometrists</li>
          <li>allied health care providers (for example, physiotherapists, dieticians, and chiropractors)</li>
          <li>hospitals and day procedure facilities</li>
          <li>other health care professionals you are referred to for treatment</li>
        </ul>

        <p>If you are a former ADF member or reservist, we will send you a DVA health card once your claim is accepted. If you are a current full time serving member, the ADF will
          cover the cost of your treatment in most cases.</p>

        <p>To access treatment present your DVA health card at your appointment. Note: a small number of health care providers may not accept the DVA health card.</p>

        <p>If you have a DVA health card you will also receive a fortnightly payment from $6.20 to $12.40 (unless you already receive a similar Centrelink payment).</p>

        <p><a href="https://www.dva.gov.au/factsheet-hsv61-dva-health-card-specific-conditions-white">Discover more about DVA health cards.</a></p>

        <h3>Non-liability health care</h3>

        <p>If you served one day of continuous full-time service (CFTS) in the ADF you can access free treatment for any mental health conditions. The conditions do not need to be
          linked to service and you do not need to provide a diagnosis.</p>

        <p>If you were deployed overseas and you have a diagnosis you can also access free treatment for:</p>

        <ul>
          <li>any cancers (malignant neoplasms)</li>
          <li>pulmonary tuberculosis</li>
        </ul>

        <p>To access non-liability health care submit a request through MyService. We will send you a DVA health card.</p>

        <p>If you want your condition recognised as related to your service, or you are seeking compensation, you need to make a separate claim.</p>

        <p><a href="https://www.dva.gov.au/factsheet-hsv109-non-liability-health-care">Discover more about Non-liability health care.</a></p>

        <h3>Rehabilitation Appliances Program (RAP)</h3>

        <p>If you have an accepted condition, we may be able to provide aids and appliances to help you to be independent and self-reliant in your own home.</p>

        <p>Your doctor or health professional will assess your needs. We will provide you with appropriate items based on their recommendations.</p>

        <p><a href="https://www.dva.gov.au/factsheet-hsv107-rehabilitation-appliances-program">Discover more about the Rehabilitation Appliances Program.</a></p>

        <h3>Medical management rehabilitation</h3>

        <p>We can provide a rehabilitation program that includes medical management rehabilitation.</p>

        <p>This may include:</p>

        <ul>
          <li>assistance with coordinating your treatment or medical needs</li>
          <li>assistance with managing your conditions</li>
          <li>supporting you to attend and participate in medical and allied health services</li>
        </ul>

        <p>We will arrange a rehabilitation assessment for you to discuss your circumstances and identify areas you wish to improve. A rehabilitation provider will work with you to
          create a plan to meet your goals.</p>

        <p>Your rehabilitation program may also include activities from <a href="/unauth/career-guidance">vocational rehabilitation</a> and <a
            href="/family-and-councelling">psychosocial
            rehabilitation.</a></p>

        <p><a href="https://www.dva.gov.au/factsheet-mrc05-rehabilitation">Discover more about medical management rehabilitation.</a></p>

        <h3>Reimbursement for medical expenses</h3>

        <p>If you incurred medical expenses related to your condition you can seek reimbursement if you:</p>

        <ul>
          <li>submitted a claim with us and are waiting for a decision – if your claim is accepted, you can seek reimbursement for medical expenses</li>
          <li>were unable to use your card when you received a service and paid for it out of your own pocket</li>
        </ul>

        <p><a href="https://www.dva.gov.au/factsheet-hsv64-medical-expenses-privately-incurred">Discover more about reimbursement for medical expenses.</a></p>

        <h3>Transport for treatment appointments</h3>

        <p>If you need to travel to attend a medical or rehabilitation appointment we are paying for, you may be entitled to be reimbursed for your travel costs. This can include
          long distance travel if necessary.</p>

        <p>We may be able to arrange a pre-paid taxi to take you to approved treatment locations from your permanent residence. If you are travelling away from home and need
          medical treatment, we may also be able to provide this service to and from your temporary residence.</p>

        <p><a href="https://www.dva.gov.au/providers/provider-programs/travel-treatment">Discover more about transport for treatment appointments.</a></p>

        <hr>

        <h2 id="section3">How to apply</h2>

        <% include how-to-apply%>

      </div>
    </section>
  </main>

  <%- include(partials+"footer") %>
  <%- include(partials+"panel-login") %>

</body>

</html>