<%#- include(templates+"header", {
  claim: "Unauthenticated"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>404: Page not found | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar-unauth") %>
    <%- include(partials+"components/layout/header-landing-page") %>

      <main>
        <section>
          <div class="container system-error" id="main-content">
            <h1>
              <img src="/docs/images/ico-error.svg" alt="Error icon"> 404: Page not found</h1>
            <p>We cannot find the page you requested. Please check the URL or return to the
              <a href="/">home page</a>. Alternatively, you can contact us using the following details:</p>
            <div class="ico-email"></div>
            <p>
              <b>Email:</b>
              <a href="mailto:myservicesupport@dva.gov.au">myservicesupport@dva.gov.au</a>
              <br>
              <em>We will get back to you within one working day.</em>
            </p>
            <div class="ico-phone"></div>
            <p>
              <b>Phone:</b> (02) 6289 4724
              <br>
              <em>Monday to Friday, 9am to 5pm AEST.</em>
            </p>
          </div>
        </section>
      </main>


      <%- include(partials+"components/layout/footer") %>
        <%- include(partials+"components/layout/panel-login") %>

</body>

</html>