<%- include(templates+"header", {
  title: "| Increase your disability pension | Getting started", 
  heading: "Getting started", 
  modifiers: ["margin-below--none"]}) 
%>

<%- include(forms+"progress-simple", {
  percent: 0, 
  modifiers: ["margin-below"]}) 
%>

<%- include(forms+"checkbox", {
  label: "Select the conditions that have worsened since your last assessment",
  boxes: [
    "lumbar spondylosis",
    "tinnitus",
    "hearing loss",
    "depression",
    "solar keratosis"
  ]
}) %> 
 
 <%- include(components+"tooltip", {
    screenreaderText: "I can't see my condition in this list",
    content: `Your condition may not be eligible for this payment due to the time the injury occured or it may not be approved yet. For more information call <a href="tel:1800-555-254">1800 555 254</a> or contact your delegate.`,
    modifiers: ["tooltipShowText"]
  }) %> 


  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel claim",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        link: "/auth/claim/afi/afi2",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>