<%- include(templates+"header", {
  title: "Employment: Application for Increase to Disability Pension", 
  heading: "Employment", 
  modifiers: ["margin-below--none"]
}) %>

  <%- include(forms+"progress-simple", {
    percent: 50, 
    modifiers: ["margin-below"]
  }) %>

  <%- include(forms+"yes_no", {
    label: "Are you employed?",
    yes_toggle: "#employment-details-container, #hours-per-week",
    no_toggle: "#stop-working-container"
  }) %>

  <%- include(forms+"text", {
    label: "Name of current employer",
    modifiers: ["hidden"],
    id: "employment-details"
  }) %>

  <div class="form-group" id="hours-per-week" hidden>
      <label class="uikit-text-input__label" for="hours-worked">Average hours worked per week
      </label>
      <input class="uikit-text-input yyyy" type="number" maxlength="3" aria-label="3 digit hours"><span>&nbsp; hours per week</span>
  </div>

  <%- include(forms+"yes_no", {
    label: "Did you stop work because of your condition?",
    modifiers: ["hidden"],
    id: "stop-working",
    yes_toggle: "#when-stop-working-container",
    no_toggle: "#save-and-next"
  }) %>

  <%- include(forms+"date", {
    label: "Approximately when did you stop working?",
    id: "when-stop-working",
    modifiers: ["noDay", "hidden"]
  }) %>


  <p id="save-and-next" hidden>Choose <b>Save and next</b> to continue your claim.</p>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/afi/afi2"
      },
      {
        text: "Cancel claim",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        link: "/auth/claim/afi/afi4",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>
