<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Relationship status",
  progress: {
    activeItem: 2,
      points: [
      {
        text: "Claim details",
        link: "/auth/claim/cshc/a-01"
      },
      {
          text: "Relationship status",
          link: "/auth/claim/cshc/a-02"
        },
        {
          text: "Dependent children",
          link: "/auth/claim/cshc/a-03"
        },
        {
          text: "Residency",
          link: "/auth/claim/cshc/a-04"
        },
        {
          text: "Claim representative",
          link: "/auth/claim/cshc/a-05"
        },
        {
          text: "Payment details",
          link: "/auth/claim/cshc/a-06"
        },
      ]
    }
}) %>

<div id="non-veteran" hidden>

<h3>Tell us about the veteran</h3>
To be eligible for a Commonwealth Seniors Health Card we need to establish your relationship to a veteran with qualifying service. 
<hr>

<%- include(forms+"prepop/ranktitlelist-dropdown", {
  label: "Title"
}) %>

<%- include(forms+"text", {
  label: "Given name",
  hint: "(first name)"
}) %>

<%- include(forms+"text", {
  label: "Surname",
  hint: "(last name)"
}) %>

<%- include(forms+"yes_no", {
  label: "Has this person ever been known by any other names?",
  hint: "(e.g. name at birth, maiden name, previous married name)",
  customClass: "previous-names-q"
}) %>

<%- include(forms+"previous-names", {
  modifiers: ["hidden"],
  customClass: "previous-names"
}) %>


<%- include(forms+"date", {
  label: "Date of birth"
}) %>

<%- include(forms+"prepop/gender") %>

<%#- include(forms+"text", {
  label: "File number",
  hint: "(optional)"
}) %>

<%#- include(forms+"text", {
  label: "Service number",
  hint: "(optional)"
}) %>


<%#- include(forms+"text", {
  label: "PMKeyS number",
  hint: "(optional)"
}) %>

<%- include(forms+"radio", {
  label: "What is your current relationship with John Smith?",
  id: "known--veteran-relationship",
  boxes: [
    "Married",
    "De facto",
    {
      text: "Separated",
      hint: "(while still legally married)"
    },
    "Divorced",
    "Widowed"
  ]
}) %>

<%- include("state-switcher/a-02--partial-divorce-block") %>

<%- include(forms+"date", {
  customClass: "de-facto--living-together",
  modifiers: ["hidden"],
  label: "Date commenced living together"
}) %>

<%- include(forms+"date", {
  label: "Date of veterans' death",
  modifiers: ["hidden"],
  customClass: "date-of-death"
}) %>

<%- include(forms+"date", {
  customClass: "married--married-date",
  modifiers: ["hidden"],
  label: "Date of marriage"
}) %>

<%- include(forms+"date", {
  customClass: "separation--date-separated",
  modifiers: ["hidden"],
  label: "Date of separation"
}) %>


<%- include(partials+"components/form-partials/yes_no", {
  label: "Are you currently in a new relationship and living together?",
  id: "current",
  yes_toggle: "#partner-questions",
  no_toggle: "#save-next",
  modifiers: ["hidden"]
}); %>

</div>

<div id="partner-questions" hidden>

      <%- include(forms+"radio", {
        label: "What is your new relationship status?",
        id: "unknown--noqs--new-relationship-status",
        boxes: [
          {
            text: "Married",
            toggle: ".de-facto--living-together11"
          },
          {
            text: "De facto",
            toggle: ".married--married-date11"
          }
        ]
      }) %>

        <%- include(forms+"date", {
          customClass: "de-facto--living-together",
          modifiers: ["hidden"],
          label: "Date commenced living together"
        }) %>

        <%- include(forms+"date", {
          customClass: "married--married-date",
          modifiers: ["hidden"],
          label: "Date of marriage"
        }) %>

        <%- include("state-switcher/a-02--partial-non-veteran-details") %>

</div>

<div id="current-partner-questions" hidden>
  <%- include("state-switcher/a-02--partial-veteran-details") %>
</div>



<p id="save-next" hidden>Choose <b>save and next</b> to continue</p>
<p id="save-next-2" hidden>Choose <b>save and next</b> to continue</p>

<%- include(forms+"pagination", {
    pagination: [
      {
        link: "/auth/claim/cshc/a-01",
        text: "Previous"
      },
      {
        link: "#claim-cancel-modal",
        text: "Cancel claim"
      },
      {
        link: "/auth/claim",
        text: "Save and exit",
        modifiers: ["floated"]
      },
      {
        link: "/auth/claim/cshc/a-03",
        text: "Save and next",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>
  


<%- include("state-switcher") %>
<%- include(forms+"modals/claim-cancel") %>

<script>

$("#known--veteran-relationship-container").on("change", "input", function() {
  $("#state--known .divorce-blocker").hide();
      unblock();
      $(".save-next").hide();
      $(".current-relationship").hide();
      $(".current-relationship").trigger("reset");

      if ($("#known--veteran-relationship-container :checked").val() === "widowed") {
        $(".known--widowed-hide").hide();
      } else {
        $(".known--widowed-hide").show();
      }
      
      $(".date-of-death").hide();
      $(".separation--date-separated").hide()
      $(".married--married-date").hide();
      $(".de-facto--living-together").hide();
      $(".divorce-blocker").hide();
      $("#partner-questions").hide();
      $("#current-container").hide();
      $("#current-partner-questions").hide();
 switch ($("#known--veteran-relationship-container :checked").val()) {
        case "divorced":
          $(".divorce-blocker").show();
          block();
          break;
        case "married":
          $(".married--married-date").show();
          $("#current-partner-questions").show();
          break;
        case "defacto":
          $(".de-facto--living-together").show();
          $("#current-partner-questions").show();
          break;
        case "separated":
          $(".separation--date-separated").show();
          $("#current-container").show();
          // $("#partner-questions").show();
          break;
        case "widowed":
          $(".date-of-death").show();
          $("#current-container").show();
          // $("#partner-questions").show();
          break;
      }
    })
 
  updateContent();
  // page state related logic
  function updateContent() {
    hideAll();
    var myUser = sessionStorage.getItem('CSHC-flow');
    if ( myUser == null ) { sessionStorage.setItem('CSHC-flow',"Non Veteran"); }
    switch ( myUser ) {
      case "Veteran with QS":
        console.log('Veteran with QS');
        break;
      case "Veteran without QS":
        console.log('Veteran without QS');
        break;
      case "Non Veteran":
        $("#non-veteran").show();
        console.log('Non Veteran');
        break;
      case "War Widow":
      console.log('War Widow');
        break;
      case "Veteran with QS":
        break;
      default:
        break;
    }
  };

  function block() {
    $(".pagination a").attr("disabled", "true");
    $("#btnCancel").removeAttr("disabled");
  }

  function unblock() {
    $(".pagination a").removeAttr("disabled");
  }

  function hideAll(){
    $("#non-veteran").hide();
  }

</script>

<%- include(templates+"footer") %>