<div id="no-prep-pop">
  <h3>Tell us about the veteran</h3>
  To be eligible for a Commonwealth Seniors Health Card we need to establish your relationship to a veteran with
  qualifying service.
  <hr>

  <%- include(forms+"prepop/ranktitlelist-dropdown", {
  label: "Title"
}) %>

  <%- include(forms+"text", {
  label: "Given name",
  hint: "(first name)"
}) %>

  <%- include(forms+"text", {
  label: "Surname",
  hint: "(last name)"
}) %>

  <%- include(forms+"yes_no", {
label: "Has your partner ever been known by any other names?",
hint: "For example: name at birth, maiden name, previous married name",
yes_toggle: "#previous-names-1-container",
modifiers: ["hintNewLine"]
}) %>

  <%- include(forms+"previous-names", {
modifiers: ["hidden"],
id: "previous-names-1"
}) %>


  <%- include(forms+"date", {
  label: "Date of birth"
}) %>

  <%- include(forms+"notice", {
message: `<p>You need to provide a copy of your partners birth certificate in the documents section.</p>`,
}) %>

  <%- include(forms+"prepop/gender") %>

  <%#- include(forms+"text", {
  label: "File number",
  hint: "(optional)"
}) %>

  <%#- include(forms+"text", {
  label: "Service number",
  hint: "(optional)"
}) %>


  <%#- include(forms+"text", {
  label: "PMKeyS number",
  hint: "(optional)"
}) %>

  <%- include(forms+"radio", {
  label: "What is your current relationship to the Veteran?",
  id: "known--veteran-relationship",
  boxes: [
    "Married",
    "De facto",
    {
      text: "Separated",
      hint: "(while still legally married)"
    },
    "Divorced",
    "Widowed"
  ]
}) %>

  <%- include("state-switcher/a-02--partial-divorce-block") %>

  <%- include(forms+"date", {
  customClass: "de-facto--living-together",
  modifiers: ["hidden"],
  label: "Date commenced living together"
}) %>

  <%- include(forms+"date", {
  label: "Date of veterans' death",
  modifiers: ["hidden"],
  customClass: "date-of-death"
}) %>

  <%- include(forms+"date", {
    customClass: "married--married-date",
    modifiers: ["hidden"],
    label: "Date of marriage"
  }) %>

  <%- include(forms+"notice", {
  message: `<p>You will need to attach a copy of your marriage certificate in the documents section at the end of your claim.</p>`,
  customClass: "rel--married-non-vet",
  modifiers: ["hidden"]
}) %>



  <%- include(forms+"date", {
  customClass: "separation--date-separated",
  modifiers: ["hidden"],
  label: "Date of separation"
}) %>

</div>

<%- include(partials+"components/form-partials/yes_no", {
label: "Are you currently in a new relationship and living together?",
id: "current",
yes_toggle: "#partner-questions",
no_toggle: "#save-next",
modifiers: ["hidden"]
}); %>

</div>