<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Residency",
  progress: {
    activeItem: 4,
      points: [
      {
        text: "Claim details",
        link: "/auth/claim/cshc/a-01"
      },
      {
          text: "Relationship status",
          link: "/auth/claim/cshc/a-02"
        },
        {
          text: "Dependent children",
          link: "/auth/claim/cshc/a-03"
        },
        {
          text: "Residency",
          link: "/auth/claim/cshc/a-04"
        },
        {
          text: "Claim representative",
          link: "/auth/claim/cshc/a-05"
        },
        {
          text: "Payment details",
          link: "/auth/claim/cshc/a-06"
        },
      ]
    }
}) %>

<h3 class="couple" hidden>Your residency</h3>

<%- include(forms+"yes_no", {
    label: "Are you an Australian citizen?",
    id: "aus-citizen",
    yes_toggle: "#is-citizen",
    no_toggle: "#not-citizen"
  }) %>

<form id="is-citizen" hidden>
  <%- include(forms+"yes_no", {
      label: "Were you born in Australia?",
      id: "citizen-born-australia",
      yes_toggle: "#save-next-single",
      no_toggle: "#citizen-country-birth-container, #citizen-start-date-container"
    }) %>

  <%- include(forms+"prepop/country-dropdown", {
      label: "What is your country of birth?",
      id: "citizen-country-birth",
      modifiers: ["hidden"]
    }) %>

  <%- include(forms+"date", {
      label: "Citizenship start date",
      id: "citizen-start-date",
      modifiers: ["hidden"]
    }) %>
</form>

<form id="not-citizen" hidden>
  <%- include(forms+"radio", {
      label: "Are you:",
      id: "visa-status",
      all_toggle: "#visa",
      boxes: [
        "The holder of a permanent visa",
        "The holder of a special purpose visa",
        "The holder of a special category visa"
      ]
    }) %>

  <div id="visa" hidden>

    <%- include(forms+"date", {
        label: "Visa grant date"
      }) %>

    <%- include(forms+"notice", {
        message: `<p>You will need to provide a copy of your current visa or special category visa.</p>
        <p>You can attach this document at the end of your claim.</p>`
      }) %>

  </div>
</form>

<div class="couple" hidden>

  <h2 class="margin-above--large"><span class="font-weight-heavy">Partner residency</span></h2>

  <%- include(forms+"yes_no", {
    label: "Is your partner an Australian citizen?",
    id: "partner-aus-citizen",
    yes_toggle: "#partner-is-citizen",
    no_toggle: "#partner-not-citizen"
  }) %>

  <form id="partner-is-citizen" hidden>
    <%- include(forms+"yes_no", {
      label: "Was your partner born in Australia?",
      id: "partner-citizen-born-australia",
      yes_toggle: "#save-next-couple",
      no_toggle: "#partner-citizen-country-birth-container, #partner-citizen-start-date-container"
    }) %>

    <%- include(forms+"prepop/country-dropdown", {
      label: "What is your partner's country of birth?",
      id: "partner-citizen-country-birth",
      modifiers: ["hidden"]
    }) %>

    <%- include(forms+"date", {
      label: "Partner's citizenship start date",
      id: "partner-citizen-start-date",
      modifiers: ["hidden"]
    }) %>
  </form>

  <form id="partner-not-citizen" hidden>
    <%- include(forms+"radio", {
      label: "Is your partner:",
      id: "partner-visa-status",
      all_toggle: "#partner-visa",
      boxes: [
        "The holder of a permanent visa",
        "The holder of a special purpose visa",
        "The holder of a special category visa"
      ]
    }) %>

    <div id="partner-visa" hidden>

      <%- include(forms+"date", {
          label: "Visa grant date"
        }) %>

      <%- include(forms+"notice", {
        message: `<p>You will need to provide a copy of your partner's current visa or special category visa.</p>
        <p>You can attach this document at the end of your claim.</p>`
      }) %>

    </div>
  </form>

</div>

<p id="save-next" hidden>Choose <b>save and next</b> to continue</p>



<%- include(forms+"pagination", {
    pagination: [
      {
        link: "/auth/claim/cshc/a-03",
        text: "Previous"
      },
      {
        link: "#claim-cancel-modal",
        text: "Cancel claim"
      },
      {
        link: "/auth/claim",
        text: "Save and exit",
        modifiers: ["floated"]
      },
      {
        link: "/auth/claim/cshc/a-05",
        text: "Save and next",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(forms+"modals/claim-cancel") %>

<%- include("state-switcher") %>

<script>
  $("#aus-citizen-container").on("change", "input", function () {
    $("#save-next").hide();
    $("#is-citizen").trigger("reset");
    $("#not-citizen").trigger("reset");

    $("#citizen-country-birth-container").hide();
    $("#citizen-start-date-container").hide();

    $("#refugee-start-date-container").hide();
    $("#visa-details").hide();


  })

  $("#citizen-born-australia-container").on("change", "input", function () {
    $("#save-next").hide();
    if (sessionStorage.getItem('cshc-relationship-status') == "Single") {
      $("#save-next").show();
    }
  })

  $("#not-citizen, #is-citizen").on("submit", function (e) {
    e.preventDefault();
  })


  $("#partner-aus-citizen-container").on("change", "input", function () {
    $("#save-next").hide();
    $("#partner-is-citizen").trigger("reset");
    $("#partner-not-citizen").trigger("reset");

    $("#partner-citizen-country-birth-container").hide();
    $("#partner-citizen-start-date-container").hide();

    $("#partner-refugee-start-date-container").hide();
    $("#partner-visa-details").hide();


  })

  $("#partner-citizen-born-australia-container").on("change", "input", function () {
    $("#save-next").show();
  })

  $("#partner-not-citizen, #partner-is-citizen").on("submit", function (e) {
    e.preventDefault();
  })

</script>

<%- include(templates+"footer") %>