<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Account based pensions",
}) %>

<p>If you <span class='couple'>and/or your partner</span> own an account-based pension, income may be deemed on the current account balance of the pension and added to the income amounts you have declared above to determine whether you are entitled to a Commonwealth Seniors Health Card.</p>

    </p>
  <!-- For more information on deemed income please see <a href="https://www.dva.gov.au/factsheet-is89-deeming-and-financial-assets" rel="external" target="_blank">Factsheet IS89 - Deeming and Financial Assets</a>.</p> -->

    <hr>

    <%#- include(forms+"yes_no", {
      label: "Do you <span class='couple'> and/or your partner</span> receive income from an account-based pension?",
      id: "pension-q",
      yes_toggle: "#accountpensions-container",
      no_toggle: "#save-next"
    }) %>

    <p>Add account-based pensions you <span class="couple">and/or your partner</span> receive income from or choose <b>save and next</b> to continue.<%- include(components+"tooltip", {
      content: "<p>An account based pension (also known as an allocated pension or transition to retirement pension):<ul><li>is a flexible retirement income stream product purchased with superannuation money,</li><li>requires you to draw a minimum pension payment amount each year or you can elect to draw an amount of pensionpayment above the required minimum amount,</li><li>gives you access to withdraw some or all of the account balance,</li><li>may be purchased from a financial provider or paid from a Self Managed Superannuation Fund (SMSF) or Small APRAFund (SAF),</li><li>is tax free from age 60.</li></ul>",
      screenreaderText: "something"
    }) %>
  </p>
 

  <!-- <p id="save-next" hidden>Choose <b>save and next</b> to continue</p> -->

  <%- include(forms+"editable-box", {
    heading: "Account-based pensions",
    customClass: "margin-below--extra",
    descriptions: "Please provide details below.",
    icon: "fa-envelope-open-dollar",
    buttonText: "Add account-based pension",
    id: "accountpensions",
    addAnotherText: "Add another account-based pension",
    form: [
      {
        type: "button_radio",
        displayName: "Paid to",
        label: "Paid to:",
        boxes: [
          "You",
          "Partner"
        ]
      },
      {
        type: "text",
        displayName: "Pension provider",
        label: "Pension provider / SMSF / SAF"
      },
      {
        type: "date",
        displayName: "Start date",
        label: "Start date"
      },
      {
        type: "text",
        displayName: "Pension reference number",
        label: "Pension reference number"
      }
    ]
  }) %>


  <%- include(forms+"pagination", {
    pagination: [
      {
        link: "/auth/claim/cshc/b-02",
        text: "Previous"
      },
      {
        link: "#claim-cancel-modal",
        text: "Cancel claim"
      },
      {
        link: "/auth/claim",
        text: "Save and exit",
        modifiers: ["floated"]
      },
      {
        link: "/auth/claim/cshc/prog-03",
        text: "Save and next",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(forms+"modals/claim-cancel") %>

<%- include(templates+"footer") %>

<%- include("state-switcher") %>