<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Partner's Proof of ID"
}) %>
  
  <h2>We need some documents to confirm your partner's identity</h2>
  <p>There are three <a href="https://www.dva.gov.au/factsheet-dva06-proof-identity-requirements" rel="external">categories of documents</a> you can use to prove your identity.</p>

  <%- include(forms+"dropdown", {
    label: "Category A",
    hint: "One document is required to show proof of birth in AUstralia or arrival in Australia.",
    modifiers: ["hintNewLine"],
    options: [
      "Australian passport",
      "Australian birth certificate",
      "Foreign passport and current Australian visa",
      "ImmiCard",
      "Australian citizenship certificate"
    ]
  }) %>

  <div id="dropdown">

    <%- include(forms+"dropdown", {
      label: "Category B - Document 1",
      hint: "Two documents are required to show evidence of your identity",
      modifiers: ["hintNewLine"],
      options: [
        "Australian driver's license",
        "Medicare card",
        "Credit or bank account card",
        "Australian marriage ertificate"
      ]
    }) %>
    
    <%- include(forms+"dropdown", {
      label: "Category B - Document 2",
      hint: "Two documents are required to show evidence of your identity",
      modifiers: ["hintNewLine"],
      options: [
        "Australian driver's license",
        "Medicare card",
        "Credit or bank account card",
        "Australian marriage ertificate"
      ]
    }) %>
    
  </div>

  <div id="checkbox" hidden>

    <%- include(forms+"checkbox", {
      label: "Category B",
      hint: "Two documents are required to show evidence of your identity",
      modifiers: ["hintNewLine"],
      boxes: [
        "Australian driver's license",
        "Medicare card",
        "Credit or bank account card",
        "Australian marriage ertificate"
      ]
    }) %>
    
  </div>

  <%- include(forms+"radio", {
    label: "Category C",
    hint: "(optional - only required if A or B does not show current residential address)<br>A document showing your current residential address",
    boxes: [
      "Utilities notice",
      "Rent details",
      "Nursing home or residential acre facility that provides evidence of residence"
    ]
  }) %>

  <%- include(forms+"pagination", {
    pagination: [
      {
        link: "/auth/claim/cshc/prog-03",
        text: "Previous"
      },
      {
        link: "#claim-cancel-modal",
        text: "Cancel claim"
      },
      {
        link: "/auth/claim",
        text: "Save and exit",
        modifiers: ["floated"]
      },
      {
        link: "/auth/claim/cshc/c-02",
        text: "Save and next",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(forms+"modals/claim-cancel") %>

<%- include(templates+"footer") %>


<%- include("state-switcher") %>

<script>
 if (sessionStorage.getItem('cshc-relationship-status') == "Single") {
    $("#partnered").hide();
    $("#single").show();
  } else {
    $("#partnered").show();
    $("#single").hide();
  }

  $(document).keypress(function (e) {
    switch (e.which) {
      case 49: // 1
      case 97:
        $("#checkbox").show();
        $("#dropdown").hide();
        break;
      case 50: // 2
      case 98:
        $("#checkbox").hide();
        $("#dropdown").show();
        break;
    }
  });

</script>