<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Partner's Proof of ID"
}) %>

  <style>
    .checkbox--show-more {
      position: relative;
      left: -0.7rem;
      color: #313131;
      top: -.5rem;
      font-size: 0.9rem;
      border-bottom: 1px solid #1B7991;
    }
  </style>
  
  <h2>We need some documents to confirm your partner's identity</h2>
  <p>There are three <a href="https://www.dva.gov.au/factsheet-dva06-proof-identity-requirements" rel="external">categories of documents</a> you can use to prove your identity.</p>

  <%- include(forms+"radio", {
    label: "Category A",
    id: "cata",
    hint: "One document is required to show proof of birth in Australia or arrival in Australia.",
    modifiers: ["hintNewLine"],
    boxes: [
      "Australian birth certificate",
      "Australian passport",
      "Certificate of evidence of residence status",
      "Citizenship certificate",
      "Foreign passport and current Australian Visa",
      "Record of immigration status",
      "Residency document"
    ]
  }) %>

  <%- include(forms+"checkbox", {
    label: "Category B",
    hint: "Two documents are required to show evidence of your identity",
    id: "catb",
    modifiers: ["hintNewLine"],
    boxes: [
      "Australian Defence Force (ADF) ID card",
      "Australian driver’s licence",
      "Australian marriage certificate",
      "Ceremonial marriage certificate (Issued by a marriage celebrant on the day of marriage)",
      "Change of name certificate",
      "Credit or bank account card",
      "DVA Health card",
      "Firearms licence ",
      "Tertiary identification card"
    ]
  }) %>

  <%- include(forms+"radio", {
    label: "Category C",
    hint: "(optional - only required if A or B does not show current residential address)<br>A document showing your current residential address",
    boxes: [
      "Utilities notice",
      "Rent details",
      "Nursing home or residential care facility"
    ]
  }) %>

  <%- include(forms+"pagination", {
    pagination: [
      {
        link: "/auth/claim/cshc/prog-03",
        text: "Previous"
      },
      {
        link: "#claim-cancel-modal",
        text: "Cancel claim"
      },
      {
        link: "/auth/claim",
        text: "Save and exit",
        modifiers: ["floated"]
      },
      {
        link: "/auth/claim/cshc/c-02",
        text: "Save and next",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(forms+"modals/claim-cancel") %>

<%- include("state-switcher") %>

<script>

  $(document).ready(function() {
    $("#catb-container fieldset :nth-child(n+6), #cata-container fieldset :nth-child(n+6)").hide();
    $("#catb-container fieldset, #cata-container fieldset").append(`
      <button class="checkbox--show-more repeatable-block__btn--remove"><i class="fal fa-chevron-down"></i> See more options</button>
    `)

    $(".form-group").on("click", ".checkbox--show-more", function() {
      if ($(this).text().trim() === "See more options") {
        $(this).parent().children().show();
        $(this).html(`<i class="fal fa-chevron-up"></i> See less options`)
      } else {
        if ($(this).parent().find("> :not(:nth-child(-n+3)) :checked").length) {
          var insertAfter = $(this).parent().find("input").first().attr("type") === "checkbox" ? "> :nth-child(3)" : "> :nth-child(4)";
          $(this).parent().find(":checked").closest(".uiToolKitCheckBox").detach().insertAfter($(this).parent().find(insertAfter))
        }
        $(this).parent().find("> :nth-child(n+6)").hide();
        $(this).show();
        $(this).html(`<i class="fal fa-chevron-down"></i> See more options`);
      }
    })
  })

  $("#catb-container").on("change", "input", function() {
    if ($("#catb-container :checked").length > 1) {
      $("#catb-container input:not(:checked)").prop("disabled", true);
    } else {
      $("#catb-container input").prop("disabled", false);
    }

    if ($("#catb-container :checked").val() === "australianpassport") {
      $(`#cata-container input[value="australianpassport"]`).closest(".uiToolKitCheckBox").addClass("display-none");
    } else {
      $(`#cata-container input[value="australianpassport"]`).closest(".uiToolKitCheckBox").removeClass("display-none");
    }
  })

  $("#cata-container").on("change", "input", function() {
    if ($("#cata-container").find(":checked").val() === "australianpassport") {
      $(`#catb-container input[value="australianpassport"`).closest(".uiToolKitCheckBox").remove();
    } else {
      if (!$("#catb-passport").length) {
        var checkboxAppend = `<%- generateCheckRadio({
          text: "Australian Passport",
          boxID: `catb-passport`,
          baseID: `catb-passport`,
          value: "australianpassport",
          suppliedID: true,
          modifiers: [],
          type: "checkbox"
        }).html %>`
        
        $(checkboxAppend).insertBefore("#catb-container .checkbox--show-more");
        if ($("#catb-container").find(".checkbox--show-more").text().trim() === "See more options") {
          $("#catb-passport").closest(".uiToolKitCheckBox").hide();
        } else {
          $("#catb-passport").closest(".uiToolKitCheckBox").show();
        }

      }
    }
  })

  $(document).keypress(function (e) {
    switch (e.which) {
      case 49: // 1
      case 97:
        $("#checkbox").show();
        $("#dropdown").hide();
        break;
      case 50: // 2
      case 98:
        $("#checkbox").hide();
        $("#dropdown").show();
        break;
    }
  });

</script>

<%- include(templates+"footer") %>