<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Partner's Proof of ID"
}) %>
  
  <h2>We need some documents to confirm your partner's identity</h2>
  <p>There are three <a href="https://www.dva.gov.au/factsheet-dva06-proof-identity-requirements" rel="external">categories of documents</a> you can use to prove your identity.</p>

  <%- include(forms+"dropdown", {
    label: "Category A",
    id: "cata",
    hint: "One document is required to show proof of birth in Australia or arrival in Australia.",
    modifiers: ["hintNewLine"],
    options: [
        "-- Select a document --",
      "Australian birth certificate",
      "Australian passport",
      "Certificate of evidence of residence status",
      "Citizenship certificate",
      "Foreign passport and current Australian Visa",
      "Record of immigration status",
      "Residency document"
    ]
  }) %>

  <div id="dropdown">

    <%- include(forms+"dropdown", {
      label: "Category B",
      hint: "(Document 1)",
      id: "catb-1",
      options: [
        "-- Select a document --",
        "Australian Defence Force (ADF) ID card",
        "Australian driver’s licence",
        "Australian marriage certificate",
        "Ceremonial marriage certificate (Issued by a marriage celebrant on the day of marriage)",
        "Change of name certificate",
        "Credit or bank account card",
        "DVA Health card",
        "Firearms licence ",
        "Tertiary identification card"
      ]
    }) %>
    
    <%- include(forms+"dropdown", {
      label: "Category B",
      id: "catb-2",
      hint: "(Document 2)",
      options: [
      ]
    }) %>
    
  </div>

  <div id="checkbox" hidden>

    <%- include(forms+"checkbox", {
      label: "Category B",
      hint: "Two documents are required to show evidence of your identity",
      modifiers: ["hintNewLine"],
      boxes: [
        "Australian driver's license",
        "Medicare card",
        "Credit or bank account card",
        "Australian marriage certificate"
      ]
    }) %>
    
  </div>

  <%- include(forms+"radio", {
    label: "Category C",
    hint: "(optional - only required if A or B does not show current residential address)<br>A document showing your current residential address",
    boxes: [
      "Utilities notice",
      "Rent details",
      "Nursing home or residential care facility"
    ]
  }) %>

  <%- include(forms+"pagination", {
    pagination: [
      {
        link: "/auth/claim/cshc/prog-03",
        text: "Previous"
      },
      {
        link: "#claim-cancel-modal",
        text: "Cancel claim"
      },
      {
        link: "/auth/claim",
        text: "Save and exit",
        modifiers: ["floated"]
      },
      {
        link: "/auth/claim/cshc/c-02",
        text: "Save and next",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(forms+"modals/claim-cancel") %>

<%- include(templates+"footer") %>


<%- include("state-switcher") %>

<script>

  $("#catb-1").on("change", function() {
    if ($("#catb-1 :selected").val() !== "australianpassport") {
      $("#catb-2").append(`<option value="australianpassport">Australian passport</option>`);
    }

    if ($("#catb-1 option").first().prop("selected")) {
      $("#catb-2 option").show()
    } else {
      $(`#catb-2 option[value="${$("#catb-1 :selected").val()}"]`).prop("selected", false).hide();
      $(`#catb-2 option:not([value="${$("#catb-1 :selected").val()}"])`).show();
    }
  })

  $("#catb-2").on("change", function() {
    if ($("#catb-2 option").first().prop("selected")) {
      $("#catb-1 option").show()
    } else {
      $(`#catb-1 option[value="${$("#catb-2 :selected").val()}"]`).prop("selected", false).hide();
      $(`#catb-1 option:not([value="${$("#catb-2 :selected").val()}"])`).show();
    }
  })

  $(document).ready(function() {
    $("#catb-2").append($("#catb-1").html())
  })

  $("#cata").on("change", function() {
    if ($(this).find(":selected").val() === "australianpassport") {
      $(`#catb-1 option[value="australianpassport"`).remove();
      $(`#catb-2 option[value="australianpassport"`).remove();
    } else {
      $("#catb-1").append(`<option value="australianpassport">Australian passport</option>`);
    }
  })

  $(document).keypress(function (e) {
    switch (e.which) {
      case 49: // 1
      case 97:
        $("#checkbox").show();
        $("#dropdown").hide();
        break;
      case 50: // 2
      case 98:
        $("#checkbox").hide();
        $("#dropdown").show();
        break;
    }
  });

</script>