<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Required documents"
}) %>
  
  <div id="partnered" hidden>
    <%- include(forms+"legacy-upload", {
      docs: [
        {
          "title": "Partner's Australian passport",
          "description": "Current passport issued in your partner's name."
        },
        {
          title: "Partner's Australian birth certificate",
          description: ""    
        },
        {
          "title": "Partner's citizenship certificate",
          "description": "Your partner's Australian citizenship certificate."
        },
        {
          "title": "Partner's foreign passport and current Australian Visa",
          "description": "Your partner valid passport and government-issued visa showing their ability to stay in Australia."
        },
        {
          "title": "Partner's residency document",
          "description": "Your partner's government-issued visa showing their ability to stay in Australia."
        },
        {
          "title": "Partner's certificate of evidence of residence status",
          "description": ""
        },
        {
          "title": "Partner's record of immigration status",
          "description": ""
        },
        {
          "title": "Partners Australian driver’s licence (Current licence with their name & photo. We can accept current learner permit and provisional licence.)",
          "description": "Current licence with their name & photo. We can accept current learner permit and provisional licence."
        },
        {
          "title": "Partner's credit or bank account card",
          "description": ""
        },
        {
          "title": "Australian marriage certificate",
          "description": ""
        },
        {
          "title": "Ceremonial marriage certificate (Issued by a marriage celebrant on the day of marriage)",
          "description": "A document  given to you by your registered celebrant on the day of marriage."
        },
        {
          "title": "Partner's Australian Defence Force (ADF) ID card",
          "description": "Your partner's Australian Defence Force (ADF) identification card"
        },
        {
          "title": "Partner's change of name certificate",
          "description": "Your partner's change of name certificated issued by the state/territory government."
        },
        {
          "title": "Partner's firearms licence",
          "description": "Your partner's firearms licence issued by the state/territory government."
        },
        {
          "title": "Partner's DVA Health card",
          "description": "Your partner's DVA issued health care cards. For example, the Gold or White or Orange Card."
        },
        {
          "title": "Partner's tertiary identification card",
          "description": ""
        },
        {
          "title": "Utilities notice",
          "description": ""
        },
        {
          "title": "Rent details",
          "description": ""
        },
        {
          "title": "Nursing home or residential care facility",
          "description": ""
        },
        {
          title: "Your tax return",
          description: "<Financial year selected>  income tax return statement detailing your earnings and deductions submitted to the ATO."
        },
        {
          title: "Your partner's tax return",
          description: "<Financial year selected>  income tax return statement detailing your partner's earnings and deductions submitted to the ATO."
        },
        {
          title: "Your pay summary",
          description: "<Financial year selected> statement from your employer detailing your wages earned and the amount of tax paid. "
        },
        {
          title: "Your partner's pay summary",
          description: "<Financial year selected> statement from your partner's employer detailing your wages earned and the amount of tax paid. "
        },
        {
          title: "Your pension income stream",
          description: "A document detailing payments from superannuation issued by your income stream provider."
        },
        {
          title: "Your partner's pension income stream",
          description: "A document detailing payments from superannuation issued by your partner's income stream provider."
        },
        {
          title: "Your Tax Notice of Assessment",
          description: "<Financial year selected> document that lists your taxable income, the tax owed or refund entitled issued by ATO."
        },
        {
          title: "Partner's Tax Notice of Assessment",
          description: "<Financial year selected> document that lists your partner's taxable income, the tax owed or refund entitled issued by ATO."
        }
      ]
    }) %>
  </div>

  <div id="single" hidden>
    <%- include(forms+"legacy-upload", {
      docs: [
        {
          title: "Your Tax Notice of Assessment",
          description: "<Financial year selected> document that lists your taxable income, the tax owed or refund entitled issued by ATO."
        },
        {
          title: "Account-based pensions",
          description: ""
        },
        {
          title: "Your pension income stream",
          description: "A document detailing payments from superannuation issued by your income stream provider."
        },
        {
          title: "Your pay summary",
          description: "<Financial year selected> statement from your employer detailing your wages earned and the amount of tax paid. "
        },
        {
          title: "Your tax return",
          description: "<Financial year selected>  income tax return statement detailing your earnings and deductions submitted to the ATO."
        },
        {
          title: "Foreign income",
          description: "Supporting documents, for example, foreign tax assessments, your bank statements and/or certificates"
        },



      ]
    }) %>
  </div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        link: "/auth/claim/cshc/c-01",
        text: "Previous"
      },
      {
        link: "#claim-cancel-modal",
        text: "Cancel claim"
      },
      {
        link: "/auth/claim",
        text: "Save and exit",
        modifiers: ["floated"]
      },
      {
        link: "/auth/claim/cshc/prog-04",
        text: "Save and next",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(forms+"modals/claim-cancel") %>

<%- include(templates+"footer") %>


<%- include("state-switcher") %>

<script>
  function stateSwitcher() {
    if (sessionStorage.getItem('cshc-relationship-status') == "Single") {
      $("#partnered").hide();
      $("#single").show();
    } else {
      $("#partnered").show();
      $("#single").hide();
    }
  }

</script>