<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Commonwealth Seniors Health Card"
}) %>

<%- include(components+"form-partials/progress-simple", { percent: 5 }) %>
5% complete

<p class="margin-above margin-below--large"><b>Hi Alex, tell us something</b></p>

<%- include(components+"form-partials/progress-multi", {
  activeItem: 1,
  points: [
    {
      link: "/auth/claim/cshc/cshc-02",
      text: "Claims details",
      subtext: "Tell us how your work has been affected."
    },
    {
      link: "/auth/claim/incap/b-2",
      text: "Income & account-based pensions",
      subtext: "Tell us more about your circumstances."
    },
    {
      link: "/auth/claim/incap/c-1",
      text: "Required documents",
      subtext: "Upload supporting documents for your claim."
    }
  ],
  customClass: "margin-below--extra"
  }) %>

  <%- include(forms+"pagination", {
    pagination: [
      
      {
        text: "Cancel application",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth",
        modifiers: ["floated"]
      },
      {
        text: "Review and submit",
        link: "/auth/claim/dhoas/asc2",
        modifiers: ["floated", "primary", "disabled"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>