<!-- Summary card -->
<div id="dependant-summary" class="plain-text-info margin-below--large" style="display:none;">
  <div class="review__wrapper">
    <div class="review__content--item boxed row">
      <div class="review__content--label col-sm-10">
        <h2 class="margin-above--none">
          <span class="fal fa-user-astronaut fa-icons"></span>&nbsp;&nbsp;<span class="font-weight-heavy">Terrence Braithwaite</span></h2>
        <!-- <div class="key-value-group margin-above">
          <div class="key">
            <h4>Given name</h4>
          </div>
          <div class="value">Terrence</div>
        </div> -->
        <!-- <div class="key-value-group margin-above">
          <div class="key">
            <h4>Surname</h4>
          </div>
          <div class="value">Braithwaite</div>
        </div> -->
      </div>
      <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" onClick="editCard('dependant');">&nbsp;Edit&nbsp;</button>
      </div>
    </div>
  </div>
</div>
<!-- Open card -->
<div id="dependant-card" class="boxed margin-above margin-below" style="display: none;">
  <div>
    <h2 class="margin-above--none" style="display: inline-block;">
      <span class="fal fa-user-astronaut fa-icons"></span>&nbsp;<span class="font-weight-heavy">Dependent child</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary
        small warning floated" onclick="removeSummary('dependant');">&nbsp;Delete item&nbsp;
    </button>
  </div>
  <div id="card-details" class="margin-below--large">
    <h4 class="margin-below--mid margin-above--none">Add children under 16 years of age and full time students under 25 years of age who are dependent on you.</h4>
    <hr>
    <form id="myForm">
        <%- include(partials+"components/form-partials/text", {
          label: "Given name",
          hint: "(first name)"
        }); %>
        <%- include(partials+"components/form-partials/text", {
          label: "Surname",
          hint: "(last name)"
        }); %>
        <%- include(partials+"components/form-partials/date", {
          label: "Date of birth",
          hint: "(dd / mm / yyyy)"
        }); %>
        <%- include(partials+"components/form-partials/yes_no", {
          label: "Does the child live with you?",
          no_toggle: "#child-address-container"
        }); %>
        <%- include(partials+"components/form-partials/prepop/address", {
          label: "Child's address",
          id: "child-address",
          modifiers: ["hidden"]
        }); %>
    </form>
  </div>
  <hr>
  <div id="buttonset2" class="form-group margin-above--none">
    <button id="addButton" class="uikit-btn" onclick="addSummary('dependant');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button
      class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>
