<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Commonwealth Seniors Health Card (CSHC)"
}) %>

  <%- include(forms+"progress-simple", { percent: 0, modifiers: ["claimPercentage"] }) %>

  <h3 class="margin-below--extra">Hi Arnold, tell us about your claim.</h3>

  <%- include(forms+"progress-multi", {
    activeItem: 5,
    points: [
      {
        text: "About your claim",
        link: "/auth/claim/cshc/a-01",
        subtext: "Tell us about your claim."
      },
      {
        text: "Claim details",
        link: "/auth/claim/cshc/b-01",
        subtext: "Tell us more about your circumstances."
      },
      {
        text: "Income & account-based pensions",
        link: "/auth/claim/cshc/c-01",
        subtext: "Tell us about your income and account-based pensions."
      },
      {
        text: "Required documents",
        link: "/auth/claim/cshc/d-01",
        subtext: "Upload supporting documents for your claim."
      }
    ]
  }) %>

  <%- include(forms+"pagination", {
    pagination: [
      {
        link: "/auth/claim/cshc/a-01",
        text: "Previous"
      },
      {
        link: "#claim-cancel-modal",
        text: "Cancel claim"
      },
      {
        link: "/auth/claim",
        text: "Save and exit",
      modifiers: ["floated"]
      },
      {
        link: "/auth/claim/cshc/a-02",
        text: "Save and next",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(forms+"modals/claim-cancel") %>

<%- include(templates+"footer") %>