<%

if (typeof id === "undefined") var id = formPartialsID("address");
if (typeof modifiers === "undefined") var modifiers = []; 
if (typeof modifiers === "string") modifiers = [modifiers]; 

%>


<fieldset
  <%- modifiers.includes("hidden") ? "hidden" : "" %>
  id="<%- id %>-container">

    <%- generateLabel({
        id,
        modifiers: modifiers.concat(["legend"]),
        label: typeof label !== "undefined" ? label : "Address",
        hint: typeof hint !== "undefined" ? hint : null,
        tooltip: typeof tooltip !== "undefined" ? tooltip : null
      }) %>

    <div class="form-group">
      <label for="<%- id %>-country" class="uikit-text-input__label">Country</label>
      <select name="<%- id %>-country" id="<%- id %>-country" class="uikit-text-input input-half">
        <option value="australia" selected>Australia</option>
        <option value="nz">New Zealand</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="<%- id %>-building" class="uikit-text-input__label">Building name or address prefix <span class="hint">optional</span></label>
      <input type="text" name="<%- id %>-building" id="<%- id %>-building" class="uikit-text-input">
    </div>
    
    <div class="form-group">
      <label for="<%- id %>-address-1" class="uikit-text-input__label">Address line 1</label>
      <input type="text" name="<%- id %>-address-1" id="<%- id %>-address-1" class="uikit-text-input">
    </div>
    
    <div class="form-group">
      <label for="<%- id %>-address-2" class="uikit-text-input__label">Address line 2 <span class="hint">optional</span></label>
      <input type="text" name="<%- id %>-address-2" id="<%- id %>-address-2" class="uikit-text-input">
    </div>
    
    <div class="form-group">
      <label for="<%- id %>-suburb" class="uikit-text-input__label">Suburb or town</label>
      <input type="text" name="<%- id %>-suburb" id="<%- id %>-suburb" class="uikit-text-input">
    </div>
    
    <div class="form-group" id="<%- id %>-postcode-wrapper">
      <label for="<%- id %>-postcode" class="uikit-text-input__label">Postcode</label>
      <input type="text" name="<%- id %>-postcode" id="<%- id %>-postcode" class="uikit-text-input input-small yyyy">
    </div>


</fieldset>

<script>
  $("#<%- id %>-country").on("change", function() {
    if ($(":selected", this).val() === "nz") {
      $("#<%- id %>-postcode-wrapper").hide();
    } else {
      $("#<%- id %>-postcode-wrapper").show();
    }
  })
</script>