<%

if (typeof id === "undefined") var id = formPartialsID("bankdetails");
if (typeof modifiers === "undefined") var modifiers = []; 
if (typeof modifiers === "string") modifiers = [modifiers]; 

%>


<fieldset
  class="<%- typeof customClass !== "undefined" ? (typeof customClass === "object" ? customClass.join(" ") : customClass) : "" %>"
  <%- modifiers.includes("hidden") ? "hidden" : "" %>
  id="<%- id %>-container">

    <%- generateLabel({
        id,
        modifiers: modifiers.concat(["legend"]),
        label: typeof label !== "undefined" ? label : "Bank details",
        hint: typeof hint !== "undefined" ? hint : null,
        tooltip: typeof tooltip !== "undefined" ? tooltip : null
      }) %>

    <div class="form-group">
      <label class="uikit-text-input__label" for="<%- id %>-accName">Account name </label>
      <input class="uikit-text-input" name="<%- id %>-accName" id="<%- id %>-accName" type="text">
    </div>

    <div class="form-group" id="<%- id %>-bsb">
      <label id="<%- id %>-bsb-label" class="uikit-text-input__label" for="<%- id %>-bsb1">BSB
          <span class="hint">(XXX - XXX)</span>
      </label>

      <input aria-describedby="<%- id %>-bsb-label" class="uikit-text-input bsb" type="text" name="bsb" id="<%- id %>-bsb1" maxlength="3" aria-label="First 3 digits of BSB" size="3">
      <span aria-hidden="true">-</span>
      <input aria-describedby="<%- id %>-bsb-label" class="uikit-text-input bsb" type="text" name="bsb" id="<%- id %>-bsb2" maxlength="3" aria-label="Last 3 digits of BSB" size="3">
    </div>

    <div class="form-group" hidden id="<%- id %>-institution">
      <label class="uikit-text-input__label">Financial institution</label>

      <div class="fa-2x" id="<%- id %>-loading" hidden>
        <i class="fas fa-spinner fa-pulse" style="color: #1057a7" aria-hidden="true"></i>
        <span class="hint">Looking up BSB</span>
      </div>
      <p id="<%- id %>-results"></p>
    </div>
    
    <div class="form-group">
      <label class="uikit-text-input__label" for="<%- id %>-accNum">Account number </label>
      <input class="uikit-text-input input-half" name="<%- id %>-accNum" id="<%- id %>-accNum" type="text">
    </div>
</fieldset>

<script>
  var bsbs;

  $(document).ready(function() {
    $.ajax({
      url: '/docs/data/bsbs.csv',
      type: 'GET',
      dataType: 'text'
    })
    .done(data => {
      Papa.parse(data, {
        header: true,
        dynamicTyping: false,
        complete: results => {
          bsbs = results;
        }
      });
    });
  });

  $("#<%- id %>-bsb1").on("keyup", function() {
    if ($(this).val().length === 3) {
      $("#<%- id %>-bsb2").focus();
    }
  });

  $("#<%- id %>-bsb2").on("keyup", function() {
    if ($(this).val().length === 0) {
      $("#<%- id %>-bsb1").focus();
    }
  });

  $("#<%- id %>-bsb").on("keyup", "input", function() {
    let combinedVal = $("#<%- id %>-bsb1").val() + $("#<%- id %>-bsb2").val();
    if (combinedVal.length === 6) {

      $("#<%- id %>-institution").show();
      $("#<%- id %>-loading").show();
      combinedVal = `${combinedVal.slice(0, 3)}-${combinedVal.slice(3, 6)}`;

      let filtered = bsbs.data.filter(bsb => bsb.bsb === combinedVal);
      $("#<%- id %>-results").text(filtered[0] !== undefined ? filtered[0].bank : "BSB not found.")

      window.setTimeout(function() {
        $("#<%- id %>-loading").hide();
        $("#<%- id %>-results").show();
      }, 600)


    } else {
      $("#<%- id %>-loading").hide("fast");
      $("#<%- id %>-results").hide("fast");
    }
  });
</script>