<!-- Summary card -->
<div id="medical-practitioner-summary" class="plain-text-info margin-below--large" style="display:none;">
  <div class="review__wrapper">
    <div class="review__content--item boxed row">
      <div class="review__content--label col-sm-10">
        <h2 class="margin-above--none">
          <span class="fal fa-user-md fa-icons"></span>&nbsp;&nbsp;<span class="font-weight-heavy">Medical practitioner</span></h2>
        <div class="key-value-group margin-above">
          <div class="key">
            <h4>Practitioner's name</h4>
          </div>
          <div class="value">Dr Alanah Mills</div>
        </div>
        <div class="key-value-group margin-above">
          <div class="key">
            <h4>Practice name</h4>
          </div>
          <div class="value">Orthosports</div>
        </div>
      </div>
      <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" onClick="editCard('medical-practitioner');">&nbsp;Edit&nbsp;</button>
      </div>
    </div>
  </div>
</div>
<!-- Open card -->
<div id="medical-practitioner-card" class="boxed margin-above margin-below" style="display: none;">
  <div>
    <h2 class="margin-above--none" style="display: inline-block;">
      <span class="fal fa-user-md fa-icons"></span>&nbsp;<span class="font-weight-heavy">Medical practitioner</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary
        small warning floated" onclick="removeSummary('medical-practitioner');">&nbsp;Delete item&nbsp;
    </button>
  </div>
  <div id="card-details" class="margin-below--large">
    <h4 class="margin-below--mid margin-above--none">Include both general practioners and specialists.</h4>
    <hr>
    <form id="myForm">
      <input type="reset" style="display:none">
      <!-- form goes here -->
      <%- include(partials+"components/form-partials/text", {
        label: "Doctor's name",
        modifiers: ["inputFullLength"]
      }); %>
      <%- include(partials+"components/form-partials/text", {
        label: "Phone number"
      }); %>
      
      <%- include(partials+"components/form-partials/checkbox", {
        label: "Which of the conditions you are having assessed are treated by this practitioner",
        boxes: [
          "Depression",
          "Lumbar spondylosis",
          "Osteoarthritis"
        ],
        modifiers: [ "hintNewLine"]
      }); %>

      <%- include(partials+"components/form-partials/yes_no", {
        label: "Does your medical practitioner expect that further treatment will improve your condition/s?",
        yes_toggle: "#not-stable-container",
        no_toggle: ["#stable-container","#save-next"]
      }); %>

      <%- include(forms+"button_radio", {
        label: "Can this practitioner provide a medico-legal report?",
        boxes: [
          "Yes",
          "No",
          "Unsure"
        ]
      }) %>

      <h3>Practice details</h3>
      <%- include(partials+"components/form-partials/text", {
        label: "Medical practice name",
        modifiers: ["inputFullLength"]
      }); %>
      <%- include(partials+"components/form-partials/text", {
        label: "Address line 1",
        modifiers: ["inputFullLength"]
      }); %>
      <%- include(partials+"components/form-partials/text", {
        label: "Address line 2",
        modifiers: ["inputFullLength"]
      }); %>
      <%- include(partials+"components/form-partials/text", {
        label: "Suburb or town",
        modifiers: ["inputFullLength"]
      }); %>
      <%- include(partials+"components/form-partials/text", {
        label: "Postcode"
      }); %>
      <%- include(partials+"components/form-partials/dropdown", {
        label: "State or territory",
        options: [
          "--Select an item--",
          "Australian Capital Territory",
          "Queensland",
          "New South Wales",
          "Northern Territory",
          "South Australia",
          "Tasmania",
          "Victoria",
          "Western Australia"
        ]
      }); %>
    </form>
  </div>
  <hr>
  <div id="buttonset2" class="form-group margin-above--none">
    <button id="addButton" class="uikit-btn" onclick="addSummary('medical-practitioner');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button
      class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>
