<%- include(templates+"header", {
  title: "Permanent impairment", 
  heading: "Conditions"
}) %>

<%- include(partials+"components/form-partials/checkbox", {
  label: "Select the accepted conditions that are impacting your lifestyle:",
  boxes: [
    "Depression",
    "Lumbar spondylosis",
    "Osteoarthritis",
    "Ankle sprain",
    "Lumbar strain"
  ],
  modifiers: [ "hintNewLine"]
}); %>

<%- include(partials+"components/form-partials/checkbox", {
  label: "Select any already assesed conditions you would like to have reassessed:",
  hint: "The following are conditions you have already had assessed for impairment.",
  boxes: [
    "Tinnitus"
  ],
  modifiers: [ "hintNewLine"]
}); %>

<%- include(partials+"components/form-partials/notice", {
  message: "For assessment of the following (VEA) conditions, apply for an increase to disability pension (AFI):<ul><li>Osteoarthritis of the right knee</li></ul>",
  type: "alert",
  id: "no-doctors"
}); %>

<div id="save-next" class="margin-above" hidden>
  <p>Choose <b>save and next</b> to continue.</p>
</div>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "/auth/claim/permanent-impairment/permanent-impairment-01"
    },
    {
      text: "Exit application",
      link: "#open-modal"
    },
    {
      text: "Save and exit",
      link: "/auth",
      modifiers: ["floated"]
    },
    {
      text: "Save and next",
      link: "/auth/claim/permanent-impairment/permanent-impairment-03",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(partials+"content/modals/application-cancel-modal") %>

<%- include(templates+"footer") %>
