<%- include(templates+"header", {
    title: "Conditions | Permanent impairment", 
    heading: "DRCA Conditions"
  }) %>

<p>DVA disability pension rates may be affected by the outcome of a Permanent Impairment claim.</p>

<%- include(partials+"components/form-partials/checkbox", {
label: "Please select the conditions you believe are stable and permanent and these will be assessed.",
hint: "Your other conditions can be assessed when they become stable and permanent.",
    boxes: [
      "Lumbar spondylosis",
      "Osteoarthritis",
      "Ankle sprain",
      "Lumbar strain"
    ],
    modifiers: [ "hintNewLine"]
  }); %>

<%- include(partials+"components/form-partials/checkbox", {
    label: "Please select any previously assessed conditions you wish to have reassessed:",
        boxes: [
          "Tinnitus",
          "Depression"
        ],
        modifiers: [ "hintNewLine"]
      }); %>

<div id="save-next" class="margin-above margin-below--extra" hidden>
    <p>Choose <b>save and next</b> to continue.</p>
</div>

<%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/permanent-impairment/permanent-impairment-02"
      },
      {
        text: "Exit application",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        link: "/auth/claim/permanent-impairment/permanent-impairment-03",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(partials+"content/modals/application-cancel-modal") %>

<%- include(templates+"footer") %>