<%- include(templates+"header", {
  claim: "Permanent impairment", 
  heading: "Permanent impairment"
}) %>

<p>If you have been left with ongoing impairment you may be entitled to a compensation payment. We call this <a>Permanent Impairment Compensation.</a></p>

You may be eligible if you meet all of the following:
<ul>
  <li>
    after treatment you still have an impairment or lifestyle restriction,
  </li>
  <li>
    the impairment or restriction is likely to continue indefinitely,
  </li>
  <li>
    your condition has stabilised.
  </li>
</ul>
<p>DVA disability pension rates may be affected by the outcome of a Permanent Impairment claim.</p>
<p>You will need to have at least one medical assessment to help us work out your level of impairment or lifestyle restriction. We can provide this assessment or contact your
  treating practitioner if you have one.</p>


<div class="declaration margin-below--extra">
  <%- include(forms+"checkbox", {
      modifiers: ["noMargin"],
      boxes: [
        {
          text: "I understand that as a currently serving member, Defence will be advised about this application.",
          toggle: "#save-next"
        }
      ]
    }) %>
</div>

<div id="save-next" class="margin-above" hidden>
  <p>Choose <b>next</b> to continue.</p>
</div>


<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "/auth"
    },
    {
      text: "Next",
      link: "/auth/claim/permanent-impairment/permanent-impairment-02",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(partials+"content/modals/application-cancel-modal") %>

<%- include(templates+"footer") %>
