<%- include(templates+"header", {
  claim: "Permanent impairment", 
  heading: "Conditions"
}) %>

<%- include(partials+"components/form-partials/checkbox", {
  label: "Select the conditions you want to have assessed:",
  hint: "<BR/>The conditions must be stable and permanent.",
  boxes: [
    "Lumbar spondylosis",
    "Osteoarthritis",
    "Ankle sprain",
    "Lumbar strain"
  ],
  modifiers: [ "hintNewLine"]
}); %>

<%#- include(partials+"components/form-partials/checkbox", {
  label: "Would you like to have any of the following conditions re-assessed?",
  hint: "<BR/>The following are conditions you have already had assessed for impairment.",
  boxes: [
    
  ],
  modifiers: [ "hintNewLine"]
}); %>

<b>Select an option for all previously assessed conditions:</b>
<!-- <BR/>The following are conditions you have already had assessed for impairment. -->

<div class="review__table margin-above margin-below--extra">
    <div class="tr" style="background-color: white; margin-bottom: 10px;">
        <div class="td" style="vertical-align: middle; width:150px"><b>Tinnitus</b></div>
        <div class="td" style="vertical-align: middle;">
            <div class="radio-toggle" style="display: inline-block; ">
              <label class="label-left" style="width: 230px">
                <input type="radio" id="tinnitus-yes" name="tinnitus" value="yes">
                <span>Use existing assessment</span>
              </label>
              <label class="label-right" style="width: 125px">
                <input type="radio" id="tinnitus-no" name="tinnitus" value="no">
                <span>Re-assess</span>
              </label>
          </div>
        </div>
    </div>
    <div class="tr">
        <div class="td" style="vertical-align: middle;"><b>Depression</b></div>
        <div class="td" style="vertical-align: middle;">
            <div class="radio-toggle" style="display: inline-block; ">
              <label class="label-left" style="width: 230px">
                <input type="radio" id="depression-yes" name="depression" value="yes">
                <span>Use existing assessment</span>
              </label>
              <label class="label-right" style="width: 125px">
                <input type="radio" id="depression-no-2" name="depression" value="no">
                <span>Re-assess</span>
              </label>
          </div>
        </div>
    </div>
</div>

<div id="save-next" class="margin-above margin-below--extra" hidden>
  <p>Choose <b>save and next</b> to continue.</p>
</div>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "/auth/claim/permanent-impairment/permanent-impairment-01"
    },
    {
      text: "Exit application",
      link: "#open-modal"
    },
    {
      text: "Save and exit",
      link: "/auth",
      modifiers: ["floated"]
    },
    {
      text: "Save and next",
      link: "/auth/claim/permanent-impairment/permanent-impairment-03",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(partials+"content/modals/application-cancel-modal") %>

<%- include(templates+"footer") %>
