<%- include(templates+"header", {
  title: "Permanent impairment", 
  heading: "Accepted conditions"
}) %>

<%- include(partials+"components/form-partials/checkbox", {
  label: "Select the conditions that are affecting your capacity to work",
  hint: "You can add a condition if you can't see it below",
  boxes: [
    "Depression",
    "Lumbar spondylosis",
    "Tinnitus"
  ],
  modifiers: [ "hintNewLine"]
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Have any of your other accepted condition changed?",
  yes_toggle: "#capture-change-container",
  no_toggle: "#save-next"
}); %>

<%- include(partials+"components/form-partials/textarea", {
  label: "Briefly describe which conditions and the nature of the changes:",
  id: "capture-change",
  modifiers: ["hidden"]
}); %>

<div id="save-next" class="margin-above" hidden>
  <p>Choose <b>save and next</b> to continue.</p>
</div>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "/auth/claim/permanent-impairment/permanent-impairment-01"
    },
    {
      text: "Exit application",
      link: "/auth/claim/permanent-impairment/permanent-impairment-02"
    },
    {
      text: "Save and exit",
      link: "/auth/claim/permanent-impairment/permanent-impairment-03",
      modifiers: ["floated"]
    },
    {
      text: "Save and next",
      link: "/auth/claim/permanent-impairment/permanent-impairment-03",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(templates+"footer") %>
