<%- include(templates+"header", {
  claim: "Permanent impairment", 
  heading: "Medical practitioners"
}) %>


<div id="add-medical-practitioner">
  <p><b>List all medical practitioners you are currently being treated by for your accepted conditions.</b><BR />Include general practioners and specialists.</p>
</div>

      
<%- include(partials+"components/form-partials/notice", {
  message: "<p>Where possible DVA will use your treating medical practitioners to provide an assessment. If we cannot use your treating practitioner we will arrange an assessment for you.</p><p>If you are a serving member be aware that on-base doctors may not be able to provide an assessment.</p><p></p> ",
  type: "alert",
  id: "treating-doctor"
}); %>

<div id="user-list">
  <%- include("medical-practitioner-card") %>
</div>

<button id="add-button" class="uikit-btn margin-below--extra" onclick="showNewCard('medical-practitioner');">Add medical practitioner</button>


<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "/auth/claim/permanent-impairment/permanent-impairment-03"
    },
    {
      text: "Exit application",
      link: "#open-modal"
    },
    {
      text: "Save and exit",
      link: "/auth",
      modifiers: ["floated"]
    },
    {
      text: "Save and next",
      link: "/auth/claim/permanent-impairment/permanent-impairment-05",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(partials+"content/modals/application-cancel-modal") %>

<%- include(templates+"footer") %>

<script>
  /* On page scrolling */

  function scrollToAdd() {
    $('html, body').animate({
      scrollTop: $("#add-options").offset().top
    }, 1000);
  }

  /* Clicks on "add" button */

  function showNewCard(cardType) {
    captureUserList();
    hideAll();
    var myDiv = "#" + cardType + "-card";
    var myForm = myDiv + " #myForm";
    var myDelete = myDiv + " #deleteButton";
    var myAdd = myDiv + " #addButton";
    $(myAdd).html("Add");
    $(myDelete).hide();
    $(myForm).trigger("reset");
    $(myDiv).show();
    console.log("-->" + myDiv);
    // $("#footer-buttons-mask").show();
    $('html, body').animate({
      scrollTop: $("#user-list").offset().top
    }, 1000);
  }

  /* Clicks on "add" on full card */

  function addSummary(cardType) {
    hideAll();
    var myDiv = "#" + cardType + "-summary";
    userEntries.push($(myDiv));
    displayUserList();
    $('html, body').animate({
      scrollTop: $("#user-list").offset().top
    }, 1000);
  };

  /* Clicks on "edit" on Summary Card */

  function editCard(cardType) {
    captureUserList();
    hideAll();
    var myDiv = "#" + cardType + "-card";
    var myDelete = myDiv + " #deleteButton";
    var myAdd = myDiv + " #addButton";
    $(myAdd).html("Update");
    $(myDelete).show();
    $(myDiv).show();
  }

  /* Clicks on "delete" on full card */

  function removeSummary(cardType) {
    hideAll();
    var myDiv = "#" + cardType + "-summary";
    userEntries.splice($.inArray(myDiv, userEntries), 1);
    displayUserList();
    $('html, body').animate({
      scrollTop: $("#user-list").offset().top
    }, 1000);
  };

  /* Clicks on "cancel" on full card */

  function cancelCard(cardType) {
    hideAll();
    $('html, body').animate({
      scrollTop: $("#user-list").offset().top
    }, 1000);
    displayUserList();
  }

  /* Update list after interaction */

  var userEntries = [];

  function captureUserList() {
    userEntries = $("[id*=summary]:visible");
  }

  function displayUserList() {
    $.each(userEntries, function (index, value) {
      $(value).show();
    });
    $("#add-medical-practitioner").show();
    $("#add-button").show();
  }

  /* Generic hide all */

  function hideAll() {
    console.log("fhfghgfhgfh")
    $("#add-medical-practitioner").hide();
    $("#treating-doctor-container").hide();
    $("#add-button").hide();
    $("#medical-practitioner-card").hide();
    $("#medical-practitioner-summary").hide();
  }
</script>
