<%- include(templates+"header", {
    claim: "Support Assessment",
    heading: "Employment",
    progress: {
      activeItem: 5,
        points: [
        {
          text: "Mobility",
          link: "/auth/claim/support-assessment-b/sa-02"
        },
        {
            text: "Recreational activities",
            link: "/auth/claim/support-assessment-b/sa-03"
          },
          {
            text: "Personal relationships",
            link: "/auth/claim/support-assessment-b/sa-04"
          },
          {
            text: "Domestic activities",
            link: "/auth/claim/support-assessment-b/sa-05"
          },
          {
            text: "Employment",
            link: "/auth/claim/support-assessment-b/sa-06"
          },
          {
            text: "Treatments",
            link: "/auth/claim/support-assessment-b/sa-07"
          },
        ]
      }
  }) %>

<%- include(forms+"button_radio", {
    label: "Are you employed?",
    id: "is-employed",
    boxes: [
        "Yes",
        "No"
    ]
  }) %>

<div id="is-employed-yes" hidden>
  <%- include(forms+"button_radio", {
        label: "Has the way you work been affected?",
        hint: "For example, changes to your surroundings or equipment.",
        id: "work-affected",
        boxes: [
        "Yes",
        "No"
    ],
        modifiers: ["hintNewLine"]
      }) %>

  <%- include(forms+"textarea", {
    label: "Tell us more",
    id: "work-affected-more",
    modifiers: ["hidden"]
  }) %>

  <%- include(forms+"button_radio", {
    label: "Have your duties or responsibilities changed?",
    id: "duties-changed",
    boxes: [
        "Yes",
        "No"
    ]
  }) %>

  <%- include(forms+"textarea", {
  label: "Tell us more",
  id: "duties-changed-more",
  modifiers: ["hidden"]
}) %>

  <%- include(forms+"button_radio", {
  label: "Have your work hours reduced or changed?",
  id: "work-reduced",
  boxes: [
        "Yes",
        "No"
    ]
}) %>

  <%- include(forms+"button_radio", {
    label: "Have you had to change jobs?",
    id: "changed-jobs",
    boxes: [
        "Yes",
        "No"
    ]
  }) %>

  <%- include(forms+"textarea", {
    label: "Tell us more",
    id: "changed-jobs-more",
    modifiers: ["hidden"]
  }) %>




  <%- include(forms+"button_radio", {
    label: "Have you had a reduction in pay?",
    id: "pay-reduction",
    boxes: [
        "Yes",
        "No"
    ]
  }) %>

  <%- include(forms+"textarea", {
  label: "Tell us more",
  id: "pay-reduction-more",
  modifiers: ["hidden"]
}) %>

  <%- include(forms+"button_radio", {
    label: "Are you concerned you may lose your job?",
    id: "job-loss",
    boxes: [
        "Yes",
        "No"
    ]
  }) %>

  <%- include(forms+"textarea", {
    label: "Tell us more",
    id: "job-loss-more",
    modifiers: ["hidden"]
  }) %>

  <%- include(forms+"button_radio", {
    label: "Are your promotional opportunities restricted?",
    id: "promotional-restricted",
    boxes: [
        "Yes",
        "No"
    ]
  }) %>
  <%- include(forms+"textarea", {
    label: "Tell us more",
    id: "promotional-restricted-more",
    modifiers: ["hidden"]
  }) %>

  <%- include(forms+"button_radio", {
    label: "Do you believe you can be more effective in your job if you had additional support/training to better manage your conditions?",
    id: "job-effective",
    boxes: [
        "Yes",
        "No"
    ]
  }) %>

  <%- include(forms+"textarea", {
  label: "Tell us more",
  id: "job-effective-more",
  modifiers: ["hidden"]
}) %>



</div>

<div id="is-employed-no" hidden>
  <%- include(forms+"button_radio", {
    label: "Have your conditions affected your ability to work?",
    id: "work-ability",
    boxes: [
        "Yes",
        "No"
    ]
  }) %>
</div>

<div id="conditions-affected-yes" hidden>
  <%- include(forms+"button_radio", {
    label: "Have you had any retraining to help you gain or retain employment?",
    id: "retain-employment",
    boxes: [
        "Yes",
        "No"
    ]
  }) %>

  <%- include(forms+"textarea", {
    label: "Tell us more",
    id: "retain-employment-more",
    modifiers: ["hidden"]
  }) %>

  <%- include(forms+"button_radio", {
      label: "Have you lost a job (excluding any medical discharge from the ADF) because of your conditions?",
      id: "job-lost",
      boxes: [
        "Yes",
        "No"
    ]
    }) %>

  <%- include(forms+"textarea", {
    label: "Tell us more",
    id: "job-lost-more",
    modifiers: ["hidden"]
  }) %>
</div>

<script>
  $(document).ready(function () {
    $("#is-employed-1").click(function () {
      hideAll();
      $("#conditions-affected-yes").hide();
      $("#is-employed-yes").show();
      $('[id*="more"]').hide();
    });



    $("#is-employed-2").click(function () {
      hideAll();
      $("#is-employed-no").show();
    });

    $("#work-ability-1").click(function () {
      $("#conditions-affected-yes").show();
    });

    $("#work-ability-2").click(function () {
      $("#conditions-affected-yes").hide();
    });

  });

  function hideAll() {
    $("#is-employed-yes").hide();
    $("#is-employed-no").hide();

  }
</script>

<%- include(forms+"pagination", {
    pagination: [
      {
        link: "/auth/claim/support-assessment-b/sa-05",
        text: "Previous"
      },
      {
        link: "#claim-cancel-modal",
        text: "Cancel claim"
      },
      {
        link: "/auth/claim",
        text: "Save and exit",
        modifiers: ["floated"]
      },
      {
        link: "/auth/claim/support-assessment-b/sa-07",
        text: "Save and next",
        id: "btnNext",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<script>
  $(".form-group input").click(function () {
    $(this).val() === "yes" ? $(this).parent().parent().parent().parent().next().find("textarea").parent().show() &&
      $(this).parent().parent().parent().parent().next().find("textarea").show()
      :
      $(this).parent().parent().parent().parent().next().find("textarea").parent().hide();
  });

</script>

<%- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>