<%

var progress = JSON.parse(include("progressbar")) 
progress.activeItem = 1;

%>

<%- include(templates+"header", {
  claim: "Support assessment", 
  heading: "Condition impact",
  progress
}) %>

<%- include(forms+"button_radio", {
  label: "Has your condition/s affected your physical mobility or involvement in recreational activities?",
  boxes: [
    "No",
    "Yes, a little",
    "Yes, a lot"
  ]
}) %>

<%- include(forms+"button_radio", {
  label: "Has your condition/s affected your ability to maintain personal relationships?",
  boxes: [
    "No",
    "Yes, a little",
    "Yes, a lot"
  ]
}) %>

<%- include(forms+"button_radio", {
  label: "Has your condition/s affected your ability to perform normal household duties eg cleaning?",
  boxes: [
    "No",
    "Yes, a little",
    "Yes, a lot"
  ],
  all_toggle: "#save-next"
}) %>

<p id="save-next" hidden>Choose <b>save and next</b> to continue</p>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "/auth/claim/support-assessment/"
    },
    {
      text: "Save and exit",
      link: "/auth/",
      modifiers: ["floated"]
    },
    {
      text: "Save and next",
      link: "/auth/claim/support-assessment/support-assessment-02",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%#- include("state-switcher-01") %>
<%- include(templates+"footer") %>