<%

var progress = JSON.parse(include("progressbar")) 
progress.activeItem = 5;

%>

<%- include(templates+"header", {
  claim: "Support assessment", 
  heading: "Support required",
  progress
}) %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Do you require support now? "
}); %>

<%- include(partials+"components/form-partials/radio", {
  label: "How would you like to be contacted?",
  boxes: [
    "phone",
    "email"
  ]
}); %>


<%- include(partials+"components/form-partials/textarea", {
  label: "What support do you require? "
}); %>

<%- include(partials+"components/form-partials/textarea", {
  label: "Is there anything else you would like to tell us about the support you require?"
}); %>


<p id="save-next" hidden>Choose <b>save and next</b> to continue</p>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "/auth/claim/support-assessment/support-assessment-03"
    },
    {
      text: "Save and exit",
      link: "/auth/",
      modifiers: ["floated"]
    },
    {
      text: "Save and next",
      link: "/auth/claim/support-assessment/review",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<script>
  
</script>

<%- include(templates+"footer") %>