<%#- include(templates+"header", {
  claim: "Education Assistance",
  heading: "Education Assistance"
})  %>
<%- include(partials+"components/form-partials/radio-icon", {
label: "Select an option to get started",
id: "student-or-parent-radio",
boxes: [
  {
    text: "I'm a student",
    icon: {
      icon: "fa-user",
      weight: "fal"
    }
  },
  {
    text: "I'm a parent / guardian of a student",
    icon: {
      icon: "fa-user",
      weight: "fal"
    }
  }
]
}); %>

<div class="uikit-page-alerts uikit-page-alerts--warning" role="alert" id="over25-eligible" hidden>
  <span>You may not be eligible if you havn't started your course. If you enrolled after you turned 25 you are not eligible for education assistance. For more information call <a
      href="">1800 555 254</a>.</span>
</div>

<div class="uikit-page-alerts uikit-page-alerts--info student" role="alert" id="dependant-child-alert" hidden>
  <p>You must be a dependent child of an eligible veteran to be able to claim education assistance. For further information, <a href="" rel="external">see eligibility
      rules.</a></p>
  <p>As part of your claim, you may be asked to provide the following supporting documents:</p>
  <ul>
    <li>Proof of your relationship to the eligible veteran</li>
    <li>Proof of your relationship to parent/guardian</li>
    <li>Proof of your enrolment</li>
  </ul>
  <p>Further documents may be required dpeneding on your circumstances.</p>
</div>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Are you employed full time?",
  id: "are-you-employed",
  hint: "The does not include apprenticeships.",
  unsure: false,
  modifiers: [
  "hintNewLine"
  ]
}); %>

<div class="uikit-page-alerts uikit-page-alerts--info student" role="alert" id="parent-guardian-alert">
  <p>The student you are applying for needs to be a child of an eligible veteran. For further information, see <a href="" rel="external">eligibility rules.</a></p>
  <p>As part of your claim, you may be asked to provide the following supporting documents:</p>
  <ul>
    <li>Proof of student's relationship to the eligible veteran</li>
    <li>Proof of student's relationship to you</li>
    <li>Proof of student's enrolment</li>
  </ul>
  <p>Further documents may be required dpeneding on your circumstances.</p>
</div>

<h3 id="about-student-heading">About the student</h3>

<%- include(partials+"components/form-partials/date", {
  label: "Student's date of birth",
  customClass: "parent-veteran",
  id: "students-dob"
}); %>

<div id="under4-notification" class="parent-veteran uikit-page-alerts uikit-page-alerts--error" role="alert">
  <p>The student must be at least 4 years old to claim for education assistance.</p>
</div>

<div id="over18-notification" class="parent-veteran uikit-page-alerts uikit-page-alerts--error" role="alert">
  <p>Students 18 years old and above need to complete the claim themselves.</p>
</div>

<div id="over26-notification" class="parent-veteran uikit-page-alerts uikit-page-alerts--error" role="alert">
  <p>Students over the age of 25 may not be eligible for education assistance. For further information please call DVA on <a href="">1800 555 254</a>. </p>
</div>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Is the student employed full time?",
  id: "full-time-employment-parent",
  hint: "The does not include apprenticeships.",
  unsure: false,
  no_toggle: "#pg-about-veteran",
  yes_toggle: ".parent-guardian-alert",
  modifiers: [
  "hintNewLine"
  ]
}); %>

<div id="full-time-alert" class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
  <p>Students who are working full time may not be eligible for education assistance. For more information call <a href="">1800 555 254</a>.</p>
</div>

<h3 class="parent-veteran" id="about-veteran-header">About the veteran</h3>
<%- include(partials+"components/form-partials/dropdown", {
  label: "The veteran is the student's",
  id: "about-the-veteran-drop", 
  options: [
    "select the relationship...",
    "parent",
    "guardian"
  ]
}); %>
<%- include(partials+"components/form-partials/dropdown", {
  label: "The veteran is my",
  id: "student-about-the-veteran-drop", 
  options: [
    "select the relationship...",
    "parent",
    "guardian"
  ]
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Is the student or was the student dependant on the veteran?",
  id: "student-veteran-dependant2",
  hint: "Completely or substantially.",
  unsure: false,
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Is the student dependant on the veteran? Or were they previously?",
  hint: "Completely or substantially",
  id: "student-veteran-dependant",
  unsure: false,
}); %>

<div class="uikit-page-alerts uikit-page-alerts--error" role="alert" id="maybe-not-eligible" hidden>
  <span>You may not be eligible for education assistance. For more information call <a href="">1800 555 254</a>.</span>
</div>


<div id="parent-selected-message">
  <p><b>Is the veteran significantly injured or deceased as a result of their service?</b></p>
  <p class="margin-below--none"><b>For example:</b></p>
  <ul>
    <li>the veteran has 80 impairment points</li>
    <li>the veteran is totally and permanently impaired</li>
    <li>the veteran is eligible for an extreme disablement adjustment rate</li>
    <li>the veteran is, or was eligible for the special rate disability pension</li>
  </ul>
  <div class="radio-toggle margin-below--large parent-selected-message-option">
    <label class="label-left" for="yes_no719-yes">
      <input type="radio" name="yes_no719" id="yes_no719-yes">
      <span>Yes</span>
    </label>
    <label class="label-right" for="yes_no719-no">
      <input type="radio" name="yes_no719" id="yes_no719-no">
      <span>No</span>
    </label>

    <label class="label-right" for="yes_no719-unsure">
      <input type="radio" name="yes_no719" id="yes_no719-unsure">
      <span>Unsure</span>
    </label>
  </div>
</div>

<h3 id="about-you-heading">About you</h3>

<%- include(partials+"components/form-partials/dropdown", {
  label: "The student is my",
  id: "parent-student-dropdown",
  options: [
    "select an option...",
    "child",
    "step-child",
    "grand-child"
  ]
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Do you receive Family Tax Benefit for the student?",
  id: "family-tax-benefit"
}); %>


<div class="uikit-page-alerts uikit-page-alerts--warning" role="alert" id="ftb-alert" hidden>
  <span>You cannot claim both education assistance and Family Tax Benefit (FTB) payments for a student that is over 16. Based on your circumstances it may be better to choose FTB
    over the DVA benefit or vice versa. For more information on these options, contact Education Assistance on <a href="">1800 555 254</a>.</span>
</div>

<%- include(partials+"components/form-partials/text", {
  label: "What is your Centrelink Customer Reference Number?",
  id: "crn-number"
}); %>

<div class="uikit-page-alerts uikit-page-alerts--error" role="alert" id="maybe-not-eligible-2" hidden>
  <span>You may not be eligible for education assistance. For more information call <a href="">1800 555 254</a>.</span>
</div>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Do you have shared care arrangements in place for this student?",
  id: "parent-shared-care-arrangement"
}); %>

<%- include(partials+"components/form-partials/text", {
  label: "What percentage of care do you have for the student?",
  id: "parent-percentage-of-care"
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Is the student employed full time?",
  id: "full-time-employment-parent",
  hint: "The does not include apprenticeships.",
  unsure: false,
  no_toggle: "#pg-about-veteran",
  yes_toggle: ".parent-guardian-alert",
  modifiers: [
  "hintNewLine"
  ]
}); %>