<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Replacement card request | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div class="claim-end margin-above--extra">
      <div class="container">

        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="cantered-item">
              <img src="../../../docs/images/ico-fail-large.svg" alt="fail icon">
            </div>
            <h1 class="cantered-item">Sorry we can't process your request</span>
            </h1>
            <hr class="orange-divider">
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="margin-below--extra">
              <h3>MyService can only issue three replacement cards per year.</h3>
              <p>Additional card requests can be made by calling
                <a href="tel:1800-555-254">1800 555 254</a>
              </p>
            </div>

            <div class="pagination ss-align--right">
              <button class="uikit-btn" onclick="window.location.href = '/healthcard-home'">Back to Health card</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include(partials+"components/layout/footer.ejs") %>
</body>

</html>
