<%- include(templates+"header", {
  claim: "MyService | Income support supplement",
  heading: "Claim details"
}) %>

<%- include(forms+"notice", {
    message: `<h3 class='mys h3 margin-below--mid'>Intent to claim</h3><p>Completing this page will register the date of your ‘intent to claim’ as today. This means if you complete this claim within 3 months, the claim may be backdated to this date. Backdating will maximise your pension and benefits.</p>`
}) %>

<%- include(forms+"yes_no", {
    label: "Have you applied for or do you receive any benefits from Centrelink?",
  }) %>

<%- include(forms+"yes_no", {
    label: "Do you have a Commonwealth Seniors Health Card (CSHC) issued by Centrelink?",
  }) %>

<%- include(forms+"yes_no", {
  label: "Are you applying for a person who is blind or visually impaired?",
  id: "blind"
}); %>

<%- include(forms+"notice", {
  message: `<p>You will need to obtain a report from an ophthalmologist giving details of the degree of the degree of visual impairment. 
  </p><p>You can provide this report at the end of the claim.</p>`,
  modifiers: ["hidden"],
  id: "blind-notice"  
}) %>

<%- include(forms+"yes_no", {
  label: "Are you applying on the basis of invalidity?",
  modifiers: ["hidden"],
  id: "invalidity"
}); %>

<%- include(forms+"notice", {
  message: `<p>You will need to complete the Medical and Work Details form (D571).</p><p>Some sections will need to be completed by your doctor. You can provide the completed forms at the end of your claim.</p>`,
  modifiers: ["hidden"],
  id: "invalidity-notice"  
}) %>

<%- include(forms+"yes_no", {
  label: "Will you be claiming the Pension Bonus?",
  id: "pension-bonus",
  all_toggle: "#save-next"
}); %>

<p id="save-next" hidden>Choose <b>save and next</b> to continue</p>

<%- include(forms+"pagination", {
    pagination: [
      {
        link: "/auth/claim/iss/progress-01",
        text: "Previous"
      },
      {
        link: "#claim-cancel-modal",
        text: "Cancel claim"
      },
      {
        link: "/auth/claim",
        text: "Save and exit",
        modifiers: ["floated"]
      },
      {
        link: "/auth/claim/iss/progress-02",
        text: "Save and next",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(forms+"modals/claim-cancel") %>

<script>

$('input[name=blind]').change(function () {
	var myVal = $('input[name=blind]:checked').val();
	if (myVal == "yes") {
    $("#invalidity-container").hide();
		$("#blind-notice-container").show();
	} else {
    $("#invalidity-container").show();
		$("#blind-notice-container").hide();
  }
  $("#invalidity-notice-container").hide();
});

$('input[name=invalidity]').change(function () {
	var myVal = $('input[name=invalidity]:checked').val();
	if (myVal == "yes") {
    $("#invalidity-notice-container").show();
	} else {
    $("#invalidity-notice-container").hide();
  }
});

</script>

<%- include(templates+"footer") %>