<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Representative | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
<div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
    <div class="container margin-above--none">
      <!-- Progress bar -->
      <div class="col-md-12">
        <nav>
          <ul class="progress-container">
            <li class="progress-step progress-step--done">
              <span class="progress-step__icon"></span>
              <p class="progress-step-label">My details</p>
            </li>
            <li class="progress-step progress-step--done">
              <a href="/auth/claim/sp-partner">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Partner</p>
              </a>
            </li>
            <li class="progress-step progress-step--done">
              <a href="/auth/claim/sp-partner">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Childern</p>
              </a>
            </li>
            <li class="progress-step progress-step--done">
              <a href="/auth/claim/sp-residency">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Residency</p>
              </a>
            </li>
            <li class="progress-step progress-step--done">
              <a href="/auth/claim/sp-la">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Living arrangements</p>
              </a>
            </li>
            <li class="progress-step progress-step--active">
              <a href="/auth/claim/sp-claim-contaact">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Claim contact</p>
              </a>
            </li>
            <li class="progress-step progress-step--last">
              <a href="/auth/claim/sp-payment-details">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Payment details</p>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Page heading -->
    <h1 class="margin-above--none ss-align--center">
      <span class="heading">Representative</span>
    </h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Page content -->
        <h2 class="margin-above--large">
          <span class="font-weight-heavy">Representative Information</span>
        </h2>

        <!-- bottom page navigation -->
        <div class="pagination">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/iss/b-04'">Previous</button>
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
          <div class="floated">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
            <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/iss/b-06'">Save and next</button>
          </div>
        </div><!-- bottom page navigation end -->
        <%- include(partials+"content/modals/claims-cancel-modal") %>
      </div> <!-- col-md-12 end -->
    </div> <!-- row end -->
  </div> <!-- container end -->
  </main>

  <%- include(partials+"components/layout/footer") %>

  <script>
    // Progress percentage
    document.getElementById("percentage ").style.width = "20% ";
    document.getElementById("percentage_value ").textContent = "20% ";
  </script>


</body>

</html>