<!-- Summary card -->
<div id="dependant-summary" class="box boxed" hidden>
  <div class="box__header">
    <h2 class="box__heading">
      <i class="fal fa-user fontawesome-icon"></i>
      <span class="font-weight-heavy">Miss Cindy Brady</span>
    </h2>
    <button class="uikit-btn uikit-btn--tertiary small .box__edit-button"
      onClick="editCard('dependant');">&nbsp;Edit&nbsp;</button>
  </div>
  <div class="box__table">
    <div class="tr">
      <div class="td"><b>Do you wish to receive an official dependant?</b></div>
      <div class="td">Yes</div>
    </div>
    <div class="tr">
      <div class="td"><b>What type of dependant would you like?</b></div>
      <div class="td">Burial in a cemetery</div>
    </div>
    <div class="tr">
      <div class="td"><b>Have you reserved / purchased a burial plot?</b></div>
      <div class="td">Yes</div>
    </div>
    <div class="tr">
      <div class="td"><b>dependant state</b></div>
      <div class="td">NSW</div>
    </div>
    <div class="tr">
      <div class="td"><b>Name of cemetery</b></div>
      <div class="td">Veteran Hall Cemetery</div>
    </div>
    <div class="tr">
      <div class="td"><b>Type of cemetery</b></div>
      <div class="td">Monumental</div>
    </div>
    <div class="tr">
      <div class="td"><b>Religious emblem</b></div>
      <div class="td">Cross</div>
    </div>
    <div class="tr">
      <div class="td"><b>Inscription line 1</b></div>
      <div class="td">Aut nihil doloribus impedit libero</div>
    </div>
    <div class="tr">
      <div class="td"><b>Inscription line 2</b></div>
      <div class="td">in repudiandae soluta cupiditate</div>
    </div>
  </div>
  <div class="status-label status-label--edited margin-above" style="display: none !important;">EDITED</div>
</div>
<!-- Summary no -->
<div id="dependant-summary-no" class="box boxed" hidden>
  <div class="box__header">
    <h2 class="box__heading">
      <i class="fal fa-user fontawesome-icon"></i>
      <span class="font-weight-heavy"> <span class="font-weight-heavy">Miss Cindy Brady</span></span>
    </h2>
    <button class="uikit-btn uikit-btn--tertiary small .box__edit-button"
      onClick="editCardNo('dependant');">&nbsp;Edit&nbsp;</button>
  </div>
  <div class="box__table">
    <div class="tr">
      <div class="td"><b>Date of birth</b></div>
      <div class="td">21/06/2010</div>
    </div>
    <div class="status-label status-label--edited margin-above" style="display: none !important;">EDITED</div>
  </div>
  </div>
  <!-- Open card -->
  <div id="dependant-card" class="box boxed box--open" style="display: none;">
    <div class="delete-content" hidden>
      <h2 class="margin-above--none" style="display: inline-block;"><span
          class="fal fa-university fontawesome-icon"></span><span class="font-weight-heavy">Bank account
        </span></h2>
      <hr style="margin-top: 10px; max-bottom: 0;">
      <%- include(partials+"components/form-partials/date", {
      label: "Date of change/disposal"
    }); %>
      <div class="pagination pagination--ss-reverse-order   margin-above--extra" id="pagination700">
        <a href="#" id="delete-bank-account" class="uikit-btn" onClick="confirmDeletePrePop('dependant')">Delete</a>
        <a href="#" id="cancel-delete" class="uikit-btn uikit-btn--tertiary" onClick="cancelDeletePrePop()">Cancel</a>
      </div>
    </div>

    <div class="edit-content">
      <div class="box__header">
        <h2 class="margin-above--none" style="display: inline-block;">
          <span class="fal fa-user fontawesome-icon"></span>
          <span class="font-weight-heavy">Dependant child
          </span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning box__delete-button "
          onclick="deleteBox();">&nbsp;Delete&nbsp;</button>
      </div>

      
    </div>
      <div id="card-details" class="margin-below--large">
        <p><strong>Add any dependent children <span class="if-partnered" style="display: none;">(of you and/or your
          partner)</span>who are:</strong></p>
    <ul>
      <li>Under 16 years of age, or</li>
      <li>16-22 years of age and in full time education</li>
    </ul>
        <form id="myForm">
          <input type="reset" style="display:none">

          <%- include(partials+"components/form-partials/text", {
            label: "Title"
          }); %>

          <%- include(partials+"components/form-partials/text", {
            label: "Given name",
            hint: "(first name)"
          }); %>

          <%- include(partials+"components/form-partials/text", {
            label: "Middle name",
            hint: "(optional)"
          }); %>

          <%- include(partials+"components/form-partials/text", {
            label: "Surname",
            hint: "(last name)"
          }); %>

          <%- include(partials+"components/form-partials/date", {
            label: "Date of birth",
            hint: "(dd / mm / yyyy)"
          }); %>

          <%- include(partials+"components/form-partials/prepop/gender"); %>

          <%- include(partials+"components/form-partials/dropdown", {
            label: "What is your relationship to the child?",
            options: [
            "-- Select option --",
              "Mr",
              "Mrs",
              "Master",
              "Miss",
              "Dr"
            ]
          }); %>

          <%- include(partials+"components/form-partials/checkbox", {
            boxes: [
              "Child's address is the same as mine"
            ],
            id: "address"
          }); %>


              <%- include(partials+"components/form-partials/yes_no", {
            label: "Does the child study full time?",
            yes_toggle: "#plot-details"
          }); %>

          <%- include(partials+"components/form-partials/yes_no", {
            label: "Does the child receive any income from employment?",
            yes_toggle: "#plot-details"
          }); %>

        </form>
      </div>
      <hr>
      <div id="buttonset2" class="form-group margin-above--none">
        <button id="addButton" class="uikit-btn"
          onclick="addSummary('dependant');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button>
        &nbsp;<button class="uikit-btn uikit-btn--tertiary"
          onclick="doCancel();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
      </div>
    </div>
  </div>
  <!-- card end -->

  <script>

    $("#address-1").prop("checked",true);

    function doCancel() {
      mySelection = $('input[name="receive-dependant"]:checked').val();
      if (mySelection == undefined) {
        hideAll();
        $(".manage").show();
      } else {
        addSummaryCancel('dependant');
      }
    }

    function prePop() {
      $("#receive-dependant-1").prop("checked", true);
      $("#dependant").show();
      $("#dependant-type-2").prop("checked", true);
      $("#cemetery-container").show();
      $("#reserved-question-2").prop("checked", true);
      $("#name-cemetery").val("Veteran Hall Cemetery");
      $("#cemetery-type-2").prop("checked", true);
      $('[name=cemetery-state]').val("nsw");
      $('[name=emblem]').val("Example 1");
    }

    function prePopNo() {
      $("#receive-dependant-2").prop("checked", true);
      $("#dependant").hide();
    }

    function clearPrePop() {
      $("#receive-dependant-1").prop("checked", false);
      $("#dependant").hide();
      $("#dependant-type-2").prop("checked", false);
      $("#cemetery-container").hide();
      $("#reserved-question-2").prop("checked", false);
      $("#name-cemetery").val("");
      $("#cemetery-type-2").prop("checked", false);
      $('[name=cemetery-state]').val("-- Select state --");
      $('[name=emblem]').val("-- Select emblem --");
    }

    function clearPrePopAfterYesNo() {
      $("#dependant").hide();
      $("#dependant-type-2").prop("checked", false);
      $("#cemetery-container").hide();
      $("#reserved-question-2").prop("checked", false);
      $("#name-cemetery").val("");
      $("#cemetery-type-2").prop("checked", false);
      $('[name=cemetery-state]').val("-- Select state --");
      $('[name=emblem]').val("-- Select emblem --");
    }

    function openNewCard(cardType) {
     
      hideAll();
      clearPrePop();
      var myDiv = "#" + cardType + "-card";
      var myDelete = myDiv + " #deleteButton";
      var myAdd = myDiv + " #addButton";
      $(myDelete).hide();
      $(myDiv).show();
      $(".manage").hide();
    }

    function editCard(cardType) {
      hideAll();
      prePop();
      var myDiv = "#" + cardType + "-card";
      var myDelete = myDiv + " #deleteButton";
      var myAdd = myDiv + " #addButton";
      $(myDelete).show();
      $(myDiv).show();
      $("#update-success").hide();
    }

    function editCardNo(cardType) {
      hideAll();
      prePopNo();
      var myDiv = "#" + cardType + "-card";
      var myDelete = myDiv + " #deleteButton";
      var myAdd = myDiv + " #addButton";
      $(myDelete).show();
      $(myDiv).show();
      $("#update-success").hide();
    }

    function addSummary(cardType) {
      hideAll();
      mySelection = $('input[name="receive-dependant"]:checked').val();
      if (mySelection == "yes") {
        var myDiv = "#" + cardType + "-summary";
      } else {
        var myDiv = "#" + cardType + "-summary-no";
      }
      $(myDiv).show();
      $("#update-success").show();
      $(".start").show();
      $("#add-child").show();
    }
    function addSummaryCancel(cardType) {
      hideAll();
      mySelection = $('input[name="receive-dependant"]:checked').val();
      if (mySelection == "yes") {
        var myDiv = "#" + cardType + "-summary";
      } else {
        var myDiv = "#" + cardType + "-summary-no";
      }
      $(myDiv).show();
    }

    function hideAll() {
      $(".start").hide();
      $("#add-child").hide();
      $("#dependant-card").hide();
      $("#dependant-summary").hide();
      $("#dependant-summary-no").hide();
      $("#dependant-summary-deleted").hide();
      $("#update-success").hide();
    }

    function deleteBox() {
      window.location.href = "#open-delete-modal";
      // hideAll();
      // $(".manage").show();
    }
    
    $("#receive-dependant-container").click(function () {
      clearPrePopAfterYesNo();
    });

  </script>