<%
  var progress = JSON.parse(include("c-progressbar")) 
  progress.activeItem = 4;
%>

<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Financial details | Property &amp; business</title>
  <%- include(partials+"components/layout/head") %>
  <script src="/docs/js/income-assets.js"></script>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content"
      class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container">
        <%- include(forms+"progress-advanced", progress) %>
      </div>
      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Property &amp; businesses</span></h1>
    </div>
      <div class="container container--8-column margin-above margin-below--extra">
        <div id="user-list">
          <hr class="margin-below--none">
          <span class="fal fa-list-alt fa-icons"></span>
          <h2 class="margin-above--none heading-width"><span class="partner-label">My</span> property &amp;
            businesses</h2>
          <div id="add-anchor-link-return" class="cursor-pointer-right" onClick="scrollToAdd();">
            <p style="margin-top: 10px;">
              <span class="fal fa-plus-circle fa-icons"></span>Add another property or businesses
            </p>
          </div>
        </div>
        <div id="add-anchor-link-start" class="cursor-pointer" onClick="scrollToAdd();">
          <p class="margin-above--extra ss-align--center">
            <span class="fal fa-plus-circle fa-icons"></span>Add property or businesses
          </p>
        </div>
        <!-- Cards -->
        <%- include(partials+"content/income-assets/income-assets--real-estate") %>
        <%- include(partials+"content/income-assets/income-assets--businesses") %>
        <%- include(partials+"content/income-assets/income-assets--farm") %>
        <!-- Tiles -->
        <div id="add-options">
          <hr>
          <h2 class="margin-above--none margin-below--none ss-align--center"><span class="font-weight-heavy">Property
              &amp; businesses</span></h2>

          <span class="hint display-block ss-align--center">Add each of the below currently owned or held<span
              class="partner"> by you and/or your partner</span>.

            <div class="flex-container flex-container--wrap hover-container">
              <%- include(partials+"content/income-assets/income-assets--tile--real-estate") %>
              <%- include(partials+"content/income-assets/income-assets--tile--businesses") %>
              <%- include(partials+"content/income-assets/income-assets--tile--farm") %>
            </div>
        </div>
      </div>
      <div class="pagination container container--8-column" style="position: relative;">
        <div id="footer-buttons-mask"
          style="background-color: #ffffff; opacity: .5; position: absolute; width: 100%; height: 100%; z-index: 10; display: none;">
        </div>
        <button class="uikit-btn uikit-btn--tertiary"
          onclick="window.location.href = '/auth/claim/iss/ia-03'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel
          claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and
            exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/iss/ia-05'">Next</button>
        </div>
      </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <script>
    $(document).ready(function () {

      $(document).keypress(function (e) {
        switch (e.which) {
          case 49:
            hidePartner();
            break;
          case 50:
            showPartner();
            break;
          default:
        }
      });

      function showPartner() {
        $(".partner").show();
        $(".partner-label").text("Our");
      }

      function hidePartner() {
        $(".partner").hide();
        $(".partner-label").text("My");
      }

      $("form").on("submit", function (e) {
        e.preventDefault();
      })

    });
  </script>
</body>

</html>