<%- include(templates+"header", {
  claim: "Income support supplement",
  heading: "Income support supplement"
}) %>

<div class="default">

  <div class="margin-below--extra">
    <p>Complete this application if you are already getting a disability pension from DVA and an
      age pension from Centrelink and you want DVA to pay your age pension. Your partner can also choose to have their age
      pension paid by DVA. Other types of Centrelink payments cannot be transferred.</p>
    <p>The information sought throughout this application is required by DVA to arrange payment of age pension. Your name
      will be disclosed to Centrelink so they can provide DVA with relevant information to transfer the payment.</p>
    <p>If your partner would like to transfer their age pension from centrelink to DVA they will need to complete their own
      application.</p>
    <p>For further information, see the <a href="http://www.dva.gov.au" class="external-link">DVA website</a>.</p>
  </div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "/auth/claims"
      },
      {
        text: "Next",
        link: "/auth/claim/iss/progress-01",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>

</div>

<div class="draft-claim" hidden>

  <%- include(partials+"components/form-partials/notice", {
    message: "<p>You have a draft income support supplement claim saved.</p><p><a href=''>Resume your draft</a> or <a href=''>delete your draft</a> to begin a new claim.</p>",
    type: "warning"
  }); %>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "/auth/claims"
      }
    ]
  }) %>


</div>



<%#- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>
<%- include("index-ss") -%>

<script>
  function stateSwitcher() {
    hideAll();
    console.log( state )
    switch (state) {
      case "Draft claim in progress":
        $(".draft-claim").show();
        break;
      case "No draft claim in progress":
        $(".default").show();
        break;
      default:
        break;
    }
}

function hideAll(){
  $(".draft-claim").hide();
  $(".default").hide();
}
</script>
