<%- include(templates+"header", {
  claim: "Income support supplement",
  heading: "Income support supplement"
}) %>

<div class="default">

  <div class="margin-below--extra">
    <p>The income support supplement is a means-tested payment that is paid to eligible war widows and widowers in addition to their war widow's or widower's pensions. This includes wholly dependant partners under the Military Rehabilitation and Compensation Act 2004 (MRCA). The income support supplement is paid fortnightly.</p>This application asks about:<ul></ul><li>your personal details, your partner and dependants</li><li>your residence in Australia</li><li>your living arrangements</li><li>your tax details</li></ul>
  </div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "/auth/claims"
      },
      {
        text: "Next",
        link: "/auth/claim/iss/progress-01",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>

</div>

<div class="draft-claim" hidden>

  <%- include(partials+"components/form-partials/notice", {
    message: "<p>You have a draft income support supplement claim saved.</p><p><a href=''>Resume your draft</a> or <a href=''>delete your draft</a> to begin a new claim.</p>",
    type: "warning"
  }); %>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "/auth/claims"
      }
    ]
  }) %>


</div>



<%#- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>
<%- include("index-ss") -%>

<script>
  function stateSwitcher() {
    hideAll();
    console.log( state )
    switch (state) {
      case "Draft claim in progress":
        $(".draft-claim").show();
        break;
      case "No draft claim in progress":
        $(".default").show();
        break;
      default:
        break;
    }
}

function hideAll(){
  $(".draft-claim").hide();
  $(".default").hide();
}
</script>
