<%- include(templates+"header", {
  claim: "Income support supplement",
  heading: "Income support supplement"
}) %>

  <%- include(forms+"progress-simple", { percent: 5, modifiers: ["claimPercentage"] }) %>

  <h3 class="margin-below--extra">Hi Xavier, tell us about your claim.</h3>

  <%- include(forms+"progress-multi", {
    activeItem: 1,
    points: [
      {
        text: "About your claim",
        link: "/auth/claim/iss/about-your-claim",
        subtext: "Tell us about your circumstances."
      }
    ]
  }) %>

  <%- include(forms+"pagination", {
    pagination: [
      {
        link: "/auth/claim/iss/",
        text: "Previous"
      },
      {
        link: "#claim-cancel-modal",
        text: "Cancel claim"
      },
      {
        link: "/auth/claim",
        text: "Save and exit",
      modifiers: ["floated"]
      },
      {
        link: "/auth/claim/iss/about-your-claim",
        text: "Save and next",
        modifiers: ["floated", "primary", "disabled"]
      }
    ]
  }) %>

  <%- include(forms+"modals/claim-cancel") %>

<%- include(templates+"footer") %>