<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width" name="viewport" />
  <title>Review and submit: Age service pension | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content"
      class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Review and submit</span>
      </h1>
    </div>
    <div class="container container--8-column margin-below--large">
      <%- include(components+"review-submit", {
          customClass: "margin-above--extra",
          claim_title: "Part A - Getting started",
          categories: [
            {
              title: "About your claim",
              edit_url: "#",
              data: [
                {
                  q: "What are you applying for?",
                  a: "Invalidity service pension"
                },
                {
                  q: "Who are you applying for?",
                  a: "Myself"
                },
                {
                  q: "On what grounds are you applying for Invalidity Pension?",
                  a: "Blind"
                },
                {
                  q: "Will you be claiming the pension bonus?",
                  a: "Yes"
                },
                {
                  q: "Have you applied for or do you receive any of the following Centrelink payments?",
                  a: `<ul>
                        <li>Age Pension</li>
                        <li>Disability support pension</li>
                      </ul>`
                },
                {
                  q: "Have you applied for or do you currently hold a Commonwealth seniors health card (CSHC) from Centrelink?",
                  a: "Yes"
                },
                {
                  q: "What is your Centrelink Customer Reference Number (CRN)?",
                  a: "123 456 789 A"
                }
              ]
            }
          ]
        }) %>

      <%- include(components+"review-submit", {
          customClass: "margin-above--large",
          claim_title: "Part B - Claim details",
          categories: [
            {
              title: "Relationship status",
              edit_url: "#",
              data: [
                {
                  q: "What is your current relationship status?",
                  a: "Married"
                },
                {
                  q: "Date of marriage",
                  a: "11 / 11 / 1999"
                },
                "Partner details",
                {
                  q: "Title",
                  a: "Miss"
                },
                {
                  q: "Surname",
                  a: "Stevens"
                },
                {
                  q: "Given name",
                  a: "Mary"
                },
                {
                  q: "Has your partner ever been known by any other names?",
                  a: "Yes"
                },
                {
                  q: "Previous names",
                  a: `Mary Poppins`
                },
                {
                  q: "Gender",
                  a: "Female"
                },
                {
                  q: "Date of birth",
                  a: "11 / 11 / 1970"
                },
                "Residential address",
                {
                  q: "Does your partner live at the same address as you?",
                  a: "Yes"
                },
                "Postal address",
                {
                  q: "Same as residential address?",
                  a: "Yes"
                },
                "Partner contact details",
                {
                  q: "Does your partner wish to use your contact details?",
                  a: "Yes"
                },
                {
                  q: "Has your partner applied for or do they receive any of the following Centrelink payments?",
                  a: "No"
                },
                {
                  q: "Is your partner a registered member of the Pension Bonus Scheme?",
                  a: "Yes"
                },
                {
                  q: "Does your partner currently hold a Commonwealth Seniors Health Card (CSHC) from Centrelink?",
                  a: "Yes"
                },
                {
                  q: "Is your partner blind or visually impaired?",
                  a: "No"
                }
              ]
            },
            {
              title: "Dependent children",
              edit_url: "#",
              data: [
                "Steven Stevens",
                {
                  q: "Date of birth",
                  a: "11 / 11 / 1999"
                },
                {
                  q: "First name",
                  a: "Steven"
                },
                {
                  q: "Middle name",
                  a: "Bobby"
                },
                {
                  q: "Last name",
                  a: "Stevens"
                },
                {
                  q: "Gender",
                  a: "Male"
                },
                {
                  q: "Relationship type",
                  a: "Parent"
                },
                {
                  q: "Does the child live with you?",
                  a: "Yes"
                },
                {
                  q: "Does the child study full time?",
                  a: "Yes"
                },
                {
                  q: "Dpes the cho;d receive any government payment?",
                  a: "Yes"
                },
                {
                  q: "Type of payment",
                  a: "Austudy Payment"
                },
                {
                  q: "Amount of fortnightly payments",
                  a: "$330.00"
                },
                {
                  q: "Does the child receive any income from employment?",
                  a: "No"
                },
                "Tiffany Stevens",
                {
                  q: "Date of birth",
                  a: "15 / 05 / 2005"
                },
                {
                  q: "First name",
                  a: "Tiffany"
                },
                {
                  q: "Middle name",
                  a: "Mary"
                },
                {
                  q: "Last name",
                  a: "Stevens"
                },
                {
                  q: "Gender",
                  a: "Female"
                },
                {
                  q: "Relationship type",
                  a: "Parent"
                },
                {
                  q: "Does the child live with you?",
                  a: "Yes"
                },
                {
                  q: "Does the child study full time?",
                  a: "Yes"
                },
                {
                  q: "Does the child receive any income from employment?",
                  a: "No"
                }
              ]
            },
            {
              title: "Residency",
              edit_url: "#",
              data: [
                "Tell us about your residency",
                {
                  q: "Are you an Australian citizen?",
                  a: "Yes"
                },
                {
                  q: "Were you born in Australia?",
                  a: "Yes"
                },
                {
                  q: "Have you moved to or returned to live in AUstralia in the last 12 months?",
                  a: "No"
                },
                "Partner residency details",
                {
                  q: "Is your partner an Australian citizen?",
                  a: "Yes"
                },
                {
                  q: "Was your partner born in Australia?",
                  a: "Yes"
                },
                {
                  q: "Has your partner moved to or returned to Australia in the last 12 months?",
                  a: "No"
                }
              ]
            },
            {
              title: "Living arrangements",
              edit_url: "#",
              data: [
                {
                  q: "Do you have a partner who is applying and who lives at a different address because of age or ill health?",
                  a: "No"
                },
                {
                  q: "Which of the following best describes your living arrangements?",
                  a: "Rental accomodation"
                },
                {
                  q: "Select one of the following",
                  a: "In rental accomodation"
                },
                {
                  q: "Type of payment",
                  a: "Private rent"
                },
                {
                  q: "How much do you pay?",
                  a: "$365 Weekly"
                },
                "Who do you pay it to?",
                {
                  q: "First name",
                  a: "Joseph"
                },
                {
                  q: "Last name",
                  a: "Bloggs"
                },
                {
                  q: "What is the preferred method of contact?",
                  a: "Phone"
                },
                {
                  q: "Contact number",
                  a: "+61 495 596 121"
                },
                {
                  q: "Have you sold your home within the last 2 years?",
                  a: "No"
                },
                {
                  q: "Do you own your home (either purchased outright or have a mortgage), but you or your partner live somewhere else?",
                  a: "No"
                }
              ]
            },
            {
              title: "Claim representative",
              edit_url: "#",
              data: [
                {
                  q: "Do you wish to nominate a claim representative to receive updates and query about this claim on your behalf?",
                  a: "No"
                }
              ]
            },
            {
              title: "Payment details",
              edit_url: "#",
              data: [
                {
                  q: "Account name",
                  a: "Mary and Mark Stevens"
                },
                {
                  q: "BSB",
                  a: "012 983"
                },
                {
                  q: "Financial institution",
                  a: "ANZ Tuggeranong"
                },
                {
                  q: "Account number",
                  a: "123 5151 151"
                },
                {
                  q: "Do you ave a tax file number (TFN)?",
                  a: "Yes"
                },
                {
                  q: "Tax file number (TFN)",
                  a: "123 1515 154"
                }
              ]
            }
          ]
        }) %>

      <%- include(components+"review-submit", {
          customClass: "margin-above--large",
          claim_title: "Part C - Income & assets",
          categories: [
            {
              title: "Savings",
              edit_url: "#",
              data: [
                "Savings Account 1",
                {
                  q: "Account owner",
                  a: "Jointly with my partner"
                },
                {
                  q: "Account type",
                  a: "Savings account"
                },
                {
                  q: "BSB",
                  a: "012 983"
                },
                {
                  q: "Financial institution",
                  a: "ANZ Tuggeranong"
                },
                {
                  q: "Account number",
                  a: "123 5151 151"
                },
                {
                  q: "Current balance",
                  a: "$12,515.00"
                },
                "Cash Management Account 2",
                {
                  q: "Account owner",
                  a: "Myself"
                },
                {
                  q: "Account type",
                  a: "Cash Management Account"
                },
                {
                  q: "BSB",
                  a: "012 983"
                },
                {
                  q: "Financial institution",
                  a: "ANZ Tuggeranong"
                },
                {
                  q: "Account number",
                  a: "123 5151 151"
                },
                {
                  q: "Current balance",
                  a: "$3,000.00"
                },
                "Cash Holding 1",
                {
                  q: "Account owner",
                  a: "Jointly with my partner"
                },
                {
                  q: "$30,000.65"
                }
              ]
            },
            {
              title: "Investments",
              edit_url: "#",
              data: [
                "Bond 1",
                {
                  q: "Investment type",
                  a: "Bonds"
                },
                {
                  q: "Country of issue",
                  a: "Australia"
                },
                {
                  q: "Name of issuing institution",
                  a: "Bond Issuing Inc"
                },
                {
                  q: "Certificate or series number",
                  a: "395 195 A"
                },
                {
                  q: "Current balance",
                  a: "$25,709.00"
                },
                {
                  q: "Issue date",
                  a: "29 / 12 / 2003"
                },
                "Pre-paid Funeral 1",
                {
                  q: "Owner",
                  a: "My partner"
                },
                {
                  q: "Amount invested in pre-paid funeral plan?",
                  a: "$10,000.00"
                },
                {
                  q: "Investment date",
                  a: "15 / 07 / 2015"
                },
                {
                  q: "Description",
                  a: "Pre-paid funeral for my wife"
                },
                "Share 1",
                {
                  q: "Owner",
                  a: "Jointly with my partner"
                },
                {
                  q: "Type of share",
                  a: "Listed"
                },
                {
                  q: "Share code",
                  a: "STR"
                },
                {
                  q: "Company name",
                  a: "STRUCTURED PRODUCT"
                },
                {
                  q: "Acquired date",
                  a: "29 / 05 / 1980"
                },
                {
                  q: "Number of shares",
                  a: "15,000"
                },
                "Other Financial Investment 1",
                {
                  q: "Asset owner",
                  a: "Myself"
                },
                {
                  q: "Type of investment",
                  a: "Bullion - Gold, Silver or Platinum"
                },
                {
                  q: "Description",
                  a: "Old medal from grandfather"
                },
                {
                  q: "Current value of investment",
                  a: "$359.00"
                },
                "Money Loan 1",
                {
                  q: "Lender",
                  a: "Myself"
                },
                {
                  q: "Name of borrower",
                  a: "John Smith"
                },
                {
                  q: "Date loaned",
                  a: "23 / 11 / 2018"
                },
                {
                  q: "Balance outstanding",
                  a: "$12,000.59"
                },
                "Superannuation 1",
                {
                  q: "Lender",
                  a: "Myself"
                },
                {
                  q: "Do you or your partner draw an income stream from the fund?",
                  a: "No"
                },
                {
                  q: "Commencement date",
                  a: "03 / 03 / 1980"
                },
                {
                  q: "Country of payment",
                  a: "Australia"
                },
                {
                  q: "Fund type",
                  a: "Other (ie CommSuper, corporate fund)"
                },
                {
                  q: "Provider name",
                  a: "CommSuper"
                },
                {
                  q: "Product name",
                  a: "Saver superfund"
                },
                {
                  q: "Payment frequency",
                  a: "Weekly"
                },
                {
                  q: "Weekly income",
                  a: "$1,000.00"
                },
                {
                  q: "Assessed asset",
                  a: "$0.00"
                },
                "SMSF 1",
                {
                  q: "Lender",
                  a: "Lender"
                },
                {
                  q: "Do you or your partner draw an income stream from the fund?",
                  a: "No"
                },
                {
                  q: "Investment date",
                  a: "19 / 05 / 2007"
                },
                {
                  q: "Does the SMSF or SAF hold any real estate?",
                  a: "No"
                },
                {
                  q: "Fund manager",
                  a: "SunSuper"
                },
                {
                  q: "Product group",
                  a: "SMSF"
                },
                {
                  q: "Product name",
                  a: "SMSF Saver"
                },
                {
                  q: "Asset amount",
                  a: "$1,000.00"
                }
              ]
            },
            {
              title: "Income",
              edit_url: "#",
              data: [
                "Boarder / Lodger 1",
                {
                  q: "Name of boarder/lodger",
                  a: "Meals on Wheels"
                },
                {
                  q: "Number of meals you provided each day",
                  a: "19"
                },
                {
                  q: "Amount paid for board or lodging",
                  a: "$395.00"
                },
                {
                  q: "Payment frequency",
                  a: "Monthly"
                },
                {
                  q: "When did your boarder/lodger start living wit you?",
                  a: "19 / 05 / 2018"
                },
                "Employment Income 1",
                {
                  q: "Name of your employer",
                  a: "Woolworths"
                },
                {
                  q: "Job/occupation title",
                  a: "Baker"
                },
                {
                  q: "Employer's address",
                  a: "42 Wallaby Way, Sydney, NSW 2000, Australia"
                },
                {
                  q: "Employer's phone number",
                  a: "+61 406 195 292"
                },
                {
                  q: "Employer's email address",
                  a: "contact@woolworths.com"
                },
                {
                  q: "Contact name",
                  a: "P. Sherman"
                },
                {
                  q: "Employment commencement date",
                  a: "19 / 09 / 2015"
                },
                {
                  q: "What is the pattern of work for this employer?",
                  a: "Variable - You work variable hours and receive a variable wage each week/fortnight/month"
                },
                {
                  q: "What was the gross fortnightly income?",
                  a: "$369.00"
                },
                {
                  q: "Is it likely that your work pattern will change in the next 6 months?",
                  a: "No"
                },
                {
                  q: "Do you receive any other benefits from your employer as part of your salary package?",
                  a: "No"
                },
                {
                  q: "Do you receive workers compensation payments as part of, or in addition to, your gross wages?",
                  a: "No "
                },
                "Foreign Pension 1",
                {
                  q: "Type of payment",
                  a: "British State Pension"
                },
                {
                  q: "Country you receive the pension from",
                  a: "Ireland"
                },
                {
                  q: "Payment frequency",
                  a: "Weekly"
                },
                {
                  q: "Payment currency",
                  a: "European Euro"
                },
                {
                  q: "Payment amount",
                  a: "€500"
                },
                "Purchased Income Stream 1",
                {
                  q: "Is this a foreign fund?",
                  a: "No"
                },
                {
                  q: "Term type",
                  a: "Fixed"
                },
                {
                  q: "Plan start date",
                  a: "23 / 11 / 1990"
                },
                {
                  q: "Name of the Institution/Fund Manager",
                  a: "Purchased Income Pty Ltd"
                },
                {
                  q: "Product name",
                  a: "Lifetime Payouts"
                },
                {
                  q: "Total purchase price",
                  a: "$105,000.00"
                },
                {
                  q: "How often do you get paid?",
                  a: "Weekly"
                },
                {
                  q: "How much?",
                  a: "$3,000.00"
                },
                {
                  q: "Do you have a reversionary beneficiary?",
                  a: "No"
                },
                "Other Payment 1",
                {
                  q: "Payment type",
                  a: "Gifts or royalties"
                },
                {
                  q: "Payment description",
                  a: "Payment from parents for rent"
                },
                {
                  q: "Payment amount",
                  a: "$600.00"
                },
                {
                  q: "Payment frequency",
                  a: "Weekly"
                },
                {
                  q: "Payment commence date",
                  a: "23 / 11 / 2015"
                }
              ]
            },
            {
              title: "Property & business",
              edit_url: "#",
              data: [
                "Real Estate 1",
                {
                  q: "What type of property is it?",
                  a: "Town house"
                },
                {
                  q: "Who owns the property?",
                  a: "Myself"
                },
                {
                  q: "What is the address of your property?",
                  a: "5 Pollock St, Chifley, ACT 2606, Australia"
                },
                {
                  q: "Land title reference",
                  a: "Lot 31"
                },
                {
                  q: "Is your home property held on more than one title?",
                  a: "No"
                },
                {
                  q: "What is the legal description of your land (e.g. lot, section, parish etc)?",
                  a: "Lot"
                },
                {
                  q: "Is the property owned wholly or partly by a private trust or private company in which you have an involvement?",
                  a: "Neither"
                },
                {
                  q: "What is the area/dimensions of your land?",
                  a: "0.5 hectares"
                },
                {
                  q: "Is the property occupied?",
                  a: "No"
                },
                {
                  q: "When do you expect it to be occupied?",
                  a: "15 / 12 / 2020"
                },
                {
                  q: "Whole property including land or self-contained flat",
                  a: "$395,000.00"
                },
                {
                  q: "Your home building and up to 2 hectares surrounding area if you live on the property",
                  a: "$0.00"
                },
                {
                  q: "Furniture and fittings (net value)",
                  a: "$20.000.00"
                },
                {
                  q: "Is the mortgage secured against this property?",
                  a: "Yes"
                },
                {
                  q: "Is there a building on the property?",
                  a: "No"
                },
                {
                  q: "Do you give authority for DVA's licensed valuer to enter and inspect the property?",
                  a: "No"
                },
                "Business 1",
                {
                  q: "Where does this business/company/trust operate?",
                  a: "Within Australia"
                },
                {
                  q: "Business owner",
                  a: "Myself"
                },
                {
                  q: "Type of business",
                  a: "Sole Trader"
                },
                {
                  q: "Business name",
                  a: "FishCo Pty Ltd"
                },
                {
                  q: "Date you commenced operating",
                  a: "31 / 01 / 2019"
                },
                "Farm 1",
                {
                  q: "What type of property do you have?",
                  a: "Hobby Farm"
                },
                {
                  q: "Land title reference",
                  a: "Lot 31"
                },
                {
                  q: "Acquisition date",
                  a: "19 / 09 / 1980"
                },
                {
                  q: "What is the address of your property?",
                  a: "800 National Hwy, Bordertown, SA 5268, Australia"
                },
                {
                  q: "Is your home property held on more than one title?",
                  a: "No"
                },
                {
                  q: "What is the legal description of your land (e.g. lot, section, parrish etc)?",
                  a: "Parrish"
                },
                {
                  q: "What is the area/dimensions of your land?",
                  a: "20 hectares"
                },
                {
                  q: "Give details of how you use the property (i.e. Orchards, Vineyard etc.)",
                  a: "Apple orchards"
                },
                {
                  q: "Building 1 type",
                  a: "Cottage"
                },
                {
                  q: "Building 1 floor area (approx.)",
                  a: "3 sq/mtrs"
                },
                {
                  q: "Building 1 approximate age",
                  a: "50 years"
                },
                {
                  q: "Building 1 type of construction",
                  a: "Brick & wood"
                },
                {
                  q: "Present market value",
                  a: "$805,000.00"
                },
                {
                  q: "Valued by",
                  a: "Centrelink"
                },
                {
                  q: "Present balance of mortgage or other secured loans",
                  a: "$0.00"
                },
                {
                  q: "Plant and machinery description",
                  a: "3 tractors"
                },
                {
                  q: "Plant and machinery present market value",
                  a: "$80,000.00"
                },
                {
                  q: "Livestock description",
                  a: "17 cows"
                },
                {
                  q: "Livestock present market value",
                  a: "$17,000.00"
                },
                {
                  q: "Do you live on the property?",
                  a: "No"
                },
                {
                  q: "Have you lived on the property for more than 20 years?",
                  a: "No"
                },
                {
                  q: "Do you give authority for DVA's licensed valuer to enter and inspect the property?",
                  a: "No"
                },
                {
                  q: "Declaration",
                  a: "I declare that the information I have given is complete and correct. Giving false or misleading information is a serious offence."
                }
              ]
            },
            {
              title: "Other assets",
              edit_url: "#",
              data: [
                "Home and Contents 1",
                {
                  q: "Owner",
                  a: "Myself"
                },
                {
                  q: "What is the market value of your home contents?",
                  a: "$15,000.00"
                },
                "Vehicle 1",
                {
                  q: "Vehicle owner",
                  a: "Myself"
                },
                {
                  q: "Vehicle type",
                  a: "Car"
                },
                {
                  q: "Vehicle make",
                  a: "Holden"
                },
                {
                  q: "Vehicle model",
                  a: "Commodore"
                },
                {
                  q: "Vehicle year",
                  a: "1996"
                },
                {
                  q: "Market value of the vehicle",
                  a: "$10,000.00"
                },
                {
                  q: "Amount owing on this vehicle",
                  a: "$0.00"
                },
                "Life Insurance 1",
                {
                  q: "Name of insurance company",
                  a: "AAMI"
                },
                {
                  q: "Policy number",
                  a: "23"
                },
                {
                  q: "Surrender value",
                  a: "$23,000.00"
                },
                {
                  q: "Purchase date",
                  a: "15 / 07 / 2018"
                },
                "Other Personal Asset 1",
                {
                  q: "Owner of this asset",
                  a: "Myself"
                },
                {
                  q: "Asset type",
                  a: "Collectibles - includes art, antiques, coins and medals (hobby purposes)"
                },
                {
                  q: "Description",
                  a: "1952 US Dollar Coin (mint condition)"
                },
                {
                  q: "Current market value",
                  a: "$10,000.00"
                },
                {
                  q: "Date of valuation",
                  a: "01 / 12 / 2019"
                },
                {
                  q: "Amount owing",
                  a: "$0.00"
                }
              ]
            },
            {
              title: "Additional circumstances",
              edit_url: "#",
              data: [
                "Gift (Deprived Asset) 1",
                {
                  q: "Asset owner",
                  a: "Myself"
                },
                {
                  q: "Type of asset",
                  a: "Business"
                },
                {
                  q: "Description",
                  a: "Cafe (Bob's Cafe) sold to Frank Bobson for $30,000"
                },
                {
                  q: "Date surrendered or sold",
                  a: "11 / 05 / 2019"
                },
                {
                  q: "Market value of asset",
                  a: "$250,000.00"
                },
                {
                  q: "Financial consideration received",
                  a: "$0.00"
                },
                "Maintenance Paid To A Former Partner 1",
                {
                  q: "Payment amount",
                  a: "$1,500.00"
                },
                {
                  q: "Payment frequency",
                  a: "Fortnightly"
                },
                "Past Employment 1",
                {
                  q: "Name of employer",
                  a: "Coles"
                },
                {
                  q: "When did your employment cease?",
                  a: "31 / 12 / 2018"
                },
                "Compensation and Damages 1",
                {
                  q: "What is the source of your compensation that has been received or are receiving or will claim for?",
                  a: "Australian Defence Force"
                },
                {
                  q: "Type of compensatoin in relation to service with the Australian Defence Force",
                  a: "Initial Liability claim"
                }
              ]
            }
          ]
        }) %>

      <%- include(components+"review-submit", {
          customClass: "margin-above--large",
          claim_title: "Part D - Required Documents",
          categories: [
            {  
              title: "Required documents",
              edit_url: "#",
              data: [
                {
                  q: "Council rates notice",
                  a: "ratesnotice.pdf"
                }
              ]
            }
          ]
        }) %>

      <%- include(forms+"pagination", {
  customClass: "margin-above--extra",
  pagination: [
    {
      text: "Previous",
      link: "/auth/claim/iss/progress-finish"
    },
    {
      text: "Cancel claim",
      link: "#claim-cancel-modal"
    },
    {
      text: "Save and exit",
      link: "/auth/claim",
      modifiers: ["floated"]
    },
    {
      text: "Submit claim",
      link: "/auth/claim/iss/submitted",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

    </div>
    <%- include(partials+"content/modals/claims-cancel-modal") %>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>
<script>
  $(document).ready(function () {
    // Progress percentage
    document.getElementById("percentage").style.width = "80%";
    document.getElementById("percentage_value").textContent = "80%";
  });
</script>

</html>