<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Submitted: Service pension Application | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="claim-end">

            <div class="pt-claim-type--normal">
              <div class="margin-above ie-success-animation">
                <img src="/docs/images/ico-tick-green-outline.svg" alt="Success tick icon">
              </div>
              <div class="margin-above submitted-animation">
                <%- include(partials+"components/animations/submitted") %>

              </div>
              <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
                <h1>We're submitting your application </h1>
              </div>
            </div>

            <div class="transition-content pt-claim-animation-end margin-below--extra">
              <div class="pt-claim-type--normal">
             <h1 class="cantered-item">Your application for the income support supplement has been
               <span class="font-weight-heavy"> submitted</span>
             </h1>
             </div>

             <hr class="orange-divider">

             <h2 class="ss-align--center"><b>What's next?</b></h2>

             <div class="container">
               <div class="margin-below--extra container container--10-column">
                 <ul class="next-steps">
                   <li>We will be in contact if we require any further information.</li>
                   <li>Once your claim has been processed you will receive a letter informing you of the outcome.</li>
                 </ul>
               </div>
             </div>

              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/profile'">Update profile</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">See your claims</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".pt-claim-animation-start").toggleClass("transition-content--open");
        $(".pt-claim-animation-end").toggleClass("transition-content--open");
      }, timeDelay);

  </script>

</body>

</html>
