<div class="form-group margin-above--large" id="<%= locals.groupID %>">
	<label class="uikit-text-input__label" for="sop"><%= locals.label %>
		<span class="hint display-block"><%= locals.hint %></span>
	</label>
	<%  locals.myLabels.forEach(function(element, index) {  %>
		<div class="uiToolKitCheckBox">
			<label class="uikit-control-input">
				<input class="uikit-control-input__input" type="checkbox" id="<%= locals.myID[index] %>" name="checkbox">
				<span class="uikit-control-input__text"><%= element %></span>
			</label>
			<% if ( element == "Other" ) { %>
			<div class="form-group" id="<%= locals.groupID %> + -other" style="display: none;">
                <label class="uikit-text-input__label margin-above--mid" for="Input field">Please specify</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </div>
            <% } %>
		</div>
	<% }); %>
</div>







