


<% if (locals.optionalID) { 
  var id = locals.optionalID;
} else {
    var id = locals.question.replace(/ +/g, '_').replace(/\?/g, "").toLowerCase(); 
}

%>
<% if (locals.optionalHide === true) { %>
<style>
#<%=id %> {
    display: none;
}
</style>
<% } %>

 <div class="form-group">
<div class="radio-tile--group" id="<%= id %>"><legend class="legend-label"><%=locals.question%></legend><% locals.items.forEach(function(element, index) {
    itemID = element.replace(/ +/g, '_').replace(/\?/g, '').toLowerCase(); %>
    <label class="radio-tile"> <input id="<%= itemID %>" class="mys-radio__control" type="radio" name="<%= id %>" value="<%= itemID %>"><span class="mys-radio__box mys-radio__box--large"> <div class="radio_tile__icon fal <%= locals.icons[index] %> fa-3x"></div> <div class="margin-above"> <%=element %> </div> </span> </label> <%
}

);
%></div></div>








