

<div class="mys-radio-group" id="<%= locals.groupID %>">
<legend class="legend-label margin-above--large"><%= locals.radioLabel %></legend>
<%  locals.myLabels.forEach(function(element, index) {  %>
<!--    <div> I am number <%= index %> and my value is  <%= element %></div> -->
    <label class="mys-radio">
        <input id="<%= locals.myID[index] %>" class="mys-radio__control" type="radio" name="pensionType" value="invaliditiy">
        <span class="mys-radio__box mys-radio__box--large">
            <div class="radio_tile__icon fal <%= locals.myIcons[index] %> fa-3x"></div>
            <div class="margin-above">
                <%= element %>
            </div>
        </span>
    </label>
<% }); %>
</div>







