


<% if (locals.el.optionalID) { 
  var id = locals.el.optionalID;
} else {
    var id = locals.el.question.replace(/ +/g, '_').replace(/\?/g, "").toLowerCase(); 
}

%>
<% if (locals.el.optionalHide === true) { %>
<style>
#<%=id %> {
    display: none;
}
</style>
<% } %>

 <div class="form-group" id="<%= id %>">
  <legend class="legend-label"><%=locals.el.question%></legend>
<div class="radio-tile--group"><% locals.el.items.forEach(function(element, index) {
    itemID = element.replace(/ +/g, '_').replace(/\?/g, '').toLowerCase(); %>
    <label class="radio-tile"> <input id="<%= itemID %>" class="mys-radio__control" type="radio" name="<%= id %>" value="<%= itemID %>"><span class="mys-radio__box mys-radio__box--large"> <div class="radio_tile__icon fal <%= locals.el.icons[index] %> fa-3x"></div> <div class="margin-above"> <%=element %> </div> </span> </label> <%
}

);
%></div></div>








