<% if (locals.optionalID) { 
  var id = locals.optionalID;
} else {

    var id = locals.question.replace(/ +/g, '_').replace(/\?/g, "").toLowerCase(); 

}

if (locals.radioLabel) { 
  var radioLabel = locals.radioLabel;
} else {
  var radioLabel = ''; 
}

%>
<% if (locals.optionalHide === true) { %>
<style>
    #<%=id %> {
    display: none;
  }

</style>
<% } %>
<div class="form-group" id="<%= id %>">
    <label class="uikit-text-input__label" for="sop">
        <%= locals.question %>
        <% if (locals.optionalHint) { %>
        <span class="hint display-block">
            <%= locals.optionalHint %></span>
        <% } %>
    </label>
    <%  locals.items.forEach(function(element, index) { 
    var itemID = element.replace(/ +/g, '_').toLowerCase(); 
    if (locals.optionalItemID) { 
      itemID = locals.optionalItemID[index];
    }
    %>
    <div class="uiToolKitCheckBox">
        <label class="uikit-control-input">
            <input class="uikit-control-input__input" type="radio" id="<%= itemID %>" name="<%= id %>" value="<%= itemID %>">
            <span class="uikit-control-input__text">
                <%= element %></span>
        </label>
        <% if (locals.optionalItemHelp ) { 
          var myHelp = locals.optionalItemHelp[index];
          console.log( myHelp );
          if ( myHelp != "" ) { %>
        <div class="tooltip">
            <div id="tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="message" aria-expanded="false">
                <div class="tooltip__label tooltip__label--icon-only">
                    <a>Operations help</a>
                </div>
                <div class="tooltip__tab"></div>
            </div>
            <div id="tt-message" class="tooltip__content" aria-labelledby="tt-label" role="region" tabindex="-1" aria-hidden="true">
                <div class="tooltip__message"><%= myHelp %></div>
                <div class="tooltip__close" role="button" tabindex="0">Close</div>
            </div>
        </div>
        <% }} %>
        <% 
    if ( element == "Other" ) { %>
        <script>
            $("#other<%= index %>").click(function () {
        $("#<%= id %>-other").toggleClass("pt-hide");
      });

    </script>
        <div class="form-group pt-hide" id="<%= id %>-other">
            <label class="uikit-text-input__label margin-above--mid" for="Input field">Please specify</label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
        </div>
        <% } %>
    </div>
    <% }); %>
</div>