<% if (locals.radioId) { 
  var id = locals.radioId;
} else {
  var id = locals.radioLabel.replace(/ +/g, ''); 
}
%>
<!-- locals.radioLabel <%= locals.radioLabel %><br>
locals.radioId <%= locals.radioId %></br> -->

<legend class="legend-label"><%= locals.radioLabel %></legend>
<div class="radio-toggle">
  <label class="on label-left" for="<%= id %>-yes">
    <input id="<%= id %>-yes" type="radio" name="<%= id %>">
    <span>Yes</span>
  </label>
  <label class="off label-right" for="<%= id %>-no">
    <input id="<%= id %>-no" type="radio" name="<%= id %>">
    <span>No</span>
  </label>
</div>