<% if (locals.optionalID) { 
  var id = locals.optionalID;
} else {
    var id = locals.question.replace(/ +/g, '_').replace(/\?/g, "").toLowerCase(); 
}
%>
<% 
if (locals.radioLabel) { 
  var radioLabel = locals.radioLabel;
} else {
  var radioLabel = ''; 
}
%>
<% if (locals.optionalHide === true) { %>
<style>
  #<%=id %> {
    display: none;
  }
</style>
<% } %>

<div class="form-group" id="<%= id %>">
  <label class="uikit-text-input__label" for="sop"><%= locals.question %>
     <br />
    <% if (locals.optionalHint) { %>
    <span class="hint display-block"><%= locals.optionalHint %></span>
    <% } %>
  </label>
  <select class="uikit-text-input input-half" id="<%=id%>-list" for="drop-down">
     <option selected="selected">-- Select an item --</option>
  <%  locals.items.forEach(function(element, index) { 
    var itemID = element.replace(/ +/g, '_').toLowerCase() + index; 
     if (locals.optionalItemID) { 
      itemID = locals.optionalItemID[index];
    }
    %>
    <option><%=element%></option>
  <% }); %>
   </select>
</div>




