<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Student Claim</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <div class="section-feature border-bottom--mild margin-above--none margin-below--large padding-below">
      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Required documents </span>
      </h1>
    </div>
    <div class="container container--8-column" id="main-content">

      <p><b>We need some documents from you to process your claim</b></p>
      <p>Accepted file types include pdf, jpeg and png. Maximum file size is 50MB. </p>

      <h2>What we need</h2>
      <table class="table-responsive table-responsive--no-border">
        <tbody>
          <tr class="pt-proofOfEnrolment accordion accordion--open">

            <td class="file-status file-status--required">
              <span class="sr">
                Required
              </span>
            </td>
            <td>
              <span>
                <b> Proof of
                  <span class="studentNameFirstApostrophed"></span> enrolment</b>
              </span>
              <span class=" accordion-title__details">For example, school report or institution letter.</span>
            </td>

            <td class="right">
              <div class="file-upload">
                <input type="file" class="file-upload__input" id="file-4">
                <label class="file-upload__label" for="file-4">
                  <span class="file-upload__document">
                    <a class="file-upload__file-name file-upload__file-name--uploaded">
                      <!-- document name will go in here -->
                    </a>
                  </span>
                  <span class="file-upload__button">
                    <span class="uikit-btn small">Upload</span>
                  </span>
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination pagination--ss-reverse-order">
        <button class="uikit-btn uikit-btn--tertiary" onclick="javascript:history.back()">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel</button>
        <div class="floated">
          <button class="uikit-btn btnNext" onclick="window.location.href= '/auth/claim/studentclaim5'">Submit</button>
        </div>
      </div>
      <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>
  <script>

  </script>
</body>

</html>
