<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>

  <main>
 
      <div class="container margin-above margin-below--extra" style="min-height: 500px;">
      
          <div class="back-button">
            <a href="/auth" class="mys h5"><i class="fal fa-arrow-left fa-fw"></i>Back to home</a>
          </div>
          <h1 class="mys h1 margin-above--none margin-below--mid" id="heading">Request a decision review</h1>

          <p>There are formal rights of review against many of the decisions DVA makes in relation to claims and benefits. </p>
          <button id="book" class="uikit-btn uikit-btn--primary request-review" onclick="location.href='/auth/reviews/reviews-01'">Start request</button>

            <%- include(partials+"components/form-partials/notice", {
              message: "Unable to access required records. Please contact DVA for assistance.",
              type: "error",
              id: "cant-find",
              modifiers: ["hidden"],
              customClass: ["margin-below--none"]
            }); %>

          <div id="requests">
            <hr>
            <%- include(partials+"components/form-partials/notice", {
              message: "Your travel booking has been updated successfully.",
              type: "success",
              id: "success",
              modifiers: ["hidden"],
              customClass: ["margin-below--none"]
            }); %>
            <%- include(partials+"components/form-partials/notice", {
              message: "Your travel booking has been cancelled successfully.",
              type: "success",
              id: "cancel-success",
              modifiers: ["hidden"],
              customClass: ["margin-below--none"]
            }); %>

            <h2 class="mys h2 margin-below--small margin-above">Submitted requests</h2>

            <table class="mys-table1 vea-trips margin-below">
              <thead>
                <tr>
                  <th>Date submitted</th>
                  <th>Reference</th>
                  <th>Details</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr id="blank" class="placeholder" hidden>
                  <td colspan="5">You currently have no requests.</td>
                </tr>

                <tr id="item-1">
                  <td data-title="Date submitted">2 September 2020
                  </td>
                  <td data-title="Reference">33657809</td>
                  <td data-title="Details">
                    <div>Disability pension</div>
                    <div>Internal review</div>
                  </td>
                  <td data-title="Status">Incomplete</td>
                  <td>
                    <button class="edit-trip uikit-btn uikit-btn--borderless margin-right--none">Delete</button><BR />
                    <button class="uikit-btn uikit-btn--borderless margin-right--none cancel-return">Resume</button>
                  </td>
                </tr>
               
                <tr id="item-2">
                  <td data-title="Date submitted">16 July 2020
                  </td>
                  <td data-title="Reference">33657900</td>
                  <td data-title="Details">
                    <div>MRCA Compensation</div>
                    <div>VRB Appeal</div>
                  </td>
                  <td data-title="Status">In progress</td>
                  <td>
                    <button class="edit-trip uikit-btn uikit-btn--borderless margin-right--none">View</button>
                  </td>
                </tr>

                <tr id="item-3"> 
                  <td data-title="Date submitted">16 July 2020
                  </td>
                  <td data-title="Reference">33657900</td>
                  <td data-title="Details">
                    <div>MRCA Compensation</div>
                    <div>Internal review</div>
                  </td>
                  <td data-title="Status">Finalised</td>
                  <td>
                    <button class="edit-trip uikit-btn uikit-btn--borderless margin-right--none">View</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="mys pagination" id="pagination"><a href="#1">«</a><a class="active" href="#1">1</a><a href="#2">2</a><a href="#3">3</a><a href="#4">4</a><a href="#5">5</a><a href="#6">6</a><a href="#7">7</a><a href="#3">»</a></div>
          </div>
      </div>

  </main>

  <%- include(partials+"components/layout/footer") %>
  <%- include("index-ss") %>
  <%#- include("cancel-return-modal") %>
  <%#- include("cancel-return-only-modal") %>
  <%#- include("cancel-modal") %>
</body>
<script>

  var state;
  // var cohort;

  $.urlParam = function (name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results == null) {
      return 0;
    }
    return results[1] || 0;
  }
  state = $.urlParam('state');
  // $("#cohort-1").prop("checked", true);
  // $("#past-trips-2").prop("checked", true);
  stateSwitcher();

  function stateSwitcher() {
    $("#blank").hide();
    $("#item-1").hide();
    $("#item-2").hide();
    $("#item-3").hide();
    switch (state) {
      case "none":
        $("#blank").show();
        break;
      case "many":
        $("#item-1").show();
        $("#item-2").show();
        $("#item-3").show();
        // $("#past-trips-2").prop("checked", true);
        break;
      case "one-one-way":
        $("#item-1").show();
        $("#item-2").show();
        $("#item-3").hide();
        // $("#cancel-success-container").show();
        break;
      case "one-return":
        $("#item-3").show();
        // $("#cancel-success-container").show();
        break;
      case "no-returns":
        $("#item-1").show();
        $("#item-3").show();
        $("#item-1").removeClass("return-a");
        // $("#cancel-success-container").show();
        break;
      default:
        $("#item-1").show();
        $("#item-2").show();
        $("#item-3").show();
        break;
    }
   
  }

  $(".edit-trip").click(function () {
    window.location = "/auth/transport/book-edit";
  });

 
</script>

</html>