<!DOCTYPE html>
<html class="js" lang="en">
  <head>
    <title>MyService</title>
    <%- include(partials+"components/layout/head") %>
  </head>

  <body class="uikit-body uikit-grid uikit-refactor future nom-reps">
    <noscript>
      <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
      <a class="uikit-skip-link__link" href="#main-content"
        >Skip to main content</a
      >
    </nav>

    <%- include(partials+"components/layout/header-topbar") %> 
    <%-include(partials+"components/layout/header-authenticated") %>

    <main>
      <div class="container margin-above margin-below--extra" style="min-height: 500px">
        <div class="back-button">
          <a href="/auth" class="mys h5"><i class="fal fa-arrow-left fa-fw"></i>Back to home</a>
        </div>
        <h1 class="mys h1 margin-above--none margin-below--mid request-review" id="heading">Request review of decision</h1>

        <p>
          If you are not satisfied with the outcome of an application, you can
          request a review. The type of review you can request depends on the
          Act that covers you and the type of benefit or service you applied
          for.
        </p>

        <button
          id="book"
          class="uikit-btn uikit-btn--primary request-review">
          Start request
        </button>

        <div id="requests">
          <hr />
          <%- include(partials+"components/form-partials/notice", { 
            message: "Your documents have been submitted successfully.", 
            type: "success",
            id: "docs-success", 
            modifiers: ["hidden"], 
            customClass: ["margin-below--none toast"] 
          }); %> 
        
          <%- include(partials+"components/form-partials/notice", { 
            message: "Your review has been deleted successfully.", 
            type: "success",
            id: "delete-success", 
            modifiers: ["hidden"], 
            customClass: ["margin-below--none toast"] 
          }); %> 

          <%- include(partials+"components/form-partials/notice", { 
            message: "Your message has been submitted. We will be in contact to discuss this matter.", 
            type: "success",
            id: "other-submit", 
            modifiers: ["hidden"], 
            customClass: ["margin-below--none toast"] 
          }); %> 
        

          <h2 class="mys h2 margin-below--small margin-above">
            Submitted requests
          </h2>

          <table class="mys-table1 submitted-reviews margin-below">
            <thead>
              <tr>
                <th class="white-space--nowrap">Date submitted</th>
                <th>Reference</th>
                <th>Details</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr id="blank" class="placeholder" hidden>
                <td colspan="5">You currently have no requests.</td>
              </tr>

              <tr id="item-1">
                <td data-title="Date submitted">Not submitted</td>
                <td data-title="Reference"></td>
                <td data-title="Details">
                  <div>Disability pension</div>
                </td>
                <td data-title="Status">Incomplete</td>
                <td>
                  <button class="delete uikit-btn uikit-btn--borderless">Delete</button>
                  <button class="resume uikit-btn uikit-btn--borderless">Resume</button>
                </td>
              </tr>
              
              <tr id="item-2">
                <td data-title="Date submitted">16 Jul 2020</td>
                <td data-title="Reference">33657900</td>
                <td data-title="Details">
                  <div>MRCA Compensation</div>
                  <div>Femoroacetabular Impingement Syndrome</div>
                </td>
                <td data-title="Status">In progress</td>
                <td>
                  <button class="add-docs uikit-btn uikit-btn--borderless">Add documents</button>
                  <button class="view uikit-btn uikit-btn--borderless">View</button>
                </td>
              </tr>

              <tr id="item-3">
                <td data-title="Date submitted">16 Jul 2020</td>
                <td data-title="Reference">33657900</td>
                <td data-title="Details">
                  <div>Service pension</div>
                </td>
                <td data-title="Status">Finalised</td>
                <td>
                  <button
                    class="view uikit-btn uikit-btn--borderless"
                  >
                    View
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="mys paging" hidden>
            <a class="disabled" href="#1">«</a>
            <a class="active" href="#1">1</a>
            <a href="#2">2</a><a href="#3">3</a>
            <a class="disabled" href="#3">»</a>
          </div>
        </div>
        <p class="margin-above--large">If you would like to withdraw a request please send an email to <a href='mailto:appeals@dva.gov.au'>appeals@dva.gov.au</a>.</p>
      </div>
      
    </main>

    <%- include(partials+"components/layout/footer") %> 
    <%- include("index-ss") %> 
    <%- include("delete-modal") %> 

  </body>
  <script>
    var state = "more";
    $.urlParam = function (name) {
      var results = new RegExp("[\?&]" + name + "=([^&#]*)").exec(
        window.location.href
      );
      if (results == null) {
        return 0;
      }
      return results[1] || 0;
    };
    state = $.urlParam("state");
    scenario = $.urlParam('scenario');
    toast = $.urlParam('toast');
    stateSwitcher()

    function stateSwitcher() {
      hideAll();
      switch (state) {
        case "none":
          $("#blank").show();
          break;
        case "one":
          $("#item-2").show();
          break;
        case "two":
          $("#item-2").show();
          $("#item-3").show();
          break;
        case "more":
          $("#item-1").show();
          $("#item-2").show();
          $("#item-3").show();
          $(".paging").show();
          break;
        default:
        $("#item-1").show();
          $("#item-2").show();
          $("#item-3").show();
          $(".paging").show();
          break;
      }
     doToast();
    }

    function doToast() {
      $(".toast").hide();
      switch (toast) {
        case "success-docs":
          $("#docs-success-container").show();
          break;
        case "delete-success":
          $("#delete-success-container").show();
          break;
        case "other-submit":
          $("#other-submit-container").show();
          break;
        default:
          break;
      }
    }

    function hideAll() {
      $("#blank").hide();
      $("#item-1").hide();
      $("#item-2").hide();
      $("#item-3").hide();
      $(".paging").hide();
    }

    $(".request-review").click( function( event ) {
      if ( scenario === undefined ) {
        window.location.href = "/auth/reviews/reviews-01";
      } else {
        window.location.href = "/auth/reviews/reviews-01?state=" + scenario;
      } 
    });

    $(".add-docs").click( function( event ) {
      window.location.href = "/auth/reviews/add-documents";
    });

    $(".view").click( function( event ) {
      window.location.href = "/auth/reviews/view-submitted";
    });

    $(".delete").click( function( event ) {
      event.preventDefault();
      window.location.href = "#open-delete-modal";
    });


    function page(pageNum) {
    resetTable();
    $(".manual-input-form").trigger("reset");
    $(".manual-input").hide();
    $("#other-decision-container").hide();
    $('.decision').hide();
    $(".page"+pageNum).show();
    $(".mys.paging a").removeClass("active");
    $(".mys.paging").find(".paging"+pageNum).addClass("active");
  }


  </script>
</html>
