<%- include(templates+"header", {
  claim: "MyService - Request review",
  heading: "Type of request"
}) %>

<div class="type-a">

  <p>You can request to proceed with an internal review by DVA or as an appeal to the Veterans’ Review Board, or both.</p>

  <%- include(partials+"components/form-partials/radio", {
    label: "Select how you would like to proceed:", 
    boxes: [ 
    "Request internal review by DVA (under section 31 of the VEA)",
    "Request appeal to the Veteran’s Review Board (under section 135)",
    "Request both."
    ],
    id:"options-a"
  }); %>

  <%- include(partials+"components/form-partials/notice", {
    message: "<h3 class='mys h3 margin-below--mid'>Important information</h3><p>As there are time limits for lodging reviews and appeals, you should consider selecting 'request both'. This way you can still proceed with an appeal if your internal review is not favourable.</p><p>Read more aout the <a href=''>Veteran Review Board</a> and <a href=''>reconsiderations and appeals under MRCA</a>.</p>",
    modifiers: ["hidden"],
    id:"info",
    modifiers: [ "hidden"]
  }); %>

</div>


<div class="type-b" hidden>

  <p>You have an option as to whether you wish this matter considered as an internal review by DVA or as an appeal to the Veterans’ Review Board. Please read the Important Information below before making your selection.</p>

  <%- include(partials+"components/form-partials/radio", {
    label: "Select how you would like to proceed:", 
    boxes: [ 
    "Lodge a request for internal review by DVA under Section 349 of the MRCA",
    "Lodge an appeal under Section 325 to the Veteran’s Review Board"
    ],
    id:"options-b"
  }); %>

  <%- include(partials+"components/form-partials/notice", {
    message: "<h3 class='mys h3 margin-below--mid'>Important information</h3><p>As there are time limits for lodging reviews and appeals, you should consider selecting 'request both'. This way you can still proceed with an appeal if your internal review is not favourable.</p><p>Read more aout the <a href=''>Veteran Review Board</a> and <a href=''>reconsiderations and appeals under MRCA</a>.</p>",
    modifiers: ["hidden"],
    id:"info",
    modifiers: [ "hidden"]
  }); %>

</div>

<p id="choose-next" hidden>Choose <b>save and next</b> to continue</p>

<%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/reviews/reviews-02",
    },
    {
        text: "Cancel",
        link: "#claim-cancel-modal"
      },
      {
        text: "Save and exit",
        id: "btnNext",
        link: "/auth/review/",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        id: "btnNext",
        link: "/auth/reviews/reviews-04",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>
<%- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>
<%- include("reviews-02-ss") %>

<script>
  var state;
  $.urlParam = function (name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results == null) {
      return 0;
    }
    return results[1] || 0;
  }
  state = $.urlParam('state');
  updatePage();
  function updatePage(){
    hideAll();
    switch (state) {
      case "disab":
        $(".type-a").show();
        break;
      case "other":
      $(".type-b").show();
        break;
      default:
      $(".type-a").show();
        break;
    }
  }
  function hideAll(){
    $(".type-a").hide();
    $(".type-b").hide();
  }
</script>
