<%- include(templates+"header", { claim: "MyService - Request review" , heading: "Decision information" }) %>

<div class="default">

  <div class="loader reviews mys-page-preloader">
    <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation">
    <div class="message">Looking for eligible decisions</div>
  </div>

  <div class="loaded" hidden>

  <form id="myform">
    <input type="reset" style="display:none">
    <div id="decisions-found">
      <h2 class="mys h3">Below are the decisions for which you are currently able to request a review.</h2> 
      <p class="margin-above margin-below--mid"><strong>Select a decision to proceed.</strong><BR/>If a decision you wish to have reviewed is not listed select “Other decision".</p>
      <table class="mys-table1 reviews--decisions margin-below--extra">
        <thead>
          <tr>
            <th><h3 class="mys h3">Reference</h3></th>
            <th><h3 class="mys h3">Type</h3></th>
            <th><h3 class="mys h3">Decision</h3></th>
            <th><h3 class="mys h3">Description</h3></th>
          </tr>
        </thead>
        <tbody>
          <tr class="dva">
            <td>
              <span class="mys radio-checkbox">
                <input type="radio" id="myRadio1" name="myRadio" value="">
                <label for="myRadio1">DVA886754</label>
              </span>
            </td>
            <td data-title="Type">Permanent impairment</td>
            <td data-title="Decision">18 Feb 2020</td>
            <td data-title="Description">Tinnitus, Depression</td>
          </tr>
          <tr class="item-2">
            <td>
              <span class="mys radio-checkbox">
                <input type="radio" id="myRadio2" name="myRadio" value="">
                <label for="myRadio2">NSM123457</label>
              </span>
            </td>
            <td data-title="Type">Disability Pension</td>
            <td data-title="Decision">15 Dec 2019</td>
            <td data-title="Description">Application for increase</td>
          </tr>
          <tr class="vrb">
            <td>
              <span class="mys radio-checkbox">
                <input type="radio" id="myRadio3" name="myRadio" value="">
                <label for="myRadio3">DVA3345278</label>
              </span>
            </td>
            <td data-title="Type">Initial liability</td>
            <td data-title="Decision">21 Dec 2020<BR/>Internal reconsideration</td>
            <td data-title="Description">Femoroacetabular Impingement Syndrome</td>
          </tr>
          <tr class="vrb">
            <td>
              <span class="mys radio-checkbox">
                <input type="radio" id="myRadio4" name="myRadio" value="">
                <label for="myRadio4">VRB775437</label>
              </span>
            </td>
            <td data-title="Type">Rent assistance</td>
            <td data-title="Decision">28 Nov 2020<BR/>Veterans' review board</td>
            <td data-title="Description">Application for increase</td>
          </tr>
          <tr class="none">
            <td class="no-label" colspan="4">
              <span class="mys radio-checkbox">
                <input type="radio" id="myRadio5" name="myRadio" value="">
                <label for="myRadio5">Other decision</label>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>

  <%#- include(partials+"components/form-partials/notice", {
    message: "This decision has already been reviewed by the VRB. If you are dissatisfied with the outcome, you may have a right of appeal to the Administrative Appeals Tribunal (AAT). Appeals to the AAT must be lodged directly with that tribunal. You can find more information on lodging appeals with the AAT on the <a href='https://www.dva.gov.au/financial-support/appeals' class='external-link'>DVA website</a>",
    modifiers: ["hidden"],
    id: "aat-prompt"
  }); %>


  <%- include(partials+"components/form-partials/notice", {
    message: "There are no further options for review within DVA for the selected decision. However you may have a right of appeal to the Administrative Appeals Tribunal (AAT). Appeals to the AAT must be lodged directly. You can find more information on the <a href='https://www.dva.gov.au/financial-support/appeals' class='external-link'>DVA website</a>",
    modifiers: ["hidden"],
    id: "aat-prompt"
  }); %>

  <%- include(partials+"components/form-partials/notice", {
    message: "<p>There are timeframes within which you are able to request reviews of decisions made. If a decision you would like to have reviewed is not shown here it may be that it does not fall within the required timeframes. You can find out more on the <a href='https://www.dva.gov.au/financial-support/appeals' class='external-link'>DVA website</a>.</p><p>If you think there is an error or wish to request a review outside the timeframes select 'save and next' to enter details of the decision.</p>",
    modifiers: ["hidden"],
    id: "select-other-prompt"
  }); %>

</div>

</div>

<div class="no-decisions" hidden>

  <div class="loader reviews mys-page-preloader">
    <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation">
    <div class="message">Looking for eligible decisions</div>
  </div>

  <div class="loaded" hidden>

  <h2 class="mys h3">No decisions have been found that fall within the required timeframes.</h2> 
  <p class="margin-above">There are timeframes within which you are able to request reviews of decisions made. As no decisions have been found it may be that there are no decisions on file that fall within the required timeframes. You can find out more on the <a href="https://www.dva.gov.au/financial-support/appeals" class="external-link">DVA website</a>.</p>
  <p class="margin-above">If you think there is an error or wish to request a review outside the timeframes select "save and next" to enter details of the decision.</p>

</div>

</div>

  <p id="save-next" hidden class="margin-above">Choose <b>save and next</b> to continue</p>

  <div class="pagination pagination--ss-reverse-order" id="pagination" hidden>
    <a href="/auth/reviews/" class="uikit-btn uikit-btn--tertiary">Previous</a>
    <a href="#claim-cancel-modal" class="uikit-btn uikit-btn--tertiary">Cancel</a>
    <div class="floated">
        <a href="/auth/reviews/index?state=one" id="save-exit-button" class="uikit-btn uikit-btn--tertiary">Save and exit</a>
        <a href="javascript:goNext()" id="save-next-button" class="uikit-btn ">Save and next</a>
    </div>
  </div>

    <%- include(templates+"footer") %>
    <%- include("reviews-01-ss") %>

<script>

  // $('.reviews--decisions input[type="radio"]').click(function () {
  //   selectedRow = $(this).closest('tr').attr("class").split(" ")[0];
  //   console.log( selectedRow )
  //   updateTable(selectedRow)
  // });

  $('.reviews--decisions tr').click(function () {
    selectedRow = $(this).attr("class").split(" ")[0];
    updateTable(selectedRow);
    $(this).find('td input:radio').prop('checked', true);
    $(".reviews--decisions tr").removeClass('selected');
    $(this).addClass('selected');
  });

  var selected;
  function updateTable(selectedRow) {
    resetTable();
    switch (selectedRow) {
      case "vrb":
        $("#aat-prompt-container").show();
        $("#save-next-button").attr('disabled','disabled');
        $("#save-exit-button").attr('disabled','disabled');
        break;
      case "none":
        selected = "other";
        $("#select-other-prompt-container").show();
        break;
      default:
        selected = "disab";
        $("#save-next").show();
        break;
    }
    $('body,html').animate({
      scrollTop: ( $(".reviews--decisions").position().top + $(".reviews--decisions").height() )
    }, 1000);
  }

  function goNext(){
    window.location = "/auth/reviews/reviews-02?state=" + selected;
  }

  var state;
  $.urlParam = function (name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results == null) {
      return 0;
    }
    return results[1] || 0;
  }
  state = $.urlParam('state');
  updatePage();
  function updatePage(){
    hideAll();
    resetTable();
    switch (state) {
      case "norev":
        doPageLoadB();
        break;
      default:
        doPageLoadA();
        break;
    }
  }
  function hideAll(){
    $(".loader").hide();
    $(".loaded").hide();
    $("#aat-prompt-container").hide();
    $(".default").hide();
    $(".no-decisions").hide();
    $("#save-next").hide();
    $("#pagination").hide();
  }
  function resetTable(){
    $("#save-next-button").removeAttr('disabled');
    $("#save-exit-button").removeAttr('disabled');
    $("#aat-prompt-container").hide();
    $("#select-other-prompt-container").hide();
    $("#save-next").hide();
    $('td input:radio').prop('checked', false);
    $(".reviews--decisions tr").removeClass('selected');
  }

function doPageLoadA() {
    $(".default").show();
    $(".loader").show();
    setTimeout(function(){
        $(".loader").hide();
        $(".loaded").fadeIn();
        $("#pagination").fadeIn();
    }, 1500);
}
function doPageLoadB() {
    $(".no-decisions").show();
    $(".loader").show();
    setTimeout(function(){
        $(".loader").hide();
        $(".loaded").fadeIn();
        $("#pagination").fadeIn();
    }, 1500);
}

</script>