<%- include(templates+"header", { claim: "MyService - Request review" , heading: "Decision information" }) %>

<div class="default">
  <div class="loader reviews mys-page-preloader">
    <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
    <div class="message">Looking for eligible decisions</div>
  </div>
  <div class="loaded" hidden>
    <form id="myform">
      <input type="reset" style="display: none" />
      <div id="decisions-found">
        <h2 class="mys h2">Decisions found.</h2>
        <p class="margin-below--mid">Select a decision to proceed.</p>
        <table class="mys-table1 reviews--decisions margin-below--mid">
          <thead>
            <tr>
              <th><h3 class="mys h3">Reference</h3></th>
              <th><h3 class="mys h3">Type</h3></th>
              <th><h3 class="mys h3">Decision date</h3></th>
              <th><h3 class="mys h3">Description</h3></th>
            </tr>
          </thead>
   
          <tbody>
            <tr class="vrb decision page1">
              <td>
                <span class="mys radio-checkbox">
                  <input type="radio" id="myRadio1" name="myRadio" value="" />
                  <label for="myRadio1">DVA886754</label>
                </span>
              </td>
              <td data-title="Type">Initial Liability (MRCA)</td>
              <td data-title="Decision date">12 Dec 2020</td>
              <td data-title="Description">Tinnitus</td>
            </tr>
            <tr class="vrb decision page1">
              <td>
                <span class="mys radio-checkbox">
                  <input type="radio" id="myRadio2" name="myRadio" value="" />
                  <label for="myRadio2">DVA886754</label>
                </span>
              </td>
              <td data-title="Type">Initial Liability (MRCA)</td>
              <td data-title="Decision date">12 Dec 2020</td>
              <td data-title="Description">Depression</td>
            </tr>
            <tr class="vrb decision page1">
              <td>
                <span class="mys radio-checkbox">
                  <input type="radio" id="myRadio3" name="myRadio" value="" />
                  <label for="myRadio3">NSM123457</label>
                </span>
              </td>
              <td data-title="Type">Disability Pension (VEA)</td>
              <td data-title="Decision date">8 Nov 2020</td>
              <td data-title="Description">Application for increase</td>
            </tr>
            <tr class="aat decision page1">
              <td>
                <span class="mys radio-checkbox">
                  <input type="radio" id="myRadio4" name="myRadio" value="" />
                  <label for="myRadio4">DVA334527</label>
                </span>
              </td>
              <td data-title="Type">Initial liability (MRCA)</td>
              <td data-title="Decision date">
                15 Oct 2020<BR />Internal reconsideration
              </td>
              <td data-title="Description">
                Femoroacetabular Impingement Syndrome
              </td>
            </tr>
            <tr class="aat decision page1">
              <td>
                <span class="mys radio-checkbox">
                  <input type="radio" id="myRadio5" name="myRadio" value="" />
                  <label for="myRadio5">DVA265447</label>
                </span>
              </td>
              <td data-title="Type">Permanent Impairment</td>
              <td data-title="Decision date">
                3 Oct 2020<BR />Veterans' Review Board
              </td>
              <td data-title="Description">Lumbar spondylosis, Internal derangement of the knee</td>
            </tr>
            <tr class="internal decision page1">
              <td>
                <span class="mys radio-checkbox">
                  <input type="radio" id="myRadio6" name="myRadio" value="" />
                  <label for="myRadio6">VRB775437</label>
                </span>
              </td>
              <td data-title="Type">Initial Liability (DRCA)</td>
              <td data-title="Decision date">
                28 Sep 2020
              </td>
              <td data-title="Description">Achilles tendinopathy and bursitis</td>
            </tr>
            <tr class="internal decision page1">
              <td>
                <span class="mys radio-checkbox">
                  <input type="radio" id="myRadio7" name="myRadio" value="" />
                  <label for="myRadio7">VRB775437</label>
                </span>
              </td>
              <td data-title="Type">Initial Liability (DRCA)</td>
              <td data-title="Decision date">
                28 Sep 2020
              </td>
              <td data-title="Description">Shin splints</td>
            </tr>
           
            <tr class="vrb decision page1">
              <td>
                <span class="mys radio-checkbox">
                  <input type="radio" id="myRadio8" name="myRadio" value="" />
                  <label for="myRadio8">DVA227546</label>
                </span>
              </td>
              <td data-title="Type">Initial Liability (MRCA)</td>
              <td data-title="Decision date">
                28 Sep 2020
              </td>
              <td data-title="Description">Solar keratosis</td>
            </tr>
            <tr class="vrb decision page1">
              <td>
                <span class="mys radio-checkbox">
                  <input type="radio" id="myRadio9" name="myRadio" value="" />
                  <label for="myRadio9">DVA443567</label>
                </span>
              </td>
              <td data-title="Type">Incapacity Payments</td>
              <td data-title="Decision date">
                18 Aug 2020
              </td>
              <td data-title="Description">Assessment of rate</td>
            </tr>
            <tr class="vrb decision page2" hidden>
              <td>
                <span class="mys radio-checkbox">
                  <input type="radio" id="myRadio11" name="myRadio" value="" />
                  <label for="myRadio11">DVA255675</label>
                </span>
              </td>
              <td data-title="Type">Initial Liability (MRCA)</td>
              <td data-title="Decision date">
                1 Aug 2020
              </td>
              <td data-title="Description">Osteoarthritis</td>
            </tr>
            <tr class="aat decision page2" hidden>
              <td>
                <span class="mys radio-checkbox">
                  <input type="radio" id="myRadio10" name="myRadio" value="" />
                  <label for="myRadio10">DVA266754</label>
                </span>
              </td>
              <td data-title="Type">Rent assistance</td>
              <td data-title="Decision date">
                28 Jul 2020<BR />Veterans' Review Board
              </td>
              <td data-title="Description">Application for increase</td>
            </tr>
           
      
          </tbody>
        </table>
        <div class="decisions-table-footer margin-above margin-below--extra">
          <button class="uikit-btn small uikit-btn view-more" style="display: none;">View more</button>
          <button class="uikit-btn small uikit-btn--tertiary other-decision">Decision not shown here?</button>
          <!-- <div class="mys paging">
            <a class="disabled" href="#">«</a>
            <a class="active paging1" href="#1" onclick="javascript:page(1)">1</a>
            <a class="paging2" href="#2" onclick="javascript:page(2)">2</a>
            <a class="disabled" href="#">»</a>
          </div> -->
        </div>
      </div>
    </form>
    <%- include(partials+"components/form-partials/notice", { 
      message: "This decision will be reviewed by Veterans' Review Board. You can find more information on the <a href='https://www.dva.gov.au/financial-support/appeals/veterans-review-board/about-veterans-review-board' class='external-link'>DVA website</a>.", 
      modifiers: ["hidden"], 
      id: "vrb-prompt" 
    }); %> 
    <%- include(partials+"components/form-partials/notice", { 
      message: "This decision will be reviewed internally by DVA. You can find more information on the <a href='#'' class='external-link'>DVA website</a>.", 
      modifiers: ["hidden"], 
      id: "internal-review-prompt" 
    }); %> 
    <%- include(partials+"components/form-partials/notice", { 
      message: "There are no further options for review within DVA for the selected decision. However you may have a right of appeal to the Administrative Appeals Tribunal (AAT). Appeals to the AAT must be lodged directly. You can find more information on the <a href='https://www.dva.gov.au financial-support/appeals' class='external-link'>DVA website</a>.", 
      modifiers: ["hidden"], 
      id: "aat-prompt", 
      type: "warning" 
    }); %>
    <p id="save-next" hidden class="margin-above">
      Choose <b>save and next</b> to continue
    </p>
  </div>
</div>

<div class="no-decisions-loader" hidden>
  <div class="reviews mys-page-preloader">
    <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
    <div class="message">Looking for eligible decisions</div>
  </div>
</div>

<div class="manual-input" hidden>
  <form class="manual-input-form">
  <input type="reset" style="display: none" />
  <%- include(partials+"components/form-partials/radio", { 
    label: "What type of decision do you wish to have reviewed?", 
    boxes: [ 
      "Disability pension", 
      "War widow(er) pension", 
      "MRCA liability or compensation", 
      "DRCA liability or compensation", 
      "Service pension, income support supplement or qualifying service", 
      "Treatment, Attendant Care, Household Services, Rehabilitation",
      "Other" 
    ], 
    id: "decision-type" 
  }); %> 

  <%- include(partials+"components/form-partials/text", { 
    label: "Type of decision", 
    modifiers: ["hidden","inputFullLength"],
    id: "other-decision"
  }); %>

  <%- include(partials+"components/form-partials/notice", { 
    message: "You are able to request a decision review within <span class='period'>XX months</span> of the decision date. You will find the decision date on the original letter advising the decision.", 
    modifiers: ["hidden"], 
    id: "timeframe-prompt" 
  }); %>
  <%-include(partials+"components/form-partials/notice", { 
    message: "<p>There are timeframes within which you are able to request reviews of decisions made. These vary based on the type of decision. You can find out more on the <a href='https://www.dva.gov.au/financial-support/appeals' class='external-link'>DVA website</a>.</p><p>You will find the decision date on the original letter advising the decision. You should ensure the date falls within the required timeframe.</p>", 
    modifiers: ["hidden"], 
    id: "unknown-timeframe-prompt" 
  }); %>

  <div class="form-group formPartials_date" id="date492-container">
    <fieldset>
      <legend class="uikit-text-input__label legend-override">
        Enter the date of the letter advising the decision<span class="hint">
          (dd / mm / yyyy)</span
        >
      </legend>
      <input
        type="number"
        class="uikit-text-input dd"
        name="date-dd"
        id="date-dd"
        maxlength="2"
        aria-label="2 digit day"
      />
      <span aria-hidden="true">/</span>
      <input
        type="number"
        class="uikit-text-input mm"
        name="month-mm"
        id="month-mm"
        maxlength="2"
        aria-label="2 digit month"
      />
      <span aria-hidden="true">/</span>
      <input
        type="number"
        class="uikit-text-input yyyy"
        name="year-yyyy"
        id="year-yyyy"
        maxlength="4"
        aria-label="4 digit year"
      />
    </fieldset>
  </div>

  <%-include(partials+"components/form-partials/notice", { 
    message: "<p>This claim is outside the required timeframe. You are unable to submit online. To submit this claim you will need email DVA.</p>", 
    modifiers: ["hidden"], 
    type: "error",
    id: "outside-timeframe-prompt"
  }); %>

  <%- include(partials+"components/form-partials/text", { 
    label: "Reference number if available", 
    hint: "(optional)" 
  }); %>
</div>
</form>

<div class="pagination pagination--ss-reverse-order" id="pagination" hidden>
  <a href="/auth/reviews/" class="uikit-btn uikit-btn--tertiary">Previous</a>
  <a href="#claim-cancel-modal" class="uikit-btn uikit-btn--tertiary">Cancel</a>
  <div class="floated">
    <a
      href="/auth/reviews/index?state=one"
      id="save-exit-button"
      class="uikit-btn uikit-btn--tertiary"
      >Save and exit</a
    >
    <a href="#" id="save-next-button" class="uikit-btn"
      >Save and next</a
    >
  </div>
</div>

<%- include(templates+"footer") %> <%- include("reviews-01-ss") %>

<script>
  // $('.reviews--decisions input[type="radio"]').click(function () {
  //   selectedRow = $(this).closest('tr').attr("class").split(" ")[0];
  //   console.log( selectedRow )
  //   updateTable(selectedRow)
  // });
  $(".reviews--decisions tbody > tr").click(function () {
    selectedRow = $(this).attr("class").split(" ")[0];
    updateTable(selectedRow);
    $(".reviews--decisions tr").removeClass("selected");
    $(this).addClass("selected");
    $(this).find("td input:radio").prop("checked", true);
  });
  var selected;
  function updateTable(selectedRow) {
    resetTable();
    $(".manual-input").hide();
    selected = "record";
    switch (selectedRow) {
      case "internal":
        $("#internal-review-prompt-container").show();
        $("#save-next").show();
        break;
      case "vrb":
        $("#vrb-prompt-container").show();
        $("#save-next").show();
        break;
      case "aat":
        $("#aat-prompt-container").show();
        $("#save-next-button").attr("disabled", "disabled");
        $("#save-exit-button").attr("disabled", "disabled");
        break;
      default:
        break;
    }
    $("body,html").animate(
      {
        scrollTop: $(".decisions-table-footer").position().top + $(".decisions-table-footer").height() + 30,
      },
      1000
    );
  }
  $('.other-decision').click(function (event) {
    event.preventDefault();
    resetTable();
    $(".manual-input-form").trigger("reset");
    $(".manual-input").show();
  });
  $('.view-more').click(function (event) {
    event.preventDefault();
    resetTable();
    if ( $(this).text() === "View more") {
      $(".page1").show();
      $(".page2").show();
      $(".other-decision").show();
      $(this).text( "View less");
    } else {
      $(".page1").show();
      $(".page2").hide();
      $(".other-decision").hide();
      $(this).text( "View more");
    }
  });
  var state;
  $.urlParam = function (name) {
    var results = new RegExp("[\?&]" + name + "=([^&#]*)").exec(
      window.location.href
    );
    if (results == null) {
      return 0;
    }
    return results[1] || 0;
  };
  state = $.urlParam("state");
  updatePage();
  function updatePage() {
    hideAll();
    resetTable();
    switch (state) {
      case "no-decisions":
        doPageLoadB();
        break;
      case "some-decisions":
        $('.decision').hide();
        $(".page1").show();
        // $(".mys.paging").hide();
        // $(".view-more").hide();
        doPageLoadA();
        break;
      case "more-decisions":
        console.log("dfdfdfd")
        $('.decision').hide();
        $(".page1").show();
        // $(".mys.paging").show();
        $(".other-decision").hide();
        $(".view-more").show();
        doPageLoadA();
        break;
      default:
        doPageLoadA();
        break;
    }
  }
  function hideAll() {
    $(".loader").hide();
    $(".loaded").hide();
    $(".manual-input").hide();
    $(".manual-loader").hide();
    $("#aat-prompt-container").hide();
    $("#vrb-prompt-container").hide();
    $(".default").hide();
    $(".no-decisions").hide();
    $("#save-next").hide();
    $("#pagination").hide();
    $("#other-decision-container").hide();
  }
  function resetTable() {
    $("#save-next-button").removeAttr("disabled");
    $("#save-exit-button").removeAttr("disabled");
    $("#internal-review-prompt-container").hide();
    $("#other-decision-container").hide();
    $("#vrb-prompt-container").hide();
    $("#aat-prompt-container").hide();
    $("#other-prompt-container").hide();
    $("#save-next").hide();
    $("td input:radio").prop("checked", false);
    $(".reviews--decisions tr").removeClass("selected");
  }
  function doPageLoadA() {
      $(".default").show();
      $(".loader").show();
      setTimeout(function () {
      $(".loader").hide();
      $(".loaded").fadeIn();
      $("#pagination").fadeIn();
    }, 100);
  }
  function doPageLoadB() {
      $(".no-decisions-loader").show();
      setTimeout(function () {
      $(".no-decisions-loader").hide();
      $(".manual-input").fadeIn();
      $("#pagination").fadeIn();
    }, 100);
  }
  var timeframe;
  $("input[name=decision-type]").change(function () {
    $("#timeframe-prompt-container").hide();
    $("#unknown-timeframe-prompt-container").hide();
    $("#other-decision-container").hide();
    selected = $(this).val().substr(0, 5);
    switch (selected) {
      case "disab":
        timeframe = "3 months";
        break;
      case "warwi":
        timeframe = "12 months";
        break;
      case "mrcal":
        timeframe = "12 months";
        break;
      case "drcal":
        timeframe = "30 days";
        break;
      case "servi":
        timeframe = "3 months";
        break;
      case "treat":
        timeframe = "3 months";
        break;
      case "other":
        timeframe = "unknown";
        $("#other-decision-container").show();
        break;
      default:
        break;
    }
    if (timeframe == "unknown") {
      $("#unknown-timeframe-prompt-container").show();
    } else {
      $(".period").text(timeframe);
      $("#timeframe-prompt-container").show();
    }
  });

  function page(pageNum) {
    resetTable();
    $(".manual-input-form").trigger("reset");
    $(".manual-input").hide();
    $("#other-decision-container").hide();
    $('.decision').hide();
    $(".page"+pageNum).show();
    $(".mys.paging a").removeClass("active");
    $(".mys.paging").find(".paging"+pageNum).addClass("active");
  }

  $("#save-next-button").click( function( event ) {
    event.preventDefault();
    doSaveNext();
  });
  
  function doSaveNext(){
    var day = $("input[name=date-dd").val();
    var month = $("input[name=month-mm").val();
    var year = $("input[name=year-yyyy").val();
    var decisionDate = new Date( month + "/" + day + "/" + year );
    if ( getDateDifference( decisionDate ) > 90 ) {
      dateBlock()
    } else {
        window.location.href = "/auth/reviews/reviews-02";
    }
  }
  function getDateDifference( theDate ) {
    var today = new Date();
    var milliseconds = ( today.getTime() - theDate.getTime() );
    var total_seconds = parseInt(Math.floor(milliseconds / 1000));
    var total_minutes = parseInt(Math.floor(total_seconds / 60));
    var total_hours = parseInt(Math.floor(total_minutes / 60));
    var days = parseInt(Math.floor(total_hours / 24));
    return ( days );
  }
  $("#date-dd").on("input", function() {
    dateUnBlock();
  });
  $("#month-mm").on("input", function() {
    dateUnBlock();
  });
  $("#year-yyyy").on("input", function() {
    dateUnBlock();
  });
  function dateBlock(){
    $("#save-next-button").attr("disabled", "disabled");
    $("#save-exit-button").attr("disabled", "disabled");
    $("#outside-timeframe-prompt-container").show();
  }
  function dateUnBlock(){
    $("#save-next-button").removeAttr("disabled");
    $("#save-exit-button").removeAttr("disabled");
    $("#outside-timeframe-prompt-container").hide();
  }

</script>
