<%- include(templates+"header", { claim: "MyService - Request review" , heading: "Reason for request" }) %>


<div class="other" hidden>

  <%- include(partials+"components/form-partials/radio", {
    label: "What type of decision do you wish to have reviewed?",
    boxes: [ 
    "Disability pension", 
    "War widow(er) pension", 
    "MRCA liability or compensation", 
    "DRCA liability or compensation", 
    "Service pension, income support supplement or qualifying service",
    "Other (<i>add examples here</i>)"
    ]
  }); %>

  <div class="form-group formPartials_date" id="date492-container">
    <fieldset>
      <legend class="uikit-text-input__label  legend-override ">
        Enter the date of the letter advising the decision<span class="hint "> (dd / mm / yyyy)</span></legend>
      <input type="number" class="uikit-text-input dd" name="date492-dd" id="date492-dd" maxlength="2"
        aria-label="2 digit day">
      <span aria-hidden="true">/</span>
      <input type="number" class="uikit-text-input mm" name="date492-mm" id="date492-mm" maxlength="2"
        aria-label="2 digit month">
      <span aria-hidden="true">/</span>
      <input type="number" class="uikit-text-input yyyy" name="date492-yyyy" id="date492-yyyy" maxlength="4"
        aria-label="4 digit year">
    </fieldset>
  </div>

  <%- include(partials+"components/form-partials/text", {
    label: "Reference number if available",
    hint: "(optional)"
  }); %>
  

  <%- include(partials+"components/form-partials/textarea", { 
    label: "Enter your detailed reason/s for requesting a review",
    hint: "If necessary you may attach as a separate document.",
    id: "reason-text" , modifiers: [ "hintNewLine"]
  }); %>

  <strong>Supporting evidence</strong> (optional)
  <p>Add any relevant documents to support your request. For example the letter advising the decision you wish to have reviewed.
    Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.</p>

  <div class="mys doc-upload margin-above--small margin-below--extra">
  <div class="file">
    <i class="icon fal fa-file-upload fa-2x"></i>
    <span>Document</span>
  </div>
  <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
  </div>

</div>

<div class="default">

<%- include(partials+"components/form-partials/checkbox", {
  label: "Select matters relating to the decision you wish to have reviewed",
  hint: "(optional)",
  boxes: [ 
  "Rejection of injury or disease as service related", 
  "Permanent Impairment", 
  "Assessment of the rate of disability pension", 
  "Incapacity payments", 
  "Claim for compensation to a dependant following the death of a member", 
  "Other (for example, treatment, attendant care, household services, rehabilitation)"
  ],
  modifiers: ["hidden"], 
  id: "disab" 
}); %>

<%- include(partials+"components/form-partials/dropdown", {
  label: "Select the matter/s relating to the decision you wish to have reviewed", 
  hint: "(optional)",
  options: [ 
  "-- Select an option --",
  "Qualifying service", 
  "Assessment of income", 
  "Assessment of assets", 
  "Age pension", 
  "Other"
  ],
  modifiers: ["hidden"], 
  id: "servi" 
}); %>

  <%- include(partials+"components/form-partials/checkbox", {
    label: "Select the matter/s relating to the decision you wish to have reviewed", 
    hint: "(optional)",
    boxes: [ 
    "Aged / home care" , 
    "Attendant allowance", 
    "Clothing allowance", 
    "Commonwealth Senior’s Health Card", 
    "Decoration allowance or Victoria Cross allowance ", 
    "Funeral benefits", 
    "Gold Card", 
    "Loss of earnings allowance", 
    "Lump sum advance of pension", 
    "Pension bonus scheme",
    "Recreational transport allowance", 
    "Repatriation Pharmaceutical Benefits Card (Orange Card)",
    "None of the above" 
    ],
    modifiers: ["hidden"], 
    id: "other" 
  }); %>

  <%- include(partials+"components/form-partials/dropdown", {
    label: "Select the matter relating to the decision you wish to have reviewed" , options: [ "-- Select an option --"
    , "Age pension" , "Aged / home care (income and assets)" , "Attendant allowance" , "Clothing allowance"
    , "Commonwealth Senior’s Health Card" , "Decoration allowance or Victoria Cross allowance " , "Funeral benefits"
    , "Gold Card" , "Loss of earnings allowance" , "Lump sum advance of pension" , "Pension bonus scheme"
    , "Recreational transport allowance" , "Repatriation Pharmaceutical Benefits Card (Orange Card)"
    , "Qualifying service" , "Assessment of income" , "Assessment of assets"
    , "Rejection of injury or disease as service related" , "Permanent Impairment" , "Incapacity payments"
    , "Claim for compensation to a dependant following the death of a member"
    , "Rejection of veteran’s death as service related" , "Rejection of injury or disease as service related"
    , "Other (e.g.: Treatment, Attendant Care, Household Services, Rehabilitation)" , "None of the above" ],
    modifiers: ["hidden"], id: "other-decision" }); %>

    <%- include(partials+"components/form-partials/textarea", { 
      label: "Enter your detailed reason/s for requesting a review",
      hint: "If necessary you may attach as a separate document.",
      id: "reason-text" , modifiers: [ "hintNewLine"]
    }); %>

<strong>Supporting evidence</strong> (optional)
<p>Add any relevant documents to support your request. Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.</p>

<div class="mys doc-upload margin-above--small margin-below--extra">
  <div class="file">
    <i class="icon fal fa-file-upload fa-2x"></i>
    <span>Document</span>
  </div>
  <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
</div>

</div>

<%- include(forms+"pagination", { pagination: [ { text: "Previous" , link: "/auth/reviews/reviews-01" },  {
  text: "Cancel",
  link: "#claim-cancel-modal"
},{
  text: "Save and exit" , link: "/auth/reviews/" , modifiers: ["floated" ] }, { text: "Save and next"
  , link: "javascript:goNext();" , 
  modifiers: ["floated", "primary" ],
  customClass: ['margin-above--large']
} ] }) %>

<%- include(templates+"footer") %>
<%- include("reviews-02-ss") %>

<script>

  
// $(document).ready(function () {

  var state;
  $.urlParam = function (name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results == null) {
      return 0;
    }
    return results[1] || 0;
  }
  state = $.urlParam('state');
  updatePage();
  function updatePage(){
    hideAll();
    switch (state) {
      case "disab":
        $(".default").show();
        $("#type-1").prop("checked", true);
        break;
      case "other":
      $(".other").show();
      $("#type-2").prop("checked", true);
        break;
        
      default:
      $(".default").show();
        break;
    }
  }
  function hideAll(){
    $(".default").hide();
    $(".other").hide();
  }
  function goNext(){
    /* window.location = "/auth/reviews/reviews-03?state=" + state; */
    window.location = "/auth/reviews/reviews-04";
  }

// });
</script>
