<%- include(templates+"header", { claim: "MyService - Request review" , heading: "Reason for request" }) %>


<div class="other" hidden>

  <%- include(partials+"components/form-partials/radio", {
    label: "What type of decision do you wish to have reviewed?",
    boxes: [ 
    "Disability pension", 
    "War widow(er) pension", 
    "MRCA liability or compensation", 
    "DRCA liability or compensation", 
    "Service pension, income support supplement or qualifying service",
    "Other (<i>add examples here</i>)"
    ],
    id: "decision-type"
  }); %>

  <%- include(partials+"components/form-partials/notice", {
    message: "You are able to request a decision review within <span class='period'>XX months</span> of the decision date. You will find the decision date on the original letter advising the decision.",
    modifiers: ["hidden"],
    id: "timeframe-prompt"
  }); %>

  <%- include(partials+"components/form-partials/notice", {
    message: "<p>There are timeframes within which you are able to request reviews of decisions made. These vary based on the type of decision. You can find out more on the <a href='https://www.dva.gov.au/financial-support/appeals' class='external-link'>DVA website</a>.</p><p>You will find the decision date on the original letter advising the decision. You should ensure the date falls within the required timeframe.</p>",
    modifiers: ["hidden"],
    id: "unknown-timeframe-prompt"
  }); %>

  <div class="form-group formPartials_date" id="date492-container">
    <fieldset>
      <legend class="uikit-text-input__label  legend-override ">
        Enter the date of the letter advising the decision<span class="hint "> (dd / mm / yyyy)</span></legend>
      <input type="number" class="uikit-text-input dd" name="date492-dd" id="date492-dd" maxlength="2"
        aria-label="2 digit day">
      <span aria-hidden="true">/</span>
      <input type="number" class="uikit-text-input mm" name="date492-mm" id="date492-mm" maxlength="2"
        aria-label="2 digit month">
      <span aria-hidden="true">/</span>
      <input type="number" class="uikit-text-input yyyy" name="date492-yyyy" id="date492-yyyy" maxlength="4"
        aria-label="4 digit year">
    </fieldset>
  </div>

  <%- include(partials+"components/form-partials/text", {
    label: "Reference number if available",
    hint: "(optional)"
  }); %>
  

  <%- include(partials+"components/form-partials/textarea", { 
    label: "Enter your detailed reason/s for requesting a review",
    hint: "If necessary you may attach as a separate document.",
    id: "reason-text" , modifiers: [ "hintNewLine"]
  }); %>

  <strong>Supporting evidence</strong> (optional)
  <p>Add any relevant documents to support your request. For example the letter advising the decision you wish to have reviewed.
    Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.</p>

  <div class="mys doc-upload margin-above--small margin-below--extra">
  <div class="file">
    <i class="icon fal fa-file-upload fa-2x"></i>
    <span>Document</span>
  </div>
  <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
  </div>

</div>

<div class="default">

    <%- include(partials+"components/form-partials/textarea", { 
      label: "Enter your detailed reason/s for requesting a review",
      hint: "If necessary you may attach as a separate document.",
      id: "reason-text" , modifiers: [ "hintNewLine"]
    }); %>

<strong>Supporting evidence</strong> (optional)
<p>Add any relevant documents to support your request. Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.</p>

<div class="mys doc-upload margin-above--small margin-below--extra">
  <div class="file">
    <i class="icon fal fa-file-upload fa-2x"></i>
    <span>Document</span>
  </div>
  <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
</div>

</div>

<%- include(forms+"pagination", { pagination: [ { text: "Previous" , link: "/auth/reviews/reviews-01" },  {
  text: "Cancel",
  link: "#claim-cancel-modal"
},{
  text: "Save and exit" , link: "/auth/reviews/" , modifiers: ["floated" ] }, { text: "Save and next"
  , link: "javascript:goNext();" , 
  modifiers: ["floated", "primary" ],
  customClass: ['margin-above--large']
} ] }) %>

<%- include(templates+"footer") %>
<%- include("reviews-02-ss") %>

<script>

  
// $(document).ready(function () {

  var timeframe
  $('input[name=decision-type]').change(function () {
    $("#timeframe-prompt-container").hide();
    $("#unknown-timeframe-prompt-container").hide();
      selected = $(this).val().substr(0,5);
      console.log(selected)
      switch ( selected ) {
        case "disab":
          timeframe = "12 months";
          break;
        case "warwi":
        timeframe = "12 months";
          break;
        case "mrcal":
        timeframe = "12 months";
          break;
        case "drcal":
        timeframe = "30 days";
          break;
        case "servi":
        timeframe = "3 months";
          break;
        case "other":
          timeframe = "unknown";
          break;
        default:
          break;
      }
      if ( timeframe == "unknown") {
        $("#unknown-timeframe-prompt-container").show();
      } else {
        $(".period").text( timeframe );
        $("#timeframe-prompt-container").show();
      }
    });
  

var selected;
function updateTable(selectedRow) {
  resetTable();
  selected = "record";
  switch (selectedRow) {
    case "drca":
      $("#internal-review-prompt-container").show();
      break;
    case "vea":
      $("#vrb-prompt-container").show();
      break;
    case "vrb":
      $("#aat-prompt-container").show();
      $("#save-next-button").attr('disabled','disabled');
      $("#save-exit-button").attr('disabled','disabled');
      break;
    case "other":
      selected = "other";
      // $("#other-prompt-container").show();
      $("#save-next").show();
      break;
    default:
      break;
  }
  $('body,html').animate({
    scrollTop: ( $(".reviews--decisions").position().top + $(".reviews--decisions").height() )
  }, 1000);
}



  var state;
  $.urlParam = function (name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results == null) {
      return 0;
    }
    return results[1] || 0;
  }
  state = $.urlParam('state');
  updatePage();
  function updatePage(){
    hideAll();
    switch (state) {
      case "disab":
        $(".default").show();
        $("#type-1").prop("checked", true);
        break;
      case "other":
      $(".other").show();
      $("#type-2").prop("checked", true);
        break;
        
      default:
      $(".default").show();
        break;
    }
  }
  function hideAll(){
    $(".default").hide();
    $(".other").hide();
  }
  function goNext(){
    /* window.location = "/auth/reviews/reviews-03?state=" + state; */
    window.location = "/auth/reviews/reviews-04";
  }

// });
</script>
