<%- include(templates+"header", {
  claim: "MyService - Request review",
  heading: "Review and submit"
}) %>

<%- include(components+"review-submit", {
      claim_title: "Request for review",
      categories: [
        {
          title: "Decision information",
          edit_url: "/auth/reviews/reviews-01",
          data: [
              {
                q: "Select a decision to continue",
                a: "Initial Liability<BR/>DVA255675<BR/>"
              }
            ]
        },
        {
          title: "Reason for request",
          edit_url: "/auth/reviews/reviews-02",
          data: [
          {
              q: "Select the condition/s for which you would like request a review",
              a: `Joint instability<BR/>
              Lumbar spondylosis`
          },
          {
              q: "Enter your detailed reason/s for requesting a review",
              a: "Decision has not taken into consideration certain factors."
          },
          {
            q: "Supporting evidence",
            a: "evidence.doc<BR/>determination-letter.pdf"
          }
            ]
        },
        {
          title: "Claim representative",
          edit_url: "/auth/reviews/reviews-03",
          data: [
              {
                q: "Do you wish to nominate a person to represent you in matters related to this review / appeal?",
                a: "No"
              }
            ]
        }
        ],
        id: "select-from-list",
        customClass: ["margin-below--large"]
    }) %>

    <%- include(components+"review-submit", {
      claim_title: "Request for review",
      categories: [
        {
          title: "Decision information",
          edit_url: "/auth/reviews/reviews-01",
          data: [
              {
                q: "Type of decision being reviewed",
                a: "VEA disability pension"
              },
              {
                q: "Date of the letter advising the decision ",
                a: "12 Nov 2020"
              },
              {
                q: "Reference number",
                a: "DVA334567"
              }
            ]
        },
        {
          title: "Reason for request",
          edit_url: "/auth/reviews/reviews-02",
          data: [
          {
              q: "Enter your detailed reason/s for requesting a review",
              a: "Decision has not taken into consideration certain factors."
          },
          {
            q: "Supporting evidence",
            a: "evidence.doc<BR/>determination-letter.pdf"
          }
            ]
        },
        {
          title: "Claim representative",
          edit_url: "/auth/reviews/reviews-03",
          data: [
              {
                q: "Do you wish to nominate a person to represent you in matters related to this review / appeal?",
                a: "No"
              }
            ]
        }
        
       
        ],
        id: "manual",
        customClass: ["margin-below--large"],
        modifiers: ["hidden"]
    }) %>

    <p class="internal-review">By submitting this request the decision will be reviewed internally by DVA. You can find more information on the <a href='https://www.dva.gov.au/financial-support/appeals/after-you-apply-review-under-drca' class='external-link'>DVA website</a>.</p>

<p class="vrb-review" hidden>By submitting this request the decision will be reviewed by the Veterans' Review Board. You can find more information on the <a href='https://www.dva.gov.au/financial-support/appeals/veterans-review-board/about-veterans-review-board' class='external-link'>DVA website</a>.</p>

<p class="multi-review" hidden>By submitting this request the decision will be reviewed internally by DVA and/or by the Veterans' Review Board. You can find more information on the DVA website regarding both <a href='https://www.dva.gov.au/financial-support/appeals/veterans-review-board/about-veterans-review-board' class='external-link'>internal reviews</a> and the <a href='https://www.dva.gov.au/financial-support/appeals/veterans-review-board/about-veterans-review-board' class='external-link'>Veterans' Review Board </a>.</p>


    <%- include(forms+"pagination", {
      pagination: [
      {
        text: "Previous",
        link: "/auth/reviews/reviews-03",
      },
      {
          text: "Cancel",
          link: "#claim-cancel-modal"
        },
        {
          text: "Save and exit",
          id: "btnNext",
          link: "/auth/reviews",
          modifiers: ["floated"]
        },
        {
          text: "Submit",
          id: "btnNext",
          link: "/auth/reviews/reviews-05",
          modifiers: ["primary", "floated"]
        }
      ],
      customClass: ["margin-above--mid"]
    }) %>

<%- include(templates+"footer") %>
<%- include("reviews-04-ss") %>

<script>
   function updatePage() {

    $(".internal-review").hide();
    $(".vrb-review").hide();
    $(".multi-review").hide();

    switch (pathway) {
      case "Internal":
       $(".internal-review").show();
        break;
      case "VRB":
      $(".vrb-review").show();
        break;
        case "Multi":
      $(".multi-review").show();
        break;
      default:
        break;
    }

    $("#select-from-list-container").hide();
      $("#manual-container").hide();

    switch (decision) {

      case "Selected from list":
        $("#select-from-list-container").show();
        break;
      case "Manual":
      $("#manual-container").show();
        break;
      default:
        break;
    }
  }
</script>