<%- include(templates+"header", { claim: "MyService - Request review" , heading: "Decision information" }) %>

<div class="default">
  <div class="loader reviews mys-page-preloader">
    <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
    <div class="message">Looking for eligible decisions</div>
  </div>
  <div class="loaded" hidden>
    <form id="myform">
      <input type="reset" style="display: none" />
      <div id="decisions-found">
        <h2 class="mys h3">Select a decision to proceed</h2>
        <p class="margin-below--mid">Listed below are decisions for which you can request a review. If a decision is not shown select "other".</p>
        <table class="mys-table1 reviews--decisions margin-below--mid">
          <thead>
            <tr>
              <th>Reference</th>
              <th>Decision</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>

            <tr class="vrb decision page1">
              <td class="selector">
                <div class="mys radio-checkbox testa">
                  <input type="radio" id="myRadio1" name="myRadio" value="" />
                  <label for="myRadio1"></label>
                  
                </div>
                <div class="type-ref">
                  <div class="inline-label">Initial Liability</div>
                  <div class="ref">DVA886754</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>12 Dec 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Lumbar spondylosis (MRCA)</td> 
            </tr>

            <tr class="vrb decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio2" name="myRadio" value="" />
                  <label for="myRadio2"></label>
                </div>
                <div>
                  <div class="inline-label">Initial Liability</div>
                  <div class="ref">DVA886754</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>12 Dec 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Depression (MRCA)</td>
            </tr>

            <tr class="vrb decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio3" name="myRadio" value="" />
                  <label for="myRadio3"></label>
                </div>
                <div>
                  <div class="inline-label">Qualifying Service</div>
                  <div class="ref">NSM123457</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>8 Nov 2020</div>
                <div><span class="inline-label">Outcome</span>Accepted</div>
              </td>
              <td class="description"></td>
            </tr>

            <tr class="internal decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio4" name="myRadio" value="" />
                  <label for="myRadio4"></label>
                </div>
                <div>
                    <div class="inline-label">Initial liability</div>
                    <div class="ref">DVA334527</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>15 Oct 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Femoroacetabular Impingement Syndrome (MRCA)</td>
            </tr>

            <tr class="aat decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio5" name="myRadio" value="" />
                  <label for="myRadio5"></label>
                </div>
                <div>
                  <div class="inline-label">Permanent Impairment</div>
                  <div class="ref">DVA265447</div>
                </div>
              </td>
              <td class="decision-details">
                <div></div><span class="inline-label">Date</span>15 Oct 2020</div>
                <div></div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Lumbar spondylosis, Internal derangement of the knee</td>
            </tr>

            <tr class="vrb decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio6" name="myRadio" value="" />
                  <label for="myRadio6"></label>
                </div>
                <div>
                  <div class="inline-label">Initial Liability</div>
                  <div class="ref">VRB775437</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>28 Sep 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Achilles tendinopathy and bursitis (DRCA)</td>
            </tr>

            <tr class="vrb decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio7" name="myRadio" value="" />
                  <label for="myRadio7"></label>
                </div>
                <div>
                  <div class="inline-label">Income Support Supplement</div>
                  <div class="ref">VRB775437</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>28 Sep 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description"></td>
            </tr>

            <tr class="vrb decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio8" name="myRadio" value="" />
                  <label for="myRadio8"></label>
                </div>
                <div>
                  <div class="inline-label">Service Pension</div>
                  <div class="ref">DVA227546</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>28 Sep 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Age Pension</td>
            </tr>

            <tr class="aat decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio9" name="myRadio" value="" />
                  <label for="myRadio9"></label>
                </div>
                <div>
                  <div class="inline-label">Veterans' Payment</div>
                  <div class="ref">DVA443567</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>18 Aug 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description"></td>
            </tr>

            <tr class="vrb decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio10" name="myRadio" value="" />
                  <label for="myRadio10"></label>
                </div>
                <div>
                  <div class="inline-label">Incapacity Payments</div>
                  <div class="ref">DVA255675</div>
                </div>
              </td>
              <td class="decision-details">
                  <div><span class="inline-label">Date</span>1 Aug 2020</div>
                  <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Assessment of rate</td>
            </tr>

            <tr class="aat decision page2">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio11" name="myRadio" value="" />
                  <label for="myRadio11"></label>
                </div>
                <div>
                  <div class="inline-label">Rent assistance</div>
                  <div class="ref">DVA266754</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>28 Jul 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Application for increase</td>
            </tr> 

            <tr class="other decision page2">
              <td class="selector" colspan="3">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio1" name="myRadio" value="" />
                  <label for="myRadio1"></label>
                </div>
                <div class="inline-label v-align">Other</div>
              </td>
            </tr>
      
          </tbody>
        </table>
        <div class="decisions-table-footer margin-above">
          <span class="results">10 of 12 results showing</span>
          <button class="uikit-btn small view-more" style="display: none;">View all</button>
        </div>
      </div>
    </form>

    <%- include(partials+"components/form-partials/notice", { 
      message: "This decision has been reviewed internally by DVA. There are no further options for review within DVA. However you may have a right of appeal to the Administrative Appeals Tribunal (AAT). Appeals to the AAT must be lodged directly. You can find more information on the <a href='https://www.dva.gov.au/financial-support/appeals/what-administrative-appeals-tribunal' class='external-link'>DVA website</a> and the <a href='https://www.aat.gov.au/apply-for-a-review/veterans-entitlements-and-military-compensation' class='external-link'>AAT website</a>.", 
      modifiers: ["hidden"], 
      id: "aat-prompt", 
      type: "warning",
      customClass: ["margin-above--large"]
    }); %>
    <%- include(partials+"components/form-partials/notice", { 
      message: "This decision has been reviewed by the Veterans' Review Board. There are no further options for review within DVA. However you may have a right of appeal to the Administrative Appeals Tribunal (AAT). Appeals to the AAT must be lodged directly. You can find more information on the <a href='https://www.dva.gov.au/financial-support/appeals/what-administrative-appeals-tribunal' class='external-link'>DVA website</a> and the <a href='https://www.aat.gov.au/apply-for-a-review/veterans-entitlements-and-military-compensation' class='external-link'>AAT website</a>.", 
      modifiers: ["hidden"], 
      id: "internal-prompt", 
      type: "warning",
      customClass: ["margin-above--large"]
    }); %>
    <p id="save-next" hidden class="margin-above">
      Choose <b>save and next</b> to continue
    </p>
  </div>
</div>

<div class="no-decisions-loader" hidden>
  <div class="reviews mys-page-preloader">
    <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
    <div class="message">Looking for eligible decisions</div>
  </div>
</div>

<div class="manual-input margin-above--extra" hidden>
  <form class="manual-input-form">
  <input type="reset" style="display: none" />
  <%- include(partials+"components/form-partials/radio", { 
    label: "What type of decision do you wish to have reviewed?", 
    boxes: [ 
      {
        text: "MRCA compensation and rehabilitation"
      },
      { 
        text: "DRCA compensation and rehabilitation"
      },
      {
        text: "VEA compensation and rehabilitation"
      },
      {
        text: "Income support claims and payments"
      },
      {
        text: "Allowances",
        tooltip: {
          content: "This includes attendant allowance, clothing allowance, decoration allowance, victoria cross allowance, loss of earning allowance and recreational transport allowance.",
          screenreaderText: "This includes attendant allowance, clothing allowance, decoration allowance, victoria cross allowance, loss of earning allowance and recreational transport allowance.",
        }
      },
      {
        text: "Other" 
      }
    ], 
    id: "decision-type" 
  }); %> 

  <%- include(partials+"components/form-partials/text", { 
    label: "Type of decision", 
    modifiers: ["hidden","inputFullLength"],
    id: "other-decision"
  }); %>

  <%- include(partials+"components/form-partials/notice", { 
    message: "You are able to request a decision review within <span class='period'>XX months</span> of the decision date. You will find the decision date on the original letter advising the decision.", 
    modifiers: ["hidden"], 
    id: "timeframe-prompt" 
  }); %>
  <%-include(partials+"components/form-partials/notice", { 
    message: "<p>There are timeframes within which you are able to request reviews of decisions made. These vary based on the type of decision. You can find out more on the <a href='https://www.dva.gov.au/financial-support/appeals' class='external-link'>DVA website</a>.</p><p>You will find the decision date on the original letter advising the decision. You should ensure the date falls within the required timeframe.</p>", 
    modifiers: ["hidden"], 
    id: "unknown-timeframe-prompt" 
  }); %>

  <div class="form-group formPartials_date" id="date492-container">
    <fieldset>
      <legend class="uikit-text-input__label legend-override">
        Enter the date of the letter advising the decision<span class="hint">
          (dd / mm / yyyy)</span
        >
      </legend>
      <input
        type="number"
        class="uikit-text-input dd"
        name="date-dd"
        id="date-dd"
        maxlength="2"
        aria-label="2 digit day"
      />
      <span aria-hidden="true">/</span>
      <input
        type="number"
        class="uikit-text-input mm"
        name="month-mm"
        id="month-mm"
        maxlength="2"
        aria-label="2 digit month"
      />
      <span aria-hidden="true">/</span>
      <input
        type="number"
        class="uikit-text-input yyyy"
        name="year-yyyy"
        id="year-yyyy"
        maxlength="4"
        aria-label="4 digit year"
      />
    </fieldset>
  </div>

  <%-include(partials+"components/form-partials/notice", { 
    message: "<p>This claim is outside the required timeframe. You are unable to submit online. To submit this claim you will need email DVA.</p>", 
    modifiers: ["hidden"], 
    type: "error",
    id: "outside-timeframe-prompt"
  }); %>

  <%- include(partials+"components/form-partials/text", { 
    label: "Reference number if available", 
    hint: "(optional)" 
  }); %>
</div>
</form>

<div class="pagination pagination--ss-reverse-order margin-above--extra" id="pagination" hidden>
  <a href="/auth/reviews/" class="uikit-btn uikit-btn--tertiary">Previous</a>
  <a href="#claim-cancel-modal" class="uikit-btn uikit-btn--tertiary">Cancel</a>
  <div class="floated">
    <a
      href="/auth/reviews/index?state=one"
      id="save-exit-button"
      class="uikit-btn uikit-btn--tertiary"
      >Save and exit</a
    >
    <a href="#" id="save-next-button" class="uikit-btn"
      >Save and next</a
    >
  </div>
</div>

<%- include(templates+"footer") %> <%- include("reviews-01-ss") %>

<script>
  // $('.reviews--decisions input[type="radio"]').click(function () {
  //   selectedRow = $(this).closest('tr').attr("class").split(" ")[0];
  //   console.log( selectedRow )
  //   updateTable(selectedRow)
  // });
  $(".reviews--decisions tbody > tr").click(function () {
    selectedRow = $(this).attr("class").split(" ")[0];
    updateTable(selectedRow);
    $(".reviews--decisions tr").removeClass("selected");
    $(this).addClass("selected");
    $(this).find("td input:radio").prop("checked", true);
  });
  var selected;
  function updateTable(selectedRow) {
    resetTable();
    $(".manual-input").hide();
    selected = "record";
    switch (selectedRow) {
      case "internal":
        $("#internal-prompt-container").show();
        $("#save-next-button").attr("disabled", "disabled");
        $("#save-exit-button").attr("disabled", "disabled");
        break;
      case "aat":
        $("#aat-prompt-container").show();
        $("#save-next-button").attr("disabled", "disabled");
        $("#save-exit-button").attr("disabled", "disabled");
        break;
      case "other":
        $(".manual-input-form").trigger("reset");
        $(".manual-input").show();
        break;
      default:
        break;
    }
    $("body,html").animate(
      {
        scrollTop: $(".reviews--decisions").position().top + $(".reviews--decisions").height() + 30,
      },
      1000
    );
  }

  $('.view-more').click(function (event) {
    event.preventDefault();
    resetTable();
    $(".page1").show();
    $(".page2").show();
    $(".decisions-table-footer").hide();
  });
  var state;
  $.urlParam = function (name) {
    var results = new RegExp("[\?&]" + name + "=([^&#]*)").exec(
      window.location.href
    );
    if (results == null) {
      return 0;
    }
    return results[1] || 0;
  };
  state = $.urlParam("state");
  updatePage();
  function updatePage() {
    hideAll();
    resetTable();
    switch (state) {
      case "no-decisions":
        doPageLoadB();
        break;
      case "some-decisions":
        $('.decision').hide();
        $(".page1").show();
        doPageLoadA();
        break;
      case "more-decisions":
        $('.decision').hide();
        $(".page1").show();
        $(".other-decision").hide();
        $(".view-more").show();
        doPageLoadA();
        break;
      default:
      $('.decision').hide();
      console.log("dfdfdfd")
        $('.decision').hide();
        $(".page1").show();
        $(".other-decision").hide();
        $(".view-more").show();
        doPageLoadA();
        break;
    }
  }
  function hideAll() {
    $(".loader").hide();
    $(".loaded").hide();
    $(".manual-input").hide();
    $(".manual-loader").hide();
    $("#aat-prompt-container").hide();
    $("#internal-prompt-container").hide();
    $(".default").hide();
    $(".no-decisions").hide();
    $("#save-next").hide();
    $("#pagination").hide();
    $("#other-decision-container").hide();
  }
  function resetTable() {
    $("#save-next-button").removeAttr("disabled");
    $("#save-exit-button").removeAttr("disabled");
    $("#internal-prompt-container").hide();
    $("#other-decision-container").hide();
    $("#vrb-prompt-container").hide();
    $("#aat-prompt-container").hide();
    $("#other-prompt-container").hide();
    $("#save-next").hide();
    $("td input:radio").prop("checked", false);
    $(".reviews--decisions tr").removeClass("selected");
  }
  function doPageLoadA() {
      $(".default").show();
      $(".loader").show();
      setTimeout(function () {
      $(".loader").hide();
      $(".loaded").fadeIn();
      $("#pagination").fadeIn();
    }, 100);
  }
  function doPageLoadB() {
      $(".no-decisions-loader").show();
      setTimeout(function () {
      $(".no-decisions-loader").hide();
      $(".manual-input").fadeIn();
      $("#pagination").fadeIn();
    }, 100);
  }
  var timeframe;
  $("input[name=decision-type]").change(function () {
    $("#timeframe-prompt-container").hide();
    $("#unknown-timeframe-prompt-container").hide();
    $("#other-decision-container").hide();
    selected = $(this).val().substr(0, 5);
    switch (selected) {
      case "mrcac":
        timeframe = "12 months";
        break;
      case "drcac":
        timeframe = "3 months";
        break;
      case "veaco":
        timeframe = "12 months";
        break;
      case "incom":
        timeframe = "3 months";
        break;
      case "allow":
        timeframe = "3 months";
        break;
      case "other":
        timeframe = "unknown";
        $("#other-decision-container").show();
        break;
      default:
        break;
    }
    if (timeframe == "unknown") {
      $("#unknown-timeframe-prompt-container").show();
    } else {
      $(".period").text(timeframe);
      $("#timeframe-prompt-container").show();
    }
  });

  function page(pageNum) {
    resetTable();
    $(".manual-input-form").trigger("reset");
    $(".manual-input").hide();
    $("#other-decision-container").hide();
    $('.decision').hide();
    $(".page"+pageNum).show();
    $(".mys.paging a").removeClass("active");
    $(".mys.paging").find(".paging"+pageNum).addClass("active");
  }

  $("#save-next-button").click( function( event ) {
    event.preventDefault();
    doSaveNext();
  });
  
  function doSaveNext(){
    var day = $("input[name=date-dd").val();
    var month = $("input[name=month-mm").val();
    var year = $("input[name=year-yyyy").val();
    var decisionDate = new Date( month + "/" + day + "/" + year );
    if ( getDateDifference( decisionDate ) > 90 ) {
      dateBlock()
    } else {
        window.location.href = "/auth/reviews/reviews-02";
    }
  }
  function getDateDifference( theDate ) {
    var today = new Date();
    var milliseconds = ( today.getTime() - theDate.getTime() );
    var total_seconds = parseInt(Math.floor(milliseconds / 1000));
    var total_minutes = parseInt(Math.floor(total_seconds / 60));
    var total_hours = parseInt(Math.floor(total_minutes / 60));
    var days = parseInt(Math.floor(total_hours / 24));
    return ( days );
  }
  $("#date-dd").on("input", function() {
    dateUnBlock();
  });
  $("#month-mm").on("input", function() {
    dateUnBlock();
  });
  $("#year-yyyy").on("input", function() {
    dateUnBlock();
  });
  function dateBlock(){
    $("#save-next-button").attr("disabled", "disabled");
    $("#save-exit-button").attr("disabled", "disabled");
    $("#outside-timeframe-prompt-container").show();
  }
  function dateUnBlock(){
    $("#save-next-button").removeAttr("disabled");
    $("#save-exit-button").removeAttr("disabled");
    $("#outside-timeframe-prompt-container").hide();
  }

</script>
