<%- include(templates+"header", { claim: "MyService - Request review" , heading: "Decision information" }) %>

<div class="default">
  <div class="loader reviews mys-page-preloader">
    <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
    <div class="message">Looking for eligible decisions</div>
  </div>
  <div class="loaded" hidden>
    <form id="myform">
      <input type="reset" style="display: none" />
      <div id="decisions-found">
        <h2 class="mys h3">Select a decision to proceed</h2>
        <p class="margin-below--mid">Listed below are decisions for which you can request a review. If a decision is not shown select "other".</p>
        <table class="mys-table1 reviews--decisions margin-below--mid">
          <!-- <thead>
            <tr>
              <th>Reference</th>
              <th>Decision</th>
              <th>Description</th>
            </tr>
          </thead> -->
          <tbody>
            <tr class="decision page1">
              <td class="selector">
                <div class="mys radio-checkbox testa">
                  <input type="radio" id="myRadio1" name="myRadio" value="" />
                  <label for="myRadio1"></label>
                </div>
                <div class="type-ref">
                  <div class="inline-label">Initial Liability</div>
                  <div class="ref">DVA886754</div>
                </div>
              </td>
              <!-- <td class="decision-details">
                <div><span class="inline-label">Date</span>12 Dec 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td> -->
              <td class="description-multi" style="line-height1: 35px;">
                <!-- <table> -->
                  <p class="margin-above--small margin-below--none">Accepted:</p>
                <span class="inline-label">Depression</span>(MRCA, 15 Sep 2019)<BR/>
                <span class="inline-label">Joint instability</span>(VEA, 10 Aug 2019)<BR/>
                <span class="inline-label">Lumbar spondylosis</span>(VEA, 2 Nov 2019)<BR/>
                <p class="margin-above--small margin-below--none">Rejected:</p>
                <span class="inline-label">Cerebral meningioma</span>(VEA, 28 Aug 2019)<BR/>
                <span class="inline-label">Chronic bronchitis and emphysema</span>(VEA, 10 Aug 2019)<BR/>
                <span class="inline-label">Lumbar spondylosis</span>(MRCA, 23 Oct 2019)<BR/>
                
               
                <!-- <div style="display: flex; justify-content: space-between;">
                  <span>
                    Lumbar spondylosis
                  </span>
                  <span>
                    MRCA - accepted 23 Oct 1990
                  </span>
                </div>
                <div style="display: flex; justify-content: space-between;">
                  <span>
                    Depression
                  </span>
                  <span>
                    MRCA - accepted 23 Oct 1990
                  </span>
                </div>
                <div style="display: flex; justify-content: space-between;">
                  <span>
                    Joint instability
                  </span>
                  <span>
                    MRCA - accepted 23 Oct 1990
                  </span>
                </div> -->
                  <!-- </tr> -->
                <!-- <tr>Lumbar spondylosis</span> (VEA - rejected 23 Oct 1990) </tr>
                <tr>Depression</span> (MRCA - accepted 23 Oct 1990) </tr>
                <tr>Joint instability</span> VEA - accepted 23 Oct 1990) </tr>
                <tr>Chronic bronchitis and emphysema</span> (VEA - accepted 23 Oct 1990) </tr>
                <tr>Cerebral meningioma</span> (VEA - accepted 23 Oct 1990) </tr> -->
                <!-- </table> -->
              </td>
            </tr>
            <!-- <tr class="vrb decision page1">
              <td class="selector">
                <div class="mys radio-checkbox testa">
                  <input type="radio" id="myRadio1" name="myRadio" value="" />
                  <label for="myRadio1"></label>
                </div>
                <div class="type-ref">
                  <div class="inline-label">Initial Liability</div>
                  <div class="ref">DVA886754</div>
                </div>
              </td> -->
              <!-- <td class="decision-details">
                <div><span class="inline-label">Date</span>12 Dec 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td> -->
              <!-- <td class="description-multi">
            Lumbar spondylosis, Depression, Joint instability, Chronic bronchitis and emphysema, Cerebral meningioma
               
              </td>
            </tr> -->
            <!-- <tr class="vrb decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio2" name="myRadio" value="" />
                  <label for="myRadio2"></label>
                </div>
                <div>
                  <div class="inline-label">Initial Liability</div>
                  <div class="ref">DVA886754</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>12 Dec 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Depression (MRCA)</td>
            </tr> -->
            <tr class="underway decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio3" name="myRadio" value="" />
                  <label for="myRadio3"></label>
                </div>
                <div>
                  <div class="inline-label">Qualifying Service</div>
                  <div class="ref">NSM123457</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>8 Nov 2020</div>
                <div><span class="inline-label">Outcome</span>Accepted</div>
              </td>
              <!-- <td class="description"></td> -->
            </tr>
            <tr class="internal decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio4" name="myRadio" value="" />
                  <label for="myRadio4"></label>
                </div>
                <div>
                    <div class="inline-label">Initial liability</div>
                    <div class="ref">DVA334527</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>15 Oct 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Femoroacetabular Impingement Syndrome (MRCA)</td>
            </tr>
            <tr class="aat decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio5" name="myRadio" value="" />
                  <label for="myRadio5"></label>
                </div>
                <div>
                  <div class="inline-label">Permanent Impairment</div>
                  <div class="ref">DVA265447</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>15 Oct 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Lumbar spondylosis, Internal derangement of the knee</td>
            </tr>
            <tr class="draft vrb decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio6" name="myRadio" value="" />
                  <label for="myRadio6"></label>
                </div>
                <div>
                  <div class="inline-label">Initial Liability</div>
                  <div class="ref">VRB775437</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>28 Sep 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Achilles tendinopathy and bursitis (DRCA)</td>
            </tr>
            <tr class="vrb decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio7" name="myRadio" value="" />
                  <label for="myRadio7"></label>
                </div>
                <div>
                  <div class="inline-label">Income Support Supplement</div>
                  <div class="ref">VRB775437</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>28 Sep 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <!-- <td class="description"></td> -->
            </tr>
            <tr class="vrb decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio8" name="myRadio" value="" />
                  <label for="myRadio8"></label>
                </div>
                <div>
                  <div class="inline-label">Service Pension</div>
                  <div class="ref">DVA227546</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>28 Sep 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Age Pension</td>
            </tr>
            <tr class="vrb decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio9" name="myRadio" value="" />
                  <label for="myRadio9"></label>
                </div>
                <div>
                  <div class="inline-label">Veterans' Payment</div>
                  <div class="ref">DVA443567</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>18 Aug 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <!-- <td class="description"></td> -->
            </tr>
            <tr class="vrb decision page1">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio10" name="myRadio" value="" />
                  <label for="myRadio10"></label>
                </div>
                <div>
                  <div class="inline-label">Incapacity Payments</div>
                  <div class="ref">DVA255675</div>
                </div>
              </td>
              <td class="decision-details">
                  <div><span class="inline-label">Date</span>1 Aug 2020</div>
                  <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Assessment of rate</td>
            </tr>
            <tr class="aat decision page2">
              <td class="selector">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio11" name="myRadio" value="" />
                  <label for="myRadio11"></label>
                </div>
                <div>
                  <div class="inline-label">Rent assistance</div>
                  <div class="ref">DVA266754</div>
                </div>
              </td>
              <td class="decision-details">
                <div><span class="inline-label">Date</span>28 Jul 2020</div>
                <div><span class="inline-label">Outcome</span>Rejected</div>
              </td>
              <td class="description">Application for increase</td>
            </tr> 
            <tr class="other decision page2">
              <td class="selector" colspan="3">
                <div class="mys radio-checkbox">
                  <input type="radio" id="myRadio1" name="myRadio" value="" />
                  <label for="myRadio1"></label>
                </div>
                <div class="inline-label v-align">Other</div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="decisions-table-footer margin-above">
          <span class="results">10 of 12 results showing</span>
          <button class="uikit-btn small view-more">View all</button>
        </div>
      </div>
    </form>

    <%- include(partials+"components/form-partials/notice", { 
      message: "This decision has been reviewed internally by DVA. There are no further options for review within DVA. However you may have a right of appeal to the Administrative Appeals Tribunal (AAT). Appeals to the AAT must be lodged directly. You can find more information on the <a href='https://www.dva.gov.au/financial-support/appeals/what-administrative-appeals-tribunal' class='external-link'>DVA website</a> and the <a href='https://www.aat.gov.au/apply-for-a-review/veterans-entitlements-and-military-compensation' class='external-link'>AAT website</a>.", 
      modifiers: ["hidden"], 
      id: "aat-prompt", 
      type: "warning",
      customClass: ["margin-above--large"]
    }); %>
    <%- include(partials+"components/form-partials/notice", { 
      message: "This decision has been reviewed by the Veterans' Review Board. There are no further options for review within DVA. However you may have a right of appeal to the Administrative Appeals Tribunal (AAT). Appeals to the AAT must be lodged directly. You can find more information on the <a href='https://www.dva.gov.au/financial-support/appeals/what-administrative-appeals-tribunal' class='external-link'>DVA website</a> and the <a href='https://www.aat.gov.au/apply-for-a-review/veterans-entitlements-and-military-compensation' class='external-link'>AAT website</a>.", 
      modifiers: ["hidden"], 
      id: "internal-prompt", 
      type: "warning",
      customClass: ["margin-above--large"]
    }); %>
    <%- include(partials+"components/form-partials/notice", { 
      message: "A review has already been requested for the selected decision. If you have any questions about this review please call 1800 VETERAN (<a href='1800 838 372'>1800 838 372</a>).", 
      modifiers: ["hidden"], 
      id: "underway-prompt", 
      type: "warning",
      customClass: ["margin-above--large"]
    }); %>
    <%- include(partials+"components/form-partials/notice", {
      message: "<p>You have an incomplete request saved with the selected decision. If you wish to include this decision in your current claim you will need to delete the <a href='/auth/reviews'>saved request</a> first.",
      type: "warning",
      modifiers: ["hidden"], 
      id: "draft-prompt",
      customClass: ["margin-above--large"]
    }); %>

    <p id="save-next" hidden class="margin-above">
      Choose <b>save and next</b> to continue
    </p>
  </div>
</div>

<div class="no-decisions-loader" hidden>
  <div class="reviews mys-page-preloader">
    <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
    <div class="message">Looking for eligible decisions</div>
  </div>
</div>

<div class="manual-input margin-above--extra" hidden>
  <form class="manual-input-form">
  <input type="reset" style="display: none" />
  <%- include(partials+"components/form-partials/radio", { 
    label: "What type of decision do you wish to have reviewed?", 
    boxes: [ 
      {
        text: "MRCA liability and compensation"
      },
      { 
        text: "DRCA liability and compensation"
      },
      {
        text: "VEA compensation"
      },
      {
        text: "Rehabilitation"
      },
      {
        text: "Income support claims and payments",
        tooltip: {
          content: "This includes service pension, Commonwealth Seniors Health Card, qualifying service, income and assets updates, veteran payment and others.",
          screenreaderText: "This includes service pension, Commonwealth Seniors Health Card, qualifying service, income and assets updates, veteran payment and others.",
        }
      },
      {
        text: "Allowances",
        tooltip: {
          content: "This includes attendant allowance, clothing allowance, decoration allowance, victoria cross allowance, loss of earning allowance and recreational transport allowance.",
          screenreaderText: "This includes attendant allowance, clothing allowance, decoration allowance, victoria cross allowance, loss of earning allowance and recreational transport allowance.",
        }
      },
      {
        text: "Other" 
      }
    ], 
    id: "decision-type" 
  }); %> 

  <div class="manual-input-more" hidden>

    <%- include(partials+"components/form-partials/notice", { 
      message: "You are able to request a decision review within <span class='period'>XX months</span> of the decision date. You will find the decision date on the original letter advising the decision.", 
      modifiers: ["hidden"], 
      id: "timeframe-prompt" 
    }); %>
    <%-include(partials+"components/form-partials/notice", { 
      message: "<p>There are timeframes within which you are able to request reviews of decisions made. These vary based on the type of decision. You can find out more on the <a href='https://www.dva.gov.au/financial-support/appeals' class='external-link'>DVA website</a>.</p><p>You will find the decision date on the original letter advising the decision. You should ensure the date falls within the required timeframe.</p>", 
      modifiers: ["hidden"], 
      id: "unknown-timeframe-prompt" 
    }); %>

    <div class="form-group formPartials_date" id="date492-container">
      <fieldset>
        <legend class="uikit-text-input__label legend-override">
          Enter the date of the letter advising the decision<span class="hint">
            (dd / mm / yyyy)</span
          >
        </legend>
        <input
          type="number"
          class="uikit-text-input dd"
          name="date-dd"
          id="date-dd"
          maxlength="2"
          aria-label="2 digit day"
        />
        <span aria-hidden="true">/</span>
        <input
          type="number"
          class="uikit-text-input mm"
          name="month-mm"
          id="month-mm"
          maxlength="2"
          aria-label="2 digit month"
        />
        <span aria-hidden="true">/</span>
        <input
          type="number"
          class="uikit-text-input yyyy"
          name="year-yyyy"
          id="year-yyyy"
          maxlength="4"
          aria-label="4 digit year"
        />
      </fieldset>
    </div>

    <%-include(partials+"components/form-partials/notice", { 
      message: "<p>This decision is outside the required timeframe. You are unable to submit a request for review online. To find out more call 1800 VETERAN (<a href='1800 838 372'>1800 838 372</a>).</p>", 
      modifiers: ["hidden"], 
      type: "error",
      id: "outside-timeframe-prompt"
    }); %>

    <%- include(partials+"components/form-partials/text", { 
      label: "Reference number if available", 
      hint: "(optional)"
    }); %>
  
  </div>

  </form>
</div>

<div class="other-input" hidden>
  <%-include(partials+"components/form-partials/notice", { 
    message: "<p>We will need further information to determine whether a review can be requested. Provide a brief outline of the decision and the reasons for your request below. We will contact you to follow up on this matter.</p>"
  }); %>
  <%- include(partials+"components/form-partials/textarea", { 
    label: "Provide a brief outline of the decision and your reasons for requesting a review.",
    customClass: ["margin-below--none"]
  }); %>
  <button class="uikit-btn small margin-below--extra margin-above--small other-submit">Submit</button>
</div>



<%- include(forms+"pagination", { 
  pagination: [ 
    { text: "Previous" , link: "/auth/reviews/" }, 
    { text: "Cancel", link: "#claim-cancel-modal" },
    { id: "save-exit-button", text: "Save and exit", link: "/auth/reviews/", modifiers: ["floated" ] }, 
    { id: "save-next-button", text: "Save and next", link: "#", modifiers: ["floated", "primary" ], 
    customClass: ['margin-above--extra'] } 
  ] 
  }) %> 


<%- include(templates+"footer") %> <%- include("reviews-01-ss") %>

<script>
  // $('.reviews--decisions input[type="radio"]').click(function () {
  //   selectedRow = $(this).closest('tr').attr("class").split(" ")[0];
  //   console.log( selectedRow )
  //   updateTable(selectedRow)
  // });
  $(".reviews--decisions tbody > tr").click(function () {
    selectedRow = $(this).attr("class").split(" ")[0];
    updateTable(selectedRow);
    $(".reviews--decisions tr").removeClass("selected");
    $(this).addClass("selected");
    $(this).find("td input:radio").prop("checked", true);
  });
  var selected;
  function updateTable(selectedRow) {
    resetTable();
    $(".manual-input").hide();
    selected = "record";
    switch (selectedRow) {
      case "internal":
        $("#internal-prompt-container").show();
        $("#save-next-button").attr("disabled", "disabled");
        $("#save-exit-button").attr("disabled", "disabled");
        break;
      case "aat":
        $("#aat-prompt-container").show();
        $("#save-next-button").attr("disabled", "disabled");
        $("#save-exit-button").attr("disabled", "disabled");
        break;
      case "underway":
        $("#underway-prompt-container").show();
        $("#save-next-button").attr("disabled", "disabled");
        $("#save-exit-button").attr("disabled", "disabled");
        break;
      case "draft":
        $("#draft-prompt-container").show();
        $("#save-next-button").attr("disabled", "disabled");
        $("#save-exit-button").attr("disabled", "disabled");
        break;
      case "other":
        $(".manual-input-form").trigger("reset");
        $(".manual-input").show();
        break;
      default:
      $("#save-next").show();
        break;
    }
    $("body,html").animate(
      {
        scrollTop: $(".reviews--decisions").position().top + $(".reviews--decisions").height() + 30,
      },
      1000
    );
  }

  $('.view-more').click(function (event) {
    event.preventDefault();
    resetTable();
    $(".page1").show();
    $(".page2").show();
    $(".decisions-table-footer").hide();
  });
  var state;
  $.urlParam = function (name) {
    var results = new RegExp("[\?&]" + name + "=([^&#]*)").exec(
      window.location.href
    );
    if (results == null) {
      return 0;
    }
    return results[1] || 0;
  };
  state = $.urlParam("state");
  updatePage();
  function updatePage() {
    hideAll();
    resetTable();
    switch (state) {
      case "No decisions":
        $(".manual-input").removeClass("margin-above--extra");
        doPageLoadB();
        break;
      case "Some decisions":
        $(".manual-input").addClass("margin-above--extra");
        $(".page1").show();
        $(".other").show();
        doPageLoadA();
        break;
      case "More decisions":
      $(".manual-input").addClass("margin-above--extra");
        $(".page1").show();
        $(".decisions-table-footer").show();
        doPageLoadA();
        break;
      default:
      $(".manual-input").addClass("margin-above--extra");
        $(".page1").show();
        $(".decisions-table-footer").show();
        doPageLoadA();
        break;
    }
  }
  function hideAll() {
    $('.decision').hide();
    $(".loader").hide();
    $(".loaded").hide();
    $(".manual-input").hide();
    $(".manual-loader").hide();
    $("#aat-prompt-container").hide();
    $("#internal-prompt-container").hide();
    $("#underway-prompt-container").hide();
    $("#draft-prompt-container").hide();
    $(".default").hide();
    $(".no-decisions").hide();
    $("#save-next").hide();
    $("#pagination").hide();
    $(".other-input").hide();
    $(".page1").hide();
    $(".page2").hide();
    $(".decisions-table-footer").hide();
    $(".other").hide();
  }
  function resetTable() {
    $("#save-next-button").removeAttr("disabled");
    $("#save-exit-button").removeAttr("disabled");
    $("#internal-prompt-container").hide();
    $("#other-decision-container").hide();
    $("#vrb-prompt-container").hide();
    $("#aat-prompt-container").hide();
    $("#other-prompt-container").hide();
    $("#underway-prompt-container").hide();
    $("#draft-prompt-container").hide();
    $("#save-next").hide();
    $("td input:radio").prop("checked", false);
    $(".reviews--decisions tr").removeClass("selected");
    $(".other-input").hide();
    $(".pagination").show();
  }
  function doPageLoadA() {
      $(".default").show();
      $(".loader").show();
      setTimeout(function () {
      $(".loader").hide();
      $(".loaded").fadeIn();
      $("#pagination").fadeIn();
    }, 1000);
  }
  function doPageLoadB() {
      $(".no-decisions-loader").show();
      setTimeout(function () {
      $(".no-decisions-loader").hide();
      $(".manual-input").fadeIn();
      $("#pagination").fadeIn();
    }, 1000);
  }
  var timeframe;
  $("input[name=decision-type]").change(function () {
    $("#timeframe-prompt-container").hide();
    $("#unknown-timeframe-prompt-container").hide();
    $(".other-input").hide();
    $(".pagination").show();
    selected = $(this).val().substr(0, 5);
    switch (selected) {
      case "mrcac":
        timeframe = "12 months";
        $(".manual-input-more").show();
        break;
      case "drcac":
        timeframe = "3 months";
        $(".manual-input-more").show();
        break;
      case "veaco":
        timeframe = "12 months";
        $(".manual-input-more").show();
        break;
      case "incom":
        timeframe = "3 months";
        $(".manual-input-more").show();
        break;
      case "allow":
        timeframe = "3 months";
        $(".manual-input-more").show();
        break;
      case "other":
        $(".manual-input-more").hide();
        $(".other-input").show();
        $(".pagination").hide();
        break;
      default:
        break;
    }
    if (timeframe == "unknown") {
      $("#unknown-timeframe-prompt-container").show();
    } else {
      $(".period").text(timeframe);
      $("#timeframe-prompt-container").show();
    }
  });

  $("#save-next-button").click( function( event ) {
    event.preventDefault();
    doSaveNext();
  });

  $(".other-submit").click( function( event ) {
    event.preventDefault();
    window.location.href = "/auth/reviews/index?toast=other-submit";
  });
  
  function doSaveNext(){
    var day = $("input[name=date-dd").val();
    var month = $("input[name=month-mm").val();
    var year = $("input[name=year-yyyy").val();
    var decisionDate = new Date( month + "/" + day + "/" + year );
    if ( getDateDifference( decisionDate ) > 90 ) {
      dateBlock()
    } else {
        window.location.href = "/auth/reviews/reviews-02";
    }
  }
  function getDateDifference( theDate ) {
    var today = new Date();
    var milliseconds = ( today.getTime() - theDate.getTime() );
    var total_seconds = parseInt(Math.floor(milliseconds / 1000));
    var total_minutes = parseInt(Math.floor(total_seconds / 60));
    var total_hours = parseInt(Math.floor(total_minutes / 60));
    var days = parseInt(Math.floor(total_hours / 24));
    return ( days );
  }
  $("#date-dd").on("input", function() {
    dateUnBlock();
  });
  $("#month-mm").on("input", function() {
    dateUnBlock();
  });
  $("#year-yyyy").on("input", function() {
    dateUnBlock();
  });
  function dateBlock(){
    $("#save-next-button").attr("disabled", "disabled");
    $("#save-exit-button").attr("disabled", "disabled");
    $("#outside-timeframe-prompt-container").show();
  }
  function dateUnBlock(){
    $("#save-next-button").removeAttr("disabled");
    $("#save-exit-button").removeAttr("disabled");
    $("#outside-timeframe-prompt-container").hide();
  }

</script>
