<%- include(templates+"header", { claim: "MyService - Request review" , heading:
"Reason for request" }) %>

  <%- include(partials+"components/form-partials/checkbox", {
    label: "Select the condition/s for which you would like request a review",
    boxes: [
    "Cerebral meningioma (MRCA, rejected 28 Aug 2019)",
    "Chronic bronchitis and emphysema (MRCA, rejected 26 Aug 2019)",
    "Joint instability (MRCA, accepted 28 Aug 2019",
    "Lumbar spondylosis (MRCA, accepted 23 Oct 2019)",
    ],
    id: "cond",
    customClass: ["margin-below--none"],
    modifiers: ["hidden"]
  }); %>

  <%- include(partials+"components/form-partials/notice", {
    message: ` <p class="margin-below--small margin-above--none">Note that reviews have already been requested for the following conditions:
      <ul class="margin-below--none">
        <li>Depression (MRCA, accepted 10 Aug 2019)</li>
        <li>Lumbar spondylosis (VEA, rejected 12 Oct 2019)</li>
      </ul>
    </p>`,
    id: "cond-pending",
    modifiers: ["hidden"]
  }); %>
 
  <!-- <script>
     $('#conditions-3').attr('disabled', 'disabled');
    $('#conditions-6').attr('disabled', 'disabled');
  </script> -->

  <%- include(partials+"components/form-partials/textarea", { 
    label: "Enter your detailed reason/s for requesting a review", 
    hint: "If lengthy you may upload as supporting evidences below.", 
    id: "reason-text" , 
    modifiers: [ "hintNewLine"],
    customClass: ["margin-above--extra"]
  }); %>

  <strong>Supporting evidence</strong> (recommended)
  <p>Add documents to support your request. For example: letter of decision, reason for request, medical evidence. You are also able to provide these documents later.</p>
  <p>Accepted file types include word doc, pdf, jpeg and png. Maximum file size is 50MB.</p>
  </p>

  <div class="mys doc-upload margin-above--small margin-below--extra">
    <div class="file">
      <i class="icon fal fa-file-upload fa-2x"></i>
      <span>Document</span>
    </div>
    <button class="mys-file-uploads__item-button uikit-btn small">
      Upload
    </button>
  </div>


<%- include(forms+"pagination", { 
  pagination: [ 
    { text: "Previous" , link: "/auth/reviews/reviews-01" }, 
    { text: "Cancel", link: "#claim-cancel-modal" },
    { text: "Save and exit", link: "/auth/reviews/", modifiers: ["floated" ] }, 
    { text: "Save and next", link: "/auth/reviews/reviews-03", modifiers: ["floated", "primary" ], customClass: ['margin-above--large'] } ] 
  }) %> 
  <%-include(templates+"footer") %> 
  <%- include("reviews-02-ss") %>

<script>

  var selected;
  function updateTable(selectedRow) {
    resetTable();
    selected = "record";
    switch (selectedRow) {
      case "drca":
        $("#internal-review-prompt-container").show();
        break;
      case "vea":
        $("#vrb-prompt-container").show();
        break;
      case "vrb":
        $("#aat-prompt-container").show();
        $("#save-next-button").attr("disabled", "disabled");
        $("#save-exit-button").attr("disabled", "disabled");
        break;
      case "other":
        selected = "other";
        $("#save-next").show();
        break;
      default:
        break;
    }
    $("body,html").animate(
      {
        scrollTop:
          $(".reviews--decisions").position().top +
          $(".reviews--decisions").height(),
      },
      1000
    );
  }



</script>
