<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: submitted | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"header-version") %>
  <%- include(partials+"header-authenticated") %>
  <%- include(partials+"header-nom-rep") %>


  <div id="page-title">
    <div class="container">
      <h1>
        <img src="../../../docs/images/ico-tick-green.svg" alt="Success tick icon">Approved for treatment</h1>
    </div>
  </div>
  <main>
    <div class="container" id="main-content">
      <h2 style="padding-top:0px; margin-top:0px;">You can now access mental health treatment using your DVA health card (White Card).</h2>
      <p>If you access treatment before your card arrives, keep your receipts and we will reimburse you later. We will send your card to:</p>
      <div class="breakout-light" id="submitted-nlhc-claim">
        <strong>HMAS Harman, 129 Bonshaw Road, Jerrabomberra ACT 2619</strong>
        <button onclick="window.location.href = '/auth/profile'" class="uikit-btn uikit-btn--tertiary" style="float:right; margin-top:-12px;">Update address</button>
      </div>

      <br>
      <br>
      <!--
      	<div class="row">
			<div class="col-md-6">
				<h3>Next steps</h3>
				<ul>
					<li>Make sure <a href="/auth/claim/profile">your postal address</a> is up-to-date.</li>
					<li>Find out how to <a target="blank" href="http://at-ease.dva.gov.au/veterans/take-action/professional-care/">access free treatment.</a></li>
					<li>Talk to your GP about mental health.</LI>
				</ul>
			</div>
			<div class="col-md-6">
				<h3>More information</h3>            
				<ul>
				 <li><a href="https://www.dva.gov.au/factsheet-hsv109-non-liability-health-care">Non-liability health care</a></li>            
				 <li><a href="https://www.dva.gov.au/factsheet-hsv99-mental-health-support">Mental health support</a></li>
				 <li><a href="https://www.dva.gov.au/factsheet-hsv61-dva-health-card-specific-conditions-white">DVA health card</a></li>
				</ul>
			</div>
		</div>
		-->


      <!--<div class="support-box" style="border-top:1px solid #e2e2e2;">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3"><img src="/docs/images/logo-vvcs.png"><br><strong>1800&nbsp;011&nbsp;046</strong><br><a href="http://www.vvcs.gov.au/">Open Arms – Veterans and Families Counselling</a></div>
				<div class="col-xs-12 col-sm-6 col-md-3"><img src="/docs/images/logo-defence.png"><br><strong>1800&nbsp;628&nbsp;036</strong><br><a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp">ADF Mental Health All Hours Support Line</a></div>
				<div class="col-xs-12 col-sm-6 col-md-3"><img src="/docs/images/logo-lifeline.png"><br><strong>13&nbsp;11&nbsp;14</strong><br><a href="https://www.lifeline.org.au/">Lifeline</a></div>
				<div class="col-xs-12 col-sm-6 col-md-3"><img src="/docs/images/logo-1800respect.png"><br><strong>1800&nbsp;737&nbsp;732</strong><br><a href="https://www.1800respect.org.au">National Sexual Assault, Domestic and Family Violence Counselling Service</a></div>
			</div>  
		</div>-->


      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Back to home</button>
        <button class="uikit-btn floated btnCompo" title="Go to the Add Claim page">Apply for compensation</button>
      </div>
      <%- include(partials+"claims-cancel-modal") %>
    </div>
  </main>

  <%- include(partials+"counselling-support") %>
  <%- include(partials+"footer") %>


  <script>
    // Apply for compensation button
    // Adding nlhc to session storage so if user clicks the 'Apply for compensation' button they wont be asked if its a mental health condition again
    $('.btnCompo').click(function () {
      sessionStorage.setItem('nlhc', true);
      location.href = '/auth/claim/claim-step1';
    });
  </script>

</body>

</html>