<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Manage your Claims | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <section>


      <div class="section-feature">
        <div id="main-content" class="container">
          <h1 class="margin-below--small margin-above--small">
            <span class="heading">Claims</span>
          </h1>
        </div>
      </div>

      <div class="section-feature--separator">
        <div class="container">
          <ul class="secondary-navigation secondary-navigation--inline">
            <li class="secondary-navigation__item">
              <a class="secondary-navigation__link" href="/auth/claim/claims-make">Make a claim</a>
            </li>
            <li class="secondary-navigation__item secondary-navigation__item--active">
              <a class="secondary-navigation__link" href="/auth/claim/claims-manage">Manage your claims</a>
            </li>
          </ul>
        </div>
      </div>


      <div class="container margin-above margin-below--extra" id="claim-activity">

        <div class="ss-align--center">
          <h2>
            <span class="font-weight-heavy">Manage and track your claims</span>
          </h2>
          <p class="text-fullwidth">If you can't see your claim below it may be in
            <a href="#open-myaccount-modal">MyAccount</a>
          </p>
        </div>

        <section class="widget margin-above">
          <div class="row widget-content widget--justclaims">
            <div class="col-md-12">
              <table class="table-claims table-responsive">
                <thead>
                  <tr>
                    <th class="widget-activity">Most recent claims</th>
                    <th class="widget-actions">Actions</th>
                  </tr>
                </thead>
                <tr class="status-action-required show-instance-action-required">
                  <td>
                    <p class="status-icon status-in-progress">
                      Education assistance for Kim
                      <br />
                      <span>In Progress
                        <em>&ndash; Action Required</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'updateClaimInProgress'">Update</button>
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewClaimInProgress'">View</button>
                    <button class="uikit-btn small uikit-btn--tertiary" id="button-withdrawclaimmodal">Withdraw</button>
                  </td>
                </tr>

                <tr>
                  <td>
                    <p class="status-icon status-approved">
                      Qualifying Service
                      <br />
                      <span>Approved
                        <em>&ndash; 3 May 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'qs-claimdetail'">View</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-submitted">
                      Increase to Disability Pension
                      <br />
                      <span>Submitted
                        <em>&ndash; 27 April 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/afi/claimdetail'">View</button>
                    <!-- <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Withdraw</button> -->
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-submitted">
                      DHOAS Subsidy Certificate
                      <br />
                      <span>Submitted
                        <em>&ndash; 25 April 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewDhoasDetail'">View</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-incomplete">
                      Increase to Disability Pension
                      <br />
                      <span>Incomplete
                        <em>&ndash; 27 April 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/afi/claim1'">Resume</button>
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Delete</button>
                    <!-- <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Withdraw</button> -->
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-incomplete">
                      Permanent Impairment Lifestyle Questionnaire
                      <br />
                      <span>Incomplete
                        <em>&ndash; 24 days remaining</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/pi-lsq/pi-lsq-start'">Resume</button>
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Delete</button>
                    <!-- <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Withdraw</button> -->
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-submitted">
                      Permanent Impairment Lifestyle Questionnaire
                      <br />
                      <span>Submitted
                        <em>&ndash; 8 May 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/viewPI-LSQ-detail'">View</button>
                    <!-- <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Withdraw</button> -->
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-incomplete">
                      Subacromial Bursitis of the Shoulder
                      <br />
                      <span>Incomplete
                        <em>&ndash; 24 days remaining</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary">Resume</button>
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-approved">
                      Mental Health Treatment (NLHC)
                      <br />
                      <span>Approved
                        <em>&ndash; 4 Jan 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-submitted">
                      Internal derangement of the knee
                      <br />
                      <span>Submitted
                        <em>&ndash; 3 Jan 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewClaimDetail'">View</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-approved">
                      Education assistance for Lee Gall
                      <br />
                      <span>Approved
                        <em>&ndash; 3 Jan 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewClaimDetailStudent'">View</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-rejected">
                      Education assistance for Pi
                      <br />
                      <span>Rejected
                        <em>&ndash; 3 Jan 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewClaimRejected'">View</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-withdrawn">
                      Education assistance for Li
                      <br />
                      <span>Withdrawn
                        <em>&ndash; 3 Jan 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewClaimWithdrawn'">View</button>
                  </td>
                </tr>

                <!-- Show the one above initially ('show-instance-action-required')
                    and this one ('show-instance-withdrawn') after it is withdrawn-->
                <tr class="show-instance-withdrawn">
                  <td>
                    <p class="status-icon status-withdrawn">
                      Education assistance for Kim
                      <br />
                      <span>Withdrawn
                        <em>&ndash; 3 Jan 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewClaimWithdrawn'">View</button>
                  </td>
                </tr>
              </table>


            </div>
          </div>
        </section>

        <%- include(partials+"content/modals/claims-dhoas-start-modal") %>

      </div>

    </section>
  </main>
  <%- include(partials+"components/layout/footer") %>

  <script>
    $(".toggle-arrow").click(function () {
      $(".simple-accordion").toggleClass('simple-accordion--open simple-accordion--closed');
    });

    function goToByScroll(id) {
      id = id.replace("-link", "");
      $('html,body').animate({
          scrollTop: $("#" + id).offset().top
        },
        'slow');
    }
    $("#claim-activity-link").click(function (e) {
      e.preventDefault();
      goToByScroll($(this).attr("id"));
    });


    $("#entitlements").change(function () {
      if ($('#entitlements :selected').val() == "mentalhealth") {
        $("#entitlement-mh").removeClass('action-group__reveal--closed');
        $("#entitlement-mh").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-mh").removeClass('action-group__reveal--open');
        $("#entitlement-mh").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "education") {
        $("#entitlement-student").removeClass('action-group__reveal--closed');
        $("#entitlement-student").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-student").removeClass('action-group__reveal--open');
        $("#entitlement-student").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "afi") {
        $("#entitlement-afi").removeClass('action-group__reveal--closed');
        $("#entitlement-afi").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-afi").removeClass('action-group__reveal--open');
        $("#entitlement-afi").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "dhoas") {
        $("#entitlement-dhoas-subsidy").removeClass('action-group__reveal--closed');
        $("#entitlement-dhoas-subsidy").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-dhoas-subsidy").removeClass('action-group__reveal--open');
        $("#entitlement-dhoas-subsidy").addClass('action-group__reveal--closed');
      }
    });
  </script>

</body>


</html>