<%#- include(templates+"header", {
  claim: "Legacy"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Request a replacement Health card | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main></main>
  <div class="container">

    <h1>
      <span class="heading">Replacement Health Card</span>
    </h1>
    <p>A replacement Health Card can be issued through MyService if your card is lost, damaged or stolen.</p>

    <p>Your replacement Health Card will be sent to your current address:</p>
    <div class="address-block">
      <div class="address-block__content">
        <p class="address-block__line"><span class="pt-current-user-name-full"></span></p>
        <p class="address-block__line">Unit 3/41 Constitution Ave</p>
        <p class="address-block__line">Jamison Appartments</p>
        <p class="address-block__line">
          <span class="city">Canberra</span>
          <span class="state">ACT</span>
          <span class="post-code">2612</span>
        </p>
      </div>
    </div>

    <div class="form-group">
      <fieldset>
        <legend class="legend-label">Is this address correct?</legend>
        <div class="radio-toggle">
          <label class="on label-left">
            <input type="radio" name="address" value="yes" aria-label="Yes">
            <span>Yes</span>
          </label>
          <label class="off label-right">
            <input type="radio" name="address" value="no" aria-label="No ">
            <span>No</span>
          </label>
        </div>
      </fieldset>
    </div>

    <div class="transition-content" id="address-alert">
      <div class="uikit-page-alerts uikit-page-alerts--error" role="alert">
        <span class="uikit-display-1">To change your address
          <a href="#">go to MyAccount</a>
        </span>
      </div>
    </div>

    <div class="transition-content" id="reasons">

      <div class="form-group">
        <fieldset>
          <label class="uikit-text-input__label" for="reason">
            <h3 class="margin-below--none"></h3>Why do you need a replacement card?
            </h3>
            <span class="hint display-block margin-below">Select an option that best describes your circumstances.</span>
          </label>

          <div class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="reason" value="damaged">
              <span class="uikit-control-input__text">my card is damaged</span>
            </label>
          </div>

          <div class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="reason" value="stolen">
              <span class="uikit-control-input__text">my card was stolen</span>
            </label>
          </div>
          <div class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="reason" value="lost">
              <span class="uikit-control-input__text">I lost my card</span>
            </label>
          </div>
          <div class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="reason" value="moving">
              <span class="uikit-control-input__text">I am moving interstate</span>
            </label>
          </div>
          <div class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="reason" value="details">
              <span class="uikit-control-input__text">my details have changed</span>
            </label>
          </div>
          <div class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="reason" value="expired">
              <span class="uikit-control-input__text">my card has expired </span>
            </label>
          </div>
        </fieldset>
      </div>


      <div class="transition-content" id="reason-alert">
        <div class="uikit-page-alerts uikit-page-alerts--error" role="alert">
          <span class="uikit-display-1">To replace your card call
            <a href="tel:1800-555-254">1800 555 254</a>
          </span>
        </div>
      </div>
    </div>

    <div class="pagination">
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'healthcard-home'">Cancel request</button>
      <div class="floated">
        <button class="uikit-btn uikit-btn--inactive" id="submit" disabled onclick="window.location.href = '/auth/claim/healthcard-replacement-success'">Submit request</button>
      </div>
    </div>

  </div>
  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    function hasClass(pElement, pClass) {
      return pElement.className.split(' ').some(function (pItem) {
        return pItem === pClass;
      })
    }

    function removeClass(pElement, pClass) {
      var className = pElement.className;

      pElement.className = className.split(' ').filter(function (pItem) {
        return pItem !== pClass;
      }).join(' ');
    }

    function addClass(pElement, pClass) {
      if (!hasClass(pElement, pClass)) {
        pElement.className += (' ' + pClass);
      }
    }


    var addressElements = document.getElementsByName('address');
    Array.prototype.forEach.call(addressElements, function (pElement) {
      var alertElement = document.getElementById('address-ale rt');
      var reasonsElement = document.getElementById('reasons');
      var visibleClassName = 'transition-content--open';

      pElement.onclick = function () {
        if (pElement.checked) {
          if (pElement.value === 'yes') {
            removeClass(alertElement, visibleClassName);
            addClass(reasonsElement, visibleClassName);
          } else {
            addClass(alertElement, visibleClassName);
            removeClass(reasonsElement, visibleClassName);
          }
        }
      }
    })

    var reasonElements = document.getElementsByName('reason');
    Array.prototype.forEach.call(reasonElements, function (pElement) {
      var alertElement = document.getElementById('reason-alert');
      var submitElement = document.getElementById('submit');
      var visibleClassName = 'transition-content--open';

      pElement.onclick = function () {
        if (pElement.checked) {
          if (pElement.value === 'moving' || pElement.value === 'details' || pElement.value === 'expired') {
            addClass(alertElement, visibleClassName);
            submitElement.disabled = true;
          } else {
            removeClass(alertElement, visibleClassName);
            submitElement.disabled = false;
          }
        }
      }
    })
  </script>
</body>

</html>