<%#- include(templates+"header", {
  claim: "NLHC",
  heading: "Health card"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>NLHC | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="claim-end">

            <div class="pt-claim-type--normal">
              <div class="margin-above ie-success-animation">
                <img src="/docs/images/ico-tick-green-outline.svg" alt="Success tick icon">
              </div>
              <div class="margin-above success-animation">
                <%- include(partials+"components/animations/success") %>

              </div>
              <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
                <h1>We're submitting your claim for mental health&nbsp;treatment</h1>
              </div>
            </div>

            <div class="transition-content pt-claim-animation-end margin-below--extra">
              <div class="pt-claim-type--normal">
                <h1 class="cantered-item">Your claim for mental health treatment
                  <span class="no-break spanstyling-override">has been
                    <span class="font-weight-heavy"> approved</span>
                  </span>
                </h1>
              </div>

              <hr class="orange-divider">

              <div class="margin-below--extra">
                <h3>We will send you a DVA Health Card to cover the cost of treatment for any mental health&nbsp;condition.</h3>

                <p>Your new card may take up to 3 weeks to arrive. Existing cards take 2 working days to update. If you get treatment before your card arrives keep your receipts
                  so you can request reimbursement from DVA.</p>

                <div class="uikit-page-alerts uikit-page-alerts--info">
                  <p>Your card will be sent to
                    <b>43 Evergreen Terrace, Springfield</b>.
                    <br>You can update your postal address in
                    <a href="/auth/profile-contact">My profile</a>.
                  </p>
                </div>
              </div>

              <hr>

              <h2>
                <span class="font-weight-heavy">Next steps</span>
              </h2>
              <ul class="text-fullwidth margin-below--extra">
                <li>Talk to your GP about mental health.</li>
                <li>Access
                  <a href="http://www.vvcs.gov.au/index.htm" rel="external" target="_blank">free counselling and support services</a> available to veterans, eligible ADF members
                  and their families.
                </li>
                <li>If you have a diagnosis and your condition relates to service, you can
                  <a href="">apply for compensation</a>.</li>
                <li>Find out about
                  <a href="https://www.dva.gov.au/providers/dva-health-cards#whitecard" rel="external">DVA Health Card</a>.</li>
              </ul>

              <hr>

              <h2>
                <span class="font-weight-heavy">24 hour counselling and support services</span>
              </h2>

              <div class="mys-support-services">
                <div class="mys-support-services__service">
                  <img class="mys-support-services__logo" src="/docs/images/logo-vvcs.png" alt="vvcs - logo">
                  <br>
                  <a href="http://www.vvcs.gov.au/">
                    <span class="external-link external-link-blue">Open Arms – Veterans and Families Counselling</span>
                  </a>
                  <br>
                  <a href="tel:1800011046">
                    <strong>1800&nbsp;011&nbsp;046</strong>
                  </a>
                  <br>
                  <a href="" target="_blank">
                    <img src="/docs/images/ico-facebook-black.svg" style="height:15px;padding-right:0.5em;padding-top:4px" align="left"
                      alt="VVCS Support on Facebook - Facebook - icon">Find
                    us on Facebook</a>
                </div>
                <div class="mys-support-services__service">
                  <img class="mys-support-services__logo" src="/docs/images/logo-defence.png" alt="defence - logo">
                  <br>
                  <a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp">
                    <span class="external-link external-link-blue">ADF Mental Health All Hours Support Line</span>
                  </a>
                  <br>
                  <a href="tel:1800628036">
                    <strong>1800&nbsp;628&nbsp;036</strong>
                  </a>
                </div>
                <div class="mys-support-services__service">
                  <img class="mys-support-services__logo" src="/docs/images/logo-lifeline.png" alt="lifeline - logo">
                  <br>
                  <a href="https://www.lifeline.org.au/">
                    <span class="external-link external-link-blue">Lifeline</span>
                  </a>
                  <br>
                  <a href="tel:131114">
                    <strong>13&nbsp;11&nbsp;14</strong>
                  </a>
                </div>
                <div class="mys-support-services__service">
                  <img class="mys-support-services__logo" src="/docs/images/logo-1800respect.png" alt="1800 RESPECT - phone number">
                  <br>
                  <a href="https://www.1800respect.org.au">
                    <span class="external-link external-link-blue">National Sexual Assault, Domestic and Family Violence Counselling Service</span>
                  </a>
                  <br>
                  <a href="tel:1800737732">
                    <strong>1800&nbsp;737&nbsp;732</strong>
                  </a>
                </div>
              </div>

              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/profile'">Update profile</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Back to home</button>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".pt-claim-animation-start").toggleClass("transition-content--open");
        $(".pt-claim-animation-end").toggleClass("transition-content--open");
      }, timeDelay);

  </script>
</body>

</html>
