<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Replacement Health card request | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <div class="claim-end margin-above--extra">
      <div class="container">

        <div class="row">
          <div class="col-md-offset-2 col-md-8">

            <div class="cantered-item ie-success-animation">
              <img src="/docs/images/ico-submitted.svg" alt="Success tick icon">
            </div>
            <div class="cantered-item success-animation">
              <%- include(partials+"components/animations/submitted") %>
            </div>
            <div class="cantered-item transition-content transition-content--open">
              <h1>We're submitting your request for a replacement&nbsp;Heath&nbsp;card</h1>
            </div>
            <div class="cantered-item transition-content">
              <h1>Your request for a replacement Health&nbsp;card has&nbsp;been
                <span class="font-weight-heavy">submitted</span>
              </h1>
              <hr class="orange-divider">
            </div>

          </div>
        </div>

        <div class="row transition-content">
          <div class="col-md-offset-1 col-md-10">
            <h3>Your replacement Health Card may take up to 4 weeks to arrive in the post.</h3>
            <p>In the meantime, you can use your digital Health Card or letter of authority to access health services. Your health provider can phone DVA for more information about
              eligibility
              and requirements.
            </p>

            <div class="pagination ss-align--right">
              <button class="uikit-btn" onclick="window.location.href = '/auth/claim/healthcard-home?max-requests'">Back to Health card</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    function hasClass(pElement, pClass) {
      return pElement.className.split(' ').some(function (pItem) {
        return pItem === pClass;
      })
    }

    function removeClass(pElement, pClass) {
      var className = pElement.className;

      pElement.className = className.split(' ').filter(function (pItem) {
        return pItem !== pClass;
      }).join(' ');
    }

    function addClass(pElement, pClass) {
      if (!hasClass(pElement, pClass)) {
        pElement.className += (' ' + pClass);
      }
    }

    setTimeout(function () {
      const elmentClassName = 'transition-content';
      const visibleClassName = 'transition-content--open';
      const elements = document.getElementsByClassName(elmentClassName);

      Array.prototype.forEach.call(elements, function (pElement) {
        if (hasClass(pElement, visibleClassName)) {
          removeClass(pElement, visibleClassName);
        } else {
          addClass(pElement, visibleClassName);
        }
      })
    }, 3000);

  </script>

</body>

</html>
