<% 
  claims = [
    { 
      claimID: "33657809",
      name: "Education assistance for Kim",
      viewLink: "/auth/",
      status: "In Progress",
      date: "29 Aug 2019",
      buttons: [
        { text: "Update", link: "/auth/claim/updateClaimInProgress`" },
        { text: "View", link: "/auth/claim/view/education-assistance" },
        { text: "Withdraw", link: "#" }
      ]
    },
    { 
      claimID: "33657809",
      name: "Qualifying Service",
      viewLink: "/auth/",
      status: "Approved",
      date: "03 May 2019",
      buttons: [
        { text: "View", link: "/auth/claim/view/qs" }
      ]
    },
    { 
      claimID: "33657809",
      name: "Increase to Disability Pension",
      viewLink: "/auth/",
      status: "Incomplete",
      date: "29 April 2019",
      buttons: [
        { "text": "View", "link": "/auth/claim/view/afi" }
      ]
    },
    { 
      claimID: "33657809",
      name: "DHOAS Subsidy Certificate",
      viewLink: "/auth/",
      status: "Submitted",
      date: "27 April 2019",
      buttons: [
        { text: "View", link: "/auth/claim/view/dhoas" }
      ]
    },
    { 
      claimID: "33657809",
      name: "Permanent Impairment Lifestyle Questionnaire",
      viewLink: "/auth/",
      status: "Incomplete",
      date: "29 May 2019",
      buttons: [
        { text: "Resume", link: "/auth/claim/permanent-impairment/permanent-impairment-01" },
        { text: "Delete", link: "/auth/" },
      ]
    },
    { 
      claimID: "33657809",
      name: "Permanent Impairment Lifestyle Questionnaire",
      viewLink: "/auth/",
      status: "Submitted",
      date: "08 Feb 2019",
      buttons: [
        { text: "View", link: "/auth/claim/view/pi" }
      ]
    },
    { 
      claimID: "33657809",
      name: "Subacromial Bursitis of the Shoulder",
      viewLink: "/auth/",
      status: "Incomplete",
      date: "29 Aug 2019",
      buttons: [
        { text: "Resume", link: "/auth/claim/il/claim1" },
        { text: "Delete", link: "#" }
      ]
    },
    { 
      claimID: "33657809",
      name: "Mental Health Treatment (NLHC)",
      viewLink: "/auth/",
      status: "Approved",
      date: "04 Jan 2019",
      buttons: [
        { text: "View", link: "/auth/claim/view/nlhc" }
      ]
    },
    { 
      claimID: "33657809",
      name: "Internal derangement of the knee",
      viewLink: "/auth/",
      status: "Submitted",
      date: "03 Jan 2019",
      buttons: [
      { text: "Resume", link: "/auth/claim/il/claim1" }
      ]
    },
    { 
      claimID: "33657809",
      name: "Education assistance for Lee Gall",
      viewLink: "/auth/",
      status: "Approved",
      date: "03 March 2019",
      buttons: [
        { text: "View", link: "/auth/claim/view/education-assistance" }
      ]
    },
    { 
      claimID: "33657809",
      name: "Education assistance for Pi",
      viewLink: "/auth/",
      status: "Rejected",
      date: "21 Jan 2019",
      buttons: [
      { text: "View", link: "/auth/claim/view/education-assistance" }
      ]
    },
    { 
      claimID: "33657809",
      name: "Education assistance for Li",
      viewLink: "/auth/",
      status: "Withdrawn",
      date: "29 Aug 2019",
      buttons: [
      { text: "View", link: "/auth/claim/view/education-assistance" }
      ]
    },
    { 
      claimID: "33657809",
      name: "Education assistance for Kim",
      viewLink: "/auth/",
      status: "Withdrawn",
      date: "29 Aug 2019",
      buttons: [
      { text: "View", link: "/auth/claim/view/education-assistance" }
      ]
    }
  ]
%>

<%- include(templates+"header", { "title": "Your claims", "type": "default", "modifiers":
["noMarginAbove", "12column", "noHeading", "noContainer", "noPagination"] }) 
%>

<section class="claims-page" id="claim-activity">
  <div id="main-content" class="section-feature border-bottom--mild
  margin-above--none margin-below--none padding-below">
    <h1 class="margin-above--none container">
      <span class="heading">Your claims</span>
    </h1>
    <div class="container">
      <% claims.map(function(claim) { %>
      <div class="container-fluid" id="line-1">
        <div class="row">
          <div class="col-md-12 uikit-grid" id="claim-activity">
            <div class="col-md-3 col-xs-3 flex-item-1 
            <%- claim.status === "Documents Required" ? 'status-flag' : 'status' %>">
                <% if(claim.status === "Documents Required") { %>
                  <p><a class="flag-text">Documents required</a></p>
                <% } else { %>
                  <p class="main"> <%- claim.status %> </p>
                  <p class="details"> <%- claim.date %> </p>
                <% } %>
            </div>
            <div class="col-md-4 col-xs-4 flex-item-2 claim-title-status">
              <p class="main"><%- claim.name %></p>
              <p class="details">Claim ID: <%- claim.claimID %></p>
            </div>
            <div class="col-md-5 col-xs-5 flex-item-3 claim-actions-status claim-actions">
                <% claim.buttons.map(function(button) { %>
                  <a href="<%- button.link %>"class="uikit-btn small uikit-btn--borderless"><%- button.text %></a>
                <% }); %>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</section>

<%- include(partials+"content/modals/claims-dhoas-start-modal") %>
<%- include(partials+"components/layout/footer") %> 
