<head>
  <title>MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>

  <main>

      <div class="container margin-above margin-below--extra" style="min-height: 500px;">
      
          <div class="back-button">
            <a href="/auth" class="mys h5"><i class="fal fa-arrow-left fa-fw"></i>Back to home</a>
          </div>
          <h1 class="mys h1 margin-above--none margin-below--mid" id="heading">Transactions</h1>

          <table class="mys-table1">
            <thead>
              <tr>
                <th>Date submitted</th>
                <th>Description</th>
                <th>Claim ID</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr id="blank" hidden>
                <td colspan="5" class="placeholder">You currently have no bookings.</td>
              </tr> -->
              <tr>
                <td data-title="Date submitted">29 August 2019</td>
                <td data-title="Description">Education assistance for Kim</td>
                <td data-title="Claim ID">33657809</td>
                <td data-title="Status">In progress</td>
                <td>
                  <button class="uikit-btn uikit-btn--borderless">Update</button>
                  <button class="uikit-btn uikit-btn--borderless" onclick="window.location ='/auth/claim/view/education-assistance'">View</button>
                  <button class="uikit-btn uikit-btn--borderless">Withdraw</button>
                </td>
              </tr>
              <tr>
                <td data-title="Date submitted">03 May 2019</td>
                <td data-title="Description">Qualifying Service</td>
                <td data-title="Claim ID">33657809</td>
                <td data-title="Status">Approved</td>
                <td>
                  <button class="uikit-btn uikit-btn--borderless" onclick="window.location='/auth/claim/view/qs'">View</button>
                </td>
              </tr>
              <tr>
                <td data-title="Date submitted">29 April 2019</td>
                <td data-title="Description">Increase to Disability Pension</td>
                <td data-title="Claim ID">33657809</td>
                <td data-title="Status">Incomplete</td>
                <td>
                  <button class="uikit-btn uikit-btn--borderless" onclick="window.location = '/auth/claim/view/afi'">View</button>
                </td>
              </tr>
              <tr>
                <td data-title="Date submitted">27 April 2019</td>
                <td data-title="Description">DHOAS Subsidy Certificate</td>
                <td data-title="Claim ID">33657809</td>
                <td data-title="Status">Submitted</td>
                <td>
                  <button class="uikit-btn uikit-btn--borderless" onclick="window.location = '/auth/claim/view/dhoas'">View</button>
                </td>
              </tr>
              <tr>
                <td data-title="Date submitted">29 May 2019</td>
                <td data-title="Description">Permanent Impairment Questionnaire</td>
                <td data-title="Claim ID">33657809</td>
                <td data-title="Status">Incomplete</td>
                <td>
                  <button class="uikit-btn uikit-btn--borderless" onclick="window.location = '/auth/claim/permanent-impairment/permanent-impairment-01'">Resume</button>
                </td>
              </tr>
              <tr>
                <td data-title="Date submitted">08 Feb 2019</td>
                <td data-title="Description">Permanent Impairment Questionnaire</td>
                <td data-title="Claim ID">33657809</td>
                <td data-title="Status">Submitted</td>
                <td>
                  <button class="uikit-btn uikit-btn--borderless" onclick="window.location = '/auth/claim/view/pi'">View</button>
                </td>
              </tr>
             
            </tbody>
          </table>
    
      </div>
  
  </main>

  <%- include(partials+"content/modals/claims-dhoas-start-modal") %>
  <%- include(partials+"components/layout/footer") %>

</body>