
<head>
  <title>MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>


<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>

  <main>
    <div class="container margin-above margin-below--extra">
      <!-- <div class="row"> -->
        <!-- <div class="col-md-offset-2 col-md-8"> -->
          <div class="back-button">
            <a href="/auth"><i class="fal fa-arrow-left fa-fw"></i>Back to home</a>
          </div>
          <h1 class="margin-above--none margin-below--mid">Claims</h1>
          <div class="horizontal-card-section">
            <div id="card-hidden" class="card card--horizontal status-flag">
              <div class="card-horizontal__status">
                <p><strong>In progress</strong></p>
                <p>29 Aug 2019</p>
              </div>
              <div class="card-horizontal__title">
                <p><strong>Education assistance for Kim</strong></p>
                <p>Claim ID: 33657809</p>
              </div>
              <div class="card-horizontal__buttons">
                <a class="card-horizontal__link" href="">Update</a>
                <a class="card-horizontal__link" href="/auth/claim/view/education-assistance">View</a>
                <a class="card-horizontal__link" href="">Withdraw</a>
              </div>
            </div>
            <div id="card-hidden" class="card card--horizontal status-flag">
              <div class="card-horizontal__status">
                <p><strong>Approved</strong></p>
                <p>03 May 2019</p>
              </div>
              <div class="card-horizontal__title">
                <p><strong>Qualifying Service</strong></p>
                <p>Claim ID: 33657809</p>
              </div>
              <div class="card-horizontal__buttons">
                <a class="card-horizontal__link" href="/auth/claim/view/qs">View</a>
              </div>
            </div>
            <div id="card-hidden" class="card card--horizontal status-flag">
              <div class="card-horizontal__status">
                <p><strong>Incomplete</strong></p>
                <p>29 April 2019</p>
              </div>
              <div class="card-horizontal__title">
                <p><strong>Increase to Disability Pension</strong></p>
                <p>Claim ID: 33657809</p>
              </div>
              <div class="card-horizontal__buttons">
                <a class="card-horizontal__link" href="auth/claim/view/afi">View</a>
              </div>
            </div>
            <div id="card-hidden" class="card card--horizontal status-flag">
              <div class="card-horizontal__status">
                <p><strong>Submitted</strong></p>
                <p>27 April 2019</p>
              </div>
              <div class="card-horizontal__title">
                <p><strong>DHOAS Subsidy Certificate</strong></p>
                <p>Claim ID: 33657809</p>
              </div>
              <div class="card-horizontal__buttons">
                <a class="card-horizontal__link" href="auth/claim/view/dhoas">View</a>
              </div>
            </div>
            <div id="card-hidden" class="card card--horizontal status-flag">
              <div class="card-horizontal__status">
                <p><strong>Incomplete</strong></p>
                <p>29 May 2019</p>
              </div>
              <div class="card-horizontal__title">
                <p><strong>Permanent Impairment Lifestyle Questionnaire</strong></p>
                <p>Claim ID: 33657809</p>
              </div>
              <div class="card-horizontal__buttons">
                <a class="card-horizontal__link"
                  href="auth/claim/permanent-impairment/permanent-impairment-01">Resume</a>
                <a class="card-horizontal__link" href="">Delete</a>
              </div>
            </div>
            <div id="card-hidden" class="card card--horizontal status-flag">
              <div class="card-horizontal__status">
                <p><strong>Submitted</strong></p>
                <p>08 Feb 2019</p>
              </div>
              <div class="card-horizontal__title">
                <p><strong>Permanent Impairment Lifestyle Questionnaire</strong></p>
                <p>Claim ID: 33657809</p>
              </div>
              <div class="card-horizontal__buttons">
                <a class="card-horizontal__link" href="/auth/claim/view/pi">View</a>
              </div>
            </div>
            <div id="card-hidden" class="card card--horizontal status-flag">
              <div class="card-horizontal__status">
                <p><strong>Incomplete</strong></p>
                <p>29 Aug 2019</p>
              </div>
              <div class="card-horizontal__title">
                <p><strong>Subacromial Bursitis of the Shoulder</strong></p>
                <p>Claim ID: 33657809</p>
              </div>
              <div class="card-horizontal__buttons">
                <a class="card-horizontal__link" href="auth/claim/il/claim1">Resume</a>
                <a class="card-horizontal__link" href="">Delete</a>
              </div>
            </div>
            <div id="card-hidden" class="card card--horizontal status-flag">
              <div class="card-horizontal__status">
                <p><strong>Approved</strong></p>
                <p>04 Jan 2019</p>
              </div>
              <div class="card-horizontal__title">
                <p><strong>Mental Health Treatment (NLHC)</strong></p>
                <p>Claim ID: 33657809</p>
              </div>
              <div class="card-horizontal__buttons">
                <a class="card-horizontal__link" href="/auth/claim/view/nlhc">View</a>
              </div>
            </div>
            <div id="card-hidden" class="card card--horizontal status-flag">
              <div class="card-horizontal__status">
                <p><strong>Submitted</strong></p>
                <p>03 Jan 2019</p>
              </div>
              <div class="card-horizontal__title">
                <p><strong>Internal derangement of the knee</strong></p>
                <p>Claim ID: 33657809</p>
              </div>
              <div class="card-horizontal__buttons">
                <a class="card-horizontal__link" href="/auth/claim/il/claim1">Resume</a>
              </div>
            </div>
            <div id="card-hidden" class="card card--horizontal status-flag">
              <div class="card-horizontal__status">
                <p><strong>Submitted</strong></p>
                <p>03 Jan 2019</p>
              </div>
              <div class="card-horizontal__title">
                <p><strong>Internal derangement of the knee</strong></p>
                <p>Claim ID: 33657809</p>
              </div>
              <div class="card-horizontal__buttons">
                <a class="card-horizontal__link" href="/auth/claim/il/claim1">Resume</a>
              </div>
            </div>
            <div id="card-hidden" class="card card--horizontal status-flag">
              <div class="card-horizontal__status">
                <p><strong>Approved</strong></p>
                <p>03 March 2019</p>
              </div>
              <div class="card-horizontal__title">
                <p><strong>Education assistance for Lee Gall</strong></p>
                <p>Claim ID: 33657809</p>
              </div>
              <div class="card-horizontal__buttons">
                <a class="card-horizontal__link" href="/auth/claim/view/education-assistance">View</a>
              </div>
            </div>
            <div id="card-hidden" class="card card--horizontal status-flag">
              <div class="card-horizontal__status">
                <p><strong>Rejected</strong></p>
                <p>21 Jan 2019</p>
              </div>
              <div class="card-horizontal__title">
                <p><strong>Education assistance for Pi</strong></p>
                <p>Claim ID: 33657809</p>
              </div>
              <div class="card-horizontal__buttons">
                <a class="card-horizontal__link" href="/auth/claim/view/education-assistance">View</a>
              </div>
            </div>
            <div id="card-hidden" class="card card--horizontal status-flag">
              <div class="card-horizontal__status">
                <p><strong>Withdrawn</strong></p>
                <p>29 Aug 2019</p>
              </div>
              <div class="card-horizontal__title">
                <p><strong>Education assistance for Li</strong></p>
                <p>Claim ID: 33657809</p>
              </div>
              <div class="card-horizontal__buttons">
                <a class="card-horizontal__link" href="/auth/claim/view/education-assistance">View</a>
              </div>
            </div>
            <div id="card-hidden" class="card card--horizontal status-flag">
              <div class="card-horizontal__status">
                <p><strong>Withdrawn</strong></p>
                <p>29 Aug 2019</p>
              </div>
              <div class="card-horizontal__title">
                <p><strong>Education assistance for Kim</strong></p>
                <p>Claim ID: 33657809</p>
              </div>
              <div class="card-horizontal__buttons">
                <a class="card-horizontal__link" href="/auth/claim/view/education-assistance">View</a>
              </div>
            </div>
          </div>
          <!-- <div class="transactions-table__wrapper" style="">
            <div class="transactions-table">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 uikit-grid" id="claim-activity">
                    <div class="col-md-3 col-xs-3 flex-item-1 status-flag">
                      <p><a class="flag-text">Documents required</a></p>
                    </div>
                    <div class="col-md-4 col-xs-4 flex-item-2 claim-title-status">
                      <p class="main">Income and assets update</p>
                      <p class="details">Transaction ID: 33657809</p>
                    </div>
                    <div class="col-md-5 col-xs-5 flex-item-3 claim-actions-status claim-actions">
                      <a href="/auth/claim/add-documents" class="uikit-btn small uikit-btn--borderless">Add
                        documents</a>
                      <button class="uikit-btn small uikit-btn--borderless"
                        onclick="window.location.href = '#open-example-modal'">View</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 uikit-grid" id="claim-activity">
                    <div class="col-md-3 col-xs-3 flex-item-1 status">
                      <p class="main">Submitted</p>
                      <p class="details">29 Aug 2019</p>
                    </div>
                    <div class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title">
                      <p class="main">Income and assets update</p>
                      <p class="details">Transaction ID: 33657809</p>
                    </div>
                    <div class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions">
                      <button class="uikit-btn small uikit-btn--borderless"
                        onclick="window.location.href = '/auth/claim/view/viewVRPClaimDetail'">View</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 uikit-grid" id="claim-activity">
                    <div class="col-md-3 col-xs-3 flex-item-1 status">
                      <p class="main">Submitted</p>
                      <p class="details">05 Sep 2020</p>
                    </div>
                    <div class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title">
                      <p class="main">Income and assets update</p>
                      <p class="details">Transaction ID: 33657809</p>
                    </div>
                    <div class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions">


                      <div class="tooltip ">
                        <div id="tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="message"
                          aria-expanded="false">
                          <div class="tooltip__label tooltip__label--icon-only">
                            <a>Help</a>
                          </div>
                          <div class="tooltip__tab"></div>
                        </div>
                        <div id="tt-message" class="tooltip__content" aria-labelledby="tt-label" role="region"
                          tabindex="-1" aria-hidden="true">
                          <div class="tooltip__message">You are only able to view transactions submitted in
                            MyService.</div>
                          <div class="tooltip__close" role="button" tabindex="0">Close</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              

            </div>
          </div> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </main>

  <%- include(partials+"content/modals/claims-dhoas-start-modal") %>
  <%- include(partials+"components/layout/footer") %>
</body>