
<head>
  <title>MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>


<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>

  <main>
    <section>
      <div class="container margin-above margin-below--extra" style="min-height: 500px;">
        <section>
          <div class="back-button">
            <a href="/auth" class="mys h5"><i class="fal fa-arrow-left fa-fw"></i>Back to home</a>
          </div>
          <h1 class="mys h1 margin-above--none margin-below--mid" id="heading">Book transport</h1>

    <table class="mys-table1 vea-trips">
      <thead>
        <tr>
          <th>Date and time</th>
          <th>Pick up address</th>
          <th>Going to</th>
          <th>Booking details</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr id="blank" hidden>
          <td colspan="5" class="placeholder">You currently have no bookings.</td>
        </tr>

        <tr id="trip-1" class="view-travel-submitted return-a">
          <td data-title="Date and time">
            <div class="return-label"><i class="flag-icon fa fa-arrow-circle-right fa-s"></i></span><span
                class="inline-label"> To
                provider</span><BR /></div>
            <div class="return-date-time">2 Sep 2020<BR />2.00pm</div>
            <div id="trip-1-v1" class="vl"></div>
          </td>

          <td data-title="Pick up address">3/41 Constitution Ave<BR />Reid<BR />Canberra A.C.T 2613</td>
          <td data-title="Going to">Canberra Hospital<BR />Yamba Drive<BR />Garran A.C.T 2605</td>
          <td data-title="Booking details">
            <span class="inline-label"><i class="flag-icon fa fa-hashtag fa-s"></i></span> 1425367<BR />
            <span class="inline-label"><i class="flag-icon fa fa-check-circle fa-s"></i></span> Approved<BR />
            <span class="inline-label"><i class="flag-icon fa fa-taxi fa-s"></i></span> GM Cabs<BR />
            <span class="inline-label"><i class="flag-icon fa fa-phone fa-s"></i></span> <a>1800 443 232</a>
          </td>
          <td><button
              class="edit-trip uikit-btn uikit-btn--borderless margin-right--none">Edit</button><BR /><button
              class="uikit-btn uikit-btn--borderless margin-right--none cancel-return">Cancel</button>
          </td>
        </tr>
        <tr id="trip-2" class="view-travel-submitted return-b">
          <td data-title="Date and time">
            <i class="flag-icon fa fa-arrow-circle-left fa-s"></i></span><span class="inline-label">
              Returning
              home</span> <BR />
            <i class="flag-icon fa fa-phone fa-s"></i> Call when ready
          </td>

          <td data-title="Going to">Canberra Hospital<BR />Yamba Drive<BR />Garran A.C.T 2605</td>
          <td data-title="Pick up address">3/41 Constitution Ave<BR />Reid<BR />Canberra A.C.T 2613</td>
          <td data-title="Booking details">
            <span class="inline-label"><i class="flag-icon fa fa-hashtag fa-s"></i></span> 1425367<BR />
            <span class="inline-label"><i class="flag-icon fa fa-check-circle fa-s"></i></span> Approved<BR />
            <span class="inline-label"><i class="flag-icon fa fa-taxi fa-s"></i></span> GM Cabs<BR />
            <span class="inline-label"><i class="flag-icon fa fa-phone fa-s"></i></span> <a>1800 443 232</a>
          </td>
          <td>
            <button
              class="uikit-btn uikit-btn--borderless margin-right--none cancel-return-only">Cancel</button>
          </td>
        </tr>
        <tr id="trip-3" class="view-travel-submitted">
          <td data-title="Date and time">
            9 Sep 2020<BR />2.00pm
          </td>

          <td data-title="Pick up address">3/41 Constitution Ave<BR />Reid<BR />Canberra A.C.T 2613</td>
          <td data-title="Going to">Canberra Hospital<BR />Yamba Drive<BR />Garran A.C.T 2605</td>
          <td data-title="Booking details">
            <span class="inline-label"><i class="flag-icon fa fa-hashtag fa-s"></i></span> 1425457<BR />
            <span class="inline-label"><i class="flag-icon fa fa-ellipsis-h fa-s"></i></span> Submitted<BR />
          </td>
          <td><button
              class="view-trip-submitted uikit-btn uikit-btn--borderless margin-right--none">Edit</button><BR /><button
              class="uikit-btn uikit-btn--borderless margin-right--none cancel">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>


  </main>

  <%- include(partials+"content/modals/claims-dhoas-start-modal") %>
  <%- include(partials+"components/layout/footer") %>
</body>