<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Manage your Claims | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-authenticated") %>
  <%- include(partials+"header-nom-rep") %>
  <main is="main-content ">
    <div class="container margin-below--extra">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <h1 class="margin-above margin-below">
            <span class="heading">LSA Request</span>
          </h1>
        </div>
      </div>
      <form>

        <div class="form-group">
          <legend class="legend-label">Minimum amount</legend>
          <span class="hint"> $456.90</span>
        </div>

        <div class="form-group">
          <legend class="legend-label">Maximum amount</legend>
          <span class="hint"> $1256.90</span>
        </div>

        <div class="form-group">
          <legend class="legend-label">How much do you want to receive as a lump sum?</legend>
          <p class="uiToolKitCheckBox">
            <input aria-required="true" class="uikit-text-input input-half" id="Input field" name="Input field" required="" type="text" value="">
          </p>

        </div>

        <div class="form-group">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/lump-sum-advance'">View lump sum history</button>
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/lump-sum-advance'">Back to payments</button>
          <button class="uikit-btn btnNext floated" onclick="window.location.href = '/auth/claim/lsa-submitting'">Save and next</button>
        </div>

  </main>
  <%- include(partials+"footer") %>


</body>


</html>