<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim for Veteran Card submitted | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <div class="container" id="main-content">
      <div class="row">
        <!-- <div class="col-md-offset-1 col-md-10"> -->
        <div class="claim-end">

          <div class="pt-claim-type--normal">
            <div class="margin-above ie-success-animation">
              <img src="../../../docs/images/ico-tick-green-outline.svg" alt="Success tick icon">
            </div>
            <div class="margin-above success-animation">
              <%- include(partials+"animation-success") %>
            </div>
            <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
              <h1>We're submitting your claim for a lump sum advanced payment</h1>
            </div>
          </div>

          <div class="transition-content pt-claim-animation-end margin-below--extra">
            <div class="pt-claim-type--normal">
              <h1 class="cantered-item">Your request for $500 lump sum advance has been
                <span class="font-weight-heavy"> approved</span>
              </h1>
            </div>
            <hr class="orange-divider">


            <div class="container margin-above margin-below--extra" id="claim-activity">
              <section class="widget margin-above">
                <div class="row widget-content widget--justclaims">
                  <div class="col-md-12">
                    <table class="table-claims table-responsive">
                      <thead>
                        <tr>
                          <th class="widget-activity">Approved on 3 May 2018</th>
                        </tr>
                      </thead>
                      <tr>
                        <td>
                          <p>
                            <legend class="legend-label" for="radio-buttons">Amount requested: $500 </legend>
                            <legend class="legend-label" for="radio-buttons">This amount will be automatically recovered from your pension amount over: 13 weeks</legend>
                            <legend class="legend-label" for="radio-buttons">New pension amount: $530.00</legend>
                            <legend class="legend-label" for="radio-buttons">Expected recovery finalisation date: 20 Dec 2018</legend>
                          </p>
                        </td>

                      </tr>


                    </table>


                  </div>
                </div>
              </section>


              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/lump-sum-advance'">Back to home</button>


            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
  </main>

  <%- include(partials+"footer") %>


  <script>
    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".pt-claim-animation-start").toggleClass("transition-content--open");
        $(".pt-claim-animation-end").toggleClass("transition-content--open");
      }, timeDelay);
  </script>

</body>

</html>