<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Permanent Impairment | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-claims") %>
  <%- include(partials+"header-nom-rep") %>

  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Free mental health treatment</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">

          <h2 class="ss-align--center" style="font-weight:bold; font-size:2em;">How it works</h2>


          <div class="instructions">

            <div id="nav-bar" class="instructions__nav-wrapper">
              <input id="nav1" type="radio" name="instructions" title="slide1" value="step1" class="instructions__nav" checked="checked" />
              <input id="nav2" type="radio" name="instructions" title="slide2" value="step2" class="instructions__nav" />
              <input id="nav3" type="radio" name="instructions" title="slide3" value="step3" class="instructions__nav" />
              <input id="nav4" type="radio" name="instructions" title="slide4" value="step4" class="instructions__nav" />
            </div>

            <div class="instructions__inner">

              <div id="step1" class="instructions__contents ss-align--center">
                <img src="../../../docs/images/ico-send.svg" height="100" alt="image of paper plane flying through the air">
                <h2 class="instructions__heading">Step 1 - Submit this claim</h2>
                <p class="instructions__txt">Mental health treatment is available to you for free under our non-liability health care arrangements. You do not need to establish a
                  link to
                  service to qualify for free mental health treatment.</p>
                <p class="instructions__txt">All you need to do is submit this claim.</p>
              </div>
              <div id="step2" class="instructions__contents ss-align--center">
                <img src="../../../docs/images/ico-healthcard.svg" height="100" alt="image of a digital health card">
                <h2 class="instructions__heading">Step 2 - Receive a health card</h2>
                <p class="instructions__txt">Once we process your claim, we will send you a DVA Health Card (White card). The accepted condition titled 'Mental Health Treatment
                  (NLHC)' will
                  be listed on&nbsp;your&nbsp;card.</p>
                <p class="instructions__txt">A digital version of your card will also be available in MyService.</p>
              </div>
              <div id="step3" class="instructions__contents ss-align--center">
                <img src="../../../docs/images/ico-handshake.svg" height="100" alt="image of shaking hands">
                <h2 class="instructions__heading">Step 3 - Get treatment</h2>
                <p class="instructions__txt">Your Health Card works much like a Medicare card. Just show it to your treatment provider and they will bill DVA for the cost of
                  the&nbsp;treatment.</p>
                <p class="instructions__txt">The digital Health Card is still quite new so check with your health care provider before your appointment to ensure they are happy to
                  accept&nbsp;it.</p>
                <p class="instructions__txt">If for any reason you end up paying for the cost of mental health treatment, keep your receipts. You can claim for reimbursment
                  using&nbsp;MyAccount.</p>
              </div>
              <div id="step4" class="instructions__contents ss-align--center">
                <img src="../../../docs/images/ico-umbrella.svg" height="100" alt="image of an umbrella">
                <h2 class="instructions__heading">Step 4 - Know what you're covered for</h2>
                <p class="instructions__txt">Treatment for all mental health conditions are covered. This could include treatment from a general practitioner, medical specialist,
                  psychologist,
                  social worker, occupational therapist, psychiatrist, hospital services, specialist PTSD programs, pharmaceuticals, or oncologist services&nbsp;as&nbsp;required.
                </p>
              </div>
            </div>
          </div>




        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="pagination pagination--ss-reverse-order margin-above--extra">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim'">Back to Claims</button>
            <div class="floated">
              <!-- <button class="uikit-btn uikit-btn--borderless ">Skip</button> -->
              <button class="uikit-btn btnNext" id="btnNext">Okay, I've got it</button>
            </div>
          </div>

        </div>
      </div>

      <%- include(partials+"claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"footer") %>


  <script>
    $(document).ready(function () {
      $("#btnNext").click(function () {
        window.location.href = "/auth/claim/pi-lsq-claim1"
      });

      $("div.instructions__contents").hide();
      $("#step1").show();
      $("input[name$='instructions' ]").click(function () {
        var test = $(this).val();
        $("div.instructions__contents").fadeOut("slow");
        $("div.instructions__contents").promise().done(function () {
          $("#" + test).fadeIn("slow");
        });

      });


    });
  </script>

</body>

</html>