<%#- include(templates+"header", {
  claim: "Feedback"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Cover summary | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>


  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="claim-end">

            <div class="pt-claim-type--normal">
              <div class="margin-above ie-success-animation">
                <img src="" alt="Success tick icon">
              </div>
              <div class="margin-above submitted-animation">
                <%- include(partials+"components/animations/submitted") %>
              </div>
              <div class="cantered-item transition-content transition-content--open animation-start">
                <h1>We're submitting your feedback</h1>
              </div>
            </div>
            <div class="transition-content animation-end">
              <div class="pt-claim-type--normal">
                <h1 class="cantered-item">Your feedback is <strong>submitted.</strong></h1>
                <h3 class="cantered-item">Feedback reference is 123456789</h3>
              </div>

              <hr class="orange-divider">

              <div class="margin-below--extra">
                <h4 class="cantered-item">We will call you on 0488 888 888 to discuss your feedback</h4>

              </div>
              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Back to home</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#'">Print</button>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    setTimeout(function() {
      document.querySelector('.animation-start').classList.remove('transition-content--open');
      document.querySelector('.animation-end').classList.add('transition-content--open');
    }, 3500);

  </script>
</body>

</html>
