<%#- include(templates+"header", {
  claim: "Feedback"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Feedback</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main is="main-content ">
    <section>
      <div class="section-feature">
        <div class="container" id="main-content">
          <h1 class="margin-below--small margin-above--small">
            <span class="heading">Review and submit</span>
          </h1>
        </div>
      </div>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <form>

          <div class="form-group">
            <legend class="legend-label" for="radio-buttons">What type of feedback are you providing?</legend>
            <p class="uiToolKitCheckBox"><label class="uikit-control-input"><input id="suggestions" class="uikit-control-input__input" name="radio-ex" type="radio"> <span
                  class="uikit-control-input__text">Suggestion</span></label></p>
            <p class="uiToolKitCheckBox"><label class="uikit-control-input"><input id="complaint" class="uikit-control-input__input" name="radio-ex" type="radio"> <span
                  class="uikit-control-input__text">Complaint</span></label></p>
            <p class="uiToolKitCheckBox"><label class="uikit-control-input"><input id="compliment" class="uikit-control-input__input" name="radio-ex" type="radio"> <span
                  class="uikit-control-input__text">Compliment</span></label></p>
          </div>
          <div class="form-group">
            <legend class="legend-label">Tell us your feedback<br /><span class="hint"> Include your desired outcome if applicable.</span></legend>

            <textarea rows="5"></textarea>
          </div>

          <div id="showDocoUpload">
            <div class="form-group feedback-margin">
              <legend class="legend-label">Would you like to attach any documents or images?</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="uploadDocument-yes"><input id="uploadDocument-yes" name="showDocoUpload" type="radio">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="uploadDocument-no"><input id="uploadDocument-no" name="showDocoUpload" type="radio">
                  <span>No</span>
                </label>
              </div>
            </div>
            <div id="uploadDocument" class="form-group feedback-margin" style="display:none;">
              <legend class="legend-label">Supporting documents <span class="hint"> (optional)</span></legend>
              <!-- <p>You can attach documents that may support your feedback. This could include screenshots, emails or scans.</p> -->
              <p> Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.</p>

              <button id="uploadDoco" class="uikit-btn btnNext uikit-btn--tertiary">Upload</button>
            </div>
            <div class="form-group">
              <section class="mys-file-uploads" style="display:none;">
                <div class="mys-file-uploads__items">
                  <div class="mys-file-uploads__item-border">
                    <div class="mys-file-uploads__item">
                      <div class="mys-file-uploads__l-status">
                        <div class="mys-file-uploads__status mys-file-uploads__status--success">
                          <div class="mys-file-uploads__status-icon"></div>
                          <div class="mys-file-uploads__status-sr">Success</div>
                        </div>
                      </div>
                      <div class="mys-file-uploads__info">
                        <div class="mys-file-uploads__info-item">
                          <label class="mys-file-uploads__label"><a href="#" class="">My document 111 AAA .png</a></label>
                          <!-- <div class="mys-file-uploads__value">
          <a href="#" class="">My document 111 AAA .png</a>
        </div> -->
                        </div>
                      </div>
                      <div class="mys-file-uploads__item-actions">
                        <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
                      </div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__item-border">
                    <div class="mys-file-uploads__item">
                      <div class="mys-file-uploads__l-status">
                        <div class="mys-file-uploads__status mys-file-uploads__status--success">
                          <div class="mys-file-uploads__status-icon"></div>
                          <div class="mys-file-uploads__status-sr">Success</div>
                        </div>
                      </div>
                      <div class="mys-file-uploads__info">
                        <div class="mys-file-uploads__info-item">
                          <label class="mys-file-uploads__label"><a href="#" class="">My document 222 AAA .png</a></label>
                          <!-- <div class="mys-file-uploads__value">
          <a href="#" class="">My document 222 AAA .png</a>
        </div> -->
                        </div>
                      </div>
                      <div class="mys-file-uploads__item-actions">
                        <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mys-file-uploads__uploads-actions">
                  <button class="uikit-btn small uikit-btn--tertiary">Add another</button>
                </div>
              </section>

            </div>
            <!-- <a href="#" onclick="showWhoContacted('whoContacted');"><button class="uikit-btn small ">Submit feedback</button></a> -->
            <div id="hide-groupComplaint" style="display:none;">
              <div class="form-group feedback-margin">
                <legend class="legend-label">Have you provided this feedback to anyone else?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="provided-feedback-yes"><input id="provided-feedback-yes" name="provided-feedback" type="radio">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="provided-feedback-no"><input id="provided-feedback-no" name="provided-feedback" type="radio">
                    <span>No</span>
                  </label>
                </div>
              </div>
              <div class="form-group feedback-margin" id="whoContacted" style="display:none;">
                <legend class="legend-label">Who did you contact to share this feedback?</legend>
                <p class="uiToolKitCheckBox"><label class="uikit-control-input"><input class="uikit-control-input__input" name="radio-ex" type="radio">
                    <span class="uikit-control-input__text">Minister</span></label></p>
                <p class="uiToolKitCheckBox"><label class="uikit-control-input"><input class="uikit-control-input__input" name="radio-ex" type="radio">
                    <span class="uikit-control-input__text">Local MP</span></label></p>
                <p class="uiToolKitCheckBox"><label class="uikit-control-input"><input class="uikit-control-input__input" name="radio-ex" type="radio">
                    <span class="uikit-control-input__text">Secretary</span></label></p>
                <p class="uiToolKitCheckBox"><label class="uikit-control-input"><input class="uikit-control-input__input" name="radio-ex" type="radio">
                    <span class="uikit-control-input__text">Ombudsman</span></label></p>
                <p class="uiToolKitCheckBox"><label class="uikit-control-input"><input id="feedbackOther" class="uikit-control-input__input" name="radio-ex" type="radio"
                      value="feedbackOther">
                    <span class="uikit-control-input__text">Other</span></label></p>

                <p id="feedbackOtherText" class="uiToolKitCheckBox" style="display:none;">
                  <input aria-required="true" class="uikit-text-input input-half" id="Input field" name="Input field" required="" type="text" value="">
                </p>

                <legend class="legend-label" for="date">When did you provide this feedback?<span class="hint"> (optional) </span></legend>
                <span class="hint">(dd / mm / yyyy)</span><br />
                <input aria-label="2 digit day" class="uikit-text-input dd" id="dd-date" maxlength="2" name="dd-date" type="text">
                <span class="hint" style="color:#666;">/</span>
                <input aria-label="2 digit month" class="uikit-text-input mm" id="mm-date" maxlength="2" name="mm-date" type="text">
                <span class="hint" style="color:#666;">/</span>
                <input aria-label="4 digit year" class="uikit-text-input yyyy" id="yyyy-date" maxlength="4" name="yyyy-date" type="text">
              </div>

              <div class="form-group feedback-margin">
                <legend class="legend-label">Are you providing feedback on behalf of someone else?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="behalfYes"><input id="behalfYes" name="behalf" type="radio">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="behalfNo"><input id="behalfNo" name="behalf" type="radio">
                    <!-- onchange="showhideForm(this.value);" name="showform" id="showform"> -->
                    <span>No</span>
                  </label>
                </div>
              </div>
              <div class="form-group feedback-margin" id="behalfSomeone" style="display:none;">
                <legend class="legend-label">Name of person you are writing on behalf of</legend>
                <p class="uiToolKitCheckBox">
                  <strong>Given name</strong><br />
                  <input class="uikit-text-input input-half" id="Input field" name="Input field" type="text" value="">
                </p>
                <p class="uiToolKitCheckBox">
                  <strong>Surname</strong><br />
                  <input class="uikit-text-input input-half" id="Input field" name="Input field" type="text" value="">
                </p>

              </div>


            </div>

            <div class="form-group feedback-margin">
              <legend class="legend-label">Would you like DVA to contact you about this feedback?</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="responseYes"><input id="responseYes" name="response" type="radio">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="responseNo"><input id="responseNo" name="response" type="radio">
                  <span>No</span>
                </label>
              </div>
            </div>
            <div class="form-group" id="responseDva" style="display:none;">
              <legend class="legend-label">How would you like us to respond to your feedback?</legend>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" id="showEmail" name="showform" type="radio" value="emailCheck">
                  <span class="uikit-control-input__text">Email</span>
                </label>
              </p>
              <div class="form-group" id="email" style="display:none;">
                <input aria-required="true" class="uikit-text-input input-half" id="Input field" name="Input field" required="" type="text" value="me@here.com">
              </div>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" id="showPhone" name="showform" type="radio" value="phoneCheck">
                  <span class="uikit-control-input__text">Phone</span>
                </label>
              </p>
              <div class="form-group" id="phone" style="display:none;">
                <input aria-required="true" class="uikit-text-input input-half" id="Input field" name="Input field" required="" type="text" value="0000000000">
              </div>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" id="showLetter" name="showform" type="radio" value="letterCheck">
                  <span class="uikit-control-input__text">Letter</span>
                </label>
              </p>
              <div class="form-group" id="letter" style="display:none;">
                <input aria-required="true" class="uikit-text-input input-half" id="Input field" name="Input field" required="" type="text"
                  value="99 springfield ave, springfield, NV 99999">

              </div>
            </div>
          </div>

          <div class="form-group">
            <!-- <a href="/auth/claim/panel-feedbacksubmitting"><button id="submit" class="uikit-btn btnNext">Submit feedback</button></a> -->
            <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/panel-feedbacksubmitting'">Submit feedback</button>
          </div>
      </div>
    </section>
  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    //SHOW/HIDE
    $("#provided-feedback-yes").click(function () {
      $("#whoContacted").show();
    });
    $("#provided-feedback-no").click(function () {
      $("#whoContacted").hide();
    });
    $("#behalfYes").click(function () {
      $("#behalfSomeone").show();
    });
    $("#behalfNo").click(function () {
      $("#behalfSomeone").hide();
    });
    $("#responseYes").click(function () {
      $("#responseDva").show();
    });
    $("#responseNo").click(function () {
      $("#responseDva").hide();
    });
    $("#showEmail").click(function () {
      $("#email").show();
      $("#phone").hide();
      $("#letter").hide();
    });
    $("#showPhone").click(function () {
      $("#phone").show();
      $("#email").hide();
      $("#letter").hide();
    });
    $("#showLetter").click(function () {
      $("#letter").show();
      $("#email").hide();
      $("#phone").hide();
    });
    $("#uploadDoco").click(function () {
      $(".mys-file-uploads").show();
      $("#uploadDoco").hide();
    });
    $("#complaint").click(function () {
      $("#hide-groupComplaint").show();
      $("#show-desiredoutcom").show();
    });
    $("#suggestions").click(function () {
      $("#hide-groupComplaint").hide();
      $("#show-desiredoutcom").hide();
    });
    $("#compliment").click(function () {
      $("#hide-groupComplaint").hide();
      $("#show-desiredoutcom").hide();
    });
    $("#other").click(function () {
      $("#hide-groupComplaint").hide();
      $("#show-desiredoutcom").hide();
    });
    $("#uploadDocument-yes").click(function () {
      $("#uploadDocument").show();
    });
    $("#uploadDocument-no").click(function () {
      $("#uploadDocument").hide();
    });

    $("input[type='radio']").change(function () {
      if ($(this).val() == "feedbackOther") {
        $("#feedbackOtherText").show();
      } else {
        $("#feedbackOtherText").hide();
      }
    });
  </script>


  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>

</html>