<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Lifestyle Questionnaire, Review and Submit | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-claims") %>
  <%- include(partials+"header-nom-rep") %>
  <main id="main-content">
    <div class="section-feature border-bottom--mild">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div id="progressbar" class="progressbar-white">
              <div id="percentage">
                <p id="percentage_value"></p>
              </div>
            </div>
          </div>
          <div class="col-xs-offset-1 col-xs-10">
            <div class="ss-align--center">
              <h1 class="margin-below--none margin-above--none">
                <span class="heading">Review and Submit</span>
              </h1>
              <p class="margin-above--mid margin-below--none text-fullwidth">You can make changes to your Lifestyle Assessment by choosing the
                <b>edit</b> button in the relevant sections.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 margin-above--extra margin-below--extra">

          <section class="au-accordion" id="mobility">
            <a href="#" class="au-accordion__title js-au-accordion au-accordion--open" aria-controls="accordion-group-2" aria-expanded="false" aria-selected="false" role="tab"
              onclick="">Mobility</a>
            <div class="au-accordion__body au-accordion--open" id="accordion-group-2" aria-hidden="false">
              <div class="au-accordion__body-wrapper">
                <div class="floated ss-align--right">
                  <a class="uikit-btn uikit-btn--tertiary small " href="/auth/claim/pi-lsq-claim2">Edit</a>
                </div>
                <table class="table-responsive claim-summary-table">
                  <tr>
                    <td colspan=2>
                      <h2 class="margin-above--none">The effect my conditions have on my mobility is
                        <b>high</b>.</h2>
                    </td>
                  </tr>
                  <tr>
                    <td>Is your ability to complete your daily activities affected?</td>
                    <td>Yes, a little</td>
                  </tr>
                  <tr>
                    <td>Do you need the assistance of an aid to help get around?</td>
                    <td>Yes, a little</td>
                  </tr>
                  <tr>
                    <td>Do you require assistance to travel?</td>
                    <td>Yes, a lot</td>
                  </tr>
                  <tr>
                    <td>Do your conditions restrict you to your home?</td>
                    <td>No</td>
                  </tr>
                </table>

                <div class="container">
                  <h4 class="margin-above--none">Tell us in your own words how your mobility has been affected</h4>
                  <p>I have trouble getting around the house. My sister-in-law will visit regularly to help around the house.
                  </p>
                </div>
              </div>
            </div>
          </section>

          <section class="au-accordion" id="recreation">
            <a href="#" class="au-accordion__title js-au-accordion au-accordion--closed" aria-controls="accordion-group-2" aria-expanded="false" aria-selected="false" role="tab"
              onclick="">Recreational
              activities</a>
            <div class="au-accordion__body au-accordion--closed" id="accordion-group-4" aria-hidden="false">
              <div class="au-accordion__body-wrapper">
                <div class="floated ss-align--right">
                  <a class="uikit-btn uikit-btn--tertiary small" href="/auth/claim/pi-lsq-claim4">Edit</a>
                </div>
                <table class="table-responsive claim-summary-table">
                  <tr>
                    <td colspan=2>
                      <h2 class="margin-above--none">The effect my conditions have on my ability to participate in recreational activities is
                        <b>moderate</b>.</h2>
                    </td>
                  </tr>
                  <tr>
                    <td>Have you given up any recreational activities?</td>
                    <td>Yes, a little</td>
                  </tr>
                </table>

                <div class="container">
                  <h4 class="margin-above--none">Tell us in your own words how your ability to participate in recreational activities has been affected</h4>
                  <p>I have stopped playing soccer and don't go out much anymore.
                  </p>
                </div>
              </div>
            </div>
          </section>

          <section class="au-accordion" id="personal">
            <a href="#" class="au-accordion__title js-au-accordion au-accordion--closed" aria-controls="accordion-group-1" aria-expanded="false" aria-selected="false" role="tab"
              onclick="">Personal
              relationships</a>

            <div class="au-accordion__body au-accordion--closed" id="accordion-group-1" aria-hidden="false">
              <div class="au-accordion__body-wrapper">

                <div class="floated ss-align--right">
                  <a class="uikit-btn uikit-btn--tertiary small" href="/auth/claim/pi-lsq-claim1">Edit</a>
                </div>

                <table class="table-responsive claim-summary-table">
                  <tr>
                    <td colspan=2>
                      <h2 class="margin-above--none">The effect my conditions have on my personal relationships is
                        <b>minor</b>.</h2>
                    </td>
                  </tr>
                  <tr>
                    <td>Is your social life affected?</td>
                    <td>No</td>
                  </tr>
                  <tr>
                    <td>Are your daily interactions with people affected?</td>
                    <td>Yes, a little</td>
                  </tr>
                  <tr>
                    <td>Are your relationships with your family affected?</td>
                    <td>Yes, a lot</td>
                  </tr>
                  <tr>
                    <td>Is your ability to form or maintain intimate relationships affected?</td>
                    <td>No</td>
                  </tr>
                </table>

                <div class="container">
                  <h4 class="margin-above--none">Tell us in your own words how your personal relationships have been affected</h4>
                  <p>I don't speak with my kids much. I can't really relate to them. I feel like a burden on my family. I argue a lot with my siblings so we don't really talk much
                    any more.</p>
                </div>
              </div>
            </div>
          </section>

          <section class="au-accordion" id="domestic">
            <a href="#" class="au-accordion__title js-au-accordion au-accordion--closed" aria-controls="accordion-group-2" aria-expanded="false" aria-selected="false" role="tab"
              onclick="">Domestic
              activities</a>
            <div class="au-accordion__body au-accordion--closed" id="accordion-group-5" aria-hidden="false">
              <div class="au-accordion__body-wrapper">
                <div class="floated ss-align--right">
                  <a class="uikit-btn uikit-btn--tertiary small" href="/auth/claim/pi-lsq-claim5">Edit</a>
                </div>
                <table class="table-responsive claim-summary-table">
                  <tr>
                    <td colspan=2>
                      <h2 class="margin-above--none">The effect my conditions have on my ability to participate in domestic activities is
                        <b>high</b>.</h2>
                    </td>
                  </tr>
                  <tr>
                    <td>Does it take longer for you to complete your domestic activities?</td>
                    <td>No</td>
                  </tr>
                  <tr>
                    <td>Do you need help with domestic activities?</td>
                    <td>Yes, a lot</td>
                  </tr>
                  <tr>
                    <td>Have you had to stop performing any domestic activities?</td>
                    <td>Yes, a lot</td>
                  </tr>
                </table>

                <div class="container">
                  <h4 class="margin-above--none">Tell us in your own words how your ability to perform domestic activities has been affected</h4>
                  <p>I can't really do much around the house anymore.
                  </p>
                </div>
              </div>
            </div>
          </section>

          <section class="au-accordion" id="employment">
            <a href="#" class="au-accordion__title js-au-accordion au-accordion--closed" aria-controls="accordion-group-2" aria-expanded="false" aria-selected="false" role="tab"
              onclick="">Employment</a>
            <div class="au-accordion__body au-accordion--closed" id="accordion-group-3" aria-hidden="false">
              <div class="au-accordion__body-wrapper">
                <div class="floated ss-align--right">
                  <a class="uikit-btn uikit-btn--tertiary small" href="/auth/claim/pi-lsq-claim3">Edit</a>
                </div>
                <table class="table-responsive claim-summary-table">
                  <tr>
                    <td colspan=2>
                      <h2 class="margin-above--none">The effect my conditions have on my ability to work is
                        <b>very high</b>.</h2>
                    </td>
                  </tr>
                  <tr>
                    <td>Are you employed?</td>
                    <td>No</td>
                  </tr>
                  <tr>
                    <td>Did you stop working because of your condition?</td>
                    <td>Yes</td>
                  </tr>
                </table>

                <div class="container">
                  <h4 class="margin-above--none">Tell us in your own words how your ability to work has been affected</h4>
                  <p>I had to quit my job.
                  </p>
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/pi-lsq-claim5'">Previous</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim?user=LSQuser'">Save and exit</button>&nbsp;
          <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/pi-lsq-claim7'">Submit Lifestyle Assessment</button>
        </div>
      </div>
      <%- include(partials+"claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"footer") %>


  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "96%";
    document.getElementById("percentage_value").textContent = "96%";


    $(".au-accordion__title").click(function () {
      $(this).toggleClass('au-accordion--closed au-accordion--open');
      $(this).next('.au-accordion__body').toggleClass('au-accordion--closed au-accordion--open');
    });


    $("#personal-relationships-btn").click(function () {
      $("#personal-relationships-content").toggleClass("transition-content--open");
      $(this).find('.accordion__trigger').toggleClass('accordion__trigger--closed');
    });
    $("#mobility-btn").click(function () {
      $("#mobility-content").toggleClass("transition-content--open");
      $(this).find('.accordion__trigger').toggleClass('accordion__trigger--closed');
    });
    $(".toggle-arrow ").click(function () {
      $(".simple-accordion ").toggleClass('simple-accordion--open simple-accordion--closed');
    });
  </script>

</body>

</html>