<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Lifestyle Questionnaire, Review and Submit | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild">
      <div class="container">
        <div id="progressbar" class="progressbar-white">
          <div id="percentage">
            <p id="percentage_value"></p>
          </div>
        </div>

        <h1 class="margin-below--none margin-above--none ss-align--center">
          <span class="heading">Review and submit</span>
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <h2 class="margin-above--large">You have chosen for DVA to make a decision about how your impairment is affecting your lifestyle based only on your medical reports.</h2>

          <p>This means we will give you a Lifestyle Rating based on your medical reports already provided for your accepted conditions.</p>

          <%- include(partials+"content/claims-pi-lsq-optionb-text") %>

          <p>It's not too late to
            <a href="/auth/claim/pi-lsq-claim1">contribute to your lifestyle assessment</a> and tell us how your impairment is impacting your life.
          </p>

          <p>Otherwise, if you would like to continue click
            <b>submit</b>.
          </p>





        </div>
      </div>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/pi-lsq-start'">Previous</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim?user=LSQuser'">Save and exit</button>&nbsp;
          <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/pi-lsq-claim7b'">Submit</button>
        </div>
      </div>
      <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "50%";
    document.getElementById("percentage_value").textContent = "50%";
  </script>

</body>

</html>