<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Permanent Impairment | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Lifestyle Assessment</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <!-- <h3 class="margin-above--large">This is your opportunity to tell us how your conditions are affecting your life</h3> -->



          <h2 class="margin-above--extra margin-below text-fullwidth ss-align">To help determine your Permanent Impairment compensation, we look at the effect your accepted
            conditions have on your lifestyle and give you a Lifestyle Rating.</h2>

          <div class="uikit-page-alerts uikit-page-alerts--info">
            <p class="text-fullwidth">A Lifestyle Rating is an average score assessing how your lifestyle has been affected by your&nbsp;conditions.</p>
          </div>

          <h3 class="margin-above--extra text-fullwidth ss-align--center">You can choose how we calculate your Lifestyle Rating.</h3>

          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-6">
                <h3>Option 1</h3>
                <p class="text-fullwidth">Tell us how your conditions are affecting your life. Your story helps us understand your level of impairment and may result in a greater
                  rate of compensation.</p>
              </div>
              <div class="col-sm-5 col-md-6">
                <h3>Option 2</h3>
                <p class="text-fullwidth">We will determine how your lifestyle has been affected and give you a Lifestyle Rating using only your medical reports.</p>
              </div>
            </div>
          </div>

          <div class="margin-below--extra pagination">
            <div class="row">
              <div class="col-sm-offset-4 col-sm-4">
                <a id="getstarted-btn" class="uikit-btn--block uikit-btn uikit-btn--tertiary transition-content transition-content--open">Get started</a>
              </div>
            </div>
            <div id="getstarted-content" class="margin-above--none transition-content">
              <h3 class="ss-align--center margin-above--none margin-below">Select an option</h3>

              <div class="form-group margin-below--extra">

                <div class="mys-radio-group mys-radio-group--cols-2">
                  <label class="mys-radio">
                    <input id="lsq-pathway-tellstory" class="mys-radio__control" type="radio" name="home" value="no">
                    <span class="mys-radio__box mys-radio__box--large">
                      <img class="mys-radio__icon mys-radio__large-icon" src="/docs/images/ico-lsa-contribute.svg" alt="Edit form icon">
                      <span>
                        <h3 class="margin-above--mid margin-below--none">Option 1</h3>
                      </span>
                      <span>
                        <b>Tell us how your conditions are affecting&nbsp;your&nbsp;life</b>
                      </span>
                    </span>
                  </label>
                  <label class="mys-radio">
                    <input id="lsq-pathway-dvadoit" class="mys-radio__control" type="radio" name="home" value="yes-a-little">
                    <span class="mys-radio__box mys-radio__box--large">
                      <img class="mys-radio__icon mys-radio__large-icon" src="/docs/images/ico-folder.svg" alt="Folder icon">
                      <span>
                        <h3 class="margin-above--mid margin-below--none">Option 2</h3>
                      </span>
                      <span>
                        <b>Have DVA make a decision using only your medical reports</b>
                      </span>
                    </span>
                  </label>
                </div>

              </div>


              <div id="save-and-next" class="ss-align--center margin-below" style="display:none;">
                Choose
                <b>save and next</b> to continue.
              </div>


              <!-- <div class="uikit-page-alerts uikit-page-alerts--info margin-below--large" style="display:none;" id="lsq-pathway-tellstory--info">
                      <p>Answer based on your worst day. Take into consideration all your accepted conditions. We have sent
                        you an email with the accepted conditions being assessed in this claim.
                      </p>
                    </div> -->

              <div class="pagination pagination--ss-reverse-order">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/pi-lsq-pilot'">Previous</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Back to Claims</button>
                <div class="floated">
                  <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>

      <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    $(Document).ready(function () {
      $("#btnNext").click(function () {
        window.location.href = "/auth/claim/pi-lsq-claim1"
      });

      $("#getstarted-btn").click(function () {
        $(".transition-content").toggleClass("transition-content--open");
      });


      // $("#getstarted-btn").click(function () {
      //   $(".transition-content--open").toggleClass("");
      //   $("#getstarted-content").show();
      // });

      // Dynamic content for LSQ pathway
      $("#lsq-pathway-tellstory").click(function () {
        $("#lsq-pathway-tellstory--info").show();
        $("#save-and-next").show();
      });
      $("#lsq-pathway-dvadoit").click(function () {
        $("#lsq-pathway-tellstory--info").hide();
        $("#save-and-next").show();
        $("#btnNext").click(function () {
          window.location.href = "/auth/claim/pi-lsq-claim6b"
        });
      });
    });
  </script>

</body>

</html>