<%#- include(templates+"header", {
  claim: "Legacy"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Permanent Impairment | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <!-- <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <div class="container margin-above--none">
              <h1 class="margin-above--none">
                <span class="heading">Welcome to the pilot</span>
              </h1>
            </div>
          </div> -->

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <!-- Message to appear if you're eligible for the pilot. -->

          <div id="lsq-pilot--eligible">
            <h2 class="margin-above--large">You are about to begin the Lifestyle&nbsp;Assessment&nbsp;Pilot</h2>

            <div class="margin-below--extra">
              <p>You can save your answers and return to complete your assessment at any time using&nbsp;MyService.</p>
              <p>As part of this pilot, there will also be a short survey. Your feedback will help us improve our online services for veterans and their families.</p>

              <div class="uikit-page-alerts uikit-page-alerts--info">
                <p>The answers you provide as part of this pilot will be used to determine your Permanent&nbsp;Impairment&nbsp;compensation.</p>
              </div>
            </div>

            <div class="margin-below--extra border-top--mild">
              <div class="row margin-above--large">
                <div class="col-sm-offset-4 col-sm-4">
                  <a href="/auth/claim/pi-lsq-start" class="uikit-btn--block uikit-btn uikit-btn--tertiary transition-content transition-content--open">Continue</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Message to appear if you're eligible for the pilot but have already started the LSQ. -->

          <div id="lsq-pilot--already-started">
            <div class="uikit-page-alerts uikit-page-alerts--warning margin-above--extra margin-below--extra">
              <h2 class="margin-above--large">Lifestyle Assessment Pilot</h2>
              <p>You have already started a Lifestyle Assessment. You can resume your incomplete assessment at any time from the Claims page in MyService.</p>
            </div>

            <div class="margin-below--extra border-top--mild">
              <div class="row margin-above--large">
                <div class="col-sm-offset-2 col-sm-8">
                  <a href="/auth/claim/pi-lsq-start" class="uikit-btn--block uikit-btn uikit-btn--tertiary transition-content transition-content--open">Resume your Lifestyle
                    Assessment</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Message to appear if you're not eligible for the pilot. You may have come to this page via a friend or family member sharing the special link -->

          <div id="lsq-pilot--not-eligible">
            <div class="uikit-page-alerts uikit-page-alerts--error margin-above--extra">
              <h2 class="margin-above--large">Lifestyle Assessment Pilot</h2>
              <p>You are not eligible to complete the pilot at this time.</p>
            </div>
            <p>To claim for Permanent Impairment, please call
              <a href="tel:1800555254">1800 555 254</a> and ask to speak to the Permanent Impairment team.
            </p>
            <p class="margin-below--extra">For enquiries about your existing Permanent Impairment claim contact your delegate.</p>
          </div>

          <!-- Message to appear if you've already submitted an LSQ -->

          <div id="lsq-pilot--already-done">
            <div class="uikit-page-alerts uikit-page-alerts--error margin-above--extra margin-below--extra">
              <h2 class="margin-above--large">Lifestyle Assessment Pilot</h2>
              <p>You have already submitted a Lifestyle Assessment.</p>
            </div>

            <p>You can view your submitted Lifestyle Assessment from the
              <a href="/auth/claim/initial-liability/il-0">MyService claims page</a>.</p>
            <p class="margin-below--extra">For enquiries, please contact your delegate or email
              <a href- "mailto:r&c.brisbane.permanent.impairment@dva.gov.au">r&c.brisbane.permanent.impairment@dva.gov.au</a>
            </p>
          </div>
        </div>
      </div>

      <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    $(document).ready(function () {
      localStorage.clear();

      var lsqpilot = getUrlParameter('lsqpilot');
      if (lsqpilot) {
        localStorage.setItem('lsqpilot', lsqpilot);
      }

      $("#lsq-pilot--eligible").hide();
      $("#lsq-pilot--already-started").hide();
      $("#lsq-pilot--not-eligible").hide();
      $("#lsq-pilot--already-done").hide();

      if (localStorage.getItem('lsqpilot') === 'eligible') {
        $("#lsq-pilot--eligible").show();
        $("#lsq-pilot--already-started").hide();
        $("#lsq-pilot--not-eligible").hide();
        $("#lsq-pilot--already-done").hide();
      } else if (localStorage.getItem('lsqpilot') === 'alreadystarted') {
        $("#lsq-pilot--eligible").hide();
        $("#lsq-pilot--already-started").show();
        $("#lsq-pilot--not-eligible").hide();
        $("#lsq-pilot--already-done").hide();
      } else if (localStorage.getItem('lsqpilot') === 'noteligible') {
        $("#lsq-pilot--eligible").hide();
        $("#lsq-pilot--already-started").hide();
        $("#lsq-pilot--not-eligible").show();
        $("#lsq-pilot--already-done").hide();
      } else if (localStorage.getItem('lsqpilot') === 'alreadydone') {
        $("#lsq-pilot--eligible").hide();
        $("#lsq-pilot--already-started").hide();
        $("#lsq-pilot--not-eligible").hide();
        $("#lsq-pilot--already-done").show();
      } else {
        $("#lsq-pilot--eligible").show();
        $("#lsq-pilot--already-started").hide();
        $("#lsq-pilot--not-eligible").hide();
        $("#lsq-pilot--already-done").hide();
      }
    });
  </script>

</body>

</html>