<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width" name="viewport" />
  <title>View Claim: Service History | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Qualifying Service Summary</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <%- include(partials+"components/review-submit", {
  "claim": {
    "title": "Submitted on 29 August 2019",
    "id": "12345678",
    "options": [
      "marginTop"
    ],
    "categories": [
      {
        "header": "About your claim",
        "elements": [
          {
            "type": "questions",
            "data": [
              {
                "question": "What are you applying as?",
                "answer": "Australian Defence Force Veteran"
              },
              {
                "question": "Did you serve under any other names?",
                "answer": "Yes"
              },
              {
                "question": "Did you serve during World War 2?",
                "answer": "No"
              },
            ]
          },
          {
            "type": "subcategory",
            "text": "Former Names"
          },
          {
            "type": "questions",
            "data": [
              {
                "question": "Name #1",
                "answer": "John Smith"
              }
            ]
          }
        ],
        
      },
      {
        "header": "Service History",
        "editUrl": "#",
        "elements": [
          {
            "type": "subcategory",
            "text": "Service"
          },
          {
            "type": "questions",
            "data": [
              {
                "question": "Service number",
                "answer": "123 456 789 K"
              },
              {
                "question": "Type of service",
                "answer": "Permanent"
              },
              {
                "question": "Date of enlistment",
                "answer": "21 / 09 / 1945"
              },
              {
                "question": "Date of discharge",
                "answer": "21 / 06 / 1949"
              },
              {
                "question": "Branch of service",
                "answer": "Navy"
              }
            ]
          },
          {
            "type": "subcategory",
            "text": "Operation"
          },
          {
            "type": "questions",
            "data": [
              {
                "question": "Conflict Name",
                "answer": "Afghanistan"
              },
              {
                "question": "Operation Name",
                "answer": "Op Slipper"
              },
              {
                "question": "Start date",
                "answer": "21 / 09 / 1945"
              },
              {
                "question": "End date",
                "answer": "21 / 06 / 1949"
              }
            ]
          }
        ]
      },
      {
        "header": "Document Uploads",
        "editUrl": "#",
        "elements": [
          {
            "type": "questions",
            "data": [
              {
                "question": "Proof of name change",
                "answer": "Not uploaded"
              },
              {
                "question": "Proof of service (optional)",
                "answer": "Not uploaded"
              }
            ]
          }
        ]
      }
    ]
  }
}) %>

          <div class="pagination margin-above--extra">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/qualifying_service/qs-3'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/qualifying_service/qs-5'">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include(partials+"content/modals/claims-cancel-modal") %>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>

<script>
  $(document).ready(function () {

    if (sessionStorage.getItem('commonwealth-allied') != 'yes') {
      $("#adf").show();
    } else {
      $("#commonwealth").show();
    }
  });
</script>

</html>
