<%#- include(templates+"header", {
  claim: "Legacy"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Student Claim</title>
  <link href="/docs/css/main.css" rel="stylesheet">

  <style>
    .pt-flow--veteran,
    .pt-flow--student,
    .pt-flow--claimant {
      display: none;
    }

    .hide-fields>div {
      display: none;
    }

  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <div class="container container--8-column" id="main-content">
      <!-- <div id="progressbar">
              <div id="percentage"></div>
            </div> -->
      <h1 id="question_pageheaderStudy">

      </h1>
      <div class="row">

        <fieldset class="hide-fields grids col-sm-7">

          <!-- 10 -->
          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant" id="studyLevel">
            <fieldset>
              <legend class="legend-label" id="question_id10"></legend>
              <select id="studentLevelOfStudy" class="uikit-text-input input-half">
                <option value="">-- Select a level --</option>
                <option value="primary">Primary</option>
                <option value="secondary">Secondary</option>
                <option value="secondary-tafe">Secondary - TAFE</option>
                <option value="tertiary-tafe">Tertiary - TAFE / Other</option>
                <option value="tertiary-uni">Tertiary - University</option>
              </select>
            </fieldset>
          </div>


          <!-- 21 c-->
          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
            <fieldset>
              <legend class="legend-label" id="question_id21c">
              </legend>
              <div class="radio-toggle">
                <label class="on label-left">
                  <input id="yes" type="radio" name="enrolStatus" value="yes">
                  <span>Yes</span>
                </label>
                <label class="off label-right">
                  <input id="no" type="radio" name="enrolStatus" value="no">
                  <span>No</span>
                </label>
              </div>
            </fieldset>
          </div>

          <!-- 21 c i -->
          <div class="form-group  pt-flow--veteran pt-flow--student pt-flow--claimant uikit-page-alerts uikit-page-alerts--warning pt-noLongerEligibleTwo">
            <p id="question_id21ci">
            </p>
          </div>

          <div class="form-group uikit-page-alerts uikit-page-alerts--error pt-flow--student pt-enrollStatusStudentOver25" id="question_messageeligibilityOver25notenrolled">
          </div>



          <!-- 12 -->
          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfPrimary pt-showIfSecondary" id="schoolName">
            <label class="uikit-text-input__label" for="schoolNameInput" id="question_id12"></label>
            <input class="uikit-text-input input-half" id="schoolNameInput" name="schoolNameInput" type="text" value="" required aria-required="true">
          </div>



          <!-- 11 -->
          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfPrimary pt-showIfSecondary" id="studentGradeThisYear">
            <label class="uikit-text-input__label" for="studentGradeThisYearSelect" id="question_id11"></label>

            <select class="uikit-text-input input-half" id="studentGradeThisYearSelect">
              <option>-- Select grade --</option>
              <option value="0">Kindergarten</option>
              <option value="1"> 1</option>
              <option value="2"> 2</option>
              <option value="3"> 3</option>
              <option value="4"> 4</option>
              <option value="5"> 5</option>
              <option value="6"> 6</option>
              <option value="7"> 7</option>
              <option value="8"> 8</option>
              <option value="9"> 9</option>
              <option value="10"> 10</option>
              <option value="11"> 11</option>
              <option value="12"> 12</option>
            </select>
          </div>

          <!-- 14 -->


          <!-- 15 -->


          <!-- 16 -->
          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfEnrolled">
            <label class="uikit-text-input__label" for="studyingWhere" id="question_id16"></label>
            <select class="uikit-text-input input-half" id="studyingWhere" name="studyingWhere">
              <option>-- Select location --</option>
              <option> Australian Capital Territory </option>
              <option> New South Wales </option>
              <option> Northern Territory </option>
              <option> Queensland </option>
              <option> South Australia </option>
              <option> Tasmania </option>
              <option> Victoria </option>
              <option> Western Australia </option>
              <option value="overseas">Overseas</option>
            </select>
          </div>


          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfEnrolled">
            <label class="uikit-text-input__label" for="institutionName" id="question_id16a"></label>
            <input class="uikit-text-input" name="institutionName" id="institutionName" type="text" value="" required aria-required="true">
          </div>


          <!-- 17 -->

          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfEnrolled">
            <p>
              <span id="studyingCourseSpinner">
                <img style="float: right; margin: 0px 15px 15px 0px;" src="/docs/images/BrokenCircleSpinner.gif" width="20px" />
              </span>
              <label class="uikit-text-input__label" for="studyingCourse" id="question_id17">
              </label>
              <!-- 
                      <img src="/docs/images/BrokenCircleSpinner.gif" width="20px" style="float: left; margin: 0px 15px 15px 0px;" />
                    <br style="clear: both;" />
                    </span> -->
            </p>
            <input class="uikit-text-input" name="studyingCourse" id="studyingCourse" type="text" value="" required aria-required="true">
          </div>


          <!-- 19 -->
          <div class="form-group pt-flow--veteran pt-flow--claimant pt-showIfEnrolled pt-student-dob ">
            <label class="uikit-text-input__label" for="date" id="question_id19">
            </label>
            <input class="uikit-text-input dd" type="number" name="dd-date-start-studying" id="dd-date-start-studying" maxlength="2" aria-label="2 digit day"> /
            <input class="uikit-text-input mm" type="number" name="mm-date-start-studying" id="mm-date-start-studying" maxlength="2" aria-label="2 digit month"> /
            <input class="uikit-text-input yyyy" type="number" name="yyyy-date-start-studying" id="yyyy-date-start-studying" maxlength="4" aria-label="4 digit year">
          </div>

          <!-- <div class="form-group uikit-page-alerts uikit-page-alerts--warning pt-flow--student pt-enrollDatestudentOver25" id="question_messageeligibilityOver25enrolledafter25">
                </div> -->


          <div class="form-group pt-flow--veteran pt-flow--claimant pt-showIfEnrolled pt-student-dob ">
            <label class="uikit-text-input__label" for="date" id="question_id20">
            </label>
            <input class="uikit-text-input dd" type="number" name="dd-date-finish-studying" id="dd-date-finish-studying" maxlength="2" aria-label="2 digit day"> /
            <input class="uikit-text-input mm" type="number" name="mm-date-finish-studying" id="mm-date-finish-studying" maxlength="2" aria-label="2 digit month"> /
            <input class="uikit-text-input yyyy" type="number" name="yyyy-date-finish-studying" id="yyyy-date-finish-studying" maxlength="4" aria-label="4 digit year">
          </div>

          <!-- 21 -->
          <div class="form-group pt-flow--veteran  pt-flow--claimant pt-showIfEnrolled">
            <fieldset>
              <legend class="legend-label" id="question_id21">
              </legend>
              <div class="radio-toggle">
                <label class="on label-left">
                  <input id="yes" type="radio" name="studyLoad" value="full-time">
                  <span>Yes</span>
                </label>
                <label class="off label-right">
                  <input id="no" type="radio" name="studyLoad" value="part-time">
                  <span>No</span>
                </label>
              </div>
            </fieldset>
          </div>

          <!-- 21a -->
          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfPartTime">
            <label class="uikit-text-input__label" for="partTimeExplination" id="question_id21a">
            </label>
            <textarea id="partTimeExplination" name="partTimeExplination" rows="4"></textarea>
          </div>


        </fieldset>
      </div>

      <div class="pagination pagination--ss-reverse-order">
        <button class="uikit-btn uikit-btn--tertiary" onclick="javascript:history.back()">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>

          <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/studentclaim4'">Save and next</button>
        </div>
      </div>
      <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>
  <script src="/docs/js/students.js"></script>


  <script src="/docs/js/jquery-ui.min.js"></script>

  <script>
    $(document).ready(function () {
      $("#studyingCourseSpinner").hide();
    });
    // Progress percentage
    // document.getElementById("percentage").style.width = "40%";
    $(function () {

      var availableInstitutions = [{
        label: "AUSTRALIAN CATHOLIC UNIVERSITY (ACU)",
        category: ""
      },
      {
        label: "BATCHELOR INSTITUTE OF INDIGENOUS TERTIARY EDUC",
        category: ""
      },
      {
        label: "BOND UNIVERSITY",
        category: ""
      },
      {
        label: "CARNEGIE MELLON UNIVERSITY AUSTRALIA - CMU",
        category: ""
      },
      {
        label: "CHARLES DARWIN UNI - CDU",
        category: ""
      },
      {
        label: "CHARLES STURT UNIVERSITY (CSU)",
        category: ""
      },
      {
        label: "CQUNIVERSITY (CQU)- HIGHER ED COURSES",
        category: ""
      },
      {
        label: "CURTIN UNIVERSITY",
        category: ""
      },
      {
        label: "DEAKIN UNIVERSITY",
        category: ""
      },
      {
        label: "EDITH COWAN UNIVERSITY (ECU)",
        category: ""
      },
      {
        label: "FEDERATION UNIVERSITY - HIGHER ED - FEDUNI",
        category: ""
      },
      {
        label: "FLINDERS UNIVERSITY",
        category: ""
      },
      {
        label: "GRIFFITH UNIVERSITY (GU)",
        category: ""
      },
      {
        label: "JAMES COOK UNIVERSITY (JCU)",
        category: ""
      },
      {
        label: "LA TROBE UNIVERSITY",
        category: ""
      },
      {
        label: "MACQUARIE UNIVERSITY",
        category: ""
      },
      {
        label: "MONASH UNIVERSITY",
        category: ""
      },
      {
        label: "MURDOCH UNIVERSITY",
        category: ""
      },
      {
        label: "OPEN UNIVERSITIES AUSTRALIA - OUA",
        category: ""
      },
      {
        label: "QUEENSLAND UNIVERSITY OF TECHNOLOGY (QUT)",
        category: ""
      },
      {
        label: "RMIT UNIVERSITY",
        category: ""
      },
      {
        label: "SOUTHERN CROSS UNIVERSITY (SCU)",
        category: ""
      },
      {
        label: "SWINBURNE UNIVERSITY OF TECHNOLOGY",
        category: ""
      },
      {
        label: "TORRENS UNIVERSITY AUSTRALIA",
        category: ""
      },
      {
        label: "UNIVERSITY OF ADELAIDE",
        category: ""
      },
      {
        label: "AUSTRALIAN NATIONAL UNIVERSITY (ANU)",
        category: ""
      },
      {
        label: "UNIVERSITY OF CANBERRA (UC)",
        category: ""
      },
      {
        label: "UNIVERSITY OF MELBOURNE (UNIMELB)",
        category: ""
      },
      {
        label: "UNIVERSITY OF NEW ENGLAND (UNE)",
        category: ""
      },
      {
        label: "UNIVERSITY OF NEWCASTLE - UON",
        category: ""
      },
      {
        label: "UNIVERSITY OF NOTRE DAME AUSTRALIA - UNDA",
        category: ""
      },
      {
        label: "UNIVERSITY OF NSW - UNSW",
        category: ""
      },
      {
        label: "UNIVERSITY OF QUEENSLAND (UQ)",
        category: ""
      },
      {
        label: "UNIVERSITY OF SOUTH AUSTRALIA (UNISA)",
        category: ""
      },
      {
        label: "UNIVERSITY OF SOUTHERN QUEENSLAND (USQ)",
        category: ""
      },
      {
        label: "UNIVERSITY OF SYDNEY",
        category: ""
      },
      {
        label: "UNIVERSITY OF TASMANIA (UTAS)",
        category: ""
      },
      {
        label: "UNIVERSITY OF TECHNOLOGY SYDNEY (UTS)",
        category: ""
      },
      {
        label: "UNIVERSITY OF THE SUNSHINE COAST (USC)",
        category: ""
      },
      {
        label: "UNIVERSITY OF WESTERN AUSTRALIA (UWA)",
        category: ""
      },
      {
        label: "UNIVERSITY OF WOLLONGONG (UOW)",
        category: ""
      },
      {
        label: "VICTORIA UNIVERSITY - HIGHER ED - VU",
        category: ""
      },
      {
        label: "WESTERN SYDNEY UNIVERSITY (WSU)",
        category: ""
      }
      ];

      $("#institutionName").autocomplete({
        source: availableInstitutions,
        select: function (event, ui) {
          // js.cookies dependancy 
          Cookies.remove('institution');
          // checking if it's a condition that is a candidate for a computer based decision 
          if (ui.item.category === 'cbd') {
            Cookies.set('institution', 'cbd', {
              expires: 1
            });
          }
        }
      });

      $('input[name=institutionName]').change(function () {
        $("#studyingCourseSpinner").show();

        setTimeout(function () {
          $("#studyingCourseSpinner").hide();
          $("#studyingCourse").val("");
        }, 2000);
      });

      var availableCourses = [{
        label: "Bachelor of International Studies Bachelor of Media (PR & Ad)",
        category: ""
      },
      {
        label: "Int Studies / Media (S & SP)",
        category: ""
      },
      {
        label: "Int Studies/Media (Com & Jour)",
        category: ""
      },
      {
        label: "Int Studies/Media (PR & Adv)",
        category: ""
      },
      {
        label: "Higher Chemistry Medicinal A",
        category: ""
      },
      {
        label: "Advanced Underwater Field Ecology",
        category: ""
      },
      {
        label: "Biomolecular Science Laboratory Project (Advanced)",
        category: ""
      },
      {
        label: "Perspectives in Medical Science",
        category: ""
      },
      {
        label: "Social Research and Policy in the Workplace",
        category: ""
      },
      {
        label: "Information Systems",
        category: ""
      },
      {
        label: "Commerce / Information Systems",
        category: ""
      },
      {
        label: "BIS (Co-op) (Hons)",
        category: ""
      },
      {
        label: "Criminology & Criminal Justice",
        category: ""
      },
      {
        label: "Actuarial Studies / Economics",
        category: ""
      },
      {
        label: "Human Anatomy and Physiology 2",
        category: ""
      },
      {
        label: "Human Anatomy and Physiology 1",
        category: ""
      },
      {
        label: "Human Physiology B",
        category: ""
      },
      {
        label: "Human Physiology A",
        category: ""
      },
      {
        label: "Legal Experience 2",
        category: ""
      },
      {
        label: "Media Arts (Hons) / Ed (Sec)",
        category: ""
      },
      {
        label: "Arts / Education (Secondary)",
        category: ""
      },
      {
        label: "Fine Arts / Education (Sec)",
        category: ""
      },
      {
        label: "Arts / Education (Secondary)",
        category: ""
      },
      {
        label: "International Public Health",
        category: ""
      },
      {
        label: "Program Mechanical Engineering (Hons)",
        category: ""
      },
      {
        label: "Music (Hons)/Engineering(Hons)",
        category: ""
      },
      {
        label: "Engineering (Hons)/Biomed Eng",
        category: ""
      },
      {
        label: "Engineering (Hons)/Commerce",
        category: ""
      },
      {
        label: "Civil Engineering (Hons)",
        category: ""
      },
      {
        label: "Engineering Design 2",
        category: ""
      },
      {
        label: "Professional Engineering and Communication",
        category: ""
      },
      {
        label: "Introduction to Electrical Engineering",
        category: ""
      },
      {
        label: "Mineral Resources Engineering",
        category: ""
      },
      {
        label: "Security Engineering and Cyber Security",
        category: ""
      },
      {
        label: "Computer Engineering",
        category: ""
      },
      {
        label: "Fine Arts / Education (Sec)",
        category: ""
      },
      {
        label: "Arts / Education (Secondary)",
        category: ""
      },
      {
        label: "Arts and Business",
        category: ""
      },
      {
        label: "Commerce / Fine Arts",
        category: ""
      },
      {
        label: "Media Arts (Hons) / Ed (Sec)",
        category: ""
      },
      {
        label: "Medicine",
        category: ""
      },
      {
        label: "Medicinal Chemistry (Honours)",
        category: ""
      },
      {
        label: "Medicine / Arts",
        category: ""
      },
      {
        label: "Science (Medicine) Honours",
        category: ""
      },
      {
        label: "Medical Science",
        category: ""
      }
      ];

      $("#studyingCourse").autocomplete({
        source: availableCourses,
        select: function (event, ui) {
          Cookies.set('course', $("#studyingCourse").val());
        }
      });
    });
  </script>




</body>

</html>
