<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Student Claim</title>
<%- include(partials+"head") %>
  <style>
    .hide-fields>div {
      display: none;
    }
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-claims") %>
  <%- include(partials+"header-nom-rep") %>

  <main>
    <div class="container" id="main-content">

      <h1 id="question_pageheaderFinancialxxx">Nominate an additional contact</h1>

      <div class="uikit-page-alerts">
        <p>You can nominate someone to receive updates and query about this claim on your behalf.
          <br> They will
          <strong>not</strong> be able to access your account, view other claim statuses or access other personal information.</p>
      </div>
      <div class="row">

        <fieldset class="hide-fields grids col-sm-7">
          <div class="form-group pt-flow--student pt-flow--claimant pt-flow--veteran">
            <h3>Additional contact details
              <span class="hint" id="additionalContactOptional">(optional)</span>
            </h3>

            <div id="btnAddContact-box" class="margin-below margin-below--extra">
              <button id="btnAddContact" class="uikit-btn uikit-btn--tertiary">Add additional contact</button>
            </div>
            <div class="form-group pt-flow--student pt-flow--claimant pt-flow--veteran">
              <div class="bank-details-container" style="display:none;">
                <div class="col-xs-12  boxed">
                  <button id="btnCancelContact" class="uikit-btn uikit-btn--tertiary no-left-margin small floated">Cancel</button>
                  <p class="padding-above">All fields are required.</p>
                  <%- include(partials+"secondary-contact-details") %>
                </div>
              </div>
            </div>

          </div>

        </fieldset>
      </div>






      <div class="pagination pagination--ss-reverse-order">
        <button class="uikit-btn uikit-btn--tertiary " onclick="javascript:history.back() ">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='#open-modal' ">Cancel claim</button>
        <div class="floated ">
          <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/auth' ">Save and exit</button>
          <button class="uikit-btn btnNext btn--docUploads" onclick="window.location.href = '/auth/claim/studentclaimupload'">Save and next</button>
        </div>
      </div>
      <%- include(partials+"claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"footer") %>
  <script src="/docs/js/students.js "></script>


  <script>
    // Progress percentage
    // document.getElementById("percentage ").style.width ="75% ";
    // document.getElementById("percentage ").style.width = "80% ";


    $("#btnAddContact").click(function () {
      $("#additionalContactOptional").hide();
      $(".bank-details-container").show("fast");
    });
    $("#btnCancelContact").click(function () {
      $(".bank-details-container").hide("fast");
      $("#additionalContactOptional").show("fast");
    });
  </script>
</body>

</html>