<%#- include(templates+"header", {
  claim: "Legacy"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Student Claim</title>
  <%- include(partials+"components/layout/head") %>
  <style>
    .hide-fields>div {
      display: none;
    }

  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>


  <main>
    <div class="container container--8-column" id="main-content">
      <h1 id="question_pageheader1">
      </h1>

      <div class="row">
        <fieldset class="hide-fields grids col-sm-7">

          <!-- 1 -->
          <div class="form-group pt-flow--veteran ">
            <label class="uikit-text-input__label" for="title" id="question_id1"></label>
            <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
              <option selected>-- Select title --</option>

              <option>Mr</option>
              <option>Ms</option>
              <option>Miss</option>
              <option>Mrs</option>

            </select>
          </div>


          <!-- 2 -->
          <div class="form-group pt-flow--veteran">
            <label class="uikit-text-input__label" for="firstName" id="question_id2"></label>
            <input class="uikit-text-input input-half" name="firstName" id="firstName" type="text" value="">
          </div>

          <!-- 3 -->
          <div class="form-group pt-flow--veteran">
            <label class="uikit-text-input__label" for="lastName" id="question_id3"></label>
            <input class="uikit-text-input input-half" name="lastName" id="lastName" type="text" value="">
          </div>


          <!-- 1a -->
          <div class="form-group pt-flow--veteran">
            <%- include(partials+"content/gender") %>

          </div>


          <!-- 5 a) -->
          <div class="form-group" id="relationshipToStudentOther">
            <label class="uikit-text-input__label" for="relationshipToStudentOtherText" id="question_id5a"> </label>
            <textarea id="relationshipToStudentOtherText" name="relationshipToStudentOtherText" rows="4"></textarea>
          </div>

          <!-- 7 -->
          <div class="form-group pt-flow--veteran pt-partneredRelationship">
            <fieldset>
              <legend class="legend-label" id="question_id7"></legend>
              <div class="radio-toggle">
                <label class="on label-left">
                  <input type="radio" name="studentPartneredRelationship" value="yes">
                  <span>Yes</span>
                </label>
                <label class="off label-right">
                  <input type="radio" name="studentPartneredRelationship" value="no">
                  <span>No</span>
                </label>
              </div>
              <div class="tooltip-container">
                <div class="tooltip hidden" aria-labelledby="tooltip__content2" role="alertdialog" id="tooltip2" aria-describedby="dialogtext" aria-hidden="true">
                  <div class="tooltip__body">
                    <a class="modal-close" href="#" id="closebtn2">Close</a>
                    <div class="tooltip__content" id="tooltip__content2">
                      A de facto relationship is similar to a married relationship. You live together permanently and your commitment is ongoing. You may have children together or
                      be financially interdependent.
                    </div>
                  </div>
                </div>
                <span>
                  <a href="#closebtn" class="tooltip__trigger" name="tooltip2" id="tooltip-associate2" title="More information" style="border-bottom: none;">
                    <span class="tooltip__trigger-icon"></span>
                    <span class="tooltip__trigger-marker hidden"></span>
                  </a>
                </span>
              </div>
            </fieldset>
          </div>


          <!-- end veteran flow -->



          <!-- 9 a -->
          <div class="form-group" id="veteranRelationshipToStudentOther">
            <label class="uikit-text-input__label" for="veteranRelationshipToStudentOtherText" id="question_id9"></label>
            <textarea id="veteranRelationshipToStudentOtherText" name="veteranRelationshipToStudentOtherText" rows="4"></textarea>
          </div>


          <!-- 48 -->
          <div class="form-group" id="relationshipToVeteranOther">
            <label class="uikit-text-input__label" for="relationshipToVeteranOtherText" id="question_id48"> </label>
            <textarea id="relationshipToVeteranOtherText" name="relationshipToVeteranOtherText" rows="4"></textarea>
          </div>

          <!-- 42 -->
          <div class="form-group pt-flow--student pt-flow--claimant">
            <label class="uikit-text-input__label" for="veteranNameFirst" id="question_id42"></label>
            <input class="uikit-text-input input-half" name="veteranNameFirst" id="veteranNameFirst" type="text" value="">
          </div>

          <!-- 43 -->
          <div class="form-group pt-flow--student pt-flow--claimant ">
            <label class="uikit-text-input__label" for="veteranNameLast" id="question_id43"></label>
            <input class="uikit-text-input input-half" name="veteranNameLast" id="veteranNameLast" type="text" value="">
          </div>

          <!-- 44 -->
          <div class="form-group pt-flow--student pt-flow--claimant ">
            <label class="uikit-text-input__label" for="date" id="question_id44">

            </label>
            <input class="uikit-text-input dd" type="number" name="veteran-dd-date" id="veteran-dd-date" maxlength="2" aria-label="2 digit day"> /
            <input class="uikit-text-input mm" type="number" name="veteran-mm-date" id="veteran-mm-date" maxlength="2" aria-label="2 digit month"> /
            <input class="uikit-text-input yyyy" type="number" name="veteran-yyyy-date" id="veteran-yyyy-date" maxlength="4" aria-label="4 digit year">
          </div>

          <!-- 45 -->
          <div class="form-group pt-flow--student pt-flow--claimant">
            <label class="uikit-text-input__label" for="dVAFileNumber" id="question_id45"></label>
            <input class="uikit-text-input input-small" id="dVAFileNumber" name="dVAFileNumber" type="number" value="">
          </div>

          <!-- 46 -->

          <!-- 23 -->
          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showLivingLocation">
            <fieldset>
              <legend>
                <label class="uikit-text-input__label" for="studentLivingLocation" id="question_id23"></label>
              </legend>
              <div class="row">
                <div class="col-sm-4">
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="studentLivingLocation" value="at-home">
                      <span class="uikit-control-input__text">At family home</span>
                    </label>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="studentLivingLocation" value="away-from-home">
                      <span class="uikit-control-input__text">Away from home</span>
                    </label>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="studentLivingLocation" value="homeless">
                      <span class="uikit-control-input__text">Homeless</span>
                    </label>
                  </p>
                </div>

              </div>
            </fieldset>
          </div>

          <div class="form-group pt-flow--veteran pt-showIfLivingAwayFromHome">
            <fieldset>
              <div class="uikit-page-alerts uikit-page-alerts--alert" id="question_message9">

              </div>


              <legend class="legend-label" id="question_id8"></legend>
              <div class="radio-toggle">
                <label class="on label-left">
                  <input type="radio" name="studentLivingAwayValidReason" value="yes">
                  <span>Yes</span>
                </label>
                <label class="off label-right">
                  <input type="radio" name="studentLivingAwayValidReason" value="no">
                  <span>No</span>
                </label>
              </div>
            </fieldset>
          </div>


          <div class="form-group pt-flow--veteran pt-flow--claimant pt-livingWithPartner">
            <fieldset>
              <legend class="legend-label" id="question_id7a"></legend>
              <div class="radio-toggle">
                <label class="on label-left">
                  <input type="radio" name="studentLivingWithPartner" value="yes">
                  <span>Yes</span>
                </label>
                <label class="off label-right">
                  <input type="radio" name="studentLivingWithPartner" value="no">
                  <span>No</span>
                </label>
              </div>
            </fieldset>
          </div>

          <div class="form-group pt-final-toggle" id="question_message14"></div>


          <!-- pt-flow--veteran pt-flow--claimant pt-showIfStudentShouldClaimThemselves">
       Student's over the age of 18 are required to claim for themselves.
      </div> -->


        </fieldset>
      </div>

      <div class="pagination pagination--ss-reverse-order">
        <button class="uikit-btn uikit-btn--tertiary" onclick="javascript:history.back()">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href= '/auth/claim/studentclaim2'">Save and next</button>
        </div>
      </div>

      <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>
  <script src="/docs/js/students.js"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    // Progress percentage
    // document.getElementById("percentage").style.width = "20%";
  </script>

</body>

</html>
