<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Student Claim</title>
  <%- include(partials+"components/layout/head") %>
  <style>
    .hide-fields>div {
      display: none;
    }

  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>


  <main>
    <div class="container container--8-column" id="main-content">
      <h1 id="question_pageheader1a">
      </h1>

      <div class="row">
        <fieldset class="hide-fields grids col-sm-7">


          <!-- 1 -->
          <div class="form-group pt-flow--claimant">
            <label class="uikit-text-input__label" for="title" id="question_id1"></label>
            <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
              <option selected>-- Select title --</option>
              <option>Mr</option>
              <option>Ms</option>
              <option>Miss</option>
              <option>Mrs</option>
            </select>
          </div>

          <!-- 1a -->

          <!-- 2 -->
          <div class="form-group pt-flow--claimant">
            <label class="uikit-text-input__label" for="firstName" id="question_id2"></label>
            <input class="uikit-text-input input-half" name="firstName" id="firstName" type="text" value="">
          </div>

          <!-- 3 -->
          <div class="form-group pt-flow--claimant">
            <label class="uikit-text-input__label" for="lastName" id="question_id3"></label>
            <input class="uikit-text-input input-half" name="lastName" id="lastName" type="text" value="">
          </div>

          <div id="pt-gender-fields" class="form-group pt-flow--claimant pt-gender-fields">
            <%- include(partials+"content/gender") %>
          </div>



          <!-- 7 -->
          <div class="form-group pt-flow--student pt-flow--claimant pt-partneredRelationship">
            <fieldset>
              <legend class="legend-label" id="question_id7"></legend>
              <div class="radio-toggle">
                <label class="on label-left">
                  <input type="radio" name="studentPartneredRelationship" value="yes">
                  <span>Yes</span>
                </label>
                <label class="off label-right">
                  <input type="radio" name="studentPartneredRelationship" value="no">
                  <span>No</span>
                </label>
              </div>
              <div class="tooltip-container">
                <div class="tooltip hidden" aria-labelledby="tooltip__content2" role="alertdialog" id="tooltip2" aria-describedby="dialogtext" aria-hidden="true">
                  <div class="tooltip__body">
                    <a class="modal-close" href="#" id="closebtn2">Close</a>
                    <div class="tooltip__content" id="tooltip__content2">
                      A de facto relationship is similar to a married relationship. You live together permanently and your commitment is ongoing. You may have children together or
                      be financially interdependent.
                    </div>
                  </div>
                </div>
                <span>
                  <a href="#closebtn" class="tooltip__trigger" name="tooltip2" id="tooltip-associate2" title="More information" style="border-bottom: none;">
                    <span class="tooltip__trigger-icon"></span>
                    <span class="tooltip__trigger-marker hidden"></span>
                  </a>
                </span>
              </div>
            </fieldset>
          </div>



          <div class="form-group pt-flow--student pt-flow--claimant pt-showLivingLocation">
            <fieldset>
              <label class="uikit-text-input__label" for="studentLivingLocation" id="question_id23"></label>
              <div class="row">
                <div class="col-sm-4">
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="studentLivingLocation" value="at-home">
                      <span class="uikit-control-input__text">At family home</span>
                    </label>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="studentLivingLocation" value="away-from-home">
                      <span class="uikit-control-input__text">Away from home</span>
                    </label>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="studentLivingLocation" value="homeless">
                      <span class="uikit-control-input__text">Homeless</span>
                    </label>
                  </p>
                </div>
              </div>
            </fieldset>
          </div>


          <!-- 23 a -->
          <div class="form-group pt-flow--student pt-flow--claimant pt-showIfLivingAwayFromHome">
            <fieldset>
              <div class="uikit-page-alerts uikit-page-alerts--alert" id="question_message9">

              </div>
              <legend class="legend-label">
                <span id="question_id8"></span>
              </legend>


              <div class="radio-toggle">
                <label class="on label-left">
                  <input type="radio" name="studentLivingAwayValidReason" value="yes">
                  <span>Yes</span>
                </label>
                <label class="off label-right">
                  <input type="radio" name="studentLivingAwayValidReason" value="no">
                  <span>No</span>
                </label>
              </div>
            </fieldset>
          </div>


          <div class="form-group pt-flow--student pt-flow--claimant pt-livingWithPartner">
            <fieldset>
              <legend class="legend-label" id="question_id7a"></legend>
              <div class="radio-toggle">
                <label class="on label-left">
                  <input type="radio" name="studentLivingWithPartner" value="yes">
                  <span>Yes</span>
                </label>
                <label class="off label-right">
                  <input type="radio" name="studentLivingWithPartner" value="no">
                  <span>No</span>
                </label>
              </div>
            </fieldset>
          </div>

          <div class="form-group pt-final-toggle" id="question_message14">
          </div>

        </fieldset>


        <%- include(partials+"content/claims-uploads-shopping-cart") %>
      </div>

      <div class="pagination pagination--ss-reverse-order">
        <button class="uikit-btn uikit-btn--tertiary" onclick="javascript:history.back()">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href= '/auth/claim/studentclaim2'">Save and next</button>
        </div>
      </div>
      <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>
  <script src="/docs/js/students.js"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    // Progress percentage
    // document.getElementById("percentage").style.width = "20%";
  </script>

</body>

</html>
