<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Cover summary | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-claims") %>
  <%- include(partials+"header-nom-rep") %>

  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="claim-end">

            <div class="pt-claim-type--normal">
              <div class="margin-above ie-success-animation">
                <img src="" alt="Success tick icon">
              </div>
              <div class="margin-above submitted-animation">
                <%- include(partials+"animations/inProgress") %>

              </div>
              <div class="cantered-item transition-content transition-content--open animation-start">
                <h1>We're submitting your documents</h1>
              </div>
            </div>
            <div class="transition-content animation-end">
              <div class="pt-claim-type--normal">
                <h1 class="cantered-item">Your documents have been submitted. Your claim for Education&nbsp;Assistance&nbsp;is
                  <span class="font-weight-heavy">in&nbsp;progress</span>
                </h1>
              </div>

              <hr class="orange-divider">

              <div class="margin-below--extra">
                <h3>You will receive an outcome in the next 30 days.</h3>
                <p>If you do not hear from us within this time, call
                  <a href="tel:133-254">133&nbsp;254</a>. You can track your claim status on your dashboard. You will be notified of your claim outcome by mail and a MyGov
                  notification.</p>
              </div>

              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">See your claims</button>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </main>

  <%- include(partials+"footer") %>


  <script>
    setTimeout(() => {
      document.querySelector('.animation-start').classList.remove('transition-content--open');
      document.querySelector('.animation-end').classList.add('transition-content--open');
    }, 3500);

  </script>
</body>

</html>
