<%#- include(templates+"header", {
  claim: "NLHC"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim summary | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <section>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above--none">
          <h1 class="margin-above--none ss-align--center">
            <span class="heading">Claim summary</span>
          </h1>
        </div>
      </div>
      <div class="container" id="main-content">


        <div class="mys-centred-item receipt-status">
          <h2 class="status-icon status-icon--large status-submitted page-header margin-above--large">
            Your claim for a Veteran Card has been approved.
          </h2>

        </div>
        <div class="flex-container flex-container--wrap">
          <div class="flex-item flex-item--centred receipt">
            <div class="receipt__heading ">

              <h4 class="right floated margin-below--none margin-above--none padding-below--none ss-align ms-align--right">
                <b>Claim Id: 123456789</b>
              </h4>

              <h3 class="margin-above--none ss-align">
                Submitted on 27 November 2018
              </h3>

            </div>
            <div class="receipt__content">
              <div class="container-fluid claim-summary">

                <div class="row">
                  <div class="col-xs-12">
                    <h2>Veteran Card</h2>
                  </div>
                </div>
                <div class="row claim-summary__data">
                  <div class="col-xs-12 ss-align--left">
                    <p>Approved under our
                      <a href="auth#" rel="external" target="_blank">non-liability health care</a> arrangements.</p>
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-xs-12">
                    <h2>Veterans supplement</h2>
                  </div>
                </div>
                <div class="row claim-summary__data">
                  <div class="col-xs-12 ss-align--left">
                    <p>You may be entitled to the
                      <a href="https://www.dva.gov.au/factsheet-is18-veterans-supplement" rel="external" target="_blank">veterans suppliment</a>. If eligible, we will deposit
                      this
                      fortnightly payment into your nominated
                      bank account.
                    </p>
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-xs-12">
                    <h2>Bank details</h2>
                  </div>
                </div>
                <div class="row claim-summary__data">
                  <div class="col-sm-5">Account name:</div>
                  <div class="col-sm-7">Mr Paul Green</div>
                </div>
                <div class="row claim-summary__data">
                  <div class="col-sm-5">Account number:</div>
                  <div class="col-sm-7">7123 8876 0023</div>
                </div>
                <div class="row claim-summary__data">
                  <div class="col-sm-5">BSB:</div>
                  <div class="col-sm-7">654 - 788</div>
                </div>
                <div class="row claim-summary__data">
                  <div class="col-sm-5">Financial Institution:</div>
                  <div class="col-sm-7">ANZ Bank</div>
                </div>

              </div>
            </div>

            <div class="pagination margin-above--extra">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">See all my claims</button>
              <button class="uikit-btn floated uikit-btn--tertiary">Print</button>
            </div>
          </div>

        </div>
      </div>
      </div>

    </section>
  </main>


  <%- include(partials+"components/layout/footer") %>

</body>

</html>
