<%#- include(templates+"header", {
  claim: "NLHC"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Veteran Card | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Review and submit</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <div class="margin-above--extra margin-below--extra">
            <!-- Eligibility -->
            <div class="review__wrapper">
              <div class="review__header">
                <div class="review__header--label">
                  <h2>Service History</h2>
                </div>
              </div>
              <div class="review__content">
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Have you ever been a member of the Permanenet Forces?</div>
                  <div class="review__content--data col-xs-12 col-sm-5">No</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Have you ever been a member of the Reserves?</div>
                  <div class="review__content--data col-xs-12 col-sm-5">Yes</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Was your service ever considered Continuous Full-Time Service?</div>
                  <div class="review__content--data col-xs-12 col-sm-5">No</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Did your service include a Disaster Relief operation?</div>
                  <div class="review__content--data col-xs-12 col-sm-5">No</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Did your service include a Border Protection operation?</div>
                  <div class="review__content--data col-xs-12 col-sm-5">No</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Were you ever involved in a serious training accident?</div>
                  <div class="review__content--data col-xs-12 col-sm-5">Yes</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Location of accident:</div>
                  <div class="review__content--data col-xs-12 col-sm-5">Canberra</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Approximately when did the serious training accident&nbsp;occur?</div>
                  <div class="review__content--data col-xs-12 col-sm-5">12 / 04 / 2016</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Service number:</div>
                  <div class="review__content--data col-xs-12 col-sm-5">1234567</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Date of enlistment:</div>
                  <div class="review__content--data col-xs-12 col-sm-5">28 / 02 / 2001</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Date of discharge:</div>
                  <div class="review__content--data col-xs-12 col-sm-5">14 / 06 / 2016</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Proof of service:</div>
                  <div class="review__content--data col-xs-12 col-sm-5">My-Discharge-Signal-AAA.pdf</div>
                </div>
                <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/claim/veteran-card-eligibility'">Edit</button>
              </div>
            </div>

            <hr>

            <!-- Bank details -->
            <div class="review__wrapper">
              <div class="review__header">
                <div class="review__header--label">
                  <h2>Bank details</h2>
                </div>
              </div>
              <div class="review__content">
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Account name:</div>
                  <div class="review__content--data col-xs-12 col-sm-5">Mr Paul Green</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Account number:</div>
                  <div class="review__content--data col-xs-12 col-sm-5">7123 8876 0023</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">BSB:</div>
                  <div class="review__content--data col-xs-12 col-sm-5">654 - 788</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-12 col-sm-7">Financial Institution:</div>
                  <div class="review__content--data col-xs-12 col-sm-5">ANZ Bank</div>
                </div>
                <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/claim/veteran-card-2'">Edit</button>
              </div>
            </div>

          </div>

          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary" id="btnPrev">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn btnNext" id="btnNext">Submit</button>
            </div>
          </div>

        </div>


      </div>
    </div>

    <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>

  <script>
    $(Document).ready(function () {
      $("#btnNext").click(function () {
        window.location.href = "/auth/claim/mental-health-submitted"
      });
      $("#btnPrev").click(function () {
        window.location.href = "/auth/claim/mental-health-2"
      });
    });

  </script>

</body>

</html>
