<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim summary | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-authenticated") %>
  <%- include(partials+"header-nom-rep") %>

  <main>
    <section>
      <div class="section-feature section-feature--bg section-feature--bg-hero">
        <div class="container" id="main-content">

          <h1>
            <span class="heading">Application summary</span>
          </h1>



          <div class="mys-centred-item receipt-status">
            <h2 class="status-icon status-icon--large status-submitted page-header">
              Your application for a DHOAS Subsidy Certificate has been&nbsp;submitted
            </h2>
          </div>
          <div class="flex-container flex-container--wrap">
            <div class="flex-item flex-item--centred receipt">
              <div class="receipt__heading ">

                <h3 class="margin-above--none ss-align">
                  Submitted on 25 April 2018
                </h3>

              </div>
              <div class="receipt__content">
                <h2 class="margin-above--none">DHOAS Subsidy Certificate</h2>
                <h3>Home loan details</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Purpose of loan</td>
                    <td>
                      Purchase a new home
                    </td>
                  </tr>
                  <tr>
                    <td>Current occupancy</td>
                    <td>
                      On base accommodation
                    </td>
                  </tr>
                  <tr>
                    <td>Have you had a subsidised loan under any of the following?
                      <ul>
                        <li>Defence Service Home Loans Scheme (DHS)</li>
                        <li>Defence HomeOwner Scheme (DHOS)</li>
                        <li>Defence Home Ownership Assistance Scheme (DHOAS)</li>
                      </ul>
                    </td>
                    <td>
                      No
                    </td>
                  </tr>
                </table>
                <hr>
                <h3>Co-owner/borrower details</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Will there be a co-owner of the property?</td>
                    <td>Yes
                    </td>
                  </tr>

                  <tr>
                    <td>I agree that DVA can discuss my application with this co-owner/borrower</td>
                    <td>Yes
                    </td>
                  </tr>

                  <tr>
                    <td>I agree this co-owner/borrower can make decisions about my DHOAS entitlement on my behalf</td>
                    <td>Yes
                    </td>
                  </tr>

                  <tr>
                    <td>Name</td>
                    <td>Mr Mitchell Garvey
                    </td>
                  </tr>
                  <tr>
                    <td>Date of birth</td>
                    <td>12/29/1960
                    </td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>mitchell.garvey@gmail.com
                    </td>
                  </tr>
                  <tr>
                    <td>Contact phone number</td>
                    <td>0425 123 123
                    </td>
                  </tr>
                  <tr>
                    <td>What is your relationship to this person?</td>
                    <td>
                      <ul>
                        <li>Non partner co-owner</li>
                        <li>Guarantor on loan</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Is this person also applying for a Subsidy Certificate?</td>
                    <td>No
                    </td>
                  </tr>

                  <tr>
                    <td>Is there another co-owner/borrower of the property?</td>
                    <td>Yes
                    </td>
                  </tr>
                </table>

                <hr>
                <h3>Additional co-owner/borrower details</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>I agree that DVA can discuss my application with this co-owner/borrower</td>
                    <td>Yes
                    </td>
                  </tr>

                  <tr>
                    <td>I agree this co-owner/borrower can make decisions about my DHOAS entitlement on my behalf</td>
                    <td>No
                    </td>
                  </tr>

                  <tr>
                    <td>Name</td>
                    <td>Mrs Marge Simpson
                    </td>
                  </tr>
                  <tr>
                    <td>Date of birth</td>
                    <td>12/04/1973
                    </td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>marge.simpson@gmail.com
                    </td>
                  </tr>
                  <tr>
                    <td>Contact phone number</td>
                    <td>0425 123 123
                    </td>
                  </tr>
                  <tr>
                    <td>What is your relationship to this person?</td>
                    <td>
                      <ul>
                        <li>Non partner co-borrower</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Is this person also applying for a Subsidy Certificate?</td>
                    <td>No
                    </td>
                  </tr>

                  <tr>
                    <td>Is there another co-owner/borrower of the property?</td>
                    <td>No
                    </td>
                  </tr>
                </table>


                <hr>
                <h3>Your service history</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Reserve service documents</td>
                    <td>
                      <ul>
                        <li>StatementofReserveService.pdf</li>
                        <li>CENRES.pdf</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Is your service history complete?</td>
                    <td>No
                      <ul>
                        <li>ServiceDoc.pdf</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Did you have any period of leave without pay?</td>
                    <td>Yes
                      <ul>
                        <li>10/02/2016 - 12/03/2016</li>
                        <li>16/01/2017 - 22/01/2018</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Were you medically discharged?</td>
                    <td>Yes
                      <ul>
                        <li>DM42.pdf</li>
                        <li>SeparationHealthExamination.png</li>
                      </ul>
                    </td>
                  </tr>
                </table>
                <hr>
                <h3>Lump sum request</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Would you like to receive your entitlement as a lump sum?</td>
                    <td>Yes
                    </td>
                  </tr>
                  <tr>
                    <td>While serving in the ADF have you, or you and your partner, previously owned a 50% or greater stake in a home, either to live in or for an investment?</td>
                    <td>No
                    </td>
                  </tr>
                  <tr>
                    <td>Do you expect to leave the ADF within 12 months of your subsidy payment being authorised?</td>
                    <td>No
                    </td>
                  </tr>
                  <tr>
                    <td>How much of your entitlement do you want to receive as a lump sum?</td>
                    <td>3 months
                    </td>
                  </tr>
                </table>

                <h3>Staying in the ADF</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Is access to the DHOAS subsidy a key factor in you choosing to remain in the ADF?</td>
                    <td>Yes
                    </td>
                  </tr>
                  <tr>
                    <td>Will DHOAS influence your decision to remain in the ADF in the future?</td>
                    <td>No
                    </td>
                  </tr>
                  <tr>
                    <td>Defence Service Homes Insurance Scheme may contact me</td>
                    <td>Yes
                    </td>
                  </tr>
                </table>
              </div>

              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">See all my claims</button>
                <button class="uikit-btn floated uikit-btn--tertiary">Print</button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section>
  </main>


  <%- include(partials+"footer") %>

</body>

</html>