<%#- include(templates+"header", {
  claim: "Legacy"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim summary | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <section>
      <div class="section-feature section-feature--bg section-feature--bg-hero">
        <div class="container" id="main-content">

          <h1>
            <span class="heading">Claim summary</span>
          </h1>

          <!-- <div class="mys-centred-item receipt-status">
                <h2 class="status-icon status-icon--large status-approved page-header">
                  John's Free Mental Health Treatment claim has been approved</h2>
              </div> -->

          <div class="flex-container flex-container--wrap">
            <div class="flex-item flex-item--centred receipt">
              <div class="receipt__heading">

                <h4 class="right floated margin-below--none margin-above--none padding-below--none ss-align ms-align--right">
                  <b>Claim Id: 123456789</b>
                </h4>

                <h3 class="margin-above--none ss-align">
                  Submitted on 10 Jan 2019
                </h3>

              </div>
              <div class="receipt__content">

                <div class="margin-above--extra margin-below--extra">
                  <div class="review__header--label">
                    <h2>Current relationship</h2>
                  </div>
                  <div class="review__content">
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Relationship status</div>
                      <div class="review__content--data col-xs-7">Married</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Date of marriage</div>
                      <div class="review__content--data col-xs-7">03 / 02 / 1966</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Partner name</div>
                      <div class="review__content--data col-xs-7">Mrs Joe Bloggs</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Has your partner ever used or been known by other names?</div>
                      <div class="review__content--data col-xs-7">Yes</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Partner's former name</div>
                      <div class="review__content--data col-xs-7">Smith</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Partner’s date of birth</div>
                      <div class="review__content--data col-xs-7">21 / 09 / 1945</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Commonwealth Seniors Health Card</div>
                      <div class="review__content--data col-xs-7">Yes</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Receiving or applied for a Centrelink payment</div>
                      <div class="review__content--data col-xs-7">No</div>
                    </div>
                  </div>
                </div>



                <hr class="hr-compact">
                <!-- Dependent children -->
                <div class="review__wrapper ongoing-only">
                  <div class="review__header">
                    <div class="review__header--label">
                      <h2>Dependent children</h2>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Name</div>
                      <div class="review__content--data col-xs-7">Matthew Bloggs</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Date of birth</div>
                      <div class="review__content--data col-xs-7">21 / 02 / 2007</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Child at school</div>
                      <div class="review__content--data col-xs-7">Yes</div>
                    </div>
                    <div class="review__content--item row margin-above--large">
                      <div class="review__content--label col-xs-5">Name</div>
                      <div class="review__content--data col-xs-7">Jane Bloggs</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Date of birth</div>
                      <div class="review__content--data col-xs-7">21 / 02 / 2013</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Child at school</div>
                      <div class="review__content--data col-xs-7">Yes</div>
                    </div>
                  </div>
                </div>

                <hr class="hr-compact">

                <!-- Residency -->
                <div class="review__wrapper">
                  <div class="review__header">
                    <div class="review__header--label">
                      <h2>Residency</h2>
                    </div>
                    <div class="review__header--button"></div>
                  </div>
                  <div class="review__content">
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Australian citizen</div>
                      <div class="review__content--data col-xs-7">Yes</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Living permanently in Australia</div>
                      <div class="review__content--data col-xs-7">Yes</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Born in Australia</div>
                      <div class="review__content--data col-xs-7">No</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Country of birth</div>
                      <div class="review__content--data col-xs-7">Sri Lanka</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Date of arrival in Australia</div>
                      <div class="review__content--data col-xs-7">22 / 01 / 1955</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Lived in Australia</div>
                      <div class="review__content--data col-xs-7">63 years and 11 months</div>
                    </div>
                  </div>
                </div>

                <hr class="hr-compact">

                <!-- Living arrangements -->
                <div class="review__wrapper ongoing-only employed">
                  <div class="review__header">
                    <div class="review__header--label">
                      <h2>Living arrangements</h2>
                    </div>
                    <div class="review__header--button"></div>
                  </div>
                  <div class="review__content">
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Type of accommodation</div>
                      <div class="review__content--data col-xs-7">Rental</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Type of payment</div>
                      <div class="review__content--data col-xs-7">Private rental</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Rent amount</div>
                      <div class="review__content--data col-xs-7">$350.00 per week</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Partner living arrangements</div>
                      <div class="review__content--data col-xs-7">Same address</div>
                    </div>
                  </div>
                </div>

                <hr class="hr-compact">

                <!-- Claim representative -->
                <div class="review__wrapper ongoing-only">
                  <div class="review__header">
                    <div class="review__header--label">
                      <h2>Claim representative</h2>
                    </div>
                    <div class="review__header--button"></div>
                  </div>
                  <div class="review__content">
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Name</div>
                      <div class="review__content--data col-xs-7">Craig Jones</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Organisation / business name</div>
                      <div class="review__content--data col-xs-7">no entry</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Contact number</div>
                      <div class="review__content--data col-xs-7">+61 432 678 593</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Email</div>
                      <div class="review__content--data col-xs-7">craig.jones@dva.gov.au</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Country</div>
                      <div class="review__content--data col-xs-7">Australia</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Address</div>
                      <div class="review__content--data col-xs-7">1 / 53 Smith Street</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Suburb or Town</div>
                      <div class="review__content--data col-xs-7">Corinda</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Postcode</div>
                      <div class="review__content--data col-xs-7">4075</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">State / Territory </div>
                      <div class="review__content--data col-xs-7">Queensland</div>
                    </div>
                  </div>
                </div>

                <hr class="hr-compact">

                <!-- Bank details -->
                <div class="review__wrapper">
                  <div class="review__header">
                    <div class="review__header--label">
                      <h2>Bank details</h2>
                    </div>
                    <div class="review__header--button"></div>
                  </div>
                  <div class="review__content">
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Account name:</div>
                      <div class="review__content--data col-xs-7">Mr James Bloggs</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Account number:</div>
                      <div class="review__content--data col-xs-7">7123 8876 0023</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">BSB:</div>
                      <div class="review__content--data col-xs-7">654 - 788</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">Financial Institution:</div>
                      <div class="review__content--data col-xs-7">ANZ Bank</div>
                    </div>
                  </div>
                </div>
                <h3 style="color:red"> Partner bank details needed </h3>

                <hr class="hr-compact">

                <!-- Required documents -->
                <div class="review__wrapper">
                  <div class="review__header">
                    <div class="review__header--label">
                      <h2>Required documents</h2>
                    </div>
                    <div class="review__header--button"></div>
                  </div>
                  <div class="review__content">
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">&#10003;&nbsp;&nbsp; Tax file number declaration</div>
                      <div class="review__content--data col-xs-7">mytaxfile_declaration.pdf</div>
                    </div>
                    <div class="review__content--item row">
                      <div class="review__content--label col-xs-5">&#10003;&nbsp;&nbsp; Medical evidence</div>
                      <div class="review__content--data col-xs-7">Dr-Snow-Report.doc</div>
                    </div>
                    <div class="review__content--item row ongoing-only employed">
                      <div class="review__content--label col-xs-5">&#10003;&nbsp;&nbsp; Proof of civilian earnings</div>
                      <div class="review__content--data col-xs-7">My-document-222-AAA.png</div>
                    </div>
                  </div>
                </div>
                <hr class="hr-compact">
              </div>
            </div>
          </div>

          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Back to home</button>
            <button class="uikit-btn floated uikit-btn--tertiary" onclick="printFunction()">Print</button>
          </div>
        </div>

      </div>
      </div>
      </div>

    </section>
  </main>


  <%- include(partials+"components/layout/footer") %>

</body>

<script>
  function printFunction() {
    window.print();
  }
</script>


</html>