<%#- include(templates+"header", {
  claim: "Legacy"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim summary | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <section>
      <div class="section-feature section-feature--bg section-feature--bg-hero">
        <div class="container" id="main-content">
          <!-- <%- include(partials+"content/claims-breadcrumb-cover-detail") %> -->
          <h1>
            <span class="heading">Claim summary</span>
          </h1>


          <div class="mys-centred-item receipt-status">
            <h2 class="status-icon status-icon--large status-submitted page-header">
              John's Initial Liability claim has been submitted</h2>
          </div>
          <div class="flex-container flex-container--wrap">
            <div class="flex-item flex-item--centred receipt">
              <div class="receipt__heading ">
                <h4 class="right floated margin-below--none margin-above--none padding-below--none ss-align ms-align--right">
                  <b>Claim Id: 123456789</b>
                </h4>
                <h3 class="margin-above--none ss-align">
                  Submitted on 05 Sep 2017
                </h3>
              </div>
              <div class="receipt__content">
                <h2 class="margin-above--none">Lumbar spondylosis</h2>
                <h3>Diagnosis</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>What have you been medically diagnosed with?</td>
                    <td>lumbar spondylosis</td>
                  </tr>
                  <tr>
                    <td>Did the condition occur on a specific date?</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>When did it happen?</td>
                    <td>12 / 12 / 2005</td>
                  </tr>
                  <tr>
                    <td>GP or Specialist's medical report</td>
                    <td>Report-scan.doc (114 KB JPG)</td>
                  </tr>
                </table>
                <hr>
                <h3>How did it happen?</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Which statement best describes how your condition happened?</td>
                    <td>injury to the affected shoulder
                    </td>
                  </tr>
                  <tr>
                    <td>Provide a brief description of what led to your condition</td>
                    <td>test</td>
                  </tr>
                  <tr>
                    <td>Upload supporting documents</td>
                    <td>MRI.jpg (1,240 KB JPG)</td>
                  </tr>
                </table>
                <hr>
                <h3>Service history</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Service number</td>
                    <td>314159</td>
                  </tr>
                  <tr>
                    <td>Date of enlistment</td>
                    <td>1 / 9 / 1939</td>
                  </tr>
                  <tr>
                    <td>Date of discharge</td>
                    <td>2 / 9 / 1945</td>
                  </tr>
                </table>
                <hr>
                <h3>
                  Service when the condition started?</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Branch/arm</td>
                    <td>Navy</td>
                  </tr>
                  <tr>
                    <td>Type of service</td>
                    <td>Type 1</td>
                  </tr>
                  <tr>
                    <td>Start date</td>
                    <td>1 / 9 / 1939</td>
                  </tr>
                  <tr>
                    <td>End date</td>
                    <td>1 / 1 / 2000</td>
                  </tr>
                  <tr>
                    <td>Operation name</td>
                    <td>Cockpit</td>
                  </tr>
                  <tr>
                    <td>Operation start date</td>
                    <td>19 / 4 / 1944</td>
                  </tr>
                  <tr>
                    <td>Operation end date</td>
                    <td>20 / 4 / 1944</td>
                  </tr>
                  <tr>
                    <td>Upload service records</td>
                    <td>Service records.pdf (22,140 KB PDF)</td>
                  </tr>
                </table>
                <hr>
                <h3>How have you been affected?</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>As a result of my condition, I require..</td>
                    <td>
                      <ul>
                        <li>modifications to my home or vehicle</li>
                        <li>other: I cannot drive so I need a taxi once a week to buy groceries.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>I am interested in...</td>
                    <td>
                      <ul>
                        <li>getting a new job.</li>
                        <li>work experience.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>My condition has impacted my...</td>
                    <td>
                      <ul>
                        <li>ability to interact in social situations (Eg. interacting with friends and family).</li>
                      </ul>
                    </td>
                  </tr>
                </table>
                <hr>
                <h3>Nominee details</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Full name</td>
                    <td>Ben Tate</td>
                  </tr>
                  <tr>
                    <td>Phone number</td>
                    <td>0402 123 456</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>btate@email.com</td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>10 Hodgeson Lane, Narooma NSW 2546</td>
                  </tr>
                </table>
                <hr>
                <h3>Declaration</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Declaration statement</td>
                    <td>
                      <p>I agree to the following:</p>
                      <ul>
                        <li>I acknowledge as a current serving member, the information provided in this claim and its determination will be shared with the Department of Defence.
                        </li>
                        <li>All information provided is truthful and accurate.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>Accepted</td>
                  </tr>
                </table>
              </div>
              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Back to home</button>
                <button class="uikit-btn floated uikit-btn--tertiary">Print</button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section>
  </main>


  <%- include(partials+"components/layout/footer") %>

</body>

</html>
