<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim summary | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <section>
      <div class="section-feature section-feature--bg section-feature--bg-hero">
        <div class="container" id="main-content">

          <h1>
            <span class="heading">Claim summary</span>
          </h1>



          <div class="mys-centred-item receipt-status">
            <h2 class="status-icon status-icon--large status-submitted page-header">
              Your disability pension increase claim has been submitted</h2>
          </div>
          <div class="flex-container flex-container--wrap">
            <div class="flex-item flex-item--centred receipt">
              <div class="receipt__heading ">

                <h3 class="margin-above--none ss-align">
                  Submitted on 27 April 2018
                </h3>

              </div>
              <div class="receipt__content">
                <h2 class="margin-above--none">Increase to Disability Pension</h2>
                <h3>Worsened conditions</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>The conditions that have become worse since your last assessment</td>
                    <td>
                      <ul>
                        <li>Osteoarthritis of the left shoulder</li>
                        <li>Osteoarthritis affecting both knees</li>
                        <li>Depression</li>
                      </ul>
                    </td>
                  </tr>
                </table>
                <hr>
                <h3>Medical</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Dr Nick Riviera (general practitioner)</td>
                    <td>Springfield Hospital
                      <br> Springfield
                      <br> 02 6123 4567
                    </td>
                  </tr>
                  <tr>
                    <td>Dr Jamie Lee</td>
                    <td>Ryde Medical Centre
                      <br> North Ryde
                      <br> 02 9807 1230
                    </td>
                  </tr>
                  <tr>
                    <td>Dr Marta Machalevski</td>
                    <td>St Vincent’s Hospital
                      <br> Potts Point
                      <br> 02 9487 9111
                    </td>
                  </tr>
                  <tr>
                    <td>Christina San Lucas</td>
                    <td>Gosford Hospital
                      <br> Gosford
                      <br> 02 9487 9385
                    </td>
                  </tr>
                </table>
                <hr>
                <h3>Employment</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Are you employed?</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>Name of current employer</td>
                    <td>Springfield Nuclear Power Plant</td>
                  </tr>
                  <tr>
                    <td>Hours worked per week</td>
                    <td>20 hours per week</td>
                  </tr>
                </table>
              </div>

              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">See all my claims</button>
                <button class="uikit-btn floated uikit-btn--tertiary">Print</button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section>
  </main>


  <%- include(partials+"components/layout/footer") %>

</body>

</html>