<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim summary | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <section>
      <div class="section-feature section-feature--bg section-feature--bg-hero">
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--large padding-below">
          <div class="margin-above--none">
            <h1 class="margin-above--none ss-align--center">
              <span class="heading">Veteran Covenant Summary</span>
            </h1>
          </div>
        </div>
        <div class="container" id="main-content">
          <div class="mys-centred-item receipt-status">
            <h2 class="status-icon status-icon--large status-submitted page-header">
              Your claim for Veteran Covenant has been submitted</h2>
          </div>
          <div class="flex-container flex-container--wrap">
            <div class="flex-item flex-item--centred receipt">
              <div class="receipt__heading ">

                <h3 class="margin-above--none ss-align">
                  Submitted on 29 August 2019
                </h3>

              </div>
              <div class="receipt__content">
                <h2 class="margin-above--none">Australian service history</h2>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Are your still serving?</td>
                    <td>
                      Yes
                    </td>
                  </tr>
                  <tr>
                    <td>Are you a member of the Australian Permanent Forces?</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>PMKeyS number:</td>
                    <td>00000000</td>
                  </tr>
                  <tr>
                    <td>Date of enlistment</td>
                    <td>11 / 11 / 2000</td>
                  </tr>
                </table>
                <hr>
                <h3>Bank Details</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Acccount Name:</td>
                    <td>John Smith</td>
                  </tr>
                  <tr>
                    <td>Account Number:</td>
                    <td>1111111</td>
                  </tr>
                  <tr>
                    <td>BSB:</td>
                    <td>012-983</td>
                  </tr>
                  <tr>
                    <td>Financial Institution: </td>
                    <td>ANZ Tuggeranong</td>
                  </tr>
                </table>
                <hr>
                <h3>Access Offers</h3>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Would you like to pre-register with APOD?</td>
                    <td>Yes</td>
                  </tr>
                </table>
              </div>

              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">See all my claims</button>
                <button class="uikit-btn floated uikit-btn--tertiary">Print</button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section>
  </main>


  <%- include(partials+"components/layout/footer") %>

</body>

</html>
