<%#- include(templates+"header", {
  claim: "Legacy"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim summary | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <section>
      <div class="section-feature section-feature--bg section-feature--bg-hero">
        <div class="container" id="main-content">
          <!-- <%- include(partials+"content/claims-breadcrumb-cover-detail") %> -->
          <h1>
            <span class="heading">Claim summary</span>
          </h1>
          <div class="mys-centred-item receipt-status">
            <h2 class="status-icon status-icon--large status-in-progress page-header">
              John's (insert claim type) claim is in progress</h2>
          </div>

          <div class="flex-container flex-container--wrap">
            <div class="flex-item flex-item--centred receipt">

              <div class="receipt__heading ">
                <h4 class="right floated margin-below--none margin-above--none padding-below--none ss-align ms-align--right">
                  <b>Claim Id: 123456789</b>
                </h4>
                <h3 class="margin-above--none ss-align">
                  Submitted on 23 Sep 2017
                </h3>
              </div>
              <div class="receipt__content">




                <h2>About you</h2>
                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>The student is my...</td>
                    <td>Child</td>
                  </tr>
                  <tr>
                    <td>Do you receive Family Tax Benefit for the student?</td>
                    <td>No</td>
                  </tr>
                  <tr>
                    <td>Does someone else receive Family Tax Benefit for the student</td>
                    <td>No</td>
                  </tr>
                </table>
                <hr>

                <h2>About the student</h2>
                <h3>Personal details</h3>

                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Name:</td>
                    <td>Mr Stuart Smith</td>
                  </tr>
                  <tr>
                    <td>Date of birth:</td>
                    <td>29 / 08 / 1965</td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td>Male</td>
                  </tr>
                  <tr>
                    <td>Residential address:</td>
                    <td>123 Veteran lane, DVAville ACT 2600</td>
                  </tr>
                  <tr>
                    <td>Postal address:</td>
                    <td>Same as residential address</td>
                  </tr>
                  <tr>
                    <td>Is the student in a de facto / married relationship?</td>
                    <td>No</td>
                  </tr>
                  <tr>
                    <td>Does the student have a tax file number</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>Is the student employed full time?</td>
                    <td>No</td>
                  </tr>
                </table>

                <h3>Living arrangements</h3>

                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Where is the student living?</td>
                    <td>Away from home</td>
                  </tr>
                  <tr>
                    <td>
                      <p>Is the student living away from home for any of the following reasons?</p>
                      <ul>
                        <li>the student can't access school or university from home</li>
                        <li>the student has a disability</li>
                        <li>the student needs specialised remedial education</li>
                        <li>the student is a member of a family with a nomadic lifestyle</li>
                        <li>local schools or education facilities can't meet the student's academic needs</li>
                        <li>conditions at home are detrimental to the student's education</li>
                      </ul>
                    </td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>Is the student renting?</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>When did the student start renting?</td>
                    <td>01 / 01 / 2017</td>
                  </tr>
                  <tr>
                    <td>Does the student share the cost of rent with anyone else?</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>How much rent does the student pay every two weeks? This does not include meals.</td>
                    <td>$200</td>
                  </tr>
                </table>

                <h3>Study details</h3>

                <table class="claim-summary-table table-responsive">
                  <tr>
                    <td>Level of study</td>
                    <td>Secondary</td>
                  </tr>
                  <tr>
                    <td>Is the student enrolled?</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>Where is the student studying?</td>
                    <td>Australian National University, ACT</td>
                  </tr>
                  <tr>
                    <td>Course name / Degree name</td>
                    <td>User Experience design</td>
                  </tr>
                  <tr>
                    <td>Date the student started studying, or will start studying</td>
                    <td>01 / 01 / 2017</td>
                  </tr>
                  <tr>
                    <td>Date the student will finish studying</td>
                    <td>17 / 11 / 2022</td>
                  </tr>
                  <tr>
                    <td>Is the student studying full time?</td>
                    <td>No</td>
                  </tr>
                  <tr>
                    <td>Is the student studying full time?</td>
                    <td>No</td>
                  </tr>
                  <tr>
                    <td>Why is the student studying part time?</td>
                    <td>Financial and family reasons.</td>
                  </tr>
                </table>

                <hr>

                <h2>Document uploads</h2>
                <table class="claim-summary-table table-responsive">
                  <caption>Uploaded on 28 April 2018</caption>
                  <tr>
                    <td>Proof of enrolment</td>
                    <td>ANU-enrollment-letter.png</td>
                  </tr>
                  <tr>
                    <td>Proof of residence</td>
                    <td>electricity-water-bill.jpg</td>
                  </tr>
                </table>

                <table class="claim-summary-table table-responsive">
                  <caption>Uploaded on 4 May 2018</caption>
                  <tr>
                    <td>Part-time study reason</td>
                    <td>letter-from-my-mum.pdf</td>
                  </tr>
                </table>

              </div>

              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Back to home</button>
                <button class="uikit-btn floated uikit-btn--tertiary">Print</button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section>
  </main>

  <%- include(partials+"components/layout/footer") %>

</body>

</html>