<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-version") %>
  <% include header-authenticated%>

  <main>
    <section>
      <div class="container" id="main-content">
        <%- include(partials+"breadcrumb-profile-password") %>
        <h1>Change password</h1>
        <hr />
        <div class="row">
          <div class="col-sm-3 secondary-navigation">
            <%- include(partials+"profile-side-nav") %>
          </div>
          <div class="col-sm-9">
            <div class="has-error has-error-server breakout" id="error-empty-fields" style="display: none">
              <h2>
                <a name="heading-error" class="heading-error">The following fields need fixing:</a>
              </h2>
              <ul>
                <li>
                  <a href="#password">Password</a>
                </li>
                <li>
                  <a href="#password-reenter">Re-enter password</a>
                </li>
              </ul>
              <h3>Your password must:</h3>
              <ul>
                <li>Be at least 8 characters in length</li>
                <li>Contain at least 1 lowercase and 1 uppercase letter</li>
                <li>Contain at least 1 special character (!@#$%^&*.?) </li>
              </ul>
            </div>
            <div id="form-group-password" class="form-group">
              <label class="uikit-text-input__label" for="password">Password
                <span id="password-error" class="input-error-message" aria-live="polite"> Password must be at least 8 characters and contain a mix of alphanumeric characters and at
                  least one
                  symbol
                </span>
              </label>
              <input class="uikit-text-input password" name="password" id="password" type="password" value="" required>
              <button class="uikit-btn uikit-btn--tertiary show-password" value="Show">Show</button>
            </div>
            <div id="form-group-password-reenter" class="form-group">
              <label class="uikit-text-input__label" for="password-reenter">Re-enter password
                <span id="password-reenter-error" class="input-error-message" aria-live="polite"> Re-enter password must be at least 8 characters and contain a mix of alphanumeric
                  characters and at
                  least one symbol</span>
              </label>
              <input class="uikit-text-input password" name="password-reenter" id="password-reenter" type="password" value="" required>
              <button class="uikit-btn uikit-btn--tertiary show-password">Show</button>
            </div>
            <div class="pagination">
              <button class="uikit-btn btnSavePassword">Save</button>
              <a href="/">Cancel</a>
            </div>
          </div>
    </section>
  </main>
  </div>
  </div>


  <%- include(partials+"footer") %>
  <script>
    $(document).ready(function () {
      // Show / hide hidden field
      $(".show-password").click(function () {
        if ($(".password").attr("type") == "password") {
          $(".password").attr("type", "text");
          $(".show-password").text('Hide').button("refresh");
        } else {
          $(".password").attr("type", "password");
          $(".show-password").val('Show');
          $(".show-password").text('Show').button("refresh");
        }
      });
      // Client side field validation
      // Client validation masquerading as server side
      $(".btnSavePassword").click(function () {
        if ($('#password').val() == '' && ($('#password-reenter').val() == '')) {
          $("#error-empty-fields").toggle("fast");
          $("#form-group-password").addClass("has-error");
          $('html, body').animate({
            scrollTop: $('#error-empty-fields').position().top
          }, 'fast');
          $(".heading-error").focus();
        }
      });
      $("#password").focusout(function () {
        $("#form-group-password").addClass("has-error");
      });
      $("#password-reenter").focusout(function () {
        $("#form-group-password-reenter").addClass("has-error");
      });
    });
  </script>
</body>

</html>