<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-authenticated") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row">
          <div class="col-sm-3 secondary-navigation">
            <h1>My profile</h1>
            <%- include(partials+"profile-side-nav") %>
          </div>
          <div class="col-sm-9">
            <%- include(partials+"breadcrumb-profile-assets") %>
            <h2>Add farm</h2>

          </div>
        </div>
    </section>
    <a href="#" style="display: none">
      <div class="toast">
        <p role="alert">Profile updated</p>
      </div>
    </a>
  </main>
  </div>

  <%- include(partials+"footer") %>
  <script>
    function goToPage() {
      window.location = document.getElementById("add-detail").value;
    }
  </script>


</body>

</html>