<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-authenticated") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row">
          <div class="col-sm-3 secondary-navigation">
            <h1>My profile</h1>
            <%- include(partials+"profile-side-nav") %>
          </div>
          <div class="col-sm-9">
            <%- include(partials+"breadcrumb-profile-assets-add") %>
            <h2>Add other financial investments</h2>
            <p>Other financial investments are those that do not fit under other categories. Includes gold, silver or platinum bullion, coins or medals that you hold for investment
              purposes.</p>

            <fieldset>
              <div class="form-group">
                <fieldset>
                  <label class="uikit-text-input__label" for="owner">Owner</label>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="owner">
                      <span class="uikit-control-input__text">Harry Kirkman</span>
                    </label>
                  </p>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="owner">
                      <span class="uikit-control-input__text">Carmen Kirkman</span>
                    </label>
                  </p>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="owner">
                      <span class="uikit-control-input__text">Jointly owned</span>
                    </label>
                  </p>
                </fieldset>
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label" for="description">Description
                  <span class="hint display-block">Provide a short description of your investment.</span>
                </label>
                <textarea id="description" name="description" rows="3"></textarea>
              </div>

              <div class="form-group">
                <fieldset>
                  <label class="uikit-text-input__label" for="type">Type</label>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="type">
                      <span class="uikit-control-input__text">Bullion</span>
                    </label>
                  </p>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="type">
                      <span class="uikit-control-input__text">Other financial asset</span>
                    </label>
                  </p>
                </fieldset>
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label" for="value">Value</span>
                </label>
                <input class="uikit-text-input input-half" name="value" id="value" type="text" value="">
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label" for="dd-investment">Date investment commenced
                  <span class="hint">(DD / MM / YYYY)</span>
                </label>
                <input class="uikit-text-input dd" type="text" name="dd-investment" id="dd-investment" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" name="mm-investment" id="mm-investment" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" name="yyyy-investment" id="yyyy-investment" maxlength="4" required aria-required="true" aria-label="4 digit year">
              </div>

              <div class="pagination">
                <button class="uikit-btn" onclick="window.location.href = 'profile-assets-added'">Save</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'profile-assets'">Cancel</button>
              </div>
            </fieldset>

          </div>
        </div>
    </section>
    <a href="#" style="display: none">
      <div class="toast">
        <p role="alert">Profile updated</p>
      </div>
    </a>
  </main>
  </div>

  <%- include(partials+"footer") %>
  <script>
    function goToPage() {
      window.location = document.getElementById("add-detail").value;
    }
  </script>


</body>

</html>