<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-authenticated") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row margin-above">
          <%- include(partials+"profile-side-nav") %>
        </div>
        <div class="col-sm-9">
          <h1 class="margin-above--none">Service history</h1>

          <div class="uikit-page-alerts uikit-page-alerts--info">
            <p>You are approved for
              <a href="https://www.dva.gov.au/tags/qualifying-service" rel="external">
                <b>Qualifying Service</b>
              </a> due to your involvement in warlike or hostile operational service with the Australian Defence Force.</p>
          </div>

          <div class="profile-table" role="list">
            <div class="row profile-row" role="listitem">
              <div class="col-sm-9 col-xs-7 description-fields">
                <div class="row">
                  <div class="col-sm-4 title-field">PMKeyS number</div>
                  <div class="col-sm-8 uneditable">
                    <span>20122550</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-5 change-button">
                <!-- <div class="description-locked"></div> -->
                <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled>Locked</button>
              </div>
            </div>
            <div class="row profile-row" role="listitem">
              <div class="col-sm-9 col-xs-7 description-fields">
                <div class="row">
                  <div class="col-sm-4 title-field">Enlistment date</div>
                  <div class="col-sm-8 uneditable">
                    <span>13 / 10 / 2006</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-5 change-button">
                <!-- <div class="description-locked"></div> -->
                <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled>Locked</button>
              </div>
            </div>
            <div class="row profile-row" role="listitem">
              <div class="col-sm-9 col-xs-7 description-fields">
                <div class="row">
                  <div class="col-sm-4 title-field">Highest rank acheived</div>
                  <div class="col-sm-8 uneditable rank-uneditable-div">
                    <span id="rank-span">Wing Commander</span>
                  </div>
                  <div class="col-sm-8 editable rank-editable-div" style="display:none;">
                    <select class="uikit-text-input" name="highest-rank" id="highest-rank" type="text" value="">
                      <option>-- Select rank --</option>
                      <option value="Able Seaman" selected>Able Seaman</option>
                      <option value="Acting Sub Lieutenant">Acting Sub Lieutenant</option>
                      <option value="Admiral">Admiral</option>
                      <option value="Air Chief Marshal">Air Chief Marshal</option>
                      <option value="Air Commodore">Air Commodore</option>
                      <option value="Air Marshal">Air Marshal</option>
                      <option value="Air Vice Marshal">Air Vice Marshal</option>
                      <option value="Aircraftman">Aircraftman</option>
                      <option value="Aircraftwoman">Aircraftwoman</option>
                      <option value="Bombardier">Bombardier</option>
                      <option value="Brigadier">Brigadier</option>
                      <option value="Captain">Captain</option>
                      <option value="Chief Petty Officer">Chief Petty Officer</option>
                      <option value="Colonel">Colonel</option>
                      <option value="Commander">Commander</option>
                      <option value="Commodore">Commodore</option>
                      <option value="Corporal">Corporal</option>
                      <option value="Flight Lieutenant">Flight Lieutenant</option>
                      <option value="Flight Sergeant">Flight Sergeant</option>
                      <option value="Flying Officer">Flying Officer</option>
                      <option value="General">General</option>
                      <option value="General Sir">General Sir</option>
                      <option value="Group Captain">Group Captain</option>
                      <option value="Lance Bombardier">Lance Bombardier</option>
                      <option value="Lance Corporal">Lance Corporal</option>
                      <option value="Leading Aircraftman">Leading Aircraftman</option>
                      <option value="Leading Aircraftwoman">Leading Aircraftwoman</option>
                      <option value="Leading Seaman">Leading Seaman</option>
                      <option value="Lieutenant">Lieutenant</option>
                      <option value="Lieutenant Colonel">Lieutenant Colonel</option>
                      <option value="Lieutenant Commander">Lieutenant Commander</option>
                      <option value="Lieutenant General">Lieutenant General</option>
                      <option value="Lieutenant General Sir">Lieutenant General Sir</option>
                      <option value="Major">Major</option>
                      <option value="Major General">Major General</option>
                      <option value="Major General Sir">Major General Sir</option>
                      <option value="Midshipman">Midshipman</option>
                      <option value="Non-Commissioned Officer Cadet">Non-Commissioned Officer Cadet</option>
                      <option value="Officer Cadet">Officer Cadet</option>
                      <option value="Petty Officer">Petty Officer</option>
                      <option value="Pilot Officer">Pilot Officer</option>
                      <option value="Private">Private</option>
                      <option value="Rear Admiral">Rear Admiral</option>
                      <option value="Regimental Sergeant Major">Regimental Sergeant Major</option>
                      <option value="Seaman">Seaman</option>
                      <option value="Second Lieutenant">Second Lieutenant</option>
                      <option value="Sergeant">Sergeant</option>
                      <option value="Squadron Leader">Squadron Leader</option>
                      <option value="Staff Sergeant">Staff Sergeant</option>
                      <option value="Sub Lieutenant">Sub Lieutenant</option>
                      <option value="Vice Admiral">Vice Admiral</option>
                      <option value="Vice Admiral Sir">Vice Admiral Sir</option>
                      <option value="Warrant Officer">Warrant Officer</option>
                      <option value="Warrant Officer Class 1">Warrant Officer Class 1</option>
                      <option value="Warrant Officer Class 2">Warrant Officer Class 2</option>
                      <option value="Warrant Officer of the Air Force">Warrant Officer of the Air Force</option>
                      <option value="Warrant Officer of the Navy">Warrant Officer of the Navy</option>
                      <option value="Wing Commander">Wing Commander</option>
                    </select>
                    <button class="uikit-btn uikit-btn--tertiary small cancel-rank-button">Cancel</button>
                    <button class="uikit-btn small save-rank-button">Save</button>
                    <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-5 change-button">
                <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small edit-rank-button">Change</button>
              </div>
            </div>

          </div>

          <div class="margin-above--extra margin-below--extra">
            <i>To change locked information, call
              <a href="tel:1800555254">1800 555 254</a> or email
              <a href="mailto:generalenquiries@dva.gov.au">generalenquiries@dva.gov.au</a>
            </i>
          </div>



          <fieldset class="fieldset-margin-top">
            <table>
              <thead>
                <tr>
                  <th>Branch of service</th>
                  <th>Start date</th>
                  <th>End date</th>
                  <th>Operations</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Royal Australian Navy</td>
                  <td>13 / 10 / 2006</td>
                  <td>14 / 01 / 2007</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Royal Australian Navy</td>
                  <td>15 / 01 / 2007</td>
                  <td>29 / 02 / 2008</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Royal Australian Navy</td>
                  <td>01 / 03 / 2008</td>
                  <td>
                    <em>(Currently in service)</em>
                  </td>
                  <td>
                    <p>
                      <!-- react-text: 1826 -->11 / 08 / 2008
                      <!-- /react-text -->
                      <!-- react-text: 1827 -->to
                      <!-- /react-text -->
                      <!-- react-text: 1828 -->27 / 09 / 2008
                      <!-- /react-text -->
                      <br>
                      <!-- react-text: 1830 -->Operation RESOLUTE
                      <!-- /react-text -->
                    </p>
                    <p>
                      <!-- react-text: 1832 -->20 / 06 / 2009
                      <!-- /react-text -->
                      <!-- react-text: 1833 -->to
                      <!-- /react-text -->
                      <!-- react-text: 1834 -->15 / 11 / 2009
                      <!-- /react-text -->
                      <br>
                      <!-- react-text: 1836 -->Operation SLIPPER
                      <!-- /react-text -->
                    </p>
                    <p>
                      <!-- react-text: 1838 -->12 / 11 / 2012
                      <!-- /react-text -->
                      <!-- react-text: 1839 -->to
                      <!-- /react-text -->
                      <!-- react-text: 1840 -->13 / 12 / 2012
                      <!-- /react-text -->
                      <br>
                      <!-- react-text: 1842 -->Operation RESOLUTE
                      <!-- /react-text -->
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </fieldset>

        </div>
      </div>
    </section>
    <a href="#" style="display: none">
      <div class="toast">
        <p role="alert">Profile updated</p>
      </div>
    </a>
  </main>
  </div>


  <%- include(partials+"footer") %>
  <script>
    $('.call-toast').click(function () {
      $('body,html').animate({
        scrollTop: 0
      }, 100);
      // hack to reset focus to top of page
      document.body.setAttribute('tabindex', '0');
      document.body.focus();
      document.body.removeAttribute('tabindex');
      $("#toast__message").show("slow");
    });

    $("#toast__message").click(function () {
      $("#toast__message").hide("slow");
    });

  </script>
</body>

</html>
