<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-authenticated") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row margin-above">
          <div class="col-sm-3 secondary-navigation">
            <%- include(partials+"profile-side-nav") %>
          </div>
          <div class="col-sm-9 margin-below--extra">
            <h1 class="margin-above--none">Service history</h1>

            <p>You have no known service history.</p>

            <div class="uikit-page-alerts uikit-page-alerts--info">
              <p>If you are a
                <b>current or former serving ADF member</b> and would like to access more MyService features (including the ability to manage your service history) please call us
                on
                <a href="tel:1800555254">1800 555 254</a>
              </p>
            </div>


          </div>
        </div>
    </section>
    <a href="#" style="display: none">
      <div class="toast">
        <p role="alert">Profile updated</p>
      </div>
    </a>
  </main>
  </div>


  <%- include(partials+"footer") %>
  <script>
    $('.call-toast').click(function () {
      $('body,html').animate({
        scrollTop: 0
      }, 100);
      // hack to reset focus to top of page
      document.body.setAttribute('tabindex', '0');
      document.body.focus();
      document.body.removeAttribute('tabindex');
      $("#toast__message").show("slow");
    });

    $("#toast__message").click(function () {
      $("#toast__message").hide("slow");
    });
  </script>
</body>

</html>