<%- include(templates+"header", {
  heading: "Claim for expenses",
  claim: "Travel expenses"
}) %>



          <%- include(partials+"components/form-partials/textarea", {
            label: "Include any comments you wish to have considered in relation to your claim",
            hint: "(optional)"
          }); %> 

     

      <%- include(forms+"pagination", {
        pagination: [
        {
          text: "Previous",
          link: "/auth/expenses/travel-list",
        },
        {
            text: "Delete claim",
            link: "#open-delete-claim-modal"
          },
          {
            text: "Save and exit",
            id: "save-exit-button",
            link: "/auth/claim?state=claim-saved-success",
            modifiers: ["floated"]
          },
          {
            text: "Save and next",
            id: "save-next-button",
            link: "/auth/expenses/review-submit",
            modifiers: ["primary", "floated"]
          }
        ]
      }) %>

    </div>


  <%- include(templates+"footer") %>
  <%- include("delete-claim-modal") %>

