<%- include(templates+"header", {
  heading: "Travel expense",
  claim: "Travel expense"
}) %>




  <h2 class="mys h2 margin-below--mid">Appointment details</h2>

  <%- include(partials+"components/form-partials/checkbox", {
    id: "use-previous",
    boxes: [
      "Use previous appointment details"
    ],
    modifiers: ["hidden"],
    customClass: ["feature-checkbox margin-below--large"]
  }); %>

  <div id="prepop" class="margin-below--large" hidden>
    <div class="kv-pair">
      <span class="kv-pair__key">Provider or hospital</span>
      <span class="kv-pair__value">John Smith<br>EUROA, VIC, 3666</span>
</div><div class="kv-pair">
  <span class="kv-pair__key">Date and time</span>
  <span class="kv-pair__value">03/11/2020 at 10:45 am</span>
</div>
<div class="kv-pair">
  <span class="kv-pair__key">Purpose</span>
  <span class="kv-pair__value">Treatment</span>
</div>
<div class="kv-pair">
  <span class="kv-pair__key">Condition</span>
  <span class="kv-pair__value">other</span>
</div>
</div>

<div id="manual">

  <%- include(partials+"components/form-partials/dropdown", {
      label: "Purpose of trip",
      id: "purpose",
      options: [
        "-- Select purpose --",
        "Treatment",
        "Hospital admission",
        "Hospital discharge",
        "To obtain medical evidence for the Veterans' Review Board",
        "To obtain medical evidence for the Specialist Medical Review Council",
        "To attend a hearing at the Veterans' Review Board",
        "To attend before the Administrative Appeals Tribunal",
        "Compensation claim",
        "Invalidity income support claim",
        "Other"
      ]
    }); %>

  <%- include(partials+"components/form-partials/text", {
      label: "What is the purpose:",
      id: "purpose-free",
      modifiers: ["hidden"]
    }); %>

  <%- include(partials+"components/form-partials/dropdown", {
      label: "Condition being treated/assessed",
      id: "condition",
      options: [
        "-- Select condition --",
        "Lumbar spondylosis",
        "Osteoarthritis",
        "Ankle sprain",
        "Lumbar strain",
        "Other (only show for gold card)"
      ],
      modifiers: [ "hintNewLine"]
    }); %>

  <%- include(partials+"components/form-partials/date-picker", {
      label: "Appointment date",
      id: "date"
    }); %>
  <%- include(partials+"components/form-partials/time-picker", {
      label: "Appointment time",
      id: "time"
    }); %>

  <div id="appointment-details-content">
    <div id="going-to">
      <%- include(partials+"components/form-partials/dropdown", {
    label: "Medical provider",
    id: "provider",
    options: [
        {
          text: "-- Select provider --"
        },
        { 
          text: "Doctor Karl Practice 1245 Dax Crossing Apt. Melrose place, NSW 2897"
        },
        {
          text: "Capital Hospital / Dr Jane Smith 1245 Dax Crossing Apt. Melrose place, NSW 2897"
        },
        {
          text: "Dr Al Appleton, 334 Heathcliff Rd, Melrose place, NSW 2045"
        },
        {
          text: "Dr Geneview Shey, Mapletree Practice, L2 145 Trent St, Salsbury NSW 2034"
        },
        {
          text: "<strong>Enter new provider...</strong>"
        }
      ],
      customClass: ["margin-below--small"]
    }); %>
    </div>

    <div id="provider-details" class="mys field-group-box margin-below--large margin-above--small" hidden>
      <h3 class="margin-above--none">New provider details</h3>
      <%- include(partials+"components/form-partials/text", {
        label: "Name of doctor/medical practice",
        modifiers: ["hintNewLine"]
      }); %>
      <%- include(partials+"components/form-partials/dropdown", {
          label: "Type of practitioner",
          id: "practitioner-type",
          options: [
            "-- Select type --",
            "General practitioner",
            "Cardiologist",   
            "Dentist",
            "Exercise Physiologist",
            "Ophthalmologist",   
            "Optometrist",
            "Orthopaedic surgeon",
            "Physiotherapist",
            "Podiatrist",
            "Psychiatrist", 
            "Psychologist",
            "Radiologist/Xray",
            "Other"   
          ]
        }); %>
      <%- include(partials+"components/form-partials/text", {
          label: "Enter type of practitioner:",
          id: "practitioner-free",
          modifiers: ["hidden"]
        }); %>
    
      <%- include(partials+"components/form-partials/text", {
      label: "Phone/mobile number",
      hint: 'Include area code where applicable (for example, "03" for Victoria).',
      modifiers: ["hintNewLine"]
    }); %>
    
      <%- include(partials+"components/form-partials/text", {
      label: "Suburb or town",
      modifiers: ["inputFullLength"]
    }); %>
      <%- include(partials+"components/form-partials/text", {
      label: "Postcode"
    }); %>
      <%- include(forms+"dropdown", {
      label: "State or territory",
      options: [
        "-- Select state or territory --",
        {
          text: "Australian Capital Territory",
          value: "act"
        },
        {
          text: "New South Wales",
          value: "nsw"
        },
        {
          text: "Northern Territory",
          value: "nt"
        },
        {
          text: "Queensland",
          value: "qld"
        },
        {
          text: "South Australia",
          value: "sa"
        },
        {
          text: "Tasmania",
          value: "tas"
        },
        {
          text: "Victoria",
          value: "vic"
        },
        {
          text: "Western Australia",
          value: "wa"
        }
      ],
      customClass: ["margin-below--none"]
    }) %>
    </div>

</div>


</div>

<div id="expense-details" class="margin-above--large">
  <h2 class="mys h2 margin-below--mid">Expense details</h2>
  <%- include(partials+"components/form-partials/dropdown", {
    label: "Cost type",
options: [
  "-- Select type --",
  "Private vehicle - kms",
  "Public transport",
  "Taxi and rideshare",
  "Community transport",
  "Air",
  "Road tolls",
  "Parking fees",
  "Accommodation"
],
id: "cost-type"
}); %>

  <%- include(partials+"components/form-partials/text", {
label: "Kilometres travelled",
hint: "(enter round trip total)",
id: "kms",
afterText: "kms",
modifiers: ["hidden", "inputShort" ]
}); %>

  <%- include(partials+"components/form-partials/notice", {
  message: "Road tolls are not reimbursed for your selected condition.",
  type: "warning",
  id: ["tolls-message"],
  modifiers: ["hidden"],
  customClass: ["margin-above--none"]
}); %>

  <%- include(partials+"components/form-partials/text", {
    label: "Amount",
id: "dollars",
modifiers: ["hidden","dollarSign", "inputShort"]
}); %>

  <%- include(partials+"components/form-partials/yes_no", {
label: "Did DVA arrange/pay for this travel?",
modifiers: ["hintNewLine", "hidden"],
id: "bcwd"
}); %>

  <%- include(partials+"components/form-partials/yes_no", {
  label: "Did you travel with a medically required attendant?",
  id: "attendant-1",
  modifiers: ["hidden"]
  }); %>

</div>

<div id="accommodation-questions" hidden>

  <%- include(partials+"components/form-partials/dropdown", {
label: "Type of accommodation:",
options: [
  "--Select type--",
  "Commercial",
  "Private",
  "Subsidised"
],
id: "accommodation"
}); %>

  <%- include(partials+"components/form-partials/text", {
label: "Length of stay",
id: "accomm-nights",
afterText: "nights",
modifiers: ["inputShort"]
}); %>

  <div id="mrca-accomm" hidden>

    <%- include(partials+"components/form-partials/text", {
    label: "Total accommodation cost",
    id: "total-accomm",
    modifiers: ["dollarSign","inputShort"]
    }); %>

    <%- include(partials+"components/form-partials/yes_no", {
  label: "Did you pay for meals as a separate cost?",
  yes_toggle: "#meals-container"
  }); %>

    <%- include(partials+"components/form-partials/text", {
      label: "Total cost of meals",
      id: "meals",
      modifiers: ["dollarSign","inputShort","hidden"]
      }); %>

  </div>

  <%- include(partials+"components/form-partials/yes_no", {
label: "Did you travel with a medically required attendant?",
yes_toggle: "#attendant-container"
}); %>

  <%- include(partials+"components/form-partials/yes_no", {
label: "Did you pay for a separate room when travelling with your medically required attendant?",
id: "attendant",
modifiers: ["hidden"]
}); %>

</div>

<div id="evidence" class="margin-below--extra" hidden>
  <h2 class="mys h2">Supporting evidence<span class="evidence-optional"> (Optional)</span></h2>
  <p>Attach a tax invoice or other evidence of the expense.</p>
  <div class="pt-upload-other-docs">
    <div class="form-group">
      <table class="table-responsive file-upload-default">
        <tr id="trData1" class="file-upload-default__row">
          <td>
            <span class="file-upload-default__document">
              <span class="fal fa-file-upload fa-2x"></span>&nbsp;&nbsp;Document <a
                class="file-upload-default__file-name"></a>
            </span>
          </td>
          <td class="right">
            <div>
              <input type="file" class="file-upload-default__input" id="file-0">
              <label class="file-upload-default__label" for="file-0">

                <span id="document-type-button" class="file-upload-default__button">
                  <span class="uikit-btn small">Upload</span>
                </span>
              </label>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <%- include(partials+"components/form-partials/notice", {
    message: "You must keep your receipts (over $30) for four months from the date your claim is submitted.<span class='evidence-optional'> Choosing to supply evidence to support your claim will help us with processing.</span>",
  }); %>
</div>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      id: "reset-form",
      link: "/auth/expenses/travel-list"
    },
    {
      text: "Add",
      link: "/auth/expenses/travel-list?expenses=one",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(templates+"footer") %>
<%- include("travel-expense-ss") %>

<script>

  function stateSwitcher() {
    updateLayout();
  }

  function updateLayout() {
    var mySelection = $("#cost-type").find("option:selected").text().trim();
    $("#dollars-container").hide();
    $("#kms-container").hide();
    $("#accommodation-questions").hide();
    $(".evidence-optional").hide();
    $("#evidence").hide();
    $("#bcwd-container").hide();
    $("#tolls-message-container").hide();
    $("#attendant-1-container").hide();
    switch (mySelection) {
      case "Private vehicle - kms":
        $("#kms-container").show();
        $("#attendant-1-container").show();
        break;
      case "Public transport":
        $("#dollars-container").show();
        if (act == 'vea') $(".evidence-optional").show();
        $("#attendant-1-container").show();
        $("#evidence").show();
        break;
      case "Taxi and rideshare":
        $("#dollars-container").show();
        $("#bcwd-container").show();
        $("#attendant-1-container").show();
        if (act == 'vea') $(".evidence-optional").show();
        $("#evidence").show();
        break;
      case "Community transport":
        $("#dollars-container").show();
        if (act == 'vea') $(".evidence-optional").show();
        $("#attendant-1-container").show();
        $("#evidence").show();
        break;
      case "Air":
        $("#dollars-container").show();
        $("#bcwd-container").show();
        $("#attendant-1-container").show();
        if (act == 'vea') $(".evidence-optional").show();
        $("#evidence").show();
        break;
      case "Road tolls":
        if (act == "mrcadrca") {
          $("#tolls-message-container").show();
          $("#dollars-container").hide();
        } else {
          $("#dollars-container").show();
        }
        break;
      case "Parking fees":
        $("#dollars-container").show();
        if (act == 'vea') $(".evidence-optional").show();
        $("#evidence").show();
        break;
      case "Accommodation":
        $("#accommodation-questions").show("fast");
        if (act != 'vea') {
          $("#mrca-accomm").show();
          
        } else {
          $("#mrca-accomm").hide();
          $(".evidence-optional").show();
        }
        $("#evidence").show();
        break;
      default:
        break;
    }
  }

  $('#purpose-container').on('change', function () {
    $("#purpose-free-container").hide();
    $("#vrb-location-container").hide();
    $("#aat-location-container").hide();
    $("#appointment-details-content").hide();
    var mySelect = $("#purpose-container option:selected").text().trim().substr(0, 15).toLocaleLowerCase();
    switch (mySelect) {
      case "other":
        $("#purpose-free-container").show();
        $("#appointment-details-content").show();
        break;
      case "to attend a hea":
        $("#vrb-location-container").show();
        break;
      case "to attend befor":
        $("#aat-location-container").show();
        break;
      default:
      $("#appointment-details-content").show();
        break;
    }

  });

  $('#practitioner-type-container').on('change', function () {
    var mySelect = $("#practitioner-type-container option:selected").text().trim();
    if (mySelect == "Other") {
      $("#practitioner-free-container").show();
    } else {
      $("#practitioner-free-container").hide()
    }
  });

  /* Use previous */

  // $("#use-previous").on("click", function () {
  //   usePrevious();
  // })

  // $('input[name=use-previous]').change(function () {
  //   var myStatus = $("#use-previous-1").is(":checked");
  //   if (myStatus) {
  //     usePrevious()
  //   } else {
  //     clearPrevious();
  //   }
  // });

  $('input[name=use-previous]').change(function () {
    var myStatus = $("#use-previous-1").is(":checked");
    if (myStatus) {
      usePrevious();
      // $("#prepop").show();
      // $("#manual").hide();
    } else {
      clearPrevious();
      // $("#prepop").hide();
      // $("#manual").show();
    }
  });

  function usePrevious() {
    $('.date-picker').val("2020-08-26");
    $('.time-selector--hours').val("2");
    $('.time-selector--minutes').val("45");
    $('.time-selector--ampm').val("pm");
    $('#provider>option:eq(3)').prop('selected', true);
    $('#condition').val('osteoarthritis').trigger('change');
    $('#purpose').val('treatment').trigger('change');
    $("html, body").animate({
      scrollTop: $("#expense-details").offset().top
    },
      200
    );
  }
  function clearPrevious() {
    $('.date-picker').val("dd / mm / yyyy");
    $('.time-selector--hours').val("12");
    $('.time-selector--minutes').val("00");
    $('.time-selector--ampm').val("pm");
    $('#purpose').val('selectpurpose').trigger('change');
    $('#condition').val('selectcondition').trigger('change');
    $('#provider').val('selectprovider').trigger('change');
    $('#cost-type').val('selecttype').trigger('change');
  }

  $(document).ready(function () {
    $('#provider').on('change', function () {
      var mySelect = $("#provider option:selected").text().trim();
      if (mySelect == "Enter new provider...") {
        $("#provider-details").show();
      } else {
        $("#provider-details").hide()
      }
    });
    $('#cost-type').change(function () {
      updateLayout();
    });
    // $('#accommodation').change(function () {
    //   var mySelection = $(this).find("option:selected").text().trim();
    //   console.log(mySelection)
    //   switch (mySelection) {
    //     case "Commercial":
    //       $("#accommodation-questions").show();
    //       break;
    //     default:
    //       break;
    //   }
    // });

  });
</script>