<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claims | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>


<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>

  <main>
    <div class="container margin-above margin-below--extra">
      <!-- <div class="row"> -->
        <!-- <div class="col-md-offset-2 col-md-8"> -->
          <div class="back-button">
            <a href="/auth"><i class="fal fa-arrow-left fa-fw"></i>Back to home</a>
          </div>
          <h1 class="margin-above--none margin-below--mid">Payments</h1>
          <div class="horizontal-card-section">
            <div class="card card--horizontal">
              <div class="card-horizontal--40-percent">
                <p><strong>Service pension & allowances</strong></p>
                <p>29 Aug 2019</p>
              </div>
              <div class="card-horizontal--40-percent">
                <p><strong>Direct credit </strong></p>
                <p>BWA 306139, account 0161681</p>
              </div>
              <div class="card-horizontal__buttons card-horizontal--20-percent">
                $383.28
              </div>
            </div>
            <div class="card card--horizontal">
              <div class="card-horizontal--40-percent">
                <p><strong>SRCA incapacity payment</strong></p>
                <p>01 Jan 2019</p>
              </div>
              <div class="card-horizontal--40-percent">
                <p><strong>Direct credit </strong></p>
                <p>Account information not available</p>
              </div>
              <div class="card-horizontal__buttons card-horizontal--20-percent">
                $5.00
              </div>
            </div>
            <div class="card card--horizontal">
              <div class="card-horizontal--40-percent">
                <p><strong>Service pension & allowances</strong></p>
                <p>01 Feb 2019</p>
              </div>
              <div class="card-horizontal--40-percent">
                <p><strong>Schedule only</strong></p>
                <p>Payment details available upon request</p>
              </div>
              <div class="card-horizontal__buttons card-horizontal--20-percent">$381.91</div>
            </div>
            <div class="card card--horizontal">
              <div class="card-horizontal--40-percent">
                <p><strong>Income support supplement & allowances</strong></p>
                <p>14 Jan 2019</p>
              </div>
              <div class="card-horizontal--40-percent">
                <p><strong>Direct credit</strong></p>
                <p>BWA 306139, account 0161681</p>
              </div>
              <div class="card-horizontal__buttons card-horizontal--20-percent">$383.51</div>
            </div>
            <div class="card card--horizontal">
              <div class="card-horizontal--40-percent">
                <p><strong>Military rehabilitation & compensation</strong></p>
                <p>05 Jan 2019</p>
              </div>
              <div class="card-horizontal--40-percent">
                <p><strong>Direct credit</strong></p>
                <p>CBA 066058, account 10082468</p>
              </div>
              <div class="card-horizontal__buttons card-horizontal--20-percent">($6.59)</div>
            </div>
            <div class="card card--horizontal">
              <div class="card-horizontal--40-percent">
                <p><strong>Service pension & allowances</strong></p>
                <p>05 Jan 2019</p>
              </div>
              <div class="card-horizontal--40-percent">
                <p><strong>Direct credit</strong></p>
                <p>CBA 066058, account 10082468</p>
              </div>
              <div class="card-horizontal__buttons card-horizontal--20-percent">$390.61</div>
            </div>
            <div class="card card--horizontal">
              <div class="card-horizontal--40-percent">
                <p><strong>Service pension & allowances</strong></p>
                <p>13 Dec 2018</p>
              </div>
              <div class="card-horizontal--40-percent">
                <p><strong>Direct credit</strong></p>
                <p>CBA 066058, account 10082468</p>
              </div>
              <div class="card-horizontal__buttons card-horizontal--20-percent">$390.61</div>
            </div>
            <div class="card card--horizontal">
              <div class="card-horizontal--40-percent">
                <p><strong>Age pension & allowances</strong></p>
                <p>13 Dec 2018</p>
              </div>
              <div class="card-horizontal--40-percent">
                <p><strong>Direct credit</strong></p>
                <p>CBA 066058, account 10082468</p>
              </div>
              <div class="card-horizontal__buttons card-horizontal--20-percent">$415.17</div>
            </div>
            
           
          </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </main>

  <%- include(partials+"content/modals/claims-dhoas-start-modal") %>
  <%- include(partials+"components/layout/footer") %>
</body>

</html>