<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claims | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-authenticated") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <section class="payments-page">
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below" style="background-color: #eee;">
        <div class="container margin-above-none">
          <div class="col-md-12 margin-below--extra">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="margin-below--small margin-above--none container">
                    <span class="heading">Payments</span>
                  </h1>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12 header-row">
                    <div class="col-sm-2 header-text">
                      <h4>Date</h4>
                    </div>
                    <div class="col-sm-4 header-text">
                      <h4>Payment type</h4>
                    </div>
                    <div class="col-sm-5 header-text">
                      <h4>Account</h4>
                    </div>
                    <div class="col-sm-1 header-number">
                      <h4>Amount</h4>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-sm-2 data-text">
                      <p>02/02/2019</p>
                    </div>
                    <div class="col-sm-4 data-text">
                      <p>Service pension &amp; allowances</p>
                    </div>
                    <div class="col-sm-5 data-text">
                      <p>Direct credit - BWA 306139, account 0161681</p>
                    </div>
                    <div class="col-sm-1 data-number">
                      <p>$383.28</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-sm-2 data-text">
                      <p>01/02/2019</p>
                    </div>
                    <div class="col-sm-4 data-text">
                      <p>SRCA incapacity payment</p>
                    </div>
                    <div class="col-sm-5 data-text">
                      <p>Direct credit - account information not available</p>
                    </div>
                    <div class="col-sm-1 data-number">
                      <p>$5.00</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-sm-2 data-text">
                      <p>01/02/2019</p>
                    </div>
                    <div class="col-sm-4 data-text">
                      <p>Service pension &amp; allowances</p>
                    </div>
                    <div class="col-sm-5 data-text">
                      <p>Schedule only - payment details available upon request</p>
                    </div>
                    <div class="col-sm-1 data-number">
                      <p>$381.91</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-sm-2 data-text">
                      <p>14/01/2019</p>
                    </div>
                    <div class="col-sm-4 data-text">
                      <p>Income support supplement &amp; allowances</p>
                    </div>
                    <div class="col-sm-5 data-text">
                      <p>Direct credit - BWA 306139, account 0161681</p>
                    </div>
                    <div class="col-sm-1 data-number">
                      <p>$383.51</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-sm-2 data-text">
                      <p>05/01/2019</p>
                    </div>
                    <div class="col-sm-4 data-text">
                      <p>Military rehabilitation &amp; compensation</p>
                    </div>
                    <div class="col-sm-5 data-text">
                      <p>Direct credit - CBA 066058, account 10082468</p>
                    </div>
                    <div class="col-sm-1 data-number">
                      <p>-$6.59</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-sm-2 data-text">
                      <p>05/01/2019</p>
                    </div>
                    <div class="col-sm-4 data-text">
                      <p>Service pension &amp; allowances</p>
                    </div>
                    <div class="col-sm-5 data-text">
                      <p>Direct credit - CBA 066058, account 10082468</p>
                    </div>
                    <div class="col-sm-1 data-number">
                      <p>$390.61</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-sm-2 data-text">
                      <p>13/12/2018</p>
                    </div>
                    <div class="col-sm-4 data-text">
                      <p>Service pension &amp; allowances</p>
                    </div>
                    <div class="col-sm-5 data-text">
                      <p>Direct credit - CBA 066058, account 10082468</p>
                    </div>
                    <div class="col-sm-1 data-number">
                      <p>$390.61</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-sm-2 data-text">
                      <p>13/12/2018</p>
                    </div>
                    <div class="col-sm-4 data-text">
                      <p>Age pension &amp; allowances</p>
                    </div>
                    <div class="col-sm-5 data-text">
                      <p>Direct credit - CBA 066058, account 10082468</p>
                    </div>
                    <div class="col-sm-1 data-number">
                      <p>$415.17</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </main>
  <%- include(partials+"footer") %>
</body>

</html>