<%#- include(templates+"header", {
  claim: "Standalone needs"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Change in circumstances - Permanent Impairment | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage"></div>
        <p id="percentage_value"></p>
      </div>

      <h1>Permanent Impairment Compensation</h1>

      <div class="form-group">

        <div class="tip--wrapper line-break-after">
          <p class="text-fullwidth">If you have been left with ongoing impairment you may be entitled to a compensation payment. We call this <a
              href="https://www.dva.gov.au/factsheet-mrc07-permanent-impairment-compensation-payments" rel="external"
              target="_black">permanent&nbsp;impairment&nbsp;compensation</a>.</p>
          <p>You may be eligible if you meet all of the following:</p>
          <ul style="margin-bottom:20px;">
            <li>after treatment you still have an impairment or lifestyle rescriction</li>
            <li>the impairment or restriction is likely to continue indefinitely</li>
            <li>your condition has stabilised</li>
          </ul>
          <p class="text-fullwidth">To apply, you need to have at least one medical assessment to help us work out your level of impairment or lifestyle restriction.</p>
          <p class="text-fullwidth no-space-after">You will need more than one medical assessment if you have several conditions or injuries.</p>
        </div>

        <fieldset>
          <legend class="legend-label">Would you like to apply for permanent impairment compensation?<span class="display-block hint">This is not your only chance. You can apply at
              any
              time after liability is accepted.</span></legend>
          <div class="radio-toggle">
            <label class="on label-left" for="pi-yes"><input id="pi-yes" type="radio" name="pi"><span>Yes</span></label>
            <label class="off label-right" for="pi-no"><input id="pi-no" type="radio" name="pi"><span>Not now</span></label>
          </div>

          <div class="form-group pi-yes" style="display:none;">
            <p>We will get in touch with you about the next steps.</p>
          </div>

          <div class="form-group pi-no" style="display:none;">
            <p>You can come back at any time to apply for permanent impairment compensation.</p>
          </div>

        </fieldset>
      </div>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/standalone-needs/needs1'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-needsmodal'">Cancel</button>
        <button class="uikit-btn floated" onclick="window.location.href = '/auth/standalone-needs/needs-success'">Submit Needs Assessment</button>
      </div>

      <%- include(partials+"content/modals/claims-cancelneeds-modal") %>

    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "90%";
    document.getElementById("percentage_value").textContent = "90%";

    $("#not-listed").click(function () {
      $(".not-listed-above").toggle("fast");
      $("#new-item").focus();
    });

    // PI messages

    $("#pi-yes").click(function () {
      $(".pi-no").hide();
      $(".pi-yes").show("fast");
    });
    $("#pi-no").click(function () {
      $(".pi-yes").hide();
      $(".pi-no").show("fast");
    });
  </script>

</body>

</html>