<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Change in circumstances - Success | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>

    <div class="container" id="main-content">

      <h1>
        <img src="/docs/images/ico-tick-green.svg" alt="Success tick - icon">Thank you</h1>
      <h2>We have received your message about your change in circumstances.
        <span class="display-block">We will contact you within [timeframe tbc] using the details below to discuss how we can help you.</span>
      </h2>

      <!--					<div class="breakout-compact success-contact-details">-->
      <div class="tip--wrapper tip-warning">
        <h3>Do you need to update your contact details?</h3>
        <p>Home phone number:
          <b>(03) 6123 4567</b>
        </p>
        <p>Mobile phone number:
          <b>0412 345 678</b>
        </p>
        <p>Email:
          <b>user@emailaccount.com</b>
        </p>
        <button class="uikit-btn small uikit-btn--tertiary">Update my contact details</button>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-4 col-md-2">
          <img src="/docs/images/ico-feedback.svg" width="180" height="180" style="margin-bottom:1em;" alt="feedback - icon">
        </div>
        <div class="col-sm-8 col-md-10">
          <h2 style="margin-top:0px;">Tell us what you think</h2>
          <div class="form-group">
            <p>This is a new feature of MyService, intended to provide you access to services when you really need them. Your feedback will help us improve the process for all
              veterans.</p>
            <p class="uiToolKitCheckBox">
              <label class="uikit-control-input">
                <input class="uikit-control-input__input" type="checkbox" id="feedback-checked" name="feedback-checked">
                <span class="uikit-control-input__text">
                  <b>I'm happy to be contacted by DVA about my experience using this new feature</b>
                </span>
              </label>
            </p>
            <div id="feedback-submit" style="display:none;">
              <button class="uikit-btn" onclick="window.location.href = ''" title="Submit">Submit</button>
            </div>
          </div>
        </div>
      </div>


      <!--<br>
			<h3>24hr counselling and support services</h3>
			
			<div class="support-box">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3"><img src="/docs/images/logo-vvcs.png"><br><strong>1800&nbsp;011&nbsp;046</strong><br><a href="http://www.vvcs.gov.au/">Open Arms – Veterans and Families Counselling</a></div>
				<div class="col-xs-12 col-sm-6 col-md-3"><img src="/docs/images/logo-defence.png"><br><strong>1800&nbsp;628&nbsp;036</strong><br><a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp">ADF Mental Health All Hours Support Line</a></div>
				<div class="col-xs-12 col-sm-6 col-md-3"><img src="/docs/images/logo-lifeline.png"><br><strong>13&nbsp;11&nbsp;14</strong><br><a href="https://www.lifeline.org.au/">Lifeline</a></div>
				<div class="col-xs-12 col-sm-6 col-md-3"><img src="/docs/images/logo-1800respect.png"><br><strong>1800&nbsp;737&nbsp;732</strong><br><a href="https://www.1800respect.org.au">National Sexual Assault, Domestic and Family Violence Counselling Service</a></div>
			</div>  
			</div>-->

      <div class="pagination">

        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'" title="Go to the MyService home page">Back to home</button>
      </div>
    </div>

    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    $("#feedback-checked").change(function () {
      $("#feedback-submit").toggle("fast");
    });
  </script>

</body>

</html>