<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Forgot password - enter code | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <%- include(partials+"header-version") %>
  <%- include(partials+"header-register") %>
  <%- include(partials+"header-nom-rep") %>
  <main>

    <div class="container" id="main-content">
      <%- include(partials+"forgot-password-step2") %>
    </div>
  </main>
  <%- include(partials+"footer") %>
</body>

</html>