<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-authenticated-vet-card") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <div class="authenticated-home section-feature section-feature--bg">
      <section>
        <div class="container" id="main-content">
          <h1>
            <span class="heading" style="font-size:20px; border-bottom:2px solid orange;">Welcome <span class="pt-current-user-name-full"></span></span>
          </h1>
          <br>
        </div>
      </section>

      <div class="container">
        <section class="widget">
          <div class="widget-header">
            <h2>
              <span class="widget-header__title">
                <img src="../../../docs/images/ico-claims.svg" alt="">Claim activity
              </span>
              <span class="widget-actions floated">
                <button class="uikit-btn small widget-btn" onclick="window.location.href = '/auth/claim'">Make a claim</button>
              </span>
            </h2>
          </div>
          <div class="row widget-content">
            <div class="col-md-12 widget--noclaims">
              <p id="no-claims" class="text-fullwidth">Making a claim is the first step to accessing entitlements.
                <a href="/auth/claim/claim">Add a claim</a>
              </p>

              <table id="claims" class="table-claims table-responsive">
                <thead>
                  <tr>
                    <th class="widget-activity">Most recent claims</th>
                    <th class="widget-actions">Actions</th>
                  </tr>
                </thead>
                <tr id="qs-claim">
                  <td>
                    <p class="status-icon status-approved">
                      Qualifying Service
                      <br />
                      <span>Approved
                        <em>&ndash; 3 May 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'qs-claimdetail'">View</button>
                  </td>
                </tr>
                <tr id="incap-claim">
                  <td>
                    <p class="status-icon status-incomplete">
                      Incapacity Payments
                      <br />
                      <span>Incomplete
                        <!-- <em>&ndash; Action Required</em> -->
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/incap-resume'">Resume</button>
                  </td>
                </tr>
                <tr id="incap-claim-submitted">
                  <td>
                    <p class="status-icon status-submitted">
                      Incapacity Payments
                      <br />
                      <span>Submitted
                        <em>&ndash; 27 November 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/incap-summary'">View</button>
                  </td>
                </tr>
                <tr id="lsq-claim">
                  <td>
                    <p class="status-icon status-incomplete">
                      Permanent Impairment Lifestyle Assessment
                      <br />
                      <span>Incomplete
                        <em>&ndash; 3 May 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'pi-lsq-start'">Resume</button>
                  </td>
                </tr>
                <tr id="lsq-claim-submitted">
                  <td>
                    <p class="status-icon status-submitted">
                      Permanent Impairment Lifestyle Assessment
                      <br />
                      <span>Submitted
                        <em>&ndash; 3 May 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewPI-LSQ-detail'">View</button>
                  </td>
                </tr>
                <tr id="nlhc-claim-approved">
                  <td>
                    <p class="status-icon status-approved">
                      Mental Health Treatment (NLHC)
                      <br />
                      <span>Approved
                        <em>&ndash; 3 May 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button>
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </section>
      </div>
    </div>
    <div>
      <div class="container margin-below--extra">

        <h2 class="margin-above margin-below--none ss-align--center">
          <span class="font-weight-heavy">What would you like to&nbsp;do?</span>
        </h2>
        <div class="flex-container flex-container--wrap hover-container">

          <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
            <a href="/auth/claim/the-covenant-explained-card">
              <figure>
                <img class="card__image" src="../../../docs/images/vrp02.png" alt="">
              </figure>
              <h2 class="card__title">
                <span>Request the Veteran Recognition</span>
              </h2>
            </a>
            <p class="card__supporting-text">Request the Covenant Oath, Lapel Pin and Veteran Card as recognition of your service.</p>
          </div>

          <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
            <a href="/auth/claim/mental-health-eligibility">
              <figure>
                <img class="card__image" src="../../../docs/images/ico-db-treatment.svg" alt="">
              </figure>
              <h2 class="card__title">
                <span>Access mental health treatment</span>
              </h2>
            </a>
            <p class="card__supporting-text">Get immediate mental health treatment without the need to&nbsp;claim.</p>
          </div>

          <div class="flex-item flex-item--centred card card--medium hover-element">
            <a href="/auth/claim/profile">
              <figure>
                <img class="card__image" src="../../../docs/images/ico-db-profile.svg" alt="">
              </figure>
              <h2 class="card__title">
                <span>Review your profile</span>
              </h2>
            </a>
            <p class="card__supporting-text">Keep your profile up to date so we can help&nbsp;you.</p>
          </div>

        </div>

      </div>
  </main>

  <%- include(partials+"footer") %>

</body>
<script>
  $(document).ready(function () {
    localStorage.clear();

    var user = getUrlParameter('user');
    if (user) {
      localStorage.setItem('user', user);
    }

    $("#claims").hide();
    $("#qs-claim").hide();
    $("#nlhc-claim-approved").hide();
    $("#incap-claim").hide();
    $("#incap-claim-submitted").hide();
    $("#lsq-claim").hide();
    $("#lsq-claim-submitted").hide();

    if (localStorage.getItem('user') === 'QSuser') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#nlhc-claim-approved").hide();
      $("#incap-claim").hide();
      $("#incap-claim-submitted").hide();
      $("#lsq-claim").hide();
      $("#lsq-claim-submitted").hide();
      $("#qs-claim").show();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    } else if (localStorage.getItem('user') === 'LSQuser') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#qs-claim").hide();
      $("#nlhc-claim-approved").hide();
      $("#lsq-claim-submitted").hide();
      $("#lsq-claim").show();
      $("#incap-claim").hide();
      $("#incap-claim-submitted").hide();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    } else if (localStorage.getItem('user') === 'LSQuser-submitted') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#qs-claim").hide();
      $("#nlhc-claim-approved").hide();
      $("#incap-claim").hide();
      $("#incap-claim-submitted").hide();
      $("#lsq-claim").hide();
      $("#lsq-claim-submitted").show();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    } else if (localStorage.getItem('user') === 'INCAPuser-incomplete') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#qs-claim").hide();
      $("#nlhc-claim-approved").hide();
      $("#incap-claim").show();
      $("#incap-claim-submitted").hide();
      $("#lsq-claim").hide();
      $("#lsq-claim-submitted").hide();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    } else if (localStorage.getItem('user') === 'INCAPuser-submitted') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#qs-claim").hide();
      $("#nlhc-claim-approved").hide();
      $("#incap-claim").hide();
      $("#incap-claim-submitted").show();
      $("#lsq-claim").hide();
      $("#lsq-claim-submitted").hide();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    } else if (localStorage.getItem('user') === 'NLHCuser-approved') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#qs-claim").hide();
      $("#incap-claim").hide();
      $("#incap-claim-submitted").hide();
      $("#lsq-claim").hide();
      $("#lsq-claim-submitted").hide();
      $("#nlhc-claim-approved").show();
      $("#nlhc-access").hide();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    } else {
      $("#no-claims").show();
      $("#claims").hide();
      $("#qs-claim").hide();
    }
  });

  $(document).ready(function () {
    const hoverContainer = document.getElementsByClassName('hover-container')[0]
    const hoverElements = document.getElementsByClassName('hover-element')

    Array.prototype.forEach.call(hoverElements, hoverElement => {
      hoverElement.addEventListener('mouseover', (event) => {
        hoverElement.classList.add('hover-element--active')
      })

      hoverElement.addEventListener('mouseout', (event) => {
        hoverElement.classList.remove('hover-element--active')
      })
    })

    hoverContainer.addEventListener('mouseover', (event) => {
      if (event.target !== hoverContainer) {
        hoverContainer.classList.add('hover-container--faded')
      }
    })

    hoverContainer.addEventListener('mouseout', (event) => {
      hoverContainer.classList.remove('hover-container--faded')
    })
  });
</script>

</html>