<%#- include(templates+"header", {
  claim: "Education Assistance",
  heading: "Education Assistance"
})  %>
<div id="veteran-notification" class="parent-veteran uikit-page-alerts" role="alert">
  <p>As part of your claim, you may be asked to provide the following supporting documents:</p>
  <ul>
    <li>Proof of your relationship to the student</li>
    <li>Proof of student's enrolment</li>
  </ul>
  <p>Further documents may be required depending on your circumstances</p>
</div>

<%- include(partials+"components/form-partials/date", {
    label: "Student's date of birth",
    customClass: "parent-veteran",
    id: "vet-students-dob"
  }); %>

<div id="vet-under4-notification" class="parent-veteran uikit-page-alerts uikit-page-alerts--error" role="alert">
  <p>The student must be at least 4 years old to claim for education assistance.</p>
</div>

<div id="vet-over18-notification" class="parent-veteran uikit-page-alerts uikit-page-alerts--error" role="alert">
  <p>Students 18 years old and above need to complete the claim themselves.</p>
</div>

<div id="vet-over26-notification" class="parent-veteran uikit-page-alerts uikit-page-alerts--error" role="alert">
  <p>Students over the age of 25 may not be eligible for education assistance. For further information please call DVA on <a href="">1800 555 254</a>. </p>
</div>

<%- include(partials+"components/form-partials/dropdown", {
  label: "The student is my",
  id: "vet-student-dropdown",
  options: [
    "select an option...",
    "child",
    "sister",
    "brother",
    "nephew"
  ]
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Do you receive Family Tax Benefit for the student?",
  id: "vet-family-tax-benefit"
}); %>

<div class="uikit-page-alerts uikit-page-alerts--warning" role="alert" id="vet-ftb-alert" hidden>
  <span>You cannot claim both education assistance and Family Tax Benefit (FTB) payments for a student that is over 16. Based on your circumstances it may be better to choose FTB
    over the DVA benefit or vice versa. For more information on these options, contact Education Assistance on <a href="">1800 555 254</a>.</span>
</div>

<%- include(partials+"components/form-partials/text", {
  label: "What is your Centrelink Customer Reference Number?",
  id: "vet-crn-number"
}); %>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Do you have shared care arrangements in place for this student?",
  customClass: "parent-veteran",
  id: "vet-shared-care-arrangement"
}); %>

<div id="about-other-parent-guardian">

  <%- include(partials+"components/form-partials/text", {
      label: "What percentage of care do you have for the student?",
      id: "percentage-of-care2",
      hint: "%"
  }); %>

  <h3 class="other-parent">About the other parent/guardian</h3>
  <%- include(partials+"components/form-partials/text", {
        label: "Given name",
        hint: "(first name)",
        customClass: "parent-veteran other-parent"
      }); %>
  <%- include(partials+"components/form-partials/text", {
        label: "Surname",
        hint: "(last name)",
        customClass: "parent-veteran other-parent"
      }); %>
  <div class="form-group phone-number other-parent student-parent-details">
    <label class="uikit-text-input__label" for="phoneHome">Home phone number
      <span class="hint">(optional)</span>
      <span class="hint display-block">Please include your area code (for example, '03' for Victoria)</span>
      <select type="phone" class="uikit-text-input uikit-text-input--select-inline" name="countryCode-home" id="countryCode-home">
        <%- include(partials+"content/phone-areacode") %>
      </select>
      <input class="uikit-text-input input-half" name="phoneHome" id="phoneHome" type="phone" value="">
    </label>
  </div>
  <div class="form-group phone-number other-parent student-parent-details">
    <label class="uikit-text-input__label" for="phoneHome">Mobile phone number
      <span class="hint">(optional)</span>
      <span class="hint display-block">Please include your area code (for example, '03' for Victoria)</span>
      <select type="phone" class="uikit-text-input uikit-text-input--select-inline" name="countryCode-home" id="countryCode-home">
        <%- include(partials+"content/phone-areacode") %>
      </select>
      <input class="uikit-text-input input-half" name="phoneHome" id="phoneHome" type="phone" value="">
    </label>
  </div>
  <%- include(partials+"components/form-partials/text", {
            label: "Email address",
            hint: "(if known)",
            customClass: "email-address other-parent student-parent-details"
          }); %>
</div>

<%- include(partials+"components/form-partials/yes_no", {
    label: "Is the student employed full time?",
    id: "vet-full-time-employment-parent",
    hint: "The does not include apprenticeships.",
    unsure: false
  }); %>

<div id="vet-full-time-alert" class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
  <p>Students who are working full time may not be eligible for education assistance. For more information call 1800 555 254.</p>
</div>

<%- include(partials+"components/form-partials/yes_no", {
  label: "Is the student employed full time?",
  customClass: "parent-guardian",
  id: "vet-full-time-employment-parent",
  hint: "The does not include apprenticeships.",
  modifiers: [
  "hintNewLine"
  ]
}); %>
