<%- include(templates+"header", {
  claim: "Civilian Qualifying Service",
  heading: "About your claim"
}) %>

  <h3>Enter details of the conflict you were involved in</h3>

  <%- include(forms+"dropdown", {
    label: "Conflict",
    options: [
      "-- Select region --",
      "Afghanistan",
      "East Timor/Timor-Leste",
      "Rwanda",
      "Iraq",
      "Iraq and Western Asia",
      "Sierra Leone",
      "Vietnam",
      "Western Asia, Souhern Asia, Central Asia, Northern Africa and Eatern Africa",
      "The Land Area, Territorial Waters and Superjacent Airspace of Iraq and Syria"
    ]
  }) %>
  
  <%- include(forms+"date", {
    label: "Start date"
  }) %>

  <%- include(forms+"date", {
    label: "End date"
  }) %>

  <%- include(forms+"textarea", {
    label: "Describe the role, responsibilities and duties you performed as part of this conflict?",
    rows: 7
  }) %>

  <%- include(forms+"yes_no", {
    label: "Do you have any former names?",
    yes_toggle: "#former-names-container"
  }) %>

  <%- include(forms+"previous-names", {
    id: "former-names",
    modifiers: ["hidden"]
  }) %>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel claim",
        link: "#claim-cancel-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        link: "/auth/claim/civilian-qualifying-service/cqs2",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(forms+"modals/claim-cancel") %>

<%- include(templates+"footer") %>
