<%- include(templates+"header", {
  claim: "Civilian Qualifying Service",
  heading: "Required documents"
}) %>

  <%- include(forms+"legacy-upload", {
    docs: [
      {
        title: "Proof of name change",
        description: "For example deed poll or marriage certificate"
      },
      {
        title: `Proof of service <span class="hint">(optional)</span>`,
        description: "Please provide any documents that may help prove your claim."
      }
    ]
  }) %>

  <%- include(forms+"pagination", {
    modifiers: ["marginAbove"],
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/civilian-qualifying-service/cqs2"
      },
      {
        text: "Cancel claim",
        link: "#claim-cancel-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        link: "/auth/claim/civilian-qualifying-service/cqs4",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(forms+"modals/claim-cancel") %>

<%- include(templates+"footer") %>