<%- include(templates+"header", {
  claim: "Civilian Qualifying Service",
  heading: "Review and submit"
}) %>

  <%- include(components+"review-submit", {
    claim_title: "Civilian qualifying service",
    categories: [
      {
        title: "Conflict details",
        edit_url: "/auth/claim/civilian-qualifying-service/cqs1",
        data: [
          {
            q: "Conflict",
            a: "War on terrorism"
          },
          {
            q: "Start date",
            a: "21 / 09 / 1945"
          },
          {
            q: "End date",
            a: "21 / 09 / 1949"
          },
          {
            q: "Roles, responsibilities and duties",
            a: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores qui, ex dolorem. Laudantium dolorem quasi aliquid consequatur nostrum, labore doloribus iusto, quas itaque repellat, assumenda nemo hic vel explicabo voluptate!"
          },
          {
            q: "Former names",
            a: `<ul><li>Joe Smith</li><li>Joe Bloggs</li></ul>`
          }
        ]
      },
      {
        title: "Incurred danger",
        edit_url: "/auth/claim/civilian-qualifying-service/cqs2",
        data: [
          {
            q: "Start date",
            a: "09 / 2015"
          },
          {
            q: "End date",
            a: "12 / 2015"
          },
          {
            q: "Location",
            a: "Afghanistan"
          },
          {
            q: "Incident details",
            a: "The enemy..."
          }
        ]
      },
      {
        title: "Required documents",
        edit_url: "/auth/claim/civilian-qualifying-service/cqs3",
        data: [
          {
            q: "Proof of service",
            a: "service-history.pdf"
          }
        ]
      }
    ]
  }) %>

  <%- include(forms+"pagination", {
    customClass: "margin-above--extra",
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/civilian-qualifying-service/cqs3"
      },
      {
        text: "Cancel claim",
        link: "#claim-cancel-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Submit claim",
        link: "/auth/claim/civilian-qualifying-service/cqs5",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(forms+"modals/claim-cancel") %>

<%- include(templates+"footer") %>