<%- include(templates+"header", {
  claim: "18th birthday review", 
  heading: "Review and submit"
}) %>

  <%- include(components+"review-submit", {
    claim_title: "Review details for 18th birthday review",
    categories: [
      {
        title: "18th birthday review",
        edit_url: "18br-01",
        data: [
          "Provide your bank details",
          {
            q: "Account name",
            a: "Jennifer Appleby"
          },
          {
            q: "BSB",
            a: "344 678"
          },
          {
            q: "Account number",
            a: "33456 7765"
          }
        ]
      }
    ]
  }) %>

  <div class="margin-below--extra margin-above--extra">
    <p>By clicking <b>submit</b> I agree to the following:</p>

    <ul>
      <li>I may need to provide further information if requested.</li>
      <li>Giving false or misleading information is a serious offence.</li>
      <li>I authorise the Department to obtain relevant details from educational institutions and other authorities.</li>
      <li>I will notify the Department of any changes to the information provided within fourteen (14) days of any changes occurring.</li>
    </ul>
  </div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "18br-02",
      },
      {
        text: "Exit task",
        link: "#open-modal"
      },
      {
        text: "Submit",
        link: "/auth/tasks/18th-birthday-review/18br-04",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(partials+"content/modals/tasks-cancel-modal") %>
<%- include(templates+"footer") %>
<%- include("18th-birthday-review-state-switcher.ejs") %>