<%- include(templates+"header", {
  title: "18th birthday review - MyService", 
  heading: "Payment destination"
}) %>

<%- include(partials+"components/form-partials/notice", {
  message: "As you are turning 18 years we need to confirm your preferred future payment destination."
}); %>

<%- include(partials+"components/form-partials/prepop/bank-details", {
  label: "Provide your bank details",
  id: "bank"
}); %>


<div id="next" class="margin-above" style="display: none">
  <p>Choose <b>next</b> to continue.</p>
</div>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "/auth/tasks"
    },
    {
      text: "Exit task",
      link: "#open-modal"
    },
    {
      text: "Next",
      link: "18th-birthday-review-02",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(partials+"content/modals/tasks-cancel-modal") %>
<%- include(templates+"footer") %>

<script>
  $(document).ready(function () {

    $("input:radio").prop("checked", false);

  });
</script>

</html>
