<%- include(templates+"header", {
  title: "18th birthday review - MyService", 
  heading: "Payment destination"
}) %>

<h2 id="provide-details" class="parent-info">Provide details for John Smith</h2>

<%- include(partials+"components/form-partials/notice", {
  message: "As <span class='user-label-a'>you are</span> turning 18 years we need to confirm your preferred future payment destination."
}); %>

<%- include(partials+"components/form-partials/prepop/bank-details", {
  label: "Bank details",
  id: "bank"
}); %>


<div id="next" class="margin-above" style="display: none">
  <p>Choose <b>next</b> to continue.</p>
</div>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "/auth/tasks"
    },
    {
      text: "Exit task",
      link: "#open-modal"
    },
    {
      text: "Next",
      link: "onclick=checkNext()",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(partials+"content/modals/tasks-cancel-modal") %>
<%- include(templates+"footer") %>

<script>
  $(document).ready(function () {

    $("input:radio").prop("checked", false);

    window.checkNext = function () {
      console.log("hghgfh")
        // myNav = "/auth/claim/qualifying_service/qs-2";
        // navTest = $('input[name=ww2]:checked').val();
        // if (navTest == "yes") myNav = "/auth/claim/claims";
        // window.location.href = myNav;
      }

  });
</script>

<%- include("18th-birthday-review-state-switcher.ejs") %>

</html>
