<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Service history - about your claim | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">About your claim</span>
      </h1>
    </div>
    <div class="container">
      <div class="row margin-above--large">
        <div class="col-md-offset-2 col-md-8">
          <h3>Enter details of the conflict you were involved in</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 ">
          <div class="margin-above--medium margin-below--extra">
            <div class="form-group">
              <label class="uikit-text-input__label" for="drop-down">Conflict</label>
              <input type="reset" style="display:none">
              <select class="uikit-text-input input-half" id="region-select" name="drop-down">
                <option selected="selected">-- Select region --</option>
                <option>Afghanistan</option>
                <option>East Timor/Timor-Leste</option>
                <option>Rwanda</option>
                <option>Iraq</option>
                <option>Iraq and Western Asia</option>
                <option>Sierra Leone</option>
                <option>Vietnam</option>
                <option>Western Asia, Souhern Asia, Central Asia, Northern Africa and Eatern Africa</option>
                <option>The Land Area, Territorial Waters and Superjacent Airspace of Iraq and Syria</option>
              </select>
            </div>
            <div class="form-group margin-above--large">
              <label class="uikit-text-input__label" for="date">Start date
                <span class="hint">(dd / mm / yyyy)</span>
              </label>
              <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required="" aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required="" aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required="" aria-required="true" aria-label="4 digit year">
            </div>
            <div class="form-group margin-above--large">
              <label class="uikit-text-input__label" for="date">End date
                <span class="hint">(dd / mm / yyyy)</span>
              </label>
              <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required="" aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required="" aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required="" aria-required="true" aria-label="4 digit year">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="textArea">Describe the role, responsibilities and duties you performed as part of this conflict?</label>
                    <textarea id="textArea" name="textArea" rows="7"></textarea>
                </div>
            <div class="form-group" id="former_name_question">
              <label class="uikit-text-input__label" for="toggle-buttons">Do you have any former names?</label>
              <div class="radio-toggle">
                <label class="on label-left" for="former_yes">
                  <input id="former_yes" type="radio" name="toggle-buttons">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="former_no">
                  <input id="former_no" type="radio" name="toggle-buttons">
                  <span>No</span>
                </label>
              </div>
            </div>
            <div id="former_name" style="display: none;">
              <table class="mys-table table-responsive border-all border-top__thick--blue">
                <tbody>
                  <tr>
                    <th style="border-left:1px solid #cccccc;">
                      <label class="uikit-text-input__label" for="date">Given name</label>
                    </th>
                    <th></th>
                    <th>
                      <label class="uikit-text-input__label" for="date">Surname</label>
                    </th>
                    <th style="border-right:1px solid #cccccc;"></th>
                  </tr>
                  <tr id="date-template">
                    <td>
                      <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required="" aria-required="true">
                    </td>
                    <td></td>
                    <td>
                      <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required="" aria-required="true">
                    </td>
                    <td>
                      <button id="removeDateRow" class="uikit-btn uikit-btn--tertiary small">Remove</button>
                    </td>
                  </tr>
                  <tr>
                  </tr>
                  <tr class="padding-above--none">
                    <td colspan="4" class="padding-above--none ss-align">
                      <button id="add-another-name" onclick="cloneMe()" class="icon-link-button">
                        <span class="icon far fa-plus-circle"></span>
                        <span class="link">Add another name</span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="save-and-next" class="margin-above" style="display: none">
              <p>Choose <b>save and next</b> to continue.</p>
            </div>
          </div>
          <!-- col-md-12 end -->
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
            <div class="floated">
              <button id="save-and-exit-button" class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Save and exit</button>
              <button id="save-and-next-button" class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/qualifying_service/civilian-qs-2'">Save and next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include(partials+"content/modals/claims-cancel-modal") %>
  <%- include(partials+"components/layout/footer") %>
</body>
<script>
 $(Document).ready(function () {

    if (sessionStorage.getItem('commonwealth-allied') != 'yes') {
      $("#type-of-service").show("fast");
    } else {
      $("#type-of-service").hide();
    }
 });
</script>

<body>

</html>
