<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width" name="viewport" />
  <title>Qualifying service - Incurred danger | MyService</title>
<%- include(partials+"components/layout/head") %>
  <style>
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Incurred Danger</span>
      </h1>
    </div>
    <div class="container" style="background:transparent;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="margin-above--extra margin-below--extra">
            <!-- Page content -->
            <div id="alert-no-danger" style="display: none;" class="uikit-page-alerts uikit-page-alerts--error" role="alert">
              <span class="uikit-display-1">You need to add an incident of incurred Danger.</span>
            </div>
            <div id="message">
              <h2 class="margin-below--none">Tell us about any incidents of incurred danger.</h2>
              <p>Add an incident of direct incurred danger from hostile forces to proceed with the claim.
              </p>
            </div>
            <div class="review__content--item boxed margin-above" id="summary-1">
              <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                  <span class="fal fa-map-marker-alt fa-icons"></span>
                  <span class="font-weight-heavy">Incurred danger incident</span>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('boarders-and-lodgers');">&nbsp;Edit&nbsp;</button>
              </div>
              <div class="review__table">
                <div class="tr">
                  <div class="td"><b>Start date</b></div>
                  <div class="td">05/08/1967</div>
                </div>
                <div class="tr">
                  <div class="td"><b>Location</b></div>
                  <div class="td">Vietnam</div>
                </div>
              </div>
            </div>
            <div class="review__content--item boxed margin-above" id="summary-2">
              <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                  <span class="fal fa-map-marker-alt fa-icons"></span>
                  <span class="font-weight-heavy">Incurred danger incident</span>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('boarders-and-lodgers');">&nbsp;Edit&nbsp;</button>
              </div>
              <div class="review__table">
                <div class="tr">
                  <div class="td"><b>Date</b></div>
                  <div class="td">05/08/1968</div>
                </div>
                <div class="tr">
                  <div class="td"><b>Location</b></div>
                  <div class="td">Vietnam</div>
                </div>
              </div>
            </div>
            <div class="row" id="addAnotherIncidentWrapper">
              <div class="col-sm-12 margin-above ss-align--center">
                <button class="uikit-btn uikit-btn--tertiary" id="addAnotherIncident">Add another incident</button>
              </div>
            </div>
            <button class="uikit-btn uikit-btn--primary" id="addIncident">Add incident</button>
            <!-- open card -->
            <div class="form-group margin-above">
              <div class="boxed" id="incident-details">
                <h2 class="margin-above--none" style="display: inline-block;">
                  <span class="fal fa-map-marker-alt fa-icons"></span><span class="font-weight-heavy">Incident of incurred danger</span>
                </h2>
                <!-- <button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('boarders-and-lodgers');">&nbsp;Delete item&nbsp;</button> -->
                <div class="form-group margin-above--large">
                  <label class="uikit-text-input__label" for="date">Start date
                    <span class="hint">(mm / yyyy)</span>
                  </label>
                  <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month" />
                  /
                  <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year" />
                </div>
                <div class="form-group margin-above--large">
                  <label class="uikit-text-input__label" for="date">End date
                    <span class="hint">(mm / yyyy)</span>
                  </label>
                  <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month" />
                  /
                  <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year" />
                </div>
                <div class="form-group margin-above--large">
                  <label class="uikit-text-input__label" for="Input field">Location</label>
                  <input class="uikit-text-input input-half" name="service_number" id="service_number" type="text" />
                </div>
                <div class="form-group margin-above--large">
                  <label class="uikit-text-input__label" for="textArea">Incident details<br>
                    <span class="hint">Describe the nature of the enemy activity and your role at the time.</span>
                  </label>
                  <textarea id="textArea" name="textArea" rows="3"></textarea>
                </div>
                <hr />
                <div class="form-group margin-above--none">
                  <button id="danger-period-save" class="uikit-btn">
                    &nbsp;&nbsp;&nbsp; Save &nbsp;&nbsp;&nbsp;
                  </button>
                  &nbsp;<button id="danger-period-cancel" class="uikit-btn uikit-btn--tertiary">
                    &nbsp;&nbsp;&nbsp; Cancel &nbsp;&nbsp;&nbsp;
                  </button>
                </div>
              </div>
            </div>
            <!-- end of card details -->
          </div>
        </div>
        <!-- end of page content -->
        <!-- bottom page navigation -->
        <div class="pagination" style="position: relative;">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/qualifying_service/qs-2'"> Previous </button>
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">
            Cancel claim </button>
          <div class="floated">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">
              Save and exit </button>
            <button class="uikit-btn btnNext" onclick="checkSaveAndNext()">
              Save and next </button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include(partials+"content/modals/claims-cancel-modal") %>
  <%- include(partials+"components/layout/footer") %>
</body>
<script>
  $(Document).ready(function () {

    hideAll();

    // initiate add

    $("#addIncident").click(function () {
      hideAll();
      $("#incident-details").show("fast");
      $("#addIncident").hide();
    });

    $("#addAnotherIncident").click(function () {
      hideAll();
      $("#incident-details").show("fast");
    });

    // Done

    var incidentsAdded = 0;
    $("#danger-period-save").click(function () {
      $("body,html").animate({
          scrollTop: 0
        },
        700
      );
      hideAll();
      $("#addAnotherIncidentWrapper").show("fast");
      if (incidentsAdded == 0) {
        $("#summary-1").show("fast");
      }
      if (incidentsAdded == 1) {
        $("#summary-1").show("fast");
        $("#summary-2").show("fast");
      }
      incidentsAdded++;
    });

    function hideAll() {
      $("#addAnotherIncidentWrapper").hide();
      $("#summary-1").hide();
      $("#summary-2").hide();
      $("#incident-details").hide();
      $("#alert-no-danger").hide();
    }

    window.checkSaveAndNext = function () {
      if (incidentsAdded == 0) {
        $("#alert-no-danger").show("fast");
        $("body,html").animate({
            scrollTop: 0
          },
          700
        );
        return;
      }
      myNav = "/auth/claim/qualifying_service/qs-3";
      window.location.href = myNav;
    }

  });
</script>

</html>