<%- include(templates+"header", {
  claim: "Support Assessment",
  heading: "Mobility",
  progress: {
    activeItem: 1,
      points: [
      {
        text: "Mobility",
        link: "/auth/claim/support-assessment-a/se-02"
      },
      {
          text: "Recreational activities",
          link: "/auth/claim/support-assessment-a/se-03"
        },
        {
          text: "Personal relationships",
          link: "/auth/claim/support-assessment-a/se-04"
        },
        {
          text: "Domestic activities",
          link: "/auth/claim/support-assessment-a/se-05"
        },
        {
          text: "Employment",
          link: "/auth/claim/support-assessment-a/se-06"
        },
        {
          text: "Treatments",
          link: "/auth/claim/support-assessment-a/se-07"
        },
      ]
    }
}) %>

<%- include(forms+"button_radio", {
  label: "Is your ability to move around when undertaking your usual activities affected?",
  id: "move-ability",
  boxes: [
    "No",
    "Yes, a little",
    "Yes, a lot"
  ]
}) %>

<%- include(forms+"button_radio", {
  label: "Do you need the assistance of an aid to help you get around?",
  hint: "For example, a walking stick or assistance animal.",
  id: "move-aid",
  boxes: [
    "No",
    "Yes, a little",
    "Yes, a lot"
  ],
  modifiers: ["hintNewLine"]
}) %>

<%- include(forms+"button_radio", {
  label: "Do you require assistance to travel?",
  hint: "Including short or long trips.",
  id: "travel-aid",
  boxes: [
    "No",
    "Yes, a little",
    "Yes, a lot"
  ],
  modifiers: ["hintNewLine"]
}) %>

<%- include(forms+"button_radio", {
  label: "Do your conditions restrict you to your home?",
  id: "home-restricted",
  boxes: [
    "No",
    "Yes, a little",
    "Yes, a lot"
  ],
}) %>

<button class="uikit-btn" id="btnNext">
  email test
</button>

<%- include(forms+"textarea", {
  label: "The more detail you provide the more we can understand how we may be able to support you.",
  id: "mobility-detail"
}) %>

<%- include(forms+"pagination", {
  pagination: [
    {
      link: "/auth/claim/support-assessment-a/sa-01",
      text: "Previous"
    },
    {
      link: "#claim-cancel-modal",
      text: "Cancel claim"
    },
    {
      link: "/auth/claim",
      text: "Save and exit",
      modifiers: ["floated"]
    },
    {
      link: "/auth/claim/support-assessment-a/sa-03",
      text: "save and next",
      id: "btnNext",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>


<%- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>