<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Student Claim</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>


  <main>
    <div class="container container--8-column" id="main-content">


      <h1>Getting Started</h1>
      <!-- parent and veteran fields begin -->
      <div class="parent-veteran uikit-page-alerts" role="alert">
        <p>As part of your claim, you may be asked to provide the following supporting documents:</p>
        <ul>
          <li>Proof of your relationship to the student</li>
          <li>Proof of student's enrolment</li>
        </ul>
        <p>Further documents may be required depending on your circumstances</p>
      </div>
      <%- include(partials+"components/form-partials/date", {
        label: "Student's date of birth",
        class: "parent-veteran"
      }); %>
      <%- include(partials+"components/form-partials/dropdown", {
        label: "The student is my",
        class: "parent-veteran",
        options: [
          "child",
          "sister",
          "brother",
          "nephew"
        ]
      }); %>
      <%- include(partials+"components/form-partials/yes_no", {
        label: "Do you receive Family Tax Benefit for the student?",
        class: "parent-veteran"
      }); %>
      <%- include(partials+"components/form-partials/text", {
          label: "What percentage of care do you have for the student?",
          class: "parent-veteran"
        }); %>
      <!-- parent and veteran fields end -->
      <!-- veteran fields begin -->
      <p class="parent-veteran"><b>About the other parent/guardian</b></p>
      <%- include(partials+"components/form-partials/text", {
        label: "Given name",
        hint: "(first name)",
        class: "parent-veteran"
      }); %>
      <%- include(partials+"components/form-partials/text", {
        label: "Surname",
        hint: "(last name)",
        class: "parent-veteran"
      }); %>
      <!-- veteran fields end -->
      <!-- student fields begin -->
      <%- include(partials+"components/form-partials/radio-icon", {
          label: "Select an option to get started",
          class: "student",
          boxes: [
            {
              text: "I'm a student",
              toggle: ["#edu-student-alert", "#edu-student-alert-u16"],
              icon: {
                icon: "fa-user",
                weight: "fal"
              }
            },
            {
              text: "I'm a parent / guardian of a student",
              icon: {
                icon: "fa-user",
                weight: "fal"
              }
            }
          ]
        }); %>
      <div class="uikit-page-alerts uikit-page-alerts--info student" role="alert" id="edu-student-alert" hidden>
        <p>You must be a dependent child of an eligible veteran to be able to claim education assistance. For further information, <a href="" rel="external">see eligibility
            rules.</a></p>
        <p>As part of your claim, you may be asked to provide the following supporting documents:</p>
        <ul>
          <li>Proof of your relationship to the eligible veteran</li>
          <li>Proof of your relationship to parent/guardian</li>
          <li>Proof of your enrolment</li>
        </ul>
        <p>Further documents may be required dpeneding on your circumstances.</p>
      </div>
      <div class="uikit-page-alerts uikit-page-alerts--error" role="alert" id="edu-student-alert-u16" hidden>
        <span>Students under the age of 16 need their parent or guardian to make the claim.</span>
      </div>
      <%- include(partials+"components/form-partials/yes_no", {
          label: "Are you employed full time?",
          class: "student",
          hint: "The does not include apprenticeships.",
          unsure: false,
          modifiers: [
          "hintNewLine"
          ]
        }); %>
      <%- include(partials+"components/form-partials/yes_no", {
          label: "Does a parent/guardian receive Family Tax Benefit for your care?",
          class: "student",
          unsure: true
        }); %>
      <p class="student"><b>Please provide details of the parent / guardian receiving Family Tax Benefit for your care.</b></p>
      <%- include(partials+"components/form-partials/text", {
        label: "Given name",
        class: "student",
        hint: "(first name)"
      }); %>
      <%- include(partials+"components/form-partials/text", {
        label: "Surname",
        class: "student",
        hint: "(last name)"
      }); %>
      <div class="form-group">
        <label class="uikit-text-input__label" for="phoneHome">Home phone number
          <span class="hint">(optional)</span>
          <span class="hint display-block">Please include your area code (for example, '03' for Victoria)</span>
          <select type="phone" class="uikit-text-input uikit-text-input--select-inline" name="countryCode-home" id="countryCode-home">
            <%- include(partials+"content/phone-areacode") %>
          </select>
          <input class="uikit-text-input input-half" name="phoneHome" id="phoneHome" type="phone" value="">
        </label>
      </div>
      <div class="form-group">
        <label class="uikit-text-input__label" for="phoneHome">Mobile phone number
          <span class="hint">(optional)</span>
          <span class="hint display-block">Please include your area code (for example, '03' for Victoria)</span>
          <select type="phone" class="uikit-text-input uikit-text-input--select-inline" name="countryCode-home" id="countryCode-home">
            <%- include(partials+"content/phone-areacode") %>
          </select>
          <input class="uikit-text-input input-half" name="phoneHome" id="phoneHome" type="phone" value="">
        </label>
      </div>
      <%- include(partials+"components/form-partials/text", {
        label: "Email address",
        hint: "(if known)"
      }); %>
      <!-- student fields end -->

      <!-- veteran fields begin -->
      <p class="parent-veteran"><b>About the veteran</b></p>
      <%- include(partials+"components/form-partials/dropdown", {
        label: "The veteran is the student's",
        class: "parent-veteran",
        options: [
          "parent",
          "child",
          "sister",
          "brother",
          "nephew"
        ]
      }); %>
      <%- include(partials+"components/form-partials/yes_no", {
        label: "Do you have shared care arrangements in place for this student?",
        class: "parent-veteran"
      }); %>
      <p class="parent-veteran"><b>Is the veteran significantly injured or deceased as a result of their service?</b></p>
      <p class="parent-veteran margin-below--none"><b>For example:</b></p>
      <ul class="parent-veteran">
        <li>the veteran has 80 impairment points</li>
        <li>the veteran is totally and permanently impaired</li>
        <li>the veteran is eligible for an extreme disablement adjustment rate</li>
        <li>the veteran is, or was eligible for the special rate disability pension</li>
      </ul>
      <%- include(partials+"components/form-partials/yes_no", {
        label: "Does a parent/guardian receive Family Tax Benefit for your care?",
        class: "parent-veteran",
        unsure: true
      }); %>
      <p class="parent-veteran"><b>About you</b></p>
      <%- include(partials+"components/form-partials/dropdown", {
        label: "The student is my",
        class: "parent-veteran",
        options: [
          "parent",
          "child",
          "sister",
          "brother",
          "nephew"
        ]
      }); %>
      <%- include(partials+"components/form-partials/yes_no", {
        label: "Do you have shared care arrangements in place for this student?",
        class: "parent-veteran"
      }); %>
      <%- include(partials+"components/form-partials/text", {
          label: "What percentage of care do you have for the student?",
          class: "parent-veteran"
        }); %>
      <%- include(partials+"components/form-partials/yes_no", {
          label: "Does a parent/guardian receive Family Tax Benefit for your care?",
          class: "parent-veteran"
        }); %>
      <div class="uikit-page-alerts uikit-page-alerts--warning parent-veteran" role="alert">
        <p>You cannot claim both education assistance and Family Tax Benefit (FTB) payments for a student that is over 16. Based on your circumstances it may be better to choose
          FTB over the DVA benefit or vice versa. For more information on these options, contact Education Assistance on <a href="">1800 555 254</a>.</p>
      </div>
      <!-- veteran fields end -->
      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'index'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-cancelrego-modal'">Cancel claim</button>
        <button class="uikit-btn floated btnNext" onclick="window.location.href = 'edu2'">Next</button>
      </div>
    </div>

  </main>
  <%- include("education-assistance--state-switcher.ejs") %>
  <%- include(partials+"components/layout/footer") %>
</body>

</html>
