<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Student Claim</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>


  <main>
    <div class="container container--8-column" id="main-content">


      <h1>Getting Started</h1>
      <%- include(partials+"components/form-partials/radio-icon", {
        label: "Select an option to get started",
        class: "student parent-guardian parent-guardian-start",
        id: "student-or-parent-radio",
        boxes: [
          {
            text: "I'm a student",
            icon: {
              icon: "fa-user",
              weight: "fal"
            }
          },
          {
            text: "I'm a parent / guardian of a student",
            toggle: ["#parent-guardian-alert", "#about-student-heading"],
            icon: {
              icon: "fa-user",
              weight: "fal"
            }
          }
        ]
      }); %>
      <!-- parent and veteran fields begin -->
      <div id="veteran-notification" class="parent-veteran uikit-page-alerts" role="alert">
        <p>As part of your claim, you may be asked to provide the following supporting documents:</p>
        <ul>
          <li>Proof of your relationship to the student</li>
          <li>Proof of student's enrolment</li>
        </ul>
        <p>Further documents may be required depending on your circumstances</p>
      </div>
      <div class="uikit-page-alerts uikit-page-alerts--info student" role="alert" id="parent-guardian-alert" hidden>
        <p>The student you are applying for needs to be a child of an eligible veteran. For further information, see <a href="" rel="external">eligibility rules.</a></p>
        <p>As part of your claim, you may be asked to provide the following supporting documents:</p>
        <ul>
          <li>Proof of student's relationship to the eligible veteran</li>
          <li>Proof of student's relationship to you</li>
          <li>Proof of student's enrolment</li>
        </ul>
        <p>Further documents may be required dpeneding on your circumstances.</p>
      </div>
      <p id="about-student-heading"><b>About the student</b></p>
      <%- include(partials+"components/form-partials/date", {
        label: "Student's date of birth",
        class: "parent-veteran",
        id: "students-dob"
      }); %>

      <div id="over25-notification" class="parent-veteran uikit-page-alerts uikit-page-alerts--error" role="alert">
        <p>Students over the age of 25 may not be eligible for education assistance. For further information please call DVA on <a href="">1800 555 254</a>. </p>
      </div>
      <div id="over18-notification" class="parent-veteran uikit-page-alerts uikit-page-alerts--error" role="alert">
        <p>Students 18 years old and above need to complete the claim themselves.</p>
      </div>
      <div id="under4-notification" class="parent-veteran uikit-page-alerts uikit-page-alerts--error" role="alert">
        <p>The student must be at least 4 years old to claim for education assistance.</p>
      </div>
      <%- include(partials+"components/form-partials/dropdown", {
        label: "The student is my",
        class: "parent-veteran",
        id: "student-dropdown",
        options: [
          "child",
          "sister",
          "brother",
          "nephew"
        ]
      }); %>
      <%- include(partials+"components/form-partials/text", {
          label: "What percentage of care do you have for the student?",
          class: "parent-veteran",
          id: "percentage-of-care"
        }); %>
      <!-- parent and veteran fields end -->
      <!-- veteran fields begin -->
      <p class="parent-veteran other-parent"><b>About the other parent/guardian</b></p>
      <%- include(partials+"components/form-partials/text", {
        label: "Given name",
        hint: "(first name)",
        class: "parent-veteran other-parent"
      }); %>
      <%- include(partials+"components/form-partials/text", {
        label: "Surname",
        hint: "(last name)",
        class: "parent-veteran other-parent"
      }); %>
      <!-- veteran fields end -->
      <!-- student fields begin -->

      <div class="uikit-page-alerts uikit-page-alerts--info student" role="alert" id="edu-student-alert" hidden>
        <p>You must be a dependent child of an eligible veteran to be able to claim education assistance. For further information, <a href="" rel="external">see eligibility
            rules.</a></p>
        <p>As part of your claim, you may be asked to provide the following supporting documents:</p>
        <ul>
          <li>Proof of your relationship to the eligible veteran</li>
          <li>Proof of your relationship to parent/guardian</li>
          <li>Proof of your enrolment</li>
        </ul>
        <p>Further documents may be required dpeneding on your circumstances.</p>
      </div>
      <div class="uikit-page-alerts uikit-page-alerts--error" role="alert" id="edu-student-alert-u16" hidden>
        <span>Students under the age of 16 need their parent or guardian to make the claim.</span>
      </div>
      <%- include(partials+"components/form-partials/yes_no", {
          label: "Are you employed full time?",
          class: "student",
          id: "full-time-employment",
          hint: "The does not include apprenticeships.",
          unsure: false,
          no_toggle: "#pg-about-veteran",
          yes_toggle: ".parent-guardian-alert, #about-the-veteran-drop-container, #shared-care-arrangement-container",
          modifiers: [
          "hintNewLine"
          ]
        }); %>
      <%- include(partials+"components/form-partials/yes_no", {
            label: "Is the student employed full time?",
            class: "parent-guardian",
            id: "full-time-employment-parent",
            hint: "The does not include apprenticeships.",
            unsure: false,
            no_toggle: "#pg-about-veteran",
            yes_toggle: ".parent-guardian-alert, #about-the-veteran-drop-container",
            modifiers: [
            "hintNewLine"
            ]
          }); %>
      <div class="uikit-page-alerts uikit-page-alerts--warning parent-guardian-alert" role="alert">
        <p>Students who are working full time may not be eligible for education assistance. For more information call 1800 555 254.</p>
      </div>
      <%- include(partials+"components/form-partials/yes_no", {
          label: "Does a parent/guardian receive Family Tax Benefit for your care?",
          class: "student",
          unsure: true
        }); %>
      <p class="student"><b>Please provide details of the parent / guardian receiving Family Tax Benefit for your care.</b></p>
      <%- include(partials+"components/form-partials/text", {
        label: "Given name",
        class: "student",
        hint: "(first name)"
      }); %>
      <%- include(partials+"components/form-partials/text", {
        label: "Surname",
        class: "student",
        hint: "(last name)"
      }); %>
      <div class="form-group phone-number other-parent">
        <label class="uikit-text-input__label" for="phoneHome">Home phone number
          <span class="hint">(optional)</span>
          <span class="hint display-block">Please include your area code (for example, '03' for Victoria)</span>
          <select type="phone" class="uikit-text-input uikit-text-input--select-inline" name="countryCode-home" id="countryCode-home">
            <%- include(partials+"content/phone-areacode") %>
          </select>
          <input class="uikit-text-input input-half" name="phoneHome" id="phoneHome" type="phone" value="">
        </label>
      </div>
      <div class="form-group phone-number other-parent">
        <label class="uikit-text-input__label" for="phoneHome">Mobile phone number
          <span class="hint">(optional)</span>
          <span class="hint display-block">Please include your area code (for example, '03' for Victoria)</span>
          <select type="phone" class="uikit-text-input uikit-text-input--select-inline" name="countryCode-home" id="countryCode-home">
            <%- include(partials+"content/phone-areacode") %>
          </select>
          <input class="uikit-text-input input-half" name="phoneHome" id="phoneHome" type="phone" value="">
        </label>
      </div>
      <%- include(partials+"components/form-partials/text", {
        label: "Email address",
        hint: "(if known)",
        class: "email-address other-parent"
      }); %>
      <!-- student fields end -->

      <!-- veteran fields begin -->
      <p class="parent-veteran" id="pg-about-veteran"><b>About the veteran</b></p>
      <%- include(partials+"components/form-partials/dropdown", {
        label: "The veteran is the student's",
        class: "parent-veteran",
        id: "about-the-veteran-drop", 
        options: [
          "select relationship",
          "parent",
          "step-parent"
        ]
      }); %>
      <div class="parent-veteran" id="parent-selected-message">
        <p><b>Is the veteran significantly injured or deceased as a result of their service?</b></p>
        <p class="margin-below--none"><b>For example:</b></p>
        <ul>
          <li>the veteran has 80 impairment points</li>
          <li>the veteran is totally and permanently impaired</li>
          <li>the veteran is eligible for an extreme disablement adjustment rate</li>
          <li>the veteran is, or was eligible for the special rate disability pension</li>
        </ul>
        <div class="radio-toggle margin-below--large parent-selected-message-option">
          <label class="label-left" for="yes_no719-yes">
            <input type="radio" name="yes_no719" id="yes_no719-yes">
            <span>Yes</span>
          </label>
          <label class="label-right" for="yes_no719-no">
            <input type="radio" name="yes_no719" id="yes_no719-no">
            <span>No</span>
          </label>

          <label class="label-right" for="yes_no719-unsure">
            <input type="radio" name="yes_no719" id="yes_no719-unsure">
            <span>Unsure</span>
          </label>
        </div>
      </div>
      <%- include(partials+"components/form-partials/yes_no", {
        label: "Is the student dependant on the veteran? Or were they previously?",
        hint: "Completely or substantially.",
        id: "step-parent-selected-message-option",
        class: "parent-guardian",
        unsure: false
      }); %>
      <%- include(partials+"components/form-partials/yes_no", {
        label: "Does a parent/guardian receive Family Tax Benefit for your care?",
        class: "parent-veteran",
        unsure: true
      }); %>
      <p id="about-you-heading" class="parent-veteran"><b>About you</b></p>
      <%- include(partials+"components/form-partials/dropdown", {
        label: "The student is my",
        class: "parent-veteran",
        id: "student-dropdown2",
        options: [
          "select an option...",
          "child",
          "step-child",
          "grand-child"
        ]
      }); %>
      <%- include(partials+"components/form-partials/yes_no", {
        label: "Do you receive Family Tax Benefit for the student?",
        class: "parent-veteran",
        id: "family-tax-benefit"
      }); %>
      <div class="uikit-page-alerts uikit-page-alerts--warning family-tax-benefit-yes parent-veteran" role="alert">
        <p>You cannot claim both education assistance and Family Tax Benefit (FTB) payments for a student that is over 16. Based on your circumstances it may be better to choose
          FTB over the DVA benefit or vice versa. For more information on these options, contact Education Assistance on <a href="">1800 555 254</a>.</p>
      </div>
      <%- include(partials+"components/form-partials/text", {
        label: "What is your Centrelink Customer Reference Number?",
        class: "parent-veteran family-tax-benefit-yes"
      }); %>

      <%- include(partials+"components/form-partials/dropdown", {
        label: "The student is my",
        class: "parent-veteran",
        options: [
          "parent",
          "child",
          "sister",
          "brother",
          "nephew"
        ]
      }); %>
      <%- include(partials+"components/form-partials/yes_no", {
        label: "Do you have shared care arrangements in place for this student?",
        class: "parent-veteran",
        id: "shared-care-arrangement",
        yes_toggle: "#percentage-of-care-container",
        no_rToggle: ".other-parent"
      }); %>
      <%- include(partials+"components/form-partials/yes_no", {
        label: "Do you have shared care arrangements in place for this student?",
        class: "parent-veteran",
        id: "shared-care-arrangement2"
      }); %>
      <%- include(partials+"components/form-partials/text", {
          label: "What percentage of care do you have for the student?",
          id: "percentage-of-care2",
          class: "parent-veteran"
        }); %>
      <%- include(partials+"components/form-partials/yes_no", {
          label: "Does a parent/guardian receive Family Tax Benefit for your care?",
          class: "parent-veteran"
        }); %>
      <div class="uikit-page-alerts uikit-page-alerts--warning parent-veteran" role="alert">
        <p>You cannot claim both education assistance and Family Tax Benefit (FTB) payments for a student that is over 16. Based on your circumstances it may be better to choose
          FTB over the DVA benefit or vice versa. For more information on these options, contact Education Assistance on <a href="">1800 555 254</a>.</p>
      </div>
      <!-- veteran fields end -->
      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'index'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-cancelrego-modal'">Cancel claim</button>
        <button class="uikit-btn floated btnNext" onclick="window.location.href = 'edu2'">Save and Next</button>
        <button class="uikit-btn floated btnNext" onclick="window.location.href = 'index'">Save and Exit</button>

      </div>
    </div>

  </main>

  <%- include("education-assistance--state-switcher.ejs") %>
  <%- include(partials+"components/layout/footer") %>
</body>

</html>
