<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Student Claim</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>


  <main>
    <div class="container container--8-column" id="main-content">
      <h1>Your details</h1>
      <%- include(partials+"components/form-partials/yes_no", {
        label: "Are you married or in a de facto relationship?",
        tooltip: "content here"
      }); %>
      <%- include(partials+"components/form-partials/dropdown", {
        label: "Your level of study",
        options: [
          "Secondary",
          "Tertiary"
        ]
      }); %>
      <%- include(partials+"components/form-partials/radio", {
        label: "Where are you living?",
        boxes: [
          "At family home",
          "Away from home",
          "Homeless"
        ]
      }); %>
      <%- include(partials+"components/form-partials/radio", {
          label: "Select the statement that best describes why you are living away from home:",
          boxes: [
            "Academic needs not mey by local secondary school",
            "Disability",
            "Resides overseas",
            "Can't access educational facilities from home",
            "Home environment is detrimental to educational progress",
            "Member of a family that moves often",
            "Requires specialised remedial tuition",
            "Enrolled in a course approved for living away from home"
          ]
        }); %>
      <%- include(partials+"components/form-partials/radio", {
          label: "Select the statement that best describes your living situation:",
          boxes: [
            "Parents don't allow the child to live in the family home",
            "The student doesn't have a family home",
            "Student can't live at home for risk of domestic violence"
          ]
        }); %>
      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'edu2'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-cancelrego-modal'">Cancel claim</button>
        <button class="uikit-btn floated btnNext" onclick="window.location.href = 'edu4'">Next</button>
      </div>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>
</body>

</html>
