<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Student Claim</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>


  <main>
    <div class="container container--8-column" id="main-content">
      <h1>Student's study details</h1>
      <div id="study-enrollment-details2">
        <%- include(partials+"components/form-partials/yes_no", {
            label: "Is John Smith enrolled?",
            id: "are-you-enrolled2"
          }); %>
        <div id="proof-of-enrollment2" class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
          <p>This claim will not be finalised until proof of enrolment is received.</p>
        </div>
        <label id="where-studying-header" for=""><b>Where is John Smith studying?</b></label>

        <%- include(partials+"components/form-partials/dropdown", {
            label: "Country",
            id: "parent-country",
            options: [
              "Australia",
              "Singapore"
            ]
          }); %>
        <%- include(partials+"components/form-partials/dropdown", {
              label: "State",
              id: "state-dropdown-edu3", 
              options: [
                "Australian Capital Territory",
                "New South Wales"
              ]
            }); %>
        <%- include(partials+"components/form-partials/text", {
            label: "Institution name",
            id: "parent-inst",
          }); %>
        <%- include(partials+"components/form-partials/text", {
            label: "Course name / degree name",
            id: "parent-course",
          }); %>
        <%- include(partials+"components/form-partials/date", {
            label: "Date that you started studying",
            id: "parent-date",
          }); %>
        <%- include(partials+"components/form-partials/date", {
            label: "Approximate date that you expect to complete your course / degree",
            id: "parent-approx",
          }); %>
        <%- include(partials+"components/form-partials/yes_no", {
            label: "Is john studying full time?",
            id: "studying-full-time-toggle"
          }); %>
      </div>
      <div id="secondary-study-level">
        <%- include(partials+"components/form-partials/dropdown", {
            label: "Where are you studying?",
            id: "state-dropdown-edu2", 
            options: [
              "Australian Capital Territory",
              "New South Wales"
            ]
          }); %>
        <%- include(partials+"components/form-partials/text", {
              label: "Name of school",
              id: "name-of-school",
    
            }); %>
        <%- include(partials+"components/form-partials/dropdown", {
                label: "Grade this year",
                id: "state-dropdown-edu", 
                options: [
                  "1",
                  "2",
                  "3",
                  "4",
                  "5"
                ]
              }); %>

      </div>
      <div id="studying-full-time-no">
        <div class="uikit-page-alerts" role="alert">
          <p>You may be contacted by a DVA representative for clarification regarding this claim.</p>
        </div>
        <%- include(partials+"components/form-partials/textarea", {
              label: "Tell us more about your situation. Why will you be studying part time? (optional)",
              hint: "For example, health reasons, isolated location, family situation.",
              modifiers: [ "hintNewLine" ]
            }); %>
      </div>
      <div class="primary-flow">
        <div class="primary-flow--intro">
          <label for=""><b>Where are you studying?</b></label>
          <%- include(partials+"components/form-partials/dropdown", {
                  label: "Country",
                  options: [
                    "Australia",
                    "Singapore"
                  ]
                }); %>
          <%- include(partials+"components/form-partials/text", {
                  label: "Name of school",
                  id: "name-of-school"
                }); %>
          <%- include(partials+"components/form-partials/dropdown", {
                  label: "Grade this year",
                  options: [
                    "1",
                    "2"
                  ]
                }); %>
        </div>
      </div>
      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'edu3'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-cancelrego-modal'">Cancel claim</button>
        <button class="uikit-btn floated btnNext" onclick="window.location.href = 'edu5parent'">Save and next</button>
        <button class="uikit-btn uikit-btn--tertiary floated btnNext" onclick="window.location.href = '/auth/'">Save and exit</button>
      </div>
    </div>
  </main>
  <%- include("edu-switcher/index.ejs") %>
  <%- include(partials+"components/layout/footer") %>
  <script>

    function hideFields() {
      $("#study-enrollment-details").hide();
      $("#studying-full-time-no").hide();
      $("#proof-of-enrollment2").hide();
      $(".primary-flow").hide();
      $("#parent-inst-container").hide();
      $("#parent-course-container").hide();
      $("#parent-approx-container").hide();
      $("#parent-date-containe").hide();
      $("#parent-country-container").hide();
      $("#where-studying-header").hide();
      $("#parent-date-container").hide();
      $("#studying-full-time-toggle-container").hide();
      $("#state-dropdown-edu-container").hide();
      $("#name-of-school-container").hide();
      $("#state-dropdown-edu2-container").hide();
      $("#state-dropdown-edu3-container").hide();
    }

    function secondaryFlow() {
      $("#are-you-enrolled2-container").hide();
      $("#secondary-study-level").show();
      $("#state-dropdown-edu-container").show();
      $("#name-of-school-container").show();
      $("#state-dropdown-edu2-container").show();
    }

    function tertiaryFlow() {
      $("#are-you-enrolled2-container").show();
      $("#are-you-enrolled2-1").click(function () {
        $("#parent-inst-container").show();
        $("#parent-course-container").show();
        $("#parent-approx-container").show();
        $("#parent-date-container").show();
        $("#parent-country-container").show();
        $("#where-studying-header").show();
        $("#parent-date-container").show();
        $("#studying-full-time-toggle-container").show();
        $("#state-dropdown-edu3-container").show();
      })
      $("#are-you-enrolled2-2").click(function () {
        $("#study-enrollment-details").show();
        $("#proof-of-enrollment2").show();
      })

      $("#studying-full-time-toggle-1").click(function () {
        $("#studying-full-time-no").hide();
      })

      $("#studying-full-time-toggle-2").click(function () {
        $("#studying-full-time-no").show();
      })
    }

    $(document).ready(function () {
      console.log(sessionStorage.getItem("studyLevel"));
      if (sessionStorage.getItem("studyLevel") === "primary") {
        hideFields();
        $("#are-you-enrolled2-container").hide();
        $("#secondary-study-level").hide();
        secondaryFlow();
      }

      if (sessionStorage.getItem("studyLevel") === "secondary") {
        hideFields();
        secondaryFlow();
      }

      if (sessionStorage.getItem("studyLevel") === "tertiary") {
        hideFields();
        tertiaryFlow();
      }

      // if (sessionStorage.getItem("eduFlow") === "Veteran") {
      //   $(".btnNext").attr("onclick", "window.location.href = 'edu5parent'")
      // } else {
      //   $(".btnNext").attr("onclick", "window.location.href = 'edu5'")
      // }
    });
  </script>
</body>

</html>
