<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Student Claim | Financial Details</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>


  <main>
    <div class="container container--8-column" id="main-content">
      <h1>Document uploads</h1>
      <h2>Uploading the required documents with your claim will assist us in processing it sooner.</h2>
      <p class="hint">Accepted file types include, pdf, jpef and png. Maximum file size is 50MB.</p>
      <div class="upload-list">
        <table class="table-responsive table-responsive--no-border">
          <tbody>
            <tr class="pt-proofOfRelationshipClaimantStudent accordion accordion--open ">
              <td class="file-status file-status--required">
                <span class="sr">Required</span>
              </td>
              <td>
                <span>
                  <b>Proof of your relationship to Milton</b>
                </span>
                <span class=" accordion-title__details">For example, birth certificate, adoption order or family court order.</span>
              </td>
              <td class="right">
                <div class="file-upload">
                  <input type="file" class="file-upload__input" id="file-1">
                  <label class="file-upload__label" for="file-1">
                    <span class="file-upload__document">
                      <a class="file-upload__file-name"></a>
                    </span>
                    <span class="file-upload__button">
                      <span class="uikit-btn small">Upload</span>
                    </span>
                  </label>
                </div>
              </td>
              <td>
                <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
                  <span class="sr">Toggle accordion</span>
                </a>
              </td>
            </tr>
            <tr class="pt-proofOfEnrolment accordion accordion--open">
              <td class="file-status file-status--required">
                <span class="sr">Required</span>
              </td>
              <td>
                <span>
                  <b> Student's proof of relationship to the veteran</b>
                </span>
                <span class=" accordion-title__details">For example, birth certificate, adoption order or family court order.</span>
              </td>
              <td class="right">
                <div class="file-upload">
                  <input type="file" class="file-upload__input" id="file-4">
                  <label class="file-upload__label" for="file-4">
                    <span class="file-upload__document">
                      <a class="file-upload__file-name"></a>
                    </span>
                    <span class="file-upload__button">
                      <span class="uikit-btn small">Upload</span>
                    </span>
                  </label>
                </div>
              </td>
              <td>
                <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
                  <span class="sr">Toggle accordion</span>
                </a>
              </td>
            </tr>
            <tr class="pt-proofOfEnrolment accordion accordion--open">
              <td class="file-status file-status--required">
                <span class="sr">Required</span>
              </td>
              <td>
                <span>
                  <b> Proof of Sarah's residence</b>
                </span>
                <span class=" accordion-title__details">For example, rental agreement, utility bill or institution letter.</span>
              </td>
              <td class="right">
                <div class="file-upload">
                  <input type="file" class="file-upload__input" id="file-4">
                  <label class="file-upload__label" for="file-4">
                    <span class="file-upload__document">
                      <a class="file-upload__file-name"></a>
                    </span>
                    <span class="file-upload__button">
                      <span class="uikit-btn small">Upload</span>
                    </span>
                  </label>
                </div>
              </td>
              <td>
                <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
                  <span class="sr">Toggle accordion</span>
                </a>
              </td>
            </tr>
            <tr class="pt-proofOfEnrolment accordion accordion--open">
              <td class="file-status file-status--required">
                <span class="sr">Required</span>
              </td>
              <td>
                <span>
                  <b>Proof of shared care arrangements</b>
                </span>
                <span class=" accordion-title__details">For example, court order or DHS shared care arrangement documents</span>
              </td>
              <td class="right">
                <div class="file-upload">
                  <input type="file" class="file-upload__input" id="file-4">
                  <label class="file-upload__label" for="file-4">
                    <span class="file-upload__document">
                      <a class="file-upload__file-name"></a>
                    </span>
                    <span class="file-upload__button">
                      <span class="uikit-btn small">Upload</span>
                    </span>
                  </label>
                </div>
              </td>
              <td>
                <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
                  <span class="sr">Toggle accordion</span>
                </a>
              </td>
            </tr>
            <tr class="pt-proofOfEnrolment accordion accordion--open">
              <td class="file-status file-status--required">
                <span class="sr">Required</span>
              </td>
              <td>
                <span>
                  <b> Statement explaining the circumstances of the living situation</b>
                </span>
              </td>
              <td class="right">
                <div class="file-upload">
                  <input type="file" class="file-upload__input" id="file-4">
                  <label class="file-upload__label" for="file-4">
                    <span class="file-upload__document">
                      <a class="file-upload__file-name"></a>
                    </span>
                    <span class="file-upload__button">
                      <span class="uikit-btn small">Upload</span>
                    </span>
                  </label>
                </div>
              </td>
              <td>
                <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
                  <span class="sr">Toggle accordion</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <p class="hint">If you are unable to attach the required documents at this time, you may still submit your claim. The remaining documents can be attached to this claim on
          the Claims page as soon as they are available.</p>
      </div>
      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'edu6'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-cancelrego-modal'">Cancel claim</button>
        <button class="uikit-btn floated btnNext" onclick="window.location.href = 'edu8'">Next</button>
      </div>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>
</body>

</html>
