<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width" name="viewport" />
  <title>Review and submit: Transition to secondary school</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Review and submit</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <%- include(partials+"components/review-submit", {
  "claim": {
    "title": "Education assistance",
    "options": [
      "marginTop"
    ],
    "categories": [
      {
        "header": "Getting started",
        "elements": [
          {
            "type": "questions",
            "data": [
              {
                "question": "Student's date of birth",
                "answer": "01/01/2002"
              },
              {
                "question": "The student is my",
                "answer": "child"
              },
              {
                "question": "Do you receive Family Tax Benefit for the student?",
                "answer": "Yes"
              },
              {
                "question": "What is your Customer Reference Number (CRN)?",
                "answer": "200089733T"
              },
              {
                "question": "Do you have a shared care arrangements in place for this student?",
                "answer": "Yes"
              },
              {
                "question": "What percentage of care do you have for the student?",
                "answer": "60%"
              },
              {
                "question": "Give name of the other parent/guardian",
                "answer": "Jane"
              },
              {
                "question": "Surname of the other parent/guardian",
                "answer": "Smith"
              },
              {
                "question": "Home phone number of the other parent/guardian",
                "answer": "Australia +61 882224444"
              },
              {
                "question": "Mobile phone number of the other parent/guardian",
                "answer": "Australia +61 882225566"
              },
              {
                "question": "Email of the other parent/guardian",
                "answer": "janesmith@gmail.com"
              },
              {
                "question": "Is the student employed full time?",
                "answer": "No"
              }
            ]
          }
        ]
      },
      {
        "header": "Veteran details",
        "elements": [
          {
            "type": "questions",
            "data": [
              {
                    "question": "Veteran's given name",
                    "answer": "Jane"
              },
              {
                    "question": "Veteran's surname",
                    "answer": "Smith"
              },
              {
                    "question": "Veteran's date of birth",
                    "answer": "01/01/1980"
              }
            ]
          }
        ]
      },
      {
        "header": "Student's details",
        "elements": [
          {
            "type": "questions",
            "data": [
              {
                    "question": "Student's title",
                    "answer": "Mr"
              },
              {
                    "question": "Student's given name",
                    "answer": "Joe"
              },
              {
                    "question": "Student's surname",
                    "answer": "Smith"
              },
              {
                    "question": "Student's gender",
                    "answer": "Male"
              },
              {
                    "question": "Student's level of study",
                    "answer": "Tertiary - University"
              },
              {
                    "question": "Is the student married or in a de facto relationship?",
                    "answer": "No"
              },
              {
                    "question": "Where is the student living?",
                    "answer": "Away from home"
              },
              {
                    "question": "Select the statement that best describes why the student is living away from home",
                    "answer": "Home environment is detrimental to educational progress"
              }
            ]
          }
        ]
      },
      {
        "header": "Living arrangements",
        "elements": [
          {
            "type": "questions",
            "data": [
              {
                    "question": "Residential address",
                    "answer": "55 CURLEW CCT <br> WULAGI NT 0812 <br> Australia"
              },
              {
                    "question": "Postal address",
                    "answer": "Same as residential"
              },
              {
                    "question": "What is Joe's living situation?",
                    "answer": "Renting"
              },
              {
                    "question": "When did Joe start renting?",
                    "answer": "01/01/2019"
              },
              {
                    "question": "Does Joe share the cost of rent with anyone else?",
                    "answer": "Yes"
              },
              {
                    "question": "How much rent does Joe pay every 2 weeks?",
                    "answer": "$600"
              }
            ]
          }
        ]
      },
      {
        "header": "Study details",
        "elements": [
          {
            "type": "questions",
            "data": [
              {
                    "question": "Is Joe enrolled?",
                    "answer": "No"
              },
              {
                    "question": "Where will Joe be studying?",
                    "answer": "NSW, Australia"
              },
              {
                    "question": "Insitution name",
                    "answer": "UNIVERSITY OF NSW - UNSW"
              },
              {
                    "question": "Course name / Degree name",
                    "answer": "Bachelor of Engineering (Bioinformatics/Software)"
              },
              {
                    "question": "Date that Joe will start studying",
                    "answer": "01/01/2020"
              },
              {
                    "question": "Approximate date that Joe expects to complete their course/degree",
                    "answer": "01/01/2023"
              },
              {
                    "question": "Will Joe be studying full time?",
                    "answer": "No"
              },
              {
                    "question": "Tell us more about Joe's situation. Why will Joe be studying part time?",
                    "answer": "Medical reasons"
              }
            ]
          }
        ]
      },
      {
        "header": "Nominate an additional contact",
        "elements": [
          {
            "type": "questions",
            "data": [
              {
                    "question": "Contact's full name",
                    "answer": "John Smith"
              },
              {
                    "question": "Contact's phone number",
                    "answer": "0214525555"
              },
              {
                    "question": "Contact's email address",
                    "answer": "ClaimNom@gmail.com"
              },
              {
                    "question": "Contact's relationship to you",
                    "answer": "Brother"
              }
            ]
          }
        ]
      },
      {
        "header": "Claim Representative",
        "elements": [
          {
            "type": "questions",
            "data": [
              {
                    "question": "Do you wish to nominate a claim representative to receive updates and query about this claim on your behalf?",
                    "answer": "Yes"
              },
              {
                    "question": "Given name",
                    "answer": "Jane"
              },
              {
                    "question": "Surname",
                    "answer": "Smith"
              },
              {
                    "question": "Phone number",
                    "answer": "Australia +61 421555666"
              },
              {
                    "question": "Email address",
                    "answer": "janesmith@gmail.com"
              },
              {
                    "question": "Relationship to you",
                    "answer": "Sister"
              },
              {
                    "question": "Address",
                    "answer": "G 55 CURRIE ST <br> ADELAIDE SA 5000 <br> AU"
              }
            ]
          }
        ]
      },
      {
        "header": "Financial details",
        "elements": [
          {
            "type": "questions",
            "data": [
              {
                    "question": "Does Joe have a tax file number?",
                    "answer": "No"
              }
            ]
          }
        ]
      }
   
    ]
  }
}) %>

          <div class="pagination margin-above--extra">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'edu7'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = 'edu9'">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include(partials+"content/modals/claims-cancel-modal") %>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>

<script>
  $(document).ready(function () {

    if (sessionStorage.getItem('commonwealth-allied') != 'yes') {
      $("#adf").show();
    } else {
      $("#commonwealth").show();
    }
  });
</script>

</html>
