<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Submitted: Application for Increase to Disability Pension | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="claim-end">

            <div class="pt-claim-type--normal">
              <div class="margin-above ie-success-animation">
                <img src="/docs/images/ico-tick-green-outline.svg" alt="Success tick icon">
              </div>
              <div class="margin-above submitted-animation">
                <%- include(partials+"components/animations/submitted") %>

              </div>
              <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
                <h1>We're submitting your claim for Education Assistance</h1>
              </div>
            </div>

            <div class="transition-content pt-claim-animation-end margin-below--extra">
              <div class="pt-claim-type--normal">
                <h1 class="cantered-item">Your claim for Education Assistance has been
                  <span class="font-weight-heavy"> submitted</span>
                </h1>
                <div class="cantered-item"><b>Claim ID is 0001056770</b></div>
              </div>

              <hr class="orange-divider">

              <div class="margin-below--extra container container--8-column">
                <h3 class="ss-align--center">What's next?
                </h3>
                <ul>
                  <li>Your claim will be assessed by an Education Assistance team member. During this process, you may be contacted to discuss your claim.</li>
                  <li>When your claim has been determined you will receive a letter with the outcome of your claim.</li>
                  <li>If you need to speak to a DVA representative about this claim, please call us on <a href="">1800 55 254</a>.</li>
                </ul>
              </div>

              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/'">Start another claim</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">View my claims</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include("edu-switcher/index.ejs") %>
  <%- include(partials+"components/layout/footer") %>


  <script>
    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".pt-claim-animation-start").toggleClass("transition-content--open");
        $(".pt-claim-animation-end").toggleClass("transition-content--open");
      }, timeDelay);

  </script>

</body>

</html>
