<%#- include(templates+"header", {
  claim: "Reservist"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Veteran Card | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">How it works</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <div class="margin-above--extra margin-below--extra">
            <ul>
              <li>Use your Veteran Card to access special offers, support or concessions from businesses or organisations.</li>
              <li>Access free mental health treatment under our <a href="" rel="external">Non-Liability Health Care</a> (NLHC) arrangements.</li>
            </ul>
          </div>

          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary" id="btnPrev">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn btnNext" id="btnNext">Okay, I've got it</button>
            </div>
          </div>

        </div>

      </div>
    </div>

    <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>

  <script>
    $(Document).ready(function () {
      $("#btnNext").click(function () {
        window.location.href = "/auth/claim/veteran-card-2"
      });
      $("#btnPrev").click(function () {
        window.location.href = "/auth/claim/veteran-card-eligibility"
      });
    });
  </script>
</body>

</html>