<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | From groups | MyService</title>
  <%- include(partials+"styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"styleguide-header") %>

  <main>
    <div class="container" id="main-content">

      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Form groups</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Content groups</h1>
          <div class="breakout">
            <p>A content group is the body of a commonly used page presented as a single component. You can use these for convenience and to ensure consistency. Content is approved and any future iterations can be implemented globally by updating the component.
            </p>
          </div>

     

          <h2>Veteran supplement</h2>
          <div class="example-box">
            <pre class="prettyprint">&lt;% include ../../partials/content_groups/veteran_supplement%&gt;</pre>
            <%- include(partials+"content_groups/veteran_supplement") %>
          </div>

        </div>
        <%- include(partials+"styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"styleguide-footer") %>
</body>

</html>