<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Five Star Rating Component Test | MyService</title>
  <%- include(partials+"styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <%- include(partials+"styleguide-header-version") %>
  <% include ../../auth/header-authenticated%>
  <%- include(partials+"styleguide-header-nom-rep") %>
  <main>

    <section>
      <div class="container" id="main-content">
        <main>
          <h6>Five Star Rating Component Test <sub>(well, really n-star)</sub></h6>
          <%- include(partials+"styleguide-five-star-rating-component") %>
        </main>
      </div>
    </section>
  </main>

  <%- include(partials+"styleguide-footer") %>

</body>

</html>