<%- include(components+"styleguide/styleguide-header", {
  heading: "Animations",
  claim: "Style Guide"
}) %>

  <p>The MyService animation style inherits its style from the the
    <a href="/styleguide/icons">MyService icons</a> and uses
    <a href="https://www.w3.org/TR/REC-smil/" rel="external" target="_blacnk"> Synchronized Multimedia Integration Language (SMIL)</a> markup. SMIL is not currently
    supported by Microsoft
    (so a fallback is provided). When it becomes possible to animate data paths with pure CSS SVG animation,
    it should be reasonably trivial to convert the SMIL to CSS.
  </p>

  <h2>End of claim</h2>


  <h3>In progress</h3>

  <div class="example-box">
    <%- include(forms+"submitting", {
      type: "in-progress",
      submitting_text: "We're submitting your claim for an increase to your Disability Pension",
      submitted_text: `Your claim for an increase to your Disability Pension is <b>in progress</b>`,
      supporting_text: `<h3>We will contact you within 14 days to discuss your claim.</h3>`
    }) %> 
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
        <code class="language-markup">
          <%%- include(forms+"submitting", {
            type: "in-progress",
            submitting_text: "We're submitting your claim for an increase to your Disability Pension",
            submitted_text: `Your claim for an increase to your Disability Pension is <b>in progress</b>`,
            supporting_text: `<h3>We will contact you within 14 days to discuss your claim.</h3>`
          }) %%> 
        </code>
      </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/auth/claim/updateClaimInProgressSubmitting">here</a>.</p>
  <hr>
  <h3>Submitted</h3>

  <div class="example-box">
    <%- include(forms+"submitting", {
      type: "submitted",
      submitting_text: "We're submitting your claim for an increase to your Disability Pension",
      submitted_text: `Your claim for an increase to your Disability Pension has been <b>submitted</b>`,
      supporting_text: `<h3>We will contact you within 14 days to discuss your claim.</h3>`
    }) %> 
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
        <code class="language-markup">
          <%%- include(forms+"submitting", {
            type: "submitted",
            submitting_text: "We're submitting your claim for an increase to your Disability Pension",
            submitted_text: `Your claim for an increase to your Disability Pension has been <b>submitted</b>`,
            supporting_text: `<h3>We will contact you within 14 days to discuss your claim.</h3>`
          }) %%> 
        </code>
      </pre>
    </div>
  </div>
  <p>To see an example of this code go <a href="/auth/claim/health-card4">here</a>.</p>
  <hr>

  <h3>Computer based decision success</h3>

  <div class="example-box">
    <%- include(forms+"submitting", {
      type: "success",
      submitting_text: "We're submitting your claim for an increase to your Disability Pension",
      submitted_text: `Your claim for an increase to your Disability Pension has been <b>submitted</b>`,
      supporting_text: `<h3>We will contact you within 14 days to discuss your claim.</h3>`
    }) %> 
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
        <code class="language-markup">
          <%%- include(forms+"submitting", {
            type: "submitted",
            submitting_text: "We're submitting your claim for an increase to your Disability Pension",
            submitted_text: `Your claim for an increase to your Disability Pension has been <b>submitted</b>`,
            supporting_text: `<h3>We will contact you within 14 days to discuss your claim.</h3>`
          }) %%> 
        </code>
      </pre>
    </div>
  </div>
  <p>To see an example of this code go <a href="/auth/claim/initial-liability/il-08">here</a>.</p>
  <hr>
          
<%- include(components+"styleguide/styleguide-footer") %>
