<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Animations | MyService</title>
  <%- include(partials+"styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"styleguide-header") %>

  <main>
    <div class="container" id="main-content">

      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Animations</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Animations</h1>
          <div class="breakout">
            <p>The MyService animation style inherits its style from the the
              <a href="/styleguide/icons">MyService icons</a> and uses
              <a href="https://www.w3.org/TR/REC-smil/" rel="external" target="_blacnk"> Synchronized Multimedia Integration Language (SMIL)</a> markup. SMIL is not currently
              supported by Microsoft
              (so a fallback is provided). When it becomes possible to animate data paths with pure CSS SVG animation,
              it should be reasonably trivial to convert the SMIL to CSS.

            </p>
          </div>

          <h2>End of claim</h2>


          <h3>In progress</h3>

          <div class="example-box">
            <div class="row">
              <div class="col-sm-12">

                <div class="margin-above in-pregress-animation">
                  <%- include(partials+"animations/in-progress") %>

                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <pre>
                    <code class="language-markup">
                      <script type="text/plain">
<div class="margin-above in-pregress-animation">
  <%- include(partials+"animations/in-progress") %>

</div>			
                        </script>
                    </code>
                  </pre>
              </div>
            </div>
          </div>


          <h3>Submitted</h3>

          <div class="example-box">
            <div class="row">
              <div class="col-sm-12">

                <div class="margin-above submitted-animation">
                  <<<<<<< HEAD <%- include(partials+"animation-submitted") %>=======<% include ../../partials/animations/submitted.ejs %>>>>>>>> development
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <pre>
                    <code class="language-markup">
                      <script type="text/plain">
<div class="margin-above submitted-animation">
  <%- include(partials+"animations/submitted") %>

</div>			
                        </script>
                    </code>
                  </pre>
              </div>
            </div>
          </div>

          <h3>Computer based decision success</h3>

          <div class="example-box">
            <div class="row">
              <div class="col-sm-12">

                <div class="margin-above success-animation">
                  <<<<<<< HEAD <%- include(partials+"animation-success") %>=======<% include ../../partials/animations/success.ejs %>>>>>>>> development
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <pre>
                    <code class="language-markup">
                      <script type="text/plain">
<div class="margin-above success-animation">
  <%- include(partials+"animations/success") %>
</div>			
                        </script>
                    </code>
                  </pre>
              </div>
            </div>
          </div>


        </div>
        <%- include(partials+"styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"styleguide-footer") %>
</body>

</html>
