<!DOCTYPE html>
<html class="js" lang="en">

<head>

	<title>Style Guide | Document Uploads | MyService</title>
	<%- include(partials+"styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

	<%- include(partials+"styleguide-header") %>

		<main>
			<div class="container" id="main-content">

				<nav class="uikit-breadcrumbs" aria-label="breadcrumb">
					<ul class="uikit-link-list uikit-link-list--inline">
						<li>
							<a href="/styleguide">Home</a>
						</li>
						<li>Document uploads</li>
					</ul>
				</nav>

				<div class="row">
					<div class="col-sm-9">
						<h1>Document Uploads</h1>


						<div class="example-box">
							<%- include(partials+"file-uploads") %>
						</div>


					</div>
					<%- include(partials+"styleguide-sidenav") %>
				</div>
			</div>
		</main>

		<%- include(partials+"styleguide-footer") %>

</body>


<script>

	// Swap text on top panel accordion button

	$(".accordion__trigger").click(function () {

		$(this).toggleClass("accordion__trigger--open accordion__trigger--closed");
		$(this).closest(".accordion").toggleClass("accordion--closed accordion--open");

	});


</script>


</html>