<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Animations | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"components/styleguide/styleguide-header") %>

  <main>
    <div class="container" id="main-content">

      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Form groups</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Form groups</h1>
          <div class="breakout">
            <p>A form group is a commonly used group of form elements and associated approved content presented in a single component. You can use these for convenience and to ensure consistency.
            </p>
          </div>

          <h2>Name</h2>
          <div class="example-box">
            <pre class="prettyprint">&lt;%- include(partials+"content/name") %&gt;</pre>
            <%- include(partials+"content/name") %>
          </div>

          <h2>Former names</h2>
          <div class="example-box">
            <pre class="prettyprint">&lt;%- include(partials+"content/former_names") %&gt;</pre>
            <%- include(partials+"content/former_names") %>
          </div>
          <div class="example-box">
            <pre class="prettyprint">&lt;%<BR/>locals.el = {};<BR/>locals.el.optionalQuestion = "Has your partner ever used or been known by other names?";<BR/>%&gt;<BR/>&lt;%- include(partials+"content/former_names") %&gt;</pre>
            <%
              locals.el = {};
              locals.el.optionalQuestion = "Has your partner ever used or been known by other names?";
              locals.el.optionalID = "former_names_custom";
            %>
            <%- include(partials+"content/former_names") %>
          </div>

          <h2>Gender</h2>
          <div class="example-box">
            <pre class="prettyprint">&lt;%<BR/>locals.el = {};<BR/>locals.el.question = "Partner's gender";<BR/>%&gt;<BR/>&lt;%- include(partials+"components/form-elements/radio--gender", locals) %&gt;<BR/></pre>
            <%
                locals.el = {};
                locals.el.question = "Partner's gender";
            %>
            <%- include(partials+"components/form-elements/radio--gender", locals) %>
          </div>

          <h2>Bank details</h2>
          <div class="example-box">
            <pre class="prettyprint">&lt;%- include(partials+"content/bank-account-details") %&gt;</pre>
            <%- include(partials+"content/bank-account-details") %>
          </div>

        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>