<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Style Guide | Form Groups | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
  <style>
    .red {
      color: red;
    }

    .green {
      color: green;
    }
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"components/styleguide/styleguide-header") %>

    <main>
      <div class="container" id="main-content">
        <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
          <ul class="uikit-link-list uikit-link-list--inline">
            <li>
              <a href="/styleguide">Home</a>
            </li>
            <li>Form Groups</li>
          </ul>
        </nav>

        <div class="row">
          <div class="col-sm-9">
            <h1>Form Groups</h1>
            <div class="accordion">
              <button class="style-less-button accordion-button"><i class="transition fas fa-chevron-right"></i> Terminology used on this page</button>
              <div class="accordion-content" hidden>  
                <table class="margin-above">
                  <thead>
                    <tr>
                      <th>Term</th>
                      <th>Explanation</th>
                      <th>Example</th>
                    </tr>
                  </thead>
                  <tbody>
                    <span class="hidden">
                      tr>td>pre.language-text>code{}^^td{}+td>pre.language-text>code{}
                    </span>
                    <tr>
                      <td>
                        <pre class="language-text"><code>string</code></pre>
                      </td>
                      <td>Some text surrounded by double quotation marks</td>
                      <td>
                        <pre class="language-text"><code>"Enter your birthday"</code></pre>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <pre class="language-text"><code>integer</code></pre>
                      </td>
                      <td>A whole number</td>
                      <td>
                        <pre class="language-text"><code>5</code></pre>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <pre class="language-text"><code>boolean</code></pre>
                      </td>
                      <td>A <code class="green">true</code> or <code class="red">false</code> value</td>
                      <td>
                        <pre class="language-text"><code>false</code></pre>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <pre class="language-text"><code>array</code></pre>
                      </td>
                      <td>Items contained within a list</td>
                      <td>
                        <pre class="language-text"><code>["Item 1", "Item 2"]</code></pre>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <pre class="language-text"><code>object</code></pre>
                      </td>
                      <td>A list of key, value pairs</td>
                      <td>
                        <pre class="language-json"><code>
                        {
                          label: "Please enter a reason",
                          hint: "(optional)"
                          rows: 5,
                          disabled: false,
                          modifiers: [
                            "hintNewLine"
                          ]
                        }
                      </code></pre>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
            <h2>Types of forms:</h2>
            <ul>
              <li class="uikit-link-list"><a href="#address">Address</a></li>
              <li class="uikit-link-list"><a href="#bankdetails">Bank Details</a></li>
              <li class="uikit-link-list"><a href="#gender">Gender</a></li>
            </ul>

            <hr>

            <h2>Tooltips</h2>
            <p>Tooltips can be added to any form element (or group). You can do so by adding a <code style="padding: 3px; background: #f5f2f0;">tooltip</code> object like the example below.</p>

            <p><code style="padding: 3px; background: #f5f2f0;">screenreaderText</code> is used to add a short description for screenreader users (or if you specify the below mentioned modifier)</p>
            <p><code style="padding: 3px; background: #f5f2f0;">content</code> is the body of the tooltip. It can accept HTML if needed as well.</p>
 <pre class="language-json"><code>
tooltip: {
  screenreaderText: "Gender help",
  content: "Currently, our system only allows us to record gender as male or female. If neither option is correct inform DVA after your claim is processed."
}</code></pre>

            There is also a modifier available to show extra supporting text (versus only an icon) if your modifiers list contains the string <code style="padding: 3px; background: #f5f2f0;">"tooltipShowText"</code>
            <hr>

            <h2 id="address">Address</h2>
            <div class="example-box form_elem" data-field="address">
              <h3>Practical example</h3>
              <%- include(partials+"components/form-groups/address", {
                legend: "Residential address"
              }); %>
            

              <div class="accordion">
                <button class="style-less-button accordion-button margin-below--small"><i class="transition fas fa-chevron-right"></i> Code example</button>
                <div class="accordion-content" hidden>  

                  <pre class="language-ejs">
                    <code>
                      <%%- include(partials+"components/form-groups/address", {
                        legend: "Residential address"
                      }); %%>
                    </code>
                  </pre>
                </div>
              </div>
            </div>
            <hr>

            <h2 id="bankdetails">Bank Details</h2>
            <div class="example-box form_elem" data-field="bankdetails">
              <h3>Practical example</h3>
              <%- include(partials+"components/form-groups/bank-details", {
                legend: "Bank details"
              }); %>
            

              <div class="accordion">
                <button class="style-less-button accordion-button margin-below--small"><i class="transition fas fa-chevron-right"></i> Code example</button>
                <div class="accordion-content" hidden>  

                  <pre class="language-ejs">
                    <code>
                      <%%- include(partials+"components/form-groups/bank-details", {
                        legend: "Bank details"
                      }); %%>
                    </code>
                  </pre>
                </div>
              </div>
            </div>
            <hr>

            <h2 id="gender">Gender</h2>
            <div class="example-box form_elem" data-field="gender">
              <h3>Practical example</h3>
              <%- include(partials+"components/form-groups/gender"); %>
            

              <div class="accordion">
                <button class="style-less-button accordion-button margin-below--small"><i class="transition fas fa-chevron-right"></i> Code example</button>
                <div class="accordion-content" hidden>  

                  <pre class="language-ejs">
                    <code>
                      <%%- include(partials+"components/form-groups/gender"); %%>
                    </code>
                  </pre>
                </div>
              </div>
            </div>
            <hr>

          </div>
          <%- include(partials+"components/styleguide/styleguide-sidenav") %>
        </div>
      </div>
    </main>
    <%- include(partials+"components/styleguide/styleguide-footer") %>
    <script>
      var modGlobal = [
        {
          text: "hintNewLine",
          desc: "Moves the hint to a new line (only if a hint is specified)"
        },
        {
          text: "hidden",
          desc: "Hides the (set) of form elements"
        },
        {
          text: "disabled",
          desc: "Disables the (set of) form elements"
        },
        {
          text: "tooltipShowText",
          desc: "(Only if tooltip specified) Shows extra supporting text for tooltip"
        },
        {
          text: "inputFullLength",
          desc: "Uses the full length variant for form element"
        }
      ];

      var tooltip = {
        property: "tooltip",
        desc: "A button to toggle extended description",
        type: "object",
        req: false
      };

      var hint = {
        property: "hint",
        desc: "Some text to provide some extra information on the question",
        type: "string",
        req: false
      };

      var legend = {
        property: "legend",
        desc: "A \"label\" for the set of fields",
        type: "string",
        req: true
      };

      var legendMod = {
        property: "legend",
        desc: "A \"label\" for the set of fields",
        type: "string",
        req: false
      }

      var label = {
        property: "label",
        desc: "A label for the form element",
        type: "string",
        req: true
      };

      var modifiers = {
        property: "modifiers",
        desc: "A list of pre-determined strings to modify the output",
        type: "array",
        req: false
      };

      var id = {
        property: "id",
        desc: "An optional ID for the form field(s) - use when any Javascript is used",
        type: "string",
        req: false
      }

      var boxes = {
        property: "boxes",
        desc: "A list of either strings or objects to create a list of checkboxes or radios",
        type: "array",
        req: true
      }

      var selector = `<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors" rel="external">CSS Selector</a>`;


      var properties = {
        address: [
          tooltip,
          legendMod,
          modifiers,
          hint,
          id
        ],
        bankdetails: [
          tooltip,
          legendMod,
          modifiers,
          hint,
          id
        ],
        gender: [
          {
            property: "tooltip",
            desc: "A button to toggle an large extend description (gender has default specified tooltip)",
            type: "object",
            req: false
          },
          id,
          modifiers,
          hint,
          {
            property: "label",
            desc: "A label for the form element (defaults to \"Gender\"",
            type: "string",
            req: true
          }
        ]
      };

      $(document).ready(() => {
        $(".form_elem").each(function() {

          var mapArr = arr => {
            var mappedArr = arr.map(elem => {            
              return `
              <tr>
                <td><pre class="language-json">${elem.property}:<code></code></pre></td>
                <td>${elem.desc}</td>
                <td><pre class="language-text"><code>${elem.type}</code></pre></td>
                <td>${elem.req ? "Yes" : "No" }</td>
              </tr>`
            });

            return `
                <table class="margin-above">
                  <thead>
                    <tr>
                      <th>Property</th>
                      <th>Description</th>
                      <th>Data type</th>
                      <th>Required</th>
                    </tr>
                  </thead>
                  <tbody>
                    ${mappedArr.join("")}
                  </tbody>
                </table>
            `

          };

          var mapMods = mods => {
            var mappedMods = mods.map(mod => {
              return `
                <tr>
                  <td><pre class="language-json"><code>"${mod.text}"</code></pre></td>
                  <td>${mod.desc}</td>
                </tr>
              `
            });
            return `
              <table class="margin-above">
                <thead>
                  <tr>
                    <th>Modifier</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  ${mappedMods.join("")}
                </tbody>
              </table>`

          }
         
          $(this).append(`
            <div class="accordion properties">
              <button class="style-less-button accordion-button"><i class="transition fas fa-chevron-right"></i> Properties</button>
              <div class="accordion-content" hidden>
                ${mapArr(properties[$(this).data("field")])}
                ${$(this).data("field") === "address" || $(this).data("field") === "bankdetails" ? `
                <div style="margin-left: 1em;" class="accordion">
                  <button class="style-less-button accordion-button"><i class="transition fas fa-chevron-right"></i> Modifiers</button>
                    <div class="accordion-content" hidden>
                      ${mapMods([modGlobal[0], modGlobal[3]])}
                    </div>
                </div>` : ""}
                ${$(this).data("field") === "gender" ? `
                <div style="margin-left: 1em;" class="accordion">
                  <button class="style-less-button accordion-button"><i class="transition fas fa-chevron-right"></i> Modifiers</button>
                    <div class="accordion-content" hidden>
                      ${mapMods([modGlobal[0], modGlobal[2], modGlobal[3]])}
                    </div>
                </div>` : ""}
              </div>
            </div>`);
        });


        $(".form_elem").on("click", ".properties .accordion-button", function() {
          if ($(this).hasClass("rotate-90")) {
            $(this).removeClass("rotate-90");
          } else {
            $(this).addClass("rotate-90");
          }

          $(this).parent().find("> .accordion-content").toggle();
        });

      });
    </script>
</body>

</html>