<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Style Guide | Form Builder | MyService</title>
  <%- include(partials+"styleguide-styles-and-scripts") %>
  <style>
    .bordered tr td:first-of-type {
      border-right: 1px solid lightgray;
      font-weight: bold;
    }
    .bordered td {
      vertical-align: middle;
      border-bottom: 1px solid lightgray;
    }

    .bordered th, .bordered td {
      padding-right: 0px;
    }

    .red {
      color: red;
    }
    
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"styleguide-header") %>

    <main>
      <div class="container" id="main-content">
        <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
          <ul class="uikit-link-list uikit-link-list--inline">
            <li>
              <a href="/styleguide">Home</a>
            </li>
            <li>Callouts</li>
          </ul>
        </nav>

        <div class="row">
          <div class="col-sm-9">
            <h1>Form Builder</h1>

            <h2>Generate New Component</h2>
            <div class="form-group">
              <label for="select_component" class="uikit-text-input__label">Select component type
              </label>
              <select name="select_component" id="select_component" class="uikit-text-input input-half">
                <option value=" ">Select type...</option>
                <option data-toggle="#component-select" value="select">Select (Drop Down)</option>
                <option data-toggle="#component-text" value="text">Text Input</option>
                <option data-toggle="#component-textarea" value="textarea">Text Area</option>
                <option data-toggle="#component-date" value="date">Date</option>
                <option data-toggle="#component-yes_no" value="yes_no">Yes/No</option>
                <option data-toggle="#component-checkbox" value="checkbox">Checkbox/Radio</option>
                <!-- <option data-toggle="#component-pagination" value="pagination">Pagination</option> -->
                <script>
                $("#select_component").on("change", function() {
                  $($("#select_component :selected").data("toggle")).show();
                  $("#select_component :not(:selected)").each(function(index, elem) {
                    $($(elem).data("toggle")).hide();
                  });
                });
                </script>
              </select>
            </div>



              <div id="component-select" hidden>
                <table class="table-responsive bordered">
                  <thead>
                    <tr>
                      <th>Config Item</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Label</td>
                      <td><input type="text" id="select-label" placeholder="Please select your title"></td>
                    </tr>
                    <tr>
                      <td>Hint <span class="red">*</span></td>
                      <td><input type="text" id="select-hint" placeholder="(pick the most relevant)"></td>
                    </tr>
                    <tr>
                      <td>ID <span class="red">*</span></td>
                      <td><input type="text" id="select-id" placeholder="(optional ID - only specify if extra functionality is needed)"></td>
                    </tr>
                    <tr>
                      <td>Tooltip <span class="red">*</span></td>
                      <td><%- include("../../partials/form_partials.ejs", {"forms": [{"type": "checkbox","config": {"label": " ","id": "select-tooltip","boxes": [{"text": "Add tooltip?","toggle": "#select-tooltip-options"}]}}]}); %>
                      <div id="select-tooltip-options" hidden>
                        <label>Tooltip Screen-reader Label<input type="text" id="select-tooltip-label" placeholder="Gender help"></label>
                        <label>Tooltip Text Content<input type="text" id="select-tooltip-text" placeholder="Tooltip text (some <strong>HTML</strong> OK)"></label>
                      </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Disabled <span class="red">*</span></td>
                      <td><%- include("../../partials/form_partials.ejs", {"forms": [{"type": "checkbox","config": {"label": " ","id": "select-disabled","boxes": [{"text": ""}]}}]}); %></td>
                    </tr>
                    <tr>
                      <td colspan="2" id="options">
                        <button style="text-align: center; margin: 0.5em auto 1em auto;" id="select-toggle-extra" class="display-block uikit-btn uikit-btn--tertiary">Toggle Advanced Options</button>

                        
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <button id="add-another-option" style="text-align: center; margin: 0.5em auto 1em auto;" class="display-block uikit-btn">Add Another</button>
                      </td>
                    </tr>
                </table>
                <h2 class="display-inline"><span class="red">*</span></h2> <h3 class="display-inline">Denotes optional field</h3>

                <div id="select-code">
                  <pre>
                    <code class="language-ejs">
                      
                    </code>
                  </pre>
                </div>
              </div>

              <div id="component-text" hidden>
                <table class="table-responsive bordered">
                  <thead>
                    <tr>
                      <th>Config Item</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Label</td>
                      <td><input type="text" id="text-label" placeholder="Please enter your name"></td>
                    </tr>
                    <tr>
                      <td>Hint <span class="red">*</span></td>
                      <td><input type="text" id="text-hint" placeholder="(pick the most relevant)"></td>
                    </tr>
                    <tr>
                      <td>Placeholder <span class="red">*</span></td>
                      <td><input type="text" id="text-placeholder" placeholder="Greyed out text to fill the box"></td>
                    </tr>
                    <tr>
                      <td>ID <span class="red">*</span></td>
                      <td><input type="text" id="text-id" placeholder="(optional ID - only specify if extra functionality is needed)"></td>
                    </tr>
                    <tr>
                      <td>Tooltip <span class="red">*</span></td>
                      <td><%- include("../../partials/form_partials.ejs", {"forms": [{"type": "checkbox","config": {"label": " ","id": "text-tooltip","boxes": [{"text": "Add tooltip?","toggle": "#text-tooltip-options"}]}}]}); %>
                      <div id="text-tooltip-options" hidden>
                        <label>Tooltip Screen-reader Label<input type="text" id="text-tooltip-label" placeholder="Gender help"></label>
                        <label>Tooltip Text Content<input type="text" id="text-tooltip-text" placeholder="Tooltip text (some <strong>HTML</strong> OK)"></label>
                      </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Disabled <span class="red">*</span></td>
                      <td><%- include("../../partials/form_partials.ejs", {"forms": [{"type": "checkbox","config": {"label": " ","id": "text-disabled","boxes": [{"text": ""}]}}]}); %></td>
                    </tr>
                </table>
                <h2 class="display-inline"><span class="red">*</span></h2> <h3 class="display-inline">Denotes optional field</h3>

                <div id="text-code">
                  <pre>
                    <code class="language-ejs">
                      
                    </code>
                  </pre>
                </div>
              </div>

              <div hidden id="component-textarea">
                <table class="table-responsive bordered">
                  <thead>
                    <tr>
                      <th>Config Item</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Label</td>
                      <td><input type="text" id="textarea-label" placeholder="Please enter your name"></td>
                    </tr>
                    <tr>
                      <td>Hint <span class="red">*</span></td>
                      <td><input type="text" id="textarea-hint" placeholder="(pick the most relevant)"></td>
                    </tr>
                    <tr>
                      <td>Placeholder <span class="red">*</span></td>
                      <td><input type="text" id="textarea-placeholder" placeholder="Greyed out text to fill the box"></td>
                    </tr>
                    <tr>
                      <td>Rows <span class="red">*</span></td>
                      <td><input type="text" id="textarea-rows" placeholder="Height of box (default 5 rows)"></td>
                    </tr>
                    <tr>
                      <td>ID <span class="red">*</span></td>
                      <td><input type="text" id="textarea-id" placeholder="(optional ID - only specify if extra functionality is needed)"></td>
                    </tr>
                    <tr>
                      <td>Tooltip <span class="red">*</span></td>
                      <td><%- include("../../partials/form_partials.ejs", {"forms": [{"type": "checkbox","config": {"label": " ","id": "textarea-tooltip","boxes": [{"text": "Add tooltip?","toggle": "#textarea-tooltip-options"}]}}]}); %>
                      <div id="textarea-tooltip-options" hidden>
                        <label>Tooltip Screen-reader Label<input type="text" id="textarea-tooltip-label" placeholder="Gender help"></label>
                        <label>Tooltip Text Content<input type="text" id="textarea-tooltip-text" placeholder="Tooltip text (some <strong>HTML</strong> OK)"></label>
                      </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Disabled <span class="red">*</span></td>
                      <td><%- include("../../partials/form_partials.ejs", {"forms": [{"type": "checkbox","config": {"label": " ","id": "textarea-disabled","boxes": [{"text": ""}]}}]}); %></td>
                    </tr>
                </table>
                <h2 class="display-inline"><span class="red">*</span></h2> <h3 class="display-inline">Denotes optional field</h3>

                <div id="textarea-code">
                  <pre>
                    <code class="language-ejs">
                      
                    </code>
                  </pre>
                </div>

              </div>

              <div hidden id="component-date">
                <table class="table-responsive bordered">
                  <thead>
                    <tr>
                      <th>Config Item</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Label</td>
                      <td><input type="text" id="date-label" placeholder="Please enter your name"></td>
                    </tr>
                    <tr>
                      <td>Hint <span class="red">*</span></td>
                      <td><input type="text" id="date-hint" placeholder="Default is (DD / MM / YYYY)"></td>
                    </tr>
                    <tr>
                      <td>ID <span class="red">*</span></td>
                      <td><input type="text" id="date-id" placeholder="(optional ID - only specify if extra functionality is needed)"></td>
                    </tr>
                    <tr>
                      <td>Tooltip <span class="red">*</span></td>
                      <td><%- include("../../partials/form_partials.ejs", {"forms": [{"type": "checkbox","config": {"label": " ","id": "date-tooltip","boxes": [{"text": "Add tooltip?","toggle": "#date-tooltip-options"}]}}]}); %>
                      <div id="date-tooltip-options" hidden>
                        <label>Tooltip Screen-reader Label<input type="text" id="date-tooltip-label" placeholder="Gender help"></label>
                        <label>Tooltip Text Content<input type="text" id="date-tooltip-text" placeholder="Tooltip text (some <strong>HTML</strong> OK)"></label>
                      </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Disabled <span class="red">*</span></td>
                      <td><%- include("../../partials/form_partials.ejs", {"forms": [{"type": "checkbox","config": {"label": " ","id": "date-disabled","boxes": [{"text": ""}]}}]}); %></td>
                    </tr>
                </table>
                <h2 class="display-inline"><span class="red">*</span></h2> <h3 class="display-inline">Denotes optional field</h3>

                <div id="date-code">
                  <pre>
                    <code class="language-ejs">
                      
                    </code>
                  </pre>
                </div>
              </div>

              <div hidden id="component-yes_no">
                <table class="table-responsive bordered">
                  <thead>
                    <tr>
                      <th>Config Item</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Label</td>
                      <td><input type="text" id="yes_no-label" placeholder="Do you agree to the terms and conditions?"></td>
                    </tr>
                    <tr>
                      <td>Hint <span class="red">*</span></td>
                      <td><input type="text" id="yes_no-hint" placeholder="Optional hint"></td>
                    </tr>
                    <tr>
                      <td>ID <span class="red">*</span></td>
                      <td><input type="text" id="yes_no-id" placeholder="(optional ID - only specify if extra functionality is needed)"></td>
                    </tr>
                    <tr>
                      <td>Yes Toggle <span class="red">*</span></td>
                      <td><input type="text" id="yes_no-yes-toggle" placeholder="CSS selector element to toggle if yes"></td>
                    </tr>
                    <tr>
                      <td>No Toggle <span class="red">*</span></td>
                      <td><input type="text" id="yes_no-no-toggle" placeholder="CSS selector element to toggle if no"></td>
                    </tr>
                    <tr>
                      <td>Tooltip <span class="red">*</span></td>
                      <td><%- include("../../partials/form_partials.ejs", {"forms": [{"type": "checkbox","config": {"label": " ","id": "yes_no-tooltip","boxes": [{"text": "Add tooltip?","toggle": "#yes_no-tooltip-options"}]}}]}); %>
                      <div id="yes_no-tooltip-options" hidden>
                        <label>Tooltip Screen-reader Label<input type="text" id="yes_no-tooltip-label" placeholder="Gender help"></label>
                        <label>Tooltip Text Content<input type="text" id="yes_no-tooltip-text" placeholder="Tooltip text (some <strong>HTML</strong> OK)"></label>
                      </div>
                      </td>
                    </tr>
                </table>
                <h2 class="display-inline"><span class="red">*</span></h2> <h3 class="display-inline">Denotes optional field</h3>

                <div id="yes_no-code">
                  <pre>
                    <code class="language-ejs">
                      
                    </code>
                  </pre>
                </div>
              </div>

              <div id="component-checkbox" hidden>
                <table class="table-responsive bordered">
                  <thead>
                    <tr>
                      <th>Config Item</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Type</td>
                      <td>
                        <select id="checkbox-or-radio">
                          <option value="checkbox">Checkbox</option>
                          <option value="radio">Radio</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Label</td>
                      <td><input type="text" id="checkbox-label" placeholder="Please choose from the list below"></td>
                    </tr>
                    <tr>
                      <td>Hint <span class="red">*</span></td>
                      <td><input type="text" id="checkbox-hint" placeholder="(pick the most relevant)"></td>
                    </tr>
                    <tr>
                      <td>ID <span class="red">*</span></td>
                      <td><input type="text" id="checkbox-id" placeholder="(optional ID - only specify if extra functionality is needed)"></td>
                    </tr>
                    <tr>
                      <td>Tooltip <span class="red">*</span></td>
                      <td><%- include("../../partials/form_partials.ejs", {"forms": [{"type": "checkbox","config": {"label": " ","id": "checkbox-tooltip","boxes": [{"text": "Add tooltip?","toggle": "#checkbox-tooltip-options"}]}}]}); %>
                      <div id="checkbox-tooltip-options" hidden>
                        <label>Tooltip Screen-reader Label<input type="text" id="checkbox-tooltip-label" placeholder="Gender help"></label>
                        <label>Tooltip Text Content<input type="text" id="checkbox-tooltip-text" placeholder="Tooltip text (some <strong>HTML</strong> OK)"></label>
                      </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" id="checkboxes">
                        <button style="text-align: center; margin: 0.5em auto 1em auto;" id="checkbox-toggle-extra" class="display-block uikit-btn uikit-btn--tertiary">Toggle Advanced Options</button>

                        
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <button id="add-another-checkbox" style="text-align: center; margin: 0.5em auto 1em auto;" class="display-block uikit-btn">Add Another</button>
                      </td>
                    </tr>
                </table>
                <h2 class="display-inline"><span class="red">*</span></h2> <h3 class="display-inline">Denotes optional field</h3>

                <div id="checkbox-code">
                  <pre>
                    <code class="language-ejs">
                      
                    </code>
                  </pre>
                </div>
              </div>

              <div hidden id="component-pagination">

              </div>


          </div>
          <%- include(partials+"styleguide-sidenav") %>
        </div>
      </div>
    </main>
    <%- include(partials+"styleguide-footer") %>

    <table class="checkbox" id="checkbox-template" hidden>
      <thead>
        <tr>
          <th>Item</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody class="checkbox-basic">
        <tr>
          <td>Box Text <span class="red">*</span></td>
          <td>
            <input type="text" class="option-text" placeholder="What the user sees next to the box">
          </td>
        </tr>
      </tbody>
      <tbody class="checkbox-advanced" hidden>
        <tr>
          <td>Individual Box Hint <span class="red">*</span></td>
          <td><input type="text" class="option-value" placeholder='(choose all that apply)'></td>
        </tr>
        <tr>
          <td>Toggle Element <span class="red">*</span></td>
          <td><input type="text" class="option-toggle" placeholder="CSS Selector for element to toggle if selected"></td>
        </tr>
        <tr>
          <td>Inject Element <span class="red">*</span></td>
          <td><input type="text" class="option-toggle" placeholder="CSS Selector for element to inject if selected"></td>
        </tr>
        <tr>
          <td>Disabled Option <span class="red">*</span></td>
          <td>
            <div class="form-group">
              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input type="checkbox" class="uikit-control-input__input option-disabled">
                  <span class="uikit-control-input__text"></span>
                </label>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="2" style="margin: 0 auto; text-align: center;"><button class="uikit-btn uikit-btn--tertiary delete-option">Delete Option</button></td>
        </tr>
      </tbody>
    </table>

    <table class="option" id="opt-template" data-option-no="0" hidden>
      <thead>
        <tr>
          <th>Item</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody select-basic>
        <tr>
          <td>Option Text <span class="red">*</span></td>
          <td>
            <input type="text" class="option-text" placeholder="What the user sees in the dropdown">
          </td>
        </tr>
      </tbody>
      <tbody class="select-advanced" hidden>
        <tr>
          <td>Custom Value Attribute <span class="red">*</span></td>
          <td><input type="text" class="option-value" placeholder='value="option"'></td>
        </tr>
        <tr>
          <td>Toggle Element <span class="red">*</span></td>
          <td><input type="text" class="option-toggle" placeholder="CSS Selector for element to toggle if selected"></td>
        </tr>
        <tr>
          <td>Selected by Default<span class="red">*</span></td>
          <td>
            <div class="form-group">
              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input type="checkbox" name="select-opt-selected" class="select-opt-selected option-selected uikit-control-input__input">
                  <span class="uikit-control-input__text"></span>
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Disabled Option <span class="red">*</span></td>
          <td>
            <div class="form-group">
              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input type="checkbox" class="uikit-control-input__input option-disabled">
                  <span class="uikit-control-input__text"></span>
                </label>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="2" style="margin: 0 auto; text-align: center;"><button class="uikit-btn uikit-btn--tertiary delete-option">Delete Option</button></td>
        </tr>
      </tbody>
    </table>




    <script>

      /* 

            SELECT

      */
     
      $("#add-another-option").on("click", function() {
        $("#opt-template").clone().attr("id", "").attr("hidden", false).appendTo("#options");
      });

      $("#select-toggle-extra").on("click", () => {
        $(".select-advanced").each(function() {
          $(this).toggle();
        });
      });

      $(document).ready(() => {
        $("#opt-template").clone().attr("id", "").appendTo("#options");
        $("#options .option").show();
      });

      $("#options").on("change", ".select-opt-selected", function() {
        if($(this).prop("checked")) {
         $(".select-opt-selected").not($(this)).each(function() {
          $(this).prop("disabled", true);
         });
       } else {
         $(".select-opt-selected").each(function() {
          $(this).prop("disabled", false);
         });
      }
    });

    var select_json = {
      "forms": [
      {
        "type": "select",
        "config": {
          "label": "",
          "options": [
          ]
        }
      }]
    };


    function generateSelect() {
      if ($("#select-label").val() != undefined && $("#select-label").val() != "") {
        select_json.forms[0].config.label = $("#select-label").val();
      }

      if ($("#select-id").val() != "") {
        select_json.forms[0].config.id = $("#select-id").val();
      } else {
        delete select_json.forms[0].config.id;
      }

      if ($("#select-hint").val() != "") {
        select_json.forms[0].config.hint = $("#select-hint").val();
      } else {
        delete select_json.forms[0].config.hint;
      }

      if ($("#select-disabled-1").prop("checked")) {
        select_json.forms[0].config.disabled = true;
      } else {
        delete select_json.forms[0].config.disabled;
      }

      if ($("#select-tooltip-1").prop("checked") && $("#select-tooltip-label").val() != "" && $("#select-tooltip-text").val() != "") {
        select_json.forms[0].config.tooltip = {};
        select_json.forms[0].config.tooltip.label = $("#select-tooltip-label").val();
        select_json.forms[0].config.tooltip.text = $("#select-tooltip-text").val();
      } else {
        delete select_json.forms[0].config.tooltip;
      }
      
      select_json.forms[0].config.options = [];

      $("#options .option").each(function() {

        option = {};

        if ($(this).find(".option-text").val() != "") option.text = $(this).find(".option-text").val();
        if ($(this).find(".option-value").val() != "") option.value = $(this).find(".option-value").val();
        if ($(this).find(".option-toggle").val() != "") option.toggle = $(this).find(".option-toggle").val();
        if ($(this).find(".option-disabled").prop("checked") != "") option.disabled = true;
        if ($(this).find(".option-selected").prop("checked") != "") option.selected = true;

        select_json.forms[0].config.options.push(option);
      });

      $("#select-code").html(`<div class="code-toolbar"><pre class="language-ejs"><code class=" language-ejs"></code></pre><div class="toolbar"><div class="toolbar-item"><a>Copy</a></div></div></div>`);

      $("#select-code .code-toolbar pre code").html(`&lt;% include(partials+"form_partials", ` + JSON.stringify(select_json, null, 2 )+"); %&gt;")
    }

    $("#options").on("click", ".delete-option", function() {
      $(this).parent().parent().parent().parent().remove();
      generateSelect();
    });

    $("#component-select").on("change", "input", generateSelect);

    /* 

        TEXT INPUT

    */

    var text_json = {
      "forms": [
      {
        "type": "text",
        "config": {
          "label": ""
        }
      }]
    };


    $("#component-text").on("click", () => {
      if ($("#text-label").val() != undefined && $("#text-label").val() != "") {
        text_json.forms[0].config.label = $("#text-label").val();
      }

      if ($("#text-id").val() != "") {
        text_json.forms[0].config.id = $("#text-id").val();
      } else {
        delete text_json.forms[0].config.id;
      }

      if ($("#text-hint").val() != "") {
        text_json.forms[0].config.hint = $("#text-hint").val();
      } else {
        delete text_json.forms[0].config.hint;
      }

      if ($("#text-placeholder").val() != "") {
        text_json.forms[0].config.placeholder = $("#text-placeholder").val();
      } else {
        delete text_json.forms[0].config.placeholder;
      }

      if ($("#text-disabled-1").prop("checked")) {
        text_json.forms[0].config.disabled = true;
      } else {
        delete text_json.forms[0].config.disabled;
      }

      if ($("#text-tooltip-1").prop("checked") && $("#text-tooltip-label").val() != "" && $("#text-tooltip-text").val() != "") {
        text_json.forms[0].config.tooltip = {};
        text_json.forms[0].config.tooltip.label = $("#text-tooltip-label").val();
        text_json.forms[0].config.tooltip.text = $("#text-tooltip-text").val();
      } else {
        delete text_json.forms[0].config.tooltip;
      }

      $("#text-code").html(`<div class="code-toolbar"><pre class="language-ejs"><code class=" language-ejs"></code></pre><div class="toolbar"><div class="toolbar-item"><a>Copy</a></div></div></div>`);

      $("#text-code .code-toolbar pre code").html(`&lt;% include(partials+"form_partials", ` + JSON.stringify(text_json, null, 2 )+"); %&gt;");
    });

    /* 

        TEXTAREA

    */

    var textarea_json = {
      "forms": [
      {
        "type": "textarea",
        "config": {
          "label": ""
        }
      }]
    };


    $("#component-textarea").on("click", () => {
      if ($("#textarea-label").val() != undefined && $("#textarea-label").val() != "") {
        textarea_json.forms[0].config.label = $("#textarea-label").val();
      }

      if ($("#textarea-id").val() != "") {
        textarea_json.forms[0].config.id = $("#textarea-id").val();
      } else {
        delete textarea_json.forms[0].config.id;
      }

      if ($("#textarea-rows").val() != "") {
        textarea_json.forms[0].config.rows = $("#textarea-rows").val();
      } else {
        delete textarea_json.forms[0].config.rows;
      }

      if ($("#textarea-hint").val() != "") {
        textarea_json.forms[0].config.hint = $("#textarea-hint").val();
      } else {
        delete textarea_json.forms[0].config.hint;
      }

      if ($("#textarea-placeholder").val() != "") {
        textarea_json.forms[0].config.placeholder = $("#textarea-placeholder").val();
      } else {
        delete textarea_json.forms[0].config.placeholder;
      }

      if ($("#textarea-disabled-1").prop("checked")) {
        textarea_json.forms[0].config.disabled = true;
      } else {
        delete textarea_json.forms[0].config.disabled;
      }

      if ($("#textarea-tooltip-1").prop("checked") && $("#textarea-tooltip-label").val() != "" && $("#textarea-tooltip-text").val() != "") {
        textarea_json.forms[0].config.tooltip = {};
        textarea_json.forms[0].config.tooltip.label = $("#textarea-tooltip-label").val();
        textarea_json.forms[0].config.tooltip.text = $("#textarea-tooltip-text").val();
      } else {
        delete textarea_json.forms[0].config.tooltip;
      }

      $("#textarea-code").html(`<div class="code-toolbar"><pre class="language-ejs"><code class=" language-ejs"></code></pre><div class="toolbar"><div class="toolbar-item"><a>Copy</a></div></div></div>`);

      $("#textarea-code .code-toolbar pre code").html(`&lt;% include(partials+"form_partials", ` + JSON.stringify(textarea_json, null, 2 )+"); %&gt;");
    });

    /* 

        DATE

    */

    var date_json = {
      "forms": [
      {
        "type": "date",
        "config": {
          "label": ""
        }
      }]
    };


    $("#component-date").on("click", () => {
      if ($("#date-label").val() != undefined && $("#date-label").val() != "") {
        date_json.forms[0].config.label = $("#date-label").val();
      }

      if ($("#date-id").val() != "") {
        date_json.forms[0].config.id = $("#date-id").val();
      } else {
        delete date_json.forms[0].config.id;
      }

      if ($("#date-hint").val() != "") {
        date_json.forms[0].config.hint = $("#date-hint").val();
      } else {
        delete date_json.forms[0].config.hint;
      }

      if ($("#date-disabled-1").prop("checked")) {
        date_json.forms[0].config.disabled = true;
      } else {
        delete date_json.forms[0].config.disabled;
      }

      if ($("#date-tooltip-1").prop("checked") && $("#date-tooltip-label").val() != "" && $("#date-tooltip-text").val() != "") {
        date_json.forms[0].config.tooltip = {};
        date_json.forms[0].config.tooltip.label = $("#date-tooltip-label").val();
        date_json.forms[0].config.tooltip.text = $("#date-tooltip-text").val();
      } else {
        delete date_json.forms[0].config.tooltip;
      }

      $("#date-code").html(`<div class="code-toolbar"><pre class="language-ejs"><code class=" language-ejs"></code></pre><div class="toolbar"><div class="toolbar-item"><a>Copy</a></div></div></div>`);

      $("#date-code .code-toolbar pre code").html(`&lt;% include(partials+"form_partials", ` + JSON.stringify(date_json, null, 2 )+"); %&gt;");
    });


    /*
    
        YES NO TOGGLE

     */

    var yes_no_json = {
      "forms": [
      {
        "type": "y_n_toggle",
        "config": {
          "label": ""
        }
      }]
    };


    $("#component-yes_no").on("click", () => {
      if ($("#yes_no-label").val() != undefined && $("#yes_no-label").val() != "") {
        yes_no_json.forms[0].config.label = $("#yes_no-label").val();
      }

      if ($("#yes_no-id").val() != "") {
        yes_no_json.forms[0].config.id = $("#yes_no-id").val();
      } else {
        delete yes_no_json.forms[0].config.id;
      }

      if ($("#yes_no-hint").val() != "") {
        yes_no_json.forms[0].config.hint = $("#yes_no-hint").val();
      } else {
        delete yes_no_json.forms[0].config.hint;
      }

      if ($("#yes_no-yes-toggle").val() != "") {
        yes_no_json.forms[0].config.yes_toggle = $("#yes_no-yes-toggle").val();
      } else {
        delete yes_no_json.forms[0].config.yes_toggle;
      }

      if ($("#yes_no-no-toggle").val() != "") {
        yes_no_json.forms[0].config.no_toggle = $("#yes_no-no-toggle").val();
      } else {
        delete yes_no_json.forms[0].config.no_toggle;
      }

      if ($("#yes_no-tooltip-1").prop("checked") && $("#yes_no-tooltip-label").val() != "" && $("#yes_no-tooltip-text").val() != "") {
        yes_no_json.forms[0].config.tooltip = {};
        yes_no_json.forms[0].config.tooltip.label = $("#yes_no-tooltip-label").val();
        yes_no_json.forms[0].config.tooltip.text = $("#yes_no-tooltip-text").val();
      } else {
        delete yes_no_json.forms[0].config.tooltip;
      }

      $("#yes_no-code").html(`<div class="code-toolbar"><pre class="language-ejs"><code class=" language-ejs"></code></pre><div class="toolbar"><div class="toolbar-item"><a>Copy</a></div></div></div>`);

      $("#yes_no-code .code-toolbar pre code").html(`&lt;% include(partials+"form_partials", ` + JSON.stringify(yes_no_json, null, 2 )+"); %&gt;");
    });

    /* 

      CHECKBOX/RADIO

    */
   

      $("#add-another-checkbox").on("click", function() {
        $("#checkbox-template").clone().attr("id", "").attr("hidden", false).appendTo("#checkboxes");
      });

      $("#checkbox-toggle-extra").on("click", () => {
        $(".checkbox-advanced").each(function() {
          $(this).toggle();
        });
      });

      $(document).ready(() => {
        $("#checkbox-template").clone().attr("id", "").appendTo("#checkboxes");
        $("#checkboxes .checkbox").show();
      });

    var checkbox_json = {
      "forms": [
      {
        "type": "checkbox",
        "config": {
          "label": "",
          "boxes": []
        }
      }]
    };


    function generateCheckbox() {
      if ($("#checkbox-or-radio option:selected").val() == "checkbox") {
        checkbox_json.forms[0].type = "checkbox";
      } else {
        checkbox_json.forms[0].type = "radio";
      }


      if ($("#checkbox-label").val() != undefined && $("#checkbox-label").val() != "") {
        checkbox_json.forms[0].config.label = $("#checkbox-label").val();
      }

      if ($("#checkbox-id").val() != "") {
        checkbox_json.forms[0].config.id = $("#checkbox-id").val();
      } else {
        delete checkbox_json.forms[0].config.id;
      }

      if ($("#checkbox-hint").val() != "") {
        checkbox_json.forms[0].config.hint = $("#checkbox-hint").val();
      } else {
        delete checkbox_json.forms[0].config.hint;
      }

      if ($("#checkbox-tooltip-1").prop("checked") && $("#checkbox-tooltip-label").val() != "" && $("#checkbox-tooltip-text").val() != "") {
        checkbox_json.forms[0].config.tooltip = {};
        checkbox_json.forms[0].config.tooltip.label = $("#checkbox-tooltip-label").val();
        checkbox_json.forms[0].config.tooltip.text = $("#checkbox-tooltip-text").val();
      } else {
        delete checkbox_json.forms[0].config.tooltip;
      }
      
      checkbox_json.forms[0].config.boxes = [];

      $("#checkboxes .checkbox").each(function() {

        checkbox = {};

        if ($(this).find(".checkbox-text").val() != "") checkbox.text = $(this).find(".checkbox-text").val();
        if ($(this).find(".checkbox-hint").val() != "") checkbox.hint = $(this).find(".checkbox-hint").val();
        if ($(this).find(".checkbox-inject").val() != "") checkbox.inject = $(this).find(".checkbox-inject").val();
        if ($(this).find(".checkbox-toggle").val() != "") checkbox.toggle = $(this).find(".checkbox-toggle").val();
        if ($(this).find(".checkbox-disabled").prop("checked") != "") checkbox.disabled = true;

        checkbox_json.forms[0].config.boxes.push(checkbox);
      });

      $("#checkbox-code").html(`<div class="code-toolbar"><pre class="language-ejs"><code class=" language-ejs"></code></pre><div class="toolbar"><div class="toolbar-item"><a>Copy</a></div></div></div>`);

      $("#checkbox-code .code-toolbar pre code").html(`&lt;% include(partials+"form_partials", ` + JSON.stringify(checkbox_json, null, 2 )+"); %&gt;")
    }

    $("#checkboxes").on("click", ".delete-option", function() {
      $(this).parent().parent().parent().parent().remove();
      generateCheckbox();
    });

    $("#checkbox-or-radio").on("change", function() {
      generateCheckbox();
    });

    $("#component-checkbox").on("change", "input", generateCheckbox);


    /*
    
        PAGINATION

     */


    var checkbox_json = {
      "forms": [
      {
        "type": "pagination",
        "config": {
          "normal": [],
          "floated": []
        }
      }]
    };


    </script>    


</body>

</html>