<%- include(components+"styleguide/styleguide-header", {
  heading: "Form groups",
  claim: "Style Guide"
}) %>

  <%- include(components+"styleguide/terminology-used") %>
  
  <h2>Types of forms:</h2>
  <ul>
    <li class="uikit-link-list"><a href="#address">Address</a></li>
    <li class="uikit-link-list"><a href="#bankdetails">Bank Details</a></li>
    <li class="uikit-link-list"><a href="#gender">Gender</a></li>
  </ul>

  <h2 id="address">Bank Details</h2>
  <div class="example-box form_elem" data-field="address">
    <h3>Practical example</h3>
    <%- include(partials+"components/form-partials/prepop/address", {
      legend: "Please enter your residential address"
    }); %>
  

    <div class="accordion">
      <button class="style-less-button accordion-button margin-below--small"><i class="transition fas fa-chevron-right"></i> Code example</button>
      <div class="accordion-content" hidden>  

        <pre class="language-ejs">
          <code>
            <%%- include(partials+"components/form-partials/prepop/address", {
              legend: "Please enter your residential address"
            }); %%>
          </code>
        </pre>
      </div>
    </div>
  </div>
  <hr>

  <hr>
  <h2 id="address">Address</h2>
  <div class="example-box form_elem" data-field="bankdetails">
    <h3>Practical example</h3>
    <%- include(partials+"components/form-partials/prepop/bank-details", {
      legend: "Bank details"
    }); %>
  

    <div class="accordion">
      <button class="style-less-button accordion-button margin-below--small"><i class="transition fas fa-chevron-right"></i> Code example</button>
      <div class="accordion-content" hidden>  

        <pre class="language-ejs">
          <code>
            <%%- include(partials+"components/form-partials/prepop/bank-details", {
              legend: "Bank details"
            }); %%>
          </code>
        </pre>
      </div>
    </div>
  </div>
  <hr>

  <h2 id="gender">Gender</h2>
  <div class="example-box form_elem" data-field="gender">
    <h3>Practical example</h3>
    <%- include(partials+"components/form-partials/prepop/gender"); %>
  

    <div class="accordion">
      <button class="style-less-button accordion-button margin-below--small"><i class="transition fas fa-chevron-right"></i> Code example</button>
      <div class="accordion-content" hidden>  

        <pre class="language-ejs">
          <code>
            <%%- include(partials+"components/form-partials/prepop/gender"); %%>
          </code>
        </pre>
      </div>
    </div>
  </div>
  <hr>

  <script>
    var modGlobal = [
      {
        text: "hintNewLine",
        desc: "Moves the hint to a new line (only if a hint is specified)"
      },
      {
        text: "hidden",
        desc: "Hides the (set) of form elements"
      },
      {
        text: "disabled",
        desc: "Disables the (set of) form elements"
      },
      {
        text: "tooltipShowText",
        desc: "(Only if tooltip specified) Shows extra supporting text for tooltip"
      },
      {
        text: "inputFullLength",
        desc: "Uses the full length variant for form element"
      }
    ];

    var tooltip = {
      property: "tooltip",
      desc: "A button to toggle extended description",
      type: "object",
      req: false
    };

    var hint = {
      property: "hint",
      desc: "Some text to provide some extra information on the question",
      type: "string",
      req: false
    };

    var legend = {
      property: "legend",
      desc: "A \"label\" for the set of fields",
      type: "string",
      req: true
    };

    var legendMod = {
      property: "legend",
      desc: "A \"label\" for the set of fields",
      type: "string",
      req: false
    }

    var label = {
      property: "label",
      desc: "A label for the form element",
      type: "string",
      req: true
    };

    var modifiers = {
      property: "modifiers",
      desc: "A list of pre-determined strings to modify the output",
      type: "array",
      req: false
    };

    var id = {
      property: "id",
      desc: "An optional ID for the form field(s) - use when any Javascript is used",
      type: "string",
      req: false
    }

    var boxes = {
      property: "boxes",
      desc: "A list of either strings or objects to create a list of checkboxes or radios",
      type: "array",
      req: true
    }

    var selector = `<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors" rel="external">CSS Selector</a>`;


    var properties = {
      address: [
        tooltip,
        legendMod,
        modifiers,
        hint,
        id
      ],
      bankdetails: [
        tooltip,
        legendMod,
        modifiers,
        hint,
        id
      ],
      gender: [
        {
          property: "tooltip",
          desc: "A button to toggle an large extend description (gender has default specified tooltip)",
          type: "object",
          req: false
        },
        id,
        modifiers,
        hint,
        {
          property: "label",
          desc: "A label for the form element (defaults to \"Gender\"",
          type: "string",
          req: true
        }
      ]
    };

    $(document).ready(function() {
      $(".form_elem").each(function() {

        var mapArr = arr => {
          var mappedArr = arr.map(elem => {            
            return `
            <tr>
              <td><pre class="language-json">${elem.property}:<code></code></pre></td>
              <td>${elem.desc}</td>
              <td><pre class="language-text"><code>${elem.type}</code></pre></td>
              <td>${elem.req ? "Yes" : "No" }</td>
            </tr>`
          });

          return `
              <table class="margin-above">
                <thead>
                  <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Data type</th>
                    <th>Required</th>
                  </tr>
                </thead>
                <tbody>
                  ${mappedArr.join("")}
                </tbody>
              </table>
          `

        };

        var mapMods = mods => {
          var mappedMods = mods.map(mod => {
            return `
              <tr>
                <td><pre class="language-json"><code>"${mod.text}"</code></pre></td>
                <td>${mod.desc}</td>
              </tr>
            `
          });
          return `
            <table class="margin-above">
              <thead>
                <tr>
                  <th>Modifier</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                ${mappedMods.join("")}
              </tbody>
            </table>`

        }
       
        $(this).append(`
          <div class="accordion properties">
            <button class="style-less-button accordion-button"><i class="transition fas fa-chevron-right"></i> Properties</button>
            <div class="accordion-content" hidden>
              ${mapArr(properties[$(this).data("field")])}
              ${$(this).data("field") === "address" || $(this).data("field") === "bankdetails" ? `
              <div style="margin-left: 1em;" class="accordion">
                <button class="style-less-button accordion-button"><i class="transition fas fa-chevron-right"></i> Modifiers</button>
                  <div class="accordion-content" hidden>
                    ${mapMods([modGlobal[0], modGlobal[3]])}
                  </div>
              </div>` : ""}
              ${$(this).data("field") === "gender" ? `
              <div style="margin-left: 1em;" class="accordion">
                <button class="style-less-button accordion-button"><i class="transition fas fa-chevron-right"></i> Modifiers</button>
                  <div class="accordion-content" hidden>
                    ${mapMods([modGlobal[0], modGlobal[2], modGlobal[3]])}
                  </div>
              </div>` : ""}
            </div>
          </div>`);
      });


      $(".form_elem").on("click", ".properties .accordion-button", function() {
        if ($(this).hasClass("rotate-90")) {
          $(this).removeClass("rotate-90");
        } else {
          $(this).addClass("rotate-90");
        }

        $(this).parent().find("> .accordion-content").toggle();
      });

    });
  </script>

<%- include(partials+"components/styleguide/styleguide-footer") %>