<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Layout | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"components/styleguide/styleguide-header") %>

  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Layout</li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-sm-9">
          <h1>Layout</h1>
          <p>Layout components create a consistent structural appearance across pages, devices and applications. These components form the basic structure of each page.</p>
          <hr>
          <h2>Reduced header</h2>
          <a name="default-header"></a>
          <p>This header style is used for pages that sit within a process flow (eg. making a claim for initial liability).</p>
          <div class="example-box">
            <a name="reduced-header"></a>
            <header class="uikit-header reduced-header">
              <div class="container">
                <img class="logo-myservice" src="/docs/images/logo-myservice.svg" alt="MyService logo" />
              </div>
            </header>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <header class="uikit-header reduced-header">
                        <div class="container">
                          <img class="logo-myservice" src="/docs/images/logo-myservice.svg" alt="MyService logo" />
                       </div>
                     </header>
                    </script>
                  </code>
                </pre>
            </div>
          </div>
          <p>To see an example of the reduced header go <a href="/auth/claim/health-card0">here</a>.</p>
          <hr>

          <a name="light-header"></a>
          <h2>Light header</h2>
          <p>This header style is used for the unathenticated homepage. That is, the page a user will see before they login to MyService.</p>
          <div class="example-box">
            <header class="uikit-header landing-page" style="position: relative">
              <div class="container">
                <img src="/docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo" />
                <img class="logo-myservice" src="/docs/images/logo-myservice-reversed.svg" alt="MyService logo" />
                <p class="header-login">
                  <a href="#" class="panel-btn">Log in</a>/</p>
              </div>
            </header>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <header class="uikit-header landing-page">
                        <div class="container">
                        <img src="/docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo" />
                        <img class="logo-myservice" src="/docs/images/logo-myservice-reversed.svg" alt="MyService logo" />
                        <p class="header-login">
                          <a href="#" class="panel-btn">Log in</a>/</p>
                        </div>
                      </header>
                    </script>
                  </code>
                </pre>
            </div>
          </div>
          <p>To see an example of the light header go <a href="/auth/mygov/mygov-login">here</a>.</p>
          <hr>
          <h2>Support services panel</h2>
          <p>The 24hr counselling and support service panel appears globally across MyService. The animated sliding panel provides assistance to users who are looking for
            counselling
            and support services. The panel is activated via a button in the header of every page.</p>
          <div class="example-box">
            <table>
              <tr>
                <td>
                  <div class="accordion-toppanel--wrapper">
                    <div class="container">
                      <section class="uikit-accordion accordion-closed">
                        <div class="uikit-accordion__body" id="accordion-closed" aria-hidden="true">
                          <div class="uikit-accordion__body-wrapper">
                            <div class="row support-box">
                              <div class="col-xs-12 col-sm-6 col-md-3">
                                <a href="http://www.vvcs.gov.au/">
                                  <img src="/docs/images/logo-vvcs.png">
                                  <span class="external-link">Open Arms – Veterans and Families Counselling</span>
                                </a>
                                <br>
                                <strong>1800&nbsp;011&nbsp;046</strong>
                              </div>
                              <div class="col-xs-12 col-sm-6 col-md-3">
                                <a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp">
                                  <img src="/docs/images/logo-defence.png">
                                  <span class="external-link">ADF Mental Health All Hours Support Line</span>
                                </a>
                                <br>
                                <strong>1800&nbsp;628&nbsp;036</strong>
                              </div>
                              <div class="col-xs-12 col-sm-6 col-md-3">
                                <a href="https://www.lifeline.org.au/">
                                  <img src="/docs/images/logo-lifeline.png">
                                  <span class="external-link">Lifeline</span>
                                </a>
                                <br>
                                <strong>13&nbsp;11&nbsp;14</strong>
                              </div>
                              <div class="col-xs-12 col-sm-6 col-md-3">
                                <a href="https://www.1800respect.org.au">
                                  <img src="/docs/images/logo-1800respect.png">
                                  <span class="external-link">National Sexual Assault, Domestic and Family Violence Counselling Service</span>
                                </a>
                                <br>
                                <strong>1800&nbsp;737&nbsp;732</strong>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="trial-message">
                          This is a trial. Please provide<a href="javascript:void(0);">feedback</a>
                        </div>


                        <a href="#accordion-closed" class="uikit-accordion__title js-uikit-accordion" aria-controls="accordion-closed" aria-expanded="false" aria-selected="false"
                          role="tab" onclick="">
                          <span class="accordion-toppanel-btn--text">
                            <span class="sr">24hr </span>counselling and support
                            <span class="sr"> services</span>
                          </span>
                        </a>
                        <a class="logout" href="/">Log out</a>

                      </section>
                    </div>
                  </div>

                </td>
              </tr>
            </table>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                    </script>
                  </code>
                </pre>
            </div>
          </div>
          <p>To see an example of support services panel go <a href="/unauth/registration/register-6">here</a>.</p>
          <hr>

          <!-- Header menu component -->
          <h2>Main navigation</h2>
          <p>The main navigation is a list item containing an icon accompanied by text. <br> At $uikit-media-md (992px) the menu changes to a togglable mobile menu.</p>
          <div class="example-box menu__styleguide-wrapper">
            <header class="uikit-header">
              <div>
                <button class="toggle" aria-expanded="false">Menu</button>
                <ul class="menu">
                  <li class="menu__item " id="home">
                    <a href="/auth" class="menu__item-link nav-active">
                      <div class="fal fa-home fa-2x fa-fw"></div>
                      <div class="menu__item-name">Home</div>
                    </a>
                  </li>
                  <li class="menu__item " id="tasks">
                    <a href="/auth/tasks" class="menu__item-link">
                      <div class="fal fa-tasks fa-2x fa-fw"></div>
                      <div class="tasks-badge">3</div>
                      <div class="menu__item-name">Tasks</div>
                    </a>
                  </li>
                  <li class="menu__item " id="claim">
                    <a href="/auth/claim" class="menu__item-link">
                      <div class="fal fa-list-alt fa-2x fa-fw"></div>
                      <div class="menu__item-name">Claims</div>
                    </a>
                  </li>
                  <li class="menu__item " id="payments">
                    <a href="/auth/payments" class="menu__item-link">
                      <div class="fal fa-calendar-check fa-2x fa-fw"></div>
                      <div class="menu__item-name">Payments</div>
                    </a>
                  </li>
                  <li class="menu__item " id="healthcard">
                    <a href="/auth/healthcard" class="menu__item-link">
                      <div class="fal fa-credit-card-blank fa-2x fa-fw"></div>
                      <div class="menu__item-name">Cards</div>
                    </a>
                  </li>
                  <li class="menu__item " id="travel">
                    <a href="/auth/travel" class="menu__item-link">
                      <div class="fal fa-car-alt fa-2x fa-fw"></div>
                      <div class="menu__item-name">Transport</div>
                    </a>
                  </li>
                  <li class="menu__item " id="profile">
                    <a href="/auth/profile" class="menu__item-link">
                      <div class="fal fa-user-circle fa-2x fa-fw"></div>
                      <div class="menu__item-name">Profile</div>
                    </a>
                  </li>
                  <li class="menu__item menu__item--external" id="myaccount">
                    <a href="#open-myaccount-modal" class="menu__item-link">
                      <div class="fal fa-exchange fa-2x fa-fw"></div>
                      <div class="menu__item-name">My Account</div>
                    </a>
                  </li>
                </ul>
              </div>
            </header>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                    <code class="language-markup">
                      <script type="text/plain">
                        <header class="uikit-header">
                          <div>
                            <button class="toggle" aria-expanded="false">Menu</button>
                            <ul class="menu">
                              <li class="menu__item " id="home">
                                <a href="/auth" class="menu__item-link nav-active">
                                  <div class="fal fa-home fa-2x fa-fw"></div>
                                  <div class="menu__item-name">Home</div>
                                </a>
                              </li>
                              <li class="menu__item " id="tasks">
                                <a href="/auth/tasks" class="menu__item-link">
                                  <div class="fal fa-tasks fa-2x fa-fw"></div>
                                  <div class="tasks-badge">3</div>
                                  <div class="menu__item-name">Tasks</div>
                                </a>
                              </li>
                              <li class="menu__item " id="claim">
                                <a href="/auth/claim" class="menu__item-link">
                                  <div class="fal fa-list-alt fa-2x fa-fw"></div>
                                  <div class="menu__item-name">Claims</div>
                                </a>
                              </li>
                              <li class="menu__item " id="payments">
                                <a href="/auth/payments" class="menu__item-link">
                                  <div class="fal fa-calendar-check fa-2x fa-fw"></div>
                                  <div class="menu__item-name">Payments</div>
                                </a>
                              </li>
                              <li class="menu__item " id="healthcard">
                                <a href="/auth/healthcard" class="menu__item-link">
                                  <div class="fal fa-credit-card-blank fa-2x fa-fw"></div>
                                  <div class="menu__item-name">Cards</div>
                                </a>
                              </li>
                              <li class="menu__item " id="travel">
                                <a href="/auth/travel" class="menu__item-link">
                                  <div class="fal fa-car-alt fa-2x fa-fw"></div>
                                  <div class="menu__item-name">Transport</div>
                                </a>
                              </li>
                              <li class="menu__item " id="profile">
                                <a href="/auth/profile" class="menu__item-link">
                                  <div class="fal fa-user-circle fa-2x fa-fw"></div>
                                  <div class="menu__item-name">Profile</div>
                                </a>
                              </li>
                              <li class="menu__item menu__item--external" id="myaccount">
                                <a href="#open-myaccount-modal" class="menu__item-link">
                                  <div class="fal fa-exchange fa-2x fa-fw"></div>
                                  <div class="menu__item-name">My Account</div>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </header>
                      </script>
                    </code>
                  </pre>
            </div>
          </div>

          <p>To see an example of the main navigation go <a href="/auth/">here</a>.</p>
          <script type="text/javascript">
            var toggle = document.querySelector('.toggle');
            var menu = document.querySelector('.menu');
            document.querySelector('.toggle').addEventListener("click", function () {
              toggle.classList.toggle('menu-closed');
              menu.classList.toggle('is-active');
            });
          </script>

          <!-- Header menu component ends -->
          <hr>
          <h2>Page title</h2>
          <p>The page title component is placed at the top of the page taking up the entire screen width and clearly describes what page the user has arrived on.</p>
          <div class="example-box">
            <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
              <div class="margin-above--none">
                <h1 class="margin-above--none ss-align--center">
                  <span class="heading">Review and Submit</span>
                </h1>
              </div>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
                        <div class="margin-above--none">
                          <h1 class="margin-above--none ss-align--center">
                            <span class="heading">Review and Submit</span>
                          </h1>
                        </div>
                      </div>
                    </script>
                  </code>
                </pre>
            </div>
          </div>
          <p>To see an example of this component go <a href="/auth/claim/qualifying_service/qs-1">here</a>.</p>
          <hr>
          <!-- Side menu component starts -->
          <h2>Side navigation</h2>
          <p>The side navigation component is utilised for secondary navigation within pages.</p>
          <div class="example-box row">
            <div class="col-md-3">
              <ul class="secondary-navigation">
                <li class="secondary-navigation__item ">
                  <a class="secondary-navigation__link" href="/auth/profile">Personal details</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="/auth/profile/contact">Contact details</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="/auth/profile/history">Service history</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="/auth/profile/relationships">Relationships</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="/auth/profile/payment">Bank details</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="/auth/profile/nomrep">Representation</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="row">
                          <div class="col-md-3">
                            <ul class="secondary-navigation">
                              <li class="secondary-navigation__item ">
                                <a class="secondary-navigation__link" href="/auth/profile">Personal details</a>
                              </li>
                              <li class="secondary-navigation__item">
                                <a class="secondary-navigation__link" href="/auth/profile/contact">Contact details</a>
                              </li>
                              <li class="secondary-navigation__item">
                                <a class="secondary-navigation__link" href="/auth/profile/history">Service history</a>
                              </li>
                              <li class="secondary-navigation__item">
                                <a class="secondary-navigation__link" href="/auth/profile/relationships">Relationships</a>
                              </li>
                              <li class="secondary-navigation__item">
                                <a class="secondary-navigation__link" href="/auth/profile/payment">Bank details</a>
                              </li>
                              <li class="secondary-navigation__item">
                                <a class="secondary-navigation__link" href="/auth/profile/nomrep">Representation</a>
                              </li>
                            </ul>
                          </div>
                    </script>
                  </code>
                </pre>
            </div>
          </div>

          <p>To see an example of the side navigation component in use go <a href="/auth/profile">here</a>.</p>
          <!-- Side menu component ends -->
          <hr>
          <h2>Flow pagination</h2>

          <div class="example-box">
            <%- include(partials+"components/pagination") %>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <%- include(partials+"components/pagination") %>
                    </script>
                  </code>
                </pre>
            </div>
          </div>

          <p>An example of this component can be found <a href="/auth/claim/claims-make">here</a>.</p>
          <hr>
          <h2>Footer</h2>
          <p>The MyService footer is a global element and appears consistently across
            <b>all</b> pages. The DVA logo is featured prominently in the bottom left, inline with the
            <a href="https://www.dta.gov.au/standard/design-guides/branding/#mobile-websites" rel="external">Australian Government guides</a>, the logo size and positioning does
            not
            effecting the integrity of the logo.</p>

          <div class="example-box">
            <footer class="uikit-footer uikit-footer--gradient" role="contentinfo">
              <div class="container">
                <div class="row">
                  <section class="uikit-footer__end">
                    <div class="row">
                      <div class="col-sm-4">
                        <img src="/docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo">
                      </div>
                      <div class="col-sm-9">
                        <ul class="uikit-link-list uikit-link-list--inline">
                          <li>
                            <a href="http://www.dva.gov.au/site-information/disclaimer">Disclaimer</a>
                          </li>
                          <li>
                            <a href="http://www.dva.gov.au/site-information/privacy">Privacy and security</a>
                          </li>
                          <li>
                            <a href="http://www.dva.gov.au/site-information/copyright">Copyright</a>
                          </li>
                          <li>
                            <a href="/unauth/terms-and-conditions">Terms of use</a>
                          </li>
                          <li>
                            <a href="http://www.dva.gov.au/" rel="external">
                              <strong>Department of Veterans' Affairs</strong>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </footer>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <footer class="uikit-footer uikit-footer--gradient" role="contentinfo">
                        <div class="container">
                          <div class="row">
                            <section class="uikit-footer__end">
                              <div class="row">
                                <div class="col-sm-4">
                                  <img src="/docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo">
                                </div>
                                <div class="col-sm-9">
                                  <ul class="uikit-link-list uikit-link-list--inline">
                                    <li>
                                      <a href="http://www.dva.gov.au/site-information/disclaimer">Disclaimer</a>
                                    </li>
                                    <li>
                                      <a href="http://www.dva.gov.au/site-information/privacy">Privacy and security</a>
                                    </li>
                                    <li>
                                      <a href="http://www.dva.gov.au/site-information/copyright">Copyright</a>
                                    </li>
                                    <li>
                                      <a href="/unauth/terms-and-conditions">Terms of use</a>
                                    </li>
                                    <li>
                                      <a href="http://www.dva.gov.au/" rel="external">
                                        <strong>Department of Veterans' Affairs</strong>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </section>
                          </div>
                        </div>
                      </footer>
                    </script>
                  </code>
                </pre>
            </div>
          </div>

          <p>To see an example of the footer component go <a href="/auth/">here</a>.</p>
          <hr>
        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"components/layout/panel-login") %>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>
