<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Modals | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"components/styleguide/styleguide-header") %>

  <main>
    <div class="container" id="main-content">

      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Modals</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Modals</h1>
          <div class="breakout">
            <p>A modal presents information to the user that they must then act on. Because the user can’t do anything until they
              answer your question, you want to be very careful about how you use a modal. By which we really mean,
              <b>use modals sparingly</b>!</p>
          </div>

          <h2>Purpose</h2>

          <p>Modals (aka overlays or dialogs) are horribly disruptive, which means it’s the perfect choice when you need to interrupt
            the user. If you have an urgent message that requires an immediate answer from the user, then a modal is the right
            choice.
          </p>
          <p>A modal can present the user with a small amount of information (generally 2 sentences or less), and two actions. The
            modal takes over the screen, moving the current activity back a level, because the assumption is that whatever comes
            next in the activity is dependent on the answer that the user gives.</p>

          <hr>

          <h2>Demo</h2>

          <div class="example-box">

            <button class="uikit-btn" onclick="window.location.href = '#open-example-modal'">Trigger modal</button>


            <pre>
								<code class="language-markup">
									<script type="text/plain">
// Button code
<button class="uikit-btn" onclick="window.location.href = '#open-example-modal'">Trigger modal</button>

// Modal code
<%- include(partials+"content/modals/styleguide-modal-example") %>
												</script>
								</code>
							</pre>

          </div>

          <hr>

          <h2>Anatomy of a Modal</h2>

          <p>Modals are best suited to situations when you need to grab the user's attention or need user input (for example, deleting
            a document).</p>

          <img src="/docs/images/styleguide/sg-modal-example.png" width="100%">

          <h3>Closing the modal (escape hatch)</h3>
          <p>Users can close the modal in the following ways:</p>
          <ul>
            <li>Close button</li>
            <li>Cancel button</li>
            <li>Escape key</li>
            <li>Click outside the window</li>
          </ul>

          <h3>Descriptive title</h3>
          <p>The title should give context to the user and outline the action they are about to perform.</p>

          <h3>Clear question</h3>
          <p>A simple, clear question should be presented to the user. This will clarify the action they are about to perform and
            give direction on what button they want to click. Questions should be kept as short and succinct and possible.</p>

          <h3>Buttons</h3>
          <p>Buttons should appear on the bottom left of the modal and there should be no more than 3 options presented to the user.
            One button should always be considered the 'primary' action and should use the Primary button styling.</p>
          <p>Button labels should have actionable, understandable names (this actually applies to a button in
            <b>any</b> instance). A simple Yes or No is too ambiguous. Instead, aim for labels like 'Delete file', 'Save claim' or
            'Submit feedback', and of course, 'Cancel'.</p>
          <br>

          <hr>

          <h2>Placement</h2>

          <p>The goal with modal sizing is to keep context with the active page. On medium to large screens, a modal appears in
            the centre of the page with a transparent shaded area masking the active page. On mobile devices (where screen space
            is at a premium), context is sacrificed for readability and a modal will fill the entire width of the screen. In either
            case, content should fit the modal - a scroll bar should not be needed.</p>

          <div class="row" style="padding-top:30px;">
            <div class="col-xs-8 col-md-6">
              <img src="/docs/images/styleguide/sg-modal-example-desktop.png" width="100%" style="border:1px solid #dddddd;">
              <p>
                <i>Above: Modal display on medium to large screens.</i>
              </p>
            </div>
            <div class="col-xs-4 col-md-6">
              <img src="/docs/images/styleguide/sg-modal-example-mobile.png" width="100%" style="border:1px solid #dddddd;">
              <p>
                <i>Above: Modal display on mobile devices.</i>
              </p>
            </div>
          </div>


          <%- include(partials+"content/modals/styleguide-modal-example") %>
        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>

      </div>
    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>