<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | New Form Partials | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <%- include(partials+"components/styleguide/styleguide-header") %>
  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>New Form Partials</li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-sm-9">
          <h1>New Form Partials</h1>
          <h2>Introduction</h2>
          <p>Through the introduction of the new form partials format, it gives you the ability to create forms in a simpler manner and gives you the ability to introduce dynamic content without using any javascript, therefore speeding up the form building process.</p>

          <h2>Types of forms:</h2>
          <ul>
            <li class="uikit-link-list"><a href="#select">Select (Drop down)</a></li>
            <li class="uikit-link-list"><a href="#text">Text</a></li>
            <li class="uikit-link-list"><a href="#textarea">Text Area</a></li>
            <li class="uikit-link-list"><a href="#date">Date</a></li>
            <li class="uikit-link-list"><a href="#yes_no">Yes/No Box</a></li>
            <li class="uikit-link-list"><a href="#checkbox">Checkbox</a></li>
            <li class="uikit-link-list"><a href="#radio">Radio</a></li>
            <li class="uikit-link-list"><a href="#pagination">Pagination</a></li>
          </ul>

<h2 id="select">Select (Drop Down)</h2>
<div class="example-box">
  <h3>Simple Drop Down</h3>
  <p>Simple drop downs can be used when finer control of individual options is not needed. The simple type cannot do things like hide or disable items in the list, nor can it set the value attribute of an option to a given value. It does not do any extra functionality.</p>
  <p>When more advanced features are needed, refer to the advanced drop down.</p>
  <h4>Simple Dropdown Example:</h4>
  <%- include(partials+"components/form_partials.ejs", {
  "forms": [
    {
      "type": "select",
      "config": {
        "label": "Gender",
        "hint": "Please select the option closest to how you identify",
        "tooltip": {
          "label": "Tooltip demo",
          "text": "This is an example of a tooltip!"
        },
        "id": "",
        "options": [
          "Select Your Gender",
          "Male",
          "Female",
          "Other"
        ]
      }
    }
  ]
}); %>
  <h4>Simple Dropdown Code:</h4>
  <pre>
              <code class="language-ejs">
&lt;%- include(partials+"components/form_partials.ejs", {
  "forms": [
    {
      "type": "select",
      "config": {
        "label": "Gender",
        "hint": "Please select the option closest to how you identify",
        "id": "",
        "options": [
          "Select Your Gender",
          "Male",
          "Female",
          "Other"
        ]
      }
    }
  ]
}); %&gt;
              </code>
            </pre>
                <hr>
                <h4>Advanced Dropdown Example:</h4>
                <p hidden id="advanced-mr">
                  You have selected <code>Mister</code>
                </p>
                <p hidden id="advanced-mrs">
                  You have selected <code>Misses</code>
                </p>
                <p hidden id="advanced-dr">
                  You have selected <code>Doctor</code>
                </p>
                <%- include(partials+"components/form_partials.ejs", {
                "forms": [
                  {
                    "type": "select",
                    "config": {
                      "label": "Please select your title",
                      "hint": "",
                      "id": "title",
                      "required": false,
                      "disabled": false,
                      "hidden": false,
                      "options": [
                        {
                          "text": "-- Select title --",
                          "value": "select_title",
                          "selected": true,
                          "disabled": true,
                          "hidden": true
                        },
                        {
                          "text": "None"
                        },
                        {
                          "text": "Mr",
                          "toggle": "#advanced-mr"
                        },
                        {
                          "text": "Mrs",
                          "toggle": "#advanced-mrs"
                        },
                        {
                          "text": "Dr",
                          "toggle": "#advanced-dr"
                        }
                      ]
                    }
                  }
                ]
              }); %>
                <h4>Advanced Dropdown Code:</h4>
                <pre>
                            <code class="language-markup">
              &lt;p hidden id="advanced-mr"&gt;
                You have selected &lt;code&gt;Mister&lt;/code&gt;
              &lt;/p&gt;
              &lt;p hidden id="advanced-mrs"&gt;
                You have selected &lt;code&gt;Misses&lt;/code&gt;
              &lt;/p&gt;
              &lt;p hidden id="advanced-dr"&gt;
                You have selected &lt;code&gt;Doctor&lt;/code&gt;
              &lt;/p&gt;
              &lt;%- include(partials+"components/form_partials.ejs", {
                "forms": [
                  {
                    "type": "select",
                    "config": {
                      "label": "Please select your title",
                      "hint": "",
                      "id": "title",
                      "required": false,
                      "disabled": false,
                      "hidden": false,
                      "options": [
                        {
                          "text": "-- Select title --",
                          "value": "select_title",
                          "selected": true,
                          "disabled": true,
                          "hidden": true
                        },
                        {
                          "text": "None"
                        },
                        {
                          "text": "Mr",
                          "toggle": "#advanced-mr"
                        },
                        {
                          "text": "Mrs",
                          "toggle": "#advanced-mrs"
                        },
                        {
                          "text": "Dr",
                          "toggle": "#advanced-dr"
                        }
                      ]
                    }
                  }
                ]
              }); %&gt;
                            </code>
                          </pre>
              <%- include(partials+"components/form_partials.ejs", {
              "forms": [
                {
                  "type": "checkbox",
                  "config": {
                    "label": " ",
                    "id": "checkbox-select",
                    "boxes": [
                      {
                        "text": "Tick this checkbox to view full reference for drop downs",
                        "hint": "(for full advanced functionality and explanations)",
                        "toggle": "#select-reference"
                      }
                    ]
                  }
                }
              ]
            }); %>
            <div id="select-reference" hidden>
                <h3>Select Configuration</h3>
                <table>
                  <thead>
                    <tr>
                      <th>Attribute</th>
                      <th>Explanation</th>
                      <th>Accepted Values</th>
                      <th>Optional</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <pre><code class="language-json">
                                                  <script type="text/json">"label":</script>
                                                </code></pre>
                      </td>
                      <td>The label for the element, e.g.
                        <pre><code class="language-markup"><script type="text/html"><label>Select title</label></script></code></pre>
                      </td>
                      <td>Text (keep content within the "double quotes") </td>
                      <td>No</td>
                    </tr>
                    <tr>
                      <td>
                        <pre><code class="language-json">
                                                  <script type="text/json">"hint":</script>
                                                </code></pre>
                      </td>
                      <td>Text to go in the hint, e.g.:
                        <pre><code class="language-markup"><script type="text/html"><span class="hint">Select all that apply</span></script></code></pre>
                      </td>
                      <td>Text (keep content within the "double quotes") </td>
                      <td>Yes (default: no hint)</td>
                    </tr>
                    <tr>
                      <td>
                        <pre><code class="language-json">
                                                  <script type="text/json">"id":</script>
                                                </code></pre>
                      </td>
                      <td>Value to be put in the ID attribute of the &lt;select&gt; Useful only when doing extra scripting beyond this partial's functionality.
                        <pre><code class="language-markup"><script type="text/html">id="select"</script></code></pre>
                      </td>
                      <td>Text (keep content within the "double quotes") </td>
                      <td>Yes (default: "select+{number] e,g, select1)</td>
                    </tr>
                    <tr>
                      <td>
                        <pre><code class="language-json">
                                                  <script type="text/json">"required":</script>
                                                </code></pre>
                      </td>
                      <td>Marks that element as required to complete the form</td>
                      <td><span style="color: green;">true</span> or <span style="color: red;">false</span> - case sensitive</td>
                      <td>Yes (default: <span style="color: red; ">false</span>)</td>
                    </tr>
                    <tr>
                      <td>
                        <pre><code class="language-json">
                                                  <script type="text/json">"disabled":</script>
                                                </code></pre>
                      </td>
                      <td>Disable that form element from being used</td>
                      <td><span style="color: green;">true</span> or <span style="color: red;">false</span> - case sensitive</td>
                      <td>Yes (default: <span style="color: red;">false</span>)</td>
                    </tr>
                    <tr>
                      <td>
                        <pre><code class="language-json">
                                                  <script type="text/json">"options":</script>
                                                </code></pre>
                      </td>
                      <td><strong>Type A</strong> List of &lt;option&gt; tags for the element</td>
                      <td>List of text items, eg.
                        <pre><code class="language-json"><script type="text/json">["Mr", "Mrs", "Sir", "Madam]</script></code></pre>
                      </td>
                      <td>No (Either Type A <strong>OR</strong> Type B)</td>
                    </tr>
                    <tr>
                      <td>
                        <pre><code class="language-json">
                                                  <script type="text/json">"options":</script>
                                                </code></pre>
                      </td>
                      <td><strong>Type B</strong> List of &lt;option&gt; tags for the element</td>
                      <td>List of advanced selection options, eg.
                        <pre><code class="language-json"><script type="text/json">[
                            {
                              "disabled": false,
                              "hidden": false,
                              "selected": true,
                              "text": "Select Title",
                              "toggle": "#select_title",
                              "value": "select_title"
                            },
                            {
                              "text": "Mr",
                              "value": "mr"
                            },
                            {
                              "text": "mrs",
                              "value": "mrs"
                            }
                          ]</script></code></pre>
                      </td>
                      <td>No (Either Type A <strong>OR</strong> Type B)</td>
                    </tr>
                    <tr>
                      <td>
                        <pre><code class="language-json">
                                                  <script type="text/json">"text":</script>
                                                </code></pre>
                      </td>
                      <td>
                        <h2 class="display-inline"><strong>*</strong></h2> What the user reads in an option element
                        <pre><code class="language-markup"><script type="text/html"><option>Madam</option></script></code></pre>
                      </td>
                      <td>Text (keep content within the "double quotes") </td>
                      <td>No (if using Type B)</td>
                    </tr>
                    <tr>
                      <td>
                        <pre><code class="language-json">
                                                  <script type="text/json">"value":</script>
                                                </code></pre>
                      </td>
                      <td>
                        <h2 class="display-inline"><strong>*</strong></h2> Text stored in the value attribute in an option
                        <pre><code class="language-json"><script type="text/html">value="madam"</script></code></pre>
                      </td>
                      <td>Text (keep content within the "double quotes") </td>
                      <td>Yes (default is the "text" in all lowercase with underscores instead of spaces - "Select Title" > "select_title")</td>
                    </tr>
                    <tr>
                      <td>
                        <pre><code class="language-json">
                                                  <script type="text/json">"toggle":</script>
                                                </code></pre>
                      </td>
                      <td>
                        <h2 class="display-inline"><strong>*</strong></h2> An element to toggle (i.e. if "Madam" is selected and a toggle element is set for "Madam", that element will be visible)
                      </td>
                      <td>Text (keep content within the "double quotes") of a <a rel="external" href="/docs/Web/CSS/CSS_Selectors">CSS selector</a> e.g. <code>#hello</code> for an element with an ID of "hello"</td>
                      <td>Yes (default no toggle)</td>
                    </tr>
                    <tr>
                      <td>
                        <pre><code class="language-json">
                                                  <script type="text/json">"selected":</script>
                                                </code></pre>
                      </td>
                      <td>
                        <h2 class="display-inline"><strong>*</strong></h2> Manually sets the default selected item in a <code>&lt;select&gt;</code> (can only be used once per select)
                      </td>
                      <td><span style="color: green;">true</span> or <span style="color: red;">false</span> - case sensitive</td>
                      <td>Yes (default: <span style="color: red;">false</span>)</td>
                    </tr>
                    <tr>
                      <td>
                        <pre><code class="language-json">
                                                  <script type="text/json">"disabled":</script>
                                                </code></pre>
                      </td>
                      <td>
                        <h2 class="display-inline"><strong>*</strong></h2> Disables that <code class="display-inline">&lt;option&gt;</code> from being selected in a <code class="display-inline">&lt;select&gt;</code>
              </pre>
              </td>
              <td><span style="color: green;">true</span> or <span style="color: red;">false</span> - case sensitive</td>
              <td>Yes (default: <span style="color: red;">false</span>)</td>
              </tr>
              <tr>
                <td>
                  <pre><code class="language-json">
                                                  <script type="text/json">"disabled":</script>
                                                </code></pre>
                </td>
                <td>
                  <h2 class="display-inline"><strong>*</strong></h2> Disables that <code class="display-inline">&lt;option&gt;</code> from being selected in a <code class="display-inline">&lt;select&gt;</code>
                </td>
                <td><span style="color: green;">true</span> or <span style="color: red;">false</span> - case sensitive</td>
                <td>Yes (default: <span style="color: red;">false</span>)</td>
              </tr>
              </tbody>
              </table>
              <p><em>
                  <h2 class="display-inline"><strong>*</strong></h2> is limited to type B.
                </em></p>
            </div>
          </div>
          


              <hr>
              <h2 id="text">Text</h2>
              <div class="example-box">
                <h3>Text Input</h3>
                <h4>Text Input Example:</h4>
                <%- include(partials+"components/form_partials.ejs", {
                  "forms": [
                    {
                      "type": "text",
                      "config": {
                        "label": "Please enter your name",
                        "placeholder": "John Smith"
                      }
                    }
                  ]
                }); %>
                <h4>Text Input Code:</h4>
                <pre>
                  <code class="language-markup">
                      &lt;%- include(partials+"components/form_partials.ejs", {
                        "forms": [
                          {
                            "type": "text",
                            "config": {
                              "label": "Please enter your name",
                              "placeholder": "John Smith"
                            }
                          }
                        ]
                      }); %&gt;   
                  </code>
                </pre>
                <%- include(partials+"components/form_partials.ejs", {
                  "forms": [
                    {
                      "type": "checkbox",
                      "config": {
                        "label": " ",
                        "id": "checkbox-text",
                        "boxes": [
                          {
                            "text": "Tick this checkbox to view full reference for text input",
                            "hint": "(for full advanced functionality and explanations)",
                            "toggle": "#text-reference"
                          }
                        ]
                      }
                    }
                  ]
                }); %>
                <div id="text-reference" hidden>
                  Coming soon
                </div>
              </div>
          <hr>
              <h2 id="textarea">Text Area (Box)</h2>
              <div class="example-box">
                <h3>Text Area</h3>
                <h4>Text Area Example:</h4>
                <%- include(partials+"components/form_partials.ejs", {
                  "forms": [
                    {
                      "type": "textarea",
                      "config": {
                        "label": "Please describe fairy floss",
                        "hint": "(minimum 500 words)",
                        "placeholder": "Fairy floss is..."
                      }
                    }
                  ]
                }); %>
                <h4>Text Area Code:</h4>
                <pre>
                  <code class="language-markup">
                    &lt;%- include(partials+"components/form_partials.ejs", {
                      "forms": [
                        {
                          "type": "textarea",
                          "config": {
                            "label": "Please describe fairy floss",
                            "hint": "(minimum 500 words)",
                            "placeholder": "Fairy floss is..."
                          }
                        }
                      ]
                    }); %&gt;
                  </code>
                </pre>
                <%- include(partials+"components/form_partials.ejs", {
                  "forms": [
                    {
                      "type": "checkbox",
                      "config": {
                        "label": " ",
                        "id": "checkbox-textarea",
                        "boxes": [
                          {
                            "text": "Tick this checkbox to view full reference for text areas",
                            "hint": "(for full advanced functionality and explanations)",
                            "toggle": "#textarea-reference"
                          }
                        ]
                      }
                    }
                  ]
                }); %>
                <div id="textarea-reference" hidden>
                  Coming soon
                </div>
              </div>
              <hr>
              <h2 id="date">Date</h2>
              <div class="example-box">
                <h3>Date</h3>
                <h4>Date Example</h4>
              <%- include(partials+"components/form_partials.ejs", {
                "forms": [
                  {
                    "type": "date",
                    "config": {
                      "label": "Please enter your birthday"
                    }
                  }
                ]
              }); %>
              <h4>Date Code</h4>
                <pre>
                  <code class="language-markup">
                    &lt;%- include(partials+"components/form_partials.ejs", {
                      "forms": [
                        {
                          "type": "date",
                          "config": {
                            "label": "Please enter your birthday"
                          }
                        }
                      ]
                    }); %&gt;
                  </code>
                </pre>
                <%- include(partials+"components/form_partials.ejs", {
                  "forms": [
                    {
                      "type": "checkbox",
                      "config": {
                        "label": " ",
                        "id": "checkbox-date",
                        "boxes": [
                          {
                            "text": "Tick this checkbox to view full reference for dates",
                            "hint": "(for full advanced functionality and explanations)",
                            "toggle": "#date-reference"
                          }
                        ]
                      }
                    }
                  ]
                }); %>
                <div id="date-reference" hidden>
                  Coming soon
                </div>
              </div>
              <hr>
              <h2 id="yes_no">Yes/No Toggle Box</h2>
              <div class="example-box">
                <h3>Yes/No Toggle Boxes</h3>
                <h4>Yes/No Toggle Box Example:</h4>
                <%- include(partials+"components/form_partials.ejs", {
                  "forms": [
                    {
                      "type": "y_n_toggle",
                      "config": {
                        "label": "Do you agree to the terms and conditions?",
                        "yes_toggle": "#demo-yes",
                        "no_toggle": "#demo-no"
                      }
                    }
                  ]
                }); %>
                <p id="demo-yes" hidden>You have selected <code>Yes</code></p>
                <p id="demo-no" hidden>You have selected <code>No</code></p>


              <h4>Yes/No Toggle Box Code:</h4>
                <pre>
                  <code class="language-markup">

                    &lt;%- include(partials+"components/form_partials.ejs", {
                      "forms": [
                        {
                          "type": "y_n_toggle",
                          "config": {
                            "label": "hey",
                            "hint": "hey",
                            "id": "hello",
                            "yes_toggle": "#yes",
                            "no_toggle": "#no"
                          }
                        }
                      ]
                    }); %&gt;
                &lt;p id="demo-yes" hidden&gt;You have selected &lt;code&gt;Yes&lt;/code&gt;&lt;/p&gt;
                &lt;p id="demo-no" hidden&gt;You have selected &lt;code&gt;No&lt;/code&gt;&lt;/p&gt;

                  </code>
                </pre>
                <%- include(partials+"components/form_partials.ejs", {
                  "forms": [
                    {
                      "type": "checkbox",
                      "config": {
                        "label": " ",
                        "id": "checkbox-y_n_toggle",
                        "boxes": [
                          {
                            "text": "Tick this checkbox to view full reference for yes/no toggles",
                            "hint": "(for full advanced functionality and explanations)",
                            "toggle": "#y_n_toggle-reference"
                          }
                        ]
                      }
                    }
                  ]
                }); %>
                <div id="y_n_toggle-reference" hidden>
                  Coming soon
                </div>
              </div>
              <hr>
              <h2 id="checkbox">Checkboxes</h2>
              <div class="example-box">
                <h3>Simple Checkboxes</h3>
                <p>Simple checkboxes can be used when finer control of individual options is not needed. The simple type cannot do things like hide or disable items in the list, nor can it show/hide elements. It does not do any extra functionality.</p>
                <p>When more advanced features are needed, refer to the advanced checkboxes.</p>
                <h4>Simple Checkbox Example:</h4>
                <%- include(partials+"components/form_partials.ejs", {
                  "forms": [
                  {
                    "type": "checkbox",
                    "config": {
                      "label": "Which of the following are you doing on the weekend?",
                      "hint": "(select all that apply)",
                      "tooltip": {
                        "label": "Hello",
                        "text": "There"
                      },
                      "boxes": [
                      "Cricket",
                      "Video Games",
                      "Cooking",
                      "Netflix",
                      "Sleeping"
                      ]
                    }
                  }
                  ]
                }); %>
                <h4>Simple Checkbox Code:</h4>
                <pre>
                  <code class="language-markup">
                      &lt;%- include(partials+"components/form_partials.ejs", {
                      "forms": [
                      {
                        "type": "checkbox",
                        "config": {
                        "label": "Which of the following are you doing on the weekend?",
                        "hint": "(select all that apply)",
                        "boxes": [
                        "Cricket",
                        "Video Games",
                        "Cooking",
                        "Netflix",
                        "Sleeping"
                        ]
                      }
                    }
                    ]
                  }); &gt;

              </code>
              </pre>
              <hr>
              <h4>Advanced Checkbox Example:</h4>
              <p id="checkbox-inject" hidden>I got injected here :O Where am I?!</p>
              <p id="checkbox-toggle" hidden>I got toggled on! Who's disturbing my slumber?!</p>
              <%- include(partials+"components/form_partials.ejs", {
                "forms": [
                {
                  "type": "checkbox",
                  "config": {
                    "label": "Tick the boxes to see what happens!",
                    "boxes": [
                    {
                      "text": "Checkbox number 1!",
                      "hint": "sorry I'm just a regular checkbox :("
                    },
                    {
                      "text": "Checkbox number 2!",
                      "hint": "haha you can't tick me!",
                      "disabled": true
                    },
                    {
                      "text": "Checkbox number 3!",
                      "hint": "I <em>inject</em> an element!",
                      "inject": "#checkbox-inject"
                    },
                    {
                      "text": "Checkbox number 4!",
                      "hint": "I <em>toggle</em> an element!",
                      "toggle": "#checkbox-toggle"
                    }
                    ]
                  }
                }
                ]
              }); %>
              <h4>Advanced Checkbox Code:</h4>
              <pre>
                <code class="language-markup">

&lt;p id="checkbox-inject" hidden&gt;I got injected here :O Where am I?!&lt;/p&gt;
&lt;p id="checkbox-toggle" hidden&gt;I got toggled on! Who's disturbing my slumber?!&lt;/p&gt;
&lt;%- include(partials+"components/form_partials.ejs", {
  "forms": [
    {
      "type": "checkbox",
      "config": {
      "label": "Tick the boxes to see what happens!",
      "boxes": [
      {
        "text": "Checkbox number 1!",
        "hint": "sorry I'm just a regular checkbox :("
      },
      {
        "text": "Checkbox number 2!",
        "hint": "haha you can't tick me!",
        "disabled": true
      },
      {
        "text": "Checkbox number 3!",
        "hint": "I &lt;em&gt;inject&lt;/em&gt; an element!",
        "inject": "#checkbox-inject"
      },
      {
        "text": "Checkbox number 4!",
        "hint": "I &lt;em&gt;toggle&lt;/em&gt; an element!",
        "toggle": "#checkbox-toggle"
      }
      ]
    }
  }
  ]
}); %&gt;


              </script>
              </code>
              </pre>
                <%- include(partials+"components/form_partials.ejs", {
                  "forms": [
                    {
                      "type": "checkbox",
                      "config": {
                        "label": " ",
                        "id": "checkbox-checkbox",
                        "boxes": [
                          {
                            "text": "Tick this checkbox to view full reference for checkboxes",
                            "hint": "(for full advanced functionality and explanations)",
                            "toggle": "#checkbox-reference"
                          }
                        ]
                      }
                    }
                  ]
                }); %>
                <div id="checkbox-reference" hidden>
                  Coming soon
                </div>
      
              </div>
              <hr>
              <h2 id="radio">Radios</h2>
              <div class="example-box">
                <h3>Simple Radios</h3>
                <p>Simple radios can be used when finer control of individual options is not needed. The simple type cannot do things like hide or disable items in the list, nor can it show/hide elements. It does not do any extra functionality.</p>
                <p>When more advanced features are needed, refer to the advanced radios.</p>
                <h4>Simple Radio Example:</h4>
                <%- include(partials+"components/form_partials.ejs", {
                "forms": [
                  {
                    "type": "radio",
                    "config": {
                      "label": "Which of the following are you doing on the weekend?",
                      "boxes": [
                        "Cricket",
                        "Video Games",
                        "Cooking",
                        "Netflix",
                        "Sleeping"
                      ]
                    }
                  }
                ]
              }); %>
                <h4>Simple Radio Code:</h4>
                <pre>
                            <code class="language-markup">
              <%%- include(partials+"components/form_partials.ejs", {
                "forms": [
                  {
                    "type": "radio",
                    "config": {
                      "label": "Which of the following are you doing on the weekend?",
                      "boxes": [
                        "Cricket",
                        "Video Games",
                        "Cooking",
                        "Netflix",
                        "Sleeping"
                      ]
                    }
                  }
                ]
              }); %%>

                            </code>
                          </pre>
                <hr>
                <h4>Advanced Radio Example:</h4>
                  
                <p id="radio-toggle" hidden>I got toggled on! Who's disturbing my slumber?!</p>
                <p id="radio-inject" hidden>I got injected here :O Where am I?!</p>
                <%- include(partials+"components/form_partials.ejs", {
                "forms": [
                  {
                    "type": "radio",
                    "config": {
                      "label": "Tick the boxes to see what happens!",
                      "boxes": [
                        {
                          "text": "Radio number 1!",
                          "hint": "sorry I'm just a regular radio :("
                        },
                        {
                          "text": "Radio number 2!",
                          "hint": "haha you can't tick me!",
                          "disabled": true
                        },
                        {
                          "text": "Radio number 3!",
                          "hint": "I <em>inject</em> an element!",
                          "inject": "#radio-inject"
                        },
                        {
                          "text": "Radio number 4!",
                          "hint": "I <em>toggle</em> an element!",
                          "toggle": "#radio-toggle"
                        }
                      ]
                    }
                  }
                ]
              }); %>
                <h4>Advanced Radio Code:</h4>
                <pre>
                            <code class="language-markup">

                              &lt;p id="radio-inject" hidden&gt;I got injected here :O Where am I?!&lt;/p&gt;
                              &lt;p id="radio-toggle" hidden&gt;I got toggled on! Who's disturbing my slumber?!&lt;/p&gt;
                              <%%- include(partials+"components/form_partials.ejs", {
                                "forms": [
                                  {
                                    "type": "radio",
                                    "config": {
                                      "label": "Tick the boxes to see what happens!",
                                      "boxes": [
                                        {
                                          "text": "Radio number 1!",
                                          "hint": "sorry I'm just a regular radio :("
                                        },
                                        {
                                          "text": "Radio number 2!",
                                          "hint": "haha you can't tick me!",
                                          "disabled": true
                                        },
                                        {
                                          "text": "Radio number 3!",
                                          "hint": "I <em>inject</em> an element!",
                                          "inject": "#radio-inject"
                                        },
                                        {
                                          "text": "Radio number 4!",
                                          "hint": "I <em>toggle</em> an element!",
                                          "toggle": "#radio-toggle"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }); %%>


                            </code>
                          </pre>
                <%- include(partials+"components/form_partials.ejs", {
                "forms": [
                  {
                    "type": "checkbox",
                    "config": {
                      "label": " ",
                      "id": "checkbox-radio",
                      "boxes": [
                        {
                          "text": "Tick this checkbox to view full reference for radios",
                          "hint": "(for full advanced functionality and explanations)",
                          "toggle": "#radio-reference"
                        }
                      ]
                    }
                  }
                ]
              }); %>
                <p id="radio-reference" hidden>Coming soon</p>
              </div>

              </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>