<%- include(components+"styleguide/styleguide-header", {
  heading: "Progress indicators",
  claim: "Style Guide"
}) %>

  <h2>Multiple Page Form</h2>
  <p>Progress bars can be helpful to give clients an idea of how much of a form they have completed. Especially useful with multi page forms. The multi-page progress bar is
    always placed inside the page title component above the title. </p>
  <div class="example-box">
    <div class="container container--8-column">
    <%- include(components+"form-partials/progress-advanced", {
      activeItem: 1,
      points: [
        {
          text: "Relationship status",
          link: "/auth/claim/service_pension/sp-partner"
        },
        {
          text: "Dependent children",
          link: "/auth/claim/service_pension/sp-dependant"
        },
        {
          text: "Residency",
          link: "/auth/claim/service_pension/sp-residency"
        },
        {
          text: "Living arrangements",
          link: "/auth/claim/service_pension/sp-la"
        },
        {
          text: "Claim representative",
          link: "/auth/claim/service_pension/sp-claim-contact"
        }
      ]
    }) %>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
        <code class="language-ejs">
          <%%- include(components+"form-partials/progress-advanced", {
            activeItem: 1,
            points: [
              {
                text: "Relationship status",
                link: "/auth/claim/service_pension/sp-partner"
              },
              {
                text: "Dependent children",
                link: "/auth/claim/service_pension/sp-dependant"
              },
              {
                text: "Residency",
                link: "/auth/claim/service_pension/sp-residency"
              },
              {
                text: "Living arrangements",
                link: "/auth/claim/service_pension/sp-la"
              },
              {
                text: "Claim representative",
                link: "/auth/claim/service_pension/sp-claim-contact"
              }
            ]
          }) %%>
        </code>
      </pre>
    </div>
  </div>
  <p>An example of this component can be found <a href="/auth/claim/incap/annual-review-part-b-1">here</a>.</p>
  <hr>
  <h2>Green Progress Bar</h2>
  <p>The green progress bar is an alternative progress bar utilised for large multi-staged forms. This progress bar will always be accompanied by percentage based text.</p>
  <div class="example-box">
    <%- include(components+"form-partials/progress-simple", {percent: 69}) %>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-ejs">
            <%%- include(components+"form-partials/progress-simple", { percent: 70 }) %%>
          </code>
        </pre>
    </div>
  </div>
  <p>An example of this component can be found <a href="/unauth/registration/register-6.ejs">here</a>.</p>
  <hr>
  <h2>Multi-page Form | Completed Stages Indicator</h2>
  <p>This component displays to a user the stages within a form they have completed.</p>
  <div class="example-box">
    <%- include(components+"form-partials/progress-multi", {
      activeItem: 2,
      points: [
        {
          link: "/auth/claim/incap/a-1",
          text: "Loss of earnings",
          subtext: "Tell us how your work has been affected."
        },
        {
          link: "/auth/claim/incap/b-2",
          text: "Personal details",
          subtext: "Tell us more about your circumstances."
        },
        {
          link: "/auth/claim/incap/c-1",
          text: "Required documents",
          subtext: "Upload supporting documents for your claim."
        }
      ]
    }) %>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre class="language-ejs">
        <code>
          <%%- include(components+"form-partials/progress-multi", {
          activeItem: 2,
          points: [
            {
              link: "/auth/claim/incap/a-1",
              text: "Loss of earnings",
              subtext: "Tell us how your work has been affected."
            },
            {
              link: "/auth/claim/incap/b-2",
              text: "Personal details",
              subtext: "Tell us more about your circumstances."
            },
            {
              link: "/auth/claim/incap/c-1",
              text: "Required documents",
              subtext: "Upload supporting documents for your claim."
            }
          ]
          }) %%>
        </code>
      </pre>
    </div>
  </div>
  <p>An example of this component can be found <a href="/auth/claim/pi-lsq/pi-lsq-claim6">here</a>.</p>

<%- include(partials+"components/styleguide/styleguide-footer") %>
