<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Style Guide | Review & Submit | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"components/styleguide/styleguide-header") %>

    <main>
      <div class="container" id="main-content">
        <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
          <ul class="uikit-link-list uikit-link-list--inline">
            <li>
              <a href="/styleguide">Home</a>
            </li>
            <li>Review & Submit</li>
          </ul>
        </nav>

        <div class="row">
          <div class="col-sm-9">
            <h1>Review & Submit</h1>
              
            <div class="example-box">
              <%- include(partials+"components/review-submit", {
                "claim": {
                  "title": "Qualifying service",
                  "options": [
                    "marginTop"
                  ],
                  "categories": [
                    {
                      "header": "Claim details",
                      "elements": [
                        {
                          "type": "questions",
                          "data": [
                            {
                              "question": "Date submitted",
                              "answer": "10 Jan 2019"
                            },
                            {
                              "question": "Claim ID",
                              "answer": "123456789"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "header": "Service",
                      "editUrl": "#",
                      "elements": [
                        {
                          "type": "questions",
                          "data": [
                            {
                              "question": "Type of claim",
                              "answer": "Australian Defence Force"
                            },
                            {
                              "question": "Former names",
                              "answer": "Joseph Smith<br>Jo Smith"
                            },
                            {
                              "question": "Parter name",
                              "answer": "Mrs Joe Bloggs"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "header": "Service History",
                      "editUrl": "#",
                      "elements": [
                        {
                          "type": "subcategory",
                          "text": "Service"
                        },
                        {
                          "type": "questions",
                          "data": [
                            {
                              "question": "Service number",
                              "answer": "123 456 789 K"
                            },
                            {
                              "question": "Type of service",
                              "answer": "Permanent"
                            },
                            {
                              "question": "Date of enlistment",
                              "answer": "21 / 09 / 1945"
                            },
                            {
                              "question": "Date of discharge",
                              "answer": "21 / 06 / 1949"
                            },
                            {
                              "question": "Branch of service",
                              "answer": "Navy"
                            }
                          ]
                        },
                        {
                          "type": "subcategory",
                          "text": "Operation"
                        },
                        {
                          "type": "questions",
                          "data": [
                            {
                              "question": "Conflict Name",
                              "answer": "Afghanistan"
                            },
                            {
                              "question": "Operation Name",
                              "answer": "Op Slipper"
                            },
                            {
                              "question": "Start date",
                              "answer": "21 / 09 / 1945"
                            },
                            {
                              "question": "End date",
                              "answer": "21 / 06 / 1949"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }) %>
              <hr>
              <pre>
                <code class="language-json">
                  <script type="text/json">
                    <%%- include(partials+"components/review-submit", {
                      "claim": {
                        "title": "Claim Title",
                        "options": ["marginTop"],
                        "categories": [
                          {
                            "header": "Major category title",
                            "editUrl": "Link to edit (no edit button if undefined)",
                            "elements": [
                              {
                                "type": "subcategory",
                                "text": "Subcategory title"
                              },
                              {
                                "type": "questions",
                                "data": [
                                  {
                                    "question": "Question asked",
                                    "answer": "Answer to question"
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }); %%>
                  </script>
                </code>
              </pre>
            </div>
  


          </div>
          <%- include(partials+"components/styleguide/styleguide-sidenav") %>
        </div>
      </div>
    </main>
    <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>