<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Tooltip | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>

</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"components/styleguide/styleguide-header") %>

  <main>
    <div class="container" id="main-content">

      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Tooltip</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Tooltip</h1>
          <p>The MyService tooltip style.</p>

          <h2>Tooltip example with button</h2>

          <div class="example-box">
            <div class="row">
              <div class="col-xs-12">
                <%- include(partials+"content/gender") %>
              </div>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <%- include(partials+"content/gender") %>
                    </script>
                  </code>
                </pre>
            </div>
          </div>
          <p>To see an example of this component go <a href="/auth/claim/health-card0">here</a>.</p>
          <hr>



        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>




<script>




</script>

</html>
