<%- include(templates+"header", {
  claim: "Intention to continue to study", 
  heading: "Review and submit"
}) %>

  <div id="no-doc">

    <%- include(components+"review-submit", {
      claim_title: "Review details for <span class='user-label-c'>your</span> intention to continue study",
      categories: [
        {
          title: "Intention to continue to study",
          edit_url: "ics-01",
          data: [
            {
              q: "<span class='user-label-b'>Do you</span>  intend to continue study in 2020?",
              a: "Yes"
            },
            {
              q: "Do you have confirmation of <span class='user-label-f'>your</span> enrolment?",
              a: "No"
            }
          ]
        },
        {
          title: "Continuing to study details",
          edit_url: "ics-02",
          data: [
            {
              q: "Country of study",
              a: "Australia"
            },
            {
              q: "State or territory of institution or school",
              a: "A.C.T"
            },
            {
              q: "Intended level of study",
              a: "Tertiary - University"
            },
            {
              q: "Name of proposed study institution or school",
              a: "Australian National University"
            },
            {
              q: "Name of preferred course or degree",
              a: "Bachelor of Arts"
            },
            {
              q: "Date <span class='user-label-a'>you</span> started studying, or will start studying",
              a: "28/02/2020"
            },
            {
              q: "Date <span class='user-label-d'>you expect to complete your</span> course / degree",
              a: "15/11/2020"
            },
            {
              q: "Will <span class='user-label-a'>you</span> be studying externally?",
              a: "No"
            },
            {
              q: "Will <span class='user-label-a'>you</span> be studying full time?",
              a: "Yes"
            }
          ]
        }
      ]
    }) %>

  </div>


  <div id="doc" hidden>

    <%- include(components+"review-submit", {
      claim_title: "Review details for <span class='user-label-c'>your</span> intention to continue study",
      categories: [
        {
          title: "Intention to continue to study",
          edit_url: "ics-01",
          data: [
            {
              q: "<span class='user-label-b'>Do you</span>  intend to continue study in 2020?",
              a: "Yes"
            },
            {
              q: "<span class='user-label-b'>Do you</span> have confirmation of your enrolment?",
              a: "Yes"
            }
          ]
        },
        {
          title: "Required documents",
          edit_url: "ics-03",
          data: [
            {
              q: "Confirmation of Enrolment",
              a: "coe.jpg"
            }
          ]
        }
      ]

    }) %>

  </div>

  <%- include(forms+"pagination", {
    customClass: "margin-above--extra",
    pagination: [
      {
        text: "Previous",
        link: "/auth/tasks/intention-to-continue-study/ics-03"
      },
      {
        text: "Exit task",
        link: "#open-modal"
      },
      {
        text: "Submit",
        link: "/auth/tasks/intention-to-continue-study/ics-05",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include("ics-04-state-switcher.ejs") %>

<%- include(templates+"footer") %>