<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width" name="viewport" />
  <title>Review and submit: Transition to secondary school</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Review and submit</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <%- include(partials+"components/review-submit", {
  "claim": {
  
    "title": "Review details for <span class='user-label-c'>your</span> transition to secondary school",
    "options": [
      "marginTop"
    ],
    "categories": [
      {
        "header": "Intention to continue study",
        "elements": [
          {
            "type": "questions",
            "data": [
            {
                "question": "<span class='user-label-b'>Do you</span>  intend to continue study in 2020?",
                "answer": "Yes"
              },
              {
                "question": "<span class='user-label-b'>Do you</span> have a copy of the confirmation of enrolment document?",
                "answer": "No"
              }
            ]
          }
        ]
      },
      {
        "header": "Continuing study details",
        "elements": [
          {
            "type": "questions",
            "data": [
            {
              "question": "Country of study",
              "answer": "Australia"
            },
            {
              "question": "Level of study",
              "answer": "Tertiary - University"
            },
            {
              "question": "State or territory of institution or school",
              "answer": "A.C.T"
            },
            {
              "question": "Name of institution or school",
              "answer": "Australian National University"
            },
            {
              "question": "Course / degree name",
              "answer": "Bachelor of Arts"
            },
            {
              "question": "Commencement date",
              "answer": "28/02/2020"
            },
            {
              "question": "Completion date",
              "answer": "15/11/2020"
            },
            {
                "question": "Will <span class='user-label-a'>you</span> be studying externally?",
                "answer": "Yes"
              },
              {
                "question": "Will <span class='user-label-a'>you</span> be studying full time?",
                "answer": "Yes"
              }
            ]
          }
        ]
      }
   
    ]
  }
}) %>

          <div class="pagination pagination--tasks">
            <a href="/auth/tasks/intention-to-continue-study/intention-to-continue-study-03"><button class="uikit-btn uikit-btn--tertiary">Previous</button></a>
            <a href="/auth/tasks"><button class="uikit-btn uikit-btn--tertiary">Cancel</button></a>
            <div class="floated">
              <a href="/auth/tasks/intention-to-continue-study/intention-to-continue-study-05"><button class="uikit-btn" id="submit">Next</button></a>
            </div>
          </div>


        </div>
      </div>
    </div>
    <%- include(partials+"content/modals/claims-cancel-modal") %>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>

<script>
  $(document).ready(function () {

    if (sessionStorage.getItem('commonwealth-allied') != 'yes') {
      $("#adf").show();
    } else {
      $("#commonwealth").show();
    }
  });
</script>
<%- include("intention-to-continue-study-state-switcher.ejs") %>

</html>
