<!DOCTYPE html>
<html class="js" lang="en">

<head>
<<<<<<< HEAD
  <title>Submitted: Transition to secondary school</title>
=======
  <meta charset="utf-8" />
  <meta content="width=device-width" name="viewport" />
  <title>Review and submit: Transition to secondary school</title>
>>>>>>> 6b27fec431ec9979e53658de9b77c0d0f6983999
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
<<<<<<< HEAD
  <main class="container">
    <div class="submitted__container">
      <div id="submitting" class="submitting transition-content transition-content--open">
        <div class="submitted__animation">
          <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
        </div>
        <h1>Submitting task...</h1>
      </div>
      <div id="submitted" class="submitted transition-content">
        <i class="fal fa-check-circle fa-3x green"></i>
        <h1 class="margin-above--small">Task complete</h1>
        <h3 class="margin-above--none margin-below--none">Receipt number: 123456</h3>
        <hr class="orange-divider">
        <p>If you have any questions call 1800 555 254.</p>
      </div>
      <div id="failed" class="failed transition-content">
        <i class="fal fa-exclamation-circle fa-3x blue"></i>
        <h1 class="margin-above--small">Something went wrong, try again later</h1>
        <hr class="orange-divider">
        <p>If you have any questions call 1800 555 254.</p>
      </div>
    </div>
    <div class="pagination">
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/'">Back to home</button>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>

  <script>
    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".submitting").toggleClass("transition-content--open");
        $(".submitted").toggleClass("transition-content--open");
      }, timeDelay);

  </script>


</body>
<%- include("intention-to-continue-study-03-state-switcher.ejs") %>
=======
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Review and submit</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <%- include(partials+"components/review-submit", {
  "claim": {
  
    "title": "Review details for <span class='user-label-c'>your</span> transition to secondary school",
    "options": [
      "marginTop"
    ],
    "categories": [
      {
        "header": "Intention to continue study",
        "elements": [
          {
            "type": "questions",
            "data": [
            {
                "question": "<span class='user-label-b'>Do you</span>  intend to continue study in 2020?",
                "answer": "Yes"
              },
              {
                "question": "<span class='user-label-b'>Do you</span> have a copy of the confirmation of enrolment document?",
                "answer": "No"
              }
            ]
          }
        ]
      },
      {
        "header": "Continuing study details",
        "elements": [
          {
            "type": "questions",
            "data": [
            {
              "question": "Country of study",
              "answer": "Australia"
            },
            {
              "question": "Level of study",
              "answer": "Tertiary - University"
            },
            {
              "question": "State or territory of institution or school",
              "answer": "A.C.T"
            },
            {
              "question": "Name of institution or school",
              "answer": "Australian National University"
            },
            {
              "question": "Course / degree name",
              "answer": "Bachelor of Arts"
            },
            {
              "question": "Commencement date",
              "answer": "28/02/2020"
            },
            {
              "question": "Completion date",
              "answer": "15/11/2020"
            },
            {
                "question": "Will <span class='user-label-a'>you</span> be studying externally?",
                "answer": "Yes"
              },
              {
                "question": "Will <span class='user-label-a'>you</span> be studying full time?",
                "answer": "Yes"
              }
            ]
          }
        ]
      }
   
    ]
  }
}) %>

          <div class="pagination pagination--tasks">
            <a href="/auth/tasks/intention-to-continue-study/intention-to-continue-study-02"><button class="uikit-btn uikit-btn--tertiary">Previous</button></a>
            <a href="/auth/tasks"><button class="uikit-btn uikit-btn--tertiary">Cancel</button></a>
            <div class="floated">
              <a href="/auth/tasks/intention-to-continue-study/intention-to-continue-study-04"><button class="uikit-btn" id="submit">Next</button></a>
            </div>
          </div>


        </div>
      </div>
    </div>
    <%- include(partials+"content/modals/claims-cancel-modal") %>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>

<script>
  $(document).ready(function () {

    if (sessionStorage.getItem('commonwealth-allied') != 'yes') {
      $("#adf").show();
    } else {
      $("#commonwealth").show();
    }
  });
</script>
<%- include("intention-to-continue-study-state-switcher.ejs") %>
>>>>>>> 6b27fec431ec9979e53658de9b77c0d0f6983999

</html>
