<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width" name="viewport" />
  <title>Review and submit: Transition to secondary school</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Review and submit</span>
      </h1>
    </div>
    <div class="container container--8-column">

      <div id="no-doc">

        <%- include(components+"review-submit", {
  claim_title: "Review details for <span class='user-label-c'>your</span> intention to continue study",
  categories: [
    {
      title: "Intention to continue to study",
      edit_url: "#",
      data: [
        {
          q: "<span class='user-label-b'>Do you</span>  intend to continue study in 2020?",
          a: "Yes"
        },
        {
          q: "<span class='user-label-b'>Do you</span> have confirmation of enrolment?",
          a: "No"
        }
      ]
    },
    {
      title: "Continuing to study details",
      edit_url: "#",
      data: [
        {
          q: "Country of study",
          a: "Australia"
        },
        {
          q: "State or territory of institution or school",
          a: "A.C.T"
        },
        {
          q: "Intended level of study",
          a: "Tertiary - University"
        },
        {
          q: "Name of proposed study institution or school",
          a: "Australian National University"
        },
        {
          q: "Name of preferred course or degree",
          a: "Bachelor of Arts"
        },
        {
          q: "Date <span class='user-label-a'>you</span> started studying, or will start studying",
          a: "28/02/2020"
        },
        {
          q: "Date <span class='user-label-d'>you expect to complete your</span> course / degree",
          a: "15/11/2020"
        },
        {
          q: "Will <span class='user-label-a'>you</span> be studying externally?",
          a: "No"
        },
        {
          q: "Will <span class='user-label-a'>you</span> be studying full time?",
          a: "Yes"
        }
      ]
    }
  ]
}) %>

      </div>


      <div id="doc" hidden>

        <%- include(components+"review-submit", {
          claim_title: "Review details for <span class='user-label-c'>your</span> intention to continue study",
          categories: [
            {
              title: "Intention to continue to study",
              edit_url: "#",
              data: [
                {
                  q: "<span class='user-label-b'>Do you</span>  intend to continue study in 2020?",
                  a: "Yes"
                },
                {
                  q: "<span class='user-label-b'>Do you</span> have confirmation of your enrolment?",
                  a: "Yes"
                }
              ]
            },
            {
              title: "Required documents",
              edit_url: "#",
              data: [
                {
                  q: "Confirmation of enrolment",
                  a: "coe.jpg"
                }
              ]
            }
          ]

        }) %>

        <%#- include(partials+"components/review-submit", {
  "claim": {
  
    "title": "Review details for <span class='user-label-c'>your</span> intention to continue study",
    "options": [
      "marginTop"
    ],
    "categories": [
      {
        "header": "Intention to continue study",
        "elements": [
          {
            "type": "questions",
            "data": [
            {
                "question": "<span class='user-label-b'>Do you</span>  intend to continue study in 2020?",
                "answer": "Yes"
              },
              {
                "question": "<span class='user-label-b'>Do you</span> have confirmation of your enrolment?",
                "answer": "Yes"
              }
            ]
          }
        ]
      },
      {
        "header": "Required documents",
        "elements": [
          {
            "type": "questions",
            "data": [
            {
              "question": "Confirmation of enrolment",
              "answer": "coe.jpg"
            }
            ]
          }
        ]
      }
   
    ]
  }
}) %>
      </div>

      <div class="pagination pagination--tasks">
        <a href="/auth/tasks/intention-to-continue-study/intention-to-continue-study-02"><button class="uikit-btn uikit-btn--tertiary">Previous</button></a>
        <button class="uikit-btn uikit-btn--tertiary">Exit task</button>
        <div class="floated">
          <a href="/auth/tasks/intention-to-continue-study/intention-to-continue-study-05"><button class="uikit-btn" id="submit">Submit</button></a>
        </div>
      </div>

    </div>
    <%- include(partials+"content/modals/tasks-cancel-modal") %>
  </main>
  <%- include(partials+"components/layout/footer") %>
</body>

<script>
  $(document).ready(function () {

    if (sessionStorage.getItem('commonwealth-allied') != 'yes') {
      $("#adf").show();
    } else {
      $("#commonwealth").show();
    }
  });
</script>
<%- include("intention-to-continue-study-04-state-switcher.ejs") %>

</html>
