<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Tasks | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Continuing study details</span>
      </h1>
    </div>
    <div class="container container--8-column" id="main-content">

      <div class="margin-above--extra"></div>

      <h2 id="provide-details" class="margin-below">Provide details for <span class='user-label-c'>your</span> proposed study in 2020</h2>

      <p>If these details change, they will be updated when confirmation of enrolment is provided.</p>

      <div id="country-container" class="form-group">
        <label class="uikit-text-input__label" for="rank">Country of study</label>
        <%- include(partials+"content/auth-select-list-country") %>
      </div>

      <%- include(partials+"components/form-partials/dropdown", {
        label: "State or territory of institution or school",
        options: [
          " -- Select state or territory -- ",
          " Australian Capital Territory ",
          " New South Wales ",
          " Northern Territory ",
          " Queensland ",
          " South Australia ",
          " Tasmania ",
          " Victoria ",
          " Western Australia "
        ], id: "state"
      }); %>

      <%- include(partials+"components/form-partials/dropdown", {
        label: "Intended level of study",
        options: [
          " -- Select level of study -- ",
          "Secondary",
          "Secondary - TAFE",
          "Tertiary - TAFE / Other",
          "Tertiary - University"
        ], id: "level"
      }); %>

      <%- include(partials+"components/form-partials/text", {
          label: "Name of proposed study institution or school",
          id: "name-of-school"
        }); %>

      <%- include(partials+"components/form-partials/dropdown", {
          label: "Grade",
          options: [
            " -- Select grade -- ",
            "Year 10",
            "Year 11",
            "Year 12",
          ], id: "grade",
          modifiers: ["hidden"]
        }); %>

      <div id="tertiary-details" hidden>

        <%- include(partials+"components/form-partials/text", {
          label: "Name of preferred course or degree",
          id: "course-name"
        }); %>

        <%- include(partials+"components/form-partials/date", {
          label: "Date <span class='user-label-a'>you</span> started studying, or will start studying",
          id: "commencement",
          hint: "(dd / mm / yyyy)"
        }); %>

        <%- include(partials+"components/form-partials/date", {
          label: "Date <span class='user-label-d'>you expect to complete your</span> course / degree",
          id: "completion",
          hint: "(dd / mm / yyyy)<BR/>Enter an approximate date if you don't know the exact date."
        }); %>

      </div>

      <%- include(partials+"components/form-partials/yes_no", {
          label: "Will <span class='user-label-a'>you</span> be studying externally?",
          hint: "<BR/>For example online, correspondence or distance education.",
          id: "external-question"
        }); %>

      <%- include(partials+"components/form-partials/yes_no", {
          label: "Will <span class='user-label-a'>you</span> be studying full time?",
          id: "fulltime-question",
          modifiers: ["hidden"]
        }); %>

      <div id="save-and-next" class="margin-above" style="display: none">
        <p>Choose <b>save and next</b> to continue.</p>
      </div>

      <div class="pagination pagination--tasks">
        <a href="/auth/tasks/intention-to-continue-study/intention-to-continue-study-01"><button class="uikit-btn uikit-btn--tertiary">Previous</button></a>
        <a><button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Exit task</button></a>
        <div class="floated">
          <a href="/auth/tasks/intention-to-continue-study/intention-to-continue-study-04"><button class="uikit-btn" id="submit">Next</button></a>
        </div>
      </div>

      <%- include(partials+"content/modals/tasks-cancel-modal") %>

  </main>


</body>
<%- include(partials+"components/layout/footer") %>

<script>
  var availableCourses = [{
    label: "Bachelor of International Studies Bachelor of Media (PR & Ad)",
    category: ""
  },
  {
    label: "Int Studies / Media (S & SP)",
    category: ""
  },
  {
    label: "Int Studies/Media (Com & Jour)",
    category: ""
  },
  {
    label: "Int Studies/Media (PR & Adv)",
    category: ""
  },
  {
    label: "Higher Chemistry Medicinal A",
    category: ""
  },
  {
    label: "Advanced Underwater Field Ecology",
    category: ""
  },
  {
    label: "Biomolecular Science Laboratory Project (Advanced)",
    category: ""
  },
  {
    label: "Perspectives in Medical Science",
    category: ""
  },
  {
    label: "Social Research and Policy in the Workplace",
    category: ""
  },
  {
    label: "Information Systems",
    category: ""
  },
  {
    label: "Commerce / Information Systems",
    category: ""
  },
  {
    label: "BIS (Co-op) (Hons)",
    category: ""
  },
  {
    label: "Criminology & Criminal Justice",
    category: ""
  },
  {
    label: "Actuarial Studies / Economics",
    category: ""
  },
  {
    label: "Human Anatomy and Physiology 2",
    category: ""
  },
  {
    label: "Human Anatomy and Physiology 1",
    category: ""
  },
  {
    label: "Human Physiology B",
    category: ""
  },
  {
    label: "Human Physiology A",
    category: ""
  },
  {
    label: "Legal Experience 2",
    category: ""
  },
  {
    label: "Media Arts (Hons) / Ed (Sec)",
    category: ""
  },
  {
    label: "Arts / Education (Secondary)",
    category: ""
  },
  {
    label: "Fine Arts / Education (Sec)",
    category: ""
  },
  {
    label: "Arts / Education (Secondary)",
    category: ""
  },
  {
    label: "International Public Health",
    category: ""
  },
  {
    label: "Program Mechanical Engineering (Hons)",
    category: ""
  },
  {
    label: "Music (Hons)/Engineering(Hons)",
    category: ""
  },
  {
    label: "Engineering (Hons)/Biomed Eng",
    category: ""
  },
  {
    label: "Engineering (Hons)/Commerce",
    category: ""
  },
  {
    label: "Civil Engineering (Hons)",
    category: ""
  },
  {
    label: "Engineering Design 2",
    category: ""
  },
  {
    label: "Professional Engineering and Communication",
    category: ""
  },
  {
    label: "Introduction to Electrical Engineering",
    category: ""
  },
  {
    label: "Mineral Resources Engineering",
    category: ""
  },
  {
    label: "Security Engineering and Cyber Security",
    category: ""
  },
  {
    label: "Computer Engineering",
    category: ""
  },
  {
    label: "Fine Arts / Education (Sec)",
    category: ""
  },
  {
    label: "Arts / Education (Secondary)",
    category: ""
  },
  {
    label: "Arts and Business",
    category: ""
  },
  {
    label: "Commerce / Fine Arts",
    category: ""
  },
  {
    label: "Media Arts (Hons) / Ed (Sec)",
    category: ""
  },
  {
    label: "Medicine",
    category: ""
  },
  {
    label: "Medicinal Chemistry (Honours)",
    category: ""
  },
  {
    label: "Medicine / Arts",
    category: ""
  },
  {
    label: "Science (Medicine) Honours",
    category: ""
  },
  {
    label: "Medical Science",
    category: ""
  }
  ];

  var availableInstitutions = [{
    label: "AUSTRALIAN CATHOLIC UNIVERSITY (ACU)",
    category: ""
  },
  {
    label: "BACHELOR INSTITUTE OF INDIGENOUS TERTIARY EDUC",
    category: ""
  },
  {
    label: "BOND UNIVERSITY",
    category: ""
  },
  {
    label: "CARNEGIE MELLON UNIVERSITY AUSTRALIA - CMU",
    category: ""
  },
  {
    label: "CHARLES DARWIN UNI - CDU",
    category: ""
  },
  {
    label: "CHARLES STURT UNIVERSITY (CSU)",
    category: ""
  },
  {
    label: "CQUNIVERSITY (CQU)- HIGHER ED COURSES",
    category: ""
  },
  {
    label: "CURTIN UNIVERSITY",
    category: ""
  },
  {
    label: "DEAKIN UNIVERSITY",
    category: ""
  },
  {
    label: "EDITH COWAN UNIVERSITY (ECU)",
    category: ""
  },
  {
    label: "FEDERATION UNIVERSITY - HIGHER ED - FEDUNI",
    category: ""
  },
  {
    label: "FLINDERS UNIVERSITY",
    category: ""
  },
  {
    label: "GRIFFITH UNIVERSITY (GU)",
    category: ""
  },
  {
    label: "JAMES COOK UNIVERSITY (JCU)",
    category: ""
  },
  {
    label: "LA TROBE UNIVERSITY",
    category: ""
  },
  {
    label: "MACQUARIE UNIVERSITY",
    category: ""
  },
  {
    label: "MONASH UNIVERSITY",
    category: ""
  },
  {
    label: "MURDOCH UNIVERSITY",
    category: ""
  },
  {
    label: "OPEN UNIVERSITIES AUSTRALIA - OUA",
    category: ""
  },
  {
    label: "QUEENSLAND UNIVERSITY OF TECHNOLOGY (QUT)",
    category: ""
  },
  {
    label: "RMIT UNIVERSITY",
    category: ""
  },
  {
    label: "SOUTHERN CROSS UNIVERSITY (SCU)",
    category: ""
  },
  {
    label: "SWINBURNE UNIVERSITY OF TECHNOLOGY",
    category: ""
  },
  {
    label: "TORRENS UNIVERSITY AUSTRALIA",
    category: ""
  },
  {
    label: "UNIVERSITY OF ADELAIDE",
    category: ""
  },
  {
    label: "AUSTRALIAN NATIONAL UNIVERSITY (ANU)",
    category: ""
  },
  {
    label: "UNIVERSITY OF CANBERRA (UC)",
    category: ""
  },
  {
    label: "UNIVERSITY OF MELBOURNE (UNIMELB)",
    category: ""
  },
  {
    label: "UNIVERSITY OF NEW ENGLAND (UNE)",
    category: ""
  },
  {
    label: "UNIVERSITY OF NEWCASTLE - UON",
    category: ""
  },
  {
    label: "UNIVERSITY OF NOTRE DAME AUSTRALIA - UNDA",
    category: ""
  },
  {
    label: "UNIVERSITY OF NSW - UNSW",
    category: ""
  },
  {
    label: "UNIVERSITY OF QUEENSLAND (UQ)",
    category: ""
  },
  {
    label: "UNIVERSITY OF SOUTH AUSTRALIA (UNISA)",
    category: ""
  },
  {
    label: "UNIVERSITY OF SOUTHERN QUEENSLAND (USQ)",
    category: ""
  },
  {
    label: "UNIVERSITY OF SYDNEY",
    category: ""
  },
  {
    label: "UNIVERSITY OF TASMANIA (UTAS)",
    category: ""
  },
  {
    label: "UNIVERSITY OF TECHNOLOGY SYDNEY (UTS)",
    category: ""
  },
  {
    label: "UNIVERSITY OF THE SUNSHINE COAST (USC)",
    category: ""
  },
  {
    label: "UNIVERSITY OF WESTERN AUSTRALIA (UWA)",
    category: ""
  },
  {
    label: "UNIVERSITY OF WOLLONGONG (UOW)",
    category: ""
  },
  {
    label: "VICTORIA UNIVERSITY - HIGHER ED - VU",
    category: ""
  },
  {
    label: "WESTERN SYDNEY UNIVERSITY (WSU)",
    category: ""
  }
  ];

  $(document).ready(function () {

    $('#level').prop('selectedIndex', 0);
    $("input:radio").prop("checked", false);
    $("#country-select option[value=AU]").attr('selected', 'selected');

    $('#country-container').change(function () {
      var mySelection = $('#country-container').find(":selected").text().trim();
      switch (mySelection) {
        case "Australia":
          $("#state-container").show();
          break;
        default:
          $("#state-container").hide();
          break;
      }
    });

    $('#level-container').change(function () {
      $("#myForm").trigger("reset");
      var mySelection = $('#level-container').find(":selected").text().trim();
      switch (mySelection) {
        case "-- Select level of study --":
          $("#tertiary-details").hide();
          break;
        case "Secondary":
          $("#grade-container").show();
          $("#tertiary-details").hide();
          $("#tertiary-details").hide();
          $("#fulltime-question-container").hide();
          break;
        case "Secondary - TAFE":
          $("#grade-container").show();
          $("#tertiary-details").hide();
          break;
        default:
          $("#fulltime-question-container").show();
          $("#grade-container").hide();
          $("#tertiary-details").show();
          break;
      }
      $("#myForm").show();

      if (mySelection.includes("Tertiary")) {
        $("#course-name").autocomplete({
          source: availableCourses,
          select: function (event, ui) {
            Cookies.set('course', $("#course-name").val());
          },
          disabled: false
        });
        $("#name-of-school").autocomplete({
          source: availableInstitutions,
          select: function (event, ui) {
            // js.cookies dependancy 
            Cookies.remove('institution');
            // checking if it's a condition that is a candidate for a computer based decision 
          },
          disabled: false
        });

        $('input[name=name-of-school]').change(function () {
          $("#studyingCourseSpinner").show();

          setTimeout(function () {
            $("#studyingCourseSpinner").hide();
            $("#name-of-school").val("");
          }, 2000);
        });
      } else {
        $("#course-name").autocomplete({
          disabled: true
        });
        $("#name-of-school").autocomplete({
          disabled: true
        });
      }
    });

  });
</script>
<script src="/docs/js/jquery-ui.min.js"></script>
<script>
  $(document).ready(function () {
    $("#studyingCourseSpinner").hide();
  });
</script>

<%- include("intention-to-continue-study-state-switcher.ejs") %>

</html>
