<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Tasks | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Intention to continue study</span>
      </h1>
    </div>
    <div class="container container--8-column" id="main-content">

      <h2 class="margin-above--large margin-below">Provide details for John Smith</h2>

      <%- include(partials+"components/form-partials/dropdown", {
        label: "Level of study",
        options: [
          " -- Select level of study -- ",
          "Primary",
          "Secondary",
          "Secondary - TAFE",
          "Tertiary - TAFE / Other",
          "Tertiary - University"
        ], id: "level"
      }); %>

      <form id="myForm" style="display: none;">

        <input type="reset" style="display:none">

        <div id="country-container" class="form-group">
          <label class="uikit-text-input__label" for="rank">Country of study</label>
          <%- include(partials+"content/auth-select-list-country") %>
        </div>

        <%- include(partials+"components/form-partials/dropdown", {
          label: "State or territory of <span class='institute-name'>school</span>",
          options: [
            " -- Select state or territory -- ",
            " Australian Capital Territory ",
            " New South Wales ",
            " Northern Territory ",
            " Queensland ",
            " South Australia ",
            " Tasmania ",
            " Victoria ",
            " Western Australia "
          ], id: "state"
        }); %>

        <%- include(partials+"components/form-partials/text", {
          label: "Name of <span class='institute-name'>school</span>",
          id: "name-of-school"
        }); %>



        <%- include(partials+"components/form-partials/text", {
          label: "Course / degree name",
          id: "course-name",
          modifiers: ["hidden"]
        }); %>

        <%- include(partials+"components/form-partials/date", {
          label: "Anticipated commencement date"
        }); %>

        <%- include(partials+"components/form-partials/date", {
          label: "Anticipated completion date"
        }); %>

        <%- include(partials+"components/form-partials/yes_no", {
          label: "Will the student be studying externally?",
          hint: "<BR/>For example a correspondence course or distance education.",
          id: "fulltime-question"
        }); %>

        <%- include(partials+"components/form-partials/yes_no", {
          label: "Will the student be studying full time?",
          id: "fulltime-question"
        }); %>

      </form>

      <div id="save-and-next" class="margin-above" style="display: none">
        <p>Choose <b>save and next</b> to continue.</p>
      </div>

      <div class="pagination pagination--tasks">
        <a href="/auth/tasks"><button class="uikit-btn uikit-btn--tertiary">Previous</button></a>
        <a href="/auth/tasks"><button class="uikit-btn uikit-btn--tertiary">Cancel</button></a>
        <div class="floated">
          <a href="/auth/tasks/transition-to-secondary/intention-to-continue-study-03"><button class="uikit-btn" id="submit">Next</button></a>
        </div>
      </div>
  </main>

</body>
<%- include(partials+"components/layout/footer") %>

<script>
  $(document).ready(function () {

    $('#level').prop('selectedIndex', 0);
    $("input:radio").prop("checked", false);
    $("#country-select option[value=AU]").attr('selected', 'selected');

    $('#country-container').change(function () {
      var mySelection = $('#country-container').find(":selected").text().trim();
      switch (mySelection) {
        case "Australia":
          $("#state-container").show();
          break;
        default:
          $("#state-container").hide();
          break;
      }
    });

    $('#level-container').change(function () {
      $("#myForm").trigger("reset");
      var mySelection = $('#level-container').find(":selected").text().trim();
      switch (mySelection) {
        case "Primary":
          $(".institute-name").text("school");
          $("#course-name-container").hide();
          break;
        case "Secondary":
          $(".institute-name").text("school");
          $("#course-name-container").hide();
          break;
        default:
          $("#course-name-container").show();
          $(".institute-name").text("institution");
          break;
      }
      $("#myForm").show();
    });

  });
</script>

</html>
