<%- include(templates+"header", {
  claim: "Intention to continue to study", 
  heading: "Intention to continue to study"
}) %>

  <h2 id="provide-details" class="margin-below">Provide details for <span class='user-label-c'>your</span> proposed study in 2020</h2>

  <%- include(partials+"components/form-partials/yes_no", {
    label: "<span class='user-label-g'>Do you</span> intend to continue study in 2020?",
    id: "continue-studying-question"
  }); %>

  <%- include(forms+"notice", {
    id: "not-continuing",
    modifiers: ["hidden"],
    message: `Eligibility for Education Allowance is dependent upon the student continuing in full time study. If this is not the case, please contact us on <a href="tel:1800555254">1800 555 254</a> to discuss.`,
    type: "warning"
  }) %>

  <%- include(partials+"components/form-partials/yes_no", {
    label: "Do you have confirmation of <span class='user-label-f'>your</span> enrolment?",
    hint: "<BR/>For example, a letter of enrolment or Confirmation of Enrolment (COE) document from the institution.",
    id: "document-question",
    modifiers: ["hidden"]
  }); %>

  <%- include(partials+"components/form-partials/textarea", {
    label: "Briefly tell us why <span class='user-label-a'>you</span> will not continue to study",
    hint: "(optional)",
    modifiers: ["hidden"],
    id: "tell-us-why"
  }); %>

  <%- include(partials+"components/form-partials/notice", {
    message: "You will be asked to provide confirmation of enrolment at a later date.",
    type: "alert",
    id: "no-document",
    modifiers: ["hidden"]
  }); %>

  <div id="save-and-next" class="margin-above" style="display: none">
    <p>Choose <b>next</b> to continue.</p>
  </div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/tasks"
      },
      {
        text: "Exit task",
        link: "#open-modal"
      },
      {
        text: "Next",
        id: "next-link",
        link: "/auth/tasks/intention-to-continue-study/intention-to-continue-study-02",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

  <%- include(partials+"content/modals/tasks-cancel-modal") %>

  <script>
    $(document).ready(function () {

      $("input:radio").prop("checked", false);

      $('input[name=continue-studying-question]').change(function () {
        $("#save-and-next").hide();
        var mySelection = $('input[name=continue-studying-question]:checked').parent().find("span").text();
        hideAll();
        if (mySelection == "Yes") {
          $("#document-question-container input:radio").prop("checked", false);
          $("#document-question-container").show();
          $("#save-and-next").hide();
        } else {
          $("#document-question-container").hide();
          $("#not-continuing-container").show();
          $("#tell-us-why-container").show();
        }
      });

      $('input[name=document-question]').change(function () {
        var mySelection = $('input[name=document-question]:checked').parent().find("span").text();
        var link = document.getElementById("next-link");
        if (mySelection == "Yes") {
          link.setAttribute("href", "intention-to-continue-study-03");
          $("#no-document-container").hide();
          $("#save-and-next").show();
          sessionStorage.setItem('student-coc-confirmation', 'yes')
        } else {
          $("#no-document-container").show();
          $("#save-and-next").show();
          sessionStorage.setItem('student-coc-confirmation', 'no')
          // $("#no-document-container").hide();
          link.setAttribute("href", "intention-to-continue-study-02");
        }
      });

      function hideAll() {
        $("#not-continuing-container").hide();
        $("#tell-us-why-container").hide();
        $("#save-and-next").hide();
        $("#no-document-container").hide();
      }

    });
  </script>

  <%- include("intention-to-continue-study-state-switcher") %>

<%- include(templates+"footer") %>
