<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Submitted: Transition to secondary school</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <h1 class="margin-above">
            <icon class="fal fa-check" style="font-size: 1.3em; vertical-align: -15%; color: green;"></icon>&nbsp;Task complete
          </h1>

          <hr class="orange-divider">

          <div class="margin-below--extra">
            <p>Thank you for completing this task. If you have any questions call 1800 555 254.
          </div>

          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/'">Go to home</button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>

  <!-- <script>
    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".pt-claim-animation-start").toggleClass("transition-content--open");
        $(".pt-claim-animation-end").toggleClass("transition-content--open");
      }, timeDelay);

  </script> -->

</body>

</html>
