<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <section>
      <div class="section-feature margin-above--none" id="main-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 class="margin-below--small ss-align">
                <span class="heading">Veteran Card</span>
              </h1>
              <p class="medium-text margin-above">You can use your Gold Card to access health services within Australia.
              </p>
            </div>
            <div class="col-md-6 margin-above">
              <div id="whitecard" class="healthcard-container">
                <img class="white-card-image" src="/docs/images/health-card-gold.png">
                <div id="card-number">
                  <span class="card-text">VX000000</span>
                </div>
                <div id="card-name">
                  <span class="card-text"><span class="pt-current-user-name-full"></span></span>
                </div>
                <div id="card-date">
                  <span class="card-text">12 / 22</span>
                </div>
                <!-- <div class="cantered-item">
                      <a id="replace-card" href="healthcard-replacement">Request a replacement card</a>
                    </div> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <div class="container margin-above--extra margin-below--extra">

      <%- include(partials+"auth-healthcard-howtouse") %>

    </div>



  </main>
  <%- include(partials+"content/modals/auth-modal-deleteclaim") %>
  <%- include(partials+"components/layout/footer") %>


</body>

</html>