<% 
    var title, text, link, number, highlight, id;
    highlight ? highlight = highlight : highlight = false; 
%>

<div tabindex="0" id="<%- id ? id : " " %>" class="dashboard-widget <%- highlight ? "dashboard-widget--pink" : " "%>">
    <a href="<%- link ? link : " " %>">
        <div class="dashboard-widget__top-border"></div>
        <div class="dashboard-widget__header">
            <h4 class="mys h4 dashboard-widget__title">
                <%- title ? title : "Title" %>
            </h4>

        </div>
        <div>
            <div class="dashboard-widget__content">
                <!-- <div> -->
                    <span class="dashboard-widget__number">
                        <%- number ? number : 0 %>
                    </span>
                    <span class="dashboard-widget__text">
                        <%- text ? text : "content" %>
                    </span>
                <!-- </div> -->
                <span class="dashboard-widget__icon fal fa-angle-right"></span>
            </div>
        </div>
    </a>
</div>