<% 
    var title, text, link, number, highlight, id;
    highlight ? highlight = highlight : highlight = false; 
%>

<div id="<%- id ? id : " " %>" class="dashboard-widget <%- highlight ? "dashboard-widget--pink" : " "%>">
    <a href="<%- link ? link : " " %>">
        <div class="dashboard-widget__top-border"></div>
        <div class="dashboard-widget__header">
            <h2 class="dashboard-widget__title">
                <%- title ? title : "Title" %>
            </h2>
            <!-- <i class="dashboard-widget__icon fas fa-chevron-right"></i> -->
        </div>
        <div>
            <div class="dashboard-widget__content">
                <span class="dashboard-widget__number">
                    <%- number ? number : 0 %>
                </span>
                <span class="dashboard-widget__text">
                    <%- text ? text : "content" %>
                </span>
            </div>
        </div>
    </a>
</div>