<% 
    var title, text, link, number, highlight, id;
    highlight ? highlight = highlight : highlight = false; 
%>

<div tabindex="1" id="<%- id ? id : " " %>"
    class="dashboard-widget <%- highlight ? "dashboard-widget--highlight" : " "%>"
    onclick="navigateWidget('<%- title ? title : " " %>')">
    <h4 class="dashboard-widget__header mys h4">
        <%- title ? title : "Title" %>
    </h4>
    <div class="dashboard-widget__content">
        <span class="dashboard-widget__number">
            <%- number ? number : 0 %>
        </span>
        <span class="dashboard-widget__text">
            <%- text ? text : "content" %>
        </span>
        <span class="dashboard-widget__icon fal fa-angle-right"></span>
    </div>
</div>