<%
var counters = {
                "selects": 0, 
                "texts": 0, 
                "dates": 0,
                "radios": 0,
                "checkboxes": 0,
                "toggle-buttons": 0,
                "y_n_toggles": 0,
                "textareas": 0
               };

forms.forEach(function(elem, index) {
  if(elem.type == "select") { 
    counters.selects++; %>
    <div class="form-group">
      <label for="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "select"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>" class="uikit-text-input__label"><%- elem.config && elem.config.label ? elem.config.label : "Select"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %> <%- elem.config && elem.config.hint != undefined && elem.config.hint != "" ? "<span class='hint'>"+elem.config.hint+"</span>" : "" %>
<% if(elem.config && elem.config.tooltip != undefined && elem.config.tooltip.label != undefined && elem.config.tooltip.label != "" && elem.config.tooltip.text != undefined && elem.config.tooltip.text != "") { %>
      <div class="tooltip">
        <div id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__label" class="tooltip__control" tabindex="0" role="button" aria-controls="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__message" aria-expanded="false">
          <div class="tooltip__label tooltip__label--icon-only">
            <a>elem.config.tooltip.label</a>
          </div>
          <div class="tooltip__tab"></div>
        </div>
        <div id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__message" class="tooltip__content" aria-labelledby="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__label" role="region" tabindex="-1" aria-hidden="true">
          <div class="tooltip__message">
            <%- elem.config.tooltip.text %>
            <div class="tooltip__close" role="button" tabindex="0">Close</div>
          </div>
        </div>
      </div>
<% } %>
      </label>

      <select <%- elem.config && elem.config.required ? "required " : "" %><%- elem.config && elem.config.disabled ? "disabled " : "" %><%- elem.config && elem.config.hidden ? "hidden " : "" %>name="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "select"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>" id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "select"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>" class="uikit-text-input input-half">

      <% if(elem.config && elem.config.options && elem.config.options.length > 0 && typeof elem.config.options[0] == "string") { 
          elem.config.options.forEach(function(option, o_index) { %>
          <option <%- o_index == 0 ? "selected " : "" %>value="<%- (option.toLowerCase()).replace(/ /g, "_") %>"><%- option %></option>
        <% }); 

      } else if (elem.config && elem.config.options && elem.config.options.length > 0 && typeof elem.config.options[0] == "object") {
          var selected = 0;
          var toggle = []; 
          elem.config.options.forEach(function(option, o_index) {
            if(option.selected != undefined && option.selected == true) {
              selected++;
            }
            if (option.toggle != undefined && option.toggle != "") {
              toggle.push({"toggle-elem": option.toggle, "source-elem": option.value != undefined && option.value != "" ? option.value : (option.text.toLowerCase()).replace(/ /g, "_") });
            }
          });
          elem.config.options.forEach(function(option, o_index) { %>
            <option <%- option.hidden != undefined && option.hidden ? "hidden " : "" %><%- option.disabled != undefined && option.disabled ? "disabled " : "" %><%- option.selected != undefined && option.selected ? "selected " : "" %><%- option.id != undefined && option.id != "" ? "id='"+option.id+"' " : "" %><%- option.toggle != undefined && option.toggle != "" ? "data-toggle='"+option.toggle+"' " : ""  %><%- option.value != undefined && option.value != "" ? "value='"+option.value+"'" : "value='"+(option.text.toLowerCase()).replace(/ /g, "_")+"'" %>><%- option.text %></option>
          <% }); %>

          <% if(toggle.length > 0) { %>
            <script>
              $("#<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "select"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>").on("change", function() {  
                $($("#<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "select"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %> :selected").data("toggle")).show();
                $("#<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "select"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %> :not(:selected)").each(function(index, elem) {
                  $($(elem).data("toggle")).hide();
                });
              });
            </script>
        <% }
     } %>
        </select>
    </div>
  <% } else if (elem.type == "text") { 
    counters.texts++ %>
    <div class="form-group">
      <label for="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "text"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>" class="uikit-text-input__label"><%- elem.config && elem.config.label ? elem.config.label : "Input" %> <%- elem.config && elem.config.hint != undefined && elem.config.hint != "" ? "<span class='hint'>"+elem.config.hint+"</span>" : "" %>
<% if(elem.config && elem.config.tooltip != undefined && elem.config.tooltip.label != undefined && elem.config.tooltip.label != "" && elem.config.tooltip.text != undefined && elem.config.tooltip.text != "") { %>
      <div class="tooltip">
        <div id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__label" class="tooltip__control" tabindex="0" role="button" aria-controls="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__message" aria-expanded="false">
          <div class="tooltip__label tooltip__label--icon-only">
            <a>elem.config.tooltip.label</a>
          </div>
          <div class="tooltip__tab"></div>
        </div>
        <div id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__message" class="tooltip__content" aria-labelledby="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__label" role="region" tabindex="-1" aria-hidden="true">
          <div class="tooltip__message">
            <%- elem.config.tooltip.text %>
            <div class="tooltip__close" role="button" tabindex="0">Close</div>
          </div>
        </div>
      </div>
<% } %>
      </label>

      <input <%- elem.config && elem.config.placeholder != undefined && elem.config.placeholder ? "placeholder='"+elem.config.placeholder+"' " : "" %><%- elem.config && elem.config.required ? "required " : "" %><%- elem.config && elem.config.disabled ? "disabled " : "" %><%- elem.config && elem.config.hidden ? "hidden " : "" %>class="uikit-text-input input-half" name="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "text"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>" id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "text"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>" type="text">
    </div>
  <% } else if (elem.type == "date") { 
    counters.dates++; %>
    <div class="form-group">
      <label for="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "date"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>" class="uikit-text-input__label"><%- elem.config && elem.config.label ? elem.config.label : "Date" %> <%- elem.config && elem.config.hint != undefined && elem.config.hint != "" ? "<span class='hint'>"+elem.config.hint+"</span>" : "<span class='hint'>(DD / MM / YYYY)</span>" %>
<% if(elem.config && elem.config.tooltip != undefined && elem.config.tooltip.label != undefined && elem.config.tooltip.label != "" && elem.config.tooltip.text != undefined && elem.config.tooltip.text != "") { %>
      <div class="tooltip">
        <div id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__label" class="tooltip__control" tabindex="0" role="button" aria-controls="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__message" aria-expanded="false">
          <div class="tooltip__label tooltip__label--icon-only">
            <a>elem.config.tooltip.label</a>
          </div>
          <div class="tooltip__tab"></div>
        </div>
        <div id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__message" class="tooltip__content" aria-labelledby="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__label" role="region" tabindex="-1" aria-hidden="true">
          <div class="tooltip__message">
            <%- elem.config.tooltip.text %>
            <div class="tooltip__close" role="button" tabindex="0">Close</div>
          </div>
        </div>
      </div>
<% } %>
      </label>
             <input <%- elem.config && elem.config.required ? "required " : "" %><%- elem.config && elem.config.disabled ? "disabled " : "" %><%- elem.config && elem.config.hidden ? "hidden " : "" %>class="uikit-text-input dd" type="text" name="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id+"-dd" : "date"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-dd" %>" id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id+"-dd" : "date"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-dd" %>" maxlength="2" aria-label="2 digit day"> /
             <input <%- elem.config && elem.config.required ? "required " : "" %><%- elem.config && elem.config.disabled ? "disabled " : "" %><%- elem.config && elem.config.hidden ? "hidden " : "" %>class="uikit-text-input mm" type="text" name="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id+"-mm" : "date"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-mm" %>" id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id+"-mm" : "date"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-mm" %>" maxlength="2" aria-label="2 digit month"> /
             <input <%- elem.config && elem.config.required ? "required " : "" %><%- elem.config && elem.config.disabled ? "disabled " : "" %><%- elem.config && elem.config.hidden ? "hidden " : "" %>class="uikit-text-input yyyy" type="text" name="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id+"-yyyy" : "date"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-yyyy" %>" id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id+"-yyyy" : "date"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-yyyy" %>" maxlength="4" aria-label="4 digit year">
    </div>
  <% } else if (elem.type == "y_n_toggle") {
    counters.y_n_toggles++ %>
      <div class="form-group">
        <label class="uikit-text-input__label" for="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "y_n_toggle"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>"><%- elem.config && elem.config.label ? elem.config.label : "Yes or No Toggle Buttons" %> <%- elem.config && elem.config.hint != undefined && elem.config.hint != "" ? "<span class='hint'>"+elem.config.hint+"</span>" : "" %>
<% if(elem.config && elem.config.tooltip != undefined && elem.config.tooltip.label != undefined && elem.config.tooltip.label != "" && elem.config.tooltip.text != undefined && elem.config.tooltip.text != "") { %>
      <div class="tooltip">
        <div id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__label" class="tooltip__control" tabindex="0" role="button" aria-controls="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__message" aria-expanded="false">
          <div class="tooltip__label tooltip__label--icon-only">
            <a>elem.config.tooltip.label</a>
          </div>
          <div class="tooltip__tab"></div>
        </div>
        <div id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__message" class="tooltip__content" aria-labelledby="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__label" role="region" tabindex="-1" aria-hidden="true">
          <div class="tooltip__message">
            <%- elem.config.tooltip.text %>
            <div class="tooltip__close" role="button" tabindex="0">Close</div>
          </div>
        </div>
      </div>
<% } %>
        </label>
        <div class="radio-toggle" id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "y_n_toggle"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>">
          <label class="label-left" for="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id+"-yes" : "y_n_toggle"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-yes" %>">
            <input <%- elem.config && elem.config.yes_toggle != undefined && elem.config.yes_toggle != "" ? "data-toggle='"+elem.config.yes_toggle+"' " : "" %>id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id+"-yes" : "y_n_toggle"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-yes" %>" type="radio" name="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "y_n_toggle"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>">
            <span>Yes</span>
          </label>
          <label class="label-right" for="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id+"-no" : "y_n_toggle"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-no" %>">
            <input <%- elem.config && elem.config.no_toggle != undefined && elem.config.no_toggle != "" ? "data-toggle='"+elem.config.no_toggle+"' " : "" %>id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id+"-no" : "y_n_toggle"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-no" %>" type="radio" name="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "y_n_toggle"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>">
            <span>No</span>
          </label>
        </div>
      </div>

      <% if(elem.config && ((elem.config.yes_toggle != undefined && elem.config.yes_toggle != "") || (elem.config.no_toggle != undefined && elem.config.no_toggle != ""))) { %>
        <script>
          $("#<%- elem.config.id ? elem.config.id : "y_n_toggle"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>").on("change", "input[type=radio]", function() {
            if(this.checked) {
              $($(this).data("toggle")).show();
              $($($(this).parent().siblings()[0]).children().first().data("toggle")).hide();
            }
          });
        </script>
        <% } %>
      <% } else if (elem.type == "checkbox") {
        counters.checkboxes++;
        var checkbox_counter = 0; %>
          <div class="form-group">
            <fieldset>
            <legend class="uikit-text-input__label legend-label"><%- elem.config && elem.config.label ? elem.config.label : "Checkbox" %> <%- elem.config && elem.config.hint != undefined && elem.config.hint != "" ? "<span class='hint'>"+elem.config.hint+"</span>" : "" %>
            <% 
          if(elem.config && elem.config.tooltip != undefined && elem.config.tooltip.label != undefined && elem.config.tooltip.label != "" && elem.config.tooltip.text != undefined && elem.config.tooltip.text != "") { %>
                <div class="tooltip">
                  <div id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__label" class="tooltip__control" tabindex="0" role="button" aria-controls="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__message" aria-expanded="false">
                    <div class="tooltip__label tooltip__label--icon-only">
                      <a>elem.config.tooltip.label</a>
                    </div>
                    <div class="tooltip__tab"></div>
                  </div>
                  <div id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__message" class="tooltip__content" aria-labelledby="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__label" role="region" tabindex="-1" aria-hidden="true">
                    <div class="tooltip__message">
                      <%- elem.config.tooltip.text %>
                      <div class="tooltip__close" role="button" tabindex="0">Close</div>
                    </div>
                  </div>
                </div>
          <% } %>
            </legend>
              <% if(elem.config && elem.config.boxes && elem.config.boxes.length > 0 && typeof elem.config.boxes[0] == "string") {
                checkbox_counter = 0;
                  elem.config.boxes.forEach(function(box, b_index) { 
                    checkbox_counter++ %>
                    <div class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input type="checkbox" id="<%- elem.config.id != undefined && elem.config.id != "" ? elem.config.id+"-"+checkbox_counter : "checkbox"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-"+checkbox_counter %>" name="<%- elem.config.id != undefined && elem.config.id != "" ? elem.config.id+"-"+checkbox_counter : "checkbox"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-"+checkbox_counter %>" class="uikit-control-input__input">
                        <span class="uikit-control-input__text"><%= box %></span>
                      </label>
                    </div>
                  <% });
              } else if (elem.config && elem.config.boxes && elem.config.boxes.length > 0 && typeof elem.config.boxes[0] == "object") { 
                  var inject = false;
                  var toggle = false; %>
                    <div id="<%- elem.config.id != undefined && elem.config.id != "" ? elem.config.id+"__wrapper" : "checkbox"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"__wrapper" %>">
                  <%
                  elem.config.boxes.forEach(function(box, b_index) { 
                    checkbox_counter++;
                    if(box.inject != undefined && box.inject) {
                      inject = true;
                    }
                    if (box.toggle != undefined && box.toggle) {
                      toggle = true;
                    }
                      %>
                    <div class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input <%- box.disabled ? "disabled " : "" %><%- box.toggle != undefined && box.toggle != "" ? "data-toggle='"+box.toggle+"' " : "" %><%- box.inject != undefined && box.inject != "" ? "data-inject='"+box.inject+"' " : "" %>type="checkbox" id="<%- elem.config.id != undefined && elem.config.id != "" ? elem.config.id+"-"+checkbox_counter : "checkbox"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-"+checkbox_counter %>" name="<%- elem.config.id != undefined && elem.config.id != "" ? elem.config.id+"-"+checkbox_counter : "checkbox"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-"+checkbox_counter %>" class="uikit-control-input__input">
                        <span class="uikit-control-input__text"><%= box.text %> <%- box.hint != undefined && box.hint != "" ? "<span class='hint'>"+box.hint+"</span>" : "" %></span>
                      </label>
                    </div>
                  <% }); %>
                </div>
                  <%
                  if(toggle || inject) { %>
                    <script>
                      $("#<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id+"__wrapper" : "checkbox"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"__wrapper" %>").on("change", "input[type=checkbox]", function() {
                        if(this.checked) {
                            if($(this).data("inject") != undefined && $(this).data("inject") != "") {
                              $($(this).data("inject")).clone().insertAfter($(this).parent().parent());
                              $(this).parent().parent().next().show();
                            }
                            if($(this).data("toggle") != undefined && $(this).data("toggle") != "") {
                              $($(this).data("toggle")).show();
                            }
                        } else {
                            if($(this).data("inject") != undefined && $(this).data("inject") != "") {
                              $(this).parent().parent().next().remove();
                            }
                            if($(this).data("toggle") != undefined && $(this).data("toggle") != "") {
                              $($(this).data("toggle")).hide();
                            }
                        }
                      });
                    </script>
                  <% }

                } %>
            </fieldset>
          </div>

      <% } else if (elem.type == "radio") {
        counters.radios++;
        var radio_counter = 0; %>
        <div class="form-group">
          <legend class="uikit-text-input__label legend-label"><%- elem.config && elem.config.label ? elem.config.label : "radio" %> <%- elem.config && elem.config.hint != undefined && elem.config.hint != "" ? "<span class='hint'>"+elem.config.hint+"</span>" : "" %>
<% if(elem.config && elem.config.tooltip != undefined && elem.config.tooltip.label != undefined && elem.config.tooltip.label != "" && elem.config.tooltip.text != undefined && elem.config.tooltip.text != "") { %>
      <div class="tooltip">
        <div id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__label" class="tooltip__control" tabindex="0" role="button" aria-controls="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__message" aria-expanded="false">
          <div class="tooltip__label tooltip__label--icon-only">
            <a>elem.config.tooltip.label</a>
          </div>
          <div class="tooltip__tab"></div>
        </div>
        <div id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__message" class="tooltip__content" aria-labelledby="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__label" role="region" tabindex="-1" aria-hidden="true">
          <div class="tooltip__message">
            <%- elem.config.tooltip.text %>
            <div class="tooltip__close" role="button" tabindex="0">Close</div>
          </div>
        </div>
      </div>
<% } %>
          </legend>
          <% 
            if(elem.config && elem.config.boxes && elem.config.boxes.length > 0 && typeof elem.config.boxes[0] == "string") {
              radio_counter = 0;
                elem.config.boxes.forEach(function(box, b_index) { 
                  radio_counter++ %>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input type="radio" id="<%- elem.config.id != undefined && elem.config.id != "" ? elem.config.id+"-"+radio_counter : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-"+radio_counter %>" name="<%- elem.config.id != undefined && elem.config.id != "" ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"><%= box %></span>
                    </label>
                  </div>
                <% });
            } else if (elem.config && elem.config.boxes && elem.config.boxes.length > 0 && typeof elem.config.boxes[0] == "object") { 
                var inject = false;
                var toggle = false; %>
                  <div id="<%- elem.config.id != undefined && elem.config.id != "" ? elem.config.id+"__wrapper" : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"__wrapper" %>">
                <%
                elem.config.boxes.forEach(function(box, b_index) { 
                  radio_counter++;
                  box.inject != undefined && box.inject != "" ? inject = true : inject = false;
                  box.toggle != undefined && box.toggle != "" ? toggle = true : toggle = false;
                    %>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input <%- box.disabled ? "disabled " : "" %><%- box.toggle != undefined && box.toggle != "" ? "data-toggle='"+box.toggle+"' " : "" %><%- box.inject != undefined && box.inject != "" ? "data-inject='"+box.inject+"' " : "" %>type="radio" id="<%- elem.config.id != undefined && elem.config.id != "" ? elem.config.id+"-"+radio_counter : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"-"+radio_counter %>" name="<%- elem.config.id != undefined && elem.config.id != "" ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>" class="uikit-control-input__input">
                      <span class="uikit-control-input__text"><%= box.text %> <%- box.hint != undefined && box.hint != "" ? "<span class='hint'>"+box.hint+"</span>" : "" %></span>
                    </label>
                  </div>
                <% }); %>
              </div>
                <%
                if(toggle || inject) { %>
                  <script>
                    $("#<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id+"__wrapper" : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_")+"__wrapper" %>").on("change", "input[type=radio]", function() {
                      if(this.checked) {
                          if($(this).data("inject") != undefined && $(this).data("inject") != "") {
                            $($(this).data("inject")).clone().insertAfter($(this).parent().parent());
                            $(this).parent().parent().next().show();
                          }
                          if($(this).data("toggle") != undefined && $(this).data("toggle") != "") {
                            $($(this).data("toggle")).show();
                          }
                          $(this).parent().parent().parent().find($("input[type=radio]:not(:checked)")).each(function() {
                            $($(this).data("toggle")).hide();
                            $(this).parent().parent().parent().find($(this).data("inject")).remove();
                          });
                        }
                    });
                  </script>
                <% }

              } %>
        </div>
      <% } else if (elem.type == "textarea") {
        counters.textareas++; %>
          <div class="form-group">
            <label for="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "textarea"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>" class="uikit-text-input__label"><%- elem.config && elem.config.label ? elem.config.label : "Input" %> <%- elem.config && elem.config.hint != undefined && elem.config.hint != "" ? "<span class='hint'>"+elem.config.hint+"</span>" : "" %>
<% if(elem.config && elem.config.tooltip != undefined && elem.config.tooltip.label != undefined && elem.config.tooltip.label != "" && elem.config.tooltip.text != undefined && elem.config.tooltip.text != "") { %>
      <div class="tooltip">
        <div id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__label" class="tooltip__control" tabindex="0" role="button" aria-controls="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__message" aria-expanded="false">
          <div class="tooltip__label tooltip__label--icon-only">
            <a>elem.config.tooltip.label</a>
          </div>
          <div class="tooltip__tab"></div>
        </div>
        <div id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__message" class="tooltip__content" aria-labelledby="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "radio"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>__label" role="region" tabindex="-1" aria-hidden="true">
          <div class="tooltip__message">
            <%- elem.config.tooltip.text %>
            <div class="tooltip__close" role="button" tabindex="0">Close</div>
          </div>
        </div>
      </div>
<% } %>
            </label>

            <textarea <%- elem.config && elem.config.placeholder != undefined && elem.config.placeholder ? "placeholder='"+elem.config.placeholder+"' " : "" %><%- elem.config && elem.config.required ? "required " : "" %><%- elem.config && elem.config.disabled ? "disabled " : "" %><%- elem.config && elem.config.hidden ? "hidden " : "" %>class="uikit-text-input" name="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "textarea"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>" id="<%- elem.config && elem.config.id != undefined && elem.config.id ? elem.config.id : "textarea"+(elem.config.label.toLowerCase()).replace(/[^a-zA-Z0-9]/g, '').replace(/ /g, "_") %>" rows="<%- elem.config && elem.config.rows != undefined && elem.config.rows != "" && elem.config.rows != 0 ? elem.config.rows : "5" %>"></textarea>
          </div>

      <% } else if (elem.type == "pagination") { %>
        <div class="pagination margin-above--extra">
        <% if(elem.config.normal.length > 0) { 
           elem.config.normal.forEach(function(button, b_index) { %>
            <button <%- button.disabled != undefined && button.disabled ? "disabled " : "" %>class="uikit-btn<%- button.primary != undefined && button.primary ? " uikit-btn--primary" : " uikit-btn--tertiary" %>" onclick="window.location.href = '<%= button.link %>'"><%= button.text %></button>
          <% }); 
        } if(elem.config.normal.length > 0) { %>
          <div class="floated">  
          <% elem.config.floated.forEach(function(button, b_index) { %>
            <button <%- button.disabled != undefined && button.disabled ? "disabled " : "" %>class="uikit-btn<%- button.primary != undefined && button.primary ? " uikit-btn--primary" : " uikit-btn--tertiary" %>" onclick="window.location.href = '<%= button.link %>'"><%= button.text %></button>
          <% }); %>
          </div>
         <% } %>
       </div>
      <% } 
});
%>