<% tiles.forEach((tile, index) => {
	if (typeof tile.link !== "undefined" && tile.link !== "") { %>
		<a href="<%- tile.link %>" class="tile tile--active <%- tile.modifiers && tile.modifiers.includes("bgWhite") ? "bg-white" : "" %>">
	<% } else { %>
		<div class="tile tile--active <%- tile.modifiers && tile.modifiers.includes("bgWhite") ? "bg-white" : "" %>">
	<% } %>

	<% if (typeof tile.icon !== "undefined" && typeof tile.icon.icon !== "undefined" && tile.icon.icon !== "") { %>
		
		<i class="tile__icon
			<%- typeof tile.icon.style !== "undefined" && tile.icon.style !== "" && tile.icon.style !== "far" ? tile.icon.style : "far" %> 
			<%- tile.icon.icon %> 
			<%- typeof tile.icon.size !== "undefined" && tile.icon.icon !== "" ? tile.icon.size : "" %>
			<%- typeof tile.icon.position !== "undefined" && tile.icon.position ? "tile__icon--bottom" : "" %>"
			<%- typeof tile.icon.color !== "undefined" ? "style='color: " + tile.icon.color + "'" : "" %>
			></i>

	<% } %>

	<h3 class="tile__title"><%- tile.title %></h3>
  <% if (tile.subtext) { %>
	 <p class="tile__subtext"><%- tile.subtext %></p>
  <% } %>

	<% if (typeof tile.button_text !== "undefined" && tile.button_text !== "") { %>
		<div class="tile-button"><%- tile.button_text %></div>
	<% } %> 
	

	<% if (typeof tile.link !== "undefined" && tile.link !== "") { %>
		</a>
	<% } else { %>
		</div>
	<% } %>


<% }); %>