<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"components/layout/header-mygov") %>
  <main>
    <div class="container container--8-column linking-code-page">
      <h1 class="heading--8-column">You will need an activation code to link your DVA account to MyGov</h1>

      <section id="linking-code-content" class="mys-mygov-content--frame linking-code-content--wrapper">
        <div class="linking-code-content">
          <h2 class="header--linking-code">If you do not have an activation code</h2>
          <button class="uikit-btn uikit-btn--tertiary button--register" onclick="location.href='/unauth/registration'">Register now</button>
        </div>
      </section>

      <section id="linking-code-content" class="mys-mygov-content--frame">
        <div class="linking-code-form--wrapper">
          <h2>Link your DVA account</h2>
          <%- include(partials+"components/form-partials/text", {
            label: "Activation code"
          }); %>
          <%- include(partials+"components/form-partials/date", {
            label: "Date of birth"
          }); %>
          <button class="uikit-btn uikit-btn--tertiary" onclick="location.href='mygov-linked'">Submit</button>
        </div>
      </section>
    </div>
  </main>
  <%- include(partials+"components/layout/footer-mygov") %>
</body>

</html>
