<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Your cards | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor health-cards__main">

  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row margin-above">
          <div class="col-sm-3">
            <%- include(partials+"components/layout/profile-side-nav") %>
          </div>
          <div class="col-sm-9 margin-below--extra">
            <h1 class="mys h1 margin-above--none margin-below--mid">Cards</h1>

            <!-- card white -->
            <div class="health-card toggled-open" id="veteran-white">
              <div class="health-card__card-info">
                <button class="uikit-btn health-card__card-toggle health-card__card-toggle--outside"
                  aria-expanded="false"> <i class="far fa-plus-circle"></i>Show details</button>
                <div class="health-card__image-container ">
                  <img class="health-card__image health-card__image--veteran"
                    src="/docs/images/health-card-white--edited.png" alt="White veterans card">
                  <p class="health-card__card-number card-text">QA015860</p>
                  <p class="health-card__card-expiry card-text">09/24</p>
                  <p class="health-card__card-name card-text">Lucas Boyle</p>
                  <p class="health-card__file-no-text card-text">File No.</p>
                  <p class="health-card__expiry-text card-text">Card expires<br>or on recall</p>
                </div>
                <div class="health-card__inner-card-info">
                  <button class="uikit-btn health-card__card-toggle health-card__card-toggle--inside"
                    aria-expanded="false"></button>
                  <div class="health-card__details-wrapper">
                    <h2 class="mys h2 margin-below--small">Veteran Card</h2>
                    <div class="health-card__detail">
                      <label class="health-card__label">File Number</label>
                      <span>QA015860</span>
                    </div>
                    <hr class="non-breaking-hr">
                    <div class="health-card__detail">
                      <label class="health-card__label">Expiry date</label>
                      <span>Sep 2024</span>
                    </div>
                    <hr class="non-breaking-hr">
                    <div class="health-card__detail">
                      <label class="health-card__label">Card type</label>
                      <span>White</span>
                    </div>
                    <hr class="non-breaking-hr">
                    <div class="health-card__order-replacement">
                      <a href="/auth/profile/cards/card-replacement/card-replacement">Order replacement</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="health-card__extras">
                <div class="health-card__detail">
                  <div id="accepted-conditions" class="accordion">
                    <button class="style-less-button accordion-button health-card__label--big"><i
                        class="transition fas fa-chevron-right"></i>&nbsp;<h3 class="mys h3">Conditions listed</h3>
                      </button>
                    <div class="accordion-content" hidden="">
                      <p class="accordion-content__sub-heading">The following conditions are listed on this card:
                      </p>
                      <div class="health-card__conditions-list margin-below--mid">
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Malaria (aggravation)</span><br>
                            <span class="health-card__condition-status">Approved under DRCA - </span>
                            <span class="health-card__condition-date">15 October 1981</span>
                          </div>
                        </div>
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Chicken pox (aggravation)</span><br>
                            <span class="health-card__condition-status">Approved under VEA - </span>

                            <span class="health-card__condition-date">23 May 1982</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Paraplegia, unspecified, chronic</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>

                            <span class="health-card__condition-date">01 January 2006</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Lumbar Spondylosis</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>

                            <span class="health-card__condition-date">21 June 2017</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Tinnitus</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>

                            <span class="health-card__condition-date">21 June 2017</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Reactive arthritis</span><br>
                            <span class="health-card__condition-status">Approved under DRCA - </span>

                            <span class="health-card__condition-date">16 December 2017</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Spastic hemiplegia</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>
                            <span class="health-card__condition-date">01 July 2005</span>
                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Soft tissue sarcoma</span><br>
                            <span class="health-card__condition-status">Approved under VEA - </span>
                            <span class="health-card__condition-date">01 January 2002</span>
                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Cut, stab, abrasion and laceration</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>
                            <span class="health-card__condition-date">15 December 2017</span>
                          </div>
                        </div>
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Tuberculosis</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>
                            <span class="health-card__condition-date">01 October 2017</span>
                          </div>
                        </div>
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Benign intercranial hypertension
                              (aggravation)</span><br>
                            <span class="health-card__condition-status">Approved under VEA - </span>
                            <span class="health-card__condition-date">23 October 1990</span>
                          </div>
                        </div>
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Night blindness (aggravation)</span><br>
                            <span class="health-card__condition-status">Approved under VEA - </span>
                            <span class="health-card__condition-date">26 January 1991</span>
                          </div>
                        </div>
                      </div>
                      <span>Last updated on 06 August 2079. If incorrect try logging in again later or
                        contact
                        us.</span>
                    </div>
                  </div>
                </div>
                <div class="health-card__detail margin-above--small">
                  <div class="accordion">
                    <button class="style-less-button accordion-button health-card__label--big"><i
                        class="transition fas fa-chevron-right"></i>&nbsp;<h3 class="mys h3">How to use</h3></button>
                    <div class="accordion-content health-card--no-margins" hidden="">
                      <h4 class="margin-below--small accordion-content__how-to-use">Step 1: Finding a provider</h4>
                      <p class="margin-below--small">You can use <a href="#" rel="external">HealthDirect</a> to find
                        health
                        services in your area.</p>
                      <p class="margin-below">Before booking your appointment, check that your selected provider
                        accepts the
                        DVA veteran card.</p>
                      <h4 class="margin-below--small">Step 2: Getting treatment</h4>
                      <p class="margin-below--small">Show your card when you receive medical treatment for your
                        condition.</p>
                      <p class="margin-below--large">You can also use the letter you received from us if your card has
                        not
                        arrived yet.</p>
                      <div class="uikit-page-alerts uikit-page-alerts--info" role="alert">
                        <h3>You don't have to pay for treatment if it relates to any of the conditions listed on your
                          card.
                        </h3>
                        <p>If you are billed by your health care provider, <strong>do not</strong> pay the account and
                          tell
                          DVA immediately on 133 254 (or 1800 555 254 in regional
                          areas). If you've already paid for treatment, you can <a href="#">make an application for
                            reimbursement</a>.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <button class="style-less-button accordion-button health-card__label--big"><i
                      class="transition fas fa-chevron-right"></i>&nbsp;<h3 class="mys h3">How to access offers</h3>
                    </button>
                  <div class="accordion-content health-card--no-margins" hidden="">
                    <h4 class="margin-below--small accordion-content__how-to-use">You can also use your card to access
                      offers
                      and services from APOD <br> (Australian Partners of
                      Defence).
                    </h4>
                    <p class="margin-below--small">Complete the steps below to access offers.</p>
                    <h4 class="margin-below--small">Step 1: Register with APOD</h4>
                    <p class="margin-below--small">Register an account with APOD. You will need to provide your
                      details and
                      your veteran card number. <a href="https://apod.com.au/" rel="external" target="_blank">Click
                        here to
                        register with APOD</a>.</p>
                    <h4 class="margin-below--small">Step 2: Access Offers</h4>
                    <p class="margin-below--small">
                      Browse the APOD website to view offers available. Offers can be accessed either instore or
                      online using
                      your Veteran Card.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- card gold -->
            <div class="health-card toggled-open" id="veteran-gold" hidden>
              <div class="health-card__card-info">
                <button class="uikit-btn health-card__card-toggle health-card__card-toggle--outside"
                  aria-expanded="false"> <i class="far fa-plus-circle"></i> Show details</button>
                <div class="health-card__image-container ">
                  <img class="health-card__image health-card__image--veteran" src="/docs/images/Gold.png"
                    alt="Gold veterans card">
                  <p class="health-card__card-number card-text">SSM69960</p>
                  <p class="health-card__card-expiry card-text">09/24</p>
                  <p class="health-card__card-name card-text">Joe Smith</p>
                  <p class="health-card__file-no-text card-text">File No.</p>
                  <p class="health-card__expiry-text card-text">Card expires<br>or on recall</p>
                  <p class="health-card__class card-text">WAR WIDOW EDA</p>
                </div>

                <div class="health-card__inner-card-info">
                  <button class="uikit-btn health-card__card-toggle health-card__card-toggle--inside"
                    aria-expanded="false"></button>
                  <div class="health-card__details-wrapper">
                    <h2 class="mys h2 health-card__header-text margin-below--small">Veteran Card</h2>
                    <div class="health-card__detail">
                      <label class="health-card__label">File Number</label>
                      <span>SSM69960</span>
                    </div>
                    <hr class="non-breaking-hr">
                    <div class="health-card__detail">
                      <label class="health-card__label">Expiry date</label>
                      <span>Sep 2024</span>
                    </div>
                    <hr class="non-breaking-hr">
                    <div class="health-card__detail">
                      <label class="health-card__label">Card type</label>
                      <span>Gold War Widow EDA</span>
                    </div>
                    <hr class="non-breaking-hr">
                    <div class="health-card__order-replacement">
                      <a href="/auth/cards/card-replacement/card-replacement">Order replacement</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="health-card__extras">
                <div class="health-card__detail">
                  <div id="accepted-conditions" class="accordion">
                    <button class="style-less-button accordion-button health-card__label--big"><i
                        class="transition fas fa-chevron-right"></i> Conditions listed</button>
                    <div class="accordion-content" hidden="">
                      <p class="accordion-content__sub-heading">The following conditions are listed on this card:
                      </p>
                      <div class="health-card__conditions-list margin-below--mid">
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Malaria (aggravation)</span><br>
                            <span class="health-card__condition-status">Approved under DRCA - </span>
                            <span class="health-card__condition-date">15 October 1981</span>
                          </div>
                        </div>
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Chicken pox (aggravation)</span><br>
                            <span class="health-card__condition-status">Approved under VEA - </span>

                            <span class="health-card__condition-date">23 May 1982</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Paraplegia, unspecified, chronic</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>

                            <span class="health-card__condition-date">01 January 2006</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Lumbar Spondylosis</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>

                            <span class="health-card__condition-date">21 June 2017</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Tinnitus</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>

                            <span class="health-card__condition-date">21 June 2017</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Reactive arthritis</span><br>
                            <span class="health-card__condition-status">Approved under DRCA - </span>

                            <span class="health-card__condition-date">16 December 2017</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Spastic hemiplegia</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>
                            <span class="health-card__condition-date">01 July 2005</span>
                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Soft tissue sarcoma</span><br>
                            <span class="health-card__condition-status">Approved under VEA - </span>
                            <span class="health-card__condition-date">01 January 2002</span>
                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Cut, stab, abrasion and laceration</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>
                            <span class="health-card__condition-date">15 December 2017</span>
                          </div>
                        </div>
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Tuberculosis</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>
                            <span class="health-card__condition-date">01 October 2017</span>
                          </div>
                        </div>
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Benign intercranial hypertension
                              (aggravation)</span><br>
                            <span class="health-card__condition-status">Approved under VEA - </span>
                            <span class="health-card__condition-date">23 October 1990</span>
                          </div>
                        </div>
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Night blindness (aggravation)</span><br>
                            <span class="health-card__condition-status">Approved under VEA - </span>
                            <span class="health-card__condition-date">26 January 1991</span>
                          </div>
                        </div>
                      </div>
                      <span>Last updated on 14 June 2019. If incorrect try logging in again later or contact us.</span>
                    </div>
                  </div>

                </div>
                <div class="health-card__detail margin-above--small">
                  <div class="accordion">
                    <button class="style-less-button accordion-button health-card__label--big"><i
                        class="transition fas fa-chevron-right"></i> How to use</button>
                    <div class="accordion-content health-card--no-margins" hidden="">
                      <h4 class="margin-below--small accordion-content__how-to-use">Step 1: Finding a provider</h4>
                      <p class="margin-below--small">You can use <a href="#" rel="external">HealthDirect</a> to find
                        health
                        services in your area.</p>
                      <p class="margin-below">Before booking your appointment, check that your selected provider
                        accepts the
                        DVA veteran card.</p>
                      <h4 class="margin-below--small">Step 2: Getting treatment</h4>
                      <p class="margin-below--small">Show your card when you receive medical treatment for your
                        condition.</p>
                      <p class="margin-below--large">You can also use the letter you received from us if your card has
                        not
                        arrived yet.</p>
                      <div class="uikit-page-alerts uikit-page-alerts--info" role="alert">
                        <h3>You don't have to pay for treatment if it relates to any of the conditions listed on your
                          card.
                        </h3>
                        <p>If you are billed by your health care provider, <strong>do not</strong> pay the account and
                          tell
                          DVA immediately on 133 254 (or 1800 555 254 in regional
                          areas). If you've already paid for treatment, you can <a href="#">make an application for
                            reimbursement</a>.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <button class="style-less-button accordion-button health-card__label--big"><i
                      class="transition fas fa-chevron-right"></i> How to access offers</button>
                  <div class="accordion-content health-card--no-margins" hidden="">
                    <h4 class="margin-below--small accordion-content__how-to-use">You can also use your card to access
                      offers
                      and services from APOD <br> (Australian Partners of
                      Defence).
                    </h4>
                    <p class="margin-below--small">Complete the steps below to access offers.</p>
                    <h4 class="margin-below--small">Step 1: Register with APOD</h4>
                    <p class="margin-below--small">Register an account with APOD. You will need to provide your
                      details and
                      your veteran card number. <a href="https://apod.com.au/" rel="external" target="_blank">Click
                        here to
                        register with APOD</a>.</p>
                    <h4 class="margin-below--small">Step 2: Access Offers</h4>
                    <p class="margin-below--small">
                      Browse the APOD website to view offers available. Offers can be accessed either instore or
                      online using
                      your Veteran Card.
                    </p>
                  </div>
                </div>
              </div>

            </div>

            <!-- card on way -->
            <div class="health-card toggled-open" id="veteran-white-on-way" hidden>
              <div class="health-card__card-info">
                <button class="uikit-btn health-card__card-toggle health-card__card-toggle--outside"
                  aria-expanded="false"> <i class="far fa-plus-circle"></i> Show details</button>
                <div class="health-card__image-container health-card__image--on-its-way">
                  <img class="health-card__image" src="/docs/images/health-card-white--edited.png"
                    alt="lightgray background">
                </div>
                <div class="health-card__inner-card-info">
                  <button class="uikit-btn health-card__card-toggle health-card__card-toggle--inside"
                    aria-expanded="false"></button>
                  <div class="health-card__details-wrapper">
                    <h2 class="mys h2 health-card__header-text margin-below--small">Veteran Card</h2>
                    <div class="health-card__on-its-way">
                        <p>Your card is on its way. Your card details will be available here when it has been
                          issued.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="health-card__extras">
                <div class="health-card__detail">
                  <div id="accepted-conditions" class="accordion rotate-90">
                    <button class="style-less-button accordion-button health-card__label--big"><i
                        class="transition fas fa-chevron-right"></i> Conditions listed</button>
                    <div class="accordion-content" hidden="">
                      <p class="accordion-content__sub-heading">The following conditions are listed on this card:
                      </p>
                      <div class="health-card__conditions-list margin-below--mid">
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Malaria (aggravation)</span><br>
                            <span class="health-card__condition-status">Approved under DRCA - </span>
                            <span class="health-card__condition-date">15 October 1981</span>
                          </div>
                        </div>
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Chicken pox (aggravation)</span><br>
                            <span class="health-card__condition-status">Approved under VEA - </span>

                            <span class="health-card__condition-date">23 May 1982</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Paraplegia, unspecified, chronic</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>

                            <span class="health-card__condition-date">01 January 2006</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Lumbar Spondylosis</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>

                            <span class="health-card__condition-date">21 June 2017</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Tinnitus</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>

                            <span class="health-card__condition-date">21 June 2017</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Reactive arthritis</span><br>
                            <span class="health-card__condition-status">Approved under DRCA - </span>

                            <span class="health-card__condition-date">16 December 2017</span>

                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Spastic hemiplegia</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>
                            <span class="health-card__condition-date">01 July 2005</span>
                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Soft tissue sarcoma</span><br>
                            <span class="health-card__condition-status">Approved under VEA - </span>
                            <span class="health-card__condition-date">01 January 2002</span>
                          </div>
                        </div>

                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Cut, stab, abrasion and laceration</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>
                            <span class="health-card__condition-date">15 December 2017</span>
                          </div>
                        </div>
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Tuberculosis</span><br>
                            <span class="health-card__condition-status">Approved under MRCA - </span>
                            <span class="health-card__condition-date">01 October 2017</span>
                          </div>
                        </div>
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Benign intercranial hypertension
                              (aggravation)</span><br>
                            <span class="health-card__condition-status">Approved under VEA - </span>
                            <span class="health-card__condition-date">23 October 1990</span>
                          </div>
                        </div>
                        <div class="health-card__condition">
                          <div class="health-card__condition-info">
                            <span class="health-card__condition-name">Night blindness (aggravation)</span><br>
                            <span class="health-card__condition-status">Approved under VEA - </span>
                            <span class="health-card__condition-date">26 January 1991</span>
                          </div>
                        </div>
                      </div>
                      <span>Last updated on 14 June 2019. If incorrect try logging in again later or
                        contact
                        us.</span>
                    </div>
                  </div>
                </div>
                <div class="health-card__detail margin-above--small">
                  <div class="accordion">
                    <button class="style-less-button accordion-button health-card__label--big"><i
                        class="transition fas fa-chevron-right"></i> How to use</button>
                    <div class="accordion-content health-card--no-margins" hidden="">
                      <h4 class="margin-below--small accordion-content__how-to-use">Step 1: Finding a provider</h4>
                      <p class="margin-below--small">You can use <a href="#" rel="external">HealthDirect</a> to find
                        health
                        services in your area.</p>
                      <p class="margin-below">Before booking your appointment, check that your selected provider
                        accepts the
                        DVA veteran card.</p>
                      <h4 class="margin-below--small">Step 2: Getting treatment</h4>
                      <p class="margin-below--small">Show your card when you receive medical treatment for your
                        condition.</p>
                      <p class="margin-below--large">You can also use the letter you received from us if your card has
                        not
                        arrived yet.</p>
                      <div class="uikit-page-alerts uikit-page-alerts--info" role="alert">
                        <h3>You don't have to pay for treatment if it relates to any of the conditions listed on your
                          card.
                        </h3>
                        <p>If you are billed by your health care provider, <strong>do not</strong> pay the account and
                          tell
                          DVA immediately on 133 254 (or 1800 555 254 in regional
                          areas). If you've already paid for treatment, you can <a href="#">make an application for
                            reimbursement</a>.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <button class="style-less-button accordion-button health-card__label--big"><i
                      class="transition fas fa-chevron-right"></i> How to access offers</button>
                  <div class="accordion-content health-card--no-margins" hidden="">
                    <h4 class="margin-below--small accordion-content__how-to-use">You can also use your card to access
                      offers
                      and services from APOD <br> (Australian Partners of
                      Defence).
                    </h4>
                    <p class="margin-below--small">Complete the steps below to access offers.</p>
                    <h4 class="margin-below--small">Step 1: Register with APOD</h4>
                    <p class="margin-below--small">Register an account with APOD. You will need to provide your
                      details and
                      your veteran card number. <a href="https://apod.com.au/" rel="external" target="_blank">Click
                        here to
                        register with APOD</a>.</p>
                    <h4 class="margin-below--small">Step 2: Access Offers</h4>
                    <p class="margin-below--small">
                      Browse the APOD website to view offers available. Offers can be accessed either instore or
                      online using
                      your Veteran Card.
                    </p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
    </section>
  </main>

  <%- include(partials+"components/layout/footer") %>

  <script type="text/javascript">

    // function openModal() {
    //   $('#help-panel').toggleClass("is-visible");
    // }
    $(document).ready(() => {
      $(".health-card").on("click", ".health-card__image-container, .health-card__card-toggle", function () {
        if ($(this).closest(".health-card").hasClass("toggled-open")) {
          $(this).closest(".health-card").removeClass("toggled-open");
        } else {
          $(this).closest(".health-card").addClass("toggled-open");
        }
      });
      $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)')
          .exec(window.location.href);
        if (results == null) {
          return 0;
        }
        return results[1] || 0;
      }
      var state = $.urlParam('state');
      switch (state) {
        case "show-conditions":
          $("#accepted-conditions").find(".accordion-button").addClass("rotate-90");
          $("#accepted-conditions").find(".accordion-content").toggle();
          break;
        default:
          break;
      }
    });
  </script>
  <%- include("index-ss.ejs") %>
</body>

</html>