<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Review and submit: DHOAS Application for a subsidy certificate | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main is="main-content">

    <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Review and submit</span>
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <table class="cover-detail margin-above">
            <caption class="padding-below">Home loan details
              <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/asc1'">Change</button>
            </caption>
            <thead>
              <tr>
                <th>Purpose of loan</th>
                <td>
                  Purchase a new home
                </td>
              </tr>
            </thead>
            <thead>
              <tr>
                <th>Current occupancy</th>
                <td>
                  On base accommodation
                </td>
              </tr>
            </thead>
            <thead>
              <tr>
                <th>Have you had a subsidised loan under any of the following?
                  <ul>
                    <li>Defence Service Home Loans Scheme (DSH)</li>
                    <li>Defence HomeOwner Scheme (DHOS)</li>
                    <li>Defence Home Ownership Assistance Scheme (DHOAS)</li>
                  </ul>
                </th>
                <td>
                  No
                </td>
              </tr>
            </thead>
          </table>

          <table class="cover-detail">
            <caption class="padding-below">Co-owner/borrower details
              <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/asc2'">Change</button>
            </caption>
            <tbody>
              <tr>
                <th>Will there be a co-owner/borrower of the property?</th>
                <td>Yes
                </td>
              </tr>

              <tr>
                <th>I agree that DVA can discuss my application with this co-owner/borrower</th>
                <td>Yes
                </td>
              </tr>

              <tr>
                <th>I agree this co-owner/borrower can make decisions about my DHOAS entitlement on my behalf</th>
                <td>Yes
                </td>
              </tr>

              <tr>
                <th>Name</th>
                <td>Mr Mitchell Garvey</td>
              </tr>
              <th>Date of birth</th>
              <td>29/12/1960</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>mitchell.garvey@gmail.com</td>
              </tr>
              <tr>
                <th>Contact phone number</th>
                <td>0425 123 123</td>
              </tr>

              <tr>
                <th>What is your relationship to this person?</th>
                <td>
                  <ul>
                    <li>Non partner co-owner</li>
                    <li>Guarantor on loan</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>Is this person also applying for a Subsidy Certificate?</th>
                <td>No</td>
              </tr>

              <tr>
                <th>Is there another co-owner/borrower of the property?</th>
                <td>Yes</td>
              </tr>

            </tbody>
          </table>

          <table class="cover-detail">
            <caption class="padding-below">Additional co-owner/borrower details
              <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/asc2'">Change</button>
            </caption>
            <tbody>

              <tr>
                <th>I agree that DVA can discuss my application with this co-owner/borrower</th>
                <td>Yes
                </td>
              </tr>

              <tr>
                <th>I agree this co-owner/borrower can make decisions about my DHOAS entitlement on my behalf</th>
                <td>No
                </td>
              </tr>

              <tr>
                <th>Name</th>
                <td>Mrs Marge Simpson</td>
              </tr>
              <th>Date of birth</th>
              <td>12/04/1973</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>marge.simpson@gmail.com</td>
              </tr>
              <tr>
                <th>Contact phone number</th>
                <td>0425 123 123</td>
              </tr>

              <tr>
                <th>What is your relationship to this person?</th>
                <td>
                  <ul>
                    <li>Non partner co-borrower</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>Is this person also applying for a Subsidy Certificate?</th>
                <td>No</td>
              </tr>
              <tr>
                <th>Is there another co-owner/borrower of the property?</th>
                <td>No</td>
              </tr>

            </tbody>
          </table>
          <table class="cover-detail">
            <caption class="padding-below">Your service history
              <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/asc3'">Change</button>
            </caption>
            <tbody>
              <tr>
                <th>Reserve service documents</th>
                <td>
                  <ul>
                    <li>StatementofReserveService.pdf</li>
                    <li>CENRES.pdf</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>Is your service history complete?</th>
                <td> No
                  <ul>
                    <li>ServiceDoc.pdf</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>Did you have any period of leave without pay?</th>
                <td>Yes
                  <ul>
                    <li>10/02/2016 - 12/03/2016</li>
                    <li>16/01/2017 - 22/01/2018</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>Were you medically discharged?</th>
                <td> Yes
                  <ul>
                    <li>DM42.pdf</li>
                    <li>SeparationHealthExamination.png</li>
                  </ul>
                </td>
              </tr>

            </tbody>
          </table>

          <table class="cover-detail">
            <caption class="padding-below">Lump sum request
              <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/asc4'">Change</button>
            </caption>
            <tbody>
              <tr>
                <th>Would you like to receive your entitlement as a lump sum?</th>
                <td>Yes</td>
              </tr>
              <tr>
                <th>While serving in the ADF have you, or you and your partner, previously owned a 50% or greater stake in a home, either to live in or for an investment?</th>
                <td>No</td>
              </tr>
              <tr>
                <th>Do you expect to leave the ADF within 12 months of your subsidy payment being authorised?</th>
                <td>No</td>
              </tr>
              <tr>
                <th>How much of your entitlement do you want to receive as a lump sum?</th>
                <td>3 months</td>
              </tr>
            </tbody>
          </table>

          <table class="cover-detail">
            <caption class="padding-below">Staying in the ADF
              <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/asc4'">Change</button>
            </caption>
            <tbody>
              <tr>
                <th>Is access to the DHOAS subsidy a key factor in you choosing to remain in the ADF?</th>
                <td>Yes</td>
              </tr>
              <tr>
                <th>Will DHOAS influence your decision to remain in the ADF in the future?</th>
                <td>No</td>
              </tr>
              <tr>
                <th>Defence Service Homes Insurance Scheme may contact me</th>
                <td>Yes</td>
              </tr>
            </tbody>
          </table>

          <h4>Declaration</h4>
          <label class="uikit-control-input">
            <input id="agreementOne" class="uikit-control-input__input agreement" type="checkbox" name="agreement">
            <span class="uikit-control-input__text">
              <!-- 
    WORDING FOR BELOW LIST 
    TO BE ADVISED BY DHOAS/SIMON
-->
              I agree to all of the following:
              <ul>
                <br>
                <li>
                  that I must give notice of relevant changes in my personal details or circumstances
                </li>
                <li>
                  that I will not give false or misleading information as it is a serious offence and may be prosecuted under section 137 of the Criminal Code Act 1995
                </li>
                <li>
                  that I understand any overpayment of subsidy may be recovered from the home loan, or from the sale of the home securing the loan
                </li>
                <li>
                  to the disclosure and use of personal information as notified in the <a href="/auth/claim/dhoas/asc-terms-and-conditions" target="_blank">DHOAS Privacy
                    notification and
                    consent</a>.
                </li>
              </ul>
            </span>
          </label>
          <div class="pagination">
            <!-- <p>By clicking
                      <strong>submit application</strong> you confirm this information is truthful and accurate.</p> -->
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/dhoas/asc5'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas/asc-submitted'">Submit application</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "80%";
    document.getElementById("percentage_value").textContent = "80%";

    $("#employed-yes").click(function () {
      $("#change-in-employment").show();
      $("#unemployed").hide();
    });
    $("#employed-no").click(function () {
      $("#unemployed").show();
      $("#change-in-employment").hide();
    });
    $("#employment-change-yes").click(function () {
      $("#employment-details").show();
      $("#save-and-next").hide();
    });
    $("#employment-change-no").click(function () {
      $("#employment-details").hide();
      $("#save-and-next").show();
    });

  </script>

</body>

</html>
