<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>DHOAS Application for a subsidy certificate | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>

  <%- include(partials+"components/layout/header-nom-rep") %>




  <main id="main-content">
    <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Your service history</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="margin-above--extra margin-below">
            <h2>Tell us about your service history</h2>
            <p>Your service history is retrieved from PMKeyS and will be used to calculate your DHOAS entitlements.</a>
            </p>
            <div class="uikit-page-alerts" role="alert">
              <p>If you need to update your records with the Department of Defence. You can do this by contacting the Defence Service Center on 1800 333 362
              </p>
            </div>


            <!-- <div class="uikit-page-alerts" role="alert">
              <p>If you need to update your records with the Department of Defence. You can do this by contacting the Defence Service Center on 1800 333 362</p>
            </div> -->
          </div>
          <!-- 
          <h3>Review your service and operational history information</h3> -->


          <!-- <div class="col-xs-12 col-md-10 section section-feature border-all">
            <div class="data-list">
              <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">
                  <h2>
                    <img src="/docs/images/ico-user-serving-thick.svg"> Service History
                  </h2>
                  <div class="border-top__thick--blue margin-below"></div>
                  <div class="data-list__row">
                    <div class="data-list__heading">Royal Australian Navy</div>
                    <div class="data-list__sub-heading">Permanent</div>
                    <div class="data-list__date">12 November 2006 &mdash; 14 January 2015</div>
                  </div>
                  <div class="data-list__row">
                    <div class="data-list__heading">Royal Australian Army</div>
                    <div class="data-list__sub-heading">Active Reservist</div>
                    <div class="data-list__date">15 January 2015 &mdash; 29 February 2017</div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">
                  <h2>
                    <img src="/docs/images/ico-operational-service.svg"> Operational History
                  </h2>
                  <div class="border-top__thick--blue margin-below"></div>
                  <div class="data-list__row">
                    <div class="data-list__heading data-list--nosub">Operation Slipper</div>
                    <div class="data-list__date">13 December 2006 &mdash; 07 January 2007</div>
                  </div>
                  <div class="data-list__row">
                    <div class="data-list__heading data-list--nosub">Operation Resolute</div>
                    <div class="data-list__date">23 September 2009 &mdash; 5 November 2009</div>
                  </div>
                  <div class="data-list__row">
                    <div class="data-list__heading data-list--nosub">Operation Slipper</div>
                    <div class="data-list__date">13 December 2006 &mdash; 07 January 2007</div>
                  </div>
                  <div class="data-list__row">
                    <div class="data-list__heading data-list--nosub">Operation Resolute</div>
                    <div class="data-list__date">23 September 2009 &mdash; 5 November 2009</div>
                  </div>
                  <div class="data-list__row">
                    <div class="data-list__heading data-list--nosub">Operation Slipper</div>
                    <div class="data-list__date">13 December 2006 &mdash; 07 January 2007</div>
                  </div>
                  <div class="data-list__row">
                    <div class="data-list__heading data-list--nosub">Operation Resolute</div>
                    <div class="data-list__date">23 September 2009 &mdash; 5 November 2009</div>
                  </div>

                </div>

              </div>
            </div>
          </div> -->
        </div>
      </div>


      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">

          <!-- <div class="margin-below--extra margin-above">
            <h3>Upload evidence of your service history </h3>
            <div class="uikit-page-alerts" role="alert">
              <p>You will need to upload documents supporting your declaration of service history.</p>
              <p>Evidence for this can be your full ADO Service Record, CENRES pay printouts
                or ADF recognition of foreign service such as a MilitarySuper letter.</p>
              <p>Documents can be in .pdf, .jpg, or .png format. Each file has a 50MB size limit.</p>
            </div>
            <button class="uikit-btn uikit-btn--tertiary">Upload document</button>
          </div> -->

          <!-- <div id="reservist-question" hidden>
            <%- include(partials+"components/form_partials.ejs", {
              "forms": [
                {
                  "type": "y_n_toggle",
                  "config": {
                    "label": "Are you or have you been a Reservist?",
                    "yes_toggle": "#reservist-yes"
                  }
                }
              ]
            }); %>
          </div> -->

          <!-- <div id="reservist-yes" class="margin-below--extra margin-above" hidden>
            <h3>Upload evidence of your Effective Reservist service </h3>
            <div class="uikit-page-alerts" role="alert">
              <p>To accrue a years entitlement to DHOAS you will need to have completed 20 days of paid Reserve service within the financial year. </p>
              <p>Evidence for this can be a Statement of Reserve Service, CENRES pay printout or other supporting evidence.</p>
              <p>Documents can be in .pdf, .jpg, or .png format. Each file has a 50MB size limit.</p>
            </div>
            <button class="uikit-btn uikit-btn--tertiary">Upload document</button>
          </div> -->


          <!-- <%- include(partials+"components/form_partials.ejs", {
            "forms": [
              {
                "type": "y_n_toggle",
                "config": {
                  "label": "Is your service history complete?",
                  "no_toggle": "#historyNotComplete"
                }
              }
            ]
          }); %> -->

          <div id="historyNotComplete" class="margin-below margin-above" hidden>
            <!-- <div class="tip--wrapper">
              <p><strong>If your service history is incomplete, please upload any evidence you may have.</strong></p>
            </div>
            <div> -->
            <h4>Please upload evidence of service history
              <span class="hint display-block">You can also update your records by contacting the Defence Service Center on 1800
                333 362.</span></h4>
            <div class="uikit-page-alerts" role="alert">


              <p>Documents can be in .pdf, .jpg, or .png format. Each file has a 50MB size limit.</p>
            </div>
            <button class="uikit-btn uikit-btn--tertiary">Upload document</button>
          </div>

          <div id="medically-discharged">
            <!-- <%- include(partials+"components/form_partials.ejs", {
                "forms": [
                  {
                    "type": "y_n_toggle",
                    "config": {
                      "label": "Were you medically discharged?",
                      "yes_toggle": "#medically-discharged-upload"
                    }
                  }
                ]
              }); %> -->
          </div>
          <!-- <div id="medically-discharged-upload" hidden>
            <h4>Provide evidence of your medical discharge
              <span class="hint display-block">This will ensure our calculations for your entitlements under DHOAS are correct.</span>
            </h4>
            <div class="uikit-page-alerts" role="alert">

              <p>For example, a copy of your DM42, SHE, MERCRB documents or other evidence.</p>
              <p>Documents can be in .pdf, .jpg, or .png format. Each file has a 50MB size limit.</p>
            </div>
            <button class="uikit-btn uikit-btn--tertiary margin-below">Upload document</button>
          </div> -->
          <%- include(partials+"components/form_partials.ejs", {
            "forms": [
              {
                "type": "y_n_toggle",
                "config": {
                  "label": "Did you have any period of ADF leave without pay?",
                  "yes_toggle": "#leaveWithoutPay-dates",
                  "no_toggle": "#save-next"
                }
              }
            ]
          }); %>

          <div id="leaveWithoutPay-dates" class="margin-below--extra" style="display:none;">
            <h4>Tell us when you had leave without pay</h4>
            <table class="mys-table table-responsive border-all border-top__thick--blue">
              <tr>
                <th style="border-left:1px solid #cccccc;">
                  <label class="uikit-text-input__label" for="date">Start Date
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                </th>
                <th></th>
                <th>
                  <label class="uikit-text-input__label" for="date">End Date
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                </th>
                <th style="border-right:1px solid #cccccc;"></th>
              </tr>
              <tr id="date-template">
                <td>
                  <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required="" aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required="" aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required="" aria-required="true" aria-label="4 digit year">
                </td>
                <td>&mdash;</td>
                <td>
                  <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required="" aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required="" aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required="" aria-required="true" aria-label="4 digit year">
                </td>
                <td>
                  <button id="removeDateRow" class="uikit-btn uikit-btn--tertiary small">Remove</button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td class="padding-above--none">
                  <div class="display-block">
                    <label class="uikit-control-input margin-above--none">
                      <input class="uikit-control-input__input" type="checkbox" name="agreement">
                      <span class="uikit-control-input__text">Currently on leave</span>
                    </label>
                  </div>
                </td>
                <td></td>
              </tr>
              <tr class="padding-above--none">
                <td colspan=4 class="padding-above--none ss-align--center">
                  <button class="uikit-btn uikit-btn--tertiary small" onclick="cloneme()">Add another date</button>
                </td>
              </tr>
            </table>
          </div>


            <p id="save-next" hidden="">Choose <b>save and next</b> to continue.</p>

          <!-- 

        </div> -->
          <div class="pagination margin-above--extra">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/dhoas/asc2'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas/asc4'">Save and next</button>
            </div>
          </div>


        </div>
      </div>

      <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    $(document).ready(() => {
      $.ajax({
          url: '/docs/data/user.json',
          type: 'GET',
          dataType: 'json'
        })
        .done((data) => {
          let user = JSON.parse(localStorage.person)._id;
          let person;

          $.each(data.person, function () {
            if (this._id == user) {
              person = this;
            }
          });

          if (person.isCurrentlyServing === false) {
            console.log("not currently serving");
            $("#medically-discharged").show();
          }
          if (person.reservist === true) {
            $("#reservist-yes").show();
            console.log("is reservist");
          } else if (person.reservist === null) {
            $("#reservist-question").show();
            console.log("don't know reservist status")
          } else if (person.reservist === false) {
            console.log("not a reservist");
          }
        });
    });



    function cloneme() {
      var newOne = $('#date-template').clone();;
      newOne.insertAfter($('#date-template'));
    }

    $("#removeDateRow").click(function () {
      $("#date-template:not(first-child)").remove();
    });

  </script>

</body>

</html>
