<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>DHOAS Application for a subsidy certificate | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main id="main-content">
    <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Lump sum payment option</span>
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 margin-above--extra margin-below--extra">

          <h2>Request a lump sum payment</h2>
          <p>A request for the lump sum payment should be made on this Subsidy Certificate application.</a>
          </p>

          <!-- <div class="uikit-page-alerts" role="alert">

            <ul>
              <li>
                A lump sum request should be made before you purchase or complete building your home.
              </li>
              <li>
                The lump sum can only be paid on the Subsidy Certificate you requested before your home was purchased or completed.
              </li>
              <li>
                If that Subsidy Certificate expires, and you are required to request a new Certificate after the home is purchased or completed, you will not be eligible for a lump
                sum.
              </li>
            </ul>
          </div> -->

          <%- include(partials+"components/form_partials.ejs", {
            "forms": [
              {
                "type": "y_n_toggle",
                "config": {
                  "label": "Would you like to you check your eligibility for a lump sum payment?",
                  "yes_toggle": "#check-eligibility--yes",
                  "no_toggle": "#check-eligibility--no"
                }
              }
            ]
          }); %>

          <div id="check-eligibility--no" hidden>
            <p>Choose <b>save and next</b> to continue.</p>
          </div>

          <div id="check-eligibility--yes" hidden>
            <div id="eligibility-check">
              <%- include(partials+"components/form_partials.ejs", {
                "forms": [
                  {
                    "type": "y_n_toggle",
                    "config": {
                      "id": "serving-in-adf",
                      "label": "While serving in the ADF have you, or you and your co-owner/borrower, previously owned a 50% or greater stake in a home, either to live in or for an investment?",
                      "yes_toggle": "#stake-50"
                    }
                  }
                ]
              }); %>

              <%- include(partials+"components/form_partials.ejs", {
                "forms": [
                  {
                    "type": "y_n_toggle",
                    "config": {
                      "id": "leave-within-12",
                      "label": "Do you expect to leave the ADF within 12 months of your subsidy payment being authorised?",
                      "yes_toggle": "#leave-12, #save-next"
                    }
                  }
                ]
              }); %>
            </div>

            <div id="may-be-eligible" hidden>
              <!-- <div class="uikit-page-alerts uikit-page-alerts--success">
                <p>You may be eligible to receive a lump sum payment.</p>
              </div> -->

              <div class="uikit-page-alerts uikit-page-alerts--info">
                <h3>You may be eligible to receive a lump sum payment </h3>
                <ul>
                  <!-- <li>A request for the lump sum payment should be made on this application.</li> -->

                  <li>A lump sum request should be made before you purchase or complete building your home.</li>
                  <li>The lump sum can only be paid on the Subsidy Certificate you requested before your home was purchased or completed.</li>
                  <li>Final assessment of your lump sum eligibility is made after you confirm your request on the Subsidy Authorisation Request Form
                    (SARF).
                  <li>Your monthly DHOAS payments may cease if you transfer to the Reserves and have less than 12 months of entitlement remaining after your lump sum payment is
                    received.</li>
                  <!-- <li> If that Subsidy Certificate expires, and you are required to request a new Certificate after the home is purchased or completed, you will not be eligible for
                    a lump sum. </li> -->

                </ul>
              </div>

              <%- include(partials+"components/form_partials.ejs", {
                "forms": [
                  {
                    "type": "radio",
                    "config": {
                      "label": "How much of your entitlement do you want to receive as a lump sum?<br>",
                      <!-- "hint": "If you request a specific number of months this amount cannot exceed 48 months.", -->
                      "boxes": [
                        {
                          "text": "Request the maximum amount"
                        },
                        {
                          "text": "Request a specific number of months (cannot exceed 48 months)",
                          "inject": "#specific-months-sum"
                        }
                      ]
                    }
                  }
                ]
              }); %>

              <!-- <div class="uikit-page-alerts uikit-page-alerts--error"> -->
              <h4>You must agree with the following before your lump sum payment request can be submitted:</h4>
              <p>I acknowledge that the Scheme Administrator or the Department of Defence may recover an amount equal to my lump sum subsidy payment if I cease to be a member of
                the ADF within 12 months after payment is authorised.</p>
              <p>I also agree that my eligibility for the lump sum payment will be reassessed at payment commencement time.</p>
            </div>

            <div id="not-eligible" hidden>
              <div class="uikit-page-alerts uikit-page-alerts--warning">
                <h3>You are not eligible to receive a lump sum payment</h3>
                <ul>
                  <li id="stake-50" hidden>If you and your co-owner/borrower have owned a 50% or greater stake in a home, either to live in or for an investment.</li>
                  <li id="leave-12" hidden>If you expect to leave the ADF within 12 months of your subsidy payment being authorised.</li>
                </ul>
              </div>
            </div>

            <p id="save-next" hidden="">Choose <b>save and next</b> to continue.</p>
          </div>

        </div>


        <%- include(partials+"components/form_partials.ejs", {"forms": [    {
                "type": "pagination",
                "config": {
                  "normal": [
                    {
                      "link": "/auth/claim/dhoas/asc3",
                      "primary": false,
                      "text": "Previous",
                    },
                    {
                      "link": "#open-modal",
                      "primary": false,
                      "text": "Cancel application",
                    }
                  ],
                  "floated": [
                    {
                      "link": "/auth/claim/",
                      "text": "Save and exit",
                      "primary": false,
                      "disabled": false
                    },
                    {
                      "link": "/auth/claim/dhoas/asc5",
                      "text": "Save and next",
                      "primary": true,
                      "disabled": false
                    }
                  ]
                }
              }]}) %>

      </div>
    </div>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>

  <div id="specific-months-sum" class="form-group form-group--secondary" hidden>
    <span class="input-support-text">
      <span class="hint">I would like to convert &nbsp; &nbsp;</span>
    </span>
    <input type="number" class="uikit-text-input input-small mm">
    <span class="input-support-text">
      <span class="hint">&nbsp; months into a lump sum payment.</span>
    </span>
  </div>

  <script>
    var adf_checked = false;
    var leave_checked = false;

    $("#serving-in-adf").on("click", "input", () => {
      if ($("#serving-in-adf-yes").prop("checked") || $("#serving-in-adf-no").prop("checked")) {
        adf_checked = true;
      }
    });

    $("#leave-within-12").on("click", "input", () => {
      if ($("#leave-within-12-yes").prop("checked") || $("#leave-within-12-no").prop("checked")) {
        leave_checked = true;
      }
    });

    $("#eligibility-check").on("click", "input", () => {
      if (adf_checked && leave_checked) {
        if ($("#leave-within-12-no").prop("checked") && $("#serving-in-adf-no").prop("checked")) {
          $("#may-be-eligible").show();
          $("#not-eligible").hide();
        } else {
          $("#not-eligible").show();
          $("#may-be-eligible").hide();
        }
      }
    });

  </script>



</body>

</html>
