<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>DHOAS Application for a subsidy certificate | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>

  <%- include(partials+"components/layout/header-nom-rep") %>

  <main id="main-content">
    <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Declaration</span>
        </h1>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">

          <label class="margin-above--extra uikit-control-input">
            <input id="agreementOne" class="uikit-control-input__input agreement" type="checkbox" name="agreement">
            <span class="uikit-control-input__text">
              I agree to all of the following:
              <ul>
                <br>
                <li>
                  that I must give notice of relevant changes in my personal details or circumstances
                </li>
                <li>
                  that I will not give false or misleading information as it is a serious offence and may be prosecuted under section 137 of the Criminal Code Act 1995
                </li>
                <li>
                  that I understand any overpayment of subsidy may be recovered from the home loan, or from the sale of the home securing the loan
                </li>
                <li>
                  to the disclosure and use of personal information as notified in the <a href="/auth/claim/dhoas/asc-terms-and-conditions" target="_blank">DHOAS Privacy
                    notification and
                    consent</a>.
                </li>
              </ul>
            </span>
          </label>

          <p id="save-next" hidden="">Choose <b>save and next</b> to continue.</p>

          <div class="pagination margin-above--extra">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/dhoas/asc5'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas/asc-review'">Save and review</button>
            </div>
          </div>


        </div>
      </div>

      <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>

</body>

</html>
