<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Application for a DHOAS Subsidy Certificate | MyService</title>
  <%- include(partials+"components/layout/head") %>

  <style>
    .pt-subsidised_loan_yes {
      display: none;
    }

  </style>

</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <!-- <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Defence Home Ownership Assistance Scheme</span>
        </h1>
      </div>
    </div> -->

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 margin-below--extra">
          <h1>Defence Home Ownership Assistance Scheme</h1>
          <p>DHOAS provides eligible current and former serving members of the Permanent Force and the Reserves with a subsidy on the interest of their home loans.</p>

          <div class="tile-container" style="margin-left: -10px;">
            <%- include(partials+"components/tile", {
              "tiles": [
                {
                  "title": "Application for a Subsidy Certificate",
                  "subtext": "Apply for subsidy certificate to assist with the interest of your home loan.",
                  "link": "/auth/claim/dhoas/asc1",
                  "icon": {
                    "icon": "fa-file-alt",
                    "size": "fa-3x",
                    "color": "#1057a7"
                  }
                },
                {
                  "title": "Subsidy authorisation request form",
                  "subtext": "Authorise subsidy certificate to receive your subsidy payments.",
                  "link": "/auth/claim/dhoas/sar1",
                  "icon": {
                    "icon": "fa-file-signature",
                    "size": "fa-3x",
                    "color": "#1057a7"
                  }
                }
              ]
            }); %>
          </div>
        </div>
      </div>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


</body>

</html>
