<!DOCTYPE html>
<html class="js" lang="en">

<head>

	<title>Subsidy authoriation request | MyService</title>
	<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
	<noscript>
		<p role="alert">This website needs JavaScript to work properly.</p>
	</noscript>
	<nav class="uikit-skip-link">
		<a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
	</nav>
	<%- include(partials+"components/layout/header-topbar") %>
	<%- include(partials+"components/layout/header-claims") %>
	<%- include(partials+"components/layout/header-nom-rep") %>

	<main id="main-content">
		<div class="container">
			<div id="progressbar">
				<div id="percentage">
					<p id="percentage_value"></p>
				</div>

			</div>
			<h1>
				<span class="heading margin-below--extra">Review and submit</span>
			</h1>

			<table class="cover-detail margin-above">
				<caption class="padding-below">Property and loan details
					<button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar1'">Change</button>
				</caption>
				<tbody>
					<tr>
						<th>Address of mortgaged and subsidised property:</th>
						<td>
							41 Evergreen Street, Sydney 2600, NSW
						</td>
					</tr>
					<tr>
						<th>Is your postal address different to the subsidised property address?</th>
						<td>
							Yes
							<p style="margin-left: 1em;">Using PO box</p>
						</td>
					</tr>
					<tr>
						<th>Do you want your correspondence address updated to this property address from the date you will begin occupancy?</th>
						<td>No</td>
					</tr>
				</tbody>
			</table>


			<table class="cover-detail margin-above">
				<caption class="padding-below">Loan settlement date
					<button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar1'">Change</button>
				</caption>
				<tbody>
					<tr>
						<th>My DHOAS loan settlement/expected settlement date on the property is: </th>
						<td>
							05/05/1999
						</td>
					</tr>
					<tr>
						<th>Loan account details</th>
						<td>
							<ul>
								<li>Account name: Joe S Bloggs</li>
								<li>BSB: 195 911</li>
								<li>Account number: 195 591 591</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>

			<table class="cover-detail margin-above">
				<caption class="padding-below">Declaration of interest in the property
					<button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar2'">Change</button>
				</caption>
				<tbody>
					<tr>
						<th>In relation to this property I declare that:</th>
						<td>
							The remaining interest is owned/will be owned by another person/s
							<ul>
								<li>Frank Sinatra, Brother</li>
								<li>John Smith, Father</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>

			<table class="cover-detail margin-above">
				<caption class="padding-below">Use of loan
					<button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar2'">Change</button>
				</caption>
				<tbody>
					<tr>
						<th>I declare that I am using the home loan subject to this application solely for:</th>
						<td>
							Purchase a new home
						</td>
					</tr>
				</tbody>
			</table>

			<table class="cover-detail margin-above">
				<caption class="padding-below">Occupancy of the property
					<button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar3'">Change</button>
				</caption>
				<tbody>
					<tr>
						<th>Occupancy requirement: </th>
						<td>
							I (or I and my dependent/s) currently occupy the property as of 19/05/1999
						</td>
					</tr>
					<tr>
						<th>I declare that: </th>
						<td>
							I understand that I (or my dependant/s) must occupy the subsidised property for 12 months from the commencement of subsidy payments for this application for Subsidy Certificate.
						</td>
					</tr>
					<tr>
						<th>I declare that:  </th>
						<td>
							I will be carrying on a business, trade or profession on the land or any building on the land of the following nature:<br>
							<p style="margin-left: 1em;">A reason to have a business on the property</p>
						</td>
					</tr>
				</tbody>
			</table>

			<table class="cover-detail margin-above">
				<caption class="padding-below">Posting order
					<button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar4'">Change</button>
				</caption>
				<tbody>
					<tr>
						<th>Do you currently hold a posting order which will prevent you from meeting the 12 month occupancy requirement?</th>
						<td>
							Yes
							<p style="margin-left: 1em;">A reason for a posting order</p>
						</td>
					</tr>
			</table>

			<table class="cover-detail margin-above">
				<caption class="padding-below">Lump sum
					<button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar4'">Change</button>
				</caption>
				<tbody>
					<tr>
						<th>Have you requested the lump sum on your current Subsidy Certificate?</th>
						<td>
							No
						</td>
					</tr>
					<tr>
						<th>Do you want to make an application for a lump sum now?</th>
						<td>
							Yes
						</td>
					</tr>
					<tr>
						<th>Lump sum eligibility:</th>
						<td>
							Eligible
						</td>
					</tr>
					<tr>
						<th>How much of your entitlement do you want to receive as a lump sum?</th>
						<td>
							I would like to convert 5 months into a lump sum payment.
						</td>
					</tr>
					<tr>
						<th>You must agree with the following before your lump sum payment request can be submitted</th>
						<td>
							Agree
						</td>
					</tr>
			</table>

			<table class="cover-detail margin-above">
				<caption class="padding-below">Declaration
					<button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar5'">Change</button>
				</caption>
				<tbody>
					<tr>
						<th>I agree to the declaration:</th>
						<td>
							Yes
						</td>
					</tr>
			</table>

			<div class="pagination margin-above--extra">
				<button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/auth/claim/dhoas/sar5' ">Previous</button>
				<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
				<div class="floated">
					<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
					<button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas/sar-submitted'">Submit application</button>
				</div>
			</div>

			<%- include(partials+"content/modals/claims-cancel-modal") %>
		</div>

	</main>

	<%- include(partials+"components/layout/footer") %>

</body>

</html>
