<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Subsidy authoriation request | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main id="main-content">

    <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Property and loan details</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>


      <p>I hereby apply for authorisation of subsidy under the DHOAS Act on a home loan secured by a mortgage over an interest in land located at:</p>
      <h2 class="margin-above--large">
        <span class="font-weight-heavy">Address of mortgaged and subsidised property:</span>
      </h2>

      <div class="postalAddressAustralia ">
        <div class="form-group">
          <div class="field">
            <label class="uikit-text-input__label" for="postalAddressPrefix">
              Building name or address prefix
              <span class="hint">(optional)
              </span>
            </label>
            <input type="text" id="postalAddressPrefix" name="postalAddressPrefix" class="uikit-text-input" aria-required="false" maxlength="38" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="uikit-text-input__label" for="postalAddressLine1">Address line 1</label>
          <input class="uikit-text-input" id="postalAddressLine1" name="postalAddressLine1" type="text" value="">
        </div>
        <div class="form-group">
          <label class="uikit-text-input__label" for="postalAddressLine2">Address line 2
            <span class="hint">(optional)</span>
          </label>
          <input class="uikit-text-input" id="postalAddressLine2" name="postalAddressLine2" type="text" value="">
        </div>

        <div class="form-group">
          <label class="uikit-text-input__label" for="postalAddressTown">Suburb or town</label>
          <input class="uikit-text-input" id="postalAddressTown" name="postalAddressTown" type="text" value="">
        </div>
        <div class="form-group">
          <label class="uikit-text-input__label" for="postalAddressPostcode">Postcode
          </label>
          <input class="uikit-text-input input-small yyyy" id="postalAddressPostcode" maxlength="4" name="postalAddressPostcode" type="text">
        </div>


        <div class="form-group postalAddressInAus">
          <label class="uikit-text-input__label" for="postalAddressState">State or territory</label>
          <select class="uikit-text-input input-half" id="postalAddressState" name="postalAddressState">
            <option> -- Select state or territory -- </option>
            <option> Australian Capital Territory </option>
            <option> New South Wales </option>
            <option> Northern Territory </option>
            <option> Queensland </option>
            <option> South Australia </option>
            <option> Tasmania </option>
            <option> Victoria </option>
            <option> Western Australia </optionf>
          </select>
        </div>
      </div>



      <div class="form-group" id="postal-address">
        <label class="uikit-text-input__label"
        for="toggle-buttons-1">Is your postal address different to the subsidised property address?</label>
        <div class="radio-toggle">
         <label class="on label-left">
          <input id="postal-different"
          type="radio"
          name="toggle-buttons-1">
          <span>Yes</span>
        </label>
        <label class="off label-right">
          <input id="postal-same"
          type="radio"
          name="toggle-buttons-1">
          <span>No</span>
        </label>
      </div>
    </div>



    <div id="postal-different-box" class="margin-above" style="display: none;">
      <div class="margin-below--large form-group"></div>
      <div class="form-group">
        <label class="uikit-text-input__label" for="postaltextdifferent">Please provide a reason</label>
        <textarea id="postaltextdifferent" name="postaltextdifferent" rows="5"></textarea>
      </div>
    </div>

    <div id="postal-same-box" class="margin-above" style="display: none;">
      <div class="margin-below--large form-group"></div>
      <div class="form-group">
        <label class="uikit-text-input__label"
        for="toggle-buttons-1">Do you want your correspondence address updated to this property address from the date you will begin occupancy?</label>
        <div class="radio-toggle">
         <label class="on label-left">
          <input id="update-correspondence-yes"
          type="radio"
          name="toggle-buttons-1">
          <span>Yes</span>
        </label>
        <label class="off label-right">
          <input id="update-correspondence-no"
          type="radio"
          name="toggle-buttons-1">
          <span>No</span>
        </label>
      </div>
    </div>
  </div>

  <h1><span class="heading">Loan settlement date</span></h1>
  <div class="form-group">
    <label class="uikit-text-input__label" for="date">My DHOAS loan settlement/expected settlement date on the property is:
     <br><span class="hint">(DD / MM / YYYY)</span>
   </label>
   <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
   <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
   <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true"
   aria-label="4 digit year">
 </div>

 <h2 class="margin-above--large">
  <span class="font-weight-heavy">Loan account details</span>
</h2>
<%- include(partials+"content/bank-account-details") %>

<div class="pagination margin-above--extra">
  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
  <div class="floated">
    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
    <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas/sar2'">Save and next</button>
  </div>
</div>

<%- include(partials+"content/modals/claims-cancel-modal") %>
</div>

</main>

<%- include(partials+"components/layout/footer") %>


<script>
  $("")

    // Progress percentage
    document.getElementById("percentage").style.width = "20%";
    document.getElementById("percentage_value").textContent = "20%";

    $("#refinance-reason").hide();
    $("#specify").hide();
    $("#why-lodge").hide();

    $("#purpose label").click(function () {
      if ($(this).children('input').val() == "refinance") {
        $("#refinance-reason").show();
      } else {
        $("#refinance-reason").hide();
        $("#why-refinance").val("");
      }
    });

    $("#occupancy label").click(function () {
      if ($(this).children('input').val() == "other") {
        $("#specify").show();
      } else {
        $("#specify").hide();
        $("#specify-occupancy").val("");
      }
    });

    $("#subsidy-dhoas").click(function () {
      $("#why-lodge").toggle();
    });

    $("#subsidy-no").on("change", function() {
      if($("#subsidy-no").prop("checked") == true) {
        $("#subsidy-dhoas").prop("disabled", true);
        $("#subsidy-dsh").prop("disabled", true);
        $("#subsidy-dhos").prop("disabled", true);
        $("#subsidy-dhoas").prop("checked", false);
        $("#subsidy-dsh").prop("checked", false);
        $("#subsidy-dhos").prop("checked", false);
        $("#why-lodge").css("display", "none");
      } else {
        $("#subsidy-dhoas").prop("disabled", false);
        $("#subsidy-dsh").prop("disabled", false);
        $("#subsidy-dhos").prop("disabled", false);
      }
    });

  </script>
  <script>
    $(".postalCountry").change(function () {
      if ($('.postalCountry :selected').val() == "Australia") {
        $(".postalAddressInAus").show();
      } else {
        $(".postalAddressInAus").hide();
      }
    });

    $("#postal-different").on("change", function () {
      if($("#postal-different").prop( "checked" )) {
        $("#postal-different-box").css("display", "block");
      } else {
        $("#postal-different-box").css("display", "none");
      }
    });

    $("#postal-same").on("change", function () {
      if($("#postal-same").prop( "checked" )) {
        $("#postal-different-box").css("display", "none");
      } else {
        $("#postal-different-box").css("display", "block");
      }
    });

    $("#postal-different").on("change", function () {
      if($("#postal-different").prop( "checked" )) {
        $("#postal-different-box").css("display", "block");
        $("#postal-same-box").css("display", "none");
      } else {
        $("#postal-different-box").css("display", "none");
        $("#postal-same-box").css("display", "block");
      }
    });

    $("#postal-same").on("change", function () {
      if($("#postal-same").prop( "checked" )) {
        $("#postal-different-box").css("display", "none");
        $("#postal-same-box").css("display", "block");
      } else {
        $("#postal-different-box").css("display", "block");
        $("#postal-same-box").css("display", "none");
      }
    });

  </script>

</body>

</html>
