<%- include(templates+"header", {
  title: "Property details | Subsidy authorisation request",
  heading: "Property details"
}) %>

  <%- include(forms+"radio", {
    label: "I declare that I am using this home loan solely to:",
    boxes: [
      {
        text: "Purchase a new home",
        inject: "#purchase-new-home-container"
      },
      {
        text: "Construct and/or renovate on land purchased with this loan",
        inject: "#construct-new-container"
      },
      {
        text: "Construct and/or renovate on previously purchased land",
        inject: "#construct-previous-container"
      },
      {
        text: "Refinance an existing home",
        inject: "#refinance-container",
        rToggle: "#expected-settlement-container"
      }
    ]
  }) %>

  <%- include(forms+"notice", {
    modifiers: ["hidden"],
    type: "content",
    id: "purchase-new-home",
    message: "<p>Buy an interest in the property detailed, which contains a habitable house.</p>"
  }) %>

  <%- include(forms+"notice", {
    modifiers: ["hidden"],
    type: "content",
    id: "construct-new",
    message: `<p>Buy an interest in the property detailed and undertake building work consisting of either:</p>
                <ol>
                  <li>Construction or completion of a house (excluding a unit) on the property; or</li>
                  <li>Enlargement, renovation or repair of a house on the property; or</li>
                  <li>Construction of another permanent improvement on the property, that is primarily for private or domestic purposes in association with an existing or proposed house.</li>
                </ol>`
  }) %>

  <%- include(forms+"notice", {
    modifiers: ["hidden"],
    type: "content",
    id: "construct-previous",
    message: `<p>I have an interest in the land at the property and will undertake building work on that land consisting of either:</p>
                <ol>
                  <li>Construction or completion of a house (excluding a unit) on the property; or</li>
                  <li>Enlargement, renovation or repair of a house on the property; or</li>
                  <li>Construction of another permanent improvement on the property, that is primarily for private or domestic purposes in association with an existing or proposed house.</li>
                </ol>`
  }) %>

  <%- include(forms+"notice", {
    modifiers: ["hidden"],
    type: "content",
    id: "refinance",
    message: "<p>To refinance an existing loan the balance of which is solely related to the repayment of a previous loan made for one of the above purchase or building work purposes.</p>"
  }) %>

  <%- include(forms+"radio", {
    label: "I declare that:",
    boxes: [
      "I own/will own a 100% interest in the property",
      "I and my partner own/will own a 100% interest in the property",
      {
        text: "I (or I and my partner, together) own/will own 50% or greater interest in the property. The remaining interest is owned/will be owned by another person/s",
        inject: "#list-of-names-container"
      },
      {
        text: "Other",
        inject: "#other-container"
      }
    ]
  }) %>

  <%- include(forms+"textarea", {
    label: "Provide a list of names and their relationship to you.",
    modifiers: ["hidden"],
    id: "list-of-names"
  }) %>

  <%- include(forms+"textarea", {
    label: "Provide details of the interest that you own/will own in the property. DVA will contact you regarding your eligibility.",
    modifiers: ["hidden"],
    id: "other"
  }) %>

  <%- include(forms+"date", {
    label: "Expected settlement date",
    modifiers: ["hidden"],
    id: "expected-settlement"
  }) %>

  <%- include(forms+"prepop/bank-details", {
    label: "Loan account details"
  }) %>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/dhoas/sar1"
      },
      {
        text: "Cancel application",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        link: "/auth/claim/dhoas/sar3",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>
