<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Subsidy authoriation request | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main id="main-content">
    <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Your loan details</span>
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="margin-above--extra margin-below--extra">

            <div class="uikit-page-alerts" role="alert">
              <p>Please note: This question does not relate to your equity in the property. It relates to the parties on the Certificate of Title and what percentage is owned by
                those parties. The eligible person must be one of the parties on the title for the subsidy to be payable on the property/loan. </p>
            </div>

            <div id="i-declare" class="form-group">
              <label class="uikit-text-input__label" for="radio-buttons">In relation to this property I declare that:</label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">I own/will own a <strong>100%</strong> interest in the property</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">I and my partner own/will own a <strong>100%</strong> interest in the property</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">I (or I and my partner, together) own/will own <strong>50%</strong> or greater interest in the property</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input id="another-borrower-radio" class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">The remaining interest is owned/will be owned by another person/s</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input id="other-radio" class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">Other</span>
                </label>
              </p>
            </div>

            <div id="another-borrower" style="display: none;">
              <div id="people-list">
                <div id="person-1">
                  <h3><span class="heading">Person 1</span></h3>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="person1-name">Name</label>
                    <input class="uikit-text-input input-half" id="person1-name" name="person1-name" type="text" aria-required="true">
                  </div>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="person1-relationship">Relationship to me</label>
                    <input class="uikit-text-input input-half" type="text" id="person1-relationship" name="person1-relationship" aria-required="true">
                  </div>
                </div>
              </div>
              <button id="add-another-person" class="uikit-btn">Add another person</button>
            </div>

            <div id="other-borrower" style="display: none;">
              <div class="form-group">
                <label class="uikit-text-input__label" for="textArea">Please provide details of the interest that you own/will own in the property. DVA will contact you regarding
                  your eligibility.</label>
                <textarea id="textArea" name="textArea" rows="5"></textarea>
              </div>
            </div>

            <h2>Use of loan</h2>
            <div class="form-group" id="use-of-loan">
              <label class="uikit-text-input__label" for="radio-buttons">I declare that I am using the home loan subject to this application solely for: <br><span
                  class="hint">(please select applicable item)</span></label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input id="use-of-loan-purchase" class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">Purchase a new home</span>
                </label>
              </p>
              <div class="breakout" id="use-of-loan-purchase-desc" style="display: none">
                <p>Buy an interest in the property detailed, which contains a habitable house.</p>
              </div>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input id="use-of-loan-construction-exi" class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">Construction and/or renovation loan on land purchased with this loan</span>
                </label>
              </p>
              <div class="breakout" id="use-of-loan-construction-exi-desc" style="display: none">
                <p>Buy an interest in the property detailed and undertake building work consisting of either:</p>
                <ol>
                  <li>Construction or completion of a house (excluding a unit) on the property; or</li>
                  <li>Enlargement, renovation or repair of a house on the property; or</li>
                  <li>Construction of another permanent improvement on the property, that is primarily for private or domestic purposes in association with an existing or
                    proposed house.</li>
                </ol>
              </div>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input id="use-of-loan-construction-pre" class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">Construction and/or renovation loan on previously purchased land</span>
                </label>
              </p>
              <div class="breakout" id="use-of-loan-construction-pre-desc" style="display: none">
                <p>I have an interest in the land at the property and will undertake building work on that land consisting of either:</p>
                <ol>
                  <li>Construction or completion of a house (excluding a unit) on the property; or</li>
                  <li>Enlargement, renovation or repair of a house on the property; or</li>
                  <li>Construction of another permanent improvement on the property, that is primarily for private or domestic purposes in association with an existing or
                    proposed house.</li>
                </ol>
              </div>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input id="use-of-loan-refinance" class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">Refinancing of existing home</span>
                </label>
              </p>
              <div class="breakout" id="use-of-loan-refinance-desc" style="display: none">
                <p>To refinance an existing loan the balance of which is solely related to the repayment of a previous loan made for one of the above purchase or building work
                  purposes.</p>
              </div>
            </div>


            <div class="pagination margin-above--extra">
              <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/auth/claim/dhoas/sar1 ' ">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
                <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas/sar3'">Save and next</button>
              </div>
            </div>

            <%- include(partials+"content/modals/claims-cancel-modal") %>
          </div>

  </main>

  <%- include(partials+"components/layout/footer") %>

  <script type="text/javascript">
    var person_num = 2;
    $("#i-declare").on("change", "input", function () {
      if ($("#another-borrower-radio").prop("checked")) {
        $("#another-borrower").css("display", "block");
        $("#other-borrower").css("display", "none");
      } else if ($("#other-radio").prop("checked")) {
        $("#another-borrower").css("display", "none");
        $("#other-borrower").css("display", "block");
      } else {
        $("#another-borrower").css("display", "none");
        $("#other-borrower").css("display", "none");
      }
    });

    $("#use-of-loan").on("change", "input", function () {
      if ($("#use-of-loan-purchase").prop("checked")) {
        $("#use-of-loan-purchase-desc").css("display", "block");
        $("#use-of-loan-construction-exi-desc").css("display", "none");
        $("#use-of-loan-construction-pre-desc").css("display", "none");
        $("#use-of-loan-refinance-desc").css("display", "none");
      } else if ($("#use-of-loan-construction-exi").prop("checked")) {
        $("#use-of-loan-purchase-desc").css("display", "none");
        $("#use-of-loan-construction-exi-desc").css("display", "block");
        $("#use-of-loan-construction-pre-desc").css("display", "none");
        $("#use-of-loan-refinance-desc").css("display", "none");
      } else if ($("#use-of-loan-construction-pre").prop("checked")) {
        $("#use-of-loan-purchase-desc").css("display", "none");
        $("#use-of-loan-construction-exi-desc").css("display", "none");
        $("#use-of-loan-construction-pre-desc").css("display", "block");
        $("#use-of-loan-refinance-desc").css("display", "none");
      } else if ($("#use-of-loan-refinance").prop("checked")) {
        $("#use-of-loan-purchase-desc").css("display", "none");
        $("#use-of-loan-construction-exi-desc").css("display", "none");
        $("#use-of-loan-construction-pre-desc").css("display", "none");
        $("#use-of-loan-refinance-desc").css("display", "block");
      } else {
        $("#use-of-loan-purchase-desc").css("display", "none");
        $("#use-of-loan-construction-exi-desc").css("display", "none");
        $("#use-of-loan-construction-pre-desc").css("display", "none");
        $("#use-of-loan-refinance-desc").css("display", "none");
      }
    });

    $("#add-another-person").on("click", function () {
      $("#people-list").append(`
      <div id="person-${person_num}">     
      <h3><span class="heading">Person ${person_num}</span></h3>
      <div class="form-group">
      <label class="uikit-text-input__label" for="${person_num}-name">Name</label>
      <input class="uikit-text-input input-half" id="person${person_num}-name" name="person${person_num}-name" type="text" aria-required="true">
      </div>
      <div class="form-group">
      <label class="uikit-text-input__label" for="person${person_num}-relationship">Relationship to me</label>
      <input class="uikit-text-input input-half" type="text" id="person${person_num}-relationship" name="person${person_num}-relationship" aria-required="true">
      </div>
      </div>`);
      person_num++;
    });

  </script>

</body>

</html>
