<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Subsidy authoriation request | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main id="main-content">
    <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Ownership and use of the property</span>
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="margin-above--extra margin-below--extra">
            <div class="uikit-page-alerts" role="alert">
              <p><strong>Please note: </strong>You must be occupying your subsidised property for DHOAS subsidy to commence.</p>
            </div>

            <div class="form-group" id="property-occupancy">
              <label class="uikit-text-input__label" for="radio-buttons">I declare that: <br><span class="hint">(please select applicable item)</span></label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input id="property-occupancy-1" class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">I (or I and my dependent/s) will occupy the property from:</span>
                </label>
              </p>
              <div class="breakout form-group" style="display: none; padding: 0.5em 2em 0.25em;" id="property-occupancy-1-div">
                <div class="form-group">
                  <!-- VALIDATION: must be today or future only -->
                  <label class="uikit-text-input__label" for="date">Date occupancy will commence:
                    <span class="hint">(DD / MM / YYYY)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
                </div>
              </div>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input id="property-occupancy-2" class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">I (or I and my dependent/s) currently occupy the property:</span>
                </label>
              </p>
              <div class="breakout form-group" style="display: none; padding: 0.5em 2em 0.25em;" id="property-occupancy-2-div">
                <div class="form-group">
                  <!-- VALIDATION: must be today or future only -->
                  <label class="uikit-text-input__label" for="date">Date occupancy commenced:
                    <span class="hint">(DD / MM / YYYY)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
                </div>
              </div>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input id="property-occupancy-3" class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">My dependent/s currently occupy the property:</span>
                </label>
              </p>
              <div class="breakout form-group" style="display: none; padding: 0.5em 2em 0.25em;" id="property-occupancy-3-div">
                <div class="form-group">
                  <!-- VALIDATION: must be today or past date only -->
                  <label class="uikit-text-input__label" for="date">Date occupancy commenced:
                    <span class="hint">(DD / MM / YYYY)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
                </div>
                <!-- 300 character limit? -->
                <div class="form-group">
                  <label class="uikit-text-input__label">Name of dependent/s meeting occupancy on my behalf:</label>
                  <input class="uikit-text-input input-half" type="text" value="" required="" aria-required="true">
                </div>
                <!-- 50 character limit? -->
                <div class="form-group">
                  <label class="uikit-text-input__label">Relationship to me</label>
                  <input class="uikit-text-input input-half" type="text" value="" required="" aria-required="true">
                </div>
              </div>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input id="property-occupancy-4" class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">I will not be occupying the property until the completion of building work:</span>
                </label>
              </p>
              <div class="breakout form-group" style="display: none; padding: 0.5em 2em 0.25em;" id="property-occupancy-4-div">
                <div class="form-group">
                  <!-- VALIDATION: must be today or future only -->
                  <label class="uikit-text-input__label" for="date">Expected occupancy start date:
                    <span class="hint">(DD / MM / YYYY)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="sop">Occupancy requirement:
              </label>
              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox">
                  <span class="uikit-control-input__text">I understand that I (or my dependant/s) must occupy the subsidised property for 12 months from the commencement of subsidy
                    payments for this application for Subsidy Certificate.</span>
                </label>
              </div>
            </div>

            <h2>
              Property use
            </h2>
            <span class="hint">(Where use of land is defined as: land or any building on the land)</span>

            <!-- -->

            <div class="form-group" id="land-use">
              <label class="uikit-text-input__label" for="radio-buttons">I declare that: <br><span class="hint">(please select applicable item)</span></label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input id="land-use-1" class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">The land or any building on the land will not be used for the purpose of carrying on a business, trade or
                    profession.</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input id="land-use-2" class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">I will be carrying on a business, trade or profession on the land or any building on the land of the following
                    nature:</span>
                </label>
              </p>
              <div class="form-group" style="display: none; padding: 0.5em 2em 0.25em;" id="land-use-2-div">
                <!-- VALIDATION: 300 characters -->
                <div class="form-group">
                  <textarea id="textArea" name="textArea" rows="5"></textarea>
                </div>
              </div>
            </div>
            <h2>
              Posting order
            </h2>
            <span class="hint">(content in tip here required)</span>
              <%- include(partials+"components/form_partials.ejs", {
                "forms": [
                  {
                    "type": "y_n_toggle",
                    "config": {
                      "label": "Do you currently hold a posting order which will prevent you from meeting the 12 month occupancy requirement?",
                      "yes_toggle": "#posting-yes-div"
                    }
                  }
                ]
              }); %>
            
            <div id="posting-yes-div" hidden>
              <%- include(partials+"components/form_partials.ejs", {
                "forms": [
                  {
                    "type": "textarea",
                    "config": {
                      "label": "Please provide details"
                    }
                  }
                ]
              }); %>
              <div class="uikit-page-alerts uikit-page-alerts--error" role="alert">
                <p>I understand that subsidy may cease if I stop occupying the property within 12 months following the commencement of subsidy payments or the completion of
                  building work.</p>
                <p>If I am unable to occupy the home for the 12 month occupancy period, I understand that I must be approved for a shorter period of occupancy to be eligible for
                  continued subsidy payments.</p>
                <p>I also understand that I must apply for a reduced occupancy period within a reasoanble period of time of vacating the DHOAS subsidised property.</p>
              </div>
            </div>


            <div class="pagination margin-above--extra">
              <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/auth/claim/dhoas/sar2' ">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
                <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas/sar4'">Save and next</button>
              </div>
            </div>

            <%- include(partials+"content/modals/claims-cancel-modal") %>
          </div>

  </main>

  <%- include(partials+"components/layout/footer") %>

</body>

<script type="text/javascript">
  $("#property-occupancy").on("change", "input[type='radio']", function () {
    if ($("#property-occupancy-1").prop("checked")) {
      $("#property-occupancy-1-div").css("display", "block");
      $("#property-occupancy-2-div").css("display", "none");
      $("#property-occupancy-3-div").css("display", "none");
      $("#property-occupancy-4-div").css("display", "none");
    } else if ($("#property-occupancy-2").prop("checked")) {
      $("#property-occupancy-1-div").css("display", "none");
      $("#property-occupancy-2-div").css("display", "block");
      $("#property-occupancy-3-div").css("display", "none");
      $("#property-occupancy-4-div").css("display", "none");
    } else if ($("#property-occupancy-3").prop("checked")) {
      $("#property-occupancy-1-div").css("display", "none");
      $("#property-occupancy-2-div").css("display", "none");
      $("#property-occupancy-3-div").css("display", "block");
      $("#property-occupancy-4-div").css("display", "none");
    } else if ($("#property-occupancy-4").prop("checked")) {
      $("#property-occupancy-1-div").css("display", "none");
      $("#property-occupancy-2-div").css("display", "none");
      $("#property-occupancy-3-div").css("display", "none");
      $("#property-occupancy-4-div").css("display", "block");
    } else {
      $("#property-occupancy-1-div").css("display", "none");
      $("#property-occupancy-2-div").css("display", "none");
      $("#property-occupancy-3-div").css("display", "none");
      $("#property-occupancy-4-div").css("display", "none");
    }
  });
  $("#land-use").on("change", "input[type='radio']", function () {
    if ($("#land-use-2").prop("checked")) {
      $("#land-use-2-div").css("display", "block");
    } else {
      $("#land-use-2-div").css("display", "none");
    }
  });

</script>

</html>
