<%- include(templates+"header", {
  title: "Subsidy authorisation request | Lump sum request",
  heading: "Lump sum request"
}) %>

  <%- include(forms+"yes_no", {
    label: "Have you requested the lump sum on your current Subsidy Certificate?",
    no_toggle: "#not-requested",
    yes_toggle: "#have-requested"
  }) %>

  <div id="not-requested" class="margin-below--extra" hidden>
    <%- include(content+"dhoas_lump_sum") %>
  </div>

  <div id="have-requested" class="margin-below--extra" hidden>
    <h2>Declaration</h2>
    <div class="declaration">
      <%- include(forms+"checkbox", {
        modifiers: ["noMargin"],
        boxes: [
          "I confirm the declarations made on my application for Subsidy Certificate form are correct in that:"
        ]
      }) %>
      <ol class="declaration__list">
        <li>I expect that I will continue to provide service in the Australian Defence Force (ADF), where the service is considered effective for DHOAS purposes, for a period of at least 12 months after the payment of subsidy is authorised. I acknowledge that the Scheme Administrator or the Department of Defence may recover an amount equal to the lump sum subsidy paid to me if I cease to be a member of the ADF within 12 month after the payment subsidy is authorised. (*The declaration does not apply if you are applying for a lump sum as a surviving partner); and</li>
        <li>Whilst I have been a member of the ADF, I have not previously purchased a home, other than the one that is the subject of this application for Subsidy Certificate, and this property was purchased after I received my Subsidy Certificate.</li>
        
        <p class="margin-above"><strong>NOTE: </strong>If you have less than 12 months of entitlement remaining after you receive the lump sum payment, and subsequently transfer to the Reserves, your monthly DHOAS payments may cease.</p>
      </ol>
    </div>
  </div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/dhoas/sar3"
      },
      {
        text: "Cancel application",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        link: "/auth/claim/dhoas/sar5",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>
