<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Subsidy authoriation request | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main id="main-content">
    <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Lump sum request</span>
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="margin-above--extra margin-below--extra">

            <% 
            locals.el = {};
            locals.el.question = 'Have you requested the lump sum on your current Subsidy Certificate?';
            locals.el.optionalID = "requested_lump_sum";
            %>
            <%- include(partials+"components/form-elements/radio--yes-no", locals) %>

            <div id="lump-sum-previous-yes-div" style="display: none;">
              <h2>Declaration</h2>
              <div style="border: 1px solid #d8d8d8; padding: 30px;">
                <div class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" id="declaration_checked" name="declaration_checked">
                    <span class="uikit-control-input__text">I confirm the declarations made on my application for Subsidy Certificate form are correct in that:</span>
                  </label>
                </div>
                <ol style="padding-left: 35px;">
                  <li style="padding-left: 7px;">I expect that I will continue to provide service in the Australian Defence Force (ADF), where the service is considered effective
                    for DHOAS purposes, for a period of at least 12 months after the payment of subsidy is authorised. I acknowledge that the Scheme Administrator or the Department
                    of Defence may recover
                    an amount equal to the lump sum subsidy paid to me if I cease to be a member of the ADF within 12 month after the payment subsidy is authorised. (*The
                    declaration does not apply if you are applying for a lump sum as a surviving partner); and</li>
                  <li style="padding-left: 7px;">Whilst I have been a member of the ADF, I have not previously purchased a home, other than the one that is the subject of this
                    application for
                    Subsidy
                    Certificate, and this property was purchased after I received my Subsidy Certificate.<BR /><BR />
                    <strong>NOTE: </strong>If you have less than 12 months of entitlement remaining after you receive the lump sum payment, and subsequently transfer to the
                    Reserves, your monthly DHOAS payments may cease.</li>
                </ol>
              </div>
            </div>





            <div class="form-group" id="lump-sum-previous-no-div" style="display: none;">
              <label class="uikit-text-input__label" for="toggle-buttons">Do you want to make an application for a lump sum now?</label>
              <div id="lump-sum-now" class="radio-toggle">
                <label class="on label-left" for="lump-sum-now-yes">
                  <input id="lump-sum-now-yes" type="radio" name="toggle-buttons">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="lump-sum-now-no">
                  <input id="lump-sum-now-no" type="radio" name="toggle-buttons">
                  <span>No</span>
                </label>
              </div>
            </div>


            <div id="lump-sum-now-no-div" style="display: none;">

            </div>
            <div id="lump-sum-now-yes-div" style="display: none;">
              <!-- -->
              <div id="lumpSum-eligibility">

                <h4>Check your eligibility for a lump sum payment</h4>
                <!-- Land ownership -->

                <div class="form-group simple-box">
                  <!-- Eligibility question 1 -->

                  <fieldset id="landOwnership">
                    <div class="col-sm-6 col-md-8 margin-above">
                      <legend class="legend-label legend-label--light">While serving in the ADF have you, or you and your partner, previously owned a 50% or greater stake in a
                        home, either
                        to live in or for an investment?
                      </legend>
                    </div>
                    <div class="col-sm-6 col-md-4 margin-above">
                      <div class="mys-radio-group mys-radio-group--cols-2">
                        <label class="mys-radio">
                          <input id="landOwnership-no" class="mys-radio__control" type="radio" name="landOwnership" value="landOwnership-no">
                          <span class="mys-radio__box">Yes</span>
                        </label>
                        <label class="mys-radio">
                          <input id="landOwnership-yes" class="mys-radio__control" type="radio" name="landOwnership" value="landOwnership-yes">
                          <span class="mys-radio__box">No</span>
                        </label>
                      </div>
                    </div>
                  </fieldset>

                  <!-- Eligibility question 2 -->
                  <fieldset id="continueService">
                    <div class="col-sm-6 col-md-8">
                      <legend class="legend-label legend-label--light">Do you expect to leave the ADF within 12 months of your subsidy payment being authorised?</legend>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="mys-radio-group mys-radio-group--cols-2">
                        <label class="mys-radio">
                          <input id="continueService-no" class="mys-radio__control" type="radio" name="continueService" value="continueService-no">
                          <span class="mys-radio__box">Yes</span>
                        </label>
                        <label class="mys-radio">
                          <input id="continueService-yes" class="mys-radio__control" type="radio" name="continueService" value="continueService-yes">
                          <span class="mys-radio__box">No</span>
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <!-- 
    WORDING FOR ID "eligable__yes" 
    TO BE ADVISED BY DHOAS/SIMON
-->
                <div id="eligible__yes" class="uikit-page-alerts uikit-page-alerts--success margin-below--none" style="display:none;">You are eligible to request a lump sum
                  payment.</div>
                <!-- 
    WORDING FOR ID "eligable__no" 
    TO BE ADVISED BY DHOAS/SIMON
-->
                <div id="eligible__no" class="uikit-page-alerts uikit-page-alerts--warning margin-below--extra" style="display:none;">You are not eligible to request a lump sum
                  payment.
                </div>

              </div>

              <!-- Lump sum amount -->

              <div id="lumpSum-amount" class="form-group" style="display:none;">

                <div class="uikit-page-alerts uikit-page-alerts--info margin-above--none margin-below--extra">
                  <h4>Important things to know</h4>

                  <p>The maximum lump sum amount cannot exceed 48 months of payments.</p>
                  <p>Your monthly DHOAS payments may cease if you transfer to the Reserves and have less than 12 months of entitlement remaining after your lump sum payment is
                    received.
                  </p>

                </div>



                <div class="form-group" id="purpose">
                  <label class="uikit-text-input__label" for="radio-buttons">How much of your entitlement do you want to receive as a lump sum?
                    <span class="hint display-block">You can choose how many months of your entitlement you would like to convert into a single lump sum payment.</span>
                  </label>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input" id="op2">
                      <input class="uikit-control-input__input" type="radio" id="maximum" name="months">
                      <span class="uikit-control-input__text">request the maximum amount</span>
                    </label>
                  </p>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input" id="op1">
                      <input class="uikit-control-input__input" type="radio" id="monthlychoice" name="months">
                      <span class="uikit-control-input__text">request a specific number of months</span>
                    </label>
                  </p>

                  <div id="monthlyamount">
                    <fieldset class="form-group form-group--secondary">
                      <span class="input-support-text">
                        <span class="hint">I would like to convert&nbsp;&nbsp;</span>
                      </span>
                      <input class="uikit-text-input input-small mm" name="InterestInProperty" id="monthlyfigure" type="number">
                      <span class="input-support-text">&nbsp;
                        <span class="hint">months into a lump sum payment.</span>
                      </span>
                    </fieldset>
                  </div>
                </div>

                <!-- <div class="display-inline-block margin-below">
                <input class="uikit-text-input input-small yyyy" name="months" id="months" type="number"> months, or &nbsp;&nbsp;</div>
              <div class="display-inline-block uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" id="checkbox1" name="checkbox">
                  <span class="uikit-control-input__text">Maximum amount</span>
                </label>
              </div> -->

                <p class="margin-above--large">
                  <span class="heading heading--spacer"></span>
                </p>

                <div class="margin-below--large">
                  <h4>You must agree with the following before your lump sum payment request can be submitted</h4>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-8">
                        <label class="uikit-control-input">
                          <input id="agreementOne" class="uikit-control-input__input agreement" type="checkbox" name="agreement">
                          <!-- 
    WORDING FOR BELOW SPAN STARTING 
    WITH "I acknowledge" TO BE
    ADVISED BY DHOAS/SIMON
-->
                          <span class="uikit-control-input__text">I acknowledge that the Scheme Administrator or the Department of Defence may recover an amount equal to my lump
                            sum
                            subsidy
                            payment if I cease to be a member of the ADF within 12 months after payment is authorised.
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- -->
            </div>
            <div class="pagination margin-above--extra">
              <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/auth/claim/dhoas/sar3' ">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
                <button class="uikit-btn btnNext" id="save-and-next-button" onclick="window.location.href = '/auth/claim/dhoas/sar5'">Save and next</button>
              </div>
            </div>

            <%- include(partials+"content/modals/claims-cancel-modal") %>
          </div>

  </main>

  <%- include(partials+"components/layout/footer") %>

</body>

<script type="text/javascript">

  $(document).ready(() => {

    $("input:radio").prop("checked", false);

    $('input[name=requested_lump_sum]').change(function () {
      var mySelection = $('input[name=requested_lump_sum]:checked').val();
      if (mySelection == "yes") {
        $("input:checkbox").prop("checked", false);
        $("#lump-sum-previous-yes-div").show("fast");
        $("#save-and-next-button").prop('disabled', true);
      } else {
        $("#lump-sum-previous-yes-div").hide("fast");
        $("#save-and-next-button").prop('disabled', false);
      }
    });

    $('input[name=declaration_checked]').change(function () {
      var mySelection = $('input[name=declaration_checked]:checked').val();
      console.log(mySelection);
      if (mySelection == "on") {
        $("#save-and-next-button").prop('disabled', false);
      } else {
        $("#save-and-next-button").prop('disabled', true);
      }
    });

  });




  $("#posting").on("change", "input[type='radio']", function () {
    if ($("#posting-yes").prop("checked")) {
      $("#posting-yes-div").css("display", "block");
      $("#posting-yes-no").css("display", "none");
    } else {
      $("#posting-yes-div").css("display", "none");
      $("#posting-yes-no").css("display", "block");
    }
  });

  $("#lump-sum-previous").on("change", "input[type='radio']", function () {
    if ($("#lump-sum-previous-yes").prop("checked")) {
      $("#lump-sum-previous-yes-div").css("display", "block");
      $("#lump-sum-previous-no-div").css("display", "none");
    } else {
      $("#lump-sum-previous-yes-div").css("display", "none");
      $("#lump-sum-previous-no-div").css("display", "block");
    }
  });
  $("#lump-sum-now").on("change", "input[type='radio']", function () {
    if ($("#lump-sum-now-yes").prop("checked")) {
      $("#lump-sum-now-yes-div").css("display", "block");
      $("#lump-sum-now-no-div").css("display", "none");
    } else {
      $("#lump-sum-now-yes-div").css("display", "none");
      $("#lump-sum-now-no-div").css("display", "block");
    }
  });



  $('#landOwnership').click(function () {
    if (radiosChecked()) {
      if (showEligibility()) {
        $("#eligible__yes").show();
        $("#lumpSum-amount").show();
        $("#eligible__no").hide();
      } else {
        $("#eligible__no").show();
        $("#lumpSum-amount").hide();
        $("#eligible__yes").hide();
      }
    }
  });
  $('#continueService').click(function () {
    if (radiosChecked()) {
      if (showEligibility()) {
        $("#eligible__yes").show();
        $("#lumpSum-amount").show();
        $("#eligible__no").hide();
      } else {
        $("#eligible__no").show();
        $("#lumpSum-amount").hide();
        $("#eligible__yes").hide();
      }
    }
  });

  $('#continueService-yes').click(function () {
    continueValue = true
  });
  $('#continueService-no').click(function () {
    continueValue = false
  });
  $('#landOwnership-yes').click(function () {
    landValue = true
  });
  $('#landOwnership-no').click(function () {
    landValue = false
  });




  function radiosChecked() {
    var landChecked = false;
    $('#landOwnership').find('input').each(function () {
      if (this.checked) {
        landChecked = true;
      }
    })
    var continueChecked = false;
    $('#continueService').find('input').each(function () {
      if (this.checked) {
        continueChecked = true
      }
    })
    if (landChecked && continueChecked) {
      return true
    } else {
      return false
    }
  }

  function showEligibility() {
    if (this.landValue && this.continueValue) {
      return true;
    } else {
      return false;
    }
  }


  var buttonon = true;

  $("#next").click(function () {

    if ($("#reservist")[0].checked) {
      $(".off > input").each(function () {
        if (!$(this)[0].checked) {
          buttonon = false;
        }
      })
      if (buttonon) {
        window.location.href = "/auth/claim/health-card-blocker";
        return
      }
    }
    window.location.href = "/auth/claim/health-card1";
  });

  $("#monthlyamount").hide();
  $("#monthlychoice").click(function () {
    // debugger
    if ($(this).prop('checked')) {
      $("#monthlyamount").show();
    } else {
      $("#monthlyamount").hide();
    }
  });
  $("#maximum").click(function () {
    // debugger
    if ($(this).prop('checked')) {
      $("#monthlyamount").hide();
    }
  });

</script>

</html>
