<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Subsidy authoriation request | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main id="main-content">
    <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Declaration</span>
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="margin-above--extra margin-below--extra">

            <div class="form-group">
              <h2>Declaration</h2>
              <div style="border: 1px solid #d8d8d8; padding: 30px;">
                <div class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" id="agreement_checked" name="agreement_checked">
                    <span class="uikit-control-input__text">I agree to the following:</span>
                  </label>
                </div>
                <ol style="padding-left: 35px;">
                  <li style="padding-left: 7px;">I will advise if any of the above declarations made in anticipation are not subsequently confirmed during the home purchase and
                    loan processes.</li>
                  <li style="padding-left: 7px;">I will advise DVA either on a "D9155 Notification of change in circumstances" form, or via email or phone, within a reasable time
                    from my becoming aware of
                    any of the following:
                    <ul>
                      <li style="padding-left: 7px;">A reasonaly significant change to my loan agreement;</li>
                      <li style="padding-left: 7px;">A change that affects the way my service credit or tier level is worked out, including a change in my service status;</li>
                      <li style="padding-left: 7px;">Where there is a reasonably significant change to the house or a permanent improvement on the property detailed;</li>
                      <li style="padding-left: 7px;">Where I am undertaking building work, when I complete that building work;</li>
                      <li style="padding-left: 7px;">Where there is a change in my or my partner's ownership of the property detailed;</li>
                      <li style="padding-left: 7px;">Where my partner and I own the subsidised property detailed, and the partnership is dissolved;</li>
                      <li style="padding-left: 7px;">If I move out of my home within 12 months of subsidy commencing;</li>
                      <li style="padding-left: 7px;">If the house and/or land (excluding the common property associated with a strata or similar title property) starts being used,
                        to a reasonably significant
                        extent, for the purpose of carrying out a business, trade or profession.<BR /><BR />
                        <strong>Note:</strong> Failure to advise any of the above may result in your subsidy being stopped.</li>

                    </ul>
                  </li>
                  <li style="padding-left: 7px;">Giving false information is a serious offence and may be prosecuted under section 137 of the Criminal Code Act 1995. I declare that
                    the information given in
                    this form and any other attached document is complete and correct.</li>
                  <li style="padding-left: 7px;">I consent to the disclosure and use of personal information as notified in the Privacy Notification and Consent section of the
                    application for Subsidy
                    Certificate form.</li>
                </ol>
              </div>
            </div>

            <div id="save-next" hidden>
              <p>Choose <b>save and next</b> to continue</p>
            </div>


            <div class="pagination margin-above--extra">
              <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/auth/claim/dhoas/sar4' ">Previous</button>

              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
                <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas/sar-review'">Save and next</button>
              </div>
            </div>

            <%- include(partials+"content/modals/claims-cancel-modal") %>
          </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script type="text/javascript">

    $(document).ready(() => {

      $('input[name=agreement_checked]').change(function () {
        var mySelection = $('input[name=agreement_checked]:checked').val();
        if (mySelection == "on") {
          $("#save-next").show("fast");
        } else {
          $("#save-next").hide("fast");
        }
      });

    });

  </script>

</body>

</html>
